/****** Object:  UserDefinedFunction [dbo].[fn_get_key_value_from_photovouchers]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01-07-2020
-- Description: Determines key value (ORDER_NUMBER) by parsing JSON payload from ARC order
-- =============================================
CREATE FUNCTION [dbo].[fn_get_key_value_from_photovouchers]
(
    @rawData NVARCHAR(MAX)
)
--SELECT  [dbo].[fn_get_key_value_from_photovouchers]('{"VoucherCode":"HSQE6-KMD-A6M-RYI","order_date":"12/02/2019","VoucherValue":"20.00","ORDER_NUMBER":"4877672","REFERENCE_NUMBER":"0","SHIPPING_METHOD":"FXG","First_Name":"Nyia Keshae","BILLING_INFORMATION":"To''Nyia Keshae Latham<br \/>PO BOX 672<br \/>GIBSLAND LA 71028","SMI":"29658","URL":"www.balfour.com/contemporary-announcements?smi=29658"}')
RETURNS VARCHAR(50)
AS
BEGIN
	DECLARE @Value VARCHAR(50)
	SET @Value = ''
	IF @rawData <> ''
		SELECT @Value = ISNULL([Value],'') FROM OPENJSON(@rawData) WHERE [Key] = 'ORDER_NUMBER'
	RETURN @Value
END
GO
