/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_SpecialStatus_Value]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09/01/2020
-- Description: Gives a value to update the Flags field in ContentAffinityPages
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_SpecialStatus_Value]
(
    -- Add the parameters for the function here
	 @currentValue BIGINT
    ,@specialStatusCode BIGINT 
)

--SELECT dbo.fn_Affinity_SpecialStatus_Value (2,2048)
--SELECT dbo.fn_Affinity_SpecialStatus_Value (2050,2048)
--SELECT dbo.fn_Affinity_SpecialStatus_Value (2048,0)
--SELECT dbo.fn_Affinity_SpecialStatus_Value (2050,0)
RETURNS BIGINT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result BIGINT

	SET @Result = @currentValue
    -- Remove any current special status
	--Yearbook Only
    SET @Result = @Result - (16 & @Result)
	
	--True Ring Only
	SET @Result = @Result - (32 & @Result)

	--Ring & Yearbook Only
	SET @Result = @Result - (2048 & @Result)

	--Ring & CB Grad
	SET @Result = @Result - (8192 & @Result)

	--Ring, Yearbook & CB Grad
	SET @Result = @Result - (4096 & @Result)

	--Ring & Ring Tiles
	SET @Result = @Result - (32768 & @Result)

	--Ring Only
	SET @Result = @Result - (131072 & @Result)

	--Set the new status
	SET @Result = (@Result | @specialStatusCode)

    -- Return the result of the function
    RETURN @Result
END
GO
