/****** Object:  UserDefinedFunction [dbo].[DistanceBetweenZips]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[DistanceBetweenZips] 
(	
	@Lat1 as decimal(12,6),
	@Long1 as decimal(12,6),
	@Lat2 as decimal(12,6),
	@Long2 as decimal(12,6)
)
RETURNS decimal(6,2)
AS
BEGIN	
	RETURN ABS(3958.565407*ATAN(SQRT(  power(COS(@Lat1)*SIN(@Long1-@Long2),2)+power(COS(@Lat2)*SIN(@Lat1)-SIN(@Lat2)*COS(@Lat1)*COS(@Long1-@Long2),2))/(SIN(@Lat2)*SIN(@Lat1)+COS(@Lat2)*COS(@Lat1)*COS(@Long1-@Long2))))
END


GO
