/****** Object:  UserDefinedFunction [dbo].[fn_ConvertAS400Date]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE FUNCTION [dbo].[fn_ConvertAS400Date]
(
    -- Add the parameters for the function here
    @DateIn VARCHAR(50)
)
RETURNS DATETIME
AS
BEGIN
    -- Declare the return variable here
    DECLARE @DateTime DATETIME, @Year VARCHAR(4), @Month INT, @Day INT

    -- Add the T-SQL statements to compute the return value here
    SET @DateTime = CAST(CASE LEFT(@DateIn,1) WHEN 0 THEN '19' WHEN 1 THEN '20' ELSE '20' END + SUBSTRING(@DateIn,2,2) + '-' + SUBSTRING(@DateIn,4,2) + '-' + SUBSTRING(@DateIn,6,2) AS DATETIME)
	
    -- Return the result of the function
    RETURN @DateTime
END
GO
