/****** Object:  UserDefinedFunction [dbo].[fn_InCollection]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/12/2020
-- Description: Determines if a SMI is a Collection
-- =============================================
CREATE FUNCTION [dbo].[fn_InCollection]
(
     @SMI BIGINT = 0
	,@Collection VARCHAR(MAX) = ''
)
RETURNS BIT
--SELECT [dbo].[fn_InCollection](130996,'BalProdColl_FunPatchBackpack,BalProdColl_nofun,BalrodColl_FunPatchBackpack,BalrodColl_Journey')
--SELECT dbo.fn_Affinity_UnivColl(1034)
--SELECT dbo.fn_Affinity_UnivColl(131276)
--SELECT dbo.fn_Affinity_UnivColl(131630)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @InColl BIT, @Max INT, @Loop INT, @Coll VARCHAR(50), @PC1 NVARCHAR(MAX)
	--SET @Collection = REPLACE(ISNULL(@Collection,''),',','%')
	SET @InColl = 0
	IF LTRIM(RTRIM(@Collection)) <> ''
		BEGIN

			SELECT @PC1 = [ProductCollections] FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI 

			DECLARE @PC TABLE ([Coll] NVARCHAR(50), [Loop] INT IDENTITY(1,1))
	
			INSERT INTO @PC ([Coll])
			SELECT * FROM string_split(@Collection,',')
	
			--Loop through the temp table and see if any of the product collections parameter exist in the product
			SELECT @Max = MAX([Loop]), @Loop = 1 FROM @PC
			WHILE @Loop <= @Max
				BEGIN
					SELECT @Coll = '%' + [Coll] + '%' FROM @PC WHERE [Loop] = @Loop

					IF @PC1 LIKE @Coll
						BEGIN
							SET @InColl = 1
							SET @Loop = @Max + 1
						END
					SET @Loop = @Loop + 1
				END


			--SET @Collection = '%' + @Collection + '%'
			--SELECT @InColl = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE @Collection)
		END
    -- Return the result of the function
    RETURN @InColl
END
GO
