/****** Object:  UserDefinedFunction [dbo].[RemoveSpecialCharacters]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <21 December 2019>
-- Description: <Removes special characters. Useful for match logic>
-- =============================================
CREATE FUNCTION [dbo].[RemoveSpecialCharacters]
( 
 @Str as varchar(255)
)
RETURNS varchar(255)
AS
BEGIN
 RETURN
 Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(@Str,' ',''),'.',''),';',''),'-',''),'''',''),'"',''),'(',''),')',''),'#',''),'&','')
END
GO
