/****** Object:  UserDefinedFunction [dbo].[Nickname]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <24 August 2019>
-- Description: <Converts names to common nicknames for match logic. We do not intend
--               to address people by the nickname.  It's simply for allowing cases of
--               Robert and Bob with common other properties to be regarded as the same
--               person.>
-- =============================================
CREATE FUNCTION [dbo].[Nickname]
( 
 @NameInput as varchar(50)
)
RETURNS varchar(50)
AS
BEGIN
 RETURN replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(@NameInput
 
 ,'ABIGAIL','ABBY')
 ,'AGATHA','AGGY')
 ,'ANDREW','ANDY')
 ,'BARBARA','BARB')
 ,'BARBIE','BARB')
 ,'BARTHOLOMEW','BART')
 ,'REBECCA','BECKY')
 ,'BENJAMIN','BEN')
 ,'BENNY','BEN')
 ,'BENNIE','BEN')
 ,'ELIZABETH','BETH') 
 ,'BILLY','BILL')
 ,'WILLIAM','BILL')
 ,'WILL','BILL')
 ,'WILLIE','BILL') 
 ,'ROBERT','BOB')
 ,'BRADLEY','BRAD')
 ,'BRADFORD','BRAD')
 ,'CATHERINE','CATHY')
 ,'CHARLES','CHARLIE')
 ,'CHUCK','CHARLIE') 
 ,'CHRISTOPHER','CHRIS')
 ,'CYNTHIA','CINDY')
 ,'CLIFFORD','CLIFF')
 ,'CONSTANCE','CONNIE')
 ,'CURTIS','CURT')
 ,'DANIEL','DAN')
 ,'DANNY','DAN')
 ,'DAVID','DAVE')
 ,'DEBBIE','DEB')
 ,'DEBORAH','DEB')
 ,'DONALD','DON')
 ,'DONNIE','DON')
 ,'DONNY','DON')
 ,'DOUGLAS','DOUG')
 ,'EDWARD','ED')
 ,'EDDIE','ED')
 ,'EVELYN','EVE')
 ,'FLORENCE','FLO')
 ,'FRANCES','FRAN')
 ,'FRANNY','FRAN')
 ,'FRANCESCA','FRAN')
 ,'GABRIELLE','GABBY')
 ,'GABRIELLA','GABBY')
 ,'REGINA','GINA')
 ,'GREGORY','GREG')
 ,'JEFFREY','JEFF')
 ,'JENNIFER','JEN')
 ,'JENNY','JEN')
 ,'JAMES','JIM')
 ,'JOSEPH','JOE')
 ,'JOSHUA','JOSH')
 ,'KATHERINE','KATHY')
 ,'KENNETH','KEN')
 ,'KIMBERLY','KIM')
 ,'LUCILLE','LUCY')
 ,'LUCINA','LUCY')
 ,'AMANDA','MANDY')
 ,'MANUEL','MANNY')
 ,'MARTIN','MARTY')
 ,'MATTHEW','MATT') 
 ,'MICHAEL','MIKE')
 ,'LAMONT','MONTY')
 ,'NATHAN','NATE')
 ,'NATHANIEL','NATE')
 ,'NICHOLAS','NICK')
 ,'PAMELA','PAM')
 ,'PATRICK','PAT')
 ,'PATRICIA','PATTY')
 ,'PENELOPE','PENNY')
 ,'RICHARD','RICH')
 ,'RICKY','RICH')
 ,'DICK','RICH')
 ,'RONALD','RON')
 ,'RONNIE','RON') 
 ,'SANDRA','SANDY')
 ,'STEVEN','STEVE')
 ,'STEPHEN','STEVE')
 ,'SUSAN','SUE')
 ,'SUSIE','SUE')
 ,'SUZIE','SUE')
 ,'TABITHA','TABBY')
 ,'TAMARA','TAMMY')
 ,'TERESA','TERRY') 
 ,'THERESA','TERRY')
 ,'TIMOTHY','TIM')
 ,'THOMAS','TOM')
 ,'ANTHONY','TONY')
 ,'WALLACE','WALLY')
  END
GO
