/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_StolesColl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 03/04/2021
-- Description: Determines if a SMI is a Stoles Collection school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_StolesColl]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_StolesColl(130996) --Yes
--SELECT [productcollections] from [dbo].[School_URL_Master] WHERE [SMI] = 130996
--SELECT dbo.fn_Affinity_StolesColl(131548) --Yes
--SELECT dbo.fn_Affinity_StolesColl(131276) --Yes
--SELECT dbo.fn_Affinity_StolesColl(131630) --No
--SELECT dbo.fn_Affinity_StolesColl(131629) --Yes
--SELECT dbo.fn_Affinity_StolesColl(136133) --Yes
AS
BEGIN
    -- Declare the return variable here
    DECLARE @StolesColl BIT
	SET @StolesColl = 0
    SELECT @StolesColl = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND ([ProductCollections] LIKE '%BalProdColl_Stoles%' OR [ProductCollections] LIKE '%BalProdColl_LicStoles%'))
		SET @StolesColl = 0
    -- Return the result of the function
    RETURN @StolesColl
END
GO
