/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_LettermanUrl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/05/2020
-- Description: Determines if a SMI is a letterman school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_LettermanUrl]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(200)
--SELECT dbo.[fn_Affinity_LettermanUrl](52467)  --https://balfourvt.com/balfour-letter-jackets/?smi=52467
--SELECT dbo.[fn_Affinity_LettermanUrl](1034) --''
--SELECT dbo.[fn_Affinity_LettermanUrl](106793) --https://www.dillyletterjackets.com/?smi=106793
--SELECT dbo.[fn_Affinity_LettermanUrl](131276) --''
AS
BEGIN
    -- Declare the return variable here
    DECLARE @LettermanUrl VARCHAR(200)	
	SET @LettermanUrl = ''
	--As of 10/09/2020 we just use the ContentAffinityPages table
	SELECT @LettermanUrl = ISNULL(lettermanLink, '') FROM [dbo].ContentAffinityPages WHERE [SMI] = @SMI

	
	--select @LettermanUrl = ISNULL([Clean URL],'') 
	--from sitecore_URL_overrides where [Clean Override] = 'Letterman'
	--AND @SMI = [Clean SMI]

	--IF LTRIM(RTRIM(ISNULL(@LettermanUrl,''))) = ''
	--BEGIN
	--	SELECT @LettermanUrl = [lettermanLink] FROM [dbo].[ContentAffinityPages] WHERE SMI = @SMI
	--END
		
    -- Return the result of the function
	RETURN CASE WHEN LTRIM(RTRIM(ISNULL(@LettermanUrl,''))) = '' THEN '' ELSE [dbo].[fn_Add_SMI_If_Needed](@LettermanUrl,@SMI) END

END
--select * from ContentAffinityPages where lettermanlink is not null
GO
