/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_FanshopUrl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 08/07/2020
-- Description: Return a fan shop url if a SMI is a fan shop school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_FanshopUrl]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(200)
--SELECT dbo.fn_Affinity_FanshopUrl(130996) --Yes
--SELECT dbo.fn_Affinity_FanshopUrl(50) --No
--SELECT dbo.fn_Affinity_FanshopUrl(135141) --Override link
AS
BEGIN
    -- Declare the return variable here
    DECLARE @FanshopUrl VARCHAR(200)
	SET @FanshopUrl = ''
	IF dbo.fn_Affinity_Fanshop(@SMI) = '1'
	BEGIN
		select @FanshopUrl = ISNULL([Clean URL],'') 
		from sitecore_URL_overrides where [Clean Override] = 'Fan Shop'
		AND @SMI = [Clean SMI]

		IF len(@FanshopUrl) - len(replace(@FanshopUrl, '/', '')) > 1
		BEGIN
			SET @FanshopUrl = '../..' + @FanshopUrl 
		END

		IF @FanshopUrl = '' 
		BEGIN
			SET @FanshopUrl = 'https://www.balfour.com/shop/collections/ncaa-shop?smi=' + CAST(@SMI as VARCHAR(25))
		END

		

	END
	
	-- Return the result of the function
	RETURN [dbo].[fn_Add_SMI_If_Needed](@FanshopUrl,@SMI)
    
END
GO
