/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Yearbook_Status]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09/24/2020
-- Description: Determines if a SMI has yearbooks as well as the status
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Yearbook_Status]
(
    @SMI BIGINT = 0
)
RETURNS TINYINT
--SELECT dbo.fn_Affinity_Yearbook_Status(130996)
--SELECT dbo.fn_Affinity_Yearbook_Status (77543)
--SELECT dbo.fn_Affinity_Yearbook_Status (131276)
--SELECT dbo.fn_Affinity_Yearbook_Status (131698)
--SELECT dbo.fn_Affinity_Yearbook_Status (70494) --Burnet - 1
--SELECT dbo.fn_Affinity_Yearbook_Status (30421) --Livonia - 0
--SELECT dbo.fn_Affinity_Yearbook_Status (68558) -- 2
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Yearbook TINYINT
	SET @Yearbook = 0
	
    SELECT @Yearbook = 1 WHERE EXISTS (SELECT [Exclusive SMI] FROM magento_automated_product_dataset WHERE [enhanced Commerce] IN ('YEARBOOKS','YEARBOOK ACCESSORIES') and status = 'enable' and ISNULL([visibility],'Not Visible') <> 'Not Visible' and [Exclusive SMI] = @SMI)
	IF @Yearbook = 0 --Check for "Yearbook Off"
		SELECT @Yearbook = 2 WHERE EXISTS (SELECT [Exclusive SMI] FROM magento_automated_product_dataset WHERE [enhanced Commerce] IN ('YEARBOOKS','YEARBOOK ACCESSORIES') and status = 'enable' and ISNULL([visibility],'') = 'Not Visible' and [Exclusive SMI] = @SMI)
		
    -- Return the result of the function
    RETURN @Yearbook
END
GO
