/****** Object:  UserDefinedFunction [dbo].[fn_DateTime_to_Zulu]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10-22-2019
-- Description: Translates a datetime to Zulu time zone accounting for DST
-- =============================================
CREATE FUNCTION [dbo].[fn_DateTime_to_Zulu]
(
    @DateIn DATETIME
)
RETURNS DATETIME
AS
BEGIN
    -- Declare the return variable here
    DECLARE @ResultDateTime DATETIME
	IF @DateIn BETWEEN dbo.fn_GetDstStart(DatePart(year,@DateIn)) AND dbo.fn_GetDstEnd(DatePart(year,@DateIn))
		SET @ResultDateTime = DATEADD(hour,5,@DateIn)
	ELSE
		SET @ResultDateTime = DATEADD(hour,6,@DateIn)
    -- Return the result of the function
    RETURN @ResultDateTime
END
GO
