/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_URL_to_SMI]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11/19/2020
-- Description: Converts an Affinity URL to the SMI
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_URL_to_SMI]
(
    @URL VARCHAR(500)
)
--SELECT dbo.fn_Affinity_URL_to_SMI ('/lsuring')
RETURNS INT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @SMI INT
	SET @SMI = 0
    SELECT @SMI = [SMI] FROM [dbo].[School_URL_Master] WHERE [AffinityURL] = @URL

    RETURN @SMI
END
GO
