/****** Object:  UserDefinedFunction [dbo].[fn_GetLocationDateTimeInfoForEcom]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01/21/2020
-- Description: Pulls location date/time information for display on the ecom site
-- =============================================
CREATE FUNCTION [dbo].[fn_GetLocationDateTimeInfoForEcom]
(
    @Event_GUID VARCHAR(50) = ''
)
RETURNS VARCHAR(MAX)
AS
--SELECT dbo.fn_GetLocationDateTimeInfoForEcom ('D9AA13EB-751F-4E1F-BCB3-F995323DA355')

BEGIN
	
	DECLARE @Result VARCHAR(MAX),@Loop INT, @Max INT, @LocBreak VARCHAR(50), @Location  VARCHAR(100), @XRef_GUID VARCHAR(50), @ID INT
	DECLARE @Locations TABLE ([Location] VARCHAR(100), [XRef_GUID] VARCHAR(50), [ID] INT, [Loop] INT IDENTITY(1,1))

	SET @Result = ''
	SET @LocBreak = ''

	INSERT INTO @Locations ([Location],[XRef_GUID],[ID])
	SELECT [Location], X.[GUID], L.[ID] FROM [dbo].[School_Events_Locations_XRef] X LEFT JOIN [dbo].[School_Events_Locations] L ON L.GUID = X.Location_GUID  WHERE X.[Event_GUID] = @Event_GUID
	SELECT @Max = MAX([Loop]) FROM @Locations
	SET @Loop = 1
	WHILE @Loop <= @Max
		BEGIN
			SELECT @Location = [Location], @XRef_GUID = LTRIM(RTRIM([XRef_GUID])), @ID = [ID] FROM @Locations WHERE [Loop] = @Loop
			SET @Result = @Result + @LocBreak  + [dbo].[fn_SchoolEventLocationsDatesForEcom] (@XRef_GUID) + '<br />' + @Location
			--Get the location dates
		
			SET @LocBreak = '<br />----<br />'
			SET @Loop = @Loop + 1
		END
    RETURN @Result
END
GO
