/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_GradPackUrl_han_test]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/07/2020
-- Description: Return Grad Pack URL if a SMI is a  Grad Pack school - New version with included SMI table join
-- Modified Date: 09/29/2020 TL
-- Description:  Eliminated crawling back up directories in favor of using / at the start of URL's
-- =============================================



CREATE FUNCTION [dbo].[fn_Affinity_GradPackUrl_han_test]
(
    @SMI BIGINT = 0
)

RETURNS VARCHAR(200)
--SELECT dbo.[fn_Affinity_GradPackUrl](23726)  --/indiana/oxford/benton-central-junior-senior-high-school/graduation-packages?smi=23726
--SELECT dbo.[fn_Affinity_GradPackUrl](1304)  --/falsepass/graduation-packages?smi=1304
--SELECT dbo.[fn_Affinity_GradPackUrl](17978)  --/shop/graduation-products?smi=17978
--SELECT dbo.[fn_Affinity_GradPackUrl](133006) --/shop/graduation-products?smi=133006
--SELECT dbo.[fn_Affinity_GradPackUrl](130941) --''
--SELECT dbo.[fn_Affinity_GradPackUrl](131718)  --''
--SELECT dbo.[fn_Affinity_GradPackUrl](29990) --/louisiana/winnsboro/franklin-parish-high-school/graduation-packages?smi=29990
--SELECT dbo.[fn_Affinity_GradPackUrl](51238) --''

--SELECT dbo.[fn_Affinity_GradPackUrl_New](23726)  --/indiana/oxford/benton-central-junior-senior-high-school/graduation-packages?smi=23726
--SELECT dbo.[fn_Affinity_GradPackUrl_New](1304)  --/falsepass/graduation-packages?smi=1304
--SELECT dbo.[fn_Affinity_GradPackUrl_New](17978)  --/shop/graduation-products?smi=17978
--SELECT dbo.[fn_Affinity_GradPackUrl_New](133006) --/shop/graduation-products?smi=133006
--SELECT dbo.[fn_Affinity_GradPackUrl_New](130941) --'/purdue/graduation-packages?smi=130941'  SELECT * FROM SCHOOL_URL_MASTER WHERE [SMI] = 130941
--SELECT dbo.[fn_Affinity_GradPackUrl_New](131718)  --'/virginia/graduation-packages?smi=131718'
--SELECT dbo.[fn_Affinity_GradPackUrl_New](29990) --/louisiana/winnsboro/franklin-parish-high-school/graduation-packages?smi=29990
--SELECT dbo.[fn_Affinity_GradPackUrl_New](51238) --'/new-york/oakland-garden/benjamin-cardozo-high-school/graduation-packages?smi=51238'
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Url VARCHAR(MAX)
	select @Url = ''
	-- If EXISTS(SELECT * FROM non_gradpack_schools WHERE SMI = @SMI)
	IF [dbo].[fn_SMI_in_list] ('48BEE133-8490-4F17-9968-D5AFD3120D77',CAST(@SMI as INT)) = 1
		BEGIN
			-- PLP
			SET @Url = '/shop/graduation-products?smi=' + CAST(@SMI as VARCHAR(25))
		
		END
	ELSE 
		BEGIN
			IF EXISTS(
				SELECT TOP 1 * FROM magento_automated_product_dataset p
				--inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
				where  
				Category LIKE '%GRADUATION PACKAGES%'
				and Visibility = 'In Catalog and Search'
				and Status = 'Enable'
				and ((',' + REPLACE(p.[Included SMI], ', ', ',') + ',' LIKE '%,' + CAST(@SMI AS VARCHAR(20)) + ',%' OR [Exclusive SMI] =CAST(@SMI AS VARCHAR(20)))
				OR p.SKU IN (SELECT SKU FROM product_included_smi WHERE Included_SMI = @SMI))
			
			)
				BEGIN
					select @Url = ISNULL([AffinityURL],'/' + ISNULL(URL,'')) + '/graduation-packages?smi=' + CAST(@SMI as VARCHAR(25)) from School_URL_Master WHERE SMI = @SMI 
		
		
				END
			ELSE
				BEGIN
					IF EXISTS (SELECT TOP 1 * FROM magento_automated_product_dataset p
				
								where Visibility = 'In Catalog and Search'
								and Status = 'Enable'
								AND [dbo].[fn_InCollection] (@smi,p.product_collection) = 1
								AND p.product_collection in ('BalProdColl_HSGradPack') -- should be the following 4 SKUs based on product collection
								AND 
								p.sku in 
									(
									'A0235792'
									,'A0235793'
									,'A0235794'
									,'A0235796'
									))
						BEGIN
							select @Url = ISNULL([AffinityURL],'/' + ISNULL(URL,'')) + '/graduation-packages?smi=' + CAST(@SMI as VARCHAR(25)) from School_URL_Master WHERE SMI = @SMI 
						END
				END
		END

	-- Final check - see if it is in the SMI List - "Don't Show Gradpack Tiles for these schools"
	IF [dbo].[fn_SMI_in_list] ('DBACF9B9-9C11-404C-ADC3-5A693DB227C9',CAST(@SMI as INT)) = 1
	BEGIN
		-- Don't show gradpack here 
		SET @Url = ''
	END
	--Testing
	--IF @SMI = 29990 SET @Url = '/louisiana/winnsboro/franklin-parish-high-school/graduation-packages?smi=29990'
	--IF @SMI = 17978 SET @Url = '/shop/graduation-products?smi=17978'
	--IF @SMI = 1304 SET @Url = '/falsepass/graduation-packages?smi=1304'
    RETURN @Url
END
--select * from ContentAffinityPages where gradAnnouncementsLink is not null
GO
