/****** Object:  UserDefinedFunction [dbo].[RemoveOrganizationWords]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <21 December 2019>
-- Description: <Removes key words in school names to narrow down the match logic.>
-- =============================================
CREATE FUNCTION [dbo].[RemoveOrganizationWords]
( 
 @Str as varchar(255)
)
RETURNS varchar(255)
AS
BEGIN
 RETURN
 Replace(Replace(Replace(Replace(Replace(Replace(dbo.RemoveSpecialCharacters(@Str),'senior',''),'school',''),'college',''),'university',''),'saint','st'),'junior high','middle')
END
GO
