/****** Object:  UserDefinedFunction [dbo].[fn_InCollection_Old]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/12/2020
-- Description: Determines if a SMI is a Collection
-- =============================================
CREATE FUNCTION [dbo].[fn_InCollection_Old]
(
     @SMI BIGINT = 0
	,@Collection VARCHAR(MAX) = ''
)
RETURNS BIT
--SELECT dbo.fn_Affinity_UnivColl(130996)
--SELECT dbo.fn_Affinity_UnivColl(1034)
--SELECT dbo.fn_Affinity_UnivColl(131276)
--SELECT dbo.fn_Affinity_UnivColl(131630)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @InColl BIT
	SET @Collection = REPLACE(ISNULL(@Collection,''),',','%')
	SET @InColl = 0
	IF LTRIM(RTRIM(@Collection)) <> ''
		BEGIN
			SET @Collection = '%' + @Collection + '%'
			SELECT @InColl = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE @Collection)
		END
    -- Return the result of the function
    RETURN @InColl
END
GO
