/****** Object:  UserDefinedFunction [dbo].[LNFNEmailKey]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <12 October 2019>
-- Description: <Match logic key for first & last name, and email.>
-- =============================================
CREATE FUNCTION [dbo].[LNFNEmailKey]
(	
	@Em as varchar(50)
	,@LN as varchar(50)
	,@FN as varchar(50)
)
RETURNS varchar(152)
AS
BEGIN
	RETURN	  
		upper(replace(@LN+'z'+@FN+'z'+@Em,' ',''))
END
GO
