/****** Object:  UserDefinedFunction [dbo].[fn_get_yearbook_grade_level_for_smi]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03/19/20
-- Description: Returns the grade level given a SKU
-- Possible values are:
--   Alumni
--   College
--   Elementary
--   High School
--   Middle School
-- =============================================
CREATE FUNCTION [dbo].[fn_get_yearbook_grade_level_for_smi]
(
   @smi int
)
RETURNS VARCHAR(800)
AS
BEGIN
	-- SELECT [dbo].[fn_get_yearbook_grade_level_for_smi] (16451)
    -- Declare the return variable here
    DECLARE @GradeLevel VARCHAR(800) -- The [itemattributes[.[tagvalue] column is 786
	SET @GradeLevel = ''
    SELECT @GradeLevel = ISNULL([GradeLevel],'') 
	FROM [dbo].[SMISchoolMasterIndexList]
	WHERE [ID] = @SMI

    -- Return the result of the function
    RETURN @GradeLevel
END
GO
