/****** Object:  UserDefinedFunction [dbo].[LNFNStreetNumsZipKey]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <7 Sep 2019>
-- Description: <Match logic key for street, zip5, last name, and first name.>
-- =============================================
CREATE FUNCTION [dbo].[LNFNStreetNumsZipKey]
(	
	@StreetNums as varchar(50)
	,@LN as varchar(50)
	,@FN as varchar(50)
	,@Zip5 as varchar(5)
)
RETURNS varchar(157)
AS
BEGIN
	RETURN	  
		upper(replace(@StreetNums+'z'+@LN+'z'+@FN+'z'+@Zip5,' ',''))
END
GO
