/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_GradPackUrl_Justin_test]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Han Tran
-- Create Date: 11/08/2021
-- Description: Return Grad Pack URL if a SMI is a  Grad Pack school - New version with included SMI table join
-- Modified Date:  
-- Description:  Eliminated crawling back up directories in favor of using / at the start of URL's
-- =============================================


/**
Check to see if the Graduation Tile is getting redirected to Build-a-grad, if so set URL to the value in the Marketing DB
Else check to see if a GradPack bundle is being sold and that it is not in the '%BalProdColl_GPack2022Mini%' collection,  if this is true then set the URL to @Url = 'graduation-packages?smi=' + CAST(@SMI as VARCHAR(25))
Else set the URL to @Url = '/graduation-packages-cap-and-gown?smi=' + CAST(@SMI as VARCHAR(25))
SELECT DBO.[fn_Affinity_GradPackUrl_justin_test]('37677')   ('135141','37677')
**/
 
CREATE FUNCTION [dbo].[fn_Affinity_GradPackUrl_Justin_test]
(
    @SMI BIGINT = 0
)

RETURNS VARCHAR(200)

AS
BEGIN
    -- Declare the return variable here   	
    DECLARE @Url VARCHAR(MAX) = ''
	 
	-- CHECK IF there is override url set up from Marketing CRM - this is the new table and will make change in Marketing CRM to set up the value for this table if need.
    IF EXISTS (SELECT TOP 1 * FROM [GradPackOverrides] WHERE smi = @SMI )
			BEGIN 
				SELECT  @Url = [CBGrad URL] FROM [GradPackOverrides] WHERE smi = @SMI 
			END	
	--CHECK IF SCHOOL HAVE AN GRAD PACK BUNDLE, PRODUCTS ASSOCIATED WITH THE BUNDLE, and NOT Cap & Gown Upgrade (IsMiniPack  =0)
	ELSE IF EXISTS (SELECT TOP 1 * from v_GradPacks gp join product_included_smi ps ON gp.SKU = ps.SKU WHERE IsMiniPack = 0 AND ps.Included_SMI = @SMI)
		BEGIN
			SET @Url = 'graduation-packages?smi=' + CAST(@SMI as VARCHAR(25))
		END	
	--CHECK IF SCHOOL HAVE AN Cap & Gown BUNDLE, PRODUCTS ASSOCIATED WITH THE BUNDLE (IsMiniPack =1 )
	ELSE IF EXISTS (SELECT TOP 1 * from v_GradPacks gp join product_included_smi ps ON gp.SKU = ps.SKU WHERE IsMiniPack = 1 AND ps.Included_SMI = @SMI)
		BEGIN
			SET @Url = '/graduation-packages-cap-and-gown?smi=' + CAST(@SMI as VARCHAR(25))
		END
	
    RETURN @Url
END



/**v_GradPacks		

   -- All gradpack bundles are in this table Magento_GradPack_Bundle_Details -- We only pull products of the 2 types to this table BalProdColl_GPack2022 and BalProdColl_GPack2022Mini
   -- Join with magento_automated_product_dataset to get bundle type Product_Collection = 'BalProdColl_GPack2022Mini' --> Cap & Gown Upgrade (or isminipack = 1 ).
	
	CREATE VIEW [dbo].[v_GradPacks] 
	AS
		SELECT DISTINCT 
			bd.product_id AS GradPackID, 
			bd.bundle_parent_sku AS SKU,
			p.[Product Name] AS DisplayName, 
			CAST(ISNULL(p.[Special Price (% for bundles)], p.[Retail Price]) AS DECIMAL(16,2))  AS Price, 
			CASE WHEN p.product_collection LIKE '%BalProdColl_GPack2022Mini%' THEN 1 ELSE 0 END AS IsMiniPack, 
			p.URL
		FROM Magento_GradPack_Bundle_Details bd INNER JOIN magento_automated_product_dataset p on bd.bundle_parent_Sku = p.SKU 
		WHERE p.Status = 'enable'  
		AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)		
	GO	 
**/
GO
