/****** Object:  UserDefinedFunction [dbo].[fn_SKU_in_list]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 11/12/2020
-- Description: Determines whether or not a SKU is in a SKULists entry
-- =============================================
CREATE FUNCTION [dbo].[fn_SKU_in_list]
(
     @SKUListsGUID VARCHAR(50)
	,@SKU VARCHAR(50)
)
--SELECT [dbo].[fn_SKU_in_list] ('6E9329D4-1842-4696-A14E-FB064AD2BC6A','A0247032A0000') --True
--SELECT [dbo].[fn_SKU_in_list] ('6E9329D4-1842-4696-A14E-FB064AD2BC6A','A0247032A0XX0') --False
--SELECT [dbo].[fn_SKU_in_list] ('C2B12AB7-E886-4703-9873-3AF6E96897XX',131644) --False because list does not exist
RETURNS BIT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result BIT
	SET @Result = 0

    IF EXISTS (SELECT * FROM [dbo].[SKUListsDetails] DET LEFT JOIN [dbo].[SKULists] LIS ON LIS.[GUID] = DET.[SKUListGUID] WHERE [SKUListGUID] = @SKUListsGUID AND [SKU] = @SKU AND ISNULL([Enabled],0) = 1 AND GETDATE() BETWEEN ISNULL([StartDate],'01/01/2000') AND ISNULL([EndDate],DATEADD(year,1,GETDATE())))
		SET @Result = 1

    -- Return the result of the function
    RETURN @Result
END
GO
