/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Flags_Value]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/08/2020
-- Description: Gives a value to update the Flags field in ContentAffinityPages
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Flags_Value]
(
    -- Add the parameters for the function here
	 @currentValue BIGINT
    ,@flagValue BIGINT 
	,@on BIT
)

--SELECT dbo.fn_Affinity_Flags_Value (2,2048,0)
--SELECT dbo.fn_Affinity_Flags_Value (2,2048,1)
--SELECT dbo.fn_Affinity_Flags_Value (2050,2048,0)
--SELECT dbo.fn_Affinity_Flags_Value (2050,2048,1)
--SELECT dbo.fn_Affinity_Flags_Value (2048,0,0)
--SELECT dbo.fn_Affinity_Flags_Value (2050,0,1)
RETURNS BIGINT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result BIGINT

	SET @Result = @currentValue
    -- Remove the current flag
	SET @Result = @Result - (@flagValue & @Result)
	IF @on = 1
		--Set the new status
		SET @Result = (@Result | @flagValue)

    -- Return the result of the function
    RETURN @Result
END
GO
