/****** Object:  UserDefinedFunction [dbo].[fn_stripUrlFromHTML]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/07/2020
-- Description: Get the URL from sitecore override fields
-- =============================================
CREATE FUNCTION [dbo].[fn_stripUrlFromHTML]
(
    @str VARCHAR(MAX) = ''
)
RETURNS VARCHAR(MAX)
--SELECT dbo.[fn_stripUrlFromHTML]('<link text="Cap And Gown" linktype="external" url="https://orders.balfour.com/smi39895/catalog/category/view/s/individual-items/id/312962/" anchor="" title="Cap And Gown" target="_blank" />')  
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Url VARCHAR(200)
	
	DECLARE @URLTmp VARCHAR(MAX)
	select @URLTmp = RIGHT(@str,CHARINDEX('"=lru',REVERSE(@str),0)-1)
	select  @Url =  ISNULL( LEFT(@URLTmp,CHARINDEX('"', @URLTmp,0)-1),'') 

    -- Return the result of the function
    RETURN @Url
END
GO
