/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_UnivColl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/06/2020
-- Description: Determines if a SMI is a University Collection school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_UnivColl]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_UnivColl(130996)
--SELECT dbo.fn_Affinity_UnivColl(1034)
--SELECT dbo.fn_Affinity_UnivColl(131276)
--SELECT dbo.fn_Affinity_UnivColl(131630)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @UnivColl BIT
	SET @UnivColl = 0
    SELECT @UnivColl = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE '%BalProdColl_UnivColl%')
		
    -- Return the result of the function
    RETURN @UnivColl
END
GO
