/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_SpecialStatus]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/02/2020
-- Description: Returns the special status value
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_SpecialStatus]
(
    -- Add the parameters for the function here
	 @SMI BIGINT
)

--SELECT dbo.fn_Affinity_SpecialStatus (130996)
--SELECT A.[SMI], S.[altName] as [Name], dbo.fn_Affinity_SpecialStatus(A.[SMI]) as [Status], dbo.fn_Affinity_GradeLevel(A.[SMI]) as [Grade Level] FROM dbo.[ContentAffinityPages] A LEFT JOIN [dbo].[School_URL_Master] S ON S.[SMI] = A.[SMI] WHERE dbo.fn_Affinity_SpecialStatus(A.[SMI]) <>'No special status' ORDER BY dbo.fn_Affinity_SpecialStatus(A.[SMI])
RETURNS VARCHAR(50)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result VARCHAR(50)
	SET @Result = ''

	SELECT @Result = CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' WHEN ([Flags] & 32768) > 0 Then 'Ring & Ring Tile' ELSE 'No special status' END 
	FROM [dbo].[ContentAffinityPages]
	WHERE [SMI] = @SMI
	-- Return the result of the function
    RETURN @Result
END
GO
