/****** Object:  UserDefinedFunction [dbo].[EmailProvider]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <25 July 2019>
-- Description: <Gives email provider which is used in match logic.>
-- =============================================
CREATE FUNCTION [dbo].[EmailProvider]
(	
	@Email as varchar(50)
)
RETURNS varchar(50)
AS
BEGIN
	RETURN	  
		trim(upper(substring(@Email,charindex('@',@Email)+1,50)))
END
GO
