/****** Object:  UserDefinedFunction [dbo].[fn_GetExtendedProperty]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03/05/2020
-- Description: Reads an extended property from a table object
-- =============================================
CREATE FUNCTION [dbo].[fn_GetExtendedProperty]
(
     @TableName VARCHAR(100)
	,@PropertyName VARCHAR(100)
)
RETURNS VARCHAR(MAX)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result VARCHAR(MAX), @Count INT
	SET @Result = ''
	SELECT @Count = COUNT(*)
	FROM sys.objects AS o
	INNER JOIN sys.extended_properties AS p
			ON p.major_id = o.object_id
			AND p.class = 1
		WHERE O.Name = @TableName AND p.Name = @PropertyName

	IF @Count > 0
		SELECT @Result = CAST([value] as VARCHAR(MAX))
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
				ON p.major_id = o.object_id
				AND p.class = 1
			WHERE O.Name = @TableName AND p.Name = @PropertyName

    -- Return the result of the function
    RETURN @Result
END
GO
