/****** Object:  UserDefinedFunction [dbo].[fn_Digital_Codes_Left]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:     TL
-- Create Date: 04/12/2021
-- Description: Gets a count of the number of digital codes left for a particular SKU
-- =============================================
CREATE FUNCTION [dbo].[fn_Digital_Codes_Left]
(
    @SKU VARCHAR(100)
)
--SELECT dbo.fn_Digital_Codes_Left('a0233134a0000')
--SELECT dbo.fn_Digital_Codes_Left('a0226631a0000')
RETURNS INT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Count INT
	SET @Count = 0

    SELECT @Count = COUNT(*)
	FROM [dbo].[DigitalCodes] DC 
	LEFT JOIN [dbo].[DigitalCodeSources] DCS ON DCS.GUID = DC.[Source_GUID]
	LEFT JOIN [dbo].[magento_automated_product_dataset] D ON D.[SKU] = DC.[BalfourSKU]
	WHERE DC.[BalfourSKU] = @SKU
	AND ISNULL(DC.[Expires],DATEADD(year,1,GETDATE())) > dbo.fn_DateTime_To_Central(GETDATE())
	AND [KeyForIssued] IS NULL
	AND [DateIssued] IS NULL
	

    -- Return the result of the function
    RETURN @Count
END
GO
