/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_ClassRingUrl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/07/2020
-- Description: Return Grad Annoucement URL if a SMI is a  Grad Annoucement school
-- =============================================


--Elementary' WHEN isMiddleSchool = 1 THEN 'Middle School' WHEN isHighSchool = 1 THEN 'High School' WHEN isCollege = 1 THEN 'College

CREATE FUNCTION [dbo].[fn_Affinity_ClassRingUrl]
(
    @SMI BIGINT = 0
	,@GradeLevel VARCHAR(50) = ''
)

RETURNS VARCHAR(200)
--SELECT dbo.[fn_Affinity_ClassRingUrl](23726)  
--SELECT dbo.[fn_Affinity_ClassRingUrl](1034)
--SELECT dbo.[fn_Affinity_ClassRingUrl](98295)
--SELECT dbo.[fn_Affinity_ClassRingUrl](72793)
--SELECT dbo.[fn_Affinity_ClassRingUrl](135941,'Middle School')
--SELECT dbo.[fn_Affinity_ClassRingUrl](130996,'College')

AS
BEGIN
    -- Declare the return variable here
    DECLARE @Url VARCHAR(MAX)
	--If no grade level passed, get it
	IF LTRIM(RTRIM(ISNULL(@GradeLevel,''))) = '' SET @GradeLevel = dbo.fn_Affinity_GradeLevel(@SMI)
	select @Url = ISNULL([Clean URL],'') 
	from sitecore_URL_overrides where [Clean Override] = 'Ring'
	AND @SMI = [Clean SMI]

	IF ISNULL (@Url, '') = '' SET @Url = CASE WHEN @GradeLevel IN ('Elementary', 'Middle School', 'Junior High School') THEN '/shop/jewelry/rings/junior-high-class-rings?smi=' 
	WHEN @GradeLevel = 'High School' THEN '/shop/jewelry/rings/high-school-class-rings?smi=' 
	--BAS-7743
	ELSE /*'https://www.balfour.com/shop/jewelry/rings/official-college-class-rings?smi='*/'/shop/jewelry/rings/college-class-rings?pim_a_collection=15086&smi=' END + CAST (@SMI AS VARCHAR(25))

	-- SELECT @Url = ISNULL(gradAnnouncementsLink, '') FROM [dbo].ContentAffinityPages WHERE [SMI] = @SMI
	
	--Ticket :-BAS-10178
	IF @SMI IN (130970, 130805)
      BEGIN
	       SET @Url = '/shop/jewelry/rings/college-class-rings?smi=' + CAST(@SMI AS VARCHAR(25))
         END




    RETURN [dbo].[fn_Add_SMI_If_Needed](@Url,@SMI)
END
--select * from ContentAffinityPages where gradAnnouncementsLink is not null
GO
