/****** Object:  UserDefinedFunction [dbo].[fn_virtcommsubcomm]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11-7-2019
-- Description: Builds a list of URLs for a conditional content record
-- =============================================
CREATE FUNCTION [dbo].[fn_virtcommsubcomm]
(
    @parentGUID VARCHAR(50)
)
--SELECT [dbo].[fn_virtcommsubcomm] ('E300DA01-5E39-4800-BD73-8E2EFBA4139B')
RETURNS VARCHAR(MAX)
AS
BEGIN
	DECLARE @Result VARCHAR(MAX)
	SET @Result = ''
	DECLARE @OR VARCHAR(50)
	SET @OR = ''

	SELECT @Result = @Result +  '<br /><b>' + CASE WHEN vcd.[Enabled] = 0 THEN '<font color="#FF0000">DISABLED</font>' ELSE '<font color="green">ENABLED</font>' END + '</b>&nbsp;(' + CAST(vc.[SMI] AS VARCHAR(15)) + '-' + ISNULL([CollegeCode],'') + ') ' + ISNULL(vcd.[Title],'')
	FROM [dbo].[VirtCommDetail] vcd 
	LEFT JOIN [dbo].[VirtCommMaster] vc ON vc.[GUID] = @parentGUID
	WHERE [parentGUID] = @parentGUID  
	ORDER BY vcd.[ID]

	RETURN @Result
END
GO
