/****** Object:  UserDefinedFunction [dbo].[fn_FormatTime]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/28/2020
-- Description: Formats the time according to the style guide
-- =============================================
CREATE FUNCTION [dbo].[fn_FormatTime]
(
    @Time DATETIME
)
RETURNS VARCHAR(10)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @TimeOut VARCHAR(10)

    IF FORMAT(@Time, 'hh:mm tt') = '12:00 PM'
		SET @TimeOut = 'Noon'
	ELSE
		BEGIN
			IF FORMAT(@Time, 'hh:mm tt') = '12:00 AM'
				SET @TimeOut = 'Midnight'
			ELSE
				BEGIN
					SET @TimeOut = FORMAT(@Time, 'hh')
					IF FORMAT(@Time, 'mm') <> '00' SET @TimeOut = @TimeOut + ':' + FORMAT(@Time, 'mm')
					SET @TimeOut = @TimeOut + ' ' + CASE WHEN FORMAT(@Time, 'tt') = 'AM' THEN 'a.m.' ELSE 'p.m.' END
				END
		END
	IF LEFT(@TimeOut,1) = '0' SET @TimeOut = RIGHT(@TimeOut,LEN(@TimeOut)-1)

    RETURN @TimeOut
END
GO
