/****** Object:  UserDefinedFunction [dbo].[fn_GetParentGrandChild]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11/13/2019
-- Description: 
-- =============================================
CREATE FUNCTION [dbo].[fn_GetParentGrandChild]
(
    
    @Class NVARCHAR(255)
)
RETURNS NVARCHAR(255)
AS
BEGIN


DECLARE @ParentGrandChild NVARCHAR(255), @Col VARCHAR(4)
SET @ParentGrandChild = ''
SET @Col = ''
SELECT @ParentGrandChild = right(@class, charindex(':', reverse(@class)) - 1) 
RETURN @ParentGrandChild
END
GO
