/****** Object:  UserDefinedFunction [dbo].[fn_Get_MAGE_Item_ID_for_Coupon]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/25/2021
-- Description: Gets the item_id for the item in MAGE_SALES_ORDER_ITEM against which a discount code was used
-- =============================================
CREATE FUNCTION [dbo].[fn_Get_MAGE_Item_ID_for_Coupon]
(
     @Code VARCHAR(50)
)
--SELECT [dbo].[fn_Get_MAGE_Item_ID_for_Coupon] ('HSKIY-2MC-1KI-2V4')

RETURNS INT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Item_ID INT, @Coupon_ID INT, @Order_ID BIGINT, @Rule_ID VARCHAR(50)
	SELECT @Order_ID = ISNULL([Entity_ID],0) FROM [dbo].[MAGE_Sales_Order] WHERE [coupon_code] = @Code
	SELECT @Rule_ID = ISNULL(CAST(rule_id as VARCHAR(50)),'XXXX') FROM [dbo].[MAGE_salesrule_coupon] WHERE [code] = @Code
	SELECT @Item_ID = ISNULL(item_id,0) FROM [dbo].[MAGE_sales_order_item] WHERE [order_id] = @Order_ID
	  AND [applied_rule_ids] LIKE '%' + @Rule_ID + '%'
	IF @item_ID IS NULL SET @Item_ID = 0
    -- Return the result of the function
    RETURN @Item_ID
END
GO
