/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Frames]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/16/2021
-- Description: Determines if a SMI has officially licensed diploma frames
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Frames]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_Frames(130996) --Yes --LSU
--SELECT dbo.fn_Affinity_Frames(50) --No
--SELECT dbo.fn_Affinity_Frames(130913) --No   -- Should be Yes
--SELECT dbo.fn_Affinity_Frames(131276) --No
--SELECT dbo.fn_Affinity_Frames(131424) --No   -- Should be Yes
--SELECT dbo.fn_Affinity_Frames(131032) --Yes --Harvard
--SELECT dbo.fn_Affinity_Frames(130495) --No --Clemson --- Verified with Valentio, this is a YES
--SELECT dbo.fn_Affinity_Frames(131597) --Yes
--SELECT dbo.fn_Affinity_Frames(136497) --No --Tallahassee Community College


--SELECT dbo.fn_Affinity_Frames(131629) --Yes
--SELECT dbo.fn_Affinity_Frames(131657) --Yes
--SELECT dbo.fn_Affinity_Frames(131656) --Yes
--SELECT dbo.fn_Affinity_Frames(133448) --Yes
--SELECT dbo.fn_Affinity_Frames(131085) --Yes
--SELECT dbo.fn_Affinity_Frames(135268) --Yes


--SELECT dbo.fn_Affinity_Frames(132804) --No
--SELECT dbo.fn_Affinity_Frames(135851) --No

--SELECT dbo.fn_Affinity_Frames(133036) --No
--SELECT dbo.fn_Affinity_Frames(130870) --No
 
AS
BEGIN

	--	Rules for Officially licensed frames will be identifiable using the Product Collection. So, I would look for these conditions:
	--	a_CTSStyle = Diploma/Certificate Frames
	--	a_LicenseType = NCAA
	--You can also tell this by a_BalfourProductCollection = Endless Aisle Product - NCAA

    -- Declare the return variable here
    DECLARE @Frames BIT
	SET @Frames = 0
	--Place alumni logic here
	    SELECT @Frames = 1 WHERE EXISTS 
	(
		SELECT TOP 1 P.ITEMID 
		FROM magento_automated_product_dataset p  
		--LEFT JOIN product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
		WHERE /*p.[Enhanced Commerce] = 'BALFOUR DIRECT-FRAMES'
		AND is_licensed = 1*/
		p.Cat_Type_Style = 'Home/Dorm_Frames_Diploma/Certificate Frames'
		AND p.product_collection = 'BalProdColl_EA_NCAA'
		AND p.Visibility = 'In Catalog and Search'
		AND 
		(
			ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR 
			(
				ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0
			)
		)
		AND
		(ISNULL(p.[Included SMI], '0') = @SMI OR ISNULL(p.[Exclusive SMI], '') = @SMI OR p.SKU IN (SELECT SKU FROM product_included_smi WHERE [included_SMI] = @SMI))
	 )


	------   SELECT @Frames = 1 WHERE EXISTS 
	------(
	------	SELECT P.ITEMID 
	------	FROM magento_automated_product_dataset p 
	------	left join itemattributes ia on p.ItemID = ia.itemid 
	------	inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
	------	WHERE tagtype = 'a_collection'
	------	and tagvalue = 'Officially Licensed Frames' 
		
	------	AND 
	------	(
	------		ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR 
	------		(
	------			ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0
	------		)
	------	)
	------)
		
    -- Return the result of the function
    RETURN @Frames
END
GO
