/****** Object:  UserDefinedFunction [dbo].[fn_Get_Lowest_Price]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      HT
-- Create Date: 09/14/2020
-- Description: Return the lowest price of a sku based on SMI
-- BAS-10800 : 09/24/2025 - Pull latest price based on from and to date
-- ============================================= 
CREATE FUNCTION [dbo].[fn_Get_Lowest_Price]
(
	@SKU VARCHAR(100),
    @SMI BIGINT = 0
)
RETURNS MONEY
--SELECT dbo.fn_Affinity_AlumniUrl(130996)
--SELECT dbo.fn_Affinity_AlumniUrl(50)
--SELECT dbo.fn_Affinity_AlumniUrl(130913)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Price MONEY
	SET @Price = 0.00
	--Place alumni logic here
	SELECT @Price = CAST(MIN(Price) AS MONEY) FROM [MAGE_balfour_product_smi_scoped_price] where LEFT(sku,8) = LEFT(@SKU,8) and smi =@SMI
	and GETDATE() between from_date and to_date -- BAS-10800
	
	-- Han adds this block of code 8/24/2021
	IF ISNULL(@Price,0.00) = 0.00
	BEGIN
		
		SELECT @Price = CASE WHEN [Special Price (% for bundles)] IS NOT NULL AND 
							GETDATE() BETWEEN [Special Price - Start Date] AND [Special Price - To Date] THEN CAST([Special Price (% for bundles)] AS money)
						ELSE CAST([Retail Price] AS money) END 					
		FROM magento_automated_product_dataset WHERE Sku = @SKU

		--SELECT @Price = CAST(IsNull([Special Price (% for bundles)],[Retail Price]) AS MONEY)  FROM magento_automated_product_dataset WHERE Sku = @SKU
	END
	Return @Price

END
GO
