/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_FanshopImage_Old]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/07/2020
-- Description: Return an Fanshop Image if a SMI is an Fanshop school
-- ============================================= 
CREATE FUNCTION [dbo].[fn_Affinity_FanshopImage_Old]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(200)
--SELECT dbo.fn_Affinity_FanshopImage(130996) --https://edge.prod.cdn.aac-e.com/all/LXG_150 TUMBLER_150-PURP-LSU-L1-CLC_1.jpg
--SELECT dbo.fn_Affinity_FanshopImage(50)  --NULL
--SELECT dbo.fn_Affinity_FanshopImage(131036) --https://edge.prod.cdn.aac-e.com/all/MLAHART_CaptainChair_615789163251_1.jpg
AS
BEGIN
    -- Declare the return variable here
    DECLARE @FanshopUrl VARCHAR(200)
	SET @FanshopUrl = ''
	DECLARE @SKU VARCHAR(50)
	DECLARE @RES VARCHAR(MAX)
    IF dbo.fn_Affinity_Fanshop(@SMI) = '1'
	BEGIN
		select TOP 1 @SKU = SKU from magento_automated_product_dataset
		where 
		(
			[Product Name] LIKE '%Ceramic coffee mug%'
			OR [Product Name] LIKE '%16-ounce Travel Mug Tumbler%'
			-- OR Category LIKE '%NCAA SHOP%'
		)
		AND [Included SMI] = @SMI
		AND Category NOT LIKE '%Pet%'
		and (
			([quantity in stock] > 0  AND [Stock Maintenance] = 'Manage Stock')
			or
			[Stock Maintenance] = 'Do not Manage Stock'
		)
		AND SKU NOT IN 
		(SELECT SKU FROM rectangular_images) --  This particular tumbler that has a rectangular image: https://digitalbalfour.atlassian.net/browse/AP-37
		and status = 'enable'
		and visibility = 'In Catalog and Search'
		-- AND [Retail Price] > 20
		Order by [retail price] desc

		IF @SKU IS NOT NULL
		BEGIN
			SET @RES = [dbo].[fn_get_image_url2](@SKU)
			--SET @RES = 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=' + @SKU + '&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG'
		END
		ELSE
		BEGIN
			SELECT TOP 1 @SKU = p.sku 
			FROM magento_automated_product_dataset p left join itemattributes ia on p.ItemID = ia.itemid 
			WHERE tagtype IN ('a_MasterLicenseType', 'a_LicenseType') and tagvalue = 'NCAA' 
			AND p.SKU NOT IN 
			(SELECT SKU FROM rectangular_images)
			AND (p.[Product Name] NOT LIKE '%Button%' AND p.[Product Name] NOT LIKE '%Cuff%' AND p.[Product Name] NOT LIKE '%Tie%')
			AND [included SMI] = CAST(@SMI AS VARCHAR(50)) 
			AND (ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR (ISNULL([Stock Maintenance],'') = 'Manage Stock' 
			AND [Quantity in Stock] > 0))
			
			SET @RES = [dbo].[fn_get_image_url2](@SKU)

			-- SET @RES = 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=' + '12345' + '&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG'
		END
	END
   RETURN @RES
END
GO
