/****** Object:  UserDefinedFunction [dbo].[fn_InSKUCollection]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/12/2020
-- Description: Determines if a SKU has a Collection
-- =============================================
CREATE FUNCTION [dbo].[fn_InSKUCollection]
(
     @SKU VARCHAR(100) = ''
	,@Collection VARCHAR(MAX) = ''
)
RETURNS BIT
--SELECT [dbo].[fn_InSKUCollection]('A0068455A0000', 'BalProdColl_EA,BalProdColl_EA_NCAA,BalProdColl_FunPatchBackpack,BalProdColl_HSAnn,BalProdColl_HSRings,BalProdColl_HSGradProd,BalProdColl_Letterman,BalProdColl_Rokkitwear,BalProdColl_UIL,BalProdColl_Yearbook,BalProdColl_Journey,BalProdColl_LizJames,BalProdColl_ContStationery,BalProdColl_KSBalfourHS,BalProdColl_UnivCollHS')
--SELECT [product_collection] FROM [magento_automated_product_dataset] WHERE [SKU] = 'A0068455A0000'

AS
BEGIN
    -- Declare the return variable here
    DECLARE @InColl BIT, @Max INT, @Loop INT, @Coll VARCHAR(50), @PC1 NVARCHAR(MAX)
	--SET @Collection = REPLACE(ISNULL(@Collection,''),',','%')
	SET @InColl = 0
	IF LTRIM(RTRIM(@Collection)) <> ''
		BEGIN

			SELECT @PC1 = [product_collection] FROM [dbo].[magento_automated_product_dataset] WHERE [SKU] = @SKU

			DECLARE @PC TABLE ([Coll] NVARCHAR(50), [Loop] INT IDENTITY(1,1))
	
			INSERT INTO @PC ([Coll])
			SELECT * FROM string_split(@Collection,',')
	
			--Loop through the temp table and see if any of the product collections parameter exist in the product
			SELECT @Max = MAX([Loop]), @Loop = 1 FROM @PC
			WHILE @Loop <= @Max
				BEGIN
					SELECT @Coll = '%' + [Coll] + '%' FROM @PC WHERE [Loop] = @Loop

					IF @PC1 LIKE @Coll
						BEGIN
							SET @InColl = 1
							SET @Loop = @Max + 1
						END
					SET @Loop = @Loop + 1
				END


			--SET @Collection = '%' + @Collection + '%'
			--SELECT @InColl = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE @Collection)
		END
    -- Return the result of the function
    RETURN @InColl
END
GO
