/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_AlumniImage]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/07/2020
-- Description: Return an Alumni Image if a SMI is an alumni school
-- Modified Date:  09/28/2020 TL
-- Description:  Added a join to product_included_smi because we normalized the data.  This prevents the error which occurs when trying to convert a comma-delimited string of SMI's to an integer value
-- ============================================= 
CREATE FUNCTION [dbo].[fn_Affinity_AlumniImage]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(200)
--SELECT dbo.fn_Affinity_AlumniImage(130996)  --https://edge.prod.cdn.aac-e.com/all/MLAHART_SterlingSilverCufflinks_615789452188_1.jpg
--SELECT dbo.fn_Affinity_AlumniImage(50)  --NULL
--SELECT dbo.fn_Affinity_AlumniImage(130913) --https://edge.prod.cdn.aac-e.com/all/MLAHART_EnamelTieClip_615789557562_1.jpg
--SELECT dbo.fn_Affinity_AlumniImage(131276) --https://edge.prod.cdn.aac-e.com/all/LXG_Executive Collegiate Gift Set_SET-E5-NMEXST_1.jpg
--SELECT dbo.fn_Affinity_AlumniImage(131424)  --https://edge.prod.cdn.aac-e.com/all/LXG_Executive Collegiate Gift Set_SET-E5-OHIOST_1.jpg
--SELECT dbo.fn_Affinity_AlumniImage(131565) --https://edge.prod.cdn.aac-e.com/all/LXG_Tech Gift Set_SET-A2-MEMPHIS-ORN_1.jpg
AS
BEGIN
    -- Declare the return variable here
    DECLARE @AlumniUrl VARCHAR(200)
	SET @AlumniUrl = ''
	DECLARE @SKU VARCHAR(50)
	DECLARE @RES VARCHAR(MAX)
    IF dbo.fn_Affinity_Alumni(@SMI) = '1'
	BEGIN
		select @SKU = p.SKU from magento_automated_product_dataset p
		inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
		where [enhanced commerce] = 'BALFOUR DIRECT-ML'
		AND [product_collection] = 'BalProdColl_EA_NCAA'
		AND category like '%ACCESSORIES%'
		AND [ATTRIBUTE SET] = 'pim_mas_accessories'
		AND ([Product Name] LIKE '%Button%' OR [Product Name] LIKE '%Cufflink%' OR [Product Name] LIKE '%Tie%')
		-- AND [Included SMI] = @SMI
		and (
			([quantity in stock] > 0  AND [Stock Maintenance] = 'Manage Stock')
			or
			[Stock Maintenance] = 'Do not Manage Stock'
		) 
		AND [Retail Price] < 200
		and status = 'enable'
		and visibility = 'In Catalog and Search'
		Order by [retail price] desc
		IF @SKU IS NOT NULL
		BEGIN
			SET @RES = [dbo].[fn_get_image_url2](@SKU)
			--SET @RES = 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=' + @SKU + '&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG'
		END
		ELSE
		BEGIN
			SELECT @SKU = p.sku FROM itemattributes
			left join magento_automated_product_dataset p on p.ItemID = itemattributes.ItemID
			WHERE itemattributes.itemid IN (
			SELECT P.ITEMID FROM magento_automated_product_dataset p 
			left join itemattributes ia on p.ItemID = ia.itemid 
			inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
			WHERE tagtype IN ('a_MasterLicenseType', 'a_LicenseType') and tagvalue = 'NCAA' 
			-- AND [included SMI] = CAST(@SMI AS VARCHAR(50)) 
			AND (ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR (ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0)))
			AND [tagType] = 'a_BalfourHierarchy' AND [tagvalue] LIKE 'Balfour.com/COLLECTIONS/ALUMNI SHOP%'
			AND p.sku <> 'A0096995A0000'
			SET @RES = [dbo].[fn_get_image_url2](@SKU)
			-- SET @RES = 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=' + '12345' + '&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG'
		END
	END
   RETURN @RES
END
GO
