/****** Object:  UserDefinedFunction [dbo].[IsSubString]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <21 December 2019>
-- Description: <Given two text strings, determines if one string is within another.>
-- =============================================
CREATE FUNCTION [dbo].[IsSubString]
(	
	@a as varchar(255)
  , @b as varchar(255)
)
RETURNS INT
AS
BEGIN
	RETURN	  
		CASE WHEN charindex(@a,@b)+charindex(@b,@a)>0 then 1 else 0
	    END
END
GO
