/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_GradAnnoucementUrl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/07/2020
-- Description: Return Grad Annoucement URL if a SMI is a  Grad Annoucement school
-- =============================================

-- This is also CBGrad according to Eudora
--Elementary' WHEN isMiddleSchool = 1 THEN 'Middle School' WHEN isHighSchool = 1 THEN 'High School' WHEN isCollege = 1 THEN 'College

CREATE FUNCTION [dbo].[fn_Affinity_GradAnnoucementUrl]
(
    @SMI BIGINT = 0
	,@GradeLevel VARCHAR(50) = ''
)

RETURNS VARCHAR(200)
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](23726,'')  --No
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](131037,'')
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](100547,'') -- 
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](98295,'') --No
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](72793,'') --No
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](131276,'') --http://www.cbgrad.balfour.com/get_school.asp?school=NMSU&smi=131276
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](133006,'') --No
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](100339,'') --No
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](131524,'College') --No
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](130996,'College') --http://www.cbgrad.com/school/LSUBR?smi=130996
--SELECT dbo.[fn_Affinity_GradAnnoucementUrl](85028,'High School')  --No - SMI list override


AS

BEGIN
    -- Declare the return variable here
	-- DECLARE @SMI BIGINT = 98295		 , @GradeLevel VARCHAR(50) = 'High School'
    DECLARE @Url VARCHAR(MAX) = '', @productCount INT = 0
 
	-- [11/04/2020] TL - The first place to check is [ContentAffinityPages].[gradAnnouncementsLink]
	SELECT @Url = ISNULL([gradAnnouncementsLink],'') FROM [dbo].[ContentAffinityPages] WHERE [SMI] = @SMI

	-- Culver academy https://www.balfour.com/culver-academies had a bad Override URL. Excluding that. 
	-- we may be able to remove it from the table after verified by ops team. 
	-- [09/14/2020] TL - Business wants colleges without overrides to have no tile
	
	IF ISNULL (@Url, '') = '' AND @GradeLevel IN ('High School') AND EXISTS (SELECT TOP 1 1 FROM magento_automated_product_dataset where [Enhanced Commerce] = 'high school announcements' and [Status] <> 'Disable' and [Visibility] <> 'Not Visible' and ([Exclusive SMI] = @SMI OR @SMI in (select value from STRING_SPLIT([Included SMI], ','))))
		BEGIN
			SELECT @Url = CASE WHEN @GradeLevel IN ('High School') THEN '/shop/graduation-announcements?smi=' + CAST(@SMI AS VARCHAR(25))	
							  ELSE '' END
			FROM School_URL_Master WHERE ProductCollections LIKE '%BalProdColl_ContStationery%' --SMI = @SMI AND (ProductCollections LIKE '%BalProdColl_ContStationery%' OR ProductCollections LIKE '%BalProdColl_HSAnn%')	                   
		
			SET @Url = '/shop/graduation-announcements?smi=' + CAST(@SMI AS VARCHAR(25))

		END
	  	
	IF ISNULL (@Url, '') = '' AND EXISTS(SELECT SMI FROM [dbo].[GradAnnouncementOverrides] WHERE SMI = @SMI)
		BEGIN	   
			SELECT @URL = [CBGrad URL] 
			FROM [dbo].[GradAnnouncementOverrides]
			WHERE SMI = @SMI

			RETURN @URL
		END	 		  
		
    RETURN [dbo].[fn_Add_SMI_If_Needed](@Url,@SMI)
END


/** OLD LOGIC BEFORE 11/12/2021
BEGIN
    -- Declare the return variable here
    DECLARE @Url VARCHAR(MAX)
	SET @URL = ''
	-- [11/04/2020] TL - The first place to check is [ContentAffinityPages].[gradAnnouncementsLink]
	SELECT @Url = ISNULL([gradAnnouncementsLink],'') FROM [dbo].[ContentAffinityPages] WHERE [SMI] = @SMI

	IF ISNULL(@URL,'') = ''
		BEGIN
			select @Url = ISNULL([Clean URL],'') 
			from sitecore_URL_overrides 
			where ([Clean Override] = 'Announcement')
			AND @SMI = [Clean SMI]
			AND @SMI <> 99751
		END
	-- Culver academy https://www.balfour.com/culver-academies had a bad Override URL. Excluding that. 
	-- we may be able to remove it from the table after verified by ops team. 
	-- [09/14/2020] TL - Business wants colleges without overrides to have no tile
	--IF ISNULL (@Url, '') = '' SET @Url = CASE WHEN @GradeLevel IN ('Elementary', 'Middle School', 'High School') THEN 'https://www.balfour.com/contemporary-stationery?smi=' + CAST (@SMI AS VARCHAR(25))
	IF ISNULL (@Url, '') = '' SET @Url = CASE WHEN @GradeLevel IN ('Elementary', 'Middle School', 'High School') THEN 'https://www.balfour.com/shop/graduation/senior-gear/announcements?smi=' + CAST (@SMI AS VARCHAR(25))  -- 10/25/2021 Remove this logic since there is no announcement production available
	ELSE ''/*As of 09/14/2020 there is no default for college and the tile will be turned off if no override*//*'https://www.balfour.com/shop/graduation/announcements/photo-announcements?smi=' + CAST (@SMI AS VARCHAR(25))*/ END

	-- SELECT @Url = ISNULL(gradAnnouncementsLink, '') FROM [dbo].ContentAffinityPages WHERE [SMI] = @SMI
	
	IF EXISTS(
		SELECT SMI FROM [dbo].[GradAnnouncementOverrides]
		WHERE SMI = @SMI
	)
	BEGIN

		IF (GETDATE() > '2020-09-01') 
		BEGIN
			SELECT @URL = [CBGrad URL] 
			FROM [dbo].[GradAnnouncementOverrides]
			WHERE SMI = @SMI
		END
		ELSE
		BEGIN
			SELECT @URL = [MAGENTO URL]
			FROM [dbo].[GradAnnouncementOverrides]
			WHERE SMI = @SMI
		END
	END

	-- Final check - see if it is in the SMI List - "Don't Show Announcement Tiles for these schools"
	IF [dbo].[fn_SMI_in_list] ('05ABDBF4-1077-4F31-A6F0-B651BABD0B3A',CAST(@SMI as INT)) = 1
	BEGIN
		-- Don't show announcement here
		SET @Url = ''
	END

    RETURN [dbo].[fn_Add_SMI_If_Needed](@Url,@SMI)

END
*/
 
GO
