/****** Object:  UserDefinedFunction [dbo].[fn_FormatTimezone]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/28/2020
-- Description: Converts a timezone to proper format considering the start and finish of daylight savings
-- =============================================
CREATE FUNCTION [dbo].[fn_FormatTimezone]
(
    -- Add the parameters for the function here
     @TimeZoneIn VARCHAR(50)
	,@DTM DATETIME
)
--SELECT dbo.fn_FormatTimezone ('CST',GETDATE())
RETURNS VARCHAR(3)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @TimeZone VARCHAR(3), @IsDST BIT
	SET @IsDST = 0
	SET @TimeZoneIn = LTRIM(RTRIM(@TimeZoneIn))
	SET @TimeZone = LEFT(@TimeZoneIn,3)
    IF @DTM BETWEEN dbo.fn_GetDstStart(DATEPART(year,@DTM)) AND dbo.fn_GetDstEnd(DATEPART(year,@DTM))
		SET @IsDST = 1 --Daylight Savings Time
	--Eastern
	IF @TimeZoneIn IN ('EST','EDT','Eastern','Eastern Standard Time','Eastern Daylight Time','Eastern Standard','Eastern Daylight','Eastern Time')
		SET @TimeZone = CASE WHEN @IsDST = 1 THEN 'EDT' ELSE 'EST' END
	--Central
	IF @TimeZoneIn IN ('CST','CDT','Central','Central Standard Time','Central Daylight Time','Central Standard','Central Daylight','Central Time')
		SET @TimeZone = CASE WHEN @IsDST = 1 THEN 'CDT' ELSE 'CST' END
	--Mountain
	IF @TimeZoneIn IN ('MST','MDT','Mountain','Mountain Standard Time','Mountain Daylight Time','Mountain Standard','Mountain Daylight','Mountain Time')
		SET @TimeZone = CASE WHEN @IsDST = 1 THEN 'MDT' ELSE 'MST' END
	--Pacific
	IF @TimeZoneIn IN ('PST','PDT','Pacific','Pacific Standard Time','Pacific Daylight Time','Pacific Standard','Pacific Daylight','Pacific Time')
		SET @TimeZone = CASE WHEN @IsDST = 1 THEN 'PDT' ELSE 'PST' END
	

    -- Return the result of the function
    RETURN @TimeZone
END
GO
