/****** Object:  UserDefinedFunction [dbo].[fn_Calc_Marketing_Image_URL]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03/17/2021
-- Description: Calculates the marketimg image URL
-- =============================================
CREATE FUNCTION [dbo].[fn_Calc_Marketing_Image_URL]
(
    @SKU VARCHAR(50)
)
RETURNS VARCHAR(255)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @ResultVar VARCHAR(255)

    -- Add the T-SQL statements to compute the return value here
    SET @ResultVar = ''
	SELECT @ResultVar = REPLACE(LTRIM(RTRIM(ISNULL([image_url],''))),'https://d3qsmzzpeeacu6.cloudfront.net/all/', 'https://edge.prod.cdn.aac-e.com/all/') FROM dbo.magento_automated_product_dataset WHERE [SKU] = @SKU
	IF @ResultVar = ''
		SELECT @ResultVar = REPLACE(LTRIM(RTRIM(ISNULL([image_url],''))),'https://d3qsmzzpeeacu6.cloudfront.net/all/', 'https://edge.prod.cdn.aac-e.com/all/') FROM dbo.magento_automated_product_dataset WHERE [SKU] IN (SELECT [ParentSKU] FROM dbo.magento_automated_product_dataset WHERE [SKU] = @SKU)

    -- Return the result of the function
    RETURN @ResultVar
END
GO
