/****** Object:  UserDefinedFunction [dbo].[fn_GetSchoolName]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10-01-2019
-- Description: Function to get school name given SMI
-- =============================================
CREATE FUNCTION [dbo].[fn_GetSchoolName]
(
    -- Add the parameters for the function here
    @SMI INT
)
RETURNS VARCHAR(255)
AS
BEGIN
    DECLARE @SchoolName VARCHAR(255)

    SELECT @SchoolName = ISNULL([ALtName],'') FROM School_URL_Master WHERE SMI = @SMI

    RETURN @SchoolName
END
GO
