/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_RingOnly]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/17/2020
-- Description: Determines if a SMI is a letterman school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_RingOnly]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_RingOnly(130996) -- LSU --0
--SELECT dbo.fn_Affinity_RingOnly(1034) --0
--SELECT dbo.fn_Affinity_RingOnly(131662) -- UTA --1
--SELECT dbo.fn_Affinity_RingOnly(131575) -- Baylor --1
--SELECT dbo.fn_Affinity_RingOnly(131276) --0 
--SELECT dbo.fn_Affinity_RingOnly(131722) -- VT --1
--SELECT SchoolSMI FROM [dbo].[sitecore_ring_only] WHERE SchoolSMI = 131722
AS
BEGIN
    -- Declare the return variable here
    DECLARE @RingOnly BIT
	SET @RingOnly = 0
    SELECT @RingOnly = 1 WHERE EXISTS (SELECT SchoolSMI FROM [dbo].[sitecore_ring_only] WHERE SchoolSMI = @SMI)
		
    -- Return the result of the function
    RETURN @RingOnly
END
GO
