/****** Object:  UserDefinedFunction [dbo].[EnhancedSchoolName]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <21 December 2019>
-- Description: <Removes special characters. Useful for match logic>
-- =============================================
CREATE FUNCTION [dbo].[EnhancedSchoolName]
( 
 @Str as varchar(255)
)
RETURNS varchar(255)
AS
BEGIN
 RETURN
 trim(Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (Replace
 (' '+@Str+' ','.','')
 ,'.','')
 ,';','')
 ,'-','')
 ,'''','')
 ,'"','')
 ,'(','')
 ,')','')
 ,' fsu ',' Florida State University ')
 ,' ucla ',' University of California Los Angeles ')
 ,' uc davis ',' University of California Davis ')
 ,' uc berkeley ',' University of California Berkeley ')
 ,' uno ',' University of Nebraska Omaha ')
 ,' lsu ',' Louisiana State University ')
 ,' UC Santa Cruz ',' University of California Santa Cruz ')
 ,' HS ',' High School ')
 ,' University of CA ',' University of California ')
 ,' CUNY ',' The City University of New York ')
 ,' SUNY ',' State University of New York ')
 ,' A&M ',' Agricultural and Mechanical ')
 ,' A & M ',' Agricultural and Mechanical ')
 ,' UC Berkeley ',' University of California Berkeley ')
 ,' the ',' ')
 ,' of ',' ') 
 ,'#','')
 ,'&','')
 )
END
GO
