/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_GradeLevel]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/19/2020
-- Description: Determines the grade level of a SMI
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_GradeLevel]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(50)
--SELECT dbo.fn_Affinity_GradeLevel(130996) --College
--SELECT dbo.fn_Affinity_GradeLevel(50) --High School
--SELECT dbo.fn_Affinity_GradeLevel(122451) --High School but data shows High School and Middle School
--SELECT dbo.fn_Affinity_GradeLevel(121656)  --High School but data shows High School and Middle School
--SELECT dbo.fn_Affinity_GradeLevel(51567)  --Middle School but data shows Elementary and Middle School
AS
BEGIN
    -- Declare the return variable here
    DECLARE @GradeLevel VARCHAR(50)
	SET @GradeLevel = ''
	SELECT @GradeLevel = CASE WHEN isCollege = 1 THEN 'College' WHEN isHighSchool = 1 THEN 'High School' WHEN isMiddleSchool = 1 THEN 'Middle School' WHEN isElementary = 1 THEN 'Elementary' ELSE '' END FROM school_url_master WHERE smi = @smi
    	
    -- Return the result of the function
    RETURN @GradeLevel
END
GO
