/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_LizJames]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/06/2020
-- Description: Determines if a SMI is a Liz James school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_LizJames]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_LizJames(130996)
--SELECT dbo.fn_Affinity_LizJames(1034)
--SELECT dbo.fn_Affinity_LizJames(131276)
--SELECT dbo.fn_Affinity_LizJames(131575)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @LizJames BIT
	SET @LizJames = 0
    SELECT @LizJames = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE '%BalProdColl_LizJames%')
	--As of 10/09/2020 we check for a Liz James suppression flag - 65536 
	IF @LizJames = 1
		BEGIN
			DECLARE @Flags BIGINT
			SET @Flags = 0
			SELECT @Flags = [Flags] FROM [dbo].[ContentAffinityPages] WHERE [SMI] = @SMI
			IF (@Flags & 65536) > 0 SET @LizJames = 0
		END
    -- Return the result of the function
    RETURN @LizJames
END
GO
