/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Fanshop]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/05/2020
-- Description: Determines if a SMI is a fan shop school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Fanshop]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_Fanshop(130996) --Yes
--SELECT dbo.fn_Affinity_Fanshop_New(130996) --Yes
--SELECT dbo.fn_Affinity_Fanshop(50) --No
--SELECT dbo.fn_Affinity_Fanshop_New(50) --No
--SELECT dbo.fn_Affinity_Fanshop_New(130913) --Yes
--SELECT dbo.fn_Affinity_Fanshop(131388) --False Positive
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Fanshop BIT
	SET @Fanshop = 0

    SELECT @Fanshop = 1 WHERE EXISTS (
		SELECT * 
		FROM magento_automated_product_dataset p 
		left join itemattributes ia on p.ItemID = ia.itemid 
		inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
		WHERE tagtype IN ('a_MasterLicenseType', 'a_LicenseType') 
		and tagvalue = 'NCAA' 
		--AND [included SMI] = CAST(@SMI AS VARCHAR(50)) 
		AND (
				ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' 
				OR (ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0)
			)
		AND p.status = 'Enable'
		)
		
		
    -- Return the result of the function
    RETURN @Fanshop
END
GO
