/****** Object:  UserDefinedFunction [dbo].[ValidPhone]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <25 July 2019>
-- Description: <Attempts to validate structure of the phone number and protect from common fake numbers.>
-- =============================================
CREATE FUNCTION [dbo].[ValidPhone]
(	
	@Phone as varchar(50)
)
RETURNS varchar(50)
AS
BEGIN
	RETURN	  
		CASE when len(dbo.RemoveNonNumericCharacters(@Phone))<2 or dbo.RemoveNonNumericCharacters(@Phone) in ('0000000000','1111111111','2222222222','3333333333','4444444444','5555555555','6666666666','777777777','8888888888','9999999999','1234567890','0123456789','9876543210')
		 then 'Invalid' else dbo.RemoveNonNumericCharacters(@Phone) end
END
GO
