/****** Object:  UserDefinedFunction [dbo].[fn_JS_SMI_Array]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03/02/2021
-- Description: Returns a JS array from a SMI list.
-- =============================================
CREATE FUNCTION [dbo].[fn_JS_SMI_Array]
(
    @GUID VARCHAR(50) = ''
)
RETURNS VARCHAR(MAX)
AS
--SELECT dbo.fn_JS_SMI_Array ('BAF986E5-3EFB-42C1-9F30-FF6F738BB948')
BEGIN
    -- Declare the return variable here
    DECLARE @SMIs VARCHAR(MAX), @Comma VARCHAR(3)
	SELECT @SMIs = '["', @Comma = ''
	SELECT @SMIs = @SMIs + @Comma + CAST([SMI] AS VARCHAR(15)), @Comma = '","' FROM [dbo].[SMIListsDetails] WHERE [SMIListGUID] = @GUID
	SET @SMIs = @SMIs + '"]'
    -- Return the result of the function
    RETURN @SMIs
END
GO
