/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_AlumniUrl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 08/07/2020
-- Description: Return an Alumni URL if a SMI is an alumni school
-- ============================================= 
CREATE FUNCTION [dbo].[fn_Affinity_AlumniUrl]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(200)
--SELECT dbo.fn_Affinity_AlumniUrl(130996)
--SELECT dbo.fn_Affinity_AlumniUrl(50)
--SELECT dbo.fn_Affinity_AlumniUrl(130913)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @AlumniUrl VARCHAR(200)
	SET @AlumniUrl = ''
	--Place alumni logic here
    IF dbo.fn_Affinity_Alumni(@SMI) = 1
	BEGIN
		select @AlumniUrl = ISNULL([Clean URL],'') 
		from sitecore_URL_overrides where [Clean Override] = 'Alumni'
		AND @SMI = [Clean SMI]

		IF len(@AlumniUrl) - len(replace(@AlumniUrl, '/', '')) > 1
		BEGIN
			SET @AlumniUrl = '../..' + @AlumniUrl 
		END

		IF @AlumniUrl = '' 
		BEGIN
			SET @AlumniUrl = 'https://www.balfour.com/shop/collections/alumni-shop?product_list_order=relevance&smi=' + CAST(@SMI as VARCHAR(25))
		END

		
		
	END
	
		
	
    -- Return the result of the function
    RETURN [dbo].[fn_Add_SMI_If_Needed](@AlumniUrl,@SMI)
END
GO
