/****** Object:  UserDefinedFunction [dbo].[fn_get_silverpop_errors_from_response]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10-18-2019
-- Description: Determines number of errors by parsing JSON response from Silverpop
-- =============================================
CREATE FUNCTION [dbo].[fn_get_silverpop_errors_from_response]
(
    @rawData NVARCHAR(MAX)
)
RETURNS VARCHAR(50)
AS
BEGIN
--{"?xml":{"@version":"1.0","@encoding":"UTF-8","@standalone":"yes"},"XTMAILING_RESPONSE":{"CAMPAIGN_ID":"60389074","TRANSACTION_ID":"dotnet-api-00201373-72cd-4321-9294-9f80b450e9ad","RECIPIENTS_RECEIVED":"1","EMAILS_SENT":"1","NUMBER_ERRORS":"0","STATUS":"0","ERROR_CODE":"0","ERROR_STRING":""},"Function Response":{"ID":13469,"Email Name":"orderconfirm","Entity":"Balfour","Email Addresses":"werkhovennm@gmail.com","Status":"Success"}}
	DECLARE @Value VARCHAR(50)
	SET @Value = ''
	IF ISNULL(@rawData,'') <> ''
		BEGIN
			SELECT @rawData = ISNULL([Value],'') FROM OPENJSON(@rawData) WHERE [Key] = 'XTMAILING_RESPONSE'
			IF ISNULL(@rawData,'') <> ''
				SELECT @Value = ISNULL([Value],'') FROM OPENJSON(@rawData) WHERE [Key] = 'NUMBER_ERRORS'
		END
	RETURN @Value
END
GO
