/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Spiritwear]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/05/2020
-- Description: Determines if a SMI is a spiritwear school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Spiritwear]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_Spiritwear(130996)
--SELECT dbo.fn_Affinity_Spiritwear(50)
--SELECT dbo.fn_Affinity_Spiritwear(131276)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Spiritwear BIT
	SET @Spiritwear = 0
    SELECT @Spiritwear = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE '%rokkitwear%')
		
    -- Return the result of the function
    RETURN @Spiritwear
END
GO
