/****** Object:  UserDefinedFunction [dbo].[stripFratSorFromSchoolName]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[stripFratSorFromSchoolName]
(
   @inputString as varchar(max)
)
RETURNS varchar(max)
AS
BEGIN
    select @inputString = REPLACE(@inputString, schoolnameappend, '') 
      from schoolnameappend
    RETURN @inputString
END
GO
