/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_YearbookOnly]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/03/2020
-- Description: Determines if a SMI is yearbook only
-- Depricated date:  09/29/2020 Stopped using the separate table in favor of ContentAffinityPages because that has better data (Flags & 16 > 0) and this eliminates a join to a seperate table.  
-- So, there is no need to call this from s_get_affibity_date but I updated this in case it gets called elsewhere.
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_YearbookOnly]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_YearbookOnly(130996) --No
--SELECT dbo.fn_Affinity_YearbookOnly(131276) --No
--SELECT dbo.fn_Affinity_YearbookOnly(130996) --No
--SELECT dbo.fn_Affinity_YearbookOnly(106704) --Yes
--SELECT dbo.fn_Affinity_YearbookOnly(134432) --Yes
AS
BEGIN
    -- Declare the return variable here
    DECLARE @YearbookOnly BIT
	SET @YearbookOnly = 0
	--Tramel/Han MAKE THIS BETTER
    SELECT @YearbookOnly = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[ContentAffinityPages] WHERE /*([SMI] = @SMI AND [schoolShopTileGroupGUID] = '1BB92780-E382-489C-9F85-8D37A2AD4EA8') OR */([SMI] = @SMI AND ([Flags] & 16) > 0))
		
    -- Return the result of the function
    RETURN @YearbookOnly
END
GO
