/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Yearbook]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/14/2020
-- Description: Determines if a SMI has yearbooks
-- Modified Date:  09/25/2020 TL
-- Description:  A school is also a yearbook school if it has yearbook accessories but some of those are shared so we had to start checking 
-- product data for included SMI's.
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Yearbook]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_Yearbook(68368) --0    
--SELECT dbo.fn_Affinity_Yearbook (77543) --0
--SELECT dbo.fn_Affinity_Yearbook (131276) --0
--SELECT dbo.fn_Affinity_Yearbook (131698) --0
--SELECT dbo.fn_Affinity_Yearbook (70494) --Burnet - 1
--SELECT dbo.fn_Affinity_Yearbook (30421) --Livonia - 0
--SELECT dbo.fn_Affinity_Yearbook (68558) --1

AS
BEGIN
    -- Declare the return variable here
    DECLARE @Yearbook BIT
	SET @Yearbook = 0
	
    SELECT @Yearbook = 1 WHERE EXISTS (SELECT [Exclusive SMI] FROM magento_automated_product_dataset WHERE [enhanced Commerce] IN ('YEARBOOKS','YEARBOOK ACCESSORIES') and status = 'enable' and ISNULL([visibility],'Not Visible') <> 'Not Visible' and [Exclusive SMI] = CAST(@SMI AS VARCHAR(15)))
	IF @Yearbook = 0
		SELECT @Yearbook = 1 WHERE EXISTS (SELECT TOP 1 P.SKU FROM magento_automated_product_dataset P
			INNER JOIN Product_Included_SMI PIS ON PIS.[SKU] = P.[SKU]
			AND [Included_SMI] = @SMI
			AND [Enhanced Commerce] IN ('YEARBOOK', 'YEARBOOK ACCESSORIES') AND ISNULL(Visibility,'Not Visible') <> 'Not Visible'
			AND [Status] = 'Enable')
		
    -- Return the result of the function
    RETURN @Yearbook
END
GO
