/****** Object:  UserDefinedFunction [dbo].[LNEmailKey]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <17 August 2019>
-- Description: <Match logic key for street, zip5, and last name.>
-- =============================================
CREATE FUNCTION [dbo].[LNEmailKey]
(	
	@Em as varchar(50)
	,@LN as varchar(50)
)
RETURNS varchar(101)
AS
BEGIN
	RETURN	  
		upper(replace(@LN+'z'+@Em,' ',''))
END
GO
