/****** Object:  UserDefinedFunction [dbo].[fn_convert_email_data_to_internal_request_body]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Han Tran
-- Create Date: 2/6/2020 
-- Description: Determine if the order is shipped to NonContiguous States: HI, AK, PR(Peurto Rico), GU (Guam) 
-- =============================================

CREATE FUNCTION [dbo].[fn_convert_email_data_to_internal_request_body]
(
	@Data NVARCHAR(MAX) = ''   
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @Result NVARCHAR(MAX), @ShippingState VARCHAR(50), @Working VARCHAR(MAX), @JSON NVARCHAR(MAX), @OrderNumber NVARCHAR(MAX), @Cnt INT 
    SET @Result = ''
   --DECLARE @Data NVARCHAR(MAX)    
	IF ISNULL(@Data,'') = '' -- for testing 
	BEGIN
		--SELECT TOP 1 @Data = rawData FROM dbo.EmailJobs_Queue WHERE rawData <> '{"action":"optin"}' and rawData NOT LIKE '%YEARBOOK%' and rawData LIKE '%Alaska%' ORDER BY ID DESC
		SET @Data = '{"applied_rule_ids":"1","base_currency_code":"USD","base_discount_amount":0,"base_discount_invoiced":0,"base_grand_total":21.99,"base_discount_tax_compensation_amount":0,"base_discount_tax_compensation_invoiced":0,"base_shipping_amount":0,"base_shipping_discount_amount":0,"base_shipping_discount_tax_compensation_amnt":0,"base_shipping_incl_tax":0,"base_shipping_invoiced":0,"base_shipping_tax_amount":0,"base_subtotal":21.99,"base_subtotal_incl_tax":21.99,"base_subtotal_invoiced":21.99,"base_tax_amount":0,"base_tax_invoiced":0,"base_total_due":0,"base_total_invoiced":21.99,"base_total_invoiced_cost":0,"base_total_paid":21.99,"base_to_global_rate":1,"base_to_order_rate":1,"billing_address_id":1513030,"created_at":"2020-02-05 17:46:51","customer_email":"marvin222@mail.com","customer_group_id":0,"customer_is_guest":1,"customer_note_notify":1,"discount_amount":0,"discount_description":"FREE SHIPPING","discount_invoiced":0,"entity_id":898471,"global_currency_code":"USD","grand_total":21.99,"discount_tax_compensation_amount":0,"discount_tax_compensation_invoiced":0,"increment_id":"000967367","is_virtual":0,"order_currency_code":"USD","protect_code":"ffacc53bef45efdf231b13f177609f3e","quote_id":4083763,"remote_ip":"10.93.10.212","shipping_amount":0,"shipping_description":"Free Shipping - Free","shipping_discount_amount":0,"shipping_discount_tax_compensation_amount":0,"shipping_incl_tax":0,"shipping_invoiced":0,"shipping_tax_amount":0,"state":"processing","status":"processing","store_currency_code":"USD","store_id":1,"store_name":"Balfour\nMy Balfour\nDefault Store","store_to_base_rate":0,"store_to_order_rate":0,"subtotal":21.99,"subtotal_incl_tax":21.99,"subtotal_invoiced":21.99,"tax_amount":0,"tax_invoiced":0,"total_due":0,"total_invoiced":21.99,"total_item_count":1,"total_paid":21.99,"total_qty_ordered":1,"updated_at":"2020-02-05 17:46:51","weight":1,"x_forwarded_for":"2600:100f:b024:c0f8:2c12:4fc0:a8","items":[{"amount_refunded":0,"applied_rule_ids":"1","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_discount_tax_compensation_invoiced":0,"base_original_price":27.49,"base_price":21.99,"base_price_incl_tax":21.99,"base_row_invoiced":21.99,"base_row_total":21.99,"base_row_total_incl_tax":21.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2020-02-05 17:46:51","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"discount_tax_compensation_invoiced":0,"is_qty_decimal":0,"is_virtual":0,"item_id":2299949,"name":"Toddlers LA Chargers Outdoor Folding Chair","no_discount":0,"order_id":898471,"original_price":27.49,"price":21.99,"price_incl_tax":21.99,"product_id":10121,"product_type":"simple","qty_canceled":0,"qty_invoiced":1,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":3867547,"row_invoiced":21.99,"row_total":21.99,"row_total_incl_tax":21.99,"row_weight":0,"sku":"A0007671A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2020-02-05 17:46:51","weee_tax_applied":"[]","weight":1,"extension_attributes":{"product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/LogoBrands_LA Chargers Toddler Chair_626-20_1_165x165.jpg","delivery_method":"Home"}}],"billing_address":{"address_type":"billing","city":"Palmer","country_id":"US","email":"marvin222@mail.com","entity_id":1513030,"firstname":"Jacob","lastname":"Jost","parent_id":898471,"postcode":"99645","region":"Alaska","region_code":"AK","region_id":2,"street":["8050 E Commons Cir"],"telephone":"9077648789"},"payment":{"account_status":null,"additional_information":["1","","CJADZMADC644Y","marvin222@mail.com","verified","Confirmed","3d01ddd91a73b","CJADZMADC644Y","EC-87R323166X144702S","PayPal",null,"Eligible","completed","None"],"amount_authorized":21.99,"amount_ordered":21.99,"amount_paid":21.99,"base_amount_authorized":21.99,"base_amount_ordered":21.99,"base_amount_paid":21.99,"base_amount_paid_online":21.99,"base_shipping_amount":0,"base_shipping_captured":0,"cc_exp_year":"0","cc_last4":null,"cc_ss_start_month":"0","cc_ss_start_year":"0","entity_id":898470,"last_trans_id":"1SN33764NL691635X","method":"paypal_express","parent_id":898471,"shipping_amount":0,"shipping_captured":0},"status_histories":[{"comment":"Captured amount of $21.99 online. Transaction ID: \"<a target=\"_blank\" href=\"https://www.paypal.com/cgi-bin/webscr?cmd=_view-a-trans&id=1SN33764NL691635X\">1SN33764NL691635X</a>\"","created_at":"2020-02-05 17:46:51","entity_id":1126610,"entity_name":"invoice","is_customer_notified":null,"is_visible_on_front":0,"parent_id":898471,"status":"processing"}],"extension_attributes":{"handling_fees_amount":"0","shipping_assignments":[{"shipping":{"address":{"address_type":"shipping","city":"Palmer","country_id":"US","email":"marvin222@mail.com","entity_id":1513029,"firstname":"Jacob","lastname":"Jost","parent_id":898471,"postcode":"99645","region":"Alaska","region_code":"AK","region_id":2,"street":["8050 E Commons Cir"],"telephone":"9077648789"},"method":"flatrate_flatrate","total":{"base_shipping_amount":0,"base_shipping_discount_amount":0,"base_shipping_discount_tax_compensation_amnt":0,"base_shipping_incl_tax":0,"base_shipping_invoiced":0,"base_shipping_tax_amount":0,"shipping_amount":0,"shipping_discount_amount":0,"shipping_discount_tax_compensation_amount":0,"shipping_incl_tax":0,"shipping_invoiced":0,"shipping_tax_amount":0}},"items":[{"amount_refunded":0,"applied_rule_ids":"1","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_discount_tax_compensation_invoiced":0,"base_original_price":27.49,"base_price":21.99,"base_price_incl_tax":21.99,"base_row_invoiced":21.99,"base_row_total":21.99,"base_row_total_incl_tax":21.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2020-02-05 17:46:51","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"discount_tax_compensation_invoiced":0,"is_qty_decimal":0,"is_virtual":0,"item_id":2299949,"name":"Toddlers LA Chargers Outdoor Folding Chair","no_discount":0,"order_id":898471,"original_price":27.49,"price":21.99,"price_incl_tax":21.99,"product_id":10121,"product_type":"simple","qty_canceled":0,"qty_invoiced":1,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":3867547,"row_invoiced":21.99,"row_total":21.99,"row_total_incl_tax":21.99,"row_weight":0,"sku":"A0007671A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2020-02-05 17:46:51","weee_tax_applied":"[]","weight":1}]}],"gift_cards":[],"base_gift_cards_amount":0,"gift_cards_amount":0,"gw_base_price":"0.0000","gw_price":"0.0000","gw_items_base_price":"0.0000","gw_items_price":"0.0000","gw_card_base_price":"0.0000","gw_card_price":"0.0000"}}'
	END
	IF CHARINDEX('yearbook', @Data) = 0  -- If one of the items in the order is Yearbook, return nothing - will check in Netsuite to send an alert after the order gets splitted in NS
		BEGIN
		 --Shipping Address
            SET @ShippingState = ''
            SELECT @Working = [VALUE] FROM OPENJSON(@Data) WHERE [key] = 'extension_attributes'
            SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = '0'
            SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'shipping_assignments'
            SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = '0'
            --Make sure there is a shipping block
			
            SELECT @Cnt = COUNT(*) FROM OPENJSON(@Working) WHERE [key] = 'shipping'
            IF @Cnt > 0
                BEGIN
                    SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'shipping'
                    --Make sure there is an address block
                    SELECT @Cnt = COUNT(*) FROM OPENJSON(@Working) WHERE [key] = 'address'
                    IF @Cnt > 0
                        BEGIN
                            SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'address'
                            SELECT @ShippingState = [VALUE] FROM OPENJSON(@Working) WHERE [key] =  'region_code'

                            IF @ShippingState = 'PR' OR @ShippingState = 'GU' OR @ShippingState = 'AK' OR @ShippingState = 'HI'
								BEGIN
									SELECT @OrderNumber = [VALUE] FROM  OPENJSON(@Data) WHERE [key] = 'increment_id'
									SET @Result = '{"orderID":"' + @OrderNumber + '","emailAddresses":"lindsay.lamb@balfour.com;monica.ussin@balfour.com;han.tran@balfour.com"}'
									--PRINT @Result
								END        
                        END
                END
		END

	RETURN @Result	 
END


--SELECT [dbo].[fn_convert_email_data_to_internal_request_body]('')
GO
