/****** Object:  UserDefinedFunction [dbo].[fn_MonthName]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/28/2020
-- Description: Formats the month according to style guide
-- =============================================
CREATE FUNCTION [dbo].[fn_MonthName]
(
    @Month INT
)
RETURNS VARCHAR(5)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @MonthName VARCHAR(5)

    SET @MonthName = CASE @Month 
		WHEN 1 THEN 'Jan.' 
		WHEN 2 THEN 'Feb.'
		WHEN 3 THEN 'March'
		WHEN 4 THEN 'April'
		WHEN 5 THEN 'May'
		WHEN 6 THEN 'June'
		WHEN 7 THEN 'July'
		WHEN 8 THEN 'Aug.'
		WHEN 9 THEN 'Sept.'
		WHEN 10 THEN 'Oct.'
		WHEN 11 THEN 'Nov.'
		WHEN 12 THEN 'Dec.'
		ELSE 'Jan.' END

    -- Return the result of the function
    RETURN @MonthName
END
GO
