/****** Object:  UserDefinedFunction [dbo].[fn_GetParentChild]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11/13/2019
-- Description: 
-- =============================================
CREATE FUNCTION [dbo].[fn_GetParentChild]
(
    
    @Class NVARCHAR(255)
)
RETURNS NVARCHAR(255)
AS
BEGIN


DECLARE @ParentChild NVARCHAR(255), @Col VARCHAR(4)
SET @ParentChild = ''
SET @Col = ''
SELECT TOP 2 @ParentChild = @ParentChild + @Col + LTRIM(RTRIM([Value])), @Col = ' : ' FROM string_split(@Class,':')
RETURN @ParentChild
END
GO
