/****** Object:  UserDefinedFunction [dbo].[fn_emailobs_queue_key_exists]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/22/2019
-- Description: Function to determine if key is already in the email data
-- =============================================
CREATE FUNCTION [dbo].[fn_emailobs_queue_key_exists]
(
    -- Add the parameters for the function here
      @Key_Name VARCHAR(50)
	, @Key_Value VARCHAR(50)
)
RETURNS BIT
AS
BEGIN
--SELECT dbo.fn_emailobs_queue_key_exists('OrderNumber', '000701501')
    -- Declare the return variable here
    DECLARE @Result BIT, @Cnt INT
	SET @Result = 0
	SET @Cnt = 0
    SELECT @Cnt = COUNT(*) FROM dbo.EmailJobs_Queue WHERE ISNULL([Key_Name],'') = @Key_Name AND ISNULL([Key_Value],'') = @Key_Value
	IF @Cnt > 0 SET @Result = 1
    -- Return the result of the function
    RETURN @Result
END
GO
