/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_SpiritwearUrl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 08/07/2020
-- Description: Return Spiritwear URL if a SMI is a spiritwear school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_SpiritwearUrl]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(200)
--SELECT dbo.fn_Affinity_SpiritwearUrl(130996) --''
--SELECT dbo.fn_Affinity_SpiritwearUrl(50) --https://www.balfour.com/shop/collections/spiritwear?smi=50
--SELECT dbo.fn_Affinity_SpiritwearUrl(96844) -- override --/shop/collections/spiritwear
--SELECT dbo.fn_Affinity_SpiritwearUrl(131276) --''
AS
BEGIN
    -- Declare the return variable here  
    DECLARE @SpiritwearUrl VARCHAR(200) 
	SET @SpiritwearUrl = ''
	IF [dbo].[fn_Affinity_Spiritwear](@SMI) = '1'
	BEGIN

		select @SpiritwearUrl = ISNULL([Clean URL],'') 
		from sitecore_URL_overrides where [Clean Override] = 'Rokkitwear'
		AND @SMI = [Clean SMI]

		IF @SpiritwearUrl = '' 
		BEGIN
			SET @SpiritwearUrl = '/shop/collections/spiritwear?smi=' + CAST(@SMI as VARCHAR(25))
		END

	END
		
    -- Return the result of the function
    RETURN @SpiritwearUrl
END
GO
