/****** Object:  UserDefinedFunction [dbo].[fn_SchoolEventLocationsDatesForEcom]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01-06-2020
-- Description: Builds a list of school event location dates and times for a school event location record
-- =============================================
CREATE FUNCTION [dbo].[fn_SchoolEventLocationsDatesForEcom]
(
     @Location_GUID VARCHAR(50)
)
RETURNS VARCHAR(MAX)
AS
--SELECT [dbo].[fn_SchoolEventLocationsDates] ('E9C6EC19-600A-4172-A170-6041D87F7D62')
--SELECT [dbo].[fn_SchoolEventLocationsDates] ('F602FD72-6AC3-4935-8A06-A94A306DA223')
BEGIN
	DECLARE @Result VARCHAR(MAX)
	SET @Result = ''
	DECLARE @And VARCHAR(50)
	SET @And = ''

	SELECT @Result = @Result + @And + FORMAT(/*dbo.[fn_DateTime_to_Central](*/EventStartDate/*)*/,'MMM d') + CASE WHEN [EventEndDate] IS NOT NULL THEN ' - ' + FORMAT(/*dbo.[fn_DateTime_to_Central](*/EventEndDate/*)*/,'MMM d') ELSE '' END + CASE WHEN [dbo].[fn_SchoolEventLocationsDatesTimesForEcom] ([GUID]) = '' THEN '' ELSE '<br />' + [dbo].[fn_SchoolEventLocationsDatesTimesForEcom] ([GUID]) END, @And = '<br />' 
	FROM [dbo].[School_Events_Locations_Dates] WHERE [Location_GUID] = @Location_GUID

	----Find the last ', ' and make it ' and '
	--if CHARINDEX(',',reverse(@Result)) > 0
	--	SET @Result = LEFT(@Result,LEN(@Result)-(CHARINDEX(',',reverse(@Result)))) + '<br />' + RIGHT(@Result,CHARINDEX(',',reverse(@Result))-2)
	RETURN @Result
END
GO
