/****** Object:  UserDefinedFunction [dbo].[FNAddrKey]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <17 August 2019>
-- Description: <Match logic key for street, zip5, and last name.>
-- =============================================
CREATE FUNCTION [dbo].[FNAddrKey]
(	
	@Street1 as varchar(50)
	, @Zip5 as varchar(5)
	,@FN as varchar(50)
)
RETURNS varchar(107)
AS
BEGIN
	RETURN	  
		upper(replace(@FN+'z'+@Zip5+'z'+@Street1,' ',''))
END
GO
