/****** Object:  UserDefinedFunction [dbo].[EmailScore]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <25 July 2019>
-- Description: <Assigns a reliability score to email addresses.>
-- =============================================
CREATE FUNCTION [dbo].[EmailScore]
(	
	@Email as varchar(100)
  , @FirstName as varchar(100)
  , @LastName as varchar(100)
)
RETURNS INT
AS
BEGIN
	RETURN	  
		Case when charindex(upper(@FirstName),upper(@Email))*charindex(upper(@LastName),upper(@Email)) > 0 then 10
	    else case when charindex(left(upper(@FirstName),1)+@LastName,upper(@Email))>0 then 10
		  else case when charindex(upper(@LastName),upper(@Email)) > 0 then 9
		    else case when charindex(left(upper(@FirstName),3),upper(@Email))*charindex(left(upper(@LastName),3),upper(@Email))>0 then 9
		      else case when charindex(upper(@FirstName),upper(@Email)) > 0 then 8
			    else case when charindex(left(upper(@FirstName),3),upper(@Email))+charindex(left(upper(@LastName),3),upper(@Email))>0 then 7
				  else case when (left(upper(@Email),5)='NONE@' or left(upper(@Email),8)='NOEMAIL@') then 1
				   else 6
				 end
				end
			  end
		    end
		  end
	    end
	  END
END
GO
