/****** Object:  UserDefinedFunction [dbo].[EmailPrefix]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <25 July 2019>
-- Description: <Gives email address just prior the @ symbol.>
-- =============================================
CREATE FUNCTION [dbo].[EmailPrefix]
(	
	@Email as varchar(50)
)
RETURNS varchar(50)
AS
BEGIN
	RETURN	  
		upper(replace(left(@Email,charindex('@',@Email)-1),'.',''))
END
GO
