/****** Object:  UserDefinedFunction [dbo].[Dedupe]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <8 Feb 2020>
-- Description: <Eliminates duplicates when building match keys.>
-- =============================================
CREATE FUNCTION [dbo].[Dedupe]
(	
	@a as varchar(255)
  , @b as varchar(255)
)
RETURNS varchar(255)
AS
BEGIN
	RETURN	  
		-- CASE WHEN @a like '%'+@b +'%' then @b else @a END
		CASE WHEN CHARINDEX(@a,@b)=0 then @a+'z'+@b else @b END
END
GO
