/****** Object:  UserDefinedFunction [dbo].[fn_Col_Type_To_Glue_Mapping]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08-21-2019
-- Description: This determines the column type used for Glue mapping
-- =============================================
CREATE FUNCTION [dbo].[fn_Col_Type_To_Glue_Mapping]
(
    @ColType INT
)
RETURNS varchar(50)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @ResultVar VARCHAR(50)
	SET @ResultVar = 'string'
    -- Add the T-SQL statements to compute the return value here
    SET @ResultVar = 
		CASE @ColType
		    WHEN 48 THEN 'int'
			WHEN 52 THEN 'int'
			WHEN 56 THEN 'int'
			WHEN 127 THEN 'int'
			WHEN 35 THEN 'string'
			WHEN 99 THEN 'string'
			WHEN 167 THEN 'string'
			WHEN 175 THEN 'string'
			WHEN 231 THEN 'string'
			WHEN 239 THEN 'string'
			WHEN 241 THEN 'string'
			WHEN 40 THEN 'datetime'
			WHEN 41 THEN 'datetime'
			WHEN 42 THEN 'datetime'
			WHEN 43 THEN 'datetime'
			WHEN 58 THEN 'datetime'
			WHEN 189 THEN 'timestamp'
			WHEN 104 THEN 'boolean'
			WHEN 106 THEN 'decimal'
			WHEN 122 THEN 'decimal'
			WHEN 60 THEN 'decimal'
			WHEN 108 THEN 'decimal'
			ELSE 'string'
		END
	RETURN @Resultvar
END
GO
