/****** Object:  UserDefinedFunction [dbo].[LNStreetNumsZipKey]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <17 August 2019>
-- Description: <Match logic key for street, zip5, and last name.>
-- =============================================
CREATE FUNCTION [dbo].[LNStreetNumsZipKey]
(	
	@StreetNums as varchar(50)
	,@LN as varchar(50)
	,@Zip5 as varchar(5)
)
RETURNS varchar(157)
AS
BEGIN
	RETURN	  
		upper(replace(@StreetNums+'z'+@LN+'z'+@Zip5,' ',''))
END
GO
