/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_KS]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/06/2020
-- Description: Determines if a SMI is a Kendra Scott school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_KS]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_KS(130996) --No
--SELECT dbo.fn_Affinity_KS(1034) --No
--SELECT dbo.fn_Affinity_KS(131276) --No
--SELECT dbo.fn_Affinity_KS(131662) --No
--SELECT dbo.fn_Affinity_KS(130941) --No
--SELECT dbo.fn_Affinity_KS(136311)  -Yes
--SELECT * FROM [dbo].[School_URL_Master] WHERE [SMI] = 130941

AS
BEGIN
    -- Declare the return variable here
    DECLARE @KS BIT
	SET @KS = 0
    SELECT @KS = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE '%BalProdColl_KSBalfour%')
		
    -- Return the result of the function
    RETURN @KS
END
GO
