/****** Object:  UserDefinedFunction [dbo].[fn_GradPackBundle_With_Voucher]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 08/10/2021
-- Description: Return if the gradpack bundle has a voucher or not
-- =============================================
CREATE FUNCTION [dbo].[fn_GradPackBundle_With_Voucher]
(
    -- Add the parameters for the function here
	 @sku VARCHAR(50)    
)

--SELECT dbo.[fn_GradPackBundle_With_Voucher] ('A0247419')
--SELECT dbo.[fn_GradPackBundle_With_Voucher] ('A0227657') 
RETURNS BIT
AS
BEGIN    
	-- TEST     DECLARE @sku Varchar(50) = 'A0247419' 
		--	A0247419 includes a voucher.
		--  A0227657 does not include a voucher.
	DECLARE @result BIT = 0
	IF (SELECT COUNT(*) FROM Magento_GradPack_Bundle_Details WHERE bundle_child_title like '%voucher%' AND bundle_parent_sku = @sku) > 0 
	BEGIN
		SET @result = 1
	END
	--PRINT @result
	RETURN @result
END
GO
