/****** Object:  UserDefinedFunction [dbo].[fn_SchoolEventLocationsDates]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11-18-2019
-- Description: Builds a list of school event location dates and times for a school event location record
-- =============================================
CREATE FUNCTION [dbo].[fn_SchoolEventLocationsDates]
(
     @Location_GUID VARCHAR(50)
	,@IncludeLinks BIT = 0
)
RETURNS VARCHAR(MAX)
AS
--SELECT [dbo].[fn_SchoolEventLocationsDates] ('E9C6EC19-600A-4172-A170-6041D87F7D62')
--SELECT [dbo].[fn_SchoolEventLocationsDates] ('F602FD72-6AC3-4935-8A06-A94A306DA223')
BEGIN
	DECLARE @Result VARCHAR(MAX)
	SET @Result = ''
	DECLARE @And VARCHAR(50)
	SET @And = ''

	SELECT @Result = @Result + @And + CASE WHEN @IncludeLinks = 1 THEN '<a href="javascript:EditDateTime(''' + [GUID] + ''');" title="Edit date & time"><span class="ui-icon ui-icon-pencil"></span>' ELSE '' END + FORMAT(dbo.[fn_DateTime_to_Central](EventStartDate),'MMM. d') + CASE WHEN [EventEndDate] IS NOT NULL THEN ' - ' + FORMAT(dbo.[fn_DateTime_to_Central](EventEndDate),'MMM d') ELSE '' END + ': ' + [dbo].[fn_SchoolEventLocationsDatesTimes] ([GUID],0) + CASE WHEN @IncludeLinks = 1 THEN '</a>&nbsp;<a href="javascript:DeleteDateTime(''' + [GUID] + ''');" title="Remove date & time"><span class="ui-icon ui-icon-circle-minus"></span></a>' ELSE '' END, @And = ', ' 
	FROM [dbo].[School_Events_Locations_Dates] WHERE [Location_GUID] = @Location_GUID

	--Find the last ', ' and make it ' and '
	if CHARINDEX(',',reverse(@Result)) > 0
		SET @Result = LEFT(@Result,LEN(@Result)-(CHARINDEX(',',reverse(@Result)))) + ' and ' + RIGHT(@Result,CHARINDEX(',',reverse(@Result))-2)
	RETURN @Result
END
GO
