/****** Object:  UserDefinedFunction [dbo].[fn_Get_Image_From_CCS_Spots]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 07/01/2020
-- Description: Pulls the original image name from the spots field in CCS data
-- =============================================
CREATE FUNCTION [dbo].[fn_Get_Image_From_CCS_Spots]
(
    @Spots VARCHAR(MAX)
)
RETURNS VARCHAR(500)
--SELECT dbo.fn_Get_Image_From_CCS_Spots('00101-Abi__Rached_Jr_Rodney1;CCSPAG-13936;CCSPAG-_PR14089')
AS
BEGIN
    DECLARE @Loop INT, @Max INT, @Value VARCHAR(500), @Result VARCHAR(500)
	SET @Result = '-'
	DECLARE @Values TABLE ([Value] VARCHAR(500), [Loop] INT IDENTITY(1,1))
	INSERT INTO @Values ([Value])
	SELECT [Value] FROM string_split(@Spots,';')

	SELECT @Loop = MIN([Loop]), @Max = MAX([Loop]) FROM @Values

	While @Loop <= @Max
		BEGIN
			SELECT @Value = [Value] FROM @Values WHERE [Loop] = @Loop
			IF @Value NOT LIKE 'CCSPAG%'
				BEGIN
					SET @Result = @Value
					SET @Loop = @Max+1
				END
			SET @Loop = @Loop + 1
		END
	RETURN @Result
END
GO
