/****** Object:  UserDefinedFunction [dbo].[US_Zip5]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <25 July 2019>
-- Description: <Attempts to validate structure of the phone number and protect from common fake numbers.>
-- =============================================
CREATE FUNCTION [dbo].[US_Zip5]
(	
	@Zip as varchar(50),
	@Country as varchar(2)
)
RETURNS varchar(50)
AS
BEGIN
	RETURN	  
		CASE when @Country<>'US' then replace(@Zip,' ','') else left(@Zip,5) END
END
GO
