/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_GradPackUrl_old]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/07/2020
-- Description: Return Grad Pack URL if a SMI is a  Grad Pack school - New version with included SMI table join
-- Modified Date: 09/29/2020 TL
-- Description:  Eliminated crawling back up directories in favor of using / at the start of URL's
-- =============================================



CREATE FUNCTION [dbo].[fn_Affinity_GradPackUrl_old]
(
    @SMI BIGINT = 0
)

RETURNS VARCHAR(200)
--SELECT dbo.[fn_Affinity_GradPackUrl](23726)  --/indiana/oxford/benton-central-junior-senior-high-school/graduation-packages?smi=23726
--SELECT dbo.[fn_Affinity_GradPackUrl](1304)  --/falsepass/graduation-packages?smi=1304
--SELECT dbo.[fn_Affinity_GradPackUrl](17978)  --/shop/graduation-products?smi=17978
--SELECT dbo.[fn_Affinity_GradPackUrl](133006) --/shop/graduation-products?smi=133006
--SELECT dbo.[fn_Affinity_GradPackUrl](130941) --''
--SELECT dbo.[fn_Affinity_GradPackUrl](131718)  --''
--SELECT dbo.[fn_Affinity_GradPackUrl](29990) --/louisiana/winnsboro/franklin-parish-high-school/graduation-packages?smi=29990
--SELECT dbo.[fn_Affinity_GradPackUrl](51238) --''
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Url VARCHAR(MAX)
	
	If EXISTS(SELECT * FROM non_gradpack_schools WHERE SMI = @SMI)
	BEGIN
		-- PLP
		SET @Url = '/shop/graduation-products?smi=' + CAST(@SMI as VARCHAR(25))
		--select @Url = [AffinityURL] from School_URL_Master WHERE SMI = @SMI 
		--IF len(@Url) - len(replace(@Url, '/', '')) > 1
		--BEGIN
		--	SET @Url = '../../..' + '/shop/graduation-products?smi=' + CAST(@SMI as VARCHAR(25)) 
		--END
		--ELSE
		--BEGIN
		--	SET @Url = '../..' + '/shop/graduation-products?smi=' + CAST(@SMI as VARCHAR(25)) 
		--END
	END
	ELSE IF EXISTS(
		SELECT * FROM magento_automated_product_dataset p
		inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
		where 
		-- ( '|' + REPLACE(REPLACE([Included SMI],',','|'),' ','') + '|' like '%|'+ CAST(@SMI as VARCHAR(25))  +'|%' OR REPLACE(REPLACE([Exclusive SMI],',','|'),' ','') + '|' like '%|'+ CAST(@SMI as VARCHAR(25))  +'|%')
		-- where ( [Included SMI] LIKE '%' + CAST(@SMI as VARCHAR(25))  + '%' OR [Exclusive SMI] LIKE '%' + CAST(@SMI as VARCHAR(25))  + '%')
		--AND 
		Category LIKE '%GRADUATION PACKAGES%'
		and Visibility = 'In Catalog and Search'
		and Status = 'Enable'
	)
	BEGIN
		select @Url = ISNULL([AffinityURL],'/' + ISNULL(URL,'')) + '/graduation-packages?smi=' + CAST(@SMI as VARCHAR(25)) from School_URL_Master WHERE SMI = @SMI 
		--Note that Affinity URL's always start with / and URL's do not
		-- /virginia/centreville/ad-fontes-academy -- if we have more than one / then go up multiple directories
		--IF len(@Url) - len(replace(@Url, '/', '')) > 1
		--BEGIN
		--	SET @Url = '../..' + @Url + '/graduation-packages?smi=' + CAST(@SMI as VARCHAR(25)) 
		--END
		--ELSE
		--BEGIN
		--	SET @Url = '..' + @Url + '/graduation-packages?smi=' + CAST(@SMI as VARCHAR(25)) 
		--END
		
	END
	-- Grad Pack meeting 8/21/2020 - Don't use sitecore overrides.
	--ELSE IF EXISTS (
	--	SELECT* FROM sitecore_URL_overrides 
	--	where [Clean Override] = 'Grad' AND [Clean SMI] = @SMI
	--)
	--BEGIN
	--	SELECT @Url = [Clean URL] FROM sitecore_URL_overrides 
	--	where [Clean Override] = 'Grad' AND [Clean SMI] = @SMI
	--END
	ELSE
	BEGIN
		select @Url = ''
	END
	--Testing
	--IF @SMI = 29990 SET @Url = '/louisiana/winnsboro/franklin-parish-high-school/graduation-packages?smi=29990'
	--IF @SMI = 17978 SET @Url = '/shop/graduation-products?smi=17978'
	--IF @SMI = 1304 SET @Url = '/falsepass/graduation-packages?smi=1304'
    RETURN @Url
END
--select * from ContentAffinityPages where gradAnnouncementsLink is not null
GO
