/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Alumni]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/05/2020
-- Description: Determines if a SMI is an alumni school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Alumni]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_Alumni(130996) --Yes
--SELECT dbo.fn_Affinity_Alumni(50) --No
--SELECT dbo.fn_Affinity_Alumni(130913) --Yes
--SELECT dbo.fn_Affinity_Alumni(131276) --Yes
--SELECT dbo.fn_Affinity_Alumni(131424) --Yes
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Alumni BIT
	SET @Alumni = 0
	--Place alumni logic here
    SELECT @Alumni = 1 WHERE EXISTS 
	(
		SELECT * FROM itemattributes WHERE itemid IN (
		SELECT P.ITEMID 
		FROM magento_automated_product_dataset p 
		left join itemattributes ia on p.ItemID = ia.itemid 
		inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
		WHERE tagtype IN ('a_MasterLicenseType', 'a_LicenseType') 
		and tagvalue = 'NCAA' 
		--AND [included SMI] = CAST(@SMI AS VARCHAR(50)) 
		AND 
		(
			ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR 
			(
				ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0)
			)
		)
		AND [tagType] = 'a_BalfourHierarchy' 
		AND [tagvalue] LIKE 'Balfour.com/COLLECTIONS/ALUMNI SHOP%'
	)
		
    -- Return the result of the function
    RETURN @Alumni
END
GO
