/****** Object:  UserDefinedFunction [dbo].[fn_Get_SMIs_For_Magento_Order]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 12/03/2021
-- Description: Gets a list of SMIs associated with a Magento order
-- =============================================
CREATE FUNCTION [dbo].[fn_Get_SMIs_For_Magento_Order]
(
	@OrderID int
)
RETURNS VARCHAR(5000)
AS
BEGIN
	DECLARE @Data VARCHAR(MAX)
	DECLARE @Result VARCHAR(500)
	
	SELECT @Data = STRING_AGG(product_options, ', ') FROM MAGE_sales_order_item WHERE order_id = @OrderID

	SELECT @Result = STRING_AGG(smi, ', ') FROM (SELECT DISTINCT REPLACE(RIGHT([value], LEN([value]) - CHARINDEX(':', [value])), '"', '') AS smi FROM string_split(@Data, ',')
	WHERE [value] like '%current_smi%') as d

	RETURN @Result
END
GO
