/****** Object:  UserDefinedFunction [dbo].[Strip_Numbers]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <27 July 2019>
-- Description: <Function strips numbers out of strings.>
-- =============================================
CREATE FUNCTION [dbo].[Strip_Numbers]
(
	@mList varchar(5000)
)
RETURNS 
	varchar(5000)
AS
BEGIN
	RETURN replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(@mList,'1',''),'2',''),'3',''),'4',''),'5',''),'6',''),'7',''),'8',''),'9',''),'0','')
END
GO
