/****** Object:  UserDefinedFunction [dbo].[fn_get_shopall_parent_tag]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/19/2020
-- Description: Calculates a parent tag for a Shop All menu item
-- =============================================
CREATE FUNCTION [dbo].[fn_get_shopall_parent_tag]
(
    @ID int
)
RETURNS VARCHAR(50)
--SELECT dbo.fn_get_shopall_parent_tag(6)
AS
BEGIN
      DECLARE @Result VARCHAR(50), @Cnt INT, @URL VARCHAR(MAX), @ParentTag VARCHAR(50), @CI INT
	  SET @Result = ''
	  
	  SELECT @URL = [URL], @ParentTag = [ParentTag] FROM [ShopAllNavMenu] WHERE [ID] = @ID
	  DECLARE @Temp TABLE ([Value] VARCHAR(MAX), [Loop] INT IDENTITY(1,1))
	  SET @Cnt = 0
	  SELECT @Cnt = COUNT(*)-1 FROM string_split(@URL,'=')
	  INSERT INTO @Temp ([Value])
	  SELECT [Value] FROM string_split(@URL,'=') 
	  IF @Cnt > 0
		BEGIN
		  SELECT @CI = CHARINDEX('&',[Value]) FROM @Temp WHERE [Loop] = @Cnt
		  IF @CI = 0 SET @CI = 1
		  SELECT @Result = LEFT(@ParentTag + LEFT([Value],@CI-1),50) FROM @Temp WHERE [Loop] = @Cnt
		END
	ELSE
		BEGIN
		  SELECT @Result = ''
		END

    -- Return the result of the function
    RETURN @Result
END
GO
