/****** Object:  UserDefinedFunction [dbo].[FnSplit]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FnSplit]
     (@List    NVARCHAR(max),
      @SplitOn NVARCHAR(5))
RETURNS @RtnValue TABLE (
     Id      INT IDENTITY(1, 1)
     , Value NVARCHAR(max))
AS
  ------------------------------------------------------
  -- Date Created:  5/21/14 8:19 AM
  -- Requestor: 
  -- Change Log:
  --		20170725 APM - Cleaned up and added header
  ------------------------------------------------------
  BEGIN
      WHILE ( Charindex(@SplitOn, @List) > 0 )
        BEGIN
            INSERT INTO @RtnValue
                        (value)
            SELECT
                 Value = Ltrim(Rtrim(Substring(@List, 1, Charindex(@SplitOn, @List) - 1)))

            SET @List = Substring(@List, Charindex(@SplitOn, @List) + Len(@SplitOn), Len(@List))
        END

      INSERT INTO @RtnValue
                  (Value)
      SELECT
           Value = Ltrim(Rtrim(@List))

      RETURN
  END 
GO
