/****** Object:  UserDefinedFunction [dbo].[fn_get_virtcomm_status]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/08/2020
-- Description: Returns the current status of a VirtComm event
-- =============================================
CREATE FUNCTION [dbo].[fn_get_virtcomm_status]
(
     @SMI INT = 0
	,@SubComm VARCHAR(100) = ''
)
--SELECT dbo.fn_get_virtcomm_status(69959,'')
RETURNS VARCHAR(100)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result VARCHAR(100)
	SET @Result = ''

    IF LTRIM(RTRIM(ISNULL(@SubComm,''))) = ''
		BEGIN
			--Make sure there are no sub-comms
			DECLARE @Cnt INT, @GUID VARCHAR(50)
			SELECT @GUID = [GUID] FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
			SELECT @Cnt = COUNT(*) FROM [dbo].[VirtCommDetail] WHERE [ParentGUID] = @GUID
			IF @Cnt > 0
				BEGIN
					--You cannot give an overall status
					SET @Result = 'You must import participants under each sub-commencement'
				END
			ELSE
				BEGIN
					DECLARE @FileImportedFromCCS DATETIME, @FileTransferredToIdomoo DATETIME, @FileReceivedFromIdomoo DATETIME
					SELECT @FileImportedFromCCS = [FileImportedFromCCS], @FileTransferredToIdomoo = [FileTransferredToIdomoo], @FileReceivedFromIdomoo = [FileReceivedFromIdomoo]
					FROM [dbo].[VirtCommControl]
					WHERE [SMI] = @SMI
					IF @FileImportedFromCCS IS NULL
						BEGIN
							SET @Result = ''
						END
					ELSE
						BEGIN
							SET @Result = 'File imported from CCS on ' + FORMAT(dbo.fn_DateTime_To_Central(@FileImportedFromCCS), 'MM/dd/yyyy hh:mm tt')
							IF @FileTransferredToIdomoo IS NOT NULL
								BEGIN
									SET @Result = 'File sent to Idomoo on ' + FORMAT(dbo.fn_DateTime_To_Central(@FileTransferredToIdomoo), 'MM/dd/yyyy hh:mm tt')
									IF @FileReceivedFromIdomoo IS NOT NULL
										BEGIN
											SET @Result = 'File received from Idomoo on ' + FORMAT(dbo.fn_DateTime_To_Central(@FileReceivedFromIdomoo), 'MM/dd/yyyy hh:mm tt')
										END
								END
						END
				END
		END

    -- Return the result of the function
    RETURN @Result
END
GO
