/****** Object:  UserDefinedFunction [dbo].[fn_Add_SMI_If_Needed]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/11/2020
-- Description: Add ?smi=@SMI if string does not contain it
-- =============================================
CREATE FUNCTION [dbo].[fn_Add_SMI_If_Needed]
(
    -- Add the parameters for the function here
    @String VARCHAR(MAX),
	@SMI BIGINT
)
RETURNS VARCHAR(MAX)
AS
BEGIN
	 
	DECLARE @Out VARCHAR(MAX)
	SET @Out = ''
	IF LTRIM(RTRIM(@String)) <> ''
		BEGIN
			If CHARINDEX('smi=',@String) > 0
			BEGIN
				SET @Out = @String
			END
			ELSE
			BEGIN
				IF CHARINDEX('?',@String) > 0
					SET @Out = @String + '&smi=' + CAST(@SMI as VARCHAR(25))
				ELSE
					SET @Out = @String + '?smi=' + CAST(@SMI as VARCHAR(25))
			END
		END

	Return @Out

END
GO
