/****** Object:  UserDefinedFunction [dbo].[fn_get_key_value_from_orderconfirm]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10-18-2019
-- Description: DEtermines key value (Order ID) by parsing JSON payload from Magento
-- =============================================
CREATE FUNCTION [dbo].[fn_get_key_value_from_orderconfirm]
(
    @rawData NVARCHAR(MAX)
)
RETURNS VARCHAR(50)
AS
BEGIN
	DECLARE @Value VARCHAR(50)
	SET @Value = ''
	IF @rawData <> ''
		SELECT @Value = ISNULL([Value],'') FROM OPENJSON(@rawData) WHERE [Key] = 'increment_id'
	RETURN @Value
END
GO
