/****** Object:  UserDefinedFunction [dbo].[fn_convert_email_data_to_request_body_backup_08302024]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:      TL
-- Create Date: 09/11/2019
-- Description: This is used to take the data payload from Magento and transform it into the JSON needed for the email functions
-- 10/22/2019 New data element - extension_attributes.ring_savings_amount - very similar to handling_fees
-- Changes - Changes in Order Confirmation e-mail - BAS-7249
-- Changes - Invalidate UNC Changes per request from Todd
-- =============================================
CREATE FUNCTION [dbo].[fn_convert_email_data_to_request_body_backup_08302024]
(
     @Email_Name VARCHAR(100)
	,@Entity VARCHAR(50)
	,@Data NVARCHAR(MAX)
	,@Is_Resend BIT
	,@Use_Klaviyo_Format BIT = 0
)
/* Test
SELECT dbo.fn_convert_email_data_to_request_body_new ('shareuc','balfour',[rawData],0) FROM emailjobs_queue WHERE ID = 1255782
SELECT dbo.fn_convert_email_data_to_request_body ('orderconfirm','balfour',N'
{"applied_rule_ids":"589","base_currency_code":"USD","base_discount_amount":0,"base_grand_total":75.99,"base_discount_tax_compensation_amount":0,"base_shipping_amount":0,"base_shipping_discount_amount":0,"base_shipping_discount_tax_compensation_amnt":0,"base_shipping_incl_tax":0,"base_shipping_tax_amount":0,"base_subtotal":74.99,"base_subtotal_incl_tax":74.99,"base_tax_amount":0,"base_total_due":75.99,"base_to_global_rate":1,"base_to_order_rate":1,"billing_address_id":1248678,"created_at":"2019-10-30 17:11:10","customer_email":"sarahneutzler2@gmail.com","customer_group_id":0,"customer_is_guest":1,"customer_note_notify":1,"discount_amount":0,"discount_description":"Free shipping","entity_id":674775,"global_currency_code":"USD","grand_total":75.99,"discount_tax_compensation_amount":0,"increment_id":"000723448","is_virtual":1,"order_currency_code":"USD","protect_code":"5e47449e7e4f1a531a8a2a4f4aa773ad","quote_id":3266166,"remote_ip":"10.93.11.195","shipping_amount":0,"shipping_discount_amount":0,"shipping_discount_tax_compensation_amount":0,"shipping_incl_tax":0,"shipping_tax_amount":0,"state":"processing","status":"processing","store_currency_code":"USD","store_id":1,"store_name":"Balfour\nMy Balfour\nDefault Store","store_to_base_rate":0,"store_to_order_rate":0,"subtotal":74.99,"subtotal_incl_tax":74.99,"tax_amount":0,"total_due":75.99,"total_item_count":4,"total_qty_ordered":1,"updated_at":"2019-10-30 17:11:10","weight":0,"items":[{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4,"extension_attributes":{"smi":"70400","product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB_A0058741_1_165x165.jpg","student_first_name":"Kaitlyn","student_last_name":"Lewis","student_school_grade":"9th Grade","delivery_method":"School"}},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":65,"base_price":65,"base_price_incl_tax":65,"base_row_invoiced":0,"base_row_total":65,"base_row_total_incl_tax":65,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705453,"name":"2020 Brenham High School Yearbook","no_discount":0,"order_id":674775,"original_price":65,"parent_item_id":1705452,"price":65,"price_incl_tax":65,"product_id":131923,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956548,"row_invoiced":0,"row_total":65,"row_total_incl_tax":65,"row_weight":0,"sku":"A0154128A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4,"extension_attributes":{"smi":"70400","product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB_A0058741_1_165x165.jpg","student_first_name":"Kaitlyn","student_last_name":"Lewis","student_school_grade":"9th Grade","delivery_method":"School"}},"extension_attributes":{"product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_Yearbook Generic_165x165.jpg","delivery_method":"School"}},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":3,"base_price":3,"base_price_incl_tax":3,"base_row_invoiced":0,"base_row_total":3,"base_row_total_incl_tax":3,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705454,"name":"Clear Protective Cover (Book Size 8)","no_discount":0,"order_id":674775,"original_price":3,"parent_item_id":1705452,"price":3,"price_incl_tax":3,"product_id":18431,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956549,"row_invoiced":0,"row_total":3,"row_total_incl_tax":3,"row_weight":0,"sku":"A0054601A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4,"extension_attributes":{"smi":"70400","product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB_A0058741_1_165x165.jpg","student_first_name":"Kaitlyn","student_last_name":"Lewis","student_school_grade":"9th Grade","delivery_method":"School"}},"extension_attributes":{"product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB Protective Cover-Book Size 8_A0012616_1_165x165.jpg","delivery_method":"School"}},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":2,"base_price":2,"base_price_incl_tax":2,"base_row_invoiced":0,"base_row_total":2,"base_row_total_incl_tax":2,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705455,"name":"Autograph Section Insert (Book Size 8)","no_discount":0,"order_id":674775,"original_price":2,"parent_item_id":1705452,"price":2,"price_incl_tax":2,"product_id":18432,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956550,"row_invoiced":0,"row_total":2,"row_total_incl_tax":2,"row_weight":0,"sku":"A0054606A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4,"extension_attributes":{"smi":"70400","product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB_A0058741_1_165x165.jpg","student_first_name":"Kaitlyn","student_last_name":"Lewis","student_school_grade":"9th Grade","delivery_method":"School"}},"extension_attributes":{"product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB Autograph Section-Size 9_A0012622_1_165x165.jpg","delivery_method":"School"}},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":4.99,"base_price":4.99,"base_price_incl_tax":4.99,"base_row_invoiced":0,"base_row_total":4.99,"base_row_total_incl_tax":4.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705456,"name":"Pen Signing Set","no_discount":0,"order_id":674775,"original_price":4.99,"parent_item_id":1705452,"price":4.99,"price_incl_tax":4.99,"product_id":18155,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956551,"row_invoiced":0,"row_total":4.99,"row_total_incl_tax":4.99,"row_weight":0,"sku":"A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4,"extension_attributes":{"smi":"70400","product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB_A0058741_1_165x165.jpg","student_first_name":"Kaitlyn","student_last_name":"Lewis","student_school_grade":"9th Grade","delivery_method":"School"}},"extension_attributes":{"product_image_url":"https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_YB Signing Pen Set_A0012628_1_165x165.jpg","delivery_method":"School"}}],"billing_address":{"address_type":"billing","city":"Brenham","country_id":"US","email":"sarahneutzler2@gmail.com","entity_id":1248678,"firstname":"Sarah ","lastname":"Neutzler","parent_id":674775,"postcode":"77833","region":"Texas","region_code":"TX","region_id":57,"street":["1102 Pecan Street"],"telephone":"8327211344"},"payment":{"account_status":null,"additional_information":["true","Credit Card","{\"0ce83d1652df023dc03a9bbcc573a41d\":{\"id\":\"0ce83d1652df023dc03a9bbcc573a41d\",\"cc_type\":\"VI\",\"cc_last_4\":\"0068\",\"cc_exp_month\":\"3\",\"cc_exp_year\":\"2024\",\"last_trans_id\":\"5724554695876918504070\",\"transaction_id\":\"5724554695876918504070\",\"merchant_reference_code\":\"c310ab40401188098096e8534a3409d5\",\"requested_amount\":\"75.99\",\"processed_amount\":\"75.99\",\"authorization_code\":\"03309A\",\"reconciliation_i_d\":\"85464830W23LY0SN\",\"avs_result_code\":\"Y\"}}"],"amount_authorized":75.99,"amount_ordered":75.99,"base_amount_authorized":75.99,"base_amount_ordered":75.99,"base_shipping_amount":0,"cc_avs_status":"Y","cc_cid_status":"M","cc_exp_month":"3","cc_exp_year":"2024","cc_last4":"0068","cc_trans_id":"5724554695876918504070","cc_type":"VI","entity_id":674774,"last_trans_id":"5724554695876918504070","method":"magedelight_cybersource","parent_id":674775,"shipping_amount":0},"status_histories":[{"comment":"Authorized amount of $75.99.","created_at":"2019-10-30 17:11:10","entity_id":842545,"entity_name":"order","is_customer_notified":null,"is_visible_on_front":0,"parent_id":674775,"status":"processing"}],"extension_attributes":{"handling_fees_amount":"1","shipping_assignments":[{"shipping":{"total":{"base_shipping_amount":0,"base_shipping_discount_amount":0,"base_shipping_discount_tax_compensation_amnt":0,"base_shipping_incl_tax":0,"base_shipping_tax_amount":0,"shipping_amount":0,"shipping_discount_amount":0,"shipping_discount_tax_compensation_amount":0,"shipping_incl_tax":0,"shipping_tax_amount":0}},"items":[{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":65,"base_price":65,"base_price_incl_tax":65,"base_row_invoiced":0,"base_row_total":65,"base_row_total_incl_tax":65,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705453,"name":"2020 Brenham High School Yearbook","no_discount":0,"order_id":674775,"original_price":65,"parent_item_id":1705452,"price":65,"price_incl_tax":65,"product_id":131923,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956548,"row_invoiced":0,"row_total":65,"row_total_incl_tax":65,"row_weight":0,"sku":"A0154128A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4}},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":3,"base_price":3,"base_price_incl_tax":3,"base_row_invoiced":0,"base_row_total":3,"base_row_total_incl_tax":3,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705454,"name":"Clear Protective Cover (Book Size 8)","no_discount":0,"order_id":674775,"original_price":3,"parent_item_id":1705452,"price":3,"price_incl_tax":3,"product_id":18431,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956549,"row_invoiced":0,"row_total":3,"row_total_incl_tax":3,"row_weight":0,"sku":"A0054601A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4}},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":2,"base_price":2,"base_price_incl_tax":2,"base_row_invoiced":0,"base_row_total":2,"base_row_total_incl_tax":2,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705455,"name":"Autograph Section Insert (Book Size 8)","no_discount":0,"order_id":674775,"original_price":2,"parent_item_id":1705452,"price":2,"price_incl_tax":2,"product_id":18432,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956550,"row_invoiced":0,"row_total":2,"row_total_incl_tax":2,"row_weight":0,"sku":"A0054606A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4}},{"amount_refunded":0,"base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_discount_tax_compensation_amount":0,"base_original_price":4.99,"base_price":4.99,"base_price_incl_tax":4.99,"base_row_invoiced":0,"base_row_total":4.99,"base_row_total_incl_tax":4.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"discount_tax_compensation_amount":0,"is_qty_decimal":0,"is_virtual":1,"item_id":1705456,"name":"Pen Signing Set","no_discount":0,"order_id":674775,"original_price":4.99,"parent_item_id":1705452,"price":4.99,"price_incl_tax":4.99,"product_id":18155,"product_type":"simple","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956551,"row_invoiced":0,"row_total":4.99,"row_total_incl_tax":4.99,"row_weight":0,"sku":"A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"tax_percent":0,"updated_at":"2019-10-30 17:11:10","weight":1,"parent_item":{"amount_refunded":0,"applied_rule_ids":"589","base_amount_refunded":0,"base_discount_amount":0,"base_discount_invoiced":0,"base_original_price":74.99,"base_price":74.99,"base_price_incl_tax":74.99,"base_row_invoiced":0,"base_row_total":74.99,"base_row_total_incl_tax":74.99,"base_tax_amount":0,"base_tax_invoiced":0,"created_at":"2019-10-30 17:11:10","discount_amount":0,"discount_invoiced":0,"discount_percent":0,"free_shipping":1,"is_qty_decimal":0,"is_virtual":1,"item_id":1705452,"name":"Basic Package","no_discount":0,"order_id":674775,"original_price":74.99,"price":74.99,"price_incl_tax":74.99,"product_id":131928,"product_type":"bundle","qty_canceled":0,"qty_invoiced":0,"qty_ordered":1,"qty_refunded":0,"qty_returned":0,"qty_shipped":0,"quote_item_id":2956547,"row_invoiced":0,"row_total":74.99,"row_total_incl_tax":74.99,"row_weight":0,"sku":"A0154131-A0154128A0000-A0054601A0000-A0054606A0000-A0054609A0000","store_id":1,"tax_amount":0,"tax_invoiced":0,"updated_at":"2019-10-30 17:11:10","weight":4}}]}],"gift_cards":[],"base_gift_cards_amount":0,"gift_cards_amount":0,"gw_base_price":"0.0000","gw_price":"0.0000","gw_items_base_price":"0.0000","gw_items_price":"0.0000","gw_card_base_price":"0.0000","gw_card_price":"0.0000"}}
')
*/


/*
Example @Data:

{
    "base_currency_code": "USD",
    "base_discount_amount": 0,
    "base_grand_total": 80,
    "base_discount_tax_compensation_amount": 0,
    "base_shipping_amount": 0,
    "base_shipping_discount_amount": 0,
    "base_shipping_discount_tax_compensation_amnt": 0,
    "base_shipping_incl_tax": 0,
    "base_shipping_tax_amount": 0,
    "base_subtotal": 80,
    "base_subtotal_incl_tax": 80,
    "base_tax_amount": 0,
    "base_total_due": 80,
    "base_to_global_rate": 1,
    "base_to_order_rate": 1,
    "billing_address_id": 1142432,
    "created_at": "2019-09-17 18:16:15",
    "customer_email": "cmenuet@hotmail.com",
    "customer_firstname": "Courtney",
    "customer_group_id": 1,
    "customer_id": 160793,
    "customer_is_guest": 0,
    "customer_lastname": "Menuet",
    "customer_note_notify": 1,
    "discount_amount": 0,
    "entity_id": 584527,
    "global_currency_code": "USD",
    "grand_total": 80,
    "discount_tax_compensation_amount": 0,
    "increment_id": "000624830",
    "is_virtual": 0,
    "order_currency_code": "USD",
    "protect_code": "cb7aa4f4e06d675cd2d015aeb4399262",
    "quote_id": 2851972,
    "remote_ip": "10.93.13.83",
    "shipping_amount": 0,
    "shipping_description": "Free Shipping - Free",
    "shipping_discount_amount": 0,
    "shipping_discount_tax_compensation_amount": 0,
    "shipping_incl_tax": 0,
    "shipping_tax_amount": 0,
    "state": "processing",
    "status": "boomi_delivered",
    "store_currency_code": "USD",
    "store_id": 1,
    "store_name": "Balfour\nMy Balfour\nDefault Store",
    "store_to_base_rate": 0,
    "store_to_order_rate": 0,
    "subtotal": 80,
    "subtotal_incl_tax": 80,
    "tax_amount": 0,
    "total_due": 80,
    "total_item_count": 1,
    "total_qty_ordered": 1,
    "updated_at": "2019-09-17 18:19:07",
    "weight": 1,
    "x_forwarded_for": "67.200.146.234, 162.158.78.195, ",
    "items": [
        {
            "amount_refunded": 0,
            "base_amount_refunded": 0,
            "base_discount_amount": 0,
            "base_discount_invoiced": 0,
            "base_discount_tax_compensation_amount": 0,
            "base_original_price": 80,
            "base_price": 80,
            "base_price_incl_tax": 80,
            "base_row_invoiced": 0,
            "base_row_total": 80,
            "base_row_total_incl_tax": 80,
            "base_tax_amount": 0,
            "base_tax_invoiced": 0,
            "created_at": "2019-09-17 18:16:15",
            "discount_amount": 0,
            "discount_invoiced": 0,
            "discount_percent": 0,
            "free_shipping": 0,
            "discount_tax_compensation_amount": 0,
            "is_qty_decimal": 0,
            "is_virtual": 0,
            "item_id": 1455147,
            "name": "2 Block Senior Ad (2 Photos Max)",
            "no_discount": 0,
            "order_id": 584527,
            "original_price": 80,
            "price": 80,
            "price_incl_tax": 80,
            "product_id": 30809,
            "product_type": "simple",
            "qty_canceled": 0,
            "qty_invoiced": 0,
            "qty_ordered": 1,
            "qty_refunded": 0,
            "qty_returned": 0,
            "qty_shipped": 0,
            "quote_item_id": 2537779,
            "row_invoiced": 0,
            "row_total": 80,
            "row_total_incl_tax": 80,
            "row_weight": 1,
            "sku": "A0075630A0000",
            "store_id": 1,
            "tax_amount": 0,
            "tax_invoiced": 0,
            "tax_percent": 0,
            "updated_at": "2019-09-17 18:16:15",
            "weight": 1
        }
    ],
    "billing_address": {
        "address_type": "billing",
        "city": "Sugar land",
        "country_id": "US",
        "customer_address_id": 197294,
        "email": "cmenuet@hotmail.com",
        "entity_id": 1142432,
        "firstname": "Courtney ",
        "lastname": "Menuet",
        "parent_id": 584527,
        "postcode": "77478",
        "region": "Texas",
        "region_code": "TX",
        "region_id": 57,
        "street": [
            "2814 Country Club"
        ],
        "telephone": "832-314-5392"
    },
    "payment": {
        "account_status": null,
        "additional_information": [
            "true",
            "Credit Card",
            "{\"19d97deb759e6ab53be4f999f42333dd\":{\"id\":\"19d97deb759e6ab53be4f999f42333dd\",\"cc_type\":\"MC\",\"cc_last_4\":\"1729\",\"cc_exp_month\":\"10\",\"cc_exp_year\":\"2023\",\"last_trans_id\":\"5687441730896715004090\",\"transaction_id\":\"5687441730896715004090\",\"merchant_reference_code\":\"f45ffb844abc9f61d0ef65a0c7aadef7\",\"requested_amount\":\"80.00\",\"processed_amount\":\"80.00\",\"authorization_code\":\"08404P\",\"reconciliation_i_d\":\"76991213S0FPTWV9\",\"avs_result_code\":\"Y\"}}"
        ],
        "amount_authorized": 80,
        "amount_ordered": 80,
        "base_amount_authorized": 80,
        "base_amount_ordered": 80,
        "base_shipping_amount": 0,
        "cc_avs_status": "Y",
        "cc_cid_status": "M",
        "cc_exp_month": "10",
        "cc_exp_year": "2023",
        "cc_last4": "1729",
        "cc_trans_id": "5687441730896715004090",
        "cc_type": "MC",
        "entity_id": 584527,
        "last_trans_id": "5687441730896715004090",
        "method": "magedelight_cybersource",
        "parent_id": 584527,
        "shipping_amount": 0
    },
    "status_histories": [
        {
            "comment": "Authorized amount of $80.00.",
            "created_at": "2019-09-17 18:16:15",
            "entity_id": 730438,
            "entity_name": "order",
            "is_customer_notified": null,
            "is_visible_on_front": 0,
            "parent_id": 584527,
            "status": "processing"
        }
    ],
    "extension_attributes": {
        "shipping_assignments": [
            {
                "shipping": {
                    "address": {
                        "address_type": "shipping",
                        "city": "Sugar land",
                        "country_id": "US",
                        "customer_address_id": 197294,
                        "email": "cmenuet@hotmail.com",
                        "entity_id": 1142431,
                        "firstname": "Courtney ",
                        "lastname": "Menuet",
                        "parent_id": 584527,
                        "postcode": "77478",
                        "region": "Texas",
                        "region_code": "TX",
                        "region_id": 57,
                        "street": [
                            "2814 Country Club"
                        ],
                        "telephone": "832-314-5392"
                    },
                    "method": "flatrate_flatrate",
                    "total": {
                        "base_shipping_amount": 0,
                        "base_shipping_discount_amount": 0,
                        "base_shipping_discount_tax_compensation_amnt": 0,
                        "base_shipping_incl_tax": 0,
                        "base_shipping_tax_amount": 0,
                        "shipping_amount": 0,
                        "shipping_discount_amount": 0,
                        "shipping_discount_tax_compensation_amount": 0,
                        "shipping_incl_tax": 0,
                        "shipping_tax_amount": 0
                    }
                },
                "items": [
                    {
                        "amount_refunded": 0,
                        "base_amount_refunded": 0,
                        "base_discount_amount": 0,
                        "base_discount_invoiced": 0,
                        "base_discount_tax_compensation_amount": 0,
                        "base_original_price": 80,
                        "base_price": 80,
                        "base_price_incl_tax": 80,
                        "base_row_invoiced": 0,
                        "base_row_total": 80,
                        "base_row_total_incl_tax": 80,
                        "base_tax_amount": 0,
                        "base_tax_invoiced": 0,
                        "created_at": "2019-09-17 18:16:15",
                        "discount_amount": 0,
                        "discount_invoiced": 0,
                        "discount_percent": 0,
                        "free_shipping": 0,
                        "discount_tax_compensation_amount": 0,
                        "is_qty_decimal": 0,
                        "is_virtual": 0,
                        "item_id": 1455147,
                        "name": "2 Block Senior Ad (2 Photos Max)",
                        "no_discount": 0,
                        "order_id": 584527,
                        "original_price": 80,
                        "price": 80,
                        "price_incl_tax": 80,
                        "product_id": 30809,
                        "product_type": "simple",
                        "qty_canceled": 0,
                        "qty_invoiced": 0,
                        "qty_ordered": 1,
                        "qty_refunded": 0,
                        "qty_returned": 0,
                        "qty_shipped": 0,
                        "quote_item_id": 2537779,
                        "row_invoiced": 0,
                        "row_total": 80,
                        "row_total_incl_tax": 80,
                        "row_weight": 1,
                        "sku": "A0075630A0000",
                        "store_id": 1,
                        "tax_amount": 0,
                        "tax_invoiced": 0,
                        "tax_percent": 0,
                        "updated_at": "2019-09-17 18:16:15",
                        "weight": 1
                    }
                ]
            }
        ],
        "gift_cards": [],
        "base_gift_cards_amount": 0,
        "gift_cards_amount": 0,
        "gw_base_price": "0.0000",
        "gw_price": "0.0000",
        "gw_items_base_price": "0.0000",
        "gw_items_price": "0.0000",
        "gw_card_base_price": "0.0000",
        "gw_card_price": "0.0000"
    }
}

Example result:

{
    "personalizationValuesJSON":{"FullName":"William Crooks","BillAddr":"4317 Benton Elm Drive","BillCity":"Plano","BillState":"TX","BillZip":"75024","BillCountry":"United States","ShipAddr":"4317 Benton Elm Drive","ShipCity":"Plano","ShipState":"TX","ShipZip":"75024","ShipCountry":"United States","OrderID":"69981","Reference":"000569525","ShipVia":"FedEx 2 Day","OrderDate":"7-2-2019","Subtotal":"$10,044.97","ShippingCharges":"$5.99","SalesTax":"$939.97","Discounts":"$0.00","OrderTotal":"$10,990.91","OrderDetails":"~SUB~OrderDetails~"},
    "tabularData":[
    	{
    	  "pvName":"OrderDetails",
    	  "dataSet":[
    	  	{
    			"tableName":"items",
			    "data":[
			    			{"ImageURL":"https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/A0133068A0000/base/280x280/MC_CLOCKS_COL-OKS-274_1.jpg","SKU":"4027041-1","Title":"A0133068A0000 MC 12in Art Glass Clock-Oklahoma St","Del":"Ships Direct to Customer","Quantity":"1","Price":"$44.99","Subtotal":"$44.99"},
			    			{"ImageURL":"https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/A0095789A0000/base/ROCKON_LSU_22092_1.jpg","SKU":"4000000-1","Title":"A0095789A0000 Louisiana State Swarovsky Crystal Adorned Football","Del":"Ships Direct to Customer","Quantity":"2","Price":"$4,999.99","Subtotal":"$9,994.98"}
			           ]
    	  	}
    	  ]
    	}
    ]
}

*/
RETURNS NVARCHAR(MAX)
AS
BEGIN
/*
DECLARE @Email_Name VARCHAR(100)
	,@Entity VARCHAR(50)
	,@Data NVARCHAR(MAX)
SET @Email_Name = 'orderconfirm'
SET @Entity = 'Balfour'
*/
    -- Declare the return variable here
    DECLARE @JSON NVARCHAR(MAX), @Working NVARCHAR(MAX), @Working2 NVARCHAR(MAX), @First VARCHAR(50), @Last VARCHAR(50), @FullName VARCHAR(100), @Cnt INT, @Billing VARCHAR(500), @BillingJSON VARCHAR(5000), @ShippingAddr VARCHAR(500), @Shipping DECIMAL(12,2), @Handling DECIMAL(12,2), @LateFees DECIMAL(12,2), @ShippingAndHandling DECIMAL(12,2), @RingSavings DECIMAL(12,2), @Subtotal DECIMAL(12,2), 
	@Tax DECIMAL(12,2), @Total DECIMAL(12,2), @Discounts DECIMAL(12,2), @Value VARCHAR(MAX), @IsFreeShipping BIT, @ShipToHomeCount INT, @ShipToSchoolCount INT, @ShipVia VARCHAR(50),
	@BillCity VARCHAR(100)
	SET @JSON = ''
	SET @IsFreeShipping = 0
	SET @ShipToHomeCount = 0
	SET @ShipToSchoolCount = 0
	SET @ShipVia = ''
	DECLARE @Loop INT, @Max INT, @Comma VARCHAR(1), @Source VARCHAR(50), @Dest VARCHAR(50)
	DECLARE @DetailsJSON TABLE ([row] NVARCHAR(MAX))
	--DECLARE @NVC TABLE ([Name] NVARCHAR(MAX), [Value] NVARCHAR(MAX), [Loop] INT IDENTITY(1,1))
	IF @Email_Name = 'orderconfirm' AND @Entity = 'balfour'
		BEGIN
			SET @BillingJSON = ''
			SET @JSON = '{"personalizationValuesJSON":{'
		    DECLARE @ColMatch TABLE ([Source] VARCHAR(50), [Dest] VARCHAR(50), [Loop] INT IDENTITY (1,1))
			INSERT INTO @ColMatch ([Source],[Dest])
			
			
			SELECT 'increment_id', 'OrderID'
			UNION
			SELECT 'increment_id', 'Reference'
			--UNION
			--SELECT 'ShipVia', 'ShipVia'
			--UNION
			--SELECT 'created_at', 'OrderDate'
			--UNION
			--SELECT 'base_subtotal', 'Subtotal'
			----UNION
			----SELECT 'ShippingCharges', 'ShippingCharges'
			--UNION
			--SELECT 'base_tax_amount', 'SalesTax'
			--UNION
			--SELECT 'base_discount_amount', 'Discounts'
			--UNION
			--SELECT 'base_grand_total', 'OrderTotal'
			--UNION
			--SELECT 'OrderDetails', 'OrderDetails'
			

			SELECT @Max = MAX([Loop]) FROM @ColMatch
			SET @Loop = 1
			SET @Comma = ''
			WHILE @Loop <= @Max
				BEGIN
					SELECT @Source = [Source], @Dest = [Dest] FROM @ColMatch WHERE [Loop] = @Loop
					SELECT @Value = [Value] FROM OPENJSON(@Data) WHERE [Key] = @Source
					SELECT @JSON = @JSON + @Comma + '"' + @Dest + '":"' + @Value + '"'
					
					--IF @Dest = 'OrderID'
					--	BEGIN
					--	  UPDATE [dbo].[EmailJobs_Queue] SET [Key_Name] = 'OrderID', [Key_Value] = LEFT(@Value,50) WHERE [ID] = @ID
					--	END
					
					SET @Comma = ','
					SET @Loop = @Loop + 1
				END
			
			/*******Calculated fields**********/
			--Order Date
			SELECT @Working = [Value] FROM OPENJSON(@Data) WHERE [Key] = 'created_at'
			SET @JSON = @JSON + ',"OrderDate":"' + CONVERT(VARCHAR(10),DATEADD(hour,-5,CAST(@Working AS DATETIME)), 101) + '"'

			SELECT @Subtotal = 0, @Tax = 0, @Discounts = 0, @Shipping = 0, @Total = 0
			--Subtotal
			SELECT @Subtotal = CAST(ISNULL([Value],'0.00') AS DECIMAL(12,2)) FROM OPENJSON(@Data) WHERE [Key] = 'base_subtotal'
			--SalesTax
			SELECT @Tax = CAST(ISNULL([Value],'0.00') AS DECIMAL(12,2)) FROM OPENJSON(@Data) WHERE [Key] = 'base_tax_amount'
			--Discounts
			SELECT @Discounts = CAST(ISNULL([Value],'0.00') AS DECIMAL(12,2)) FROM OPENJSON(@Data) WHERE [Key] = 'base_discount_amount'
			--ShippingCharges
			SELECT @Shipping = CAST(ISNULL([Value],'0.00') AS DECIMAL(12,2)) FROM OPENJSON(@Data) WHERE [Key] = 'shipping_amount'
			--OrderTotal
			SELECT @Total = CAST(ISNULL([Value],'0.00') AS DECIMAL(12,2)) FROM OPENJSON(@Data) WHERE [Key] = 'base_grand_total'
			
			--Handling
			SELECT @Working = [Value] FROM OPENJSON(@Data) WHERE [Key] = 'extension_attributes'
			SELECT @Working = ISNULL([Value],'') FROM OPENJSON(@Working) WHERE [Key] = 'handling_fees_amount'
			IF ISNUMERIC(@Working) = 1
				SET @Handling = CAST(@Working as DECIMAL(12,2))
			ELSE
				SET @Handling = @Total - (@Subtotal + @Shipping + @Discounts + @Tax) --FALLBACK

			-- Late Fees
			SELECT @Working = [Value] FROM OPENJSON(@Data) WHERE [Key] = 'extension_attributes'
			SELECT @Working = ISNULL([Value],'') FROM OPENJSON(@Working) WHERE [Key] = 'late_fees_amount'
			IF ISNUMERIC(@Working) = 1
				SET @LateFees = CAST(@Working as DECIMAL(12,2))
			ELSE
				SET @LateFees = 0
			
			--ring_savings_amount (Savings Applied - put right after Shipping & Handling)
			SET @RingSavings = 0
			SELECT @Working = [Value] FROM OPENJSON(@Data) WHERE [Key] = 'extension_attributes'
			SELECT @Working = ISNULL([Value],'') FROM OPENJSON(@Working) WHERE [Key] = 'ring_savings_amount'
			IF LEN(@Working) < 50
				IF ISNUMERIC(@Working) = 1
					SET @RingSavings = CAST(@Working as DECIMAL(12,2)) --Note that this will be a negative amount

			--ShipVia
			SET @Working = NULL
			SET @ShipVia = '<b>Shipping Method<\/b><br \/>'
			SELECT @Working = [Value] FROM OPENJSON(@Data) WHERE [Key] = 'shipping_description'
			IF ISNULL(@Working,'') NOT IN ('','NULL')
				BEGIN
					SET @JSON = @JSON + ',"ShipVia":"' + @Working + '"'
					IF @Working LIKE '%Free%' SET @IsFreeShipping = 1
					SET @ShipVia = @ShipVia + @Working
				END
			ELSE
				BEGIN
					SET @JSON = @JSON + ',"ShipVia":"Standard Shipping"'
					SET @ShipVia = @ShipVia + 'Standard Shipping'
				END

			SET @ShippingAndHandling = @Shipping + @Handling

			SET @JSON = @JSON + ',"Subtotal":"$' + CAST(@Subtotal as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"SalesTax":"$' + CAST(@Tax as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"Discounts":"$' + CAST(@Discounts as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"ShipCharges":"$' + CAST(@Shipping as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"RingSavings":"$' + CAST(@RingSavings as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"Handling":"$' + CAST(@Handling as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"LateFees":"$' + CAST(@LateFees as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"OrderTotal":"$' + CAST(@Total as VARCHAR(15)) + '"'
			SET @JSON = @JSON + ',"ShippingAndHandling":"$' + CAST(@ShippingAndHandling as VARCHAR(15)) + '"'

			SET @JSON = @JSON + ',"TotalBlock":"<table><tbody><tr>' +
						'<td><b>Order Subtotal<\/b><\/td>' + 
						'<td align=\"right\">$' + CAST(@Subtotal AS VARCHAR(15)) + '<\/td>' +
						'<\/tr>' +
						'<tr>' + 
						'<td><b>Handling + Delivery<\/b><\/td>' +
						'<td align=\"right\">' + 
						CASE WHEN @IsFreeShipping = 1 AND @ShippingAndHandling = 0 THEN
							'Free'
						ELSE 
							'$' + CAST(@ShippingAndHandling AS VARCHAR(15)) 
						END + 
						'<\/td>' +
						'<\/tr>'
			IF @RingSavings <> 0
				BEGIN
					SET @JSON = @JSON + '<tr>' + 
						'<td><b>Savings Applied<\/b><\/td>' +
						'<td align=\"right\">-$' + CAST(ABS(@RingSavings) AS VARCHAR(15)) + '<\/td>' +
						'<\/tr>'
				END
			/*
			IF @Handling > 0
				BEGIN
					SET @JSON = @JSON + '<tr>' + 
						'<td><b>Handling Charges<\/b><\/td>' +
						'<td align=\"right\">$' + CAST(@Handling AS VARCHAR(15)) + '<\/td>' +
						'<\/tr>'
				END
			*/

			IF @LateFees <> 0
				BEGIN
					SET @JSON = @JSON + '<tr>' + 
						'<td><b>Late Fee Charges<\/b><\/td>' +
						'<td align=\"right\">$' + CAST(@LateFees AS VARCHAR(15)) + '<\/td>' +
						'<\/tr>'
				END

			SET @JSON = @JSON + 
						'<tr>' +
						'<td><b>Sales Tax<\/b><\/td>' +
						'<td align=\"right\">$' + CAST(@Tax AS VARCHAR(15)) + '<\/td>' +
						'<\/tr>' +
						CASE WHEN @Discounts <> 0 THEN
							'<tr>' +
							'<td><b>Discounts<\/b><\/td>' +
							'<td align=\"right\">$' + CAST(@Discounts AS VARCHAR(15)) + '<\/td>' +
							'<\/tr>' 
						ELSE
							''
						END	+
						'<tr>' +
						'<td><b>Order Total<\/b><\/td>' +
						'<td align=\"right\">$' + CAST(@Total AS VARCHAR(15)) + '<\/td>' +
						'<\/tr>' +
						'<\/tbody>' +
						'<\/table>"'
			
			
			

			--Full Name
			SET @Cnt = 0
			SET @FullName = ''
			SELECT @Cnt = COUNT(*) FROM OPENJSON(@Data) WHERE [key] = 'customer_firstname'
			IF @Cnt = 0
				BEGIN
					SELECT @Working = [VALUE] FROM OPENJSON(@Data) WHERE [key] = 'billing_address'
					SELECT @First = ISNULL([Value],'') FROM OPENJSON(@Working) WHERE [key] = 'firstname'
					SELECT @Last = ISNULL([Value],'') FROM OPENJSON(@Working) WHERE [key] = 'lastname'
				END
			ELSE
				BEGIN
					SELECT @First = ISNULL([Value],'') FROM OPENJSON(@Data) WHERE [key] = 'customer_firstname'
					SELECT @Last = ISNULL([Value],'') FROM OPENJSON(@Data) WHERE [key] = 'customer_lastname'
				END
			IF @First <> 'null' SET @FullName = @First + ' '
			IF @Last <> 'null' SET @FullName = @FullName + @Last
			IF LTRIM(RTRIM(@FullName)) = '' SET @FullName = 'Valued Customer'
			SET @JSON = @JSON + ',"FullName":"' + @FullName + '",'

			
			--Billing Address
			SET @Billing = ''
			SELECT @Working = [VALUE] FROM OPENJSON(@Data) WHERE [key] = 'billing_address'
			SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'street'
			SELECT @Cnt = COUNT(*) FROM OPENJSON(@Working)
			IF @Cnt > 0
				BEGIN
					SELECT @Billing = @Billing + Ltrim(RTRIM(ISNULL([VALUE],''))) + CASE WHEN Ltrim(RTRIM(ISNULL([VALUE],''))) <> '' THEN '<br \/>' ELSE '' END FROM OPENJSON(@Working)
					IF @Billing <> '' 
						BEGIN
							SELECT @BillingJSON = @BillingJSON + '"BillStreetAddress":"' + REPLACE(ISNULL(@Billing,''), '<br \/>', '') + '",' 
							SET @Billing = @FullName + '<br \/>' + @Billing
							--Since there is a street, go on to find the remainder of the address
							SELECT @Working = [VALUE] FROM OPENJSON(@Data) WHERE [key] = 'billing_address'
							--SELECT @JSON = @JSON + '"BillAddr":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Data) WHERE [key] = 'billing_address'
							SELECT @Billing = @Billing + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'city' AND [Value] <> 'null'
							SELECT @BillingJSON = @BillingJSON + '"BillCity":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'city' AND [Value] <> 'null'
							SELECT @Billing = @Billing + CASE WHEN ISNULL([VALUE],'') NOT IN ('','null') THEN ', ' ELSE '' END + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'region_code' AND [Value] <> 'null'
							SELECT @BillingJSON = @BillingJSON + '"BillState":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'region_code' AND [Value] <> 'null'
							SELECT @Billing = @Billing + CASE WHEN ISNULL([VALUE],'') NOT IN ('','null') THEN ' ' ELSE '' END + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'postcode' AND [Value] <> 'null'
							SELECT @BillingJSON = @BillingJSON + '"BillZip":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'postcode' AND [Value] <> 'null'
							SELECT @Billing = @Billing + CASE WHEN ISNULL([VALUE],'') NOT IN ('','null') THEN '<br \/>T: ' ELSE '' END + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'telephone' AND [Value] <> 'null'
							SELECT @BillingJSON = @BillingJSON + '"BillPhone":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'telephone' AND [Value] <> 'null'
						
							SET @JSON = @JSON + @BillingJSON
						END
				END
			--See if this is a PayPal order
			SELECT @Working = [Value] FROM OPENJSON(@Data) WHERE [Key] = 'payment'
			SELECT @Working = ISNULL([Value],'') FROM OPENJSON(@Working) WHERE [Key] = 'method'

			DECLARE @IsPayPal bit = 0

			IF @Working IN ('paypal_express') 
				BEGIN
					SET @Billing = @Billing + '<br /><br /><b>Paid with PayPal</b>'
					SET @IsPayPal = 1
				END

			SET @JSON = @JSON + '"IsPayPal":' + CAST(@IsPayPal AS CHAR(1)) + ','

			--SET @JSON = @JSON + '"BillingAddr":"' + '<b>Billing Address</b><br />' + @Billing + '",'
			SET @JSON = @JSON + '"BillingAddr":"' + @Billing + '",'

			--Shipping Address
			SET @ShippingAddr = ''
			SELECT @Working = [VALUE] FROM OPENJSON(@Data) WHERE [key] = 'extension_attributes'
			SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = '0'
			SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'shipping_assignments'
			SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = '0'
			--Make sure there is a shipping block
			SELECT @Cnt = COUNT(*) FROM OPENJSON(@Working) WHERE [key] = 'shipping'
			IF @Cnt > 0
				BEGIN
					SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'shipping'
					--Make sure there is an address block
					SELECT @Cnt = COUNT(*) FROM OPENJSON(@Working) WHERE [key] = 'address'
					IF @Cnt > 0
						BEGIN
							SELECT @Working = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'address'
							SELECT @Working2 = [VALUE] FROM OPENJSON(@Working) WHERE [key] = 'street'
							SELECT @Cnt = COUNT(*) FROM OPENJSON(@Working2)
							IF @Cnt > 0 --We have at least one street
								BEGIN
									SELECT @ShippingAddr = @ShippingAddr + Ltrim(RTRIM(ISNULL([VALUE],''))) + CASE WHEN Ltrim(RTRIM(ISNULL([VALUE],''))) <> '' THEN '<br \/>' ELSE '' END FROM OPENJSON(@Working2)
									IF @ShippingAddr <> '' 
										BEGIN
											SELECT @JSON = @JSON + '"ShipStreetAddress":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working2)

											--Since there is a street, go on to find the remainder of the address but we need to move back up a level to @Working
											SELECT @FullName = LTRIM(RTRIM(ISNULL([VALUE],''))) FROM OPENJSON(@Working) WHERE [Key] = 'firstname'
											SELECT @FullName = LTRIM(RTRIM(@FullName + ' ' + LTRIM(RTRIM(ISNULL([VALUE],''))))) FROM OPENJSON(@Working) WHERE [Key] = 'lastname'
											SELECT @ShippingAddr = @ShippingAddr + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'city' AND [Value] <> 'null'
											SELECT @JSON = @JSON + '"ShipCity":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'city' AND [Value] <> 'null'
											SELECT @ShippingAddr = @ShippingAddr + CASE WHEN ISNULL([VALUE],'') NOT IN ('','null') THEN ', ' ELSE '' END + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'region_code' AND [Value] <> 'null'
											SELECT @JSON = @JSON + '"ShipState":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'region_code' AND [Value] <> 'null'
											SELECT @ShippingAddr = @ShippingAddr + CASE WHEN ISNULL([VALUE],'') NOT IN ('','null') THEN ' ' ELSE '' END + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'postcode' AND [Value] <> 'null'
											SELECT @JSON = @JSON + '"ShipZip":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'postcode' AND [Value] <> 'null'
											SELECT @ShippingAddr = @ShippingAddr + CASE WHEN ISNULL([VALUE],'') NOT IN ('','null') THEN '<br \/>T: ' ELSE '' END + ISNULL([VALUE],'') FROM OPENJSON(@Working) WHERE [Key] = 'telephone' AND [Value] <> 'null'
											SELECT @JSON = @JSON + '"ShipPhone":"' + ISNULL([VALUE],'') + '",' FROM OPENJSON(@Working) WHERE [Key] = 'telephone' AND [Value] <> 'null'

											IF LTRIM(RTRIM(@FullName)) <> '' SET @ShippingAddr = @FullName + '<br \/>' + @ShippingAddr
										END
								END
						END
				END
--New Condition For Ring Order Message Update Starts

	IF NOT EXISTS (
			SELECT *
			FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.delivery_method') <> 'School'			
			)
		BEGIN
			IF NOT EXISTS (
			SELECT *
			FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.bal_item_category') <> 'jewelry')
				BEGIN
					SET @JSON = @JSON + '"ShippingAddr":"",'
				END
			ELSE
				BEGIN
					SET @JSON = @JSON + '"ShippingAddr":"' + '<b>Ship to Home Address</b><br />' + CASE WHEN LTRIM(RTRIM(@ShippingAddr)) = '' THEN @Billing ELSE @ShippingAddr END + '<br \/><br \/>' + @ShipVia + '",'
				END
		END
	ELSE
		BEGIN
			SET @JSON = @JSON + '"ShippingAddr":"' + '<b>Ship to Home Address</b><br />' + CASE WHEN LTRIM(RTRIM(@ShippingAddr)) = '' THEN @Billing ELSE @ShippingAddr END + '<br \/><br \/>' + @ShipVia + '",'
		END
			--SET @JSON = @JSON + '"ShippingAddr":"' + '<b>Ship to Home Address</b><br />' + CASE WHEN LTRIM(RTRIM(@ShippingAddr)) = '' THEN @Billing ELSE @ShippingAddr END + '<br \/><br \/>' + @ShipVia + '",'
			--SET @JSON = @JSON + '"ShippingAddr":"",'

--New Condition For Ring Order Message Update Ends

			IF LTRIM(RTRIM(@ShippingAddr)) = ''
				BEGIN
					SET @JSON = @JSON + REPLACE(@BillingJSON, '"Bill', '"Ship')
				END

			--The details
			SET @JSON = @JSON + '"OrderDetails":"~SUB~OrderDetails~","OrderItemDetails":"$$$InsertOrderItemDetails$$$"' 
			DECLARE @Details NVARCHAR(MAX)
			SELECT @Details = [value] FROM OPENJSON(@Data) WHERE [key] = 'items'
			DECLARE @OrderDetails TABLE ([Col1Style] VARCHAR(50), [School] VARCHAR(100), [First] VARCHAR(50), [Last] VARCHAR(50), [Grade] VARCHAR(50), [ImageURL] VARCHAR(200), [SKU] VARCHAR(50), [Title] VARCHAR(100), [Del] VARCHAR(100), [Quantity] INT, [Price] VARCHAR(25), [Subtotal] VARCHAR(25), [product_type] VARCHAR(100), [parent_item] NVARCHAR(MAX), [SMI] VARCHAR(50), [Loop] INT IDENTITY(1,1))
			DECLARE @OrderDetailsFinal TABLE ([COl1Style] VARCHAR(50),[School] VARCHAR(100), [SchoolName] VARCHAR(100), [First] VARCHAR(50), [Last] VARCHAR(50), [Grade] VARCHAR(50), [ImageURL] VARCHAR(200), [SKU] VARCHAR(50), [Title] VARCHAR(100), [Del] VARCHAR(100), [Quantity] INT, [Price] VARCHAR(25), [Subtotal] VARCHAR(25), [product_type] VARCHAR(100), [parent_item] NVARCHAR(MAX), [SMI] VARCHAR(50), [Loop] INT IDENTITY(1,1))
			DECLARE @OrderDetailsJSON NVARCHAR(MAX)

			INSERT INTO @OrderDetails ([SKU], [Title], [Quantity], [Price], [Subtotal], [product_type], [parent_item], [ImageURL],[SMI],[DEL],[First],[Last],[Grade])
			SELECT [SKU], [Title], [Quantity], [Price], [Subtotal],[product_type],[parent_item],[ImageURL],[SMI], [delivery_method], [First], [Last], [Grade] FROM OPENJSON(@Details) WITH (SKU VARCHAR(50) '$.sku', Title VARCHAR(100) '$.name', Quantity int 'strict $.qty_ordered', [Price] VARCHAR(25) '$.price', [Subtotal] VARCHAR(25) '$.base_row_total', [product_type] VARCHAR(100) '$.product_type', [parent_item] NVARCHAR(MAX) '$.parent_item.sku', [ImageURL] VARCHAR(200) '$.extension_attributes.product_image_url', [SMI] VARCHAR(50) '$.extension_attributes.smi', [delivery_method] VARCHAR(100) '$.extension_attributes.delivery_method', [First] VARCHAR(50) '$.extension_attributes.student_first_name', [Last] VARCHAR(50) '$.extension_attributes.student_last_name', [Grade] VARCHAR(50) '$.extension_attributes.student_school_grade')

			UPDATE @OrderDetails SET [Price] = '$' + CAST(CAST([Price] AS DECIMAL(12,2)) AS VARCHAR(15)), [Subtotal] = '$' + CAST(CAST([Subtotal] AS DECIMAL(12,2)) AS VARCHAR(15)), [First] = ISNULL([First],''), [Last] = ISNULL([Last],''), [Grade] = ISNULL([Grade],'')
			
			INSERT INTO @OrderDetailsFinal ([School],[ImageURL], [SKU], [Title], [Del], [Quantity], [Price], [Subtotal],[First],[Last],[Grade]) 
			SELECT CASE WHEN ISNUMERIC([SMI]) = 1 THEN dbo.fn_GetSchoolName(CAST([SMI] AS INT))ELSE '' END, [ImageURL], [SKU], [Title], [DEL], [Quantity], [Price], [Subtotal],[First],[Last],[Grade] FROM @OrderDetails
			WHERE ISNULL([parent_item],'') = ''
			ORDER BY [SMI], [Loop]

			UPDATE @OrderDetailsFinal SET [SchoolName] = [School]

			SELECT @ShipToHomeCount = COUNT(*) FROM @OrderDetailsFinal WHERE [Del] = 'home'
			SELECT @ShipToSchoolCount = COUNT(*) FROM @OrderDetailsFinal WHERE [Del] IN ('school','representative')

--New Condition For Ring Order Message Update Starts
	IF NOT EXISTS
			(SELECT 1 FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.smi') <> '-131212')	--Pravin:Invalidate UNC Check		
		BEGIN
		IF NOT EXISTS
			(SELECT * FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.bal_item_category') <> 'jewelry')
				BEGIN			
					SET @JSON = @JSON + ',"ShipToLabel":"All student ring orders placed between January 2, 2024 - February 16, 2024 will be shipped to the Carolina Alumni Office for the Spring Ring Ceremony on Sunday, April 14, 2024.<br/>
Rings ordered after February 16, 2024 will NOT be available during the Ring Ceremony on Sunday, April 14, 2024 but will be shipped to the address provided on the ring order.<br/>
All alumni orders will be directly shipped to the shipping address provided on the ring order."'
					SET @JSON = @JSON + ',"ShipToMessage":""' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
			ELSE
				BEGIN
					SET @JSON = @JSON + ',"ShipToLabel":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'Ship to School' ELSE '' END + '"'
					SET @JSON = @JSON + ',"ShipToMessage":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'All ship to school items will be automatically delivered to your school.' ELSE '' END + '"' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
		END


		-----------------------------Updated Below If condiation to Send Message for 99751 SMI-------------------------
		IF NOT EXISTS
			(SELECT 1 FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.smi') <> '99751')	
		BEGIN
		IF NOT EXISTS
			(SELECT * FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.bal_item_category') <> 'jewelry')
				BEGIN			
					SET @JSON = @JSON + ',"ShipToLabel":"Your ring(s) will be shipped to your school.<br/>Rings will be shipped to your Culver Academies & will be distributed at the appropriate time.<br/>"'
					SET @JSON = @JSON + ',"ShipToMessage":""' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
			ELSE
				BEGIN
					SET @JSON = @JSON + ',"ShipToLabel":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'Ship to School' ELSE '' END + '"'
					SET @JSON = @JSON + ',"ShipToMessage":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'All ship to school items will be automatically delivered to your school.' ELSE '' END + '"' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
		END
	
		----------------------------------


		IF NOT EXISTS
			(SELECT 1 FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.smi') <> '131205')			
		BEGIN
		IF NOT EXISTS
			(SELECT * FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.bal_item_category') <> 'jewelry')
				BEGIN			
					SET @JSON = @JSON + ',"ShipToLabel":"All student ring orders placed between January 2, 2024 – March 1, 2024 will be shipped to the NC State Alumni Association for the Belltower Event and Ring Ceremony on Tuesday, April 23, 2024 and Wednesday, April 24, 2024.
											Rings ordered after March 1, 2024 will NOT be available during the Belltower Event and Ring Ceremony but will be directly shipped to the address provided on the ring order.
											All alumni orders will be directly shipped to the shipping address provided on the ring order."'
					SET @JSON = @JSON + ',"ShipToMessage":""' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
			ELSE
				BEGIN
					SET @JSON = @JSON + ',"ShipToLabel":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'Ship to School' ELSE '' END + '"'
					SET @JSON = @JSON + ',"ShipToMessage":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'All ship to school items will be automatically delivered to your school.' ELSE '' END + '"' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
		END
	ELSE IF NOT EXISTS
			(SELECT * FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.delivery_method') <> 'School')			
		BEGIN
			IF NOT EXISTS
			(SELECT * FROM OPENJSON(@DATA, '$.items') AS items
			WHERE JSON_VALUE(items.value, '$.extension_attributes.bal_item_category') <> 'jewelry')
				BEGIN			
					SET @JSON = @JSON + ',"ShipToLabel":"Your ring(s) will be shipped to your school. <br /> You will receive it during the School Ring Ceremony."'
					SET @JSON = @JSON + ',"ShipToMessage":""' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
			ELSE
				BEGIN
					SET @JSON = @JSON + ',"ShipToLabel":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'Ship to School' ELSE '' END + '"'
					SET @JSON = @JSON + ',"ShipToMessage":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'All ship to school items will be automatically delivered to your school.' ELSE '' END + '"' +
						'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
				END
		END

		ELSE
			BEGIN
				SET @JSON = @JSON + ',"ShipToLabel":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'Ship to School' ELSE '' END + '"'
				SET @JSON = @JSON + ',"ShipToMessage":"' + CASE WHEN @ShipToSchoolCount > 0 THEN 'All ship to school items will be automatically delivered to your school.' ELSE '' END + '"' +
					'},"tabularData":[{"pvName":"OrderDetails","dataSet":[{"tableName":"items","data":'
			END
--New Condition For Ring Order Message Update Ends

			DECLARE @LastSchool VARCHAR(100), @School VARCHAR(100)
			SET @LastSchool = 'X'
			SELECT @Max = MAX([Loop]) FROM @OrderDetailsFinal
			SET @Loop = 1
			WHILE @Loop <= @Max
				BEGIN
					SELECT @School = [School] FROM @OrderDetailsFinal WHERE [Loop] = @Loop
					--IF @LastSchool = 'X' SET @LastSchool = @School
					IF @LastSchool = @School UPDATE @OrderDetailsFinal SET [School] = '', [Col1Style] = 'width="34%" style="border:none;padding-top:10px;"' WHERE [Loop] = @Loop
					ELSE
						BEGIN
							IF LTRIM(RTRIM(ISNULL(@School,''))) <> ''
								BEGIN
									SELECT @Cnt = COUNT(*) FROM @OrderDetailsFinal WHERE [School] = @School
									UPDATE @OrderDetailsFinal SET [School] = CASE WHEN @Loop > 1 THEN '<br />' ELSE '' END + '<b>' + [School] + '</b> (' + CAST(@Cnt AS VARCHAR(5)) + CASE WHEN @Cnt > 1 THEN ' Items)' ELSE ' Item)' END WHERE [Loop] = @Loop
								END
						END
					SET @LastSchool = @School
					SET @Loop = @Loop + 1
				END
			UPDATE @OrderDetailsFinal SET [School] = [School] + '</td></tr><tr><td>', [Col1Style] = 'colspan="4"' WHERE ISNULL([School],'') <> ''



			IF @Use_Klaviyo_Format = 1
				BEGIN
					SELECT @OrderDetailsJSON = '[' + STRING_AGG(CONVERT(NVARCHAR(max),item), ', ') + ']' FROM 
						(
						SELECT '{ "SchoolName":"' + ISNULL([SchoolName],'') + '"'
								+  ',"ImageURL":' + '"' + [ImageURL] + '"' 
								+  ',"SKU":' + '"' + [SKU] + '"' 
								+  ',"Title":' + '"' + [Title] + '"' 
								+  ',"Grade":' + '"' + [Grade] + '"' 
								+  ',"Del":' + '"' + [Del] + '"' 
								+  ',"Price":' + '"' + CAST([Price] AS VARCHAR(100)) + '"' 
								+  ',"Quantity":' + '"' + CAST([Quantity] AS NVARCHAR(100)) + '"'
								+  ',"SubTotal":' + '"' + CAST([SubTotal] AS NVARCHAR(100)) + '"' 
								+  ',"StudentName":' + '"' + LTRIM(RTRIM([First] + ' ' + [Last])) + '"' 
						+ '}' 
									as item
									FROM @OrderDetailsFinal
						) as d

					SET @JSON = REPLACE(@JSON, '"$$$InsertOrderItemDetails$$$"', @OrderDetailsJSON)
				END

			SELECT @JSON = @JSON + (SELECT [Col1Style], [School], '<img src="' + [ImageURL] + '"height="75" width="75">' as [ImageURL], [SKU], [Title], CASE WHEN LTRIM(RTRIM([First] + ' ' + [Last])) <> '' THEN '<b>Order for:</b> ' + LTRIM(RTRIM([First] + ' ' + [Last])) + '<br />' ELSE '' END + CASE WHEN LTRIM(RTRIM(ISNULL([Grade],''))) <> '' THEN '<b>Grade: </b>' + [Grade] + '<br />' ELSE '' END + '<b>Ship to: </b>' + [Del] as [Del], [Quantity], [Price], [Subtotal],LTRIM(RTRIM([First] + ' ' + [Last])) as [StudentName], [Grade] FROM @OrderDetailsFinal 
			ORDER BY [Loop]
			FOR JSON PATH)
			SET @JSON = @JSON + N'
    	  	}
    	  ]
    	}
    ],
	"saveColumns":"OrderID,BillCity,BillState,BillZip,FullName,OrderDate,OrderTotal,OrderDetails,SalesTax,ShipCharges,ShipCity,ShipState,ShipZip,ShipVia,Subtotal,TotalBlock"
}'
		END --orderconfirm
	IF @Email_Name = 'eGiftingUpdate' and @Entity = 'balfour'
		BEGIN
			SET @JSON = '{"personalizationValuesJSON":' + @Data + ',"saveColumns":"Type,HasDesigned,HasPurchased,CID"}'
		END
	IF @Email_Name = 'eGifting' AND @Entity = 'balfour'
		BEGIN
			SET @JSON = '{"personalizationValuesJSON":' + @Data + ',"saveColumns":"Type,ExpirationDate,HasDesigned,HasPurchased,PurchaserMessage,Budget,CID,OtherEmail,RecipientName,PurchaserName,RecipientRelationship,RingImageLink,RingLink"}'
		END
	IF @Email_Name = 'eGiftingPurchaser' AND @Entity = 'balfour'
		BEGIN
			SET @JSON = '{"personalizationValuesJSON":' + @Data + ',"saveColumns":"Type,ExpirationDate,HasDesigned,HasPurchased,CID,OtherEmail,RecipientName,PurchaserName,RingImageLink,RingLink"}'
		END
	IF @Email_Name = 'GradPackVouchers' AND @Entity = 'balfour'
		BEGIN
			SET @JSON = '{"personalizationValuesJSON":' + @Data + ',"saveColumns":"First_Name,VoucherCode,VoucherValue,IsVoucherRedeemed,SMI,URL"}' 
		END
	IF @Email_Name = 'shareuc' AND @Entity = 'balfour'
			BEGIN --We need the individual email addresses out of
				SET @JSON = '{"personalizationValuesJSON":' + @Data + ',"saveColumns":"Message,Recipient_Email,Recipient_Name,Ring_Design_Link,Ring_Image_Link,Sender_Email,Ring_Name,Sender_Name,Sender_Opt_In,Messagetype"}'
			END
	IF (@Email_Name = '20percentshare' OR @Email_Name = '20percentsharesender') AND @Entity = 'balfour'
		BEGIN
			SET @JSON = '{"personalizationValuesJSON":' + @Data + ',"saveColumns":"fromName,toName,promoCode,relationship,message,expirationDate,isSharer,fromEmail"}'
		END
	IF @Email_Name = 'photovouchers' AND @Entity = 'balfour'
			BEGIN --We are just doing a basic pass-through - sample {"First_Name":"William","SMI":12345,"VoucherCode":"ABC123","VoucherValue":20}
				--SET @JSON = '{"personalizationValuesJSON":' + @Data + '}'
				SET @JSON = '{"personalizationValuesJSON":' + @Data + CASE WHEN @Is_Resend = 0 THEN ',"saveColumns":"First_Name,SMI,VoucherValue,VoucherCode,URL"' ELSE '' END + '}' --If resending we don't want to save the data again
			END --PhotoAnnVouchers

	IF @Email_Name = 'photobookvouchers' AND @Entity = 'balfour'
			BEGIN --We are just doing a basic pass-through - sample {"First_Name":"William","SMI":12345,"VoucherCode":"ABC123","VoucherValue":20}
				--SET @JSON = '{"personalizationValuesJSON":' + @Data + '}'
				SET @JSON = '{"personalizationValuesJSON":' + @Data + CASE WHEN @Is_Resend = 0 THEN ',"saveColumns":"first_name,VoucherValue,VoucherCode,Deadline_date"' ELSE '' END + '}' --If resending we don't want to save the data again
			END --PhotoAnnVouchers

	IF @Email_Name = 'digitalcode' AND @Entity = 'balfour'
			BEGIN --We are just doing a basic pass-through - sample {"First_Name":"William","SMI":12345,"VoucherCode":"ABC123","VoucherValue":20}
				--SET @JSON = '{"personalizationValuesJSON":' + @Data + '}'
				SET @JSON = '{"personalizationValuesJSON":' + @Data + CASE WHEN @Is_Resend = 0 THEN ',"saveColumns":"CODE,CODEEXPDATE,CodeValue,OrderDate,OrderID,ProductName,ProductType,SKU,URL"' ELSE '' END + '}' --If resending we don't want to save the data again
			END --digitalcode

	IF @Email_Name = 'virtcomm' AND @Entity = 'balfour'
			BEGIN --We are just doing a basic pass-through - sample {"SMI":"69959","SubAccount":"","EventID":"2101090","NameID":"2582","FirstName":"eudora","LastName":"choi","SchoolName":"Allen High School","Idomoo_Video_Link":"c.idomoo.com/2690/110559/6ceaad88f24541998ba78b6162e96386c419767630fc44e69439daf2bab6b224.mp4","Idomoo_landingpage":"my.idomoo.com/4787/5019_PhotoStory_Balfour/index.html?url=https://c.idomoo.com/2690/110559/6ceaad88f24541998ba78b6162e96386c419767630fc44e69439daf2bab6b224.mp4","Idomoo_Thumbnail":"c.idomoo.com/2690/110559/6ceaad88f24541998ba78b6162e96386c419767630fc44e69439daf2bab6b224_1.jpg"}
				--SET @JSON = '{"personalizationValuesJSON":' + @Data + '}'
				SET @JSON = '{"personalizationValuesJSON":' + @Data + CASE WHEN @Is_Resend = 0 THEN ',"saveColumns":"Idomoo_landingpage,Idomoo_Video_Link,Idomoo_Thumbnail,SMI,SubAccount,EventID,NameID,FirstName,LastName,SchoolName"' ELSE '' END + '}' --If resending we don't want to save the data again
			END --VirtComm

	IF @Email_Name LIKE 'dataUpdate%' AND @Entity = 'Balfour'
		BEGIN--We are just doing a basic pass-through except for the syncFields JSON - sample {"VoucherRedeemed": "2019-11-01","syncFields": {"email": "bill@crooksfamily.net","VoucherCode": "ABCCBA123"}}
			SET @JSON = '{' 
			SET @Comma = ''

			SELECT @JSON = @JSON + @Comma + '"' + [key] + '":"' + [Value] + '"', @Comma = ',' FROM OPENJSON(@Data) WHERE  [Key] <> 'syncFields' 
			SELECT @JSON = '{"personalizationValuesJSON":' + @JSON + '},"syncFields":' + [Value]  + '}' FROM OPENJSON(@Data) WHERE [Key] = 'syncFields'

		END

	IF @Email_Name IN ('noncontiguousalert','report')
		BEGIN
			SET @JSON = '' 
			SET @Comma = ''

			
			SELECT @JSON = '{"personalizationValuesJSON":' + @Data + '}'
		END
      
	--11/19/2020 TL - New code for recipients
	IF @Email_Name = 'recipients'-- AND @Entity = 'balfour'
			BEGIN --We are converting schoolUrl to SMI - sample {"action":"optin","schoolUrl":"/lsuring"}
				SET @JSON = @Data
				--[12/30/2020] TL - As of 12/29/2020 we explicitly send SMI if the opt in is not from checkout
				IF EXISTS (SELECT [Value] FROM OPENJSON(@JSON) WHERE [Key] = 'schoolUrl') AND NOT EXISTS (SELECT [Value] FROM OPENJSON(@JSON) WHERE [Key] = 'smi')
					BEGIN
						DECLARE @SMI INT
						SELECT @Value = ISNULL([Value],'') FROM OPENJSON(@JSON) WHERE [Key] = 'schoolUrl'
						SET @SMI = dbo.fn_Affinity_URL_to_SMI(@Value)
						IF @SMI > 0
							SET @JSON = REPLACE(REPLACE(@JSON,'schoolUrl','smi'),@Value,CAST(@SMI AS VARCHAR(50)))
						ELSE
							BEGIN
								IF EXISTS (SELECT [Value] FROM OPENJSON(@JSON) WHERE [Key] = 'page')
									BEGIN
										SELECT @Value = [Value] FROM OPENJSON(@JSON) WHERE [Key] = 'page'
										SET @JSON = '{"action":"optin","page":"' + @Value + '"}'
									END
								ELSE
									SET @JSON = '{"action":"optin"}'
							END

					END
			END --recipients


    -- Return the result of the function
    RETURN @JSON
END
GO
