/****** Object:  UserDefinedFunction [dbo].[MaxValue]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <24 August 2019>
-- Description: <Uses the definition of absolute value to
--               determine the maximum of two numbers.>
-- =============================================
CREATE FUNCTION [dbo].[MaxValue]
(	
	@a as int
  , @b as int
)
RETURNS INT
AS
BEGIN
	RETURN	  
		CAST((abs(@a+@b)+abs(@b-@a))/2 as INT)
END
GO
