/****** Object:  UserDefinedFunction [dbo].[fn_Get_School_URL]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/12/2020
-- Description: Constructs the URL for a school given the SMI
-- =============================================
CREATE FUNCTION [dbo].[fn_Get_School_URL]
(
     @SMI INT = 0
)
RETURNS VARCHAR(200)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @URL VARCHAR(200)
	SET @URL = ''
	
	SELECT @URL = CASE WHEN ISNULL([AffinityURL],'') = '' THEN LTRIM(RTRIM([CleanState])) + '/' + LTRIM(RTRIM([CleanCity])) + '/' + LTRIM(RTRIM([CleanSchoolName])) ELSE LTRIM(RTRIM([AffinityURL])) END
	FROM [dbo].[School_URLs_Import]
	WHERE [SMI] = @SMI
	

    -- Return the result of the function
    RETURN @URL
END
GO
