/****** Object:  UserDefinedFunction [dbo].[fn_ConditionalContentURLs]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11-7-2019
-- Description: Builds a list of URLs for a conditional content record
-- =============================================
CREATE FUNCTION [dbo].[fn_ConditionalContentURLs]
(
    @GUID VARCHAR(50)
)
RETURNS VARCHAR(MAX)
AS
BEGIN
	DECLARE @Result VARCHAR(MAX)
	SET @Result = ''
	DECLARE @OR VARCHAR(50)
	SET @OR = ''

	SELECT @Result = @Result +  '<br /><b>' + CASE WHEN [IsExclusion] = 1 THEN '<font color="#FF0000">-exclude-</font>' ELSE '-include-' END + '</b>&nbsp;' + '<font color="green">(' + ISNULL([Site],'') + ')</font> URL <font color="#808080">' + CASE ISNULL([SearchType],1) WHEN -3 THEN 'does not end with' WHEN -2 THEN 'does not start with' WHEN -1 THEN 'does not contain' WHEN 0 THEN 'exactly matches' WHEN 1 THEN 'contains' WHEN 2 THEN 'starts with' WHEN 3 THEN 'ends with' ELSE 'contains' END + '</font> "<font color="blue">' + ISNULL([URL],'') + '</font>"'
	FROM [dbo].[ConditionalContentURLs] WHERE [CCGUID] = @GUID ORDER BY [IsExclusion]

	RETURN @Result
END
GO
