/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_CapAndGownUrl]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 08/07/2020
-- Description: Return Cap & Gown URL if a SMI is a Cap & Gown school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_CapAndGownUrl]
(
    @SMI BIGINT = 0
)
RETURNS VARCHAR(200)
--SELECT dbo.[fn_Affinity_CapAndGownUrl](65848)
--SELECT dbo.[fn_Affinity_CapAndGownUrl](50)
--SELECT dbo.[fn_Affinity_CapAndGownUrl](39895)
--SELECT dbo.[fn_Affinity_CapAndGownUrl](131656)
AS
BEGIN
    -- Declare the return variable here  
    DECLARE @CapGownUrl VARCHAR(200) 	
		
	SET @CapGownUrl = ''

	select @CapGownUrl = ISNULL([Clean URL],'') 
	from sitecore_URL_overrides where [Clean Override] = 'Cap And Gown'
	AND @SMI = [Clean SMI]

	IF @CapGownUrl = ''
		BEGIN
			SELECT @CapGownUrl = ISNULL(capAndGownLink,'') FROM [dbo].ContentAffinityPages WHERE [SMI] = @SMI
		END

    -- Return the result of the function
	IF  ISNULL( @CapGownUrl,'') <> '' AND CHARINDEX('balfour.com', @CapGownUrl) > 0
		BEGIN
			RETURN [dbo].[fn_Add_SMI_If_Needed](@CapGownUrl,@SMI)
		END
	 
	RETURN (SELECT @CapGownUrl)
	 
END
GO
