/****** Object:  UserDefinedFunction [dbo].[fn_GetLocationDateTimeInfo]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11/30/2019
-- Description: Pulls location date/time information
-- =============================================
CREATE FUNCTION [dbo].[fn_GetLocationDateTimeInfo]
(
    @Event_GUID VARCHAR(50) = ''
)
RETURNS VARCHAR(MAX)
AS
--SELECT dbo.fn_GetLocationDateTimeInfo ('D9AA13EB-751F-4E1F-BCB3-F995323DA355')
--SELECT dbo.fn_GetLocationDateTimeInfo ('60B90612-1F5D-4097-B4FA-DEDA8C2B644D')
--SELECT [Location], X.[GUID], L.[ID] FROM [dbo].[School_Events_Locations_XRef] X LEFT JOIN [dbo].[School_Events_Locations] L ON L.GUID = X.Location_GUID  WHERE X.[Event_GUID] = '60B90612-1F5D-4097-B4FA-DEDA8C2B644D'
BEGIN
	
	DECLARE @Result VARCHAR(MAX),@Loop INT, @Max INT, @LocBreak VARCHAR(50), @Location  VARCHAR(100), @XRef_GUID VARCHAR(50), @ID INT
	DECLARE @Locations TABLE ([Location] VARCHAR(100), [XRef_GUID] VARCHAR(50), [ID] INT, [Loop] INT IDENTITY(1,1))

	SET @Result = ''
	SET @LocBreak = ''

	INSERT INTO @Locations ([Location],[XRef_GUID],[ID])
	SELECT [Location], X.[GUID], L.[ID] FROM [dbo].[School_Events_Locations_XRef] X LEFT JOIN [dbo].[School_Events_Locations] L ON L.GUID = X.Location_GUID  WHERE X.[Event_GUID] = @Event_GUID
	SELECT @Max = MAX([Loop]) FROM @Locations
	SET @Loop = 1
	WHILE @Loop <= @Max
		BEGIN
			SELECT @Location = [Location], @XRef_GUID = LTRIM(RTRIM([XRef_GUID])), @ID = [ID] FROM @Locations WHERE [Loop] = @Loop
			SET @Result = @Result + @LocBreak + '<a href="javascript:EditLocation(' + CAST(@ID AS VARCHAR(15)) + ',''' + @XRef_GUID + ''');" title="Change location"><span class="ui-icon ui-icon-pencil"></span>' + @Location + '</a>&nbsp;<a href="javascript:DeleteLocation(''' + @XRef_GUID + ''');" title="Remove ' + @Location + ' location"><span class="ui-icon ui-icon-circle-minus"></span></a><br />' + [dbo].[fn_SchoolEventLocationsDates] (@XRef_GUID, 0)
			--Get the location dates
		
			SET @LocBreak = '<br />----<br />'
			SET @Loop = @Loop + 1
		END
    RETURN @Result
END
GO
