/****** Object:  UserDefinedFunction [dbo].[fn_SMI_in_list]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11/12/2020
-- Description: Determines whether or not a SMI is in a SMILists entry
-- =============================================
CREATE FUNCTION [dbo].[fn_SMI_in_list]
(
     @SMIListsGUID VARCHAR(50)
	,@SMI INT
)
--SELECT [dbo].[fn_SMI_in_list] ('C2B12AB7-E886-4703-9873-3AF6E9689700',131635) --True
--SELECT [dbo].[fn_SMI_in_list] ('C2B12AB7-E886-4703-9873-3AF6E9689700',130996) --False
--SELECT [dbo].[fn_SMI_in_list] ('C2B12AB7-E886-4703-9873-3AF6E9689700',131644) --True
--SELECT [dbo].[fn_SMI_in_list] ('C2B12AB7-E886-4703-9873-3AF6E96897XX',131644) --False because list does not exist
RETURNS BIT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result BIT
	SET @Result = 0

    IF EXISTS (SELECT * FROM [dbo].[SMIListsDetails] DET LEFT JOIN [dbo].[SMILists] LIS ON LIS.[GUID] = DET.[SMIListGUID] WHERE [SMIListGUID] = @SMIListsGUID AND [SMI] = @SMI AND ISNULL([Enabled],0) = 1 AND GETDATE() BETWEEN ISNULL([StartDate],'01/01/2000') AND ISNULL([EndDate],DATEADD(year,1,GETDATE())))
		SET @Result = 1

    -- Return the result of the function
    RETURN @Result
END
GO
