/****** Object:  UserDefinedFunction [dbo].[StdStreet]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <25 July 2019>
-- Description: <Somewhat replicates CASS address standards.>
-- =============================================
CREATE FUNCTION [dbo].[StdStreet]
(	
	@Street as varchar(50)
)
RETURNS varchar(50)
AS
BEGIN
	RETURN LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(UPPER(' '+upper(@Street) + ' '), '.', ''), 
                       ',','')					  
					  ,' ALLEY ', ' ALY ')
					  ,' AVENUE ', ' AVE ')
					  ,' BAYOU ', ' BYU ')
					  ,' BEACH ', ' BCH ')
					  ,' BEND ', ' BND ')
					  ,' BLUFF ',' BLF ')
					  ,' BOTTOM ',' BTM ')
					  ,' BOULEVARD ', ' BLVD ')
					  ,' BRANCH ',' BR ')
					  ,' BRIDGE ',' BRG ')
					  ,' BROOKS ',' BRKS ')
					  ,' BROOK ',' BRK ')
					  ,' CAMP ',' CP ')
					  ,' CANYON ',' CYN ')
					  ,' CAUSEWAY ',' CSWY ')
					  ,' CENTERS ',' CTRS ')
					  ,' CENTER ',' CTR ')
					  ,' CIRLCE ',' CIR ')
					  ,' COURT ', ' CT ')
					  ,' CRT ',' CT ')
					  ,' CREEK ',' CRK ')
					  ,' CREST ',' CRST ')
					  ,' CROSSING ',' XING ')
					  ,' LANE ', ' LN ')
					  ,' DRIVE ', ' DR ')
					  ,' COVER ', ' CV ')
					  ,' CIRCLE ', ' CIR ')
					  ,' ESTATES ',' ESTS ')
					  ,' ESTATE ',' EST ')
					  ,' EXTENSION ',' EXT ')
					  ,' FORT ',' FT ')
					  ,' FREEWAY ',' FWY ')
					  ,' GROVES ',' GRVS ')
					  ,' GROVE ',' GRV ')
					  ,' HARBOURS ',' HBRS ')
					  ,' HARBOUR ',' HBR ')
					  ,' HAVEN ',' HVN ')
					  ,' HEIGHTS ',' HTS ')
					  ,' HIGHWAY ', ' HWY ')
					  ,' JUNCTIONS ',' JCTS ')
					  ,' JUNCTION ',' JCT ')
					  ,' LODGE ',' LDG ')
					  ,' MANORS ',' MNRS ')
					  ,' MANOR ',' MNR ')
					  ,' MEADOWS ',' MDWS ')
					  ,' MEADOW ',' MDW ')
					  ,' MISSION ',' MSN ')
					  ,' MOUNTAIN ',' MTN ')
					  ,' MOUNT ', ' MT ')
					  ,' MOTORWAY ',' MTWY ')
					  ,' OVERPASS ',' OPAS ')
					  ,' PARKWAY ',' PKWY ')
					  ,' POINT ',' PT ')				  
					  ,' PLACE ',' PL ')
					  ,' PLAINS ',' PLNS ')
					  ,' PLAIN ',' PLN ')
					  ,' PLAZA ',' PLZ ')
					  ,' ROAD ', ' RD ')
					  ,' TERRACE ',' TER ')
					  ,' TRAIL ', ' TRL ')
					  ,' TR ', ' TRL ')
					  ,' TURNPIKE ',' TPKE ')
					  ,' THROUGHWAY ',' TRWY ')
					  ,' P O BOX ',' PO BOX ')
					  ,' POBOX ',' PO BOX ')				  					  					  
					  ,' NORTHEAST ',' NE ')
					  ,' SOUTHEAST ',' SE ')
					  ,' NORTHWEST ',' NW ')
					  ,' SOUTHWEST ', ' SW ')
					  ,' NORTH ',' N ')
					  ,' EAST ',' E ')
					  ,' WEST ',' W ')
					  ,' SOUTH ',' S ')
					  ,' COUNTY RD ',' COUNTY ROAD ')
					  ,' CR ',' COUNTY ROAD ')
					  ,' N ST ', ' NORTH ST ')
					  ,' N STREET ',' NORTH ST')
					  ,' S ST ',' SOUTH ST ')
					  ,' S STREET ',' SOUTH ST ')
					  ,' W ST ',' WEST ST ')
					  ,' W STREET ',' WEST ST ')
					  ,' E ST ',' EAST ST ')
					  ,' E STREET ',' EAST ST ')
					  ,' STREET ', ' ST ')
					  ,' #APT ', ' # ')
					  ,' APARTMENT #',' # ')
					  ,' *** ','')
					  ,' APT #',' # ')
					  ,' STE #',' # ')
					  ,' UNIT #',' # ')
					  ,' SUITE #',' # ')
					  ,' LOT #',' # ')
					  ,' APARTMENT#',' # ')
					  ,' APT#',' # '),' STE#',' # ')
					  ,' UNIT#',' # '),' SUITE#',' # ')
					  ,' LOT#',' # ')
					  , ' APARTMENT ',' # ')
					  ,' APT ',' # ')
					  ,' STE ',' # ')
					  ,' UNIT ',' # ')
					  ,' SUITE ',' # ')
					  ,' LOT ',' # ')
					  ,'"','')
					  ,',','')
					  ,'''','')
					  ,';','')
					  ,'#','# ')
					  ,'  ',' ')
					  ))
END
GO
