/****** Object:  UserDefinedFunction [dbo].[fn_SchoolEventLocationsDatesTimesForEcom]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01-06-2020
-- Description: Builds a list of school event location times for a school event location record
-- =============================================
CREATE FUNCTION [dbo].[fn_SchoolEventLocationsDatesTimesForEcom]
(
     @Dates_GUID VARCHAR(50)
)
RETURNS VARCHAR(MAX)
AS
--SELECT dbo.[fn_SchoolEventLocationsDatesTimes] ('TEST')
BEGIN
	DECLARE @Result VARCHAR(MAX)
	SET @Result = ''
	DECLARE @And VARCHAR(50)
	SET @And = ''

	SELECT @Result =  @Result + @And + CASE WHEN DATEPART(MINUTE, CAST([StartTime] AS DATETIME)) = 0 THEN FORMAT(CAST([StartTime] AS DATETIME), 'h tt') ELSE FORMAT(CAST([StartTime] AS DATETIME), 'h:mm tt') END + CASE WHEN [EndTime] IS NOT NULL THEN ' - ' + CASE WHEN DATEPART(MINUTE, CAST([EndTime] AS DATETIME)) = 0 THEN FORMAT(CAST([EndTime] AS DATETIME), 'h tt') ELSE FORMAT(CAST([EndTime] AS DATETIME), 'h:mm tt') END ELSE '' END, @And = '<br />'
	FROM [dbo].[School_Events_Locations_Dates_Times] 
	WHERE [Dates_GUID] = @Dates_GUID
	ORDER BY [StartTime]
	
	----Find the last ', ' and make it ' and '
	--if CHARINDEX(',',reverse(@Result)) > 0
	--	SET @Result = LEFT(@Result,LEN(@Result)-(CHARINDEX(',',reverse(@Result)))) + ' and ' + RIGHT(@Result,CHARINDEX(',',reverse(@Result))-2)
	RETURN @Result
END
GO
