/****** Object:  UserDefinedFunction [dbo].[fn_get_charindex]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_get_charindex] (
    @expressionToFind VARCHAR(2500),
    @expressionToSearch VARCHAR(10),
    @occurrenceIndex INT,
    @startLocation INT = 0
)
RETURNS INT
AS BEGIN 
	DECLARE @i int = 1
	DECLARE @j int =0
	DECLARE @count int = len(@expressionToFind)-len(replace(@expressionToFind,@expressionToSearch,''))

	IF(@count >= @occurrenceIndex)
	BEGIN
			WHILE (@i <= @occurrenceIndex)
			BEGIN
				SET @j= CHARINDEX(@expressionToSearch,@expressionToFind,@j+1)
				SET @i= @i+1
			END
			RETURN @j
	END
	
	RETURN @count 
END
GO
