/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Fanshop_nolongerused]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/05/2020
-- Description: Determines if a SMI is a fan shop school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Fanshop_nolongerused]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_Fanshop(130996) --Yes
--SELECT dbo.fn_Affinity_Fanshop(50) --No
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Fanshop BIT
	SET @Fanshop = 0

    SELECT @Fanshop = 1 WHERE EXISTS (SELECT * FROM magento_automated_product_dataset p left join itemattributes ia on p.ItemID = ia.itemid WHERE tagtype IN ('a_MasterLicenseType', 'a_LicenseType') and tagvalue = 'NCAA' AND [included SMI] = CAST(@SMI AS VARCHAR(50)) AND (ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR (ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0)))
		
    -- Return the result of the function
    RETURN @Fanshop
END
GO
