/****** Object:  UserDefinedFunction [dbo].[fn_Affinity_Letterman]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/05/2020
-- Description: Determines if a SMI is a letterman school
-- =============================================
CREATE FUNCTION [dbo].[fn_Affinity_Letterman]
(
    @SMI BIGINT = 0
)
RETURNS BIT
--SELECT dbo.fn_Affinity_Letterman(130996)
--SELECT dbo.fn_Affinity_Letterman(1034)
--SELECT dbo.fn_Affinity_Letterman(131276)
--SELECT dbo.fn_Affinity_Letterman(85526)
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Letterman BIT
	SET @Letterman = 0
    SELECT @Letterman = 1 WHERE EXISTS (SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE '%BalProdColl_letterman%')
		
    -- Return the result of the function
    RETURN @Letterman
END
GO
