/****** Object:  UserDefinedFunction [dbo].[AddrKey]    Script Date: 2/18/2026 4:31:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <17 August 2019>
-- Description: <Match logic key for street and zip5.>
-- =============================================
CREATE FUNCTION [dbo].[AddrKey]
(	
	@Street1 as varchar(50)
	, @Zip5 as varchar(5)
)
RETURNS varchar(56)
AS
BEGIN
	RETURN	  
		upper(replace(@Zip5+'z'+@Street1,' ',''))
END
GO
