/****** Object:  UserDefinedFunction [dbo].[fn_get_image_url2]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 09-18-2019
-- Description: Returns an image URL for a given SKU
-- =============================================
CREATE FUNCTION [dbo].[fn_get_image_url2]
(
    @SKU VARCHAR(50)
)
RETURNS VARCHAR(200)
AS
BEGIN
--SELECT dbo.fn_get_image_url2 ('A0145927A0000')
    DECLARE @ImageURL VARCHAR(200)
	SET @ImageURL = ''
	
	-- Han makes change to use the image_url from magento_automated_product_dataset 2/1/2021
	SELECT @ImageURL = REPLACE(image_url, 'https://d3qsmzzpeeacu6.cloudfront.net/all/', 'https://edge.prod.cdn.aac-e.com/all/')
	FROM   dbo.magento_automated_product_dataset
	WHERE  (sku = @sku OR  LEFT(sku,8) = LEFT(@sku,8))
	AND ISNULL(image_url, '') <> '' --and image_url is not null

 
-- older version
	--SELECT @ImageURL = 'https://edge.prod.cdn.aac-e.com/all/' + ia.imageurl
	--FROM            dbo.magento_automated_product_dataset AS p 
	--	INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
	--	WHERE p.sku = @sku OR  LEFT(p.sku,8) = LEFT(@sku,8)
				--p.Status = 'Enable'
				--AND p.[Retail Price] <> 0
				--AND p.Visibility = 'In Catalog and Search'
				--AND (ISNULL([Quantity in Stock],0) >0 )
				--AND p.sku = @sku 
			

--Older version
 --   SELECT  @ImageURL = 'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + P.sku + '/base/800x800/' + REPLACE((SELECT TOP 1 [value]
 --   FROM STRING_SPLIT(A.tagvalue, ',') AS STRING_SPLIT_1),' ','_') 
	--FROM dbo.Magento_automated_product_dataset P 
	--INNER JOIN dbo.ITEM I ON (LEFT(p.SKU,8) = i.sku ) 
	--LEFT JOIN     dbo.itemattributes A ON I.id = A.itemid 
	--WHERE P.sku = @SKU AND tagtype = 'a_BalfourPrimaryImages'


    RETURN @ImageURL
END
GO
