/****** Object:  UserDefinedFunction [dbo].[fn_get_image_url]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 09-18-2019
-- Description: Returns an image URL for a given SKU
-- =============================================
CREATE FUNCTION [dbo].[fn_get_image_url]
(
    @SKU VARCHAR(50)
)
RETURNS VARCHAR(200)
AS
BEGIN
--SELECT dbo.fn_get_image_url ('A0145927A0000')
	/*
	DECLARE @SKU VARCHAR(50)
	SET @SKU = 'A0075630A0000'
	SELECT  'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + i.sku + '/base/800x800/' +
                                         REPLACE((SELECT        TOP (1) value
                                           FROM            STRING_SPLIT(A.tagvalue, ',') AS STRING_SPLIT_1),' ','_') AS imageurl
                FROM            dbo.ITEM I 
                                 
                                 LEFT JOIN     dbo.itemattributes A ON I.id = A.itemid  
                                 
                WHERE        I.sku = @SKU AND tagtype = 'a_BalfourPrimaryImages'
	*/

    DECLARE @ImageURL VARCHAR(200)
	SET @ImageURL = ''
    SELECT  @ImageURL = 'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + P.sku + '/base/800x800/' + REPLACE((SELECT TOP 1 [value]
    FROM STRING_SPLIT(A.tagvalue, ',') AS STRING_SPLIT_1),' ','_') 
	FROM dbo.Magento_automated_product_dataset P 
	INNER JOIN dbo.ITEM I ON (LEFT(p.SKU,8) = i.sku ) 
	LEFT JOIN     dbo.itemattributes A ON I.id = A.itemid 
	WHERE P.sku = @SKU AND tagtype = 'a_BalfourPrimaryImages'


    RETURN @ImageURL
END
GO
