/****** Object:  UserDefinedFunction [dbo].[RemoveMiddleInitial]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Brian S. Tozer>
-- Create Date: <10 August 2019>
-- Description: <Removes middle initials. Useful for match logic>
-- =============================================
CREATE FUNCTION [dbo].[RemoveMiddleInitial]
( 
 @FN as varchar(255)
)
RETURNS varchar(255)
AS
BEGIN
 RETURN
 CASE WHEN len(replace(@FN,'.','')) in (0,1,2,3) then replace(@FN,'.','') ELSE
  CASE WHEN len(substring(replace(@FN,'.',''),charindex(' ', @FN)+1,LEN(@FN)))=1
   then SUBSTRING(@FN,1,charindex(' ', @FN)-1) else replace(@FN,'.','')
  END
 END 
END
GO
