/****** Object:  UserDefinedFunction [jobs_internal].[fn_has_credential_perms]    Script Date: 2/18/2026 4:31:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [jobs_internal].[fn_has_credential_perms](@credential_name NVARCHAR(128))
RETURNS BIT
AS
BEGIN
    RETURN HAS_PERMS_BY_NAME(quotename(@credential_name), 'DATABASE SCOPED CREDENTIAL', 'REFERENCES')
END
GO
