/****** Object:  StoredProcedure [dbo].[s_prepare_quote_import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/16/2020
-- Description: Prepares for quote import by truncating [quote_import] and [quote_items_import]
-- =============================================
CREATE PROCEDURE [dbo].[s_prepare_quote_import]
--EXEC s_prepare_quote_import
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    TRUNCATE TABLE [dbo].[quote_import]
	TRUNCATE TABLE [dbo].[quote_item_import]
END
GO
