/****** Object:  StoredProcedure [dbo].[s_get_dynamic_sections_bkp_2_15_21]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/6/19
-- Description: Get dynamic sections from the dynamicsections table
-- =============================================
-- s_get_dynamic_sections
CREATE PROCEDURE [dbo].[s_get_dynamic_sections_bkp_2_15_21](@smi int = 0)

AS
BEGIN
	SET NOCOUNT ON
	-- Large School list from Eudora
	-- If @smi IN (29672, 30748, 29654, 29691, 29678, 29760, 29503, 29563, 30486, 30815,30786, 30487, 89979, 30489, 29658, 29841, 29844, 30752, 30033, 95154,30787, 30275, 83381, 29684, 134567, 29564, 29661, 29415, 29847, 134668, 1304)
	-- small test schools for prod
	-- If @smi IN (1304,1326)		
	 -- BEGIN

	 IF EXISTS(
			SELECT TOP 1 * FROM magento_automated_product_dataset p
				-- inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = CAST(@smi AS VARCHAR(50))
				-- and p.SKU IN ('A0168253', 'A0233566')
				where 
				p.SKU IN ('A0168253', 'A0233566')
				and Visibility = 'In Catalog and Search'
				and Status = 'Enable'
				and @SMI IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ','))
				--and [Included SMI] like '%' + CAST(@SMI AS VARCHAR(MAX)) +'%'
		) 
		BEGIN
			SELECT [ID]
			  ,[sectionTitle]
			  ,[sectionCTAUrl]
			  ,[sectionCTATitle]
		  FROM [dbo].[DynamicSections]
		  where ID in (1,4)
		END
		-- Add TPAP to qualifier
		ELSE IF EXISTS(
			select top 1 *
				from magento_automated_product_dataset p
					-- INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
					Inner join itemattributes_announcements iaa on iaa.itemid = p.itemid
					where [Exclusive SMI] = @smi  
					and [attribute set] = 'pim_pb_announcement' 
					and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
					and iaa.tagvalue = '52'
					and iaa.tagtype = 'a_PBProdFamID'
		)
		BEGIN
			SELECT [ID]
			  ,[sectionTitle]
			  ,[sectionCTAUrl]
			  ,[sectionCTATitle]
		  FROM [dbo].[DynamicSections]
		  where ID in (1,4)
		 --  order by ID desc
		END
		-- Else case
		ELSE
		BEGIN
			SELECT [ID]
			  ,[sectionTitle]
			  ,[sectionCTAUrl]
			  ,[sectionCTATitle]
		  FROM [dbo].[DynamicSections]
		  where ID in (4)
		
		END

		
	-- END
END
GO
