/****** Object:  StoredProcedure [dbo].[s_add_iop_tile]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_add_iop_tile]      
    @smi NVARCHAR(50) ,      
	-- @newURL BIT , 
	@LinkId INT ,
    @IsActive BIT ,      
    @CreatedBy NVARCHAR(50) ,      
    @CreatedDate DATETIME ,      
    @UpdatedBy NVARCHAR(50),    
    @UpdatedDate DATETIME    
        
AS      
    BEGIN      
	if @LinkId = 0 
	BEGIN
	SET @LinkId = 1
	END
 		DECLARE @iopID as BIGINT    
        INSERT  INTO [iop_tiles]      
                (smi ,      
                 LinkId ,      
                 IsActive ,      
                 CreatedBy ,      
                 CreatedDate ,      
                 UpdatedBy ,      
                 UpdatedDate    
             )      
        VALUES  ( @smi ,      
                  @LinkId ,      
                  @IsActive ,      
                  @CreatedBy ,        
                  @CreatedDate ,     
                  @UpdatedBy ,      
                  @UpdatedDate                      
                      
             );     
        SET @iopID = SCOPE_IDENTITY();     
        SELECT  @iopID AS iopID;      
    END;      
    
GO
