/****** Object:  StoredProcedure [dbo].[s_delete_cache_busting_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 10/17/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_cache_busting_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [Cache_Busting].
--##PD @ID in [Cache_Busting].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [Cache_Busting] WHERE [ID] = @ID
EXEC dbo.s_get_cache_busting_records


GO
