/****** Object:  StoredProcedure [dbo].[s_get_queued_emails]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 09-11-2019
-- Description: sproc to get queued emails used by the email API to process the queue
--              dbo.fn_convert_email_data_to_request_body_new is what turns the raw JSON into something to be passed to Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_get_queued_emails]
(
      @Batch_ID VARCHAR(50) = ''
	, @Entity VARCHAR(100) = 'balfour'
	, @Email_Name VARCHAR(100) = ''
	, @Resend BIT = 0
	, @ReadBatchOnly BIT = 0
	, @Batch_ID_Out VARCHAR(50) = '' OUT
)
AS
--UPDATE [dbo].[EmailJobs_Queue] SET BATCH_ID = NULL WHERE ID IN (SELECT TOP 3 [ID] FROM [dbo].[EmailJobs_Queue] ORDER BY [ID] DESC)
--EXEC s_get_queued_emails @Batch_ID ='4E56A6E3-0146-4E35-8785-165DBDA6C88CA', @Email_Name = 'orderconfirm', @ReadBatchOnly=1  --3 seconds for 25 rows without getting key value --57 seconds for 25 rows using a temp table to get key values  --59 seconds using a memory table
--UPDATE [dbo].[EmailJobs_Queue] SET BATCH_ID = '4E56A6E3-0146-4E35-8785-165DBDA6C88CA' WHERE BATCH_ID = '4E56A6E3-0146-4E35-8785-165DBDA6C88C'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SET @Email_Name = LTRIM(RTRIM(@Email_Name))
	IF ISNULL(@Batch_ID,'') = ''
		BEGIN
			SET @Batch_ID = NEWID()
			IF @Email_Name IN ('virtcomm')
				BEGIN /*For virtcomm we want to limit the emails in a batch to 200*/
					UPDATE [dbo].[EmailJobs_Queue] SET [Batch_ID] = @Batch_ID, [Retries] = 0 WHERE [ID] IN 
					(
						SELECT TOP 200 [ID] FROM [dbo].[EmailJobs_Queue] WHERE [Email_Name] = 'virtcomm' AND [Batch_ID] IS NULL AND [Entity] = @Entity ORDER BY [ID]	
					)
				END
			ELSE
				BEGIN
					UPDATE [dbo].[EmailJobs_Queue] SET [Batch_ID] = @Batch_ID, [Retries] = 0 WHERE [Batch_ID] IS NULL AND [Entity] = @Entity 
					AND [Email_Name] = CASE WHEN @Email_Name = '' THEN [Email_Name] ELSE @Email_Name END
				END
		END
    SET @Batch_ID_Out = @Batch_ID
	
	--Set the key value for each of these
	IF @Email_Name = 'orderconfirm' AND @ReadBatchOnly = 0
		UPDATE dbo.EmailJobs_Queue SET [Key_Name] = 'OrderNumber',[Key_Value] = dbo.fn_get_key_value_from_orderconfirm(rawData) WHERE [ID] IN (SELECT [ID] FROM dbo.EmailJobs_Queue WHERE Batch_Id = @Batch_ID)

	--Do not resend any order confirmations which have already been sent -- TL - SUSPENDED ON 1/28 BECAUSE OF EFFECTS ON PROCESSING
	--IF @Email_Name = 'orderconfirm' AND @Resend = 0 AND @ReadBatchOnly = 0
	--	UPDATE dbo.EmailJobs_Queue SET [Batch_ID] = 'DUP-' + @Batch_ID_Out, Processed_DTM = GETDATE(), Result = 'Duplicate - not processed' WHERE [Key_Value] IN (SELECT [Key_Value] FROM dbo.EmailJobs_Queue WHERE [Batch_ID] <> @Batch_ID_Out AND [Key_Name] = 'OrderNumber') AND [Batch_ID] = @Batch_ID_Out
	--TL - Improved method as of 1/29/2020
	IF @Email_Name = 'orderconfirm' AND @Resend = 0 AND @ReadBatchOnly = 0
		BEGIN
			--Flag any duplicates
			UPDATE dbo.[EmailJobs_Queue] SET [Batch_ID] = 'DUP-' + @Batch_ID_Out, Processed_DTM = GETDATE(), Result = 'Duplicate - not processed' WHERE [Key_Value] IS NOT NULL AND ISNUMERIC([Key_Value]) = 1 AND CAST([Key_Value] AS BIGINT) IN (SELECT [OrderID] FROM dbo.[Email_Queue_Processed_Orders]) AND ISNULL([Resend_For],0) = 0 AND [Batch_ID] = @Batch_ID_Out
			--Add new orders to the table
			INSERT INTO dbo.[Email_Queue_Processed_Orders] ([OrderID])
			SELECT CAST([Key_Value] AS BIGINT) FROM dbo.[EmailJobs_Queue] WHERE [Batch_ID] = @Batch_ID_Out AND [Key_Value] IS NOT NULL AND ISNUMERIC([Key_Value]) = 1 AND ISNULL([Resend_For],0) = 0
		END

	IF @Email_Name = 'shareuc'
		BEGIN --Break up recipientEmails into individual emails - the delimiter is a semi-colon
			DECLARE @IDs TABLE ([ID] BIGINT, [EmailAddresses] NVARCHAR(200), [RawData] VARCHAR(MAX), [Loop] INT IDENTITY(1,1))
			DECLARE @Entries TABLE ([EmailAddress] NVARCHAR(200), [RawData] VARCHAR(MAX), [AddressLoop] INT IDENTITY(1,1))
			DECLARE @Loop INT, @ID BIGINT, @EmailAddresses NVARCHAR(200), @Max INT, @ELoop INT, @EMax INT, @Value VARCHAR(MAX), @EmailAddress VARCHAR(MAX), @RawData VARCHAR(MAX), @RecipientEmails VARCHAR(MAX), @RingLink VARCHAR(MAX)
			INSERT INTO @IDs ([ID], [EmailAddresses], [rawData])
			SELECT [ID], [EmailAddresses], [rawData] FROM [dbo].[EmailJobs_Queue] WHERE [Batch_ID] = @Batch_ID_Out
			SELECT @Loop = MIN([Loop]), @Max = MAX([Loop]) FROM @IDs
			WHILE @Loop <= @Max
				BEGIN
					--Get the recipient email addresses
					SELECT @EmailAddresses = [EmailAddresses], @ID = [ID], @RawData = [rawData] FROM @IDs WHERE [Loop] = @Loop
					SELECT @RecipientEmails = ISNULL([VALUE],'') FROM OPENJSON(@rawData) WHERE [Key] = 'recipientEmails' AND [Value] <> 'null'
					PRINT 'ID=' + CAST(@ID AS VARCHAR(50)) + ' ' + @RecipientEmails
					--Update THE Batch_ID and send DTM so this one never gets sent
					UPDATE [dbo].[EmailJobs_Queue] SET [Batch_ID] = @Batch_ID_Out + 'UCSHARE MASTER', [Processed_DTM] = GETDATE() WHERE [ID] = @ID
					
					--PRINT @RawData
					INSERT INTO @Entries ([EmailAddress],[RawData])
					SELECT [Value], @RawData FROM string_split(@RecipientEmails,';')

					SELECT @ELoop = MIN([AddressLoop]), @EMax = MAX([AddressLoop]) FROM @Entries
					--For each email address, reform the rawdata and create a new queue entry
					WHILE @ELoop <= @EMax
						BEGIN
							SELECT @Value = [EmailAddress] FROM @Entries WHERE [AddressLoop] = @ELoop
							--Remove the relationship
							IF @Value LIKE '%<%'
								BEGIN
									SET @EmailAddress = REPLACE(RIGHT(@Value,LEN(@Value) - CHARINDEX('<',@Value)),'>','')
									SET @Value = REPLACE(@Value,'<' + @EmailAddress + '>','')
								END
							ELSE
								BEGIN
									SET @EmailAddress = @Value
									SET @Value = ''
								END
							
							--Reform the rawdata
							SET @RawData = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@RawData,'ringImage','Ring_Image_Link'),'fromName','Sender_Name'),'uCToken','Ring_Design_Link'),'productName','Ring_Name'),'recipientEmails','Recipient_Email'),'emailConsent','Sender_Opt_In'),'fromEmail','Sender_Email')--REPLACE(REPLACE(REPLACE(REPLACE(@RawData,'ringImage','ring_image_link'),'fromName','Sender_Name'),'uCToken','Ring_Design_Link'),'productName','Ring_Name')
							--Take https:// or http: out of the ring link
							SELECT @RingLink = ISNULL([VALUE],'') FROM OPENJSON(@rawData) WHERE [Key] = 'Ring_Design_Link' AND [Value] <> 'null'
							SET @RawData = REPLACE(@RawData,@RingLink,REPLACE(REPLACE(@RingLink,'https://',''),'http://',''))
							--SET @RawData = REPLACE(@RawData,'}',',"tabularData":{"a":"b"}}')
							--PRINT @EmailAddress + ' relationship: ' + @Value + ' rawdata: ' + @Rawdata
							--Add a new record
							INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name], [Entity], [Service], [Description], [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], [emailAddresses], [rawData], [template], [Queued_DTM], [Processed_DTM], [Batch_ID], [connString], [Retries], [Host_Info], [Key_Name], [Key_Value], [SilverpopTrans], [ErrorCount], [Result], [Is_Resend], [Resend_For], [Attachment_Name], [Attachment])
							SELECT [Email_Name], [Entity], [Service], [Description], [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], @EmailAddress, @rawData, [template], [Queued_DTM], NULL, @Batch_ID_Out, [connString], [Retries], [Host_Info], [Key_Name], [Key_Value], [SilverpopTrans], [ErrorCount], [Result], [Is_Resend], [Resend_For], [Attachment_Name], [Attachment] FROM [dbo].[EmailJobs_Queue] WHERE [ID] = @ID
							SET @ELoop = @ELoop + 1
						END

					DELETE FROM @Entries
					SET @Loop = @Loop + 1
				END
		END


    SELECT 
	  Q.Email_Name
	, Q.Entity
	, ISNULL(Q.[Service],'Silverpop') as [service]
	, ISNULL(Q.pod,J.pod) as pod
	, CASE WHEN ISNULL(Q.oAuthClientID,'') = '' THEN ISNULL(dbo.fn_DString(J.oAuthClientID),J.oAuthClientID) ELSE ISNULL(dbo.fn_DString(Q.oAuthClientID),Q.oAuthClientID)  END as [oAuthClientID]
	, CASE WHEN ISNULL(Q.oAuthClientSecret,'') = '' THEN ISNULL(dbo.fn_DString(J.oAuthClientSecret),J.oAuthClientSecret) ELSE ISNULL(dbo.fn_DString(Q.oAuthClientSecret),Q.oAuthClientSecret) END as [oAuthClientSecret]
	, CASE WHEN ISNULL(Q.oAuthRefreshToken,'') = '' THEN ISNULL(dbo.fn_DString(J.oAuthRefreshToken), J.oAuthRefreshToken) ELSE ISNULL(dbo.fn_DString(Q.oAuthRefreshToken), Q.oAuthRefreshToken) END as [oAuthRefreshToken]
	, CASE WHEN ISNULL(Q.campaignID,'') = '' THEN ISNULL(dbo.fn_DString(J.campaignID), J.campaignID) ELSE ISNULL(dbo.fn_DString(Q.campaignID), Q.campaignID) END as [campaignID]
	, LTRIM(RTRIM(ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses))) as [emailAddresses]
	--, CASE WHEN Q.Email_Name = 'orderconfirm' THEN CASE WHEN ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses) NOT LIKE '%@balfour.com' AND Q.emailAddresses <> 'wecrooks@gmail.com' THEN /*OVERRIDE UNTIL LIVE*/'digital@balfour.com' ELSE ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses) END ELSE ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses) END as [emailAddresses]
	--, /*ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses)*/'digital@balfour.com'/*'william.crooks@balfour.com'*/ as [emailAddresses]
	, CASE WHEN Q.[Email_Name] NOT IN ('addcontact','shareucsms','eGiftingSMS') AND Q.[Service] != 'Twilio' THEN dbo.fn_convert_email_data_to_request_body(Q.Email_Name, Q.Entity, ISNULL(rawData,''),@Resend, 0) ELSE [rawData] END as [request]
	, ISNULL(Q.template,'') as [template]
	, ISNULL(dbo.fn_DString(Q.connString), Q.connString) as [connString]
	, Q.ID
	, Q.[Attachment]
	, ISNULL(Q.[Attachment_Name],'') as [Attachment_Name],
	CASE WHEN Q.Email_Name = 'orderconfirm' THEN dbo.fn_convert_email_data_to_request_body(Q.Email_Name, Q.Entity, ISNULL(rawData,''),@Resend,1) ELSE '' END as [KlaviyoRawData]
	FROM [dbo].[EmailJobs_Queue] Q
	LEFT JOIN [dbo].[EmailJobs] J on J.Email_Name = Q.Email_Name AND J.Entity = Q.Entity AND J.Service = Q.Service
	WHERE [Batch_ID] = @Batch_ID 

	
	
END
GO
