/****** Object:  StoredProcedure [dbo].[s_get_megamenu_section]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/27/2020
-- Description: Get megamenu section - Balfour 3.1
-- =============================================
CREATE PROCEDURE [dbo].[s_get_megamenu_section]
(
    @Section VARCHAR(MAX)
)
AS
BEGIN
/* -------  Test Cases ---------- 
 exec s_get_megamenu_section 'ShopSchool'
 exec s_get_megamenu_section 'Yearbooks'
 exec s_get_megamenu_section 'Jewelry'
 exec s_get_megamenu_section 'Graduation'
 exec s_get_megamenu_section 'Sports'
 exec s_get_megamenu_section 'Brands'
 exec s_get_megamenu_section 'Shop All'
*/

    SET NOCOUNT ON

	select 
	--*	
	[NAME], [TYPE], [LINK]
	from 
	MM_Secondary where [Parent Menu] = @Section
	order by [SORT ORDER] ASC
	FOR JSON PATH

	/*
		select * from 
		MM_Primary

		select * from 
		MM_Secondary

		select * from 
		MM_Tertiary

	*/

END
GO
