/****** Object:  StoredProcedure [dbo].[proc_get_graduation_apparel_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 4/16/2020 - HT
*/ 
CREATE PROCEDURE [dbo].[proc_get_graduation_apparel_orders_records]

AS
 
SET NOCOUNT ON
 
	SELECT  DISTINCT o.entity_id AS OrderID, 
			o.increment_id AS OrderNumber, 
			dbo.fn_DateTime_to_Central(o.created_at) AS OrderDate, 
			CAST(CAST(ROUND(o.subtotal, 2) AS MONEY) AS VARCHAR) AS SubTotal,
			CAST(CAST(ROUND(o.tax_amount, 2) AS MONEY) AS VARCHAR) AS Tax, 
			CAST(CAST(ROUND(o.shipping_amount, 2) AS MONEY) AS VARCHAR) AS ShipCharge, 
			CAST(CAST(ROUND(o.grand_total, 2) AS MONEY) AS VARCHAR) AS GrandTotal,
			i.sku AS Sku, 
			--i.name AS ProducName,
			CAST(CAST(i.qty_ordered AS INT) AS VARCHAR) AS QtyOrdered
	FROM MAGE_Sales_Order o 
	INNER JOIN MAGE_sales_order_item i ON i.order_id = o.entity_id
	 JOIN magento_automated_product_dataset p ON p.SKU = i.sku
	WHERE p.[Enhanced Commerce] IN ('GP-BACKPACKS','GP-CAP & GOWN','GP-CLASS APPAREL','GP-OTHER','GP-PACKS')
	GROUP BY o.entity_id, 
			o.increment_id, 
			dbo.fn_DateTime_to_Central(o.created_at),
			CAST(ROUND(o.subtotal, 2) AS MONEY),
			CAST(ROUND(o.tax_amount, 2) AS MONEY), 
			CAST(ROUND(o.shipping_amount, 2) AS MONEY),
			CAST(ROUND(o.grand_total, 2) AS MONEY),
			i.sku, 		
			CAST(i.qty_ordered AS INT) 
	ORDER BY o.entity_id DESC
  
GO
