/****** Object:  StoredProcedure [dbo].[s_get_YMAL_EAbeforeBAS6599]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 10/23/2019
-- Description: AutoIndex for YMAL EA items
-- =============================================
CREATE PROCEDURE [dbo].[s_get_YMAL_EAbeforeBAS6599]
(
	@sku VARCHAR(50),
	@maxPriceRange int = 75,
	@minPriceRange int = 25,
	@debugging BIT = 0
)
AS
BEGIN
	-- EXEC [s_get_YMAL_EA] @sku='A0017536A0000' -- Minnesota Golden Gophers blankets
	-- EXEC [s_get_YMAL_EA] @sku='A0008601A0000' -- Virginia Tech Tents
	-- EXEC [s_get_YMAL_EA] @sku='A0003281A0000' -- Alabama Crimson Tide Tailgate NCAA Grill Cover
	-- EXEC [s_get_YMAL_EA] @sku='A0009246A0000' -- Virginia Tech Hokies Quenchmaster 24-Can Cooler
	-- EXEC [s_get_YMAL_EA] @sku='A0066639A0000' -- Clear Stadium Satchel Bag - Moniqua in Royal Purple & Gold
	-- EXEC [s_get_YMAL_EA] @sku='A0049693A0000' -- Personalized Kids Football Frames
	-- EXEC [s_get_YMAL_EA] @sku='A0129750' -- VCNY Home Columbus Quilt Sage
	-- EXEC [s_get_YMAL_EA] @sku='A0173561A0000' -- Victrola Houston Wooden Desktop Bluetooth Radio
	-- EXEC [s_get_YMAL_EA] @sku='A0136516A0000' -- Papasan Dorm Sofa - Pink
	-- EXEC [s_get_YMAL_EA] @sku='A0136353A0000' -- Sooo Comfy Twin XL Dorm Blanket - Navy
	-- EXEC [s_get_YMAL_EA] @sku='A0017524A0000' -- Illinois Fighting Illini Essential Raschel Blanket Throw
	-- EXEC [s_get_YMAL_EA] @sku='A0078377A0000', @maxPriceRange=150, @minPriceRange=70 -- NCAA Illinois Fighting Illini Trim color Laptop Backpack by Mojo Licensing
	-- EXEC [s_get_YMAL_EA] @sku='A0139809A0000', @debugging = 1
	-- EXEC [s_get_YMAL_EA] @sku='A0117607A0000', @debugging = 1
   SET NOCOUNT ON
	DECLARE @count int
	DECLARE @results TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), rank int, [Relevance] INT)
	INSERT INTO @results ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class], rank)
	select [imageurl], [url], [sku], [product name], [price], [wasprice], [Class], rank from ymal_cache where [input sku] = @sku
	
	Select @count =  COUNT (*) FROM @results
	IF @debugging = 1 print 'count: ' + CAST(@count AS VARCHAR(50))

	if @count = 0 AND @sku NOT IN (select sku from ymal_processed)
	BEGIN
		IF @debugging = 1 Print ' Used Adhoc!'
		insert into @results
		--exec s_get_ymal_adhoc @insku = @sku
		exec s_get_ymal_adhoc_optimized @insku = @sku
		Select @count =  COUNT (*) FROM @results
		IF @debugging = 1 print 'count: ' + CAST(@count AS VARCHAR(50))
		INSERT INTO ymal_cache([input sku], [imageurl], [url], [sku], [product name], [price], [wasprice], [Class], rank )
		select @sku, r.[imageurl], r.[url], r.[sku], r.[product name], r.[price], r.[wasprice], r.[Class], r.rank from @results r

		INSERT INTO ymal_processed(sku) VALUES(@sku)
	END
	
	select * from @results;

	 
END



GO
