/****** Object:  StoredProcedure [dbo].[s_get_products_to_godata]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 12/17/2021
-- Description: Gets the list of products to send to GoData
-- =============================================
CREATE PROCEDURE [dbo].[s_get_products_to_godata]

AS
--EXEC [s_get_products_to_godata] 
BEGIN
  					 
	DROP TABLE IF EXISTS #itemattributesTemp
	DROP TABLE IF EXISTS #School_URL_MasterTemp
	DROP TABLE IF EXISTS #magento_automated_product_datasetTemp

	SELECT itemid, tagtype,	tagvalue  INTO #itemattributesTemp FROM itemattributes WITH (NOLOCK) WHERE tagtype IN ('a_nflteams', 'a_ncaaschools','a_sororities')	
	SELECT SMI, [CleanSchoolName]  INTO #School_URL_MasterTemp FROM School_URL_Master WITH (NOLOCK) WHERE [Active] = 'true'
	SELECT p.ItemID,
		p.[Product Name] AS [name],
		p.[SKU] AS [sku],
		p.[URL] AS [buy_url],
		p.[image_url] AS [image_url],
		p.[long_desc] AS [description_long],
		p.[Retail Price] AS [price],
		p.[Special Price (% for bundles)] AS [price_sale],
		p.[Special Price - Start Date] AS [special_from_date],
		p.[Special Price - To Date] AS [special_to_date],
		p.[Enhanced Commerce] AS [bal_enhanced_commerce],
		p.[Quantity in Stock] AS [qty_in_stock],
		REPLACE(p.[Category],',','/') AS [category_breadcrumb],
		p.[B3_Brand] AS [pim_a_b3brand],
		p.[Exclusive SMI] AS [bal_exclusive_smi],
		CASE WHEN p.[Included SMI] = '0' THEN '' ELSE p.[Included SMI] END AS [bal_included_school_smi] 
	INTO #magento_automated_product_datasetTemp  
	FROM magento_automated_product_dataset p WITH (NOLOCK)	
	WHERE status = 'enable' AND ([Quantity in Stock] > 0 OR [Stock maintenance] = 'Do not Manage Stock')
	AND p.Visibility NOT IN ('Not Visible')
	AND p.[Retail Price] > 0
	AND p.[Included SMI] NOT IN ('999998') --PIM-use-only school   
	
	SELECT  p.[name],
        p.[sku],
        p.[buy_url],
        p.[image_url],
        p.[description_long],
        p.[price],
        p.[price_sale],
        p.[special_from_date],
        p.[special_to_date],
        p.[bal_enhanced_commerce],
        p.[qty_in_stock],
        p.[category_breadcrumb],
        p.[pim_a_b3brand],
        p.[bal_exclusive_smi],
        p.[bal_included_school_smi],
		s.CleanSchoolName AS [school_name],
		CASE WHEN i.tagtype = 'a_ncaaschools' THEN i.tagvalue ELSE '' END AS [pim_a_ncaaschools],														   
		CASE WHEN i.tagtype = 'a_nflteams' THEN i.tagvalue ELSE '' END AS [pim_a_nflteams],
		CASE WHEN i.tagtype = 'a_sororities' THEN i.tagvalue ELSE '' END AS [pim_a_sororities]	
	FROM #magento_automated_product_datasetTemp p WITH (NOLOCK)		
	LEFT JOIN #School_URL_MasterTemp s ON CAST(s.smi AS VARCHAR(20)) IN (p.[bal_included_school_smi], p.[bal_exclusive_smi] )
	LEFT JOIN #itemattributesTemp i ON i.itemid = p.ItemID
	 
	DROP TABLE IF EXISTS #itemattributesTemp
	DROP TABLE IF EXISTS #School_URL_MasterTemp				 
	DROP TABLE IF EXISTS #magento_automated_product_datasetTemp
END
									 
GO
