/****** Object:  StoredProcedure [dbo].[UpsertSchoolURLs]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Dev Devaraj.Palanisamy@balfour.com
-- Create Date: 04/29/2020
-- Description: Updates the School_URLs_Master table
-- Runs hourly
-- [05/06/2020] TL - Modified to update School_URL_Master directly
-- =============================================
CREATE PROCEDURE [dbo].[UpsertSchoolURLs]
	@SMI int,
	@AffinityURL varchar(200),
	@CleanState varchar(200),
	@CleanCity varchar(200),
	@CleanSchoolName varchar(200),
	@Active varchar(50),
	@AltName varchar(200) NULL,
	@District varchar(200) NULL,
	@DTP BIT,
	@IsElementary BIT,
	@IsMiddleSchool BIT,
	@IsHighSchool BIT,
	@IsCollege BIT,
	@IsRetail BIT,
	@HasSavingsPlan BIT,
	@City varchar(200) NULL,
	@State varchar(200) NULL,
    @Zip varchar(200) NULL,
	@SchoolKeywords varchar(200) NULL,
	@Address1 varchar (200) NULL,
	@Address2 varchar (200) NULL,
	@Country varchar (200) NULL,
	@Mascot varchar (200) NULL,
	@Color varchar (200) NULL,
	@PaymentURL varchar (200) NULL,
	@ProductCollections varchar (1000) NULL,
	@LogoURL varchar (200) NULL,
	@SchoolRanking int NULL,
	@SchoolRankingBooster int NULL,
	@LetterJacketPartner varchar(100) NULL,
	@GraduationPartner varchar(100) NULL,
	@RingJewelryPartner varchar(100) NULL,
	@YearBookPartner varchar(100) NULL,
    @ColorName VARCHAR(200) NULL,
	@PrimaryColor VARCHAR(200) NULL,
	@SecondaryColor VARCHAR(200) NULL,
	@ThirdColor VARCHAR(200) NULL
AS
BEGIN

	SET NOCOUNT ON;
	
    IF NOT EXISTS (SELECT * FROM /*dbo.School_URLs_Import*/ dbo.School_URL_Master WITH (UPDLOCK) WHERE SMI = @SMI)
       INSERT INTO /*dbo.School_URLs_Import*/dbo.School_URL_Master (SMI,URL,AffinityURL,CleanState,CleanCity,CleanSchoolName,Active,AltName,District,DTP,IsElementary,IsMiddleSchool,IsHighSchool,IsCollege,IsRetail,HasSavingsPlan,City,State,Zip,SchoolKeywords,
	   Address1,Address2,Country,Mascot,Color,PaymentURL,ProductCollections,LogoURL,SchoolRanking,SChoolRankingBooster,CreatedDate,UpdatedDate,Ring_Jewelry_Partner,Graduation_Partner,Letter_Jacket_Partner,Yearbook_Partner,ColorName,PrimaryColor,SecondaryColor,ThirdColor)
       VALUES (@SMI,CASE WHEN LEFT(@AffinityURL,1) = '/' THEN RIGHT(@AffinityURL,LEN(@AffinityURL)-1) ELSE @AffinityURL END,@AffinityURL,@CleanState,@CleanCity,@CleanSchoolName,@Active,@AltName,@District,@DTP,@IsElementary,@IsMiddleSchool,@IsHighSchool,@IsCollege,@IsRetail,@HasSavingsPlan,
	   @City, @State,@Zip, @SchoolKeywords,@Address1,@Address2,@Country,@Mascot,@Color,@PaymentURL,@ProductCollections,@LogoURL,@SchoolRanking,@SchoolRankingBooster,GETDATE(),GETDATE(),@RingJewelryPartner,@GraduationPartner,@LetterJacketPartner,@YearBookPartner,@ColorName,@PrimaryColor,@SecondaryColor,@ThirdColor)

    ELSE
       UPDATE /*dbo.School_URLs_Import*/dbo.School_URL_Master WITH (UPDLOCK)
       SET SMI             = @SMI,
	       URL			   = CASE WHEN LEFT(@AffinityURL,1) = '/' THEN RIGHT(@AffinityURL,LEN(@AffinityURL)-1) ELSE @AffinityURL END,
	       AffinityURL	   = @AffinityURL,
		   CleanState      = @CleanState,
		   CleanCity       = @CleanCity,
           CleanSchoolName = @CleanSchoolName,
		   Active		   = @Active,
		   AltName		   = @AltName,
		   District		   = @District,
		   DTP			   = @DTP,
		   IsElementary	   = @IsElementary,
		   IsMiddleSchool  = @IsMiddleSchool,
		   IsHighSchool    = @IsHighSchool,
		   IsCollege       = @IsCollege,
		   IsRetail        = @IsRetail,
		   HasSavingsPlan  = @HasSavingsPlan,
		   City			   = @City,
		   State		   = @State,
		   Zip			   = @Zip,
		   SchoolKeywords  = @SchoolKeywords,
		   Address1        = @Address1,
		   Address2        = @Address2,
		   Country         = @Country,
		   Mascot          = @Mascot,
		   Color		   = @Color,
		   PaymentURL	   = @PaymentURL,
		   ProductCollections = @ProductCollections,
		   LogoURL		   = @LogoURL,
		   SchoolRanking   = @SchoolRanking,
		   SchoolRankingBooster = @SchoolRankingBooster,
		   Ring_Jewelry_Partner = @RingJewelryPartner,
		   Graduation_Partner   = @GraduationPartner,
		   Letter_Jacket_Partner = @LetterJacketPartner,
		   Yearbook_Partner = @YearBookPartner,
		   ColorName		= @ColorName,
		   PrimaryColor		= @PrimaryColor,
		   SecondaryColor	= @SecondaryColor,
		   ThirdColor		= @ThirdColor,
		   UpdatedDate     = CURRENT_TIMESTAMP
	 WHERE SMI		       = @SMI

	--Add new affinity pages for new SMIs
	IF EXISTS (SELECT SMI FROM School_URL_Master WHERE SMI NOT IN (SELECT SMI FROM ContentAffinityPages))
	BEGIN
		INSERT INTO ContentAffinityPages ([SMI])
		SELECT SMI FROM School_URL_Master WHERE SMI NOT IN (SELECT SMI FROM ContentAffinityPages)
	END
	--Update extended properties
	DECLARE @Updated VARCHAR(50)
	SET @Updated = FORMAT(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'School_URL_Master', @AttribName='LastUpdate', @Value=@Updated
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'School_URL_Master', @AttribName = 'LastSMIUpdated', @Value = @SMI
	--Determine the next update
	SET @Updated = FORMAT(DATEADD(day,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'School_URL_Master', @AttribName = 'NextUpdate', @Value = @Updated
END
GO
