/****** Object:  StoredProcedure [dbo].[s_cross_sell_progress_report]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 11/9/19
-- Description: Check the status of the caching jobs for cross sell
-- =============================================
CREATE PROCEDURE [dbo].[s_cross_sell_progress_report]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	/*
	SELECT * FROM ymal_cache_new;
	SELECT * FROM cross_sell_cache_new;
	*/
	--SELECT COUNT(*) FROM ymal_cache_new; -- 16433 19140 19200 22339 22384 22804 22804 22804 22804  29936
	--SELECT COUNT(*) FROM cross_sell_cache_new; -- 82981 84192 84427 91793 91930 104827 106807 107815 110608 205798
	DECLARE @rem_cs int
	DECLARE @rem_ymal int
	DECLARE @proc_cs int
	DECLARE @proc_ymal int

	-- figure out how many we proccessed but did not find a match for. 
	-- also, we keep the perm cache permanent, but only remove any items that are no longer available. 
	SELECT COUNT(distinct [input sku]) AS [Temp Cross Sell Cache] FROM cross_sell_cache_new;
	SELECT COUNT(distinct [input sku]) AS [Permanent Cross Sell Cache] FROM cross_sell_cache;
	select @proc_cs = count(sku)  from cross_sell_processed

	--SELECT @rem_cs = COUNT(distinct sku)  FROM  dbo.magento_automated_product_dataset p
	--	WHERE (p.Status = 'Enable') 
	--		AND (p.[Retail Price] <> 0)
	--		AND (p.Visibility = 'In Catalog and Search')
	--		AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
	--		AND (Category NOT LIKE '%ANNOUNCEMENT%')
	--		AND (Category NOT LIKE '%PACKAGES%')
	--		-- AND (sku NOT IN (select sku from cross_sell_processed))
	--		AND ([Quantity in Stock] > 0)
	--		-- AND (sku not IN (select distinct [input sku] from cross_sell_cache))
	--		AND (LEN(SKU) > 8)
	 SELECT @rem_cs = 55821 -- screw the above calculation..it takes a while.

	Select @proc_cs  AS [Processed Cross Sell SKUS]
	Select @rem_cs  AS [Total Cross Sell SKUS]
	select CAST(ROUND((@proc_cs/(@rem_cs*(1.0))*100),2) AS Numeric(9,2)) AS [Cross Sell % Complete]

	SELECT COUNT(distinct [input sku]) AS [Temp YMAL Cache] FROM ymal_cache_new; 
	SELECT COUNT(distinct [input sku]) AS [Permanent YMAL Cache] FROM ymal_cache;
	select @proc_ymal = count(sku) from ymal_processed

	--SELECT @rem_ymal = COUNT(distinct sku)  FROM  dbo.magento_automated_product_dataset p
	--	WHERE (p.Status = 'Enable') 
	--		AND (p.[Retail Price] <> 0)
	--		AND (p.Visibility = 'In Catalog and Search')
	--		AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
	--		AND (Category NOT LIKE '%ANNOUNCEMENT%')
	--		AND (Category NOT LIKE '%PACKAGES%')
	--		AND ([Quantity in Stock] > 0)
	--		-- AND (sku not IN (select distinct [input sku] from ymal_cache))
	--		AND (sku NOT IN (select sku from ymal_processed))
	--		AND (LEN(SKU) > 8)
			-- 65463
	 SELECT @rem_ymal = 55820
	Select @proc_ymal  AS [Processed YMAL SKUS] -- AS [Processed Cross Sell SKUS]
	 Select @rem_ymal AS [Total YMAL SKUS] -- AS [Remaining Cross Sell SKUS]
	 select CAST(ROUND((@proc_ymal/(@rem_ymal*(1.0)))*100,2) AS Numeric(9,2)) AS [YMAL % Complete]

	-- SELECT COUNT( distinct sku) FROM  dbo.magento_automated_product_dataset

	-- select sku from ymal_processed
	-- select [input sku], [imageurl], [url], [sku], [product name], [price], [Class], rank from ymal_cache_new where [input sku] = 'A0095619A0000'
	-- select [input sku], [imageurl], [url], [sku], [product name], [price], [Class] from cross_sell_cache_new where [input sku] = 'A0000924A0000'

	/*
	TRUNCATE TABLE cross_sell_cache;
	TRUNCATE TABLE ymal_cache;

	INSERT INTO cross_sell_cache ([input sku], [imageurl], [url], [sku], [product name], [price], [Class])
	SELECT * FROM cross_sell_cache_new WHERE ([input sku] not IN (select distinct [input sku] from cross_sell_cache));


	INSERT INTO ymal_cache ([input sku], [imageurl], [url], [sku], [product name], [price], [Class], rank)
	SELECT * FROM ymal_cache_new WHERE ([input sku] not IN (select distinct [input sku] from ymal_cache));


	
	select distinct [input sku] from cross_sell_cache
	group by [input sku]
	having count(*) =3

		
	select distinct [input sku] from ymal_cache
	group by [input sku]
	having count(*) =2

	select REPLACE(LOWER('https://www-qa.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU ), '--', '-') ,
	* from magento_automated_product_dataset p
	where sku IN (
		select distinct [input sku] from cross_sell_cache
		where [product name] LIKE '%Hart%'
		group by [input sku]
		having count(*) >=1
	)
	AND (Status = 'Enable') 
	AND ([Retail Price] <> 0)
	AND (Visibility = 'In Catalog and Search')
	order by sku asc

	select REPLACE(LOWER('https://www-qa.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU ), '--', '-') ,
	* from magento_automated_product_dataset p
	where sku IN (
		select distinct [input sku] from ymal_cache
			group by [input sku]
			having count(*) >=1
	)
	AND (Status = 'Enable') 
	AND ([Retail Price] <> 0)
	AND (Visibility = 'In Catalog and Search')
	order by sku asc


	SELECT distinct sku /*, [Product Name], Category*/ FROM  dbo.magento_automated_product_dataset p
		WHERE (p.Status = 'Enable') 
			AND (p.[Retail Price] <> 0)
			AND (p.Visibility = 'In Catalog and Search')
			AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
			AND (Category NOT LIKE '%ANNOUNCEMENT%')
			AND (Category NOT LIKE '%PACKAGES%')
			AND (sku not IN (select distinct [input sku] from cross_sell_cache))
			AND (LEN(SKU) > 8)

	SELECT distinct sku /*, [Product Name], Category*/ FROM  dbo.magento_automated_product_dataset p
		WHERE (p.Status = 'Enable') 
			AND (p.[Retail Price] <> 0)
			AND (p.Visibility = 'In Catalog and Search')
			AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
			AND (Category NOT LIKE '%ANNOUNCEMENT%')
			AND (Category NOT LIKE '%PACKAGES%')
			AND (sku not IN (select distinct [input sku] from ymal_cache))
			AND (LEN(SKU) > 8)


		SELECT distinct sku , [Product Name], Category FROM  dbo.magento_automated_product_dataset p
		WHERE (p.Status = 'Enable') 
			AND (p.[Retail Price] <> 0)
			AND (p.Visibility = 'In Catalog and Search')
			AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
			AND (Category NOT LIKE '%ANNOUNCEMENT%')
			AND (Category NOT LIKE '%PACKAGES%')
			AND (sku not IN (select distinct [input sku] from cross_sell_cache))
			AND (LEN(SKU) > 8)
			AND (sku NOT IN (select sku from cross_sell_processed))
			order by sku desc

		SELECT distinct sku , [Product Name], Category FROM  dbo.magento_automated_product_dataset p
		WHERE (p.Status = 'Enable') 
			AND (p.[Retail Price] <> 0)
			AND (p.Visibility = 'In Catalog and Search')
			AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
			AND (Category NOT LIKE '%ANNOUNCEMENT%')
			AND (Category NOT LIKE '%PACKAGES%')
			AND (sku not IN (select distinct [input sku] from ymal_cache))
			AND (LEN(SKU) > 8)
			AND (sku NOT IN (select sku from ymal_processed))
			order by sku desc

		
	*/


END
GO
