/****** Object:  StoredProcedure [dbo].[s_get_announcements_late_fee]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 02/18/2021
-- Description: Get the Late fee info for Announcements PLP & gradpack page
-- =============================================
CREATE PROCEDURE [dbo].[s_get_announcements_late_fee]
(
	 @SMI INT = 0
	,@CallingSite VARCHAR(200) = ''
)
AS
-- EXEC dbo.s_get_announcements_late_fee @SMI='1304';
-- EXEC dbo.s_get_announcements_late_fee @SMI='1326';
-- EXEC dbo.s_get_announcements_late_fee @SMI='100';
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Result VARCHAR(MAX) = NULL
  
	SELECT @Result = REPLACE(REPLACE(REPLACE([HTMLContent],'~timestamp~', FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt')),'~hinstance~',CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2)),'~hsproc~', CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2))
	FROM [dbo].[ConditionalContent]
	left join SMILists on SMILists.GUID = 'BAF986E5-3EFB-42C1-9F30-FF6F738BB948'
	WHERE [ConditionalContent].[GUID] = '7C32156B-87D7-494A-AE61-D4A7D331E12E' -- Late fee static GUID
	AND [ConditionalContent].Enabled = 1
	AND [SMILists].Enabled = 1
	--AND (GETDATE() >= [SMILists].StartDate  OR [SMILists].StartDate IS NULL)
	--AND (GETDATE() <= [SMILists].EndDate  OR [SMILists].EndDate IS NULL)
	AND [dbo].[fn_SMI_in_list] ('BAF986E5-3EFB-42C1-9F30-FF6F738BB948',@SMI) = 1 -- check for smi in list

	SELECT COALESCE(@Result,'<!-- no content -->')
END
GO
