/****** Object:  StoredProcedure [dbo].[School_Sales_Rep_Contacts_SP]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[School_Sales_Rep_Contacts_SP]
(
    @SMI int,
    @RepType varchar(50),
    @Address varchar(max),
    @Phone varchar(50),
	@Email varchar(max),
	@UpdatedDate datetime,
	@RefundEmail varchar(max) NULL
)
AS
BEGIN
    SET NOCOUNT ON
	IF EXISTS(SELECT * FROM [dbo].[School_Sales_Rep_Contacts] WHERE SMI=@SMI and RepType= @RepType)
	UPDATE [dbo].[School_Sales_Rep_Contacts]
	SET [SMI]= @SMI, RepType= @RepType, Address= @Address, Phone=@Phone, Email=@Email, UpdatedDate=@UpdatedDate, RefundEmail = @RefundEmail
	 WHERE SMI=@SMI and RepType= @RepType
ELSE
    INSERT INTO [dbo].[School_Sales_Rep_Contacts] (SMI, RepType, Address, Phone, Email, UpdatedDate, RefundEmail)
	VALUES (@SMI, @RepType, @Address, @Phone, @Email,@UpdatedDate, @RefundEmail)

END
GO
