/****** Object:  StoredProcedure [dbo].[s_get_CSIC_items_20142020]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in
-- =============================================
-- exec s_get_CSIC_items_20142020 @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
CREATE PROCEDURE [dbo].[s_get_CSIC_items_20142020]
(
   @skus VARCHAR(MAX),
   @debugging BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @count int
	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255))
	DECLARE @thisSku varchar(255), @Loop INT, @Max INT

	CREATE TABLE #skulist (sku varchar(255), Loop INT IDENTITY(1,1)) 
	INSERT INTO #skulist (sku)
	SELECT value FROM STRING_SPLIT( @skus, ',')
	

	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 
	BEGIN
		SELECT @Max = MAX([Loop]) FROM #skulist
		SET @Loop = 1
		WHILE @Loop <= @Max
		BEGIN
			SELECT @thisSku = [sku] FROM #skulist WHERE [Loop] = @Loop
			IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			
			/*An INSERT EXEC statement cannot be nested. When I try to do the following, So I will grab the guts of the sproc....*/
			/*Insert into @results 
			exec [s_get_cross_sell_EA] @sku = @thisSku*/

			DECLARE @innercount int
			DECLARE @innerresults TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255))
			INSERT INTO @innerresults ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class])
			select [imageurl], [url], [sku], [product name], [price], [wasprice], [Class] from cross_sell_cache where [input sku] = @thisSku
	
			Select @innercount =  COUNT (*) FROM @innerresults
			IF @debugging = 1 print 'count: ' + CAST(@innercount AS VARCHAR(50))

			if @innercount = 0 AND @thisSku NOT IN (select sku from cross_sell_processed)
			BEGIN
				IF @debugging = 1 Print ' Used Adhoc!'
				insert into @innerresults
				exec s_get_cross_sell_adhoc @insku = @thisSku
				Select @innercount =  COUNT (*) FROM @innerresults
				IF @debugging = 1 print 'count: ' + CAST(@innercount AS VARCHAR(50))
				INSERT INTO cross_sell_cache([input sku], [imageurl], [url], [sku], [product name], [price], [wasprice], [Class] )
				select @thisSku, r.[imageurl], r.[url], r.[sku], r.[product name], r.[price], r.[wasprice], r.[Class] from @innerresults r

				INSERT INTO cross_sell_processed(sku) VALUES(@thisSku)
			END
			
			INSERT INTO @results
			select * from @innerresults;
			
			IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
		  SET @Loop = @Loop + 1
		END; 
	END;

	
	select * from @results;
END
GO
