/****** Object:  StoredProcedure [dbo].[s_report_onlyactivityring_none_mainring_orders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 10/06/2021
-- Description: Sends an internal AddOn Active Ring without Main Ring on orders report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_onlyactivityring_none_mainring_orders] 
AS 
--EXEC [s_report_onlyactivityring_none_mainring_orders]
SET NOCOUNT ON
/*
You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
you can get the rows in the correct order.
*/
CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
/*
You will need the header row.  Separate the columns with the tab (CHAR(44)) character.
*/
INSERT INTO #ReportTemp ([row])
SELECT 'OrderID' + CHAR(44) + 'OrderNumber' + CHAR(44) + 'OrderDate' + CHAR(44) + 'SubTotal' + CHAR(44) + 'Tax' + CHAR(44) +
       'GrandTotal' + CHAR(44) + 'SKU' + CHAR(44) +  'ProductName' + CHAR(44) +  'QtyOrdered' + CHAR(44) 
/*
Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(44)) between then.  Be careful not to allow
any NULL values as that will cause the entire string (row) to be NULL.
*/

DECLARE @Raw TABLE (ActivityRingOrder BIGINT, [Loop] INT IDENTITY(1,1))
DECLARE @Max INT, @Loop INT, @sendEmail SMALLINT = 0

INSERT INTO @Raw (ActivityRingOrder)
SELECT [Order_ID] FROM MAGE_sales_order_item WHERE sku IN ('A0256380') AND Order_id > (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'last_onlyactivityring_none_mainring_order' AND [major_id] = OBJECT_ID('MAGE_Sales_Order'))
Order By order_id 

SELECT @Loop = 1, @Max = MAX([Loop]) from @Raw
WHILE @Loop <= @Max
BEGIN
	DECLARE @ActivityRingOrder BIGINT 
	SELECT   @ActivityRingOrder = ActivityRingOrder FROM @Raw WHERE [Loop] = @Loop AND ActivityRingOrder > (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'last_onlyactivityring_none_mainring_order' AND [major_id] = OBJECT_ID('MAGE_Sales_Order'))
  
	IF NOT EXISTS (SELECT TOP 1 * FROM MAGE_sales_order_item 
			WHERE sku IN ('A0256364', 'A0256365', 'A0256366', 'A0256367', 'A0256368', 'A0256369', 'A0256370', 'A0256371', 'A0256372', 'A0256373', 'A0256374', 'A0256375', 'A0256376', 'A0256377', 'A0256378', 'A0256379')	 
					AND order_id = @ActivityRingOrder)
	BEGIN
		SET @sendEmail = 1
		INSERT INTO #ReportTemp ([row])
			SELECT  DISTINCT CAST(o.[entity_id] as VARCHAR(15))  + CHAR(44) + 
					o.increment_id  + CHAR(44) +  	 
					CONVERT(VARCHAR, dbo.fn_DateTime_to_Central(o.created_at),22)  + CHAR(44) + 
					CAST(CAST(ROUND(o.subtotal, 2) AS MONEY) AS VARCHAR) + CHAR(44) + 
					CAST(CAST(ROUND(o.tax_amount, 2) AS MONEY) AS VARCHAR) + CHAR(44) +
					--CAST(CAST(ROUND(o.shipping_amount, 2) AS MONEY) AS VARCHAR) + CHAR(44) +
					CAST(CAST(ROUND(o.grand_total, 2) AS MONEY) AS VARCHAR) + CHAR(44) +	
					i.sku + CHAR(44) +
					i.name + CHAR(44) +
					CAST(CAST(i.qty_ordered AS INT) AS VARCHAR) + CHAR(44) 
			FROM MAGE_Sales_Order o 
			INNER JOIN MAGE_sales_order_item i ON i.order_id = o.entity_id	
			--WHERE i.SKU NOT IN (SELECT SKU FROM magento_automated_product_dataset p 
			--					WHERE p.[Attribute Set] = 'pim_uc'
			--					AND p.[Exclusive SMI] = '131722' -- vt school
			--					AND p.[Product Name] like '%2023%')
			WHERE i.sku IN ('A0256364', 'A0256365', 'A0256366', 'A0256367', 'A0256368', 'A0256369', 'A0256370', 'A0256371', 'A0256372', 'A0256373', 'A0256374', 'A0256375', 'A0256376', 'A0256377', 'A0256378', 'A0256379')	 
			AND i.sku NOT IN ('A0256380') -- ignore this item here- only check the above items are not in the order
			AND i.order_id = @ActivityRingOrder
			--AND CAST(o.entity_id AS BIGINT)  >  (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'last_onlyactivityring_none_mainring_order' AND [major_id] = OBJECT_ID('MAGE_Sales_Order'))
			GROUP BY o.entity_id, 
					o.increment_id, 
					dbo.fn_DateTime_to_Central(o.created_at),
					CAST(ROUND(o.subtotal, 2) AS MONEY),
					CAST(ROUND(o.tax_amount, 2) AS MONEY), 
					--CAST(ROUND(o.shipping_amount, 2) AS MONEY),
					CAST(ROUND(o.grand_total, 2) AS MONEY),
					i.sku, 		
					i.name,
					CAST(i.qty_ordered AS INT) 
			--ORDER BY o.increment_id  DESC
 
		EXEC  s_update_extendedprop_on_table @TableName = 'MAGE_Sales_Order', @AttribName='last_onlyactivityring_none_mainring_order', @Value= @ActivityRingOrder 
	
	END
	SET @Loop = @Loop + 1
END  -- loop end

IF EXISTS(SELECT * FROM #ReportTemp WHERE row = 'OrderID,OrderNumber,OrderDate,SubTotal,Tax,GrandTotal,SKU,ProductName,QtyOrdered, ')
BEGIN SET @sendEmail = 0 END
-- EXEC [s_report_onlyactivityring_none_mainring_orders]
IF @sendEmail = 0 PRINT 'No Email Sent'
 
IF  @sendEmail = 1 
BEGIN

		/*
		Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
		*/
		DECLARE @File VARCHAR(MAX)
		SET @File = ''
		/*
		Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
		a LF (CHAR(10)).  Make sure to order by your identity column.
		*/
		SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
		FROM #ReportTemp
		ORDER BY [rownum]

		DROP TABLE IF EXISTS #ReportTemp
		/*For debugging purposes.*/
		SELECT @File

		/*
		Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
		*/
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'Orders with AddOn Activity Ring but without Required Ring' /*Description of the queue entry.*/
		,'han.tran@balfour.com' /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.  stuart.hagen@balfour.com;rick.parra@balfour.com*/
		,'{"cc":"","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"Orders with AddOn Activity Ring but without Required Ring","body":"Orders with AddOn Activity Ring but without Required Ring report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'AddOnActivityRingWithoutMainRingOrdersReport.csv' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
		/*For debugging purposes.*/
		--SELECT SCOPE_IDENTITY() 
END
	
	
 
GO
