/****** Object:  StoredProcedure [dbo].[s_import_ga_transactions]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09/26/2019
-- Description: sproc to pull in data from GA API client
-- =============================================
CREATE PROCEDURE [dbo].[s_import_ga_transactions]
(
    @TSV [TSVTable] READONLY
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Max INT, @Loop INT, @Line VARCHAR(MAX), @Value VARCHAR(MAX), @ColNum INT, @MaxColNum INT, @RealColNum INT, @Insert NVARCHAR(MAX), @Delete NVARCHAR(MAX), @TransactionId VARCHAR(50), @TransactionDate DATE
	DECLARE @Values TABLE ([Value] VARCHAR(MAX), [ColNum] INT IDENTITY(1,1))
	SELECT @Max = MAX([Loop]) FROM @TSV
	SET @Loop = 1
	WHILE @Loop <= @Max
		BEGIN
			SELECT @Line = [Line] FROM @TSV WHERE [Loop] = @Loop
			DELETE FROM @Values
			INSERT INTO @Values ([Value])
			SELECT [value] FROM STRING_SPLIT(@Line,CHAR(9))
			SELECT @ColNum = MIN([ColNum]), @MaxColNum = MAX([ColNum]), @RealColNum = 1, @Insert = '' FROM @Values
			WHILE @ColNum <= @MaxColNum
				BEGIN
					SELECT @Value = [Value] FROM @Values WHERE [ColNum] = @ColNum
					IF @RealColNum = 1 --TransactionId
						BEGIN
							SET @Insert = 'VALUES (''' + LTRIM(RTRIM(@Value)) + ''''
							SET @TransactionId = LTRIM(RTRIM(@Value))
						END
					IF @RealColNum = 2 --TransactionDate - in the format yyyyMMdd
						BEGIN
							IF ISNUMERIC(@Value) = 1
								BEGIN
									SET @Insert = @Insert + ', ''' + LEFT(LTRIM(RTRIM(@Value)),4) + '-' + SUBSTRING(LTRIM(RTRIM(@Value)),5,2) + '-' + RIGHT(LTRIM(RTRIM(@Value)),2) + ''''
									SET @TransactionDate = CAST(LEFT(LTRIM(RTRIM(@Value)),4) + '-' + SUBSTRING(LTRIM(RTRIM(@Value)),5,2) + '-' + RIGHT(LTRIM(RTRIM(@Value)),2) AS DATE)
								END
							ELSE
								BEGIN
									SET @Insert = @Insert + ', NULL'
								END
						END
					IF @RealColNum = 3 --Medium
						SET @Insert = @Insert + ', ''' + REPLACE(LTRIM(RTRIM(@Value)),'''','''''') + ''''
					IF @RealColNum = 4 --Source
						SET @Insert = @Insert + ', ''' + REPLACE(LTRIM(RTRIM(@Value)),'''','''''') + ''''
					IF @RealColNum = 5 --DeviceCategory
						SET @Insert = @Insert + ', ''' + REPLACE(LTRIM(RTRIM(@Value)),'''','''''') + ''''
					IF @RealColNum = 6 --MobileDeviceInfo
						SET @Insert = @Insert + ', ''' + REPLACE(LTRIM(RTRIM(@Value)),'''','''''') + ''''
					IF @RealColNum = 7 --Browser
						SET @Insert = @Insert + ', ''' + REPLACE(LTRIM(RTRIM(@Value)),'''','''''') + ''''
					IF @RealColNum = 8 --BrowserVersion
						SET @Insert = @Insert + ', ''' + REPLACE(LTRIM(RTRIM(@Value)),'''','''''') + ''''
					IF @RealColNum = 9 --BrowserSize
						SET @Insert = @Insert + ', ''' + REPLACE(LTRIM(RTRIM(@Value)),'''','''''') + ''''
					IF @RealColNum = 10 --ItemQuantity
						SET @Insert = @Insert + ', ' + CASE WHEN ISNUMERIC(LTRIM(RTRIM(@Value))) = 1 THEN LTRIM(RTRIM(@Value)) ELSE '0' END 
					IF @RealColNum = 11 --ItemRevenue
						SET @Insert = @Insert + ', ' + CASE WHEN ISNUMERIC(LTRIM(RTRIM(@Value))) = 1 THEN LTRIM(RTRIM(@Value)) ELSE '0' END 
					IF @RealColNum = 12 --TransactionRevenue
						SET @Insert = @Insert + ', ' + CASE WHEN ISNUMERIC(LTRIM(RTRIM(@Value))) = 1 THEN LTRIM(RTRIM(@Value)) ELSE '0' END
					IF @RealColNum = 13 --TransactionTax
						SET @Insert = @Insert + ', ' + CASE WHEN ISNUMERIC(LTRIM(RTRIM(@Value))) = 1 THEN LTRIM(RTRIM(@Value)) ELSE '0' END
					IF @RealColNum = 14 --TransactionShipping
						SET @Insert = @Insert + ', ' + CASE WHEN ISNUMERIC(LTRIM(RTRIM(@Value))) = 1 THEN LTRIM(RTRIM(@Value)) ELSE '0' END
					SET @ColNum = @ColNum + 1
					SET @RealColNum = @RealColNum + 1
				END
			--Clear any old records
			DELETE FROM [dbo].[GA_Transactions] WHERE [TransactionId] = @TransactionID AND [TransactionDate] = @TransactionDate
			SET @Insert = 'INSERT INTO [dbo].[GA_Transactions] ([TransactionId],[TransactionDate],[Medium],[Source],[DeviceCategory],[MobileDeviceInfo],[Browser],[BrowserVersion],[BrowserSize],[ItemQuantity],[ItemRevenue],[TransactionRevenue],[TransactionTax],[TransactionShipping]) ' + @Insert + ')'

			EXEC sp_sqlexec @Insert
			SET @Loop = @Loop + 1
		END
    
END
GO
