/****** Object:  StoredProcedure [dbo].[s_delete_gradpacksmiassignments_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/10/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_delete_gradpacksmiassignments_record]
(
	 @GradPackSMIAssignmentID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [GradPackSMIAssignments].
--##PD @GradPackSMIAssignmentID in [GradPackSMIAssignments].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [GradPackSMIAssignments] WHERE [GradPackSMIAssignmentID] = @GradPackSMIAssignmentID



GO
