/****** Object:  StoredProcedure [dbo].[s_get_gradpack_vouchers_data_for_silverpop]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 06/23/2021
-- Description: Gets GradPack voucher info for recently queued transactional emails
-- =============================================
CREATE PROCEDURE [dbo].[s_get_gradpack_vouchers_data_for_silverpop]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @LastCheckedPropertyName varchar(100) = 'GradPackVouchersLastChecked'
	DECLARE @LastCheckedDateUtc datetime
	DECLARE @EmailName varchar(100) = 'GradPackVouchers'

    
	BEGIN TRY
		SELECT @LastCheckedDateUtc = CAST(dbo.fn_GetExtendedProperty('emailjobs', @LastCheckedPropertyName) as datetime)
	END TRY
	BEGIN CATCH
		SET @LastCheckedDateUtc = '2021-06-01'
	END CATCH
	PRINT 'Last checked: ' + CAST(@LastCheckedDateUtc AS VARCHAR(50)) 

	CREATE TABLE #EmailData ([ID] BIGINT, [EmailAddresses] nvarchar(200), [RawData] nvarchar(max), [Processed_DTM] datetime, [Entity] varchar(100))

	INSERT INTO #EmailData
		(ID, EmailAddresses, RawData, Processed_DTM, Entity)
	SELECT 
		ejq.ID, ejq.emailAddresses, ejq.rawData, ejq.Processed_DTM, ejq.Entity
	FROM emailjobs_queue ejq
	WHERE 
		ejq.Processed_DTM >= @LastCheckedDateUtc
		AND ejq.Email_Name = @EmailName

	/*
	INSERT INTO #EmailData
	(ID, EmailAddresses, RawData, Processed_DTM)
	VALUES
	(
	1, 'jkaufman@iconicgroup.com', '{"First_Name":"' + 'Jon' + '","VoucherCode":"' + 'Code12345' + '","VoucherValue":' + '99.99' + ',"IsVoucherRedeemed":false}', getutcdate()
	)
	*/

	SET @LastCheckedDateUtc = GETUTCDATE()
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'emailjobs', @AttribName = @LastCheckedPropertyName, @Value = @LastCheckedDateUtc

	SELECT *
	FROM #EmailData
END
GO
