/****** Object:  StoredProcedure [dbo].[s_get_affinity_metadata]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Tramel Jones
-- 11/19/2020
-- Description: Returns data used for Affinity Metadata in sitecore (SchoolMetadataOverride.cs)
-- =============================================
CREATE PROCEDURE [dbo].[s_get_affinity_metadata]
(
     @smi BIGINT = 0
	,@page VARCHAR(50) = 'Home'
	,@Debug BIT = 0
	,@CallingSite VARCHAR(300) = ''
	,@testData VARCHAR(MAX) = ''
)
AS
--Log the calling site
--INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data])
--VALUES ('s_get_affinity_metadata','SMI: ' + CAST(@SMI as VARCHAR(15)) + ' Calling site: ' + ISNULL(@CallingSite,''))
/*
SELECT DB_NAME()  as [instance], CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]

"Page" ENUM in CS file:

public enum AffinityPageEnum
    {
        Home, -- 0 
        Contact, -- 1 
        Event, -- 2
        Yearbook, -- 3
        Graduation -- 4
    } 

*/
--EXEC [s_get_affinity_metadata] @SMI = 136133, @page='Home', @Debug = 1
--EXEC [s_get_affinity_metadata] @SMI = 136133, @page='Contact', @Debug = 1
--EXEC [s_get_affinity_metadata] @SMI = 136133, @page='Event', @Debug = 1

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
		select 
			CASE @page  
				 WHEN 'Home' THEN AF.metapageTitle
				 WHEN 'Contact' THEN S.AltName + ' - Contact Us |Balfour'  
				 WHEN 'Event' THEN S.AltName + ' - Events and Important Dates | Balfour'  
				 WHEN 'Yearbook' THEN S.AltName + ' - Yearbook Packages | Balfour'  
				 WHEN 'Graduation' THEN S.AltName + ' - Graduation Packages | Balfour'  
				 ELSE S.AltName + ' - Class Rings, Yearbooks and Graduation | Balfour'  
			END AS [pageTitle]
			, AF.metadescription AS [description]
			, AF.metakeywordlist AS [keywordsList]
		FROM [dbo].[School_URL_Master] S 
		INNER JOIN [dbo].[ContentAffinityPages] AF ON AF.[SMI] = S.[SMI]
		--LEFT JOIN [dbo].[ContentAffinityPages] AFDefault ON AFDefault.[SMI] = CASE WHEN @GradeLevel = 'College' THEN  -1 ELSE -2 END
		WHERE S.[SMI] = @SMI
		FOR JSON PATH	
END
GO
