/****** Object:  StoredProcedure [dbo].[s_update_virtcomm_participant_frames]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/22/2020
-- Description: Updates the [Frame] column of VirtCommParticipants
-- =============================================
CREATE PROCEDURE [dbo].[s_update_virtcomm_participant_frames]
(
    @VirtCommImages dbo.VirtCommImages READONLY
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	UPDATE [dbo].[VirtCommParticipants] 
	SET [Frame] = V.[Frame]
	,[Roll] = V.[Roll]
	FROM @VirtCommImages V
	INNER JOIN [dbo].[VirtCommParticipants] P ON P.[ID] = V.[ID]
	WHERE ISNULL(V.[Frame],'') <> ''
    
END
GO
