/****** Object:  StoredProcedure [dbo].[Upsert_MAGESales_Order_Address]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/13/2021
-- Description: Sproc to upsert data from Magento
-- =============================================
CREATE PROCEDURE [dbo].[Upsert_MAGESales_Order_Address]
(
	@entity_id bigint,
	@parent_id bigint,
	@customer_address_id bigint,
	@quote_address_id bigint,
	@region_id bigint,
	@customer_id bigint,
	@fax varchar(255),
	@region varchar(255),
	@postcode varchar(255),
	@lastname varchar(255),
	@street varchar(255),
	@city varchar(255),
	@email varchar(255),
	@telephone varchar(255),
	@country_id varchar(2),
	@firstname varchar(255),
	@address_type varchar(255),
	@prefix varchar(255),
	@middlename varchar(255),
	@suffix varchar(255),
	@company varchar(255),
	@vat_id text,
	@vat_is_valid smallint,
	@vat_request_id text,
	@vat_request_date text,
	@vat_request_success smallint,
	@giftregistry_item_id bigint
)
AS
BEGIN
    SET NOCOUNT ON

	IF NOT EXISTS (SELECT entity_id FROM dbo.MAGEsales_order_address WHERE entity_id = @entity_id AND address_type = @address_type)
		BEGIN
			INSERT INTO dbo.MAGEsales_order_address
			(
				[entity_id], 
				[parent_id], 
				[customer_address_id], 
				[quote_address_id], 
				[region_id], 
				[customer_id], 
				[fax], 
				[region], 
				[postcode], 
				[lastname], 
				[street], 
				[city], 
				[email], 
				[telephone], 
				[country_id], 
				[firstname], 
				[address_type], 
				[prefix], 
				[middlename], 
				[suffix], 
				[company], 
				[vat_id], 
				[vat_is_valid], 
				[vat_request_id], 
				[vat_request_date], 
				[vat_request_success], 
				[giftregistry_item_id]
			)
			VALUES
			(
				@entity_id, 
				@parent_id, 
				@customer_address_id, 
				@quote_address_id, 
				@region_id, 
				@customer_id, 
				@fax, 
				@region, 
				@postcode, 
				@lastname, 
				@street, 
				@city, 
				@email, 
				@telephone, 
				@country_id, 
				@firstname, 
				@address_type, 
				@prefix, 
				@middlename, 
				@suffix, 
				@company, 
				@vat_id, 
				@vat_is_valid, 
				@vat_request_id, 
				@vat_request_date, 
				@vat_request_success, 
				@giftregistry_item_id
			)
		END
	ELSE
		BEGIN
			UPDATE dbo.MAGEsales_order_address
			SET
				[parent_id] = @parent_id,
				[customer_address_id] = @customer_address_id,
				[quote_address_id] = @quote_address_id,
				[region_id] = @region_id,
				[customer_id] = @customer_id,
				[fax] = @fax,
				[region] = @region,
				[postcode] = @postcode,
				[lastname] = @lastname,
				[street] = @street,
				[city] = @city,
				[email] = @email,
				[telephone] = @telephone,
				[country_id] = @country_id,
				[firstname] = @firstname,
				[prefix] = @prefix,
				[middlename] = @middlename,
				[suffix] = @suffix,
				[company] = @company,
				[vat_id] = @vat_id,
				[vat_is_valid] = @vat_is_valid,
				[vat_request_id] = @vat_request_id,
				[vat_request_date] = @vat_request_date,
				[vat_request_success] = @vat_request_success,
				[giftregistry_item_id] = @giftregistry_item_id
			FROM dbo.MAGEsales_order_address
			WHERE entity_id = @entity_id AND address_type = @address_type
		END

    
	DECLARE @tableName varchar(50) = 'MAGESales_Order_Address'
	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@entity_id as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
