/****** Object:  StoredProcedure [dbo].[proc_get_amount_rule_arcitem_xref_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/27/2019 - TL
*/
CREATE PROCEDURE [dbo].[proc_get_amount_rule_arcitem_xref_records]
(
	 @ID INT = NULL

)
AS
--##AT AG
--##BD Retrieves all records from the table [Amount_Rule_ARCItem_XRef] if the parameter @ID has a value or all records if null.
--##PD @ID in [Amount_Rule_ARCItem_XRef].
--##RS1 One or all records from the table [Amount_Rule_ARCItem_XRef].

SET NOCOUNT ON
SELECT
 [Amount]
,[MAGE_Rule_ID]
,[ARC_Item_Code]
,[PIM_SKU]
,[Email_GUID]
,[URL]
,[ID]
FROM [Amount_Rule_ARCItem_XRef]
WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END


GO
