/****** Object:  StoredProcedure [dbo].[s_get_official_diploma_frames_deep_links]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 03/09/21
-- Description: Get a bunch of deep links for Official Diploma frames based on SMI
-- ============================================= 
-- EXEC [dbo].[s_get_official_diploma_frames_deep_links] @SMI = 131629, @DEBUG = 1, @RELATIVE = 1 -- Yes --LSU
-- EXEC [dbo].[s_get_official_diploma_frames_deep_links] @SMI = 130495, @DEBUG = 1, @RELATIVE = 1 -- --No --Clemson
-- EXEC [dbo].[s_get_official_diploma_frames_deep_links] @SMI = 12345, @DEBUG = 1, @RELATIVE = 1 -- Phoney Baloney school
-- EXEC [dbo].[s_get_official_diploma_frames_deep_links] @SMI = 135169, @DEBUG = 1, @RELATIVE = 1 -- University of IL Chicago

CREATE PROCEDURE [dbo].[s_get_official_diploma_frames_deep_links]
(
    -- Add the parameters for the stored procedure here
    @SMI INT = 0,
    @DEBUG BIT = 0,
	@RELATIVE BIT = 1
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

     -- Declare the return variable here
    DECLARE @Link VARCHAR(500) = ''
	--SELECT TOP 1 P.ITEMID 
	--	FROM magento_automated_product_dataset p  
	--	--LEFT JOIN product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
	--	WHERE p.[Enhanced Commerce] = 'BALFOUR DIRECT-FRAMES'
	--	AND is_licensed = 1
	--	AND 
	--	(
	--		ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR 
	--		(
	--			ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0
	--		)
	--	)
	--	AND
	--	(ISNULL(p.[Included SMI], '0') = @SMI OR ISNULL(p.[Included SMI], '') = @SMI OR p.SKU IN (SELECT SKU FROM product_included_smi WHERE [included_SMI] = @SMI))
		

	-- Check to see if this SMI has any of the special skus in the SKUList below
	IF  [dbo].[fn_Affinity_Frames] (CAST(@SMI as INT)) = 1
	BEGIN 
			SET @Link = 'shop/collections/diploma-frames?pim_a_collection=15523&pim_a_ctscategory=11380&smi=' + CAST (@SMI AS VARCHAR(25))
		END
	ELSE
		BEGIN -- Default link
			-- SET @Link = 'shop/collections/diploma-frames?pim_a_collection=15523&pim_a_ctscategory=11380&smi=' + CAST (@SMI AS VARCHAR(25))
			SET @Link = 'shop/df/diploma-frames?smi=' + CAST (@SMI AS VARCHAR(25)) 
	END
	-- 
	IF @RELATIVE = 0
	BEGIN
		SET @Link = 'https://www-qa.balfour.com/' + @Link
		
	END

	IF @DEBUG = 1 
	BEGIN
		SELECT 
			  @Link AS [link]
	END
	ELSE
	BEGIN
		SELECT 
			  @Link AS [link]
		FOR JSON PATH
	END


END



/*
		Deep linking rules for Diploma Frames:

*/
GO
