/****** Object:  StoredProcedure [dbo].[proc_generate_contemporary_items]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 2/24/2020 - HT
* This is used in Power BI Marketing_Report 
*/
CREATE PROCEDURE [dbo].[proc_generate_contemporary_items]

AS
 
SET NOCOUNT ON
 	 
SELECT i.Sku, i.Name FROM item i WITH (NOLOCK)
INNER JOIN [dbo].[itemattributes] ia WITH (NOLOCK) ON ia.itemid = i.id AND usertypeid = 'Item'
WHERE tagtype = 'a_pbprodfamid' and tagvalue in (56,59,60,61)
GO
