/****** Object:  StoredProcedure [dbo].[s_get_upsell_bottom_item_at_cart_optimized]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in - was previously called _with_gradpack
-- =============================================
/** 
	
	EXEC [s_get_upsell_bottom_item_at_cart_optimized] @skus = 'A0066639A0000', @Debug=1
	EXEC [s_get_upsell_bottom_item_at_cart_optimized] @skus = 'A0066639A0000', @debug = 1
	EXEC [s_get_CSIC_items_optimized] @skus = 'A0057042A0000,A0096856a0000,https', @smi='130925', @debug = 1
	EXEC [s_get_upsell_bottom_item_at_cart_optimized] @skus =  'A0057042A0000,A0096856a0000' --'A0057042A0000,A0096856a0000', @smi='130925', @debug = 1
	EXEC s_get_upsell_bottom_item_at_cart_optimized @skus =  'A0057042A0000,a0176692a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 1
**/

CREATE PROCEDURE [dbo].[s_get_upsell_bottom_item_at_cart_optimized]
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = '',
   @debug BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	--DECLARE @count int
	--DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	--DECLARE @thisSku varchar(100), @Loop INT, @Max INT
  
	--IF @debug = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	--BEGIN			 
	--    -- Han changed on 10/26/2020 ONLY SELECT distinct sku/price pairs 
	--	SELECT DISTINCT value AS Sku, p.[Retail Price]  INTO #temp FROM STRING_SPLIT( @skus, ',') a INNER JOIN [dbo].[magento_automated_product_dataset] p ON (p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)) AND CHARINDEX('https:', a.value) = 0		
	--	ORDER BY p.[Retail Price] DESC 
 
	--	DECLARE @skulist  TABLE (sku VARCHAR(100), price MONEY, Loop INT IDENTITY(1,1)) 
	--	INSERT INTO @skulist (sku)	
	--	SELECT DISTINCT Sku FROM #temp 
	--	GROUP BY sku 
	--	--ORDER by [Retail Price] DESC
	--	DROP TABLE IF EXISTS #temp
	--	--SELECT   value FROM STRING_SPLIT( @skus, ',') a INNER JOIN [dbo].[magento_automated_product_dataset] p ON (p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)) AND CHARINDEX('https:', a.value) = 0
	--	--ORDER BY p.[Retail Price] DESC 
	--	-- Choose GradPack higher priorty - if not, choose the highest price item in the cart to show its rule for last chance
	--	 select * from @skulist
		
	DECLARE @Max INT, @Loop INT, @Item VARCHAR(200)
	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] varchar(9), [wasprice] varchar(9), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @thisSmi varchar(50)
  
	IF @debug = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') 		
	BEGIN			 		
		CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		CREATE TABLE #skusInCart (sku VARCHAR(100))
		DECLARE @Raw TABLE ([item] VARCHAR(200), [sku] VARCHAR(100), [smi] VARCHAR(50), [Loop] INT IDENTITY(1,1))
		INSERT INTO @Raw ([item])
		select value from string_split(@skus,',') where CHARINDEX('https:', value) = 0
 
		SELECT @Loop = 1, @Max = MAX([Loop]) from @Raw
		WHILE @Loop <= @Max
			BEGIN
				SELECT @Item = [Item] FROM @Raw WHERE [Loop] = @Loop
				UPDATE @Raw SET [sku] = CASE WHEN @Item LIKE '%|%' THEN LEFT(@Item,CHARINDEX('|',@Item)-1) ELSE @Item END, [SMI] = CASE WHEN @Item LIKE '%|%' THEN RIGHT(@Item,LEN([item])-CHARINDEX('|',@Item)) ELSE '' END
				WHERE [Loop] = @Loop
				
				SET @Loop = @Loop + 1
			END
 
		INSERT INTO  #skulist ([sku], [price], [smi])
		SELECT a.[sku], a.[retail price], a.[smi]
		FROM (
			SELECT R.[sku], MIN([retail price]) AS [retail price], R.[smi]
			FROM @Raw R
			LEFT JOIN [dbo].[magento_automated_product_dataset] p ON (LEFT(R.[sku],8) = LEFT(p.SKU,8)) 	
			GROUP BY R.SKU, R.smi) a 
		ORDER BY a.[Retail Price] DESC
		 
		UPDATE #skulist
		SET sku = LTRIM(RTRIM(sku))
 		
		--select * from #skulist
	 
	    
		SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi 
			FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
			WHERE LEFT(s.sku,8) IN ('A0168253','A0233566') OR ([attribute set] = 'pim_pb_announcement' AND [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
							AND p.PrintBox_FamilyId = '52' AND LEFT(p.SKU,8) = LEFT(s.sku,8) /*AND p.[Exclusive SMI] = s.smi*/ ) 
			ORDER BY s.price DESC

			IF @debug = 1 BEGIN PRINT 'HSAnnouncement sku: ' + @thisSku + ', this smi: ' + @thisSmi + ', @Loop: ' + CAST(@Loop AS VARCHAR(2)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') END
			 
			-- 2 (If not 1) - Stationary		
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi 
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
				WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' -- AND LEFT(p.SKU,8) = LEFT(s.sku,8)
				AND s.sku NOT IN ( SELECT SKU FROM dbo.magento_automated_product_dataset p 								  
									WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND p.PrintBox_FamilyId IN ('52', '56', '59', '60', '61'))
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Stationary sku: ' + @thisSku + ', this smi: ' + @smi + ', @Loop: ' + CAST(@Loop AS VARCHAR(2)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') END
			END
			 
			-- 3 (If not 2) - Contemporary 
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi 
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku								
				WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND p.PrintBox_FamilyId IN ('56', '59', '60', '61') 
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Contemporary sku: ' + @thisSku + ', this smi: ' + @smi +', @Loop: ' + CAST(@Loop AS VARCHAR(2)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') END
			END
 			
			-- 4 (If not 3) - GradPack
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi 
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
				WHERE [Enhanced Commerce] IN ('GP-CLASS APPAREL','GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS') OR s.sku IN  ('a0071918a0000', 'a0068455a0000', 'a0176692a0000', 'a0175731a0000')
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'GradPack sku: ' + @thisSku + ', this smi: ' + @smi + ', @Loop: ' + CAST(@Loop AS VARCHAR(2)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff')END
			END
			
			IF @debug = 1 PRINT '@smi: ' + @smi + ', @thisSKu: ' + @thisSku + ', input  thisSmi: ' + @thisSmi + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff')
			IF ISNULL(@thisSku, '') <> ''
			BEGIN
				IF @debug = 1 PRINT '@smi: ' + @smi + ', @thisSKu: ' + @thisSku + ', input @thisSmi: ' + @thisSmi + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff')
				
				IF ISNULL(@smi,'') = ''
				BEGIN
					SET @smi = @thisSmi
				END

				IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
				END
				IF ISNULL(@smi,'') = ''
					BEGIN
						SELECT @smi = [Included SMI] FROM  [dbo].[magento_automated_product_dataset] where LEFT(SKU,8) = LEFT(@thisSku,8) 
														AND (ISNULL([Included SMI],'') <> '' OR [Included SMI] <> '0') AND CHARINDEX(',', [Included SMI]) = 0

					END
				 
				IF @debug = 1 BEGIN PRINT 'Contemporary sku: ' + @thisSku + ', @smi: ' + @smi + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') END
				INSERT INTO @results
				EXEC [s_get_upsell_bottom_item_at_cart_input_single_sku]  @skus = @thisSku, @smi=@smi
			END


		--IF EXISTS (SELECT * FROM #skulist WHERE LEFT(sku,8) IN (SELECT LEFT(Sku,8) FROM magento_automated_product_dataset WHERE [Enhanced Commerce] IN ('GP-CLASS APPAREL','GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS'))
		--		OR LEFT(Sku,8) IN ('a0071918', 'a0068455', 'a0176692', 'a0175731'))
		--BEGIN
		--	/**  
		--	EXEC [dbo].[s_get_upsell_bottom_item_at_cart] @skus= 'a0225094|85707,a0227662|85707,a0132585|85707' , @debug = 1
		--	EXEC [dbo].[s_get_upsell_bottom_item_at_cart] @skus='a0225094|85707,a0227662|85707,a0132585|85707', @debug = 1
		--	**/

		--	--select sku,SUBSTRING(Sku, CHARINDEX('|', sku) + 1, LEN(sku) - CHARINDEX('|', Sku) ) FROM @skulist WHERE LEFT(Sku,8) IN (SELECT Sku FROM magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-PACKS')
		--	SELECT TOP 1 @thisSku = CASE WHEN CHARINDEX('|', Sku) > 0 THEN LEFT(Sku, CHARINDEX('|', sku) - 1) ELSE sku END, 
		--				  @smi =  CASE WHEN ISNULL(@smi,'') <> '' THEN @smi WHEN CHARINDEX('|', Sku) > 0 THEN SUBSTRING(Sku, CHARINDEX('|', sku) + 1, LEN(sku) - CHARINDEX('|', Sku) ) ELSE 0 END FROM @skulist 
		--					WHERE LEFT(Sku,8) IN (SELECT LEFT(Sku,8) FROM magento_automated_product_dataset WHERE [Enhanced Commerce] IN ('GP-CLASS APPAREL','GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS'))
		--						OR LEFT(Sku,8) IN ('a0071918', 'a0068455', 'a0176692', 'a0175731')			
		--	IF @debug = 1 PRINT '@smi: ' + @smi + ', @thisSKu: ' + @thisSku
		--	IF ISNULL(@smi,'') = ''
		--	BEGIN
		--		SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
		--	END
		--	IF ISNULL(@smi,'') = ''
		--		BEGIN
		--			SELECT @smi = [Included SMI] FROM  [dbo].[magento_automated_product_dataset] where LEFT(SKU,8) = LEFT(@thisSku,8) 
		--											AND (ISNULL([Included SMI],'') <> '' OR [Included SMI] <> '0')
		--		END
		--	IF ISNULL(@smi,'') = ''
		--		BEGIN
		--		SELECT @smi = CAST([SMI] AS VARCHAR(40)) FROM  [dbo].[MAGE_balfour_product_smi_scoped_price] where LEFT(SKU,8) = LEFT(@thisSku,8) 											
		--	END

		--	INSERT INTO @results
		--	EXEC [s_get_upsell_bottom_item_at_cart_input_single_sku]  @skus = @thisSku, @smi=@smi

		--	IF @debug = 1 
		--	BEGIN
		--		PRINT '@thisSku (gradpack): ' + @thisSku + ', @smi: ' + @smi 
		--		DECLARE @EC VARCHAR(100) 
		--		SELECT @EC = [enhanced commerce] FROM magento_automated_product_dataset WHERE LEFT(sku,8) = LEFT(@thisSku,8)
		--		PRINT 'EC: ' + @EC
		--	END
			
		--	--TEMPORARY REMOVE GRADPACK UPSELL ITEM OR ANY GRADPACK IN CART COMBINE WITH OTHER ITEMS, DO NOT SHOW BOTTOM GREEN BOX AT ALL
		--	SELECT DISTINCT TOP 8  imageurl, REPLACE(url,'https://www.balfour.com','') AS url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
		--	FROM @results
		--	WHERE LEFT(sku,8) NOT IN (SELECT LEFT(sku,8) FROM #skulist)
		--	ORDER BY SortOrder ASC
		--	RETURN
		--	--END TEMPORARY REMOVE GRADPACK UPSELL ITEM OR ANY GRADPACK IN CART COMBINE WITH OTHER ITEMS, DO NOT SHOW BOTTOM GREEN BOX AT ALL
		--END

		IF NOT EXISTS(SELECT * FROM @results)			
		BEGIN
			SELECT @Max = MAX([Loop]) FROM #skulist
			 
			SET @Loop = 1
			WHILE @Loop <= @Max
			BEGIN
				--SELECT @thisSku = [sku] FROM @skulist WHERE [Loop] = @Loop
				--SELECT @thisSku = CASE WHEN CHARINDEX('|', Sku) > 0 THEN LEFT(Sku, CHARINDEX('|', sku) - 1) ELSE sku END, 
				--		  @smi = CASE WHEN ISNULL(@smi,'') <> '' THEN @smi WHEN CHARINDEX('|', Sku) > 0 THEN SUBSTRING(Sku, CHARINDEX('|', sku) + 1, LEN(sku) - CHARINDEX('|', Sku) ) ELSE 0 END FROM @skulist WHERE [Loop] = @Loop
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi 
				FROM #skulist s  WHERE [Loop] = @Loop
				ORDER BY s.price DESC

				IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT @smi = @thisSmi
				END
				IF @debug = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') + ' ' + @thisSku + ', input smi: ' + @smi			
				IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
				END
				IF ISNULL(@smi,'') = ''
					BEGIN
						SELECT @smi = [Included SMI] FROM  [dbo].[magento_automated_product_dataset] where LEFT(SKU,8) = LEFT(@thisSku,8) 
														AND (ISNULL([Included SMI],'') <> '' OR [Included SMI] <> '0')
					END
				  
				INSERT INTO @results
				EXEC [s_get_upsell_bottom_item_at_cart_input_single_sku]  @skus = @thisSku, @smi=@smi
			    
				IF @debug = 1 print 'thisSku: ' + @thisSku + ', Smi: ' + @smi
				IF EXISTS(SELECT TOP 1 * FROM @results)
					BEGIN
						IF @debug = 1 PRINT 'exit loop   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') + ' ' + @thisSku
						BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
					END 
				IF @debug = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss:fff') + ' ' + @thisSku
				SET @Loop = @Loop + 1
			END 
			IF @debug = 1 PRINT 'Loop out'
		END
		 
	--	IF @debug = 1 SELECT * FROM #skulist
		
		SELECT TOP 1 imageurl, REPLACE(url,'https://www.balfour.com','') AS url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
	    FROM @results
		WHERE LEFT(sku,8) NOT IN (SELECT LEFT(sku,8) FROM #skulist)
		ORDER BY SortOrder ASC
	END; 

END
/**
	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
	 
	exec [s_get_upsell_bottom_item_at_cart] @skus ='a0068215a0000|131898,a0146175a0000|,a0226630a0000|,a0227790|131898', @debug=1
	exec [s_get_upsell_bottom_item_at_cart] @skus  = 'a0195167|131333', @debug=1

**/

--exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 0

 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 1
 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 0
 --	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' 
 --	exec [s_get_CSIC_items] 'A0008601A0000' 
 --exec [s_get_CSIC_items] 'A0003281A0000' 
 --exec [s_get_CSIC_items] 'A0066639A0000' 
 --exec [s_get_CSIC_items] 'A0049693A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0129750A0000' 
 --exec [s_get_CSIC_items] 'A0136516A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0017524A0000' 

 --exec [s_get_CSIC_items] 'A0075899A0000' 
 --exec [s_get_CSIC_items] 'A0139809A0000' 
 --exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 
GO
