/****** Object:  StoredProcedure [dbo].[s_get_next_gpphoto_code]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 07/17/2019
-- Description: Returns next available discount code for Grad Pack photo announcements
-- =============================================
CREATE PROCEDURE [dbo].[s_get_next_gpphoto_code]
(
     @Amount MONEY = 20
	,@Sent_to_Email VARCHAR(255)
	,@Order_ID INT 
	,@SKU_Purchased VARCHAR(50)
	,@ID INT OUT
	,@Code VARCHAR(255) OUT
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    SELECT @ID = MIN(ID) FROM dbo.[GradPackPhotoAnnounceTransactions] WHERE [Sent_DTM] IS NULL
	SELECT @Code = [Code] FROM dbo.[GradPackPhotoAnnounceTransactions] WHERE [ID] = @ID
	UPDATE dbo.[GradPackPhotoAnnounceTransactions] SET [Sent_to_Email] = @Sent_to_Email, [Amount] = @Amount, [Sent_DTM] = GETDATE(), [Order_ID] = @Order_ID, [SKU_Purchased] = @SKU_Purchased WHERE [ID] = @ID
END
GO
