/****** Object:  StoredProcedure [dbo].[s_update_voucher_counts]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_update_voucher_counts]
AS
SET NOCOUNT ON
--UPDATE THE STATUS OF THE COUPON CODES
--SENT
UPDATE [dbo].[MAGE_SalesRule_Coupon] SET [Status] = [Status] & 1 WHERE [Coupon_ID] IN (SELECT [Coupon_ID] FROM [GradPackPhotoAnnounceTransactions])
--ORDERED
UPDATE [dbo].[MAGE_SalesRule_Coupon] SET [Status] = [Status] & 2 WHERE [Coupon_ID] IN (SELECT [Coupon_ID] FROM [GradPackPhotoAnnounceTransactions] WHERE Order_ID IS NOT NULL)
GO
