/****** Object:  StoredProcedure [dbo].[s_requeue_email_by_id]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 1/7/2022
-- Description: Requeues an email by ID
-- =============================================
CREATE PROCEDURE [dbo].[s_requeue_email_by_id]
(
    @ID bigint,
    @NewEmailAddress varchar(2000) = null,
	@ID_Out BIGINT = 0 OUT,
	@MSG_Out varchar(500) = '' OUT
)
AS
BEGIN
    SET NOCOUNT ON

	IF EXISTS(SELECT TOP 1 1 FROM [dbo].[EmailJobs_Queue] WHERE ID = @ID AND [Email_Name] IN ('PhotoBookVouchers'))
		BEGIN
			SET @ID_Out = 0
			SET @MSG_Out = 'Resending this type of email is disabled.'
		END
	ELSE
		BEGIN
			INSERT INTO [dbo].[EmailJobs_Queue] 
			(
				[Email_Name], [Entity], [Service], [Description], [pod], 
				[oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], 
				[campaignID], [emailAddresses], [rawData], [Queued_DTM], 
				[Is_Resend], [Resend_For], template, connstring, retries, 
				host_info, [key_name], key_value
			)
			SELECT 
				[Email_Name], [Entity], [Service], CASE WHEN [Description] NOT LIKE '%resend%' THEN [Description] + ' Resend' ELSE [Description] END , [pod],
				[oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken],
				[campaignID], CASE WHEN @NewEmailAddress IS NOT NULL AND LEN(@NewEmailAddress) > 0 THEN @NewEmailAddress ELSE [EmailAddresses] END, [rawData], GETDATE(),
				1, @ID, [template], [connString], 0,
				[host_info], [key_name], [key_value]
			FROM [dbo].[EmailJobs_Queue]
			WHERE [dbo].[EmailJobs_Queue].[ID] = @ID

			SET @ID_Out = SCOPE_IDENTITY()
			SET @MSG_Out = ''
		END
END
GO
