/****** Object:  StoredProcedure [dbo].[s_get_digitalcodesources_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/18/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_digitalcodesources_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --SourceName, GUID
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [DigitalCodeSources] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [DigitalCodeSources].
--##PD @searchField - The field to search on (SourceName, GUID)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [DigitalCodeSources].

--DECLARE @totalRecords INT; EXEC s_get_digitalcodesources_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [SourceName]
		,DCS.[GUID]
		,[CodeUseURL]
		,DCS.[ID]
		,ISNULL([SKU],'') as [SKU]
		,ISNULL([ProductType],'') as [ProductType]
		,(SELECT COUNT(*) FROM DigitalCodes WHERE [Source_GUID] = DCS.GUID) as [TotalCodes]
		,(SELECT COUNT(*) FROM DigitalCodes WHERE ISNULL([KeyForIssued],'') <> '' AND [Source_GUID] = DCS.GUID) as [IssuedCodes]
		,(SELECT COUNT(*) FROM DigitalCodes WHERE ISNULL([KeyForIssued],'') = '' AND [Source_GUID] = DCS.GUID) as [AvailableCodes]
		FROM [DigitalCodeSources] DCS
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[DigitalCodeSources]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [DigitalCodeSources]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([SourceName],'') LIKE CASE WHEN @searchField = 'SourceName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SourceName],'') END
		AND ISNULL([GUID],'') LIKE CASE WHEN @searchField = 'GUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GUID],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SourceName]
				,DCS.[GUID]
				,[CodeUseURL]
				,DCS.[ID]
				,ISNULL([SKU],'') as [SKU]
				,ISNULL([ProductType],'') as [ProductType]
				,(SELECT COUNT(*) FROM DigitalCodes WHERE [Source_GUID] = DCS.GUID) as [TotalCodes]
				,(SELECT COUNT(*) FROM DigitalCodes WHERE ISNULL([KeyForIssued],'') <> '' AND [Source_GUID] = DCS.GUID) as [IssuedCodes]
				,(SELECT COUNT(*) FROM DigitalCodes WHERE ISNULL([KeyForIssued],'') = '' AND [Source_GUID] = DCS.GUID) as [AvailableCodes]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SourceName' THEN [SourceName] WHEN 'GUID' THEN [GUID] WHEN 'SKU' THEN [SKU] WHEN 'ProductType' THEN [ProductType] END DESC) as RowNumber
				FROM [dbo].[DigitalCodeSources] DCS
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([SourceName],'') LIKE CASE WHEN @searchField = 'SourceName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SourceName],'') END
				AND ISNULL([GUID],'') LIKE CASE WHEN @searchField = 'GUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GUID],'') END
				AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
				AND ISNULL([ProductType],'') LIKE CASE WHEN @searchField = 'ProductType' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ProductType],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SourceName]
				,DCS.[GUID]
				,[CodeUseURL]
				,DCS.[ID]
				,ISNULL([SKU],'') as [SKU]
				,ISNULL([ProductType],'') as [ProductType]
				,(SELECT COUNT(*) FROM DigitalCodes WHERE [Source_GUID] = DCS.GUID) as [TotalCodes]
				,(SELECT COUNT(*) FROM DigitalCodes WHERE ISNULL([KeyForIssued],'') <> '' AND [Source_GUID] = DCS.GUID) as [IssuedCodes]
				,(SELECT COUNT(*) FROM DigitalCodes WHERE ISNULL([KeyForIssued],'') = '' AND [Source_GUID] = DCS.GUID) as [AvailableCodes]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SourceName' THEN [SourceName] WHEN 'GUID' THEN [GUID] WHEN 'SKU' THEN [SKU] WHEN 'ProductType' THEN [ProductType] END) as RowNumber
				FROM [dbo].[DigitalCodeSources] DCS
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([SourceName],'') LIKE CASE WHEN @searchField = 'SourceName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SourceName],'') END
				AND ISNULL([GUID],'') LIKE CASE WHEN @searchField = 'GUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GUID],'') END
				AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
				AND ISNULL([ProductType],'') LIKE CASE WHEN @searchField = 'ProductType' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ProductType],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
