/****** Object:  StoredProcedure [dbo].[s_get_conditionalcontent]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11-05-2019
-- Description: Returns conditional content
-- =============================================
CREATE PROCEDURE [dbo].[s_get_conditionalcontent]
(
    @GUID VARCHAR(50) = ''
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    SELECT 
	  REPLACE(ISNULL([HTMLContent],''),'~GUID~',[GUID]) as [HTMLContent]
	, ISNULL([JavaScript],'') as [JavaScript]
	, ISNULL([Element],'') as [Element]
	, ISNULL([Placement],1) as [Placement]
	FROM dbo.[ConditionalContent]
	WHERE [GUID] = @GUID
END
GO
