/****** Object:  StoredProcedure [dbo].[s_get_locations_for_smi]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_locations_for_smi]
(
	@SMI INT = 0
)
AS
--EXEC dbo.s_get_locations_for_smi @SMI = 130996
SET NOCOUNT ON

SELECT 
  [Location]
, ISNULL([GM_Link],'') as [GM_Link] 
, [GUID]
, [ID]
FROM [School_Events_Locations]
WHERE  [SMI] = CASE WHEN @SMI = 0 THEN [SMI] ELSE @SMI END
--AND [Batch_ID] IS NULL

GO
