/****** Object:  StoredProcedure [dbo].[s_get_hidemainnav]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 4/23/2021
-- Description: Gets a value indicating whether or not Main Nav should be hidden
-- =============================================
CREATE PROCEDURE [dbo].[s_get_hidemainnav]
(
    @smi int
)
AS
BEGIN
    SET NOCOUNT ON

	DECLARE @HideMainNav bit = 0

	IF @smi IS NOT NULL
		BEGIN
			SET @HideMainNav = ISNULL((SELECT TOP 1 HideMainNav FROM ContentAffinityPages WHERE smi = @SMI), 0)
		END

	SELECT @HideMainNav as HideMainNav FOR JSON PATH
END
GO
