/****** Object:  StoredProcedure [dbo].[s_get_school_events_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/11/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_school_events_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --SMI, Title
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [School_Events] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [School_Events].
--##PD @searchField - The field to search on (SMI, Title)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @startDate The starting date
--##PD @endDate The ending date
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [School_Events].

--DECLARE @totalRecords INT; EXEC s_get_school_events_records @ID=255, @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_school_events_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_school_events_records @searchField = 'SMI', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [SMI]
		,[ID]
		,FORMAT(dbo.fn_DateTime_to_Central([Date]), 'MM/dd/yyyy') AS [Date]
		,[Title]
		,[Description]
		,[Image_URL]
		,[GUID]
		,[Event_Content]
		,ISNULL([URL],'') as [URL]
		,dbo.fn_GetLocationDateTimeInfo ([GUID]) as [LocationDateTimeInfo]
		,ISNULL([ScheduleChange],0) as [ScheduleChange]
		FROM [School_Events]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[School_Events]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999

		IF @startDate IS NULL SET @startDate = '1-1-1900'
		IF @endDate IS NULL SET @endDate = '12-31-2999'

		SET @startDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @startDate, 101) as DATETIME))
		SET @endDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME))

		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [School_Events]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND CAST(ISNULL([SMI],'') as VARCHAR(50)) LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST(ISNULL([SMI],'') as VARCHAR(50)) END
		AND ISNULL([Title],'') LIKE CASE WHEN @searchField = 'Title' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Title],'') END
		AND [Date] BETWEEN @startDate AND @endDate
		AND [BatchID] IS NULL

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SMI]
				,[ID]
				,FORMAT(dbo.fn_DateTime_to_Central([Date]),'MM/dd/yyyy') AS [Date]
				,[Title]
				,[Description]
				,[Image_URL]
				,[GUID]
				,[Event_Content]
				,ISNULL([URL],'') as [URL]
				,ISNULL([ScheduleChange],0) as [ScheduleChange]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] WHEN 'Title' THEN [Title] END DESC) as RowNumber
				FROM [dbo].[School_Events]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND CAST(ISNULL([SMI],'') as VARCHAR(50)) LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST(ISNULL([SMI],'') as VARCHAR(50)) END
				AND ISNULL([Title],'') LIKE CASE WHEN @searchField = 'Title' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Title],'') END
				AND [Date] BETWEEN @startDate AND @endDate
				AND [BatchID] IS NULL
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SMI]
				,[ID]
				,FORMAT(dbo.fn_DateTime_to_Central([Date]),'MM/dd/yyyy') AS [Date]
				,[Title]
				,[Description]
				,[Image_URL]
				,[GUID]
				,[Event_Content]
				,ISNULL([URL],'') as [URL]
				,ISNULL([ScheduleChange],0) as [ScheduleChange]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] WHEN 'Title' THEN [Title] END) as RowNumber
				FROM [dbo].[School_Events]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND CAST(ISNULL([SMI],'') AS VARCHAR(50)) LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST(ISNULL([SMI],'') as VARCHAR(50)) END
				AND ISNULL([Title],'') LIKE CASE WHEN @searchField = 'Title' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Title],'') END
				AND [Date] BETWEEN @startDate AND @endDate
				AND [BatchID] IS NULL
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
