/****** Object:  StoredProcedure [dbo].[s_get_affinity_schooldetails_from_vanity_url]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Tramel Jones
-- 12/07/2020
-- Description: Returns data used for Affinity School Details 
-- in sitecore (SchoolFinderService.cs - GetSchoolDetailsByVanityUrl)
-- Replaces ES call
-- =============================================
CREATE PROCEDURE [dbo].[s_get_affinity_schooldetails_from_vanity_url]
(
     @smi BIGINT = 0
	,@URL VARCHAR(MAX) = ''
	,@Debug BIT = 0
	,@CallingSite VARCHAR(MAX) = ''
	,@testData VARCHAR(MAX) = ''
)
AS
--Log the calling site
--INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data])
--VALUES ('s_get_affinity_schooldetails_from_vanity_url','SMI: ' + CAST(@SMI as VARCHAR(15)) + ' Calling site: ' + ISNULL(@CallingSite,''))
/*
SELECT DB_NAME()  as [instance], CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]

*/
--EXEC [s_get_affinity_schooldetails_from_vanity_url] @URL='lsu', @Debug = 1
--EXEC [s_get_affinity_schooldetails_from_vanity_url] @URL='lsuring', @Debug = 1
--EXEC [s_get_affinity_schooldetails_from_vanity_url] @URL='uh', @Debug = 1
--EXEC [s_get_affinity_schooldetails_from_vanity_url] @URL='new-york/oakland-garden/benjamin-cardozo-high-school', @Debug = 1

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
		select 
			--CASE @page  
			--	 WHEN 'Home' THEN AF.metapageTitle
			--	 WHEN 'Contact' THEN S.AltName + ' - Contact Us |Balfour'  
			--	 WHEN 'Event' THEN S.AltName + ' - Events and Important Dates | Balfour'  
			--	 WHEN 'Yearbook' THEN S.AltName + ' - Yearbook Packages | Balfour'  
			--	 WHEN 'Graduation' THEN S.AltName + ' - Graduation Packages | Balfour'  
			--	 ELSE S.AltName + ' - Class Rings, Yearbooks and Graduation | Balfour'  
			--END AS [pageTitle]
			-- ,
			S.AffinityURL AS [url]
			,S.SMI AS [smi]
			,S.Address1 AS [Address1]
            , S.Address2 AS [Address2]
            , S.AffinityURL AS [AffinityUrl]
            , S.AltName AS [AltName]
            , S.City AS [City]
            , S.CleanCity AS [CleanCityName]
            , S.CleanSchoolName AS [CleanSchoolName]
            , S.CleanState AS [CleanStateName]
            , S.Color AS [Color]
            , S.Country AS [Country]
            -- , S.County AS [County]
			, '' AS [County]
            -- , S.Disabled AS [Disabled]
			, 0 AS [Disabled]
            , S.District AS [District]
            , S.DTP AS [DTP]
            , S.HasSavingsPlan AS [HasSavingsPlan]
            , S.isCollege AS [isCollege]
            , S.isElementary AS [isElementary]
            , S.isHighSchool AS [isHighSchool]
            , S.isMiddleSchool AS [isMiddleSchool]
            , S.isRetail AS [isRetail]
            , S.LogoUrl AS [LogoUrl]
            , S.Mascot AS [Mascot]
            , S.PaymentUrl AS [PaymentUrl]
            , S.ProductCollections AS [ProductCollections]
            --, S.SchoolCityContent AS [SchoolCityContent]
			, '' AS [SchoolCityContent]
            --, S.SchoolContent AS [SchoolContent]
            , '' AS [SchoolContent]
            , S.SchoolKeywords AS [SchoolKeywords]
            --, S.SchoolName AS [SchoolName]
			, '' AS [SchoolName]
            -- , S.SchoolNameLowerCase AS [SchoolNameLowerCase]
            , '' AS [SchoolNameLowerCase]
            , S.SchoolRanking AS [SchoolRanking]
            , S.SchoolRankingBooster AS [SchoolRankingBooster]
            , S.State AS [State]
            --, S.WordmarkUrl AS [WordmarkUrl]
			, '' AS [WordmarkUrl]
            , S.Zip AS [Zip]
		FROM [dbo].[School_URL_Master] S 
		LEFT JOIN [dbo].[School_URL_Redirects] R ON R.[SMI] = S.[SMI]
		WHERE 
			ISNULL(R.[URL],'') = @URL 
			OR S.AffinityURL = @URL 
			OR S.URL =  @URL
		
		-- INNER JOIN [dbo].[ContentAffinityPages] AF ON AF.[SMI] = S.[SMI]
		--LEFT JOIN [dbo].[ContentAffinityPages] AFDefault ON AFDefault.[SMI] = CASE WHEN @GradeLevel = 'College' THEN  -1 ELSE -2 END
		-- WHERE (S.AffinityURL = @URL OR S.URL =  @URL) 



		FOR JSON PATH	
END
GO
