/****** Object:  StoredProcedure [dbo].[s_cache_prod_recs_gradimages]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 05/10/2019
-- Description: AutoIndex Iconic lookup - with Rank update
-- =============================================
CREATE PROCEDURE [dbo].[s_cache_prod_recs_gradimages]
(
	@debugging BIT = 1
)
AS
BEGIN
	-- EXEC s_cache_prod_recs_gradimages @debugging = 0
   SET NOCOUNT ON

	/*
	Original time: 1:00:54
	Adding index: 15:47
	Temp table: 15:54
	No cursor: 15:48
	Thanks TL! :)
	*/

	CREATE TABLE #smilist (smiid int, iconicid int, Loop INT IDENTITY(1,1)) 
	DROP TABLE IF EXISTS dbo.iconicRecCache_New
	SELECT * INTO dbo.iconicRecCache_New FROM dbo.iconicRecCache WHERE 1 = 2

	INSERT INTO #smilist ( smiid, iconicid )
	SELECT iconicid, smiid
	FROM dbo.iconicTosmi
	WHERE (smiid IN (SELECT IsNull([Exclusive SMI], [Included SMI])  FROM  dbo.magento_automated_product_dataset))

	INSERT INTO #smilist ( smiid, iconicid )
	SELECT [Client ID], [Balfour SMI]
	FROM dbo.NonGrkClients 
	WHERE ([Balfour SMI] IN (SELECT IsNull([Exclusive SMI], [Included SMI])  FROM  dbo.magento_automated_product_dataset))

	
	DECLARE @MyCursor CURSOR;
	DECLARE @iconicschoolid int, @Loop INT, @Max INT
	BEGIN
		SELECT @Max = MAX([Loop]) FROM #smilist
		SET @Loop = 1
		WHILE @Loop <= @Max
		BEGIN
			PRINT @iconicschoolid
		    SELECT @iconicschoolid = [smiid] FROM #smilist WHERE [Loop] = @Loop
			INSERT INTO iconicRecCache_New ([imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [itemcategory], [Class], [Rank])

				SELECT distinct 'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + p.sku + '/base/800x800/' +
										 (SELECT        TOP (1) value
										   FROM            STRING_SPLIT(ia.tagvalue, ',') AS STRING_SPLIT_1) AS imageurl, 
							REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU + '?smi=' + CONVERT(varchar(10), mat.smiid)), '--', '-') AS url, 
							p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) AS [Price], COALESCE(mat.iconicid, ngcli.[Client ID]), COALESCE(mat.smiid, ngcli.[Balfour SMI]), p.Category 
							  , skrrt.class  , cr.rank
				FROM            dbo.magento_automated_product_dataset AS p 
								 INNER JOIN dbo.iconicTosmi AS mat ON  CASE WHEN CHARINDEX(',',p.[Included SMI]) < 1 THEN replace(p.[Included SMI], char(13) + char(10), '') ELSE LTRIM(RTRIM(LEFT(p.[Included SMI],CHARINDEX(',',p.[Included SMI])-1))) END= mat.smiid 
								 INNER JOIN dbo.item AS i ON (LEFT(p.SKU,8) = i.sku ) 
								 INNER JOIN	 dbo.itemattributes AS ia ON i.id = ia.itemid  
								 INNER JOIN  dbo.NetSuiteSkuClassMapping skrrt ON (LEFT(p.SKU,8) = skrrt.SKU2)  
								 INNER JOIN  dbo.iconicClassRank cr ON cr.class = skrrt.class
								 LEFT JOIN   dbo.NonGrkClients ngcli ON ngcli.[Client ID] = @iconicschoolid
				WHERE        (p.[Item Category] NOT IN ('publishing')) 
						AND (p.Category NOT LIKE '%PETS%')
						AND (p.Category NOT LIKE '%GOLF%')
						AND (p.Status = 'Enable') 
						AND (p.[Retail Price] <> 0)
						AND (p.Visibility = 'In Catalog and Search') 
						AND (ia.tagtype = 'a_BalfourPrimaryImages')
						AND  mat.iconicid = @iconicschoolid
		  SET @Loop = @Loop + 1
		END; 
	END;


	IF @debugging = 0
		BEGIN
			TRUNCATE TABLE iconicRecCache;
			INSERT INTO iconicRecCache ([imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [itemcategory], [Class], [Rank])
			SELECT * FROM iconicRecCache_New;
		END
	DROP TABLE #smilist

END

GO
