/****** Object:  StoredProcedure [dbo].[s_update_virtcommcontrol_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 5/7/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_virtcommcontrol_record]
(
 @CCSFileName VARCHAR(50) = NULL
,@EventID BIGINT = NULL
,@FileImportedFromCCS DATETIME = NULL
,@FileReceivedFromIdomoo DATETIME = NULL
,@FileTransferredToIdomoo DATETIME = NULL
,@ID INT = NULL
,@IdomooBatchID VARCHAR(50) = NULL
,@IdomooFileName VARCHAR(50) = NULL
,@SMI INT = NULL
,@SubComm VARCHAR(50) = NULL
,@CCSOrderNum BIGINT = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [VirtCommControl].
--##RS1 The [ID] value of the inserted/updated record in the table [VirtCommControl].

--Convert dates to UTC
--IF @FileImportedFromCCS IS NOT NULL SET @FileImportedFromCCS = dbo.fn_DateTime_to_Zulu(@FileImportedFromCCS)
--IF @FileTransferredToIdomoo IS NOT NULL SET @FileTransferredToIdomoo = dbo.fn_DateTime_to_Zulu(@FileTransferredToIdomoo)
--IF @FileReceivedFromIdomoo IS NOT NULL SET @FileReceivedFromIdomoo = dbo.fn_DateTime_to_Zulu(@FileReceivedFromIdomoo)

DECLARE @FileReceivedFromIdomooValue DATETIME
IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    --Make sure we don't have a control record with the same SMI and SubComm
	DECLARE @Cnt INT
	SET @Cnt = 0
	SELECT @Cnt = COUNT(*) FROM [dbo].[VirtCommControl] WHERE [SMI] = @SMI AND ISNULL([SubComm],'') = ISNULL(@SubComm,'')
	IF @Cnt = 0
		BEGIN
			INSERT INTO [VirtCommControl] ( [SMI],[SubComm],[EventID],[FileImportedFromCCS],[CCSFileName],[IdomooFileName],[FileTransferredToIdomoo],[FileReceivedFromIdomoo],[IdomooBatchID], [CCSOrderNum])
			   VALUES ( @SMI,'',@EventID,@FileImportedFromCCS,@CCSFileName,@IdomooFileName,@FileTransferredToIdomoo,@FileReceivedFromIdomoo,@IdomooBatchID, @CCSOrderNum)
			SELECT @ID_Out = SCOPE_IDENTITY()
		END
	ELSE
		BEGIN
			SELECT @ID_Out = [ID], @ID = [ID] FROM [dbo].[VirtCommControl] WHERE [SMI] = @SMI AND ISNULL([SubComm],'') = ISNULL(@SubComm,'')
			SELECT @FileReceivedFromIdomooValue = [FileReceivedFromIdomoo] FROM [dbo].[VirtCommControl] WHERE [ID] = @ID
			UPDATE [VirtCommControl] SET
			 [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
			,[SubComm] = CASE WHEN @SubComm IS NULL THEN [SubComm] ELSE @SubComm END
			,[EventID] = CASE WHEN @EventID IS NULL THEN [EventID] ELSE @EventID END
			,[FileImportedFromCCS] = CASE WHEN @FileImportedFromCCS IS NULL THEN [FileImportedFromCCS] ELSE @FileImportedFromCCS END
			,[CCSFileName] = CASE WHEN @CCSFileName IS NULL THEN [CCSFileName] ELSE @CCSFileName END
			,[IdomooFileName] = CASE WHEN @IdomooFileName IS NULL THEN [IdomooFileName] ELSE @IdomooFileName END
			,[FileTransferredToIdomoo] = CASE WHEN @FileTransferredToIdomoo IS NULL THEN [FileTransferredToIdomoo] ELSE @FileTransferredToIdomoo END
			,[FileReceivedFromIdomoo] = CASE WHEN @FileReceivedFromIdomoo IS NULL THEN [FileReceivedFromIdomoo] ELSE @FileReceivedFromIdomoo END
			,[IdomooBatchID] = CASE WHEN @IdomooBatchID IS NULL THEN [IdomooBatchID] ELSE @IdomooBatchID END
			,[CCSOrderNum] = CASE WHEN ISNULL(@CCSOrderNum,0) = 0 THEN [CCSOrderNum] ELSE @CCSOrderNum END
			  WHERE [ID] = @ID
			SELECT @ID_Out = @ID
			--If we are updating because a file has been received from Idomoo, we need to queue the emails with s_queue_virtcomm_final_emails
			--IF @FileReceivedFromIdomooValue IS NULL AND @FileReceivedFromIdomoo IS NOT NULL
			--	EXEC [dbo].[s_queue_virtcomm_final_emails]
		END
  END
ELSE
  BEGIN
    
	
	SELECT @FileReceivedFromIdomooValue = [FileReceivedFromIdomoo] FROM [dbo].[VirtCommControl] WHERE [ID] = @ID
    UPDATE [VirtCommControl] SET
     [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[SubComm] = CASE WHEN @SubComm IS NULL THEN [SubComm] ELSE @SubComm END
    ,[EventID] = CASE WHEN @EventID IS NULL THEN [EventID] ELSE @EventID END
    ,[FileImportedFromCCS] = CASE WHEN @FileImportedFromCCS IS NULL THEN [FileImportedFromCCS] ELSE @FileImportedFromCCS END
    ,[CCSFileName] = CASE WHEN @CCSFileName IS NULL THEN [CCSFileName] ELSE @CCSFileName END
    ,[IdomooFileName] = CASE WHEN @IdomooFileName IS NULL THEN [IdomooFileName] ELSE @IdomooFileName END
    ,[FileTransferredToIdomoo] = CASE WHEN @FileTransferredToIdomoo IS NULL THEN [FileTransferredToIdomoo] ELSE @FileTransferredToIdomoo END
    ,[FileReceivedFromIdomoo] = CASE WHEN @FileReceivedFromIdomoo IS NULL THEN [FileReceivedFromIdomoo] ELSE @FileReceivedFromIdomoo END
    ,[IdomooBatchID] = CASE WHEN @IdomooBatchID IS NULL THEN [IdomooBatchID] ELSE @IdomooBatchID END
	,[CCSOrderNum] = CASE WHEN ISNULL(@CCSOrderNum,0) = 0 THEN [CCSOrderNum] ELSE @CCSOrderNum END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
	--If we are updating because a file has been received from Idomoo, we need to queue the emails with s_queue_virtcomm_final_emails
	--IF @FileReceivedFromIdomooValue IS NULL AND @FileReceivedFromIdomoo IS NOT NULL
	--	EXEC [dbo].[s_queue_virtcomm_final_emails]
  END

SELECT
 [SMI]
,[SubComm]
,[EventID]
,FORMAT(dbo.fn_DateTime_to_Central([FileImportedFromCCS]), 'MM/dd/yyyy hh:mm:ss tt') AS [FileImportedFromCCS]
,[CCSFileName]
,[IdomooFileName]
,FORMAT(dbo.fn_DateTime_to_Central([FileTransferredToIdomoo]), 'MM/dd/yyyy hh:mm:ss tt') AS [FileTransferredToIdomoo]
,FORMAT(dbo.fn_DateTime_to_Central([FileReceivedFromIdomoo]), 'MM/dd/yyyy hh:mm:ss tt') AS [FileReceivedFromIdomoo]
,[IdomooBatchID]
[CCSOrderNum]
,[ID]

FROM dbo.[VirtCommControl]
WHERE [ID] = @ID_Out
GO
