/****** Object:  StoredProcedure [dbo].[proc_delete_amount_rule_arcitem_xref_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/27/2019 - TL.
*/
CREATE PROCEDURE [dbo].[proc_delete_amount_rule_arcitem_xref_record]
(
	 @ID INT = NULL

)
AS
--##AT AG
--##BD Deletes a specific record from the table [Amount_Rule_ARCItem_XRef].
--##PD @ID in [Amount_Rule_ARCItem_XRef].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [Amount_Rule_ARCItem_XRef] WHERE [ID] = @ID



GO
