/****** Object:  StoredProcedure [dbo].[s_get_idomoo_file_name_list]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_idomoo_file_name_list]      
AS  
--EXEC [dbo].[s_get_idomoo_file_name_list]
BEGIN  
      
    SET NOCOUNT ON;  
	/*TESTING
    SELECT 'PURL_20200512T1835.txt' AS IdomooFileName
	UNION 
	SELECT 'PURL_20200513T1438.txt' AS IdomooFileName
	*/
	SELECT 'PURL_' + [IdomooFileName] AS [IdomooFileName]
	, [ID]
	FROM [dbo].[VirtCommControl] WHERE LTRIM(RTRIM(ISNULL([IdomooFileName],''))) <> ''
	AND [FileTransferredToIdomoo] IS NOT NULL
	AND [FileReceivedFromIdomoo] IS NULL
END  
GO
