/****** Object:  StoredProcedure [dbo].[s_delete_gradpackimages_alttags_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/7/2021 - Jon.
*/
CREATE PROCEDURE [dbo].[s_delete_gradpackimages_alttags_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [GradPackImages_AltTags].
--##PD @ID in [GradPackImages_AltTags].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [GradPackImages_AltTags] WHERE [ID] = @ID


GO
