/****** Object:  StoredProcedure [dbo].[s_update_emailjobs_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 10/14/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_emailjobs_record]
(
 @campaignID NVARCHAR(50) = NULL
,@Email_Name VARCHAR(100) = NULL
,@Entity VARCHAR(100) = 'Balfour'
,@ID INT = NULL
,@oAuthClientId NVARCHAR(100) = NULL
,@oAuthClientSecret NVARCHAR(100) = NULL
,@oAuthRefreshToken NVARCHAR(100) = NULL
,@pod INT = NULL
,@Service VARCHAR(50) = NULL
,@template VARCHAR(MAX) = NULL
,@TestData NVARCHAR(MAX) = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AG
--##BD Inserts or updates a record in the table [EmailJobs].
--##RS1 The [ID] value of the inserted/updated record in the table [EmailJobs].

IF ISNULL(@ID,0) = 0--Insert
  BEGIN
	IF @oAuthClientId IS NULL SET @oAuthClientId = 'bc4e267d-2c82-4658-950f-1606793a5023'
	IF @oAuthClientSecret IS NULL SET @oAuthClientSecret = 'f9fc3e1a-516b-4a6e-91ba-cf3e36ed1467'
	IF @oAuthRefreshToken IS NULL SET @oAuthRefreshToken = 'r6Puh75_MiZokf2SWQbKt8ihtwKGgWBgQG8f-8qCsdbIS1'
	IF @Service IS NULL SET @Service = 'Silverpop'
    INSERT INTO [EmailJobs] ( [pod],[Email_Name],[Entity],[Service],[template],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],[TestData])
       VALUES ( @pod,@Email_Name,@Entity,@Service,@template,dbo.fn_EString(@oAuthClientId),dbo.fn_EString(@oAuthClientSecret),dbo.fn_EString(@oAuthRefreshToken),dbo.fn_EString(@campaignID),ISNULL(@TestData,''))
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [EmailJobs] SET
     [pod] = CASE WHEN @pod IS NULL THEN [pod] ELSE @pod END
    ,[Email_Name] = CASE WHEN @Email_Name IS NULL THEN [Email_Name] ELSE @Email_Name END
    ,[Entity] = CASE WHEN @Entity IS NULL THEN [Entity] ELSE @Entity END
    ,[Service] = CASE WHEN @Service IS NULL THEN [Service] ELSE @Service END
    ,[template] = CASE WHEN @template IS NULL THEN [template] ELSE @template END
    ,[oAuthClientId] = CASE WHEN @oAuthClientId IS NULL THEN [oAuthClientId] ELSE dbo.fn_EString(@oAuthClientId) END
    ,[oAuthClientSecret] = CASE WHEN @oAuthClientSecret IS NULL THEN [oAuthClientSecret] ELSE dbo.fn_EString(@oAuthClientSecret) END
    ,[oAuthRefreshToken] = CASE WHEN @oAuthRefreshToken IS NULL THEN [oAuthRefreshToken] ELSE dbo.fn_EString(@oAuthRefreshToken) END
    ,[campaignID] = CASE WHEN @campaignID IS NULL THEN [campaignID] ELSE dbo.fn_EString(@campaignID) END
	,[TestData] = CASE WHEN @TestData IS NULL THEN [TestData] ELSE @TestData END
      WHERE [ID] = @ID
    SET @ID_Out = @ID
  END
SELECT [pod],[Email_Name],[Entity],[Service],[template],dbo.fn_DString([oAuthClientId]) as [oAuthClientId],dbo.fn_DString([oAuthClientSecret]) as [oAuthClientSecret], dbo.fn_DString([oAuthRefreshToken]) as [oAuthRefreshToken], dbo.fn_DString([campaignID]) as [campaignID], [TestData], [ID]
FROM [EmailJobs] WHERE [ID] = @ID_OUT
GO
