/****** Object:  StoredProcedure [dbo].[s_get_grad_announcement_stationery]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Han Tran
-- Create Date: 11/18/2021
-- Description: Get All Graduation Announcement Stationery product for Graduation-Announcement page
-- =============================================
CREATE PROCEDURE [dbo].[s_get_grad_announcement_stationery]
	(@smi BIGINT = 0)
AS
BEGIN
	/**RULES by Theresa:
		If A0243769 and/or A0248140 show:
			Official Graduation Announcement A0243769
			Official Graduation Announcement with Photo A0248140
		If A0243769 AND A0248140 not available, show:
			Photo Announcement Bundle 1 A0258921
		Fill remaining 4 spots with:
			Classic 1 Party Invitation A0258912
			Classic 1 Address Labels A0258914
			Classic 1 Thank You Notes A0258913
	**/

	--			DECLARE @smi bigint = 99720 -- 134503 --100088  -- exec [s_get_grad_announcement_stationery] @smi = 99720

	DECLARE @results TABLE  ( [ProductName] varchar(255), [ImageUrl] varchar(255), [Price] numeric(9,2), [Url] varchar(255), [sortOrder] int IDENTITY(1,1))
	DECLARE @count INT

	IF EXISTS (SELECT TOP 1 SKU FROM magento_automated_product_dataset_ANN_QA WHERE SKU IN ( 'A0243769', 'A0248140') AND CHARINDEX( CAST(@smi AS VARCHAR(30)), [Included SMI]) > 0)
		BEGIN
			INSERT INTO @results( [ProductName], [ImageUrl], [Price], [Url])
			SELECT TOP 2 [Product Name] AS ProductName, [image_url] AS ImageUrl,  ISNULL([Special Price (% for bundles)],[Retail Price]) AS Price, REPLACE([Url], 'https://www.balfour.com','') AS Url -- , [included smi], SKU
			FROM magento_automated_product_dataset_ANN_QA 
			WHERE  SKU IN ( 'A0243769', 'A0248140')						
				AND 1 = CASE WHEN (ISNULL([Included SMI], '') = '' OR [Included SMI] = '0') OR (ISNULL([Included SMI], '') <> '' AND [Included SMI] <> '0' AND CHARINDEX( CAST(@smi AS VARCHAR(30)), [Included SMI]) > 0) THEN 1 
							ELSE 0 END -- check if the included smi needs for this sku, if it presents, check if it matches with the passing smi, if it matches, return the sku, if not, do not return the sku
				AND Status = 'enable' 
				AND ([Stock maintenance] = 'Do not Manage Stock' OR ISNULL( [Quantity in Stock],0) > 0)	
		END
	ELSE
		BEGIN
			INSERT INTO @results( [ProductName], [ImageUrl], [Price], [Url])
			SELECT [Product Name] AS ProductName, [image_url] AS ImageUrl,  ISNULL([Special Price (% for bundles)],[Retail Price]) AS Price, REPLACE([Url], 'https://www.balfour.com','') AS Url -- , [included smi], SKU
			FROM magento_automated_product_dataset_ANN_QA 
			WHERE  SKU = 'A0258921'							 
				AND 1 = CASE WHEN (ISNULL([Included SMI], '') = '' OR [Included SMI] = '0') OR (ISNULL([Included SMI], '') <> '' AND [Included SMI] <> '0' AND CHARINDEX( CAST(@smi AS VARCHAR(30)), [Included SMI]) > 0) THEN 1 
							ELSE 0 END -- check if the included smi needs for this sku, if it presents, check if it matches with the passing smi, if it matches, return the sku, if not, do not return the sku
				AND Status = 'enable' 
				AND ([Stock maintenance] = 'Do not Manage Stock' OR ISNULL( [Quantity in Stock],0) > 0)	
		END


	SELECT @count = COUNT(*) FROM @results 
	 
	IF @count = 1 
		BEGIN
			INSERT INTO @results( [ProductName], [ImageUrl], [Price], [Url])
			SELECT TOP 1 [Product Name] AS ProductName, [image_url] AS ImageUrl,  ISNULL([Special Price (% for bundles)],[Retail Price]) AS Price, REPLACE([Url], 'https://www.balfour.com','') AS Url -- , [included smi], SKU
			FROM magento_automated_product_dataset_ANN_QA 
			WHERE product_collection LIKE '%BalProdColl_ContStationery%'
				AND 1 = CASE WHEN (ISNULL([Included SMI], '') = '' OR [Included SMI] = '0') OR (ISNULL([Included SMI], '') <> '' AND [Included SMI] <> '0' AND CHARINDEX( CAST(@smi AS VARCHAR(30)), [Included SMI]) > 0) THEN 1 
							ELSE 0 END -- check if the included smi needs for this sku, if it presents, check if it matches with the passing smi, if it matches, return the sku, if not, do not return the sku
				AND Status = 'enable' 
				AND ([Product Name] LIKE '%Classic%Party Invitation%' OR SKU IN ('A0258912'))
				AND ([Stock maintenance] = 'Do not Manage Stock' OR ISNULL( [Quantity in Stock],0) > 0)	
		END

	INSERT INTO @results( [ProductName], [ImageUrl], [Price], [Url])
	SELECT TOP 1 [Product Name] AS ProductName, [image_url] AS ImageUrl,  ISNULL([Special Price (% for bundles)],[Retail Price]) AS Price, REPLACE([Url], 'https://www.balfour.com','') AS Url -- , [included smi], SKU
	FROM magento_automated_product_dataset_ANN_QA 
	WHERE product_collection LIKE '%BalProdColl_ContStationery%'
		AND 1 = CASE WHEN (ISNULL([Included SMI], '') = '' OR [Included SMI] = '0') OR (ISNULL([Included SMI], '') <> '' AND [Included SMI] <> '0' AND CHARINDEX( CAST(@smi AS VARCHAR(30)), [Included SMI]) > 0) THEN 1 
					ELSE 0 END -- check if the included smi needs for this sku, if it presents, check if it matches with the passing smi, if it matches, return the sku, if not, do not return the sku
		AND Status = 'enable' 
		AND ([Product Name] LIKE '%Address Labels%' OR SKU IN ('A0258914'))
		AND ([Stock maintenance] = 'Do not Manage Stock' OR ISNULL( [Quantity in Stock],0) > 0)	

	INSERT INTO @results( [ProductName], [ImageUrl], [Price], [Url])
	SELECT TOP 1 [Product Name] AS ProductName, [image_url] AS ImageUrl,  ISNULL([Special Price (% for bundles)],[Retail Price]) AS Price, REPLACE([Url], 'https://www.balfour.com','') AS Url -- , [included smi], SKU
	FROM magento_automated_product_dataset_ANN_QA 
	WHERE product_collection LIKE '%BalProdColl_ContStationery%'
		AND 1 = CASE WHEN (ISNULL([Included SMI], '') = '' OR [Included SMI] = '0') OR (ISNULL([Included SMI], '') <> '' AND [Included SMI] <> '0' AND CHARINDEX( CAST(@smi AS VARCHAR(30)), [Included SMI]) > 0) THEN 1 
					ELSE 0 END -- check if the included smi needs for this sku, if it presents, check if it matches with the passing smi, if it matches, return the sku, if not, do not return the sku
		AND Status = 'enable' 
		AND ([Product Name] LIKE '%Thank You Note%' OR SKU  IN ('A0258913'))
		AND ([Stock maintenance] = 'Do not Manage Stock' OR ISNULL( [Quantity in Stock],0) > 0)	
	

	SELECT [ProductName], [ImageUrl], [Price], 
	CASE WHEN CHARINDEX('?', [Url]) > 0 THEN REPLACE([Url],'https://www.balfour.com','') + '&smi=' + CAST(@smi AS varchar(30)) ELSE  REPLACE([Url],'https://www.balfour.com','') + '?smi=' + CAST(@smi AS varchar(30)) END  AS Url	
	FROM @results ORDER BY sortOrder
	FOR JSON PATH
	 
END
 

 -- select [Image_Url],* from magento_automated_product_dataset_ANN_QA WHERE product_collection LIKE '%BalProdColl_ContStationery%'
GO
