/****** Object:  StoredProcedure [dbo].[s_digital_code_issue_old]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/14/2020
-- Description: Issues a new digital code after purchase
-- =============================================
CREATE PROCEDURE [dbo].[s_digital_code_issue_old]
(
     @LastOrderID BIGINT
	,@Item_IDOverride BIGINT = NULL
	,@Debugging BIT = 0
)
AS
--EXEC s_digital_code_issue @LastOrderID = 1179022, @Item_IDOverride = 4061150, @Debugging = 1
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @LastItemID BIGINT, @MaxItemID BIGINT, @Val VARCHAR(200)
	SELECT @Val = dbo.fn_GetExtendedProperty ('MAGE_sales_order_item','LastDCItemID')
	SELECT @LastItemID = CAST(left(@Val,CHARINDEX(' ',@Val)) as BIGINT)+1
	IF @Item_IDOverride IS NOT NULL SET @LastItemID = @Item_IDOverride

	
	SELECT @MaxItemID = MAX([Item_ID]) FROM [dbo].[MAGE_SALES_ORDER_ITEM]
	
    IF @LastOrderID IS NULL
		SELECT @LastOrderID = MAX([order_id]) FROM [dbo].[MAGE_sales_order_item]
	

	DECLARE @Orders TABLE ([order_id] BIGINT, [Increment_Id] VARCHAR(50), [qty_ordered] DECIMAL(12,4), [sku] VARCHAR(100), [item_id] INT, [OrderDate] DATETIME, [Email] VARCHAR(200), [customer_firstname] VARCHAR(200), [loop] INT IDENTITY(1,1)) 
	DECLARE @Loop INT, @Max INT, @order_id BIGINT, @sku VARCHAR(100), @item_id INT, @Code VARCHAR(200),  @SourceName VARCHAR(100), @ProductName NVARCHAR(255), @DCID BIGINT, @Increment_Id VARCHAR(50)
		, @Value MONEY, @OrderDate VARCHAR(50), @URL VARCHAR(200), @Email VARCHAR(200), @customer_firstname VARCHAR(200), @CodeExpDate VARCHAR(50), @ProductType VARCHAR(50), @SI BIGINT, @Qty_Ordered INT--, @DCID BIGINT
		, @TotalCodes INT, @CurrentCode INT

	SELECT @Loop = 1, @sku= '', @item_id = 0, @SourceName = '', @ProductName = '', @customer_firstname = '', @Increment_Id = '', @ProductType = '', @SI = 0
	IF @Debugging = 1 PRINT 'Checking Item_IDs between ' + CAST(@LastItemID AS VARCHAR(25)) + ' and ' + CAST(@MaxItemID AS VARCHAR(25))
	INSERT INTO @Orders ([order_id],[Increment_Id],[qty_ordered],[sku],[item_id], [OrderDate],[Email], [customer_firstname])
	SELECT I.[order_id], O.[increment_id], I.[qty_ordered], I.[sku], I.[item_id], O.[created_at], O.[customer_email], O.[customer_firstname] 
	FROM [dbo].[MAGE_sales_order_item] I
	LEFT JOIN [dbo].[MAGE_Sales_Order] O ON O.[entity_id] = I.[order_id]
	WHERE [sku] IN (SELECT [BalfourSKU] FROM [dbo].[DigitalCodes])
	AND I.[item_id] BETWEEN @LastItemID AND @MaxItemID
	AND 'DC' + O.[increment_id] + '.' + CAST(I.[Item_ID] as VARCHAR(25)) NOT IN (SELECT CASE WHEN @Item_IDOverride IS NULL THEN ISNULL([Key_Value],'') ELSE '' END FROM [dbo].[EmailJobs_Queue] WHERE [Email_Name] = 'digitalcode')
	--AND O.[entity_id] > @LastOrderID

	SELECT @Max = MAX([Loop]) FROM @Orders

	WHILE @Loop <= @Max
		BEGIN
			PRINT 'Loop = ' + CAST(@Loop AS VARCHAR(50))
			SELECT @sku = [sku], @Qty_Ordered = CAST([qty_ordered] AS INT), @order_id = [order_id], @Increment_Id = [Increment_Id], @item_id = [item_id], @OrderDate = FORMAT([OrderDate],'MM/dd/yyyy'), @Email = [email], @customer_firstname = [customer_firstname] FROM @Orders WHERE [Loop] = @Loop

			SELECT @email = CASE WHEN ISNULL(@email,'') = '' THEN a.email ELSE @email END, @customer_firstname = CASE WHEN ISNULL(@customer_firstname,'') = '' THEN a.firstname ELSE @customer_firstname END
			FROM [dbo].[MAGE_Sales_Order] ORDERS 
			LEFT JOIN MAGEsales_Order_Address A ON A.entity_id = ORDERS.billing_address_id
			WHERE ORDERS.entity_id = @order_id

			SELECT @email = CASE WHEN ISNULL(@email,'') = '' THEN p.email ELSE @email END, @customer_firstname = CASE WHEN ISNULL(@customer_firstname,'') = '' THEN p.firstname ELSE @customer_firstname END
			FROM orderpurchasers p
			left join MAGE_Sales_Order O ON O.Entity_id = @order_id
			left join MAGESales_Order_Address sae on sae.entity_id = o.billing_address_id
			where o.customer_id IS NULL and sae.firstname IS NOT NULL and p.firstname is null

			SET @customer_firstname = ISNULL(@customer_firstname,'Valued Customer')

			SELECT @CurrentCode = 1 
			WHILE @CurrentCode <= @Qty_Ordered
				BEGIN
					--Get the next available code
					SELECT TOP 1 @Code = [Code], @SourceName = DCS.[SourceName], @ProductType = DCS.[ProductType], @ProductName = D.[Product Name], @DCID = DC.[ID], @Value = DC.[Value], @URL = DC.[CodeUseURL], @CodeExpDate = FORMAT(dbo.fn_DateTime_To_Central(DATEADD(year,1,GETDATE())), 'MM/dd/yyyy')/*FORMAT([Expires], 'MM/dd/yyyy')*/
					FROM [dbo].[DigitalCodes] DC 
					LEFT JOIN [dbo].[DigitalCodeSources] DCS ON DCS.GUID = DC.[Source_GUID]
					LEFT JOIN [dbo].[magento_automated_product_dataset] D ON D.[SKU] = DC.[BalfourSKU]
					WHERE /*DCS.[SourceName] = @SourceName
					AND*/ DC.[BalfourSKU] = @SKU
					AND ISNULL(DC.[Expires],DATEADD(year,1,GETDATE())) > dbo.fn_DateTime_To_Central(GETDATE())
					AND [KeyForIssued] IS NULL
					AND [DateIssued] IS NULL
					ORDER BY DC.[ID]

					PRINT '{"first_name":"' + @customer_firstname + '","CODEEXPDATE":"' + @CodeExpDate + '","CODE":"' + @Code + '","CodeValue":"$' + CAST(@Value AS VARCHAR(15)) + '","OrderDate":"' + @OrderDate + '","OrderID":"' + /*CAST(@order_ID AS VARCHAR(50))*/@Increment_Id + '","ProductName":"' + @ProductName + '","ProductType":"' + @ProductType + '","SKU":"' + @SKU + '","URL":"' + @URL + '"}'

					--Testing
					IF @Debugging = 0
						BEGIN
							--SELECT @Email = 'william.crooks@balfour.com', @OrderDate = FORMAT(GETDATE(), 'MM/dd/yyyy'), @customer_firstname = 'TL'
							--Make sure the record is not already there
							IF NOT EXISTS (SELECT [ID] FROM [dbo].[EmailJobs_queue] WHERE [KEY_VALUE] = 'DC' + @Increment_Id AND [email_name] = 'digitalcode')
								BEGIN
									INSERT INTO [dbo].[EmailJobs_queue] ([Email_Name],[Entity],[Service],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],[emailAddresses],[rawData])
									SELECT EJ.[email_name],'Balfour','Silverpopnt',@SourceName + ' digital code',EJ.[pod],EJ.[oAuthClientId],EJ.[oAuthClientSecret],EJ.[oAuthRefreshToken],EJ.[campaignID],@email/*'william.crooks@balfour.com'*/
									,'{"first_name":"' + @customer_firstname + '","CODEEXPDATE":"' + @CodeExpDate + '","CODE":"' + @Code + '","CodeValue":"$' + CAST(@Value AS VARCHAR(15)) + '","OrderDate":"' + @OrderDate + '","OrderID":"' + /*CAST(@order_ID AS VARCHAR(50))*/@Increment_Id + '","ProductName":"' + @ProductName + '","ProductType":"' + @ProductType + '","SKU":"' + @SKU + '","URL":"' + @URL + '"}' as [rawData]
									FROM EmailJobs EJ 
									WHERE EJ.[Email_Name] = 'digitalcode'
									SELECT @SI = SCOPE_IDENTITY()
									UPDATE [dbo].[DigitalCodes] SET [DateIssued] = GETDATE(), [KeyForIssued] = /*CAST(@order_ID as varchar(25))*/@Increment_Id WHERE [ID] = @DCID
									INSERT INTO [dbo].[CouponCodesIssued] ([Coupon_ID],[Code],[Key_Value],[OrderSource],[Issued_DTM],[EmailJobs_Queue_ID],[Value])
									VALUES (@DCID,@Code,@Increment_Id,'MAG',GETDATE(),@SI,@Value)
								END
						END
					SET @CurrentCode = @CurrentCode + 1
				END

			SET @Loop = @Loop + 1
		END

	IF @Debugging = 0
		BEGIN
			--Update the last Item_ID checked
			SELECT @Val = CAST(@MaxItemID as VARCHAR(25)) + ' at ' + FORMAT (dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy hh:mm tt')
			EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGE_sales_order_item', @AttribName = 'LastDCItemID', @Value = @Val
		END
END
GO
