/****** Object:  StoredProcedure [dbo].[s_get_digitalcodes_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/23/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_digitalcodes_records]
(
	  @ID BIGINT = NULL
	, @searchField VARCHAR(50) = '' --Code, Expires, Value, Description
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [DigitalCodes] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [DigitalCodes].
--##PD @searchField - The field to search on (Code, Expires, Value, Description)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @startDate The starting date
--##PD @endDate The ending date
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [DigitalCodes].

--DECLARE @totalRecords INT; EXEC s_get_digitalcodes_records @searchField = 'Code', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [Code]
		,FORMAT(dbo.fn_DateTime_to_Central([Starts]), 'MM/dd/yyyy hh:mm:ss tt') AS [Starts]
		,FORMAT(dbo.fn_DateTime_to_Central([Expires]), 'MM/dd/yyyy hh:mm:ss tt') AS [Expires]
		,[Value]
		,ISNULL([MinOrderAmount],0.0) as [MinOrderAmount]
		,[Description]
		,FORMAT(dbo.fn_DateTime_to_Central([DateAdded]), 'MM/dd/yyyy hh:mm:ss tt') AS [DateAdded]
		,CASE WHEN [DateUsed] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([DateUsed]), 'MM/dd/yyyy hh:mm:ss tt') END AS [DateUsed]
		,CASE WHEN [DateIssued] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([DateIssued]), 'MM/dd/yyyy hh:mm:ss tt') END AS [DateIssued]
		,[KeyForIssued]
		,[KeyForUsed]
		,[Source_GUID]
		,[ImportBatch]
		,[ImportFile]
		,[ID]
		FROM [DigitalCodes]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[DigitalCodes]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999

		IF @startDate IS NULL SET @startDate = '1-1-1900'
		IF @endDate IS NULL SET @endDate = DATEADD(d, 1, GETDATE())

		SET @startDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @startDate, 101) as DATETIME))
		SET @endDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME))

		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [DigitalCodes]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([Code],'') LIKE CASE WHEN @searchField = 'Code' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Code],'') END
		AND ISNULL([Expires],'') LIKE CASE WHEN @searchField = 'Expires' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Expires],'') END
		AND ISNULL([Value],'') LIKE CASE WHEN @searchField = 'Value' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Value],'') END
		AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END
		AND [DateAdded] BETWEEN @startDate AND @endDate

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [Code]
				,FORMAT(dbo.fn_DateTime_to_Central([Starts]), 'MM/dd/yyyy hh:mm:ss tt') AS [Starts]
				,FORMAT(dbo.fn_DateTime_to_Central([Expires])				, 'MM/dd/yyyy hh:mm:ss tt') AS [Expires]
				,[Value]
				,ISNULL([MinOrderAmount],0.0) as [MinOrderAmount]
				,[Description]
				,FORMAT(dbo.fn_DateTime_to_Central([DateAdded])				, 'MM/dd/yyyy hh:mm:ss tt') AS [DateAdded]
				,CASE WHEN [DateUsed] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([DateUsed]), 'MM/dd/yyyy hh:mm:ss tt') END AS [DateUsed]
				,CASE WHEN [DateIssued] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([DateIssued]), 'MM/dd/yyyy hh:mm:ss tt') END AS [DateIssued]
				,[KeyForIssued]
				,[KeyForUsed]
				,[Source_GUID]
				,[ImportBatch]
				,[ImportFile]
				,[ID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Code' THEN [Code] /*WHEN 'Expires' THEN [Expires]*/ WHEN 'Value' THEN CAST([Value] as VARCHAR(50)) WHEN 'Description' THEN [Description] END DESC) as RowNumber
				FROM [dbo].[DigitalCodes]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Code],'') LIKE CASE WHEN @searchField = 'Code' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Code],'') END
				--AND CAST([Expires] as VARCHAR(50)) LIKE CASE WHEN @searchField = 'Expires' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST([Expires]AS varchar(50)) END
				AND CAST([Value] as VARCHAR(50)) LIKE CASE WHEN @searchField = 'Value' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST([Value] as VARCHAR(50)) END
				AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END
				AND [DateAdded] BETWEEN @startDate AND @endDate
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [Code]
				,FORMAT(dbo.fn_DateTime_to_Central([Starts]), 'MM/dd/yyyy hh:mm:ss tt') AS [Starts]
				,FORMAT(dbo.fn_DateTime_to_Central([Expires])				, 'MM/dd/yyyy hh:mm:ss tt') AS [Expires]
				,[Value]
				,ISNULL([MinOrderAmount],0.0) as [MinOrderAmount]
				,[Description]
				,FORMAT(dbo.fn_DateTime_to_Central([DateAdded])				, 'MM/dd/yyyy hh:mm:ss tt') AS [DateAdded]
				,CASE WHEN [DateUsed] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([DateUsed]), 'MM/dd/yyyy hh:mm:ss tt') END AS [DateUsed]
				,CASE WHEN [DateIssued] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([DateIssued]), 'MM/dd/yyyy hh:mm:ss tt') END AS [DateIssued]
				,[KeyForIssued]
				,[KeyForUsed]
				,[Source_GUID]
				,[ImportBatch]
				,[ImportFile]
				,[ID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Code' THEN [Code] /*WHEN 'Expires' THEN [Expires]*/ WHEN 'Value' THEN CAST([Value] as VARCHAR(50)) WHEN 'Description' THEN [Description] END) as RowNumber
				FROM [dbo].[DigitalCodes]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Code],'') LIKE CASE WHEN @searchField = 'Code' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Code],'') END
				--AND CAST([Expires] as VARCHAR(50)) LIKE CASE WHEN @searchField = 'Expires' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST([Expires]AS varchar(50)) END
				AND CAST([Value] as VARCHAR(50)) LIKE CASE WHEN @searchField = 'Value' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST([Value] as VARCHAR(50)) END
				AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END
				AND [DateAdded] BETWEEN @startDate AND @endDate
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
