/****** Object:  StoredProcedure [dbo].[s_pim_item_save]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Trishan Singh
-- Create Date: 2019-02-02
-- Description: save pim item to db
-- =============================================
CREATE PROCEDURE [dbo].[s_pim_item_save]
(
    -- Add the parameters for the stored procedure here
    @pimXmlIn nvarchar(max), 
	@pimTS nvarchar(100)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    --SELECT @pimXmlIn
	--SET @pimXmlIn = '<?xml version="1.0" encoding="UTF-8" standalone="yes"?>' +
	--'<Products>'+
	--'<Product ID="ITEM124410820" UserTypeID="Item" ParentID="CAT1095176">'+
	--'<Name>615789471653: Univ of Virginia Collegiate Watch W/NATO Strap for Men</Name>'+
	--'<ClassificationReference ClassificationID="ACCOM_Jewelry_Watches" Type="ArtCarved"/><ClassificationReference ClassificationID="ACCOM_Collections_Fan" Type="ArtCarved"/><AssetCrossReference AssetID="124411523" Type="PrimaryProductImage"/>
	--'<Values><Value AttributeID="a_Gender">Men''s</Value><Value AttributeID="a_MagentoAttributeSetName">pim_watches</Value><Value AttributeID="a_EstDelDate">20-25 business days</Value><Value AttributeID="a_ProductName">University of Virginia Collegiate Watch with NATO Strap for Men</Value><Value AttributeID="a_DropShip">Yes</Value><Value AttributeID="a_DSVendorSku">615789471653</Value><Value AttributeID="a_WaterResistance">30</Value><Value AttributeID="a_ArtcarvedImagePath">/opt/stibo/step/images/outbound/Artcarved</Value><Value AttributeID="a_VendorWarr">3 years</Value><Value AttributeID="a_AACProdType">Endless Aisle</Value><Value AttributeID="a_JlryPkg">Box</Value><Value AttributeID="a_GoogleID">201</Value><Value AttributeID="a_DeliveryMethod">DS - Direct Ship</Value><Value AttributeID="a_RecordStatus">Active</Value><Value AttributeID="a_ConfigProd">Simple</Value><Value AttributeID="a_ShortDescription">Univ of Virginia Collegiate Watch W/NATO Strap for Men</Value><Value AttributeID="a_Licensed">Yes</Value><Value AttributeID="a_ArtcarvedPrimaryImages">MLAHART_NATO strap_615789471653_1.jpg,MLAHART_NATO strap_615789471653_1_800x800.jpg,MLAHART_NATO strap_615789471653_1_700x700.jpg,MLAHART_NATO strap_615789471653_1_280x280.jpg,MLAHART_NATO strap_615789471653_1_520x520.jpg,MLAHART_NATO strap_615789471653_1_340x340.jpg,MLAHART_NATO strap_615789471653_1_300x300.jpg,MLAHART_NATO strap_615789471653_1_165x165.jpg,MLAHART_NATO strap_615789471653_1_135x135.jpg,MLAHART_NATO strap_615789471653_1_110x110.jpg,MLAHART_NATO strap_615789471653_1_75x75.jpg,MLAHART_NATO strap_615789471653_1_60x60.jpg,MLAHART_NATO strap_615789471653_1_140x140.jpg</Value><Value AttributeID="a_IsMagentoReady">Yes</Value><Value AttributeID="a_LongDescription">Give your dedicated fan the gift of official sports gear from our NCAA and college Shop. This University of Virginia original features the UVA Logo on our sophisticated new dial with a sunray brushed metallic finish. The NATO strap popularized by James Bond now features your school colors for the first time. Swiss-made quartz movement with 7 jewels. Sunray brushed metallic dial with hand-applied, faceted markers and date window. Stainless steel case with Swarovski black crystal cabochon. Scratch-resistant sapphire crystal. Water-resistant to 30 meters. Three-year warranty. Adjustable strap measures 10 3/4" long, 20mm wide. Attractive M.LaHart signature gift box. Officially licensed by University of Virginia.Manufacturer direct from a trusted supplier.</Value><Value AttributeID="a_EC">BALFOUR DIRECT-ML</Value><Value AttributeID="a_Country" ID="104">Hong Kong</Value><Value AttributeID="a_WatchStyle">Strap</Value><Value AttributeID="a_PrimaryImageID">124411523</Value><Value AttributeID="a_EABrand">M.LaHart</Value><Value AttributeID="a_ItemCategory">Non-Core</Value><Value AttributeID="a_Visibility">Catalog, Search</Value>'+
	--'<Value AttributeID="a_SKU">A0115792</Value><Value AttributeID="a_ItemColor">Steel</Value>'+
	--'<MultiValue AttributeID="a_GradeGroup"><Value>College</Value><Value>Alumni</Value></MultiValue><MultiValue AttributeID="a_ArtcarvedHierarchy"><Value>ArtCarved.com/Collections/Fan Shop</Value><Value>ArtCarved.com/Jewelry/Watches</Value></MultiValue><MultiValue AttributeID="a_LicenseType"><Value>NCAA</Value></MultiValue><MultiValue AttributeID="a_NCAASchools"><Value>Virginia</Value></MultiValue></Values><Product ID="SKU124412770" UserTypeID="ItemVariant"><Name>615789471653: Univ of Virginia Collegiate Watch W/NATO Strap for Men</Name><Values><Value AttributeID="a_SKUID">A0115792A0000</Value><Value AttributeID="a_PrimaryImageID">124411523</Value></Values>'+
	--'</Product></Product></Products>'

	DECLARE @pimXml xml;
	DECLARE @sku varchar(100);
	DECLARE @parentid varchar(20);
	DECLARE @id varchar(20);
	DECLARE @name varchar(200);
	DECLARE @usertypeid varchar(20);
	DECLARE @dbts datetime; 
	DECLARE @pimdtts datetime;
	SET @pimdtts = CONVERT(datetime, @pimTS);

	SELECT @pimXml = CONVERT(XML,REPLACE(@pimXmlIn,'encoding="UTF-8"',''));
	SELECT 
	  @id = b.N.value('@ID', 'varchar(20)')
	  , @usertypeid = b.N.value('@UserTypeID', 'varchar(15)')  
	  , @parentid = b.N.value('@ParentID', 'varchar(20)')  
	  , @name = b.N.value('Name[1]','varchar(100)') 
	  , @sku = b.N.value('Values[1]/Value[@AttributeID="a_SKU"][1]','varchar(100)')  
	FROM @pimXml.nodes('Products/Product') as b(N)

	SELECT @sku as SKU, @id as id, @parentid as parentid, @name as name, @usertypeid as usertypeid

	SELECT @dbts = lastchangedate FROM item WHERE SKU = @sku;
	IF @pimdtts IS NOT NULL AND @dbts IS NOT NULL AND @dbts > @pimdtts 
    BEGIN  
        PRINT 'Timestamp must be newer'  
        RETURN  
    END  

	MERGE INTO item AS tab1 
	USING( SELECT @sku as SKU, @id as id, @parentid as parentid, @name as name, @usertypeid as usertypeid, @pimXml as pimxml ) as src1 
	   ON src1.id=tab1.id 
	WHEN MATCHED THEN
		UPDATE SET tab1.SKU=src1.SKU,
			tab1.parentid=src1.parentid,
			tab1.name=src1.name,
			tab1.usertypeid=src1.usertypeid,
			tab1.pimxml=src1.pimxml,
			tab1.lastchangedate=@pimdtts
	WHEN NOT MATCHED THEN 
	   INSERT (id, sku, name, parentid, usertypeid, pimxml, lastchangedate) VALUES(src1.id, src1.sku, src1.name, src1.parentid, src1.usertypeid, src1.pimxml, @pimdtts);

	DELETE FROM itemattributes WHERE itemid = @id

	INSERT INTO itemattributes (itemid, tagtype, tagvalue)
	SELECT @id as iid  
	   ,b.N.value('@AttributeID','varchar(100)') as mGroup
	   ,b.N.value('.','varchar(1000)') as mValue
	FROM @pimXml.nodes('Products/Product/Values[1]/Value') as b(N)

	INSERT INTO itemattributes (itemid, tagtype, tagvalue)
	SELECT @id as iid  
	   ,b.N.value('../@AttributeID','varchar(100)') as mGroup
	   ,b.N.value('.','varchar(1000)') as mValue
	FROM @pimXml.nodes('Products/Product/Values[1]/MultiValue/Value') as b(N)

	DECLARE @lastUpdate VARCHAR(15)
	SELECT @lastUpdate = FORMAT(SYSDATETIME(), N'yyyy-MM-dd hh:mm tt')  
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributes', @AttribName = 'LastUpdate', @Value = @lastUpdate
 

END
GO
