/****** Object:  StoredProcedure [dbo].[proc_get_non_contiguous_states_orders]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 02/12/2020 - HT
	truncate table Non_Contiguous_States_Orders_Temp
	exec [proc_get_non_contiguous_states_orders] @Report = 0
	GET orders ship to non contiguous states: American Samoa-AS, Guam-GU, Northern Mariana Islands-MP,Puerto Rico-PR, U.S. Virgin Islands-VI
	[dbo].[proc_get_non_contiguous_states_orders] @Report=0
*/
CREATE PROCEDURE [dbo].[proc_get_non_contiguous_states_orders] 
	@Report BIT = 1
AS
IF @Report = 1 
	BEGIN
				SELECT DISTINCT  ExtSalesID 
		, OrderNumber [DocumentNumber]
		, OrderDate [OrderDate] -- dbo.fn_DateTime_to_Central(OrderDate) [Order Date]
		, OrderStatus [OrderStatus]
		, MerchandiseTotal [MerchTotal]
		, GrandTotal [GrandTotal]		
		, BillingName [BillingName]
		, ShippingAddress
		, ShippingCity
		, ShippingState
		, ShippingZipCode
		, Email
		, PurchaseOrder
		, d.Type
		, Vendor
		, d.Item AS SKU
		, CASE WHEN ISNULL(p.[Item Category], '') = '' THEN 'Unknown Product Type' ELSE p.[Item Category] END AS [Item Category] 
		, OrderSource
		, ERPSystem
		FROM NetsuiteSalesOrders o LEFT JOIN NetsuiteSalesOrderDetails d ON d.DocumentNumber = o.OrderNumber
		LEFT JOIN dbo.magento_automated_product_dataset_artcarved ap ON LEFT(ap.SKU,8) = LEFT(d.Item,8)
		LEFT JOIN dbo.magento_automated_product_dataset p ON LEFT(p.SKU,8) = LEFT(d.Item,8)
		WHERE ShippingState in ('HI', 'AK', 'GU', 'AS','MP', 'PR', 'VI')
		AND	(p.[Attribute Set] NOT IN ('pim_uc') OR ap.[Attribute Set] NOT IN ('pim_uc') OR OrderSource = 'Phone')	--	AND DocumentNumber in ( 569417 , 986699, 986273,968883,569417)	 
		ORDER BY OrderDate DESC
	END
ELSE
	BEGIN 
		SELECT DISTINCT  ExtSalesID 
		, OrderNumber [DocumentNumber]
		, OrderDate [OrderDate] -- dbo.fn_DateTime_to_Central(OrderDate) [Order Date]
		, OrderStatus [OrderStatus]
		, MerchandiseTotal [MerchTotal]
		, GrandTotal [GrandTotal]		
		, BillingName [BillingName]
		, ShippingAddress
		, ShippingCity
		, ShippingState
		, ShippingZipCode
		, Email
		, PurchaseOrder
		, d.Type
		, Vendor
		, d.Item AS SKU
		, CASE WHEN ISNULL(p.[Item Category], '') = '' THEN 'Unknown Product Type' ELSE p.[Item Category] END AS [Item Category] 
		, OrderSource
		, ERPSystem
		FROM NetsuiteSalesOrders o LEFT JOIN NetsuiteSalesOrderDetails d ON d.DocumentNumber = o.OrderNumber
		LEFT JOIN dbo.magento_automated_product_dataset_artcarved ap ON LEFT(ap.SKU,8) = LEFT(d.Item,8)
		LEFT JOIN dbo.magento_automated_product_dataset p ON LEFT(p.SKU,8) = LEFT(d.Item,8)
		WHERE ShippingState in ('HI', 'AK', 'GU', 'AS','MP', 'PR', 'VI')
		AND	(p.[Attribute Set] NOT IN ('pim_uc') OR ap.[Attribute Set] NOT IN ('pim_uc') OR OrderSource = 'Phone')			
		AND CAST(OrderNumber AS INT) > (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastNoneContiguousStateOrder' AND [major_id] = OBJECT_ID('NetsuiteSalesOrders'))
		--(SELECT ISNULL(MAX(Order_Number),0) FROM Non_Contiguous_States_Orders_Temp) 
		 
		--EXEC  s_update_extendedprop_on_table @TableName = 'NetsuiteSalesOrders', @AttribName='LastNoneContiguousStateOrder', @Value= @OrderNo
		--AND OrderNumber in (167329) 
		ORDER BY OrderDate DESC
	END
		
		 
		--select top 199  * from NetsuiteSalesOrders
		----order by OrderDate desc
		--SELECT * FROM Non_Contiguous_States_Orders_Temp
GO
