/****** Object:  StoredProcedure [dbo].[s_update_gradpacks_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/7/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_update_gradpacks_record]
(
 @DisplayName VARCHAR(150) = NULL
,@GradPackID INT = NULL
,@IsMiniPack BIT = NULL
,@Price DECIMAL(12,4) = NULL
,@SKU VARCHAR(50) = NULL
,@DataSource VARCHAR(20) = 'Gradpacks'
, @GradPackID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [GradPacks].
--##RS1 The [GradPackID] value of the inserted/updated record in the table [GradPacks].

IF ISNULL(@GradPackID,0) = 0 OR @DataSource = 'Magento' --Insert
  BEGIN
	IF @DataSource = 'Magento'
		BEGIN
			SELECT @SKU = SKU, @IsMiniPack = IsMiniPack, @DisplayName = DisplayName, @Price = Price FROM v_Gradpacks WHERE GradPackID = @GradPackID
		END

    INSERT INTO [GradPacks] ( [SKU],[IsMiniPack],[DisplayName],[Price])
       VALUES ( @SKU,@IsMiniPack,@DisplayName,@Price)
    SELECT @GradPackID_Out = SCOPE_IDENTITY()

	IF @DataSource = 'Magento'
		BEGIN
			INSERT INTO [GradPackLineItems]
			([GradPackID], [DisplayName], [Description], [DisplayOrder], [ImageUrl])
			SELECT
				@GradPackID_Out, ISNULL([DisplayName], ''), ISNULL([Description], ''), ISNULL([DisplayOrder], 0), ISNULL([image_url], '')
			FROM [v_GradpackLineItems]
			WHERE GradPackID = @GradPackID
		END
  END
ELSE
  BEGIN
    UPDATE [GradPacks] SET
     [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
    ,[IsMiniPack] = CASE WHEN @IsMiniPack IS NULL THEN [IsMiniPack] ELSE @IsMiniPack END
    ,[DisplayName] = CASE WHEN @DisplayName IS NULL THEN [DisplayName] ELSE @DisplayName END
    ,[Price] = CASE WHEN @Price IS NULL THEN [Price] ELSE @Price END
      WHERE [GradPackID] = @GradPackID
    SELECT @GradPackID_Out = @GradPackID
  END

SELECT
 [SKU]
,[IsMiniPack]
,[DisplayName]
,[Price]
,[GradPackID]

FROM dbo.[GradPacks]
WHERE [GradPackID] = @GradPackID_Out
GO
