/****** Object:  StoredProcedure [dbo].[s_update_school_events_locations_dates_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/25/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_school_events_locations_dates_record]
(
 @DateTimeText VARCHAR(100) = NULL
,@DateType SMALLINT = NULL
,@EventEndDate VARCHAR(15) = NULL
,@EventStartDate VARCHAR(15) = NULL
,@GUID VARCHAR(50) = NULL
,@ID BIGINT = NULL
,@Location_GUID VARCHAR(50) = NULL
,@ID_OUT BIGINT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [School_Events_Locations_Dates].
--##RS1 The [ID] value of the inserted/updated record in the table [School_Events_Locations_Dates].
IF ISNULL(@GUID,'') = '' SET @GUID = NEWID()
IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [School_Events_Locations_Dates] ( [EventStartDate],[EventEndDate],[DateType],[Location_GUID],[DateTimeText],[GUID])
       VALUES ( CASE WHEN ISNULL(@EventStartDate,'') = '' THEN NULL ELSE CAST(@EventStartDate as DATE) END ,CASE WHEN ISNULL(@EventEndDate,'') = '' THEN NULL ELSE @EventEndDate END,@DateType,@Location_GUID,@DateTimeText,@GUID)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [School_Events_Locations_Dates] SET
     [EventStartDate] = CASE WHEN @EventStartDate IS NULL THEN [EventStartDate] WHEN @EventStartDate = '' THEN NULL ELSE CAST(@EventStartDate as DATETIME) END
    ,[EventEndDate] = CASE WHEN @EventEndDate IS NULL THEN [EventEndDate] WHEN @EventEndDate = '' THEN NULL ELSE CAST(@EventEndDate as DATE) END
    ,[DateType] = CASE WHEN @DateType IS NULL THEN [DateType] ELSE @DateType END
    ,[Location_GUID] = CASE WHEN @Location_GUID IS NULL THEN [Location_GUID] ELSE @Location_GUID END
    ,[DateTimeText] = CASE WHEN @DateTimeText IS NULL THEN [DateTimeText] ELSE @DateTimeText END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 FORMAT(dbo.fn_DateTime_to_Central([EventStartDate]), 'MM/dd/yyyy') as [EventStartDate]
,FORMAT(dbo.fn_DateTime_to_Central([EventEndDate]), 'MM/dd/yyyy') as [EventEndDate]
,[DateType]
,[ID]
,[Location_GUID]
,[DateTimeText]
,[GUID]

FROM dbo.[School_Events_Locations_Dates]
WHERE [ID] = @ID_Out
GO
