/****** Object:  StoredProcedure [dbo].[Upsert_MAGE_uc_Orders_Import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Upsert_MAGE_uc_Orders_Import]
(	@Customer_Email varchar(500), 
	@Customer_First_Name varchar(500), 
	@Customer_Last_Name varchar(500), 
	@Handling_Fee decimal(12, 4), 
	@Item_Total decimal(12, 4), 
	@json_obj varchar(max), 
	@Order_Date datetime, 
	@Order_Number varchar(50), 
	@Order_Status varchar(50), 
	@Product_Group varchar(500), 
	@Product_Name varchar(500), 
	@Ring_Recipient_Customer_Last_Name varchar(500), 
	@Ring_Recipient_Email varchar(500), 
	@Ring_Recipient_First_Name varchar(500), 
	@SKU varchar(100), 
	@SMI varchar(100)
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF EXISTS (SELECT TOP 1 * FROM MAGE_uc_Orders_Import WHERE [Order_Number] = @Order_Number AND [SKU] = @SKU)
	BEGIN
		UPDATE MAGE_uc_Orders_Import
		SET
			[Customer_Email] = @Customer_Email, 
			[Customer_First_Name] = @Customer_First_Name, 
			[Customer_Last_Name] = @Customer_Last_Name, 
			[Handling_Fee] = @Handling_Fee, 
			[Item_Total] = @Item_Total, 
			[json_obj] = @json_obj, 
			[Order_Date] = @Order_Date, 
			[Order_Status] = @Order_Status, 
			[Product_Group] = @Product_Group, 
			[Product_Name] = @Product_Name, 
			[Ring_Recipient_Customer_Last_Name] = @Ring_Recipient_Customer_Last_Name, 
			[Ring_Recipient_Email] = @Ring_Recipient_Email, 
			[Ring_Recipient_First_Name] = @Ring_Recipient_First_Name, 
			[SMI] = @SMI
		FROM MAGE_uc_Orders_Import
		WHERE [Order_Number] = @Order_Number AND [SKU] = @SKU
	END
ELSE
	BEGIN
		INSERT INTO MAGE_uc_Orders_Import
		(
			[Customer_Email], 
			[Customer_First_Name], 
			[Customer_Last_Name], 
			[Handling_Fee], 
			[Item_Total], 
			[json_obj], 
			[Order_Date], 
			[Order_Number], 
			[Order_Status], 
			[Product_Group], 
			[Product_Name], 
			[Ring_Recipient_Customer_Last_Name], 
			[Ring_Recipient_Email], 
			[Ring_Recipient_First_Name], 
			[SKU], 
			[SMI]
		)
		VALUES
		(
			@Customer_Email, 
			@Customer_First_Name, 
			@Customer_Last_Name, 
			@Handling_Fee, 
			@Item_Total, 
			@json_obj, 
			@Order_Date, 
			@Order_Number, 
			@Order_Status, 
			@Product_Group, 
			@Product_Name, 
			@Ring_Recipient_Customer_Last_Name, 
			@Ring_Recipient_Email, 
			@Ring_Recipient_First_Name, 
			@SKU, 
			@SMI
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@Order_Number as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_uc_Orders_Import', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_uc_Orders_Import', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_uc_Orders_Import', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
