/****** Object:  StoredProcedure [dbo].[s_get_virtcomm_old]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/09/2020
-- Description: Gets details for a Virtual Commencement
-- =============================================
CREATE PROCEDURE [dbo].[s_get_virtcomm_old]
(
    @SMI INT = 0
)
AS
--EXEC s_get_virtcomm @SMI = 130996
--EXEC s_get_virtcomm @SMI = 130995
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	/**TESTING SET @SMI = 130996 TESTING**/

	DECLARE @Cnt INT, @CoreGroup CHAR(1), @EAGroup CHAR(1), @Level VARCHAR(800)
	SET @Level = 'HIGH SCHOOL'
	SELECT @Level = [dbo].[fn_get_yearbook_grade_level_for_smi](@SMI)
	/* Determine if there are any child records.*/
	SET @Cnt = 0
	SELECT @Cnt = COUNT(*) FROM [dbo].[VirtCommDetail] WHERE [ParentGUID] IN (SELECT [GUID] FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI)
	--IF @Cnt = 0 SET @SMI = 130996

	/* Determine whether or not we are going to get results. */
	SELECT @Cnt = COUNT(*), @CoreGroup = MAX([CoreProductGroup]), @EAGroup = MAX([EAProductGroup])
	FROM [dbo].[virtcommmaster] as vc
	WHERE [SMI] = @SMI
	AND ISNULL([Enabled],0) = 1

	--IF @Cnt > 0
	--	BEGIN
			DECLARE @Core TABLE ([imageLink] VARCHAR(200), [title] VARCHAR(100), [linkText] VARCHAR(50), [link] VARCHAR(200), [copy] VARCHAR(MAX), [flag] INT, [Sort_order] INT)
			IF @CoreGroup = 'C'
				BEGIN
					INSERT INTO @Core ([imageLink], [title], [linkText], [link], [copy], [flag],[Sort_order])
					SELECT [RingImageLink] as [image], 'The Importance of Your Ring' as [title], 'Shop', '/shop/jewelry/rings/official-college-class-rings?smi='  as [link], 'Your ring is a symbol of success, a vital piece of your school''s tradition, and the perfect way to connect with students, faculty and alumni.' as [copy], 1, 1 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_VC_Tile2.jpg' as [image], 'Framing Your Success' as [title], 'Shop', '/diploma-frames?smi=' as [link],  'Put your hard work and accomplishment on display. Choose from over 70 styles and find the perfect way to represent your achievement.' as [copy],2,2
					UNION
					SELECT ISNULL([AnnouncementsImageLink],'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/contemporary-photo-announcements-tile.jpg') as [image], 'Share Your Moment' as [title], 'Shop', CASE WHEN ISNULL([AnnouncementsShopLink],'') = '' THEN '/contemporary-stationery' ELSE [AnnouncementsShopLink] END + '?smi='  as [link], 'Reaching out to loved ones is now more important than ever. Personalize your official college announcements and share your success.' as [copy], 4, 3 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
				END
			IF @CoreGroup = 'H'--High School
				BEGIN
					INSERT INTO @Core ([imageLink], [title], [linkText], [link], [copy], [flag],[Sort_order])
					SELECT [RingImageLink] as [image], 'The Importance of Your Ring' as [title], 'Shop', '/shop/jewelry/rings/high-school-class-rings?smi='  as [link], 'Your ring is a symbol of success, a vital piece of your school''s tradition, and the perfect way to connect with students, faculty and alumni.' as [copy], 1, 1 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
					UNION
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_EA_Tile.jpg' as [image], 'Framing Your Success' as [title], 'Shop', '/diploma-frames?smi=' as [link],  'Put your hard work and accomplishment on display. Choose from over 70 styles and find the perfect way to represent your achievement.' as [copy],2
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/Classof2020_TShirt_VC_Tile.jpg' as [image], 'You Are The Class of 2020' as [title], 'Shop', '/shop/collections/2020-collection?product_list_order=relevance&smi=' as [link],  'Wherever you are, it''s time to come together and celebrate with your classmates. Proudly rep the Class of 2020 now in the latest styles.' as [copy],2, 2
					UNION
					SELECT ISNULL([AnnouncementsImageLink],'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/contemporary-photo-announcements-tile.jpg') as [image], 'Share Your Moment' as [title], 'Shop', CASE WHEN ISNULL([AnnouncementsShopLink],'') = '' THEN '/contemporary-stationery' ELSE [AnnouncementsShopLink] END + '?smi='  as [link], 'Reaching out to loved ones is now more important than ever. Personalize your high school announcements and share your success.' as [copy], 4, 3 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
				END

			DECLARE @EAProducts TABLE ([imageLink] VARCHAR(200), [title] VARCHAR(100), [linkText] VARCHAR(50), [link] VARCHAR(200), [sortOrder] INT)
			IF @EAGroup = 'H' --High School
				BEGIN
					INSERT INTO @EAProducts ([imageLink], [title], [linkText], [link], [sortOrder])
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/TasselToppers_EA_Tile.jpg','GRAD CAP TOPPERS','Shop','/shop/graduation/grad-cap-topper?smi=' + CAST(@SMI AS VARCHAR(15)), 1
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/GradPartySupp_EA_Tile.jpg','GRADUATION PARTY SUPPLIES','Shop','/shop/collections/grad-essentials?pim_a_ctscategory=11379&smi=' + CAST(@SMI AS VARCHAR(15)), 2
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/KS2_EA_Tile.jpg','KENDRA SCOTT GRADUATE COLLECTION','Shop','/shop/brand/kendra-scott?smi=' + CAST(@SMI AS VARCHAR(15)), 3
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/LJ_HS_EA_Tile.jpg','LIZ JAMES CHARM NECKLACE','Shop','/lizjames?smi=' + CAST(@SMI AS VARCHAR(15)), 4
					UNION
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_EA_Tile.jpg','ACCOMPLISHMENTS ACHIEVED','Shop','/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(15)), 5
					--UNION
					--SELECT [AnnouncementsImageLink],'ANNOUNCEMENTS','Shop','http://orders.balfour.com/smi' + CAST(@SMI AS VARCHAR(15)) + '/catalog/category/view/s/personalized-college-announcements/id/312673?smi=' + CAST(@SMI AS VARCHAR(15)), 6 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/GraduationBox_EA_Tile.jpg','GRADUATION KEEPSAKE BOX','Shop','/shop/collections/keepsake-box?smi' + CAST(@SMI AS VARCHAR(15)), 6 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_VC_Tile2.jpg','DIPLOMA FRAMES','Shop','/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(15)), 7
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_EA_Tile.jpg','DIPLOMA FRAMES','Shop','/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(15)), 7
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/GradGifts_EA_Tile.jpg','GRADUATION GIFTS','Shop','/shop/collections/graduation-gifts/message?smi=' + CAST(@SMI AS VARCHAR(15)), 7
					--UNION
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/BoomBoxGifts_EA_Tile.jpg','BOOMBOX GIFTS','Shop','https://boomboxgifts.com/digital/product/digital-boom/' /*+ CAST(@SMI AS VARCHAR(15))*/, 8
				END
			IF @EAGroup = 'C' --College
				BEGIN
					INSERT INTO @EAProducts ([imageLink], [title], [linkText], [link], [sortOrder])
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/TasselToppers_EA_Tile.jpg','GRAD CAP TOPPERS','Shop','/shop/graduation/grad-cap-topper?smi=' + CAST(@SMI AS VARCHAR(15)), 1
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/GradPartySupp_EA_Tile.jpg','GRADUATION PARTY SUPPLIES','Shop','/shop/collections/grad-essentials?pim_a_ctscategory=11379&smi=' + CAST(@SMI AS VARCHAR(15)), 2
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/KS2_EA_Tile.jpg','KENDRA SCOTT GRADUATE COLLECTION','Shop','../shop/brand/kendra-scott?smi=' + CAST(@SMI AS VARCHAR(15)), 3
					UNION
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/LJ_HS_EA_Tile.jpg','LIZ JAMES CHARM NECKLACE','Shop','/lizjames?smi=' + CAST(@SMI AS VARCHAR(15)), 4
					UNION
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_EA_Tile.jpg','ACCOMPLISHMENTS ACHIEVED','Shop','../diploma-frames?smi=' + CAST(@SMI AS VARCHAR(15)), 5
					--UNION
					--SELECT [AnnouncementsImageLink],'ANNOUNCEMENTS','Shop','http://orders.balfour.com/smi' + CAST(@SMI AS VARCHAR(15)) + '/catalog/category/view/s/personalized-college-announcements/id/312673?smi=' + CAST(@SMI AS VARCHAR(15)), 6 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/GraduationBox_EA_Tile.jpg','GRADUATION KEEPSAKE BOX','Shop','/shop/collections/keepsake-box?smi' + CAST(@SMI AS VARCHAR(15)) + '/catalog/category/view/s/personalized-college-announcements/id/312673?smi=' + CAST(@SMI AS VARCHAR(15)), 6 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
					UNION
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_EA_Tile.jpg','DIPLOMA FRAMES','Shop','/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(15)), 7
					SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/GradGifts_EA_Tile.jpg','GRADUATION GIFTS','Shop','/shop/collections/graduation-gifts/message?smi=' + CAST(@SMI AS VARCHAR(15)), 7
					--UNION
					--SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/BoomBoxGifts_EA_Tile.jpg','BOOMBOX GIFTS','Shop','https://boomboxgifts.com/digital/product/digital-boom/' /*+ CAST(@SMI AS VARCHAR(15))*/, 8
				END
			

			SELECT
			 ISNULL([Title],'') as [title]
			,ISNULL(vc.[Description],'') as [description]
			,UPPER(FORMAT ([EventDTM], 'dddd ')) + LOWER(FORMAT([EventDTM],'hh:mm tt ')) + LOWER([Timezone]) + '<br />' + FORMAT([EventDTM], 'MMMM d, yyyy') as [date]
			,@SMI as [sMI]
			,ISNULL([GoNowLink],'') as [goNowLink]
			,CASE WHEN ISNULL([GoNowLink],'') = '' THEN CAST(0 as BIT) ELSE /*Going to want to limit this to 24 hours prior to event*/CASE WHEN dbo.fn_DateTime_To_Central(GETDATE()) >= DATEADD(hour,-24,[EventDTM]) THEN CAST(1 as BIT) ELSE CAST(0 as BIT) END END as [showEventGoNow]
			,ISNULL([PhotoStoryLink],'') as [photoStoryLink]
			,ISNULL([InsertDownloadLink],'') as [insertDownloadLink]
			,ISNULL([TributeLink],'') as [tributeLink]
			,ISNULL([BoomBoxLink],'') as [boomBoxLink]
			,(SELECT [imageLink], [title], [linkText], [link] + CAST(@SMI as VARCHAR(15)) as [link], ISNULL([copy],'') as [copy] FROM @Core WHERE (1/*[flag] & vc.[coreProductsFlags]*/) > 0  ORDER BY [Sort_order] FOR JSON PATH) as  [coreProductsList] 
			/* Anything which does not vary by school but may change at some time in the future goes here. */
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/D_PhotoStory.jpg' as [videoThumbnailDesktop]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/M_PhotoStory_339x250_%402x.png' as [videoThumbnailMobile]
			,CASE WHEN /*[dbo].[fn_get_yearbook_grade_level_for_smi](@SMI)*/@Level = 'COLLEGE' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile_v2.jpg' END AS [affinityPageTile]
			,CASE WHEN /*[dbo].[fn_get_yearbook_grade_level_for_smi](@SMI)*/@Level = 'COLLEGE' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/VirtualCommencement_Banner.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/D_AnnouncmentInsert_Banner_v2.jpg' END AS [topHeroBannerDesktop]
			,CASE WHEN /*[dbo].[fn_get_yearbook_grade_level_for_smi](@SMI)*/@Level = 'COLLEGE' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/M_VC_Banner_2x.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/M_VC_Banner_2x_v2.jpg' END AS [topHeroBannerMobile]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/D_AnnouncmentInsert_Banner.png' AS [announcementBannerDesktop]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/M_AnnouncementInsert_Banner_2x.jpg' AS [announcementBannerMobile]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/Affinity_banner_D_slice.jpg' AS [affinityBannerDesktop]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/Affinity_banner_M.jpg' AS [affinityBannerMobile]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/D_KS_Banner_College.jpg' AS [ksBannerDesktop]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/M_KS_Banner_College.jpg' AS [ksBannerMobile]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/Boombox.jpg' AS [boomBoxLogo]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/Tribute.jpg' AS [tributeLogo]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/ClassApparel_EA_Tile.jpg' AS [eaProductsClassApparel]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_EA_Tile.jpg' AS [eaProductsDiplomaFrame]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/KS2_EA_Tile.jpg' AS [eaProductsKendraScott]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/LJ_EA_Tile.jpg' AS [eaProductsLizJames]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/TasselToppers_EA_Tile.jpg' AS [eaProductsTasselToppers]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/YardSign_EA_Tile.jpg' AS [eaProductsYardSigns]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/Classof2020_TShirt_VC_Tile.jpg' AS [coreProducts2020]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/DiplomaFrame_VC_Tile.jpg' AS [coreProductsDiplomaFrame]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/HSRingCluster_VC_Tile.jpg' AS [coreProductsRings]
			--Text
			,'Your Photo Story' as [photoStoryTitle]
			,'Every grad''s story is important, and we''re partnering with your school to provide you and each of your classmates a Custom Photo Story to share via social. All we need is your picture and a little bit of information about you and your degree. After your commencement, we''ll send your Custom Photo Story celebrating your achievement at no cost to you.' as [photoStoryBodyCopy]
			,'VIEW A SAMPLE PHOTO STORY' as [photoStoryButton]
			,'Announcement Insert' as [announcementInsertTitle]
			,'Update friends and family about your graduation ceremony. Choose from three options.  <span class="hidden-xs" style="text-decoration:underline;color:#3aa7e2;">Download and Print</span>' as [announcementInsertBodyCopy]
			,'Download and Print' as [announcementInsertLink]
			,'Celebrate the Class of 2020<br />A Gift Guide' as [giftGuideTitle]
			,'Decide how to best celebrate this extraordinary moment and share it with everyone in your life.' as [eaProductsTitle]
			,'Create a Virtual Message to the Graduate' as [virtualMessageTitle]
			,'BOOMBOX GIFTS' as [virtualMessageBoxOneTitle]
			,'Create a collection of customized messages and photos to show your grad all the love and support they have from loved ones!' as [virtualMessageBoxOneBodyCopy]
			,'GO TO BOOMBOX' as [virtualMessageBoxOneButton]
			,'TRIBUTE' as [virtualMessageBoxTwoTitle]
			,'Easily create a collaborative video montage as a gift for your graduate.' as [virtualMessageBoxTwoBodyCopy]
			,'GO TO TRIBUTE' as [virtualMessageBoxTwoButton]
			,ISNULL(vc.TopHeroTitle,'Join YOUR Virtual Commencement') as [topHeroTitle]
			,'GO NOW' as [topHeroLink]
			,'GO NOW' as [topHeroLinkTwo]
			--,'KrN9CtnzN4o' as [youTubeVideoID]
			/* End of stuff that may change in the future. */
			,[PhotoStoryLink] as [youTubeVideoID]
			,REPLACE(REPLACE(REPLACE (ISNULL([HTMLContent],'')+' '+ISNULL([JavaScript],''),CHAR(10),' '),CHAR(13),' '),'~smi~',CAST(@SMI AS VARCHAR(15)))  as [promoContent]
			
			,(SELECT [imageLink], [title], [linkText], [link] FROM @EAProducts  ORDER BY [sortOrder] FOR JSON PATH) as [eAProductsList]
			,(
			  SELECT ISNULL([title],'') as [title], ISNULL([Description],'') as [description], UPPER(FORMAT ([EventDTM], 'dddd ')) + LOWER(FORMAT([EventDTM],'hh:mm tt ')) + LOWER(vc.[Timezone]) + '<br />' + FORMAT([EventDTM], 'MMMM d, yyyy') as [date]
			  , LOWER(ISNULL([link],'')) as [link], CASE WHEN ISNULL([GoNowLink],'') = '' THEN CAST(0 as BIT) ELSE /*Going to want to limit this to 24 hours prior to event*/CASE WHEN dbo.fn_DateTime_To_Central(GETDATE()) >= DATEADD(hour,-24,[EventDTM]) THEN CAST(1 as BIT) ELSE CAST(0 as BIT) END END as [showEventGoNow]
			  FROM [dbo].[VirtCommDetail] WHERE [ParentGUID] = vc.[GUID] AND [enabled] = 1  FOR JSON PATH
			 ) as [childEventsList]
			FROM [dbo].[virtcommmaster] as vc
			LEFT JOIN [dbo].[ConditionalContent] bo on bo.[GUID] = vc.[promoLink]
			WHERE [SMI] = @SMI
			AND ISNULL(vc.[Enabled],0) = 1
			FOR JSON PATH
	--	END
	--ELSE
	--	BEGIN
	--		SELECT 'none' as [results]
	--		FOR JSON PATH
	--	END
END
GO
