/****** Object:  StoredProcedure [dbo].[get_iconic_recs_from_cache_old]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 5/13/2019
-- Description: Get recommendations for iconic from cached table using SMIID
-- =============================================
CREATE PROCEDURE [dbo].[get_iconic_recs_from_cache_old]
(
    -- Add the parameters for the stored procedure here
	@iconicschoolid INT
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	--select TOP (10) min([imageurl]), min([itemurl]), min([sku]), min([productname]), min([retailprice]), min([iconicid]), min([smiid])
	--from iconicRecCache
	--where iconicid = @iconicschoolid -- 106779 -- 101717
	--group by rank, [Class]
	--order by rank asc

	SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank
	FROM    (
			SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank,
					ROW_NUMBER() OVER (PARTITION BY [Class] ORDER BY rank asc) AS rn
			FROM    iconicRecCache
			where iconicid = @iconicschoolid
			) q
	WHERE   rn = 1
	order by rank asc



END
GO
