/****** Object:  StoredProcedure [dbo].[s_diagnostic_digital_codes]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11/11/2020
-- Description: Sends out an email if we need more digital codes
-- Altered on:	1/17/2023 - BAS-6933
-- =============================================
CREATE PROCEDURE [dbo].[s_diagnostic_digital_codes]
(
	@Debugging BIT = 0
)
--EXEC s_diagnostic_digital_codes @Debugging = 1
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @HTML VARCHAR(MAX), @Loop INT, @Max INT, @RowColor VARCHAR(10), @AltRowColor VARCHAR(10)
   	DECLARE @Remaining INT
	DECLARE @Sources TABLE ([SourceName] VARCHAR(100), [GUID] VARCHAR(50), [Remaining] INT, [Loop] INT IDENTITY(1,1))

	INSERT INTO @Sources ([SourceName],[GUID],[Remaining])
	SELECT [SourceName], [GUID], ((SELECT COUNT(*) FROM [dbo].[DigitalCodes] WHERE [Source_GUID] = DCS.GUID AND ISNULL([KeyForIssued],'') = '')) 
	FROM [dbo].[DigitalCodeSources] DCS 
	WHERE (SELECT COUNT(*) FROM [dbo].[DigitalCodes] WHERE [Source_GUID] = DCS.GUID) > 0 
	AND (SELECT COUNT(*) FROM [dbo].[DigitalCodes] WHERE [Source_GUID] = DCS.GUID AND ISNULL([KeyForIssued],'') = '') < CASE WHEN @Debugging = 0 THEN 31 ELSE 200 END
	AND [GUID] NOT IN  ('BDCC9B09-B263-4E35-9011-F5A696425ECB', '7981C00A-E8F8-4B32-8C3B-F8FA1156183F', '6941561E-57C6-493A-93D9-CFF8EDDF0CD9') --This one is a test Source

	-- Gradpack Voucher codes
	INSERT INTO @Sources ([SourceName],[GUID],[Remaining])
	SELECT x.ARC_Item_Code + ' ' + 'Magento Rule ID ' + CAST(x.MAGE_Rule_ID as varchar(20)), '', (SELECT COUNT(*) FROM MAGE_salesrule_coupon msc LEFT JOIN CouponCodesIssued cci on msc.coupon_id = cci.Coupon_ID WHERE msc.rule_id = x.MAGE_Rule_ID AND cci.Coupon_ID IS NULL)
	FROM Amount_Rule_ARCItem_XRef x
	WHERE x.MAGE_Rule_ID > 3000
	AND (SELECT COUNT(*) FROM MAGE_salesrule_coupon msc LEFT JOIN CouponCodesIssued cci on msc.coupon_id = cci.Coupon_ID WHERE msc.rule_id = x.MAGE_Rule_ID AND cci.Coupon_ID IS NULL) < 200
	
	IF EXISTS (SELECT * FROM @Sources)
		BEGIN
			--Build the email body
			
			SELECT @HTML = '<table><tr bgcolor="#4E2683"><font color="#FFFFFF"><th>Source</th><th>Codes Remaining</th></font></tr>', @RowColor = '#E7D1A4', @AltRowColor = '#FFFFFF'
			SELECT @Max = MAX([Loop]), @Loop = 1 FROM @Sources
			WHILE @Loop <= @Max
				BEGIN
					SELECT @HTML = @HTML + '<tr bgcolor="' + CASE WHEN (@loop % 2) = 0 THEN @RowColor ELSE @AltRowColor END +  '"><td>' + [SourceName] + '</td><td align="right">' +  CAST([Remaining] AS VARCHAR(15)) + '</td></tr>' FROM @Sources WHERE [Loop] = @Loop
					SET @Loop = @Loop + 1
				END
			SET @HTML = @HTML + '</table>'
			--SELECT @HTML = 'HTML HERE'
			INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
			VALUES
			(
				'Report' /*Always use 'Report'*/
				,'Balfour' /*Always use Balfour.*/
				,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
				,'Low Digital Code Warning' /*Description of the queue entry. lindsay.lamb@balfour.com*/
				,CASE WHEN @Debugging = 0 THEN 'Jennifer.Fitzgerald@balfour.com' ELSE 'jkaufman@iconicgroup.com' END /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/ --
				,CASE WHEN @Debugging = 0 THEN '{"cc":"Pravin.Venkatraj@balfour.com","bcc":"jkaufman@iconicgroup.com"' ELSE '{"cc":"","bcc":""' END + ',"fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"More Digital Codes Needed","body":"' + REPLACE(REPLACE(@HTML,'"','\"'),'/','\/') + '"}'
				,'Data.html' /*Name of the attachment.*/
				,CAST(@HTML AS VARBINARY(MAX)) /*The actual data you are attaching.*/
			)
			SELECT SCOPE_IDENTITY(), REPLACE(REPLACE(@HTML,'"','\"'),'/','\/'), @HTML
		END

	--Do the same thing for Magento codes
	SELECT @remaining = COUNT(*) FROM [dbo].[MAGE_salesrule_coupon] WHERE [rule_id] =1006 AND [Coupon_ID] NOT IN (SELECT [Coupon_ID] FROM [dbo].[CouponCodesIssued] WHERE [Coupon_ID] IS NOT NULL) 
	IF @Remaining <= 200
		BEGIN
			SELECT @HTML = '<table><tr bgcolor="#4E2683"><font color="#FFFFFF"><th>Source</th><th>Codes Remaining</th></font></tr>', @RowColor = '#E7D1A4', @AltRowColor = '#FFFFFF'
			SELECT @HTML = @HTML +  '<tr bgcolor="' + @RowColor +  '"><td>Magento Rule 1006</td><td align="right">' +  CAST(@Remaining AS VARCHAR(15)) + '</td></tr>' +
			'</table>'
			INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
			VALUES
			(
				'Report' /*Always use 'Report'*/
				,'Balfour' /*Always use Balfour.*/
				,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
				,'Low Magento Voucher Code Warning' /*Description of the queue entry. lindsay.lamb@balfour.com*/
				,'eudora.choi@balfour.com'  /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/ --
				,'{"cc":"william.crooks@balfour.com","bcc":""' + ',"fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"More Voucher Codes Needed","body":"' + REPLACE(REPLACE(@HTML,'"','\"'),'/','\/') + '"}'
				,'Data.html' /*Name of the attachment.*/
				,CAST(@HTML AS VARBINARY(MAX)) /*The actual data you are attaching.*/
			)
		END
END
GO
