/****** Object:  StoredProcedure [dbo].[s_get_smilists_records]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/13/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_smilists_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --Name, GUID
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [SMILists] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [SMILists].
--##PD @searchField - The field to search on (Name, GUID)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [SMILists].
--EXEC s_get_smilists_records @ID = 1
--DECLARE @totalRecords INT; EXEC s_get_smilists_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		DECLARE @SMIs VARCHAR(MAX), @Comma VARCHAR(1), @SMIListGUID VARCHAR(50)
		SELECT @SMIs = '', @Comma = '', @SMIListGUID = [GUID] FROM [dbo].[SMILists] WHERE [ID] = @ID
		SELECT @SMIs = @SMIs + @Comma + CAST([SMI] AS VARCHAR(15)), @Comma = ',' FROM [dbo].[SMIListsDetails] WHERE [SMIListGUID] = @SMIListGUID
		SELECT
		 [Name]
		,[Include]
		,[Enabled]
		,CASE WHEN [StartDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([StartDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [StartDate]
		,CASE WHEN [EndDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([EndDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [EndDate]
		,[ID]
		,[Description]
		--If we are returning a single record, it is for editing purposes and we should return the comma-delimited list of SMIs
		,@SMIs as [SMIs]
		,[GUID]
		FROM [SMILists]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[SMILists]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [SMILists]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Name],'') END
		AND ISNULL([GUID],'') LIKE CASE WHEN @searchField = 'GUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GUID],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [Name]
				,[Include]
				,[Enabled]
				,CASE WHEN [StartDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([StartDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [StartDate]
				,CASE WHEN [EndDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([EndDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [EndDate]
				,[ID]
				,[Description]
				,[GUID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Name' THEN [Name] WHEN 'Description' THEN [Description] END DESC) as RowNumber
				FROM [dbo].[SMILists]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Name],'') END
				AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [Name]
				,[Include]
				,[Enabled]
				,CASE WHEN [StartDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([StartDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [StartDate]
				,CASE WHEN [EndDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([EndDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [EndDate]
				,[ID]
				,[Description]
				,[GUID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Name' THEN [Name] WHEN 'Description' THEN [Description] END) as RowNumber
				FROM [dbo].[SMILists]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Name],'') END
				AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
