/****** Object:  StoredProcedure [dbo].[s_get_cap_and_gown_late_fees]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 2/9/2022
-- Description: Checks to see if SMI has cap & gown and late fees
-- =============================================
CREATE PROCEDURE [dbo].[s_get_cap_and_gown_late_fees]
(
    @SMI bigint = null
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @CapAndGownUrl VARCHAR(255) = ''
	DECLARE @GradPackUrl VARCHAR(255) = ''
	DECLARE @Charge MONEY = 0.00
	DECLARE @StartDate SMALLDATETIME = NULL
	DECLARE @EndDate SMALLDATETIME = NULL
	DECLARE @TrueStartDate SMALLDATETIME = NULL
	DECLARE @ShowWarning BIT = 0

	-- start showing the warning this number of days before the late fee begins
	DECLARE @StartShowingWarningDays INT = 45

    IF @SMI IS NOT NULL
		BEGIN		
			SET @CapAndGownUrl = dbo.[fn_Affinity_CapAndGownUrl](@SMI)
			SET @GradPackUrl = dbo.[fn_Affinity_GradPackUrl](@SMI)

			-- if one of the URLs is not blank the SMI is selling Cap and Gowns
			IF LEN(@CapAndGownUrl) > 0 OR LEN(@GradPackUrl) > 0
				BEGIN
					-- check for the late for the SMI (SKU = A0248371A0000)
					SELECT @Charge = price, @TrueStartDate = from_date, @StartDate = DATEADD(d, @StartShowingWarningDays, from_date), @EndDate = to_date
					FROM MAGE_balfour_product_smi_scoped_price
					WHERE sku = 'A0248371A0000' AND smi = @SMI AND price > 0

					-- if today is on or after the start date AND today is not passed the end date, show the warning
					IF GETDATE() >= @TrueStartDate AND (@EndDate IS NULL OR @EndDate >= GETDATE())
						BEGIN
							SET @ShowWarning = 1
						END
				END
		END

	SELECT @SMI as SMI, @CapAndGownUrl AS CapAndGownUrl, @GradPackUrl AS GradPackUrl, @Charge AS Charge, CONVERT(VARCHAR(50), @StartDate, 127) AS StartDate, CONVERT(VARCHAR(50), @EndDate, 127) AS EndDate, @ShowWarning AS ShowWarning
	FOR JSON PATH, INCLUDE_NULL_VALUES 
END
GO
