/****** Object:  StoredProcedure [dbo].[Canto_LogEvent]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 06/16/2020
-- Description: Adds a new log entry to the CantoAccessLogs table
-- =============================================
CREATE PROCEDURE [dbo].[Canto_LogEvent]
(
    @LogMessage as varchar(max),
    @LogLevel as varchar(20),
	@IPAddress as varchar(50)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    INSERT INTO CantoAccessLogs
	(LoggedDate, LogLevel, LogMessage, IPAddress)
	VALUES
	(
		getdate(),
		@LogLevel,
		@LogMessage,
		@IPAddress
	)
END
GO
