/****** Object:  StoredProcedure [dbo].[s_update_contentmainnavdetails_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 10/5/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_contentmainnavdetails_record]
(
 @ContentMainNavGUID VARCHAR(50) = NULL
,@GUID VARCHAR(50) = NULL
,@HTMLContent VARCHAR(MAX) = NULL
,@ID INT = NULL
,@ItemName VARCHAR(100) = NULL
,@LastModified DATETIME = NULL
,@ModifiedBy VARCHAR(50) = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [ContentMainNavDetails].
--##RS1 The [ID] value of the inserted/updated record in the table [ContentMainNavDetails].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [ContentMainNavDetails] ( [GUID],[LastModified],[ContentMainNavGUID],[HTMLContent],[ModifiedBy],[ItemName])
       VALUES ( NEWID(),GETDATE(),@ContentMainNavGUID,@HTMLContent,@ModifiedBy,@ItemName)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
	SELECT @ContentMainNavGUID = [ContentMainNavGUID] FROM [dbo].[ContentMainNavDetails] WHERE [ID] = @ID
    UPDATE [ContentMainNavDetails] SET
     --[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
     [LastModified] = GETDATE()
    --,[ContentMainNavGUID] = CASE WHEN @ContentMainNavGUID IS NULL THEN [ContentMainNavGUID] ELSE @ContentMainNavGUID END
    ,[HTMLContent] = CASE WHEN @HTMLContent IS NULL THEN [HTMLContent] ELSE @HTMLContent END
    ,[ModifiedBy] = CASE WHEN @ModifiedBy IS NULL THEN [ModifiedBy] ELSE @ModifiedBy END
    ,[ItemName] = CASE WHEN @ItemName IS NULL THEN [ItemName] ELSE @ItemName END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END
UPDATE [dbo].[ContentMainNav] SET [LastModifiedDTM] = GETDATE() WHERE [GUID] = @ContentMainNavGUID
SELECT
 [GUID]
,FORMAT(dbo.fn_DateTime_to_Central([LastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [LastModified]
,[ContentMainNavGUID]
,[HTMLContent]
,[ID]
,[ModifiedBy]
,[ItemName]

FROM dbo.[ContentMainNavDetails]
WHERE [ID] = @ID_Out
GO
