/****** Object:  StoredProcedure [dbo].[s_delete_smilists_record]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/13/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_smilists_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [SMILists].
--##PD @ID in [SMILists].
--##RS1 -NONE-
SET NOCOUNT ON
DECLARE @GUID VARCHAR(50)
SELECT @GUID = [GUID] FROM [dbo].[SMILists] WHERE [ID] = @ID
DELETE FROM [dbo].[SMIListsDetails] WHERE [SMIListGUID] = @GUID
DELETE FROM [dbo].[SMILists] WHERE [ID] = @ID


GO
