/****** Object:  StoredProcedure [dbo].[s_update_mage_v_sales_orders_after_import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SProc:  s_update_mage_v_sales_orders_after_import
--Author:  TL  william.crooks@balfour.com
--Description:  Updates MAGE_v_Sales_Order
--Support Contact:  TL william.crooks@balfour.com
--Schedule:  Daily at 3:00 AM
CREATE PROCEDURE [dbo].[s_update_mage_v_sales_orders_after_import]
AS
SET NOCOUNT ON
  DECLARE @OldMax BIGINT
  SELECT @OldMax = MAX(Item_Id) FROM [dbo].[MAGE_v_sales_orders]
  SELECT @OldMax
  INSERT INTO [dbo].[MAGE_v_sales_orders] ([item_id],[order_date],[smi],[Qty_Ordered],[SKU],[Row_Total_Incl_Tax],[Order_ID])
  SELECT DISTINCT [item_id],[order_date],[smi],[Qty_Ordered],[SKU],[Row_Total_Incl_Tax],[Order_ID] 
  FROM [dbo].[v_sales_orders_import] WHERE [Item_ID] > @OldMax 

  DECLARE @LastUpdate VARCHAR(50)
  SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()), 'MM/dd/yyyy hh:mm:ss tt')
  EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_sales_orders', @AttribName = 'LastUpdate', @Value = @LastUpdate	
  SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(DATEADD(hour,24,GETDATE())), 'MM/dd/yyyy hh:00:00 tt')
  EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_sales_orders', @AttribName = 'NextUpdate', @Value = @LastUpdate	
				

GO
