/****** Object:  StoredProcedure [dbo].[s_update_cache_busting_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 10/17/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_cache_busting_record]
(
 @Cache_Code VARCHAR(50) = NULL
,@Cache_Name VARCHAR(50) = NULL
,@Description VARCHAR(MAX) = NULL
,@ID INT = NULL
,@Prod_Auth_Token VARCHAR(50) = NULL
,@Prod_URL VARCHAR(100) = NULL
,@QA_Auth_Token VARCHAR(50) = NULL
,@QA_URL VARCHAR(100) = NULL
,@Cache_Type INT = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [Cache_Busting].
--##RS1 The [ID] value of the inserted/updated record in the table [Cache_Busting].

IF ISNULL(@ID,0) < 1--Insert
  BEGIN
    INSERT INTO [Cache_Busting] ( [Cache_Name] )
       VALUES ( '{New - ' + CAST(GETDATE() AS VARCHAR(25)) + '}' )
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [Cache_Busting] SET
     [Cache_Name] = CASE WHEN @Cache_Name IS NULL THEN [Cache_Name] ELSE @Cache_Name END
    ,[Cache_Code] = CASE WHEN @Cache_Code IS NULL THEN [Cache_Code] ELSE @Cache_Code END
    ,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
    ,[QA_URL] = CASE WHEN @QA_URL IS NULL THEN [QA_URL] ELSE @QA_URL END
    ,[Prod_URL] = CASE WHEN @Prod_URL IS NULL THEN [Prod_URL] ELSE @Prod_URL END
    ,[QA_Auth_Token] = CASE WHEN @QA_Auth_Token IS NULL THEN [QA_Auth_Token] ELSE @QA_Auth_Token END
    ,[Prod_Auth_Token] = CASE WHEN @Prod_Auth_Token IS NULL THEN [Prod_Auth_Token] ELSE @Prod_Auth_Token END
	,[Cache_Type] = CASE WHEN @Cache_Type IS NULL THEN [Cache_Type] ELSE @Cache_Type END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END
SELECT
 [Cache_Name]
,[Cache_Code]
,[Description]
,[QA_URL]
,[Prod_URL]
,[QA_Auth_Token]
,[Prod_Auth_Token]
,ISNULL([Cache_Type],0) as [Cache_Type]
,[ID]
FROM dbo.[Cache_Busting] WHERE [ID] = @ID_OUT
GO
