/****** Object:  StoredProcedure [dbo].[s_pricing_test]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_pricing_test]
AS
SET NOCOUNT ON

select distinct
	-- top 1000 
	  PIM.SKU AS [PIM SKU]
	, MAGE.SKU AS [MAGENTO SKU] -- COST.SKU,
	,  MAGE.[PRODUCT NAME]
	, MAGE.[RETAIL PRICE] as [MAGE RETAIL PRICE]
	, MAGE.[SPECIAL PRICE (% FOR BUNDLES)] as [MAGE SPECIAL PRICE (% FOR BUNDLES)]
	, COST.[PurchasePrice] as [COST]
	, COST.[BasePrice]
	, ATTRMP.tagvalue AS [MAP Price]
	, ROUND(CAST(((MAGE.[SPECIAL PRICE (% FOR BUNDLES)] - COST.[PurchasePrice]) / MAGE.[SPECIAL PRICE (% FOR BUNDLES)]) * 100 AS DECIMAL(18,2)),0) AS [Margin %] -- Margin: (sale price - cost) / sale price
	, ROUND(CAST(((MAGE.[RETAIL PRICE] - MAGE.[SPECIAL PRICE (% FOR BUNDLES)]) / MAGE.[RETAIL PRICE]) * 100 AS DECIMAL(18,2)),0) AS [Sale %] -- Margin: (sale price - cost) / sale price
	--, MAP.CLASS
	, MAGE.[Vendor Id], MAGE.[Quantity in Stock]
	, MAGE.[Updated On] AS [MAGENTO Updated On]
	, MAGE.[Created On] AS [MAGENTO Created On]
	, PIM.[lastchangedate] AS [PIM lastchangedate]
	, PIM.[createddate] AS [PIM createddate]
	--, PIM.ID AS PIM_ID
	--DROP THE XML TO REDUCE THE FILE SIZE--, CAST(PIM.[pimxml] AS NVARCHAR(MAX)) AS [PIM XML]
	-- PIM.PRODUCTNAME, PIM.COSTPRICE, PIM.MANUFACTURER, PIM.BRAND
	-- , * 
from 
	--[dbo].[magento_manual_product_dataset] AS MAGE INNER JOIN
	[dbo].[B2-Prod-ProductListing_Import] as MAGE INNER JOIN
	[dbo].[item] AS PIM ON (LEFT(MAGE.sku, 8) = PIM.sku) INNER JOIN
	--[dbo].[NetSuiteSkuClassMapping] AS MAP ON (LEFT(MAGE.SKU,8) = MAP.SKU2) INNER JOIN 
	[dbo].[CostPriceResults906] AS COST ON MAGE.SKU = COST.SKU 
	INNER JOIN [dbo].[itemattributes] AS ATTR ON PIM.id = ATTR.itemid AND (ATTR.tagtype = 'a_EC' AND ATTR.tagvalue = 'BALFOUR DIRECT')
	LEFT JOIN [dbo].[itemattributes] AS ATTRMP ON PIM.id = ATTRMP.itemid AND ATTRMP.tagtype = 'a_MAP'
where 
	MAGE.[Enhanced Commerce] = 'BALFOUR DIRECT'
	AND MAGE.[PRODUCT NAME] NOT LIKE '%ALEX AND ANI%'
	--AND MAGE.[Quantity in Stock] >0
	AND MAGE.STATUS = 'Enable'
	--AND ATTR.tagtype = 'a_MAP' 
	
	-- AND ATTR.tagtype = 'a_NetSuiteVendorID'
	--TRY LEAVING EVERYTHING IN, PRICED OR NOT --AND ISNULL(MAGE.[SPECIAL PRICE (% FOR BUNDLES)],'') = ''-- IS NULL
	--AND MAGE.[SKU] = 'A0150331A0000'
order by 
	--[PIM createddate] desc,
	--[PIM lastchangedate] desc,
	--[MAGENTO Updated On] desc
	MAGE.[SPECIAL PRICE (% FOR BUNDLES)]
	-- Make sure data is up to date
-- remove ALEX AND ANI  X
-- use product name mktg - cant find yet
-- preferred vendor for brand - cant find yet


/*
order by
	[Margin %] asc
*/
GO
