/****** Object:  StoredProcedure [dbo].[s_update_item_primary_attributes]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Trishan Singh
-- Create Date: 2019-05-01
-- Description: Update Item with primary attributes
-- =============================================
CREATE PROCEDURE [dbo].[s_update_item_primary_attributes]
(
    -- Add the parameters for the stored procedure here
    @p1 int = 0,
    @p2 int = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    SELECT @p1, @p2

	--SELECT        dbo.item.id, dbo.item.parentid, dbo.item.usertypeid, dbo.item.sku, dbo.item.name, dbo.item.productname, dbo.item.configtype, dbo.item.dropship, dbo.item.manufacturer, dbo.item.brand, dbo.item.pimxml, 
    --                     dbo.item.lastchangedate, dbo.item.createddate, dbo.itemattributes.tagtype, dbo.item.productclass, dbo.itemattributes.tagvalue
	UPDATE dbo.item 
	SET dbo.item.productclass = dbo.itemattributes.tagvalue
	FROM            dbo.item INNER JOIN
                         dbo.itemattributes ON dbo.item.id = dbo.itemattributes.itemid
	WHERE        (dbo.item.pimxml IS NOT NULL) AND (dbo.item.usertypeid = 'Item') AND (dbo.itemattributes.tagtype = 'a_Class')
	
	UPDATE dbo.item 
	SET dbo.item.productname = dbo.itemattributes.tagvalue
	FROM            dbo.item INNER JOIN
                         dbo.itemattributes ON dbo.item.id = dbo.itemattributes.itemid
	WHERE        (dbo.item.pimxml IS NOT NULL) AND (dbo.item.usertypeid = 'Item') AND (dbo.itemattributes.tagtype = 'a_ProductName')

	UPDATE dbo.item 
	SET dbo.item.manufacturer = dbo.itemattributes.tagvalue
	FROM            dbo.item INNER JOIN
                         dbo.itemattributes ON dbo.item.id = dbo.itemattributes.itemid
	WHERE        (dbo.item.pimxml IS NOT NULL) AND (dbo.item.usertypeid = 'Item') AND (dbo.itemattributes.tagtype = 'a_Manufacturer')

	
	UPDATE dbo.item 
	SET dbo.item.configprod = dbo.itemattributes.tagvalue
	FROM            dbo.item INNER JOIN
                         dbo.itemattributes ON dbo.item.id = dbo.itemattributes.itemid
	WHERE        (dbo.item.pimxml IS NOT NULL) AND (dbo.item.usertypeid = 'Item') AND (dbo.itemattributes.tagtype = 'a_ConfigProd')



END
GO
