/****** Object:  StoredProcedure [dbo].[s_add_MarketingAdmin_log]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 3/9/2022
-- Description: Adds an entry to MarketingAdminLogs
-- =============================================
CREATE PROCEDURE [dbo].[s_add_MarketingAdmin_log]
(
    @UserId varchar(255),
	@LogType varchar(50),
	@LogDate smalldatetime,
	@LogMessage varchar(max),
	@PageUrl varchar(500),
	@IPAddress varchar(25),
	@Browser varchar(500)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    INSERT INTO MarketingAdminLogs
	(
		UserId, LogType, LogDate, LogMessage, PageUrl, IPAddress, Browser
	)
	VALUES
	(
		@UserId,
		@LogType,
		@LogDate,
		@LogMessage,
		@PageUrl,
		@IPAddress,
		@Browser
	)
END
GO
