/****** Object:  StoredProcedure [dbo].[s_process_MAGE_salesrule_coupon]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL  william.crooks@balfour.com
-- Create Date: 02/25/2021
-- Description: Updates [MAGE_salesrule_coupon] from the Magento data using a GLUE job and a Data Factory.
-- Schedule:  3:00 AM and 11:00 PM daily
-- Support Contact:  TL  william.crooksbalfour.com
-- =============================================
CREATE PROCEDURE [dbo].[s_process_MAGE_salesrule_coupon]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	-- disabling this: these now come in via Boomi which calls UPSERT_MAGE_SalesRule_Coupon
	RETURN;

    --Update existing records
	UPDATE [dbo].[MAGE_salesrule_coupon] 
	SET [rule_id] = I.[rule_id], [usage_limit] = I.[usage_limit], [code] = I.[code], [is_primary] = I.[is_primary], [usage_per_customer] = I.[usage_per_customer]
	, [times_used] = I.[times_used], [expiration_date] = I.[expiration_date], [created_at] = I.[created_at], [status] = I.[status]
	FROM  [dbo].[MAGE_salesrule_coupon]  C 
	LEFT JOIN  [dbo].[MAGE_salesrule_coupon_import] I ON I.[coupon_id] = C.[coupon_id]

	--Add new records
	INSERT INTO [dbo].[MAGE_salesrule_coupon] ([rule_id], [usage_limit], [code], [coupon_id], [is_primary], [usage_per_customer], [times_used], [expiration_date], [created_at], [status])
	SELECT [rule_id], [usage_limit], [code], [coupon_id], [is_primary], [usage_per_customer], [times_used], [expiration_date], [created_at], [status]
	FROM [dbo].[MAGE_salesrule_coupon_import] WHERE [coupon_id] NOT IN (SELECT [coupon_id] FROM [dbo].[MAGE_salesrule_coupon])

	DECLARE @LastUpdate VARCHAR(50)
	--Updates at 3AM and 11PM
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_salesrule_coupon', @AttribName = 'LastUpdate', @Value = @LastUpdate
	IF  DATEPART(hour,GETDATE()) = 23
		BEGIN
			SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(DATEADD(day,1,GETDATE())),'MM/dd/yyyy 03:00:00') + ' AM'
		END
	ELSE
		BEGIN
			SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy 11:00:00') + ' PM'	
		END
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_salesrule_coupon', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
