/****** Object:  StoredProcedure [dbo].[s_xml_mapping_quote_file_for_silverpop]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 06/24/2020
-- Description: generate xml mapping file for Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_xml_mapping_quote_file_for_silverpop] --s_xml_mapping_quote_item_file_for_silverpop
 
AS
-- exec [s_xml_mapping_file_for_silverpop]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @columns VARCHAR(MAX)
	DECLARE @mapping VARCHAR(MAX)

	SELECT  @columns = STRING_AGG( '<COLUMN><NAME>' + 
						CASE WHEN COLUMN_NAME = 'entity_id' THEN 'EntityID'
							WHEN COLUMN_NAME = 'store_id' THEN 'StoreID'
							WHEN COLUMN_NAME = 'created_at' THEN 'CreatedAt'
							WHEN COLUMN_NAME = 'updated_at' THEN 'UpdatedAt'
							WHEN COLUMN_NAME = 'customer_id' THEN 'CustomerID'
							WHEN COLUMN_NAME = 'customer_email' THEN 'Email'
							WHEN COLUMN_NAME = 'customer_firstname' THEN 'FirstName'
							WHEN COLUMN_NAME = 'customer_lastname' THEN 'LastName'
							WHEN COLUMN_NAME = 'subtotal' THEN 'SubTotal'
							WHEN COLUMN_NAME = 'global_currency_code' THEN 'Currency' END						
						+ '</NAME>' + 
			'<TYPE>' + CASE WHEN COLUMN_NAME = 'customer_email' THEN '9'
							WHEN DATA_TYPE = 'datetime' THEN '3' WHEN DATA_TYPE = 'bit' THEN '1' 
							WHEN COLUMN_NAME <> 'customer_email' AND (DATA_TYPE = 'nvarchar' OR DATA_TYPE = 'varchar') THEN '0' 							
							ELSE '2' END + '</TYPE>' + 
			'<IS_REQUIRED>true</IS_REQUIRED><HASHEADERS>true</HASHEADERS></COLUMN>', '') FROM  INFORMATION_SCHEMA.COLUMNS
	--WHERE TABLE_NAME = 'quote' AND COLUMN_NAME IN (	'entity_id', 'store_id', 'created_at', 'updated_at', 'customer_id', 'customer_email', 'customer_firstname', 'customer_lastname')
	WHERE TABLE_NAME = 'quote' AND COLUMN_NAME IN ('entity_id','store_id','created_at','updated_at','customer_id','customer_email','customer_firstname','customer_lastname','subtotal','global_currency_code')
	--SELECT @mapping = STRING_AGG( '<COLUMN><INDEX>' + CAST(ORDINAL_POSITION AS VARCHAR) + '</INDEX><NAME>' +  REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(COLUMN_NAME, ' ', ''), '(', ''), ')', ''), '%', ''), '-', '') + '</NAME>' + '<IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>', '') 
	--		FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'quote' AND COLUMN_NAME IN ('entity_id', 'store_id', 'created_at', 'updated_at', 'customer_id', 'customer_email', 'customer_firstname', 'customer_lastname')
	
	SET @columns = @columns + '<COLUMN><NAME>OrderID</NAME><TYPE>2</TYPE><IS_REQUIRED>true</IS_REQUIRED><HASHEADERS>true</HASHEADERS></COLUMN>' +
							  '<COLUMN><NAME>CartAbandonType</NAME><TYPE>0</TYPE><IS_REQUIRED>true</IS_REQUIRED><HASHEADERS>true</HASHEADERS></COLUMN>' +
							  '<COLUMN><NAME>ItemCount</NAME><TYPE>2</TYPE><IS_REQUIRED>true</IS_REQUIRED><HASHEADERS>true</HASHEADERS></COLUMN>'
	
	SET @mapping = '<COLUMN><INDEX>1</INDEX><NAME>EntityID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> 
					<COLUMN><INDEX>2</INDEX><NAME>StoreID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> 
					<COLUMN><INDEX>3</INDEX><NAME>CreatedAt</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> 
					<COLUMN><INDEX>4</INDEX><NAME>UpdatedAt</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> 
					<COLUMN><INDEX>5</INDEX><NAME>CustomerID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> 
					<COLUMN><INDEX>6</INDEX><NAME>Email</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> 
					<COLUMN><INDEX>7</INDEX><NAME>FirstName</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> 
					<COLUMN><INDEX>8</INDEX><NAME>LastName</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>
					<COLUMN><INDEX>9</INDEX><NAME>SubTotal</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>
					<COLUMN><INDEX>10</INDEX><NAME>Currency</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>
					<COLUMN><INDEX>11</INDEX><NAME>OrderID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>
					<COLUMN><INDEX>12</INDEX><NAME>CartAbandonType</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>
					<COLUMN><INDEX>13</INDEX><NAME>ItemCount</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>'
	
	SELECT CONCAT('<?xml version="1.0" encoding="UTF-8"?>
		<LIST_IMPORT><LIST_INFO><ACTION>ADD_AND_UPDATE</ACTION><LIST_ID>32758822</LIST_ID><TABLE_VISIBILITY>1</TABLE_VISIBILITY><FILE_TYPE>1</FILE_TYPE><HASHEADERS>true</HASHEADERS></LIST_INFO>
			<COLUMNS>', @columns,
			'</COLUMNS>
			<MAPPING>', @mapping, 
			'</MAPPING>
		</LIST_IMPORT>') AS xml
END

--select COLUMN_NAME, REPLACE(REPLACE(REPLACE(REPLACE(COLUMN_NAME, ' ', ''), '(', ''), ')', ''), '%', '') 
--FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'magento_automated_product_dataset'  

--select * FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'magento_automated_product_dataset'

/****** Object:  StoredProcedure [dbo].[[s_xml_mapping_quote_item_file_for_silverpop]]    Script Date: 6/26/2020 10:20:01 AM ******/
SET ANSI_NULLS ON
GO
