/****** Object:  StoredProcedure [dbo].[s_prepare_order_import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/18/2020
-- Description: Prepares for quote import by truncating [MAGE_sales_order_import] and [MAGE_sales_order_item_import]
-- =============================================
CREATE PROCEDURE [dbo].[s_prepare_order_import]
--EXEC s_prepare_order_import
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    TRUNCATE TABLE [dbo].[MAGE_sales_order_import]
	TRUNCATE TABLE [dbo].[MAGE_sales_order_item_import]
	TRUNCATE TABLE [dbo].[MAGEcustomer_address_entity_import]
	TRUNCATE TABLE [dbo].[MAGEsales_order_address_import]
	TRUNCATE TABLE [dbo].[MAGECustomer_Entity_import]
END
GO
