/****** Object:  StoredProcedure [dbo].[s_get_contentaffinitypages_urls]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/05/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_contentaffinitypages_urls]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --SMI
	, @searchTerm VARCHAR(MAX) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
--EXEC s_get_contentaffinitypages_records @searchField = 'SMI', @searchTerm = '130996'
--EXEC s_get_contentaffinitypages_records @searchField = 'SMI', @searchTerm = ''
--EXEC s_get_contentaffinitypages_records @ID = 2839
--EXEC s_get_contentaffinitypages_records @searchField = 'specialStatus', @searchTerm = '32'
AS
--##AT AAC
--##BD Retrieves all records from the table [ContentAffinityPages] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [ContentAffinityPages].
--##PD @searchField - The field to search on (SMI)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @startDate The starting date
--##PD @endDate The ending date
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ContentAffinityPages].

--DECLARE @totalRecords INT; EXEC s_get_contentaffinitypages_records @sortField= 'ID', @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 CAP.[SMI]
		
		,'www.balfour.com' + C.[AffinityURL] as [uRL]
		
		FROM [ContentAffinityPages] CAP
		LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
		WHERE [ID] = @ID
		AND CAP.[SMI] > 0

		
		
	END
ELSE
	BEGIN
		
		DECLARE @startRow INT
		DECLARE @endRow INT, @Flags BIGINT
		DECLARE @SMIs TABLE ([SMI] BIGINT)
		SELECT @endrow = 9999999, @startRow = 0, @Flags = 0

		IF @searchField = 'SMI' AND CHARINDEX(',',@searchTerm) > 0
			BEGIN --This is a search for multiple SMIs
				INSERT INTO @SMIs ([SMI]) SELECT [value] FROM string_split(@searchTerm,',')

				--Return them all
 				SELECT
					CAP.[SMI]
					,'www.balfour.com' + C.[AffinityURL] as [uRL]
				FROM [ContentAffinityPages] CAP
				LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
				WHERE CAP.[SMI] IN (SELECT [SMI] FROm @SMIs)
			END
		ELSE
			BEGIN
				
				IF @sortField = '' SET @sortField = @searchField
				IF @searchField = 'specialStatus' SET @Flags = CAST(@SearchTerm as BIGINT)
				PRINT 'Flags=' + CAST(@Flags as VARCHAR(50)) + ' Term=' + @SearchTerm + ' Field=' + @SearchField

				SELECT
					CAP.[SMI]	
					,'www.balfour.com' + C.[AffinityURL] as [uRL]	
				FROM [dbo].[ContentAffinityPages] CAP
				LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND CAP.[SMI] = CASE WHEN @searchField = 'SMI' AND LTRIM(RTRIM(ISNULL(@searchTerm,''))) <> '' AND ISNUMERIC(@searchTerm) = 1 THEN CAST(@searchTerm as BIGINT)  ELSE CAP.[SMI] END
				AND C.AltName LIKE CASE WHEN @searchField = 'schoolName' THEN '%' + @searchTerm + '%' ELSE [AltName] END
				AND ([Flags] & @Flags) > CASE WHEN @searchField = 'specialStatus' THEN 0 ELSE -1 END
				AND [lastModified] BETWEEN @startDate AND @endDate
				AND CAP.[SMI] > 0
						
					
		END


	END
GO
