/****** Object:  StoredProcedure [dbo].[s_get_megamenu_full]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/27/2020
-- Description: Get full megamenu - Balfour 3.1
-- =============================================
CREATE PROCEDURE [dbo].[s_get_megamenu_full]
(
	@xML BIT = 0
)
AS
BEGIN
/* -------  Test Cases ---------- 
 exec s_get_megamenu_full 
 exec s_get_megamenu_full @xML = 1
*/
    SET NOCOUNT ON

	--DECLARE  @tmp_sections Table([Section] VARCHAR(MAX))

	--Insert into @tmp_sections

	--select [Child Menu]
	--From MM_Primary
	--where [Child Menu] IS NOT NULL
	--order by [Sort Order] asc

	--select * from @tmp_sections
	-- select * from MM_Secondary where LINK = 'Needs Link'
	IF @xML = 0 
		SELECT
				PP.Name AS 'ParentName',
				-- PP.[Child Menu] AS 'CMenu',
				-- PP.[SORT ORDER] AS 'Parent Sort Order',
				PP.TYPE AS 'MenuType',
				MegaMenuChildren.LINK AS 'URL',
				MegaMenuChildren.NAME AS 'Name',
				-- MegaMenuChildren.[Parent Menu] AS 'Parent Menu',
				-- MegaMenuChildren.[SORT ORDER] AS 'C Sort Order',
				MegaMenuChildren.TYPE AS 'LinkType'
			FROM MM_Primary PP
			LEFT JOIN MM_Secondary MegaMenuChildren ON MegaMenuChildren.[Parent Menu] = PP.[Child Menu]
			order by PP.[SORT ORDER] ASC, MegaMenuChildren.[SORT ORDER] ASC
			--FOR JSON AUTO, ROOT('MegaMenuRoot')
			FOR JSON PATH
	ELSE
		select 
			  [Tag] as [Tag]
			, ISNULL([Title],'') AS [Title]
			, ISNULL([Description],'') as [Description]
			, ISNULL([URL],'') as [URL]
			, ISNULL([ParentTag],'') as [ParentTag]
			, ISNULL([Icon],'') as [Icon]
			, ISNULL([Type],'') as [Type]
			, [Sort_Order] as [DisplayOrder]
			from [dbo].[MM_Nav]
			WHERE [InProduction] = 1

			Order by [Sort_Order]
			FOR XML PATH ('Menu'), ROOT ('Menus')
		
	-- No need to do this, the join and JSON Auto handle this by itself. 
	-- For each section we get, let's pass that to the sproc and retrieve that data. 
	-- s_get_megamenu_section @Section
	
	/*
	select * from 
	MM_Primary

	select * from 
	MM_Secondary

	select * from 
	MM_Tertiary

	*/


END
GO
