/****** Object:  StoredProcedure [dbo].[s_merge_item_itemattributes]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Han
-- Create Date: 12/17/2020
-- Description: Convert all attributes row from itemattributes table to column name and merge with the item table to get all parent and child skus 
-- =============================================
CREATE PROCEDURE [dbo].[s_merge_item_itemattributes] 
AS
-- EXECUTE dbo.[s_merge_item_itemattributes]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	CREATE TABLE #childSku 
	(
		ItemId VARCHAR(50) NOT NULL UNIQUE CLUSTERED,
		SkuID VARCHAR(13) NOT NULL  
	)
	
	CREATE TABLE #temp
	(
		[ID] VARCHAR(100), [Supplier SKU] VARCHAR(150) NULL, [EAPL] VARCHAR(30) NULL, [Is Magento Ready] VARCHAR(4) NULL, [Is Magento Ready - ArtCarved.com] VARCHAR(4) NULL, [Item Approval] VARCHAR(15) NULL, [Record Status] VARCHAR(15) NULL, [Primary Image ID] VARCHAR(15) NULL, [NetSuite Vendor ID] VARCHAR(100) NULL, [Product Name (Mktg)] VARCHAR(150) NULL, [SKU] VARCHAR(13) NULL, [SKU ID]  VARCHAR(13) NULL, [Cost] MONEY NULL, [MSRP] MONEY NULL, [MAP] MONEY NULL, [Retail Price] MONEY NULL, [Balfour.com - In Magento] VARCHAR(10) NULL, [Priced for Balfour.com] VARCHAR(10) NULL, [ArtCarved.com - In Magento] VARCHAR(10) NULL, [Priced for ArtCarved.com] VARCHAR(10) NULL, [Classification] VARCHAR(150) NULL, [Master License Type] VARCHAR(30) NULL, [License Type - Sports Leagues] VARCHAR(50) NULL, [License Type - Other] VARCHAR(50) NULL, [NFL Licensed Teams] VARCHAR(50) NULL, [NHL Licensed Teams] VARCHAR(50) NULL, [NBA Licensed Teams] VARCHAR(50) NULL, [NCAA Licensed Schools] VARCHAR(50) NULL
	)
	INSERT INTO #childSku (ItemId, SkuID)
	SELECT ItemId, tagvalue AS SkuID FROM itemattributes WHERE tagtype = 'a_skuid'
	
	INSERT INTO #temp([ID], [Supplier SKU], [EAPL], [Is Magento Ready], [Is Magento Ready - ArtCarved.com], [Item Approval], [Record Status], [Primary Image ID], [NetSuite Vendor ID], [Product Name (Mktg)], [SKU], [SKU ID], [Cost], [MSRP], [MAP], [Retail Price], [Balfour.com - In Magento], [Priced for Balfour.com], [ArtCarved.com - In Magento], [Priced for ArtCarved.com], [Classification], [Master License Type], [License Type - Sports Leagues], [License Type - Other], [NFL Licensed Teams], [NHL Licensed Teams], [NBA Licensed Teams], [NCAA Licensed Schools])	
	SELECT [ItemID], [a_DSVendorSku], [a_EAPL], [a_IsMagentoReady], [a_IsArtCarvedReady], [a_ItemApproval], [a_RecordStatus], [a_PrimaryImageID], [a_NetSuiteVendorID], [a_ProductName], [a_SKU], [a_SKUID], [a_Cost], [a_MSRP], [a_MAP], [a_Retail], [InMagento], [a_PricedBalfour], [a_InMagentoAC], [a_PricedArtCarved], [a_Class], [a_MasterLicenseType], [a_LicenseType], [a_LicenseTypeOther], [a_NFLTeams], [a_NHLTeams], [a_NBALTeams], [a_NCAASchools]  
	FROM
	(
	    SELECT [ItemID],
			 [TagType],
			 [TagValue]
		FROM [dbo].itemattributes	
		
	) AS SourceTable PIVOT(MAX([TagValue]) FOR [TagType] IN ([a_DSVendorSku], [a_EAPL], [a_IsMagentoReady], [a_IsArtCarvedReady], [a_ItemApproval], [a_RecordStatus], [a_PrimaryImageID], [a_NetSuiteVendorID], [a_ProductName], [a_SKU], [a_SKUID], [a_Cost], [a_MSRP], [a_MAP], [a_Retail], [InMagento], [a_PricedBalfour], [a_InMagentoAC], [a_PricedArtCarved], [a_Class], [a_MasterLicenseType], [a_LicenseType], [a_LicenseTypeOther], [a_NFLTeams], [a_NHLTeams], [a_NBALTeams], [a_NCAASchools])) AS PivotTable 
	WHERE itemid IN (SELECT ItemID FROM [dbo].itemattributes WHERE tagtype in ('a_DropShip') and tagvalue = 'Yes')	
	ORDER BY a_SKU 
	-- Empty the table before insert the record
	DELETE FROM dbo.item_details;

	INSERT INTO dbo.item_details ([ID],[Supplier SKU], [EAPL], [Is Magento Ready], [Is Magento Ready - ArtCarved.com], [Item Approval], [Record Status], [Primary Image ID], [NetSuite Vendor ID], [Product Name (Mktg)], [SKU], [SKU ID], [Cost], [MSRP], [MAP], [Retail Price], [Balfour.com - In Magento], [Priced for Balfour.com], [ArtCarved.com - In Magento], [Priced for ArtCarved.com], [Classification], [Master License Type], [License Type - Sports Leagues], [License Type - Other], [NFL Licensed Teams], [NHL Licensed Teams], [NBA Licensed Teams], [NCAA Licensed Schools])
	SELECT /*TOP 20000 i.parentid,  t.[ID], */ i.[ID], 
	[Supplier SKU], [EAPL], [Is Magento Ready], [Is Magento Ready - ArtCarved.com], [Item Approval], [Record Status], [Primary Image ID], [NetSuite Vendor ID], [Product Name (Mktg)], t.[SKU], ISNULL(t.[SKU ID], t.[SKU] + 'A0000') AS [SKU ID], [Cost], [MSRP], [MAP], [Retail Price], [Balfour.com - In Magento], [Priced for Balfour.com], [ArtCarved.com - In Magento], [Priced for ArtCarved.com], [Classification], [Master License Type], [License Type - Sports Leagues], [License Type - Other], [NFL Licensed Teams], [NHL Licensed Teams], [NBA Licensed Teams], [NCAA Licensed Schools]
	--[a_DSVendorSku] AS [Supplier SKU], [a_EAPL] AS [EAPL], [a_IsMagentoReady] AS [Is Magento Ready?], [a_IsArtCarvedReady] AS [Is Magento Ready - ArtCarved.com], [a_ItemApproval] AS [Item Approval], [a_RecordStatus] AS [Record Status], [a_PrimaryImageID] AS [Primary Image ID], [a_NetSuiteVendorID] AS [NetSuite Vendor ID], [a_ProductName] AS [Product Name (Mktg)], [a_SKU] AS [SKU], c.SkuID AS [SKU ID], [a_Cost] AS [Cost], [a_MSRP] AS [MSRP], [a_MAP] AS [MAP], [a_Retail] AS [Retail Price], [InMagento] AS [Balfour.com - In Magento], [a_PricedBalfour] AS [Priced for Balfour.com], [a_InMagentoAC] AS [ArtCarved.com - In Magento], [a_PricedArtCarved] AS [Priced for ArtCarved.com], [a_Class] AS [Classification], [a_MasterLicenseType] AS [Master License Type], [a_LicenseType] AS [License Type - Sports Leagues], [a_LicenseTypeOther] AS [License Type - Other], [a_NFLTeams] AS [NFL Licensed Teams], [a_NHLTeams] AS [NHL Licensed Teams], [a_NBALTeams] AS [NBA Licensed Teams], [a_NCAASchools] AS [NCAA Licensed Schools]
	FROM #temp t 
	INNER JOIN Item i ON i.parentid = t.ID OR i.id = t.ID
	LEFT JOIN #childSku c ON c.itemid = i.id

	DROP TABLE #temp
	DROP TABLE #childsku
END
GO
