/****** Object:  StoredProcedure [dbo].[s_cache_best_sellers]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 05/05/2020
-- Description: update the best sellers table
-- =============================================
CREATE PROCEDURE [dbo].[s_cache_best_sellers]
(
   @Debugging BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    --CREATE TABLE MAGE_best_sellers_tmp(sku varchar(255), total_ordered INT);
	truncate table MAGE_best_sellers_tmp;

    insert into MAGE_best_sellers_tmp(sku, total_ordered)
	select sku, COUNT(qty_ordered) AS [Qty Ordered] from MAGE_sales_order_item
		WHERE DATEDIFF(day,created_at,GETDATE()) between 0 and 365  -- sales from the past year
		group by sku
		-- HAVING COUNT(qty_ordered) > 2 
		order by COUNT(qty_ordered) desc

	truncate table MAGE_best_sellers;
	insert into MAGE_best_sellers(sku, total_ordered)
		Select sku, total_ordered from MAGE_best_sellers_tmp order by total_ordered desc;
		-- SELECT * FROM MAGE_best_sellers


		/*
		
  
			  select top 100 sku, name, qty_ordered from MAGE_Sales_Order
			  left join MAGE_sales_order_item ii ON
			  MAGE_sales_order.entity_id = ii.order_id
			  WHERE DATEDIFF(day,ii.created_at,GETDATE()) between 0 and 30 
		*/
END
GO
