/****** Object:  StoredProcedure [dbo].[s_get_managed_cart_upsell_group]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 02-24-2021
-- Description: Get the managed upsell group. 
-- Uses tables cart_cross_sell_rules and cart_cross_sell_rules_group
-- =============================================
CREATE PROCEDURE [dbo].[s_get_managed_cart_upsell_group]
(
    -- Add the parameters for the stored procedure here
    @SKU VARCHAR(MAX),
	@SMI INT = 0,
    @DEBUG BIT = 0
)
AS
BEGIN
	-- exec [s_get_managed_cart_upsell_group] @SKU = 'a0003952', @SMI='130996', @DEBUG = 1 -- LSU TEST RING
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	-- Find out what rule-group this SKU qualifies for:
		DECLARE @grpID uniqueidentifier 
		SET @grpID = (select TOP 1 grp.Group_ID 
			FROM dbo.magento_automated_product_dataset AS p 
			left join itemattributes ia on ia.itemid = p.ItemID
			left join cart_cross_sell_rules_group grp -- Try to find a group this belongs in
				ON (
						p.Category = grp.MAGE_ecommerce_category_value 
						OR p.[Enhanced Commerce] = grp.MAGE_ecommerce_category_value 
						OR p.B3_Brand = grp.MAGE_ecommerce_category_value
						OR p.PrintBox_FamilyId = grp.MAGE_ecommerce_category_value
						OR p.Cat_Type_Style = grp.MAGE_ecommerce_category_value
						OR (ia.tagtype = grp.PIM_attribute_qualifier_Name 
								AND ia.tagvalue = grp.PIM_attribute_qualifier_value)
					)
			left join cart_cross_sell_rules rules ON rules.group_id = grp.group_Id
		WHERE
			p.sku = @SKU
			AND ( (grp.PIM_attribute_qualifier_bool = 0 OR grp.PIM_attribute_qualifier_bool IS NULL) OR
				grp.PIM_attribute_qualifier_bool = 1 AND
				(
					ia.tagtype = grp.PIM_attribute_qualifier_Name 
					AND ia.tagvalue = grp.PIM_attribute_qualifier_value
				)
			)
			AND ( (grp.MAGE_ecommerce_category_bool = 0 OR grp.MAGE_ecommerce_category_bool IS NULL) OR
				grp.MAGE_ecommerce_category_bool = 1 AND 
				(
					(
						grp.MAGE_ecommerce_category_name = 'category' -- allow more control here
						AND p.Category = grp.MAGE_ecommerce_category_value
					) 
					OR
					(
						grp.MAGE_ecommerce_category_name = 'Enhanced Commerce' -- allow more control here
						AND p.[Enhanced Commerce] = grp.MAGE_ecommerce_category_value
					) 
					OR
					(
						grp.MAGE_ecommerce_category_name = 'B3_Brand' -- allow more control here
						AND p.B3_Brand = grp.MAGE_ecommerce_category_value
					)
					OR
					(
						grp.MAGE_ecommerce_category_name = 'PrintBox_FamilyId' -- allow more control here
						AND p.PrintBox_FamilyId = grp.MAGE_ecommerce_category_value
					)
					OR
					(
						grp.MAGE_ecommerce_category_name = 'Cat_Type_Style' -- allow more control here
						AND p.Cat_Type_Style = grp.MAGE_ecommerce_category_value
					)
				)
			)
			AND ( (grp.SKU_override_bool = 0 OR grp.SKU_override_bool IS NULL) OR
				grp.SKU_override_bool = 1 AND
				(
					grp.SKU_override_value = p.sku
				)
			)
			AND ( (grp.Price_range_bool = 0 OR grp.Price_range_bool IS NULL) OR
				grp.Price_range_bool = 1 AND 
				(
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @SMI),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= grp.price_range_max 
					AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @SMI),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) >= grp.price_range_min
				)
			)
			AND ( (grp.School_scope_bool = 0 OR grp.School_scope_bool IS NULL) OR
				grp.School_scope_bool = 1 AND
				(
					p.[Exclusive SMI] = @SMI 
					OR (
						@SMI IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ','))
							AND @SMI NOT IN (SELECT [Value] FROM STRING_SPLIT([Excluded SMI], ','))
						)
				)
			)
		ORDER BY Group_Order ASC
		)
		Select @grpID
END
GO
