/****** Object:  StoredProcedure [dbo].[s_get_gradpacks_han_dev]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 07/27/2020
-- Description: Get a single gradpack bundle's HTML markup data, provided a SKU for the gradpack
-- =============================================
CREATE PROCEDURE [dbo].[s_get_gradpacks_han_dev]
(
	
    @SKU VARCHAR(255) = '0',
	@SMI VARCHAR(50) = '0'
)
AS
-- EXEC [s_get_gradpacks_han_dev] @sku='A0227657', @SMI='1304'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	--Testing sending any HTML.
	DECLARE @image1 Varchar(150)
	DECLARE @image2 Varchar(150)
	DECLARE @image3 Varchar(150)
	DECLARE @altText VARCHAR(MAX)
	DECLARE @link VARCHAR(MAX)
	Select @image1 = image1 FROM gradpackImages where sku = @sku
	Select @image2 = image2 FROM gradpackImages where sku = @sku
	Select @image3 = image3 FROM gradpackImages where sku = @sku
	Select @altText = [Alt Text] FROM gradpack_alt_tags where sku = @sku
	Select @link = 	'&bundle-link&'
	  
	If( @altText IS NULL OR @altText = '')
	BEGIN
		SET @altText = ''
	END

	If (@image1 IS NULL OR @image1 = '')
	BEGIN
		Select top 1 @image1 = image1 FROM gradpackImages 
	END
	If (@image2 IS NULL OR @image2 = '')
	BEGIN
		Select top 1 @image2 = image2 FROM gradpackImages
	END
	If (@image3 IS NULL OR @image3 = '')
	BEGIN
		Select top 1 @image3 = image3 FROM gradpackImages 
	END
     SELECT 
		 N'
			 <div class="grad-pack-bundle-container" style="width:100%;">
				 <img class="image-one" alt="'+ @altText + '" src="' + @image1 +'"/>
				 <a href="' + @link + '"><img class="image-two" alt="'+ @altText + '" src="' + @image2 +'"/></a>
				 <img class="image-three" alt="'+ @altText + '" src="' + @image3 +'"/>
			 </div>
		 '
	 as [HtmlContent]
	 ,FORMAT(GETDATE(), 'MM/dd/yyyy HH:mm:ss tt') as [timeStamp]
	-- SELECT '' as [HtmlContent]
	--------FOR JSON PATH
END


/**
SELECT * FROM gradpackImages WHERE sku = 'A0227657'
SELECT * FROM mage
**/

--SELECT * FROM MAGE_balfour_product_smi_scoped_price where sku = 'A0227657'
GO
