/****** Object:  StoredProcedure [dbo].[proc_get_mage_none_yearbook_sales_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 1/27/2020 - HT
*/
CREATE PROCEDURE [dbo].[proc_get_mage_none_yearbook_sales_orders_records]

AS
 
SET NOCOUNT ON
  
 SELECT 
o.applied_rule_ids [Rule IDs]
,o.coupon_code [Coupon Code]
,dbo.fn_DateTime_to_Central(o.created_at) [Order Date]
,o.customer_email [Customer Email]
,o.customer_firstname [Customer FirstName]
,o.customer_group_id [Customer Group ID]
,o.customer_id [Customer ID]
,o.customer_lastname [Customer LastName]
,o.customer_taxvat [Customer Tax Vat]
,o.discount_amount [Discount Amount]
,o.ext_customer_id [External Customer ID]
,o.ext_order_id [External Order ID]
,o.grand_total [Grand Total]
,o.hold_before_state [Hold Before State]
,o.hold_before_status [Holde Before Status]
,o.increment_id [Order Number]
,o.original_increment_id [Org Order Number]
,o.remote_ip [Remote IP]
,o.shipping_amount [Shipping Amount]
,o.shipping_canceled [Shipping Cancelled]
,o.shipping_discount_amount [Shipping Discount Amount]
,o.shipping_incl_tax [Shipping Include Tax]
,o.shipping_method [Shipping Method]
,o.shipping_refunded [Shipping Refunded]
,o.shipping_tax_amount [Shipping Tax Amount]
,o.shipping_tax_refunded [Shipping Tax Refunded]
,o.state [Order State]
,o.status [Order Status]
,o.store_id [Store ID]
,o.store_name [Store Name]
,o.subtotal [Subtotal]
,o.subtotal_canceled [Subtotal Cancelled]
,o.subtotal_incl_tax [Subtotal Included Tax]
,o.subtotal_refunded [Subtotal Refunded]
,o.tax_amount [Tax Amount]
,o.tax_canceled [Tax Cancelled]
,o.tax_refunded [Tax Refunded]
,o.total_canceled [Total Cancelled]
,o.total_due [Total Due]
,o.total_item_count [Total Item]
,o.total_offline_refunded [Total Offline Refunded]
,o.total_online_refunded [Total Online Refunded]
,o.total_paid [Total Paid]
,o.total_qty_ordered [Total Qty Ordered]
,o.total_refunded [Total Refunded]
,dbo.fn_DateTime_to_Central(o.updated_at) [Order Update Date]
,o.weight [Order Weight]
,x_forwarded_for [Cross Forward For]
FROM MAGE_Sales_Order o
INNER JOIN MAGE_sales_order_item i ON i.order_id = o.entity_id
INNER JOIN MAGE_v_product_report_all p ON p.sku = i.sku AND p.[Enhanced_Commerce] NOT IN ('YEARBOOKS', 'YEARBOOK ACCESSORIES')
--LEFT JOIN [B2-Prod-ProductListing_Import] p ON p.sku = i.sku AND p.[Enhanced Commerce] NOT IN ('YEARBOOKS', 'YEARBOOK ACCESSORIES')
WHERE o.created_at >= CAST('2018-12-31 23:21:25.000' AS DATETIME )
 --AND increment_id = '000929428'
GO
