/****** Object:  StoredProcedure [dbo].[s_update_school_events_locations_xref_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/22/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_school_events_locations_xref_record]
(
 @Event_GUID VARCHAR(50) = NULL
,@ID BIGINT = NULL
,@Location_GUID VARCHAR(50) = NULL
,@GUID VARCHAR(50) = NULL
,@ID_OUT BIGINT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [School_Events_Locations_XRef].
--##RS1 The [ID] value of the inserted/updated record in the table [School_Events_Locations_XRef].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
	IF @GUID IS NULL SET @GUID = NEWID()
    INSERT INTO [School_Events_Locations_XRef] ( [Event_GUID],[Location_GUID],[GUID])
       VALUES ( @Event_GUID,@Location_GUID,@GUID)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [School_Events_Locations_XRef] SET
     [Event_GUID] = CASE WHEN @Event_GUID IS NULL THEN [Event_GUID] ELSE @Event_GUID END
    ,[Location_GUID] = CASE WHEN @Location_GUID IS NULL THEN [Location_GUID] ELSE @Location_GUID END
	,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [ID]
,[Event_GUID]
,[Location_GUID]
,[GUID]
FROM dbo.[School_Events_Locations_XRef]
WHERE [ID] = @ID_Out
GO
