/****** Object:  StoredProcedure [dbo].[s_get_affinity_mobile_menu_links]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- HT
-- 09/21/2020
-- Description: Returns data used to power Affinity mobile menu links
-- Note that for images coming from Canto we use s_get_image_info_by_sku and these image names/paths are stored in [dbo].[ContentNoSMINonProductImages]
-- 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_affinity_mobile_menu_links]
(
     @SMI BIGINT = 0
	,@Debug BIT = 0
)
AS
/** SORT ORDER
	1. Class Ring
	2. Any Ring
	3. Yearbook
	4. Grad
	5. Announcement
	6. Any Shop
**/

DECLARE @sortOrder INT
SET @sortOrder = 0
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 82 --Univesity of Texas at Arlington
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 130495 --Clemson
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131657 --Texas Tech
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131619 --Sam Houston State University 
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 130457 --University of Houston
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131548 --University of South Carolina at Columbia
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131205 - NCSU

--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131276 -- NMSU
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 130996, @Debug = 1 --LSU
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131722 --Virginia Tech - has school messages
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131575 --Baylor
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 533 --Yearbook only
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 72793, @Debug=1 -- Magnolia High School - Letterman  select dbo.[fn_Affinity_LettermanUrl](72793)
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131662 -- UTA
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131575 -- Baylor
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 131718 -- Virginia
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 130941 -- Purdue
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 130636 --Auburn
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 74265, @Debug = 1 
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 132009, @Debug = 1 
--EXEC [s_get_affinity_mobile_menu_links] @SMI = 69959 , @Debug=1 -- Allen HS Allen, TX

-- select * from school_url_master where smi = 130996 

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Cnt INT
	SET @Cnt = 0
	SELECT @Cnt = COUNT(*) FROM ContentAffinityPages WHERE [SMI] = @SMI
	--IF @Cnt = 0
	--	BEGIN
	--		--Try adding it
	--		If EXISTS(SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI)
	--			BEGIN
	--			  INSERT INTO [dbo].[ContentAffinityPages] ([SMI]) VALUES (@SMI)
	--			  SET @Cnt = 1
	--			END
	--		ELSE
	--			BEGIN
	--				--Log it
	--				INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data])
	--				VALUES ('[s_get_affinity_mobile_menu_links]','[SMI] ' + CAST(@SMI AS VARCHAR(50)) + ' not found')
	--			END

	--	END
	IF @Cnt > 0
		BEGIN
			--DECLARE @YearbookOnly BIT, @GradeLevel VARCHAR(50), @ringsHeadlineText VARCHAR(100), @ringsTileHeadlineText VARCHAR(100), @ringsSubheadlineText VARCHAR(100), @ringTileImage_one_a VARCHAR(200), 
			--        @ringTileImage_one_b VARCHAR(200), @ringTileImage_two_a VARCHAR(200), @ringTileImage_two_b VARCHAR(200), @lettermanLink VARCHAR(200), @RingOnly BIGINT, 
			--		@yearbookGraduationHeadline VARCHAR(200), @yearbookGraduationSubHeadline VARCHAR(200), @schoolShopTilesHeadline VARCHAR(200), @announcementsTileHeadline VARCHAR(200), 
			--		@announcementsTileSubHeadline VARCHAR(200), @gradPacksTileHeadline VARCHAR(200), @gradPacksTileSubHeadline VARCHAR(200), @gradPacksURL VARCHAR(200), @hasYearbook BIT, 
			--		@TempImage VARCHAR(200), @YearbookImageMainDesktop VARCHAR(200), @YearbookImageMainMobile VARCHAR(200), @Flags BIGINT, @CapAndGownURL VARCHAR(200), @GradAnnouncementURL VARCHAR(200), 
			--		@GradeSpecificAnnouncementImageFullWidth VARCHAR(200), @GradeSpecificGradPackImageFullWidth VARCHAR(200), @GradeSpecificAnnouncementContentSide VARCHAR(200), 
			--		@GradeSpecificGradPackContentSide VARCHAR(200), @underRingsMarketingBanner VARCHAR(MAX), @GradeSpecificAnnouncementImage VARCHAR(200), 
			--		@GradeSpecificAnnouncementImageMobile VARCHAR(200), @GradeSpecificGradPackImage VARCHAR(200), @GradeSpecificGradPackImageMobile VARCHAR(200), 
			--		@underYearbookMarketingBanner VARCHAR(MAX), @underEssentialsMarketingBanner VARCHAR(MAX), @underEventsMarketingBanner VARCHAR(MAX), @underSchoolShopsMarketingBanner VARCHAR(MAX),
			--		@underCategoriesMarketingBanner VARCHAR(MAX), @underEmailMarketingBanner VARCHAR(MAX), @underMessagesMarketingBanner VARCHAR(MAX)

			DECLARE @YearbookOnly BIT, @GradeLevel VARCHAR(50), @ringsTileHeadlineText VARCHAR(100), @RingOnly INT, @hasYearbook BIT, @Flags INT, @lettermanLink VARCHAR(200), @GradAnnouncementURL VARCHAR(200), @announcementsTileHeadline VARCHAR(200),
		    @CapAndGownURL VARCHAR(200), @gradPacksURL VARCHAR(200), @gradPacksTileHeadline VARCHAR(200)


			----Initialize variables
			--SELECT @underRingsMarketingBanner = '', @underYearbookMarketingBanner= '', @underEssentialsMarketingBanner = '', @underEventsMarketingBanner = '', @underSchoolShopsMarketingBanner = '',
			--	   @underCategoriesMarketingBanner = '', @underEmailMarketingBanner = '', @underMessagesMarketingBanner = ''
			
			
			--Determine grade level for use in other functions
			SET @GradeLevel = ''

			SELECT @GradeLevel = [dbo].[fn_Affinity_GradeLevel] (@SMI) /*CASE WHEN isElementary = 1 THEN 'Elementary' WHEN isMiddleSchool = 1 THEN 'Middle School' WHEN isHighSchool = 1 THEN 'High School' WHEN isCollege = 1 THEN 'College' END*/ FROM school_url_master WHERE smi = @smi
			SELECT @lettermanLink = dbo.[fn_Affinity_LettermanUrl]([SMI]),  @YearbookOnly = [dbo].[fn_Affinity_Yearbookonly] ([SMI]), @hasYearbook = dbo.fn_Affinity_Yearbook([SMI]),  @GradAnnouncementURL = [dbo].[fn_Affinity_GradAnnoucementUrl] (@SMI, @GradeLevel), @Flags = [Flags] FROM [dbo].[ContentAffinityPages] WHERE SMI = @SMI 
			  
			SET @RingOnly = 
				CASE 
					WHEN (@Flags & 32) > 0 THEN 32 --True Ring Only
					WHEN (@Flags & 2048) > 0 THEN 2048 --Ring Only + Yearbook
					WHEN (@Flags & 4096) > 0 THEN 4096 --Ring Only + Yearbook + CBGrad
					WHEN (@Flags & 8192) > 0 THEN 8192 --Ring Only + CBGrad
					WHEN (@Flags & 32768) > 0 THEN 32768 --Ring Only + Ring Tiles
					ELSE 0
				END

	
			
			IF @Debug = 1
				BEGIN
					PRINT '@GradeLevel = ' + @GradeLevel
					PRINT 'Ring Only = ' + CAST (@RingOnly AS VARCHAR(25))
					PRINT '@hasYearbook = ' + CAST(@hasYearbook as VARCHAR(20))
					PRINT '@Flags = ' + CAST(@Flags AS VARCHAR(25))
					PRINT 'Flags|A bit mapped field with the following values: Flags|A bit mapped field with the following values: 1=Letterman;2=Spiritwear;4=Fan Shop;8=Alumni Store;16=Yearbook only; 32 Ring only; 64=Force gradpack; 128=KS; 256=Univ Coll; 512=Liz James; 1024=Yearbook; 2048 Ring Only+Yearbook; 4096 Ring Only+Yearbook+CBGrad; 8192 Ring Only+CBGrad; 16384 Suppress Grad Packs; 32768 Ring Only + Ring Tiles '
					PRINT '@YearbookOnly = ' + CAST(@YearbookOnly AS VARCHAR(25))
				END

			--SET @mainRingTileImage_one = 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=affinity&smi=' + CAST (@SMI AS VARCHAR(25)) + '&requestedImageType=PNG'
			--SELECT @ringsHeadlineText = CASE WHEN @GradeLevel = 'College' THEN 'OFFICIAL CLASS RINGS & JEWELRY' WHEN @GradeLevel = 'High School' THEN 'OFFICIAL HIGH SCHOOL CLASS RINGS & JEWELRY' ELSE 'OFFICIAL JUNIOR HIGH SCHOOL CLASS RINGS & JEWELRY' END 
			--SELECT @ringsSubheadlineText = CASE WHEN @GradeLevel = 'College' THEN 'Choose your favorite ring for your ring ceremony' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN '' END 
			SELECT @ringsTileHeadlineText = CASE WHEN @GradeLevel = 'College' THEN 'College Class Rings' WHEN @GradeLevel = 'High School' THEN 'High School Class Rings' ELSE 'Junior High Class Rings' END
			 
			--SELECT @announcementTileLink = [dbo].[fn_Affinity_GradAnnoucementUrl] (@SMI)

			DECLARE @RingsTileList TABLE ([ringsTileTitle] VARCHAR(200), [ringsTileCTALink] VARCHAR(200), [Sort_Order] INT)
			DECLARE @GradEssTileList TABLE ([gradEssTileTitle] VARCHAR(200), [gradEssTileCTALink] VARCHAR(200), [Sort_Order] INT)
			DECLARE @SchoolShopTileList TABLE ([schoolShopTileText] VARCHAR(500), [schoolShopTileCTALink] VARCHAR(200), [Sort_Order] INT)  
	        
			DECLARE @AffinityMobileMenuLinksList TABLE ([affinityMobileMenuLinkText] VARCHAR(MAX), [affinityMobileMenuLink] VARCHAR(MAX), [Sort_Order] INT)
			SELECT @announcementsTileHeadline = CASE WHEN @GradeLevel = 'College' THEN 'Announcements' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'Announcements' END
			SELECT @gradPacksTileHeadline = CASE WHEN @GradeLevel = 'College' THEN 'GradPacks' 
				WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'GradPacks Caps & Gowns' END
			-- SortOrder: Class Rings - sort order 1
		 
			INSERT INTO @AffinityMobileMenuLinksList (affinityMobileMenuLinkText, affinityMobileMenuLink, Sort_Order)				 						
			SELECT CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileTopText],''))) = '' THEN  @ringsTileHeadlineText ELSE AF.[classRingsTileTopText] END END AS [classRingsTileTopText]				
					,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileCTALink],''))) <> '' THEN AF.[classRingsTileCTALink] ELSE [dbo].[fn_Affinity_ClassRingUrl] (@SMI, @GradeLevel) END END as [classRingsTileCTALink] 
					,1
			FROM [dbo].[School_URL_Master] S 
			INNER JOIN [dbo].[ContentAffinityPages] AF ON AF.[SMI] = S.[SMI]
			LEFT JOIN [dbo].[ContentAffinityPages] AFDefault ON AFDefault.[SMI] = CASE WHEN @GradeLevel = 'College' THEN  -1 ELSE -2 END
			WHERE S.[SMI] = @SMI
			
			--RingsTileList
			IF @YearbookOnly = 0    
				BEGIN
					IF (@RingOnly = 0 OR @RingOnly = 32768) AND @GradeLevel <> 'Elementary' --Only show ring tiles if not one of the Ring Only flavors (as of 09/15/2020 Ring Only + Ring Tiles is the exception) and not elementary
						BEGIN
							 
							--Ring tiles
							IF [dbo].[fn_Affinity_KS](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
								BEGIN
									INSERT INTO @RingsTileList ([ringsTileTitle], [ringsTileCTALink], [Sort_Order])
									SELECT 'Kendra Scott Collection' as [ringsTileTitle], CASE WHEN @GradeLevel = 'College' THEN '/shop/jewelry/rings/college-class-rings?pim_a_collection=15090&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN '/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15090&smi=' ELSE '/kendra-scott?smi=' END + CAST(@SMI as VARCHAR(25)) as [ringsTileCTALink], 2									
								END
					
							--University Collection
							IF [dbo].[fn_Affinity_UnivColl](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
								BEGIN
									INSERT INTO @RingsTileList ([ringsTileTitle], [ringsTileCTALink], [Sort_Order])
									SELECT 'University Collection' as [ringsTileTitle], CASE WHEN @GradeLevel = ('College') THEN '/shop/jewelry/rings/official-college-class-rings?pim_a_collection=15089&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN '/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' ELSE '/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' END + CAST(@SMI as VARCHAR(25))  as [ringsTileCTALink], 3							
								END
							IF [dbo].[fn_Affinity_LizJames](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
								BEGIN
									INSERT INTO @RingsTileList ([ringsTileTitle], [ringsTileCTALink], [Sort_Order])
									SELECT 'Liz James Collection' as [ringsTileTitle],  CASE WHEN @GradeLevel in ('High School') THEN '/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15088&pim_a_ctscategory=11381&smi=' ELSE '/shop/brand/liz-james?smi=' END + CAST(@SMI as VARCHAR(25)) as [ringsTileCTALink], 4 
								END
					
							--GRADESSTILELIST WAS HERE
					
						END
					
				END
			
			-- SortOrder: Any Rings sortOrder starts from 2
			INSERT INTO @AffinityMobileMenuLinksList (affinityMobileMenuLinkText, affinityMobileMenuLink, Sort_Order)
			SELECT [ringsTileTitle], [ringsTileCTALink], [Sort_Order] FROM @RingsTileList 	

			-- SortOrder: Yearbook 5
			INSERT INTO @AffinityMobileMenuLinksList (affinityMobileMenuLinkText, affinityMobileMenuLink, Sort_Order)						
			SELECT 
				CASE WHEN @hasYearbook = 0 THEN '' ELSE 'Yearbooks' END AS [YearbookBannerCTAButtonText]				
				,CASE WHEN @hasYearbook = 0 THEN '' ELSE '/student-info?smi=' + CAST(@SMI as VARCHAR(25)) END as [YearbookBannerCTAButtonLink]
				,5
			FROM [dbo].[School_URL_Master] S 
			INNER JOIN [dbo].[ContentAffinityPages] AF ON AF.[SMI] = S.[SMI]
			LEFT JOIN [dbo].[ContentAffinityPages] AFDefault ON AFDefault.[SMI] = CASE WHEN @GradeLevel = 'College' THEN  -1 ELSE -2 END
			WHERE S.[SMI] = @SMI

			IF @Debug = 1 PRINT '@RingOnly: ' + CAST(@RingOnly AS VARCHAR(4))
			--GradEssTileList - MOVED OUTSIDE OF RING-ONLY 08/19/2020 BY TL
			IF @RingOnly NOT IN (32/*True Ring Only*/,2048/*Ring Only + Yearbook*/)
				BEGIN	
					--Sort order start at 6									
					IF @GradeLevel = 'High School' 
						BEGIN
							SET @gradPacksURL = [dbo].[fn_Affinity_GradPackUrl](@SMI)
							IF @Debug = 1 PRINT '@gradPacksURL - HS: ' + @gradPacksURL  --74265
							IF LTRIM(RTRIM(ISNULL(@gradPacksURL,''))) <> ''
								BEGIN
									INSERT INTO @GradEssTileList ([gradEssTileTitle], [gradEssTileCTALink], [Sort_Order])
									SELECT @gradPacksTileHeadline as [gradEssTileTitle], @gradPacksURL as [gradEssTileCTALink], 6									 
								-- TODO: Remove
								--SELECT * FROM @GradEssTileList
								END
						END
					--Cap and Gown
					SET @CapAndGownURL = dbo.fn_Affinity_CapAndGownUrl(@SMI)
					IF @Debug = 1 PRINT '@CapAndGownURL: ' + @CapAndGownURL  --74265
					IF LTRIM(RTRIM(ISNULL(@CapAndGownURL ,''))) <> '' --AND 1 = 2 --To keep it from showing right now
						BEGIN --SEAN - CAP AND GOWN WORK HERE
							INSERT INTO @GradEssTileList ([gradEssTileTitle], [gradEssTileCTALink], [Sort_Order])
							SELECT 'Graduation' as [gradEssTileTitle],  @CapAndGownURL as [gradEssTileCTALink], 7							
						END
					-- Sort Order 7
					IF @GradAnnouncementURL <> '' --[09/15/2020] TL - Some colleges will no longer have a grad announcement link - we used to use a default but no more
						BEGIN
							INSERT INTO @GradEssTileList ([gradEssTileTitle], [gradEssTileCTALink], [Sort_Order])
							SELECT @announcementsTileHeadline as [gradEssTileTitle],  @GradAnnouncementURL as [gradEssTileCTALink], 8							
						END
 

				END
					
			INSERT INTO @AffinityMobileMenuLinksList (affinityMobileMenuLinkText, affinityMobileMenuLink, Sort_Order)		
			SELECT [gradEssTileTitle], [gradEssTileCTALink], [Sort_Order]
			FROM @GradEssTileList	 	 
			
			-- SortOrder: Grad product start at	9
			-- SchoolShopTileList
			IF @YearbookOnly = 0
				BEGIN   
					IF @RingOnly = 0 --Only show SchoolShopTileList if not any of the Ring Only Flavors
						BEGIN							
							IF @GradeLevel = 'College'
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
									--Evergreen
									SELECT 'Diploma Frames' as [schoolShopTileText], '/diploma-frames?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 9  as [Sort_Order]
									UNION
									SELECT 'Photo Announcements' as [schoolShopTileText], '/shop/graduation/announcements/photo-announcements?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 10 as [Sort_Order]
									UNION
									SELECT 'Photo Books' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 11 as [Sort_Order]
									UNION									 
									SELECT 'Dorm' as [schoolShopTileText], '/dorm-life?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 14 as [Sort_Order]
									UNION
									SELECT 'Greek' as [schoolShopTileText], '/greek-shop?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 15  as [Sort_Order]
									UNION
									SELECT 'Kendra Scott Color Collection' as [schoolShopTileText], '/kendra-scott?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 16 as [Sort_Order]
									--Fan Shop
									IF [dbo].[fn_Affinity_Fanshop](@SMI) = 1
										BEGIN  											
											INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
											SELECT 'Fan Shop' as [schoolShopTileText], dbo.fn_Affinity_FanshopUrl(@SMI) as [schoolShopTileCTALink], 12 as [Sort_Order]
											SET @sortOrder = @sortOrder + 1
										END
									--Alumni Store
									IF [dbo].[fn_Affinity_Alumni](@SMI) = 1
										BEGIN  											 
											INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
											SELECT 'Alumni Store' as [schoolShopTileText], dbo.fn_Affinity_AlumniUrl(@SMI) as [schoolShopTileCTALink], 13 as [Sort_Order]											
										END																											 
									
								END
							IF @GradeLevel = 'High School'
								BEGIN 
									-- Sort Order start 17
									INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
									SELECT 'Diploma Frames' as [schoolShopTileText], '/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 9 as [Sort_Order]									
									UNION
									SELECT 'Class Apparel' as [schoolShopTileText], '/shop/collections/2021-collection?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 10 as [Sort_Order]																		
									--Letterman
									IF @Debug = 1 PRINT 'Letterman = ' + CAST([dbo].[fn_Affinity_Letterman](@SMI) AS VARCHAR(50))
									IF [dbo].[fn_Affinity_Letterman](@SMI) = 1
										BEGIN  --SEAN - NEED IMAGES
											INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
											SELECT 'Letterman' as [schoolShopTileText], CASE WHEN LTRIM(RTRIM(ISNULL(@lettermanLink,''))) <> '' THEN @lettermanLink ELSE '/shop/backpacks-patches/patches/letterman?smi=' + CAST(@SMI as VARCHAR(25)) END as [schoolShopTileCTALink], 11 as [Sort_Order]											
										END	

									--Spiritwear
									IF @Debug = 1 PRINT 'Spiritwear = ' + CAST([dbo].[fn_Affinity_Spiritwear](@SMI) AS VARCHAR(50))
									IF [dbo].[fn_Affinity_Spiritwear](@SMI) = 1
										BEGIN  --SEAN - NEED IMAGES
											INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
											SELECT 'Spiritwear' as [schoolShopTileText], '/shop/collections/spiritwear?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 12 as [Sort_Order]
											SET @sortOrder = @sortOrder + 1
										END

									INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
									SELECT 'T-Shirt Quilt' as [schoolShopTileText], '/tshirt-quilt?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 13 as [Sort_Order]
									UNION									
									SELECT 'Photo Books' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 14  as [Sort_Order]
									UNION
									SELECT 'Grad Gifts' as [schoolShopTileText], '/gifts-for-grads?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 15 as [Sort_Order]
									UNION
									SELECT 'Kendra Scott Color Collection' as [schoolShopTileText], '/kendra-scott?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 16 as [Sort_Order]													
								END
							IF @GradeLevel IN ('Middle School')
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
									SELECT 'T-Shirt Quilt' as [schoolShopTileText], '/tshirt-quilt?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 9 as [Sort_Order]
									UNION
									SELECT 'Photo Gifts' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],10 as [Sort_Order]
									UNION
									SELECT 'Team Shop' as [schoolShopTileText], '/team-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],11 as [Sort_Order]			
									UNION
									SELECT 'Clothing Shop' as [schoolShopTileText], '/clothing-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 12 as [Sort_Order]
									UNION
									SELECT 'Personalize It' as [schoolShopTileText], '/personalized-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],13 as [Sort_Order]
									UNION
									SELECT 'Back To School' as [schoolShopTileText], '/back-to-school?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],14 as [Sort_Order]
									
								END
							IF @GradeLevel IN ('Elementary')
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
									/* Hard-coded placeholders  Sean/Han work here*/
									SELECT 'T-Shirt Quilt' as [schoolShopTileText], '/tshirt-quilt?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 9 as [Sort_Order]
									UNION
									SELECT 'Photo Gifts' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 10 as [Sort_Order]
									UNION
									-- If we have an elementary version of the TEAM SHOP - use it here, I chose to use the middle school one, since I can't find the middle school.
									SELECT 'Team Shop' as [schoolShopTileText], '/team-shop' as [schoolShopTileCTALink], 11 as [Sort_Order]
									UNION
									SELECT 'Personalize It' as [schoolShopTileText], '/personalized-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],12 as [Sort_Order]
									UNION
									SELECT 'Back To School' as [schoolShopTileText], '/back-to-school?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 13 as [Sort_Order]
									UNION
									SELECT 'Clothing Shop' as [schoolShopTileText], '/clothing-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 14 as [Sort_Order]
								END
							IF LTRIM(RTRIM(ISNULL(@GradeLevel,''))) = ''
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileText], [schoolShopTileCTALink],[Sort_Order])
									SELECT 'Diploma Frames' as [schoolShopTileText], '/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 9 as [Sort_Order]
									UNION
									SELECT 'Photo Announcements' as [schoolShopTileText], '/shop/graduation/announcements/photo-announcements?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],10 as [Sort_Order]
									UNION									
									SELECT 'Photo Books' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],11 as [Sort_Order]
									UNION
									SELECT 'Dorm' as [schoolShopTileText], '/dorm-life?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],12 as [Sort_Order]
									UNION
									SELECT 'Greek' as [schoolShopTileText], '/greek-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],13 as [Sort_Order]
									UNION
									SELECT 'Kendra Scott Color Collection' as [schoolShopTileText], '/kendra-scott?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink],14 as [Sort_Order]																	
								END
						END
				END
			-- SortOrder: school product shop list -- productSchoolShopTileList 
			INSERT INTO @AffinityMobileMenuLinksList (affinityMobileMenuLinkText, affinityMobileMenuLink, Sort_Order)	
			SELECT TOP 6 [schoolShopTileText], [schoolShopTileCTALink], [Sort_Order]  FROM @SchoolShopTileList	
			 
			-- EXEC [s_get_affinity_mobile_menu_links] @SMI = 130996, @Debug = 1 --LSU
			-- select * from @SchoolShopTileList	
			-- select * from @GradEssTileList
			SELECT affinityMobileMenuLinkText, affinityMobileMenuLink --, (SELECT FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt')) as [timeStamp]
			FROM @AffinityMobileMenuLinksList 
			WHERE ISNULL(affinityMobileMenuLinkText,'') <> '' AND ISNULL(affinityMobileMenuLink,'') <> ''
			ORDER BY [Sort_Order] 
			FOR JSON PATH
		END

		
END
GO
