/****** Object:  StoredProcedure [dbo].[s_get_blog_redirect_url]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 03/25/2021
-- Description: This sproc pulls the blog redirect url
-- =============================================
CREATE PROCEDURE [dbo].[s_get_blog_redirect_url]
(
     @oldPageName VARCHAR(225)
)
AS
--EXEC [s_get_blog_redirect_url] @oldPageName='Photo-sharing-app-enhances-yearbook-coverage?asdf'
--EXEC [s_get_blog_redirect_url] @oldPageName='So-what8217s-the-problem'
BEGIN
    SET NOCOUNT ON
	INSERT INTO [dbo].[SQLLog] ([Key_Value], [Data])
    VALUES('s_get_blog_redirect_url', 'temp from proc: ' + @oldPageName)
   
	IF CHARINDEX('?', @oldPageName) > 0
	BEGIN
		SET @oldPageName = LEFT(@oldPageName,CHARINDEX('?',@oldPageName) - 1)
	END
	SELECT [NewUrl] FROM [BlogUrlRedirect] WHERE [OldName] = @oldPageName FOR JSON PATH
END
 
GO
