/****** Object:  StoredProcedure [dbo].[s_showAnnouncement]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 4/29/2020
-- Description: Show or do not show an announcement for the input SMI
-- =============================================
CREATE PROCEDURE [dbo].[s_showAnnouncement]
(
    @smi INT,--varchar(10),
	@isHighSchool bit = 0,
	@debugging BIT = 0
)
-- exec s_showAnnouncement @smi=130996, @isHighSchool = 0, @debugging = 1 -- LSU
-- exec s_showAnnouncement @smi='29672', @isHighSchool = 1, @debugging = 1 -- AIRLINE HS
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @showAnnouncement AS BIT = 0;

	IF(@isHighSchool = 1) 
	BEGIN
		SET @showAnnouncement = 1;
		IF @debugging = 1 PRINT 'HS: Show Announcement.'
		IF(CAST(@smi as VARCHAR(10)) in (select SMI from announcements_exclude))
		BEGIN
			SET @showAnnouncement = 0;
			IF @debugging = 1 PRINT 'HS EXCLUDE: Don''t Show Announcement.'
		END
	END
	ELSE
	BEGIN
		IF @debugging = 1 PRINT 'College: Check to see if we include this SMI.'
		if(@smi in (select SMI from announcements_include))
		BEGIN
			SET @showAnnouncement = 1;
			IF @debugging = 1 PRINT 'College: Included SMI.'
		END
	END
	
	-- 09/08/2020 - Eudora asked to remove the Announcement voucher link from all affinity pages
	SET @showAnnouncement = 0

	select @showAnnouncement AS showAnnouncement FOR JSON PATH
END
GO
