/****** Object:  StoredProcedure [dbo].[Upsert_MAGE_v_product_report_all]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/18/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_MAGE_v_product_report_all]
(	@Attribute_Set varchar(255), 
	@Category varchar(max), 
	@Created_On datetime, 
	@Delivery_Method varchar(255), 
	@Enhanced_Commerce varchar(255), 
	@Excluded_SMI varchar(255), 
	@Exclusive_SMI varchar(255), 
	@Included_SMI varchar(max), 
	@Item_Category varchar(255), 
	@NCAA_Schools varchar(max), 
	@Product_Collection varchar(max), 
	@Product_ID int, 
	@Product_Name varchar(255), 
	@Product_Type varchar(32), 
	@Quantity_In_Stock decimal(12, 2), 
	@Retail_Price decimal(12, 4), 
	@SKU varchar(64), 
	@Special_Price decimal(12, 4), 
	@Status varchar(7), 
	@Stock_Maintenance varchar(19), 
	@Tax_Class varchar(255), 
	@UC_ID varchar(255), 
	@Updated_On datetime, 
	@Vendor_ID varchar(255), 
	@Visibility varchar(21)
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF EXISTS (SELECT TOP 1 * FROM MAGE_v_product_report_all WHERE [product_id] = @Product_ID)
	BEGIN
		UPDATE MAGE_v_product_report_all
		SET
			[Attribute_Set] = @Attribute_Set, 
			[Category] = @Category, 
			[Created_On] = @Created_On, 
			[Delivery_Method] = @Delivery_Method, 
			[Enhanced_Commerce] = @Enhanced_Commerce, 
			[Excluded_SMI] = @Excluded_SMI, 
			[Exclusive_SMI] = @Exclusive_SMI, 
			[Included_SMI] = @Included_SMI, 
			[Item_Category] = @Item_Category, 
			[NCAA_Schools] = @NCAA_Schools, 
			[Product_Collection] = @Product_Collection, 
			[Product_Name] = @Product_Name, 
			[Product_Type] = @Product_Type, 
			[Quantity_In_Stock] = @Quantity_In_Stock, 
			[Retail_Price] = @Retail_Price, 
			[SKU] = @SKU, 
			[Special_Price] = @Special_Price, 
			[Status] = @Status, 
			[Stock_Maintenance] = @Stock_Maintenance, 
			[Tax_Class] = @Tax_Class, 
			[UC_ID] = @UC_ID, 
			[Updated_On] = @Updated_On, 
			[Vendor_ID] = @Vendor_ID, 
			[Visibility] = @Visibility
		FROM MAGE_v_product_report_all
		WHERE [product_id] = @Product_ID
	END
ELSE
	BEGIN
		INSERT INTO MAGE_v_product_report_all
		(
			[Attribute_Set], 
			[Category], 
			[Created_On], 
			[Delivery_Method], 
			[Enhanced_Commerce], 
			[Excluded_SMI], 
			[Exclusive_SMI], 
			[Included_SMI], 
			[Item_Category], 
			[NCAA_Schools], 
			[Product_Collection], 
			[Product_ID], 
			[Product_Name], 
			[Product_Type], 
			[Quantity_In_Stock], 
			[Retail_Price], 
			[SKU], 
			[Special_Price], 
			[Status], 
			[Stock_Maintenance], 
			[Tax_Class], 
			[UC_ID], 
			[Updated_On], 
			[Vendor_ID], 
			[Visibility]
		)
		VALUES
		(
			@Attribute_Set, 
			@Category, 
			@Created_On, 
			@Delivery_Method, 
			@Enhanced_Commerce, 
			@Excluded_SMI, 
			@Exclusive_SMI, 
			@Included_SMI, 
			@Item_Category, 
			@NCAA_Schools, 
			@Product_Collection, 
			@Product_ID, 
			@Product_Name, 
			@Product_Type, 
			@Quantity_In_Stock, 
			@Retail_Price, 
			@SKU, 
			@Special_Price, 
			@Status, 
			@Stock_Maintenance, 
			@Tax_Class, 
			@UC_ID, 
			@Updated_On, 
			@Vendor_ID, 
			@Visibility
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@Product_ID as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_product_report_all', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_product_report_all', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_product_report_all', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
