/****** Object:  StoredProcedure [dbo].[s_cache_cross_sell]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 11/07/2019
-- Description: AutoIndex cross sell items for all MAGE skus
-- =============================================
CREATE PROCEDURE [dbo].[s_cache_cross_sell]
(
	@debugging BIT = 0,
	@maxPriceRange int = 100,
	@minPriceRange int = 25
)
AS
BEGIN
	-- EXEC s_cache_cross_sell @debugging = 1
	SET NOCOUNT ON
	IF @debugging = 1 PRINT 'START  ' +  FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 	

	CREATE TABLE #skulist (sku varchar(255), Loop INT IDENTITY(1,1)) 
	INSERT INTO #skulist (sku)
	SELECT distinct sku /*, [Product Name], Category*/ FROM  dbo.magento_automated_product_dataset p
	WHERE (p.Status = 'Enable') 
		AND (p.[Retail Price] <> 0)
		AND (p.Visibility = 'In Catalog and Search')
		AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
		AND (Category NOT LIKE '%ANNOUNCEMENT%')
		AND (Category NOT LIKE '%PACKAGES%')
		AND ([Quantity in Stock] > 0)
		-- AND (sku not IN (select distinct [input sku] from cross_sell_cache))
		AND (LEN(SKU) > 8)
		AND (sku NOT IN (select sku from cross_sell_processed))
		order by sku desc

	DECLARE @thisSku varchar(255), @Loop INT, @Max INT

	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 
	BEGIN
		SELECT @Max = MAX([Loop]) FROM #skulist
		SET @Loop = 1
		WHILE @Loop <= @Max
		BEGIN
			SELECT @thisSku = [sku] FROM #skulist WHERE [Loop] = @Loop
			IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			exec [s_get_cross_sell_EA] @sku = @thisSku
			IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
		  SET @Loop = @Loop + 1
		END; 
	END;

	DROP TABLE #skulist

END

GO
