/****** Object:  StoredProcedure [dbo].[s_get_azure_functions_values]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_azure_functions_values]
(
	@Name VARCHAR(50) = ''
)
AS
-- EXEC s_get_azure_functions_values @Name = 'voucherARC'
SET NOCOUNT ON
SELECT
[Azure_Functions_GUID], [Key_Name], [Value], [Type], [Usage], [ID]
FROM [dbo].[Azure_Functions_Values] WHERE [Azure_Functions_GUID] IN (SELECT [GUID] FROM [dbo].[Azure_Functions] WHERE [Name] = @Name)
GO
