/****** Object:  StoredProcedure [dbo].[UpsertNetSuiteSalesOrders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Krishna Seetharaman   Krishna.Seetharaman@balfour.com - Austin  
-- Create Date: 09/01/2020
-- Description: Updates NetsuiteSalesOrders
-- Runs every 5 minutes
-- =============================================
CREATE PROCEDURE [dbo].[UpsertNetSuiteSalesOrders]
	@OrderNumber varchar(50),
	@OrderSource varchar(50),
	@OrderDate datetime,
	@OrderState varchar(50),
	@OrderStatus varchar(50),
	@ExtSalesId varchar(50),
	@DiscountCode varchar(50),
	@ShippingDescription varchar(50),
	@StoreId varchar(50),
	@MerchandiseTotal varchar(50),
	@DiscountAmount varchar(50),
	@ShippingAmount varchar(50),
	@GiftWrap varchar(50),
	@OrderTax varchar(50),
	@GrandTotal varchar(50),
	@PaymentType varchar(50),
	@OrderRefundedTotal varchar(50),
	@OrderCancelledTotal varchar(50),
	@OrderTaxRefundedTotal varchar(50),
	@OrderTaxCancelledTotal varchar(50),
	@ReturnedDate datetime,
	@CustomerID varchar(50),
	@BillingName varchar(50),
	@BillingCity varchar(50),
	@BillingState varchar(50),
	@BillingZipCode varchar(50),
	@BillingCountry varchar(50),
	@ShippingName varchar(50),
	@ShippingCity varchar(50),
	@ShippingState varchar(50),
	@ShippingZipCode varchar(50),
	@ShippingCountry varchar(50),
	@Email varchar(100),
	@SMI varchar(100)
AS
BEGIN

	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.NetsuiteSalesOrders WHERE OrderNumber = @OrderNumber)
       INSERT INTO dbo.NetsuiteSalesOrders (OrderNumber,OrderSource,OrderDate,OrderState,OrderStatus,ExtSalesId,DiscountCode,ShippingDescription,StoreId,
	   MerchandiseTotal,DiscountAmount,ShippingAmount,GiftWrap,OrderTax,GrandTotal,PaymentType,
	   OrderRefundedTotal,OrderCancelledTotal,OrderTaxRefundedTotal,OrderTaxCancelledTotal,ReturnedDate,
	   CustomerID,BillingName,BillingCity,BillingState,BillingZipCode,BillingCountry,ShippingName,ShippingCity,
	   ShippingState,ShippingZipCode,ShippingCountry,Email,SMI,CreatedDate,UpdatedDate)
       VALUES (@OrderNumber,@OrderSource,@OrderDate,@OrderState,@OrderStatus,@ExtSalesId,@DiscountCode,@ShippingDescription,@StoreId,@MerchandiseTotal,@DiscountAmount,@ShippingAmount,@GiftWrap,@OrderTax,@GrandTotal,
	           @PaymentType,@OrderRefundedTotal,@OrderCancelledTotal,@OrderTaxRefundedTotal,@OrderTaxCancelledTotal,@ReturnedDate,@CustomerID,@BillingName,@BillingCity,@BillingState,@BillingZipCode,
			   @BillingCountry,@ShippingName,@ShippingCity,@ShippingState,@ShippingZipCode,@ShippingCountry,@Email,@SMI,GETDATE(),GETDATE())

    ELSE
       UPDATE [dbo].[NetsuiteSalesOrders]
       SET OrderNumber             = @OrderNumber,
	       OrderSource			   = @OrderSource,
		   OrderDate               = @OrderDate,
		   OrderState              = @OrderState,
           OrderStatus             = @OrderStatus,
		   ExtSalesId			   = @ExtSalesId,
		   DiscountCode            = @DiscountCode,
		   ShippingDescription     = @ShippingDescription,
		   StoreId                 = @StoreId,
		   MerchandiseTotal        = @MerchandiseTotal,
		   DiscountAmount          = @DiscountAmount ,
		   ShippingAmount          = @ShippingAmount ,
		   GiftWrap                = @GiftWrap ,
		   OrderTax                = @OrderTax ,
		   GrandTotal              = @GrandTotal, 
		   PaymentType             = @PaymentType, 
		   OrderRefundedTotal      = @OrderRefundedTotal ,
		   OrderCancelledTotal     = @OrderCancelledTotal ,
		   OrderTaxRefundedTotal   = @OrderTaxRefundedTotal, 
		   OrderTaxCancelledTotal  = @OrderTaxCancelledTotal,
		   ReturnedDate            = @ReturnedDate ,
		   CustomerID              = @CustomerID ,
		   BillingName             = @BillingName ,
		   BillingCity             = @BillingCity ,
		   BillingState            = @BillingState ,
		   BillingZipCode          = @BillingZipCode, 
		   BillingCountry          = @BillingCountry ,
		   ShippingName            = @ShippingName ,
		   ShippingCity            = @ShippingCity ,
		   ShippingState           = @ShippingState ,
		   ShippingZipCode         = @ShippingZipCode, 
		   ShippingCountry         = @ShippingCountry,
		   Email                   = @Email,
		   SMI                     = @SMI,
		   UpdatedDate             = CURRENT_TIMESTAMP
	 WHERE OrderNumber			   = @OrderNumber

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'NetsuiteSalesOrders', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'NetsuiteSalesOrders', @AttribName = 'LastOrderUpdated', @Value = @OrderNumber

END
GO
