/****** Object:  StoredProcedure [dbo].[s_get_diploma_frames_deep_links]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 03/09/21
-- Description: Get a bunch of deep links for Diploma frames based on SMI
-- ============================================= 
-- EXEC [dbo].[s_get_diploma_frames_deep_links] @SMI = 131538, @DEBUG = 1, @RELATIVE = 1 -- LED Collection True
-- EXEC [dbo].[s_get_diploma_frames_deep_links] @SMI = 131349, @DEBUG = 1, @RELATIVE = 1 -- Default link
-- EXEC [dbo].[s_get_diploma_frames_deep_links] @SMI = 12345, @DEBUG = 1, @RELATIVE = 1 -- Phoney Baloney school

CREATE PROCEDURE [dbo].[s_get_diploma_frames_deep_links]
(
    -- Add the parameters for the stored procedure here
    @SMI INT = 0,
    @DEBUG BIT = 0,
	@RELATIVE BIT = 1
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

     -- Declare the return variable here
    DECLARE @Link VARCHAR(500) = ''
	
    DECLARE @GradeLevel VARCHAR(500)
	DECLARE @HasLicDiplomaFrames BIT = 0
	SET @GradeLevel = dbo.fn_Affinity_GradeLevel(@SMI)
	
	--select * from magento_automated_product_dataset
	--where [product_collection] like '%stoles%'

	-- Check to see if this SMI has any of the special skus in the SKUList below
	IF [dbo].[fn_School_Has_SKU_in_list] ('6E9329D4-1842-4696-A14E-FB064AD2BC6A',CAST(@SMI as INT)) = 1
	BEGIN 
			SET @Link = 'shop/collections/diploma-frames?pim_a_collection=16951&smi=' + CAST (@SMI AS VARCHAR(25))
		END
	ELSE
		BEGIN -- Default link
			SET @Link = 'shop/df/diploma-frames?smi=' + CAST (@SMI AS VARCHAR(25))
	END
	
	IF @RELATIVE = 0
	BEGIN
		SET @Link = 'https://www-qa.balfour.com/' + @Link
		
	END

	IF @DEBUG = 1 
	BEGIN
		SELECT 
			  @Link AS [link]
	END
	ELSE
	BEGIN
		SELECT 
			  @Link AS [link]
		FOR JSON PATH
	END


END



/*
		Deep linking rules for Diploma Frames:

*/
GO
