/****** Object:  StoredProcedure [dbo].[s_update_extendedprop_on_table]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_update_extendedprop_on_table]
(
	 @TableName VARCHAR(200)
	,@AttribName VARCHAR(200)
	,@Value VARCHAR(1000)
)
WITH EXECUTE AS OWNER
AS
--EXEC  s_update_extendedprop_on_table @TableName = 'MAGE_salesrule_coupon', @AttribName='LastUpdate', @Value='TEST'
--EXEC  s_update_extendedprop_on_table @TableName = 'magento_automated_product_dataset', @AttribName='TEST', @Value='TEST'
BEGIN TRY
	exec sp_updateextendedproperty @name=@AttribName, @value = @Value, @level0type='SCHEMA', @level0name='dbo',@level1type='TABLE', @level1name=@TableName
END TRY
BEGIN CATCH
	exec sp_addextendedproperty @name=@AttribName, @value = @Value, @level0type='SCHEMA', @level0name='dbo',@level1type='TABLE', @level1name=@TableName
END CATCH
GO
