/****** Object:  StoredProcedure [dbo].[s_delete_school_events_locations_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/18/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_school_events_locations_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [School_Events_Locations].
--##PD @ID in [School_Events_Locations].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [School_Events_Locations] WHERE [ID] = @ID



GO
