/****** Object:  StoredProcedure [dbo].[s_get_data_for_idomoo_control]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/08/2020
-- Description: Pulls the outter loop (control) data ready to go to Idomoo
-- =============================================
CREATE PROCEDURE [dbo].[s_get_data_for_idomoo_control]
--EXEC s_get_data_for_idomoo_control
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SELECT TOP 1 [SMI]
      ,[SubComm]
      ,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()),'yyyymmddHHMM') + '_' + CAST([SMI] AS VARCHAR(15)) + CASE WHEN LTRIM(RTRIM(ISNULL([SubComm],''))) <> '' THEN '-' + LTRIM(RTRIM(ISNULL([SubComm],''))) ELSE '' END + '.txt' AS [IdomooFileName]
	  ,[ID]
	FROM [dbo].[VirtCommControl]
	WHERE [FileTransferredToIdomoo] IS NULL
	AND ISNULL([Hold],0) = 0
END
GO
