/****** Object:  StoredProcedure [dbo].[s_update_GradPackPhotoAnnounceTransactions_with_response_DEPRICATED]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 07/17/2019
-- Description: Updates GradPackPhotoAnnounceTransactions with the response from Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_update_GradPackPhotoAnnounceTransactions_with_response_DEPRICATED]
(
     @ID INT
    ,@Silverpop_Response VARCHAR(500)
	
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	UPDATE dbo.[GradPackPhotoAnnounceTransactions] SET [Silverpop_Response] = @Silverpop_Response WHERE [ID] = @ID
END
GO
