/****** Object:  StoredProcedure [dbo].[s_get_should_use_legacy_grad_packs]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 7/14/21
-- Description: determine if we need to use the legacy grad packs or not
-- =============================================
CREATE PROCEDURE [dbo].[s_get_should_use_legacy_grad_packs]
(
     @SMI BIGINT = 135368
	,@Debug BIT = 0	
)
AS
BEGIN
    SET NOCOUNT ON
	-- all on
	DECLARE @UseLegacy INT = 0

	--DECLARE @UseLegacy INT = 1

	--IF @SMI IN ('134693', '134503', '999999', '27861')
	--BEGIN
	--	SET @UseLegacy = 0
	--END
    
	Select @UseLegacy AS [UseLegacy]
	FOR JSON PATH
END
GO
