/****** Object:  StoredProcedure [dbo].[s_delete_gradpacks_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/7/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_delete_gradpacks_record]
(
	 @GradPackID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [GradPacks].
--##PD @GradPackID in [GradPacks].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [GradPacks] WHERE [GradPackID] = @GradPackID


GO
