/****** Object:  StoredProcedure [dbo].[s_update_tableextendedattribs_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 2/23/2021 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_tableextendedattribs_record]
(
 @Name VARCHAR(200) = NULL
,@TableName VARCHAR(200) = NULL
,@Value VARCHAR(1000) = NULL
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [TableExtendedAttribs].
--##RS1 The [ID] value of the inserted/updated record in the table [TableExtendedAttribs].


EXEC [dbo].[s_update_extendedprop_on_table] @TableName=@TableName, @AttribName=@Name, @Value = @Value


SELECT 
  O.Name as [TableName]
, P.Name
, CAST(P.[value] as VARCHAR(MAX)) as [Value]
FROM sys.objects AS o
INNER JOIN sys.extended_properties AS p
		ON p.major_id = o.object_id
		AND p.class = 1
WHERE o.type = 'U' AND P.Name <> 'MS_Description'
AND ISNULL(O.Name,'')+ISNULL(p.Name,'') = @TableName + @Name
GO
