/****** Object:  StoredProcedure [dbo].[s_get_upsell_bottom_item_at_cart_with_gradpack]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in
-- =============================================
/** 
	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
	EXEC [s_get_CSIC_items] @skus = 'A0057042A0000,A0096856a0000', @smi='130925', @debugging = 1
	EXEC [s_get_upsell_bottom_item_at_cart] @skus = 'A0066639A0000'
	EXEC [s_get_upsell_bottom_item_at_cart_with_gradpack] @skus = 'A0066639A0000', @debugging = 1
**/

CREATE PROCEDURE [dbo].[s_get_upsell_bottom_item_at_cart_with_gradpack]
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = NULL,
   @debugging BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @count int
	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @Loop INT, @Max INT
  
	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 
		DECLARE @skulist  TABLE (sku VARCHAR(100), price MONEY, Loop INT IDENTITY(1,1)) 
		INSERT INTO @skulist (sku)			
		SELECT value FROM STRING_SPLIT( @skus, ',') a INNER JOIN [dbo].[magento_automated_product_dataset] p ON (p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)) AND CHARINDEX('https:', a.value) = 0
		ORDER BY p.[Retail Price] DESC
		
		IF EXISTS (SELECT * FROM @skulist WHERE LEFT(sku,8) IN (SELECT LEFT(Sku,8) FROM magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-PACKS'))
		BEGIN
			/**  
			EXEC [dbo].[s_get_upsell_bottom_item_at_cart_with_gradpack] @skus= 'a0225094|85707,a0227662|85707,a0132585|85707' , @debugging = 1
			EXEC [dbo].[s_get_upsell_bottom_item_at_cart] @skus='a0225094|85707,a0227662|85707,a0132585|85707', @debugging = 1
			**/

			--select sku,SUBSTRING(Sku, CHARINDEX('|', sku) + 1, LEN(sku) - CHARINDEX('|', Sku) ) FROM @skulist WHERE LEFT(Sku,8) IN (SELECT Sku FROM magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-PACKS')
			 SELECT TOP 1 @thisSku = Sku, @smi = CASE WHEN CHARINDEX('|', Sku) > 0 THEN SUBSTRING(Sku, CHARINDEX('|', sku) + 1, LEN(sku) - CHARINDEX('|', Sku) ) ELSE 0 END FROM @skulist WHERE LEFT(Sku,8) IN (SELECT Sku FROM magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-PACKS')
			
			IF @debugging = 1 PRINT '@smi: ' + @smi + ', @thisSKu: ' + @thisSku

			 INSERT INTO @results
			 EXEC [s_get_upsell_bottom_item_at_cart_input_single_sku_with_gradpack]  @skus = @thisSku, @smi=@smi
			 
		END
		ELSE
		BEGIN
			SELECT @Max = MAX([Loop]) FROM @skulist
			SET @Loop = 1
			WHILE @Loop <= @Max
			BEGIN
				SELECT @thisSku = [sku] FROM @skulist WHERE [Loop] = @Loop
				IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			


				/*An INSERT EXEC statement cannot be nested. When I try to do the following, So I will grab the guts of the sproc....*/
				/*Insert into @results 
				exec [s_get_cross_sell_EA] @sku = @thisSku*/

				/** THIS BLOCK WILL INSERT MULTIPLE RECORDS FOR EACH Sku (not used)
				DECLARE @innerresults TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), sortOrder int )		   
				INSERT INTO @innerresults
				EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@smi
			  
				IF @debugging = 1 print 'thisSku: ' + @thisSku
				 
				IF EXISTS(SELECT * FROM @innerresults )
					BEGIN
						INSERT INTO @results
						SELECT * FROM @innerresults;
						--DELETE @innerresults;
					END
				**/
				IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
				END

				INSERT INTO @results
				EXEC [s_get_upsell_bottom_item_at_cart_input_single_sku_with_gradpack]  @skus = @thisSku, @smi=@smi
			  
				IF @debugging = 1 print 'thisSku: ' + @thisSku
				SELECT @count = COUNT(sku) FROM @results
				IF @count >= 8 --EXISTS(SELECT * FROM @results)
					BEGIN
						IF @debugging = 1 PRINT 'exit loop   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
						BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
					END 
				IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
				SET @Loop = @Loop + 1
			END 
			IF @debugging = 1 PRINT 'Loop out'
		END
		SELECT DISTINCT TOP 8  imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
	    FROM @results
		ORDER BY SortOrder ASC
	END; 

END
/**
	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
**/

--exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0

 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0
 --	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' 
 --	exec [s_get_CSIC_items] 'A0008601A0000' 
 --exec [s_get_CSIC_items] 'A0003281A0000' 
 --exec [s_get_CSIC_items] 'A0066639A0000' 
 --exec [s_get_CSIC_items] 'A0049693A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0129750A0000' 
 --exec [s_get_CSIC_items] 'A0136516A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0017524A0000' 

 --exec [s_get_CSIC_items] 'A0075899A0000' 
 --exec [s_get_CSIC_items] 'A0139809A0000' 
 --exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 
GO
