/****** Object:  StoredProcedure [dbo].[s_requeue_photo_voucher_email]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/10/2020
-- Description: Requeues a photo voucher email
-- =============================================
--*********************************************************************************************************************************************************************************************
--* NOTE THAT IF YOU CHANGE THE URL www.balfour.com/contemporary-announcements?smi= HERE YOU SHOULD ALSO CHANGE IT IN s_process_queue_gradpack_photo_vouchers, s_queue_data_update_voucher_used AND s_get_arc_orders_records
--*********************************************************************************************************************************************************************************************
CREATE PROCEDURE [dbo].[s_requeue_photo_voucher_email]
(
     @Entity VARCHAR(100) = 'Balfour'
	,@Service VARCHAR(50) = 'Silverpop'
	,@EmailAddresses NVARCHAR(200) = ''
	,@rawData NVARCHAR(MAX) = ''
	,@SMI VARCHAR(15) = ''
	,@Description VARCHAR(100) = 'Photo voucher email resend'
	,@Resend_For BIGINT = 0
	,@Source VARCHAR(50) = 'ARC'
	,@OriginalEmail VARCHAR(200) = ''
	,@Code VARCHAR(max) = ''
	,@ID_Out BIGINT = 0 OUT
)
AS
-- EXEC [dbo].[s_requeue_photo_voucher_email] @Entity = 'Balfour', @Service = 'Silverpop', @EmailAddresses = 'tl@crooksfamily.net', @rawData = '{"first_name":"Judie","Deadline_date":"5/3/2021","VOUCHERCODE":"PHOTOCYIJKUE9Y2CH","VoucherValue":"29.99"}', @SMI = '0', @source='Balfour.com', @OriginalEmail = 'mendytrosper@live.com',@Description='Photo book voucher email resend'
-- EXEC [dbo].[s_requeue_photo_voucher_email] @Entity = 'Balfour', @Service = 'internal', @EmailAddresses = 'william.crooks@balfour.com', @rawData = '{"first_name":"","Deadline_date":"11/24/2021","VOUCHERCODE":"Balfour-r4dvkj","VoucherValue":"119.99"}', @SMI = '0', @source='Balfour.com', @OriginalEmail = 'mendytrosper@live.com',@Description='Photo book voucher email resend', @Code = 'Balfour-r4dvkj'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @OrderID VARCHAR(50), @FileText VARCHAR(MAX)
	SET @ID_Out = 0
	IF ISNULL(@Resend_For,0) = 0
		BEGIN
			PRINT 'Source = ' + @Source
			IF @Source = 'ARC'
				BEGIN
					--Attempt to find the ID of the original email
					--Extract the ARC order number
					BEGIN TRY
						SELECT @OrderID = [value] FROM OPENJSON(@rawData) WHERE  [Key] = 'ORDER_NUMBER' 
						SELECT @Resend_For = [ID] FROM [dbo].[EmailJobs_Queue] WHERE [Email_Name] = CASE WHEN @Source = 'ARC' THEN 'photovouchers' ELSE 'PhotoBookVouchers' END AND [Is_Resend] = 0 AND [Key_Value] = CASE WHEN @Source = 'ARC' THEN @OrderID ELSE @OriginalEmail END
					END TRY
					BEGIN CATCH
						SET @Resend_For = 1
					END CATCH
					SET @rawData = REPLACE(@rawData,'~URL~','www.balfour.com/contemporary-announcements?smi=' + @SMI)
				END
			ELSE
				BEGIN
					IF @Service <> 'internal'
						BEGIN
							PRINT 'Looking for resend ID'
							BEGIN TRY
								SELECT @Resend_For = [ID] FROM [dbo].[EmailJobs_Queue] WHERE [Email_Name] = 'PhotoBookVouchers' AND ISNULL([Is_Resend],0) = 0 AND [Key_Value] = @OriginalEmail 
							END TRY
							BEGIN CATCH
								SET @Resend_For = 1
							END CATCH
						END
					ELSE
						BEGIN --This is a digital code resend
							PRINT 'Digital code resend'
							--Reform the raw data from: {"first_name":"Valued Customer","Deadline_date":"06/02/2021","VOUCHERCODE":"PHOTO234A29MTCQEI","VoucherValue":"29.99"}
							--to: {"cc":"","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"Non-Contiguous States Orders Report","body":"The Non-Contiguous States Orders report run 04/22/2020 05:24 PM is attached."}
							SELECT @Description = 'Digital code resend'
							DECLARE @newRawData VARCHAR(MAX)
							SET @FileText = ''
							SELECT @newRawData = '{"cc":"","bcc":"","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"Voucher Code","body":"', @FileText = 'Your voucher code is '
							SELECT @FileText = @FileText + [Value] + ' in the amount of ' FROM OPENJSON(@rawData) WHERE [Key] = 'VOUCHERCODE'
							SELECT @FileText = @FileText + [Value] + '.' FROM OPENJSON(@rawData) WHERE [Key] = 'VoucherValue'
							SET @newRawData = @newRawData + @FileText + '"}'
							SET @rawData = @newRawData
						END
				END
		END
	PRINT 'Resend for: ' + CAST(@Resend_For AS VARCHAR(50))
	
	IF @Service <> 'Internal'
		BEGIN
			INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name], [Entity], [Service], [Description], [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], [emailAddresses], [rawData], [Queued_DTM], [Is_Resend], [Resend_For])
			SELECT CASE WHEN @Source = 'ARC' THEN 'photovouchers' ELSE CASE WHEN @Service <> 'internal' THEN 'PhotoBookVouchers' ELSE 'digitalcode' END END, @Entity,@Service,@Description,[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],@EmailAddresses,@rawData, GETDATE(),1,@Resend_For
			FROM [dbo].[EmailJobs] 
			WHERE [Email_Name] = CASE WHEN @Source = 'ARC' THEN 'PhotoAnnVouchers' ELSE 'PhotoBookVouchers' END AND [Entity] = @Entity AND [Service] = @Service
		END
	ELSE
		BEGIN
			INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name], [Entity], [Service], [Description], [emailAddresses], [rawData],[Attachment_Name],[Attachment])
			VALUES ('Report','Balfour','internal',@Description, @EmailAddresses, @rawData,'code.txt',CAST(@FileText AS VARBINARY(MAX)))
		END
	SET @ID_Out = SCOPE_IDENTITY()
END
GO
