/****** Object:  StoredProcedure [dbo].[s_delete_virtcommmaster_record]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/22/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_virtcommmaster_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [VirtCommMaster].
--##PD @ID in [VirtCommMaster].
--##RS1 -NONE-
SET NOCOUNT ON
--DELETE ANY CHILDREN FIRST
DELETE FROM [dbo].[VirtCommDetail] WHERE [ParentGUID] IN (SELECT [GUID] FROM [dbo].[VirtCommMaster] WHERE [ID] = @ID)
DELETE FROM [VirtCommMaster] WHERE [ID] = @ID


GO
