/****** Object:  StoredProcedure [dbo].[s_get_affinity_data_qa]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- TL
-- 06/11/2020
-- Description: Returns data used to power Affinity pages
-- Note that for images coming from Canto we use s_get_image_info_by_sku and these image names/paths are stored in [dbo].[ContentNoSMINonProductImages]
-- 10/27/2020 TL:  School events need to show for any school which has one.  Test with 135156 https://www.balfour.com/florida/port-st-lucie/somerset-academy, 37326 https://www.balfour.com/michigan/northville/winchester-elementary-school
-- 11/04/2020 TL:  No longer look at any Virtcomm data
-- =============================================
CREATE PROCEDURE [dbo].[s_get_affinity_data_qa]
(
     @SMI BIGINT = 0
	,@Debug BIT = 0
	,@CallingSite VARCHAR(300) = ''
	,@testData VARCHAR(MAX) = ''
)
AS
/*
SELECT DB_NAME()  as [instance], CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
*/

--EXEC s_get_affinity_data @SMI = 59827
--EXEC s_get_affinity_data @SMI = 135156   --https://www.balfour.com/florida/port-st-lucie/somerset-academy
--EXEC s_get_affinity_data @SMI = 37326 --https://www.balfour.com/michigan/northville/winchester-elementary-school
--EXEC s_get_affinity_data @SMI = 65534 --https://www.balfour.com/pennsylvania/boiling-sprgs/boiling-springs-high-school
--EXEC s_get_affinity_data @SMI = 82 --Univesity of Texas at Arlington
--EXEC s_get_affinity_data @SMI = 130495 --Clemson
--EXEC s_get_affinity_data @SMI = 131657 --Texas Tech
--EXEC s_get_affinity_data @SMI = 131619 --Sam Houston State University 
--EXEC s_get_affinity_data @SMI = 130457 --University of Houston
--EXEC s_get_affinity_data @SMI = 131548 --University of South Carolina at Columbia
--EXEC s_get_affinity_data @SMI = 131205 - NCSU

--EXEC s_get_affinity_data @SMI = 131276 -- NMSU
--EXEC s_get_affinity_data @SMI = 130996, @Debug = 1 --LSU
--EXEC s_get_affinity_data @SMI = 131722 --Virginia Tech - has school messages
--EXEC s_get_affinity_data @SMI = 131575 --Baylor
--EXEC s_get_affinity_data @SMI = 533 --Yearbook only
--EXEC s_get_affinity_data @SMI = 72793 -- Magnolia High School - Letterman
--EXEC s_get_affinity_data @SMI = 131662 -- UTA
--EXEC s_get_affinity_data @SMI = 131575 -- Baylor
--EXEC s_get_affinity_data @SMI = 131718 -- Virginia
--EXEC s_get_affinity_data @SMI = 130941 -- Purdue
--EXEC s_get_affinity_data @SMI = 130636 --Auburn
--EXEC s_get_affinity_data @SMI = 134432
--EXEC s_get_affinity_data @SMI = 132009, @Debug = 1 
--EXEC s_get_affinity_data @SMI = 1111111
--EXEC s_get_affinity_data @SMI = 131722, @Debug = 1 
--EXEC s_get_affinity_data @SMI = 136133, @Debug = 1

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	--Log the calling site
	INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data])
	VALUES ('s_get_affinity_data','SMI: ' + CAST(@SMI as VARCHAR(15)) + ' Calling site: ' + @CallingSite)
	PRINT '|' + OBJECT_NAME(@@PROCID) + '|'
	DECLARE @Cnt INT
	SET @Cnt = 0
	SELECT @Cnt = COUNT(*) FROM ContentAffinityPages WHERE [SMI] = @SMI
	IF @Cnt = 0
		BEGIN
			--Try adding it
			If EXISTS(SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI)
				BEGIN
				  INSERT INTO [dbo].[ContentAffinityPages] ([SMI]) VALUES (@SMI)
				  SET @Cnt = 1
				END
			ELSE
				BEGIN
					--Log it
					INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data])
					VALUES ('s_get_Affinity_Data','[SMI] ' + CAST(@SMI AS VARCHAR(50)) + ' not found')
				END

		END
	IF @Cnt > 0
		BEGIN
			DECLARE @YearbookOnly BIT, @noRings BIT, @GradeLevel VARCHAR(50), @ringsHeadlineText VARCHAR(100), @ringsTileHeadlineText VARCHAR(100), @ringsSubheadlineText VARCHAR(100), @ringTileImage_one_a VARCHAR(200), 
			        @ringTileImage_one_b VARCHAR(200), @ringTileImage_two_a VARCHAR(200), @ringTileImage_two_b VARCHAR(200), @mainRingTileImage_one VARCHAR(200), @lettermanLink VARCHAR(200), @RingOnly BIGINT, 
					@yearbookGraduationHeadline VARCHAR(200), @yearbookGraduationSubHeadline VARCHAR(200), @schoolShopTilesHeadline VARCHAR(200), @announcementsTileHeadline VARCHAR(200), 
					@announcementsTileSubHeadline VARCHAR(200), @gradPacksTileHeadline VARCHAR(200), @gradPacksTileSubHeadline VARCHAR(200), @gradPacksURL VARCHAR(200), @hasYearbook BIT, 
					@TempImage VARCHAR(200), @YearbookImageMainDesktop VARCHAR(200), @YearbookImageMainMobile VARCHAR(200), @Flags BIGINT, @CapAndGownURL VARCHAR(200), @GradAnnouncementURL VARCHAR(200), @gradEssTileCTALinkNewTab BIT,
					@GradeSpecificAnnouncementImageFullWidth VARCHAR(200), @GradeSpecificGradPackImageFullWidth VARCHAR(200), @GradeSpecificAnnouncementContentSide VARCHAR(200), 
					@GradeSpecificGradPackContentSide VARCHAR(200), @underRingsMarketingBanner VARCHAR(MAX), @GradeSpecificAnnouncementImage VARCHAR(200), 
					@GradeSpecificAnnouncementImageMobile VARCHAR(200), @GradeSpecificGradPackImage VARCHAR(200), @GradeSpecificGradPackImageMobile VARCHAR(200), 
					@underYearbookMarketingBanner VARCHAR(MAX), @underEssentialsMarketingBanner VARCHAR(MAX), @underEventsMarketingBanner VARCHAR(MAX), @underSchoolShopsMarketingBanner VARCHAR(MAX),
					@underCategoriesMarketingBanner VARCHAR(MAX), @underEmailMarketingBanner VARCHAR(MAX), @underMessagesMarketingBanner VARCHAR(MAX), @underHeadlineMarketingBanner VARCHAR(MAX)

			--Initialize variables
			SELECT @underHeadlineMarketingBanner = '', @underRingsMarketingBanner = '', @underYearbookMarketingBanner= '', @underEssentialsMarketingBanner = '', @underEventsMarketingBanner = '', @underSchoolShopsMarketingBanner = '',
				   @underCategoriesMarketingBanner = '', @underEmailMarketingBanner = '', @underMessagesMarketingBanner = '', @gradEssTileCTALinkNewTab = 0, @noRings = 0

			
			
			--Determine grade level for use in other functions
			SET @GradeLevel = ''

			SELECT @GradeLevel = [dbo].[fn_Affinity_GradeLevel] (@SMI) /*CASE WHEN isElementary = 1 THEN 'Elementary' WHEN isMiddleSchool = 1 THEN 'Middle School' WHEN isHighSchool = 1 THEN 'High School' WHEN isCollege = 1 THEN 'College' END*/ FROM school_url_master WHERE smi = @smi
			SELECT @lettermanLink = dbo.[fn_Affinity_LettermanUrl]([SMI]), 	@YearbookOnly = CASE WHEN ([Flags] & 16) > 0 THEN CAST(1 AS BIT) ELSE CAST(0 as BIT) END/*STOPPED USING THIS 09/29/2020 TL (see comments in function for details )[dbo].[fn_Affinity_Yearbookonly] ([SMI])*/, @hasYearbook = dbo.fn_Affinity_Yearbook([SMI]), @GradAnnouncementURL = [dbo].[fn_Affinity_GradAnnoucementUrl] (@SMI, @GradeLevel), @Flags = [Flags] FROM [dbo].[ContentAffinityPages] WHERE SMI = @SMI 
			IF @GradAnnouncementURL NOT LIKE '/shop%' AND @GradAnnouncementURL NOT LIKE 'https://www.balfour.com%' SET @gradEssTileCTALinkNewTab = 1
			

			SET @RingOnly = 
				CASE 
					WHEN (@Flags & 32) > 0 THEN 32 --True Ring Only
					WHEN (@Flags & 2048) > 0 THEN 2048 --Ring Only + Yearbook
					WHEN (@Flags & 4096) > 0 THEN 4096 --Ring Only + Yearbook + CBGrad
					WHEN (@Flags & 8192) > 0 THEN 8192 --Ring Only + CBGrad
					WHEN (@Flags & 32768) > 0 THEN 32768 --Ring Only + Ring Tiles
					ELSE 0
				END
			
			IF (@Flags & 131072) > 0 SET @noRings = 1
	
			
			IF @Debug = 1
				BEGIN
					PRINT '@GradeLevel = ' + @GradeLevel
					PRINT 'Ring Only = ' + CAST (@RingOnly AS VARCHAR(25))
					PRINT '@hasYearbook = ' + CAST(@hasYearbook as VARCHAR(20))
					PRINT '@noRings = ' + CASE WHEN @noRings = 0 THEN 'false' ELSE 'true' END
					PRINT '@Flags = ' + CAST(@Flags AS VARCHAR(25))
					PRINT 'Flags|A bit mapped field with the following values: Flags|A bit mapped field with the following values: 1=Letterman;2=Spiritwear;4=Fan Shop;8=Alumni Store;16=Yearbook only; 32 Ring only; 64=Force gradpack; 128=KS; 256=Univ Coll; 512=Liz James; 1024=Yearbook; 2048 Ring Only+Yearbook; 4096 Ring Only+Yearbook+CBGrad; 8192 Ring Only+CBGrad; 16384 Suppress Grad Packs; 32768 Ring Only + Ring Tiles '
					PRINT '@YearbookOnly = ' + CAST(@YearbookOnly AS VARCHAR(25))
				END

			--[11/02/2020] No under rings banner during holidays
--			IF @YearbookOnly = 1 OR @SMI IN (130636 /*Auburn*/, 131644 /*Texas A&M*/) OR @noRings = 1 
--				BEGIN
--					PRINT 'No marketing banner'
--					SET @underRingsMarketingBanner = ''
--				END
--			ELSE
--				BEGIN
--					SET @underRingsMarketingBanner = N'
--			<style>
--.ks-banner-img {
--  margin-top: -10px;
--  margin-bottom: 70px;
--}
--.ks-banner-img-lg {
--  display:block;
--  width:100%;
--  max-width:1170px;
--  margin-left: auto;
--  margin-right:auto;
--  text-align: center;
--}
--.ks-banner-img-lg img {
--  width:100%;
--  max-width: 970px;
--  margin: 0 auto;
--}
--.ks-banner-img-sm {
--  display: none
--}
--@media screen and (max-width:750px) {
--  .ks-banner-img-lg {
--     display: none
--  }
--  .ks-banner-img-sm {
--     display:block;
--     width:100%;
--     max-width:750px;
--     margin-left: auto;
--     margin-right:auto;
--     text-align: center;
--  }
--  .ks-banner-img-sm img {
--    width:100%;
--    max-width: 350px;
--    margin: 0 auto;
--  }
--}
--</style>
--<div class="row ks-banner-img">
--  <div class="col-xs-12 ks-banner-img-lg">
--     <a href="https://www.balfour.com/ks" target="_blank">
--        <img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/banner-assets/_sep2020/GWP_Promo-D_v2.jpg" alt="Free Kendra Scott gift with any class jewelry purchase of $150 or more.">
--     </a>
--  </div>
--  <div class="col-xs-12 ks-banner-img-sm">
--     <a href="https://www.balfour.com/ks" target="_blank">
--       <img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/banner-assets/_sep2020/GWP_Promo-M_v3.jpg" alt="Free Kendra Scott gift with any class jewelry purchase of $150 or more.">
--     </a>
--  </div>
--</div>
--			'
--				END
			IF @SMI = 131722 /*VT*/
				BEGIN
					
					SELECT @underHeadlineMarketingBanner = ISNULL([HTMLContent],'') FROM [dbo].[ConditionalContent] 
					WHERE [GUID] = 'BF226DC0-DE12-42DD-9AC4-6BB5624A8B6B' --'2E3839B3-30BD-410C-8843-A5935DAD4086'-- -- 
				END
				
			ELSE 
				BEGIN
					--[11/04/2020] TL - Aded an exclusion list
					IF @SMI IN (131635,131637,131636,131638,131639,131640,131641,131644)
						SET @underHeadlineMarketingBanner = ''
					ELSE  --10/27/2020 TL - Added 2020 holiday banner over rings for College MC and High Schools or College non-MC
						BEGIN
							IF dbo.fn_InCollection(@SMI,'BalProdColl_CollMC') = 1 
								BEGIN
									SELECT @underHeadlineMarketingBanner = ISNULL([HTMLContent],'') FROM [dbo].[ConditionalContent] 
									WHERE [GUID] = 'CB113364-7B6C-476B-94C2-0CFCF9A42896' 
								END
							ELSE
								BEGIN
									IF dbo.fn_Affinity_GradeLevel(@SMI) = 'High School' OR (dbo.fn_Affinity_GradeLevel(@SMI) = 'College' AND dbo.fn_InCollection(@SMI,'BalProdColl_CollMC') = 0)
										BEGIN
											SELECT @underHeadlineMarketingBanner = ISNULL([HTMLContent],'') FROM [dbo].[ConditionalContent] 
											WHERE [GUID] = 'BACE0A83-37BE-48E6-9BEF-49080D0E3A2A' 
										END
								END
						END
				END
				

			--SET @mainRingTileImage_one = 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=SKUaffinity&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG'
			--Note that decision for the main ring image is in s_get_image_info_by_sku.  See the note at the top of this sproc
			SET @mainRingTileImage_one = 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=affinity&smi=' + CAST (@SMI AS VARCHAR(25)) + '&requestedImageType=PNG'
			SELECT @ringsHeadlineText = CASE WHEN @GradeLevel = 'College' THEN 'OFFICIAL CLASS RINGS & JEWELRY' WHEN @GradeLevel = 'High School' THEN 'OFFICIAL HIGH SCHOOL CLASS RINGS & JEWELRY' ELSE 'OFFICIAL JUNIOR HIGH SCHOOL CLASS RINGS & JEWELRY' END 
			SELECT @ringsSubheadlineText = CASE WHEN @GradeLevel = 'College' THEN 'Choose your favorite ring for your ring ceremony' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN '' END 
			SELECT @ringsTileHeadlineText = CASE WHEN @GradeLevel = 'College' THEN 'Traditional College Rings' WHEN @GradeLevel = 'High School' THEN 'Traditional High School Class Rings' ELSE 'Traditional Junior High Class Rings' END
			
			SELECT @yearbookGraduationHeadline = CASE WHEN @GradeLevel = 'College' THEN 'CAMPUS ESSENTIALS' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'STUDENT ESSENTIALS' END
			SELECT @yearbookGraduationSubHeadline = CASE WHEN @GradeLevel = 'College' THEN /*'College experience unlocked.'*/'Get Everything You Need for the Year' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN /*'Student experience achievement unlocked'*/'Get Everything You Need for the Year' END
			SELECT @schoolShopTilesHeadline = CASE WHEN @GradeLevel = 'College' THEN 'YOUR SCHOOL SHOP' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'MORE IN OUR CAMPUS STORE' END

			SELECT @announcementsTileHeadline = CASE WHEN @GradeLevel = 'College' THEN 'ANNOUNCEMENTS' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'ANNOUNCEMENTS' END
			SELECT @announcementsTileSubHeadline = CASE WHEN @GradeLevel = 'College' THEN 'Celebrate your achievement with family and friends' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'Celebrate your achievement with family and friends' END

			SELECT @gradPacksTileHeadline = CASE WHEN @GradeLevel = 'College' THEN 'GRADPACKS' 
				WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'GRADPACKS / CAPS & GOWNS' END
			SELECT @gradPacksTileSubHeadline = CASE WHEN @GradeLevel = 'College' THEN 'Everything you need for graduation. ' 
				WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'Your one-stop package for senior year' END

			SELECT  @YearbookImageMainDesktop = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/Yearbook-L_1128x330-D_v3.jpg' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/Yearbook-L_1128x330-D_v3.jpg' END
			SELECT  @YearbookImageMainMobile = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/Yearbook-L_692x480-M_v3.jpg' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/Yearbook-L_692x480-M_v2.jpg' END

			SELECT  @GradeSpecificAnnouncementImage = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/CollegeAnn-P_692x480-M_v2.jpg' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN /*'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/HSAnn-P_692x480-M_v1.jpg'*/'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/HSAnn-P_692x480-M_v3.jpg' END
			SELECT  @GradeSpecificAnnouncementImageMobile = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/CollegeAnn-P_692x480-M_v2.jpg' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN /*'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/HSAnn-P_692x480-M_v1.jpg'*/'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/HSAnn-P_692x480-M_v3.jpg' END
			SELECT  @GradeSpecificAnnouncementImageFullWidth = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/CollegeAnn-P_1128x330-D_v2.jpg' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN /*'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/HSAnn-P_1128x330-D_v1.jpg'*/'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/HSAnn-P_1128x330-D_v3.jpg' END
			SELECT  @GradeSpecificAnnouncementContentSide = CASE WHEN @GradeLevel = 'College' THEN 'Right' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'Right' END

			SELECT  @GradeSpecificGradPackImage = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/Grad-L_692x480-M_v2.jpg' 
				WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/GradPack-P_692x480-M_v3.jpg' END
			SELECT  @GradeSpecificGradPackImageMobile = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/GradPack-P_346x240-M_v2.jpg' 
				WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/GradPack-P_692x480-M_v2yellow.jpg' END
			SELECT  @GradeSpecificGradPackImageFullWidth = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/GradPack-P_1128x330-D_v3.jpg' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/GradPack-P_1128x330-D_v2.jpg' END
			SELECT  @GradeSpecificGradPackContentSide = CASE WHEN @GradeLevel = 'College' THEN 'Right' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'Left' END

			--SELECT @announcementTileLink = [dbo].[fn_Affinity_GradAnnoucementUrl] (@SMI)

			DECLARE @RingsTileList TABLE ([ringsTileImage] VARCHAR(200), [ringsTileImageMobile] VARCHAR(200), [ringsTileText] VARCHAR(500), [ringsTileTitle] VARCHAR(200), [ringsTileMarketingCallout] VARCHAR(200), [ringsTileButtonText] VARCHAR(200), [ringsTileCTALink] VARCHAR(200), [ringsTileCTALinkNewTab] BIT, [logoImage] VARCHAR(200), [ringImageOne] VARCHAR(200), [ringImageTwo] VARCHAR(200), [ringImageSingle] VARCHAR(200), [ringsTileButtonTitle] VARCHAR(200), [useTwoRingTile] BIT, [Sort_Order] INT)
			DECLARE @GradEssTileList TABLE ([gradEssTileImage] VARCHAR(200), [gradEssTileImageMobile] VARCHAR(200), [gradEssTileImageFullWidth] VARCHAR(200), [gradEssTileText] VARCHAR(500), [gradEssTileTitle] VARCHAR(200), [gradEssTileCTALink] VARCHAR(200), [gradEssTileCTALinkNewTab] BIT, [gradEssMobileButtonText] VARCHAR(200), [contentSide] VARCHAR(20), [Sort_Order] INT)
			DECLARE @SchoolShopTileList TABLE ([schoolShopTileImage] VARCHAR(200), [schoolShopTileImageMobile] VARCHAR(200), [schoolShopTileText] VARCHAR(500), [schoolShopTileCTALink] VARCHAR(200),[schoolShopTileCTALinkNewTab] BIT, [Sort_Order] INT)
			DECLARE @CategoryList TABLE ([categoryImage] VARCHAR(8000), [categoryLink] VARCHAR(200), [categoryText] VARCHAR(500), [Sort_Order] INT)
    			
			SET @ringTileImage_one_a = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224335&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224324&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END
			SET @ringTileImage_one_b = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224339&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224328&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END	
			SET @ringTileImage_two_a = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224583&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224588&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END
			SET @ringTileImage_two_b = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224793&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224585&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END	
			
			--Events
			
			IF @RingOnly = 0 --Events are off for any of the Ring Only possibilities
				BEGIN
					--[06/29/2020] TL - Pull the events data
					DECLARE @Results TABLE ([sMI] INT, [iD] INT, [date] VARCHAR(100),[title] NVARCHAR(200), [description] NVARCHAR(MAX),[image_URL] VARCHAR(200),[gUID] VARCHAR(50)
					,[event_Content] NVARCHAR(MAX), [locationDateTimeInfo] VARCHAR(MAX), [uRL] VARCHAR(300),[timeStamp] VARCHAR(50),[sort_Order] INT IDENTITY(1,1))
					--[11/04/2020] TL - NO LONGER USE ANY VIRSTCOMM DATA
					/*
					--Add virtcomm first
					INSERT INTO @Results ([sMI], [iD], [date], [title], [description], [image_URL], [gUID], [event_Content], [locationDateTimeInfo], [uRL], [timeStamp])
					SELECT
						 events.[sMI]
						,[id]
						,FORMAT([EventDTM], 'MM/dd/yyyy') AS [date]
						,ISNULL([Title],'Virtual Commencement')
						,ISNULL([Description],'Online virtual commencement')
						,CASE WHEN [dbo].[fn_get_yearbook_grade_level_for_smi](@SMI) = 'COLLEGE' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile_v2.jpg' END
						,[gUID]
						,''
						,FORMAT([EventDTM], 'MMM d') + '<br />' + FORMAT(CAST([EventDTM] AS DATETIME), 'h tt') 
						,'/' + LOWER(URL.URL) + '/grad'
						,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
					FROM [dbo].[VirtCommMaster] events
					LEFT JOIN [dbo].[School_URL_Master] URL ON URL.SMI = Events.SMI
					WHERE events.[SMI] = @SMI 
					AND ISNULL(events.[Enabled],0) = 1
					AND DATEADD(day,14,[EventDTM]) >= dbo.fn_DateTime_To_Central(GETDATE())
					*/

					--10/27/2020 TL Show events for all schools
					--IF @YearbookOnly = 0
						--BEGIN
							INSERT INTO @Results ([sMI], [iD], [date],[title], [description],[image_URL],[gUID]
							,[event_Content], [locationDateTimeInfo], [uRL],[timeStamp])
							SELECT
									 events.[sMI]
									,[iD]
									,FORMAT(/*dbo.fn_DateTime_to_Central(*/[Date]/*)*/, 'MM/dd/yyyy') + CASE WHEN ISNULL([ScheduleChange],0) = 2 THEN ' CANCELED' ELSE '' END AS [date]
									,CASE WHEN ISNULL([ScheduleChange],0) = 2 THEN 'CANCELED: ' ELSE '' END + ISNULL([Title],'')  as [title]
									,ISNULL([Description],'') as [description] 
									,ISNULL([Image_URL],'') as [image_URL]
									,[gUID]
									,ISNULL([Event_Content],'') as [event_Content]
									--,dbo.fn_GetLocationDateTimeInfoForEcom ([GUID]) as [locationDateTimeInfo]
									,'<p class="event-text"><span class="event-label">Date:&nbsp;' + FORMAT(/*dbo.fn_DateTime_to_Central(*/[Date]/*)*/, 'MM/dd/yyyy') + CASE WHEN ISNULL([ScheduleChange],0) = 2 THEN ' CANCELED' ELSE '' END + '</span></p>'as [locationDateTimeInfo]
									,CASE WHEN ISNULL(events.[URL],'') LIKE 'http%' THEN events.[URL] ELSE '/' + LOWER(URL.URL) + '/events/' + REPLACE(LOWER(CASE WHEN ISNULL(events.[URL],'') = '' THEN ISNULL([Title],'') ELSE ISNULL(events.[URL],'') END), ' ', '%20') END as [uRL]
									,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
									FROM [School_Events] events
									LEFT JOIN [dbo].[School_URL_Master] URL ON URL.SMI = Events.SMI
									WHERE  ISNULL(events.[BatchID],'')  = ''
									AND events.[SMI] = @SMI
									AND /*dbo.fn_DateTime_to_Central(*/[Date]/*)*/ >= CAST(FORMAT(dbo.fn_DateTime_to_Central(DATEADD(dd,-1,GETDATE())),'MM/dd/yyyy') AS DATETIME)
									ORDER BY [Date]
									--FOR JSON PATH
						--END
					IF EXISTS (SELECT * FROM @Results) PRINT 'School has events'
				END

			--RingsTileList
			IF @YearbookOnly = 0 
				BEGIN
					IF @noRings = 0
						BEGIN
						    IF (@RingOnly <> 32) AND @GradeLevel <> 'Elementary' --Only show ring tiles if not one of the Ring Only flavors (as of 09/15/2020 Ring Only + Ring Tiles is the exception) and not elementary
							--IF (@RingOnly = 0 OR @RingOnly = 32768) AND @GradeLevel <> 'Elementary' --Only show ring tiles if not one of the Ring Only flavors (as of 09/15/2020 Ring Only + Ring Tiles is the exception) and not elementary
								BEGIN
									--Ring tiles
									IF [dbo].[fn_Affinity_KS](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
										BEGIN
											INSERT INTO @RingsTileList ([ringsTileImage], [ringsTileImageMobile], [ringsTileText], [ringsTileTitle], [ringsTileMarketingCallout], [ringsTileButtonText], [ringsTileCTALink], [ringsTileCTALinkNewTab], [logoImage], [ringImageOne], [ringImageTwo], [ringImageSingle], [ringsTileButtonTitle], [useTwoRingTile],  [Sort_Order])
											SELECT '' as [ringsTileImage], '' [ringsTileImageMobile], 'A bold new shape on tradition. Exclusive to Balfour' as [ringsTileText], 'The Kendra Scott Collection' as [ringsTileTitle], 'Free Gift + Holiday Delivery' as [ringsTileMarketingCallout], 'SHOP ALL' as [ringsTileButtonText], CASE WHEN @GradeLevel = 'College' THEN '/shop/jewelry/rings/college-class-rings?pim_a_collection=15090&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN 'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15090&smi=' ELSE '/kendra-scott?smi=' END + CAST(@SMI as VARCHAR(25)) as [ringsTileCTALink], 'false' as [ringsTileCTALinkNewTab], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/logos/Kendra_scott.svg' as [logoImage], @ringTileImage_one_a as [ringImageOne], @ringTileImage_one_b as [ringImageTwo], '' as [ringImageSingle], '' as [ringsTileButtonTitle], 'true' as [useTwoRingTile], 1
										END
					
									--University Collection
									IF [dbo].[fn_Affinity_UnivColl](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
										BEGIN
											INSERT INTO @RingsTileList ([ringsTileImage], [ringsTileImageMobile], [ringsTileText], [ringsTileTitle], [ringsTileMarketingCallout], [ringsTileButtonText], [ringsTileCTALink], [ringsTileCTALinkNewTab], [logoImage], [ringImageOne], [ringImageTwo], [ringImageSingle], [ringsTileButtonTitle], [useTwoRingTile],  [Sort_Order])
											SELECT '' as [ringsTileImage], '' [ringsTileImageMobile], 'Timeless sophistication meets tradition.' as [ringsTileText], 'University Collection By Balfour &trade;' as [ringsTileTitle], 'Free Gift + Holiday Delivery' as [ringsTileMarketingCallout], 'SHOP ALL' as [ringsTileButtonText], CASE WHEN @GradeLevel = ('College') THEN '/shop/jewelry/rings/official-college-class-rings?pim_a_collection=15089&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN 'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' ELSE /*'/shop/jewelry/rings/high-school-class-rings?smi='*/'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' END + CAST(@SMI as VARCHAR(25))  as [ringsTileCTALink], 'false' as [ringsTileCTALinkNewTab], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/logos/University_collection.svg' as [logoImage], @ringTileImage_two_a as [ringImageOne], @ringTileImage_two_b as [ringImageTwo], '' as [ringImageSingle], '' as [ringsTileButtonTitle], 'true' as [useTwoRingTile], 2
										END
									IF [dbo].[fn_Affinity_LizJames](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
										BEGIN
											INSERT INTO @RingsTileList ([ringsTileImage], [ringsTileImageMobile], [ringsTileText], [ringsTileTitle], [ringsTileMarketingCallout], [ringsTileButtonText], [ringsTileCTALink], [ringsTileCTALinkNewTab], [logoImage], [ringImageOne], [ringImageTwo], [ringImageSingle], [ringsTileButtonTitle], [useTwoRingTile],  [Sort_Order])
											SELECT '' as [ringsTileImage], '' [ringsTileImageMobile], 'Take your memories with you every day, everywhere you go.' as [ringsTileText], 'Liz James Collection' as [ringsTileTitle], '25% Off + Free Gift' as [ringsTileMarketingCallout], 'SHOP ALL'  as [ringsTileButtonText], CASE WHEN @GradeLevel in ('High School') THEN '/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15088&pim_a_ctscategory=11381&smi=' ELSE '/shop/brand/liz-james?smi=' END + CAST(@SMI as VARCHAR(25)) as [ringsTileCTALink], 'false' as [ringsTileCTALinkNewTab], '' as [logoImage], '' as [ringImageOne], '' as [ringImageTwo], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/redesign-mockup/HS_MC_LizJames.png' as [ringImageSingle], '' as [ringsTileButtonTitle], 'false' as [useTwoRingTile], 3
										END
					
									--GRADESSTILELIST WAS HERE
					
								END
						END
					--GradEssTileList - MOVED OUTSIDE OF RING-ONLY 08/19/2020 BY TL
					IF @RingOnly NOT IN (32/*True Ring Only*/,2048/*Ring Only + Yearbook*/)
						BEGIN	
							
					
							--Cap and Gown (Also called Graduation by Eudora)
							SET @CapAndGownURL = dbo.fn_Affinity_CapAndGownUrl(@SMI)
							IF LTRIM(RTRIM(ISNULL(@CapAndGownURL ,''))) <> '' --AND 1 = 2 --To keep it from showing right now
								BEGIN --SEAN - CAP AND GOWN WORK HERE
									INSERT INTO @GradEssTileList ([gradEssTileImage], [gradEssTileImageMobile], [gradEssTileImageFullWidth], [gradEssTileText], [gradEssTileTitle], [gradEssTileCTALink], [gradEssMobileButtonText], [gradEssTileCTALinkNewTab], [contentSide], [Sort_Order])
									SELECT /*@GradeSpecificAnnouncementImage*/'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/Grad-L_692x480-M_v2.jpg' as [gradEssTileImage], /*@GradeSpecificAnnouncementImageMobile*/'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/Grad-L_692x480-M_v2.jpg' as [gradEssTileImageMobile], CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/college/Grad-L_1128x330-D_v1.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/GradPack-P_1128x330-D_v3.jpg' END as [gradEssTileImageFullWidth], /*@announcementsTileSubHeadline*/'Everything you need for graduation.' as [gradEssTileText], /*@announcementsTileHeadline*/'GRADUATION' as [gradEssTileTitle],  @CapAndGownURL as [gradEssTileCTALink], 'ORDER NOW' as [gradEssMobileButtonText], CASE WHEN @CapAndGownURL LIKE '/%' OR @CapAndGownURL LIKE 'https://www.ba;four.com%' OR @CapAndGownURL LIKE 'www.balfour.com%' THEN 'false' ELSE 'true' END as [gradEssTileCTALinkNewTab], @GradeSpecificGradPackContentSide as [contentSide], 1
								END

							--Tramel owns this
							IF @GradAnnouncementURL <> '' --[09/15/2020] TL - Some colleges will no longer have a grad announcement link - we used to use a default but no more
								BEGIN
									INSERT INTO @GradEssTileList ([gradEssTileImage], [gradEssTileImageMobile], [gradEssTileImageFullWidth], [gradEssTileText], [gradEssTileTitle], [gradEssTileCTALink], [gradEssMobileButtonText], [gradEssTileCTALinkNewTab], [contentSide], [Sort_Order])
									SELECT @GradeSpecificAnnouncementImage as [gradEssTileImage], @GradeSpecificAnnouncementImageMobile as [gradEssTileImageMobile], @GradeSpecificAnnouncementImageFullWidth as [gradEssTileImageFullWidth], @announcementsTileSubHeadline as [gradEssTileText], @announcementsTileHeadline as [gradEssTileTitle],  @GradAnnouncementURL/*[dbo].[fn_Affinity_GradAnnoucementUrl] (@SMI, @GradeLevel)*/ as [gradEssTileCTALink], 'ORDER NOW' as [gradEssMobileButtonText], @gradEssTileCTALinkNewTab/*'false'*/ as [gradEssTileCTALinkNewTab], @GradeSpecificAnnouncementContentSide as [contentSide], 2
								END

							--Tramel owns this
							IF @GradeLevel = 'High School' 
								BEGIN
									SET @gradPacksURL = [dbo].[fn_Affinity_GradPackUrl](@SMI)
									IF LTRIM(RTRIM(ISNULL(@gradPacksURL,''))) <> ''
										BEGIN
											INSERT INTO @GradEssTileList ([gradEssTileImage], [gradEssTileImageMobile], [gradEssTileImageFullWidth], [gradEssTileText], [gradEssTileTitle], [gradEssTileCTALink], [gradEssMobileButtonText], [gradEssTileCTALinkNewTab], [contentSide], [Sort_Order])
											SELECT @GradeSpecificGradPackImage as [gradEssTileImage], @GradeSpecificGradPackImageMobile as [gradEssTileImageMobile], @GradeSpecificGradPackImageFullWidth as [gradEssTileImageFullWidth], @gradPacksTileSubHeadline as [gradEssTileText], @gradPacksTileHeadline as [gradEssTileTitle], @gradPacksURL/*'/shop/graduation?smi=' + CAST(@SMI as VARCHAR(25))*/ as [gradEssTileCTALink], 'ORDER NOW' as [gradEssMobileButtonText], 'false' as [gradEssTileCTALinkNewTab], @GradeSpecificGradPackContentSide as [contentSide], 0
										END
								END
						END
				END

			--SchoolShopTileList
			IF @YearbookOnly = 0
				BEGIN   
					IF @RingOnly = 0 --Only show SchoolShopTileList if not any of the Ring Only Flavors
						BEGIN
					
							IF @GradeLevel = 'College'
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
									--Evergreen
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Diploma_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Diploma_330x330-M.jpg' AS [schoolShopTileImageMobile], 'DIPLOMA FRAMES' as [schoolShopTileText], '/diploma-frames?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 1 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/photoannouncement_tile_v3.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/photoannouncement_tile_v3.jpg' AS [schoolShopTileImageMobile], 'PHOTO ANNOUNCEMENTS' as [schoolShopTileText], '/shop/graduation/announcements/photo-announcements?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 2 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Col_Photobooks_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Col_Photobooks_330x330_M.jpg' AS [schoolShopTileImageMobile], 'PHOTO BOOKS' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 3 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Dorm_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Dorm_330x330-M.jpg' AS [schoolShopTileImageMobile], 'DORM' as [schoolShopTileText], '/dorm-life?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 6 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Greek_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Greek_330x330-M.jpg' AS [schoolShopTileImageMobile], 'GREEK' as [schoolShopTileText], '/greek-shop?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 7 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/KS_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/KS_330x330_M.jpg' AS [schoolShopTileImageMobile], 'Kendra Scott Color Collection' as [schoolShopTileText], '/kendra-scott?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 8 as [Sort_Order]
									--Fan Shop
									IF [dbo].[fn_Affinity_Fanshop](@SMI) = 1
										BEGIN  
											SET @TempImage = dbo.fn_Affinity_FanshopImage(@SMI)
											INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
											SELECT @TempImage AS [schoolShopTileImage], @TempImage AS [schoolShopTileImageMobile], 'FAN SHOP' as [schoolShopTileText], dbo.fn_Affinity_FanshopUrl(@SMI) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 4 as [Sort_Order]
										END
									--Alumni Store
									IF [dbo].[fn_Affinity_Alumni](@SMI) = 1
										BEGIN  
											SET @TempImage = dbo.fn_Affinity_AlumniImage(@SMI)
											INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
											SELECT @TempImage AS [schoolShopTileImage], @TempImage AS [schoolShopTileImageMobile], 'ALUMNI STORE' as [schoolShopTileText], dbo.fn_Affinity_AlumniUrl(@SMI) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 5 as [Sort_Order]
										END
								END
							IF @GradeLevel = 'High School'
								BEGIN
							
									INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_330x330-M.jpg' AS [schoolShopTileImageMobile], 'DIPLOMA FRAMES' as [schoolShopTileText], '/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 1 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Class_apparel_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Class_apparel_330x330_M.jpg' AS [schoolShopTileImageMobile], 'CLASS APPAREL' as [schoolShopTileText], '/shop/collections/2021-collection?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 2 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/T-shirt_Quilt_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/T-shirt_Quilt_330x330-M.jpg' AS [schoolShopTileImageMobile], 'T-SHIRT QUILT' as [schoolShopTileText], '/tshirt-quilt?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 5 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Photobooks_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Photobooks_330x330_M.jpg' AS [schoolShopTileImageMobile], 'PHOTO BOOKS' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 6 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/GradGifts_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/GradGifts_330x330-M.jpg' AS [schoolShopTileImageMobile], 'GRAD GIFTS' as [schoolShopTileText], '/gifts-for-grads?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 7 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/KS_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/KS_330x330_M.jpg' AS [schoolShopTileImageMobile], 'Kendra Scott Color Collection' as [schoolShopTileText], '/kendra-scott?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 8 as [Sort_Order]

									--Letterman
									IF @Debug = 1 PRINT 'Letterman = ' + CAST([dbo].[fn_Affinity_Letterman](@SMI) AS VARCHAR(50))
									IF [dbo].[fn_Affinity_Letterman](@SMI) = 1
										BEGIN  --SEAN - NEED IMAGES
											INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
											SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Letterman_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Letterman_330x330-M.jpg' AS [schoolShopTileImageMobile], 'LETTERMAN' as [schoolShopTileText], CASE WHEN LTRIM(RTRIM(ISNULL(@lettermanLink,''))) <> '' THEN @lettermanLink ELSE '/shop/backpacks-patches/patches/letterman?smi=' + CAST(@SMI as VARCHAR(25)) END as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 3 as [Sort_Order]
										END
									--Spiritwear
									IF @Debug = 1 PRINT 'Spiritwear = ' + CAST([dbo].[fn_Affinity_Spiritwear](@SMI) AS VARCHAR(50))
									IF [dbo].[fn_Affinity_Spiritwear](@SMI) = 1
										BEGIN  --SEAN - NEED IMAGES
											INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
											SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Spiritwear_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Spiritwear_330x330-M.jpg' AS [schoolShopTileImageMobile], 'SPIRITWEAR' as [schoolShopTileText], '/shop/collections/spiritwear?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 4 as [Sort_Order]
										END
								END
							IF @GradeLevel IN ('Middle School')
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/Quilt_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/T-shirt_Quilt_330x330-M.jpg' AS [schoolShopTileImageMobile], 'T-SHIRT QUILT' as [schoolShopTileText], '/tshirt-quilt?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 4 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/Photobook_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/Photobook_330x330-M.jpg' AS [schoolShopTileImageMobile], 'PHOTO GIFTS' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 5 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/TeamShop_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/TeamShop_330x330-M.jpg' AS [schoolShopTileImageMobile], 'TEAM SHOP' as [schoolShopTileText], '/team-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 6 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/PersonalizeIt_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/PersonalizeIt_330x330-M.jpg' AS [schoolShopTileImageMobile], 'PERSONALIZE IT' as [schoolShopTileText], '/personalized-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 7 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/B2S_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/B2S_330x330-M.jpg' AS [schoolShopTileImageMobile], 'BACK TO SCHOOL' as [schoolShopTileText], '/back-to-school?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 8 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/Clothing_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/Clothing_330x330-M.jpg' AS [schoolShopTileImageMobile], 'CLOTHING SHOP' as [schoolShopTileText], '/clothing-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 6 as [Sort_Order]
									/*
									--Cap and Gown
									IF [dbo].[fn_Letterman](@SMI) = 1
										BEGIN
											INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
											SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_330x330-M.jpg' AS [schoolShopTileImageMobile], 'LETTERMAN' as [schoolShopTileText], CASE WHEN LTRIM(RTRIM(ISNULL(@lettermanLink,''))) <> '' THEN @lettermanLink ELSE '/shop/backpacks-patches/patches/letterman?smi=' + CAST(@SMI as VARCHAR(25)) END as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 1 as [Sort_Order]
										END
									--Spiritwear
									IF [dbo].[fn_Affinity_Spiritwear](@SMI) = 1
										BEGIN
											INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
											SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_330x330-M.jpg' AS [schoolShopTileImageMobile], 'SPIRITWEAR' as [schoolShopTileText], '/shop/collections/spiritwear?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 2 as [Sort_Order]
										END
									--Letterman
									IF [dbo].[fn_Affinity_Spiritwear](@SMI) = 1
										BEGIN
											INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
											SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_330x330-M.jpg' AS [schoolShopTileImageMobile], 'SPIRITWEAR' as [schoolShopTileText], '/shop/collections/spiritwear?smi=' + CAST(@SMI as VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 3 as [Sort_Order]
										END
									*/
								END
							IF @GradeLevel IN ('Elementary')
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
									/* Hard-coded placeholders  Sean/Han work here*/
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Quilt_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Quilt_330x330-M.jpg' AS [schoolShopTileImageMobile], 'T-SHIRT QUILT' as [schoolShopTileText], '/tshirt-quilt?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 1 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Photobook_363x363-D_v2.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Photobook_330x330-M.jpg' AS [schoolShopTileImageMobile], 'PHOTO GIFTS' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 2 as [Sort_Order]
									UNION
									-- If we have an elementary version of the TEAM SHOP - use it here, I chose to use the middle school one, since I can't find the middle school.
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/TeamShop_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/middle-school/TeamShop_330x330-M.jpg' AS [schoolShopTileImageMobile], 'TEAM SHOP' as [schoolShopTileText], '/team-shop' as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 3 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Personalize_It_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Personalize_It_330x330-M.jpg' AS [schoolShopTileImageMobile], 'PERSONALIZE IT' as [schoolShopTileText], '/personalized-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 4 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/B2S_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/B2S_330x330-M.jpg' AS [schoolShopTileImageMobile], 'BACK TO SCHOOL' as [schoolShopTileText], '/back-to-school?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 5 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Spiritwear_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/elementary/Spiritwear_330x330-M.jpg' AS [schoolShopTileImageMobile], 'CLOTHING SHOP' as [schoolShopTileText], '/clothing-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 6 as [Sort_Order]
								END
							IF LTRIM(RTRIM(ISNULL(@GradeLevel,''))) = ''
								BEGIN
									INSERT INTO @SchoolShopTileList ([schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink],[schoolShopTileCTALinkNewTab],[Sort_Order])
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/high-school/Diploma_330x330-M.jpg' AS [schoolShopTileImageMobile], 'DIPLOMA FRAMES' as [schoolShopTileText], '/diploma-frames?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 1 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/photo-ann_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/photo-ann_330x330_M.jpg' AS [schoolShopTileImageMobile], 'PHOTO ANNOUNCEMENTS' as [schoolShopTileText], '/shop/graduation/announcements/photo-announcements?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 2 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Col_Photobooks_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Col_Photobooks_330x330_M.jpg' AS [schoolShopTileImageMobile], 'PHOTO BOOKS' as [schoolShopTileText], '/photo-gifts?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 3 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Dorm_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Dorm_330x330-M.jpg' AS [schoolShopTileImageMobile], 'DORM' as [schoolShopTileText], '/dorm-life?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 4 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Greek_363x363-D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/Greek_330x330-M.jpg' AS [schoolShopTileImageMobile], 'GREEK' as [schoolShopTileText], '/greek-shop?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 5 as [Sort_Order]
									UNION
									SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/KS_363x363_D.jpg' AS [schoolShopTileImage], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/school-shop-tiles/college/KS_330x330_M.jpg' AS [schoolShopTileImageMobile], 'Kendra Scott Color Collection' as [schoolShopTileText], '/kendra-scott?smi=' + CAST(@SMI AS VARCHAR(25)) as [schoolShopTileCTALink], 'false' as [schoolShopTileCTALinkNewTab], 6 as [Sort_Order]
								END
							/*
							SELECT 'https://edge.prod.cdn.aac-e.com/prod/img' + [tileImage] + '.jpg', [tileText], [tileButtonText], [tileCTALink] + CASE WHEN [tileCTALink] NOT LIKE '%?%' THEN '?smi=' + CAST(@SMI AS VARCHAR(25)) ELSE '' END,[tileCTALinkNewTab],ISNULL([Sort_Order],0)
							FROM [dbo].[ContentTileGroupDetail] CTGD INNER JOIN [dbo].[ContentTiles] CT ON CTGD.[tileGUID] = CT.[GUID] 
							WHERE CTGD.[groupGUID] IN (SELECT [schoolShopTileGroupGUID] FROM [dbo].[ContentAffinityPages] WHERE [SMI] = @SMI)
							*/
						END
				END

			--Category List
		IF @YearbookOnly = 0 AND @GradeLevel = 'College' AND @RingOnly = 0
				BEGIN
					PRINT '@YearbookOnly = 0 AND @GradeLevel = ''College'' AND @RingOnly = 0'
					--CategoryList
					INSERT INTO @CategoryList ([categoryImage], [categoryLink], [categoryText], [Sort_Order])
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
				<g>
					<path style="fill:#000;" d="M249.6,289.4c-21.7,0-29.4-14.1-30.6-22.6L207.4,213h-32.2l-0.6,1.3c-4.1,9.2-9.9,17.2-17.4,24
						c-14.8,13.4-34.9,20.8-56.7,20.8c-17.7,0-34.5-5.7-48.6-16.4c-11.2-8.5-20.1-19.9-25.5-33l-1.1-2.5l-2.2,1.6
						c-6.5,4.7-10.5,7.1-14.2,7.1c-2,0-3.9-0.8-5.3-2.2c-4-4.1-3.9-12.7-3.5-35.6c0.2-8.6,0.4-19.4,0.4-32.3c0-39.3,11.4-72.4,32.9-95.5
						c24.5-26.3,61.2-39.7,109-39.7c47.8,0,84.5,13.4,109,39.7c21.5,23.1,32.9,56.1,32.9,95.5c0,2.5-2,4.4-4.4,4.4h-77l11.7,53.9h81
						c2.4,0,4.4,2,4.4,4.4v76.3c0,2.5-2,4.4-4.4,4.4H249.6z M291.1,248.6h-66.9l3.6,16.6l0.1,0.5c0.2,1.5,2.7,14.8,21.7,14.8h41.5V248.6
						z M177.6,141.3l1,0h96.8l-0.1-2.3c-1.6-44.7-21-119.6-132.9-119.6c-115.7,0-133,79.1-133,126.3c0,12.8-0.2,23.5-0.4,32.5
						c-0.2,10.9-0.4,20.3,0.1,25.3l0.3,3.5l3-1.9c2.8-1.7,6.8-4.6,10.6-7.5l1.6-1.2c0.4-0.3,0.8-0.5,1.6-0.7c0.4-0.1,0.9-0.2,1.3-0.2
						c0.7,0,1.5,0.2,2.1,0.5c1,0.6,1.8,1.5,2.2,2.7c8.8,30.2,37.1,51.3,68.6,51.3c41.4,0,71.5-27.9,71.5-66.2c0-22.5,0-35.5-0.1-37.9
						c0-0.2,0-0.3,0-0.5c0.1-2.5,2-4.4,4.4-4.4C176.7,141.2,177,141.2,177.6,141.3z M291.1,213h-74.6l5.8,26.7h68.8V213z M193.7,150.3
						h-12.8l0,2.2c0,7.7,0,20.4,0,31.5c0,6-0.7,11.8-2,17.4l-0.6,2.7h27.1L193.7,150.3z M78.6,161.3c0-13.5,11-24.6,24.6-24.6
						s24.6,11,24.6,24.6s-11,24.6-24.6,24.6S78.6,174.8,78.6,161.3z M87.5,161.3c0,8.6,7,15.7,15.7,15.7s15.7-7,15.7-15.7
						c0-8.6-7-15.7-15.7-15.7S87.5,152.6,87.5,161.3z"/>
				</g>
				</svg>
				' as [categoryImage], '/team-shop' as [categoryLink], 'Team Shop' as [categoryText],  1 as [Sort_Order]
					UNION
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
				<g>
					<g>
						 <path style="fill:#000;" d="M284.3,154.9c-3.8-0.9-18.9-5.4-23-6.3l13.4-102.9L152.6,0L28.1,45.7l11.5,98.4c-9.9,1.9-18.7,4.3-26,7.1L1.1,197.3
							l25.1,29.3c7.8-1.8,15.2-3.3,22.6-4.7l2.1,17.8L155.2,300l94.3-60.4l1.9-14.8c3.1,0.6,17.2,4.9,20.4,5.5l27.2-30.9L284.3,154.9z
							 M36.2,50.7L152.6,7.9l114,42.7L254,147.3c-35.8-6.5-81.6-10.2-125-10.2c-29.9,0-58.6,1.8-82.1,5.7L36.2,50.7z M242.6,235.3
							L155,291.4l-97.2-56.2L56,220.5c30.7-5.6,58-8.1,84.5-8.1c33.9,0,66.5,4.1,103.6,11L242.6,235.3z M269.3,222.3
							c-2-0.4-15-4.5-17-4.8c-2.5-0.5-4.9-0.9-7.3-1.4c-41.9-7.8-73.2-11-104.6-11c-27.2,0-54.9,2.6-85.3,8.1c-2.4,0.4-4.8,0.9-7.3,1.4
							c-6.2,1.2-12.5,2.5-19,3.9l-19.7-23l10.5-38.6c6-2,12.9-3.9,20.8-5.4c2.3-0.5,4.8-0.9,7.3-1.3c21.9-3.7,49.6-5.7,81.2-5.7
							c43.2,0,88.8,3.8,124,10.2c2.5,0.4,4.9,0.9,7.3,1.4c2.4,0.5,15.9,4.7,18.2,5.2l12.1,36.1L269.3,222.3z"/>
					</g>
					<g>
						 <path style="fill:#000;" d="M223.9,71l-70.7-27.9c-0.3-0.1-0.6-0.2-0.8-0.2s-0.6,0.1-0.9,0.2L80.8,71c-0.9,0.4-1.5,1.2-1.5,2.2c0,1,0.6,1.8,1.5,2.2
							l24.6,9.7v20.3c0,1,0.6,1.9,1.6,2.2c14.7,4.8,29.8,7.2,44.9,7.2c15.1,0,30.5-2.4,45.8-7.2c1-0.3,1.6-1.2,1.6-2.2V85l13.9-5.5
							c0.7,2.8,0,6.5-0.2,7.3c-1.7,0.7-2.8,2.3-2.8,4.2c0,0.8,0.1,2.5,1.6,3.4c-1.1,5-1.8,7.2-1.4,9c0.2,0.7,1,1,1.7,1
							c0.3,0,0.4,0,0.7-0.1c0.9-0.5,0.8-6.2,0.7-6.4c0.9,5.5,2.5,4.9,2.5,4.9s0.6,0,1-0.7c0.5-0.9-0.6-3.8-0.7-3.9
							c0.4,0.4,1.2,1.8,1.6,2.2c0.4,0.4,0.8,0.6,1.3,0.6s2.2-0.7,1.1-2.7c-0.9-0.9-2.2-2.5-3.2-3.8c1.7-0.6,2.2-2,2.2-3.4
							c0-1.7-1-3.3-2.5-4.1c0.3-1.8,0.9-5.6-0.1-8.8l7.2-2.8c0.9-0.4,1.5-1.2,1.5-2.2C225.4,72.2,224.8,71.4,223.9,71z M194.7,103.6
							c-14.3,4.3-28.7,6.5-42.8,6.5c-14.1,0-28.2-2.2-41.9-6.4V86.9l41.5,16.3c0.3,0.1,0.6,0.2,0.8,0.2c0.3,0,0.6-0.1,0.9-0.2l41.5-16.3
							V103.6z M152.3,98.5L88,73.2l64.4-25.4l64.4,25.4L152.3,98.5z"/>
					</g>
					 <path style="fill:#000;" d="M77.6,189.5l-11.1,1.8l-0.7,4.3l-7.5,1.2l5.6-28.4l8.7-1.4l14.5,25.1l-7.5,1.2L77.6,189.5z M67.3,185.3l7.5-1.2l-5.6-10.2
						L67.3,185.3z"/>
					 <path style="fill:#000;" d="M93.1,165l7-0.5l1.6,20.9l10.9-0.8l0.5,6.1L95.1,192L93.1,165z"/>
					 <path style="fill:#000;" d="M117.6,163.3l7.1-0.2l0.4,15.9c0.1,3.2,1.8,5.5,5.6,5.4c3.7-0.1,5.4-2.4,5.3-5.7l-0.4-15.9l7.1-0.2l0.4,16.1
						c0.2,6.7-3.6,11.6-12.3,11.8c-8.7,0.2-12.7-4.5-12.9-11.2L117.6,163.3z"/>
					 <path style="fill:#000;" d="M175,172.1l-7.4,18.1l-3.1-0.1l-6.3-18.5l-0.5,18.3l-7-0.2l0.8-27.1l9.7,0.3l5.2,15.5l6.1-15.2l9.7,0.3l-0.8,27.1l-7-0.2
						L175,172.1z"/>
					 <path style="fill:#000;" d="M200.8,175.4l-1.5,16.3l-7-0.6l2.4-27l7.2,0.6l9.5,16.5l1.4-15.5l7,0.6l-2.4,27l-6.7-0.6L200.8,175.4z"/>
					 <path style="fill:#000;" d="M231.9,167.8l6.9,0.7l-2.8,26.9l-6.9-0.7L231.9,167.8z"/>
				</g>
				</svg>' as [categoryImage], '/alumni-shop?smi=' + CAST(@SMI as VARCHAR(25)) as [categoryLink], 'Alumni Gifts' as [categoryText],  2 as [Sort_Order]
					UNION 
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
				 <path style="fill:#000;" d="M150,300c-3.7,0-7.3,0-11.4-0.4c-1.2,0-2.8,0-4.1-0.4h-1.2c-31.3-2.8-61.7-13-88.5-29.2c-0.5-0.3-1.1-0.8-1.8-1.2
					c-2.4-1.4-3.8-4-3.8-6.8v-24.9c0-39,30.4-70.6,69.4-72.3v-0.4v-19.1c-15-11.8-24.8-29.2-26.4-48.7l0,0l0-87.7c0-0.4,0-1.2,0.4-1.6
					H57.4v19.5c2.4,1.2,4.1,3.2,4.1,6.1c0,3.2-2.4,6.1-5.7,6.5c0.4,5.3,1.6,10.1,3.7,14.2c0.8,1.2,0,2.8-1.2,3.7c-0.4,0-0.8,0.4-1.2,0.4
					c-0.8,0-2-0.4-2.4-1.6c-1.6-3.7-2.8-7.3-3.7-11.8c-1.2,4.1-1.6,9.3,0.4,13.4c0.8,1.2,0,2.8-1.2,3.7c-0.4-0.4-0.8-0.4-1.2-0.4
					c-0.8,0-2-0.4-2.4-1.6c-3.7-7.3-1.6-17.9,2.4-24c-0.4-0.8-0.8-2-0.8-2.8c0-2.4,1.6-4.9,4.1-6.1V7.3H31.1c-2,0-3.7-1.6-3.7-3.7v0
					c0-2,1.6-3.7,3.7-3.7h237.9c2,0,3.7,1.6,3.7,3.7v0c0,2-1.6,3.7-3.7,3.7h-50.7c0,0.4,0.4,1.2,0.4,1.6l-0.4,86.9
					c-1.6,19.1-11,36.9-26.4,48.7v19.1v0.4c39,1.6,69.4,33.3,69.4,72.3v25.1c0,2.7-1.4,5.2-3.7,6.6c-0.6,0.4-1.2,0.8-1.6,1.1
					c-28,17.9-60.1,28-93,30c-1.6,0-3.2,0-4.9,0.4C155.3,299.6,152.8,300,150,300z M140.7,292.3c3.2,0,6.5,0.4,9.3,0.4
					c1.6,0,3.7,0,5.3,0h0.4l-7.7-46.3C144.7,267.5,141.9,284.6,140.7,292.3z M163,292.3c30.6-1.9,60.8-11.6,87.1-27.7
					c2.4-1.4,3.8-4,3.8-6.7v-21.2c0-34.5-26.8-62.9-61.3-65c1.6,16.6-6.1,44.7-15,49.1c-0.4,0.4-1.2,0.4-1.6,0.4l0,0
					c-1.2,0-2.4-0.8-3.2-2c-2.4-4.5-6.1-10.1-8.5-13l-12.6,20.3L163,292.3z M133.4,291.9c2.4-16.6,11-64.1,11.4-66.6l-11-21.1
					c-2.8,2-7.7,6.1-10.1,10.6c-0.4,1.2-1.6,1.6-2.4,2h-0.4c-0.8,0-2-0.4-2.4-1.2c-9.7-9.7-13.4-26.4-10.6-44.2
					c-34.1,2.4-60.9,30.9-60.9,65V258c0,2.7,1.4,5.2,3.7,6.7C69.1,276.3,105.5,290.1,133.4,291.9z M148.4,218l8.1-13.4
					c-2,0.4-4.5,0.4-6.5,0.4c-2.8,0-5.7-0.4-8.9-0.8L148.4,218z M169.5,200.1c2,2.8,5.3,6.9,7.7,11.4c3.2-4.9,6.5-15.4,8.1-25.6
					C181.3,192,175.6,196.9,169.5,200.1z M113.5,182.7c0,7.3,1.2,17.1,6.5,24.8c2.8-3.7,6.1-6.5,8.9-8.1
					C122.4,195.3,117.1,189.2,113.5,182.7z M116.3,163.6v0.8c0,2,0.4,4.1,0.8,5.7c3.2,15.8,17.5,27.2,33.3,27.2s30-11.4,33.3-27.2
					c0.4-1.6,0.4-3.7,0.8-5.7v-0.8V149c-10.1,6.1-22.3,9.3-34.1,9.3c-12.2,0-24-3.2-34.1-9.3C116.3,149,116.3,163.6,116.3,163.6z
					 M89.5,90.5v1.6c0.4,17.1,7.7,32.5,20.3,43.8c2,1.6,4.1,3.2,6.1,4.5c10.1,6.9,21.9,10.6,34.5,10.6c12.2,0,24.4-3.7,34.5-10.6
					c2-1.2,4.1-2.8,6.1-4.5c12.6-11.4,19.9-26.8,20.3-43.8v-2.8V62.9l0,0c-20.3-3.2-41-4.9-60.9-4.9s-40.2,1.6-60.1,4.9c0,0,0,0-0.4,0
					L89.5,90.5z M150,51.2c20.3,0,41,1.6,61.3,4.5V9.3H89.5v46.3C109.4,52.8,129.7,51.2,150,51.2z"/>
				 <path style="fill:#000;" d="M272.2,0.8H27.8v6.1H53v20.3c-2.4,0.8-4.1,2.8-4.1,5.7c0,1.2,0.4,2,0.8,2.8c-3.7,5.7-6.5,16.2-2.4,24
					c0.4,0.8,1.2,1.2,1.6,1.2c0.4,0,0.4,0,0.8-0.4c0.8-0.4,1.2-1.6,0.8-2.8c-2.4-4.9-1.6-11.4,0.4-16.2c0.4,4.1,1.2,8.9,4.1,14.2
					c0.4,0.8,1.6,1.2,2.8,0.8c0.8-0.4,1.2-1.6,0.8-2.8c-2.8-5.7-3.7-11-3.7-15c3.2,0,5.7-2.8,5.7-6.1c0-2.4-1.6-4.9-4.1-5.7V6.5H83
					c-0.4,0.8-0.4,1.6-0.4,2.4v47.5c0,0.4,0,0.8,0,1.6v34.1V95l0,0c1.6,20.3,11.4,37.8,26.4,48.7v19.5c0,0.4,0,0.8,0,1.2
					c-38.6,1.2-69.4,32.9-69.4,71.9v22.3v7.3c1.6,1.2,3.2,2,4.9,3.2c26,16.2,56,26.4,88.5,29.2c1.6,0,3.7,0.4,5.3,0.4
					c3.7,0.4,7.3,0.4,11.4,0.4c2.4,0,5.3,0,7.7,0c1.6,0,3.2,0,4.9-0.4c33.7-2,65.4-12.6,92.2-29.6c1.6-1.2,3.7-2,5.3-3.2v-7.3v-21.9
					c0-39-30.9-70.6-69.4-71.9c0-0.4,0-0.8,0-1.2v-19.5c15-11.4,24.8-28.8,26.4-48.7h0.4V58.1c0-0.4,0-0.8,0-1.6V8.9
					c0-0.8,0-1.6-0.4-2.4h54.8V0.8H272.2z M46.1,262.7v-26c0-34.9,27.6-63.7,62.1-65.8c-2.8,14.6-1.2,33.3,10.1,44.7
					c0.8,0.8,1.6,0.8,2.4,0.8s1.6-0.8,2-1.6c2.4-4.9,7.7-8.9,10.6-11l11.4,21.9c-1.6,8.9-9.3,52-11.4,67
					C101.7,289.9,71.7,279.3,46.1,262.7z M184.9,163.6c0,0.4,0,0.8,0,0.8c0,2-0.4,4.1-0.8,6.1c-3.2,15.8-17.5,27.6-34.1,27.6
					s-30.9-11.8-34.1-27.6c-0.4-2-0.4-4.1-0.8-6.1c0-0.4,0-0.8,0-0.8v-15.4c10.1,6.1,21.9,9.7,34.9,9.7c13,0,24.8-3.7,34.9-9.7V163.6z
					 M185.7,183.1c-1.2,11.4-5.3,24.4-8.9,29.2c-2.8-4.9-6.5-9.7-8.5-12.6C176,196.5,182.1,190.4,185.7,183.1z M158.1,203.4l-9.7,15.8
					l-8.1-16.2c3.2,0.8,6.5,1.2,10.1,1.2C152.8,204.2,155.7,204.2,158.1,203.4z M130.1,198.9c-2.8,2-6.9,5.3-10.1,9.3
					c-5.7-7.7-7.7-18.3-6.9-28C116.7,188,122.8,194.9,130.1,198.9z M150,293.1c-3.2,0-6.9,0-10.1-0.4c1.2-9.3,4.9-30.4,8.5-50.3
					l8.5,50.3C154.5,293.1,152.4,293.1,150,293.1z M192.2,170.9c34.9,2,62.5,30.4,62.5,65.8v26c-26.8,17.5-58.1,28.4-91.7,30.4l-11.4-67
					l13-21.1c2.4,3.7,6.5,9.3,8.9,13.8c0.8,1.6,2.4,2,4.1,1.2C186.5,215.2,193.8,186.7,192.2,170.9z M211.7,89.3v2.8
					c-0.4,17.9-8.5,33.3-20.7,44.2c-2,1.6-4.1,3.2-6.1,4.9c-9.7,6.9-21.9,11-34.9,11c-13,0-24.8-4.1-34.9-11c-2-1.6-4.1-2.8-6.1-4.9
					c-12.2-11-19.9-26.4-20.7-44.2v-1.6v-28c0.4,0,0.4,0,0.8,0c19.9-3.2,40.2-4.9,60.1-4.9c20.3,0,40.6,1.6,60.9,4.9c0.4,0,0.4,0,0.8,0
					v26.8H211.7z M211.7,25.6v30.9l0,0c-20.7-3.2-41-4.9-61.7-4.9c-20.3,0-40.6,1.6-60.9,4.9l0,0V25.6V8.9h122.6V25.6z"/>
				</svg>' as [categoryImage], '/gifts-for-grads' as [categoryLink], 'Grad Gifts' as [categoryText],  3 as [Sort_Order]
					UNION
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 140 140" style="enable-background:new 0 0 140 140;" xml:space="preserve">
		<g>
			<path style="#000000" d="M27,139.9c-10.1,0-18.3-8.2-18.3-18.3v-86c0-10.1,8.2-18.3,18.3-18.3h8.4l0.1-0.2c1.2-4.2,2.8-7.6,4.7-10.4
				c3.1-4.3,7-6.5,11.3-6.6h37c4.4,0,8.3,2.3,11.3,6.6c1.9,2.7,3.5,6.2,4.7,10.4l0.1,0.2h8.4c10.1,0,18.3,8.2,18.3,18.3v86
				c0,10.1-8.2,18.3-18.3,18.3H27z M113,135.8c7.9,0,14.3-6.4,14.3-14.3V97.8H94.8c-1.1,0-2-0.9-2-2s0.9-2,2-2h32.5V35.6
				c0-7.9-6.4-14.3-14.3-14.3h-7.5l0.1,0.4c1.2,6.5,1.1,13.1-0.1,16.8L90.5,73.1c-0.3,0.6-0.8,1-1.4,1.2c-0.1,0-0.3,0-0.4,0
				c-0.5,0-1-0.2-1.4-0.5L72,60.1v75.7H113z M68,135.8V60.1L52.7,73.8c-0.4,0.3-0.9,0.5-1.4,0.5c-0.1,0-0.3,0-0.4,0
				c-0.6-0.1-1.2-0.6-1.4-1.2L34.6,38.6c-1.3-3.8-1.4-10.4-0.2-16.9l0.1-0.4H27c-7.9,0-14.3,6.4-14.3,14.3v58.3l0.5-0.2l0.1-0.1
				l21.9-21.9c0.4-0.4,0.9-0.6,1.4-0.6c0.5,0,1,0.2,1.4,0.6l22.4,22.4c0.4,0.4,0.6,0.9,0.6,1.4s-0.2,1-0.6,1.4l-22,22l0,0
				c-0.9,2.5-2.9,8.4-7.6,16.4l-0.3,0.5H68z M12.7,98.4l0,23.2c0,7.3,5.7,13.6,13,14.2l0.2,0l0.1-0.2c3.7-5.8,6.4-11.3,8.4-17l0.1-0.2
				L13.8,97.8l-0.2,0.1c-0.2,0.1-0.4,0.1-0.5,0.2l-0.3,0.1L12.7,98.4z M36.8,115l19.5-19.5L36.7,76L17.3,95.4L36.8,115z M40,16.1
				c-2.4,7.2-3.2,16.6-1.7,21.1l13.7,31.8l15.2-13.6L42.5,20.5c-0.8-1.1-1.5-2.8-1.9-4.4l-0.2-1L40,16.1z M87.9,68.9L101.7,37
				c1.3-3.8,1-12.9-1.7-20.9l-0.3-1l-0.2,1c-0.4,1.6-1.1,3.3-1.9,4.4L72.7,55.3L87.9,68.9z M51.9,4.2c-3.9,1.5-6.3,3.7-7.2,6.5
				c-0.9,3,0.2,6.1,1.1,7.4l24.2,34l24.2-34c0.9-1.3,2-4.4,1.1-7.4c-0.9-2.8-3.3-5-7.2-6.5H51.9L51.9,4.2z"/>
			<circle style="#000000" cx="41.6" cy="100.4" r="2.5"/>
			<path style="#000000" d="M41.6,102.6c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C43.9,101.6,42.9,102.6,41.6,102.6z
				"/>
			<path style="#000000" d="M78.2,77.9c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5S79.5,77.9,78.2,77.9z"/>
			<path style="#000000" d="M78.2,77.7c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C80.5,76.7,79.4,77.7,78.2,77.7z"/>
			<path style="#000000" d="M78.2,131.8c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5C80.7,130.7,79.5,131.8,78.2,131.8z
				"/>
			<path style="#000000" d="M78.2,131.6c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C80.5,130.6,79.4,131.6,78.2,131.6z
				"/>
			<path style="#000000" d="M78.2,104.9c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5S79.5,104.9,78.2,104.9z"/>
			<path style="#000000" d="M78.2,104.7c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C80.5,103.6,79.4,104.7,78.2,104.7z
				"/>
		</g>
		</svg>' as [categoryImage], '/clothing-shop' as [categoryLink], 'Clothing' as [categoryText],  4 as [Sort_Order]
			END

		IF @YearbookOnly = 0 AND @GradeLevel = 'High School' AND @RingOnly = 0
				BEGIN
					PRINT '@YearbookOnly = 0 AND @GradeLevel = ''High School'' AND @RingOnly = 0'
					--CategoryList
					INSERT INTO @CategoryList ([categoryImage], [categoryLink], [categoryText], [Sort_Order])
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
				<style type="text/css">
					.st0{display:none;fill:#000;}
				</style>
				<g>
					<g id="Layer_2_2_">
						<g id="Layer_1-2_1_">
							 <path style="fill:#000;" d="M93.8,300c-12.3,0.1-23.1-8.5-25.8-20.5L21.3,69.6c-3.1-14.2,5.8-28.2,19.9-31.4L209.4,0.7c14.2-3.2,28.2,5.7,31.4,19.8
								c0,0,0,0.1,0,0.1l46.8,209.8c3.2,14.2-5.7,28.2-19.9,31.4l0,0L99.6,299.4C97.7,299.8,95.8,300,93.8,300z M215.1,7.5
								c-1.4,0-2.7,0.2-4.1,0.5L42.9,45.5c-10.1,2.2-16.5,12.3-14.3,22.4c0,0,0,0.1,0,0.1L75.6,278c2.2,10.1,12.3,16.5,22.4,14.3
								c0,0,0.1,0,0.1,0l168.1-37.6l0,0c10.1-2.2,16.5-12.3,14.3-22.4c0,0,0-0.1,0-0.1L233.3,22.2C231.4,13.7,223.8,7.6,215.1,7.5z"/>
							 <path style="fill:#000;" d="M15.5,82.4l24.7-5.5c2.6-0.6,5.1,1,5.7,3.6v0c0.6,2.6-1,5.1-3.6,5.7l-24.7,5.5c-2.6,0.6-5.1-1-5.7-3.6l0,0
								C11.3,85.5,12.9,83,15.5,82.4z"/>
							 <path style="fill:#000;" d="M23.9,119.5l24.8-5.6c2.6-0.6,5.1,1,5.7,3.6l0,0c0.6,2.6-1,5.1-3.6,5.7L26,128.8c-2.6,0.6-5.1-1-5.7-3.6l0,0
								C19.7,122.7,21.4,120.1,23.9,119.5z"/>
							 <path style="fill:#000;" d="M31.9,155.7l24.7-5.5c2.6-0.6,5.1,1,5.7,3.6l0,0c0.6,2.6-1,5.1-3.6,5.7L33.9,165c-2.6,0.6-5.1-1-5.7-3.6l0,0
								C27.7,158.9,29.3,156.3,31.9,155.7z"/>
							 <path style="fill:#000;" d="M40.1,192.4l24.7-5.5c2.6-0.6,5.1,1,5.7,3.6l0,0c0.6,2.6-1,5.1-3.6,5.7l-24.7,5.5c-2.6,0.6-5.1-1-5.7-3.6l0,0
								C35.9,195.5,37.5,193,40.1,192.4z"/>
							 <path style="fill:#000;" d="M48.2,229.1l24.7-5.5c2.6-0.6,5.1,1,5.7,3.6l0,0c0.6,2.6-1,5.1-3.6,5.7l-24.7,5.5c-2.6,0.6-5.1-1-5.7-3.6l0,0
								C44,232.2,45.7,229.6,48.2,229.1z"/>
							 <path style="fill:#000;" d="M56.4,265.7l24.7-5.5c2.6-0.6,5.1,1,5.7,3.6l0,0c0.6,2.6-1,5.1-3.6,5.7L58.5,275c-2.6,0.6-5.1-1-5.7-3.6l0,0
								C52.2,268.8,53.9,266.3,56.4,265.7z"/>
							 <path style="fill:#000;" d="M108.1,165.3c-13-0.1-24.3-9.1-27.2-21.8l-7.5-33.4c-3.3-15,6.1-29.9,21.1-33.3L180,57.6c15.1-3.3,30,6.2,33.3,21.3
								l7.5,33.3c3.3,15-6.3,29.9-21.3,33.2l-85.3,19.1C112.2,165,110.2,165.2,108.1,165.3z M186.1,64.4c-1.5,0-3,0.2-4.5,0.5L96.2,84
								c-11,2.5-17.9,13.4-15.5,24.4l7.5,33.3c2.5,11,13.4,17.9,24.4,15.5l85.4-19.1c11-2.5,17.9-13.3,15.5-24.3L206,80.4
								C203.9,71.1,195.6,64.5,186.1,64.4z"/>
						</g>
					</g>
				</g>
				</svg>' as [categoryImage], '/back-to-school' as [categoryLink], 'Back to School' as [categoryText],  1 as [Sort_Order]
					UNION
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
				<g>
					<path style="fill:#000;" d="M249.6,289.4c-21.7,0-29.4-14.1-30.6-22.6L207.4,213h-32.2l-0.6,1.3c-4.1,9.2-9.9,17.2-17.4,24
						c-14.8,13.4-34.9,20.8-56.7,20.8c-17.7,0-34.5-5.7-48.6-16.4c-11.2-8.5-20.1-19.9-25.5-33l-1.1-2.5l-2.2,1.6
						c-6.5,4.7-10.5,7.1-14.2,7.1c-2,0-3.9-0.8-5.3-2.2c-4-4.1-3.9-12.7-3.5-35.6c0.2-8.6,0.4-19.4,0.4-32.3c0-39.3,11.4-72.4,32.9-95.5
						c24.5-26.3,61.2-39.7,109-39.7c47.8,0,84.5,13.4,109,39.7c21.5,23.1,32.9,56.1,32.9,95.5c0,2.5-2,4.4-4.4,4.4h-77l11.7,53.9h81
						c2.4,0,4.4,2,4.4,4.4v76.3c0,2.5-2,4.4-4.4,4.4H249.6z M291.1,248.6h-66.9l3.6,16.6l0.1,0.5c0.2,1.5,2.7,14.8,21.7,14.8h41.5V248.6
						z M177.6,141.3l1,0h96.8l-0.1-2.3c-1.6-44.7-21-119.6-132.9-119.6c-115.7,0-133,79.1-133,126.3c0,12.8-0.2,23.5-0.4,32.5
						c-0.2,10.9-0.4,20.3,0.1,25.3l0.3,3.5l3-1.9c2.8-1.7,6.8-4.6,10.6-7.5l1.6-1.2c0.4-0.3,0.8-0.5,1.6-0.7c0.4-0.1,0.9-0.2,1.3-0.2
						c0.7,0,1.5,0.2,2.1,0.5c1,0.6,1.8,1.5,2.2,2.7c8.8,30.2,37.1,51.3,68.6,51.3c41.4,0,71.5-27.9,71.5-66.2c0-22.5,0-35.5-0.1-37.9
						c0-0.2,0-0.3,0-0.5c0.1-2.5,2-4.4,4.4-4.4C176.7,141.2,177,141.2,177.6,141.3z M291.1,213h-74.6l5.8,26.7h68.8V213z M193.7,150.3
						h-12.8l0,2.2c0,7.7,0,20.4,0,31.5c0,6-0.7,11.8-2,17.4l-0.6,2.7h27.1L193.7,150.3z M78.6,161.3c0-13.5,11-24.6,24.6-24.6
						s24.6,11,24.6,24.6s-11,24.6-24.6,24.6S78.6,174.8,78.6,161.3z M87.5,161.3c0,8.6,7,15.7,15.7,15.7s15.7-7,15.7-15.7
						c0-8.6-7-15.7-15.7-15.7S87.5,152.6,87.5,161.3z"/>
				</g>
				</svg>' as [categoryImage], '/team-shop' as [categoryLink], 'Team Shop' as [categoryText],  2 as [Sort_Order]
					UNION 
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
					<g>
						 <path style="fill:#000;" d="M38.7,3.9C33,5.7,27.9,8.8,23.6,13C9.2,27,7.9,49.5,20.1,65L3.6,81.1c-2.4,2.4-3.6,5.2-3.6,8.4c0,3.2,1.2,6.2,3.4,8.5
							l76.2,78.6c2.2,2.3,5.2,3.6,8.4,3.6c3.2,0,6.2-1.1,8.5-3.4c0,0,0.1-0.1,0.1-0.1c2.2-2.2,3.5-5.1,3.5-8.3c0.1-3.2-1.1-6.2-3.4-8.5
							l-67.9-70l7.7-7.6l190.4,197l36.9,10.5l25.9,7.4l0,0c2.3,0.7,4.3,0.7,5.9,0.1c3.5-1.1,5.1-4.7,3.9-9.7l0,0l-6.6-26.1l-11-38.4
							L78.7,13.8C68.3,3.1,53-0.7,38.7,3.9z M28.6,79.9l-10.1,9.9l73,75.3c0.9,0.9,1.3,2.1,1.3,3.3c0,1.2-0.5,2.4-1.4,3.3
							c-0.9,0.9-2.1,1.3-3.3,1.3c-1.2,0-2.4-0.5-3.3-1.4L8.6,92.9c-0.9-0.9-1.3-2.1-1.3-3.3c0-1.2,0.5-2.4,1.4-3.2c0,0,4.8-4.8,4.8-4.8
							l8.7-8.4L28.6,79.9z M292.3,289.9c-0.1,0-52.8-15-52.8-15l39.4-38.2C278.9,236.8,292.3,289.8,292.3,289.9z M276.4,228l-46.4,44.9
							L117.6,156.6l46.4-45L276.4,228z M157.3,106l-44.9,43.5L28.3,62.7c-12-12.4-11.7-32.2,0.7-44.2c3.5-3.4,7.5-5.8,12.1-7.3
							c11.4-3.7,23.8-0.6,32.1,8L157.3,106z"/>
						<g>
							<rect style="fill:#000;" x="4.9" y="290.7" width="295.1" height="7.3"/>
						</g>
					</g>
					</svg>' as [categoryImage], '/personalized-shop' as [categoryLink], 'Personalize It' as [categoryText],  3 as [Sort_Order]
					UNION
					SELECT '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 140 140" style="enable-background:new 0 0 140 140;" xml:space="preserve">
		<g>
			<path style="#000000" d="M27,139.9c-10.1,0-18.3-8.2-18.3-18.3v-86c0-10.1,8.2-18.3,18.3-18.3h8.4l0.1-0.2c1.2-4.2,2.8-7.6,4.7-10.4
				c3.1-4.3,7-6.5,11.3-6.6h37c4.4,0,8.3,2.3,11.3,6.6c1.9,2.7,3.5,6.2,4.7,10.4l0.1,0.2h8.4c10.1,0,18.3,8.2,18.3,18.3v86
				c0,10.1-8.2,18.3-18.3,18.3H27z M113,135.8c7.9,0,14.3-6.4,14.3-14.3V97.8H94.8c-1.1,0-2-0.9-2-2s0.9-2,2-2h32.5V35.6
				c0-7.9-6.4-14.3-14.3-14.3h-7.5l0.1,0.4c1.2,6.5,1.1,13.1-0.1,16.8L90.5,73.1c-0.3,0.6-0.8,1-1.4,1.2c-0.1,0-0.3,0-0.4,0
				c-0.5,0-1-0.2-1.4-0.5L72,60.1v75.7H113z M68,135.8V60.1L52.7,73.8c-0.4,0.3-0.9,0.5-1.4,0.5c-0.1,0-0.3,0-0.4,0
				c-0.6-0.1-1.2-0.6-1.4-1.2L34.6,38.6c-1.3-3.8-1.4-10.4-0.2-16.9l0.1-0.4H27c-7.9,0-14.3,6.4-14.3,14.3v58.3l0.5-0.2l0.1-0.1
				l21.9-21.9c0.4-0.4,0.9-0.6,1.4-0.6c0.5,0,1,0.2,1.4,0.6l22.4,22.4c0.4,0.4,0.6,0.9,0.6,1.4s-0.2,1-0.6,1.4l-22,22l0,0
				c-0.9,2.5-2.9,8.4-7.6,16.4l-0.3,0.5H68z M12.7,98.4l0,23.2c0,7.3,5.7,13.6,13,14.2l0.2,0l0.1-0.2c3.7-5.8,6.4-11.3,8.4-17l0.1-0.2
				L13.8,97.8l-0.2,0.1c-0.2,0.1-0.4,0.1-0.5,0.2l-0.3,0.1L12.7,98.4z M36.8,115l19.5-19.5L36.7,76L17.3,95.4L36.8,115z M40,16.1
				c-2.4,7.2-3.2,16.6-1.7,21.1l13.7,31.8l15.2-13.6L42.5,20.5c-0.8-1.1-1.5-2.8-1.9-4.4l-0.2-1L40,16.1z M87.9,68.9L101.7,37
				c1.3-3.8,1-12.9-1.7-20.9l-0.3-1l-0.2,1c-0.4,1.6-1.1,3.3-1.9,4.4L72.7,55.3L87.9,68.9z M51.9,4.2c-3.9,1.5-6.3,3.7-7.2,6.5
				c-0.9,3,0.2,6.1,1.1,7.4l24.2,34l24.2-34c0.9-1.3,2-4.4,1.1-7.4c-0.9-2.8-3.3-5-7.2-6.5H51.9L51.9,4.2z"/>
			<circle style="#000000" cx="41.6" cy="100.4" r="2.5"/>
			<path style="#000000" d="M41.6,102.6c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C43.9,101.6,42.9,102.6,41.6,102.6z
				"/>
			<path style="#000000" d="M78.2,77.9c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5S79.5,77.9,78.2,77.9z"/>
			<path style="#000000" d="M78.2,77.7c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C80.5,76.7,79.4,77.7,78.2,77.7z"/>
			<path style="#000000" d="M78.2,131.8c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5C80.7,130.7,79.5,131.8,78.2,131.8z
				"/>
			<path style="#000000" d="M78.2,131.6c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C80.5,130.6,79.4,131.6,78.2,131.6z
				"/>
			<path style="#000000" d="M78.2,104.9c-1.4,0-2.5-1.1-2.5-2.5s1.1-2.5,2.5-2.5s2.5,1.1,2.5,2.5S79.5,104.9,78.2,104.9z"/>
			<path style="#000000" d="M78.2,104.7c-1.3,0-2.3-1-2.3-2.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3C80.5,103.6,79.4,104.7,78.2,104.7z
				"/>
		</g>
		</svg>' as [categoryImage], '/clothing-shop' as [categoryLink], 'Clothing' as [categoryText],  4 as [Sort_Order]
			END



			SELECT
    
				 S.[SMI] as [sMI]
				,ISNULL(AF.[useLegacy],ISNULL(AFDefault.[useLegacy],0)) as [useLegacy]
				,[AffinityURL] as [affinityURL]
				,[AltName] as [schoolName]
				,[City] + ', ' + [State] as [cityState]
				,CASE WHEN LTRIM(RTRIM(ISNULL([Color],''))) = '' THEN '#000000' ELSE [Color] END as [schoolColor]
				,ISNULL([LogoURL],'') as [logoURL]
				,[city]
				,[state]
				,[country]
				,[isElementary]
				,[isMiddleSchool]
				,[isHighSchool]
				,[isCollege]

				,ISNULL(@underHeadlineMarketingBanner,'') as [underHeadlineMarketingBanner]
				,ISNULL(@underRingsMarketingBanner,'') as [underRingsMarketingBanner]
				,ISNULL(@underYearbookMarketingBanner,'') as [underYearbookMarketingBanner]
				,ISNULL(@underEssentialsMarketingBanner,'') as [underEssentialsMarketingBanner]
				,ISNULL(@underEventsMarketingBanner,'') as [underEventsMarketingBanner]
				,ISNULL(@underSchoolShopsMarketingBanner,'') as [underSchoolShopsMarketingBanner]
				,ISNULL(@underCategoriesMarketingBanner,'') as [underCategoriesMarketingBanner] 
				,ISNULL(@underEmailMarketingBanner,'') as [underEmailMarketingBanner] 
				,ISNULL(@underMessagesMarketingBanner,'') as [underMessagesMarketingBanner]

				,CASE WHEN @GradeLevel IN ('Elementary') OR @noRings = 1 THEN CAST(1 as BIT) ELSE @yearbookonly END as isYearbookOnly --09/02/2020 TL THIS IS A HOT FIX
				--If this is a yearbook only school but hasYearbook returns false, yearbooks are in the off state and we still need the tile
				,CASE WHEN @yearbookOnly = 1 THEN @yearbookOnly ELSE @hasYearbook END as [hasYearbook]
				--,ISNULL(AF.[TopHeadline],AFDefault.[topHeadline]) as [topHeadline]
				--,ISNULL(AF.[topSubheadline],AFDefault.[topSubheadline]) as [topSubheadline]  

				,CASE WHEN @GradeLevel = 'College' OR @GradeLevel = 'High School' OR @GradeLevel = '' THEN 'We''re bringing the <span class="school-color-text">TRADITION</span> to you.' WHEN @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' THEN '' ELSE '' END AS [topHeadline]
				,CASE WHEN @GradeLevel = 'College' THEN 'Everything you need to make college memorable.' WHEN @GradeLevel = 'High School' OR @GradeLevel = '' THEN 'Everything you need to make your memories count.' WHEN @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary'  THEN '' ELSE '' END AS [topSubheadline]

				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[emailCollectionTitle],''))) <> '' THEN AF.[emailCollectionTitle] ELSE ISNULL(AFDefault.[emailCollectionTitle],'') END as [emailCollectionTitle]
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[emailCollectionText],''))) <> '' THEN  AF.[emailCollectionText] ELSE ISNULL(AFDefault.[emailCollectionText],'') END as [emailCollectionText]
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[emailCollectionSuccessTitle],''))) <> '' THEN AF.[emailCollectionSuccessTitle] ELSE ISNULL(AFDefault.[emailCollectionSuccessTitle],'') END as [emailCollectionSuccessTitle]
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[emailCollectionSuccessText],''))) <> '' THEN AF.[emailCollectionSuccessText] ELSE ISNULL(AFDefault.[emailCollectionSuccessText],'') END as [emailCollectionSuccessText]
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[emailCollectionCTAButtonText],''))) <> '' THEN AF.[emailCollectionCTAButtonText] ELSE ISNULL(AFDefault.[emailCollectionCTAButtonText],'') END as [emailCollectionCTAButtonText]
		
				--,ISNULL(AF.[categoryShopTitle], AFDefault.[categoryShopTitle]) AS [categoryShopTitle]
        
				-- ,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[topPromoBannerHTML],''))) <> '' THEN REPLACE(AF.[topPromoBannerHTML],'~SMI~',CAST(@SMI AS VARCHAR(25))) ELSE REPLACE(ISNULL(AFDefault.[topPromoBannerHTML],''),'~SMI~',CAST(@SMI AS VARCHAR(25))) END END AS [topPromoBannerHTML]

				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[categoryShopTitle], ''))) <> '' THEN AF.[categoryShopTitle] ELSE ISNULL(AFDefault.[categoryShopTitle],'') END END AS [categoryShopTitle]

				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[seasonalPromoBannerImage],''))) <> '' THEN AF.[seasonalPromoBannerImage] ELSE  ISNULL(AFDefault.[seasonalPromoBannerImage],'') END END AS [seasonalPromoBannerImage]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[seasonalPromoBannerImageMobile],''))) <> '' THEN AF.[seasonalPromoBannerImageMobile] ELSE ISNULL(AFDefault.[seasonalPromoBannerImageMobile],'') END END AS [seasonalPromoBannerImageMobile]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[seasonalPromoBannerTitle],''))) <> '' THEN AF.[seasonalPromoBannerTitle] ELSE ISNULL(AFDefault.[seasonalPromoBannerTitle],'') END END AS [seasonalPromoBannerTitle]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[seasonalPromoBannerText],''))) <> '' THEN AF.[seasonalPromoBannerText] ELSE ISNULL(AFDefault.[seasonalPromoBannerText],'') END END AS [seasonalPromoBannerText]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[seasonalPromoBannerCTAButtonText],''))) <> '' THEN AF.[seasonalPromoBannerCTAButtonText] ELSE ISNULL(AFDefault.[seasonalPromoBannerCTAButtonText],'') END END AS [seasonalPromoBannerCTAButtonText]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[seasonalPromoBannerCTAButtonLink],''))) <> '' THEN AF.[seasonalPromoBannerCTAButtonLink] ELSE ISNULL(AFDefault.[seasonalPromoBannerCTAButtonLink],'') END END AS [seasonalPromoBannerCTAButtonLink]
		
				--Class Rings
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsHeadline],''))) <> '' THEN AF.[classRingsHeadline] ELSE @ringsHeadlineText END END AS [classRingsHeadline]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileTopText],''))) = '' THEN  @ringsTileHeadlineText ELSE AF.[classRingsTileTopText] END END AS [classRingsTileTopText]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsSubheadline],''))) <> '' THEN AF.[classRingsSubheadline] ELSE @ringsSubheadlineText END END AS [classRingsSubheadline]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileImage],''))) = '' THEN @mainRingTileImage_one ELSE AF.[classRingsTileImage] END END as [classRingsTileImage]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileImageMobile],''))) <> '' THEN AF.[classRingsTileImageMobile] ELSE ISNULL(AFDefault.[classRingsTileImageMobile],'') END END as [classRingsTileImageMobile]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileBottomText],''))) <> '' THEN AF.[classRingsTileBottomText] ELSE ISNULL(AFDefault.[classRingsTileBottomText],'') END END as [classRingsTileBottomText]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileCTALink],''))) <> '' THEN AF.[classRingsTileCTALink] ELSE [dbo].[fn_Affinity_ClassRingUrl] (@SMI, @GradeLevel) END END as [classRingsTileCTALink]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[classRingsTileCTALinkNewTab],''))) <> '' THEN AF.[classRingsTileCTALinkNewTab] ELSE ISNULL(AFDefault.[classRingsTileCTALinkNewTab],'') END END as [classRingsTileCTALinkNewTab]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[affinityCTAButtonText],''))) <> '' THEN AF.[affinityCTAButtonText] ELSE ISNULL(AFDefault.[affinityCTAButtonText],'') END END as [affinityCTAButtonText]

				--Payments
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[paymentsTileHeadline],''))) <> '' THEN AF.[paymentsTileHeadline] ELSE ISNULL(AFDefault.[paymentsTileHeadline],'') END END AS [paymentsTileHeadline]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[paymentsTileText],''))) <> '' THEN AF.[paymentsTileText] ELSE ISNULL(AFDefault.[paymentsTileText],'')  END END AS [paymentsTileText]
       
				--Easy Payments
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[easyPaymentsImage],''))) <> '' THEN AF.[easyPaymentsImage] ELSE ISNULL(AFDefault.[easyPaymentsImage],'') END END as [easyPaymentsImage]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[easyPaymentsmodalHeader],''))) <> '' THEN AF.[easyPaymentsmodalHeader] ELSE ISNULL(AFDefault.[easyPaymentsmodalHeader],'') END END as [easyPaymentsmodalHeader]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[easyPaymentsmodalTitle],''))) <> '' THEN AF.[easyPaymentsmodalTitle] ELSE ISNULL(AFDefault.[easyPaymentsmodalTitle],'') END END as [easyPaymentsmodalTitle]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[easyPaymentsmodalText],''))) <> '' THEN AF.[easyPaymentsmodalText] ELSE ISNULL(AFDefault.[easyPaymentsmodalText],'') END END as [easyPaymentsmodalText]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[easyPaymentsmodalTrigger],''))) <> '' THEN AF.[easyPaymentsmodalTrigger] ELSE ISNULL(AFDefault.[easyPaymentsmodalTrigger],'') END END as [easyPaymentsmodalTrigger]

				--Ring Size
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[ringSizeHeadline],''))) <> '' THEN AF.[ringSizeHeadline] ELSE ISNULL(AFDefault.[ringSizeHeadline],'') END END AS  [ringSizeHeadline]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[ringSizeText],''))) <> '' THEN AF.[ringSizeText] ELSE ISNULL(AFDefault.[ringSizeText],'') END END AS [ringSizeText]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[ringSizeLink],''))) <> '' THEN AF.[ringSizeLink] ELSE ISNULL(AFDefault.[ringSizeLink],'') END END AS [ringSizeLink]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[ringSizeLinkText],''))) <> '' THEN AF.[ringSizeLinkText] ELSE ISNULL(AFDefault.[ringSizeLinkText],'') END END AS [ringSizeLinkText]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[ringSizeImage], ''))) <> '' THEN AF.[ringSizeImage] ELSE ISNULL(AFDefault.[ringSizeImage],'') END END AS [ringSizeImage]
				,CASE WHEN @YearbookOnly = 1 OR @GradeLevel IN ('Elementary') OR @noRings = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[ringSizeImageMobile],''))) <> '' THEN AF.[ringSizeImageMobile] ELSE ISNULL(AFDefault.[ringSizeImageMobile],'') END END AS [ringSizeImageMobile]

				--Graduation
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[graduationHeadline],''))) = '' THEN @yearbookGraduationHeadline ELSE AF.[graduationHeadline] END END as [graduationHeadline]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[graduationSubHeadline],''))) = '' THEN @yearbookGraduationSubHeadline ELSE AF.[graduationSubHeadline] END END as [graduationSubHeadline]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[graduationSubheadline],''))) <> '' THEN AF.[graduationSubheadline] ELSE ISNULL(AFDefault.[graduationSubheadline],'') END END AS [graduationSubheadline]

				--School Shop
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[schoolShopHeadline],''))) = '' THEN @schoolShopTilesHeadline ELSE AF.[schoolShopHeadline] END END as [schoolShopHeadline]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[schoolShopSubheadline],''))) = '' THEN AF.[schoolShopSubheadline] ELSE ISNULL(AFDefault.[schoolShopSubheadline],'') END END AS [schoolShopSubheadline]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[schoolShopCTAButtonText],''))) <> '' THEN AF.[schoolShopCTAButtonText] ELSE ISNULL(AFDefault.[schoolShopCTAButtonText],'') END END AS [schoolShopCTAButtonText]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[schoolTextColor],''))) <> '' THEN AF.[schoolTextColor] ELSE ISNULL(AFDefault.[schoolTextColor],'') END END AS [schoolTextColor]
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[schoolBackgroundColor],''))) <> '' THEN AF.[schoolBackgroundColor] ELSE ISNULL(AFDefault.[schoolBackgroundColor],'') END END as [schoolBackgroundColor]
        
				--Yearbook
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[YearbookBannerImage],''))) <> '' THEN AF.[YearbookBannerImage] ELSE ISNULL(@YearbookImageMainDesktop,'') END AS [YearbookBannerImage]
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[YearbookBannerImageMobile], ''))) <> '' THEN AF.[YearbookBannerImageMobile] ELSE ISNULL(@YearbookImageMainMobile,'') END AS [YearbookBannerImageMobile]
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.[YearbookBannerTitle], ''))) <> '' THEN AF.[YearbookBannerTitle] ELSE ISNULL(AFDefault.[YearbookBannerTitle],'') END AS [YearbookBannerTitle]
				,CASE WHEN @yearbookOnly = 1 AND @hasYearbook = 0 THEN 'Your Yearbook Shop is currently closed. Contact your school rep for information on ordering your yearbook.' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[YearbookBannerText], ''))) <> '' THEN AF.[YearbookBannerText] ELSE ISNULL(AFDefault.[YearbookBannerText],'') END END AS [YearbookBannerText]
				,CASE WHEN @yearbookOnly = 1 AND @hasYearbook = 0 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[YearbookBannerCTAButtonText], ''))) <> '' THEN AF.[YearbookBannerCTAButtonText] ELSE ISNULL(AFDefault.[YearbookBannerCTAButtonText],'') END END AS [YearbookBannerCTAButtonText]
				-- Removed - all yearbooks have the same link. -- CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[YearbookBannerCTAButtonLink],''))) = '' THEN '/student-info?smi=' + CAST(@SMI as VARCHAR(25)) ELSE AF.[YearbookBannerCTAButtonLink] END END as [YearbookBannerCTAButtonLink]
				,CASE WHEN @yearbookOnly = 1 AND @hasYearbook = 0 THEN '' ELSE '/student-info?smi=' + CAST(@SMI as VARCHAR(25)) END as [YearbookBannerCTAButtonLink]

				--School Messages
				,CASE WHEN @YearbookOnly = 1 THEN '' ELSE CASE WHEN LTRIM(RTRIM(ISNULL(AF.[schoolMessageTilesHeadline],''))) <> '' THEN AF.[schoolMessageTilesHeadline] ELSE ISNULL(AFDefault.[schoolMessageTilesHeadline],'')  END END AS [schoolMessageTilesHeadline]


				,(
					SELECT [ringsTileImage], [ringsTileImageMobile], [ringsTileText], [ringsTileTitle], [ringsTileMarketingCallout], [ringsTileButtonText], [ringsTileCTALink], [ringsTileCTALinkNewTab], [logoImage], [ringImageOne], [ringImageTwo], [ringImageSingle], [ringsTileButtonTitle], [useTwoRingTile]
					FROM @RingsTileList 
					ORDER BY [Sort_Order] FOR JSON PATH
				 ) RingsTileList
				,(
					SELECT [gradEssTileImage], [gradEssTileImageMobile], [gradEssTileImageFullWidth], [gradEssTileText], [gradEssTileTitle], [gradEssTileCTALink], [gradEssTileCTALinkNewTab], [gradEssMobileButtonText], [contentSide], [Sort_Order]
					FROM @GradEssTileList
					ORDER BY [Sort_Order] FOR JSON PATH
				 )  GradEssTileList
				 ,(
					SELECT TOP 6 [schoolShopTileImage], [schoolShopTileImageMobile], [schoolShopTileText], [schoolShopTileCTALink], [schoolShopTileCTALinkNewTab] 
					FROM @SchoolShopTileList
					ORDER BY [Sort_Order] FOR JSON PATH
				 ) SchoolShopTileList --This is driven by the old Sitecore affinity tile data
				 ,(
					SELECT [categoryImage], [categoryLink], [categoryText], [Sort_Order]
					FROM @CategoryList 
					ORDER BY [Sort_Order] FOR JSON PATH
				 ) CategoryList
				 ,(
					SELECT [sMI], [iD], [date],[title], [description],[image_URL],[gUID]
					,[event_Content], [locationDateTimeInfo], [uRL],[timeStamp]
					FROM @Results
					ORDER BY [sort_Order] FOR JSON PATH
				 ) SchoolEvents
				 ,(
					SELECT ISNULL([messageImage],'') as [messageImage], ISNULL([messageLink],'') as [messageLink], ISNULL([messageText],'') as [messageText], ISNULL([messageTextTitle],'') as [messageTextTitle], ISNULL([messageLinkNewTab],1) as [messageLinkNewTab]
					FROM [dbo].[ContentAffinitySchoolMessages]
					WHERE [SMI] = @SMI	
					AND dbo.fn_DateTime_To_Central(GETDATE()) > dbo.fn_DateTime_To_Central(ISNULL(StartDate,DATEADD(year,-1,GETDATE())))
					AND dbo.fn_DateTime_To_Central(GETDATE()) <= dbo.fn_DateTime_To_Central(ISNULL(EndDate,DATEADD(year,1,GETDATE())))
					ORDER BY [sort_Order] FOR JSON PATH
				 ) SchoolMessageTiles

				 , FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt') as [timeStamp]
				 
				 , DB_NAME()  as [instance]
				 , CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
				 , OBJECT_NAME(@@PROCID) as [sproc]
				 , CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
			FROM [dbo].[School_URL_Master] S 
			INNER JOIN [dbo].[ContentAffinityPages] AF ON AF.[SMI] = S.[SMI]
			LEFT JOIN [dbo].[ContentAffinityPages] AFDefault ON AFDefault.[SMI] = CASE WHEN @GradeLevel = 'College' THEN  -1 ELSE -2 END
			WHERE S.[SMI] = @SMI
			FOR JSON PATH
		END

		
END
GO
