/****** Object:  StoredProcedure [dbo].[Upsert_quote]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/18/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_quote]
(	@applied_rule_ids varchar(255), 
	@base_currency_code varchar(255), 
	@base_customer_bal_amount_used decimal(12, 4), 
	@base_gift_cards_amount decimal(12, 4), 
	@base_gift_cards_amount_used decimal(12, 4), 
	@base_grand_total decimal(12, 4), 
	@base_reward_currency_amount decimal(12, 4), 
	@base_subtotal decimal(12, 4), 
	@base_subtotal_with_discount decimal(12, 4), 
	@base_to_global_rate decimal(12, 4), 
	@base_to_quote_rate decimal(12, 4), 
	@checkout_method varchar(255), 
	@coupon_code varchar(255), 
	@created_at datetime, 
	@customer_balance_amount_used decimal(12, 4), 
	@customer_dob datetime, 
	@customer_email varchar(255), 
	@customer_firstname varchar(255), 
	@customer_gender varchar(255), 
	@customer_group_id bigint, 
	@customer_id bigint, 
	@customer_is_guest smallint, 
	@customer_lastname varchar(255), 
	@customer_middlename varchar(40), 
	@customer_note varchar(255), 
	@customer_note_notify smallint, 
	@customer_prefix varchar(40), 
	@customer_suffix varchar(40), 
	@customer_tax_class_id bigint, 
	@customer_taxvat varchar(255), 
	@entity_id bigint, 
	@ext_shipping_info text, 
	@gift_cards text, 
	@gift_cards_amount decimal(12, 4), 
	@gift_cards_amount_used decimal(12, 4), 
	@gift_message_id int, 
	@global_currency_code varchar(255), 
	@grand_total decimal(12, 4), 
	@gw_add_card int, 
	@gw_allow_gift_receipt int, 
	@gw_base_price decimal(12, 4), 
	@gw_base_price_incl_tax decimal(12, 4), 
	@gw_base_tax_amount decimal(12, 4), 
	@gw_card_base_price decimal(12, 4), 
	@gw_card_base_price_incl_tax decimal(12, 4), 
	@gw_card_base_tax_amount decimal(12, 4), 
	@gw_card_price decimal(12, 4), 
	@gw_card_price_incl_tax decimal(12, 4), 
	@gw_card_tax_amount decimal(12, 4), 
	@gw_id int, 
	@gw_items_base_price decimal(12, 4), 
	@gw_items_base_price_incl_tax decimal(12, 4), 
	@gw_items_base_tax_amount decimal(12, 4), 
	@gw_items_price decimal(12, 4), 
	@gw_items_price_incl_tax decimal(12, 4), 
	@gw_items_tax_amount decimal(12, 4), 
	@gw_price decimal(12, 4), 
	@gw_price_incl_tax decimal(12, 4), 
	@gw_tax_amount decimal(12, 4), 
	@is_active smallint, 
	@is_changed int, 
	@is_multi_shipping smallint, 
	@is_persistent smallint, 
	@is_virtual smallint, 
	@items_count int, 
	@items_qty decimal(12, 4), 
	@orig_order_id bigint, 
	@password_hash varchar(255), 
	@quote_currency_code varchar(255), 
	@remote_ip varchar(32), 
	@reserved_order_id varchar(64), 
	@reward_currency_amount decimal(12, 4), 
	@reward_points_balance int, 
	@store_currency_code varchar(255), 
	@store_id smallint, 
	@store_to_base_rate decimal(12, 4), 
	@store_to_quote_rate decimal(12, 4), 
	@subtotal decimal(12, 4), 
	@subtotal_with_discount decimal(12, 4), 
	@trigger_recollect smallint, 
	@updated_at datetime, 
	@use_customer_balance int, 
	@use_reward_points int
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF EXISTS (SELECT TOP 1 * FROM quote WHERE [entity_id] = @entity_id)
	BEGIN
		UPDATE quote
		SET
			[applied_rule_ids] = @applied_rule_ids, 
			[base_currency_code] = @base_currency_code, 
			[base_customer_bal_amount_used] = @base_customer_bal_amount_used, 
			[base_gift_cards_amount] = @base_gift_cards_amount, 
			[base_gift_cards_amount_used] = @base_gift_cards_amount_used, 
			[base_grand_total] = @base_grand_total, 
			[base_reward_currency_amount] = @base_reward_currency_amount, 
			[base_subtotal] = @base_subtotal, 
			[base_subtotal_with_discount] = @base_subtotal_with_discount, 
			[base_to_global_rate] = @base_to_global_rate, 
			[base_to_quote_rate] = @base_to_quote_rate, 
			[checkout_method] = @checkout_method, 
			[coupon_code] = @coupon_code, 
			[created_at] = @created_at, 
			[customer_balance_amount_used] = @customer_balance_amount_used, 
			[customer_dob] = @customer_dob, 
			[customer_email] = @customer_email, 
			[customer_firstname] = @customer_firstname, 
			[customer_gender] = @customer_gender, 
			[customer_group_id] = @customer_group_id, 
			[customer_id] = @customer_id, 
			[customer_is_guest] = @customer_is_guest, 
			[customer_lastname] = @customer_lastname, 
			[customer_middlename] = @customer_middlename, 
			[customer_note] = @customer_note, 
			[customer_note_notify] = @customer_note_notify, 
			[customer_prefix] = @customer_prefix, 
			[customer_suffix] = @customer_suffix, 
			[customer_tax_class_id] = @customer_tax_class_id, 
			[customer_taxvat] = @customer_taxvat, 
			[ext_shipping_info] = @ext_shipping_info, 
			[gift_cards] = @gift_cards, 
			[gift_cards_amount] = @gift_cards_amount, 
			[gift_cards_amount_used] = @gift_cards_amount_used, 
			[gift_message_id] = @gift_message_id, 
			[global_currency_code] = @global_currency_code, 
			[grand_total] = @grand_total, 
			[gw_add_card] = @gw_add_card, 
			[gw_allow_gift_receipt] = @gw_allow_gift_receipt, 
			[gw_base_price] = @gw_base_price, 
			[gw_base_price_incl_tax] = @gw_base_price_incl_tax, 
			[gw_base_tax_amount] = @gw_base_tax_amount, 
			[gw_card_base_price] = @gw_card_base_price, 
			[gw_card_base_price_incl_tax] = @gw_card_base_price_incl_tax, 
			[gw_card_base_tax_amount] = @gw_card_base_tax_amount, 
			[gw_card_price] = @gw_card_price, 
			[gw_card_price_incl_tax] = @gw_card_price_incl_tax, 
			[gw_card_tax_amount] = @gw_card_tax_amount, 
			[gw_id] = @gw_id, 
			[gw_items_base_price] = @gw_items_base_price, 
			[gw_items_base_price_incl_tax] = @gw_items_base_price_incl_tax, 
			[gw_items_base_tax_amount] = @gw_items_base_tax_amount, 
			[gw_items_price] = @gw_items_price, 
			[gw_items_price_incl_tax] = @gw_items_price_incl_tax, 
			[gw_items_tax_amount] = @gw_items_tax_amount, 
			[gw_price] = @gw_price, 
			[gw_price_incl_tax] = @gw_price_incl_tax, 
			[gw_tax_amount] = @gw_tax_amount, 
			[is_active] = @is_active, 
			[is_changed] = @is_changed, 
			[is_multi_shipping] = @is_multi_shipping, 
			[is_persistent] = @is_persistent, 
			[is_virtual] = @is_virtual, 
			[items_count] = @items_count, 
			[items_qty] = @items_qty, 
			[orig_order_id] = @orig_order_id, 
			[password_hash] = @password_hash, 
			[quote_currency_code] = @quote_currency_code, 
			[remote_ip] = @remote_ip, 
			[reserved_order_id] = @reserved_order_id, 
			[reward_currency_amount] = @reward_currency_amount, 
			[reward_points_balance] = @reward_points_balance, 
			[store_currency_code] = @store_currency_code, 
			[store_id] = @store_id, 
			[store_to_base_rate] = @store_to_base_rate, 
			[store_to_quote_rate] = @store_to_quote_rate, 
			[subtotal] = @subtotal, 
			[subtotal_with_discount] = @subtotal_with_discount, 
			[trigger_recollect] = @trigger_recollect, 
			[updated_at] = @updated_at, 
			[use_customer_balance] = @use_customer_balance, 
			[use_reward_points] = @use_reward_points
		FROM quote
		WHERE [entity_id] = @entity_id
	END
ELSE
	BEGIN
		INSERT INTO quote
		(
			[applied_rule_ids], 
			[base_currency_code], 
			[base_customer_bal_amount_used], 
			[base_gift_cards_amount], 
			[base_gift_cards_amount_used], 
			[base_grand_total], 
			[base_reward_currency_amount], 
			[base_subtotal], 
			[base_subtotal_with_discount], 
			[base_to_global_rate], 
			[base_to_quote_rate], 
			[checkout_method], 
			[coupon_code], 
			[created_at], 
			[customer_balance_amount_used], 
			[customer_dob], 
			[customer_email], 
			[customer_firstname], 
			[customer_gender], 
			[customer_group_id], 
			[customer_id], 
			[customer_is_guest], 
			[customer_lastname], 
			[customer_middlename], 
			[customer_note], 
			[customer_note_notify], 
			[customer_prefix], 
			[customer_suffix], 
			[customer_tax_class_id], 
			[customer_taxvat], 
			[entity_id], 
			[ext_shipping_info], 
			[gift_cards], 
			[gift_cards_amount], 
			[gift_cards_amount_used], 
			[gift_message_id], 
			[global_currency_code], 
			[grand_total], 
			[gw_add_card], 
			[gw_allow_gift_receipt], 
			[gw_base_price], 
			[gw_base_price_incl_tax], 
			[gw_base_tax_amount], 
			[gw_card_base_price], 
			[gw_card_base_price_incl_tax], 
			[gw_card_base_tax_amount], 
			[gw_card_price], 
			[gw_card_price_incl_tax], 
			[gw_card_tax_amount], 
			[gw_id], 
			[gw_items_base_price], 
			[gw_items_base_price_incl_tax], 
			[gw_items_base_tax_amount], 
			[gw_items_price], 
			[gw_items_price_incl_tax], 
			[gw_items_tax_amount], 
			[gw_price], 
			[gw_price_incl_tax], 
			[gw_tax_amount], 
			[is_active], 
			[is_changed], 
			[is_multi_shipping], 
			[is_persistent], 
			[is_virtual], 
			[items_count], 
			[items_qty], 
			[orig_order_id], 
			[password_hash], 
			[quote_currency_code], 
			[remote_ip], 
			[reserved_order_id], 
			[reward_currency_amount], 
			[reward_points_balance], 
			[store_currency_code], 
			[store_id], 
			[store_to_base_rate], 
			[store_to_quote_rate], 
			[subtotal], 
			[subtotal_with_discount], 
			[trigger_recollect], 
			[updated_at], 
			[use_customer_balance], 
			[use_reward_points]
		)
		VALUES
		(
			@applied_rule_ids, 
			@base_currency_code, 
			@base_customer_bal_amount_used, 
			@base_gift_cards_amount, 
			@base_gift_cards_amount_used, 
			@base_grand_total, 
			@base_reward_currency_amount, 
			@base_subtotal, 
			@base_subtotal_with_discount, 
			@base_to_global_rate, 
			@base_to_quote_rate, 
			@checkout_method, 
			@coupon_code, 
			@created_at, 
			@customer_balance_amount_used, 
			@customer_dob, 
			@customer_email, 
			@customer_firstname, 
			@customer_gender, 
			@customer_group_id, 
			@customer_id, 
			@customer_is_guest, 
			@customer_lastname, 
			@customer_middlename, 
			@customer_note, 
			@customer_note_notify, 
			@customer_prefix, 
			@customer_suffix, 
			@customer_tax_class_id, 
			@customer_taxvat, 
			@entity_id, 
			@ext_shipping_info, 
			@gift_cards, 
			@gift_cards_amount, 
			@gift_cards_amount_used, 
			@gift_message_id, 
			@global_currency_code, 
			@grand_total, 
			@gw_add_card, 
			@gw_allow_gift_receipt, 
			@gw_base_price, 
			@gw_base_price_incl_tax, 
			@gw_base_tax_amount, 
			@gw_card_base_price, 
			@gw_card_base_price_incl_tax, 
			@gw_card_base_tax_amount, 
			@gw_card_price, 
			@gw_card_price_incl_tax, 
			@gw_card_tax_amount, 
			@gw_id, 
			@gw_items_base_price, 
			@gw_items_base_price_incl_tax, 
			@gw_items_base_tax_amount, 
			@gw_items_price, 
			@gw_items_price_incl_tax, 
			@gw_items_tax_amount, 
			@gw_price, 
			@gw_price_incl_tax, 
			@gw_tax_amount, 
			@is_active, 
			@is_changed, 
			@is_multi_shipping, 
			@is_persistent, 
			@is_virtual, 
			@items_count, 
			@items_qty, 
			@orig_order_id, 
			@password_hash, 
			@quote_currency_code, 
			@remote_ip, 
			@reserved_order_id, 
			@reward_currency_amount, 
			@reward_points_balance, 
			@store_currency_code, 
			@store_id, 
			@store_to_base_rate, 
			@store_to_quote_rate, 
			@subtotal, 
			@subtotal_with_discount, 
			@trigger_recollect, 
			@updated_at, 
			@use_customer_balance, 
			@use_reward_points
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@entity_id as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'quote', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'quote', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'quote', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
