/****** Object:  StoredProcedure [dbo].[s_delete_contentaffinitytiles_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 1/21/2021 - Jon.
*/
CREATE PROCEDURE [dbo].[s_delete_contentaffinitytiles_record]
(
	 @ID BIGINT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [ContentAffinityTiles].
--##PD @ID in [ContentAffinityTiles].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [ContentAffinityTiles] WHERE [ID] = @ID


GO
