/****** Object:  StoredProcedure [dbo].[s_cache_prod_recs_universityphotos]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 08/05/19
-- Description: AutoIndex Iconic lookup - with Rank update
-- =============================================
CREATE PROCEDURE [dbo].[s_cache_prod_recs_universityphotos]
(
    -- Add the parameters for the stored procedure here
	@debugging BIT = 1
)
AS
BEGIN
	
	-- EXEC [s_cache_prod_recs_universityphotos] @debugging = 0

   SET NOCOUNT ON

    DROP TABLE IF EXISTS #schoolList
	CREATE TABLE #schoolList ([Client ID] int, Loop INT IDENTITY(1,1)) 
	DROP TABLE IF EXISTS dbo.GreekRecCache_New
	SELECT * INTO dbo.GreekRecCache_New FROM dbo.GreekRecCache WHERE 1 = 2

	INSERT INTO #schoolList ( [Client ID] )
	SELECT [Client ID]
	FROM [dbo].[GrkClients]
		
	
	DECLARE @iconicschoolid int, @Loop INT, @Max INT
	BEGIN
		SELECT @Max = MAX([Loop]) FROM #schoolList
		
		SET @Loop = 1
		WHILE @Loop <= @Max
		BEGIN
			IF @iconicschoolid IN(
				select [Client ID]
				from grkclients
				where type = 'Fraternity' 
				)
			BEGIN -- Fraternity special cases
				PRINT @iconicschoolid
				PRINT 'Frat!!'
				SELECT @iconicschoolid = [Client ID] FROM #schoolList WHERE [Loop] = @Loop
				INSERT INTO GreekRecCache_New ([imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [itemcategory], [Class], [Rank], [Rank2])

					SELECT distinct  'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + p.sku + '/base/800x800/' +
											 (SELECT        TOP (1) value
											   FROM            STRING_SPLIT(ia.tagvalue, ',') AS STRING_SPLIT_1) AS imageurl, 
								REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU + '?nosmi=true'), '--', '-') AS url, 
								p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) AS [Price], grk.[Client ID], grk.smi, p.Category 
								  , skrrt.class  , gr.rank1, gr.rank2
					FROM            dbo.magento_automated_product_dataset AS p 
									 INNER JOIN  dbo.[GrkClients] as grk ON grk.[client id] = @iconicschoolid
									 INNER JOIN  dbo.item AS i ON (LEFT(p.SKU,8) = i.sku ) 
									 LEFT JOIN   dbo.itemattributes AS ia ON i.id = ia.itemid AND ia.tagtype = 'a_BalfourPrimaryImages'
									 -- INNER JOIN  dbo.itemattributes AS iaa ON i.id = iaa.itemid AND (iaa.tagtype = 'a_sororities' AND iaa.tagvalue = grk.organization)
									 INNER JOIN  dbo.NetSuiteSkuClassMapping skrrt ON (LEFT(p.SKU,8) = skrrt.SKU2)  
									 INNER JOIN  dbo.GrkRank gr ON gr.class = skrrt.class
					WHERE        (p.[Item Category] NOT IN ('publishing')) 
							AND (p.Category NOT LIKE '%PETS%')
							AND (p.Category NOT LIKE '%GOLF%')
							AND (p.Status = 'Enable') 
							AND (p.[Retail Price] <> 0)
							AND (p.Visibility = 'In Catalog and Search') 
							AND (ia.tagtype = 'a_BalfourPrimaryImages' )
							AND CHARINDEX(grk.organization, p.[Product Name],0) > 0 -- Checking to see if we can find the greek in the name
				SET @Loop = @Loop + 1
			END
			ELSE
			BEGIN
				PRINT @iconicschoolid
				SELECT @iconicschoolid = [Client ID] FROM #schoolList WHERE [Loop] = @Loop
				INSERT INTO GreekRecCache_New ([imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [itemcategory], [Class], [Rank], [Rank2])

					SELECT distinct  'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + p.sku + '/base/800x800/' +
											 (SELECT        TOP (1) value
											   FROM            STRING_SPLIT(ia.tagvalue, ',') AS STRING_SPLIT_1) AS imageurl, 
								REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU + '?nosmi=true'), '--', '-') AS url, 
								p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) AS [Price], grk.[Client ID], grk.smi, p.Category 
								  , skrrt.class  , gr.rank1, gr.rank2
					FROM            dbo.magento_automated_product_dataset AS p 
									 INNER JOIN  dbo.[GrkClients] as grk ON grk.[client id] = @iconicschoolid
									 INNER JOIN  dbo.item AS i ON (LEFT(p.SKU,8) = i.sku ) 
									 LEFT JOIN   dbo.itemattributes AS ia ON i.id = ia.itemid AND ia.tagtype = 'a_BalfourPrimaryImages'
									 INNER JOIN  dbo.itemattributes AS iaa ON i.id = iaa.itemid AND (iaa.tagtype = 'a_sororities' AND iaa.tagvalue = grk.organization)
									 INNER JOIN  dbo.NetSuiteSkuClassMapping skrrt ON (LEFT(p.SKU,8) = skrrt.SKU2)  
									 INNER JOIN  dbo.GrkRank gr ON gr.class = skrrt.class
					WHERE        (p.[Item Category] NOT IN ('publishing')) 
							AND (p.Category NOT LIKE '%PETS%')
							AND (p.Category NOT LIKE '%GOLF%')
							AND (p.Status = 'Enable') 
							AND (p.[Retail Price] <> 0)
							AND (p.Visibility = 'In Catalog and Search') 
							AND (ia.tagtype = 'a_BalfourPrimaryImages' )
			  SET @Loop = @Loop + 1
			END; 
		END;
	END;

	IF @debugging = 0
		BEGIN
			TRUNCATE TABLE GreekRecCache;
			INSERT INTO GreekRecCache ([imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [itemcategory], [Class], [Rank], [Rank2])
			SELECT * FROM GreekRecCache_New;
		END
	DROP TABLE #schoolList

END

GO
