/****** Object:  StoredProcedure [dbo].[s_get_contentsprocs_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/3/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_contentsprocs_records]
(
	  @id INT = NULL
	, @searchField VARCHAR(50) = '' --sprocKey, sprocName
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'id'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ContentSprocs] if the parameter @id has a value or a list of records if null.
--##PD @id in [ContentSprocs].
--##PD @searchField - The field to search on (sprocKey, sprocName)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [id]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ContentSprocs].

--DECLARE @totalRecords INT; EXEC s_get_contentsprocs_records @searchField = 'id', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @id IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [sprocKey]
		,[sprocName]
		,[connectionToken]
		,[useCache]
		,[cacheMinutes]
		,[cacheConnection]
		,ISNULL([notes],'') as [notes]
		,ISNULL([testCall],'') as [testCall]
		,FORMAT(dbo.fn_DateTime_to_Central([createdDTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [createdDTM]
		,FORMAT(dbo.fn_DateTime_to_Central([modifiedDTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [modifiedDTM]
		,[id]
		FROM [ContentSprocs]
		WHERE [id] = @id

		SELECT @totalRecords = COUNT(*) FROM [dbo].[ContentSprocs]
		WHERE[id] = @id
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [ContentSprocs]
		WHERE [id] = CASE WHEN @id IS NULL THEN [id] ELSE @id END
		AND ISNULL([sprocKey],'') LIKE CASE WHEN @searchField = 'sprocKey' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([sprocKey],'') END
		AND ISNULL([sprocName],'') LIKE CASE WHEN @searchField = 'sprocName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([sprocName],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [sprocKey]
				,[sprocName]
				,[connectionToken]
				,[useCache]
				,[cacheMinutes]
				,[cacheConnection]
				,ISNULL([notes],'') as [notes]
				,ISNULL([testCall],'') as [testCall]
				,FORMAT(dbo.fn_DateTime_to_Central([createdDTM])				, 'MM/dd/yyyy hh:mm:ss tt') AS [createdDTM]
				,FORMAT(dbo.fn_DateTime_to_Central([modifiedDTM])				, 'MM/dd/yyyy hh:mm:ss tt') AS [modifiedDTM]
				,[id]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'id' THEN RIGHT(REPLICATE('0',49) + CAST([id] AS VARCHAR(50)),50) WHEN 'sprocKey' THEN [sprocKey] WHEN 'sprocName' THEN [sprocName] END DESC) as RowNumber
				FROM [dbo].[ContentSprocs]
				WHERE [id] = CASE WHEN @id IS NULL THEN [id] ELSE @id END
				AND ISNULL([sprocKey],'') LIKE CASE WHEN @searchField = 'sprocKey' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([sprocKey],'') END
				AND ISNULL([sprocName],'') LIKE CASE WHEN @searchField = 'sprocName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([sprocName],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [sprocKey]
				,[sprocName]
				,[connectionToken]
				,[useCache]
				,[cacheMinutes]
				,[cacheConnection]
				,ISNULL([notes],'') as [notes]
				,ISNULL([testCall],'') as [testCall]
				,FORMAT(dbo.fn_DateTime_to_Central([createdDTM])				, 'MM/dd/yyyy hh:mm:ss tt') AS [createdDTM]
				,FORMAT(dbo.fn_DateTime_to_Central([modifiedDTM])				, 'MM/dd/yyyy hh:mm:ss tt') AS [modifiedDTM]
				,[id]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'id' THEN RIGHT(REPLICATE('0',49) + CAST([id] AS VARCHAR(50)),50) WHEN 'sprocKey' THEN [sprocKey] WHEN 'sprocName' THEN [sprocName] END) as RowNumber
				FROM [dbo].[ContentSprocs]
				WHERE [id] = CASE WHEN @id IS NULL THEN [id] ELSE @id END
				AND ISNULL([sprocKey],'') LIKE CASE WHEN @searchField = 'sprocKey' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([sprocKey],'') END
				AND ISNULL([sprocName],'') LIKE CASE WHEN @searchField = 'sprocName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([sprocName],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
