/****** Object:  StoredProcedure [dbo].[s_update_magento_automated_product_dataset_from_queue]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL/HAN
-- Create Date: 01/12/2021
-- Description: Updates Magento_Automated_Product_Dataset and several Attributes tables:
--		ItemAttributesImages, ItemAttributesClass and itemattributes_announcements
-- =============================================

/**
	SELECT COUNT(*) AS images FROM ItemAttributesImages -- 215537
	SELECT COUNT(*) AS class FROM ItemAttributesClass  -- 135457
	SELECT COUNT(*) AS announcement FROM itemattributes_announcements  -- 1558
	[s_update_magento_automated_product_dataset_from_queue] @debug = 1

 	UPDATE TOP (50) [magento_automated_product_dataset_update_queue] SET Batch_ID = null -- 
--  UPDATE [magento_automated_product_dataset_update_queue] SET Batch_id = 'F082DD68-DA5E-47E0-BB8C-CE525E4ED3B9' WHERE Batch_ID is null
	select * from [magento_automated_product_dataset_update_queue] 
	SELECT LEN([included smi]) FROM [magento_automated_product_dataset] WHERE SKU = 'A0054594A0000'
**/

CREATE PROCEDURE [dbo].[s_update_magento_automated_product_dataset_from_queue]
(@debug SMALLINT = 0)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DROP TABLE IF EXISTS #WorkingSMI
	DROP TABLE IF EXISTS #temp_MAPDS
	DROP TABLE IF EXISTS #WorkingClass
	DROP TABLE IF EXISTS #NV
	--Mark the records to be processed
    DECLARE @Batch_ID VARCHAR(50), @Loop BIGINT, @Loop2 BIGINT, @Max BIGINT, @Max2 BIGINT, @SKU NVARCHAR(100), @LastUpdate VARCHAR(50), @Included_SMI VARCHAR(MAX), @Excluded_SMI VARCHAR(MAX), @ID INT
	SET @Batch_ID = NEWID()
	UPDATE TOP (1000) [dbo].[magento_automated_product_dataset_update_queue] SET [Batch_ID] = @Batch_ID WHERE [Batch_ID] IS NULL
	--UPDATE [dbo].[magento_automated_product_dataset_update_queue] SET [Batch_ID] = @Batch_ID WHERE [Batch_ID] IS NULL

	--Process the records
	CREATE TABLE #temp_MAPDS ([SKU] NVARCHAR(100), [Loop] BIGINT IDENTITY(1,1))
	CREATE TABLE #WorkingSMI ([SKU] VARCHAR(20), [Included SMI] VARCHAR(MAX), [Excluded SMI] VARCHAR(MAX), [ID] INT IDENTITY(1,1))
	CREATE TABLE #WorkingClass ([ItemID] VARCHAR(20), [class] VARCHAR(800), [ID] INT IDENTITY(1,1))
	CREATE TABLE #NV ([Value] VARCHAR(800), Loop INT IDENTITY(1,1))
	INSERT INTO #temp_MAPDS ([SKU])
	SELECT [SKU] FROM   [dbo].[magento_automated_product_dataset_update_queue]  WHERE [Batch_ID] = @Batch_ID AND LEN([SKU]) <= 13 ORDER BY [ID]

	SELECT @Max = MAX([Loop]), @Loop = 1 FROM #temp_MAPDS
	--FOR DEBUG - Han will remove
	IF @debug = 1 PRINT '@Max: ' + CAST(@Max AS VARCHAR(100))
	--SELECT * FROM  #temp_MAPDS
	WHILE @Loop <= @Max
		BEGIN
			SELECT @SKU = [SKU] FROM #temp_MAPDS WHERE [Loop] = @Loop
			IF @debug = 1 PRINT @SKU + ', loop: ' + CAST(@Loop AS VARCHAR(100))
			--HAN - DO THE UPDATES HERE
			UPDATE [dbo].[magento_automated_product_dataset] SET is_Licensed = 0 WHERE is_licensed IS NULL AND [SKU] = @SKU

			UPDATE [dbo].[magento_automated_product_dataset] set vCategory = category, vEnhanced_Commerce =[Enhanced commerce] WHERE [SKU] = @SKU

			UPDATE [dbo].[magento_automated_product_dataset] SET [marketing_image_url] = dbo.fn_Calc_Marketing_Image_URL(SKU) WHERE [SKU] = @SKU 

			SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
			EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'LastUpdate', @Value = @LastUpdate
			EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'LastSKUUpdated', @Value = @SKU

				
			-- UPDATE Product_Excluded_SMI & Product_Included_SMI tables:
			DELETE FROM #WorkingSMI
			INSERT INTO #WorkingSMI ([SKU],[Included SMI],[Excluded SMI])
			SELECT SKU, [Included SMI],[Excluded SMI] FROM [magento_automated_product_dataset]
			WHERE [SKU] = @SKU 
			
			SELECT @ID = MIN([ID]), @Max2 = MAX([ID]) FROM #WorkingSMI
			-- FOR DEBUG - han will remove
			--SELECT * FROM #WorkingSMI
			IF @debug = 1 PRINT '@Max2: ' + CAST(@Max2 AS VARCHAR(50))
			WHILE @ID <= @Max2
				BEGIN
					SELECT @Included_SMI = [Included SMI], @Excluded_SMI = [Excluded SMI] FROM #WorkingSMI WHERE [ID] = @ID
					-- FOR DEBUG - han will remove
					--SELECT @Included_SMI, @Excluded_SMI

					IF @debug = 1 PRINT CAST(@ID AS VARCHAR(100))

					DELETE FROM [dbo].[Product_Included_SMI] WHERE [SKU] = @SKU
					INSERT INTO [dbo].[Product_Included_SMI] ([SKU],[Included_SMI])
					SELECT @SKU, CAST([value] AS BIGINT) FROM string_split(@Included_SMI,',')

					DELETE FROM [dbo].[Product_Excluded_SMI] WHERE [SKU] = @SKU
					INSERT INTO [dbo].[Product_Excluded_SMI] ([SKU],[Excluded_SMI])
					SELECT @SKU, CAST([value] AS BIGINT) FROM string_split(@Excluded_SMI,',')

					UPDATE magento_automated_product_dataset SET [ItemID] = I.ID
					--SELECT D.SKU, I.id
					FROM magento_automated_product_dataset D
					LEFT JOIN item I ON I.sku = d.Sku
					WHERE D.ItemID IS NULL 
					AND I.ID IS NOT NULL
					AND D.[SKU] = @SKU
					SET @ID = @ID + 1					
				END
			

			--[01/12/2021] - TL - Update itemattributesimages
			SELECT i.sku, itemid, (SELECT TOP (1) value	FROM STRING_SPLIT(tagvalue, ',') AS STRING_SPLIT_1) as imageurl into #itemattributesimages 
			from item i
			LEFT JOIN itemattributes ia on ia.itemid = i.id
			WHERE tagtype = 'a_BalfourPrimaryImages'
			AND (i.SKU = @SKU OR i.SKU = LEFT(@SKU,8))
		    -- select * from #itemattributesimages
			DELETE FROM dbo.itemattributesimages WHERE [SKU] = @SKU
			INSERT INTO dbo.itemattributesimages ([sku], [itemid], [imageurl], [baseimageURL])
			SELECT [sku], [itemid], [imageurl], REPLACE(REPLACE(REPLACE(REPLACE(imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') FROM #itemattributesimages

			DROP TABLE IF EXISTS #itemattributesimages
			SET @LastUpdate = CAST(dbo.fn_DateTime_to_Central(GETDATE()) AS VARCHAR(50))
			EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributesimages', @AttribName = 'LastUpdate', @Value = @LastUpdate
		  
			----[01/12/2021] - TL - Update itemattributes_announcements
		
			DELETE FROM [dbo].[itemattributes_announcements] WHERE [itemid] IN (SELECT ID FROM [dbo].[item] WHERE [SKU] = @SKU)
			INSERT INTO [dbo].[itemattributes_announcements]
			SELECT id, itemid, tagtype, tagvalue FROM itemattributes where 	tagvalue = '52' AND tagtype = 'a_PBProdFamID' AND [Itemid] IN (SELECT ID FROM [dbo].[item] WHERE [SKU] = @SKU )
			--	select top 10 * from [itemattributes_announcements];  SELECT top 100 * FROM itemattributes where 	tagvalue = '52' AND tagtype = 'a_PBProdFamID'
			SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()), 'MM/dd/yyyy hh:mm:ss tt')
			EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributes_announcements', @AttribName = 'LastUpdate', @Value = @LastUpdate
		

			--[01/12/2021] - TL - Update itemattributesclass
			DECLARE @ItemID VARCHAR(20), @class VARCHAR(800), @Val VARCHAR(800), @Max3 AS SMALLINT
			
			DELETE FROM #WorkingClass
			INSERT INTO #WorkingClass ([ItemID],[class])
			SELECT [ItemID], [TagValue] 
			FROM item i
			LEFT JOIN itemattributes ia on ia.itemid = i.id
			WHERE ia.[tagtype] = 'a_class' 
			AND (i.[SKU] = @SKU OR i.[SKU] = LEFT(@SKU,8))
			 
			IF EXISTS( SELECT * FROM #WorkingClass)
			BEGIN
				SELECT @ID = MIN([ID]), @Max3 = MAX([ID]) FROM #WorkingClass
			END
			IF @debug = 1 PRINT '@Max3 start: '
			IF @debug = 1 PRINT '@Max3: ' + CAST(@Max3 AS VARCHAR(50))
			WHILE @ID <= @Max3
				BEGIN
					--PRINT CAST(@ID AS VARCHAR(40)) + ', itemId: ' + @ItemID
					SELECT @ItemID = [ItemID], @Class = [Class] FROM #WorkingClass WHERE [ID] = @ID
					TRUNCATE TABLE #NV
					INSERT INTO #NV ([Value])
					SELECT * FROM STRING_SPLIT(REVERSE(@Class),':')
					DELETE FROM [ItemAttributesClass] WHERE [ItemID] = @ItemID
					INSERT INTO [ItemAttributesClass] ([ItemID],[Parent],[Class], [SKU])
					SELECT @ItemID, LTRIM(RTRIM(REVERSE([Value]))), /*REVERSE(*/@Class/*)*/, [SKU] FROM #NV NV INNER JOIN [dbo].[item] I ON I.ID = @ItemID  WHERE [Loop] = 1
					SET @Val = NULL
					SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 2
					UPDATE [ItemAttributesClass] SET [GrandParent] = @Val WHERE [ItemID] = @ItemID
					SET @Val = NULL
					SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 3
					UPDATE [ItemAttributesClass] SET [GreatGrandParent] = @Val WHERE [ItemID] = @ItemID
					SET @Val = NULL
					SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 4
					UPDATE [ItemAttributesClass] SET [GreatGreatGrandParent] = @Val WHERE [ItemID] = @ItemID
					SET @ID = @ID + 1
					IF @debug = 1 PRINT 'max2: ' + CAST(@Max2 AS VARCHAR(22)) + ', id: ' + CAST(@ID AS VARCHAR(20)) +  ', loop +: ' + CAST(@Loop AS VARCHAR(100))
				--	SELECT * FROM #NV
				END
			SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()), 'MM/dd/yyyy hh:mm:ss tt')
			EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributesclass', @AttribName = 'LastUpdate', @Value = @LastUpdate

			--IF @debug = 1 PRINT 'max: ' + CAST(@max AS VARCHAR(20)) +  ', loop +: ' + CAST(@Loop AS VARCHAR(100))
			--Remove the record from the queue
			--DON'T DO THIS UNTIL AFTER TESTING DELETE FROM [dbo].[magento_automated_product_dataset_update_queue] WHERE SKU = @SKU AND [Batch_ID] = @Batch_ID
			SET @Loop = @Loop + 1
		END

	DROP TABLE IF EXISTS #WorkingSMI
	DROP TABLE IF EXISTS #temp_MAPDS
	DROP TABLE IF EXISTS #NV

END
GO
