/****** Object:  StoredProcedure [dbo].[s_process_idomoo_return_file]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/13/2020
-- Description: Imports data from Idomoo
-- =============================================
CREATE PROCEDURE [dbo].[s_process_idomoo_return_file]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	--DELETE FROM [dbo].[VirtCommParticipabtsIdomoo_Import]

	UPDATE [dbo].[VirtCommParticipants]
	SET [Idomoo_landingpage] = I.[Idomoo_landingpage]
	, [Idomoo_Video_link] = I.[Idomoo_Video_link]
	, [Idomoo_Thumbnail] = I.[Idomoo_Thumbnail]
	FROM [dbo].[VirtCommParticipabtsIdomoo_Import] I INNER JOIN [dbo].[VirtCommParticipants] P ON P.EventID = I.EventID AND P.SMI = I.SMI AND ISNULL(P.SubAccount,'') = ISNULL(I.SubComm,'') AND P.NameID = I.NameID

	DELETE FROM [dbo].[VirtCommParticipabtsIdomoo_Import]
END
GO
