/****** Object:  StoredProcedure [dbo].[s_get_promo_tile]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel
-- Create Date: 12/03/2020
-- Description: Gets Promo Tile for magento - based on Balfour Optimize (Conditional Content)
-- =============================================
CREATE PROCEDURE [dbo].[s_get_promo_tile]
(
     @URL VARCHAR(MAX) = '',
	 @SMI INT = 0
	,@CallingSite VARCHAR(200) = ''
)
AS
-- EXEC dbo.s_get_promo_tile @URL='https://www.balfour.com/shop/gwk/gwp-ks'
-- EXEC dbo.s_get_promo_tile @URL='/shop/gwk/gwp-ks'
-- EXEC dbo.s_get_promo_tile @URL='_shop_gwk_gwp-ks'
-- EXEC dbo.s_get_promo_tile @URL='gwk/gwp-ks'

-- EXEC dbo.s_get_promo_tile @URL='test', @SMI='1234'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Result VARCHAR(MAX)
	SET @URL = REPLACE(@URL, '&path=', '')
    -- Insert statements for procedure here
    SELECT @Result = REPLACE(REPLACE(REPLACE([HTMLContent],'~timestamp~', FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt')),'~hinstance~',CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2)),'~hsproc~', CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2))
	FROM [dbo].[ConditionalContent] 
	-- WHERE [GUID] = '708ACF18-DAF3-4FE4-9B5C-1248DF4ABA11' -- checkout header static GUID
	WHERE -- Dynamic checking per URL
		(PositiveTestPage = @URL OR 'https://www.balfour.com' + PositiveTestPage = @URL OR 'https://www.balfour.com/shop/' + @URL = PositiveTestPage OR REPLACE(PositiveTestPage, 'https://www.balfour.com','') = @URL) 
	AND @URL <> ''
	AND Enabled = 1
	IF @URL = ''
	BEGIN
		SELECT COALESCE(@Result,'<!-- no content - No URL passed. -->')
	END
	Else
	BEGIN
			SELECT COALESCE(@Result,'<!-- no content -->')
	END
	---- SELECT '@URL WAS: ' + @URL + ' @RESULT IS: ' + COALESCE(@Result,'<!-- no content -->') 
	--SELECT COALESCE(@Result,'<!-- no content -->')
	---- SELECT @Result
END
GO
