/****** Object:  StoredProcedure [dbo].[Canto_GetMostRecentAccessToken]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 06/16/2020
-- Description: Gets the most recent OAUTH access token info for Canto
-- =============================================
CREATE PROCEDURE [dbo].[Canto_GetMostRecentAccessToken]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    
    SELECT TOP 1 * FROM CantoAccessTokens ORDER BY DateReceived DESC
END
GO
