/****** Object:  StoredProcedure [dbo].[s_adhoc_mage_pricing_update]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_adhoc_mage_pricing_update]
AS
SET NOCOUNT ON
UPDATE [dbo].[magento_automated_product_dataset] 
SET [Retail Price] = [Price], [Special Price (% for bundles)] = [Special_Price]
FROM [PricingUpdate] U
INNER JOIN [dbo].[magento_automated_product_dataset] P ON P.SKU = U.SKU

truncate table cross_sell_cache_new
truncate table  cross_sell_cache
truncate table  cross_sell_processed
truncate table  ymal_cache_new
truncate table  ymal_cache
truncate table  ymal_processed
GO
