/****** Object:  StoredProcedure [dbo].[s_add_all_affinity_tiles]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/02/2021
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[s_add_all_affinity_tiles]
(
    @SMI BIGINT = 0
)
AS
--EXEC dbo.s_add_all_affinity_tiles @SMI = 1326
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @ringTileImage_one_a VARCHAR(200), @ringTileImage_one_b VARCHAR(200), @ringTileImage_two_a VARCHAR(200), @ringTileImage_two_b VARCHAR(200), @GradeLevel VARCHAR(50)
	SET @GradeLevel = ''
	SELECT @GradeLevel = [dbo].[fn_Affinity_GradeLevel] (@SMI)
	/*
	IF [dbo].[fn_Affinity_KS](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
		BEGIN
			INSERT INTO @RingsTileList ([ringsTileImage], [ringsTileImageMobile], [ringsTileText], [ringsTileTitle], [ringsTileMarketingCallout], [ringsTileButtonText], [ringsTileCTALink], [ringsTileCTALinkNewTab], [logoImage], [ringImageOne], [ringImageTwo], [ringImageSingle], [ringsTileButtonTitle], [useTwoRingTile],  [Sort_Order])
			SELECT '' as [ringsTileImage], '' [ringsTileImageMobile], 'A bold new shape on tradition. Exclusive to Balfour' as [ringsTileText], 'The Kendra Scott Collection' as [ringsTileTitle], 'Free Gift' as [ringsTileMarketingCallout], 'SHOP ALL' as [ringsTileButtonText], CASE WHEN @GradeLevel = 'College' THEN '/shop/jewelry/rings/college-class-rings?pim_a_collection=15090&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN 'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15090&smi=' ELSE '/kendra-scott?smi=' END + CAST(@SMI as VARCHAR(25)) as [ringsTileCTALink], 'false' as [ringsTileCTALinkNewTab], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/logos/Kendra_scott.svg' as [logoImage], @ringTileImage_one_a as [ringImageOne], @ringTileImage_one_b as [ringImageTwo], '' as [ringImageSingle], '' as [ringsTileButtonTitle], 'true' as [useTwoRingTile], 1
		END
					
	--University Collection
	IF [dbo].[fn_Affinity_UnivColl](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
		BEGIN
			INSERT INTO @RingsTileList ([ringsTileImage], [ringsTileImageMobile], [ringsTileText], [ringsTileTitle], [ringsTileMarketingCallout], [ringsTileButtonText], [ringsTileCTALink], [ringsTileCTALinkNewTab], [logoImage], [ringImageOne], [ringImageTwo], [ringImageSingle], [ringsTileButtonTitle], [useTwoRingTile],  [Sort_Order])
			SELECT '' as [ringsTileImage], '' [ringsTileImageMobile], 'Timeless sophistication meets tradition.' as [ringsTileText], 'University Collection By Balfour &trade;' as [ringsTileTitle], 'Free Gift' as [ringsTileMarketingCallout], 'SHOP ALL' as [ringsTileButtonText], CASE WHEN @GradeLevel = ('College') THEN '/shop/jewelry/rings/official-college-class-rings?pim_a_collection=15089&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN 'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' ELSE /*'/shop/jewelry/rings/high-school-class-rings?smi='*/'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' END + CAST(@SMI as VARCHAR(25))  as [ringsTileCTALink], 'false' as [ringsTileCTALinkNewTab], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/logos/University_collection.svg' as [logoImage], @ringTileImage_two_a as [ringImageOne], @ringTileImage_two_b as [ringImageTwo], '' as [ringImageSingle], '' as [ringsTileButtonTitle], 'true' as [useTwoRingTile], 2
		END
	IF [dbo].[fn_Affinity_LizJames](@SMI) = 1 --OR @SMI = 130996/*DEBUGGING*/
		BEGIN
			INSERT INTO @RingsTileList ([ringsTileImage], [ringsTileImageMobile], [ringsTileText], [ringsTileTitle], [ringsTileMarketingCallout], [ringsTileButtonText], [ringsTileCTALink], [ringsTileCTALinkNewTab], [logoImage], [ringImageOne], [ringImageTwo], [ringImageSingle], [ringsTileButtonTitle], [useTwoRingTile],  [Sort_Order])
			SELECT '' as [ringsTileImage], '' [ringsTileImageMobile], 'Take your memories with you every day, everywhere you go.' as [ringsTileText], 'Liz James Collection' as [ringsTileTitle], 'Free Gift' as [ringsTileMarketingCallout], 'SHOP ALL'  as [ringsTileButtonText], CASE WHEN @GradeLevel in ('High School') THEN '/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15088&pim_a_ctscategory=11381&smi=' ELSE '/shop/brand/liz-james?smi=' END + CAST(@SMI as VARCHAR(25)) as [ringsTileCTALink], 'false' as [ringsTileCTALinkNewTab], '' as [logoImage], '' as [ringImageOne], '' as [ringImageTwo], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/redesign-mockup/HS_MC_LizJames.png' as [ringImageSingle], '' as [ringsTileButtonTitle], 'false' as [useTwoRingTile], 3
		END

	*/
	SET @ringTileImage_one_a = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224335&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224324&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END
	SET @ringTileImage_one_b = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224339&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224328&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END	
	SET @ringTileImage_two_a = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224583&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224588&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END
	SET @ringTileImage_two_b = CASE WHEN @GradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224793&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' WHEN @GradeLevel = 'High School' OR @GradeLevel = 'Middle School' OR @GradeLevel = 'Elementary' OR @GradeLevel = '' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0224585&smi=' + CAST(@SMI as VARCHAR(25)) + '&requestedImageType=PNG' END	


	--Only insert records which do not exist
	INSERT INTO [dbo].[ContentAffinityTiles] ([SMI],[TileGroup],[DataDrivenMode],[Headline],[SubHeadline],[Image],[Image2],[LogoImage],[MarketingCallout],[CTAButtonText],[CTAButtonLink],[CTAButtonNewTab],[SortOrder])
	SELECT @SMI as [SMI], 1 as [TileGroup], 2 as [DataDrivenMode], 'The Kendra Scott Collection' as [Headline]  --KS
	,'A bold new shape on tradition. Exclusive to Balfour' as [SubHeadline], @ringTileImage_one_a as [Image],  @ringTileImage_one_b as [Image2]
	,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/logos/Kendra_scott.svg' as [LogoImage], 'Free Gift' as [MarketingCallout]
	,'SHOP ALL' as [CTAButtonText], CASE WHEN @GradeLevel = 'College' THEN '/shop/jewelry/rings/college-class-rings?pim_a_collection=15090&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN 'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15090&smi=' ELSE '/kendra-scott?smi=' END + CAST(@SMI as VARCHAR(25)) as [CTAButtonLink], 0 as [CTAButtonNewTab]
	,1 as [SortOrder]
	WHERE 2 NOT IN (SELECT ISNULL([DataDrivenMode],3) FROM [dbo].[ContentAffinityTiles] WHERE [SMI] = @SMI)
	UNION
	SELECT @SMI as [SMI], 1 as [TileGroup], 4 as [DataDrivenMode], 'University Collection By Balfour &trade;' as [Headline] --UC
	,'Timeless sophistication meets tradition.' as [SubHeadline], @ringTileImage_two_a as [Image], @ringTileImage_two_b as [Image2]
	,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/logos/University_collection.svg' as [LogoImage], 'Free Gift' as [MarketingCallout]
	,'SHOP ALL' as [CTAButtonText], CASE WHEN @GradeLevel = ('College') THEN '/shop/jewelry/rings/official-college-class-rings?pim_a_collection=15089&pim_a_ctscategory=11381&smi=' WHEN @GradeLevel = 'High School' THEN 'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' ELSE /*'/shop/jewelry/rings/high-school-class-rings?smi='*/'https://www.balfour.com/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15089&smi=' END + CAST(@SMI as VARCHAR(25)) as [CTAButtonLink], 0 as [CTAButtonNewTab]
	,2 as [SortOrder]
	WHERE 4 NOT IN (SELECT ISNULL([DataDrivenMode],3) FROM [dbo].[ContentAffinityTiles] WHERE [SMI] = @SMI)
	UNION
	SELECT @SMI as [SMI], 1 as [TileGroup], 1 as [DataDrivenMode], 'Liz James Collection' as [Headline] --LJ
	,'Take your memories with you every day, everywhere you go.' as [SubHeadline], 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/redesign-mockup/HS_MC_LizJames.png' as [Image], '' as [Image2]
	,'' as [LogoImage], 'Free Gift' as [MarketingCallout]
	,'SHOP ALL' as [CTAButtonText], CASE WHEN @GradeLevel in ('High School') THEN '/shop/jewelry/rings/high-school-class-rings?pim_a_collection=15088&pim_a_ctscategory=11381&smi=' ELSE '/shop/brand/liz-james?smi=' END + CAST(@SMI as VARCHAR(25)) as [CTAButtonLink], 0 as [CTAButtonNewTab]
	,3 as [SortOrder]
	WHERE 1 NOT IN (SELECT ISNULL([DataDrivenMode],3) FROM [dbo].[ContentAffinityTiles] WHERE [SMI] = @SMI)
	
    
END
GO
