/****** Object:  StoredProcedure [dbo].[s_delete_gradpacksmisettings_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/11/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_delete_gradpacksmisettings_record]
(
	 @GradPackSMISettingID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [GradPackSMISettings].
--##PD @GradPackSMISettingID in [GradPackSMISettings].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [GradPackSMISettings] WHERE [GradPackSMISettingID] = @GradPackSMISettingID



GO
