/****** Object:  StoredProcedure [dbo].[s_report_sku_error_sent_to_downstream_from_boomi_by_category_new]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 03/22/2021
-- Description: Sends an internal sku that has error when sending downstream from boomi report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_sku_error_sent_to_downstream_from_boomi_by_category_new] 
(@ErrorCategoryID BIGINT = 1, @Debug BIT = 0) -- 1: database, 2: network, 3: user_input  
AS 
/**
	 EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=1, @Debug = 1
	 EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=2, @Debug = 1
	 EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=3, @Debug = 1

	 EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category_new] @ErrorCategoryID=4, @Debug = 1
	-- SELECT * FROM [EmailJobs_Queue] WITH (NOLOCK) WHERE [description] IN ('Sku Error Sent To Magento from Boomi', 'Sku Error Sent To NetSuite from Boomi')
**/	
	SET NOCOUNT ON
	DECLARE @MaxID BIGINT
	DECLARE @LastIDUpdate BIGINT = 0
	DECLARE @CurrentUpdateField VARCHAR(50) = ''
	DECLARE @File VARCHAR(MAX) = ''
	DECLARE @emailTo VARCHAR(500), @errorCategory VARCHAR(20)
	
	SELECT @emailTo = NotifyEmail, @errorCategory = ec.ErrorCategory 
	FROM product_transaction_error_contact c inner join product_transaction_error_cat ec ON ec.id = c.ErrorCategoryID
	WHERE ErrorCategoryID = @ErrorCategoryID 
	
	IF @Debug = 1 BEGIN PRINT 'Magento - @errorCategory: ' + ISNULL(@errorCategory,'') END

	SELECT @CurrentUpdateField = 'LastMagentoUpdateID_' + ISNULL(@errorCategory,'') + 'Error' 

	----------------Error in Magento------------------------------------------------------------------------------------------------------------------------------
	/*
	You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
	you can get the rows in the correct order.
	select * from [EmailJobs_Queue] where description like '%sku exception%'
	*/
	CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
	/*
	You will need the header row.  Separate the columns with the tab (CHAR(44)) character.
	*/
	
	INSERT INTO #ReportTemp ([row])
	SELECT 'SKU' + CHAR(44) + 'Source' + CHAR(44) + 'Target' + CHAR(44) + 'Channel' + CHAR(44) + 'Error' + CHAR(44) + 'Last Attempt Timestamp' + CHAR(44)  
	 
	/*
	Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(44)) between then.  Be careful not to allow
	any NULL values as that will cause the entire string (row) to be NULL.
	*/
	
	SELECT @LastIDUpdate = CAST(ISNULL(Value,'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = @CurrentUpdateField  AND [major_id] = OBJECT_ID('PIM_Status')
	 
	------------SELECT *,  CAST(ISNULL(Value,'0') AS BIGINT) fROM sys.extended_properties WHERE [name] LIKE 'Last%UpdateID'  AND [major_id] = OBJECT_ID('PIM_Status')
	INSERT INTO #ReportTemp ([row])
	SELECT DISTINCT CAST(ISNULL([SKU],'') AS VARCHAR(20))  + CHAR(44) + 'PIM' + CHAR(44) + 'Magento' + CHAR(44) + [Channel] + CHAR(44) +
					CAST(REPLACE(ISNULL([ErrorInTarget], ''),',', ' - ') AS VARCHAR(200)) + CHAR(44) + 
					CONVERT(VARCHAR(16), MAX([LastAttemptTimestamp]), 121)  + CHAR(44) 					
	FROM [PIM_Status] p INNER JOIN [product_transaction_error_defs] e ON p.ErrorInTarget LIKE '%' + e.ErrorMsg + '%' AND e.ErrorCategoryID = @ErrorCategoryID
	WHERE ErrorInTarget <> 'No' AND [Target] = 'Magento' AND p.ID > @LastIDUpdate
	GROUP BY [SKU],[ErrorInTarget], [Channel]
	--ORDER BY MAX(LastAttemptTimeStamp) DESC
	-- select VALUE, * FROM sys.extended_properties WHERE [name] = 'LastMagentoUpdateID' 
	IF @Debug = 1 BEGIN PRINT 'Magento - @CurrentUpdateField: ' + @CurrentUpdateField END		                            
	IF @Debug = 1 BEGIN PRINT 'NS - @errorCategory: ' + ISNULL(@errorCategory,'') END
	SELECT @MaxID = MAX(ISNULL(ID,0)) FROM (SELECT MAX(p.ID) AS ID FROM [PIM_Status] p 
			INNER JOIN product_transaction_error_defs e ON p.ErrorInTarget LIKE '%' + e.ErrorMsg + '%'
			WHERE ErrorInTarget <> 'No' AND e.ErrorCategoryID = @ErrorCategoryID AND [Target] = 'Magento' GROUP BY [SKU],[ErrorInTarget]) a
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'PIM_Status', @AttribName = @CurrentUpdateField, @Value = @MaxID
	
	/*
	Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
	*/
	
	SET @File = ''
	/*
	Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
	a LF (CHAR(10)).  Make sure to order by your identity column.
	*/
	SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
	FROM #ReportTemp
	ORDER BY [rownum]

	DROP TABLE IF EXISTS #ReportTemp
	/*For debugging purposes.*/
	--SELECT @File

	/*
	Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
	*/
	
	IF LEN(@File) > 120   -- 120 is the length of column headers - "'SKU' + CHAR(44) + 'Source' + CHAR(44) + 'Target' + CHAR(44) +  'Error' + CHAR(44) + 'Last Attempt Timestamp' + CHAR(44)"
	BEGIN
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'SKU Exceptions' /*Description of the queue entry.*/
		, @emailTo /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
		,'{"cc":"han.tran@balfour.com","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"SKU Exceptions (' + @errorCategory + ') in Production","body":"The Sku Exceptions Report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'SkuIssuesInProd.csv' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
	END
/**
	------------------ Error in NetSuite---------------------------------------------------------------------------------------------------------------------------------------------------------------------
**/
	SELECT @emailTo = NotifyEmail, @errorCategory = ec.ErrorCategory 
	FROM product_transaction_error_contact c inner join product_transaction_error_cat ec ON ec.id = c.ErrorCategoryID
	WHERE ErrorCategoryID = @ErrorCategoryID 
	
	SELECT @CurrentUpdateField = 'LastNetsuiteUpdateID_' + ISNULL(@errorCategory,'') + 'Error' 
	--SET @CurrentNSUpdateField = 'LastMagentoUpdateID_' + @errorCategory + 'Error' 
	IF @Debug = 1 BEGIN PRINT '@CurrentUpdateField: ' + @CurrentUpdateField END	
	CREATE TABLE #NSReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))

	SET @LastIDUpdate = 0
	SELECT @LastIDUpdate = CAST(ISNULL(Value,'0') AS BIGINT) fROM sys.extended_properties WHERE [name] = @CurrentUpdateField  AND [major_id] = OBJECT_ID('PIM_Status')
	--SELECT @LastIDUpdate

	INSERT INTO #NSReportTemp ([row])
	SELECT 'SKU' + CHAR(44) + 'Source' + CHAR(44) + 'Target' + CHAR(44) + 'Error' + CHAR(44) + 'Last Attempt Timestamp' + CHAR(44)  

	INSERT INTO #NSReportTemp ([row])
	SELECT DISTINCT CAST(ISNULL([SKU],'') AS VARCHAR(20))  + CHAR(44) + 'PIM' + CHAR(44) + 'NetSuite' + CHAR(44) + [Channel] + CHAR(44) +
					CAST(REPLACE(ISNULL([ErrorInTarget], ''),',', ' - ') AS VARCHAR(200)) + CHAR(44) + 
					CONVERT(VARCHAR(16), MAX([LastAttemptTimestamp]), 121)  + CHAR(44) 					
	FROM [PIM_Status] p INNER JOIN [product_transaction_error_defs] e ON p.ErrorInTarget LIKE '%' + e.ErrorMsg + '%' AND e.ErrorCategoryID = @ErrorCategoryID
	WHERE ErrorInTarget <> 'No' AND [Target] = 'NetSuite' AND p.ID > @LastIDUpdate
	GROUP BY [SKU],[ErrorInTarget], [Channel]

		--SELECT DISTINCT CAST(ISNULL([SKU],'') AS VARCHAR(20))  + CHAR(44) + 'PIM' + CHAR(44) + 'Netsuite' + CHAR(44) +
	--				CAST(REPLACE(ISNULL([ErrorInTarget], ''),',', ' - ') AS VARCHAR(200)) + CHAR(44) + 
	--				CONVERT(VARCHAR(16), MAX([LastAttemptTimestamp]), 121)  + CHAR(44)  --CAST(MAX([LastAttemptTimestamp]) AS DATETIME) + CHAR(44) 
	--FROM [PIM_Status]
	--WHERE ErrorInTarget <> 'No' AND [Target] = 'NetSuite' AND ID > @LastIDUpdate
	--GROUP BY [SKU],[ErrorInTarget]

	--ORDER BY MAX(LastAttemptTimeStamp) DESC
	-- select VALUE, * FROM sys.extended_properties WHERE [name] like 'Last%UpdateID' 
	--select * from pim_status order by id desc; SELECT * FROM (SELECT   MAX(ID) as id FROM [PIM_Status] WHERE ErrorInTarget <> 'No' AND [Target] = 'Netsuite' GROUP BY [SKU],[ErrorInTarget] ) a order by a.id desc  --244552 167966
	--- declare  @MaxID Bigint = 0
	--SELECT @MaxID = MAX(ID) FROM (SELECT MAX(ID) AS ID FROM [PIM_Status] WHERE ErrorInTarget <> 'No' AND [Target] = 'Netsuite' GROUP BY [SKU],[ErrorInTarget]) a	
	--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'PIM_Status', @AttribName = @CurrentUpdateField, @Value = @MaxID
	
 	SELECT @MaxID = MAX(ISNULL(ID,0)) FROM (SELECT MAX(p.ID) AS ID FROM [PIM_Status] p 
			INNER JOIN product_transaction_error_defs e ON p.ErrorInTarget LIKE '%' + e.ErrorMsg + '%'
			WHERE ErrorInTarget <> 'No' AND e.ErrorCategoryID = @ErrorCategoryID AND [Target] = 'Netsuite' GROUP BY [SKU],[ErrorInTarget]) a
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'PIM_Status', @AttribName = @CurrentUpdateField, @Value = @MaxID
	
	SET @File = ''
	/*
	Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
	a LF (CHAR(10)).  Make sure to order by your identity column.
	*/
	 
	SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
	FROM #NSReportTemp
	ORDER BY [rownum]

	/*For debugging purposes.*/
	--SELECT @File
	/*
	Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
	*/
	IF LEN(@File) > 120   -- 120 is the length of column headers - "'SKU' + CHAR(44) + 'Source' + CHAR(44) + 'Target' + CHAR(44) +  'Error' + CHAR(44) + 'Last Attempt Timestamp' + CHAR(44)"
	BEGIN
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'SKU Exceptions' /*Description of the queue entry.*/
		, @emailTo /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
		,'{"cc":"","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"SKU Exceptions (' + @errorCategory + ') in Production database","body":"The Sku Exceptions Report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'SkuIssuesInProd.csv' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
	END

	DROP TABLE IF EXISTS #NSReportTemp
	
	
		------------------ Uncategorized Errors---------------------------------------------------------------------------------------------------------------------------------------------------------------------
		
	SELECT @emailTo = NotifyEmail, @errorCategory = ec.ErrorCategory 
	FROM product_transaction_error_contact c inner join product_transaction_error_cat ec ON ec.id = c.ErrorCategoryID
	WHERE ErrorCategoryID = @ErrorCategoryID 
	
	SELECT @CurrentUpdateField = 'LastUncategorizedErrorUpdateID_' + ISNULL(@errorCategory,'') + 'Error' 
	--SET @CurrentNSUpdateField = 'LastMagentoUpdateID_' + @errorCategory + 'Error' 
	IF @Debug = 1 BEGIN PRINT '@CurrentUpdateField: ' + @CurrentUpdateField END	
	CREATE TABLE #UncategorizedErrorReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))

	SET @LastIDUpdate = 0
	SELECT @LastIDUpdate = CAST(ISNULL(Value,'0') AS BIGINT) fROM sys.extended_properties WHERE [name] = @CurrentUpdateField  AND [major_id] = OBJECT_ID('PIM_Status')
	--SELECT @LastIDUpdate

	INSERT INTO #UncategorizedErrorReportTemp ([row])
	SELECT 'SKU' + CHAR(44) + 'Source' + CHAR(44) + 'Target' + CHAR(44) + 'Channel' + CHAR(44) + 'Error' + CHAR(44) + 'Last Attempt Timestamp' + CHAR(44)  

	INSERT INTO #UncategorizedErrorReportTemp ([row])
	SELECT DISTINCT CAST(ISNULL([SKU],'') AS VARCHAR(20))  + CHAR(44) + 'PIM' + CHAR(44) + [Target] + CHAR(44) + [Channel] + CHAR(44) +
					CAST(REPLACE(ISNULL([ErrorInTarget], ''),',', ' - ') AS VARCHAR(200)) + CHAR(44) + 
					CONVERT(VARCHAR(16), MAX([LastAttemptTimestamp]), 121)  + CHAR(44) 					
	FROM [PIM_Status] p LEFT JOIN [product_transaction_error_defs] e ON p.ErrorInTarget LIKE '%' + e.ErrorMsg + '%' 
	WHERE ISNULL(ErrorInTarget, 'No') <> 'No' 
	AND ISNULL(e.ErrorMsg, '') = '' 
	AND p.ID > @LastIDUpdate
	GROUP BY [SKU],[ErrorInTarget], [Target],[Channel]

		--SELECT DISTINCT CAST(ISNULL([SKU],'') AS VARCHAR(20))  + CHAR(44) + 'PIM' + CHAR(44) + 'Netsuite' + CHAR(44) +
	--				CAST(REPLACE(ISNULL([ErrorInTarget], ''),',', ' - ') AS VARCHAR(200)) + CHAR(44) + 
	--				CONVERT(VARCHAR(16), MAX([LastAttemptTimestamp]), 121)  + CHAR(44)  --CAST(MAX([LastAttemptTimestamp]) AS DATETIME) + CHAR(44) 
	--FROM [PIM_Status]
	--WHERE ErrorInTarget <> 'No' AND [Target] = 'NetSuite' AND ID > @LastIDUpdate
	--GROUP BY [SKU],[ErrorInTarget]

	--ORDER BY MAX(LastAttemptTimeStamp) DESC
	-- select VALUE, * FROM sys.extended_properties WHERE [name] like 'Last%UpdateID' 
	--select * from pim_status order by id desc; SELECT * FROM (SELECT   MAX(ID) as id FROM [PIM_Status] WHERE ErrorInTarget <> 'No' AND [Target] = 'Netsuite' GROUP BY [SKU],[ErrorInTarget] ) a order by a.id desc  --244552 167966
	--- declare  @MaxID Bigint = 0
	--SELECT @MaxID = MAX(ID) FROM (SELECT MAX(ID) AS ID FROM [PIM_Status] WHERE ErrorInTarget <> 'No' AND [Target] = 'Netsuite' GROUP BY [SKU],[ErrorInTarget]) a	
	--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'PIM_Status', @AttribName = @CurrentUpdateField, @Value = @MaxID
	
 	SELECT @MaxID = MAX(ISNULL(ID,0)) FROM (SELECT MAX(p.ID) AS ID FROM [PIM_Status] p 
			INNER JOIN product_transaction_error_defs e ON p.ErrorInTarget LIKE '%' + e.ErrorMsg + '%'
			WHERE ErrorInTarget <> 'No' AND e.ErrorCategoryID = @ErrorCategoryID GROUP BY [SKU],[ErrorInTarget]) a
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'PIM_Status', @AttribName = @CurrentUpdateField, @Value = @MaxID
	
	SET @File = ''
	/*
	Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
	a LF (CHAR(10)).  Make sure to order by your identity column.
	*/
	 
	SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
	FROM #UncategorizedErrorReportTemp
	ORDER BY [rownum]

	/*For debugging purposes.*/
	--SELECT @File
	/*
	Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
	*/
	IF LEN(@File) > 120   -- 120 is the length of column headers - "'SKU' + CHAR(44) + 'Source' + CHAR(44) + 'Target' + CHAR(44) +  'Error' + CHAR(44) + 'Last Attempt Timestamp' + CHAR(44)"
	BEGIN
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'SKU Exceptions' /*Description of the queue entry.*/
		, @emailTo /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
		,'{"cc":"","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"SKU Exceptions (' + @errorCategory + ') in Production database","body":"The Sku Exceptions Report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'SkuIssuesInProd.csv' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
	END

	DROP TABLE IF EXISTS #UncategorizedErrorReportTemp


	/*For debugging purposes.*/
	SELECT SCOPE_IDENTITY()
GO
