/****** Object:  StoredProcedure [dbo].[s_normalize_magento_automated_product_dataset_optimized]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 07/09/2019
-- Description: Imports the latest product data from Magento
-- =============================================
CREATE PROCEDURE [dbo].[s_normalize_magento_automated_product_dataset_optimized]
(
	 @DaysBack INT = -2
	,@Pipeline_Run_GUID VARCHAR(50) = ''
	,@DoRename BIT = 1
	,@UpdateProducts BIT = 0
)
AS

--EXEC [dbo].[s_normalize_magento_automated_product_dataset_optimized] @DaysBack = -5--47 minutes
--EXEC [dbo].[s_normalize_magento_automated_product_dataset_optimized] @DaysBack = -2
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	--The logic which was here is in s_normalize_magento_automated_product_dataset_optimized_ASOF20200904
	--DECLARE @Pipeline_Run_GUID VARCHAR(50), @DoRename BIT
	--SET @DoRename = 0
	--SET @Pipeline_Run_GUID = ''
	IF @UpdateProducts = 1
		BEGIN
			DECLARE @OldCount BIGINT, @NewCount BIGINT
			DROP TABLE IF EXISTS dbo.magento_automated_product_dataset_temp
			CREATE TABLE [dbo].[magento_automated_product_dataset_temp](
				[Product ID] [float] NULL,
				[SKU] [nvarchar](255) NULL,
				[Product Name] [nvarchar](255) NULL,
				[Product Type] [nvarchar](255) NULL,
				[Attribute Set] [nvarchar](255) NULL,
				[Category] [nvarchar](255) NULL,
				[Item Category] [nvarchar](255) NULL,
				[Enhanced Commerce] [nvarchar](255) NULL,
				[Retail Price] [float] NULL,
				[Special Price (% for bundles)] [float] NULL,
				[Special Price - Start Date] [datetime] NULL,
				[Special Price - To Date] [datetime] NULL,
				[Tax Class] [nvarchar](255) NULL,
				[Quantity in Stock] [float] NULL,
				[Stock maintenance] [nvarchar](255) NULL,
				[Included SMI] [varchar](max) NULL,
				[Excluded SMI] [nvarchar](255) NULL,
				[Exclusive SMI] [nvarchar](255) NULL,
				[Vendor Id] [nvarchar](255) NULL,
				[UC ID] [nvarchar](255) NULL,
				[Delivery Method] [nvarchar](255) NULL,
				[product_collection] [nvarchar](4000) NULL,
				[Visibility] [nvarchar](255) NULL,
				[Status] [nvarchar](255) NULL,
				[Created On] [datetime] NULL,
				[Updated On] [datetime] NULL,
				[SMI] [int] NULL,
				[ParentSKU] [varchar](8) NULL,
				[ItemID] [varchar](20) NULL,
				[is_licensed] [bit] NULL,
				[vCategory] [varchar](255) NULL,
				[vEnhanced_Commerce] [varchar](255) NULL,
				[URL] [varchar](300) NULL,
				[config_type] [nvarchar](300) NULL,
				[Category ID] [varchar](200) NULL,
				[Boomi_CreatedOn] DATETIME NULL,
				[Boomi_UpdatedOn] DATETIME NULL
			) ON [PRIMARY]
			/****** Object:  Index [ndx_attributeset]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_attributeset] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Attribute Set] ASC,
				[Exclusive SMI] ASC
			)
			INCLUDE([Product ID],[SKU],[Product Name],[Product Type],[Category],[Item Category],[Enhanced Commerce],[Retail Price],[Special Price (% for bundles)],[Special Price - Start Date],[Special Price - To Date],[Tax Class],[Quantity in Stock],[Stock maintenance],[Included SMI],[Excluded SMI],[Vendor Id],[UC ID],[Delivery Method],[product_collection],[Visibility],[Status],[Created On],[Updated On],[SMI],[ParentSKU],[ItemID],[is_licensed],[vCategory],[vEnhanced_Commerce],[URL],[config_type]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Category_Exclusive_SMI]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Category_Exclusive_SMI] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Category] ASC,
				[Exclusive SMI] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Enhanced_Ecom_SKU_Item]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Enhanced_Ecom_SKU_Item] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Enhanced Commerce] ASC
			)
			INCLUDE([SKU],[ItemID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Enhanced_Ecomm_SKU]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Enhanced_Ecomm_SKU] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Enhanced Commerce] ASC
			)
			INCLUDE([SKU]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Excl_SMI_Status_Enhanced_Ecom]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Excl_SMI_Status_Enhanced_Ecom] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Exclusive SMI] ASC,
				[Status] ASC,
				[Enhanced Commerce] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_name_price_smi_parentsku_itemid]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_name_price_smi_parentsku_itemid] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[SKU] ASC,
				[Retail Price] ASC,
				[Quantity in Stock] ASC
			)
			INCLUDE([Product Name],[Special Price (% for bundles)],[Included SMI],[ParentSKU],[ItemID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_parentsku]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_parentsku] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[ParentSKU] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Price]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Price] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Special Price (% for bundles)] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Product_ID]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Product_ID] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Product ID] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_product_name_special_price_included_smi]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_product_name_special_price_included_smi] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[SKU] ASC,
				[Retail Price] ASC,
				[Quantity in Stock] ASC
			)
			INCLUDE([Product Name],[Special Price (% for bundles)],[Included SMI]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_product_name_special_price_included_smi_parentsku]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_product_name_special_price_included_smi_parentsku] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[SKU] ASC,
				[Retail Price] ASC,
				[Quantity in Stock] ASC
			)
			INCLUDE([Product Name],[Special Price (% for bundles)],[Included SMI],[ParentSKU]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Retail_Price]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Retail_Price] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Retail Price] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_sku]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_sku] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[SKU] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_SKU_Exclusive_SMI]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_SKU_Exclusive_SMI] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Attribute Set] ASC,
				[Enhanced Commerce] ASC
			)
			INCLUDE([SKU],[Exclusive SMI]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_SKU_Included_SMI]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_SKU_Included_SMI] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[SKU] ASC
			)
			INCLUDE([Included SMI]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_SKU_Name_Cat_spec]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_SKU_Name_Cat_spec] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[Item Category] ASC,
				[Retail Price] ASC
			)
			INCLUDE([SKU],[Product Name],[Category],[Special Price (% for bundles)],[Included SMI]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_SKU_PN_Cat]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_SKU_PN_Cat] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC
			)
			INCLUDE([SKU],[Product Name],[Category],[Retail Price],[Quantity in Stock],[Stock maintenance],[Included SMI]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_SKU_Price]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_SKU_Price] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[SKU] ASC
			)
			INCLUDE([Retail Price],[Special Price (% for bundles)]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_SKUItemID]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_SKUItemID] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[ItemID] ASC
			)
			INCLUDE([SKU]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_SKUNamePrice]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_SKUNamePrice] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[ItemID] ASC
			)
			INCLUDE([SKU],[Product Name],[Retail Price],[Special Price (% for bundles)],[Included SMI],[URL]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_visibility_status]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_visibility_status] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC
			)
			INCLUDE([SKU],[Product Name],[Attribute Set],[Enhanced Commerce],[Exclusive SMI],[ItemID]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Visibility_Status_Category_Retail Price]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Visibility_Status_Category_Retail Price] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[Category] ASC,
				[Retail Price] ASC
			)
			INCLUDE([SKU]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_visibility_status_itemcat_retail]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_visibility_status_itemcat_retail] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[Item Category] ASC,
				[Retail Price] ASC
			)
			INCLUDE([SKU],[Product Name],[Category],[Special Price (% for bundles)]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Visibility_Status_Retail_Price]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Visibility_Status_Retail_Price] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[Retail Price] ASC
			)
			INCLUDE([SKU]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [ndx_Visibility_Status_SKU_Retail Price]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE NONCLUSTERED INDEX [ndx_Visibility_Status_SKU_Retail Price] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Visibility] ASC,
				[Status] ASC,
				[SKU] ASC,
				[Retail Price] ASC
			)
			INCLUDE([Product Name],[Special Price (% for bundles)],[Included SMI]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
			/****** Object:  Index [NoDupeIdx]    Script Date: 9/3/2020 2:39:43 PM ******/
			CREATE UNIQUE NONCLUSTERED INDEX [NoDupeIdx] ON [dbo].[magento_automated_product_dataset_temp]
			(
				[Product ID] ASC,
				[SKU] ASC
			)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]

			EXEC sys.sp_addextendedproperty @name=N'LastUpdate', @value=N'2020-09-03T17:01:55.5506064Z' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'magento_automated_product_dataset_temp'

			--Grant permissions
			GRANT SELECT ON OBJECT::magento_automated_product_dataset_new TO [serviceuser_netsuite]
			GRANT UPDATE ON OBJECT::magento_automated_product_dataset_new TO [serviceuser_netsuite]
			GRANT DELETE ON OBJECT::magento_automated_product_dataset_new TO [serviceuser_netsuite]
			GRANT INSERT ON OBJECT::magento_automated_product_dataset_new TO [serviceuser_netsuite]

			UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Included SMI] = '' WHERE [Included SMI] = '\N'
			--UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Special Price - To Date] = NULL WHERE [Special Price - To Date] = '\N'
			UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Excluded SMI] = '' WHERE [Excluded SMI] = '\N'
			UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Vendor ID] = NULL WHERE [Vendor ID] = '\N'
			UPDATE  [dbo].[magento_automated_product_dataset_import] SET [UC ID] = NULL WHERE [UC ID] = '\N'
			UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Product_collection] = NULL WHERE [product_collection] = '\N'
			UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Category] = NULL WHERE [category] = '\N'
			UPDATE  [dbo].[magento_automated_product_dataset_import] SET [ParentSKU] = LEFT(ISNULL(SKU,''),8)

			DECLARE @Max INT, @ID INT, @Product_ID FLOAT, @SKU NVARCHAR(255), @Included_SMI VARCHAR(MAX), @Excluded_SMI VARCHAR(MAX), @Current INT, @Orig VARCHAR(255), @Val VARCHAR(255), @OrigCnt INT, @Class VARCHAR(800), @ItemID VARCHAR(20), @Loop INT, @Max1 INT

			IF @Pipeline_Run_GUID <> ''
				BEGIN
					INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - adding new records to magento_automated_product_dataset_temp') 
				END
			INSERT INTO [dbo].[magento_automated_product_dataset_temp] ([Product ID], [SKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On], [ParentSKU], /*[is_licensed], [vCategory], [vEnhanced_Commerce],*/ [URL], [config_type], [Category ID])
			SELECT [Product ID], [SKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On], [ParentSKU], /*[is_licensed], [vCategory], [vEnhanced_Commerce],*/ [URL], [config_type], [Category ID] FROM [dbo].[magento_automated_product_dataset_import]  

			--UPDATE [dbo].[magento_automated_product_dataset_temp]
			--			--SELECT p.parentSKU, I.itemID
			--			SET [ItemID] = i.ItemID
			--			FROM [dbo].[magento_automated_product_dataset_temp] p
			--			LEFT JOIN [dbo].[itemattributesimages] i ON i.SKU = P.ParentSKU

			--Modified 10/14/2020 TL USe the Item table to find the ItemID
			UPDATE magento_automated_product_dataset_temp SET [ItemID] = I.ID
			--SELECT D.SKU, I.id
			FROM magento_automated_product_dataset D
			LEFT JOIN item I ON I.sku = d.Sku
			WHERE D.ItemID IS NULL AND I.ID IS NOT NULL

			UPDATE [dbo].[magento_automated_product_dataset_temp] SET is_Licensed = CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
			FROM itemattributes ia
			LEFT JOIN [dbo].[magento_automated_product_dataset_temp] p on p.ItemID = ia.itemid
			WHERE ia.tagtype = 'a_licensed'
			UPDATE [dbo].[magento_automated_product_dataset_temp] SET is_Licensed = 0 WHERE is_licensed IS NULL
			UPDATE [dbo].[magento_automated_product_dataset_temp] set vCategory = category, vEnhanced_Commerce =[Enhanced commerce]

			SELECT @OldCount = 0, @NewCount = 0
			SELECT @OldCount = COUNT(*) FROM magento_automated_product_dataset
			SELECT @NewCount = COUNT(*) FROM magento_automated_product_dataset_temp

			IF @DoRename = 1 AND @NewCount > 0 AND @NewCount > (0.75*@OldCount)
				BEGIN
					DROP TABLE IF EXISTS dbo.magento_automated_product_dataset_rollback
			
					EXEC sp_rename 'magento_automated_product_dataset', 'magento_automated_product_dataset_rollback'

					EXEC sp_rename 'magento_automated_product_dataset_temp', 'magento_automated_product_dataset'
				END

			IF @Pipeline_Run_GUID <> ''
				BEGIN
					INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - added records to magento_automated_product_dataset_temp') 
				END
			DECLARE @LastUpdate VARCHAR(50)
			SET @LastUpdate = CAST(GETDATE() AS VARCHAR(50))
			EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'LastUpdate', @Value = @LastUpdate

			--DECLARE @Max INT, @ID INT, @Product_ID FLOAT, @SKU NVARCHAR(255), @Included_SMI VARCHAR(MAX), @Excluded_SMI VARCHAR(MAX), @Current INT, @Orig VARCHAR(255), @Val VARCHAR(255), @OrigCnt INT, @Class VARCHAR(800), @ItemID VARCHAR(20), @Loop INT, @Max1 INT
			DBCC CHECKIDENT ('magento_automated_product_dataset_import', RESEED, 0)
			CREATE TABLE #ChangedProducts ([ID] BIGINT, [Loop] BIGINT Identity (1,1))
			INSERT INTO #ChangedProducts SELECT [ID] FROM [dbo].[magento_automated_product_dataset_Import] 
			WHERE [Updated On] >= DATEADD(day,@DaysBack,GETDATE())

			SELECT @Loop = MIN([Loop]), @Max  = MAX([Loop]) FROM #ChangedProducts
			WHILE @Loop <= @Max
				BEGIN
					SELECT @ID = [ID] FROM #ChangedProducts WHERE [Loop] = @Loop
					SELECT @SKU = [SKU], @Included_SMI = [Included SMI], @Excluded_SMI = [Excluded SMI] 
					FROM [dbo].[magento_automated_product_dataset_import] 
					WHERE [ID] = @ID
					DELETE FROM [dbo].[Product_Included_SMI] WHERE [SKU] = @SKU
					INSERT INTO [dbo].[Product_Included_SMI] ([SKU],[Included_SMI])
					SELECT @SKU, CAST([value] AS BIGINT) FROM string_split(@Included_SMI,',')

					DELETE FROM [dbo].[Product_Excluded_SMI] WHERE [SKU] = @SKU
					INSERT INTO [dbo].[Product_Excluded_SMI] ([SKU],[Excluded_SMI])
					SELECT @SKU, CAST([value] AS BIGINT) FROM string_split(@Excluded_SMI,',')
					SET @Loop = @Loop + 1
				END
			DROP TABLE #ChangedProducts 
		END

	SELECT i.sku, itemid, (SELECT TOP (1) value	FROM STRING_SPLIT(tagvalue, ',') AS STRING_SPLIT_1) as imageurl into #itemattributesimages 
	from item i
	LEFT JOIN itemattributes ia on ia.itemid = i.id
	WHERE tagtype = 'a_BalfourPrimaryImages'
	SELECT @Max = COUNT(*) FROM #itemattributesimages
	IF @Max > 0
		BEGIN
			IF @Pipeline_Run_GUID <> ''
				BEGIN
					INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - recreating itemattributesimages - adding ' + CAST(@Max AS VARCHAR(15)) + ' records') 
				END
			--TRUNCATE TABLE dbo.itemattributesimages
			DROP TABLE IF EXISTS itemattributesimages_new
			SELECT * INTO itemattributesimages_new FROM itemattributesimages
			CREATE NONCLUSTERED INDEX [ndx_ItemID] ON [dbo].[itemattributesimages_new]
			(
				[itemid] ASC
			)
			INCLUDE([imageurl]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]

			INSERT INTO dbo.itemattributesimages_new ([sku], [itemid], [imageurl], [baseimageURL])
			SELECT [sku], [itemid], [imageurl], REPLACE(REPLACE(REPLACE(REPLACE(imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') FROM #itemattributesimages
			DROP TABLE IF EXISTS itemattributesimages_rollback
			EXEC sp_rename 'itemattributesimages', 'itemattributesimages_rollback'
			EXEC sp_rename 'itemattributesimages_new', 'itemattributesimages' 		
		END
	DROP TABLE #itemattributesimages

	--01-26-2020 TL - Update ItemAttributesClass
	CREATE TABLE #Working ([ItemID] VARCHAR(20), [class] VARCHAR(800), [ID] INT IDENTITY(1,1))
	INSERT INTO #Working ([ItemID],[class])
	SELECT [ItemID], [TagValue] FROM ITEMATTRIBUTES WHERE [tagtype] = 'a_class'


	CREATE TABLE #NV ([Value] VARCHAR(800), Loop INT IDENTITY(1,1))
	SELECT @ID = 1, @Max = MAX([ID]) FROM #Working
	IF @Pipeline_Run_GUID <> ''
		BEGIN
			INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - updating [ItemAttributesClass] - ' + CAST(@MAX AS VARCHAR(15)) + ' rows') 
		END

	WHILE @ID <= @Max
		BEGIN
			SELECT @ItemID = [ItemID], @Class = [Class] FROM #Working WHERE [ID] = @ID
			TRUNCATE TABLE #NV
			INSERT INTO #NV ([Value])
			SELECT * FROM STRING_SPLIT(REVERSE(@Class),':')
			DELETE FROM [ItemAttributesClass] WHERE [ItemID] = @ItemID
			INSERT INTO [ItemAttributesClass] ([ItemID],[Parent],[Class], [SKU])
			SELECT @ItemID, LTRIM(RTRIM(REVERSE([Value]))), /*REVERSE(*/@Class/*)*/, [SKU] FROM #NV NV INNER JOIN [dbo].[item] I ON I.ID = @ItemID  WHERE [Loop] = 1
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 2
			UPDATE [ItemAttributesClass] SET [GrandParent] = @Val WHERE [ItemID] = @ItemID
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 3
			UPDATE [ItemAttributesClass] SET [GreatGrandParent] = @Val WHERE [ItemID] = @ItemID
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 4
			UPDATE [ItemAttributesClass] SET [GreatGreatGrandParent] = @Val WHERE [ItemID] = @ItemID

			SET @ID = @ID + 1
		END

	--08/20/2020 TL - Too many rows in itemattributes so use itemattributes_announcements for now - repopulate it
	DELETE FROM [dbo].[itemattributes_announcements]
	INSERT INTO [dbo].[itemattributes_announcements]
	SELECT * FROM itemattributes where 	tagvalue = '52' AND tagtype = 'a_PBProdFamID'
	IF @Pipeline_Run_GUID <> ''
		BEGIN
			INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - finished updating [ItemAttributesClass]') 
		END
	DROP TABLE #NV
	DROP TABLE #Working

END
GO
