/****** Object:  StoredProcedure [dbo].[s_get_virtcomm_affinity_tile]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/21/2020
-- Description: Pulls data for a virtual commencement affinity tile
-- =============================================
CREATE PROCEDURE [dbo].[s_get_virtcomm_affinity_tile]
(
    @SMI INT = 0
)
AS
-- EXEC s_get_virtcomm_affinity_tile @SMI = 130996
-- EXEC s_get_virtcomm_affinity_tile @SMI = 69959
-- EXEC s_get_virtcomm_affinity_tile @SMI = 1326
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    SELECT
	  vc.sMI as [sMI]
	, gUID
	, ISNULL([title],'') as [title]
	, ISNULL([description],'') as [description]
	, '/' + SU.[url] + '/grad' /*?smi=' + CAST(@SMI as VARCHAR(15))*/ as [virtcommLink]
	, CASE WHEN [dbo].[fn_get_yearbook_grade_level_for_smi](@SMI) = 'COLLEGE' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile_v3.jpg' END as [imageLink]
	,CASE WHEN [dbo].[fn_get_yearbook_grade_level_for_smi](@SMI) = 'COLLEGE' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile_v3.jpg' END AS [affinityPageTile]
	, FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt') as [timeStamp]
				 
	, DB_NAME()  as [instance]
	, CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
	, OBJECT_NAME(@@PROCID) as [sproc]
	, CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
	FROM [dbo].[virtcommmaster] vc
	LEFT JOIN [dbo].[School_URL_Master] SU ON SU.[SMI] = vc.[SMI]
	WHERE vc.[SMI] = @SMI
	AND vc.[enabled] = 1
	FOR JSON PATH
END
GO
