/****** Object:  StoredProcedure [dbo].[s_update_gradpacksmisettings_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/11/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_update_gradpacksmisettings_record]
(
 @BottomBannerImageURL VARCHAR(255) = NULL
,@BottomButtonLink VARCHAR(500) = NULL
,@BottomButtonText VARCHAR(100) = NULL
,@BottomTextDesktop VARCHAR(MAX) = NULL
,@BottomTextMobile VARCHAR(MAX) = NULL
,@BottomTitle VARCHAR(500) = NULL
,@CtaButtonText VARCHAR(100) = NULL
,@GradPackSMISettingID INT = NULL
,@LateFeeInfo VARCHAR(MAX) = NULL
,@SMI INT = NULL
,@TopBannerImageURL VARCHAR(255) = NULL
,@TopTextDesktop VARCHAR(MAX) = NULL
,@TopTextMobile VARCHAR(MAX) = NULL
,@TopTitle VARCHAR(500) = NULL
, @GradPackSMISettingID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [GradPackSMISettings].
--##RS1 The [GradPackSMISettingID] value of the inserted/updated record in the table [GradPackSMISettings].

IF ISNULL(@GradPackSMISettingID,0) = 0 --Insert
  BEGIN
	IF @SMI IS NULL
		-- SMI must be unique, so insert a dummy value when inserting a new row
		BEGIN
			SET @SMI = -1

			DECLARE @minSMI INT 
			SET @minSMI = (SELECT ISNULL(MIN(SMI), 0) FROM [GradPackSMISettings] WHERE SMI < 0)

			SET @SMI = @minSMI - 1
		END

    INSERT INTO [GradPackSMISettings] ( [BottomTitle],[BottomButtonText],[BottomButtonLink],[SMI],[LateFeeInfo],[BottomTextDesktop],[TopTextMobile],[BottomTextMobile],[TopBannerImageURL],[TopTitle],[CtaButtonText],[TopTextDesktop],[BottomBannerImageURL])
       VALUES ( @BottomTitle,@BottomButtonText,@BottomButtonLink,@SMI,@LateFeeInfo,@BottomTextDesktop,@TopTextMobile,@BottomTextMobile,@TopBannerImageURL,@TopTitle,@CtaButtonText,@TopTextDesktop,@BottomBannerImageURL)
    SELECT @GradPackSMISettingID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [GradPackSMISettings] SET
     [BottomTitle] = CASE WHEN @BottomTitle IS NULL THEN [BottomTitle] ELSE @BottomTitle END
    ,[BottomButtonText] = CASE WHEN @BottomButtonText IS NULL THEN [BottomButtonText] ELSE @BottomButtonText END
    ,[BottomButtonLink] = CASE WHEN @BottomButtonLink IS NULL THEN [BottomButtonLink] ELSE @BottomButtonLink END
    ,[SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[LateFeeInfo] = CASE WHEN @LateFeeInfo IS NULL THEN [LateFeeInfo] ELSE @LateFeeInfo END
    ,[BottomTextDesktop] = CASE WHEN @BottomTextDesktop IS NULL THEN [BottomTextDesktop] ELSE @BottomTextDesktop END
    ,[TopTextMobile] = CASE WHEN @TopTextMobile IS NULL THEN [TopTextMobile] ELSE @TopTextMobile END
    ,[BottomTextMobile] = CASE WHEN @BottomTextMobile IS NULL THEN [BottomTextMobile] ELSE @BottomTextMobile END
    ,[TopBannerImageURL] = CASE WHEN @TopBannerImageURL IS NULL THEN [TopBannerImageURL] ELSE @TopBannerImageURL END
    ,[TopTitle] = CASE WHEN @TopTitle IS NULL THEN [TopTitle] ELSE @TopTitle END
    ,[CtaButtonText] = CASE WHEN @CtaButtonText IS NULL THEN [CtaButtonText] ELSE @CtaButtonText END
    ,[TopTextDesktop] = CASE WHEN @TopTextDesktop IS NULL THEN [TopTextDesktop] ELSE @TopTextDesktop END
    ,[BottomBannerImageURL] = CASE WHEN @BottomBannerImageURL IS NULL THEN [BottomBannerImageURL] ELSE @BottomBannerImageURL END
      WHERE [GradPackSMISettingID] = @GradPackSMISettingID
    SELECT @GradPackSMISettingID_Out = @GradPackSMISettingID
  END

SELECT
 [BottomTitle]
,[BottomButtonText]
,[BottomButtonLink]
,[SMI]
,[LateFeeInfo]
,[BottomTextDesktop]
,[TopTextMobile]
,[BottomTextMobile]
,[TopBannerImageURL]
,[TopTitle]
,[CtaButtonText]
,[TopTextDesktop]
,[GradPackSMISettingID]
,[BottomBannerImageURL]

FROM dbo.[GradPackSMISettings]
WHERE [GradPackSMISettingID] = @GradPackSMISettingID_Out
GO
