/****** Object:  StoredProcedure [dbo].[s_get_virtcomm_bkup]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/09/2020
-- Description: Gets details for a Virtual Commencement
-- =============================================
CREATE PROCEDURE [dbo].[s_get_virtcomm_bkup]
(
    @SMI INT = 0
)
AS
--EXEC s_get_virtcomm @SMI = 130996
--EXEC s_get_virtcomm @SMI = 130995
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	/**TESTING SET @SMI = 130996 TESTING**/

	DECLARE @Cnt INT
	/* Determine if there are any child records.*/
	SET @Cnt = 0
	SELECT @Cnt = COUNT(*) FROM [dbo].[VirtCommDetail] WHERE [ParentGUID] IN (SELECT [GUID] FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI)
	--IF @Cnt = 0 SET @SMI = 130996

	/* Determine whether or not we are going to get results. */
	SELECT @Cnt = COUNT(*)
	FROM [dbo].[virtcommmaster] as vc
	WHERE [SMI] = @SMI
	AND ISNULL([Enabled],0) = 1

	--IF @Cnt > 0
	--	BEGIN
			DECLARE @Core TABLE ([imageLink] VARCHAR(200), [title] VARCHAR(100), [linkText] VARCHAR(50), [link] VARCHAR(200), [copy] VARCHAR(MAX), [flag] INT)
			INSERT INTO @Core ([imageLink], [title], [linkText], [link], [copy], [flag])
			SELECT [RingImageLink] as [image], 'The Importance of Your Ring' as [title], 'Shop', '../shop/jewelry/rings/official-college-class-rings?smi='  as [link], 'Your ring is a symbol of success, a vital piece of your school’s tradition, and the perfect way to connect with students, faculty and alumni.' as [copy], 1 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
			UNION
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png' as [image], 'Show off Your Hard Work' as [title], 'Shop', 'shop/yearbooks?smi=' as [link],  'Put your hard work and accomplishment on display. Choose from over 70 styles and find the perfect way to represent your achievement.' as [copy],2
			UNION
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png' as [image], 'Why Send Announcements?' as [title], 'Shop', 'shop/gradpacks?smi=' as [link], 'Reaching out to loved ones is now more important than ever. Personalize your official college announcements and share your success.' as [copy], 4

			DECLARE @EAProducts TABLE ([imageLink] VARCHAR(200), [title] VARCHAR(100), [linkText] VARCHAR(50), [link] VARCHAR(200), [sortOrder] INT)
			INSERT INTO @EAProducts ([imageLink], [title], [linkText], [link], [sortOrder])
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png','YARD SIGNS','Shop','shop/yardsigns?smi=' + CAST(@SMI AS VARCHAR(15)), 1
			UNION
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png','SPIRIT STICKS','Shop','shop\/spiritsticks?smi=' + CAST(@SMI AS VARCHAR(15)), 2
			UNION
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png','PLAQUES','Shop','shop\/plaques?smi=' + CAST(@SMI AS VARCHAR(15)), 3
			UNION
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png','DIPLOMA FRAMES','Shop','shop/diplomaframes?smi=' + CAST(@SMI AS VARCHAR(15)), 4
			UNION
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png','MUGS','Shop','shop\/mugs?smi=' + CAST(@SMI AS VARCHAR(15)), 5
			UNION
			SELECT [AnnouncementsImageLink]/*'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png'*/,'ANNOUNCEMENTS','Shop','http://orders.balfour.com/smi' + CAST(@SMI AS VARCHAR(15)) + '/catalog/category/view/s/personalized-college-announcements/id/312673?smi=' + CAST(@SMI AS VARCHAR(15)), 6 FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
			UNION
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/mockup-square-600x600.png','FRAMES','Shop','shop\/frames?smi=' + CAST(@SMI AS VARCHAR(15)), 7

			SELECT
			 ISNULL([Title],'') as [title]
			,ISNULL(vc.[Description],'') as [description]
			,UPPER(FORMAT ([EventDTM], 'dddd ')) + LOWER(FORMAT([EventDTM],'hh:mm tt ')) + LOWER([Timezone]) + '<br />' + FORMAT([EventDTM], 'MMMM d, yyyy') as [date]
			,@SMI as [sMI]
			,ISNULL([GoNowLink],'') as [goNowLink]
			,ISNULL([PhotoStoryLink],'') as [photoStoryLink]
			,ISNULL([InsertDownloadLink],'') as [insertDownloadLink]
			,ISNULL([TributeLink],'') as [tributeLink]
			,ISNULL([BoomBoxLink],'') as [boomBoxLink]
			/* Anything which does not vary by school but may change at some time in the future goes here. */
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/D_PhotoStory.jpg' as [videoThumbnailDesktop]
			,'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/M_PhotoStory_339x250_%402x.png' as [videoThumbnailMobile]
			/* End of stuff that may change in the future. */
			,''/*ISNULL([HTMLContent],'')*/ as [promoContent]
			,(SELECT [imageLink], [title], [linkText], [link] + CAST(@SMI as VARCHAR(15)) as [link], ISNULL([copy],'') as [copy] FROM @Core WHERE ([flag] & vc.[coreProductsFlags]) > 0  FOR JSON PATH) as  [coreProductsList] 
			,(SELECT [imageLink], [title], [linkText], [link] FROM @EAProducts ORDER BY [sortOrder] FOR JSON PATH) as [eAProductsList]
			,(
			  SELECT ISNULL([title],'') as [title], ISNULL([Description],'') as [description], UPPER(FORMAT ([EventDTM], 'dddd ')) + LOWER(FORMAT([EventDTM],'hh:mm tt ')) + LOWER(vc.[Timezone]) + '<br />' + FORMAT([EventDTM], 'MMMM d, yyyy') as [date] FROM [dbo].[VirtCommDetail] WHERE [ParentGUID] = vc.[GUID] FOR JSON PATH
			 ) as [childEventsList]
			FROM [dbo].[virtcommmaster] as vc
			LEFT JOIN [dbo].[ConditionalContent] bo on bo.[GUID] = vc.[promoLink]
			WHERE [SMI] = @SMI
			AND ISNULL(vc.[Enabled],0) = 1
			FOR JSON PATH
	--	END
	--ELSE
	--	BEGIN
	--		SELECT 'none' as [results]
	--		FOR JSON PATH
	--	END
END
GO
