/****** Object:  StoredProcedure [dbo].[s_update_pipeline_run_steps]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 12/31/2019
-- Description: Updates [dbo].[Pipeline_Runs] record
-- =============================================
CREATE PROCEDURE [dbo].[s_update_pipeline_run_steps]
(
	 @Pipeline_Run_GUID VARCHAR(50) = ''
	,@Started DATETIME = NULL
	,@Log_Text VARCHAR(MAX) = NULL
	,@ID BIGINT = 0
	,@ID_Out BIGINT OUT
)
AS
SET NOCOUNT ON
IF @Started IS NULL SET @Started = GETDATE()
IF @ID < 1
	BEGIN
		INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID],[Started],[Log_Text]) VALUES (@Pipeline_Run_GUID,@Started,@Log_Text)
		SET @ID_Out = SCOPE_IDENTITY()
	END
ELSE
	BEGIN
		UPDATE [dbo].[Pipeline_Run_Steps] SET
		 [Pipeline_Run_GUID] = CASE WHEN @Pipeline_Run_GUID IS NULL THEN [Pipeline_Run_GUID] ELSE @Pipeline_Run_GUID END
		,[Started] = CASE WHEN @Started IS NULL THEN [Started] ELSE @Started END
		,[Log_Text] = CASE WHEN @Log_Text IS NULL THEN [Log_Text] ELSE @Log_Text END
		WHERE [ID] = @ID
		SET @ID_Out = @ID
	END
GO
