/****** Object:  StoredProcedure [dbo].[s_get_content_sprocs]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 12/18/2019
-- Description: Pulls a list of content sproc names and aliases
-- =============================================
CREATE PROCEDURE [dbo].[s_get_content_sprocs]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SELECT [sprocKey]
      ,[sprocName]
	  ,[connectionToken]
	  ,ISNULL([useCache],CAST(1 AS BIT)) as [useCache]
	  ,ISNULL([cacheMinutes],240) as [cacheMinutes]
      ,[id]
	FROM [dbo].[ContentSprocs]
END
GO
