/****** Object:  StoredProcedure [dbo].[s_delete_emailjobs_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 10/14/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_emailjobs_record]
(
	 @ID INT = NULL

)
AS
--##AT AG
--##BD Deletes a specific record from the table [EmailJobs].
--##PD @ID in [EmailJobs].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [EmailJobs] WHERE [ID] = @ID
EXEC dbo.s_get_emailjobs_records


GO
