/****** Object:  StoredProcedure [dbo].[s_delete_conditionalcontenturls_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/6/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_conditionalcontenturls_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [ConditionalContentURLs].
--##PD @ID in [ConditionalContentURLs].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [ConditionalContentURLs] WHERE [ID] = @ID



GO
