/****** Object:  StoredProcedure [dbo].[s_clone_conditionalcontent]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_clone_conditionalcontent]
(
	@ID INT = 0
)
AS
SET NOCOUNT ON

DECLARE @NewGUID VARCHAR(50), @GUID VARCHAR(50)
SELECT @NewGUID = NEWID()
SELECT @GUID = [GUID] FROM [dbo].[ConditionalContent] WHERE [ID] = @ID
INSERT INTO [dbo].[ConditionalContent] ([Name],[Description],[GUID],[HTMLContent],[JavaScript],[JSTrigger],[Placement],[Element],[PositiveTestPage],[NegativeTestPage],[Created],[LastModified])
SELECT 'Copy of ' + [Name],[Description],@NewGUID,[HTMLContent],[JavaScript],[JSTrigger],[Placement],[Element],[PositiveTestPage],[NegativeTestPage],GETDATE(),GETDATE()
FROM [dbo].[ConditionalContent] WHERE [ID] = @ID

INSERT INTO [dbo].[ConditionalContentURLs] ([CCGUID],[Site],[URL],[SearchType],[IsExclusion])
SELECT @NewGUID,[Site],[URL],[SearchType],[IsExclusion]
FROM [dbo].[ConditionalContentURLs] WHERE [CCGUID] = @GUID

SELECT
     [ID]
    ,[Name]
	,[Description]
    ,[Placement]
	,[PositiveTestPage]
	,[NegativeTestPage]
    ,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([StartDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [StartDate]
	,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([EndDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [EndDate]
    ,[Enabled]
    ,[GUID]
    ,[HTMLContent]
    ,[JavaScript]
    ,[JSTrigger]
    ,[Element]
	,FORMAT(dbo.fn_DateTime_to_Central([Created]),'MM/dd/yyyy hh:mm:ss tt') AS [Created]
	,FORMAT(dbo.fn_DateTime_to_Central([LastModified]),'MM/dd/yyyy hh:mm:ss tt') AS [LastModified]
	,dbo.fn_ConditionalContentURLs([GUID]) as [URLList]
	FROM dbo.[ConditionalContent]
    WHERE [GUID] = @NewGUID
GO
