/****** Object:  StoredProcedure [dbo].[s_process_gradpack_photo_vouchers]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_process_gradpack_photo_vouchers]
(
	 @Mode SMALLINT = 1 --1=MAGE; 2=ARC
	,@Email_From VARCHAR(100) = 'customerservice@balfour.com'
	,@Email_From_Name VARCHAR(100) = 'Balfour'
	,@Debugging BIT = 1
	,@EmailOverride VARCHAR(100) = ''
	
)
AS 
--EXEC s_process_gradpack_photo_vouchers @Debugging = 1, @Mode = 2
--EXEC s_process_gradpack_photo_vouchers @Debugging = 0
--DELETE FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE [Batch_ID] = '4D466083-B078-47C0-8E99-00122233B7E5'
SET NOCOUNT ON
--Log the parameters passed in
INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data]) VALUES ('s_process_gradpack_photo_vouchers','@Mode=' + CAST(@Mode as VARCHAR(5)) + ' @Debugging=' + CAST(@Debugging AS VARCHAR(1)) + ' @EmailOverride=' + @EmailOverride)
IF @Debugging = 1 AND LTRIM(RTRIM(@EmailOverride)) = '' SET @EmailOverride = 'william.crooks@balfour.com'
--Create a new batch ID
DECLARE @Batch_ID VARCHAR(50)
SET @Batch_ID = NEWID()

DECLARE @LastOrder_ID INT, @MaxOrder_ID INT, @Max INT, @Loop INT, @ID INT, @Order_ID INT, @SKU VARCHAR(255), @MAGE_Rule_ID INT, 
        @Coupon_ID INT, @Code VARCHAR(255), @Value VARCHAR(10), @TableName VARCHAR(50), @JSON VARCHAR(MAX)



SELECT @TableName = CASE WHEN @Mode = 1 THEN 'MAGE_Sales_Order' WHEN @Mode = 2 THEN 'ARC_Orders' ELSE 'MAGE_Sales_Order' END
PRINT 'Working with ' + @TableName
--Build a temp table to work with
CREATE TABLE #Orders (Order_ID INT, [SKU] VARCHAR(255), [MAGE_Rule_ID] INT, [Amount] MONEY, [ID] INT, [Customer_Email] VARCHAR(128), [URL] VARCHAR(250), [Email_GUID] VARCHAR(50), [SMI] INT, [Loop] INT IDENTITY(1,1))

--Determine the last order processed
IF @Mode = 1 --MAGE
	BEGIN
		SELECT @LastOrder_ID = COUNT(*)
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
			ON p.major_id = o.object_id
			AND p.class = 1
		WHERE O.Name = 'MAGE_Sales_Order' AND p.Name = 'LastOrderProcessed_Voucher'
		IF @LastOrder_ID = 0 --Add the extended attribute
			BEGIN
				exec sp_addextendedproperty @name='LastOrderProcessed_Voucher', @value = '0', @level0type='SCHEMA', @level0name='dbo',@level1type='TABLE', @level1name='MAGE_Sales_Order'
			END

		SELECT
			@LastOrder_ID = CASE WHEN ISNUMERIC(CAST(p.value AS VARCHAR(10))) = 1 THEN  CAST(CAST(p.value AS VARCHAR(10)) AS INT) ELSE 0 END
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
			ON p.major_id = o.object_id
			AND p.class = 1
		WHERE O.Name = 'MAGE_Sales_Order' AND p.Name = 'LastOrderProcessed_Voucher'
		--Determine the max Order_ID
		SELECT @MaxOrder_ID = MAX(entity_id) FROM MAGE_Sales_Order
		PRINT 'Last order = ' + CAST(@LastOrder_ID AS VARCHAR(15)) + ' Max Order_ID = ' + CAST(@MaxOrder_ID AS VARCHAR(15))

	END
IF @Mode = 2 --ARC
	BEGIN
		SELECT @LastOrder_ID = COUNT(*)
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
			ON p.major_id = o.object_id
			AND p.class = 1
		WHERE O.Name = 'ARC_Orders' AND p.Name = 'LastOrderProcessed_Voucher'
		IF @LastOrder_ID = 0 --Add the extended attribute
			BEGIN
				exec sp_addextendedproperty @name='LastOrderProcessed_Voucher', @value = '0', @level0type='SCHEMA', @level0name='dbo',@level1type='TABLE', @level1name='ARC_Orders'
			END

		SELECT
			@LastOrder_ID = CASE WHEN ISNUMERIC(CAST(p.value AS VARCHAR(10))) = 1 THEN  CAST(CAST(p.value AS VARCHAR(10)) AS INT) ELSE 0 END
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
			ON p.major_id = o.object_id
			AND p.class = 1
		WHERE O.Name = 'ARC_Orders' AND p.Name = 'LastOrderProcessed_Voucher'
		SELECT @MaxOrder_ID = ISNULL(MAX(Order_Number),0) FROM ARC_Orders
		PRINT 'Last order = ' + CAST(@LastOrder_ID AS VARCHAR(15)) + ' Max Order_ID = ' + CAST(@MaxOrder_ID AS VARCHAR(15))

	END


--SELECT @LastOrder_ID



--Update the last order_ID processed now just in case this process gets launched someplace else
SET @Value = CAST(@MaxOrder_ID AS VARCHAR(10))
IF @Debugging = 0
	exec sp_updateextendedproperty @name='LastOrderProcessed_Voucher', @value = @Value, @level0type='SCHEMA', @level0name='dbo',@level1type='TABLE', @level1name=@TableName

IF @Mode = 1 -- MAGE
	BEGIN
		INSERT INTO #Orders ([Order_ID],[SKU],[MAGE_Rule_ID],[Amount],[Customer_Email],[URL],[Email_GUID],[SMI])
		SELECT [Order_ID], [SKU], V.[MAGE_Rule_ID], V.[Amount], O.[customer_email], V.[URL], V.[Email_GUID],0
		FROM [dbo].[MAGE_sales_order_item] I
		LEFT JOIN [dbo].[Amount_Rule_ARCItem_XRef] V ON V.PIM_SKU = [SKU]
		LEFT JOIN [dbo].[MAGE_Sales_Order] O ON O.[entity_id] = I.[order_id]
		WHERE [SKU] IN (SELECT [PIM_SKU] FROM [dbo].[Amount_Rule_ARCItem_XRef])
		AND [Order_ID] > @LastOrder_ID AND [Order_ID] <= @MaxOrder_ID
	END

IF @Mode = 2 -- ARC
	BEGIN
		INSERT INTO #Orders ([Order_ID],[SKU],[MAGE_Rule_ID],[Amount],[Customer_Email],[URL],[Email_GUID],[SMI])
		SELECT [Order_Number], [Item_Code], V.[MAGE_Rule_ID], V.[Amount], LTRIM(RTRIM(I.[Order_Email_Address])), V.[URL], V.[Email_GUID], I.[SMI]
		FROM [dbo].[ARC_Orders] I
		LEFT JOIN [dbo].[Amount_Rule_ARCItem_XRef] V ON V.ARC_Item_Code = [Item_Code]
		WHERE [Item_Code] IN (SELECT [ARC_Item_Code] FROM [dbo].[Amount_Rule_ARCItem_XRef])
		AND [Order_Number] > @LastOrder_ID AND [Order_Number] <= @MaxOrder_ID
		
	END


--IF @Debugging = 1
--	SELECT * FROM #Orders

--Get these orders into GradPackPhotoAnnounceTransactions
INSERT INTO [dbo].[GradPackPhotoAnnounceTransactions] ([Amount],[Order_ID],[Sent_to_Email],[Order_Source],[URL],[Email_GUID],[Rule_ID],[Batch_ID])
SELECT [Amount],[Order_ID],[Customer_Email],@Mode,[URL],[EMail_GUID],[MAGE_Rule_ID],@Batch_ID
FROM #Orders


--Process these orders
SELECT @Max = MAX([Loop]) FROM #Orders
SET @Loop = 1
WHILE @Loop <= @Max
	BEGIN
		SELECT @Order_ID = [Order_ID], @SKU = [SKU], @MAGE_Rule_ID = [MAGE_Rule_ID]
		FROM #Orders WHERE [Loop] = @Loop
		--Find the next available voucher code
		--PRINT 'Order ID ' + CAST(@Order_ID AS VARCHAR(10)) + ' MAGE_Rule_ID = ' + CAST(@MAGE_Rule_ID AS VARCHAR(15))

		SELECT @Coupon_ID = MIN(Coupon_ID) FROM [dbo].[MAGE_salesrule_coupon] WHERE [rule_id] = @MAGE_Rule_ID AND [Coupon_ID] NOT IN (SELECT [Coupon_ID] FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE [Coupon_ID] IS NOT NULL) 
		
		--PRINT 'Coupon_ID = ' + CAST(ISNULL(@Coupon_ID,-1) AS VARCHAR(10))
		SELECT @Code = [Code] FROM [dbo].[MAGE_salesrule_coupon] WHERE [Coupon_ID] = @Coupon_ID
		-- + ' Code = ' + @Code
		--Assign a voucher code
		UPDATE [dbo].[GradPackPhotoAnnounceTransactions] SET [Code] = @Code, [Coupon_ID] = @Coupon_ID, [SKU_Purchased] = @SKU
		WHERE [Order_ID] = @Order_ID AND [Batch_ID] = @Batch_ID
	
		SET @Loop = @Loop + 1
	END


--[01/22/2020]  At this point, rather than returning the rows for direct processing, we want to queue them in [EmailJobs_Queue]
--MAGE Orders
IF @Mode = 1
	SELECT 
	  [ID]
	, [Coupon_ID]
	, [Code]as [~VOUCHER_CODE~]
	, CONVERT(VARCHAR(10), ISNULL(MO.[created_at],GETDATE()), 101) as [~order_date~]
	, '$' + CAST(CAST([Amount] AS DECIMAL(12,2)) as VARCHAR(25)) as [~VALUE~]
	, CASE WHEN @EmailOverride <> '' THEN @EmailOverride ELSE [Sent_to_Email] END as [Sent_to_Email]
	, [Sent_DTM]
	, [Order_ID] as [~ORDER_NUMBER~]
	, '' as [~REFERENCE_NUMBER~]
	, [Order_Source]
	, '' as [~SHIPPING_METHOD~]
	, [Used_Order_ID]
	, [SKU_Purchased]
	, [Silverpop_Response]
	, [URL]
	, [Email_GUID]
	, @Email_From as [Email_From]
	, @Email_From_Name as [Email_From_Name]
	, [Batch_ID]
	, MO.[Customer_LastName]
	, MO.[Customer_FirstName] as [~first_name~]
	,'' as [~BILLING_INFORMATION~]
	,'' AS [~SMI~]
	FROM [dbo].[GradPackPhotoAnnounceTransactions] GPVT 
	LEFT JOIN [dbo].[MAGE_Sales_Order] MO ON MO.[Entity_ID] = GPVT.[Order_ID]
	WHERE [Batch_ID] = @Batch_ID

--ARC Orders
IF @Mode = 2
	BEGIN
		--SELECT 
		--  [ID]
		--, [Coupon_ID]
		--, [Code]as [~VOUCHER CODE~]
		--, CONVERT(VARCHAR(10), ISNULL(AO.[Order_Received_Date],GETDATE()), 101) as [~order_date~]
		--, '$' + CAST(CAST([Amount] AS DECIMAL(12,2)) as VARCHAR(25)) as [~VALUE~]
		--, CASE WHEN @EmailOverride <> '' THEN @EmailOverride ELSE [Sent_to_Email] END as [Sent_to_Email]
		--, [Sent_DTM]
		--, [Order_ID] as [~ORDER_NUMBER~]
		--, ISNULL(AO.[Reference_Number],0) as [~REFERENCE_NUMBER~]
		--, [Order_Source]
		--, [Shipped_Via] as [~SHIPPING_METHOD~]
		--, [Used_Order_ID]
		--, [SKU_Purchased]
		--, [Silverpop_Response]
		--, [URL]
		--, [Email_GUID]
		--, @Email_From as [Email_From]
		--, @Email_From_Name as [Email_From_Name]
		--, [Batch_ID]
		--, AO.[Order_Student_Last_Name]
		--, AO.[Order_Student_First_Name] as [~first_name~]
		--, ISNULL([Order_Bill_To_Full_Name],'') + '<br />' + ISNULL([Order_Bill_To_Address_1],'') + '<br />' + CASE WHEN ISNULL([Order_Bill_To_Address_2],'') <> '' THEN ISNULL([Order_Bill_To_Address_2],'') + '<br />' ELSE '' END + LTRIM(RTRIM(ISNULL([Order_Bill_To_City_Name],'') + ' ' + ISNULL([Order_Bill_To_State],'') + ' ' + ISNULL([Order_Bill_To_Zip_Code],''))) as [~BILLING_INFORMATION~]
		--, CASE WHEN [SMI] = 0 THEN '' ELSE CAST([SMI] AS VARCHAR(15)) END as [~SMI~]
		--FROM [dbo].[GradPackPhotoAnnounceTransactions] GPVT 
		--LEFT JOIN [dbo].[ARC_Orders] AO ON AO.[Order_NUMBER] = GPVT.[Order_ID]
		--WHERE [Batch_ID] = @Batch_ID

		
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name], [Entity], [Service], [Description], [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], [emailAddresses], [rawData], [template], [connString])
		SELECT 'photovouchers' as [Email_Name]
			,'balfour' as [Entity]
			,'silverpop' as [Service]
			,'Photo voucher email' as [Description]
			,EJ.[pod]
			,EJ.[oAuthClientId]
			,EJ.[oAuthClientSecret]
			,EJ.[oAuthRefreshToken]
			,EJ.[campaignID]
			,CASE WHEN @EmailOverride <> '' THEN @EmailOverride ELSE LTRIM(RTRIM([Sent_to_Email])) END as [emailAddresses]
			--NOTE THAT THE FIELD NAMES HERE MUST MATCH THE CASE OF THE DATA FIELDS BUT NOT THOSE IN THE TEMPLATE
			,'{"VoucherCode":"' + [Code] + '","order_date":"' + CONVERT(VARCHAR(10), ISNULL(AO.[Order_Received_Date],GETDATE()), 101) + '",' +
			 '"VoucherValue":"' + CAST(CAST([Amount] AS DECIMAL(12,2)) as VARCHAR(25)) + '",' +
			 '"ORDER_NUMBER":"' + CAST([Order_ID] as VARCHAR(15)) + '",' +
			 '"REFERENCE_NUMBER":"' + CAST(ISNULL(AO.[Reference_Number],0) AS VARCHAR(15)) + '",' +
			 '"SHIPPING_METHOD":"' + LTRIM(RTRIM([Shipped_Via])) + '",' +
			 '"First_Name":"' + LTRIM(RTRIM(REPLACE(AO.[Order_Student_First_Name],'To''',''))) + '",' +
			 '"BILLING_INFORMATION":"' + LTRIM(RTRIM(ISNULL([Order_Bill_To_Full_Name],''))) + '<br \/>' + LTRIM(RTRIM(ISNULL([Order_Bill_To_Address_1],''))) + '<br \/>' + LTRIM(RTRIM(CASE WHEN ISNULL([Order_Bill_To_Address_2],'') <> '' THEN ISNULL([Order_Bill_To_Address_2],'') + '<br \/>' ELSE '' END)) + LTRIM(RTRIM(ISNULL([Order_Bill_To_City_Name],''))) + ' ' + LTRIM(RTRIM(ISNULL([Order_Bill_To_State],''))) + ' ' + LTRIM(RTRIM(ISNULL([Order_Bill_To_Zip_Code],''))) + '",' +
			 '"SMI":"' + CASE WHEN [SMI] = 0 THEN '' ELSE CAST([SMI] AS VARCHAR(15)) END + 
			 '","URL":"www.balfour.com/contemporary-announcements?smi=' + CAST(ISNULL([SMI],0) AS VARCHAR(15)) + '"}' as rawData 
			,'' as [template]
			--,'VOUCHERTESTBATCH' as [Batch_ID]
			,'' as [connString]
		FROM [dbo].[GradPackPhotoAnnounceTransactions] GPVT 
			LEFT JOIN [dbo].[ARC_Orders] AO ON AO.[Order_NUMBER] = GPVT.[Order_ID]
			LEFT JOIN [dbo].[EmailJobs] EJ ON EJ.Email_Name = 'PhotoAnnVouchers' and [Entity] = 'Balfour' and [Service] = 'Silverpop'
			WHERE GPVT.[Batch_ID] = @Batch_ID

		--Add records to CouponCodesIssued
		INSERT INTO [dbo].[CouponCodesIssued] ([Coupon_ID], [Code], [Key_Value], [OrderSource], [Issued_DTM], [EmailJobs_Queue_ID], [Value])
		SELECT
		  Coupon_ID
		, Code
		, CAST(Order_ID as VARCHAR(15)) as [Key_Value]
		,'ARC'as [OrderSource]
		,GETDATE() as [Issued_DTM]
		, Q.ID as [EmailJobs_Queue_ID]
		, V.[Amount] as [Value]
		FROM [dbo].[GradPackPhotoAnnounceTransactions] V
		LEFT JOIN emailJobs_Queue Q ON Q.ID IN (SELECT MIN(ID) FROM EmailJobs_queue WHERE [Email_Name] = 'photovouchers' AND [Key_Value] = CAST(V.Order_ID as VARCHAR(15)))
		WHERE V.[Batch_ID] = @Batch_ID
	END

--Revert if we are in debugging mode
IF @Debugging = 1
	BEGIN
		DELETE FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE [Batch_ID] = @Batch_ID
	END

--Drop the temp table
DROP TABLE #Orders
GO
