/****** Object:  StoredProcedure [dbo].[s_get_CSIC_item_from_cache]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
--	Author:      Tramel Jones/Han Tran/TL
--	Create Date: 03/19/20
--	Description: Rules for CSIC
--  Update: Han Tran
--	It is called by s_get_CSIC_items
--  GENERAL NOTES
--  [Product_Type] of 'PLP' and a NULL [Price] results in a 'Shop' button.
--
--  We need to know the SMI for any school-scoped item passed in.  As of 4/13/2020, the only place the SMI appears is in the HTML (the HREF) for the
--  displayed list of items in the cart.  Unfortunately that does not always work and some school-scoped items do not have the SMI in the link.
--
--  [04/13/2020] TL - A request has been made to get the Magento team to investigate adding SMI to cartInfo.cart.items.  If that occurs, the JS
--                    on the site will need to be modified to ise that rather than the HREF in the HTML. 
-- =============================================  

CREATE PROCEDURE [dbo].[s_get_CSIC_item_from_cache]   
(
   @insku VARCHAR(255),
   @insmi VARCHAR(40) = NULL,
   @debug BIT = 0,
   @Limit SMALLINT = -1
)
AS
BEGIN
	SET NOCOUNT ON
	--INSERT INTO CSUSSKUs ([SKU],[DTM]) VALUES (@insku, GETDATE())  --	select * from CSUSSKUs   
	IF @insmi IS NULL
		BEGIN
			SELECT    imageurl
				, url
				, SKU
				, [Product Name]
				, CASE WHEN price IS NULL THEN '' ELSE CAST(Price AS VARCHAR(9)) END AS price
				, CASE WHEN wasprice IS NULL THEN '' ELSE CAST( wasprice AS VARCHAR(9)) END AS wasprice
				, class, [Product Type]
				, sortOrder
				, config_type 
			FROM cross_sell_cache_at_cart
			WHERE [input sku] = @insku		
			ORDER BY sortOrder ASC
		END
	ELSE 
		BEGIN
			SELECT    imageurl
				, url
				, SKU
				, [Product Name]
				, CASE WHEN price IS NULL THEN '' ELSE CAST(Price AS VARCHAR(9)) END AS price
				, CASE WHEN wasprice IS NULL THEN '' ELSE CAST( wasprice AS VARCHAR(9)) END AS wasprice
				, class, [Product Type]
				, sortOrder
				, config_type 
			FROM cross_sell_cache_at_cart 
			WHERE [input sku] = @insku	
				AND ISNULL(SMI,'') = CASE WHEN SMI IS NULL THEN '' ELSE @insmi END
			ORDER BY sortOrder ASC
		END
END
	
GO
