/****** Object:  StoredProcedure [dbo].[s_get_conditionalcontenturls_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/6/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_conditionalcontenturls_records]
(
	  @ID INT = NULL
	, @cCGuid VARCHAR(50) = ''
	, @searchField VARCHAR(50) = '' --Site, URL, CCGUID
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ConditionalContentURLs] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [ConditionalContentURLs].
--##PD @searchField - The field to search on (Site, URL)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ConditionalContentURLs].

--DECLARE @totalRecords INT; EXEC s_get_conditionalcontenturls_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [SearchType] --Search Type|-3=Does not end with; -2=Does not start with; -1=Does not contain; 0=Exact match; 1=Contains; 2=Starts with; 3=Ends with; 
		,CASE ISNULL([SearchType],1) WHEN -3 THEN 'Does not end with' WHEN -2 THEN 'Does not start with' WHEN -1 THEN 'Does not contain' WHEN 0 THEN 'Exact match' WHEN 1 THEN 'Contains' WHEN 2 THEN 'Starts with' WHEN 3 THEN 'Ends with' ELSE 'Contains' END as [SearchTypeLabel]
		,[ID]
		,[CCGUID]
		,[Site]
		,[URL]
		,ISNULL([IsExclusion],0) as [IsExclusion]
		FROM [ConditionalContentURLs]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[ConditionalContentURLs]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [ConditionalContentURLs]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([Site],'') LIKE CASE WHEN @searchField = 'Site' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Site],'') END
		AND ISNULL([URL],'') LIKE CASE WHEN @searchField = 'URL' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([URL],'') END
		AND ISNULL([CCGUID],'') LIKE CASE WHEN @searchField = 'CCGUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CCGUID],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SearchType]
				,CASE ISNULL([SearchType],1) WHEN -3 THEN 'Does not end with' WHEN -2 THEN 'Does not start with' WHEN -1 THEN 'Does not contain' WHEN 0 THEN 'Exact match' WHEN 1 THEN 'Contains' WHEN 2 THEN 'Starts with' WHEN 3 THEN 'Ends with' ELSE 'Contains' END as [SearchTypeLabel]
				,[ID]
				,[CCGUID]
				,[Site]
				,[URL]
				,ISNULL([IsExclusion],0) as [IsExclusion]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Site' THEN [Site] WHEN 'URL' THEN [URL] END DESC) as RowNumber
				FROM [dbo].[ConditionalContentURLs]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Site],'') LIKE CASE WHEN @searchField = 'Site' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Site],'') END
				AND ISNULL([URL],'') LIKE CASE WHEN @searchField = 'URL' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([URL],'') END
				AND [CCGUID] = @cCGuid
				--AND ISNULL([CCGUID],'') LIKE CASE WHEN @searchField = 'CCGUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CCGUID],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SearchType]
				,CASE ISNULL([SearchType],1) WHEN -3 THEN 'Does not end with' WHEN -2 THEN 'Does not start with' WHEN -1 THEN 'Does not contain' WHEN 0 THEN 'Exact match' WHEN 1 THEN 'Contains' WHEN 2 THEN 'Starts with' WHEN 3 THEN 'Ends with' ELSE 'Contains' END as [SearchTypeLabel]
				,[ID]
				,[CCGUID]
				,[Site]
				,[URL]
				,ISNULL([IsExclusion],0) as [IsExclusion]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Site' THEN [Site] WHEN 'URL' THEN [URL] END) as RowNumber
				FROM [dbo].[ConditionalContentURLs]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Site],'') LIKE CASE WHEN @searchField = 'Site' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Site],'') END
				AND ISNULL([URL],'') LIKE CASE WHEN @searchField = 'URL' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([URL],'') END
				--AND ISNULL([CCGUID],'') LIKE CASE WHEN @searchField = 'CCGUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CCGUID],'') END
				AND [CCGUID] = @cCGuid
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
