/****** Object:  StoredProcedure [dbo].[Upsert_Magento_GradPack_Bundle_Details]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================


CREATE PROCEDURE [dbo].[Upsert_Magento_GradPack_Bundle_Details]
	@ProductID varchar(50),
	@ParentSKU varchar(50),
	@ParentProductType varchar(50),
	@ChildSKU varchar(50),
	@ChildTitle varchar(50),
	@ChildIsRequired varchar(50),
	@ChildPosition varchar(50),
	@CreatedOn varchar(50),
	@UpdatedOn varchar(50),
	@ChildTitleID integer,
	@bundle_child_title_position integer 

AS
BEGIN
    SET NOCOUNT ON;
	IF NOT EXISTS (SELECT * FROM [dbo].[Magento_GradPack_Bundle_Details] WHERE( [bundle_parent_sku] = @ParentSKU AND [bundle_child_sku] = @ChildSKU ))
		INSERT INTO [dbo].[Magento_GradPack_Bundle_Details]
					([product_id]
					,[bundle_parent_sku]
					,[bundle_parent_product_type]
					,[bundle_child_sku]
					,[bundle_child_title]
					,[bundle_child_is_required]
					,[bundle_child_position]
					,[created_at]
					,[updated_at]
					,[bundle_child_title_id]
					,[bundle_child_title_position])
			VALUES
					(@ProductID
					,@ParentSKU
					,@ParentProductType 
					,@ChildSKU 
					,@ChildTitle 
					,@ChildIsRequired
					,@ChildPosition
					,@CreatedOn
					,@UpdatedOn
					,@ChildTitleID 
					,@bundle_child_title_position)

	ELSE
		UPDATE [dbo].[Magento_GradPack_Bundle_Details]
		SET
			[product_id]					=	@ProductID,
			[bundle_parent_sku]				=	@ParentSKU,
			[bundle_parent_product_type]	=	@ParentProductType,
			[bundle_child_sku]				=	@ChildSKU,
			[bundle_child_title]			=	@ChildTitle,
			[bundle_child_is_required]		=	@ChildIsRequired,
			[bundle_child_position]			=	@ChildPosition,
			[created_at]					=	@CreatedOn,
			[updated_at]					=	@UpdatedOn,
			[bundle_child_title_id]			=	@ChildTitleID,
			[bundle_child_title_position]   =   @bundle_child_title_position

		WHERE
			( [bundle_parent_sku] = @ParentSKU AND [bundle_child_sku] = @ChildSKU )


    
END
GO
