/****** Object:  StoredProcedure [dbo].[s_promote_contentmainnav]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/28/2020
-- Description: Archives the curremt production record ([status] = 0), promotes the current QA record ([status] = 1) in [ContentMainNav] to production and creates a new QA record
-- =============================================
CREATE PROCEDURE [dbo].[s_promote_contentmainnav]
(
	@Debugging BIT = 0
)
AS
--EXEC [dbo].[s_promote_contentmainnav]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	IF @Debugging = 0
		BEGIN
			DECLARE @GUID VARCHAR(50)/*GUID of new QA record*/, @OldGUID VARCHAR(50) /*GUID of old QA record*/
			--Archive the production record
			UPDATE [dbo].[ContentMainNav] SET [Status] = 2, [Notes] = 'This record archived ' + FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy hh:mm tt') WHERE [Status] = 0
			

			--Get the GUID of current QA record because we want to duplicate the details for the new QA record
			SELECT @OldGUID = [GUID] FROM [dbo].[ContentMainNav] WHERE [Status] = 1
			--Promote the QA record
			UPDATE [dbo].[ContentMainNav] SET [Status] = 0, [Notes] = 'This record promoted to production ' + FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy hh:mm tt') WHERE [Status] = 1

			--Create a new QA record
			INSERT INTO [dbo].[ContentMainNav] ([_mainNavMobileCarousel], [_mainNavMobileMenu], [_schoolShopBox], [mainNavBrands], [mainNavGraduation], [mainNavRings], [mainNavTeams], [mainNavUpperHeader], [mainNavYearbooks], [mobileNavBrands], [mobileNavGraduation], [mobileNavRings], [mobileNavSchoolsearch], [mobileNavTeams], [mobileNavYearbooks], [mobileNavShopAll], [seasonalLinkOne], [seasonalLinkTwo], [alertPromoBar], [_shopAllResponsiveLinks], [Status], [CreatedDTM], [LastModifiedDTM], [GUID], [Notes])
			SELECT [_mainNavMobileCarousel], [_mainNavMobileMenu], [_schoolShopBox], [mainNavBrands], [mainNavGraduation], [mainNavRings], [mainNavTeams], [mainNavUpperHeader], [mainNavYearbooks], [mobileNavBrands], [mobileNavGraduation], [mobileNavRings], [mobileNavSchoolsearch], [mobileNavTeams], [mobileNavYearbooks], [mobileNavShopAll], [seasonalLinkOne], [seasonalLinkTwo], [alertPromoBar], [_shopAllResponsiveLinks], 1 as [Status], GETDATE(), GETDATE(), NEWID()
			,'This record copied from GUID ' + @OldGUID
			FROM [dbo].[ContentMainNav] 
			WHERE [Status] = 0
			--Get the GUID of the new QA record
			SELECT @GUID = [GUID] FROM [dbo].[ContentMainNav] WHERE [Status] = 1
	
			
			INSERT INTO [dbo].[ContentMainNavDetails] ([ContentMainNavGUID], [GUID], [ItemName], [HTMLContent], [LastModified], [ModifiedBy])
			SELECT @GUID as [ContentMainNavGUID], NEWID() as [GUID], [ItemName], [HTMLContent], GETDATE() as [LastModified], [ModifiedBy]
			FROM [dbo].[ContentMainNavDetails] WHERE [ContentMainNavGUID] = @OldGUID
		END
	SELECT 'QA main nav promoted to production.  It could be up to an hour before the cache clears. ' + CASE WHEN @Debugging = 1 THEN '(Running in debug mode so nothing really happened.)' ELSE '' END

END
GO
