/****** Object:  StoredProcedure [dbo].[proc_get_ns_contemporary_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 1/27/2020 - HT
*/
CREATE PROCEDURE [dbo].[proc_get_ns_contemporary_orders_records]

AS
 
SET NOCOUNT ON
 
	 
SELECT o.OrderNumber AS [Order No] 
, o.ExtSalesId 
, o.OrderDate AS [Order Date]
, o.BillingName AS [Customer Name]
, LEFT(id.Item,8) AS SKU
, id.Item  
, i.name AS [Product Name]
, id.Amount [Product Total]
FROM NetsuiteSalesOrders o WITH (NOLOCK) 
INNER JOIN NetsuiteSalesOrderDetails id WITH (NOLOCK) ON id.DocumentNumber = o.OrderNumber 
INNER JOIN Item i WITH (NOLOCK) ON LEFT(id.Item,8) = i.sku
INNER JOIN itemattributes ia WITH (NOLOCK) ON ia.itemid = i.id AND ia.tagtype = 'a_pbprodfamid' and ia.tagvalue IN (56,59,60,61)
 --WHERE o.OrderNumber IN (124389, 117725)
--INNER JOIN Contemporary_Stationery_Item ci WITH (NOLOCK) ON ci.Sku = LEFT(i.Item,8)  -- using this from marketing db proc_generate_contemporary_items which is imported into Power BI
ORDER BY o.OrderDate DESC

----A0156502	A0156502A0001
----A0193248	A0193248A0010



----select * from itemattributes ia 
----join item i on  ia.itemid = i.id
----where tagtype = 'a_pbprodfamid' and tagvalue IN (56,59,60,61) and sku in ('A0156502','A0193248')
----and itemid in ('ITEM125715992', 'ITEM126175990')


----select top 100 * from item where sku in ('A0156502','A0193248')
----select top 100 * from itemattributes ia 

--select * from MAGE_sales_order_item where order_id = '899857' -- sku in  ('A0156502','A0193248')

--select * from MAGE_Sales_Order where increment_id = '000968883'
GO
