/****** Object:  StoredProcedure [dbo].[s_update_contentaffinityschoolmessages_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/8/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_contentaffinityschoolmessages_record]
(
 @ID INT = NULL
,@messageImage VARCHAR(8000) = NULL
,@messageLink VARCHAR(200) = NULL
,@messageLinkNewTab BIT = NULL
,@messageText VARCHAR(500) = NULL
,@messageTextTitle VARCHAR(200) = NULL
,@SMI BIGINT = NULL
,@Sort_Order INT = NULL
,@StartDate VARCHAR(50) = NULL
,@EndDate VARCHAR(50) = NULL
,@Published BIT = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [ContentAffinitySchoolMessages].
--##RS1 The [ID] value of the inserted/updated record in the table [ContentAffinitySchoolMessages].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
	--Get the next one in the sort order
	SET @Sort_Order = 1
	SELECT @Sort_Order = MAX([Sort_Order])+1 FROM [dbo].[ContentAffinitySchoolMessages] WHERE [SMI] = @SMI
    INSERT INTO [ContentAffinitySchoolMessages] ( [messageText],[SMI],[Sort_Order],[messageLinkNewTab],[messageLink],[messageImage],[messageTextTitle],[published],[StartDate],[EndDate])
       VALUES ( @messageText,@SMI,ISNULL(@Sort_Order,1),@messageLinkNewTab,@messageLink,@messageImage,@messageTextTitle,CAST(0 AS BIT),GETDATE(),DateAdd(year,30,GETDATE()))
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [ContentAffinitySchoolMessages] SET
     [messageText] = CASE WHEN @messageText IS NULL THEN [messageText] ELSE @messageText END
    ,[SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[Sort_Order] = CASE WHEN @Sort_Order IS NULL THEN [Sort_Order] ELSE @Sort_Order END
    ,[messageLinkNewTab] = CASE WHEN @messageLinkNewTab IS NULL THEN [messageLinkNewTab] ELSE @messageLinkNewTab END
    ,[messageLink] = CASE WHEN @messageLink IS NULL THEN [messageLink] ELSE @messageLink END
    ,[messageImage] = CASE WHEN @messageImage IS NULL THEN [messageImage] ELSE @messageImage END
    ,[messageTextTitle] = CASE WHEN @messageTextTitle IS NULL THEN [messageTextTitle] ELSE @messageTextTitle END
	,[startdate] = CASE WHEN ISNULL(@StartDate,'') = '' THEN [startdate] ELSE dbo.fn_DateTime_To_Zulu(CAST(@StartDate AS DATETIME)) END
	,[enddate] = CASE WHEN ISNULL(@EndDate,'') = '' THEN [enddate] ELSE dbo.fn_DateTime_To_Zulu(CAST(@EndDate as DATETIME)) END
	,[published] = CASE WHEN @Published IS NULL THEN [published] ELSE @Published END
	WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [messageText]
,[SMI]
,[Sort_Order]
,[messageLinkNewTab]
,[messageLink]
,[messageImage]
,[ID]
,[messageTextTitle]
,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([StartDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [StartDate]
,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([EndDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [EndDate]
,ISNULL([Published],CAST(0 AS BIT)) as [Published]

FROM dbo.[ContentAffinitySchoolMessages]
WHERE [ID] = @ID_Out
GO
