/****** Object:  StoredProcedure [dbo].[s_xml_mapping_sales_order_item_file_for_silverpop]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 06/24/2020
-- Description: generate xml mapping file for Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_xml_mapping_sales_order_item_file_for_silverpop]  
 
AS
-- exec [s_xml_mapping_file_for_silverpop]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @columns VARCHAR(MAX)
	DECLARE @mapping VARCHAR(MAX)

	SELECT  @columns = STRING_AGG( '<COLUMN><NAME>' + COLUMN_NAME + '</NAME>' + 
			'<TYPE>' + CASE WHEN DATA_TYPE = 'datetime' THEN '3' WHEN DATA_TYPE = 'bit' THEN '1' WHEN DATA_TYPE = 'nvarchar' OR DATA_TYPE = 'varchar' THEN '0' ELSE '2' END + '</TYPE>' + 
			'<IS_REQUIRED>true</IS_REQUIRED><HASHEADERS>true</HASHEADERS></COLUMN>', '') FROM  INFORMATION_SCHEMA.COLUMNS
	WHERE TABLE_NAME = 'MAGE_sales_order_item' AND COLUMN_NAME IN ('item_id', 'order_id', 'quote_item_id', 'created_at', 'updated_at', 'product_id', 'product_type', 'sku', 'name', 'description', 'qty_ordered', 'price')
	--SELECT @mapping = STRING_AGG( '<COLUMN><INDEX>' + CAST(ORDINAL_POSITION AS VARCHAR) + '</INDEX><NAME>' +  COLUMN_NAME + '</NAME>' + '<IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>', '') 
	--		FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'quote_item' AND COLUMN_NAME IN ('item_id', 'quote_id', 'created_at', 'updated_at', 'product_id', 'parent_item_id', 'sku', 'name', 'description', 'qty', 'price', 'product_type')
	SET @mapping = '<COLUMN><INDEX>1</INDEX><NAME>item_id</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>2</INDEX><NAME>order_id</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>3</INDEX><NAME>quote_item_id</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>4</INDEX><NAME>created_at</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>5</INDEX><NAME>updated_at</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>6</INDEX><NAME>product_id</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>7</INDEX><NAME>product_type</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>8</INDEX><NAME>sku</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>9</INDEX><NAME>name</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>10</INDEX><NAME>description</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>11</INDEX><NAME>qty_ordered</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN> <COLUMN>
		<INDEX>12</INDEX><NAME>price</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>'
	SELECT CONCAT('<?xml version="1.0" encoding="UTF-8"?>
		<TABLE_IMPORT><TABLE_INFO><ACTION>ADD_AND_UPDATE</ACTION><TABLE_ID>33399831</TABLE_ID><TABLE_VISIBILITY>1</TABLE_VISIBILITY><FILE_TYPE>1</FILE_TYPE><HASHEADERS>true</HASHEADERS></TABLE_INFO>
			<COLUMNS>', @columns,
			'</COLUMNS>
			<MAPPING>', @mapping, 
			'</MAPPING>
		</TABLE_IMPORT>') AS xml
END
 


 --SELECT   COLUMN_NAME  ,DATA_TYPE,
	--		  CASE WHEN DATA_TYPE = 'datetime' THEN '3' WHEN DATA_TYPE = 'bit' THEN '1' WHEN DATA_TYPE = 'nvarchar' OR DATA_TYPE = 'varchar' THEN '0' ELSE '2' END  
	--		 FROM  INFORMATION_SCHEMA.COLUMNS
	--WHERE TABLE_NAME = 'quote_item' AND COLUMN_NAME IN ('item_id', 'quote_id', 'created_at', 'updated_at', 'product_id', 'parent_item_id', 'sku', 'name', 'description', 'qty', 'price', 'product_type')

 --SELECT   COLUMN_NAME  ,DATA_TYPE
	--		 FROM  INFORMATION_SCHEMA.COLUMNS
	--WHERE TABLE_NAME = 'MAGE_sales_order_item' AND COLUMN_NAME 	 IN ('item_id', 'order_id', 'quote_item_id', 'created_at', 'updated_at', 'product_id', 'product_type', 'sku', 'name', 'description', 'qty_ordered', 'price')

	--SELECT  COLUMN_NAME  ,DATA_TYPE,
	--		  CASE WHEN DATA_TYPE = 'datetime' THEN '3' WHEN DATA_TYPE = 'bit' THEN '1' WHEN DATA_TYPE = 'nvarchar' OR DATA_TYPE = 'varchar' THEN '0' ELSE '2' END  
	--		 FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'quote' AND COLUMN_NAME IN ('entity_id', 'store_id', 'created_at', 'updated_at', 'customer_id', 'customer_email', 'customer_firstname', 'customer_lastname')
	
GO
