/****** Object:  StoredProcedure [dbo].[get_orders_count]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[get_orders_count]
AS
BEGIN
    SET NOCOUNT ON
    
select 'ARC' as 'Source',
(select 
 sum(Order_Quantity)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date = DATEADD(day, -1, CAST(GETDATE() AS date))) as 'Yesterday_Count',
(
 select sum(Order_Quantity)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date = DATEADD(day, -2, CAST(GETDATE() AS date))) as 'DayBeforeYesterday_Count',
 (
 select ROUND(CAST(sum(Order_Total) as varchar),0)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date = DATEADD(day, -1, CAST(GETDATE() AS date))) as 'Yesterday_Cost',
(
 select ROUND(CAST(sum(Order_Total) as varchar),0)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date = DATEADD(day, -2, CAST(GETDATE() AS date))) as 'DayBeforeYesterday_Cost',
(select 
 sum(Order_Quantity)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date = DATEADD(Day, -1, cast( DATEADD(year, -1, getdate()) as Date  ))) as 'YOY_Orders',
(
 select ROUND(CAST(sum(Order_Total) as varchar),0)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date =  DATEADD(Day, -1, cast( DATEADD(year, -1, getdate()) as Date  ))) as 'YOY_Amount',
  (select 
 sum(Order_Quantity)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date =  CAST(GETDATE() AS date)) as 'Today_Orders',
(
 select ROUND(CAST(sum(Order_Total) as varchar),0)
 FROM [dbo].[ARC_Orders]
 where Order_Received_Date =   CAST(GETDATE() AS date)) as 'Today_Amount'
 
 
 union

 select 'Netsuite' as 'Source',
( SELECT
  count(GrandTotal)
  FROM [dbo].[NetsuiteSalesOrders]
 where convert(varchar, OrderDate, 23) = DATEADD(day, -1, CAST(GETDATE() AS date))) as 'Yesterday_Count',
(
 SELECT
  count(GrandTotal)
  FROM [dbo].[NetsuiteSalesOrders]
  where convert(varchar, OrderDate, 23) = DATEADD(day, -2, CAST(GETDATE() AS date))) as 'DayBeforeYesterday_Count',
  (
 SELECT
CAST(ROUND(SUM(CAST(GrandTotal as float)),2) as varchar) 
  FROM [dbo].[NetsuiteSalesOrders]
  where convert(varchar, OrderDate, 23) = DATEADD(day, -1, CAST(GETDATE() AS date))) as 'Yesterday_Cost',
  (
 SELECT
CAST(ROUND(SUM(CAST(GrandTotal as float)),2) as varchar) 
  FROM [dbo].[NetsuiteSalesOrders]
  where convert(varchar, OrderDate, 23) = DATEADD(day, -2, CAST(GETDATE() AS date))) as 'DayBeforeYesterday_Cost',
  ( SELECT
  count(GrandTotal)
  FROM [dbo].[NetsuiteSalesOrders]
 where convert(varchar, OrderDate, 23) = DATEADD(Day, -1, cast( DATEADD(year, -1, getdate()) as Date  ))) as 'YOY_Orders',
    (
 SELECT
CAST(ROUND(SUM(CAST(GrandTotal as float)),2) as varchar) 
  FROM [dbo].[NetsuiteSalesOrders]
  where convert(varchar, OrderDate, 23) = DATEADD(Day, -1, cast( DATEADD(year, -1, getdate()) as Date  ))) as 'YOY_Amount',
   ( SELECT
  count(GrandTotal)
  FROM [dbo].[NetsuiteSalesOrders]
 where convert(varchar, OrderDate, 23) = CAST(GETDATE() AS date)) as 'Today_Orders',
    (
 SELECT
CAST(ROUND(SUM(CAST(GrandTotal as float)),2) as varchar) 
  FROM [dbo].[NetsuiteSalesOrders]
  where convert(varchar, OrderDate, 23) = CAST(GETDATE() AS date)) as 'Today_Amount'
  
  FOR JSON PATH



END
GO
