/****** Object:  StoredProcedure [dbo].[s_queue_email]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 09-11-2019
-- Description: sproc to queue emails
-- =============================================
CREATE PROCEDURE [dbo].[s_queue_email]
(
      @Email_Name VARCHAR(100) = ''
	, @Entity VARCHAR(100) = 'balfour'
	, @Service VARCHAR(50) = 'Silverpop'
	, @Description VARCHAR(100) = ''
	, @pod INT = NULL
	, @oAuthClientId NVARCHAR(100) = NULL
	, @oAuthClientSecret NVARCHAR(100) = NULL
	, @oAuthRefreshToken NVARCHAR(100) = NULL
	, @campaignID NVARCHAR(50) = NULL
	, @emailAddresses NVARCHAR(200) = NULL
	, @rawData NVARCHAR(MAX) = ''
	, @template NVARCHAR(MAX) = NULL
	, @connString NVARCHAR(200) = NULL
	, @Host_Info NVARCHAR(MAX) = ''
	, @Batch_ID VARCHAR(50) = NULL
	, @ID BIGINT OUT
)
AS
--EXEC s_get_email_parameters 'orderconfirm'
--EXEC s_get_email_parameters 'recipients'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SET @ID = 0
	IF @Email_Name = 'addcontact' 
		BEGIN
			SET @Email_Name = 'recipients'
			SET @Description = LTRIM(RTRIM(@Description + '  (Converted from addcontacts call from Magento)'))
			SET @rawData = '{"action":"optin"}'
		END
	--For the Auth fields and the template, if any of the parameters are null, pull the values from EmailJobs
	IF @pod IS NULL SELECT @pod = [pod] FROM [dbo].[EmailJobs] WHERE [Email_Name] = @Email_Name AND [Entity] = @Entity  AND [Service] = 'Silverpop'
	IF @oAuthClientId IS NULL SELECT @oAuthClientId = [dbo].[fn_DString]([oAuthClientId]) FROM [dbo].[EmailJobs] WHERE [Email_Name] = @Email_Name AND [Entity] = @Entity  AND [Service] = 'Silverpop'
	IF @oAuthClientSecret IS NULL SELECT @oAuthClientSecret = [dbo].[fn_DString]([oAuthClientSecret]) FROM [dbo].[EmailJobs] WHERE [Email_Name] = @Email_Name AND [Entity] = @Entity AND [Service] = 'Silverpop'
	IF @oAuthRefreshToken IS NULL SELECT @oAuthRefreshToken = [dbo].[fn_DString]([oAuthRefreshToken]) FROM [dbo].[EmailJobs] WHERE [Email_Name] = @Email_Name AND [Entity] = @Entity  AND [Service] = 'Silverpop'
	IF @campaignID IS NULL SELECT @campaignID = [dbo].[fn_DString]([campaignID]) FROM [dbo].[EmailJobs] WHERE [Email_Name] = @Email_Name AND [Entity] = @Entity  AND [Service] = 'Silverpop'
	IF @template IS NULL SELECT @template = [template] FROM [dbo].[EmailJobs] WHERE [Email_Name] = @Email_Name AND [Entity] = @Entity  AND [Service] in ('Silverpop', 'Twilio')

	DECLARE @DefaultService varchar(255) = 'Silverpop'

	IF @Service = @DefaultService
		BEGIN
			IF ISNULL((SELECT COUNT(*) FROM emailjobs WHERE email_name = @Email_Name), 0) = 1
				BEGIN
					SELECT @Service = (SELECT TOP 1 [service] from emailjobs where email_name = @Email_Name)
				END
		END

	IF ISNULL(@oAuthClientId,'') <> '' SET @oAuthClientId = [dbo].[fn_EString](@oAuthClientId)
	IF ISNULL(@oAuthClientSecret,'') <> '' SET @oAuthClientSecret = [dbo].[fn_EString](@oAuthClientSecret)
	IF ISNULL(@oAuthRefreshToken,'') <> '' SET @oAuthRefreshToken = [dbo].[fn_EString](@oAuthRefreshToken)
	IF ISNULL(@campaignID,'') <> '' SET @campaignID = [dbo].[fn_EString](@campaignID)
	--IF ISNULL(@emailAddresses,'') <> '' SET @emailAddresses = [dbo].[fn_EString](@emailAddresses)
	IF ISNULL(@connString,'') <> '' SET @connString = [dbo].[fn_EString](@connString)

	DECLARE @balfourTeamShopBaseUrl VARCHAR(255) = 'https://www.balfour.com/shop/collections/ncaa-shop?pim_a_licensetype=2509&openTeamPickerModal=1'
	DECLARE @linebreak char(2) = CHAR(13) + CHAR(10)
	DECLARE @balfourTeamShopUrlChar CHAR(1) = '?'

	IF @Email_Name = 'eGifting' AND @Entity = 'balfour'
		BEGIN
			DECLARE @eGiftSenderEmail varchar(255)
			SELECT @eGiftSenderEmail = [value]
			FROM OPENJSON(@rawData)
			WHERE [key] = 'OtherEmail'

			DECLARE @ringLink varchar(500)

			SELECT @ringLink = [value]
			FROM OPENJSON(@rawData)
			WHERE [key] = 'RingLink'

			SET @RingLink = @RingLink + '&pem=' + replace(@eGiftSenderEmail, '@', '%40') + '&rem=' + replace(@emailAddresses, '@', '%40')

			SET @rawData = JSON_MODIFY(@rawData, '$.RingLink', @RingLink)
			SET @rawData = JSON_MODIFY(@rawData, '$.Type', 'Design')
			SET @rawData = JSON_MODIFY(@rawData,'$.ExpirationDate',format(dateadd(d, 30, getutcdate()), 'MM/dd/yyyy')) 
			SET @rawData = JSON_MODIFY(@rawData, '$.HasDesigned', 0)
			SET @rawData = JSON_MODIFY(@rawData, '$.HasPurchased', 0)

			DECLARE @eGiftSenderOptIn bit = 0

			-- check to see if the sender opted in
			-- this is stored in the Sender_Opt_In field in the @rawData JSON
			BEGIN TRY
				SELECT @eGiftSenderOptIn = CASE WHEN [value] = 'true' THEN 1 ELSE 0 END 
				FROM OpenJson(@rawData)
				WHERE [key] = 'EmailConsent'
			END TRY
			BEGIN CATCH

			END CATCH

			IF @eGiftSenderOptIn = 1
				BEGIN
					DECLARE @eGiftAdditionalOptInRawData varchar(255) = '{"action":"optin"}'

					DECLARE @eGiftOptInCampaignID NVARCHAR(50) = NULL

					SELECT @eGiftOptInCampaignID = [dbo].[fn_DString]([campaignID]) FROM [dbo].[EmailJobs] WHERE [Email_Name] = 'recipients' AND [Entity] = @Entity  AND [Service] = 'Silverpop'
					IF ISNULL(@eGiftOptInCampaignID,'') <> '' SET @eGiftOptInCampaignID = [dbo].[fn_EString](@eGiftOptInCampaignID)
								
					-- queue up the optin
					INSERT INTO [dbo].[EmailJobs_Queue] ([campaignID],[Email_Name],[Entity],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[emailAddresses],[rawData],[template],[connString],[host_info],[batch_id],[Service])
					VALUES (@eGiftOptInCampaignID,'recipients',@Entity,'Auto-inserted SilverPop subscribe',@pod,@oAuthClientId,@oAuthClientSecret,@oAuthRefreshToken,@eGiftSenderEmail,@eGiftAdditionalOptInRawData,@template,@connString,@Host_Info,@Batch_ID,'SilverPop')
				END
		END
	IF @Email_Name = 'eGiftingPurchaser' AND @Entity = 'balfour'
		BEGIN
			SET @rawData = JSON_MODIFY(@rawData, '$.Type', 'Purchase')
			SET @rawData = JSON_MODIFY(@rawData,'$.ExpirationDate',format(dateadd(d, 30, getutcdate()), 'MM/dd/yyyy')) 
			SET @rawData = JSON_MODIFY(@rawData, '$.HasDesigned', 1)
			SET @rawData = JSON_MODIFY(@rawData, '$.HasPurchased', 0)

			-- also need to generate an UpdateRecipient API requst to SilverPop for the eGifting Recipient
			DECLARE @updateEmail varchar(100)

			SELECT @updateEmail = [value]
			FROM OPENJSON(@rawData)
			WHERE [key] = 'OtherEmail'

			-- got to look like an email in order to update SilverPop
			IF @updateEmail like '%@%'
				BEGIN
					DECLARE @updateCID varchar(50)

					SELECT @updateCID = [value]
					FROM OPENJSON(@rawData)
					WHERE [key] = 'CID'

					DECLARE @updateRingLink varchar(500)

					SELECT @updateRingLink = [value]
					FROM OPENJSON(@rawData)
					WHERE [key] = 'RingLink'

					SET @updateRingLink = @updateRingLink + '&pem=' + replace(@emailAddresses, '@', '%40') + '&rem=' + replace(@updateEmail, '@', '%40')
					SET @rawData = JSON_MODIFY(@rawData, '$.RingLink', @updateRingLink)

					DECLARE @updateCampaignID int = (select dbo.fn_DString(campaignID) from emailjobs where email_name = 'eGiftingUpdate')

					DECLARE @updateRawData varchar(max) = ''
					SET @updateRawData = '{ "Type": "Design", "HasDesigned":1, "CID":"' + @updateCID + '"}' 

					/* SilverPop notes that we can't update a record in Transact and we will have to try another solution
					INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],[emailAddresses],[rawData],[template],[connString],[host_info],[batch_id],[Service])
					VALUES ('eGiftingUpdate',@Entity,'',@pod,@oAuthClientId,@oAuthClientSecret,@oAuthRefreshToken,@updateCampaignID,@updateEmail,@UpdateRawData,'',@connString,@Host_Info,@Batch_ID,'silverpopntupdate')
					*/
				END
		END

	IF @Email_Name = 'eGiftingSMS' AND @Entity = 'balfour'
		BEGIN
			DECLARE @ringImage VARCHAR(255)

			SELECT @ringImage = [value]
			FROM OPENJSON(@rawData)
			WHERE [key] = 'RingImageLink'

			DECLARE @eGiftSMSSenderEmail varchar(255)
			SELECT @eGiftSMSSenderEmail = [value]
			FROM OPENJSON(@rawData)
			WHERE [key] = 'OtherEmail'

			DECLARE @ringLinkSMS varchar(500)

			SELECT @ringLinkSMS = [value]
			FROM OPENJSON(@rawData)
			WHERE [key] = 'RingLink'

			SET @ringLinkSMS = @ringLinkSMS + '&pem=' + replace(@eGiftSMSSenderEmail, '@', '%40') + '&rem=' + replace(@emailAddresses, '@', '%40')
			
			SET @rawData = JSON_MODIFY(@rawData, '$.RingLink', @ringLinkSMS)
			-- smsImages is an array of URLs that should be attached to the MMS text message
			SET @rawData = JSON_MODIFY(@rawData, '$.smsImages', JSON_QUERY('["' + 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/icons/magento/A_Gift_For_You_2.jpg' + '"]'))
		END

	IF @Email_Name = '20percentshare' AND @Entity = 'balfour'
		BEGIN
			-- whether this is an email or SMS request is stored in the JSON
			SELECT @Service = CASE WHEN [value] = 'text' or [value] = 'sms' THEN 'Twilio' ELSE 'Silverpop' END
			FROM OPENJSON(@rawData)
			WHERE [key] = 'shareMode'

			IF @Service = 'Twilio'
				BEGIN
					SET @template = '%%fromName%% has gifted you 20% off at the Balfour Team Shop! Use code %%promoCode%% now at %%promoCodeUrl%%. Exp. In 30 days.' + @linebreak + @linebreak + 'This is a one-time txt msg. Msg and data rates may apply.'
					
					SET @rawData = JSON_MODIFY(@rawData, '$.smsImages', JSON_QUERY('["https://edge.prod.cdn.aac-e.com/prod/img/balfour/icons/magento/Text_20-OFF_Promotion.jpg"]'))
				END

			/* BEGIN GENERAL MODIFICATIONS TO RAWDATA THAT IS SHARED BY BOTH 20PERCENTSHARE AND 20PERCENTSENDER */
			SELECT @balfourTeamShopBaseUrl = [value] FROM OPENJSON(@rawData) WHERE [key] = 'shareUrl'

			IF CHARINDEX('?', @balfourTeamShopBaseUrl) > 0
				BEGIN
					SET @balfourTeamShopUrlChar = '&'
				END

			-- the coupon code expiration date for the 20percentshare is auto-calculated
			SET @rawData = JSON_MODIFY(@rawData,'$.expirationDate',format(dateadd(d, 30, getutcdate()), 'MM/dd/yyyy')) 

			SET @rawData = JSON_MODIFY(@rawData,'$.isSharer', 0)
			/* END GENERAL MODIFICATIONS */

			DECLARE @shareRawData nvarchar(max) = @rawData

			DECLARE @sharePromoCodes nvarchar(max) = (SELECT [value] FROM OPENJSON(@shareRawData) WHERE [key] = 'sharePromoCode')
			DECLARE @relationship nvarchar(max) = (SELECT [value] FROM OPENJSON(@shareRawData) WHERE [key] = 'relationship')
			DECLARE @toName nvarchar(max) = (SELECT [value] FROM OPENJSON(@shareRawData) WHERE [key] = 'toName')

			DECLARE @emailCount int = (SELECT COUNT(*) from string_split(@emailAddresses, ';'))
			DECLARE @sharePromoCodeCount int = (SELECT COUNT(*) from string_split(@sharePromoCodes, ';'))
			DECLARE @relationshipCount int = (SELECT COUNT(*) from string_split(@relationship, ';'))
			DECLARE @toNameCount int = (SELECT COUNT(*) from string_split(@toName, ';'))

			DECLARE @count int = 0

			WHILE @count < @emailCount
				BEGIN
					DECLARE @thisRawData nvarchar(max) = @shareRawData

					DECLARE @thisEmail varchar(255) = (SELECT [value] FROM (SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 0)) as rowNum, [value] FROM string_split(@emailAddresses, ';')) as x WHERE rowNum = @count + 1)

					DECLARE @thisRelationship nvarchar(255) = 'other'
					DECLARE @thisPromoCode nvarchar(255) = ''
					DECLARE @thisToName nvarchar(255) = ''

					IF @sharePromoCodeCount >= @emailCount
						BEGIN
							SET @thisPromoCode = (SELECT [value] FROM (SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 0)) as rowNum, [value] FROM string_split(@sharePromoCodes, ';')) as x WHERE rowNum = @count + 1)
						END

					IF @relationshipCount >= @emailCount
						BEGIN
							SET @thisRelationship = (SELECT [value] FROM (SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 0)) as rowNum, [value] FROM string_split(@relationship, ';')) as x WHERE rowNum = @count + 1)
						END

					IF @toNameCount >= @emailCount
						BEGIN
							SET @thisToName = (SELECT [value] FROM (SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 0)) as rowNum, [value] FROM string_split(@toName, ';')) as x WHERE rowNum = @count + 1)
						END

					IF @thisPromoCode <> ''
						BEGIN
							SET @thisRawData = JSON_MODIFY(@thisRawData, '$.promoCodeUrl', @balfourTeamShopBaseUrl + @balfourTeamShopUrlChar + 'discount=' + @thisPromoCode)
							SET @thisRawData = JSON_MODIFY(@thisRawData, '$.promoCode', @thisPromoCode)
							SET @thisRawData = JSON_MODIFY(@thisRawData, '$.relationship', @thisRelationship)
							SET @thisRawData = JSON_MODIFY(@thisRawData, '$.toName', @thisToName)

							INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],[emailAddresses],[rawData],[template],[connString],[host_info],[batch_id],[Service])
							VALUES (@Email_Name,@Entity,@Description,@pod,@oAuthClientId,@oAuthClientSecret,@oAuthRefreshToken,@campaignID,@thisEmail,@thisRawData,@template,@connString,@Host_Info,@Batch_ID,@Service)	
						END
					ELSE
						BEGIN
							PRINT 'ERROR: Could not find a promo code for email address ' + @thisEmail
						END

					SET @count = @count + 1
				END
			END
	ELSE
		BEGIN
			INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],[emailAddresses],[rawData],[template],[connString],[host_info],[batch_id],[Service])
			VALUES (@Email_Name,@Entity,@Description,@pod,@oAuthClientId,@oAuthClientSecret,@oAuthRefreshToken,@campaignID,@emailAddresses,@rawData,@template,@connString,@Host_Info,@Batch_ID,@Service)
		END

	-- also need to create a separate record for the user that did the sharing
	IF @Email_Name = '20percentshare' AND @Entity = 'balfour'
		BEGIN
			IF @Service = 'Twilio'
				BEGIN
					SET @template = 'Here''s your coupon for 20% off your next purchase at the Balfour Team Shop! Use code %%promoCode%% now at %%promoCodeUrl%%. Exp. In 30 days.' + @linebreak + @linebreak + 'This is a one-time txt msg. Msg and data rates may apply.'
				END

			DECLARE @shareFromEmail varchar(250)
			DECLARE @sharePromoCode varchar(250)

			DECLARE @shareSenderCampaignID NVARCHAR(50) = NULL
			SELECT @shareSenderCampaignID = campaignID FROM [dbo].[EmailJobs] WHERE [Email_Name] = '20percentsharesender' AND [Entity] = @Entity  AND [Service] = @Service

			select @shareFromEmail = [value]
			from OPENJSON(@rawData)
			where [key] = CASE WHEN @Service = 'Twilio' THEN 'fromSmsnumber' ELSE 'fromEmail' END

			select @sharePromoCode = [value]
			from OPENJSON(@rawData)
			where [key] = 'promoCode'

			-- this is the individual who SHARED the promo with someone else
			SET @rawData = JSON_MODIFY(@rawData,'$.isSharer', 1) 

			SET @rawData = JSON_MODIFY(@rawData, '$.relationship', 'purchaser')

			SET @rawData = JSON_MODIFY(@rawData, '$.promoCodeUrl', @balfourTeamShopBaseUrl + @balfourTeamShopUrlChar + 'discount=' + @sharePromoCode)

			INSERT INTO [dbo].[EmailJobs_Queue] ([campaignID],[Email_Name],[Entity],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[emailAddresses],[rawData],[template],[connString],[host_info],[batch_id],[Service])
			VALUES (@shareSenderCampaignID,'20percentsharesender',@Entity,'Auto-inserted',@pod,@oAuthClientId,@oAuthClientSecret,@oAuthRefreshToken,@shareFromEmail,@rawData,@template,@connString,@Host_Info,@Batch_ID,@Service)
		END

	IF @Email_Name = 'recipients' AND @Entity = 'balfour'
		BEGIN
			SELECT @oAuthClientSecret = [oAuthClientSecret] FROM [dbo].[EmailJobs] WHERE [Email_Name] = 'recipients' AND [Entity] = 'balfour' AND [Service] = 'Bronto'
			--As of 08/19/2020 we stopped sending to Bronto
			--INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Description],[oAuthClientSecret],[emailAddresses],[rawData],[template],[connString],[host_info],[batch_id],[Service])
			--VALUES (@Email_Name,@Entity,'Auto-inserted Bronto subscribe',@oAuthClientSecret,@emailAddresses,@rawData,@template,@connString,@Host_Info,@Batch_ID,'Bronto')
		END

	-- special case for the shareuc email - the sender may be opting in
	IF @Email_Name = 'shareuc' AND @Entity = 'balfour'
		BEGIN
			DECLARE @senderOptIn bit = 0

			-- check to see if the sender opted in
			-- this is stored in the Sender_Opt_In field in the @rawData JSON
			BEGIN TRY
				SELECT @senderOptIn = CASE WHEN [value] = 'true' THEN 1 ELSE 0 END 
				FROM OpenJson(@rawData)
				WHERE [key] = 'emailConsent'
			END TRY
			BEGIN CATCH

			END CATCH

			-- the sender has opted in
			IF @senderOptIn = 1
				BEGIN
					DECLARE @additionalOptInRawData NVARCHAR(max)
					DECLARE @additionalOptInSMI NVARCHAR(20) = ''

					DECLARE @senderEmail NVARCHAR(max) = ''

					-- grab the sender's email address
					BEGIN TRY
						SELECT @senderEmail = [value]
						FROM OpenJson(@rawData)
						WHERE [key] = 'fromEmail'
					END TRY
					BEGIN CATCH
						
					END CATCH

					-- no point in trying to proceed if we couldn't get the sender's email
					IF @senderEmail IS NOT NULL AND @senderEmail <> ''
						BEGIN
							DECLARE @ringDesignLink NVARCHAR(max) = ''

							-- if possible, pass along the SMI
							BEGIN TRY
								-- extract the Ring_Design_Link from the @rawData JSON
								SELECT @ringDesignLink = [value]
								FROM OpenJson(@rawData)
								WHERE [key] = 'uCToken'

								-- extract the SMI query string parameter from the URL
								SELECT @additionalOptInSMI = [value] 
								FROM [fn_ParseQueryString](@ringDesignLink)
								WHERE UPPER([key]) = 'SMI'
							END TRY
							BEGIN CATCH

							END CATCH

							SET @additionalOptInRawData = '{"action":"optin","page":"uc"'

							-- only include the SMI if we were able to parse it correctly
							IF @additionalOptInSMI IS NOT NULL AND @additionalOptInSMI <> ''
								BEGIN
									SET @additionalOptInRawData = @additionalOptInRawData + ',"smi":"' + @additionalOptInSMI + '"'
								END

							SET @additionalOptInRawData = @additionalOptInRawData + '}'

							DECLARE @optInCampaignID NVARCHAR(50) = NULL

							SELECT @optInCampaignID = [dbo].[fn_DString]([campaignID]) FROM [dbo].[EmailJobs] WHERE [Email_Name] = 'recipients' AND [Entity] = @Entity  AND [Service] = 'Silverpop'
							IF ISNULL(@optInCampaignID,'') <> '' SET @optInCampaignID = [dbo].[fn_EString](@optInCampaignID)

							-- queue up the optin
							INSERT INTO [dbo].[EmailJobs_Queue] ([campaignID],[Email_Name],[Entity],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[emailAddresses],[rawData],[template],[connString],[host_info],[batch_id],[Service])
							VALUES (@optInCampaignID,'recipients',@Entity,'Auto-inserted SilverPop subscribe',@pod,@oAuthClientId,@oAuthClientSecret,@oAuthRefreshToken,@senderEmail,@additionalOptInRawData,@template,@connString,@Host_Info,@Batch_ID,'SilverPop')
						END
				END
		END

	SET @ID = SCOPE_IDENTITY()
END
GO
