/****** Object:  StoredProcedure [dbo].[s_normalize_magento_automated_product_dataset_optimized_v2]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 07/09/2019
-- Description: This flattens Included_SMI in [dbo].[magento_automated_product_dataset]
-- =============================================
CREATE PROCEDURE [dbo].[s_normalize_magento_automated_product_dataset_optimized_v2]
(
	 @DaysBack INT = -2
	,@Pipeline_Run_GUID VARCHAR(50) = ''
)
AS

--EXEC [dbo].[s_normalize_magento_automated_product_dataset_optimized] @DaysBack = -5--47 minutes
--EXEC [dbo].[s_normalize_magento_automated_product_dataset_optimized] @DaysBack = -2
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	--INSERT INTO dbo.[SQLLog] ([Key_Value],[Data]) VALUES ('s_normalize_magento_automated_product_dataset_optimized','Starting')
	IF @Pipeline_Run_GUID <> ''
		BEGIN
			INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - updating import table to clean up data') 
		END
    --***************************************** This takes about 20 minutes to complete **********************************************************
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Included SMI] = '' WHERE [Included SMI] = '\N'
	--UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Special Price - To Date] = NULL WHERE [Special Price - To Date] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Excluded SMI] = '' WHERE [Excluded SMI] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Vendor ID] = NULL WHERE [Vendor ID] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [UC ID] = NULL WHERE [UC ID] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Product_collection] = NULL WHERE [product_collection] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Category] = NULL WHERE [category] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [ParentSKU] = LEFT(ISNULL(SKU,''),8)



	CREATE TABLE #B2_Prod_ProductListing_Working(
		[Product ID] [float] NULL,
		[Included SMI] [varchar](MAX) NULL,
		[Excluded SMI] [nvarchar](255) NULL,
		[Exclusive SMI] [float] NULL,
		[ID] [INT] IDENTITY(1,1)
	) 

	CREATE TABLE #B2_Prod_ProductListing_Flat(
		[URL] VARCHAR(300),
		[Product ID] [float] NULL,
		[SKU] [nvarchar](255) NULL,
		[ParentSKU] VARCHAR(8) NULL,
		[Product Name] [nvarchar](255) NULL,
		[Product Type] [nvarchar](255) NULL,
		[config_type] [nvarchar](300) NULL,
		[Attribute Set] [nvarchar](255) NULL,
		[Category] [nvarchar](255) NULL,
		[Item Category] [nvarchar](255) NULL,
		[Enhanced Commerce] [nvarchar](255) NULL,
		[Retail Price] [float] NULL,
		[Special Price (% for bundles)] [float] NULL,
		[Special Price - Start Date] [datetime] NULL,
		[Special Price - To Date] [datetime] NULL,
		[Tax Class] [nvarchar](255) NULL,
		[Quantity in Stock] [decimal](12,4) NULL,
		[Stock maintenance] [nvarchar](255) NULL,
		[Included SMI] [varchar](MAX) NULL,
		[Excluded SMI] [varchar](255) NULL,
		[Exclusive SMI] [varchar](255) NULL,
		[Vendor Id] [nvarchar](255) NULL,
		[UC ID] [nvarchar](255) NULL,
		[Delivery Method] [nvarchar](255) NULL,
		[product_collection] [varchar](4000) NULL,
		[Visibility] [nvarchar](255) NULL,
		[Status] [nvarchar](255) NULL,
		[Created On] [datetime] NULL,
		[Updated On] [datetime] NULL,
		[Category ID] [nvarchar](500) NULL,
		[ID] [INT] IDENTITY(1,1)
	) 

	IF @Pipeline_Run_GUID <> ''
		BEGIN
			INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - inserting records into #B2_Prod_ProductListing_Working  and indexing') 
		END
	INSERT INTO #B2_Prod_ProductListing_Working ([Product ID],[Included SMI],[Excluded SMI],[Exclusive SMI])
	SELECT [Product ID],replace([Included SMI], char(13) + char(10), ''),replace([Excluded SMI], char(13) + char(10), ''),[Exclusive SMI] 
	FROM [dbo].[magento_automated_product_dataset_import] 
	WHERE [Updated On] >= DATEADD(day,@DaysBack,GETDATE())

	CREATE NONCLUSTERED INDEX [ndx_Product_ID]
	ON [dbo].[#B2_Prod_ProductListing_Working] ([Product ID])

	DECLARE @Max INT, @ID INT, @Product_ID FLOAT, @Included_SMI NVARCHAR(255), @Current INT, @Orig VARCHAR(255), @Val VARCHAR(255), @OrigCnt INT, @Class VARCHAR(800), @ItemID VARCHAR(20), @Loop INT, @Max1 INT
	DECLARE @Values TABLE ([Product ID] FLOAT, [Value] VARCHAR(50))

	SELECT @OrigCnt = COUNT(*) FROM [dbo].[magento_automated_product_dataset]

	SELECT @Max = MAX([ID]) FROM #B2_Prod_ProductListing_Working
	IF @Pipeline_Run_GUID <> ''
		BEGIN
			INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - parsing #B2_Prod_ProductListing_Working - ' + CAST(@Max as VARCHAR(15)) + ' rows') 
		END
	SET @ID = 1
	SET @Current = 0
	WHILE @ID <= @Max
		BEGIN
			SET @Current = @Current + 1
			IF @Current = 1000
				BEGIN
					--PRINT 'Working with row ' + CAST(@ID AS VARCHAR(15)) + ' of ' + CAST(@Max AS VARCHAR(15)) + ' ******************************************************'
					SET @Current = 0
				END
			SELECT @Product_ID = [Product ID], @Included_SMI = [Included SMI] FROM #B2_Prod_ProductListing_Working WHERE [ID] = @ID
			--[Included SMI] may be a comma-delimited list so flatten it
		
			IF CHARINDEX(',',@Included_SMI) > 0
				BEGIN
					DELETE FROM @Values
					INSERT INTO @Values ([Product ID],[Value])
					SELECT @Product_ID, value FROM  STRING_SPLIT(ISNULL(@Included_SMI,''),',')
					INSERT INTO #B2_Prod_ProductListing_Flat ([URL],[Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [config_type], [Attribute Set], [Category], [Category ID], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
					SELECT PLI.[URL],V.[Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [config_type], [Attribute Set], [Category], [Category ID], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], V.Value, [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
					FROM @Values V
					LEFT JOIN [dbo].[magento_automated_product_dataset_import] PLI ON PLI.[Product ID] = V.[Product ID]
					--SET @Orig = @Included_SMI
					--WHILE @Orig <> ''
					--	BEGIN
					--	    IF CHARINDEX(',',@Orig) > 0
					--			SET @Val = LEFT(@Orig,CHARINDEX(',',@Orig))
					--		ELSE
					--			SET @Val = @Orig
					--		SET @Orig = LTRIM(RTRIM(REPLACE(@Orig,@Val,'')))
					--		SET @Val = LTRIM(RTRIM(REPLACE(@Val,',','')))
					--		INSERT INTO #B2_Prod_ProductListing_Flat ([Product ID], [SKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
					--		SELECT [Product ID], [SKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], @Val, [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
					--		FROM [dbo].[magento_automated_product_dataset_import]  
					--		WHERE [Product ID] = @Product_ID
					--	END
				
				END
			ELSE
				INSERT INTO #B2_Prod_ProductListing_Flat ([URL],[Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [config_type], [Attribute Set], [Category], [Category ID], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
				SELECT [URL],[Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [config_type], [Attribute Set], [Category], [Category ID], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], @Included_SMI, [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
				FROM [dbo].[magento_automated_product_dataset_import]  
				WHERE [Product ID] = @Product_ID
			SET @ID = @ID + 1
		END
	
	

	SELECT @Max = COUNT(*) FROM #B2_Prod_ProductListing_Flat
	IF @Max > 0--= @OrigCnt
		BEGIN

			IF @Pipeline_Run_GUID <> ''
				BEGIN
					INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - doing a selective update of magento_automated_product_dataset') 
				END

			--[11/25/2019] TL - Do a selective update
			UPDATE [dbo].[magento_automated_product_dataset]
			SET [URL] = PL.[URL], [Updated On] = PL.[Updated On], [Product ID] = PL.[Product ID], [ParentSKU] = PL.[ParentSKU] ,[Product Name] =PL.[Product Name], 
			[Product Type] = PL.[Product Type], [config_type] = PL.[config_type], [Attribute Set] = PL.[Attribute Set], [Category] = PL.[Category], [Item Category] = PL.[Item Category], 
			[Enhanced Commerce] = PL.[Enhanced Commerce], [Retail Price] = PL.[Retail Price], [Special Price (% for bundles)] = PL.[Special Price (% for bundles)], 
			[Special Price - Start Date] = PL.[Special Price - Start Date], [Special Price - To Date] = PL.[Special Price - To Date], [Tax Class] = PL.[Tax Class], 
			[Quantity in Stock] = PL.[Quantity in Stock], [Stock maintenance] = PL.[Stock maintenance], [Included SMI] = PL.[Included SMI], [Excluded SMI] = PL.[Excluded SMI], 
			[Exclusive SMI] = PL.[Exclusive SMI], [Vendor Id] = PL.[Vendor Id], [UC ID] = PL.[UC ID], [Delivery Method] = PL.[Delivery Method], 
			[product_collection] = PL.[product_collection], [Visibility] = PL.[Visibility], [Status] = PL.[Status], [Created On] = PL.[Created On] 
			FROM [dbo].[magento_automated_product_dataset] P
			INNER JOIN [#B2_Prod_ProductListing_Flat] PL ON PL.[SKU] = P.[SKU]

			IF @Pipeline_Run_GUID <> ''
				BEGIN
					INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - adding new records to magento_automated_product_dataset') 
				END
			--[11/25/2019] TL - Add any new records
			INSERT INTO [dbo].[magento_automated_product_dataset] ([URL],[Product ID], [SKU], [ParentSKU],[Product Name], [Product Type], [config_type], [Attribute Set], [Category], [Category ID], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
			SELECT [URL],[Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [config_type], [Attribute Set], [Category], [Category ID], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
			FROM #B2_Prod_ProductListing_Flat
			WHERE [SKU] NOT IN (SELECT [SKU] FROM  [dbo].[magento_automated_product_dataset])

			--TRUNCATE TABLE dbo.magento_automated_product_dataset_import
			
			SELECT i.sku, itemid, (SELECT TOP (1) value	FROM STRING_SPLIT(tagvalue, ',') AS STRING_SPLIT_1) as imageurl into #itemattributesimages 
			from item i
			LEFT JOIN itemattributes ia on ia.itemid = i.id
			WHERE tagtype = 'a_BalfourPrimaryImages'
			SELECT @Max = COUNT(*) FROM #itemattributesimages
			IF @Max > 0
				BEGIN
					IF @Pipeline_Run_GUID <> ''
						BEGIN
							INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - recreating itemattributesimages - adding ' + CAST(@Max AS VARCHAR(15)) + ' records') 
						END
					TRUNCATE TABLE dbo.itemattributesimages
					INSERT INTO dbo.itemattributesimages ([sku], [itemid], [imageurl], [baseimageURL])
					SELECT [sku], [itemid], [imageurl], REPLACE(REPLACE(REPLACE(REPLACE(imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') FROM #itemattributesimages
					
				END
			DROP TABLE #itemattributesimages

			UPDATE [dbo].[magento_automated_product_dataset]
			--SELECT p.parentSKU, I.itemID
			SET [ItemID] = i.ItemID
			FROM [dbo].[magento_automated_product_dataset] p
			LEFT JOIN [dbo].[itemattributesimages] i ON i.SKU = P.ParentSKU

			IF @Pipeline_Run_GUID <> ''
				BEGIN
					INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - updating [Is_licensed] in magento_automated_product_dataset') 
				END
			UPDATE [dbo].[magento_automated_product_dataset] SET is_Licensed = CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
			--SELECT parentsku ,CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
			FROM itemattributes ia
			LEFT JOIN [dbo].[magento_automated_product_dataset] p on p.ItemID = ia.itemid
			WHERE ia.tagtype = 'a_licensed'
			UPDATE [dbo].[magento_automated_product_dataset] SET is_Licensed = 0 WHERE is_licensed IS NULL
			UPDATE [dbo].[magento_automated_product_dataset] set vCategory = category, vEnhanced_Commerce =[Enhanced commerce]
			
		END

	--Do a stock level update for all records
	UPDATE [magento_automated_product_dataset] SET [Quantity in STock] =  i.[Quantity in Stock]
	FROM magento_automated_product_dataset p inner join 
	[magento_automated_product_dataset_import] i on i.SKU = p.SKU
	where i.[Quantity in Stock] <> p.[Quantity in Stock] and i.[Quantity in Stock]  = 0

	DROP TABLE #B2_Prod_ProductListing_Working --SELECT * FROM #B2_Prod_ProductListing_Working
	DROP TABLE #B2_Prod_ProductListing_Flat

	--[Special Price (% for bundles)] is calculated in a veiw and does not necisarily change the [Last_Updated] field
	UPDATE [dbo].[magento_automated_product_dataset] set config_type = I.config_type, [Special Price (% for bundles)] = I.[Special Price (% for bundles)]
	FROM [dbo].[magento_automated_product_dataset] P INNER JOIN [dbo].[magento_automated_product_dataset_import] I ON I.SKU = P.SKU
	
	--01-26-2020 TL - Update ItemAttributesClass
	CREATE TABLE #Working ([ItemID] VARCHAR(20), [class] VARCHAR(800), [ID] INT IDENTITY(1,1))
	INSERT INTO #Working ([ItemID],[class])
	SELECT [ItemID], [TagValue] FROM ITEMATTRIBUTES WHERE [tagtype] = 'a_class'


	CREATE TABLE #NV ([Value] VARCHAR(800), Loop INT IDENTITY(1,1))
	SELECT @ID = 1, @Max = MAX([ID]) FROM #Working
	IF @Pipeline_Run_GUID <> ''
		BEGIN
			INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - updating [ItemAttributesClass] - ' + CAST(@MAX AS VARCHAR(15)) + ' rows') 
		END
	WHILE @ID <= @Max
		BEGIN
			SELECT @ItemID = [ItemID], @Class = [Class] FROM #Working WHERE [ID] = @ID
			TRUNCATE TABLE #NV
			INSERT INTO #NV ([Value])
			SELECT * FROM STRING_SPLIT(REVERSE(@Class),':')
			DELETE FROM [ItemAttributesClass] WHERE [ItemID] = @ItemID
			INSERT INTO [ItemAttributesClass] ([ItemID],[Parent],[Class], [SKU])
			SELECT @ItemID, LTRIM(RTRIM(REVERSE([Value]))), /*REVERSE(*/@Class/*)*/, [SKU] FROM #NV NV INNER JOIN [dbo].[item] I ON I.ID = @ItemID  WHERE [Loop] = 1
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 2
			UPDATE [ItemAttributesClass] SET [GrandParent] = @Val WHERE [ItemID] = @ItemID
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 3
			UPDATE [ItemAttributesClass] SET [GreatGrandParent] = @Val WHERE [ItemID] = @ItemID
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 4
			UPDATE [ItemAttributesClass] SET [GreatGreatGrandParent] = @Val WHERE [ItemID] = @ItemID

			SET @ID = @ID + 1
		END
	EXEC s_update_affinitypage_flags
	--08/20/2020 TL - Too many rows in itemattributes so use itemattributes_announcements for now - repopulate it
	DELETE FROM [dbo].[itemattributes_announcements]
	INSERT INTO [dbo].[itemattributes_announcements]
	SELECT * FROM itemattributes where 	tagvalue = '52' AND tagtype = 'a_PBProdFamID'
	IF @Pipeline_Run_GUID <> ''
		BEGIN
			INSERT INTO [dbo].[Pipeline_Run_Steps] ([Pipeline_Run_GUID], [Started], [Log_Text]) VALUES (@Pipeline_Run_GUID, GETDATE(), 's_normalize_magento_automated_product_dataset_optimized - finished updating [ItemAttributesClass]') 
		END
	DROP TABLE #NV
	DROP TABLE #Working

	--INSERT INTO dbo.[SQLLog] ([Key_Value],[Data]) VALUES ('s_normalize_magento_automated_product_dataset_optimized','Ended')

END
GO
