/****** Object:  StoredProcedure [dbo].[s_get_school_events_locations_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/18/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_school_events_locations_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --Location
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [School_Events_Locations] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [School_Events_Locations].
--##PD @searchField - The field to search on (Location)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [School_Events_Locations].

--DECLARE @totalRecords INT; EXEC s_get_school_events_locations_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [ID]
		,[SMI]
		,[Location]
		,[GM_Link]
		,[GUID]
		FROM [School_Events_Locations]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[School_Events_Locations]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [School_Events_Locations]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([Location],'') LIKE CASE WHEN @searchField = 'Location' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Location],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [ID]
				,[SMI]
				,[Location]
				,[GM_Link]
				,[GUID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Location' THEN [Location] END DESC) as RowNumber
				FROM [dbo].[School_Events_Locations]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Location],'') LIKE CASE WHEN @searchField = 'Location' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Location],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [ID]
				,[SMI] 
				,[Location]
				,[GM_Link]
				,[GUID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Location' THEN [Location] END) as RowNumber
				FROM [dbo].[School_Events_Locations]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Location],'') LIKE CASE WHEN @searchField = 'Location' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Location],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
