/****** Object:  StoredProcedure [dbo].[s_delete_contentaffinityschoolmessages_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/8/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_contentaffinityschoolmessages_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [ContentAffinitySchoolMessages].
--##PD @ID in [ContentAffinitySchoolMessages].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [ContentAffinitySchoolMessages] WHERE [ID] = @ID



GO
