/****** Object:  StoredProcedure [dbo].[s_publish_affinitypage_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/30/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_publish_affinitypage_record]
(
 @ID INT = 0
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts a record in the table [AffinityPage] from [AffinityPageWorking] and archives the current production record to [AffinityPageHistory].
--##RS1 The [ID] value of the inserted/updated record in the table [AffinityPageWorking].

--Get the ID of the current record
DECLARE @OldID INT, @SMI BIGINT, @LastUpdated DATETIME
SELECT @OldID = 0, @SMI = 0
SELECT @SMI = [SMI] FROM [dbo].[AffinityPageWorking] WHERE [ID] = @ID
SELECT @OldID = [ID], @LastUpdated = [LastUpdated] FROM [dbo].[AffinityPage] WHERE [SMI] = @SMI

INSERT INTO [dbo].[AffinityPage] ([emailCollectionTitle],[seasonalPromoBannerCTAButtonText],[classRingsTileImageMobile],[medBoxTaglineThree],[schoolShopSubheadline],[medBoxTextTwo],[classRingsHeadline],[medBoxImageThree],[SMI],[graduationHeadline],[inProduction],[paymentsTileText],[classRingsTileCTALink],[lgBoxYearbooksLink],[ringSizeText],[medBoxTaglineTwo],[seasonalPromoBannerTitle],[medBoxTextOne],[lgBoxGradPacksImage],[affinityCTAButtonText],[medBoxImageTwo],[lgBoxGradPacksCTAButtonText],[seasonalPromoBannerCTAButtonLink],[schoolShopCTAButtonText],[lastUpdated],[classRingsSubheadline],[medBoxImageThreeMobile],[ringSizeLink],[emailCollectionText],[classRingsTileTopText],[medBoxLinkThree],[seasonalPromoBannerImage],[medBoxImageOne],[classRingsTileCTALinkNewTab],[lgBoxYearbooksText],[topHeadline],[medBoxTaglineOne],[graduationSubheadline],[medBoxImageTwoMobile],[schoolShopHeadline],[topPromoBannerHTML],[categoryShopTitle],[medBoxLinkTwo],[lgBoxGradPacksLink],[seasonalPromoBannerText],[emailCollectionCTAButtonText],[classRingsTileBottomText],[ringSizeHeadline],[classRingsTileImage],[GUID],[ringSizeLinkText],[paymentsTileHeadline],[medBoxTextThree],[medBoxLinkOne],[topSubheadline],[lgBoxGradPacksText],[lgBoxYearbooksImage],[seasonalPromoBannerImageMobile],[medBoxImageOneMobile],[lgBoxYearbookCTAButtonText],[schoolTextColor],[schoolBackgroundColor])
SELECT [emailCollectionTitle],[seasonalPromoBannerCTAButtonText],[classRingsTileImageMobile],[medBoxTaglineThree],[schoolShopSubheadline],[medBoxTextTwo],[classRingsHeadline],[medBoxImageThree],[SMI],[graduationHeadline],[inProduction],[paymentsTileText],[classRingsTileCTALink],[lgBoxYearbooksLink],[ringSizeText],[medBoxTaglineTwo],[seasonalPromoBannerTitle],[medBoxTextOne],[lgBoxGradPacksImage],[affinityCTAButtonText],[medBoxImageTwo],[lgBoxGradPacksCTAButtonText],[seasonalPromoBannerCTAButtonLink],[schoolShopCTAButtonText],GETDATE(),[classRingsSubheadline],[medBoxImageThreeMobile],[ringSizeLink],[emailCollectionText],[classRingsTileTopText],[medBoxLinkThree],[seasonalPromoBannerImage],[medBoxImageOne],[classRingsTileCTALinkNewTab],[lgBoxYearbooksText],[topHeadline],[medBoxTaglineOne],[graduationSubheadline],[medBoxImageTwoMobile],[schoolShopHeadline],[topPromoBannerHTML],[categoryShopTitle],[medBoxLinkTwo],[lgBoxGradPacksLink],[seasonalPromoBannerText],[emailCollectionCTAButtonText],[classRingsTileBottomText],[ringSizeHeadline],[classRingsTileImage],[GUID],[ringSizeLinkText],[paymentsTileHeadline],[medBoxTextThree],[medBoxLinkOne],[topSubheadline],[lgBoxGradPacksText],[lgBoxYearbooksImage],[seasonalPromoBannerImageMobile],[medBoxImageOneMobile],[lgBoxYearbookCTAButtonText],[schoolTextColor],[schoolBackgroundColor]
FROM [dbo].[AffinityPageWorking] WHERE [ID] = @ID
SELECT @ID_Out = SCOPE_IDENTITY()

--Archive the old record
INSERT INTO [dbo].[AffinityPageHistory] ([WentIntoProduction],[emailCollectionTitle],[seasonalPromoBannerCTAButtonText],[classRingsTileImageMobile],[medBoxTaglineThree],[schoolShopSubheadline],[medBoxTextTwo],[classRingsHeadline],[medBoxImageThree],[SMI],[graduationHeadline],[inProduction],[paymentsTileText],[classRingsTileCTALink],[lgBoxYearbooksLink],[ringSizeText],[medBoxTaglineTwo],[seasonalPromoBannerTitle],[medBoxTextOne],[lgBoxGradPacksImage],[affinityCTAButtonText],[medBoxImageTwo],[lgBoxGradPacksCTAButtonText],[seasonalPromoBannerCTAButtonLink],[schoolShopCTAButtonText],[lastUpdated],[classRingsSubheadline],[medBoxImageThreeMobile],[ringSizeLink],[emailCollectionText],[classRingsTileTopText],[medBoxLinkThree],[seasonalPromoBannerImage],[medBoxImageOne],[classRingsTileCTALinkNewTab],[lgBoxYearbooksText],[topHeadline],[medBoxTaglineOne],[graduationSubheadline],[medBoxImageTwoMobile],[schoolShopHeadline],[topPromoBannerHTML],[categoryShopTitle],[medBoxLinkTwo],[lgBoxGradPacksLink],[seasonalPromoBannerText],[emailCollectionCTAButtonText],[classRingsTileBottomText],[ringSizeHeadline],[classRingsTileImage],[GUID],[ringSizeLinkText],[paymentsTileHeadline],[medBoxTextThree],[medBoxLinkOne],[topSubheadline],[lgBoxGradPacksText],[lgBoxYearbooksImage],[seasonalPromoBannerImageMobile],[medBoxImageOneMobile],[lgBoxYearbookCTAButtonText],[schoolTextColor],[schoolBackgroundColor])
SELECT [lastUpdated],[emailCollectionTitle],[seasonalPromoBannerCTAButtonText],[classRingsTileImageMobile],[medBoxTaglineThree],[schoolShopSubheadline],[medBoxTextTwo],[classRingsHeadline],[medBoxImageThree],[SMI],[graduationHeadline],[inProduction],[paymentsTileText],[classRingsTileCTALink],[lgBoxYearbooksLink],[ringSizeText],[medBoxTaglineTwo],[seasonalPromoBannerTitle],[medBoxTextOne],[lgBoxGradPacksImage],[affinityCTAButtonText],[medBoxImageTwo],[lgBoxGradPacksCTAButtonText],[seasonalPromoBannerCTAButtonLink],[schoolShopCTAButtonText],GETDATE(),[classRingsSubheadline],[medBoxImageThreeMobile],[ringSizeLink],[emailCollectionText],[classRingsTileTopText],[medBoxLinkThree],[seasonalPromoBannerImage],[medBoxImageOne],[classRingsTileCTALinkNewTab],[lgBoxYearbooksText],[topHeadline],[medBoxTaglineOne],[graduationSubheadline],[medBoxImageTwoMobile],[schoolShopHeadline],[topPromoBannerHTML],[categoryShopTitle],[medBoxLinkTwo],[lgBoxGradPacksLink],[seasonalPromoBannerText],[emailCollectionCTAButtonText],[classRingsTileBottomText],[ringSizeHeadline],[classRingsTileImage],[GUID],[ringSizeLinkText],[paymentsTileHeadline],[medBoxTextThree],[medBoxLinkOne],[topSubheadline],[lgBoxGradPacksText],[lgBoxYearbooksImage],[seasonalPromoBannerImageMobile],[medBoxImageOneMobile],[lgBoxYearbookCTAButtonText],[schoolTextColor],[schoolBackgroundColor]
FROM [dbo].[AffinityPage] WHERE [ID] = @OldID

--Remove the old record
DELETE FROM [dbo].[AffinityPage] WHERE [ID] = @OldID

  
SELECT
 [emailCollectionTitle]
,[seasonalPromoBannerCTAButtonText]
,[classRingsTileImageMobile]
,[medBoxTaglineThree]
,[schoolShopSubheadline]
,[medBoxTextTwo]
,[classRingsHeadline]
,[medBoxImageThree]
,[SMI]
,[ID]
,[graduationHeadline]
,[inProduction]
,[paymentsTileText]
,[classRingsTileCTALink]
,[lgBoxYearbooksLink]
,[ringSizeText]
,[medBoxTaglineTwo]
,[seasonalPromoBannerTitle]
,[medBoxTextOne]
,[lgBoxGradPacksImage]
,[affinityCTAButtonText]
,[medBoxImageTwo]
,[lgBoxGradPacksCTAButtonText]
,[seasonalPromoBannerCTAButtonLink]
,[schoolShopCTAButtonText]
,FORMAT(dbo.fn_DateTime_to_Central([lastUpdated]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastUpdated]
,[classRingsSubheadline]
,[medBoxImageThreeMobile]
,[ringSizeLink]
,[emailCollectionText]
,[classRingsTileTopText]
,[medBoxLinkThree]
,[seasonalPromoBannerImage]
,[medBoxImageOne]
,[classRingsTileCTALinkNewTab]
,[lgBoxYearbooksText]
,[topHeadline]
,[medBoxTaglineOne]
,[graduationSubheadline]
,[medBoxImageTwoMobile]
,[schoolShopHeadline]
,[topPromoBannerHTML]
,[categoryShopTitle]
,[medBoxLinkTwo]
,[lgBoxGradPacksLink]
,[seasonalPromoBannerText]
,[emailCollectionCTAButtonText]
,[classRingsTileBottomText]
,[ringSizeHeadline]
,[classRingsTileImage]
,[GUID]
,[ringSizeLinkText]
,[paymentsTileHeadline]
,[medBoxTextThree]
,[medBoxLinkOne]
,[topSubheadline]
,[lgBoxGradPacksText]
,[lgBoxYearbooksImage]
,[seasonalPromoBannerImageMobile]
,[medBoxImageOneMobile]
,[lgBoxYearbookCTAButtonText]
,[schoolTextColor]
,[schoolBackgroundColor]
FROM dbo.[AffinityPage]
WHERE [ID] = @ID_Out
GO
