/****** Object:  StoredProcedure [dbo].[s_get_managed_cart_upsell_rules2]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 02-24-2021
-- Description: Top-level sproc - Get the managed upsell in cart rules. -- Update, even larger sproc will call this (s_get_managed_cart_upsell_full_payload)
-- Uses tables cart_cross_sell_rules and cart_cross_sell_rules_group
-- Calls s_get_managed_cart_upsell_group and s_get_managed_cart_upsell_rules_item
-- =============================================
CREATE PROCEDURE [dbo].[s_get_managed_cart_upsell_rules2]
(
    -- Add the parameters for the stored procedure here
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = NULL,
   @debug BIT = 0
)
AS
BEGIN
    -- exec s_get_managed_cart_upsell_rules2 @SKU = 'a0003952', @SMI='130996', @DEBUG = 0 -- production speed test
	-- exec s_get_managed_cart_upsell_rules2 @SKU = 'a0003952', @SMI='130996', @DEBUG = 1 -- LSU TEST RING -- This current Top-level sproc
	-- exec s_get_managed_cart_upsell_group @SKU = 'a0003952', @SMI='130996', @DEBUG = 1 -- LSU TEST RING -- this gets the group to pull rules from
	-- exec s_get_managed_cart_upsell_rules_item @SKU = 'a0003952', @SMI='130996', @DEBUG = 1, @grpID='4149D088-EB09-4C0D-8586-D372870BEB65', @ruleNo = 1 -- this uses a group to pull each rule up to x times
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
		-- get rule_group from sproc

			
	DECLARE @count int, @Max INT, @Loop INT, @Item VARCHAR(200)
-- 	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] varchar(9), [wasprice] varchar(9), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @thisSmi varchar(50)
  
	IF @debug = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 		
		DECLARE @grpID uniqueidentifier
		CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		CREATE TABLE #skusInCart (sku VARCHAR(100))
		DECLARE @Raw TABLE ([item] VARCHAR(200), [sku] VARCHAR(100), [smi] VARCHAR(50), [Loop] INT IDENTITY(1,1))
		INSERT INTO @Raw ([item])
		select value from string_split(@skus,',') where CHARINDEX('https:', value) = 0
		SELECT @Loop = 1, @Max = MAX([Loop]) from @Raw
		WHILE @Loop <= @Max
			BEGIN
				SELECT @Item = [Item] FROM @Raw WHERE [Loop] = @Loop
				UPDATE @Raw SET [sku] = CASE WHEN @Item LIKE '%|%' THEN LEFT(@Item,CHARINDEX('|',@Item)-1) ELSE @Item END, [SMI] = CASE WHEN @Item LIKE '%|%' THEN RIGHT(@Item,LEN([item])-CHARINDEX('|',@Item)) ELSE '' END
				WHERE [Loop] = @Loop
				
				SET @Loop = @Loop + 1
			END
  
		INSERT INTO  #skulist ([sku], [price], [smi])
		SELECT a.[sku], ISNULL(dbo.[fn_Get_Lowest_Price](a.SKU, a.smi),ISNULL(a.[Special Price (% for bundles)],a.[Retail Price])), a.smi --SELECT a.[sku], a.[retail price], a.[smi]
		FROM (
			SELECT R.[sku], MIN([retail price]) AS [retail price], p.[Special Price (% for bundles)],  R.[smi]
			FROM @Raw R
			LEFT JOIN [dbo].[magento_automated_product_dataset] p ON (LEFT(R.[sku],8) = LEFT(p.SKU,8)) 	
			GROUP BY R.SKU,  p.[Special Price (% for bundles)], R.smi) a 
		ORDER BY a.[Retail Price] DESC
		 
		UPDATE #skulist
		SET sku = LTRIM(RTRIM(sku))
		
		SELECT @Loop = 1, @Max = MAX([Loop]) FROM #skulist
		
		DECLARE @currentLoop INT = 0
		
		INSERT INTO #skusInCart(sku)
		SELECT Sku FROM #skulist

		--SELECT * FROM #skulist

		WHILE @Loop <= @Max
		BEGIN
			SET @thisSku = ''
			SET @thisSmi = ''			

			-- Start looping for all skus in list
			SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
			FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
			
						

			CREATE TABLE #grpID (grpID uniqueidentifier)
			insert into #grpID exec s_get_managed_cart_upsell_group @SKU = @thisSku, @SMI=@thisSmi, @DEBUG = @DEBUG
			set @grpID = (select * from #grpID)
			drop table #grpID
			
		
			IF @DEBUG = 1 
			BEGIN
				select * from cart_cross_sell_rules
				select * from cart_cross_sell_rules_group
				select top 3 * from magento_automated_product_dataset
					where [Exclusive SMI] = @SMI
				Select @grpID AS [grpID]
			END
		

			CREATE TABLE #upsellItems 
				(   [imageurl] VARCHAR(MAX), 
					[url] VARCHAR(MAX), 
					[SKU] VARCHAR(MAX),
					[Product Name] VARCHAR(MAX),
					[Price] DECIMAL(8,2),
					[WasPrice] DECIMAL(8,2),
					[Class] VARCHAR(MAX),
					[Product Type] VARCHAR(MAX),
					[SortOrder] INT,
					[config_type] VARCHAR(MAX),
					[IsLCU] BIT,
					[IsGreenBox] BIT
					)
		
			DECLARE @numOfRules INT
			SET @numOfRules = (select count(*) from cart_cross_sell_rules rules where rules.Group_ID = @grpID)
			DECLARE @Counter INT 
			SET @Counter=1

			IF @DEBUG = 1 
			BEGIN
				SELECT @numOfRules AS [numOfRules]
			END

			-- Grab results from sproc for all rules in group
			WHILE ( @Counter <= @numOfRules)
			BEGIN
				IF @DEBUG = 1 
				BEGIN
					SELECT @Counter AS [Counter]
				END
				insert into #upsellItems exec s_get_managed_cart_upsell_rules_item @SKU = @thisSku, @SMI = @thisSmi, @DEBUG = @DEBUG, @grpID = @grpID, @ruleNo = @Counter
				SET @Counter  = @Counter  + 1
			END


		IF EXISTS(SELECT * FROM #upsellItems)
				BEGIN
					IF @debug = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
					BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
				END 
			ELSE
				BEGIN
					IF @debug = 1 PRINT 'No upsell item for this sku: ' + @thisSku + ', delete it from #skulist table'
					DELETE FROM #skulist WHERE Loop = @currentLoop
				END
				 
			IF @debug = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			SET @Loop = @Loop + 1
		END; 

		select * from #upsellItems
			FOR JSON PATH

		drop table #upsellItems

		-- exec s_get_managed_cart_upsell_rules2 @SKUS = 'a0003952|130996', @DEBUG = 0

	END

END
GO
