/****** Object:  StoredProcedure [dbo].[s_get_ErrorCategory_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 04/28/2021 - HT
*/
CREATE PROCEDURE [dbo].[s_get_ErrorCategory_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --Name, GUID
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [SMILists] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [SMILists].
--##PD @searchField - The field to search on (Name, GUID)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [SMILists].
--EXEC s_get_smilists_records @ID = 1
--DECLARE @totalRecords INT; EXEC s_get_smilists_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--  SELECT * FROM product_transaction_error_defs
--	ID	ErrorCode	ErrorMsg	Description	ErrorCategoryID	AddedBy	AddedOn

SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		--DECLARE @SMIs VARCHAR(MAX), @Comma VARCHAR(1), @SMIListGUID VARCHAR(50)
		--SELECT @SMIs = '', @Comma = '', @SMIListGUID = [GUID] FROM [dbo].[SMILists] WHERE [ID] = @ID
		--SELECT @SMIs = @SMIs + @Comma + CAST([SMI] AS VARCHAR(15)), @Comma = ',' FROM [dbo].[SMIListsDetails] WHERE [SMIListGUID] = @SMIListGUID
		SELECT		 
		 [ErrorCategory]
		,[FrequentRunInHour]
		,[ID]
		,[AddedBy]
		,[AddedOn]	
		FROM [product_transaction_error_cat]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[product_transaction_error_cat]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999
		 
		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField
	 
		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [product_transaction_error_cat]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END		 	
		AND ISNULL([ErrorCategory],'') LIKE CASE WHEN @searchField = 'ErrorCategory' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ErrorCategory],'') END
		AND ISNULL([FrequentRunInHour],'') LIKE CASE WHEN @searchField = 'FrequentRunInHour' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FrequentRunInHour],'') END
	    IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 ISNULL([ErrorCategory],'') AS [ErrorCategory]				
				,[FrequentRunInHour]				 
				,[ID]
				,[AddedBy]
				,[AddedOn]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'ErrorCategory' THEN [ErrorCategory] WHEN 'FrequentRunInHour' THEN [FrequentRunInHour] END DESC) as RowNumber
				FROM [dbo].[product_transaction_error_cat]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END		 	
				AND ISNULL([ErrorCategory],'') LIKE CASE WHEN @searchField = 'ErrorCategory' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ErrorCategory],'') END
				AND ISNULL([FrequentRunInHour],'') LIKE CASE WHEN @searchField = 'FrequentRunInHour' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FrequentRunInHour],'') END
			   )
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				
				SELECT
				 ISNULL([ErrorCategory],'') AS [ErrorCategory]				
				,[FrequentRunInHour]
				,[ID]
				,[AddedBy]
				,[AddedOn]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'ErrorCategory' THEN [ErrorCategory] WHEN 'FrequentRunInHour' THEN [FrequentRunInHour] END DESC) as RowNumber
				FROM [dbo].[product_transaction_error_cat]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END		 	
				AND ISNULL([ErrorCategory],'') LIKE CASE WHEN @searchField = 'ErrorCategory' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ErrorCategory],'') END
				AND ISNULL([FrequentRunInHour],'') LIKE CASE WHEN @searchField = 'FrequentRunInHour' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FrequentRunInHour],'') END
			   )
				 
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
