/****** Object:  StoredProcedure [dbo].[s_get_managed_cart_upsell_rules_item]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 02-24-2021
-- Description: Get the managed upsell in cart rules item. 
-- Uses tables cart_cross_sell_rules and cart_cross_sell_rules_group
-- =============================================
CREATE PROCEDURE [dbo].[s_get_managed_cart_upsell_rules_item]
(
    -- Add the parameters for the stored procedure here
    @SKU VARCHAR(MAX),
	@SMI INT = 0,
    @DEBUG BIT = 0,
	@grpID uniqueidentifier = NULL, 
	@ruleNo INT = 1
)
AS
BEGIN
	-- exec s_get_managed_cart_upsell_rules_item @SKU = 'a0003952', @SMI='130996', @DEBUG = 1, @grpID='4149D088-EB09-4C0D-8586-D372870BEB65', @ruleNo = 1 -- LSU TEST RING
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	-- Using the rule-group, get an item from the rule
		SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl, 						
					p.url AS [url],
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @SMI),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
									p.[Retail Price] AS [wasprice],  
					'' AS class, 
					CASE WHEN 
						rules.button_type = 0 THEN 'simple'
					WHEN
						rules.Button_type = 1 THEN 'configurable'
					WHEN
						rules.Button_type = 2 THEN 'configurable-no-price'
					WHEN
						rules.Button_type = 3 THEN 'Configure'
					WHEN
						rules.Button_type = 4 THEN 'PLP'
					WHEN
						rules.Button_type = 5 THEN 'gradpack-PDP'						
					ELSE
						''
					END
					AS [Type], 
					order_in_group AS sortOrder, 
					'' AS config_type,
					rules.[IsLCU],
					rules.[IsGreenBox]
					-- ,grp.*
					-- ,rules.*
		FROM dbo.magento_automated_product_dataset AS p 
		left join cart_cross_sell_rules_group grp ON @grpID = grp.group_id
		left join cart_cross_sell_rules rules ON rules.group_id = grp.group_Id
		left join itemattributes ia on ia.itemid = p.ItemID
		WHERE p.Status = 'Enable'
			AND ( (rules.PIM_attribute_qualifier_bool = 0 OR rules.PIM_attribute_qualifier_bool IS NULL) OR
				rules.PIM_attribute_qualifier_bool = 1 AND
				(
					ia.tagtype = rules.PIM_attribute_qualifier_Name 
					AND ia.tagvalue = rules.PIM_attribute_qualifier_value
				)
			)
			AND ( (rules.MAGE_ecommerce_category_bool = 0 OR rules.MAGE_ecommerce_category_bool IS NULL) OR
				rules.MAGE_ecommerce_category_bool = 1 AND 
				(
					(
						rules.MAGE_ecommerce_category_name = 'category' -- allow more control here
						AND p.Category = rules.MAGE_ecommerce_category_value
					) 
					OR
					(
						rules.MAGE_ecommerce_category_name = 'Enhanced Commerce' -- allow more control here
						AND p.[Enhanced Commerce] = rules.MAGE_ecommerce_category_value
					) 
					OR
					(
						rules.MAGE_ecommerce_category_name = 'B3_Brand' -- allow more control here
						AND p.B3_Brand = rules.MAGE_ecommerce_category_value
					)
					OR
					(
						rules.MAGE_ecommerce_category_name = 'PrintBox_FamilyId' -- allow more control here
						AND p.PrintBox_FamilyId = rules.MAGE_ecommerce_category_value
					)
					OR
					(
						rules.MAGE_ecommerce_category_name = 'Cat_Type_Style' -- allow more control here
						AND (p.Cat_Type_Style = REPLACE(rules.MAGE_ecommerce_category_value,'>','_') OR p.Cat_Type_Style LIKE '%' + REPLACE(rules.MAGE_ecommerce_category_value,'>','_') + '%')
					)
					OR
					(
						rules.MAGE_ecommerce_category_name = 'Attribute Set' -- allow more control here
						AND p.[Attribute Set] = rules.MAGE_ecommerce_category_value
					)
				)
			)
			AND ( (rules.SKU_override_bool = 0 OR rules.SKU_override_bool IS NULL) OR
				rules.SKU_override_bool = 1 AND
				(
					rules.SKU_override_value = p.sku
				)
			)
			AND ( (rules.Price_range_bool = 0 OR rules.Price_range_bool IS NULL) OR
				rules.Price_range_bool = 1 AND 
				(
					(ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @SMI),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= rules.price_range_max OR rules.price_range_max IS NULL)
					AND 
					(ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @SMI),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) >= rules.price_range_min OR rules.price_range_min IS NULL)
				)
			)
			AND ( (rules.School_scope_bool = 0 OR rules.School_scope_bool IS NULL) OR
				rules.School_scope_bool = 1 AND
				(
					p.[Exclusive SMI] = @SMI 
					OR (
						@SMI IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ','))
							AND @SMI NOT IN (SELECT [Value] FROM STRING_SPLIT([Excluded SMI], ','))
						)
				)
			)
			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)		
			AND rules.enabled_in_QA = 1
			AND Order_in_group = @ruleNo
			AND ( GETDATE() > rules.Start_date OR rules.Start_date IS NULL)
			AND ( GETDATE() < rules.End_date OR rules.End_date IS NULL)
			order by rules.order_in_group ASC

END
GO
