/****** Object:  StoredProcedure [dbo].[s_data_feed_products_to_silverpop]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/19/2020
-- Description: Data feed of products to Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_data_feed_products_to_silverpop]
(
    -- Add the parameters for the stored procedure here
    @HoursBack BIGINT = -48
)
AS
BEGIN
	SET NOCOUNT ON
	 
	IF @HoursBack = -999999 --Send everything
		SELECT 	 p.[Product ID] AS ProductID,
		p.[SKU] AS SKU,
		p.[Product Name] AS ProductName,
		p.[Product Type] AS ProductType,
		p.[Attribute Set] AS AttributeSet,
		p.[Category] AS Category,
		p.[Item Category] AS ItemCategory,
		p.[Enhanced Commerce] AS EnhancedCommerce,
		p.[Retail Price] AS RetailPrice,
		p.[Special Price (% for bundles)] AS SpecialPriceforbundles,
		FORMAT (p.[Special Price - Start Date], 'MM/dd/yyyy') AS SpecialPriceStartDate,
		FORMAT (p.[Special Price - To Date], 'MM/dd/yyyy') AS SpecialPriceToDate,
		--p.[Special Price - Start Date] AS SpecialPriceStartDate,
		--p.[Special Price - To Date] AS SpecialPriceToDate,
		p.[Tax Class] AS TaxClass,
		p.[Quantity in Stock] AS QuantityinStock,
		p.[Stock maintenance] AS Stockmaintenance,
		p.[Included SMI] AS IncludedSMI,
		p.[Excluded SMI] AS ExcludedSMI,
		p.[Exclusive SMI] AS ExclusiveSMI,
		p.[Vendor Id] AS VendorId,
		p.[UC ID] AS UCID,
		p.[Delivery Method] AS DeliveryMethod,
		p.[product_collection] AS product_collection,
		p.[Visibility] AS Visibility,
		p.[Status] AS Status,
		FORMAT (p.[Created On], 'MM/dd/yyyy') AS CreatedOn,
		FORMAT (p.[Updated On], 'MM/dd/yyyy') AS UpdatedOn,
		p.[SMI] AS SMI,
		p.[ParentSKU] AS ParentSKU,
		p.[ItemID] AS ItemID,
		p.[is_licensed] AS is_licensed,
		p.[vCategory] AS vCategory,
		p.[vEnhanced_Commerce] AS vEnhanced_Commerce,
		REPLACE(p.[URL], 'https://', '') AS URL,
		p.[config_type] AS config_type,
		CASE WHEN ISNULL(p.image_url, '') = '' THEN 'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_ImageComingSoon_800x800.jpg'
		ELSE REPLACE(p.image_url, '.jpg', '_800x800.jpg') END AS ImageUrl
		FROM magento_automated_product_dataset AS p
	ELSE
		SELECT  
		p.[Product ID] AS ProductID,
		p.[SKU] AS SKU,
		p.[Product Name] AS ProductName,
		p.[Product Type] AS ProductType,
		p.[Attribute Set] AS AttributeSet,
		p.[Category] AS Category,
		p.[Item Category] AS ItemCategory,
		p.[Enhanced Commerce] AS EnhancedCommerce,
		p.[Retail Price] AS RetailPrice,
		p.[Special Price (% for bundles)] AS SpecialPriceforbundles,
		FORMAT (p.[Special Price - Start Date], 'MM/dd/yyyy') AS SpecialPriceStartDate,
		FORMAT (p.[Special Price - To Date], 'MM/dd/yyyy') AS SpecialPriceToDate,
		p.[Tax Class] AS TaxClass,
		p.[Quantity in Stock] AS QuantityinStock,
		p.[Stock maintenance] AS Stockmaintenance,
		p.[Included SMI] AS IncludedSMI,
		p.[Excluded SMI] AS ExcludedSMI,
		p.[Exclusive SMI] AS ExclusiveSMI,
		p.[Vendor Id] AS VendorId,
		p.[UC ID] AS UCID,
		p.[Delivery Method] AS DeliveryMethod,
		p.[product_collection] AS product_collection,
		p.[Visibility] AS Visibility,
		p.[Status] AS Status,
		FORMAT (p.[Created On], 'MM/dd/yyyy') AS CreatedOn,
		FORMAT (p.[Updated On], 'MM/dd/yyyy') AS UpdatedOn,
		p.[SMI] AS SMI,
		p.[ParentSKU] AS ParentSKU,
		p.[ItemID] AS ItemID,
		p.[is_licensed] AS is_licensed,
		p.[vCategory] AS vCategory,
		p.[vEnhanced_Commerce] AS vEnhanced_Commerce,
		REPLACE(p.[URL], 'https://', '') AS URL,
		p.[config_type] AS config_type,
		CASE WHEN ISNULL(p.image_url, '') = '' THEN 'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_ImageComingSoon_800x800.jpg'
		ELSE REPLACE(p.image_url,'.jpg','_800x800.jpg') END AS ImageUrl
		FROM magento_automated_product_dataset AS p		
		WHERE ( [Created On] >= DATEADD(hour,@HoursBack,GETDATE())
		OR [Updated On] >= DATEADD(hour,@HoursBack,GETDATE()))  
		OR [product id] > 245876   -- will remove OR
END
/*
--exec s_data_feed_products_to_silverpop
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	IF @HoursBack = -999999 --Send everything
		SELECT 		p.[Product ID] AS ProductID,
		p.[SKU] AS SKU,
		p.[Product Name] AS ProductName,
		p.[Product Type] AS ProductType,
		p.[Attribute Set] AS AttributeSet,
		p.[Category] AS Category,
		p.[Item Category] AS ItemCategory,
		p.[Enhanced Commerce] AS EnhancedCommerce,
		p.[Retail Price] AS RetailPrice,
		p.[Special Price (% for bundles)] AS SpecialPriceforbundles,
		p.[Special Price - Start Date] AS SpecialPriceStartDate,
		p.[Special Price - To Date] AS SpecialPriceToDate,
		p.[Tax Class] AS TaxClass,
		p.[Quantity in Stock] AS QuantityinStock,
		p.[Stock maintenance] AS Stockmaintenance,
		p.[Included SMI] AS IncludedSMI,
		p.[Excluded SMI] AS ExcludedSMI,
		p.[Exclusive SMI] AS ExclusiveSMI,
		p.[Vendor Id] AS VendorId,
		p.[UC ID] AS UCID,
		p.[Delivery Method] AS DeliveryMethod,
		p.[product_collection] AS product_collection,
		p.[Visibility] AS Visibility,
		p.[Status] AS Status,
		FORMAT (p.[Created On], 'MM/dd/yyyy') AS CreatedOn,
		FORMAT (p.[Updated On], 'MM/dd/yyyy') AS UpdatedOn,
		p.[SMI] AS SMI,
		p.[ParentSKU] AS ParentSKU,
		p.[ItemID] AS ItemID,
		p.[is_licensed] AS is_licensed,
		p.[vCategory] AS vCategory,
		p.[vEnhanced_Commerce] AS vEnhanced_Commerce,
		REPLACE(p.[URL], 'https://', '') AS URL,
		p.[config_type] AS config_type,
		CASE WHEN ISNULL(ia.imageurl, '') = '' THEN 'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_ImageComingSoon_800x800.jpg'
		ELSE 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_300x300.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' END AS ImageUrl
		FROM magento_automated_product_dataset AS p
		LEFT OUTER JOIN  dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 
	ELSE
		SELECT  
		p.[Product ID] AS ProductID,
		p.[SKU] AS SKU,
		p.[Product Name] AS ProductName,
		p.[Product Type] AS ProductType,
		p.[Attribute Set] AS AttributeSet,
		p.[Category] AS Category,
		p.[Item Category] AS ItemCategory,
		p.[Enhanced Commerce] AS EnhancedCommerce,
		p.[Retail Price] AS RetailPrice,
		p.[Special Price (% for bundles)] AS SpecialPriceforbundles,
		p.[Special Price - Start Date] AS SpecialPriceStartDate,
		p.[Special Price - To Date] AS SpecialPriceToDate,
		p.[Tax Class] AS TaxClass,
		p.[Quantity in Stock] AS QuantityinStock,
		p.[Stock maintenance] AS Stockmaintenance,
		p.[Included SMI] AS IncludedSMI,
		p.[Excluded SMI] AS ExcludedSMI,
		p.[Exclusive SMI] AS ExclusiveSMI,
		p.[Vendor Id] AS VendorId,
		p.[UC ID] AS UCID,
		p.[Delivery Method] AS DeliveryMethod,
		p.[product_collection] AS product_collection,
		p.[Visibility] AS Visibility,
		p.[Status] AS Status,
		FORMAT (p.[Created On], 'MM/dd/yyyy') AS CreatedOn,
		FORMAT (p.[Updated On], 'MM/dd/yyyy') AS UpdatedOn,
		p.[SMI] AS SMI,
		p.[ParentSKU] AS ParentSKU,
		p.[ItemID] AS ItemID,
		p.[is_licensed] AS is_licensed,
		p.[vCategory] AS vCategory,
		p.[vEnhanced_Commerce] AS vEnhanced_Commerce,
		REPLACE(p.[URL], 'https://', '') AS URL,
		p.[config_type] AS config_type,
		CASE WHEN ISNULL(ia.imageurl, '') = '' THEN 'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_ImageComingSoon_800x800.jpg'
		ELSE 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' END AS ImageUrl
		FROM magento_automated_product_dataset AS p
		LEFT OUTER JOIN  dbo.itemattributesimages AS ia ON ia.itemid = p.itemid  
		WHERE ( [Created On] >= DATEADD(hour,@HoursBack,GETDATE())
		OR [Updated On] >= DATEADD(hour,@HoursBack,GETDATE()))  
		OR [product id] > 245876   -- will remove OR
	  
		--WHERE
		--[product id] < 50000
		--[product id] >=  50000 and [product id]  < 100000
--[product id] >=  100000 and [product id]  < 150000
--[product id] >=  150000 and [product id] < 200000
--[product id] >= 200000 --> last product id = 245876 --244551    243501 243501 -- 243187

--SELECT MAX([Product ID]) FROM magento_automated_product_dataset 
select DATEADD(hour,-48,GETDATE())
END
*/
 
--SELECT COUNT([Product ID])
--FROM magento_automated_product_dataset     -- select 226920/50000
--WHERE [Created On] >= DATEADD(hour,24,GETDATE())
--OR [Updated On] >= DATEADD(hour,24,GETDATE())
 
GO
