/****** Object:  StoredProcedure [dbo].[s_get_location_times_json]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_location_times_json]
(
	 @GUID VARCHAR(50) = ''
)
AS
SET NOCOUNT ON
--EXEC s_get_location_times_json '5ccbd382-76f1-4593-8327-9b6f3ca20039'

	SELECT
	  LOWER(FORMAT(CAST([StartTime] AS DATETIME), 'h:mmtt')) as [startTime]
	 ,CASE WHEN [EndTime] IS NOT NULL THEN LOWER(FORMAT(CAST([EndTime] AS DATETIME), 'h:mmtt')) ELSE '' END as [endTime]
	 ,[GUID]
	 ,[ID]
	FROM [dbo].[School_Events_Locations_Dates_Times] as times
	WHERE [GUID] = @GUID
	FOR JSON PATH

GO
