/****** Object:  StoredProcedure [dbo].[proc_get_girl_scout_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 1/27/2020 - HT
*/ 
CREATE PROCEDURE [dbo].[proc_get_girl_scout_orders_records]

AS
 
SET NOCOUNT ON
 
	SELECT  DISTINCT o.entity_id AS OrderID, 
			o.increment_id AS OrderNumber, 
			dbo.fn_DateTime_to_Central(o.created_at) AS OrderDate, 
			CAST(CAST(ROUND(o.subtotal, 2) AS MONEY) AS VARCHAR) AS SubTotal,
			CAST(CAST(ROUND(o.tax_amount, 2) AS MONEY) AS VARCHAR) AS Tax, 
			CAST(CAST(ROUND(o.shipping_amount, 2) AS MONEY) AS VARCHAR) AS ShipCharge, 
			CAST(CAST(ROUND(o.grand_total, 2) AS MONEY) AS VARCHAR) AS GrandTotal,
			i.sku AS Sku, 
			--i.name AS ProducName,
			CAST(CAST(i.qty_ordered AS INT) AS VARCHAR) AS QtyOrdered
	FROM MAGE_Sales_Order o INNER JOIN MAGE_sales_order_item i ON i.order_id = o.entity_id
	INNER JOIN magento_automated_product_dataset p ON p.SKU = i.sku
	WHERE p.[Enhanced Commerce] = 'BALFOUR DIRECT-GIRL SCOUTS'
	GROUP BY o.entity_id, 
			o.increment_id, 
			dbo.fn_DateTime_to_Central(o.created_at),
			CAST(ROUND(o.subtotal, 2) AS MONEY),
			CAST(ROUND(o.tax_amount, 2) AS MONEY), 
			CAST(ROUND(o.shipping_amount, 2) AS MONEY),
			CAST(ROUND(o.grand_total, 2) AS MONEY),
			i.sku, 		
			CAST(i.qty_ordered AS INT) 
	ORDER BY o.entity_id DESC
 

--[state] [Order State]
--,[status] [Order Status]
--,coupon_code [Coupon Code]
--,shipping_description [Shipping Description]
--,store_id [Store ID]
--,o.discount_amount [Order Discount]
--,grand_total [Grand Total]
--,shipping_tax_amount [Shipping Tax Amount]
--,subtotal [Subtotal]
--,o.tax_amount [Order Tax Amount]
--,total_qty_ordered [Total Qty Ordered]
--,email_sent [Email Sent]
--,send_email [Send Email]
--,payment_authorization_amount [Payment Autho Amount]
--,shipping_discount_amount [Shipping Discount Amount]
--,subtotal_incl_tax [Subtotal With Tax]
--,original_increment_id [Original Order Number]
--,increment_id [Order Number]
--,dbo.fn_DateTime_to_Central(o.created_at) [Order Date]
--,dbo.fn_DateTime_to_Central(o.updated_at) [Updated Date]
--,ext_order_id [External Order Number]
--,applied_rule_ids [Applied Rule IDs]
--,customer_email [Customer Email]
--,customer_firstname [Customer First Name]
--,discount_description [Discount Description]
--,shipping_method [Shipping Method]
--,store_name [Store Name]
--,total_item_count [Total Item Count]
--,shipping_incl_tax [Shipping with Tax]
--,coupon_rule_name [Coupon Rule Name]
--,i.sku [Sku]
--,i.[name] [Product Name]
--,i.[description] [Product Description]
--,i.qty_ordered [Qty Ordered]
--,i.qty_shipped [Qty Shipped]
--,i.discount_percent [Item Discount Percent]
--,i.discount_amount [Item Discount]
--,i.original_price	[Original Price]
--,i.price [Price]
--,i.base_cost [Base Cost]
----,i.base_original_price [Base Original Price]
----,i.base_row_total [Base Row Total]
--,i.row_total [Row Total]
--,i.tax_amount [Item Tax Amount]
--,i.tax_percent [Item Tax Percent]
--,i.Free_Shipping [Free Shipping]


GO
