/****** Object:  StoredProcedure [dbo].[s_get_voucher_counts]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_voucher_counts]
AS
SET NOCOUNT ON
DECLARE @Result TABLE ([amount] MONEY, [arcitemcode] VARCHAR(50), [rule_id] INT, [total] INT, [unused] INT, [sent] int, [used] INT, [Loop] INT IDENTITY(1,1)) 
DECLARE @Total INT, @Issued INT, @Ordered INT, @Loop INT, @Max INT, @Rule_ID INT

--GET AVAILABLE CODES COUNT FOR EACH VOUCHER TYPE
INSERT INTO @Result ([amount],[arcitemcode],[rule_id],[total],[unused],[sent],[used])
SELECT 
	CAST(AMOUNT AS DECIMAL(12,2)) AS [amount]
   ,X.[arc_item_code]
   ,[MAGE_Rule_ID]
   ,0
   ,0 --COUNT(C.Code) AS [unused]
   ,0 --COUNT(S.CODE) AS [sent]
   ,0 --COUNT(U.CODE) AS [used]
  FROM [dbo].[Amount_Rule_ARCItem_XRef] X 
  --LEFT JOIN [dbo].[MAGE_SalesRule_coupon] C ON C.Rule_ID = X.[MAGE_Rule_ID]  AND C.[Status] = 0
  --LEFT JOIN [dbo].[MAGE_SalesRule_coupon] S ON S.Rule_ID = X.[MAGE_Rule_ID] AND (S.[Status] & 1) > 0
  --LEFT JOIN [dbo].[MAGE_SalesRule_coupon] U ON U.Rule_ID = X.[MAGE_Rule_ID] AND (U.[Status] & 2) > 0
  GROUP BY [MAGE_Rule_ID], [Amount], [arc_item_code]

  SELECT @Max = MAX([Loop]) FROM @Result
  SET @Loop = 1
  WHILE @Loop <= @Max
	BEGIN
		SELECT @Rule_ID = [Rule_ID] FROM @Result WHERE [Loop] = @Loop
		SELECT @Total = COUNT(*) FROM [dbo].[MAGE_salesrule_coupon] WHERE [rule_id] = @Rule_ID
		IF @Rule_ID = 1006 
			SELECT @Issued = COUNT(*) FROM [dbo].[CouponCodesIssued] ISS LEFT JOIN [dbo].[MAGE_salesrule_coupon] C ON C.coupon_id = ISS.Coupon_ID  WHERE [rule_id] = 1006
		ELSE
			SELECT @Issued = COUNT(*) FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE [Rule_ID] = @Rule_ID
		SELECT @Ordered = COUNT(*) FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE [Rule_ID] = @Rule_ID AND ISNULL([Used_Order_ID],0) > 0
		UPDATE @Result SET [total] = @Total, [unused] = @Total-@Issued, [sent] = @Issued, [used] = @Ordered WHERE [Loop] = @Loop
		SET @Loop = @Loop + 1
	END

  SELECT * FROM @Result
GO
