/****** Object:  StoredProcedure [dbo].[s_process_MAGEsales_order_address]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/18/2020
-- Description: Imports new records to [MAGEsales_order_address] table.  This runs as part of the data factory MAGE-Sales_Order.
-- Schedule:    Every half hour at 30 minutes past the hour.  However, if there are no SMI updates, the last run time and next run time will not be updated.
-- =============================================
CREATE PROCEDURE [dbo].[s_process_MAGEsales_order_address]
--EXEC s_process_MAGEsales_order_address
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @Entity_Id BIGINT
	SET @Entity_ID = 0
	SELECT @Entity_ID = MAX([Entity_ID]) FROM [dbo].[MAGEsales_order_address]
	PRINT 'Max Entity_ID in MAGEsales_order_address: ' + CAST(@Entity_ID AS VARCHAR(50))

	INSERT INTO [dbo].[MAGEsales_order_address] ([entity_id], [parent_id], [customer_address_id], [quote_address_id], [region_id], [customer_id], [fax], [region], [postcode], [lastname], [street], [city], [email], [telephone], [country_id], [firstname], [address_type], [prefix], [middlename], [suffix], [company], [vat_id], [vat_is_valid], [vat_request_id], [vat_request_date], [vat_request_success], [giftregistry_item_id], [tax_area_id])
	SELECT [entity_id], [parent_id], [customer_address_id], [quote_address_id], [region_id], [customer_id], [fax], [region], [postcode], [lastname], [street], [city], [email], [telephone], [country_id], [firstname], [address_type], [prefix], [middlename], [suffix], [company], [vat_id], [vat_is_valid], [vat_request_id], [vat_request_date], [vat_request_success], [giftregistry_item_id], [tax_area_id]
	FROM [dbo].[MAGEsales_order_address_import] WHERE [Entity_ID] > ISNULL(@Entity_Id,0) AND [Entity_ID] NOT IN (SELECT [Entity_ID] FROM [dbo].[MAGEsales_order_address])

	DECLARE @Value VARCHAR(50)
	SET @Value = FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGEsales_order_address', @AttribName = 'LastUpdate', @Value = @Value
	SET @Value = FORMAT(dateadd(hour,1,dbo.fn_DateTime_To_Central(GETDATE())), 'MM/dd/yyyy hh:30:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGEsales_order_address', @AttribName = 'NextUpdate', @Value = @Value
END
GO
