/****** Object:  StoredProcedure [dbo].[s_clear_cross_sell_YMAL_cache]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 05/07/2020
-- Description: Clear the cached tables for cross sell and YMAL
-- =============================================
CREATE PROCEDURE [dbo].[s_clear_cross_sell_YMAL_cache]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    truncate table cross_sell_cache_new
	truncate table  cross_sell_cache
	truncate table  cross_sell_processed
	truncate table  ymal_cache_new
	truncate table  ymal_cache
	truncate table  ymal_processed
	truncate table cross_sell_cache_at_cart
END
GO
