/****** Object:  StoredProcedure [dbo].[s_Update_ARC_Orders_After_Import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Update_ARC_Orders_After_Import]
(
	@Trigger_ID VARCHAR(50) = ''
)
AS 
--EXEC s_Update_ARC_Orders_After_Import
SET NOCOUNT ON
IF @Trigger_ID <> ''
	UPDATE [dbo].[ARC_Orders_Import] SET [Trigger_ID] = @Trigger_ID WHERE [Trigger_ID] IS NULL
INSERT INTO [dbo].[ARC_Orders] ([Order_Number],[Reference_Number],[BALNumber],[Item_Code],[Order_Email_Address],[Order_Student_First_Name],[Order_Student_Last_Name],[Order_Received_Date],[Shipped_Via],[Order_Bill_To_Full_Name],[Order_Bill_To_Address_1],[Order_Bill_To_Address_2],[Order_Bill_To_City_Name],[Order_Bill_To_State],[Order_Bill_To_Zip_Code],[SMI],[Batch_ID],[Imported_File_Name])
SELECT DISTINCT [FULFILL_ORDER_NUMBER],CASE WHEN ISNUMERIC(LTRIM(RTRIM([FO_X_REF]))) = 1 THEN CAST(LTRIM(RTRIM([FO_X_REF])) as BIGINT) ELSE 0 END,LTRIM(RTRIM([FO_SELLING_STORE_NUMBER])),LTRIM(RTRIM([ITEM_CODE])),LTRIM(RTRIM([FO_LINE_SPEC_DESCRIPTION])),LTRIM(RTRIM([FO_STUDENT_FIRST_MIDDLE])), LTRIM(RTRIM([FO_STUDENT_LAST_NAME])), [dbo].[fn_ConvertAS400Date]([FO_REQUEST_DATE]),LTRIM(RTRIM([Shipped_Via])),LTRIM(RTRIM(LEFT([Order_Bill_To_Full_Name],50))),LTRIM(RTRIM(LEFT([Order_Bill_To_Address_1],50))),LTRIM(RTRIM(LEFT([Order_Bill_To_Address_2],50))),LTRIM(RTRIM(LEFT([Order_Bill_To_City_Name],50))),LTRIM(RTRIM(LEFT([Order_Bill_To_State],2))),LEFT([Order_Bill_To_Zip_Code],5),CASE WHEN ISNUMERIC([SMI]) = 1 THEN CAST(LTRIM(RTRIM([SMI])) AS INT) ELSE 0 END, @Trigger_ID, [Imported_File_Name]
FROM [dbo].[ARC_Orders_Import]
WHERE [FULFILL_ORDER_NUMBER] NOT IN (SELECT [Order_Number] FROM [dbo].[ARC_Orders])

--Assign voucher codes


--Put the new records into the queue


SELECT DISTINCT 'arc-to-sql/voucher-orders/' + [Imported_File_Name] as [Imported_File_Name] FROM  [dbo].[ARC_Orders_Import] WHERE [Trigger_ID] = @Trigger_ID
GO
