/****** Object:  StoredProcedure [dbo].[s_get_addl_gradpack_bundles]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/23/2020
-- Description: Get Extra gradpack bundles from DB. 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_addl_gradpack_bundles]
(
    @smi varchar(10),
	@debugging BIT = 0
)
-- exec [s_get_addl_gradpack_bundles] @smi=130996, @debugging = 1 -- LSU
-- exec [s_get_addl_gradpack_bundles] @smi='29672',  @debugging = 1 -- AIRLINE HS
-- exec [s_get_addl_gradpack_bundles] @smi='131722',  @debugging = 1 --VT
-- exec [s_get_addl_gradpack_bundles] @smi='1304',  @debugging = 1 --False pass
-- exec [s_get_addl_gradpack_bundles] @smi='18249',  @debugging = 1 --Wheeler county
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	select top 10
	 p.[Product Name] AS [Name]
	,'$' + CAST(ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS VARCHAR(MAX)) AS [ProductPrice]
	,[dbo].[fn_get_image_url2](p.sku) AS [ProductImageSmall]
	,p.URL AS [ProductUrl]
	,p.[Product Name] AS [Description]
	,p.[Product ID] AS [MagentoId]
	,p.sku AS [Sku]
	from magento_automated_product_dataset p 
	WHERE 
		p.Status = 'Enable'					
		AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
		AND [dbo].[fn_InCollection] (@smi,p.product_collection) = 1
	    AND p.product_collection in ('BalProdColl_HSGradPack') -- should be the following 4 SKUs based on product collection
		AND 
		p.sku in 
			(
			'A0235792'
			,'A0235793'
			,'A0235794'
			,'A0235796'
			)
		ORDER BY p.[Retail Price] asc
	FOR JSON PATH
END
GO
