/****** Object:  StoredProcedure [dbo].[s_get_UP_school_items]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 2019-08-06
-- Description: Get greek items based on Iconic School Id
-- =============================================
CREATE PROCEDURE [dbo].[s_get_UP_school_items]
(
    -- Add the parameters for the stored procedure here
    @iconicschoolid int = 0,
	@pricethreshold float = 9.99
)
-- [s_get_UP_school_items] @iconicschoolid = 104894 -- ADPi - Clemson
-- [s_get_UP_school_items] @iconicschoolid = 105607 -- GPB - UofGeorgia
-- [s_get_UP_school_items] @iconicschoolid = 106673 -- ADPi - Baylor
-- [s_get_UP_school_items] @iconicschoolid = 106572 -- ADPi - Ole Miss
-- [s_get_UP_school_items] @iconicschoolid = 105036 -- AXO - Texas A&M

--Fraternities

-- [s_get_UP_school_items] @iconicschoolid = 105113 
-- [s_get_UP_school_items] @iconicschoolid = 104973
-- [s_get_UP_school_items] @iconicschoolid = 106283

-- Generic school items
-- [s_get_UP_school_items] @iconicschoolid = 105334
-- [s_get_UP_school_items] @iconicschoolid = 105342
-- [s_get_UP_school_items] @iconicschoolid = 105305 -- georgetown 
-- [s_get_UP_school_items] @iconicschoolid = 105305, @pricethreshold = 19.99
-- [s_get_UP_school_items] @iconicschoolid = 105419 -- FIU

AS
BEGIN
    SET NOCOUNT ON

	DECLARE @returnprod TABLE ( imageurl varchar(255), itemurl varchar(255), sku varchar(100), productname varchar(255), retailprice numeric(9,2), iconicid int, smiid int, class varchar(255), rank int, rank2 int)

	IF @iconicschoolid IN(select [Client ID] from grkclients)
	BEGIN
		Print 'Greek Client'
		-- Flip a coin
		DECLARE @COIN INT
		SELECT @COIN = (select ABS(CHECKSUM(NEWID()) % 2))
		-- Select @COIN = 0
		IF @COIN = 0
		-- HEADS
		BEGIN
			PRINT 'HEADS'
			INSERT INTO @returnprod
			SELECT  [imageurl], [itemurl], [sku], [productname], 0 AS [retailprice], [iconicid], [smiid], [Class], rank, rank2
			FROM    (
					SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank, rank2,
							ROW_NUMBER() OVER (PARTITION BY  rank ORDER BY rank asc) AS rn
					FROM    GreekRecCache
					where iconicid = @iconicschoolid
					AND retailprice > @pricethreshold
					) q
			WHERE   rn = 1
			order by rank asc
		
			SELECT * FROM @returnprod
			order by rank asc
		END
		ELSE
		-- TAILS
		BEGIN	
			PRINT 'TAILS'
			INSERT INTO @returnprod
			SELECT  [imageurl], [itemurl], [sku], [productname], 0 AS [retailprice], [iconicid], [smiid], [Class], rank, rank2
			FROM    (
					SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank, rank2,
							ROW_NUMBER() OVER (PARTITION BY rank2 ORDER BY rank2 asc) AS rn
					FROM    GreekRecCache
					where iconicid = @iconicschoolid
					AND retailprice > @pricethreshold
					) q
			WHERE   rn = 1
			order by rank2 asc
		
			SELECT * FROM @returnprod
			order by rank2 asc
		END
	END

	
	-- Non Greek clients
	IF @iconicschoolid IN(select [Client ID] from nongrkclients UNION (select [iconicid] from iconicTosmi))
	BEGIN
		Print 'Generic Product Ranks'
		INSERT INTO @returnprod
		SELECT  [imageurl], [itemurl], [sku], [productname], 0 AS [retailprice], [iconicid], [smiid], [Class], rank, 0
		FROM    (
				SELECT   [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], i.[Class], g.rank,
						ROW_NUMBER() OVER (PARTITION BY i.[Class] ORDER BY g.rank asc) AS rn
				FROM    iconicRecCache i
				inner join [dbo].[UP_generic_rankings] g on g.class = i.class
				where iconicid = @iconicschoolid
				AND retailprice > @pricethreshold
				) q
		WHERE   rn = 1
		order by rank asc

		SELECT * FROM @returnprod
		order by rank asc
	END

END
	
	
GO
