/****** Object:  StoredProcedure [dbo].[s_get_gradpackimages_alttags_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/7/2021 - Jon
*/
CREATE PROCEDURE [dbo].[s_get_gradpackimages_alttags_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --SKU
	,  @SKU NVARCHAR(50) = NULL
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [GradPackImages_AltTags] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [GradPackImages_AltTags].
--##PD @SKU is a limiting field
--##PD @searchField - The field to search on (SKU)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [GradPackImages_AltTags].

--DECLARE @totalRecords INT; EXEC s_get_gradpackimages_alttags_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [ID]
		,[Image1]
		,[Image2]
		,[Image3]
		,[SKU]
		,[Name]
		,[AltText]
		,[ProductName]
		FROM [GradPackImages_AltTags]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[GradPackImages_AltTags]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [GradPackImages_AltTags]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
		AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [ID]
				,[Image1]
				,[Image2]
				,[Image3]
				,[SKU]
				,[Name]
				,[AltText]
				,[ProductName]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SKU' THEN [SKU] END DESC) as RowNumber
				FROM [dbo].[GradPackImages_AltTags]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
				AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [ID]
				,[Image1]
				,[Image2]
				,[Image3]
				,[SKU]
				,[Name]
				,[AltText]
				,[ProductName]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SKU' THEN [SKU] END) as RowNumber
				FROM [dbo].[GradPackImages_AltTags]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
				AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
