/****** Object:  StoredProcedure [dbo].[s_update_gradpackimages_alttags_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/7/2021 - Jon.
*/
CREATE PROCEDURE [dbo].[s_update_gradpackimages_alttags_record]
(
 @AltText NVARCHAR(MAX) = NULL
,@ID INT = NULL
,@Image1 VARCHAR(150) = NULL
,@Image2 VARCHAR(150) = NULL
,@Image3 VARCHAR(150) = NULL
,@Name NVARCHAR(255) = NULL
,@ProductName NVARCHAR(MAX) = NULL
,@SKU NVARCHAR(50) = NULL
, @ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [GradPackImages_AltTags].
--##RS1 The [ID] value of the inserted/updated record in the table [GradPackImages_AltTags].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [GradPackImages_AltTags] ( [Image1],[Image2],[Image3],[SKU],[Name],[AltText],[ProductName])
       VALUES ( @Image1,@Image2,@Image3,@SKU,@Name,@AltText,@ProductName)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [GradPackImages_AltTags] SET
     [Image1] = CASE WHEN @Image1 IS NULL THEN [Image1] ELSE @Image1 END
    ,[Image2] = CASE WHEN @Image2 IS NULL THEN [Image2] ELSE @Image2 END
    ,[Image3] = CASE WHEN @Image3 IS NULL THEN [Image3] ELSE @Image3 END
    ,[SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
    ,[Name] = CASE WHEN @Name IS NULL THEN [Name] ELSE @Name END
    ,[AltText] = CASE WHEN @AltText IS NULL THEN [AltText] ELSE @AltText END
    ,[ProductName] = CASE WHEN @ProductName IS NULL THEN [ProductName] ELSE @ProductName END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [ID]
,[Image1]
,[Image2]
,[Image3]
,[SKU]
,[Name]
,[AltText]
,[ProductName]

FROM dbo.[GradPackImages_AltTags]
WHERE [ID] = @ID_Out
GO
