/****** Object:  StoredProcedure [dbo].[s_update_virtcommparticipants_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 5/22/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_virtcommparticipants_record]
(
 @BatchID VARCHAR(50) = NULL
,@BBRegistrationCode VARCHAR(20) = NULL
,@CCSFileName VARCHAR(100) = NULL
,@CParticipant_Name VARCHAR(225) = NULL
,@EventID BIGINT = NULL
,@FinalEmailQueued DATETIME = NULL
,@FirstName VARCHAR(100) = NULL
,@Frame VARCHAR(50) = NULL
,@FullName VARCHAR(100) = NULL
,@Gender CHAR(1) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@Idomoo_landingpage VARCHAR(500) = NULL
,@Idomoo_Thumbnail VARCHAR(500) = NULL
,@Idomoo_Video_link VARCHAR(500) = NULL
,@IdomooFileName VARCHAR(100) = NULL
,@ImageURL VARCHAR(255) = NULL
,@LandingPage VARCHAR(500) = NULL
,@LastName VARCHAR(100) = NULL
,@Model_Year INT = NULL
,@NameID BIGINT = NULL
,@New_Customer CHAR(1) = NULL
,@PAddress1 VARCHAR(100) = NULL
,@PAddress2 VARCHAR(100) = NULL
,@PAddressID BIGINT = NULL
,@PCellPhone VARCHAR(20) = NULL
,@PCity VARCHAR(50) = NULL
,@PCountry VARCHAR(100) = NULL
,@PEmail VARCHAR(100) = NULL
,@PFirstName VARCHAR(100) = NULL
,@PLastName VARCHAR(100) = NULL
,@PPhone VARCHAR(20) = NULL
,@PState VARCHAR(50) = NULL
,@PZip VARCHAR(15) = NULL
,@QuoteOnGraduationSlide VARCHAR(225) = NULL
,@R3_Select_A_Photo VARCHAR(50) = NULL
,@R4_Degree_Major VARCHAR(100) = NULL
,@R5_Area_Of_Study VARCHAR(225) = NULL
,@RegistrationCode VARCHAR(20) = NULL
,@RescheduledMonth VARCHAR(50) = NULL
,@SAddress1 VARCHAR(100) = NULL
,@SAddress2 VARCHAR(100) = NULL
,@SAddressID BIGINT = NULL
,@SCellPhone VARCHAR(20) = NULL
,@SCity VARCHAR(50) = NULL
,@SCountry VARCHAR(100) = NULL
,@SEmail VARCHAR(100) = NULL
,@Sign_Up_Date DATE = NULL
,@SMI INT = NULL
,@SPhone VARCHAR(20) = NULL
,@Spots VARCHAR(50) = NULL
,@SState VARCHAR(50) = NULL
,@SubAccount VARCHAR(50) = NULL
,@SZip VARCHAR(15) = NULL
,@T1Address1 VARCHAR(100) = NULL
,@T1Address2 VARCHAR(100) = NULL
,@T1AddressID BIGINT = NULL
,@T1CellPhone VARCHAR(20) = NULL
,@T1City VARCHAR(50) = NULL
,@T1Country VARCHAR(100) = NULL
,@T1Email VARCHAR(100) = NULL
,@T1Phone VARCHAR(20) = NULL
,@T1State VARCHAR(50) = NULL
,@T1Zip VARCHAR(15) = NULL
,@T2Address1 VARCHAR(100) = NULL
,@T2Address2 VARCHAR(100) = NULL
,@T2AddressID BIGINT = NULL
,@T2CellPhone VARCHAR(200) = NULL
,@T2City VARCHAR(50) = NULL
,@T2Country VARCHAR(100) = NULL
,@T2Email VARCHAR(200) = NULL
,@T2Phone VARCHAR(20) = NULL
,@T2State VARCHAR(50) = NULL
,@T2Zip VARCHAR(15) = NULL
,@T3Address1 VARCHAR(100) = NULL
,@T3Address2 VARCHAR(100) = NULL
,@T3AddressID BIGINT = NULL
,@T3CellPhone VARCHAR(20) = NULL
,@T3City VARCHAR(50) = NULL
,@T3Country VARCHAR(100) = NULL
,@T3Email VARCHAR(100) = NULL
,@T3Phone VARCHAR(20) = NULL
,@T3State VARCHAR(50) = NULL
,@T3Zip VARCHAR(15) = NULL
,@T4Address1 VARCHAR(200) = NULL
,@T4Address2 VARCHAR(200) = NULL
,@T4AddressID BIGINT = NULL
,@T4CellPhone VARCHAR(20) = NULL
,@T4City VARCHAR(100) = NULL
,@T4Country VARCHAR(100) = NULL
,@T4Email VARCHAR(100) = NULL
,@T4Phone VARCHAR(20) = NULL
,@T4State VARCHAR(50) = NULL
,@T4Zip VARCHAR(15) = NULL
,@T5Address1 VARCHAR(100) = NULL
,@T5Address2 VARCHAR(100) = NULL
,@T5AddressID BIGINT = NULL
,@T5CellPhone VARCHAR(20) = NULL
,@T5City VARCHAR(100) = NULL
,@T5Country VARCHAR(100) = NULL
,@T5Email VARCHAR(100) = NULL
,@T5Phone VARCHAR(20) = NULL
,@T5State VARCHAR(50) = NULL
,@T5Zip VARCHAR(15) = NULL
,@Thumbnail VARCHAR(500) = NULL
,@Thumbnail_1 VARCHAR(500) = NULL
,@VerticalImage VARCHAR(20) = NULL
,@Video VARCHAR(500) = NULL
,@YearbookSpots VARCHAR(50) = NULL
,@ZOrder INT = NULL
, @ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [VirtCommParticipants].
--##RS1 The [ID] value of the inserted/updated record in the table [VirtCommParticipants].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    IF @FirstName <> 'CORE' AND @LastName <> 'CORE'
		BEGIN
			INSERT INTO [VirtCommParticipants] ( [EventID],[NameID],[FirstName],[LastName],[ZOrder],[RegistrationCode],[PFirstName],[PLastName],[PAddressID],[PAddress1],[PAddress2],[PCity],[PState],[PZip],[PCountry],[PPhone],[PCellPhone],[PEmail],[SAddressID],[SAddress1],[SAddress2],[SCity],[SState],[SZip],[SCountry],[SPhone],[SCellPhone],[SEmail],[T1AddressID],[T1Address1],[T1Address2],[T1City],[T1State],[T1Zip],[T1Country],[T1Phone],[T1CellPhone],[T1Email],[T2AddressID],[T2Address1],[T2Address2],[T2City],[T2State],[T2Zip],[T2Country],[T2Phone],[T2CellPhone],[T2Email],[T3AddressID],[T3Address1],[T3Address2],[T3City],[T3State],[T3Zip],[T3Country],[T3Phone],[T3CellPhone],[T3Email],[T4AddressID],[T4Address1],[T4Address2],[T4City],[T4State],[T4Zip],[T4Country],[T4Phone],[T4CellPhone],[T4Email],[T5AddressID],[T5Address1],[T5Address2],[T5City],[T5State],[T5Zip],[T5Country],[T5Phone],[T5CellPhone],[T5Email],[YearbookSpots],[Spots],[RescheduledMonth],[VerticalImage],[QuoteOnGraduationSlide],[BBRegistrationCode],[SMI],[SubAccount],[BatchID],[ImageURL],[Gender],[Model_Year],[Sign_Up_Date],[New_Customer],[LandingPage],[Video],[Thumbnail],[Thumbnail_1],[CParticipant_Name],[R3_Select_A_Photo],[R4_Degree_Major],[R5_Area_Of_Study],[FullName],[GUID],[CCSFileName],[IdomooFileName],[Idomoo_Thumbnail],[FinalEmailQueued],[Idomoo_landingpage],[Idomoo_Video_link],[Frame])
			   VALUES ( @EventID,@NameID,@FirstName,@LastName,@ZOrder,@RegistrationCode,@PFirstName,@PLastName,@PAddressID,@PAddress1,@PAddress2,@PCity,@PState,@PZip,@PCountry,@PPhone,@PCellPhone,@PEmail,@SAddressID,@SAddress1,@SAddress2,@SCity,@SState,@SZip,@SCountry,@SPhone,@SCellPhone,@SEmail,@T1AddressID,@T1Address1,@T1Address2,@T1City,@T1State,@T1Zip,@T1Country,@T1Phone,@T1CellPhone,@T1Email,@T2AddressID,@T2Address1,@T2Address2,@T2City,@T2State,@T2Zip,@T2Country,@T2Phone,@T2CellPhone,@T2Email,@T3AddressID,@T3Address1,@T3Address2,@T3City,@T3State,@T3Zip,@T3Country,@T3Phone,@T3CellPhone,@T3Email,@T4AddressID,@T4Address1,@T4Address2,@T4City,@T4State,@T4Zip,@T4Country,@T4Phone,@T4CellPhone,@T4Email,@T5AddressID,@T5Address1,@T5Address2,@T5City,@T5State,@T5Zip,@T5Country,@T5Phone,@T5CellPhone,@T5Email,@YearbookSpots,@Spots,@RescheduledMonth,@VerticalImage,@QuoteOnGraduationSlide,@BBRegistrationCode,@SMI,@SubAccount,@BatchID,@ImageURL,@Gender,@Model_Year,@Sign_Up_Date,@New_Customer,@LandingPage,@Video,@Thumbnail,@Thumbnail_1,@CParticipant_Name,@R3_Select_A_Photo,@R4_Degree_Major,@R5_Area_Of_Study,@FullName,@GUID,@CCSFileName,@IdomooFileName,@Idomoo_Thumbnail,@FinalEmailQueued,@Idomoo_landingpage,@Idomoo_Video_link,@Frame)
			SELECT @ID_Out = SCOPE_IDENTITY()
		END
	ELSE
		SET @ID_Out = 0
  END
ELSE
  BEGIN
    UPDATE [VirtCommParticipants] SET
     --[EventID] = CASE WHEN @EventID IS NULL THEN [EventID] ELSE @EventID END
    --,[NameID] = CASE WHEN @NameID IS NULL THEN [NameID] ELSE @NameID END
     [FirstName] = CASE WHEN @FirstName IS NULL THEN [FirstName] ELSE @FirstName END
    ,[LastName] = CASE WHEN @LastName IS NULL THEN [LastName] ELSE @LastName END
    --,[ZOrder] = CASE WHEN @ZOrder IS NULL THEN [ZOrder] ELSE @ZOrder END
    --,[RegistrationCode] = CASE WHEN @RegistrationCode IS NULL THEN [RegistrationCode] ELSE @RegistrationCode END
    --,[PFirstName] = CASE WHEN @PFirstName IS NULL THEN [PFirstName] ELSE @PFirstName END
    --,[PLastName] = CASE WHEN @PLastName IS NULL THEN [PLastName] ELSE @PLastName END
    --,[PAddressID] = CASE WHEN @PAddressID IS NULL THEN [PAddressID] ELSE @PAddressID END
    --,[PAddress1] = CASE WHEN @PAddress1 IS NULL THEN [PAddress1] ELSE @PAddress1 END
    --,[PAddress2] = CASE WHEN @PAddress2 IS NULL THEN [PAddress2] ELSE @PAddress2 END
    --,[PCity] = CASE WHEN @PCity IS NULL THEN [PCity] ELSE @PCity END
    --,[PState] = CASE WHEN @PState IS NULL THEN [PState] ELSE @PState END
    --,[PZip] = CASE WHEN @PZip IS NULL THEN [PZip] ELSE @PZip END
    --,[PCountry] = CASE WHEN @PCountry IS NULL THEN [PCountry] ELSE @PCountry END
    --,[PPhone] = CASE WHEN @PPhone IS NULL THEN [PPhone] ELSE @PPhone END
    --,[PCellPhone] = CASE WHEN @PCellPhone IS NULL THEN [PCellPhone] ELSE @PCellPhone END
    ,[PEmail] = CASE WHEN @PEmail IS NULL THEN [PEmail] ELSE @PEmail END
    --,[SAddressID] = CASE WHEN @SAddressID IS NULL THEN [SAddressID] ELSE @SAddressID END
    --,[SAddress1] = CASE WHEN @SAddress1 IS NULL THEN [SAddress1] ELSE @SAddress1 END
    --,[SAddress2] = CASE WHEN @SAddress2 IS NULL THEN [SAddress2] ELSE @SAddress2 END
    --,[SCity] = CASE WHEN @SCity IS NULL THEN [SCity] ELSE @SCity END
    --,[SState] = CASE WHEN @SState IS NULL THEN [SState] ELSE @SState END
    --,[SZip] = CASE WHEN @SZip IS NULL THEN [SZip] ELSE @SZip END
    --,[SCountry] = CASE WHEN @SCountry IS NULL THEN [SCountry] ELSE @SCountry END
    --,[SPhone] = CASE WHEN @SPhone IS NULL THEN [SPhone] ELSE @SPhone END
    --,[SCellPhone] = CASE WHEN @SCellPhone IS NULL THEN [SCellPhone] ELSE @SCellPhone END
    --,[SEmail] = CASE WHEN @SEmail IS NULL THEN [SEmail] ELSE @SEmail END
    --,[T1AddressID] = CASE WHEN @T1AddressID IS NULL THEN [T1AddressID] ELSE @T1AddressID END
    --,[T1Address1] = CASE WHEN @T1Address1 IS NULL THEN [T1Address1] ELSE @T1Address1 END
    --,[T1Address2] = CASE WHEN @T1Address2 IS NULL THEN [T1Address2] ELSE @T1Address2 END
    --,[T1City] = CASE WHEN @T1City IS NULL THEN [T1City] ELSE @T1City END
    --,[T1State] = CASE WHEN @T1State IS NULL THEN [T1State] ELSE @T1State END
    --,[T1Zip] = CASE WHEN @T1Zip IS NULL THEN [T1Zip] ELSE @T1Zip END
    --,[T1Country] = CASE WHEN @T1Country IS NULL THEN [T1Country] ELSE @T1Country END
    --,[T1Phone] = CASE WHEN @T1Phone IS NULL THEN [T1Phone] ELSE @T1Phone END
    --,[T1CellPhone] = CASE WHEN @T1CellPhone IS NULL THEN [T1CellPhone] ELSE @T1CellPhone END
    --,[T1Email] = CASE WHEN @T1Email IS NULL THEN [T1Email] ELSE @T1Email END
    --,[T2AddressID] = CASE WHEN @T2AddressID IS NULL THEN [T2AddressID] ELSE @T2AddressID END
    --,[T2Address1] = CASE WHEN @T2Address1 IS NULL THEN [T2Address1] ELSE @T2Address1 END
    --,[T2Address2] = CASE WHEN @T2Address2 IS NULL THEN [T2Address2] ELSE @T2Address2 END
    --,[T2City] = CASE WHEN @T2City IS NULL THEN [T2City] ELSE @T2City END
    --,[T2State] = CASE WHEN @T2State IS NULL THEN [T2State] ELSE @T2State END
    --,[T2Zip] = CASE WHEN @T2Zip IS NULL THEN [T2Zip] ELSE @T2Zip END
    --,[T2Country] = CASE WHEN @T2Country IS NULL THEN [T2Country] ELSE @T2Country END
    --,[T2Phone] = CASE WHEN @T2Phone IS NULL THEN [T2Phone] ELSE @T2Phone END
    --,[T2CellPhone] = CASE WHEN @T2CellPhone IS NULL THEN [T2CellPhone] ELSE @T2CellPhone END
    --,[T2Email] = CASE WHEN @T2Email IS NULL THEN [T2Email] ELSE @T2Email END
    --,[T3AddressID] = CASE WHEN @T3AddressID IS NULL THEN [T3AddressID] ELSE @T3AddressID END
    --,[T3Address1] = CASE WHEN @T3Address1 IS NULL THEN [T3Address1] ELSE @T3Address1 END
    --,[T3Address2] = CASE WHEN @T3Address2 IS NULL THEN [T3Address2] ELSE @T3Address2 END
    --,[T3City] = CASE WHEN @T3City IS NULL THEN [T3City] ELSE @T3City END
    --,[T3State] = CASE WHEN @T3State IS NULL THEN [T3State] ELSE @T3State END
    --,[T3Zip] = CASE WHEN @T3Zip IS NULL THEN [T3Zip] ELSE @T3Zip END
    --,[T3Country] = CASE WHEN @T3Country IS NULL THEN [T3Country] ELSE @T3Country END
    --,[T3Phone] = CASE WHEN @T3Phone IS NULL THEN [T3Phone] ELSE @T3Phone END
    --,[T3CellPhone] = CASE WHEN @T3CellPhone IS NULL THEN [T3CellPhone] ELSE @T3CellPhone END
    --,[T3Email] = CASE WHEN @T3Email IS NULL THEN [T3Email] ELSE @T3Email END
    --,[T4AddressID] = CASE WHEN @T4AddressID IS NULL THEN [T4AddressID] ELSE @T4AddressID END
    --,[T4Address1] = CASE WHEN @T4Address1 IS NULL THEN [T4Address1] ELSE @T4Address1 END
    --,[T4Address2] = CASE WHEN @T4Address2 IS NULL THEN [T4Address2] ELSE @T4Address2 END
    --,[T4City] = CASE WHEN @T4City IS NULL THEN [T4City] ELSE @T4City END
    --,[T4State] = CASE WHEN @T4State IS NULL THEN [T4State] ELSE @T4State END
    --,[T4Zip] = CASE WHEN @T4Zip IS NULL THEN [T4Zip] ELSE @T4Zip END
    --,[T4Country] = CASE WHEN @T4Country IS NULL THEN [T4Country] ELSE @T4Country END
    --,[T4Phone] = CASE WHEN @T4Phone IS NULL THEN [T4Phone] ELSE @T4Phone END
    --,[T4CellPhone] = CASE WHEN @T4CellPhone IS NULL THEN [T4CellPhone] ELSE @T4CellPhone END
    --,[T4Email] = CASE WHEN @T4Email IS NULL THEN [T4Email] ELSE @T4Email END
    --,[T5AddressID] = CASE WHEN @T5AddressID IS NULL THEN [T5AddressID] ELSE @T5AddressID END
    --,[T5Address1] = CASE WHEN @T5Address1 IS NULL THEN [T5Address1] ELSE @T5Address1 END
    --,[T5Address2] = CASE WHEN @T5Address2 IS NULL THEN [T5Address2] ELSE @T5Address2 END
    --,[T5City] = CASE WHEN @T5City IS NULL THEN [T5City] ELSE @T5City END
    --,[T5State] = CASE WHEN @T5State IS NULL THEN [T5State] ELSE @T5State END
    --,[T5Zip] = CASE WHEN @T5Zip IS NULL THEN [T5Zip] ELSE @T5Zip END
    --,[T5Country] = CASE WHEN @T5Country IS NULL THEN [T5Country] ELSE @T5Country END
    --,[T5Phone] = CASE WHEN @T5Phone IS NULL THEN [T5Phone] ELSE @T5Phone END
    --,[T5CellPhone] = CASE WHEN @T5CellPhone IS NULL THEN [T5CellPhone] ELSE @T5CellPhone END
    --,[T5Email] = CASE WHEN @T5Email IS NULL THEN [T5Email] ELSE @T5Email END
    --,[YearbookSpots] = CASE WHEN @YearbookSpots IS NULL THEN [YearbookSpots] ELSE @YearbookSpots END
    --,[Spots] = CASE WHEN @Spots IS NULL THEN [Spots] ELSE @Spots END
    --,[RescheduledMonth] = CASE WHEN @RescheduledMonth IS NULL THEN [RescheduledMonth] ELSE @RescheduledMonth END
    --,[VerticalImage] = CASE WHEN @VerticalImage IS NULL THEN [VerticalImage] ELSE @VerticalImage END
    --,[QuoteOnGraduationSlide] = CASE WHEN @QuoteOnGraduationSlide IS NULL THEN [QuoteOnGraduationSlide] ELSE @QuoteOnGraduationSlide END
    --,[BBRegistrationCode] = CASE WHEN @BBRegistrationCode IS NULL THEN [BBRegistrationCode] ELSE @BBRegistrationCode END
    --,[SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    --,[SubAccount] = CASE WHEN @SubAccount IS NULL THEN [SubAccount] ELSE @SubAccount END
    --,[BatchID] = CASE WHEN @BatchID IS NULL THEN [BatchID] ELSE @BatchID END
    --,[ImageURL] = CASE WHEN @ImageURL IS NULL THEN [ImageURL] ELSE @ImageURL END
    --,[Gender] = CASE WHEN @Gender IS NULL THEN [Gender] ELSE @Gender END
    --,[Model_Year] = CASE WHEN @Model_Year IS NULL THEN [Model_Year] ELSE @Model_Year END
    --,[Sign_Up_Date] = CASE WHEN @Sign_Up_Date IS NULL THEN [Sign_Up_Date] ELSE @Sign_Up_Date END
    --,[New_Customer] = CASE WHEN @New_Customer IS NULL THEN [New_Customer] ELSE @New_Customer END
    --,[LandingPage] = CASE WHEN @LandingPage IS NULL THEN [LandingPage] ELSE @LandingPage END
    --,[Video] = CASE WHEN @Video IS NULL THEN [Video] ELSE @Video END
    --,[Thumbnail] = CASE WHEN @Thumbnail IS NULL THEN [Thumbnail] ELSE @Thumbnail END
    --,[Thumbnail_1] = CASE WHEN @Thumbnail_1 IS NULL THEN [Thumbnail_1] ELSE @Thumbnail_1 END
    --,[CParticipant_Name] = CASE WHEN @CParticipant_Name IS NULL THEN [CParticipant_Name] ELSE @CParticipant_Name END
    --,[R3_Select_A_Photo] = CASE WHEN @R3_Select_A_Photo IS NULL THEN [R3_Select_A_Photo] ELSE @R3_Select_A_Photo END
    --,[R4_Degree_Major] = CASE WHEN @R4_Degree_Major IS NULL THEN [R4_Degree_Major] ELSE @R4_Degree_Major END
    --,[R5_Area_Of_Study] = CASE WHEN @R5_Area_Of_Study IS NULL THEN [R5_Area_Of_Study] ELSE @R5_Area_Of_Study END
    --,[FullName] = CASE WHEN @FullName IS NULL THEN [FullName] ELSE @FullName END
    --,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
    --,[CCSFileName] = CASE WHEN @CCSFileName IS NULL THEN [CCSFileName] ELSE @CCSFileName END
    --,[IdomooFileName] = CASE WHEN @IdomooFileName IS NULL THEN [IdomooFileName] ELSE @IdomooFileName END
    --,[Idomoo_Thumbnail] = CASE WHEN @Idomoo_Thumbnail IS NULL THEN [Idomoo_Thumbnail] ELSE @Idomoo_Thumbnail END
    --,[FinalEmailQueued] = CASE WHEN @FinalEmailQueued IS NULL THEN [FinalEmailQueued] ELSE @FinalEmailQueued END
    --,[Idomoo_landingpage] = CASE WHEN @Idomoo_landingpage IS NULL THEN [Idomoo_landingpage] ELSE @Idomoo_landingpage END
    --,[Idomoo_Video_link] = CASE WHEN @Idomoo_Video_link IS NULL THEN [Idomoo_Video_link] ELSE @Idomoo_Video_link END
    ,[Frame] = CASE WHEN @Frame IS NULL THEN [Frame] ELSE @Frame END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [EventID]
,[NameID]
,[FirstName]
,[LastName]
,[ZOrder]
,[RegistrationCode]
,[PFirstName]
,[PLastName]
,[PAddressID]
,[PAddress1]
,[PAddress2]
,[PCity]
,[PState]
,[PZip]
,[PCountry]
,[PPhone]
,[PCellPhone]
,[PEmail]
,[SAddressID]
,[SAddress1]
,[SAddress2]
,[SCity]
,[SState]
,[SZip]
,[SCountry]
,[SPhone]
,[SCellPhone]
,[SEmail]
,[T1AddressID]
,[T1Address1]
,[T1Address2]
,[T1City]
,[T1State]
,[T1Zip]
,[T1Country]
,[T1Phone]
,[T1CellPhone]
,[T1Email]
,[T2AddressID]
,[T2Address1]
,[T2Address2]
,[T2City]
,[T2State]
,[T2Zip]
,[T2Country]
,[T2Phone]
,[T2CellPhone]
,[T2Email]
,[T3AddressID]
,[T3Address1]
,[T3Address2]
,[T3City]
,[T3State]
,[T3Zip]
,[T3Country]
,[T3Phone]
,[T3CellPhone]
,[T3Email]
,[T4AddressID]
,[T4Address1]
,[T4Address2]
,[T4City]
,[T4State]
,[T4Zip]
,[T4Country]
,[T4Phone]
,[T4CellPhone]
,[T4Email]
,[T5AddressID]
,[T5Address1]
,[T5Address2]
,[T5City]
,[T5State]
,[T5Zip]
,[T5Country]
,[T5Phone]
,[T5CellPhone]
,[T5Email]
,[YearbookSpots]
,[Spots]
,[RescheduledMonth]
,[VerticalImage]
,[QuoteOnGraduationSlide]
,[BBRegistrationCode]
,[SMI]
,[SubAccount]
,[BatchID]
,[ImageURL]
,[Gender]
,[Model_Year]
,[Sign_Up_Date]
,[New_Customer]
,[LandingPage]
,[Video]
,[Thumbnail]
,[Thumbnail_1]
,[CParticipant_Name]
,[R3_Select_A_Photo]
,[R4_Degree_Major]
,[R5_Area_Of_Study]
,[FullName]
,[GUID]
,[CCSFileName]
,[IdomooFileName]
,[ID]
,[Idomoo_Thumbnail]
,FORMAT(dbo.fn_DateTime_to_Central([FinalEmailQueued]), 'MM/dd/yyyy hh:mm:ss tt') AS [FinalEmailQueued]
,[Idomoo_landingpage]
,[Idomoo_Video_link]
,ISNULL([Frame],'') as [Frame]

FROM dbo.[VirtCommParticipants]
WHERE [ID] = @ID_Out
GO
