/****** Object:  StoredProcedure [dbo].[s_update_gradpacksmiassignments_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/10/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_update_gradpacksmiassignments_record]
(
 @GradPackSMIAssignmentID INT = NULL
,@SKU VARCHAR(50) = NULL
,@SMI INT = NULL
, @GradPackSMIAssignmentID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [GradPackSMIAssignments].
--##RS1 The [GradPackSMIAssignmentID] value of the inserted/updated record in the table [GradPackSMIAssignments].

IF ISNULL(@GradPackSMIAssignmentID,0) = 0 --Insert
  BEGIN
    INSERT INTO [GradPackSMIAssignments] ( [SMI],[SKU])
       VALUES ( @SMI,@SKU)
    SELECT @GradPackSMIAssignmentID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [GradPackSMIAssignments] SET
     [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
      WHERE [GradPackSMIAssignmentID] = @GradPackSMIAssignmentID
    SELECT @GradPackSMIAssignmentID_Out = @GradPackSMIAssignmentID
  END

SELECT
 [GradPackSMIAssignmentID]
,[SMI]
,[SKU]

FROM dbo.[GradPackSMIAssignments]
WHERE [GradPackSMIAssignmentID] = @GradPackSMIAssignmentID_Out
GO
