/****** Object:  StoredProcedure [dbo].[s_get_current_user]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Han Tran
-- Create Date: 12/16/2010
-- Description: Get current rep info who logins to Power BI
-- =============================================

/* test case
	EXEC [dbo].[s_get_current_user] 'aacecom\htran'
*/
CREATE PROCEDURE [dbo].[s_get_current_user](@currentUser VARCHAR(60))
AS
BEGIN
    SET NOCOUNT ON
	SELECT * FROM SaleRep WHERE LoginId = @currentUser
END
GO
