/****** Object:  StoredProcedure [dbo].[s_report_non_contiguous_states_orders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 04/17/2020
-- Description: Sends an internal non contiguous states orders report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_non_contiguous_states_orders]
AS 
--EXEC s_report_non_contiguous_states_orders
SET NOCOUNT ON
/*
You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
you can get the rows in the correct order.
*/
DROP TABLE IF EXISTS #ReportTemp
CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
/*
You will need the header row.  Separate the columns with the ',' (CHAR(44)) character. Tab (Char(9))
*/
INSERT INTO #ReportTemp ([row])
SELECT 'ExtSalesID' + CHAR(44) + 'OrderNumber' + CHAR(44) + 'OrderDate' + CHAR(44) + 'OrderStatus' + CHAR(44) + 'MerchandiseTotal' + CHAR(44) + 'GrandTotal' + CHAR(44) 
		+ 'BillingName' + CHAR(44) + 'ShippingAddress' + CHAR(44) + 'ShippingCity' + CHAR(44) + 'ShippingState' + CHAR(44) + 'ShippingZipCode' + CHAR(44) + 'Email' + CHAR(44) + 'PurchaseOrder' + CHAR(44) + 'Type' + CHAR(44) + 'Vendor' + CHAR(44) + 'ItemCategory' + CHAR(44)	+ 'Item' + CHAR(44)	
/*
Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(44)) between then.  Be careful not to allow
any NULL values as that will cause the entire string (row) to be NULL.
*/
 
INSERT INTO #ReportTemp ([row])
SELECT DISTINCT LTRIM(RTRIM(ISNULL(ExtSalesID,''))) + CHAR(44) + 
		CAST(ISNULL(OrderNumber,0) AS VARCHAR(50)) + CHAR(44) + -- [DocumentNumber]
		CAST(OrderDate AS VARCHAR(50)) + CHAR(44) + -- [OrderDate] -- dbo.fn_DateTime_to_Central(OrderDate) [Order Date]
		LTRIM(RTRIM(ISNULL(OrderStatus,''))) + CHAR(44) + 
		CAST(ISNULL(MerchandiseTotal,0.00) AS VARCHAR(50)) + CHAR(44) +
		CAST(ISNULL(GrandTotal,0.00) AS VARCHAR(50)) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(BillingName,''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(ShippingAddress, ''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(ShippingCity,''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(ShippingState,''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(ShippingZipCode,''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(Email,''))) + CHAR(44) +
		CAST(ISNULL(PurchaseOrder,0.00) AS VARCHAR(50)) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(d.Type,''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(Vendor,''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL(p.[Item Category],'unknown product core or not'))) + CHAR(44) + 
		LTRIM(RTRIM(ISNULL(d.Item,''))) + CHAR(44)
		FROM NetsuiteSalesOrders o LEFT JOIN NetsuiteSalesOrderDetails d ON d.DocumentNumber = o.OrderNumber
		LEFT JOIN dbo.magento_automated_product_dataset p ON LEFT(p.SKU,8) = LEFT(d.Item,8)
		LEFT JOIN dbo.magento_automated_product_dataset_artcarved ap ON LEFT(ap.SKU,8) = LEFT(d.Item,8)
		WHERE ShippingState in ('HI', 'AK', 'GU', 'AS','MP', 'PR', 'VI')  -- 
		--AND CAST(OrderNumber AS INT) IN ((170607)) 
		AND CAST(OrderNumber AS INT) > (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastNoneContiguousStateOrder' AND [major_id] = OBJECT_ID('NetsuiteSalesOrders'))
		--		(SELECT ISNULL(MAX(Order_Number),0) FROM Non_Contiguous_States_Orders_Temp) -- AND ISNULL(purchaseorder,'') <> ''
		AND (p.[Attribute Set] NOT IN ('pim_uc') OR ap.[Attribute Set] NOT IN ('pim_uc') OR OrderSource = 'Phone') --AND p.[Item Category] IN ('non-core bulky', 'non-core')
		--ORDER BY OrderDate DESC
	--SELECT * FROM #ReportTemp
	DECLARE @count INT 
	SELECT @count = COUNT(*) FROM #ReportTemp
	--PRINT @count
	IF @count > 1
	BEGIN
		/*
		Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
		*/
		DECLARE @File VARCHAR(MAX)
		SET @File = ''
		/*
		Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
		a LF (CHAR(10)).  Make sure to order by your identity column.
		*/
		SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
		FROM #ReportTemp
		ORDER BY [rownum]

		DECLARE @OrderNumber BIGINT
		--INSERT INTO Non_Contiguous_States_Orders_Temp -- SELECT * FROM Non_Contiguous_States_Orders_Temp
		SELECT DISTINCT @OrderNumber = OrderNumber FROM NetsuiteSalesOrders o LEFT JOIN NetsuiteSalesOrderDetails d ON d.DocumentNumber = o.OrderNumber
		LEFT JOIN dbo.magento_automated_product_dataset p ON LEFT(p.SKU,8) = LEFT(d.Item,8)
		LEFT JOIN dbo.magento_automated_product_dataset_artcarved ap ON LEFT(ap.SKU,8) = LEFT(d.Item,8)
		WHERE ShippingState in ('HI', 'AK', 'GU', 'AS','MP', 'PR', 'VI')
		AND CAST(OrderNumber AS INT)  >  (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastNoneContiguousStateOrder' AND [major_id] = OBJECT_ID('NetsuiteSalesOrders'))
		AND (p.[Attribute Set] NOT IN ('pim_uc') OR ap.[Attribute Set] NOT IN ('pim_uc') OR OrderSource = 'Phone')   	
		--SELECT @OrderNumber
	    EXEC proc_insert_non_contiguous_states_orders @OrderNumber = @OrderNumber
		DROP TABLE IF EXISTS #ReportTemp
		/*For debugging purposes.*/
		--SELECT @File

		/*
		Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
		*/
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'Non-Contiguous States Orders' /*Description of the queue entry. lindsay.lamb@balfour.com*/
		,'lindsay.lamb@balfour.com;marla.zack@balfour.com' /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/ --
		,'{"cc":"","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"Non-Contiguous States Orders Report","body":"The Non-Contiguous States Orders report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'NonContiguousStatesOrdersReport.csv' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
		/*For debugging purposes.*/
		SELECT SCOPE_IDENTITY()
	END

	-- select *  from EmailJobs_Queue where Queued_DTM >= getdate() - 1 AND key_value = 'han.tran@balfour.com' order by id desc
	/**
	SELECT ExtSalesID AS [Mage Order Number]
		, OrderNumber [NS Order No]
		, OrderDate [Order Date] -- dbo.fn_DateTime_to_Central(OrderDate) [Order Date]
		, OrderStatus [Order Status]
		, MerchandiseTotal [Merch Total]
		, GrandTotal [Grand Total]
		, PaymentType [Payment Type]
		, BillingName [Billing Name]
		, ShippingAddress
		, ShippingCity
		, ShippingState
		, ShippingZipCode
		, Email
		, PurchaseOrder
		, d.Type
		, Vendor
		FROM NetsuiteSalesOrders o LEFT JOIN NetsuiteSalesOrderDetails d ON d.DocumentNumber = o.OrderNumber
		LEFT JOIN dbo.magento_automated_product_dataset p ON p.SKU = d.Item 
		WHERE ShippingState in ('HI', 'AK', 'GU', 'AS','MP', 'PR', 'VI')
		select * from [EmailJobs_Queue] where [description] = 'Non-Contiguous States Orders' and emailAddresses = 'william.crooks@balfour.com'
		select distinct(len(sku)) from  magento_automated_product_dataset 
	**/
GO
