/****** Object:  StoredProcedure [dbo].[UpsertPIMStatus]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Krishna S  Krishna.Seetharaman@balfour.com
-- Create Date: 23/09/2021
-- Description: Updates the PIM_Status Table
-- =============================================
create PROCEDURE [dbo].[UpsertPIMStatus]

		@AuditMasterId nvarchar(50) NULL,
		@Channel nvarchar(50) NULL,
		@Entity nvarchar(50) NULL,
		@ErrorInTarget nvarchar(50) NULL,
		@InTarget nvarchar(50) NULL,
		@IsPriced nvarchar(50) NULL,
		@LastAttemptTimeStamp datetime,
		@LastUpdateTimeStamp datetime,
		@ProductStatus nvarchar(50) NULL,
		@ProductVisibility nvarchar(50) NULL,
		@SKU nvarchar(50) NULL,
		@Source nvarchar(50) NULL,
		@Target nvarchar(50) NULL


AS
BEGIN
	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.PIM_Status WHERE SKU = @SKU and [AuditMasterID] = @AuditMasterId)
       INSERT INTO dbo.PIM_Status(
	   [AuditMasterID]
      ,[Channel]
	  ,[Entity]
	  ,[ErrorInTarget]
	  ,[InTarget]
	  ,[IsPriced]
	  ,[LastAttemptTimeStamp]
	  ,[LastUpdateTimeStamp]
	  ,[ProductStatus]
	  ,[ProductVisibility]
      ,[SKU]
      ,[Source]
      ,[Target] 
      )
       VALUES (
		@AuditMasterId,
		@Channel,
		@Entity,
		@ErrorInTarget,
		@InTarget,
		@IsPriced,
		@LastAttemptTimeStamp ,
		@LastUpdateTimeStamp,
		@ProductStatus,
		@ProductVisibility,
		@SKU,
		@Source,
		@Target)

    ELSE
       UPDATE dbo.PIM_Status
       SET 
	   [AuditMasterID]			=	@AuditMasterId
      ,[Channel]				=	@Channel
      ,[SKU]					=	@SKU
      ,[Source]					=	@Source
      ,[Target]					=	@Target
      ,[Entity]					=	@Entity
      ,[ProductVisibility]		=	@ProductVisibility
      ,[ProductStatus]			=	@ProductStatus
      ,[InTarget]				=	@InTarget
      ,[IsPriced]				=	@IsPriced
      ,[ErrorInTarget]			=	@ErrorInTarget
      ,[LastUpdateTimeStamp]	=	@LastUpdateTimeStamp
      ,[LastAttemptTimeStamp]	=	@LastAttemptTimeStamp
	  WHERE [SKU]	 	        =	@SKU  and [Source] = @Source and [Target] = @Target
		
		
END

GO
