/****** Object:  StoredProcedure [dbo].[s_get_marketingadminusers_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 12/4/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_marketingadminusers_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --UserName, FirstName, LastName
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [MarketingAdminUsers] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [MarketingAdminUsers].
--##PD @searchField - The field to search on (UserName, FirstName, LastName)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [MarketingAdminUsers].

--DECLARE @totalRecords INT; EXEC s_get_marketingadminusers_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [ID]
		,[RemeberMe]
		,[UserName]
		,[FirstName]
		,[LastName]
		,[Password]
		,[EmailAddress]
		,[UserRoleGUID]
		,[GUID]
		FROM [MarketingAdminUsers]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[MarketingAdminUsers]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [MarketingAdminUsers]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([UserName],'') LIKE CASE WHEN @searchField = 'UserName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([UserName],'') END
		AND ISNULL([FirstName],'') LIKE CASE WHEN @searchField = 'FirstName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FirstName],'') END
		AND ISNULL([LastName],'') LIKE CASE WHEN @searchField = 'LastName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([LastName],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [ID]
				,[RemeberMe]
				,[UserName]
				,[FirstName]
				,[LastName]
				,[Password]
				,[EmailAddress]
				,[UserRoleGUID]
				,[GUID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'UserName' THEN [UserName] WHEN 'FirstName' THEN [FirstName] WHEN 'LastName' THEN [LastName] END DESC) as RowNumber
				FROM [dbo].[MarketingAdminUsers]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([UserName],'') LIKE CASE WHEN @searchField = 'UserName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([UserName],'') END
				AND ISNULL([FirstName],'') LIKE CASE WHEN @searchField = 'FirstName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FirstName],'') END
				AND ISNULL([LastName],'') LIKE CASE WHEN @searchField = 'LastName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([LastName],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [ID]
				,[RemeberMe]
				,[UserName]
				,[FirstName]
				,[LastName]
				,[Password]
				,[EmailAddress]
				,[UserRoleGUID]
				,[GUID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'UserName' THEN [UserName] WHEN 'FirstName' THEN [FirstName] WHEN 'LastName' THEN [LastName] END) as RowNumber
				FROM [dbo].[MarketingAdminUsers]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([UserName],'') LIKE CASE WHEN @searchField = 'UserName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([UserName],'') END
				AND ISNULL([FirstName],'') LIKE CASE WHEN @searchField = 'FirstName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FirstName],'') END
				AND ISNULL([LastName],'') LIKE CASE WHEN @searchField = 'LastName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([LastName],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
