/****** Object:  StoredProcedure [dbo].[s_get_tableextendedattribs_records]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 2/19/2021 - TL
*/
CREATE PROCEDURE [dbo].[s_get_tableextendedattribs_records]
(
	  @ID VARCHAR(200) = NULL
	, @searchField VARCHAR(50) = '' --TableName, Name
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [TableExtendedAttribs] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [TableExtendedAttribs].
--##PD @searchField - The field to search on (TableName, Name)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [TableExtendedAttribs].

--DECLARE @totalRecords INT; EXEC s_get_tableextendedattribs_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT O.Name as [TableName], P.Name, CAST(P.[value] as VARCHAR(MAX)) as [Value]
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
				ON p.major_id = o.object_id
				AND p.class = 1
		WHERE o.type = 'U' AND P.Name <> 'MS_Description'
		AND ISNULL(O.Name,'')+ISNULL(p.Name,'') = @ID
		ORDER BY O.[Name], P.[Name]

		SELECT @totalRecords = COUNT(*)
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
				ON p.major_id = o.object_id
				AND p.class = 1
		WHERE o.type = 'U' AND P.Name <> 'MS_Description'
		AND ISNULL(O.Name,'')+ISNULL(p.Name,'') = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM sys.objects AS o
		INNER JOIN sys.extended_properties AS p
				ON p.major_id = o.object_id
				AND p.class = 1
		WHERE o.type = 'U' AND P.Name <> 'MS_Description'
		AND ISNULL(O.Name,'')+ISNULL(p.Name,'') = CASE WHEN @ID IS NULL THEN ISNULL(O.Name,'')+ISNULL(p.Name,'') ELSE @ID END
		AND ISNULL(O.[Name],'') LIKE CASE WHEN @searchField = 'TableName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(O.[Name],'') END
		AND ISNULL(P.[Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(P.[Name],'') END


		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 O.Name as [TableName]
				,P.[Name]
				,REPLACE(CAST(P.[value] as VARCHAR(MAX)),CHAR(13),'<br />') as [Value]
		
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN ISNULL(O.Name,'')+ISNULL(p.Name,'') WHEN 'TableName' THEN O.[Name] WHEN 'Name' THEN P.[Name] END DESC) as RowNumber
				FROM sys.objects AS o
				INNER JOIN sys.extended_properties AS p
				ON p.major_id = o.object_id
				AND p.class = 1
				WHERE o.type = 'U' AND P.Name <> 'MS_Description'
				AND ISNULL(O.Name,'')+ISNULL(p.Name,'') = CASE WHEN @ID IS NULL THEN ISNULL(O.Name,'')+ISNULL(p.Name,'') ELSE @ID END
				AND ISNULL(O.[Name],'') LIKE CASE WHEN @searchField = 'TableName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(O.[Name],'') END
				AND ISNULL(P.[Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(P.[Name],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 O.Name as [TableName]
				,P.[Name]
				,REPLACE(CAST(P.[value] as VARCHAR(MAX)),CHAR(13),'<br />') as [Value]
		
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN ISNULL(O.Name,'')+ISNULL(p.Name,'') WHEN 'TableName' THEN O.[Name] WHEN 'Name' THEN P.[Name] END ) as RowNumber
				FROM sys.objects AS o
				INNER JOIN sys.extended_properties AS p
				ON p.major_id = o.object_id
				AND p.class = 1
				WHERE o.type = 'U' AND P.Name <> 'MS_Description'
				AND ISNULL(O.Name,'')+ISNULL(p.Name,'') = CASE WHEN @ID IS NULL THEN ISNULL(O.Name,'')+ISNULL(p.Name,'') ELSE @ID END
				AND ISNULL(O.[Name],'') LIKE CASE WHEN @searchField = 'TableName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(O.[Name],'') END
				AND ISNULL(P.[Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(P.[Name],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
