/****** Object:  StoredProcedure [dbo].[s_get_upsell_last_chance_item_at_cart]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in - was previously "_with_gradpack"
-- =============================================
/** 
	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 1
	EXEC [s_get_CSIC_items] @skus = 'A0239218',@smi='131575', @debug = 1
	EXEC [s_get_upsell_last_chance_item_at_cart] @skus =  'A0057042A0000,A0096856a0000' --'A0057042A0000,A0096856a0000', @smi='130925', @debug = 1
	EXEC s_get_upsell_last_chance_item_at_cart @skus =  'A0057042A0000,a0176692a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 1
	EXEC [s_get_upsell_last_chance_item_at_cart] @skus =  'A0057042A0000,A0239218,A0096856a0000' -- no return
	EXEC [s_get_upsell_last_chance_item_at_cart] @skus =  'A0057042A0000,A0096856a0000' 
	EXEC [s_get_upsell_last_chance_item_at_cart] @skus =  'A0239218' -- no return
**/

CREATE PROCEDURE [dbo].[s_get_upsell_last_chance_item_at_cart] (
	@skus VARCHAR(MAX) = '', 
	@smi VARCHAR(100) = '',
	@debug BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @count int
	DECLARE @results TABLE(imageurl varchar(255), url varchar(max), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @Loop INT, @Max INT
  
	IF @debug = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 
		CREATE TABLE #skulist (sku VARCHAR(100), Loop INT IDENTITY(1,1)) 
		INSERT INTO #skulist (sku)			
		SELECT value FROM STRING_SPLIT( @skus, ',') WHERE CHARINDEX('https:', value) = 0		
		--SELECT @Max = MAX([Loop]) FROM #skulist
		 --select * from   #skulist --s WHERE  LEFT(s.sku,8) NOT IN ('A0219541', 'A0212429', 'A0226631')

		--A0239218-A0239148A0000-A0068280A0000 -- do not popup last chance - 11/17/2020 change
		IF EXISTS (SELECT sku FROM #skulist WHERE LEFT(sku,8) IN ('A0239218')   --,'A0239148','A0068280'
					OR SUBSTRING(sku, CHARINDEX('|',sku) + 1, LEN(sku) - CHARINDEX('|',sku)) = '135951' 
					OR @smi = '135951')		   
		BEGIN
			SELECT imageurl,  url,  SKU,  [Product Name], Price,  wasprice,  class, [Product Type],  sortOrder,  config_type 
			FROM @results 
		END
		ELSE
		BEGIN
			-- Choose GradPack higher priorty - if not, choose the highest price item in the cart to show its rule for last chance
			IF EXISTS(SELECT s.SKU FROM #skulist s INNER JOIN magento_automated_product_dataset p ON LEFT(p.sku, 8) = LEFT(s.sku,8) 
				WHERE ([Enhanced Commerce] IN ('GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS','GP-CLASS APPAREL','HIGH SCHOOL MULTI CHOICE')
				OR (LEFT(s.sku,8) IN ('a0071918', 'a0068455', 'a0176692', 'a0175731'))) AND LEFT(s.sku,8) NOT IN ('A0226631') ) 	
			BEGIN			
				SELECT TOP 1 @thisSku = s.SKU FROM #skulist s INNER JOIN magento_automated_product_dataset p ON LEFT(p.sku, 8) = LEFT(s.sku,8) 
				WHERE [Enhanced Commerce] IN ('GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS','GP-CLASS APPAREL','HIGH SCHOOL MULTI CHOICE')
				OR (LEFT(s.sku,8) IN ('a0071918', 'a0068455', 'a0176692', 'a0175731'))  
				IF @debug = 1 PRINT 'GradPack - @thisSku: ' + @thisSku
			END	
			ELSE
			BEGIN		
				SELECT @thisSku = t.SKU, @smi = t.smi
				FROM (SELECT TOP 1 p.SKU, MAX(ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price]))) AS Price,
				SUBSTRING(s.sku, CHARINDEX('|',s.sku) + 1, LEN(s.sku) - CHARINDEX('|',s.sku)) AS smi
				FROM magento_automated_product_dataset p 
				LEFT JOIN MAGE_balfour_product_smi_scoped_price sp ON LEFT(sp.sku,8) = LEFT(p.SKU,8)
				INNER JOIN #skulist s ON LEFT(s.sku,8) = LEFT(p.sku, 8)	AND LEFT(s.sku,8) NOT IN ('A0212429','A0219541')		 			
				GROUP BY p.sku,SUBSTRING(s.sku, CHARINDEX('|',s.sku) + 1, LEN(s.sku) - CHARINDEX('|',s.sku)) 
				ORDER BY Price DESC) t
				IF @debug = 1 PRINT 'Not GradPack - @thisSku: ' + @thisSku
			END
		
			IF ISNULL(@smi,'') = ''
				BEGIN
					IF @debug = 1 PRINT '@thisSku here: ' + @thisSku 
					IF @debug = 1 PRINT 'smi from sku smi1: ' + CAST(@smi AS VARCHAR(100))
					IF CHARINDEX('|', @thisSku) > 0 
					BEGIN
						SET @smi =  SUBSTRING(@thisSku, CHARINDEX('|',@thisSku) + 1, LEN(@thisSku) - CHARINDEX('|',@thisSku))
						IF @debug = 1 PRINT 'smi from sku smi2: ' + @smi
					END
				
				END
			IF @debug = 1 PRINT '@smi: ' + CAST(@smi AS VARCHAR(100))
			IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT TOP 1 @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
				END
			IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT TOP 1 @smi = [Included SMI] FROM  [dbo].[magento_automated_product_dataset] where LEFT(SKU,8) = LEFT(@thisSku,8) 
													AND (ISNULL([Included SMI],'') <> '' OR [Included SMI] <> '0') AND CHARINDEX(',',[Included SMI]) = 0
				END
			IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT TOP 1 @smi = [SMI] FROM  [dbo].[MAGE_balfour_product_smi_scoped_price] where LEFT(SKU,8) = LEFT(@thisSku,8) 											
				END

			IF @debug = 1 PRINT '@thisSku: ' + @thisSku + ', @smi test: ' + @smi
			IF CHARINDEX('|', @thisSku) > 0
			BEGIN 
				SET @thisSku = LEFT(@thisSku,CHARINDEX('|',@thisSku) - 1)
			END
			IF @debug = 1 PRINT '[s_get_upsell_last_chance_item_at_cart_input_single_sku]  @skus = ' + @thisSku + ', @smi=' + @smi
			INSERT INTO @results
			EXEC [s_get_upsell_last_chance_item_at_cart_input_single_sku]  @skus = @thisSku, @smi=@smi, @debug = @debug


			--SELECT * FROM #skulist
			--SET @Loop = 1
			--WHILE @Loop <= @Max
			--BEGIN
			--	SELECT @thisSku = [sku] FROM #skulist WHERE [Loop] = @Loop
			--	IF @debug = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
						 
			--	IF ISNULL(@smi,'') = ''
			--	BEGIN
			--		SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
			--	END

			--	INSERT INTO @results
			--	EXEC [s_get_upsell_last_chance_item_at_cart_input_single_sku]  @skus = @thisSku, @smi=@smi
			  
			--	IF @debug = 1 print 'thisSku: ' + @thisSku
			--	SELECT @count = COUNT(sku) FROM @results
			--	IF @count >= 1 --EXISTS(SELECT * FROM @results)
			--		BEGIN
			--			IF @debug = 1 PRINT 'exit loop   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			--			BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
			--		END 
			--	IF @debug = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			--	SET @Loop = @Loop + 1
			--END 
			--IF @debug = 1 PRINT 'Loop out'
		
			-- IF the item is in the bag, don't show it.
			--SELECT * FROM #skulist WHERE LEFT(sku,8) = 'A0212429'
			IF EXISTS (SELECT s.sku FROM #skulist s JOIN @results r ON LEFT(s.sku,8) = LEFT(r.sku,8) AND LEFT(r.sku,8) = 'A0219541')
		BEGIN
			SELECT TOP 1 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
			FROM @results
			WHERE LEFT(sku,8) NOT IN ('A0219541')  
			ORDER BY SortOrder ASC
		END
		ELSE IF EXISTS (SELECT s.sku FROM #skulist s JOIN @results r ON LEFT(s.sku,8) = LEFT(r.sku,8) AND LEFT(r.sku,8) = 'A0212429')
		BEGIN
			
			SELECT TOP 1 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
			FROM @results
			WHERE LEFT(sku,8) NOT IN ('A0212429')  
			ORDER BY SortOrder ASC
		END
		ELSE IF EXISTS (SELECT s.sku FROM #skulist s JOIN @results r ON LEFT(s.sku,8) = LEFT(r.sku,8) AND LEFT(r.sku,8) = 'A0226631')
		BEGIN
			SELECT TOP 1 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
			FROM @results
			WHERE LEFT(sku,8) NOT IN ('A0226631')  
			ORDER BY SortOrder ASC
		END		
		ELSE
		BEGIN
		SELECT TOP  1 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
			FROM @results		
			ORDER BY SortOrder ASC
		END
		END
	END
END
/**
	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
**/

--exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 0

 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 1
 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 0
 --	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' 
 --	exec [s_get_CSIC_items] 'A0008601A0000' 
 --exec [s_get_CSIC_items] 'A0003281A0000' 
 --exec [s_get_CSIC_items] 'A0066639A0000' 
 --exec [s_get_CSIC_items] 'A0049693A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0129750A0000' 
 --exec [s_get_CSIC_items] 'A0136516A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0017524A0000' 

 --exec [s_get_CSIC_items] 'A0075899A0000' 
 --exec [s_get_CSIC_items] 'A0139809A0000' 
 --exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 
GO
