/****** Object:  StoredProcedure [dbo].[s_get_dynamic_tiles_backup_11_25_2020]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/6/19
-- Description: Get dynamic tiles from the dynamictiles table
-- =============================================
-- s_get_dynamic_tiles @sectionID = 1, @smi=1304 --1 second 14 rows - excludes personalized announcement
-- s_get_dynamic_tiles @sectionID = 1, @smi=72696 --1 second 15 rows - includes personalized announcement


-- s_get_dynamic_tiles @sectionID = 1, @smi=124650 --1 second 2 rows
-- s_get_dynamic_tiles @sectionID = 1, @smi=72885 --1 second 2 rows

-- select * from magento_automated_product_dataset where sku = 'A0128117'
-- select * from dynamictiles

-- s_get_dynamic_tiles @sectionID = 1, @smi=1104 --scottsboro tpap
-- s_get_dynamic_tiles @sectionID = 1, @smi=63112 --Trinity tpap
-- s_get_dynamic_tiles @sectionID = 1, @smi=63112 --Trinity tpap & Traditional


-- s_get_dynamic_tiles @sectionID = 1, @smi=1304 --1 second 2 rows
-- s_get_dynamic_tiles @sectionID = 4, @smi=1309 --0 Seconds 3 rows
-- s_get_dynamic_tiles @sectionID = 4, @smi=1309 --4 seconds 3 rows
CREATE PROCEDURE [dbo].[s_get_dynamic_tiles_backup_11_25_2020](@sectionID int = 0, @smi int = 0)
AS
BEGIN
    SET NOCOUNT ON
	--declare  @smi int
	--SET @smi = 1304
	--declare  @sectionID int
	--SET @sectionID = 1
		drop table if exists #prework
		CREATE TABLE #prework ([SKU] NVARCHAR(255),[Product Name] varchar(255), [Exclusive SMI] nvarchar(255),[attribute set] nvarchar(255), [enhanced commerce] nvarchar(255), [itemid]nvarchar(786))
		drop table if exists #tilelinks
		CREATE TABLE #tilelinks (ID varchar(250), link varchar(350), img varchar(400)) 

		--The following takes about a second
		INSERT INTO #prework ([SKU],[Product Name],[Exclusive SMI],[attribute set],[enhanced commerce], [itemid])
		SELECT p.[SKU],[Product Name], [Exclusive SMI],[attribute set],[enhanced commerce],[itemid]
		from magento_automated_product_dataset p
		where [Exclusive SMI] = @smi
-- 		AND [Excluded SMI] NOT LIKE '%' + CAST(@smi as VARCHAR(50)) + '%'
		AND (p.Status = 'Enable') 
		AND (p.Visibility = 'In Catalog and Search') 

		Insert into #tilelinks Select 'Photo Announcements', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-'),'---','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%Announcement%' and [Product Name] not like '%traditional%')
			,NULL;

		Insert into #tilelinks Select 'Official Photo Announcements', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-'),'&-',''),'(',''),'---','-')
		  )
		  + '-' + lower(p.sku) + '?smi=' + [Exclusive SMI]
			from #prework p
			-- INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
			Inner join itemattributes_announcements iaa on iaa.itemid = p.itemid
			where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			-- and [Product Name] like '%Announcement%' and [Product Name] like '%traditional%'
			and iaa.tagvalue = '52'
			and iaa.tagtype = 'a_PBProdFamID'
			), 
			(select top 1 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png','') + '_800x800.jpg' 
					FROM #prework p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
					-- INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
					Inner join itemattributes_announcements iaa on iaa.itemid = p.itemid
					where p.[Exclusive SMI] = @smi
					and [attribute set] = 'pim_pb_announcement' 
					and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS'

					and iaa.tagvalue = '52'
					and iaa.tagtype = 'a_PBProdFamID'
			);

		Insert into #tilelinks Select 'Party Invites', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-'),'---','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%Invit%')
			,NULL;
		Insert into #tilelinks Select 'Thank You Cards', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-'),'---','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%thank you%')
			,NULL;
		Insert into #tilelinks Select 'Address Labels', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-'),'---','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%Address Labels%')
			,NULL;

		--	Insert into #tilelinks Select 'Premium Grad Announcement Name Cards', 
		--(select top 1 'https://www.balfour.com/shop/' + 
		--  lower(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(
		--		[Product Name]
		--		), '  ', ' '), '.', '-'), ' ', '-'),'''','-'),'---','-')
		--  )
		--  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
		--	from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
		--	and [attribute set] = 'pim_pb_announcement' 
		--	and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
		--	and [Product Name] like '%Premium Grad Announcement Name Cards%')
		--	,NULL;

		--Insert into #tilelinks Select 'Standard Grad Announcement Name Cards', 
		--(select top 1 'https://www.balfour.com/shop/' + 
		--  lower(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(
		--		[Product Name]
		--		), '  ', ' '), '.', '-'), ' ', '-'),'''','-'),'---','-')
		--  )
		--  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
		--	from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
		--	and [attribute set] = 'pim_pb_announcement' 
		--	and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
		--	and [Product Name] like '%Standard Grad Announcement Name Cards%')
		--	,NULL;



		IF EXISTS(
			SELECT TOP 1 * FROM magento_automated_product_dataset p
				inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = CAST(@smi AS VARCHAR(50))
				and p.SKU = 'A0168253'
				where 
				Visibility = 'In Catalog and Search'
				and Status = 'Enable'
		) -- we have the personalized announcement available for this school
		BEGIN
		PRINT 'we have the personalized announcement available for this school'
			SELECT dt.[ID]
				  ,dt.[Name]
				  ,dt.[CTA]
				  ,dt.[Price]
				  ,COALESCE(tl.img,dt.[Image]) AS [Image]
				  ,dt.[badgeText]
				  ,COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) AS [URL]
				  ,dt.[SectionID]
			  FROM [dbo].[DynamicTiles] dt
			  left join #tilelinks tl on tl.ID = dt.Name
			  Where dt.[SectionID] = @sectionID
			  AND dt.enabled = 1
			  AND COALESCE(tl.link,dt.[URL]) <> 'https://www.balfour.com/shop/traditional-graduation-announcements-a0233566'
			  -- This was removing TPAP for some reason 
			  -- AND dt.URL <> 'https://www.balfour.com/shop/traditional-graduation-announcements-a0233566' -- EXCLUDE the trad trad Announcements
			  AND COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) <> '#' -- get rid of announcements with no links 
			  order by dt.SortOrder asc
		END
		ELSE
			IF EXISTS(
				SELECT TOP 1 * FROM magento_automated_product_dataset p
					inner join product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = CAST(@smi AS VARCHAR(50))
					and p.SKU = 'A0233566'
					where 
					Visibility = 'In Catalog and Search'
					and Status = 'Enable'
			) -- we have the traditional announcement available for this school
			BEGIN
			PRINT 'we have the traditional announcement available for this school'
				SELECT dt.[ID]
					  ,dt.[Name]
					  ,dt.[CTA]
					  ,dt.[Price]
					  ,COALESCE(tl.img,dt.[Image]) AS [Image]
					  ,dt.[badgeText]
					  ,COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) AS [URL]
					  ,dt.[SectionID]
				  FROM [dbo].[DynamicTiles] dt
				  left join #tilelinks tl on tl.ID = dt.Name
				  Where dt.[SectionID] = @sectionID
				  AND dt.enabled = 1
				  AND COALESCE(tl.link,dt.[URL]) <> 'https://www.balfour.com/shop/personalized-graduation-announcements-a0168253'
			  -- This was removing TPAP for some reason 
			  -- AND dt.URL <> 'https://www.balfour.com/shop/personalized-graduation-announcements-a0168253' -- EXCLUDE the personalized Announcements
				  AND COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) <> '#' -- get rid of Official announcements with no links 
				  order by dt.SortOrder asc
			END
		ELSE
		BEGIN
		PRINT 'Else Case'
			SELECT dt.[ID]
				  ,dt.[Name]
				  ,dt.[CTA]
				  ,dt.[Price]
				  ,COALESCE(tl.img,dt.[Image]) AS [Image]
				  ,dt.[badgeText]
				  ,COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) AS [URL]
				  ,dt.[SectionID]
			  FROM [dbo].[DynamicTiles] dt
			  left join #tilelinks tl on tl.ID = dt.Name
			  Where dt.[SectionID] = @sectionID
			  AND dt.enabled = 1

			  AND COALESCE(tl.link,dt.[URL]) <> 'https://www.balfour.com/shop/personalized-graduation-announcements-a0168253'
			  AND COALESCE(tl.link,dt.[URL]) <> 'https://www.balfour.com/shop/traditional-graduation-announcements-a0233566'
			  -- This was removing TPAP for some reason 
			  -- AND dt.URL <> 'https://www.balfour.com/shop/personalized-graduation-announcements-a0168253' -- EXCLUDE the personalized Announcements
			  -- AND dt.URL <> 'https://www.balfour.com/shop/traditional-graduation-announcements-a0233566' -- EXCLUDE the trad trad Announcements
			  AND COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) <> '#' -- get rid of Official announcements with no links 
			  order by dt.SortOrder asc
		END

	/*
		SELECT * FROM #prework -- debugging
	    select * from #tilelinks  -- debugging...
	*/
		
		  drop table #tilelinks
		  drop table  #prework
	END
GO
