/****** Object:  StoredProcedure [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku_with_gradpack]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Han Tran
-- Create Date: 2/19/2020
-- Description: Rules for last chance item at cart
-- =============================================
 /**
  [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku] 'A0131314' --,A0135561,A0135561'  @skus = 'A0122174A0000' --photo-- 'A0001869A0000 A0109125A0000'
   EXEC [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku] @skus = 'A0047965A0000'
   EXEC [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku]  @skus ='A0212429A0000'  -- photo book
	  [dbo].[s_get_upsell_last_chance_item_at_cart]   @skus = 'asdfsadf'
 **/
CREATE PROCEDURE [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku_with_gradpack] (@skus VARCHAR(MAX) = '', @smi VARCHAR(100) = '')   
--ALTER PROCEDURE [dbo].[s_get_upsell_last_chance_item_at_cart] (@skus VARCHAR(MAX) = '', @smi VARCHAR(100) = '')   
AS
BEGIN 
    SET NOCOUNT ON			

	----SELECT * FROM magento_automated_product_dataset WHERE SKU like '%A0047965A0000%'
	----  SELECT  dbo.fn_get_last_chance_html('A0109121A0000,A0109125A0000')
	--IF EXISTS(SELECT * FROM magento_automated_product_dataset WHERE [Attribute Set] = 'pim_charms' AND CHARINDEX(sku,  @SKUs) > 0 )
 --- TODO: Han update this query for gradpack
	--IF NOT EXISTS(SELECT * FROM magento_automated_product_dataset WHERE [Enhanced Commerce] =  'GP-PACKS' AND CHARINDEX(sku,  @SKUs) > 0)
	--	BEGIN -- Show photobook if necklace exists
		--	SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg' AS imageurl,
		--	'<div class="container upsell-last-chance-popup">' +
  --              '<p class="closePunchOut upsell-closePunchOut">' +
  --                  '<span>' +
  --                  '</span>' +
  --              '</p>' +
  --              '<p class="top-header">' +
  --                  'You''ve Earned an Exclusive Offer!' +
  --              '</p>' +
  --              '<div class="row main-content">' +
  --                  '<p class="lg-callout visible-xs">' +
  --                      'SAVE $20' +
  --                  '</p>' +
  --                  '<p class="header visible-xs">' +
  --                      'on a Photo Book TODAY ONLY.' +
  --                  '</p>' +
  --                  '<div class="col-xs-12 col-sm-6">' +
  --                      '<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg" class="checkout-image" alt="">' +
  --                  '</div>' +
  --                  '<div class="col-xs-12 col-sm-6">' +
  --                      '<p class="lg-callout hidden-xs">' +
  --                          'SAVE $20' +
  --                      '</p>' +
  --                      '<p class="header hidden-xs">' +
  --                          'on a Photo Book TODAY ONLY.' +
  --                      '</p>' +
  --                      '<ul class="bullet-list">' +
  --                          '<li>Custom 10 page hardcover 5x5 photo book</li>' +
  --                          '<li>Buy Now. Redeem later to SAVE</li>' +
  --                          '<li>We''ll email you a custom code</li>' +
  --                          '<li>Come back to create your book and enter your code at checkout</li>' +
  --                      '</ul>' +
  --                      '<p class="body-text was-price">' +
  --                          'Original Price: $49.99' +
  --                      '</p>' +
  --                      '<p class="header">' +
  --                          'NOW ONLY: $29.99' +
  --                      '</p>' +
  --                      '<p class="upsell-last-chance-button"></p>' +
  --                  '</div>' +
  --              '</div>' +
  --              '<div class="row last-chance-footer">' +
  --                  '<div class="col-xs-12 last-chance-footer-text">' +
  --                      '<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
  --                  '</div>' +
  --              '</div>' +
  --          '</div>' AS url,
		--	'A0226631' AS SKU,  -- production sku 'A0212429A0000' 
		--	'Project Repat XL Twin' AS [product name],
		--	null AS Price,
		--	null AS wasprice,
		--	'' AS class,
		--	'' AS [Product Type],
		--	0 AS sortOrder,
		--	'standard' AS config_type
		--	FROM magento_automated_product_dataset p
		--	WHERE SKU = 'A0226631' -- QA: 'A0209158A0000'
	--	END	
	--ELSE 
		IF NOT EXISTS(SELECT * FROM magento_automated_product_dataset WHERE [Enhanced Commerce] = 'BALFOUR DIRECT-PHOTO' AND CHARINDEX(sku,  @SKUs) > 0 )
		BEGIN -- Show photobook if necklace exists
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg' AS imageurl,
			'<div class="container upsell-last-chance-popup">' +
                '<p class="closePunchOut upsell-closePunchOut">' +
                    '<span>' +
                    '</span>' +
                '</p>' +
                '<p class="top-header">' +
                    'You''ve Earned an Exclusive Offer!' +
                '</p>' +
                '<div class="row main-content">' +
                    '<p class="lg-callout visible-xs">' +
                        'SAVE $20' +
                    '</p>' +
                    '<p class="header visible-xs">' +
                        'on a Photo Book TODAY ONLY.' +
                    '</p>' +
                    '<div class="col-xs-12 col-sm-6">' +
                        '<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg" class="checkout-image" alt="">' +
                    '</div>' +
                    '<div class="col-xs-12 col-sm-6">' +
                        '<p class="lg-callout hidden-xs">' +
                            'SAVE $20' +
                        '</p>' +
                        '<p class="header hidden-xs">' +
                            'on a Photo Book TODAY ONLY.' +
                        '</p>' +
                        '<ul class="bullet-list">' +
                            '<li>Custom 10 page hardcover 5x5 photo book</li>' +
                            '<li>Buy Now. Redeem later to SAVE</li>' +
                            '<li>We''ll email you a custom code</li>' +
                            '<li>Come back to create your book and enter your code at checkout</li>' +
                        '</ul>' +
                        '<p class="body-text was-price">' +
                            'Original Price: $49.99' +
                        '</p>' +
                        '<p class="header">' +
                            'NOW ONLY: $29.99' +
                        '</p>' +
                        '<p class="upsell-last-chance-button"></p>' +
                    '</div>' +
                '</div>' +
                '<div class="row last-chance-footer">' +
                    '<div class="col-xs-12 last-chance-footer-text">' +
                        '<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
                    '</div>' +
                '</div>' +
            '</div>' AS url,
			'A0212429A0000' AS SKU,  -- production sku 'A0212429A0000' 
			'PHOTOBOOK VOUCHER' AS [product name],
			null AS Price,
			null AS wasprice,
			'' AS class,
			'' AS [Product Type],
			0 AS sortOrder,
			'standard' AS config_type
			--FROM magento_automated_product_dataset p
			--WHERE SKU = 'A0212429A0000' -- QA: 'A0209158A0000'
		END
	 -- ELSE
		--BEGIN
		--	SELECT '' AS imageurl,
		--    '' AS url,
		--	'' AS SKU,  -- production sku 'A0212429A0000' 
		--	'' AS [product name],
		--	null AS Price,
		--	null AS wasprice,
		--	'' AS class,
		--	'' AS [Product Type],
		--	1 AS sortOrder,
		--	'' AS config_type
		--END
	--ELSE
	--	BEGIN -- necklace
	--		SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/necklace_pop_img_checkout-pop-up.jpg' AS imageurl,
	--		'<div class="container upsell-last-chance-popup">' +
	--			'<p class="closePunchOut upsell-closePunchOut">' +
	--				'<span>' +
	--				'</span>' +
	--			'</p>' +
	--			'<p class="top-header">' +
	--				'You''ve Earned an Exclusive Offer!' +
	--			'</p>' +
	--			'<div class="row main-content">' +
	--				'<p class="lg-callout visible-xs">' +
	--					'EXTRA 20% OFF' +
	--				'</p>' +
	--				'<p class="header visible-xs">' +
	--					'on a Graduation Cap Charm<br>Necklace TODAY ONLY.' +
	--				'</p>' +
	--				'<div class="col-xs-12 col-sm-6">' +
	--					'<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/necklace_pop_img_checkout-pop-up.jpg" class="checkout-image" alt="">' +
	--				'</div>' +
	--				'<div class="col-xs-12 col-sm-6">' +
	--					'<p class="lg-callout hidden-xs">' +
	--						'EXTRA 20% OFF' +
	--					'</p>' +
	--					'<p class="header hidden-xs">' +
	--						'on a Graduation Cap Charm<br>Necklace TODAY ONLY.' +
	--					'</p>' +
	--					'<ul class="bullet-list">' +
	--						'<li>Add the item to your cart</li>' +
	--						'<li>Discount reflected at checkout</li>' +
	--						'<li style="list-style: none">&nbsp;</li>' +
	--					'</ul>' +
	--					'<p class="body-text was-price">' +
	--						'Sale Price: $24.99' +
	--					'</p>' +
	--					'<p class="header">' +
	--						'NOW ONLY: $20.99' +
	--					'</p>' +
	--					'<p class="upsell-last-chance-button"></p>' +
	--				'</div>' +
	--			'</div>' +
	--			'<div class="row last-chance-footer">' +
	--				'<div class="col-xs-12 last-chance-footer-text">' +
	--					'<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
	--				'</div>' +
	--			'</div>' +
	--		'</div>' AS url,
	--		p.SKU,  
	--		[product name],-- 'NECKLACE' AS 
	--		IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
	--		[Retail Price] AS [wasprice], 
	--		'' AS class,
	--		[Product Type],
	--		'1' AS sortOrder,
	--		config_type
	--		FROM magento_automated_product_dataset p
	--		--INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
	--		WHERE p.sku = 'A0001869A0000'
	--	END 
END
 
GO
