/****** Object:  StoredProcedure [dbo].[UpsertPIMSKU]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Krishna S  Krishna.Seetharaman@balfour.com
-- Create Date: 28/09/2021
-- Description: Updates the AuditPIMFileSKU Table
-- =============================================
create PROCEDURE [dbo].[UpsertPIMSKU]

		@SKUNumber nvarchar(50) NULL,
		@FileName nvarchar(250) NULL,
		@FileUploadTimeStamp datetime,
		@FileDirectory nvarchar(50) NULL,
		@Reprocessed nvarchar(50) NULL,
		@ReprocessAttempt nvarchar(50) NULL,
		@ReprocessedTS datetime


AS
BEGIN
	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.AuditPIMFileSKU WHERE SKUNumber = @SKUNumber AND [FileName] = @FileName)
       INSERT INTO dbo.AuditPIMFileSKU(
		[SKUNumber]
      ,[FileName]
      ,[FileUploadTimeStamp]
      ,[FileDirectory]
      ,[Reprocessed]
      ,[ReprocessAttempt]
      ,[ReprocessedTS]
      )
       VALUES (
		@SKUNumber,
		@FileName,
		@FileUploadTimeStamp,
		@FileDirectory,
		@Reprocessed,
		@ReprocessAttempt,
		@ReprocessedTS)

    ELSE
       UPDATE dbo.AuditPIMFileSKU
       SET 
		[SKUNumber]			= @SKUNumber
      ,[FileName]			= @FileName
      ,[FileUploadTimeStamp]= @FileUploadTimeStamp
      ,[FileDirectory]		= @FileDirectory
      ,[Reprocessed]		= @Reprocessed
      ,[ReprocessAttempt]	= @ReprocessAttempt
      ,[ReprocessedTS]		= @ReprocessedTS
	  WHERE [SKUNumber]	 	        =	@SKUNumber   AND [FileName] = @FileName
		
		
END

GO
