/****** Object:  StoredProcedure [dbo].[s_get_UP_school_default]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:      Tramel Jones
-- Create Date: 2019-08-09
-- Description: Get generic UP items based on Iconic School Id
-- =============================================
CREATE PROCEDURE [dbo].[s_get_UP_school_default]
(
    -- Add the parameters for the stored procedure here
    @iconicschoolid int = 0 
)
AS
BEGIN
-- [s_get_UP_school_default] @iconicschoolid= 105470
-- [s_get_UP_school_default] @iconicschoolid= 104235
-- [s_get_UP_school_default] @iconicschoolid= 105397
-- Generic
-- [s_get_UP_school_default] @iconicschoolid= 105947
-- [s_get_UP_school_default] @iconicschoolid= 105932
-- [s_get_UP_school_default] @iconicschoolid= 105419
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @smiid varchar(10)
	DECLARE @smiid2 varchar(10)
	DECLARE @smiid3 varchar(10)
	DECLARE @smi varchar (10)
	SELECT @smiid = smi FROM [dbo].[GrkClients] WHERE [Client ID] = @iconicschoolid
	SELECT @smiid2 = [Balfour SMI] FROM [dbo].[NonGrkClients] WHERE [Client ID] = @iconicschoolid
	SELECT @smiid3 = smiid FROM [dbo].[iconicTosmi] WHERE [iconicid] = @iconicschoolid
	DECLARE @returnprod TABLE ( id varchar(255), productname varchar(255), itemurl varchar(255), retailprice varchar(50), wasprice varchar(50), imageurl varchar(255),  tiletype varchar(255), smiid int)
	-- Print COALESCE(@smiid, @smiid2, @smiid3, '')
	-- Try a few times to get *any* smi that may match
	SET @smi = COALESCE(@smiid, @smiid2, @smiid3, '')
	
	Print 'Super Generic PLPs'
	INSERT INTO @returnprod
	select TOP (10) id, name as productname, 
	CASE 
	WHEN UseSMI = 1 THEN
		url + 'smi=' + @smi
	ELSE
		url + 'nosmi=true'
	END
	as itemurl,
	price as retailprice, wasprice, image as imageurl, tiletype, @smi as smiid
	FROM dbo.GrkDefaultRecs
	where sortorder IS NOT NULL
	ORDER BY sortorder



	SELECT * FROM @returnprod

	-- NCAA Shop custom logic removed at Iconic team's/Ashley Wilkerson's request. 8-26-19
	/*
	select TOP (10) id, name as productname, 
	CASE 
	WHEN UseSMI = 1 THEN
		url + 'smi=' + @smi
	ELSE
		url + 'nosmi=true'
	END
	as itemurl,
	price as retailprice, wasprice, 
	CASE
	WHEN id = 'ncaa-shop' THEN
		COALESCE((select top 1 imageurl from dbo.iconicRecCache where smiid = @smi), image)
	ELSE
		image
	END
	as imageurl, tiletype, sortorder, @smiid as smiid
	FROM dbo.GrkDefaultRecs
	where sortorder IS NOT NULL
	ORDER BY sortorder
	*/

END
GO
