/****** Object:  StoredProcedure [dbo].[UpsertNetSuiteProduct]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Krishna  Krishna.Seetharaman@balfour.com
-- Create Date: 03/23/2021
-- Description: Updates the netsuite_automated_product_dataset table
-- =============================================
CREATE PROCEDURE [dbo].[UpsertNetSuiteProduct]
	@Name varchar(50) NULL,
	@DisplayName varchar(150) NULL,
	@Description varchar(250) NULL,
	@Type varchar(20) NULL,
	@Inactive varchar(5) NULL,
	@DateCreated datetime NULL,
	@LastModifiedDate datetime NULL
AS
BEGIN

	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.netsuite_automated_product_dataset WHERE Name = @Name)
       INSERT INTO dbo.netsuite_automated_product_dataset (Name,Display_Name,Description,Type,Inactive,Date_Created,Last_Modified_Date,Timestamp)
       VALUES (@Name,@DisplayName,@Description,@Type,@Inactive,@DateCreated,@LastModifiedDate,GETDATE())

    ELSE
       UPDATE dbo.netsuite_automated_product_dataset
       SET Name				  = @Name,
		   Display_Name		  = @DisplayName,
		   Description		  = @Description,
		   Type				  = @Type,
		   Inactive			  = @Inactive,
		   Date_Created		  = @DateCreated,
		   Last_Modified_Date = @LastModifiedDate,
		   Timestamp		  = CURRENT_TIMESTAMP
	 WHERE Name			      = @Name
END

GO
