/****** Object:  StoredProcedure [dbo].[s_delete_extendedprop_on_table]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_delete_extendedprop_on_table]
(
	 @TableName VARCHAR(200)
	,@AttribName VARCHAR(200)
)
WITH EXECUTE AS OWNER
AS
--EXEC  s_delete_extendedprop_on_table @TableName = 'MAGE_salesrule_coupon', @AttribName='LastUpdate'
--EXEC  s_delete_extendedprop_on_table @TableName = 'magento_automated_product_dataset', @AttribName='TEST'

	exec sp_dropextendedproperty @name=@AttribName, @level0type='SCHEMA', @level0name='dbo',@level1type='TABLE', @level1name=@TableName

GO
