/****** Object:  StoredProcedure [dbo].[s_delete_contentsprocs_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/3/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_contentsprocs_record]
(
	 @id INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [ContentSprocs].
--##PD @id in [ContentSprocs].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [ContentSprocs] WHERE [id] = @id


GO
