/****** Object:  StoredProcedure [dbo].[s_get_shopAllNav_qa]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 09/23/2020
-- Description: Get Shop All Nav - Balfour 3.1
-- =============================================
CREATE PROCEDURE [dbo].[s_get_shopAllNav_qa]
AS
BEGIN
/* -------  Test Cases ---------- 
 exec [s_get_shopAllNav_qa]
*/
    SET NOCOUNT ON
	
	select 
		[Tag] as [Tag]
		, ISNULL([Title],'') AS [Title]
		, ISNULL([Description],'') as [Description]
		, ISNULL([URL],'') as [URL]
		, ISNULL([ParentTag],'') as [ParentTag]
		, ISNULL([Icon],'') as [Icon]
		, [Sort_Order] as [DisplayOrder]
		from [dbo].[ShopAllNavQA_Test1]
		WHERE [InProduction] = 1

		UNION
		select 'Letter Jackets','Letter Jackets',null,'/letter-jacket/','',null,243
		UNION
		select 'Jacket Patches','Jacket Patches',null,'/shop/backpacks-patches/patches/letterman','',null,207
		UNION
		select 'Picture Day Portraits','Picture Day Portraits',null,'/pictureday/','',null,263
		UNION
		select 'Championship Rings','Championship Rings',null,'/championship_rings/','',null,84
		UNION
		select 'Military Base Collection','Military Base Collection',null,'/militarybasecollections/','',null,260

		Order by [Sort_Order]
		FOR XML PATH ('Menu'), ROOT ('Menus')
		

END
 
GO
