/****** Object:  StoredProcedure [dbo].[proc_get_arc_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 7/9/2019 - TL
*/
CREATE PROCEDURE [dbo].[proc_get_arc_orders_records]
(
	  @Order_Number BIGINT = NULL
	, @searchField VARCHAR(50) = '' --Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'ASC'
	, @sortField VARCHAR(50) = 'Order_Number'
	, @skip INT = 0 --The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ARC_Orders] if the parameter @Order_Number has a value or all records if null.
--##PD @Order_Number in [ARC_Orders].
--##RS1 One or all records from the table [ARC_Orders].

--DECLARE @totalRecords INT; EXEC proc_get_arc_orders_records @searchField = 'Order_Email_Address', @searchTerm = 'balfour', @pageSize=3, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC proc_get_arc_orders_records @sortField='Order_Bill_To_Full_Name', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='7-1-2019', @EndDate='10-9-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords

SET NOCOUNT ON
--Order_Number search overrides all search criteria
IF @Order_Number IS NOT NULL
	BEGIN
		SET @startDate = NULL
		SET @endDate = NULL
		SET @searchField = ''
	END

IF @startDate IS NULL SET @startDate = '1-1-1900'
IF @endDate IS NULL SET @endDate = DATEADD(d,1,GETDATE())

SET @startDate = CAST(convert(varchar(10), @startDate, 101) as DATETIME)
SET @endDate = CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME)

DECLARE @startRow INT = 0
DECLARE @endRow INT = 9999999

SET @startRow = (@skip*@pageSize)+1
SET @endrow = (@startRow+@pageSize)-1

IF @sortField = '' SET @sortField = @searchField

--Create a temp table because we will need to sort the results in the event that the sort field and search field are not the same
CREATE TABLE #Results ([Order_Part_Number] INT, [Order_Quantity] INT, [Order_Received_Date] DATE, [Order_Void_Cancel_Date] DATETIME, [Order_Number] BIGINT, [Reference_Number] BIGINT
,[Order_Current_Status] VARCHAR(2), [Order_Student_Last_Name] VARCHAR(50), [Order_Student_First_Name] VARCHAR(50), [Order_Hold_Status] VARCHAR(1), [Order_Ship_To_Full_Name] VARCHAR(30)
,[Order_Ship_To_Address_1] VARCHAR(30), [Item_Code] VARCHAR(15), [Style_Code] VARCHAR(3), [Order_Email_Address] VARCHAR(200), [Order_Perm_Phone_2] VARCHAR(10), [Order_Perm_Add_State_Code] VARCHAR(2)
,[Order_Perm_Add_Zip_Code] VARCHAR(5), [Order_Perm_Add_City_Name] VARCHAR(25), [Order_Perm_Zip__4_Ext] VARCHAR(4), [Order_Perm_Zip_Extension] VARCHAR(6), [Order_Ship_To_Zip__4_Ext] VARCHAR(4)
,[Order_Ship_To_Zip_Ext] VARCHAR(6), [Order_Ship_To_Country] VARCHAR(10), [Order_Perm_Full_Name] VARCHAR(30), [Order_Perm_Address_1] VARCHAR(30), [Order_Perm_Phone_1] VARCHAR(10)
,[Order_Ship_To_Address_2] VARCHAR(30), [Order_Ship_To_Address_3] VARCHAR(30), [Order_Ship_To_Phone_1] VARCHAR(10), [Order_Ship_To_Phone_2] VARCHAR(10), [Order_Ship_To_State] VARCHAR(2)
,[Order_Ship_To_Zip_Code] VARCHAR(5), [Order_Bill_To_Full_Name] VARCHAR(50), [Order_Bill_To_Address_1] VARCHAR(50), [Order_Bill_To_Address_2] VARCHAR(50), [Order_Bill_To_City_Name] VARCHAR(55)
,[Order_Bill_To_State] VARCHAR(2), [Order_Bill_To_Zip_Code] VARCHAR(5), [Voucher_Code] VARCHAR(255), [Email_Sent] DATETIME, [Svrp_Trans_ID] VARCHAR(500), [Voucher_Amount] MONEY
, [RowNumber] INT
)

--Get the total count
SELECT @totalRecords = COUNT(*) 
FROM [ARC_Orders] AO
LEFT JOIN dbo.GradPackPhotoAnnounceTransactions GPT ON GPT.Order_ID = AO.Order_Number
LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID
WHERE [Order_Number] = CASE WHEN @Order_Number IS NULL THEN [Order_Number] ELSE @Order_Number END
AND [Order_Bill_To_Full_Name] LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Bill_To_Full_Name] END
AND [Order_Bill_To_Address_1] LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Bill_To_Address_1] END
AND [Order_Email_Address] LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Email_Address] END
AND ISNULL(GPT.[Overwritten_By],'') = ''
AND [Order_Received_Date] BETWEEN @startDate AND @endDate
--SELECT * FROM #Results


; WITH SelectedRows AS (
SELECT
 [Order_Part_Number]
,[Order_Quantity]
,CAST([Order_Received_Date] as DATE) as [Order_Received_Date]
,[Order_Void_Cancel_Date]
,[Order_Number]
,[Reference_Number]
,[Order_Current_Status]
,[Order_Student_Last_Name]
,[Order_Student_First_Name]
,[Order_Hold_Status]
,[Order_Ship_To_Full_Name]
,[Order_Ship_To_Address_1]
,[Item_Code]
,[Style_Code]
,[Order_Email_Address]
,[Order_Perm_Phone_2]
,[Order_Perm_Add_State_Code]
,[Order_Perm_Add_Zip_Code]
,[Order_Perm_Add_City_Name]
,[Order_Perm_Zip__4_Ext]
,[Order_Perm_Zip_Extension]
,[Order_Ship_To_Zip__4_Ext]
,[Order_Ship_To_Zip_Ext]
,[Order_Ship_To_Country]
,[Order_Perm_Full_Name]
,[Order_Perm_Address_1]
,[Order_Perm_Phone_1]
,[Order_Ship_To_Address_2]
,[Order_Ship_To_Address_3]
,[Order_Ship_To_Phone_1]
,[Order_Ship_To_Phone_2]
,[Order_Ship_To_State]
,[Order_Ship_To_Zip_Code]
,[Order_Bill_To_Full_Name]
,[Order_Bill_To_Address_1]
,[Order_Bill_To_Address_2]
,[Order_Bill_To_City_Name]
,[Order_Bill_To_State]
,[Order_Bill_To_Zip_Code]
,ISNULL(GPT.[Code],'') as [Voucher_Code]
,GPT.[Sent_DTM] as [Email_Sent]
,GPT.Silverpop_Response as [Svrp_Trans_ID]
,X.Amount as [Voucher_Amount]
,ROW_NUMBER() OVER (ORDER BY /*@searchField*/Order_Bill_To_Full_Name ASC ) as RowNumber
FROM [ARC_Orders] AO
LEFT JOIN dbo.GradPackPhotoAnnounceTransactions GPT ON GPT.Order_ID = AO.Order_Number
LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID
WHERE [Order_Number] = CASE WHEN @Order_Number IS NULL THEN [Order_Number] ELSE @Order_Number END
AND [Order_Bill_To_Full_Name] LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Bill_To_Full_Name] END
AND [Order_Bill_To_Address_1] LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Bill_To_Address_1] END
AND [Order_Email_Address] LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Email_Address] END
AND ISNULL(GPT.[Overwritten_By],'') = ''
AND [Order_Received_Date] BETWEEN @startDate AND @endDate
)
INSERT INTO #Results
SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow
--ORDER BY @sortField ASC



DECLARE @TSQL NVARCHAR(MAX)

IF @sort = 'ASC'
	SET @TSQL = N'
	SELECT 
	 [Order_Part_Number]
	,[Order_Quantity]
	,[Order_Received_Date]
	,[Order_Void_Cancel_Date]
	,[Order_Number]
	,[Reference_Number]
	,[Order_Current_Status]
	,[Order_Student_Last_Name]
	,[Order_Student_First_Name]
	,[Order_Hold_Status]
	,[Order_Ship_To_Full_Name]
	,[Order_Ship_To_Address_1]
	,[Item_Code]
	,[Style_Code]
	,[Order_Email_Address]
	,[Order_Perm_Phone_2]
	,[Order_Perm_Add_State_Code]
	,[Order_Perm_Add_Zip_Code]
	,[Order_Perm_Add_City_Name]
	,[Order_Perm_Zip__4_Ext]
	,[Order_Perm_Zip_Extension]
	,[Order_Ship_To_Zip__4_Ext]
	,[Order_Ship_To_Zip_Ext]
	,[Order_Ship_To_Country]
	,[Order_Perm_Full_Name]
	,[Order_Perm_Address_1]
	,[Order_Perm_Phone_1]
	,[Order_Ship_To_Address_2]
	,[Order_Ship_To_Address_3]
	,[Order_Ship_To_Phone_1]
	,[Order_Ship_To_Phone_2]
	,[Order_Ship_To_State]
	,[Order_Ship_To_Zip_Code]
	,[Order_Bill_To_Full_Name]
	,[Order_Bill_To_Address_1]
	,[Order_Bill_To_Address_2]
	,[Order_Bill_To_City_Name]
	,[Order_Bill_To_State]
	,[Order_Bill_To_Zip_Code]
	,[Voucher_Code]
	,[Email_Sent]
	,[Svrp_Trans_ID]
	,[Voucher_Amount]
	,[RowNumber]
	FROM #Results
	ORDER BY [RowNumber]'--[' + @sortField + ']'
ELSE
	SET @TSQL = N'
	SELECT 
	 [Order_Part_Number]
	,[Order_Quantity]
	,[Order_Received_Date]
	,[Order_Void_Cancel_Date]
	,[Order_Number]
	,[Reference_Number]
	,[Order_Current_Status]
	,[Order_Student_Last_Name]
	,[Order_Student_First_Name]
	,[Order_Hold_Status]
	,[Order_Ship_To_Full_Name]
	,[Order_Ship_To_Address_1]
	,[Item_Code]
	,[Style_Code]
	,[Order_Email_Address]
	,[Order_Perm_Phone_2]
	,[Order_Perm_Add_State_Code]
	,[Order_Perm_Add_Zip_Code]
	,[Order_Perm_Add_City_Name]
	,[Order_Perm_Zip__4_Ext]
	,[Order_Perm_Zip_Extension]
	,[Order_Ship_To_Zip__4_Ext]
	,[Order_Ship_To_Zip_Ext]
	,[Order_Ship_To_Country]
	,[Order_Perm_Full_Name]
	,[Order_Perm_Address_1]
	,[Order_Perm_Phone_1]
	,[Order_Ship_To_Address_2]
	,[Order_Ship_To_Address_3]
	,[Order_Ship_To_Phone_1]
	,[Order_Ship_To_Phone_2]
	,[Order_Ship_To_State]
	,[Order_Ship_To_Zip_Code]
	,[Order_Bill_To_Full_Name]
	,[Order_Bill_To_Address_1]
	,[Order_Bill_To_Address_2]
	,[Order_Bill_To_City_Name]
	,[Order_Bill_To_State]
	,[Order_Bill_To_Zip_Code]
	,[Voucher_Code]
	,[Email_Sent]
	,[Svrp_Trans_ID]
	,[Voucher_Amount]
	,[RowNumber]
	FROM #Results
	ORDER BY [RowNumber] DESC' --[' + @sortField + '] DESC'
EXEC sp_sqlexec @TSQL
DROP TABLE #Results

GO
