/****** Object:  StoredProcedure [dbo].[s_get_affinity_diagnostic]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/28/2020
-- Description: Gives a diagnostic as to why an Affinity page shows what it does
-- =============================================
CREATE PROCEDURE [dbo].[s_get_affinity_diagnostic]
(
    @ID BIGINT
)
AS
--EXEC s_get_affinity_diagnostic @ID=131047 --Smith - true
--EXEC s_get_affinity_diagnostic @ID=136133 --Balfour - true
--EXEC s_get_affinity_diagnostic @ID=135110
--EXEC s_get_affinity_diagnostic @ID=135721
--EXEC s_get_affinity_diagnostic @ID=131662
--EXEC s_get_affinity_diagnostic @ID=130996
--EXEC s_get_Affinity_diagnostic @ID=131575

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @SMI BIGINT, @LastProductUpdate VARCHAR(50)
	SET @LastProductUpdate = 'Unknown'
	--Get the last product Update date/time
	--SET @LastProductUpdate = REPLACE(REPLACE(dbo.fn_GetExtendedProperty('magento_automated_product_dataset','LastUpdate'),'T',' '),'Z','')
	SET @LastProductUpdate = dbo.fn_GetExtendedProperty('magento_automated_product_dataset','LastUpdate')	
	IF @LastProductUpdate LIKE '%.%' 
		SET @LastProductUpdate = FORMAT (dbo.fn_DateTime_To_Central(CAST(LEFT(@LastProductUpdate,CHARINDEX('.',@LastProductUpdate)-1) as DATETIME)), 'MM/dd/yyyy hh:mm tt')
	ELSE
		SET @LastProductUpdate = FORMAT (dbo.fn_DateTime_To_Central(CAST(@LastProductUpdate as DATETIME)), 'MM/dd/yyyy hh:mm tt')
	PRINT @LastProductUpdate
	DECLARE @Results TABLE ([data] VARCHAR(MAX), [Sort_Order] INT IDENTITY(1,1))
	SELECT @SMI = [SMI] FROM [dbo].[ContentAffinityPages] WHERE [ID] = @ID
	INSERT INTO @Results ([data])
	SELECT '<b>SMI ' + CAST(@SMI AS VARCHAR(25)) + ' - ' + ISNULL([AltName],'<font color="#FF0000">THERE IS NO [ALTNAME] IN SCHOOL_URL_MASTER!</font>') + ' - ' + CASE WHEN [useLegacy] = 0 THEN 'New Affinity' ELSE 'Legacy Affinity' END + '</b><br/><a href="https://www.balfour.com' + ISNULL(AffinityURL,'') + '?refreshCache=true&' + LEFT(NEWID(),6) + '=' + LEFT(NewID(),6) + '" target="_blank">https://www.balfour.com' + ISNULL(AffinityURL,'') + '?refreshCache=true&' + LEFT(NEWID(),6) + '=' + LEFT(NewID(),6) + '</a><br/><b>SMI record last updated:</b> ' + CASE WHEN [UpdatedDate] IS NULL THEN 'NEVER (That''s a problem!)' ELSE FORMAT(dbo.fn_DateTime_To_Central(UpdatedDate), 'MM/dd/yyyy H:mm tt') END + '<br/>' +
	'<b>Data cache timestamp:</b> ~timestamp~' 
	FROM [dbo].[School_URL_Master] S 
	LEFT JOIN [dbo].[ContentAffinityPages] A ON A.SMI = S.SMI
	WHERE S.[SMI] = @SMI

	DECLARE @sysID BIGINT
	SELECT @sysID = id FROM SYS.sysobjects WHERE [name] = 's_get_affinity_data'
	INSERT INTO @Results ([data])
	SELECT '<b>Instance: </b>' + DB_NAME() + ' (' + CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) +')'
	UNION
	SELECT '<b>sproc: </b>s_get_affinity_data (' + CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@sysID)),2) + ')'
	UNION
	SELECT '<hr />'

	INSERT INTO @Results ([data])
	SELECT '<br/><i>' + CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' WHEN ([Flags] & 32768) > 0 Then 'Ring & Ring Tile' ELSE 'No special status' END + '</i>' as [specialStatus] 
	FROM [dbo].[ContentAffinityPages]
	WHERE [SMI] = @SMI
	INSERT INTO @Results ([data])
	SELECT '<b>Old Affinity:</b> ' + '<a href="https://www.balfour.com' + AffinityURL + '?view=old&refreshCache=true&' + LEFT(NEWID(),6) + '=' + LEFT(NewID(),6) + '" target="_blank">https://www.balfour.com' + AffinityURL + '?view=old&refreshCache=true&' + LEFT(NEWID(),6) + '=' + LEFT(NewID(),6) + '</a>'
	FROM [dbo].[School_URL_Master]
	WHERE [SMI] = @SMI
	INSERT INTO @Results ([data])
	SELECT '<b>New Affinity:</b> ' + '<a href="https://www.balfour.com' + AffinityURL + '?view=new&refreshCache=true&' + LEFT(NEWID(),6) + '=' + LEFT(NewID(),6) + '" target="_blank">https://www.balfour.com' + AffinityURL + '?view=new&refreshCache=true&' + LEFT(NEWID(),6) + '=' + LEFT(NewID(),6) + '</a>'
	FROM [dbo].[School_URL_Master]
	WHERE [SMI] = @SMI
	
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--Grade Level
	INSERT INTO @Results ([data])
	SELECT '<b>Grade level: ' + dbo.fn_Affinity_GradeLevel(@SMI) + '</b> - Grade level is SMI based: Is elementary = ' + CASE WHEN [isElementary] = 0 THEN 'false' ELSE 'true' END
	+ '; Is middle school = ' + CASE WHEN [isMiddleSchool] = 0 THEN 'false' ELSE 'true' END
	+ '; Is high school = ' + CASE WHEN [isHighSchool] = 0 THEN 'false' ELSE 'true' END
	+ '; Is college = ' + CASE WHEN [isCollege] = 0 THEN 'false' ELSE 'true' END + ' (SMI record last updated ' + FORMAT(dbo.fn_DateTime_To_Central(UpdatedDate), 'MM/dd/yyyy H:mm tt') + ')'
	FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI
	INSERT INTO @Results([data]) VALUES ('<hr />')
	
	--Alumni
	INSERT INTO @Results([data])
	SELECT '<b>Show Alumni tile: ' + CASE dbo.fn_Affinity_Alumni(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b>'
	INSERT INTO @Results ([data])
	SELECT 'The Alumni tile is based upon product data. (Last product data update: ' + @LastProductUpdate + ')'
	DECLARE @SKUS VARCHAR(MAX), @Comma VARCHAR(2)
	SELECT @SKUS = '', @Comma = ''
	SELECT @SKUS = @SKUS + @Comma + [SKU], @Comma = ', ' FROM [dbo].[magento_automated_product_dataset] WHERE itemid IN
	(
		SELECT itemid FROM itemattributes WHERE itemid IN (
			SELECT P.ITEMID 
			FROM magento_automated_product_dataset p 
			left join itemattributes ia on p.ItemID = ia.itemid 
			inner join view_product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
			WHERE tagtype IN ('a_MasterLicenseType', 'a_LicenseType') 
			and tagvalue = 'NCAA' 
			--AND [included SMI] = CAST(@SMI AS VARCHAR(50)) 
			AND 
			(
				ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' OR 
				(
					ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0)
				)
			)
			AND [tagType] = 'a_BalfourHierarchy' 
			AND [tagvalue] LIKE 'Balfour.com/COLLECTIONS/ALUMNI SHOP%'
		)
	INSERT INTO @Results([data])
	SELECT 'The following SKUs qualify: ' + @SKUS
	INSERT INTO @Results([data]) VALUES ('<hr />')
	
	----Cap and Gown
	--INSERT INTO @Results([data])
	--SELECT '<b>Show Cap and Gown tile = ' + CASE LTRIM(RTRIM(ISNULL(dbo.fn_Affinity_CapAndGownUrl(@SMI),''))) WHEN '' THEN 'false' ELSE 'true - URL = ' + dbo.fn_Affinity_CapAndGownUrl(@SMI) END + '</b>'
	--INSERT INTO @Results([data]) VALUES ('<hr />')

	--Class Ring URL
	INSERT INTO @Results([data])
	SELECT '<b>Class ring URL:</b> ' + '<a href="' + dbo.fn_Affinity_ClassRingUrl(@SMI,dbo.fn_Affinity_GradeLevel(@SMI)) + '" target="_blank">' + dbo.fn_Affinity_ClassRingUrl(@SMI,dbo.fn_Affinity_GradeLevel(@SMI)) + '</a>'
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--Stoles
	INSERT INTO @Results([data])
	SELECT '<b>Stoles:</b> ' + CASE WHEN [dbo].[fn_Affinity_StolesColl](@SMI) = 1 THEN 'Yes' ELSE 'No' END
	IF [dbo].[fn_Affinity_StolesColl](@SMI) = 1
		BEGIN
			
			DECLARE @SC VARCHAR(MAX)
			SET @SC = ''
			SELECT @SC = @SC + 'BalProdColl_Stoles' FROM [dbo].[school_url_master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE '%BalProdColl_Stoles%'
			SELECT @SC = @SC + CASE WHEN @SC = '' THEN '' ELSE ', ' END + 'BalProdColl_LicStoles' FROM [dbo].[school_url_master] WHERE [SMI] = @SMI AND [ProductCollections] LIKE '%BalProdColl_LicStoles%'
			INSERT INTO @Results([data]) VALUES ('Product Collection(s): ' + @SC)
		END
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--Fan Shop  
	INSERT INTO @Results ([data])
	SELECT '<b>Show Fan Shop tile: ' + CASE dbo.fn_Affinity_Fanshop(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b>'
	UNION
	SELECT 'The Fan Shop tile is based upon product data.  (Last product data update: ' + @LastProductUpdate + ')'
	
	SELECT @SKUS = '', @Comma = ''
	SELECT @SKUS = @SKUS + @Comma + P.[SKU], @Comma = ', ' FROM magento_automated_product_dataset p 
		left join itemattributes ia on p.ItemID = ia.itemid 
		inner join view_product_included_smi ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
		WHERE tagtype IN ('a_MasterLicenseType', 'a_LicenseType') 
		and tagvalue = 'NCAA' 
		--AND [included SMI] = CAST(@SMI AS VARCHAR(50)) 
		AND (
				ISNULL([Stock Maintenance],'') = 'Do not Manage Stock' 
				OR (ISNULL([Stock Maintenance],'') = 'Manage Stock' AND [Quantity in Stock] > 0)
			)
	INSERT INTO @Results([data])
	SELECT 'The following SKUs qualify: ' + @SKUS
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--Grad Announcement URL
	INSERT INTO @Results([data])
	SELECT '<b>Grad announcement URL:</b> ' + [dbo].[fn_Affinity_GradAnnoucementUrl](@SMI,dbo.fn_Affinity_GradeLevel(@SMI)) + ''
	INSERT INTO @Results([data])
	SELECT '<p>' + CASE WHEN [dbo].[fn_Affinity_GradAnnoucementUrl](@SMI,dbo.fn_Affinity_GradeLevel(@SMI)) = '' THEN 'Announcement tile will not show because fn_Affinity_GradAnnoucementUrl did not return data.' ELSE 'Announcement tile will show because fn_Affinity_GradAnnoucementUrl returned the link above.' END + ' The Grad Announcements Llnk in the Affinity Data is used if it exists and if not, the [sitecore_URL_overrides] is checked for an ''Announcements'' value and then if not and this is not a college we use the defaukt value ''https://www.balfour.com/contemporary-stationery?smi=' + CAST(@SMI as VARCHAR(10)) + '''  is used.  After all of that, if there is a record for this SMI in [GradAnnouncementOverrides] we use the [CBGrad URL] value there.</p>'
	IF [dbo].[fn_Affinity_GradAnnoucementUrl](@SMI,dbo.fn_Affinity_GradeLevel(@SMI)) <> ''
		BEGIN
			INSERT INTO @Results([data])
			SELECT '[ContentAffinityPages].[gradAnnouncementsLink] = ' + ISNULL([gradAnnouncementsLink],'') + '<br/>' FROM [dbo].[ContentAffinityPages] WHERE [SMI] = @SMI
			
			IF EXISTS (select * from sitecore_URL_overrides where ([Clean Override] = 'Announcement') AND @SMI = [Clean SMI])
				INSERT INTO @Results([data])
				select '[sitecore_URL_overrides].[Clean URL] = ' + ISNULL([Clean URL],'')  + '<br/>' from sitecore_URL_overrides where ([Clean Override] = 'Announcement') AND @SMI = [Clean SMI]
			ELSE
				INSERT INTO @Results([data])
				select '[sitecore_URL_overrides].[Clean URL] = <br/>'
			INSERT INTO @Results([data])
			SELECT 'Default for this gradelevel = ' + CASE WHEN dbo.fn_Affinity_GradeLevel(@SMI) IN ('Elementary', 'Middle School', 'High School') THEN 'https://www.balfour.com/contemporary-stationery?smi=' + CAST (@SMI AS VARCHAR(25)) ELSE '' END + '<br/>'
			
			IF EXISTS (SELECT * FROM [dbo].[GradAnnouncementOverrides] WHERE SMI = @SMI)
				INSERT INTO @Results([data])
				SELECT '[GradAnnouncementOverrides].[CBGrad URL] = ' + ISNULL([CBGrad URL],'') FROM [dbo].[GradAnnouncementOverrides] WHERE SMI = @SMI
			ELSE
				INSERT INTO @Results([data])
				SELECT '[GradAnnouncementOverrides].[CBGrad URL] = <br/>'
		END
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--GradPack URL
	INSERT INTO @Results([data])
	SELECT '<b>GradPack URL:</b> ' + [dbo].[fn_Affinity_GradPackUrl](@SMI) + ''
	If EXISTS(SELECT * FROM non_gradpack_schools WHERE SMI = @SMI)
		BEGIN
			INSERT INTO @Results([data])
			SELECT 'This SMI is listed as a non-gradpack school<br/>'
		END
	ELSE
		BEGIN
			IF EXISTS(
				SELECT * FROM magento_automated_product_dataset p
				inner join view_Product_included_SMI ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
				where 
				Category LIKE '%GRADUATION PACKAGES%'
				and Visibility = 'In Catalog and Search'
				and Status = 'Enable'
			)
				BEGIN
					SELECT @SKUS = '', @Comma = ''
					SELECT @SKUS = @SKUS + @Comma + P.[SKU], @Comma = ', ' FROM magento_automated_product_dataset p
					inner join view_Product_included_SMI ISMI ON ISMI.SKU = P.SKU AND ISMI.Included_SMI = @SMI
					where 
					Category LIKE '%GRADUATION PACKAGES%'
					and Visibility = 'In Catalog and Search'
					and Status = 'Enable'

					INSERT INTO @Results([data])
					SELECT 'This SMI is an included SMI on a product with a category like ''GRADUATION PACKAGES'' that is visible in catalog and search and is enabled.<br/>The following SKUs qualify: ' + @SKUS
				END
			ELSE
				BEGIN
					INSERT INTO @Results([data])
					VALUES ('This SMI is not a non-gradpack school and has no product with it as an included SMI in the category ''GRADUATION PACKAGES'' which is visble in catalog and search and is enabled.')
				END
		END
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--Graduation Tile (Cap and Gown)
	DECLARE @CGURL VARCHAR(200)
	SET @CGURL = ''
	SELECT @CGURL = [dbo].[fn_Affinity_CapAndGownUrl](@SMI)
	IF ISNULL(@CGURL,'') <> ''
		BEGIN
			INSERT INTO @Results([data])
			SELECT '<b>Graduation Tile URL:</b> <a href="' + @CGURL + '" target="_blank">' + @CGURL + '</a> -  Which means that there is a Graduation URL in the data.  To suppress this tile have IT delete the Cap and Gown URL override.'
		END
	ELSE
		BEGIN
			INSERT INTO @Results([data])
			SELECT '<b>No Graduation Tile URL in the data </b>'
		END
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--KS
	INSERT INTO @Results ([data])
	SELECT '<b>Show KS tile: ' + CASE dbo.fn_Affinity_KS(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b> - For the KS tile, we are looking for ''<b>BalProdColl_KSBalfour</b>'' in ' + REPLACE(ProductCollections,'BalProdColl_KSBalfour','<b><i>BalProdColl_KSBalfour</i></b>') + ' and it is ' + CASE dbo.fn_Affinity_KS(@SMI) WHEN 0 THEN 'not' ELSE '' END + ' there. (This is SMI-based and the SMI record (School_URL_Master) was last updated ' + FORMAT(dbo.fn_DateTime_To_Central(UpdatedDate), 'MM/dd/yyyy H:mm tt') + ')'  
	FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--University Collection
	INSERT INTO @Results ([data])
	SELECT '<b>Show University Collection tile: ' + CASE dbo.fn_Affinity_UnivColl(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b> - For the University Collection tile, we are looking for ''<b>BalProdColl_UnivColl</b>'' in ' + REPLACE(ProductCollections,'BalProdColl_UnivColl','<b><i>BalProdColl_UnivColl</b></i>') + ' and it is ' + CASE dbo.fn_Affinity_UnivColl(@SMI) WHEN 0 THEN 'not' ELSE '' END + ' there. (This is SMI-based and the SMI record (School_URL_Master) was last updated ' + FORMAT(dbo.fn_DateTime_To_Central(UpdatedDate), 'MM/dd/yyyy H:mm tt') + ')' 
	FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI
	INSERT INTO @Results([data]) VALUES ('<hr />')
	
	--Liz James
	INSERT INTO @Results ([data])
	SELECT '<b>Show Liz James tile: ' + CASE dbo.fn_Affinity_LizJames(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b> - For the Liz James tile, we are looking for ''<b>BalProdColl_LizJames</b>'' in ' + REPLACE(ProductCollections,'BalProdColl_LizJames','<b><i>BalProdColl_LizJames</i></b>') + ' and it is ' + CASE dbo.fn_Affinity_LizJames(@SMI) WHEN 0 THEN 'not' ELSE '' END + ' there. (This is SMI-based and the SMI record (School_URL_Master) was last updated ' + FORMAT(dbo.fn_DateTime_To_Central(UpdatedDate), 'MM/dd/yyyy H:mm tt') + ')' 
	FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI
	--INSERT INTO @Results([data]) VALUES ('<hr />')

	--Suppress LJ
	INSERT INTO @Results ([data])
	SELECT '<b>Suppress LJ tile: ' + CASE WHEN ([Flags] & 65536) > 0 THEN 'true' ELSE 'false' END + '</b>'
	FROM [dbo].[ContentAffinityPages] WHERE [SMI] = @SMI
	INSERT INTO @Results([data]) VALUES ('<hr />')
	

	--Letterman 
	INSERT INTO @Results ([data])
	SELECT '<b>Show Letterman tile: ' + CASE dbo.fn_Affinity_Letterman(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b> - For the Letterman tile, we are looking for ''<b>BalProdColl_letterman</b>'' in ' + REPLACE(ProductCollections,'BalProdColl_letterman','<b><i>BalProdColl_letterman</i></b>') + ' and it is ' + CASE dbo.fn_Affinity_Letterman(@SMI) WHEN 0 THEN 'not' ELSE '' END + ' there. (This is SMI-based and the SMI record (School_URL_Master) was last updated ' + FORMAT(dbo.fn_DateTime_To_Central(UpdatedDate), 'MM/dd/yyyy H:mm tt') + ')' 
	FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--Spiritwear
	INSERT INTO @Results ([data])
	SELECT '<b>Show Spiritwear tile: ' + CASE dbo.fn_Affinity_Spiritwear(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b> - For the Spiritwear tile, we are looking for ''<b>rokkitwear</b>'' in ' + REPLACE(ProductCollections,'rokkitwear','<b><i>rokkitwear</i></b>') + ' and it is ' + CASE dbo.fn_Affinity_Spiritwear(@SMI) WHEN 0 THEN 'not' ELSE '' END + ' there. (This is SMI-based and the SMI record (School_URL_Master) was last updated ' + FORMAT(dbo.fn_DateTime_To_Central(UpdatedDate), 'MM/dd/yyyy H:mm tt') + ')' 
	FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI
	INSERT INTO @Results([data]) VALUES ('<hr />')

	--Yearbook
	INSERT INTO @Results ([data])
	SELECT '<b>School has yearbook: ' + CASE dbo.fn_Affinity_Yearbook(@SMI) WHEN 0 THEN 'false' ELSE 'true' END + '</b>'
	UNION
	SELECT 'The yearbook tile is based upon product data.  (Last product data update: ' + @LastProductUpdate + ')<br/>We are looking for products with [Enhanced Ecommerce] = ''YEARBOOKS'' or ''YEARBOOK ACCESSORIES'' and [Status] = enable and [Visibility] NOT ''Not Visible'' and [Exclusive SMI] = ' + CAST(@SMI as VARCHAR(25))
	SELECT @SKUS = '', @Comma = ''
	SELECT @SKUS = @SKUS + @Comma + P.[SKU], @Comma = ', ' FROM magento_automated_product_dataset p  WHERE [enhanced Commerce] IN ('YEARBOOKS','YEARBOOK ACCESSORIES') and status = 'enable' and ISNULL([visibility],'Not Visible') <> 'Not Visible' and [Exclusive SMI] = @SMI
	INSERT INTO @Results([data])
	SELECT 'The following SKUs qualify: ' + @SKUS

	SELECT @SKUS = '', @Comma = ''
	SELECT @SKUS = @SKUS + @Comma +[SKU], @Comma = ', ' FROM [dbo].[magento_automated_product_dataset]
	  WHERE [Exclusive SMI] = @SMI
	  AND [Category] = 'PACKAGES' and [Enhanced Commerce] = 'YEARBOOKS'
	  AND [Visibility] = 'In Catalog and Search'
	INSERT INTO @Results([data])
	SELECT 'Yearbook packages - the following SKU(s) qualify: ' + @SKUS


	

	SELECT [data] FROM @Results ORDER BY [Sort_Order]
    
END
GO
