/****** Object:  StoredProcedure [dbo].[s_SilverPopUploads_Add]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/19/2020
-- Description: Adds a new record to SilverPopUploads
-- =============================================
CREATE PROCEDURE [dbo].[s_SilverPopUploads_Add]
(
    @EntityId varchar(50),
	@UserId varchar(50),
	@FileName varchar(200),
	@RecordCount int,
	@SilverPopJobId int
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	INSERT INTO SilverPopUploads
	(
		EntityId,
		UserId,
		FileName,
		RecordCount,
		SilverPopJobId,
		SentToSilverPopDate
	)
	VALUES
	(
		@EntityId,
		@UserId,
		@FileName,
		@RecordCount,
		@SilverPopJobId,
		GETUTCDATE()
	)
    
END
GO
