/****** Object:  StoredProcedure [dbo].[s_get_YMAL_EA_defaults]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 10/23/2019
-- Description: AutoIndex for YMAL EA default items
-- =============================================
CREATE PROCEDURE [dbo].[s_get_YMAL_EA_defaults]

AS
BEGIN
	-- EXEC [s_get_YMAL_EA_defaults]

   SET NOCOUNT ON
	
	DECLARE @returnprod TABLE ( imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255))

	INSERT INTO @returnprod
	SELECT  [imageurl], [url], [SKU], [product name], [price], [wasprice], [Class]
	FROM  [YMALDefaults]
	order by sortorder desc

	SELECT * FROM @returnprod
	
END

GO
