/****** Object:  StoredProcedure [dbo].[s_normalize_magento_automated_product_dataset]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 07/09/2019
-- Description: This flattens Included_SMI in [dbo].[magento_automated_product_dataset]
-- =============================================
CREATE PROCEDURE [dbo].[s_normalize_magento_automated_product_dataset]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    --***************************************** Thia takes about 20 minutes to complete **********************************************************
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Included SMI] = '' WHERE [Included SMI] = '\N'
	--UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Special Price - To Date] = NULL WHERE [Special Price - To Date] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Excluded SMI] = '' WHERE [Excluded SMI] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Vendor ID] = NULL WHERE [Vendor ID] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [UC ID] = NULL WHERE [UC ID] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Product_collection] = NULL WHERE [product_collection] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [Category] = NULL WHERE [category] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_import] SET [ParentSKU] = LEFT(ISNULL(SKU,''),8)



	CREATE TABLE #B2_Prod_ProductListing_Working(
		[Product ID] [float] NULL,
		[Included SMI] [varchar](MAX) NULL,
		[Excluded SMI] [nvarchar](255) NULL,
		[Exclusive SMI] [float] NULL,
		[ID] [INT] IDENTITY(1,1)
	) 

	CREATE TABLE #B2_Prod_ProductListing_Flat(
		[Product ID] [float] NULL,
		[SKU] [nvarchar](255) NULL,
		[ParentSKU] VARCHAR(8) NULL,
		[Product Name] [nvarchar](255) NULL,
		[Product Type] [nvarchar](255) NULL,
		[Attribute Set] [nvarchar](255) NULL,
		[Category] [nvarchar](255) NULL,
		[Item Category] [nvarchar](255) NULL,
		[Enhanced Commerce] [nvarchar](255) NULL,
		[Retail Price] [float] NULL,
		[Special Price (% for bundles)] [float] NULL,
		[Special Price - Start Date] [datetime] NULL,
		[Special Price - To Date] [datetime] NULL,
		[Tax Class] [nvarchar](255) NULL,
		[Quantity in Stock] [decimal](12,4) NULL,
		[Stock maintenance] [nvarchar](255) NULL,
		[Included SMI] [varchar](MAX) NULL,
		[Excluded SMI] [varchar](255) NULL,
		[Exclusive SMI] [varchar](255) NULL,
		[Vendor Id] [nvarchar](255) NULL,
		[UC ID] [nvarchar](255) NULL,
		[Delivery Method] [nvarchar](255) NULL,
		[product_collection] [varchar](4000) NULL,
		[Visibility] [nvarchar](255) NULL,
		[Status] [nvarchar](255) NULL,
		[Created On] [datetime] NULL,
		[Updated On] [datetime] NULL,
		[ID] [INT] IDENTITY(1,1)
	) 


	INSERT INTO #B2_Prod_ProductListing_Working ([Product ID],[Included SMI],[Excluded SMI],[Exclusive SMI])
	SELECT [Product ID],replace([Included SMI], char(13) + char(10), ''),replace([Excluded SMI], char(13) + char(10), ''),[Exclusive SMI] FROM [dbo].[magento_automated_product_dataset_import] 
	CREATE NONCLUSTERED INDEX [ndx_Product_ID]
	ON [dbo].[#B2_Prod_ProductListing_Working] ([Product ID])

	DECLARE @Max INT, @ID INT, @Product_ID FLOAT, @Included_SMI NVARCHAR(255), @Current INT, @Orig VARCHAR(255), @Val VARCHAR(255), @OrigCnt INT
	DECLARE @Values TABLE ([Product ID] FLOAT, [Value] VARCHAR(50))

	SELECT @OrigCnt = COUNT(*) FROM [dbo].[magento_automated_product_dataset]

	SELECT @Max = MAX([ID]) FROM #B2_Prod_ProductListing_Working
	SET @ID = 1
	SET @Current = 0
	WHILE @ID <= @Max
		BEGIN
			SET @Current = @Current + 1
			IF @Current = 1000
				BEGIN
					--PRINT 'Working with row ' + CAST(@ID AS VARCHAR(15)) + ' of ' + CAST(@Max AS VARCHAR(15)) + ' ******************************************************'
					SET @Current = 0
				END
			SELECT @Product_ID = [Product ID], @Included_SMI = [Included SMI] FROM #B2_Prod_ProductListing_Working WHERE [ID] = @ID
			--[Included SMI] may be a comma-delimited list so flatten it
		
			IF CHARINDEX(',',@Included_SMI) > 0
				BEGIN
					DELETE FROM @Values
					INSERT INTO @Values ([Product ID],[Value])
					SELECT @Product_ID, value FROM  STRING_SPLIT(ISNULL(@Included_SMI,''),',')
					INSERT INTO #B2_Prod_ProductListing_Flat ([Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
					SELECT V.[Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], V.Value, [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
					FROM @Values V
					LEFT JOIN [dbo].[magento_automated_product_dataset_import] PLI ON PLI.[Product ID] = V.[Product ID]
					--SET @Orig = @Included_SMI
					--WHILE @Orig <> ''
					--	BEGIN
					--	    IF CHARINDEX(',',@Orig) > 0
					--			SET @Val = LEFT(@Orig,CHARINDEX(',',@Orig))
					--		ELSE
					--			SET @Val = @Orig
					--		SET @Orig = LTRIM(RTRIM(REPLACE(@Orig,@Val,'')))
					--		SET @Val = LTRIM(RTRIM(REPLACE(@Val,',','')))
					--		INSERT INTO #B2_Prod_ProductListing_Flat ([Product ID], [SKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
					--		SELECT [Product ID], [SKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], @Val, [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
					--		FROM [dbo].[magento_automated_product_dataset_import]  
					--		WHERE [Product ID] = @Product_ID
					--	END
				
				END
			ELSE
				INSERT INTO #B2_Prod_ProductListing_Flat ([Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
				SELECT [Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], @Included_SMI, [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
				FROM [dbo].[magento_automated_product_dataset_import]  
				WHERE [Product ID] = @Product_ID
			SET @ID = @ID + 1
		END
	


	SELECT @Max = COUNT(*) FROM #B2_Prod_ProductListing_Flat
	IF @Max >= @OrigCnt
		BEGIN
			TRUNCATE TABLE [dbo].[magento_automated_product_dataset]
			INSERT INTO [dbo].[magento_automated_product_dataset] ([Product ID], [SKU], [ParentSKU],[Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])
			SELECT [Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [Attribute Set], [Category], [Item Category], [Enhanced Commerce], [Retail Price], [Special Price (% for bundles)], [Special Price - Start Date], [Special Price - To Date], [Tax Class], [Quantity in Stock], [Stock maintenance], [Included SMI], [Excluded SMI], [Exclusive SMI], [Vendor Id], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
			FROM #B2_Prod_ProductListing_Flat

			TRUNCATE TABLE dbo.magento_automated_product_dataset_import
			
			SELECT i.sku, itemid, (SELECT TOP (1) value	FROM STRING_SPLIT(tagvalue, ',') AS STRING_SPLIT_1) as imageurl into #itemattributesimages 
			from item i
			LEFT JOIN itemattributes ia on ia.itemid = i.id
			WHERE tagtype = 'a_BalfourPrimaryImages'
			SELECT @Max = COUNT(*) FROM #itemattributesimages
			IF @Max > 0
				BEGIN
					TRUNCATE TABLE dbo.itemattributesimages
					INSERT INTO dbo.itemattributesimages ([sku], [itemid], [imageurl])
					SELECT [sku], [itemid], [imageurl] FROM #itemattributesimages
					
				END
			DROP TABLE #itemattributesimages

			UPDATE [dbo].[magento_automated_product_dataset]
			--SELECT p.parentSKU, I.itemID
			SET [ItemID] = i.ItemID
			FROM [dbo].[magento_automated_product_dataset] p
			LEFT JOIN [dbo].[itemattributesimages] i ON i.SKU = P.ParentSKU

			UPDATE magento_automated_product_dataset SET is_Licensed = CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
			--SELECT parentsku ,CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
			FROM itemattributes ia
			LEFT JOIN magento_automated_product_dataset p on p.ItemID = ia.itemid
			WHERE ia.tagtype = 'a_licensed'
			UPDATE magento_automated_product_dataset SET is_Licensed = 0 WHERE is_licensed IS NULL

			
		END

	DROP TABLE #B2_Prod_ProductListing_Working --SELECT * FROM #B2_Prod_ProductListing_Working
	DROP TABLE #B2_Prod_ProductListing_Flat
END
GO
