/****** Object:  StoredProcedure [dbo].[s_get_managed_cart_upsell_rules]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 02-24-2021
-- Description: Top-level sproc - Get the managed upsell in cart rules. -- Update, even larger sproc will call this (s_get_managed_cart_upsell_full_payload)
-- Uses tables cart_cross_sell_rules and cart_cross_sell_rules_group
-- Calls s_get_managed_cart_upsell_group and s_get_managed_cart_upsell_rules_item
-- =============================================
CREATE PROCEDURE [dbo].[s_get_managed_cart_upsell_rules]
(
    -- Add the parameters for the stored procedure here
    @SKU VARCHAR(MAX),
	@SMI INT = 0,
    @DEBUG BIT = 0
)
AS
BEGIN
    -- exec s_get_managed_cart_upsell_rules @SKU = 'a0003952', @SMI='130996', @DEBUG = 0 -- production speed test
	-- exec s_get_managed_cart_upsell_rules @SKU = 'a0003952', @SMI='130996', @DEBUG = 1 -- LSU TEST RING -- This current Top-level sproc
	-- exec s_get_managed_cart_upsell_group @SKU = 'a0003952', @SMI='130996', @DEBUG = 1 -- LSU TEST RING -- this gets the group to pull rules from
	-- exec s_get_managed_cart_upsell_rules_item @SKU = 'a0003952', @SMI='130996', @DEBUG = 1, @grpID='4149D088-EB09-4C0D-8586-D372870BEB65', @ruleNo = 1 -- this uses a group to pull each rule up to x times
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
		-- get rule_group from sproc

		DECLARE @grpID uniqueidentifier
		CREATE TABLE #grpID (grpID uniqueidentifier)
		insert into #grpID exec s_get_managed_cart_upsell_group @SKU = @SKU, @SMI=@SMI, @DEBUG = @DEBUG
		set @grpID = (select * from #grpID)
		drop table #grpID
			
		
		IF @DEBUG = 1 
		BEGIN
			select * from cart_cross_sell_rules
			select * from cart_cross_sell_rules_group
			select top 3 * from magento_automated_product_dataset
				where [Exclusive SMI] = @SMI
			Select @grpID AS [grpID]
		END
		

		CREATE TABLE #upsellItems 
			(   [imageurl] VARCHAR(MAX), 
				[url] VARCHAR(MAX), 
				[SKU] VARCHAR(MAX),
				[ProductName] VARCHAR(MAX),
				[Price] DECIMAL(8,2),
				[WasPrice] DECIMAL(8,2),
				[Class] VARCHAR(MAX),
				[ProductType] VARCHAR(MAX),
				[SortOrder] INT,
				[config_type] VARCHAR(MAX),
				[IsLCU] BIT,
				[IsGreenBox] BIT
				)
		
		DECLARE @numOfRules INT
		SET @numOfRules = (select count(*) from cart_cross_sell_rules rules where rules.Group_ID = @grpID)
		DECLARE @Counter INT 
		SET @Counter=1

		IF @DEBUG = 1 
		BEGIN
			SELECT @numOfRules AS [numOfRules]
		END

		-- Grab results from sproc for all rules in group
		WHILE ( @Counter <= @numOfRules)
		BEGIN
			IF @DEBUG = 1 
			BEGIN
				SELECT @Counter AS [Counter]
			END
			insert into #upsellItems exec s_get_managed_cart_upsell_rules_item @SKU = @SKU, @SMI = @SMI, @DEBUG = @DEBUG, @grpID = @grpID, @ruleNo = @Counter
			SET @Counter  = @Counter  + 1
		END

		select * from #upsellItems
		drop table #upsellItems




			/*
			Insert a new rule into a group:		

				--insert into cart_cross_sell_rules
				--	(Rule_name, Rule_description,
				--	Order_in_group, Enabled, school_scope_bool,
				--	price_range_bool, price_range_min, price_range_max, group_name, group_id,
				--	PIM_attribute_qualifier_bool, PIM_attribute_qualifier_name, PIM_attribute_qualifier_value,
				--	MAGE_ecommerce_category_bool, MAGE_ecommerce_category_name, MAGE_ecommerce_category_value
				--	)
				--	VALUES
				--	('University Frames - Gold Embossed Diploma Frame with Campus Image', 'SMI Include+ B3brand=uNIVERSITY fRAMES+CTS{CATEGORY, TYPE, STYLE}(HOME/DORM>FRAMES)+>= $200 ADD TO CART',
				--	2, 1, 1, -- order, enabled, school scope
				--	1, 200, 5000, -- price range
				--	'College ORP - Exclusive SMI', '4149D088-EB09-4C0D-8586-D372870BEB65', -- use existing group
				--	NULL, NULL, NULL, -- PIM check
				--	1, 'Cat_Type_Style', 'Home/Dorm_Frames_Diploma/Certificate Frames' -- Magento check
				--	)

				select * from 
					cart_cross_sell_rules
					order by Order_in_group
					asc
			*/

END
GO
