/****** Object:  StoredProcedure [dbo].[s_SilverPopUploads_GetOpenUploadJobs]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/19/2020
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[s_SilverPopUploads_GetOpenUploadJobs]
(
    @CutoffDate smalldatetime = null
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	IF @CutoffDate IS NULL
		BEGIN
			SET @CutoffDate = DATEADD(d, -1, GETUTCDATE())
		END

    SELECT *
	FROM SilverPopUploads
	WHERE 
		SilverPopImportCompletedDate IS NULL
		AND SentToSilverPopDate >= @CutoffDate
END
GO
