/****** Object:  StoredProcedure [dbo].[s_get_iconic_school]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Trishan Singh
-- Create Date: 2019-03-01
-- Description: Get smi based on Iconic School Id
-- =============================================
CREATE PROCEDURE [dbo].[s_get_iconic_school]
(
    -- Add the parameters for the stored procedure here
    @iconicschoolid int = 0 
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @returnprod TABLE ( iconicid int, smiid int )

    -- Insert statements for procedure here
	INSERT INTO @returnprod
	SELECT mat.iconicid, mat.smiid
	FROM  dbo.iconicTosmi AS mat  
	WHERE mat.iconicid = @iconicschoolid 

	--DECLARE @checkCount int
	--SELECT @checkCount = COUNT(sku) FROM @returnprod

	 

	SELECT * FROM @returnprod
END
GO
