/****** Object:  StoredProcedure [dbo].[janus]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[janus]
(
    @ModifiedDate VarChar(15)='',
    @Domain VarChar(100)='',
    @System VarChar(100)='',
    @Status VarChar(10)='',
    @OpenIssueTicket VarChar(MAX)='',
    @KeyChallenges VarChar(MAX)='',
    @LocationStatus VarChar(MAX)='',
    @ModifiedBy VarChar(100)='',
    @StatusId VarChar(12)='',
    @EventId VarChar(50)='',
    @Description VarChar(MAX)='',
    @EventDate VarChar(15)='',
	@EmailAddress VarChar(100)= '',
	@Owner VarChar(100)='',
    @Locations VarChar(MAX)='',
    @actionType VarChar(50)='',
    @currentCSTDate VarChar(15)=''
)
AS
BEGIN
    SET NOCOUNT ON
    
IF (@actionType='DashboardStatic')   
BEGIN
    Select 
    (
        SELECT Domain, STRING_AGG (CONCAT(System+'_',Owner),',') AS Systems
    FROM Janus_System_Details
    GROUP BY Domain Order by  LEN(STRING_AGG (System, ',')) DESC  FOR JSON PATH
    ) as GroupByDomain,
    (
    SELECT StatusId, STRING_AGG('{"ModifiedDate":"'+CAST(ModifiedDate AS VARCHAR(12))+'","EventDate":"'+CAST(Date AS VARCHAR(12))+'","System":"'+Title+'","Domain":"'+Domain+'","Description":"'+Description+'","ModifiedBy":"'+ModifiedBy+'","EventId":'+CONVERT(varchar, Id)+'}',',') AS Data
    FROM Janus_Calendar  where Date <  @currentCSTDate
    GROUP BY StatusId  Order by  LEN(STRING_AGG (Title, ',')) DESC  FOR JSON PATH
    ) as GroupEventsByStatusID,
    (
        SELECT * FROM Janus_System_Details FOR JSON PATH
    ) as GetSystemsDetail,
    (
        Select * FROM Janus_System_Logs where ModifiedDate <  @currentCSTDate Order by ModifiedDate DESC FOR JSON PATH
    ) as GetSystemLogs
    FOR JSON PATH
END

IF (@actionType='DashboardDynamic')
BEGIN
        select
        (
            select ISNULL( (SELECT StatusId, STRING_AGG('{"ModifiedDate":"'+CAST(ModifiedDate AS VARCHAR(12))+'","EventDate":"'+CAST(Date AS VARCHAR(12))+'","System":"'+Title+'","Domain":"'+Domain+'","Description":"'+Description+'","ModifiedBy":"'+ModifiedBy+'","EventId":'+CONVERT(varchar, Id)+'}',',') AS Data
            FROM Janus_Calendar where Date >=  @currentCSTDate
            GROUP BY StatusId  Order by  LEN(STRING_AGG (Title, ',')) DESC  FOR JSON PATH), '[{}]')
           )GroupEventsByPostEventDate,
        (
            select ISNULL( (Select * from Janus_System_Logs where ModifiedDate >=  @currentCSTDate Order by ModifiedDate DESC FOR JSON PATH), '[{}]')
        )GetCurrentDaySystemLogs
        FOR JSON PATH
END        

IF (@actionType='CheckIfSystemIsLogged')
BEGIN
        select ISNULL((Select ModifiedBy from Janus_System_Logs where ModifiedDate =  @currentCSTDate and System = @System and Domain = @Domain  FOR JSON AUTO), '[{}]')
END     

IF (@actionType='GetEvents')   
BEGIN
    Select Title, Date, REPLACE(Description,'\"','"') as Description ,Owner,Domain, ModifiedDate, ModifiedBy,Id,StatusId,Category,TileColor from Janus_Calendar where Date <  @currentCSTDate Order by ModifiedDate DESC FOR JSON AUTO
END

IF (@actionType='GetPostToCurrentDateEvents')   
BEGIN
    select ISNULL( (Select Title, Date, REPLACE(Description,'\"','"') as Description , Owner,Domain, ModifiedDate, ModifiedBy,Id,StatusId,Category,TileColor from Janus_Calendar where Date >=  @currentCSTDate Order by ModifiedDate DESC FOR JSON PATH), '[{}]')
END




IF (@actionType='AddStatus')   
BEGIN
        INSERT INTO Janus_System_Logs (ModifiedDate, Domain, System, Status, OpenIssueTicket, KeyChallenges,LocationStatus,ModifiedBy )
    VALUES (@ModifiedDate, @Domain, @System, @Status, @OpenIssueTicket, @KeyChallenges, @LocationStatus, @ModifiedBy);
SELECT TOP(1) StatusId
FROM Janus_System_Logs
Order By StatusId DESC FOR JSON AUTO;
END


IF (@actionType='AddEvent')   
BEGIN
        INSERT INTO Janus_Calendar (ModifiedDate, Date, Title, Description,Domain, Owner, ModifiedBy,StatusId,TileColor,Category)
    VALUES (@ModifiedDate,@EventDate, @System, @Description,@Domain,@Owner, @ModifiedBy,@StatusId,'linear-gradient(90deg,#035ca3,#2085d6)','Release');
END


IF (@actionType='UpdateEvent')   
BEGIN
UPDATE Janus_Calendar
SET ModifiedDate =@ModifiedDate, Date= @EventDate,Description=@Description,ModifiedBy=@ModifiedBy
WHERE Id = @EventId;
END


IF (@actionType='UpdateStatus')   
BEGIN
UPDATE Janus_System_Logs
SET ModifiedDate = @ModifiedDate, Status= @Status, OpenIssueTicket=@OpenIssueTicket, KeyChallenges=@KeyChallenges, LocationStatus=@LocationStatus,ModifiedBy=@ModifiedBy
WHERE StatusId = @StatusId;
END


IF (@actionType='AddNewSystem')   
BEGIN
        INSERT INTO Janus_System_Details (EmailAddress, Domain, System, Owner, Locations)
    VALUES (@EmailAddress, @Domain, @System, @Owner, @Locations);
END


IF (@actionType='DeleteEvent')   
BEGIN
       DELETE FROM Janus_Calendar WHERE Id=@EventId;
END

IF (@actionType='DeleteMultipleEvent')   
BEGIN
DELETE from Janus_Calendar WHERE Id IN (SELECT value FROM STRING_SPLIT(@EventId, ','));

END

END
GO
