/****** Object:  StoredProcedure [dbo].[s_process_vouchers_new]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03/30/2020
-- Description: sproc to send out photobook coupons
-- =============================================
CREATE PROCEDURE [dbo].[s_process_vouchers_new]
(
     @Debugging BIT = 1
	,@EmailOverride VARCHAR(200) = 'william.crooks@balfour.com'
	,@VoucherTypesToProcess VARCHAR(50) = 'PhotoBookVouchers,GradPackVouchers'
)
AS
--EXEC s_process_photobook_vouchers @Debugging = 1, @EmailOverride = 'clevine@iconicgroup.com'--'eudora.choi@balfour.com'
--EXEC s_process_photobook_vouchers @Debugging = 0
--SELECT TOP 10 * FROM [dbo].[EmailJobs_Queue] WHERE [email_Name] LIKE 'Photobook%' ORDER BY [ID] DESC
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    /*  Quick check for any new ones (Last one checked 2515878)
	DECLARE @Last_Item_ID BIGINT; SELECT @Last_Item_ID = CAST(dbo.fn_GetExtendedProperty('MAGE_sales_order_item','LastItemIDForPBVouchers') as BIGINT)
	SELECT @Last_Item_ID; SELECT [order_id], [qty_ordered], [item_id] FROM [dbo].[MAGE_sales_order_item] WHERE [sku] = 'A0212429A0000' AND [item_id] > @Last_Item_ID
	*/

	--Determine the last record in [dbo].[MAGE_sales_order_item] checked for the photobook voucher SKU A0212429A0000
	DECLARE @Last_Item_ID BIGINT, @Max_Item_ID BIGINT, @Value VARCHAR(MAX), @Max INT, @Loop INT, @order_id INT, @qty_ordered DECIMAL(12,4), @item_id INT, 
			@emailaddresses NVARCHAR(200), @customer_firstname VARCHAR(128), @Coupon_ID INT, @Code VARCHAR(50), @Rule_ID INT, @QID BIGINT, @Increment_ID VARCHAR(50), @CurrentCode INT,
			@VoucherLoop INT, @VoucherCount INT, @VoucherType varchar(100), @VoucherErrorMessage varchar(500) = ''
	
	DECLARE @LastItemIDPropertyName varchar(100), @LastItemIDUpdatePropertyName varchar(100), @PIM_SKU varchar(100), @SKU varchar(100), @EmailName varchar(100), @EmailDescription varchar(255),
		@EmailKeyName varchar(50), @CodeValue money, @EmailKeyValue varchar(100), @EmailJSON varchar(max) 

	SELECT @Max_Item_ID = MAX([item_id]) FROM [dbo].[MAGE_sales_order_item]

	-- the list of voucher types is a comma separated list specified in @VoucherTypesToProcess
	CREATE TABLE #VoucherTypesToProcess ([VoucherTypeID] INT IDENTITY(1,1), [VoucherTypeName] VARCHAR(100))
	INSERT INTO #VoucherTypesToProcess
	(VoucherTypeName)
	SELECT LTRIM(RTRIM(value)) AS VoucherTypeName
	FROM STRING_SPLIT(@VoucherTypesToProcess, ',')

	CREATE TABLE #VoucherTypeSKUs ([VoucherTypeName] VARCHAR(100), SKU VARCHAR(50), PIM_SKU VARCHAR(50), VoucherValue MONEY, RuleID INT DEFAULT(0))
	INSERT INTO #VoucherTypeSKUs ([VoucherTypeName], SKU, PIM_SKU, VoucherValue) VALUES ('PhotoBookVouchers', 'A0212429A0000', 'A0212429A0000', 29.99)
	INSERT INTO #VoucherTypeSKUs ([VoucherTypeName], SKU, PIM_SKU, VoucherValue) VALUES ('GradPackVouchers', 'A0155693', 'A0155693', 20.00)
	INSERT INTO #VoucherTypeSKUs ([VoucherTypeName], SKU, PIM_SKU, VoucherValue) VALUES ('GradPackVouchers', 'A0155694', 'A0155694', 40.00)
	INSERT INTO #VoucherTypeSKUs ([VoucherTypeName], SKU, PIM_SKU, VoucherValue) VALUES ('GradPackVouchers', 'A0155695', 'A0155695', 60.00)

	UPDATE #VoucherTypeSKUS SET RuleID = a.[MAGE_Rule_ID] FROM #VoucherTypeSKUS v JOIN [dbo].[Amount_Rule_ARCItem_XRef] a ON v.PIM_SKU = a.PIM_SKU

	SELECT @VoucherLoop = 1, @VoucherCount = MAX(VoucherTypeID) FROM #VoucherTypesToProcess

	-- loop over each voucher type
	WHILE @VoucherLoop <= @VoucherCount
		BEGIN
			SELECT @VoucherType = VoucherTypeName FROM #VoucherTypesToProcess WHERE VoucherTypeID = @VoucherLoop

			-- set variable values specific to the voucher type
			IF @VoucherType = 'PhotoBookVouchers'
				BEGIN
					SET @LastItemIDPropertyName = 'LastItemIDForPBVouchers'
					SET @LastItemIDUpdatePropertyName = 'LastItemIDForPBVouchersUpdate'
					SET @EmailName = 'PhotoBookVouchers'
					SET @EmailDescription = 'Photobook voucher'
					SET @EmailKeyName = 'PBV + Increment_Id.Item_id-code'
					SET @CodeValue = 0.00
					SET @EmailKeyValue = ''
					SET @EmailJSON = ''
					SET @PIM_SKU = ''
					SET @SKU = '' -- would there be a case where PIM SKU would not be the same?
				END
			ELSE IF @VoucherType = 'GradPackVouchers'
				BEGIN
					SET @LastItemIDPropertyName = 'LastItemIDForGPVouchers'
					SET @LastItemIDUpdatePropertyName = 'LastItemIDForGPVouchersUpdate'				
					SET @EmailName = 'GradPackVouchers'
					SET @EmailDescription = 'GradPack voucher'
					SET @EmailKeyName = 'GPV + Increment_Id.Item_id-code'
					SET @CodeValue = 0.00
					SET @EmailKeyValue = ''
					SET @EmailJSON = ''
					SET @PIM_SKU = '???'
					SET @SKU = '???' -- would there be a case where PIM SKU would not be the same?
				END
			ELSE
				BEGIN
					SET @VoucherErrorMessage = 'Unrecognized voucher type: ' + @VoucherType;
					THROW 50001, @VoucherErrorMessage, 1;
				END

			CREATE TABLE #Items ([order_id] INT, [qty_ordered] DECIMAL(12,4), [item_id] INT, [sku] VARCHAR(50), [Loop] INT IDENTITY(1,1))

			BEGIN TRY
				--SELECT dbo.fn_GetExtendedProperty('MAGE_sales_order_item','LastItemIDForPBVouchers'); SELECT MAX([Item_ID]) FROM [dbo].[MAGE_sales_order_item]
				SELECT @Last_Item_ID = CAST(dbo.fn_GetExtendedProperty('MAGE_sales_order_item', @LastItemIDPropertyName) as BIGINT)
			END TRY
			BEGIN CATCH
				SET @Last_Item_ID = 0
			END CATCH
			PRINT 'Last checked: ' + CAST(@Last_Item_ID AS VARCHAR(MAX)) + ' Max: ' + CAST(@Max_Item_ID AS VARCHAR(MAX)) 

			INSERT INTO #Items ([order_id],[qty_ordered],[item_id],[sku])
			SELECT [order_id], [qty_ordered], [item_id], [sku] FROM [dbo].[MAGE_sales_order_item] WHERE [sku] IN (SELECT SKU FROM #VoucherTypeSKUs WHERE VoucherTypeName = @VoucherType) AND [item_id] > @Last_Item_ID
			SELECT @Loop = 1, @Max = MAX([Loop]) FROM #Items

			-- loop over each order item
			WHILE @Loop <= @Max
				BEGIN
					SELECT @order_id = [order_id], @qty_ordered = [qty_ordered], @item_id = [item_id], @SKU = [sku] FROM #Items WHERE [Loop] = @Loop
					SELECT @Increment_ID = [Increment_ID] FROM [dbo].[MAGE_Sales_Order] WHERE [entity_id] = @order_id
					SELECT @EmailAddresses = LTRIM(RTRIM(ISNULL([customer_email],''))), @customer_firstname = LTRIM(RTRIM(ISNULL([customer_firstname],'Valued Customer'))) FROM [dbo].[MAGE_Sales_Order] WHERE [Entity_ID] = @order_id
					IF @Debugging = 1
						SET @emailaddresses = @EmailOverride

					SELECT @Rule_ID = RuleID, @PIM_SKU = PIM_SKU, @CodeValue = VoucherValue FROM #VoucherTypeSKUs WHERE SKU = @SKU

					-- loop over each quantity in the item (it's possible to order more than 1 voucher of the same type so @qty_ordered may be more than 1)
					SELECT @CurrentCode = 1 
					WHILE @CurrentCode <= @qty_ordered
						BEGIN
							--GET THE VOUCHER CODE AND VALUE
							--Process these records
							SELECT @Coupon_ID = MIN(Coupon_ID) FROM [dbo].[MAGE_salesrule_coupon] WHERE [rule_id] = @Rule_ID AND [Coupon_ID] NOT IN (SELECT [Coupon_ID] FROM [dbo].[CouponCodesIssued] WHERE [Coupon_ID] IS NOT NULL) 
		
							--PRINT 'Coupon_ID = ' + CAST(ISNULL(@Coupon_ID,-1) AS VARCHAR(10))
							SELECT @Code = [Code] FROM [dbo].[MAGE_salesrule_coupon] WHERE [Coupon_ID] = @Coupon_ID
		
							-- build the email json and key for this specific voucher type
							IF @VoucherType = 'PhotoBookVouchers'
								BEGIN
									SET @EmailKeyValue = 'PBV' + @Increment_ID + '.' + CAST(@Item_ID AS VARCHAR(25)) + '-' + @Code
									SET @EmailJSON = '{"first_name":"' + @customer_firstname + '","Deadline_date":"' + FORMAT(DATEADD(year,1,dbo.fn_DateTime_To_Central(GETDATE())), 'MM/dd/yyyy') + '","VOUCHERCODE":"' + @Code + '","VoucherValue":"' + CAST(@CodeValue AS VARCHAR(50)) + '"}'
								END
							ELSE IF @VoucherType = 'GradPackVouchers'
								BEGIN
									SET @EmailKeyValue = 'GPV' + @Increment_ID + '.' + CAST(@Item_ID AS VARCHAR(25)) + '-' + @Code
									-- TODO: How would these values need to differ for the GradPack vouchers?
									SET @EmailJSON = '{"First_Name":"' + @customer_firstname + '","VOUCHERCODE":"' + @Code + '","VoucherValue":' + @CodeValue + ',"IsVoucherRedeemed":false}'
								END
							ELSE
								BEGIN
									SET @VoucherErrorMessage = 'Unrecognized voucher type: ' + @VoucherType;
									THROW 50001, @VoucherErrorMessage, 1;
								END

							--Queue the email
							INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name], [Entity], [Service], [Description], [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], [emailAddresses], [rawData], [template],[key_name],[key_value])
							SELECT [Email_Name], [Entity], [Service], @EmailDescription, [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], @emailaddresses, @EmailJSON, ''
							,@EmailKeyName, @EmailKeyValue
							FROM [dbo].[EmailJobs] WHERE [Email_Name] = @EmailName

							SELECT @QID = SCOPE_IDENTITY()

							PRINT 'Code ' + @Code + ' issued for Order #' + CAST(@Order_ID as VARCHAR(50))

							IF @Debugging = 0
								BEGIN
								  INSERT INTO [dbo].[CouponCodesIssued] ([Coupon_ID], [Code], [Key_Value], [EmailJobs_Queue_ID],[Value],[Issued_DTM])
								  VALUES (@Coupon_ID, @Code, CAST(@order_id as VARCHAR(50)), @QID, @CodeValue,GETDATE())
								END

							SET @CurrentCode = @CurrentCode + 1
						END

					SET @Loop = @Loop + 1
				END

			IF @Debugging = 0
				BEGIN
					--Update the extended property
					SET @Value = CAST(@Max_Item_Id AS VARCHAR(MAX))
					EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGE_sales_order_item', @AttribName = @LastItemIDPropertyName, @Value = @Value
					SET @Value = CAST(GETDATE() AS VARCHAR(25))
					EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGE_sales_order_item', @AttribName = @LastItemIDUpdatePropertyName, @Value = @Value
				END


			DROP TABLE #Items
			--2482665  SELECT MAX([item_id]) FROM [dbo].[MAGE_sales_order_item]

			SET @VoucherLoop = @VoucherLoop + 1
	END

END
GO
