/****** Object:  StoredProcedure [dbo].[s_get_grad_announcement_categories]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Han Tran
-- Create Date: 11/18/2021
-- Description: Get All Graduation Announcement Categories
-- =============================================
CREATE PROCEDURE [dbo].[s_get_grad_announcement_categories]
AS
BEGIN
	SELECT * FROM Category 
	WHERE PageType = 'GradAnnouncements'
	FOR JSON PATH
END
GO
