/****** Object:  StoredProcedure [dbo].[s_Update_ARC_Orders_After_Import_old]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Update_ARC_Orders_After_Import_old]
(
	@Trigger_ID VARCHAR(50) = ''
)
AS 
--EXEC s_Update_ARC_Orders_After_Import @Trigger_ID = '304a942b-7133-469a-b958-4a36b676daff'
SET NOCOUNT ON
IF @Trigger_ID <> ''
	UPDATE [dbo].[ARC_Orders_Import] SET [Trigger_ID] = @Trigger_ID WHERE [Trigger_ID] IS NULL
INSERT INTO [dbo].[ARC_Orders] ([Order_Number],[Item_Code],[Order_Email_Address],[Order_Student_First_Name],[Order_Student_Last_Name],[Order_Received_Date],[Shipped_Via],[Order_Bill_To_Full_Name],[Order_Bill_To_Address_1],[Order_Bill_To_Address_2],[Order_Bill_To_City_Name],[Order_Bill_To_State],[Order_Bill_To_Zip_Code],[SMI])
SELECT DISTINCT [FULFILL_ORDER_NUMBER],[ITEM_CODE],[FO_LINE_SPEC_DESCRIPTION],[FO_STUDENT_FIRST_MIDDLE], [FO_STUDENT_LAST_NAME], [dbo].[fn_ConvertAS400Date]([FO_REQUEST_DATE]),[Shipped_Via],LEFT([Order_Bill_To_Full_Name],50),LEFT([Order_Bill_To_Address_1],50),LEFT([Order_Bill_To_Address_2],50),LEFT([Order_Bill_To_City_Name],50),LEFT([Order_Bill_To_State],2),LEFT([Order_Bill_To_Zip_Code],5),CASE WHEN ISNUMERIC([SMI]) = 1 THEN CAST(LTRIM(RTRIM([SMI])) AS INT) ELSE 0 END
FROM [dbo].[ARC_Orders_Import]
WHERE [FULFILL_ORDER_NUMBER] NOT IN (SELECT [Order_Number] FROM [dbo].[ARC_Orders])

SELECT DISTINCT 'arc-to-sql/voucher-orders/' + [Imported_File_Name] as [Imported_File_Name] FROM  [dbo].[ARC_Orders_Import] WHERE [Trigger_ID] = @Trigger_ID
GO
