/****** Object:  StoredProcedure [dbo].[s_get_announcements_banner]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/26/2021
-- Description: Get the announcement banner for PLP page
-- =============================================
CREATE PROCEDURE [dbo].[s_get_announcements_banner]
(
	 @SMI INT = 0
	,@CallingSite VARCHAR(200) = ''
)
AS
-- EXEC dbo.s_get_announcements_banner @SMI='1304';
-- EXEC dbo.s_get_announcements_banner @SMI='1304';
-- EXEC dbo.s_get_announcements_banner @SMI='1304';
-- EXEC dbo.s_get_announcements_banner @SMI='1304';
-- EXEC dbo.s_get_announcements_banner @SMI='1304';
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Result VARCHAR(MAX)
    -- Insert statements for procedure here
    SELECT @Result = REPLACE(REPLACE(REPLACE([HTMLContent],'~timestamp~', FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt')),'~hinstance~',CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2)),'~hsproc~', CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2))
	FROM [dbo].[ConditionalContent] 
	WHERE [GUID] = '40D32C23-9DDA-461B-A80A-1A40018B63B0' -- Announcements header static GUID
	AND Enabled = 1
	SELECT COALESCE(@Result,'<!-- no content -->')
END
GO
