/****** Object:  StoredProcedure [dbo].[s_delete_virtcommdetail_record]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/23/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_virtcommdetail_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [VirtCommDetail].
--##PD @ID in [VirtCommDetail].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [VirtCommDetail] WHERE [ID] = @ID



GO
