/****** Object:  StoredProcedure [dbo].[s_get_dynamic_tiles]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/6/19
-- Description: Get dynamic tiles from the dynamictiles table
-- =============================================
-- select * from dynamictiles
-- s_get_dynamic_tiles @sectionID = 1, @smi=49164, @DEBUG = 0, @showSchoolName = 0  -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & Longview High School TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=72885, @DEBUG = 0, @showSchoolName = 0  -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & McLeod School TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=1104, @DEBUG = 0, @showSchoolName = 0   -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & Scottsboro High School TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=63112, @DEBUG = 0, @showSchoolName = 0  -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & Trinity Christian TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=63112, @DEBUG = 0, @showSchoolName = 1  -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & Trinity Christian TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=1304, @DEBUG = 0, @showSchoolName = 0   -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & NO TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=124650, @DEBUG = 0, @showSchoolName = 0 -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & NO TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=88239, @DEBUG = 0, @showSchoolName = 0  -- "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & NO TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=100, @DEBUG = 0, @showSchoolName = 0 --    "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & WITH TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=43798, @DEBUG = 0, @showSchoolName = 0 --  "Official Announcements With Name" - "Traditional-Digital" AKA Personalized Announcements & WITH TPAP
-- s_get_dynamic_tiles @sectionID = 1, @smi=103059, @DEBUG = 0, @showSchoolName = 0 -- "Official Announcements" - "Traditional" AKA Official Announcements & NO TPAP (Traditional will NEVER have a TPAP As per Eudora)




-- s_get_dynamic_tiles @sectionID = 4, @smi=29672, @DEBUG = 0 -- Generic 4 tiles


CREATE PROCEDURE [dbo].[s_get_dynamic_tiles](@sectionID int = 0, @smi int = 0, @DEBUG BIT = 0, @showSchoolName BIT = 0)
AS
BEGIN
    SET NOCOUNT ON
		drop table if exists #prework
		CREATE TABLE #prework ([SKU] NVARCHAR(255), [URL] varchar(MAX), [Product Name] varchar(255), [Exclusive SMI] nvarchar(255),[attribute set] nvarchar(255), [enhanced commerce] nvarchar(255), [itemid]nvarchar(786))
		drop table if exists #tilelinks
		CREATE TABLE #tilelinks (ID varchar(250), link varchar(350), img varchar(400)) 
		CREATE TABLE #res ([ID] int, [Name] VARCHAR(MAX), CTA VARCHAR(MAX), [Price] VARCHAR(MAX), [Image] VARCHAR(MAX), 
			[badgeText] VARCHAR(MAX), [URL] VARCHAR(MAX), [SectionID] int, [sortorder] int)


		--The following takes about a second
		INSERT INTO #prework ([SKU],[URL],[Product Name],[Exclusive SMI],[attribute set],[enhanced commerce], [itemid])
		SELECT p.[SKU], p.[URL], [Product Name], [Exclusive SMI],[attribute set],[enhanced commerce],[itemid]
		from magento_automated_product_dataset p
		where [Exclusive SMI] = @smi
		AND (p.Status = 'Enable') 
		AND (p.Visibility = 'In Catalog and Search') 

		DECLARE @TPAP_URL As VARCHAR(MAX) = ''
		DECLARE @TPAP_SKU As VARCHAR(50) = ''
		DECLARE @Trad_Digi_SKU As VARCHAR(50) = 'A0168253'
		DECLARE @Trad_SKU As VARCHAR(50) = 'A0233566'

		--Get school's name for later use.
		DECLARE @SchoolName AS VARCHAR(MAX) = ''
		SELECT @SchoolName = (SELECT top 1 [AltName] from [School_URL_Master] 
				where [SMI] = @SMI)
		

		-- This overrides any items that exist in the DynamicTiles table with a new madeup table #tilelinks
		-- Name, Link, Image

		-- This is "Traditional-Digital" AKA  "Personalized" - A0168253 - Official Announcements with Name
		Insert into #tilelinks Select 'Official Announcements with Name', 
		(select TOP 1 [url] + '?smi=' + CAST(@SMI AS VARCHAR(MAX)) from magento_automated_product_dataset p where 
			sku = @Trad_Digi_SKU
		),
		(select top 1 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=' + @Trad_Digi_SKU + '&smi=' + CAST(@SMI AS VARCHAR(MAX)) + '&requestedImageType=PNG');

			
		-- This is Traditional - SKU - A0233566 - New Name - Official Announcements -  Old name - Traditional Graduation Announcements
		Insert into #tilelinks Select 'Official Announcements', 
		(select TOP 1 [url] + '?smi=' + CAST(@SMI AS VARCHAR(MAX)) from magento_automated_product_dataset p where 
			sku = @Trad_SKU
		),
		( SELECT dbo.fn_get_image_url2 (@Trad_SKU) );
		

		--This is TPAP!! - 1 Exclusive SKU per SMI - Many different SKUs
		SELECT @TPAP_URL = 
			(select top 1 [Url] + '?smi=' + [Exclusive SMI]
			from #prework p
				Inner join itemattributes_announcements iaa on iaa.itemid = p.itemid
				where [Exclusive SMI] = @smi  
				and [attribute set] = 'pim_pb_announcement' 
				and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
				and iaa.tagvalue = '52'
				and iaa.tagtype = 'a_PBProdFamID')

		--Try again if we don't get it the first time. 
		IF @TPAP_URL IS NULL 
		BEGIN
			SELECT @TPAP_URL = 
				(select top 1 [Url] + '?smi=' + [Exclusive SMI]
				from #prework p
					INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
					where [Exclusive SMI] = @smi  
					and [attribute set] = 'pim_pb_announcement' 
					and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
					and iaa.tagvalue = '52'
					and iaa.tagtype = 'a_PBProdFamID')
		END



		SELECT @TPAP_SKU = 
			(select top 1 [SKU] 
			from #prework p
			Inner join itemattributes_announcements iaa on iaa.itemid = p.itemid
			where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and iaa.tagvalue = '52'
			and iaa.tagtype = 'a_PBProdFamID')

		IF @TPAP_SKU IS NULL 
		BEGIN
			SELECT @TPAP_SKU = 
			(select top 1 [SKU] 
			from #prework p
			INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
			where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and iaa.tagvalue = '52'
			and iaa.tagtype = 'a_PBProdFamID')
		END

		If @showSchoolName = 1 
		BEGIN	
			Insert into #tilelinks Select @SchoolName + ' Official Announcements with Photo', 
			(@TPAP_URL), 
			(SELECT dbo.fn_get_image_url2 (@TPAP_SKU));
		END
		ELSE
		BEGIN
			Insert into #tilelinks Select 'Official Announcements with Photo', 
			(@TPAP_URL), 
			(SELECT dbo.fn_get_image_url2 (@TPAP_SKU));
		END
		
			

		--Here are the 4 "Generic" announcements (SectionID 4)
		--56 - Contemporary Announcements
		--59 - Contemporary Party Invites
		--60 - Contemporary Thank You Notes
		--61 - Contemporary Address Labels
		
		-- Contemporary custom link!
		Insert into #tilelinks Select 'Personalized Photo Announcement', 
		(select TOP 1 [url] + '?smi=' + CAST(@SMI AS VARCHAR(MAX)) 
			from magento_automated_product_dataset p where 
			[PrintBox_FamilyId] = 56
			-- [Product Name] = 'Custom Contemporary Photo Announcement'
			--p.ItemID IN (
			--	select itemid from itemattributes where tagtype = 'a_PBProdFamID' AND tagvalue = '56'
			--	)
			AND [Exclusive SMI] = @smi
		),
		NULL;

		
		-- Contemporary custom link!
		Insert into #tilelinks Select 'Photo Party Invitations', 
		(select TOP 1 [url] + '?smi=' + CAST(@SMI AS VARCHAR(MAX)) 
			from magento_automated_product_dataset p where 
			[PrintBox_FamilyId] = 59
			-- [Product Name] = 'Custom Contemporary Photo Party Invitation'
			--p.ItemID IN (
			--	select itemid from itemattributes where tagtype = 'a_PBProdFamID' AND tagvalue = '59'
			--	)
			AND [Exclusive SMI] = @smi
		),NULL;

		
		-- Contemporary custom link!
		Insert into #tilelinks Select 'Photo Thank You Notes', 
		(select TOP 1 [url] + '?smi=' + CAST(@SMI AS VARCHAR(MAX)) 
			from magento_automated_product_dataset p where 
			[PrintBox_FamilyId] = 60
			-- [Product Name] = 'Custom Contemporary Photo Thank You Notes'
			--p.ItemID IN (
			--	select itemid from itemattributes where tagtype = 'a_PBProdFamID' AND tagvalue = '60'
			--	)
			AND [Exclusive SMI] = @smi
		),NULL;

		
		-- Contemporary custom link!
		Insert into #tilelinks Select 'Personalized Address Labels', 
		(select TOP 1 [url] + '?smi=' + CAST(@SMI AS VARCHAR(MAX)) 
			from magento_automated_product_dataset p where 
			[PrintBox_FamilyId] = 61
			-- [Product Name] = 'Custom Contemporary Address Labels'
			--p.ItemID IN (
			--	select itemid from itemattributes where tagtype = 'a_PBProdFamID' AND tagvalue = '61'
			--	)
			AND [Exclusive SMI] = @smi
		),NULL;


		-- Get the proper images for all tiles:

		INSERT INTO #tilelinks SELECT 'Announcement Envelopes', NULL, (SELECT dbo.fn_get_image_url2('A0079337A0000'))
		INSERT INTO #tilelinks SELECT 'Announcement Envelope Seals', NULL, (SELECT dbo.fn_get_image_url2('A0013721A0000'))
		INSERT INTO #tilelinks SELECT 'Announcement Address Labels', NULL, (SELECT dbo.fn_get_image_url2('A0013722A0000'))
		INSERT INTO #tilelinks SELECT 'Announcement Tissue Inserts', NULL, (SELECT dbo.fn_get_image_url2('A0079336A0000'))
		INSERT INTO #tilelinks SELECT 'Thank You Notes', NULL, (SELECT dbo.fn_get_image_url2('A0013723A0000'))
		INSERT INTO #tilelinks SELECT 'Thank You Notes with Name', NULL, (SELECT dbo.fn_get_image_url2('A0227271A0000'))
		INSERT INTO #tilelinks SELECT 'Graduation Party Invitations', NULL, (SELECT dbo.fn_get_image_url2('A0042996A0000'))
		INSERT INTO #tilelinks SELECT 'Premium Announcement Name Cards', NULL, (SELECT dbo.fn_get_image_url2('A0227272A0000'))
		INSERT INTO #tilelinks SELECT 'Standard Announcement Name Cards', NULL, (SELECT dbo.fn_get_image_url2('A0227273A0000'))

		--Insert into #tilelinks Select 'Photo Announcements', 
		--NULL,NULL;

		--Insert into #tilelinks Select 'Party Invites', 
		--(select top 1 [Url] + '?smi=' + [Exclusive SMI]
		--	from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
		--	and [attribute set] = 'pim_pb_announcement' 
		--	and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
		--	and [Product Name] like '%Invit%')
		--	,NULL;
		--Insert into #tilelinks Select 'Thank You Cards', 
		--(select top 1 [Url] + '?smi=' + [Exclusive SMI]
		--	from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi  
		--	and [attribute set] = 'pim_pb_announcement' 
		--	and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
		--	and [Product Name] like '%thank you%')
		--	,NULL;
		--Insert into #tilelinks Select 'Address Labels', 
		--(select top 1 [Url] + '?smi=' + [Exclusive SMI]
		--	from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
		--	and [attribute set] = 'pim_pb_announcement' 
		--	and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
		--	and [Product Name] like '%Address Labels%')
		--	,NULL;

		-- Check for "Traditional-Digital" AKA Personalized Announcements for this school
		-- Sort order 1
		IF EXISTS(
			SELECT TOP 1 * FROM magento_automated_product_dataset p
				where Visibility = 'In Catalog and Search'
				and p.SKU = @Trad_Digi_SKU
				and @SMI IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ','))
				and Status = 'Enable'
		) 
		BEGIN
		PRINT 'We have "Traditional-Digital" AKA Personalized Announcements for this school'
		insert into #res 
			SELECT dt.[ID]
				  ,COALESCE(tl.ID,dt.[Name]) AS [Name]
				  ,dt.[CTA]
				  ,dt.[Price]
				  ,COALESCE(tl.img,dt.[Image]) AS [Image]
				  ,dt.[badgeText]
				  ,COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) /*+ '&product_list_order=created_at'*/,'#') ) AS [URL]
				  ,dt.[SectionID],  
				  dt.SortOrder
			  FROM [dbo].[DynamicTiles] dt
			  left join #tilelinks tl on (tl.ID = dt.Name OR REPLACE(tl.ID, @SchoolName + ' ', '') = dt.Name)
			  Where dt.[SectionID] = @sectionID
			  AND dt.enabled = 1
			  AND dt.Name <> 'Official Announcements' -- Get RID of Traditional
			  AND COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) /*+ '&product_list_order=created_at'*/,'#') ) <> '#' -- get rid of announcements with no links 
			  order by dt.SortOrder asc
		END
		ELSE
		-- Check for "Traditional" AKA Official Announcements for this school
		-- Sort order 2
			IF EXISTS(
				SELECT TOP 1 * FROM magento_automated_product_dataset p
					where 
					Visibility = 'In Catalog and Search'
					and @SMI IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ','))
					and p.SKU = @Trad_SKU
					and Status = 'Enable'
			) 
			BEGIN
			PRINT 'We have the "Traditional" AKA Official Announcements for this school'
			insert into #res 
				SELECT dt.[ID]
					  ,COALESCE(tl.ID,dt.[Name]) AS [Name]
					  ,dt.[CTA]
					  ,dt.[Price]
					  ,COALESCE(tl.img,dt.[Image]) AS [Image]
					  ,dt.[badgeText]
					  ,COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) /*+ '&product_list_order=created_at'*/,'#') ) AS [URL]
					  ,dt.[SectionID]
					  ,dt.SortOrder2 
				  FROM [dbo].[DynamicTiles] dt
				  left join #tilelinks tl on (tl.ID = dt.Name OR REPLACE(tl.ID, @SchoolName + ' ', '') = dt.Name)
				  Where dt.[SectionID] = @sectionID
				  AND dt.enabled = 1
				  AND dt.Name <> 'Official Announcements with Name' -- Get RID of Traditional-Digital
				  AND COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) /*+ '&product_list_order=created_at'*/,'#') ) <> '#' -- get rid of Official announcements with no links 
				  order by dt.SortOrder2 asc
			END
		ELSE
		BEGIN
		PRINT 'Else Case'
		-- We don't have either Traditional or Traditional-Digital - Not sure if this is ever hit since those skus are both qualifiers?
		insert into #res 
			SELECT dt.[ID]
				  ,COALESCE(tl.ID,dt.[Name]) AS [Name]
				  ,dt.[CTA]
				  ,dt.[Price]
				  ,COALESCE(tl.img,dt.[Image]) AS [Image]
				  ,dt.[badgeText]
				  ,COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) /*+ '&product_list_order=created_at'*/,'#') ) AS [URL]
				  ,dt.[SectionID]
				  ,dt.SortOrder 
			  FROM [dbo].[DynamicTiles] dt
			  left join #tilelinks tl on (tl.ID = dt.Name OR REPLACE(tl.ID, @SchoolName + ' ', '') = dt.Name)
			  Where dt.[SectionID] = @sectionID
			  AND dt.enabled = 1
			  AND dt.Name <> 'Official Announcements' -- Get RID of Traditional
			  AND dt.Name <> 'Official Announcements with Name' -- Get RID of Traditional-Digital
			  AND COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) /*+ '&product_list_order=created_at'*/,'#') ) <> '#' -- get rid of Official announcements with no links 
			  order by dt.SortOrder asc
		END

	IF @DEBUG = 1 
	BEGIN
		SELECT * FROM #prework -- debugging
		SELECT * FROM [dbo].[DynamicTiles] dt WHERE DT.SectionID = @sectionID
	    SELECT * FROM #tilelinks  -- debugging...
		SELECT * FROM #res order by sortorder asc
	END
	
	
	-- SIT-290 TPAP/ANNOUNCEMENT PAGE CHANGES - Remove any items from Product excludes for Name Cards -- May need to revisit if they are changing the name of this item
	--BEGIN
		delete from #res
		where [name] IN
		-- ('Premium Grad Announcement Name Cards', 'Standard Grad Announcement Name Cards'
		(	select [Product Name] from magento_automated_product_dataset p
			where sku in 
			('a0227273'
			,'a0227272'
			)
			and @SMI IN (SELECT [Value] FROM STRING_SPLIT([Excluded SMI], ','))
			-- and [Excluded SMI] like '%' + CAST(@smi AS VARCHAR(50)) + '%'
		)
	-- END

		 SELECT ID, Name, CTA, '' AS Price, Image, badgeText, [URL], SectionID 
		 FROM #res
		 order by sortorder asc

		  drop table #tilelinks
		  drop table #prework
		  drop table #res
	END
GO
