/****** Object:  StoredProcedure [dbo].[Canto_AddAccessToken]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 06/16/2020
-- Description: Adds a new row to CantoAccessTokens
-- =============================================
CREATE PROCEDURE [dbo].[Canto_AddAccessToken]
(
    @AccessToken varchar(100),
    @RefreshToken varchar(100),
	@DateReceived smalldatetime,
	@ExpiresIn float
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    INSERT INTO CantoAccessTokens
	(AccessToken, RefreshToken, ExpiresIn, DateReceived)
	VALUES
	(
		@AccessToken,
		@RefreshToken,
		@ExpiresIn,
		@DateReceived
	)
END
GO
