/****** Object:  StoredProcedure [dbo].[s_process_quote]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/16/2020
-- Description: Imports new records to [quote] table
-- =============================================
CREATE PROCEDURE [dbo].[s_process_quote]
--EXEC s_process_quote
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @Entity_Id BIGINT
	SET @Entity_ID = 0
	SELECT @Entity_ID = MAX([entity_ID]) FROM [dbo].[quote]
	PRINT 'Max Entity_ID in Quote: ' + CAST(@Entity_ID AS VARCHAR(50))

	INSERT INTO [dbo].[quote] ([entity_id], [store_id], [created_at], [updated_at], /*[converted_at],*/ [is_active], [is_virtual], [is_multi_shipping], [items_count], [items_qty], [orig_order_id], [store_to_base_rate], [store_to_quote_rate], [base_currency_code], [store_currency_code], [quote_currency_code], [grand_total], [base_grand_total], [checkout_method], [customer_id], [customer_tax_class_id], [customer_group_id], [customer_email], [customer_prefix], [customer_firstname], [customer_middlename], [customer_lastname], [customer_suffix], [customer_dob], [customer_note], [customer_note_notify], [customer_is_guest], [remote_ip], [applied_rule_ids], [reserved_order_id], [password_hash], [coupon_code], [global_currency_code], [base_to_global_rate], [base_to_quote_rate], [customer_taxvat], [customer_gender], [subtotal], [base_subtotal], [subtotal_with_discount], [base_subtotal_with_discount], [is_changed], [trigger_recollect], [ext_shipping_info], [is_persistent], [customer_balance_amount_used], [base_customer_bal_amount_used], [use_customer_balance], [gift_cards], [gift_cards_amount], [base_gift_cards_amount], [gift_cards_amount_used], [base_gift_cards_amount_used], [gift_message_id], [gw_id], [gw_allow_gift_receipt], [gw_add_card], [gw_base_price], [gw_price], [gw_items_base_price], [gw_items_price], [gw_card_base_price], [gw_card_price], [gw_base_tax_amount], [gw_tax_amount], [gw_items_base_tax_amount], [gw_items_tax_amount], [gw_card_base_tax_amount], [gw_card_tax_amount], [gw_base_price_incl_tax], [gw_price_incl_tax], [gw_items_base_price_incl_tax], [gw_items_price_incl_tax], [gw_card_base_price_incl_tax], [gw_card_price_incl_tax], [use_reward_points], [reward_points_balance], [base_reward_currency_amount], [reward_currency_amount])
	SELECT [entity_id], [store_id], [created_at], [updated_at], /*[converted_at],*/ [is_active], [is_virtual], [is_multi_shipping], [items_count], [items_qty], [orig_order_id], [store_to_base_rate], [store_to_quote_rate], [base_currency_code], [store_currency_code], [quote_currency_code], [grand_total], [base_grand_total], [checkout_method], [customer_id], [customer_tax_class_id], [customer_group_id], [customer_email], [customer_prefix], [customer_firstname], [customer_middlename], [customer_lastname], [customer_suffix], [customer_dob], [customer_note], [customer_note_notify], [customer_is_guest], [remote_ip], [applied_rule_ids], [reserved_order_id], [password_hash], [coupon_code], [global_currency_code], [base_to_global_rate], [base_to_quote_rate], [customer_taxvat], [customer_gender], [subtotal], [base_subtotal], [subtotal_with_discount], [base_subtotal_with_discount], [is_changed], [trigger_recollect], [ext_shipping_info], [is_persistent], [customer_balance_amount_used], [base_customer_bal_amount_used], [use_customer_balance], [gift_cards], [gift_cards_amount], [base_gift_cards_amount], [gift_cards_amount_used], [base_gift_cards_amount_used], [gift_message_id], [gw_id], [gw_allow_gift_receipt], [gw_add_card], [gw_base_price], [gw_price], [gw_items_base_price], [gw_items_price], [gw_card_base_price], [gw_card_price], [gw_base_tax_amount], [gw_tax_amount], [gw_items_base_tax_amount], [gw_items_tax_amount], [gw_card_base_tax_amount], [gw_card_tax_amount], [gw_base_price_incl_tax], [gw_price_incl_tax], [gw_items_base_price_incl_tax], [gw_items_price_incl_tax], [gw_card_base_price_incl_tax], [gw_card_price_incl_tax], [use_reward_points], [reward_points_balance], [base_reward_currency_amount], [reward_currency_amount] 
	FROM [dbo].[quote_import] WHERE [Entity_ID] > ISNULL(@Entity_Id,0) AND [Entity_ID] NOT IN (SELECT [Entity_ID] FROM [dbo].[quote])

	--Update extended properties
	DECLARE @Updated VARCHAR(50), @Val VARCHAR(50)
	SET @Val =  CAST(@Entity_ID AS VARCHAR(50))
	SET @Updated = FORMAT(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'Quote', @AttribName='LastUpdate', @Value=@Updated
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'Quote', @AttribName = 'LastEntity_ID', @Value = @Val
	--Determine the next update
	DECLARE @Min INT
	SET @Min = DATEPART(minute,GETDATE())
	IF @Min BETWEEN 16 AND 45 --Bottom of the hour so add an hour
		BEGIN
			SELECT @Updated = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
		END
	ELSE
		BEGIN --Top of the hour
			SELECT @Updated = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:30:00 tt')
		END
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'Quote', @AttribName = 'NextUpdate', @Value = @Updated
END
GO
