/****** Object:  StoredProcedure [dbo].[s_get_school_events_for_smi_old]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01/21/2020
-- Description: Pulls the school events for a particular SMI for display on the ecom site
-- =============================================
CREATE PROCEDURE [dbo].[s_get_school_events_for_smi_old]
(
	@SMI INT = 0
	,@BatchID VARCHAR(50) = NULL
)
AS

--EXEC [s_get_school_events_for_smi] @SMI = 131530, @BatchID = '4da735ba-d9b3-4c0a-bf81-f252a715c20a'
--EXEC [s_get_school_events_for_smi] @SMI = 130996, @BatchID = '4da735ba-d9b3-4c0a-bf81-f252a715c20a'
--EXEC [s_get_school_events_for_smi] @SMI = 131156
--EXEC [s_get_school_events_for_smi] @SMI = 134733
--EXEC [s_get_school_events_for_smi] @SMI = 131564, @BatchID = 'dcf2681e-51b6-4c70-b865-762bcd3d93d0'
--IF @SMI = 131716
--	BEGIN
--		SELECT '{"data":[]}'
--	END
--ELSE
SELECT
		 events.[sMI]
		,[iD]
		,FORMAT(/*dbo.fn_DateTime_to_Central(*/[Date]/*)*/, 'MM/dd/yyyy') + CASE WHEN ISNULL([ScheduleChange],0) = 2 THEN ' CANCELED' ELSE '' END AS [date]
		,CASE WHEN ISNULL([ScheduleChange],0) = 2 THEN 'CANCELED: ' ELSE '' END + ISNULL([Title],'')  as [title]
		,ISNULL([Description],'') as [description] 
		,ISNULL([Image_URL],'') as [image_URL]
		,[gUID]
		,ISNULL([Event_Content],'') as [event_Content]
		,dbo.fn_GetLocationDateTimeInfoForEcom ([GUID]) as [locationDateTimeInfo]
		,'/' + LOWER(URL.URL) + '/events/' + REPLACE(LOWER(CASE WHEN ISNULL(events.[URL],'') = '' THEN ISNULL([Title],'') ELSE ISNULL(events.[URL],'') END), ' ', '%20') as [uRL]
		,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
		FROM [School_Events] events
		LEFT JOIN [dbo].[School_URL_Master] URL ON URL.SMI = Events.SMI
		WHERE ISNULL(events.[BatchID],'')  = ISNULL(@BatchID,'')
		AND events.[SMI] = @SMI
		AND /*dbo.fn_DateTime_to_Central(*/[Date]/*)*/ >= CAST(FORMAT(dbo.fn_DateTime_to_Central(DATEADD(dd,-1,GETDATE())),'MM/dd/yyyy') AS DATETIME)
		ORDER BY [Date]
		FOR JSON PATH



		
GO
