/****** Object:  StoredProcedure [dbo].[s_update_marketingadminusers_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 12/4/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_marketingadminusers_record]
(
 @EmailAddress VARCHAR(100) = NULL
,@FirstName VARCHAR(50) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@LastName VARCHAR(50) = NULL
,@Password VARCHAR(200) = NULL
,@RemeberMe BIT = NULL
,@UserName VARCHAR(100) = NULL
,@UserRoleGUID VARCHAR(50) = NULL
, @ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [MarketingAdminUsers].
--##RS1 The [ID] value of the inserted/updated record in the table [MarketingAdminUsers].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [MarketingAdminUsers] ( [RemeberMe],[UserName],[FirstName],[LastName],[Password],[EmailAddress],[UserRoleGUID],[GUID])
       VALUES ( @RemeberMe,@UserName,@FirstName,@LastName,@Password,@EmailAddress,@UserRoleGUID,@GUID)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [MarketingAdminUsers] SET
     [RemeberMe] = CASE WHEN @RemeberMe IS NULL THEN [RemeberMe] ELSE @RemeberMe END
    ,[UserName] = CASE WHEN @UserName IS NULL THEN [UserName] ELSE @UserName END
    ,[FirstName] = CASE WHEN @FirstName IS NULL THEN [FirstName] ELSE @FirstName END
    ,[LastName] = CASE WHEN @LastName IS NULL THEN [LastName] ELSE @LastName END
    ,[Password] = CASE WHEN @Password IS NULL THEN [Password] ELSE @Password END
    ,[EmailAddress] = CASE WHEN @EmailAddress IS NULL THEN [EmailAddress] ELSE @EmailAddress END
    ,[UserRoleGUID] = CASE WHEN @UserRoleGUID IS NULL THEN [UserRoleGUID] ELSE @UserRoleGUID END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [ID]
,[RemeberMe]
,[UserName]
,[FirstName]
,[LastName]
,[Password]
,[EmailAddress]
,[UserRoleGUID]
,[GUID]

FROM dbo.[MarketingAdminUsers]
WHERE [ID] = @ID_Out
GO
