/****** Object:  StoredProcedure [dbo].[s_get_gradpackinfo]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 07/31/2020
-- Description: Get copy data for gradpack page for this SMI
-- =============================================
CREATE PROCEDURE [dbo].[s_get_gradpackinfo]
(
    -- Add the parameters for the stored procedure here
    @SMI Varchar(20) = '1304'
)
AS
BEGIN

-- exec [dbo].[s_get_gradpackinfo] '1326'
-- exec [dbo].[s_get_gradpackinfo] '1304'
-- exec [dbo].[s_get_gradpackinfo] '130996'
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	--use SMI list BAF986E5-3EFB-42C1-9F30-FF6F738BB948
	DECLARE @BOContent VARCHAR(MAX)
	SET @BOContent = ''
	IF [dbo].[fn_SMI_in_list] ('BAF986E5-3EFB-42C1-9F30-FF6F738BB948',CAST(@SMI as INT)) = 1
		BEGIN
		  SELECT @BOContent = [Description] FROM [dbo].[ConditionalContent] WHERE [GUID] = '7C32156B-87D7-494A-AE61-D4A7D331E12E'
		END
	
	DECLARE @gradPackBottomBanner VARCHAR(MAX)
	SET @gradPackBottomBanner = ''
	DECLARE @gradPackBottomTitle VARCHAR(MAX)
	SELECT @gradPackBottomTitle = [gradPackBottomTitle] FROM [dbo].[gradpackcopyinfo]
	DECLARE @gradPackBottomText VARCHAR(MAX)
	SELECT @gradPackBottomText =  [gradPackBottomText] FROM [dbo].[gradpackcopyinfo]
	IF [dbo].[fn_SMI_in_list] ('C1434849-4B21-4662-8A73-F2B97B80EEA8',CAST(@SMI as INT)) = 1
		BEGIN
			SELECT @gradPackBottomBanner = REPLACE(REPLACE(REPLACE([HTMLContent],'~timestamp~', FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt')),'~hinstance~',CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2)),'~hsproc~', CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2))
			FROM [dbo].[ConditionalContent]
			left join SMILists on SMILists.GUID = 'C1434849-4B21-4662-8A73-F2B97B80EEA8'
			WHERE [ConditionalContent].[GUID] = 'A057E2E5-73B5-435D-80DD-E5983946C654' --GP Banner static GUID
			AND [ConditionalContent].Enabled = 1
			AND [SMILists].Enabled = 1
		
			SET @gradPackBottomTitle = 'SHOP SENIOR & GRADUATION GEAR'
			SET @gradPackBottomText = 'Make your senior year memorable with senior class apparel and graduation supplies.'
		END

	--INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data]) VALUES ('s_get_gradpackinfo',@SMI)
    -- Insert statements for procedure here
     SELECT [gradPackTopTitle]
      ,[gradPackTopTextDesktop] + @BOContent AS [gradPackTopTextDesktop]
      ,[gradPackTopTextMobile] + @BOContent AS [gradPackTopTextMobile]
      ,[gradPackCtaButtonText]
      ,@gradPackBottomTitle AS [gradPackBottomTitle]
      ,@gradPackBottomText AS [gradPackBottomText]
      ,[gradPackBottomButtonText]
	  ,'https://www.balfour.com/' + [gradPackBottomButtonLink] + '?smi=' + @SMI AS [gradPackBottomButtonLink]
	  ,[gradPackPayPal]
	  ,@gradPackBottomBanner AS [gradPackBottomBanner]
  FROM [dbo].[gradpackcopyinfo]
  FOR JSON PATH
	--N'Super GRAD PACKS' as [gradPackTopTitle],
	--N'Celebrate your Senior year in style and find the package that''s right for you. We''ve bundled some of our best selling items to help you get graduation ready. Shop for Senior gear, graduation essentials, and more!' as [gradPackTopTextDesktop],
	--N' Celebrate your Senior year in style and find the package that’s right for you.' as [gradPackTopTextMobile],
	--N'GET STARTED' as [gradPackCtaButtonText],
	--N'Looking for more?' as [gradPackBottomTitle],
	--N'We have a wide selection of class apparel and accessories to choose from.' as [gradPackBottomText],
	--N'SHOP INDIVIDUAL ITEMS' as [gradPackBottomButtonText]
	-- SELECT '' as [HtmlContent]
	
END
GO
