/****** Object:  StoredProcedure [dbo].[s_get_gradpacks_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/7/2021 - Jon Kaufman
*/
CREATE PROCEDURE [dbo].[s_get_gradpacks_records]
(
	  @GradPackID INT = NULL
	, @searchField VARCHAR(50) = '' --SKU, DisplayName
	,  @SKU VARCHAR(50) = NULL
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'GradPackID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @DataSource varchar(20) = 'Gradpacks'
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [GradPacks] if the parameter @GradPackID has a value or a list of records if null.
--##PD @GradPackID in [GradPacks].
--##PD @SKU is a limiting field
--##PD @searchField - The field to search on (SKU, DisplayName)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [GradPackID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [GradPacks].

--DECLARE @totalRecords INT; EXEC s_get_gradpacks_records @searchField = 'GradPackID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @GradPackID IS NOT NULL
	BEGIN
		SET @searchField = ''

		IF @DataSource = 'Magento'
			BEGIN
				SELECT
					[GradPackID]
					,[SKU]
					,[IsMiniPack]
					,[DisplayName]
					,[Price]
					,'v_Gradpacks' as [DataSource]
				FROM v_GradPacks
				WHERE [GradPackID] = @GradPackID
			END
		ELSE
			BEGIN

				SELECT
				 [SKU]
				,[IsMiniPack]
				,[DisplayName]
				,[Price]
				,[GradPackID]
				,'Gradpacks' as [DataSource]
				FROM [GradPacks]
				WHERE [GradPackID] = @GradPackID

				SELECT @totalRecords = COUNT(*) FROM [dbo].[GradPacks]
				WHERE[GradPackID] = @GradPackID
			END

	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [GradPacks]
		WHERE [GradPackID] = CASE WHEN @GradPackID IS NULL THEN [GradPackID] ELSE @GradPackID END
		AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
		AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
		AND ISNULL([DisplayName],'') LIKE CASE WHEN @searchField = 'DisplayName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([DisplayName],'') END

				-- no results found in the GradPacks table
		IF @totalRecords <= 0
			BEGIN
				SELECT
					CAST([GradPackID] AS INT) AS [GradPackID]
					,[SKU]
					,[IsMiniPack]
					,[DisplayName]
					,[Price]
					,'Magento' as [DataSource]
				FROM v_GradPacks
				WHERE
				[SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
				AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
				AND ISNULL([DisplayName],'') LIKE CASE WHEN @searchField = 'DisplayName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([DisplayName],'') END
			END
		ELSE
			BEGIN

				IF @sort = 'DESC'
					BEGIN
 						; WITH SelectedRows AS (
						SELECT
						 [SKU]
						,[IsMiniPack]
						,[DisplayName]
						,[Price]
						,[GradPackID]
						,'Gradpacks' as [DataSource]
						,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackID] AS VARCHAR(50)),50) WHEN 'SKU' THEN [SKU] WHEN 'DisplayName' THEN [DisplayName] END DESC) as RowNumber
						FROM [dbo].[GradPacks]
						WHERE [GradPackID] = CASE WHEN @GradPackID IS NULL THEN [GradPackID] ELSE @GradPackID END
						AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
						AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
						AND ISNULL([DisplayName],'') LIKE CASE WHEN @searchField = 'DisplayName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([DisplayName],'') END
						)
						SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
					END
				ELSE
					BEGIN
 						; WITH SelectedRows AS (
						SELECT
						 [SKU]
						,[IsMiniPack]
						,[DisplayName]
						,[Price]
						,[GradPackID]
						,'Gradpacks' as [DataSource]
						,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackID] AS VARCHAR(50)),50) WHEN 'SKU' THEN [SKU] WHEN 'DisplayName' THEN [DisplayName] END) as RowNumber
						FROM [dbo].[GradPacks]
						WHERE [GradPackID] = CASE WHEN @GradPackID IS NULL THEN [GradPackID] ELSE @GradPackID END
						AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
						AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
						AND ISNULL([DisplayName],'') LIKE CASE WHEN @searchField = 'DisplayName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([DisplayName],'') END
						)
						SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
					END
			END
	END
GO
