/****** Object:  StoredProcedure [dbo].[Upsert_ARC_Orders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 11/08/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_ARC_Orders]
(	@BalNumber varchar(50), 
	@Batch_ID varchar(50), 
	@ID bigint, 
	@Imported_File_Name varchar(50), 
	@Item_Code varchar(15), 
	@Order_Bill_To_Address_1 varchar(50), 
	@Order_Bill_To_Address_2 varchar(50), 
	@Order_Bill_To_City_Name varchar(55), 
	@Order_Bill_To_Full_Name varchar(50), 
	@Order_Bill_To_State varchar(2), 
	@Order_Bill_To_Zip_Code varchar(5), 
	@Order_Current_Status varchar(2), 
	@Order_Email_Address varchar(200), 
	@Order_Hold_Status varchar(1), 
	@Order_Number bigint, 
	@Order_Part_Number int, 
	@Order_Perm_Add_City_Name varchar(25), 
	@Order_Perm_Add_State_Code varchar(2), 
	@Order_Perm_Add_Zip_Code varchar(5), 
	@Order_Perm_Address_1 varchar(30), 
	@Order_Perm_Full_Name varchar(30), 
	@Order_Perm_Phone_1 varchar(10), 
	@Order_Perm_Phone_2 varchar(10), 
	@Order_Perm_Zip__4_Ext varchar(4), 
	@Order_Perm_Zip_Extension varchar(6), 
	@Order_Quantity int, 
	@Order_Received_Date varchar(30), 
	@Order_Ship_To_Address_1 varchar(30), 
	@Order_Ship_To_Address_2 varchar(30), 
	@Order_Ship_To_Address_3 varchar(30), 
	@Order_Ship_To_Country varchar(10), 
	@Order_Ship_To_Full_Name varchar(30), 
	@Order_Ship_To_Phone_1 varchar(10), 
	@Order_Ship_To_Phone_2 varchar(10), 
	@Order_Ship_To_State varchar(2), 
	@Order_Ship_To_Zip__4_Ext varchar(4), 
	@Order_Ship_To_Zip_Code varchar(5), 
	@Order_Ship_To_Zip_Ext varchar(6), 
	@Order_Student_First_Name varchar(50), 
	@Order_Student_Last_Name varchar(50), 
	@Order_Void_Cancel_Date varchar(30), 
	@Reference_Number bigint, 
	@Shipped_Via varchar(50), 
	@SMI int, 
	@Style_Code varchar(3),
	@Order_Total decimal(12,4) = 0.0,
	@Order_Entered_Date varchar(30) = null,
	@OrderPOReferenceNumber varchar(50) = ''
)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @Order_Received_Date_DateTime datetime = '1900-01-01'
	DECLARE @Order_Void_Cancel_Date_DateTime datetime = '1900-01-01'
	DECLARE @Order_Entered_Date_DateTime datetime = '1900-01-01'
	DECLARE @Order_Received_Date_Int int = 0
	DECLARE @Order_Void_Cancel_Date_Int int = 0
	DECLARE @Order_Entered_Date_Int int = 0

	-- note: dates from ARC are in format CYYMMDD

	IF LEN(@Order_Received_Date) = 7 AND ISNUMERIC(@Order_Received_Date) = 1
		BEGIN
			SET @Order_Received_Date_Int = CAST(@Order_Received_Date AS INT)

			SET @Order_Received_Date_DateTime =  DATEFROMPARTS(1900 + FLOOR(@Order_Received_Date_Int / 10000), FLOOR(@Order_Received_Date_Int / 100) % 100, @Order_Received_Date_Int % 100 )
		END

	IF LEN(@Order_Void_Cancel_Date) = 7 AND ISNUMERIC(@Order_Void_Cancel_Date) = 1
		BEGIN
			SET @Order_Void_Cancel_Date_Int = CAST(@Order_Void_Cancel_Date AS INT)

			SET @Order_Void_Cancel_Date_DateTime =  DATEFROMPARTS(1900 + FLOOR(@Order_Void_Cancel_Date_Int / 10000), FLOOR(@Order_Void_Cancel_Date_Int / 100) % 100, @Order_Void_Cancel_Date_Int % 100 )
		END

	IF LEN(@Order_Entered_Date) = 7 AND ISNUMERIC(@Order_Entered_Date) = 1
		BEGIN
			SET @Order_Entered_Date_Int = CAST(@Order_Entered_Date AS INT)

			SET @Order_Entered_Date_DateTime =  DATEFROMPARTS(1900 + FLOOR(@Order_Entered_Date_Int / 10000), FLOOR(@Order_Entered_Date_Int / 100) % 100, @Order_Entered_Date_Int % 100 )
		END

	IF EXISTS (SELECT TOP 1 * FROM ARC_Orders WHERE [Order_Number] = @Order_Number AND [Order_Part_Number] = @Order_Part_Number)
	BEGIN
		UPDATE ARC_Orders
		SET
			[BalNumber] = @BalNumber, 
			[Batch_ID] = @Batch_ID, 
			[Imported_File_Name] = @Imported_File_Name, 
			[Item_Code] = @Item_Code, 
			[Order_Bill_To_Address_1] = @Order_Bill_To_Address_1, 
			[Order_Bill_To_Address_2] = @Order_Bill_To_Address_2, 
			[Order_Bill_To_City_Name] = @Order_Bill_To_City_Name, 
			[Order_Bill_To_Full_Name] = @Order_Bill_To_Full_Name, 
			[Order_Bill_To_State] = @Order_Bill_To_State, 
			[Order_Bill_To_Zip_Code] = @Order_Bill_To_Zip_Code, 
			[Order_Current_Status] = @Order_Current_Status, 
			[Order_Email_Address] = @Order_Email_Address, 
			[Order_Hold_Status] = @Order_Hold_Status, 
			[Order_Part_Number] = @Order_Part_Number, 
			[Order_Perm_Add_City_Name] = @Order_Perm_Add_City_Name, 
			[Order_Perm_Add_State_Code] = @Order_Perm_Add_State_Code, 
			[Order_Perm_Add_Zip_Code] = @Order_Perm_Add_Zip_Code, 
			[Order_Perm_Address_1] = @Order_Perm_Address_1, 
			[Order_Perm_Full_Name] = @Order_Perm_Full_Name, 
			[Order_Perm_Phone_1] = @Order_Perm_Phone_1, 
			[Order_Perm_Phone_2] = @Order_Perm_Phone_2, 
			[Order_Perm_Zip__4_Ext] = @Order_Perm_Zip__4_Ext, 
			[Order_Perm_Zip_Extension] = @Order_Perm_Zip_Extension, 
			[Order_Quantity] = @Order_Quantity, 
			[Order_Received_Date] = @Order_Received_Date_DateTime, 
			[Order_Ship_To_Address_1] = @Order_Ship_To_Address_1, 
			[Order_Ship_To_Address_2] = @Order_Ship_To_Address_2, 
			[Order_Ship_To_Address_3] = @Order_Ship_To_Address_3, 
			[Order_Ship_To_Country] = @Order_Ship_To_Country, 
			[Order_Ship_To_Full_Name] = @Order_Ship_To_Full_Name, 
			[Order_Ship_To_Phone_1] = @Order_Ship_To_Phone_1, 
			[Order_Ship_To_Phone_2] = @Order_Ship_To_Phone_2, 
			[Order_Ship_To_State] = @Order_Ship_To_State, 
			[Order_Ship_To_Zip__4_Ext] = @Order_Ship_To_Zip__4_Ext, 
			[Order_Ship_To_Zip_Code] = @Order_Ship_To_Zip_Code, 
			[Order_Ship_To_Zip_Ext] = @Order_Ship_To_Zip_Ext, 
			[Order_Student_First_Name] = @Order_Student_First_Name, 
			[Order_Student_Last_Name] = @Order_Student_Last_Name, 
			[Order_Void_Cancel_Date] = @Order_Void_Cancel_Date_DateTime, 
			[Reference_Number] = @Reference_Number, 
			[Shipped_Via] = @Shipped_Via, 
			[SMI] = @SMI, 
			[Style_Code] = @Style_Code,
			[Order_Total] = @Order_Total,
			[Order_Entered_Date] = @Order_Entered_Date_DateTime,
			[OrderPOReferenceNumber] = @OrderPOReferenceNumber
		FROM ARC_Orders
		WHERE [Order_Number] = @Order_Number AND [Order_Part_Number] = @Order_Part_Number
	END
ELSE
	BEGIN
		INSERT INTO ARC_Orders
		(
			[BalNumber], 
			[Batch_ID], 
			[Imported_File_Name], 
			[Item_Code], 
			[Order_Bill_To_Address_1], 
			[Order_Bill_To_Address_2], 
			[Order_Bill_To_City_Name], 
			[Order_Bill_To_Full_Name], 
			[Order_Bill_To_State], 
			[Order_Bill_To_Zip_Code], 
			[Order_Current_Status], 
			[Order_Email_Address], 
			[Order_Hold_Status], 
			[Order_Number], 
			[Order_Part_Number], 
			[Order_Perm_Add_City_Name], 
			[Order_Perm_Add_State_Code], 
			[Order_Perm_Add_Zip_Code], 
			[Order_Perm_Address_1], 
			[Order_Perm_Full_Name], 
			[Order_Perm_Phone_1], 
			[Order_Perm_Phone_2], 
			[Order_Perm_Zip__4_Ext], 
			[Order_Perm_Zip_Extension], 
			[Order_Quantity], 
			[Order_Received_Date], 
			[Order_Ship_To_Address_1], 
			[Order_Ship_To_Address_2], 
			[Order_Ship_To_Address_3], 
			[Order_Ship_To_Country], 
			[Order_Ship_To_Full_Name], 
			[Order_Ship_To_Phone_1], 
			[Order_Ship_To_Phone_2], 
			[Order_Ship_To_State], 
			[Order_Ship_To_Zip__4_Ext], 
			[Order_Ship_To_Zip_Code], 
			[Order_Ship_To_Zip_Ext], 
			[Order_Student_First_Name], 
			[Order_Student_Last_Name], 
			[Order_Void_Cancel_Date], 
			[Reference_Number], 
			[Shipped_Via], 
			[SMI], 
			[Style_Code],
			[Order_Total],
			[Order_Entered_Date],
			[OrderPOReferenceNumber]
		)
		VALUES
		(
			@BalNumber, 
			@Batch_ID, 
			@Imported_File_Name, 
			@Item_Code, 
			@Order_Bill_To_Address_1, 
			@Order_Bill_To_Address_2, 
			@Order_Bill_To_City_Name, 
			@Order_Bill_To_Full_Name, 
			@Order_Bill_To_State, 
			@Order_Bill_To_Zip_Code, 
			@Order_Current_Status, 
			@Order_Email_Address, 
			@Order_Hold_Status, 
			@Order_Number, 
			@Order_Part_Number, 
			@Order_Perm_Add_City_Name, 
			@Order_Perm_Add_State_Code, 
			@Order_Perm_Add_Zip_Code, 
			@Order_Perm_Address_1, 
			@Order_Perm_Full_Name, 
			@Order_Perm_Phone_1, 
			@Order_Perm_Phone_2, 
			@Order_Perm_Zip__4_Ext, 
			@Order_Perm_Zip_Extension, 
			@Order_Quantity, 
			@Order_Received_Date_DateTime, 
			@Order_Ship_To_Address_1, 
			@Order_Ship_To_Address_2, 
			@Order_Ship_To_Address_3, 
			@Order_Ship_To_Country, 
			@Order_Ship_To_Full_Name, 
			@Order_Ship_To_Phone_1, 
			@Order_Ship_To_Phone_2, 
			@Order_Ship_To_State, 
			@Order_Ship_To_Zip__4_Ext, 
			@Order_Ship_To_Zip_Code, 
			@Order_Ship_To_Zip_Ext, 
			@Order_Student_First_Name, 
			@Order_Student_Last_Name, 
			@Order_Void_Cancel_Date_DateTime, 
			@Reference_Number, 
			@Shipped_Via, 
			@SMI, 
			@Style_Code,
			@Order_Total,
			@Order_Entered_Date_DateTime,
			@OrderPOReferenceNumber
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@Order_Number as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'ARC_Orders', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'ARC_Orders', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'ARC_Orders', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
