/****** Object:  StoredProcedure [dbo].[s_get_upsell_bottom_item_at_cart_input_single_sku_with_gradpack]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Han Tran
-- Create Date: 2/19/2020
-- Description: Rules for CSIC
-- This is called by [s_get_upsell_bottom_item_at_cart]
-- =============================================
 
CREATE PROCEDURE [dbo].[s_get_upsell_bottom_item_at_cart_input_single_sku_with_gradpack]   
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = NULL,
   @debug BIT = 1
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
  
	-- DECLARE @skus varchar(255)
	DECLARE @priceLo numeric(9,2)
	DECLARE @priceHi numeric(9,2)
	DECLARE @myPrice numeric(9,2)
	DECLARE @myclass varchar(500)
	--DECLARE @mysmi varchar (500)
	DECLARE @licType VARCHAR(20) 
	DECLARE @licTeam VARCHAR(100) 
	DECLARE @itemID VARCHAR(50) 
	DECLARE @maxPriceRange INT
    DECLARE @minPriceRange INT
	DECLARE @shortSku VARCHAR(10)
	
	DECLARE @results	 TABLE  (imageurl varchar(255), url varchar(255), SKU varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	SET @maxPriceRange = 10000
    SET @minPriceRange = 5
	
	IF CHARINDEX ('|',@skus) > 0
	BEGIN
		SET @skus = LEFT(@skus,CHARINDEX ('|',@skus) -1)
	END
	IF (LEN(@skus) > 8)
		BEGIN
			SET @shortSku = LEFT(@skus,8)
		END
	ELSE
		BEGIN
			SET @shortSku = @skus
		END 

--		[dbo].[s_get_upsell_bottom_item_at_cart] 'A0057032A0000' --'A0086715' --'A0047650' -- 'A0047632' --'A0047650' -- 'a0141203a0000' --  'A0178157A0000' -- 'A0178157A0000' 'A0114426A0000'--
		BEGIN
			IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-PACKS' AND LEFT(SKU,8) = @shortSku) 
				BEGIN
					/**	MC HS Ring (bottom box) - sortOrder:
						1. Senior Fleece Blanket 
						2. Drawstring Bag 
						3. Key Chain
						4. Gift box 
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047632' --'A0047650' 
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047649' 
					**/ 
						INSERT INTO @results
						SELECT  TOP 50 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
									LOWER(p.URL) as [url],
									p.SKU, 
									p.[Product Name], 
									IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
									p.[Retail Price] AS [wasprice], 
									iac.class, p.[Product Type],--cr.class [Tramels class],
									1 AS sortOrder, config_type
									--,p.Visibility
						FROM dbo.magento_automated_product_dataset AS p 
						INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
						INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
						WHERE p.Status = 'Enable' AND p.SKU IN ('A0068215A0000')
						AND (LEFT(p.sku,8) <> @shortSku)
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
							--AND p.[Quantity in Stock] > 0
				END
			ELSE IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'HIGH SCHOOL MULTI CHOICE' AND LEFT(SKU,8) = @shortSku) 
				BEGIN
					/**	MC HS Ring (bottom box) - sortOrder:
						1. Senior Fleece Blanket 
						2. Drawstring Bag 
						3. Key Chain
						4. Gift box 
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047632' --'A0047650' 
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047649' 
					**/ 
						INSERT INTO @results
						SELECT  TOP 50 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
									LOWER(p.URL) as [url],
									p.SKU, 
									p.[Product Name], 
									IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
									p.[Retail Price] AS [wasprice], 
									iac.class, p.[Product Type],--cr.class [Tramels class],
									CASE WHEN p.SKU = 'A0146175A0000' THEN 1 -- CHARINDEX('Senior', p.[Product Name]) > 0 AND CHARINDEX('Blanket', p.[Product Name]) > 0 THEN 1 
										WHEN p.SKU = 'A0146136A0000' THEN 2 -- CHARINDEX('Drawstring Bag', p.[Product Name]) > 0 THEN 2
										WHEN p.SKU = 'a0226402a0000' THEN 3 --CHARINDEX('Key Chain', p.[Product Name]) > 0 THEN 3
										WHEN p.SKU = 'A0135208A0000' THEN 4 --CHARINDEX('Gift box', p.[Product Name]) > 0 THEN 4										
									END AS sortOrder, config_type
									--,p.Visibility
						FROM dbo.magento_automated_product_dataset AS p 
						INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
						INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
						WHERE p.Status = 'Enable' AND p.SKU IN ('A0146175A0000','A0146136A0000','a0226402a0000','A0135208A0000')
						AND (LEFT(p.sku,8) <> @shortSku)
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
							--AND p.[Quantity in Stock] > 0
				END
			
			ELSE IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'COLLEGE MULTI CHOICE' AND LEFT(SKU,8) = @shortSku) 
				BEGIN
					/**
						1. Notebook - A0138158A0000, A0052517A0000
						2. Pen	 -  Secondary just in case notebook sells out	
							A0154553A0000,A0154554A0000,A0174149A0000,A0174150A0000,A0174151A0000,A0174152A0000,A0174153A0000,
							A0174154A0000,A0174155A0000,A0174156A0000,A0174157A0000,A0174158A0000,A0174159A0000
					**/
					INSERT INTO @results
					SELECT  TOP 50 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
								LOWER(p.URL) as [url],
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								CASE WHEN p.SKU = 'A0138158A0000' OR p.SKU = 'A0052517A0000' THEN 1 ELSE 2 END AS sortOrder, config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
					WHERE p.Status = 'Enable'
						AND  p.sku in ('A0138158A0000','A0052517A0000','A0154553A0000','A0154554A0000','A0174149A0000','A0174150A0000','A0174151A0000',
						'A0174152A0000','A0174153A0000','A0174154A0000','A0174155A0000','A0174156A0000','A0174157A0000','A0174158A0000','A0174159A0000')
						--AND p.Visibility = 'In Catalog and Search'			 
						--AND [Enhanced Commerce] = 'BALFOUR DIRECT'  										 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND p.[Retail Price] > 0
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
						
				END
			
			ELSE IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset p INNER JOIN ItemAttributes s ON p.ItemID = s.itemid
					WHERE [Enhanced Commerce] = 'YEARBOOKS' AND [Attribute Set] = 'pim_printing' AND ISNULL(p.[Exclusive SMI],'') = ISNULL(@smi,'') 
					AND tagtype = 'a_GradeGroup' AND tagvalue = 'High School' AND LEFT(SKU,8) = @shortSku) 
				BEGIN
				/**
					Crystal Pen (EA) A0154553A0000,A0154554A0000,A0174149A0000,A0174150A0000,A0174151A0000,A0174152A0000,A0174153A0000,A0174154A0000,A0174155A0000,A0174156A0000,A0174157A0000,A0174158A0000,A0174159A0000
					Senior Grad Pen (Core) A0068215A0000,A0178411A0000
					Hydroflask (Core)  A0146178A0000,A0146177A0000
					Notebook (EA or Core?)  A0138158A0000, A0052517A0000
				**/
					INSERT INTO @results
					SELECT  TOP 50 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
								LOWER(p.URL) as [url],
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								CASE WHEN p.SKU IN ('A0068215A0000','A0178411A0000') THEN 2 
									WHEN p.SKU IN ('A0146178A0000','A0146177A0000') THEN 3
									WHEN p.SKU IN ('A0138158A0000','A0052517A0000') THEN 4
									WHEN p.SKU IN ('A0154553A0000','A0154554A0000','A0174149A0000','A0174150A0000','A0174151A0000','A0174152A0000','A0174153A0000','A0174154A0000','A0174155A0000',
									'A0174156A0000','A0174157A0000','A0174158A0000','A0174159A0000','A0068215A0000','A0178411A0000', 'A0146178A0000','A0146177A0000','A0138158A0000', 'A0052517A0000' ) THEN 1
								ELSE 5 END AS SortOrder, config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
					WHERE p.Status = 'Enable'
						AND  p.sku in ('A0154553A0000','A0154554A0000','A0174149A0000','A0174150A0000','A0174151A0000','A0174152A0000','A0174153A0000','A0174154A0000','A0174155A0000',
						'A0174156A0000', 'A0174157A0000','A0174158A0000','A0174159A0000', 'A0068215A0000','A0178411A0000', 'A0146178A0000','A0146177A0000','A0138158A0000', 'A0052517A0000' )			
						--AND p.Visibility = 'In Catalog and Search'			 
						--AND [Enhanced Commerce] = 'BALFOUR DIRECT'  										 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND p.[Retail Price] > 0
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					IF @debug = 1
					BEGIN
						DECLARE @count int
						SELECT @count =   COUNT(*) FROM @results
						PRINT 'COunt: ' + CAST(@count as varchar)
					END

				END
			
			ELSE IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset  p INNER JOIN ItemAttributes s ON p.ItemID = s.itemid
					WHERE [Enhanced Commerce] = 'YEARBOOKS' AND [Attribute Set] = 'pim_printing'  AND ISNULL(p.[Exclusive SMI],'') = ISNULL(@smi,'') 
					AND tagtype = 'a_GradeGroup' AND tagvalue IN ('Elementary','Middle School') AND LEFT(SKU,8) = @shortSku)
				BEGIN
					/**
						1. You! A Book - Perfect gift for birthdays, graduation & special occasions - A0124844A0000
						2. Be Brave Little One - Gift book to honor and celebrate the power of courage in every child	 - A0124821A0000
					**/
					INSERT INTO @results
					SELECT  TOP 50 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
								LOWER(p.URL) as [url],
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								CASE WHEN p.SKU IN ('A0124844A0000') THEN 1 WHEN p.SKU IN ('A0124821A0000') THEN 2 END AS sortOrder, config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
					WHERE p.Status = 'Enable'
					AND  p.sku in ('A0124844A0000','A0124821A0000')
					--AND p.Visibility = 'In Catalog and Search'			 
					--AND [Enhanced Commerce] = 'BALFOUR DIRECT'  										 				 
					AND (LEFT(p.sku,8) <> @shortSku)	
					AND p.[Retail Price] > 0
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					  
				END  
			
			ELSE IF EXISTS (SELECT * FROM dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-CLASS APPAREL' AND LEFT(SKU,8) = @shortSku)
				BEGIN 					 
					INSERT INTO @results
					SELECT  'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
								LOWER(p.URL) as [url],
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								CASE WHEN p.SKU = 'a0226402a0000' THEN 1
								ELSE 2 END AS sortOrder,config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
					WHERE p.Status = 'Enable'
						AND  p.sku in ('a0226402a0000','A0146175A0000')
						--AND p.Visibility = 'In Catalog and Search'			 
						--AND [Enhanced Commerce] = 'BALFOUR DIRECT'  										 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND p.[Retail Price] > 0
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 
				END --NCAA SHOP,ORNAMENTS

			ELSE IF EXISTS (SELECT * FROM dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'COLLEGE JEWELRY ORP' AND LEFT(SKU,8) = @shortSku)
				BEGIN 		
					IF @debug = 1 PRINT 'COLLEGE JEWELRY ORP - smi: ' + @smi
					INSERT INTO @results
					SELECT TOP 10  'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
								LOWER(p.URL) as [url],
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								1 AS sortOrder, p.config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
					WHERE p.Status = 'Enable'
						AND  p.Category IN (
							'NCAA SHOP,HOLIDAY ORNAMENTS','NCAA SHOP,ORNAMENTS','NCAA SHOP,ORNAMENTS,BUY 1 GET 1 FREE','NCAA SHOP,ORNAMENTS,DEAL 6',
							'NCAA SHOP,ORNAMENTS,DEAL 6,DEAD PRODUCTS 2','NCAA SHOP,ORNAMENTS,DEAL 6,HOLIDAY ORNAMENTS','NCAA SHOP,ORNAMENTS,DEAL 6,HOLIDAY ORNAMENTS,DEAD PRODUCTS 2',
							'NCAA SHOP,ORNAMENTS,HOLIDAY ORNAMENTS ','ORNAMENTS,NCAA SHOP,DEAL 6','ORNAMENTS,NCAA SHOP,DEAL 6,DEAD PRODUCTS 2',
							'ORNAMENTS,NCAA SHOP,DEAL 6,HOLIDAY ORNAMENTS','ORNAMENTS,NCAA SHOP,DEAL 6,HOLIDAY ORNAMENTS,DEAD PRODUCTS 2')
						AND p.Visibility = 'In Catalog and Search'			 
						AND ISNULL([Included SMI],'') = ISNULL(@smi,'')	  -- this should use included smi field.							 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND p.[Retail Price] > 0
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 
				END  
			ELSE IF EXISTS (SELECT * FROM magento_automated_product_dataset p left join itemattributes ia on p.ItemID = ia.itemid where LEFT(SKU,8) = @shortSku and tagtype = 'a_MasterLicenseType' and tagvalue = 'NCAA')
			BEGIN 		
					IF @debug = 1 PRINT 'NCAA EA Items - smi: ' + @smi
					-- get SMI from SKU 
					-- and set to @insmi
					select @smi = [Included SMI] from magento_automated_product_dataset where sku = @skus
					print 'SMI: ' + @smi

					INSERT INTO @results
					SELECT TOP 10  'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
								LOWER(p.URL) as [url],
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								1 AS sortOrder, p.config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
					WHERE p.Status = 'Enable'
						AND  p.Category IN (
							'NCAA SHOP,HOLIDAY ORNAMENTS','NCAA SHOP,ORNAMENTS','NCAA SHOP,ORNAMENTS,BUY 1 GET 1 FREE','NCAA SHOP,ORNAMENTS,DEAL 6',
							'NCAA SHOP,ORNAMENTS,DEAL 6,DEAD PRODUCTS 2','NCAA SHOP,ORNAMENTS,DEAL 6,HOLIDAY ORNAMENTS','NCAA SHOP,ORNAMENTS,DEAL 6,HOLIDAY ORNAMENTS,DEAD PRODUCTS 2',
							'NCAA SHOP,ORNAMENTS,HOLIDAY ORNAMENTS ','ORNAMENTS,NCAA SHOP,DEAL 6','ORNAMENTS,NCAA SHOP,DEAL 6,DEAD PRODUCTS 2',
							'ORNAMENTS,NCAA SHOP,DEAL 6,HOLIDAY ORNAMENTS','ORNAMENTS,NCAA SHOP,DEAL 6,HOLIDAY ORNAMENTS,DEAD PRODUCTS 2')
						AND p.Visibility = 'In Catalog and Search'			 
						AND ISNULL([Included SMI],'') = ISNULL(@smi,'')	  -- this should use included smi field.							 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND p.[Retail Price] > 0
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 
				END  

			ELSE IF EXISTS (SELECT * FROM dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] IN ('BALFOUR DIRECT', 'BALFOUR DIRECT-PARTY') AND LEFT(SKU,8) = @shortSku)
				BEGIN 					 
					INSERT INTO @results
					SELECT  'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,						
								LOWER(p.URL) as [url],
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								CASE WHEN p.SKU = 'a0226402a0000' THEN 1
								ELSE 1 END AS sortOrder,config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
					WHERE p.Status = 'Enable'
						AND  p.sku in ('A0132462A0000','A0132463A0000','A0132464A0000','A0132465A0000')
						--AND p.Visibility = 'In Catalog and Search'			 
						--AND [Enhanced Commerce] = 'BALFOUR DIRECT'  										 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND p.[Retail Price] > 0
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 
				END
			ELSE -- return no row
			    BEGIN
					SELECT imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder,config_type FROM @results
			    END										 
			
			 ; WITH cte AS
				(
					SELECT *,
							ROW_NUMBER() OVER (PARTITION BY class ORDER BY sortOrder DESC) AS rn
					FROM @results
				)
				SELECT imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder,config_type		
				FROM cte
				WHERE rn = 1
				ORDER BY SortOrder ASC	
				  
			--SELECT * FROM @results ORDER BY sortOrder ASC		
		END
	END
	/**
	133959	A0058275	High School
74025	A0057051A0000	High School
39558	A0057032A0000	High School
	s_get_upsell_bottom_item_at_cart 'A0145995,A0145989'--'A0096856a0000' --'A0057042A0000' A0096856a0000
	EXEC s_get_upsell_bottom_item_at_cart 'A0058275', @smi = '133959' -- high school
	EXEC s_get_upsell_bottom_item_at_cart 'A0057051A0000', @smi = '74025' -- high school
	EXEC s_get_upsell_bottom_item_at_cart 'A0057032A0000', @smi = '39558' -- high school

	s_get_upsell_bottom_item_at_cart 'A0123669' -- class apparel
	s_get_upsell_bottom_item_at_cart 'A0153399'
	s_get_upsell_bottom_item_at_cart 'A0002348A0000' -- balfour direct 
	s_get_upsell_bottom_item_at_cart 'A0002414A0000' -- balfour direct no logo
	s_get_upsell_bottom_item_at_cart 'A0057060A0000' -- HS YB
	SELECT top 100 * FROM    [dbo].[magento_automated_product_dataset] 
	--WHERE is_licensed = 0 --
	where SKU = 'A0008601A0000'

	SELECT * FROM dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'YEARBOOKS' AND [Product Name] LIKE '%High%School%'
	AND LEFT(SKU,8) = @shortSku
					) 
	**/
GO
