/****** Object:  StoredProcedure [dbo].[s_delete_school_events_locations_xref_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 12/06/2019
-- Description: Deletes a record in School_Events_Locations_XRef as well as the child date and time records
-- =============================================
CREATE PROCEDURE [dbo].[s_delete_school_events_locations_xref_record]
(
	@gUID VARCHAR(50) = ''
)
AS
SET NOCOUNT ON
--Determine which event we are working with
DECLARE @Event_GUID VARCHAR(50)
SELECT @Event_GUID = [Event_GUID] FROM [dbo].[School_Events_Locations_XRef] WHERE [GUID] = @gUID
--Remove the grandchild time records
DELETE FROM [dbo].[School_Events_Locations_Dates_Times] WHERE [Dates_GUID] IN (SELECT [GUID] FROM [dbo].[School_Events_Locations_Dates] WHERE [Location_GUID] = @gUID)
--Remove the child date records
DELETE FROM [dbo].[School_Events_Locations_Dates] WHERE [Location_GUID] = @gUID
--Remove the parent XRef record
DELETE FROM [dbo].[School_Events_Locations_XRef] WHERE [GUID] = @gUID
--Return the remaining locations for the event
SELECT dbo.fn_GetLocationDateTimeInfo(@Event_GUID)
GO
