/****** Object:  StoredProcedure [dbo].[s_diag_balfour_optimize]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 12/13/2019
-- Description: Sproc used to look for conflicts with the Balfour Optimize campaigns
-- =============================================
CREATE PROCEDURE [dbo].[s_diag_balfour_optimize]
(
	 @Enabled BIT = NULL
	,@IgnoreDate BIT = 1
	,@ForceDate DATETIME = NULL
)
AS
-- EXEC s_diag_balfour_optimize					-- You would expect to see conflicts running it this way since campaigns are often disabled and cloned
-- EXEC s_diag_balfour_optimize @Enabled = 1	-- This is the "normal" way to run it

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    /*
	*	Note that the logic here must be kept in sync with the logic in [s_get_conditionalcontent_trigger]
	*/
	DECLARE @Site VARCHAR(50) 
	SET @Site = 'Balfour'
	DECLARE @MainLoop INT, @MainMax INT, @Path VARCHAR(300), @GUID VARCHAR(50), @QP VARCHAR(300), @Rep VARCHAR(300)

	--Pull the positive test URL for all conditional content
	DECLARE @TestURLs TABLE ([URL] VARCHAR(300), [Loop] INT IDENTITY(1,1))
	DECLARE @Results TABLE ([Path] VARCHAR(300), [GUID] VARCHAR(50), [Round] INT, [Notes] VARCHAR(MAX), [Loop] INT IDENTITY(1,1))
	INSERT INTO @TestURLs ([URL])
	SELECT DISTINCT [PositiveTestPage] FROM [dbo].[ConditionalContent] WHERE LTRIM(RTRIM(ISNULL([PositiveTestPage],''))) <> ''

	SET @GUID = LTRIM(RTRIM(ISNULL(@GUID,'')))
	DECLARE @Matching TABLE ([GUID] VARCHAR(50), [URL] VARCHAR(300), [SearchType] SMALLINT, Loop INT IDENTITY(1,1))
	DECLARE @Triggers TABLE ([GUID] VARCHAR(50), [JSTrigger] NVARCHAR(MAX))
	DECLARE @Max INT, @Loop INT, @URL VARCHAR(300), @SearchType SMALLINT, @ThisGUID VARCHAR(50), @Cnt INT

	--Test each one
	SELECT @MainMax = MAX([Loop]), @MainLoop = 1 FROM @TestURLs
	WHILE @MainLoop <= @MainMax
		BEGIN
			SELECT @Path = LOWER([URL]) FROM @TestURLs WHERE [Loop] = @MainLoop
			--Reform Path to get rid of https:// and http://
			SET @Path = REPLACE(@Path,'https://','')
			SET @Path = REPLACE(@Path,'http://','')
			--Reform Path to get rid of base URL
			SET @Path = REPLACE(@Path,'www-qa.balfour/','')
			SET @Path = REPLACE(@Path,'www-dev.balfour/','')
			SET @Path = REPLACE(@Path,'www.balfour.com/','')
			PRINT 'Working with ' + @Path
			--Logic from  starts
			--Reform @Site to work for production, QA and Dev
			SET @Site = CASE WHEN @Site IN ('Balfour','www-qa.balfour','www-dev.balfour','www.balfour.com') THEN 'Balfour' ELSE @Site END

			--Reform @Path to remove forceguid query parameter
		
			IF CHARINDEX('?',@Path) > 0
				BEGIN
					SET @QP = RIGHT(@Path,LEN(@Path)-(CHARINDEX('?',@Path)))
					SET @Path = LEFT(@Path,CHARINDEX('?',@Path)-1)
					SET @Rep = ''
					--Break the list by the & character
					SELECT @Rep = [Value] FROM  string_split(@QP,'&') WHERE [value] LIKE 'forceguid=%'
					SET @QP = REPLACE(@QP,@Rep,'')
					IF RIGHT(@QP,1) = '&' SET @QP = LEFT(@QP,LEN(@QP)-1)
					IF LEFT(@QP,1) = '&' SET @QP = RIGHT(@QP,LEN(@QP)-1)
					SET @QP = REPLACE(@QP,'&&','&')
					PRINT @Path + ' ' + @QP
					SET @Path = LTRIM(RTRIM(@Path + CASE WHEN LTRIM(RTRIM(@QP)) = '' THEN '' ELSE '?' + @QP END))
			
					--PRINT @Path
				END


			INSERT INTO @Matching ([GUID], [URL], [SearchType])
			SELECT CC.[GUID], [URL], [SearchType]
			FROM dbo.[ConditionalContentURLs] URLs
			LEFT JOIN dbo.[ConditionalContent] CC ON CC.[GUID] = URLs.[CCGUID]
			WHERE CC.[Enabled] = CASE WHEN @Enabled IS NULL THEN CC.[Enabled] ELSE @Enabled END
			AND URLs.[Site] = @Site
			AND ISNULL([IsExclusion],0) = 0
			AND CASE WHEN @ForceDate IS NULL THEN GETDATE() ELSE @ForceDate END BETWEEN CASE WHEN @IgnoreDate = 1 THEN '1/1/1900' ELSE  ISNULL(CC.[StartDate], CAST('1-1-1900' AS datetime)) END AND CASE WHEN @IgnoreDate = 1 THEN DATEADD(day,7,GETDATE()) ELSE CASE WHEN CC.[StartDate] IS NOT NULL AND CC.[EndDate] IS NULL THEN DATEADD(day,1,GETDATE()) ELSE ISNULL(CC.[EndDate],DATEADD(day,1,GETDATE())) END END --Note that if the start date is specified but there is no ending date, include it


			SELECT @Max = MAX([Loop]) FROM @Matching
			SET @Loop = 1
			WHILE @Loop <= @Max
				BEGIN
					SELECT @ThisGUID = [GUID], @URL = [URL], @SearchType = [SearchType] FROM @Matching WHERE [Loop] = @Loop
					---3=Does not end with; -2=Does not start with; -1=Does not contain; 0=Exact match; 1=Contains; 2=Starts with; 3=Ends with; 
					IF @SearchType = 0 --Exact Match
						BEGIN
							IF @URL LIKE @Path --Use 'LIKE' here rather than '=' so that you can add wildcards to the URL data to get more complicated pattern matches
								INSERT INTO @Triggers ([GUID],[JSTrigger])
								SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
						END
					IF @SearchType = 1 --Contains
						BEGIN
							IF @Path LIKE '%' + @URL + '%'
								INSERT INTO @Triggers ([GUID],[JSTrigger])
								SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
						END
					IF @SearchType = 2 --Starts with
						BEGIN
							IF @Path LIKE @URL + '%'
								INSERT INTO @Triggers ([GUID],[JSTrigger])
								SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
						END
					IF @SearchType = 3 --Ends with
						BEGIN
							IF @Path LIKE '%' + @URL
								INSERT INTO @Triggers ([GUID],[JSTrigger])
								SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
						END
					SET @Loop = @Loop + 1
				END

			--Account for exclusions
			DELETE FROM @Matching
		
			INSERT INTO @Matching ([GUID], [URL], [SearchType])
			SELECT CC.[GUID], [URL], [SearchType]
			FROM dbo.[ConditionalContentURLs] URLs
			LEFT JOIN dbo.[ConditionalContent] CC ON CC.[GUID] = URLs.[CCGUID]
			WHERE CC.[Enabled] = CASE WHEN @Enabled IS NULL THEN CC.[Enabled] ELSE @Enabled END
			AND URLs.[Site] = @Site
			AND ISNULL([IsExclusion],0) = 1
			AND CASE WHEN @ForceDate IS NULL THEN GETDATE() ELSE @ForceDate END BETWEEN CASE WHEN @IgnoreDate = 1 THEN '1/1/1900' ELSE  ISNULL(CC.[StartDate], CAST('1-1-1900' AS datetime)) END AND CASE WHEN @IgnoreDate = 1 THEN DATEADD(day,7,GETDATE()) ELSE CASE WHEN CC.[StartDate] IS NOT NULL AND CC.[EndDate] IS NULL THEN DATEADD(day,1,GETDATE()) ELSE ISNULL(CC.[EndDate],DATEADD(day,1,GETDATE())) END END --Note that if the start date is specified but there is no ending date, include it

			SET @Loop = 0
			SELECT @Loop = ISNULL(MIN([Loop]),-1) FROM @Matching
			IF @Loop > 0
				BEGIN
					SELECT @Max = MAX([Loop]) FROM @Matching
					WHILE @Loop <= @Max
						BEGIN
							SELECT @ThisGUID = [GUID], @URL = [URL], @SearchType = [SearchType] FROM @Matching WHERE [Loop] = @Loop
							---3=Does not end with; -2=Does not start with; -1=Does not contain; 0=Exact match; 1=Contains; 2=Starts with; 3=Ends with; 
							IF @SearchType = 0 --Exact Match
								BEGIN
									IF @URL LIKE @Path
										DELETE FROM @Triggers WHERE [GUID] = @ThisGUID
								END
							IF @SearchType = 1 --Contains
								BEGIN
									IF @Path LIKE '%' + @URL + '%'
										DELETE FROM @Triggers WHERE [GUID] = @ThisGUID
								END
							IF @SearchType = 2 --Starts with
								BEGIN
									IF @Path LIKE @URL + '%'
										DELETE FROM @Triggers WHERE [GUID] = @ThisGUID
								END
							IF @SearchType = 3 --Ends with
								BEGIN
									IF @Path LIKE '%' + @URL
										DELETE FROM @Triggers WHERE [GUID] = @ThisGUID
								END
							SET @Loop = @Loop + 1
						END
				END
			--Determine whether or not this is really a problem
			SELECT @Cnt = COUNT(*) FROM @Triggers T INNER JOIN [dbo].[ConditionalContent] U ON U.GUID = T.[GUID] WHERE [Enabled] = 1
			INSERT INTO @Results ([Path],[GUID],[Round],[Notes])
			SELECT @Path, [GUID], @Loop, CASE WHEN @Cnt < 2 THEN 'Not really an issue because only one in this group is active' ELSE 'This is an issue because ' + CAST(@Cnt AS VARCHAR(15)) + ' are active and have conflicts' END FROM @Triggers
			DELETE FROM @Triggers
			--Logic from   ends

			SET @MainLoop = @MainLoop + 1
		END
	SELECT R.[Round] as [Issue ID], R.Path as [TestURL], CC.Name, CC.[GUID], CC.Enabled, CC.StartDate, CC.EndDate, [Notes], [Loop]
	FROM @Results R
	INNER JOIN [dbo].[ConditionalContent] CC ON CC.GUID = R.[GUID]
	WHERE [Round] IN (SELECT [Round] FROM @Results GROUP BY [Round] HAVING COUNT([Round]) > 1)
	ORDER BY [Round], [Enabled] DESC

END
GO
