/****** Object:  StoredProcedure [dbo].[s_balfour_optimize_exclude_one_from_another]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 12/16/2019
-- Description: Automatically add URLs from one campaign as exclusions (or inclusions) for another
-- =============================================
CREATE PROCEDURE [dbo].[s_balfour_optimize_exclude_one_from_another]
(
	 @SourceGUID VARCHAR(50) = ''
	,@UseSourceInclude BIT = 1
	,@TargetGUID VARCHAR(50) = ''
	,@UseTargetInclude BIT = 0
)
AS
SET NOCOUNT ON
INSERT INTO ConditionalContentURLs ([CCGUID],[Site],[URL],[SearchType],[IsExclusion])
SELECT @TargetGUID, [Site], [URL], [SearchType], CASE WHEN @UseTargetInclude = 0 THEN 1 ELSE 0 END FROM dbo.[ConditionalContentURLs] 
WHERE [CCGUID] = @SourceGUID and IsExclusion = CASE WHEN @UseTargetInclude = 1 THEN 0 ELSE 1 END
AND [URL] NOT IN (SELECT [URL] FROM dbo.[ConditionalContentURLs] WHERE [CCGUID] = @TargetGUID)
GO
