/****** Object:  StoredProcedure [dbo].[s_get_gradpacklineitems_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/8/2021 - Jon Kaufman
*/
CREATE PROCEDURE [dbo].[s_get_gradpacklineitems_records]
(
	  @GradPackLineItemID INT = NULL
	, @searchField VARCHAR(50) = '' --GradPackID
	,  @GradPackID INT = NULL
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'GradPackLineItemID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [GradPackLineItems] if the parameter @GradPackLineItemID has a value or a list of records if null.
--##PD @GradPackLineItemID in [GradPackLineItems].
--##PD @GradPackID is a limiting field
--##PD @searchField - The field to search on (GradPackID)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [GradPackLineItemID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [GradPackLineItems].

--DECLARE @totalRecords INT; EXEC s_get_gradpacklineitems_records @searchField = 'GradPackLineItemID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @GradPackLineItemID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [DisplayOrder]
		,[DisplayName]
		,[GradPackID]
		,[ImageURL]
		,[Description]
		,[GradPackLineItemID]
		FROM [GradPackLineItems]
		WHERE [GradPackLineItemID] = @GradPackLineItemID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[GradPackLineItems]
		WHERE[GradPackLineItemID] = @GradPackLineItemID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [GradPackLineItems]
		WHERE [GradPackLineItemID] = CASE WHEN @GradPackLineItemID IS NULL THEN [GradPackLineItemID] ELSE @GradPackLineItemID END
		AND [GradPackID] = CASE WHEN @GradPackID IS NULL THEN [GradPackID] ELSE @GradPackID END
		--AND ISNULL([GradPackID],'') LIKE CASE WHEN @searchField = 'GradPackID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GradPackID],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [DisplayOrder]
				,[DisplayName]
				,[GradPackID]
				,[ImageURL]
				,[Description]
				,[GradPackLineItemID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackLineItemID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackLineItemID] AS VARCHAR(50)),50) WHEN 'GradPackID' THEN [GradPackID] END DESC) as RowNumber
				FROM [dbo].[GradPackLineItems]
				WHERE [GradPackLineItemID] = CASE WHEN @GradPackLineItemID IS NULL THEN [GradPackLineItemID] ELSE @GradPackLineItemID END
				AND [GradPackID] = CASE WHEN @GradPackID IS NULL THEN [GradPackID] ELSE @GradPackID END
				--AND ISNULL([GradPackID],'') LIKE CASE WHEN @searchField = 'GradPackID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GradPackID],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [DisplayOrder]
				,[DisplayName]
				,[GradPackID]
				,[ImageURL]
				,[Description]
				,[GradPackLineItemID]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackLineItemID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackLineItemID] AS VARCHAR(50)),50) WHEN 'GradPackID' THEN [GradPackID] END) as RowNumber
				FROM [dbo].[GradPackLineItems]
				WHERE [GradPackLineItemID] = CASE WHEN @GradPackLineItemID IS NULL THEN [GradPackLineItemID] ELSE @GradPackLineItemID END
				AND [GradPackID] = CASE WHEN @GradPackID IS NULL THEN [GradPackID] ELSE @GradPackID END
				--AND ISNULL([GradPackID],'') LIKE CASE WHEN @searchField = 'GradPackID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GradPackID],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
