/****** Object:  StoredProcedure [dbo].[Upsert_MAGEcustomer_address_entity]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/18/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_MAGEcustomer_address_entity]
(	@city varchar(255), 
	@company varchar(255), 
	@country_id varchar(255), 
	@created_at datetime, 
	@entity_id int, 
	@fax varchar(255), 
	@firstname varchar(255), 
	@increment_id varchar(50), 
	@is_active smallint, 
	@lastname varchar(255), 
	@middlename varchar(255), 
	@parent_id int, 
	@postcode varchar(255), 
	@prefix varchar(40), 
	@region varchar(255), 
	@region_id int, 
	@street varchar(max), 
	@suffix varchar(40), 
	@telephone varchar(255), 
	@updated_at datetime, 
	@vat_id varchar(255), 
	@vat_is_valid int, 
	@vat_request_date varchar(255), 
	@vat_request_id varchar(255), 
	@vat_request_success int
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF EXISTS (SELECT TOP 1 * FROM MAGEcustomer_address_entity WHERE [entity_id] = @entity_id)
	BEGIN
		UPDATE MAGEcustomer_address_entity
		SET
			[city] = @city, 
			[company] = @company, 
			[country_id] = @country_id, 
			[created_at] = @created_at, 
			[fax] = @fax, 
			[firstname] = @firstname, 
			[increment_id] = @increment_id, 
			[is_active] = @is_active, 
			[lastname] = @lastname, 
			[middlename] = @middlename, 
			[parent_id] = @parent_id, 
			[postcode] = @postcode, 
			[prefix] = @prefix, 
			[region] = @region, 
			[region_id] = @region_id, 
			[street] = @street, 
			[suffix] = @suffix, 
			[telephone] = @telephone, 
			[updated_at] = @updated_at, 
			[vat_id] = @vat_id, 
			[vat_is_valid] = @vat_is_valid, 
			[vat_request_date] = @vat_request_date, 
			[vat_request_id] = @vat_request_id, 
			[vat_request_success] = @vat_request_success
		FROM MAGEcustomer_address_entity
		WHERE [entity_id] = @entity_id
	END
ELSE
	BEGIN
		INSERT INTO MAGEcustomer_address_entity
		(
			[city], 
			[company], 
			[country_id], 
			[created_at], 
			[entity_id], 
			[fax], 
			[firstname], 
			[increment_id], 
			[is_active], 
			[lastname], 
			[middlename], 
			[parent_id], 
			[postcode], 
			[prefix], 
			[region], 
			[region_id], 
			[street], 
			[suffix], 
			[telephone], 
			[updated_at], 
			[vat_id], 
			[vat_is_valid], 
			[vat_request_date], 
			[vat_request_id], 
			[vat_request_success]
		)
		VALUES
		(
			@city, 
			@company, 
			@country_id, 
			@created_at, 
			@entity_id, 
			@fax, 
			@firstname, 
			@increment_id, 
			@is_active, 
			@lastname, 
			@middlename, 
			@parent_id, 
			@postcode, 
			@prefix, 
			@region, 
			@region_id, 
			@street, 
			@suffix, 
			@telephone, 
			@updated_at, 
			@vat_id, 
			@vat_is_valid, 
			@vat_request_date, 
			@vat_request_id, 
			@vat_request_success
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@entity_id as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGEcustomer_address_entity', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGEcustomer_address_entity', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGEcustomer_address_entity', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
