/****** Object:  StoredProcedure [dbo].[s_get_contentaffinitypages_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 8/27/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_contentaffinitypages_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --SMI
	, @searchTerm VARCHAR(MAX) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
--EXEC s_get_contentaffinitypages_records @searchField = 'SMI', @searchTerm = '130996'
--EXEC s_get_contentaffinitypages_records @searchField = 'SMI', @searchTerm = '135652'
--EXEC s_get_contentaffinitypages_records @searchField = 'SMI', @searchTerm = ''
--EXEC s_get_contentaffinitypages_records @ID = 2839
--EXEC s_get_contentaffinitypages_records @searchField = 'specialStatus', @searchTerm = '32'
--EXEC s_get_contentaffinitypages_records @searchField = 'affinityurl', @searchTerm = 'https://www.balfour.com/lsuring'
AS
--##AT AAC
--##BD Retrieves all records from the table [ContentAffinityPages] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [ContentAffinityPages].
--##PD @searchField - The field to search on (SMI)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @startDate The starting date
--##PD @endDate The ending date
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ContentAffinityPages].

--DECLARE @totalRecords INT; EXEC s_get_contentaffinitypages_records @sortField= 'ID', @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 CAP.[SMI]
		,C.[AltName] as [schoolName]
		,'' as [schoolAddress]
		,'<a href="https://www.balfour.com' + C.[AffinityURL] + '">' + C.[AffinityURL] + '</a>' as [uRL]
		,ISNULL(C.[AffinityURL],'') as [affinityURL]
		,ISNULL(C.LogoURL,'') as [logoURL]
		,CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' WHEN ([Flags] & 32768) > 0 THEN 'Ring & Ring Tiles' WHEN ([Flags] & 131072) > 0 THEN 'No Rings' END as [specialStatus]
		,CASE WHEN ([Flags] & 16) > 0 THEN 16 WHEN ([Flags] & 32) > 0 Then 32 WHEN ([Flags] & 2048) > 0 Then 2048 WHEN ([Flags] & 8192) > 0 Then 8192 WHEN ([Flags] & 4096) > 0 Then 4096 WHEN ([Flags] & 32768) > 0 THEN 32768 WHEN ([Flags] & 131072) > 0 THEN 131072 END as [specialStatusCode]
		,[useLegacy]
		,[schoolShopTileGroupGUID]
		,[notes]
		,FORMAT(dbo.fn_DateTime_to_Central([lastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastModified]
		,CASE WHEN ISNULL(C.[color],'') <> '' THEN C.[color] ELSE '' END as [color]
		,ISNULL([colorOverride],'') as [colorOverride]
		,CASE WHEN ISNULL([colorOverride],'') = '' THEN CAST(0 as BIT) ELSE CAST(1 AS BIT) END as [useColorOverride]
		,[GUID]
		,[ID]
		,[yeabookBannerCTAButtonLink]
		,[yearbookBannerImage]
		,[yearbookBannerImageMobile]
		,[yearbookBannerTitle]
		,[yearbookBannerText]
		,[yearbookBannerCTAButtonText]
		,[yearbookBannerCTAButtonLink]
		,[ringSizeImage]
		,[ringSizeImageMobile]
		,[lettermanLink]
		,[lettermanLinkNewTab]
		,[capAndGownLink]
		,[capAndGownLinkNewTab]
		,[Flags]
		,[overridesInUseFlags]
		,[emailCollectionSuccessTitle]
		,[emailCollectionSuccessText]
		,[managed]
		,[defaultSchoolButtonColor]
		,[topSubheadline]
		,[ringSizeHeadline]
		,[classRingsTileCTALinkNewTab]
		,[ringSizeLinkText]
		,[emailCollectionText]
		,[seasonalPromoBannerCTAButtonLink]
		,[classRingsTileTopText]
		,[easyPaymentsImage]
		,[easyPaymentsmodalText]
		,[classRingsSubheadline]
		,[easyPaymentsmodalTrigger]
		,[classRingsTileImage]
		,[gradAnnouncementsLink]
		,[paymentsTileHeadline]
		,[easyPaymentsmodalHeader]
		,[emailCollectionCTAButtonText]
		,[classRingsTileBottomText]
		,[seasonalPromoBannerText]
		,[schoolShopHeadline]
		,[topPromoBannerHTML]
		,[seasonalPromoBannerImage]
		,[categoryShopTitle]
		,[classRingsHeadline]
		,[emailCollectionTitle]
		,[seasonalPromoBannerCTAButtonText]
		,[gradAnnouncementsLinkNewTab]
		,[TopTiles]
		,[schoolShopSubheadline]
		,[seasonalPromoBannerImageMobile]
		,[graduationHeadline]
		,[affinityCTAButtonText]
		,[ringSizeText]
		,[SchoolTextColor]
		,[ringSizeLink]
		,[SchoolBackgroundColor]
		,[schoolShopCTAButtonText]
		,[seasonalPromoBannerTitle]
		,[graduationSubheadline]
		,[easyPaymentsmodalTitle]
		,[classRingsTileCTALink]
		,[classRingsTileImageMobile]
		,[topHeadline]
		,[paymentsTileText]
		,[metapagetitle]
		,[metadescription]
		,[metakeywordlist]
		,[topVideoBanner]
		,[ringEventTimer]
		,[affinityWidget]
		,[HideMainNav]
		,[LogoURLOverride]
		FROM [ContentAffinityPages] CAP
		LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
		WHERE [ID] = @ID
		AND CAP.[SMI] > 0

		SELECT @totalRecords = COUNT(*) FROM [dbo].[ContentAffinityPages]
		WHERE[ID] = @ID
		
	END
ELSE
	BEGIN
		
		DECLARE @startRow INT
		DECLARE @endRow INT, @Flags BIGINT
		DECLARE @SMIs TABLE ([SMI] BIGINT)
		SELECT @endrow = 9999999, @startRow = 0, @Flags = 0

		IF @searchField = 'SMI' AND CHARINDEX(',',@searchTerm) > 0
			BEGIN --This is a search for multiple SMIs
				INSERT INTO @SMIs ([SMI]) SELECT [value] FROM string_split(@searchTerm,',')
				--Return them all
				SELECT @totalRecords = COUNT(*)
				FROM [ContentAffinityPages] WHERE [SMI] IN (SELECT [SMI] FROM @SMIs)
				IF @sort = 'DESC'
					BEGIN
 						SELECT
						 CAP.[SMI]
						,C.[AltName] as [schoolName]
						,'' as [schoolAddress]
						,'https://www.balfour.com' + C.[AffinityURL] as [uRL]
						,ISNULL(C.[AffinityURL],'') as [affinityURL]
						,ISNULL(C.LogoURL,'') as [logoURL]
						,CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' WHEN ([Flags] & 32768) > 0 THEN 'Ring & Ring Tiles' WHEN ([Flags] & 131072) > 0 THEN 'No Rings' END as [specialStatus]
						,CASE WHEN ([Flags] & 16) > 0 THEN 16 WHEN ([Flags] & 32) > 0 Then 32 WHEN ([Flags] & 2048) > 0 Then 2048 WHEN ([Flags] & 8192) > 0 Then 8192 WHEN ([Flags] & 4096) > 0 Then 4096 WHEN ([Flags] & 32768) > 0 THEN 32768 WHEN ([Flags] & 131072) > 0 THEN 131072 END as [specialStatusCode]
						,[useLegacy]
						--,[schoolShopTileGroupGUID]
						,[notes]
						,FORMAT(dbo.fn_DateTime_to_Central([lastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastModified]
						,ISNULL(C.[color],'') as [color]
						,[colorOverride]
						,[GUID]
						,[ID]
						--,[yeabookBannerCTAButtonLink]
						--,[yearbookBannerImage]
						--,[yearbookBannerImageMobile]
						--,[yearbookBannerTitle]
						--,[yearbookBannerText]
						--,[yearbookBannerCTAButtonText]
						--,[yearbookBannerCTAButtonLink]
						--,[ringSizeImage]
						--,[ringSizeImageMobile]
						--,[lettermanLink]
						--,[lettermanLinkNewTab]
						--,[capAndGownLink]
						--,[capAndGownLinkNewTab]
						,[Flags]
						--,[overridesInUseFlags]
						--,[emailCollectionSuccessTitle]
						--,[emailCollectionSuccessText]
						--,[managed]
						--,[defaultSchoolButtonColor]
						--,[topSubheadline]
						--,[ringSizeHeadline]
						--,[classRingsTileCTALinkNewTab]
						--,[ringSizeLinkText]
						--,[emailCollectionText]
						--,[seasonalPromoBannerCTAButtonLink]
						--,[classRingsTileTopText]
						--,[easyPaymentsImage]
						--,[easyPaymentsmodalText]
						--,[classRingsSubheadline]
						--,[easyPaymentsmodalTrigger]
						--,[classRingsTileImage]
						--,[gradAnnouncementsLink]
						--,[paymentsTileHeadline]
						--,[easyPaymentsmodalHeader]
						--,[emailCollectionCTAButtonText]
						--,[classRingsTileBottomText]
						--,[seasonalPromoBannerText]
						--,[schoolShopHeadline]
						--,[topPromoBannerHTML]
						--,[seasonalPromoBannerImage]
						--,[categoryShopTitle]
						--,[classRingsHeadline]
						--,[emailCollectionTitle]
						--,[seasonalPromoBannerCTAButtonText]
						--,[gradAnnouncementsLinkNewTab]
						--,[TopTiles]
						--,[schoolShopSubheadline]
						--,[seasonalPromoBannerImageMobile]
						--,[graduationHeadline]
						--,[affinityCTAButtonText]
						--,[ringSizeText]
						--,[SchoolTextColor]
						--,[ringSizeLink]
						--,[SchoolBackgroundColor]
						--,[schoolShopCTAButtonText]
						--,[seasonalPromoBannerTitle]
						--,[graduationSubheadline]
						--,[easyPaymentsmodalTitle]
						--,[classRingsTileCTALink]
						--,[classRingsTileImageMobile]
						--,[topHeadline]
						--,[paymentsTileText]
						
						FROM [dbo].[ContentAffinityPages] CAP
						LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
						WHERE CAP.[SMI] IN (SELECT [SMI] FROM @SMIs)
						ORDER BY CAP.[SMI] DESC
					END
				ELSE
					BEGIN
 						
						SELECT
						 CAP.[SMI]
						,C.[AltName] as [schoolName]
						,'' as [schoolAddress]
						,'https://www.balfour.com' + C.[AffinityURL] as [uRL]
						,ISNULL(C.[AffinityURL],'') as [affinityURL]
						,ISNULL(C.LogoURL,'') as [logoURL]
						,CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' WHEN ([Flags] & 32768) > 0 THEN 'Ring & Ring Tiles' WHEN ([Flags] & 131072) > 0 THEN 'No Rings' END as [specialStatus]
						,CASE WHEN ([Flags] & 16) > 0 THEN 16 WHEN ([Flags] & 32) > 0 Then 32 WHEN ([Flags] & 2048) > 0 Then 2048 WHEN ([Flags] & 8192) > 0 Then 8192 WHEN ([Flags] & 4096) > 0 Then 4096 WHEN ([Flags] & 32768) > 0 THEN 32768 WHEN ([Flags] & 131072) > 0 THEN 131072 END as [specialStatusCode]
						,[useLegacy]
						--,[schoolShopTileGroupGUID]
						,[notes]
						,FORMAT(dbo.fn_DateTime_to_Central([lastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastModified]
						,ISNULL(C.[color],'') as [color]
						,[colorOverride]
						,[GUID]
						,[ID]
						--,[yeabookBannerCTAButtonLink]
						--,[yearbookBannerImage]
						--,[yearbookBannerImageMobile]
						--,[yearbookBannerTitle]
						--,[yearbookBannerText]
						--,[yearbookBannerCTAButtonText]
						--,[yearbookBannerCTAButtonLink]
						--,[ringSizeImage]
						--,[ringSizeImageMobile]
						--,[lettermanLink]
						--,[lettermanLinkNewTab]
						--,[capAndGownLink]
						--,[capAndGownLinkNewTab]
						,[Flags]
						--,[overridesInUseFlags]
						--,[emailCollectionSuccessTitle]
						--,[emailCollectionSuccessText]
						--,[managed]
						--,[defaultSchoolButtonColor]
						--,[topSubheadline]
						--,[ringSizeHeadline]
						--,[classRingsTileCTALinkNewTab]
						--,[ringSizeLinkText]
						--,[emailCollectionText]
						--,[seasonalPromoBannerCTAButtonLink]
						--,[classRingsTileTopText]
						--,[easyPaymentsImage]
						--,[easyPaymentsmodalText]
						--,[classRingsSubheadline]
						--,[easyPaymentsmodalTrigger]
						--,[classRingsTileImage]
						--,[gradAnnouncementsLink]
						--,[paymentsTileHeadline]
						--,[easyPaymentsmodalHeader]
						--,[emailCollectionCTAButtonText]
						--,[classRingsTileBottomText]
						--,[seasonalPromoBannerText]
						--,[schoolShopHeadline]
						--,[topPromoBannerHTML]
						--,[seasonalPromoBannerImage]
						--,[categoryShopTitle]
						--,[classRingsHeadline]
						--,[emailCollectionTitle]
						--,[seasonalPromoBannerCTAButtonText]
						--,[gradAnnouncementsLinkNewTab]
						--,[TopTiles]
						--,[schoolShopSubheadline]
						--,[seasonalPromoBannerImageMobile]
						--,[graduationHeadline]
						--,[affinityCTAButtonText]
						--,[ringSizeText]
						--,[SchoolTextColor]
						--,[ringSizeLink]
						--,[SchoolBackgroundColor]
						--,[schoolShopCTAButtonText]
						--,[seasonalPromoBannerTitle]
						--,[graduationSubheadline]
						--,[easyPaymentsmodalTitle]
						--,[classRingsTileCTALink]
						--,[classRingsTileImageMobile]
						--,[topHeadline]
						--,[paymentsTileText]
						
						FROM [dbo].[ContentAffinityPages] CAP
						LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
						WHERE CAP.[SMI] IN (SELECT [SMI] FROM @SMIs)
						ORDER BY CAP.[SMI]
						
					END
			END
		ELSE
			BEGIN
				IF @startDate IS NULL SET @startDate = '1-1-1900'
				IF @endDate IS NULL SET @endDate = DATEADD(d, 1, GETDATE())

				SET @startDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @startDate, 101) as DATETIME))
				SET @endDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME))

				SET @startRow = (@skip * @pageSize) + 1
				SET @endrow = (@startRow + @pageSize) - 1

				IF @sortField = '' SET @sortField = @searchField
				IF @searchField = 'specialStatus' SET @Flags = CAST(@SearchTerm as BIGINT)
				IF @searchField = 'affinityurl'
					BEGIN
						--Remove the domain from the URL
						IF CHARINDEX('balfour.com',@searchTerm) > 0
							BEGIN
							--https://www.balfour.com/lsu
								SET @searchTerm = RIGHT(@searchTerm,LEN(@searchTerm)-(CHARINDEX('balfour.com',@searchTerm)+10))
							END
					END
				PRINT 'Flags=' + CAST(@Flags as VARCHAR(50)) + ' Term=' + @SearchTerm + ' Field=' + @SearchField

				--Get the total count
				SELECT @totalRecords = COUNT(*)
				FROM [ContentAffinityPages] CAP
				LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
						AND CAP.[SMI] = CASE WHEN @searchField = 'SMI' AND LTRIM(RTRIM(ISNULL(@searchTerm,''))) <> '' AND ISNUMERIC(@searchTerm) = 1 THEN CAST(@searchTerm as BIGINT)  ELSE CAP.[SMI] END
						AND ISNULL(C.AltName,'') LIKE CASE WHEN @searchField = 'schoolName' THEN '%' + @searchTerm + '%' ELSE ISNULL([AltName],'') END
						AND ([Flags] & @Flags) > CASE WHEN @searchField = 'specialStatus' THEN 0 ELSE -1 END
						AND [AffinityURL] = CASE WHEN @searchField = 'affinityurl' THEN @searchTerm ELSE [AffinityURL] END
						AND [lastModified] BETWEEN @startDate AND @endDate
						AND CAP.[SMI] > 0

				IF @sort = 'DESC'
					BEGIN
 						; WITH SelectedRows AS (
						SELECT
						 CAP.[SMI]
						,C.[AltName] as [schoolName]
						,'' as [schoolAddress]
						,'https://www.balfour.com' + C.[AffinityURL] as [uRL]
						,ISNULL(C.[AffinityURL],'') as [affinityURL]
						,ISNULL(C.LogoURL,'') as [logoURL]
						,CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' WHEN ([Flags] & 32768) > 0 THEN 'Ring & Ring Tiles' WHEN ([Flags] & 131072) > 0 THEN 'No Rings' END as [specialStatus]
						,CASE WHEN ([Flags] & 16) > 0 THEN 16 WHEN ([Flags] & 32) > 0 Then 32 WHEN ([Flags] & 2048) > 0 Then 2048 WHEN ([Flags] & 8192) > 0 Then 8192 WHEN ([Flags] & 4096) > 0 Then 4096 WHEN ([Flags] & 32768) > 0 THEN 32768 WHEN ([Flags] & 131072) > 0 THEN 131072 END as [specialStatusCode]
						,[useLegacy]
						--,[schoolShopTileGroupGUID]
						,[notes]
						,FORMAT(dbo.fn_DateTime_to_Central([lastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastModified]
						,ISNULL(C.[color],'') as [color]
						,ISNULL([colorOverride],'#ffffff') as [colorOverride]
						,[GUID]
						,[ID]
						--,[yeabookBannerCTAButtonLink]
						--,[yearbookBannerImage]
						--,[yearbookBannerImageMobile]
						--,[yearbookBannerTitle]
						--,[yearbookBannerText]
						--,[yearbookBannerCTAButtonText]
						--,[yearbookBannerCTAButtonLink]
						--,[ringSizeImage]
						--,[ringSizeImageMobile]
						--,[lettermanLink]
						--,[lettermanLinkNewTab]
						--,[capAndGownLink]
						--,[capAndGownLinkNewTab]
						,[Flags]
						--,[overridesInUseFlags]
						--,[emailCollectionSuccessTitle]
						--,[emailCollectionSuccessText]
						--,[managed]
						--,[defaultSchoolButtonColor]
						--,[topSubheadline]
						--,[ringSizeHeadline]
						--,[classRingsTileCTALinkNewTab]
						--,[ringSizeLinkText]
						--,[emailCollectionText]
						--,[seasonalPromoBannerCTAButtonLink]
						--,[classRingsTileTopText]
						--,[easyPaymentsImage]
						--,[easyPaymentsmodalText]
						--,[classRingsSubheadline]
						--,[easyPaymentsmodalTrigger]
						--,[classRingsTileImage]
						--,[gradAnnouncementsLink]
						--,[paymentsTileHeadline]
						--,[easyPaymentsmodalHeader]
						--,[emailCollectionCTAButtonText]
						--,[classRingsTileBottomText]
						--,[seasonalPromoBannerText]
						--,[schoolShopHeadline]
						--,[topPromoBannerHTML]
						--,[seasonalPromoBannerImage]
						--,[categoryShopTitle]
						--,[classRingsHeadline]
						--,[emailCollectionTitle]
						--,[seasonalPromoBannerCTAButtonText]
						--,[gradAnnouncementsLinkNewTab]
						--,[TopTiles]
						--,[schoolShopSubheadline]
						--,[seasonalPromoBannerImageMobile]
						--,[graduationHeadline]
						--,[affinityCTAButtonText]
						--,[ringSizeText]
						--,[SchoolTextColor]
						--,[ringSizeLink]
						--,[SchoolBackgroundColor]
						--,[schoolShopCTAButtonText]
						--,[seasonalPromoBannerTitle]
						--,[graduationSubheadline]
						--,[easyPaymentsmodalTitle]
						--,[classRingsTileCTALink]
						--,[classRingsTileImageMobile]
						--,[topHeadline]
						--,[paymentsTileText]
						,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'lastModified' THEN CAST([lastModified] as VARCHAR(50)) 
																	 WHEN 'useLegacy' THEN CAST([useLegacy] as VARCHAR(25)) 
																	 WHEN 'schoolName' THEN [AltName] 
																	 WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST(CAP.[ID] AS VARCHAR(50)),50) 
																	 WHEN 'SMI' THEN CAST(CAP.[SMI] AS VARCHAR(50)) 
																	 WHEN 'specialStatus' THEN CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' END 
							END DESC) as RowNumber
						FROM [dbo].[ContentAffinityPages] CAP
						LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
						WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
						AND CAP.[SMI] = CASE WHEN @searchField = 'SMI' AND LTRIM(RTRIM(ISNULL(@searchTerm,''))) <> '' AND ISNUMERIC(@searchTerm) = 1 THEN CAST(@searchTerm as BIGINT)  ELSE CAP.[SMI] END
						AND ISNULL(C.AltName,'') LIKE CASE WHEN @searchField = 'schoolName' THEN '%' + @searchTerm + '%' ELSE ISNULL([AltName],'') END
						AND ([Flags] & @Flags) > CASE WHEN @searchField = 'specialStatus' THEN 0 ELSE -1 END
						AND [AffinityURL] = CASE WHEN @searchField = 'affinityurl' THEN @searchTerm ELSE [AffinityURL] END
						AND [lastModified] BETWEEN @startDate AND @endDate
						AND CAP.[SMI] > 0
						)
						SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
					END
				ELSE
					BEGIN
 						; WITH SelectedRows AS (
						SELECT
						 CAP.[SMI]
						,C.[AltName] as [schoolName]
						,'' as [schoolAddress]
						,'https://www.balfour.com' + C.[AffinityURL] as [uRL]
						,ISNULL(C.[AffinityURL],'') as [affinityURL]
						,ISNULL(C.LogoURL,'') as [logoURL]
						,CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' WHEN ([Flags] & 32768) > 0 THEN 'Ring & Ring Tiles' WHEN ([Flags] & 131072) > 0 THEN 'No Rings' END as [specialStatus]
						,CASE WHEN ([Flags] & 16) > 0 THEN 16 WHEN ([Flags] & 32) > 0 Then 32 WHEN ([Flags] & 2048) > 0 Then 2048 WHEN ([Flags] & 8192) > 0 Then 8192 WHEN ([Flags] & 4096) > 0 Then 4096 WHEN ([Flags] & 32768) > 0 THEN 32768 WHEN ([Flags] & 131072) > 0 THEN 131072 END as [specialStatusCode]
						,[useLegacy]
						--,[schoolShopTileGroupGUID]
						,[notes]
						,FORMAT(dbo.fn_DateTime_to_Central([lastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastModified]
						,ISNULL(C.[color],'') as [color]
						,[colorOverride]
						,[GUID]
						,[ID]
						--,[yeabookBannerCTAButtonLink]
						--,[yearbookBannerImage]
						--,[yearbookBannerImageMobile]
						--,[yearbookBannerTitle]
						--,[yearbookBannerText]
						--,[yearbookBannerCTAButtonText]
						--,[yearbookBannerCTAButtonLink]
						--,[ringSizeImage]
						--,[ringSizeImageMobile]
						--,[lettermanLink]
						--,[lettermanLinkNewTab]
						--,[capAndGownLink]
						--,[capAndGownLinkNewTab]
						,[Flags]
						--,[overridesInUseFlags]
						--,[emailCollectionSuccessTitle]
						--,[emailCollectionSuccessText]
						--,[managed]
						--,[defaultSchoolButtonColor]
						--,[topSubheadline]
						--,[ringSizeHeadline]
						--,[classRingsTileCTALinkNewTab]
						--,[ringSizeLinkText]
						--,[emailCollectionText]
						--,[seasonalPromoBannerCTAButtonLink]
						--,[classRingsTileTopText]
						--,[easyPaymentsImage]
						--,[easyPaymentsmodalText]
						--,[classRingsSubheadline]
						--,[easyPaymentsmodalTrigger]
						--,[classRingsTileImage]
						--,[gradAnnouncementsLink]
						--,[paymentsTileHeadline]
						--,[easyPaymentsmodalHeader]
						--,[emailCollectionCTAButtonText]
						--,[classRingsTileBottomText]
						--,[seasonalPromoBannerText]
						--,[schoolShopHeadline]
						--,[topPromoBannerHTML]
						--,[seasonalPromoBannerImage]
						--,[categoryShopTitle]
						--,[classRingsHeadline]
						--,[emailCollectionTitle]
						--,[seasonalPromoBannerCTAButtonText]
						--,[gradAnnouncementsLinkNewTab]
						--,[TopTiles]
						--,[schoolShopSubheadline]
						--,[seasonalPromoBannerImageMobile]
						--,[graduationHeadline]
						--,[affinityCTAButtonText]
						--,[ringSizeText]
						--,[SchoolTextColor]
						--,[ringSizeLink]
						--,[SchoolBackgroundColor]
						--,[schoolShopCTAButtonText]
						--,[seasonalPromoBannerTitle]
						--,[graduationSubheadline]
						--,[easyPaymentsmodalTitle]
						--,[classRingsTileCTALink]
						--,[classRingsTileImageMobile]
						--,[topHeadline]
						--,[paymentsTileText]
						,ROW_NUMBER() OVER (ORDER BY CASE @SortField 
							WHEN 'lastModified' THEN CAST([lastModified] as VARCHAR(50)) 
							WHEN 'useLegacy' THEN CAST([useLegacy] as VARCHAR(25)) 
							WHEN 'schoolName' THEN [AltName] 
							WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST(CAP.[ID] AS VARCHAR(50)),50) 
							WHEN 'SMI' THEN RIGHT(REPLICATE('0',49) + CAST(CAP.[SMI] as VARCHAR(50)),50) 
							WHEN 'specialStatus' THEN CASE WHEN ([Flags] & 16) > 0 THEN 'Yearbook Only' WHEN ([Flags] & 32) > 0 Then 'True Ring Only' WHEN ([Flags] & 2048) > 0 Then 'Ring & Yearbook Only' WHEN ([Flags] & 8192) > 0 Then 'Ring & CB Grad' WHEN ([Flags] & 4096) > 0 Then 'Ring, Yearbook & CB Grad' END 
						END) as RowNumber
						FROM [dbo].[ContentAffinityPages] CAP
						LEFT JOIN [dbo].[School_URL_Master] C ON C.[SMI] = CAP.[SMI]
						WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
						AND CAP.[SMI] = CASE WHEN @searchField = 'SMI' AND LTRIM(RTRIM(ISNULL(@searchTerm,''))) <> '' AND ISNUMERIC(@searchTerm) = 1 THEN CAST(@searchTerm as BIGINT)  ELSE CAP.[SMI] END
						AND ISNULL(C.AltName,'') LIKE CASE WHEN @searchField = 'schoolName' THEN '%' + @searchTerm + '%' ELSE ISNULL([AltName],'') END
						AND ([Flags] & @Flags) > CASE WHEN @searchField = 'specialStatus' THEN 0 ELSE -1 END
						AND [AffinityURL] = CASE WHEN @searchField = 'affinityurl' THEN @searchTerm ELSE [AffinityURL] END
						AND [lastModified] BETWEEN @startDate AND @endDate
						AND CAP.[SMI] > 0
						)
						SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
					END
		END


	END
GO
