/****** Object:  StoredProcedure [dbo].[s_update_gradpacklineitems_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/8/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_update_gradpacklineitems_record]
(
 @Description VARCHAR(500) = NULL
,@DisplayName VARCHAR(150) = NULL
,@DisplayOrder TINYINT = NULL
,@GradPackID INT = NULL
,@GradPackLineItemID INT = NULL
,@ImageURL VARCHAR(255) = NULL
, @GradPackLineItemID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [GradPackLineItems].
--##RS1 The [GradPackLineItemID] value of the inserted/updated record in the table [GradPackLineItems].

IF ISNULL(@GradPackLineItemID,0) = 0 --Insert
  BEGIN
    INSERT INTO [GradPackLineItems] ( [DisplayOrder],[DisplayName],[GradPackID],[ImageURL],[Description])
       VALUES ( @DisplayOrder,@DisplayName,@GradPackID,@ImageURL,@Description)
    SELECT @GradPackLineItemID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [GradPackLineItems] SET
     [DisplayOrder] = CASE WHEN @DisplayOrder IS NULL THEN [DisplayOrder] ELSE @DisplayOrder END
    ,[DisplayName] = CASE WHEN @DisplayName IS NULL THEN [DisplayName] ELSE @DisplayName END
    ,[GradPackID] = CASE WHEN @GradPackID IS NULL THEN [GradPackID] ELSE @GradPackID END
    ,[ImageURL] = CASE WHEN @ImageURL IS NULL THEN [ImageURL] ELSE @ImageURL END
    ,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
      WHERE [GradPackLineItemID] = @GradPackLineItemID
    SELECT @GradPackLineItemID_Out = @GradPackLineItemID
  END

SELECT
 [DisplayOrder]
,[DisplayName]
,[GradPackID]
,[ImageURL]
,[Description]
,[GradPackLineItemID]

FROM dbo.[GradPackLineItems]
WHERE [GradPackLineItemID] = @GradPackLineItemID_Out
GO
