/****** Object:  StoredProcedure [dbo].[s_update_digitalcodesources_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/18/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_digitalcodesources_record]
(
 @CodeUseURL VARCHAR(200) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@SourceName VARCHAR(100) = NULL
,@TotalCodes INT = NULL
,@IssuedCodes INT = NULL
,@AvailableCodes INT = NULL
,@SKU VARCHAR(100) = NULL
,@ProductType VARCHAR(50) = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [DigitalCodeSources].
--##RS1 The [ID] value of the inserted/updated record in the table [DigitalCodeSources].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [DigitalCodeSources] ( [SourceName],[GUID],[CodeUseURL],[SKU],[ProductType])
       VALUES ( ISNULL(@SourceName,''),NEWID(),ISNULL(@CodeUseURL,''),ISNULL(@SKU,''),ISNULL(@ProductType,''))
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [DigitalCodeSources] SET
     [SourceName] = CASE WHEN @SourceName IS NULL THEN [SourceName] ELSE @SourceName END
    --,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
    ,[CodeUseURL] = CASE WHEN @CodeUseURL IS NULL THEN [CodeUseURL] ELSE @CodeUseURL END
	,[SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
	,[ProductType] = CASE WHEN @ProductType IS NULL THEN [ProductType] ELSE @ProductType END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [SourceName]
,[GUID]
,[CodeUseURL]
,[SKU]
,[ProductType]
,[ID]

FROM dbo.[DigitalCodeSources]
WHERE [ID] = @ID_Out
GO
