/****** Object:  StoredProcedure [dbo].[s_get_iconicRecCache_HS]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 05/05/2020
-- Description: Get iconicRecs for HS
-- =============================================
CREATE PROCEDURE [dbo].[s_get_iconicRecCache_HS]
(
    -- Add the parameters for the stored procedure here
    @iconicid INT = 0,
	 @SMI VARCHAR(10) = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    SELECT [imageurl]
      ,REPLACE([itemurl],'*SMI*', @SMI)
      ,[sku]
      ,[productname]
      ,[retailprice]
      ,[iconicid]
      ,[smiid]
      ,[Class]
      ,[Rank]
	  ,[PurpleText]
	  ,[UtmContent]
  FROM [dbo].[iconicRecCache_HS_Frames]
  ORDER BY Rank asc
END
GO
