/****** Object:  StoredProcedure [dbo].[s_delete_school_events_locations_dates_times_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/25/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_school_events_locations_dates_times_record]
(
	  @ID BIGINT = NULL
	 ,@gUID VARCHAR(50) = NULL
	 ,@eventGUID VARCHAR(50) = NULL
)
--EXEC [dbo].[s_delete_school_events_locations_dates_times_record] @GUID = '743d7bd6-04a8-4a95-a6c4-b0e11e291a55', @eventGUID = '125AB28E-57BE-4E2C-AC99-3CD1E4303723'
AS
--##AT AAC
--##BD Deletes a specific record from the table [School_Events_Locations_Dates_Times].
--##PD @ID in [School_Events_Locations_Dates_Times].
--##RS1 -NONE-
SET NOCOUNT ON
DECLARE @Results TABLE ([row] VARCHAR(MAX), [ID] INT IDENTITY(1,1))
DECLARE @LocationGUID VARCHAR(50), @Dates_GUID VARCHAR(50), @XRef_GUID VARCHAR(50)
IF @ID IS NOT NULL
	BEGIN
		SELECT @Dates_GUID = [Dates_GUID] FROM [dbo].[School_Events_Locations_Dates_Times] WHERE [ID] = @ID
		DELETE FROM [School_Events_Locations_Dates_Times] WHERE [ID] = @ID
	END
ELSE
	BEGIN
		SELECT @Dates_GUID = [Dates_GUID] FROM [dbo].[School_Events_Locations_Dates_Times] WHERE [GUID] = @gUID
		PRINT 'Dates GUID = ' + @Dates_GUID
		DELETE FROM [School_Events_Locations_Dates_Times] WHERE [GUID] = @gUID
	END
--Return any other date/time information for this event
SELECT @LocationGUID = [Location_GUID] FROM [dbo].[School_Events_Locations_Dates] WHERE [GUID] = @Dates_GUID
SELECT @XRef_GUID = [GUID] FROM [dbo].[School_Events_Locations_XRef] WHERE [Event_GUID] = @eventGUID AND [Location_GUID] = @LocationGUID

INSERT INTO @Results ([row])
SELECT [dbo].[fn_SchoolEventLocationsDates] (@LocationGUID,1)

INSERT INTO @Results ([row])
SELECT [dbo].[fn_GetLocationDateTimeInfo] (@eventGUID)



--SELECT [dbo].[fn_SchoolEventLocationsDatesTimes] (@Dates_GUID,1)

SELECT * FROM @Results ORDER BY [ID]
EXEC [dbo].[s_get_location_dates_times_json] @GUID = @Dates_GUID/*School_Events_Locations_Dates*/, @XRef_GUID = @XRef_GUID

GO
