/****** Object:  StoredProcedure [dbo].[s_get_cs_ymal_skus]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 11/18/19
-- Description: Give me a bunch of skus to cache
-- =============================================
CREATE PROCEDURE [dbo].[s_get_cs_ymal_skus]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SELECT distinct sku FROM  dbo.magento_automated_product_dataset p
		WHERE (p.Status = 'Enable') 
			AND (p.[Retail Price] <> 0)
			AND (p.Visibility = 'In Catalog and Search')
			AND (Category <> 'YEARBOOK ADS' AND Category <> 'YEARBOOK & ACCESSORIES' AND Category NOT LIKE '%YEARBOOK%')
			AND (Category NOT LIKE '%ANNOUNCEMENT%')
			AND (Category NOT LIKE '%PACKAGES%')
			AND ([Quantity in Stock] > 0)
			AND (LEN(SKU) > 8)
			AND (sku NOT IN (select sku from ymal_processed))
			order by sku desc
END
GO
