/****** Object:  StoredProcedure [dbo].[s_get_virtcommmaster_record_by_guid]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/27/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_virtcommmaster_record_by_guid]
(
	  @GUID VARCHAR(50) = ''
)
AS
--##AT AAC
--##BD Retrieves one record from the table [VirtCommMaster] with the GUID = @GUID.
--##PD @GUID in [VirtCommMaster].
--##RS1 One record from the table [VirtCommMaster].

--DECLARE @totalRecords INT; EXEC s_get_virtcommmaster_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON

		SELECT
		 [SMI]
		,[GUID]
		,FORMAT([EventDTM], 'MM/dd/yyyy hh:mm:ss tt') AS [EventDTM]
		,[Title]
		,[Description]
		,[GoNowLink]
		,[PhotoStoryLink]
		,[InsertDownloadLink]
		,[TributeLink]
		,[BoomBoxLink]
		,[CoreProductsFlags]
		,[CoreProductGroup]
		,[EAProductGroup]
		,[GradPackLink]
		,[PromoLink]
		,[Enabled]
		,[ID]
		,[Timezone]
		,[dbo].[fn_virtcommsubcomm]([GUID]) as [SubCommList]
		,dbo.fn_get_virtcomm_status([SMI],'') as [Status]
		FROM [VirtCommMaster]
		WHERE [GUID] = @GUID
GO
