/****** Object:  StoredProcedure [dbo].[s_get_CSIC_items_han_08102021]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in - 09/30/2020 note - this is the one that was called "_with_gradpack"
--
-- [03/17/2021] TL - Optimized by using new [marketing_image_url] field in [magento_automated_product_dataset].  Onld sproc renammed to s_get_CSIC_items_BKUP20210317
-- =============================================

CREATE PROCEDURE [dbo].[s_get_CSIC_items_han_08102021]
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = NULL,
   @debug BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @count int, @Max INT, @Loop INT, @Item VARCHAR(200)
	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] varchar(9), [wasprice] varchar(9), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @thisSmi varchar(50)
  
	IF @debug = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 		
		CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		CREATE TABLE #skusInCart (sku VARCHAR(100))
		DECLARE @Raw TABLE ([item] VARCHAR(200), [sku] VARCHAR(100), [smi] VARCHAR(50), [Loop] INT IDENTITY(1,1))
		INSERT INTO @Raw ([item])
		select value from string_split(@skus,',') where CHARINDEX('https:', value) = 0
 
		SELECT @Loop = 1, @Max = MAX([Loop]) from @Raw
		WHILE @Loop <= @Max
			BEGIN
				SELECT @Item = [Item] FROM @Raw WHERE [Loop] = @Loop
				UPDATE @Raw SET [sku] = CASE WHEN @Item LIKE '%|%' THEN LEFT(@Item,CHARINDEX('|',@Item)-1) ELSE @Item END, [SMI] = CASE WHEN @Item LIKE '%|%' THEN RIGHT(@Item,LEN([item])-CHARINDEX('|',@Item)) ELSE '' END
				WHERE [Loop] = @Loop
				
				SET @Loop = @Loop + 1
			END
  
		INSERT INTO  #skulist ([sku], [price], [smi])
		SELECT a.[sku], ISNULL(dbo.[fn_Get_Lowest_Price](a.SKU, a.smi),ISNULL(a.[Special Price (% for bundles)],a.[Retail Price])), a.smi --SELECT a.[sku], a.[retail price], a.[smi]
		FROM (
			SELECT R.[sku], MIN([retail price]) AS [retail price], p.[Special Price (% for bundles)],  R.[smi]
			FROM @Raw R
			LEFT JOIN [dbo].[magento_automated_product_dataset] p ON (LEFT(R.[sku],8) = LEFT(p.SKU,8)) 	
			GROUP BY R.SKU,  p.[Special Price (% for bundles)], R.smi) a 
		ORDER BY a.[Retail Price] DESC
		 
		UPDATE #skulist
		SET sku = LTRIM(RTRIM(sku))
 
		--han: debug
		--IF @debug = 1 BEGIN SELECT * FROM #skulist END --WHERE  smi<>sku 
 
		SELECT @Loop = 1, @Max = MAX([Loop]) FROM #skulist
		
		DECLARE @currentLoop INT = 0
		
		INSERT INTO #skusInCart(sku)
		SELECT Sku FROM #skulist

		--SELECT * FROM #skulist

		WHILE @Loop <= @Max
		BEGIN
			SET @thisSku = ''
			SET @thisSmi = ''			

			-- 1 - Traditional HS Announcement
			SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
			FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
			WHERE LEFT(s.sku,8) IN ('A0168253','A0233566') 
				OR ([attribute set] = 'pim_pb_announcement' AND [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
				AND p.[PrintBox_FamilyId] = '52' AND LEFT(p.SKU,8) = LEFT(s.sku,8) /*AND p.[Exclusive SMI] = s.smi*/ ) 
			ORDER BY s.price DESC

			IF @debug = 1 BEGIN PRINT 'HSAnnouncement sku: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END

			-- 2 (If not 1) - Stationary		
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
				WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' -- AND LEFT(p.SKU,8) = LEFT(s.sku,8)
				AND s.sku NOT IN ( SELECT SKU FROM dbo.magento_automated_product_dataset p 								  
									WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND p.[PrintBox_FamilyId] IN ('52', '56', '59', '60', '61'))
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Stationary sku: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END
			END
			 
			-- 3 (If not 2) - Contemporary 
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku				
				WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND  p.[PrintBox_FamilyId] IN ('56', '59', '60', '61') 
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Contemporary sku: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END
			END
 			
			-- 4 (If not 3) - GradPack
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
				WHERE [Enhanced Commerce] IN ('GP-CLASS APPAREL','GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS') OR s.sku IN  ('a0071918a0000', 'a0068455a0000', 'a0176692a0000', 'a0175731a0000')
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'GradPack sku: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END
			END
			
			-- 5 (If not 3) - Ring - College ORP 

			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
				WHERE [Attribute Set] = 'pim_uc' AND (ISNULL([Exclusive SMI],'') <> '' /** OR [dbo].[fn_InCollection] (@smi,product_collection) = CASE WHEN product_collection IN ('BalProdColl_UnivCollCollege','BalProdColl_KSBalfourColl') THEN 1 END**/)
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Ring - College ORP sku: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END
			END
			IF ISNULL(@thisSku,'') = '' -- Ring multi choice
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
				WHERE [Enhanced Commerce] IN ('COLLEGE MULTI CHOICE','UNIVERSITY COLLECTION COLLEGE','KENDRA SCOTT/BALFOUR COLLEGE','HIGH SCHOOL MULTI CHOICE')
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Ring - HS or College MC sku: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END
			END 
			-- 6 (If not 3) - Yearbook	
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku
				WHERE [Enhanced Commerce] IN ('YEARBOOK & ACCESSORIES', 'YEARBOOKS','YEARBOOK ACCESSORIES') 
					AND [Attribute Set] IN ('pim_ybads_balfourmanaged', 'pim_printing') 
					AND (',' + REPLACE(p.[Included SMI],', ', ',') + ',' LIKE '%,' + @smi + ',%' OR [Exclusive SMI] = @smi)
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Yearbook sku: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END
			END
		
			-- 7 (If not 3) - Diploma Frame	
			IF ISNULL(@thisSku,'') = ''
			BEGIN
				SELECT TOP 1 @thisSku = s.sku, @thisSmi = s.smi, @currentLoop = Loop
				FROM #skulist s INNER JOIN dbo.magento_automated_product_dataset p ON p.SKU = s.sku INNER JOIN itemattributes ia ON ia.itemid = p.ItemID 
				WHERE p.Cat_Type_Style IN ('Home/Dorm-Frames-Diploma/Certificate Frames','Home/Dorm_Frames_Diploma/Certificate Frames') AND ia.tagtype = 'a_AACProdType' AND ia.tagvalue = 'Endless Aisle'					
				ORDER BY s.price DESC
				IF @debug = 1 BEGIN PRINT 'Diploma Frame: ' + @thisSku + ', @currentLoop: ' + CAST(@currentLoop AS VARCHAR(2)) END
			END
			-- 5 everything else Highest price first

			IF ISNULL(@thisSku,'') = ''
			BEGIN 
				SELECT @thisSku = sku, @thisSmi = smi, @currentLoop = Loop FROM #skulist WHERE [Loop] = @Loop ORDER BY price DESC
				IF @debug = 1 BEGIN PRINT 'Everything else sku: ' + @thisSku + ', loop: ' + CAST(@loop AS VARCHAR(2)) END
			END
			
			IF @debug = 1 BEGIN PRINT 'this sku and smi - 1: ' + @thisSku + ', ' + @thisSmi END
							
			IF @debug = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			
			IF ISNULL(@thisSmi,'') <> ''
				BEGIN
					SET @smi = @thisSmi
				END 
			ELSE IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
				END
			 
			--IF EXISTS(SELECT Sku FROM cross_sell_cache_at_cart WHERE LEFT([input sku],8) = LEFT(@thisSku,8) AND smi = @smi)
			--	BEGIN
			--		INSERT INTO @results			
			--		EXEC s_get_CSIC_item_from_cache  @insku = @thisSku, @insmi=@smi, @debug = @debug
			--	END 
			--ELSE
			--	BEGIN
				INSERT INTO @results
				EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@smi, @debug = @debug	
					
				--	INSERT INTO CSUSSKUs ([SKU],[DTM], SMI) VALUES (@thisSku, GETDATE(), @smi)
				--	------------INSERT INTO cross_sell_cache_at_cart
				--	------------       ([input sku],[imageurl],[url],[sku],[Product Name],[Price], [wasprice], [Class], [SMI],[sortOrder],[Product Type],[config_type])
				--	------------SELECT @thisSku,    [imageurl],[url],[sku],[Product Name],[Price], [wasprice], [Class],  @smi,[sortOrder],[Product Type],[config_type] FROM @results
				--	---- select * from CSUSSKUs
				--END 
			-- han - 06/01/2020 9:38PM -- new logic stop
			
			IF @debug = 1 print 'thisSku: ' + @thisSku + ', thisSmi: ' + @thisSmi

			IF EXISTS(SELECT * FROM @results)
				BEGIN
					IF @debug = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
					BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
				END 
			ELSE
				BEGIN
					IF @debug = 1 PRINT 'No upsell item for this sku: ' + @thisSku + ', delete it from #skulist table'
					DELETE FROM #skulist WHERE Loop = @currentLoop
				END
				 
			IF @debug = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			SET @Loop = @Loop + 1
		END; 

		SELECT imageurl, [url], sku, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type FROM
		(
		SELECT TOP 20 imageurl, REPLACE(url, 'https://www.balfour.com','') AS [url], SKU  , [Product Name] AS [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type, CASE WHEN CHARINDEX('|', sku) > 0 THEN LEFT(sku,charindex('|',sku) - 1) ELSE sku  END AS SkuTemp
		FROM @results 		
		) r
		WHERE SkuTemp NOT IN (SELECT sku FROM #skusInCart)
		ORDER BY r.SortOrder ASC

		DROP TABLE IF EXISTS #skulist
		DROP TABLE IF EXISTS #skusInCart
	END

END
/**
	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 1
 	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 0
 	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' , @debug =1
 	exec [s_get_CSIC_items] 'A0008601A0000' , @debug =1 -- rule 6 --   and 4,5,6
	exec [s_get_CSIC_items] 'A0003281A0000' , @debug =1 -- no rule --   pim_mas_kitchen  -- select * from magento_automated_product_dataset where sku = 'A0003281A0000'
	exec [s_get_CSIC_items] 'A0003281A0000|130645' , @debug =1 -- no rule --   
	exec [s_get_CSIC_items] 'A0066639A0000' , @debug =1 -- rule 12
	exec [s_get_CSIC_items] 'A0049693A0000' , @debug =1  -- 12
	exec [s_get_CSIC_items] 'A0173561A0000' , @debug =1 -- rule 12
	exec [s_get_CSIC_items] 'A0129750A0000' , @debug =1 -- 12
	exec [s_get_CSIC_items] 'A0136516A0000' , @debug =1
	exec [s_get_CSIC_items] 'A0173561A0000' , @debug =1
	exec [s_get_CSIC_items] 'A0017524A0000' , @debug =1
	exec [s_get_CSIC_item] 'A0017524A0000' , @debug =1  -- NCAA rule 6
	exec [s_get_CSIC_items] 'A0017524A0000' , @debug =1  -- NCAA rule 6
	exec [s_get_CSIC_items] 'A0075899A0000' 
	exec [s_get_CSIC_items] 'A0139809A0000' 
	exec [s_get_CSIC_items] 'A0168253|20770', @debug=1 -- rule 1
	exec [s_get_CSIC_item] 'A0168253', @insmi='20770', @debug = 1
	exec [s_get_CSIC_item] 'A0168253', @insmi='20770', @debug = 1  a0161819|1326
	exec [s_get_CSIC_items] 'a0161819|1326', @debug = 1  

	exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 
 
	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000|343434,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debug = 1
	EXEC [s_get_CSIC_items] @skus = 'A0057042A0000,A0096856a0000,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543', @smi='130925', @debug = 1
	EXEC [s_get_CSIC_items] @skus = 'a0113707a0000|,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543' , @debug = 1
	select dbo.String_Split('abc,acda')
	EXEC [s_get_CSIC_items] @skus = 'a0113707a0000|13632,A0057042A0000|343434,a0113707a0000|', @debug =1  -- rule 6 - sort order 3 and 4
	EXEC [dbo].[s_get_CSIC_items] @skus = 'A0153378,A0057042A0000|343434,A0096856a0000,A0017536A0000,a0113707a0000|13632,A0057042A0000|343434,a0113707a0000|', @debug = 1

	https://dev-dfw-mkt-api.azure-api.net/cross-sell/v1/get-csic?skus=a0161819|1326&_=1605195698061&gfd=jhgfj


**/
GO
