/****** Object:  StoredProcedure [dbo].[s_delete_errordefinition_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/13/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_errordefinition_record]
(
	 @ID INT = NULL
)
AS
--##AT AAC
--##BD Deletes a specific record from the table [SMILists].
--##PD @ID in [SMILists].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [dbo].[product_transaction_error_defs] WHERE [ID] = @ID



--SELECT @GUID = [GUID] FROM [dbo].[SMILists] WHERE [ID] = @ID
--SELECT * FROM [dbo].[SMIListsDetails] 
--SELECT * FROM [dbo].[SMILists]  
GO
