/****** Object:  StoredProcedure [dbo].[s_get_upsell_last_chance_item_at_cart_test]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in
-- =============================================
/** 
	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
	EXEC [s_get_CSIC_items] @skus = 'A0057042A0000,A0096856a0000,https', @smi='130925', @debugging = 1
	EXEC [s_get_upsell_last_chance_item_at_cart_test] @skus =  'A0057042A0000,A0096856a0000' --'A0057042A0000,A0096856a0000', @smi='130925', @debugging = 1
**/

CREATE PROCEDURE [dbo].[s_get_upsell_last_chance_item_at_cart_test] (
	@skus VARCHAR(MAX) = '', 
	@smi VARCHAR(100) = '',
	@debugging BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @count int
	DECLARE @results TABLE(imageurl varchar(255), url varchar(max), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @Loop INT, @Max INT
  
	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 
		CREATE TABLE #skulist (sku VARCHAR(100), Loop INT IDENTITY(1,1)) 
		INSERT INTO #skulist (sku)			
		SELECT value FROM STRING_SPLIT( @skus, ',') WHERE CHARINDEX('https:', value) = 0
		 
		SELECT @Max = MAX([Loop]) FROM #skulist
		SET @Loop = 1
		WHILE @Loop <= @Max
		BEGIN
			SELECT @thisSku = [sku] FROM #skulist WHERE [Loop] = @Loop
			IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
						 
			IF ISNULL(@smi,'') = ''
			BEGIN
				SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
			END

			INSERT INTO @results
			EXEC [s_get_upsell_last_chance_item_at_cart_input_single_sku]  @skus = @thisSku, @smi=@smi
			  
			IF @debugging = 1 print 'thisSku: ' + @thisSku
			SELECT @count = COUNT(sku) FROM @results
			IF @count >= 1 --EXISTS(SELECT * FROM @results)
				BEGIN
					IF @debugging = 1 PRINT 'exit loop   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
					BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
				END 
			IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			SET @Loop = @Loop + 1
		END 
		IF @debugging = 1 PRINT 'Loop out'
		 
		SELECT TOP 1 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type
		FROM @results		
		ORDER BY SortOrder ASC
	END; 

END
/**
	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
**/

--exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0

 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0
 --	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' 
 --	exec [s_get_CSIC_items] 'A0008601A0000' 
 --exec [s_get_CSIC_items] 'A0003281A0000' 
 --exec [s_get_CSIC_items] 'A0066639A0000' 
 --exec [s_get_CSIC_items] 'A0049693A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0129750A0000' 
 --exec [s_get_CSIC_items] 'A0136516A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0017524A0000' 

 --exec [s_get_CSIC_items] 'A0075899A0000' 
 --exec [s_get_CSIC_items] 'A0139809A0000' 
 --exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 
GO
