/****** Object:  StoredProcedure [dbo].[s_update_itemattribsextended]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_update_itemattribsextended]
(
	@SKU VARCHAR(100) = ''
)
AS
--EXEC [dbo].[s_update_itemattribsextended] @SKU = 'A0208625'
BEGIN
	--[01/04/2021] - TL - Update itemattributesimages
	SELECT i.sku, itemid, (SELECT TOP (1) value	FROM STRING_SPLIT(tagvalue, ',') AS STRING_SPLIT_1) as imageurl into #itemattributesimages 
	from item i
	LEFT JOIN itemattributes ia on ia.itemid = i.id
	WHERE tagtype = 'a_BalfourPrimaryImages'
	AND i.SKU = @SKU

	DELETE FROM dbo.itemattributesimages WHERE [SKU] = @SKU
	INSERT INTO dbo.itemattributesimages ([sku], [itemid], [imageurl], [baseimageURL])
	SELECT [sku], [itemid], [imageurl], REPLACE(REPLACE(REPLACE(REPLACE(imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') FROM #itemattributesimages

	DROP TABLE #itemattributesimages

	--[01/04/2021] - TL - Update itemattributesclass
	DECLARE @ID INT, @MAX INT, @ItemID VARCHAR(20), @class VARCHAR(800), @Val VARCHAR(800)
	CREATE TABLE #Working ([ItemID] VARCHAR(20), [class] VARCHAR(800), [ID] INT IDENTITY(1,1))
	INSERT INTO #Working ([ItemID],[class])
	SELECT [ItemID], [TagValue] 
	from item i
	LEFT JOIN itemattributes ia on ia.itemid = i.id
	WHERE ia.[tagtype] = 'a_class' 
	AND i.[SKU] = @SKU
	CREATE TABLE #NV ([Value] VARCHAR(800), Loop INT IDENTITY(1,1))
	SELECT @ID = 1, @Max = MAX([ID]) FROM #Working
	
	WHILE @ID <= @Max
		BEGIN
			SELECT @ItemID = [ItemID], @Class = [Class] FROM #Working WHERE [ID] = @ID
			TRUNCATE TABLE #NV
			INSERT INTO #NV ([Value])
			SELECT * FROM STRING_SPLIT(REVERSE(@Class),':')
			DELETE FROM [ItemAttributesClass] WHERE [ItemID] = @ItemID
			INSERT INTO [ItemAttributesClass] ([ItemID],[Parent],[Class], [SKU])
			SELECT @ItemID, LTRIM(RTRIM(REVERSE([Value]))), /*REVERSE(*/@Class/*)*/, [SKU] FROM #NV NV INNER JOIN [dbo].[item] I ON I.ID = @ItemID  WHERE [Loop] = 1
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 2
			UPDATE [ItemAttributesClass] SET [GrandParent] = @Val WHERE [ItemID] = @ItemID
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 3
			UPDATE [ItemAttributesClass] SET [GreatGrandParent] = @Val WHERE [ItemID] = @ItemID
			SET @Val = NULL
			SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 4
			UPDATE [ItemAttributesClass] SET [GreatGreatGrandParent] = @Val WHERE [ItemID] = @ItemID
			SET @ID = @ID + 1
		END
	DROP TABLE #Working
	DROP TABLE #NV

	SELECT @ItemID = ID FROM [dbo].[item] WHERE [SKU] = @SKU
	DELETE FROM [dbo].[itemattributes_announcements] WHERE [itemid] = @ItemID
	INSERT INTO [dbo].[itemattributes_announcements]
	SELECT * FROM itemattributes where 	tagvalue = '52' AND tagtype = 'a_PBProdFamID' AND [Itemid] = @ItemID
END
GO
