/****** Object:  StoredProcedure [dbo].[s_xml_mapping_quote_updated_file_for_silverpop]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 06/24/2020
-- Description: generate xml mapping file for Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_xml_mapping_quote_updated_file_for_silverpop] --s_xml_mapping_quote_item_file_for_silverpop
 
AS
-- exec [s_xml_mapping_file_for_silverpop]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @columns VARCHAR(MAX)
	DECLARE @mapping VARCHAR(MAX)

	SET @columns = '<COLUMN><NAME>EntityID</NAME><TYPE>2</TYPE><IS_REQUIRED>true</IS_REQUIRED></COLUMN>' +
				   '<COLUMN><NAME>OrderID</NAME><TYPE>2</TYPE><IS_REQUIRED>true</IS_REQUIRED></COLUMN>' +
				   '<COLUMN><NAME>Email</NAME><TYPE>9</TYPE><IS_REQUIRED>true</IS_REQUIRED></COLUMN>' +
				   '<COLUMN><NAME>HasOrdered</NAME><TYPE>1</TYPE><IS_REQUIRED>true</IS_REQUIRED></COLUMN>' + 
				   '<COLUMN><NAME>CartAbandonType</NAME><TYPE>0</TYPE><IS_REQUIRED>true</IS_REQUIRED></COLUMN>'
	
	SET @mapping = '<COLUMN><INDEX>1</INDEX><NAME>EntityID</NAME><INCLUDE>true</INCLUDE></COLUMN>' +
				   '<COLUMN><INDEX>2</INDEX><NAME>OrderID</NAME><INCLUDE>true</INCLUDE></COLUMN>' +
				   '<COLUMN><INDEX>3</INDEX><NAME>Email</NAME><INCLUDE>true</INCLUDE></COLUMN>' +
				   '<COLUMN><INDEX>4</INDEX><NAME>HasOrdered</NAME><INCLUDE>true</INCLUDE></COLUMN>' +
				   '<COLUMN><INDEX>5</INDEX><NAME>CartAbandonType</NAME><INCLUDE>true</INCLUDE></COLUMN>'
	SELECT CONCAT('<?xml version="1.0" encoding="UTF-8"?>
		<LIST_IMPORT><LIST_INFO><ACTION>UPDATE_ONLY</ACTION><LIST_ID>32758822</LIST_ID><LIST_VISIBILITY>1</LIST_VISIBILITY><FILE_TYPE>1</FILE_TYPE><HASHEADERS>true</HASHEADERS></LIST_INFO>
			<COLUMNS>', @columns,
			'</COLUMNS>
			<MAPPING>', @mapping, 
			'</MAPPING>
		</LIST_IMPORT>') AS xml
END

 
GO
