/****** Object:  StoredProcedure [dbo].[s_mage_contemporary_stationery_sales_orders_report]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 11/9/19
-- Description: Check the status of the caching jobs for cross sell
-- =============================================
CREATE PROCEDURE [dbo].[s_mage_contemporary_stationery_sales_orders_report]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	

	--SELECT sku, name, order_id, qty_ordered, qty_shipped, original_price, price, parent_item_id 
	SELECT sku, name, order_id
	INTO #temp
	FROM MAGE_sales_order_item WITH (NOLOCK)
	WHERE Sku IN (SELECT Sku FROM dbo.Contemporary_Stationery_Item)


	SELECT 
	o.increment_id [Order Number], 
	o.created_at [Order Date],	
	o.subtotal [SubTotal],
	i.sku [Sku], 
	i.name [Product Name]	
	FROM MAGE_Sales_Order o WITH (NOLOCK)
	INNER JOIN #temp i  on i.order_id = o.increment_id
	ORDER BY o.created_at DESC

	--SELECT ROW_NUMBER() OVER(ORDER BY increment_id ASC) AS Row#,
	--SELECT 
	--o.increment_id [Order Number], 
	--o.created_at [Order Date],
	--o.updated_at [Update Date],
	--o.coupon_code [Coupon Code], 
	--o.total_qty_ordered [Total Qty Ordered], 
	--o.total_item_count [Item Count], 
	--o.subtotal [SubTotal],
	--o.tax_amount [Tax Amount],
	--o.discount_amount [Discount Amount],
	--o.grand_total [Grand Total], 
	--o.status [Order Status],
	--o.state [Order State],
	--o.customer_email [Customer Email],
	--i.parent_item_id [Parent Item ID],
	--i.sku [Sku], 
	--i.name [Product Name], 
	--i.original_price [Original Price],
	--i.price [Product Price],
	--i.qty_ordered [Qty Ordered], 
	--i.qty_shipped [Qty Shipped]
	--FROM MAGE_Sales_Order o WITH (NOLOCK)
	--INNER JOIN #temp i  on i.order_id = o.increment_id
	--ORDER BY o.increment_id DESC

	DROP TABLE #temp

END
GO
