/****** Object:  StoredProcedure [dbo].[s_report_sku_error_sent_to_downstream_from_boomi]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 03/22/2021
-- Description: Sends an internal sku that has error when sending downstream from boomi report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_sku_error_sent_to_downstream_from_boomi] 
(@debug BIT = 0)
AS 
	BEGIN
		SET NOCOUNT ON

		DECLARE @Max INT, @Min INT, @Counter INT = 1, @Hour INT,  @FrequentRun INT = 1 

		SELECT @Max = Count(ID) FROM product_transaction_error_cat
		SET @Min = 0
  
		SET @Counter=1

		SELECT @Hour = (DATEPART(hh, GETDATE()))  
		
		WHILE ( @Counter <= @Max AND @Counter > @Min)
		BEGIN
			IF @debug = 1 BEGIN PRINT 'The counter value is = ' + CONVERT(VARCHAR,@Counter) END
			SELECT @FrequentRun = ISNULL(FrequentRunInHour,1) FROM product_transaction_error_cat WHERE id = @Counter
			--SET @HourRun = (@Hour / @FrequentRun)  
			IF @debug = 1 BEGIN PRINT '@Hour: ' + CAST(@Hour AS VARCHAR(3)) END
			IF @Hour % @FrequentRun = 0
			BEGIN
				IF @debug = 1 BEGIN PRINT '@HourRun: ' + CAST(@Hour AS VARCHAR(3)) END
				EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID= @Counter 
			END
			SET @Counter  = @Counter  + 1
		END
		-- EXEC [s_report_sku_error_sent_to_downstream_from_boomi] @debug = 1
		--EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=1, @Debug = 0
		--EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=2, @Debug = 0
		--EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=3, @Debug = 0
		--EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=4, @Debug = 0
		--EXEC [s_report_sku_error_sent_to_downstream_from_boomi_by_category] @ErrorCategoryID=5, @Debug = 0
		-- SELECT * FROM [EmailJobs_Queue] WITH (NOLOCK) WHERE [description] IN ('Sku Error Sent To Magento from Boomi', 'Sku Error Sent To NetSuite from Boomi')
		--SELECT * FROM product_transaction_error_contact
		-- select * FROM sys.extended_properties WHERE   [major_id] = OBJECT_ID('PIM_Status')
		-- EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'PIM_Status', @AttribName = 'LastNetsuiteUpdateID_databaseError', @Value = 1
	END
	 
GO
