/****** Object:  StoredProcedure [dbo].[s_update_email_queue_entry]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09-12-2019
-- Description: UPdates a record in EmailJobs_Queue
-- =============================================
CREATE PROCEDURE [dbo].[s_update_email_queue_entry]
(
      @ID BIGINT = 0
	, @Result VARCHAR(MAX)
	, @Success BIT = 1
	, @InternalError BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    
	DECLARE @rawData VARCHAR(MAX), @Email_Name VARCHAR(50), @Key_Name VARCHAR(50), @Key_Value VARCHAR(50), @SilverpopTrans VARCHAR(50), @ErrorCount VARCHAR(50), @EmailAddresses VARCHAR(200), @SilverpopResult VARCHAR(MAX)
	SELECT @rawData =[rawData], @Email_Name = [Email_Name], @Key_Value = [Key_Value], @Key_Name = [Key_Name], @EmailAddresses = emailAddresses, @SilverpopResult = ISNULL([Result],'') FROM dbo.EmailJobs_Queue WHERE [ID] = @ID
	IF @Email_Name = 'orderconfirm'
		BEGIN
			SET @SilverpopTrans = CASE WHEN @InternalError = 0 THEN [dbo].[fn_get_silverpop_trans_id_from_orderconfirm](@Result) ELSE NULL END
			SET @ErrorCount = CASE WHEN @InternalError = 0 THEN [dbo].[fn_get_silverpop_errors_from_response](@Result) ELSE '1' END
			SET @Key_Name = 'OrderNumber'
			SET @Key_Value = dbo.fn_get_key_value_from_orderconfirm(@rawData)
		END
	ELSE
		BEGIN
			IF @Email_Name = 'photovouchers'
				BEGIN
					SET @SilverpopTrans = CAST(@ID AS VARCHAR(50))
					SET @ErrorCount = '0'
					SET @Key_Name = 'ARCOrderNumber'
					SET @Key_Value = dbo.fn_get_key_value_from_photovouchers(@rawData)
					--Update [dbo].[GradPackPhotoAnnounceTransactions]
					UPDATE [dbo].[GradPackPhotoAnnounceTransactions] SET [Sent_DTM] = GETDATE(), [Silverpop_Response] = LEFT(@SilverpopResult,500)
					WHERE [Order_ID] = @Key_Value AND LTRIM(RTRIM([Sent_to_Email])) = LTRIM(RTRIM(@EmailAddresses))
				END
			ELSE
				IF @Email_Name = 'digitalcode'
					BEGIN
						SET @SilverpopTrans = CAST(@ID AS VARCHAR(50))
						SET @ErrorCount = '0'
						SET @Key_Name = 'DC+IncrementId.Item_Id'

						DECLARE @Increment_ID VARCHAR(25), @OrderID BIGINT, @SKU VARCHAR(100), @Item_ID BIGINT
						SELECT @Increment_ID = [VALUE] FROM OPENJSON(@rawdata) WHERE [key] = 'OrderID'
						SELECT @SKU = [VALUE] FROM OPENJSON(@rawdata) WHERE [key] = 'SKU'
						SELECT @OrderID = [Entity_id] FROM [dbo].[MAGE_Sales_Order] WHERE [increment_id] = @Increment_ID
						SELECT @Item_ID = [Item_id] FROM [dbo].[MAGE_sales_order_item] WHERE [order_id] = @OrderID AND [sku] = @SKU

						SELECT @Key_Value = 'DC' + @Increment_ID + '.' + CAST(@Item_ID AS VARCHAR(25))
					END
				ELSE
					IF @Email_Name = 'PhotoBookVouchers' 
						BEGIN
							--Don't do anything
							SET @ErrorCount = '0'
						END
					ELSE
						BEGIN
							SET @SilverpopTrans = CAST(@ID AS VARCHAR(50))
							SET @ErrorCount = '0'
							SET @Key_Name = 'Email'
							SET @Key_Value = LEFT(@EmailAddresses,50)
						END
		END
	UPDATE [dbo].[EmailJobs_Queue] SET [Result] = @Result, [SilverpopTrans] = @SilverpopTrans, [ErrorCount] = @ErrorCount, [Key_Name]= @Key_Name, [Key_Value] = @Key_Value, [Processed_DTM] = GETDATE(), [Retries] = CASE WHEN @Success = 1 THEN [Retries] ELSE ISNULL([Retries],0)+1 END, [Batch_ID] = CASE WHEN @Success = 1 OR ISNULL([Retries],0)+1 > 3 THEN [Batch_ID] ELSE NULL END WHERE [ID] = @ID
END
GO
