/****** Object:  StoredProcedure [dbo].[Upsert_MAGEcustomer_entity]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/18/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_MAGEcustomer_entity]
(	@confirmation varchar(64), 
	@created_at datetime, 
	@created_in varchar(255), 
	@default_billing int, 
	@default_shipping int, 
	@disable_auto_group_change smallint, 
	@dob date, 
	@email varchar(255), 
	@entity_id int, 
	@failures_num smallint, 
	@first_failure datetime, 
	@firstname varchar(255), 
	@gender smallint, 
	@group_id smallint, 
	@increment_id varchar(50), 
	@is_active smallint, 
	@lastname varchar(255), 
	@lock_expires datetime, 
	@middlename varchar(255), 
	@password_hash varchar(128), 
	@prefix varchar(40), 
	@rp_token varchar(128), 
	@rp_token_created_at datetime, 
	@store_id smallint, 
	@suffix varchar(40), 
	@taxvat varchar(50), 
	@updated_at datetime, 
	@website_id smallint
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF EXISTS (SELECT TOP 1 * FROM MAGEcustomer_entity WHERE [entity_id] = @entity_id)
	BEGIN
		UPDATE MAGEcustomer_entity
		SET
			[confirmation] = @confirmation, 
			[created_at] = @created_at, 
			[created_in] = @created_in, 
			[default_billing] = @default_billing, 
			[default_shipping] = @default_shipping, 
			[disable_auto_group_change] = @disable_auto_group_change, 
			[dob] = @dob, 
			[email] = @email, 
			[failures_num] = @failures_num, 
			[first_failure] = @first_failure, 
			[firstname] = @firstname, 
			[gender] = @gender, 
			[group_id] = @group_id, 
			[increment_id] = @increment_id, 
			[is_active] = @is_active, 
			[lastname] = @lastname, 
			[lock_expires] = @lock_expires, 
			[middlename] = @middlename, 
			[password_hash] = @password_hash, 
			[prefix] = @prefix, 
			[rp_token] = @rp_token, 
			[rp_token_created_at] = @rp_token_created_at, 
			[store_id] = @store_id, 
			[suffix] = @suffix, 
			[taxvat] = @taxvat, 
			[updated_at] = @updated_at, 
			[website_id] = @website_id
		FROM MAGEcustomer_entity
		WHERE [entity_id] = @entity_id
	END
ELSE
	BEGIN
		INSERT INTO MAGEcustomer_entity
		(
			[confirmation], 
			[created_at], 
			[created_in], 
			[default_billing], 
			[default_shipping], 
			[disable_auto_group_change], 
			[dob], 
			[email], 
			[entity_id], 
			[failures_num], 
			[first_failure], 
			[firstname], 
			[gender], 
			[group_id], 
			[increment_id], 
			[is_active], 
			[lastname], 
			[lock_expires], 
			[middlename], 
			[password_hash], 
			[prefix], 
			[rp_token], 
			[rp_token_created_at], 
			[store_id], 
			[suffix], 
			[taxvat], 
			[updated_at], 
			[website_id]
		)
		VALUES
		(
			@confirmation, 
			@created_at, 
			@created_in, 
			@default_billing, 
			@default_shipping, 
			@disable_auto_group_change, 
			@dob, 
			@email, 
			@entity_id, 
			@failures_num, 
			@first_failure, 
			@firstname, 
			@gender, 
			@group_id, 
			@increment_id, 
			@is_active, 
			@lastname, 
			@lock_expires, 
			@middlename, 
			@password_hash, 
			@prefix, 
			@rp_token, 
			@rp_token_created_at, 
			@store_id, 
			@suffix, 
			@taxvat, 
			@updated_at, 
			@website_id
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@entity_id as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGEcustomer_entity', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGEcustomer_entity', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGEcustomer_entity', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
