/****** Object:  StoredProcedure [dbo].[s_get_mainnav_affinity_data_bkup_08082023]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- TL
-- 10/06/2020
-- Description: Returns data used to power main nav affinity data pages
-- =============================================
CREATE PROCEDURE [dbo].[s_get_mainnav_affinity_data_bkup_08082023]
(
     @SMI BIGINT = 0
	,@Debug BIT = 0
	,@CallingSite VARCHAR(300) = ''
)
AS
--EXEC s_get_mainnav_affinity_data @SMI = 59827
--EXEC s_get_mainnav_affinity_data @SMI = 82 --Univesity of Texas at Arlington
--EXEC s_get_mainnav_affinity_data --Clemson
--EXEC s_get_mainnav_affinity_data --Texas Tech
--EXEC s_get_mainnav_affinity_data @SMI = 131619 --Sam Houston State University 
--EXEC s_get_affinity_data @SMI = 130457 --University of Houston
--EXEC s_get_affinity_data @SMI = 131548 --University of South Carolina at Columbia
--EXEC s_get_affinity_data @SMI = 131205 - NCSU

--EXEC s_get_affinity_data @SMI = 131276 -- NMSU
--EXEC s_get_affinity_data @SMI = 130996 --LSU
--EXEC s_get_affinity_data @SMI = 131722 --Virginia Tech - has school messages
--EXEC s_get_affinity_data @SMI = 131575 --Baylor
--EXEC s_get_affinity_data @SMI = 533 --Yearbook only
--EXEC s_get_affinity_data @SMI = 72793 -- Magnolia High School - Letterman
--EXEC s_get_affinity_data @SMI = 131662 -- UTA
--EXEC s_get_affinity_data @SMI = 131575 -- Baylor
--EXEC s_get_affinity_data @SMI = 131718 -- Virginia
--EXEC s_get_affinity_data @SMI = 130941 -- Purdue
--EXEC s_get_affinity_data @SMI = 130636 --Auburn
--EXEC s_get_affinity_data @SMI = 134432
--EXEC s_get_affinity_data @SMI = 132009, @Debug = 1 
--EXEC s_get_affinity_data @SMI = 1111111

BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Cnt INT
	SET @Cnt = 0
	SELECT @Cnt = COUNT(*) FROM ContentAffinityPages WHERE [SMI] = @SMI
	IF @Cnt = 0
		BEGIN
			--Try adding it
			If EXISTS(SELECT SMI FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI)
				BEGIN
				  INSERT INTO [dbo].[ContentAffinityPages] ([SMI]) VALUES (@SMI)
				  SET @Cnt = 1
				END
			ELSE
				BEGIN
					--Log it
					INSERT INTO [dbo].[SQLLog] ([Key_Value],[Data])
					VALUES ('s_get_Affinity_Data','[SMI] ' + CAST(@SMI AS VARCHAR(50)) + ' not found')
				END

		END
	IF @Cnt > 0
		BEGIN

		

			SELECT
    
				 S.[SMI] as [sMI]
				,[AffinityURL] as [affinityURL]
				,[AltName] as [schoolName]
				,[City] + ', ' + [State] as [cityState]
				,CASE WHEN LTRIM(RTRIM(ISNULL(AF.colorOverride,''))) <> '' THEN AF.colorOverride
					  WHEN LTRIM(RTRIM(ISNULL(AF.SchoolTextColor,''))) <> '' THEN AF.SchoolTextColor 
					  WHEN LTRIM(RTRIM(ISNULL([Color],''))) = '' THEN '#000000' ELSE [Color] END AS [schoolColor]		
				--,CASE WHEN LTRIM(RTRIM(ISNULL([Color],''))) = '' THEN '#000000' ELSE [Color] END as [schoolColor]
				--,ISNULL([LogoURL],'') as [logoURL]
				,CASE WHEN LTRIM(RTRIM(ISNULL([LogoURLOverride],''))) = '' THEN ISNULL([LogoURL],'') ELSE [LogoURLOverride] END as [logoURL]
				,ISNULL(@CallingSite,'') as [CallingSite]
				,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt') as [timeStamp]
				, DB_NAME()  as [instance]
				, CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
				, OBJECT_NAME(@@PROCID) as [sproc]
				, CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
			FROM [dbo].[School_URL_Master] S 
			INNER JOIN [dbo].[ContentAffinityPages] AF ON AF.[SMI] = S.[SMI]
			--LEFT JOIN [dbo].[ContentAffinityPages] AFDefault ON AFDefault.[SMI] = CASE WHEN @GradeLevel = 'College' THEN  -1 ELSE -2 END
			WHERE S.[SMI] = @SMI
			FOR JSON PATH
		END

		
END
GO
