/****** Object:  StoredProcedure [dbo].[s_get_virtcommparticipants_records]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 5/22/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_virtcommparticipants_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --NameID, FirstName, LastName
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'ASC'
	, @sortField VARCHAR(50) = 'LastName'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @parentID INT = 0
	, @title VARCHAR(200) = '' OUT
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [VirtCommParticipants] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [VirtCommParticipants].
--##PD @searchField - The field to search on (NameID, FirstName, LastName)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [VirtCommParticipants].

--DECLARE @totalRecords INT; EXEC s_get_virtcommparticipants_records  @ParentID=14, @searchField = 'LastName', @searchTerm = '', @pageSize=10, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
DECLARE @SMI INT
IF ISNULL(@parentID,0) > 0 
	SELECT @SMI = SMI, @title = [Title] FROM [dbo].[VirtCommMaster] WHERE [ID] = @parentID
ELSE
	SET @parentID = 0
--Setting a key value overrides everything else
IF @ID IS NOT NULL --OR ISNULL(@parentID,0) > 0
	BEGIN
		
		SET @searchField = ''
		SELECT
		 [EventID]
		,[NameID]
		,[FirstName]
		,[LastName]
		--,[ZOrder]
		--,[RegistrationCode]
		--,[PFirstName]
		--,[PLastName]
		--,[PAddressID]
		--,[PAddress1]
		--,[PAddress2]
		--,[PCity]
		--,[PState]
		--,[PZip]
		--,[PCountry]
		--,[PPhone]
		--,[PCellPhone]
		,[PEmail]
		--,[SAddressID]
		--,[SAddress1]
		--,[SAddress2]
		--,[SCity]
		--,[SState]
		--,[SZip]
		--,[SCountry]
		--,[SPhone]
		--,[SCellPhone]
		--,[SEmail]
		--,[T1AddressID]
		--,[T1Address1]
		--,[T1Address2]
		--,[T1City]
		--,[T1State]
		--,[T1Zip]
		--,[T1Country]
		--,[T1Phone]
		--,[T1CellPhone]
		--,[T1Email]
		--,[T2AddressID]
		--,[T2Address1]
		--,[T2Address2]
		--,[T2City]
		--,[T2State]
		--,[T2Zip]
		--,[T2Country]
		--,[T2Phone]
		--,[T2CellPhone]
		--,[T2Email]
		--,[T3AddressID]
		--,[T3Address1]
		--,[T3Address2]
		--,[T3City]
		--,[T3State]
		--,[T3Zip]
		--,[T3Country]
		--,[T3Phone]
		--,[T3CellPhone]
		--,[T3Email]
		--,[T4AddressID]
		--,[T4Address1]
		--,[T4Address2]
		--,[T4City]
		--,[T4State]
		--,[T4Zip]
		--,[T4Country]
		--,[T4Phone]
		--,[T4CellPhone]
		--,[T4Email]
		--,[T5AddressID]
		--,[T5Address1]
		--,[T5Address2]
		--,[T5City]
		--,[T5State]
		--,[T5Zip]
		--,[T5Country]
		--,[T5Phone]
		--,[T5CellPhone]
		--,[T5Email]
		--,[YearbookSpots]
		--,[Spots]
		--,[RescheduledMonth]
		--,[VerticalImage]
		--,[QuoteOnGraduationSlide]
		--,[BBRegistrationCode]
		,[SMI]
		,[SubAccount]
		,[BatchID]
		,[ImageURL]
		--,[Gender]
		--,[Model_Year]
		--,[Sign_Up_Date]
		--,[New_Customer]
		--,[LandingPage]
		--,[Video]
		--,[Thumbnail]
		--,[Thumbnail_1]
		--,[CParticipant_Name]
		--,[R3_Select_A_Photo]
		--,[R4_Degree_Major]
		--,[R5_Area_Of_Study]
		,[FullName]
		,[GUID]
		,[CCSFileName]
		,[IdomooFileName]
		,[ID]
		,[Idomoo_Thumbnail]
		,FORMAT(dbo.fn_DateTime_to_Central([FinalEmailQueued]), 'MM/dd/yyyy hh:mm:ss tt') AS [FinalEmailQueued]
		,[Idomoo_landingpage]
		,[Idomoo_Video_link]
		,[Frame]
		FROM [VirtCommParticipants]
		WHERE [ID] =  @ID 
		

		SELECT @totalRecords = COUNT(*) FROM [dbo].[VirtCommParticipants]
		WHERE [ID] = CASE WHEN @SMI = 0 THEN @ID ELSE [ID] END
		AND [SMI] = CASE WHEN @SMI = 0 THEN [SMI] ELSE @SMI END
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [VirtCommParticipants]
		WHERE [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
		AND ISNULL([NameID],'') LIKE CASE WHEN @searchField = 'NameID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([NameID],'') END
		AND ISNULL([FirstName],'') LIKE CASE WHEN @searchField = 'FirstName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FirstName],'') END
		AND ISNULL([LastName],'') LIKE CASE WHEN @searchField = 'LastName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([LastName],'') END
		AND ISNULL([Frame],'') = CASE WHEN @searchField = 'InvalidImage' THEN '' ELSE ISNULL([Frame],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [EventID]
				,[NameID]
				,[FirstName]
				,[LastName]
				--,[ZOrder]
				--,[RegistrationCode]
				--,[PFirstName]
				--,[PLastName]
				--,[PAddressID]
				--,[PAddress1]
				--,[PAddress2]
				--,[PCity]
				--,[PState]
				--,[PZip]
				--,[PCountry]
				--,[PPhone]
				--,[PCellPhone]
				,[PEmail]
				--,[SAddressID]
				--,[SAddress1]
				--,[SAddress2]
				--,[SCity]
				--,[SState]
				--,[SZip]
				--,[SCountry]
				--,[SPhone]
				--,[SCellPhone]
				--,[SEmail]
				--,[T1AddressID]
				--,[T1Address1]
				--,[T1Address2]
				--,[T1City]
				--,[T1State]
				--,[T1Zip]
				--,[T1Country]
				--,[T1Phone]
				--,[T1CellPhone]
				--,[T1Email]
				--,[T2AddressID]
				--,[T2Address1]
				--,[T2Address2]
				--,[T2City]
				--,[T2State]
				--,[T2Zip]
				--,[T2Country]
				--,[T2Phone]
				--,[T2CellPhone]
				--,[T2Email]
				--,[T3AddressID]
				--,[T3Address1]
				--,[T3Address2]
				--,[T3City]
				--,[T3State]
				--,[T3Zip]
				--,[T3Country]
				--,[T3Phone]
				--,[T3CellPhone]
				--,[T3Email]
				--,[T4AddressID]
				--,[T4Address1]
				--,[T4Address2]
				--,[T4City]
				--,[T4State]
				--,[T4Zip]
				--,[T4Country]
				--,[T4Phone]
				--,[T4CellPhone]
				--,[T4Email]
				--,[T5AddressID]
				--,[T5Address1]
				--,[T5Address2]
				--,[T5City]
				--,[T5State]
				--,[T5Zip]
				--,[T5Country]
				--,[T5Phone]
				--,[T5CellPhone]
				--,[T5Email]
				--,[YearbookSpots]
				--,[Spots]
				--,[RescheduledMonth]
				--,[VerticalImage]
				--,[QuoteOnGraduationSlide]
				--,[BBRegistrationCode]
				,[SMI]
				,[SubAccount]
				,[BatchID]
				,[ImageURL]
				--,[Gender]
				--,[Model_Year]
				--,[Sign_Up_Date]
				--,[New_Customer]
				--,[LandingPage]
				--,[Video]
				--,[Thumbnail]
				--,[Thumbnail_1]
				--,[CParticipant_Name]
				--,[R3_Select_A_Photo]
				--,[R4_Degree_Major]
				--,[R5_Area_Of_Study]
				,[FullName]
				,[GUID]
				,[CCSFileName]
				,[IdomooFileName]
				,[ID]
				,[Idomoo_Thumbnail]
				,FORMAT(dbo.fn_DateTime_to_Central([FinalEmailQueued])				, 'MM/dd/yyyy hh:mm:ss tt') AS [FinalEmailQueued]
				,[Idomoo_landingpage]
				,[Idomoo_Video_link]
				,[Frame]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'NameID' THEN RIGHT(REPLICATE('0',49) + CAST([NameID] AS VARCHAR(50)),50) WHEN 'FirstName' THEN [FirstName] WHEN 'LastName' THEN [LastName] WHEN 'Frame' THEN [Frame] END DESC) as RowNumber
				FROM [dbo].[VirtCommParticipants]
				WHERE [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND ISNULL([NameID],'') LIKE CASE WHEN @searchField = 'NameID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([NameID],'') END
				AND ISNULL([FirstName],'') LIKE CASE WHEN @searchField = 'FirstName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FirstName],'') END
				AND ISNULL([LastName],'') LIKE CASE WHEN @searchField = 'LastName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([LastName],'') END
				AND ISNULL([Frame],'') = CASE WHEN @searchField = 'InvalidImage' THEN '' ELSE ISNULL([Frame],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [EventID]
				,[NameID]
				,[FirstName]
				,[LastName]
				--,[ZOrder]
				--,[RegistrationCode]
				--,[PFirstName]
				--,[PLastName]
				--,[PAddressID]
				--,[PAddress1]
				--,[PAddress2]
				--,[PCity]
				--,[PState]
				--,[PZip]
				--,[PCountry]
				--,[PPhone]
				--,[PCellPhone]
				,[PEmail]
				--,[SAddressID]
				--,[SAddress1]
				--,[SAddress2]
				--,[SCity]
				--,[SState]
				--,[SZip]
				--,[SCountry]
				--,[SPhone]
				--,[SCellPhone]
				--,[SEmail]
				--,[T1AddressID]
				--,[T1Address1]
				--,[T1Address2]
				--,[T1City]
				--,[T1State]
				--,[T1Zip]
				--,[T1Country]
				--,[T1Phone]
				--,[T1CellPhone]
				--,[T1Email]
				--,[T2AddressID]
				--,[T2Address1]
				--,[T2Address2]
				--,[T2City]
				--,[T2State]
				--,[T2Zip]
				--,[T2Country]
				--,[T2Phone]
				--,[T2CellPhone]
				--,[T2Email]
				--,[T3AddressID]
				--,[T3Address1]
				--,[T3Address2]
				--,[T3City]
				--,[T3State]
				--,[T3Zip]
				--,[T3Country]
				--,[T3Phone]
				--,[T3CellPhone]
				--,[T3Email]
				--,[T4AddressID]
				--,[T4Address1]
				--,[T4Address2]
				--,[T4City]
				--,[T4State]
				--,[T4Zip]
				--,[T4Country]
				--,[T4Phone]
				--,[T4CellPhone]
				--,[T4Email]
				--,[T5AddressID]
				--,[T5Address1]
				--,[T5Address2]
				--,[T5City]
				--,[T5State]
				--,[T5Zip]
				--,[T5Country]
				--,[T5Phone]
				--,[T5CellPhone]
				--,[T5Email]
				--,[YearbookSpots]
				--,[Spots]
				--,[RescheduledMonth]
				--,[VerticalImage]
				--,[QuoteOnGraduationSlide]
				--,[BBRegistrationCode]
				,[SMI]
				,[SubAccount]
				,[BatchID]
				,[ImageURL]
				--,[Gender]
				--,[Model_Year]
				--,[Sign_Up_Date]
				--,[New_Customer]
				--,[LandingPage]
				--,[Video]
				--,[Thumbnail]
				--,[Thumbnail_1]
				--,[CParticipant_Name]
				--,[R3_Select_A_Photo]
				--,[R4_Degree_Major]
				--,[R5_Area_Of_Study]
				,[FullName]
				,[GUID]
				,[CCSFileName]
				,[IdomooFileName]
				,[ID]
				,[Idomoo_Thumbnail]
				,FORMAT(dbo.fn_DateTime_to_Central([FinalEmailQueued]), 'MM/dd/yyyy hh:mm:ss tt') AS [FinalEmailQueued]
				,[Idomoo_landingpage]
				,[Idomoo_Video_link]
				,[Frame]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'NameID' THEN RIGHT(REPLICATE('0',49) + CAST([NameID] AS VARCHAR(50)),50) WHEN 'FirstName' THEN [FirstName] WHEN 'LastName' THEN [LastName] WHEN 'Frame' THEN [Frame] END) as RowNumber
				FROM [dbo].[VirtCommParticipants]
				WHERE [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND ISNULL([NameID],'') LIKE CASE WHEN @searchField = 'NameID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([NameID],'') END
				AND ISNULL([FirstName],'') LIKE CASE WHEN @searchField = 'FirstName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([FirstName],'') END
				AND ISNULL([LastName],'') LIKE CASE WHEN @searchField = 'LastName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([LastName],'') END
				AND ISNULL([Frame],'') = CASE WHEN @searchField = 'InvalidImage' THEN '' ELSE ISNULL([Frame],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
