/****** Object:  StoredProcedure [dbo].[s_get_image_info_by_sku]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[s_get_image_info_by_sku]
(
    -- Add the parameters for the stored procedure here
    @sku varchar(13),
	@smi int = 0,
	@DiagnosticInformation varchar(1000) = '' output
)
-- EXEC [dbo].[s_get_image_info_by_sku] @SKU = 'affinity', @SMI = 0
-- EXEC [dbo].[s_get_image_info_by_sku] @SKU = 'A0012002A0000', @SMI = 135164

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	declare @url varchar(500) = ''
	--Start BAS-7381
	if @SKU = 'affinityhero'
	begin
		DECLARE @SchoolGradeLevel VARCHAR(50)
		SELECT @SchoolGradeLevel = ''
		
		SET @SchoolGradeLevel = [dbo].[fn_Affinity_GradeLevel](@smi)
		
		SET @url = CASE WHEN @SchoolGradeLevel = 'College' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/Balfour%20school%20images/SchoolStore_Hero_College.jpg' 
		WHEN @SchoolGradeLevel = 'High School' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/Balfour%20school%20images/SchoolStore_Hero_HighSchool.jpg'
		WHEN @SchoolGradeLevel = 'Middle School' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/Balfour%20school%20images/SchoolStore_Hero_Middle.jpg'
		WHEN @SchoolGradeLevel = 'Elementary' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/Balfour%20school%20images/SchoolStore_Hero_Elementary.jpg'
		 ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/affinity/default-images/Balfour%20school%20images/SchoolStore_Hero_College.jpg' END
	end
	if @SKU = 'affinitylogo'
	begin
	SET @url ='https://aac-static-assets.s3.amazonaws.com/prod/img/balfour/affinity/default-images/Balfour+Images/Affinity/school_logo_coming_soon.png'
	end
	--End BAS-7381

	-- find image specific to this SMI + SKU combo
    select top 1 @url = REPLACE(p.marketing_image_url, '.jpg', '_800x800.jpg')
	from magento_automated_product_dataset p	
	where 
		(
			@smi = ISNULL([Exclusive SMI],'')
			OR
			@smi IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ','))
		)
		AND p.SKU = @sku
	
	SET @DiagnosticInformation = 'Found by SMI and SKU'

	-- if nothing was found, try and lookup the generic image for this SKU
	if ISNULL(@url,'') = ''
	begin
	-- If canto is null, then set the products defaul image instead of marketing image - Pravin - 22Aug2025
	--	select top 1 @url = REPLACE(p.marketing_image_url, '.jpg', '_800x800.jpg')
		select top 1 @url = p.image_url
		from magento_automated_product_dataset p	
		where p.[sku] = @sku

		SET @DiagnosticInformation = 'Found by SKU'
	end
	
	-- if nothing was found, try and lookup the non-product image for this SKU (which is not really a SKU)
	if ISNULL(@url,'') = ''
	begin
	    DECLARE @GradeLevel VARCHAR(50), @AffinityGradeLevel VARCHAR(50)
		SELECT @GradeLevel = '', @AffinityGradeLevel = ''
		SET @AffinityGradeLevel = [dbo].[fn_Affinity_GradeLevel](@smi)
		if @SKU = 'affinity'
			BEGIN
				--Get the grade level
				SELECT @GradeLevel = CASE WHEN @AffinityGradeLevel = 'College' THEN '' WHEN @AffinityGradeLevel = 'High School' /*ISNULL([IsHighSchool],0) = 1*/ THEN '_hs' ELSE '_ms' END FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI

			END
		select top 1 @url = [url]
		from [dbo].[ContentNoSMINonProductImages] 
		WHERE [SKU] = @sku + @GradeLevel

		SET @DiagnosticInformation = 'Found by non-product image'
	end



	-- Older version 
	---- find image specific to this SMI + SKU combo
 --   select top 1 @url = 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_300x300.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg'
	--from magento_automated_product_dataset p
	--left join [itemattributesimages] ia ON ia.itemid = p.itemid
	--where 
	--	(
	--		@smi = ISNULL([Exclusive SMI],'')
	--		OR
	--		@smi IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ','))
	--	)
	--	AND p.SKU = @sku
	
	---- if nothing was found, try and lookup the generic image for this SKU
	--if ISNULL(@url,'') = ''
	--begin
	--	select top 1 @url =  'https://d3qsmzzpeeacu6.cloudfront.net/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_300x300.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg'
	--	from [itemattributesimages]  ia
	--	where ia.[sku] = @sku
	--end

	---- if nothing was found, try and lookup the non-product image for this SKU (which is not really a SKU)
	--if ISNULL(@url,'') = ''
	--begin
	--    DECLARE @GradeLevel VARCHAR(50), @AffinityGradeLevel VARCHAR(50)
	--	SELECT @GradeLevel = '', @AffinityGradeLevel = ''
	--	SET @AffinityGradeLevel = [dbo].[fn_Affinity_GradeLevel](@smi)
	--	if @SKU = 'affinity'
	--		BEGIN
	--			--Get the grade level
	--			SELECT @GradeLevel = CASE WHEN @AffinityGradeLevel = 'College' THEN '' WHEN @AffinityGradeLevel = 'High School' /*ISNULL([IsHighSchool],0) = 1*/ THEN '_hs' ELSE '_ms' END FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI

	--		END
	--	select top 1 @url =  [url] --'https://d3qsmzzpeeacu6.cloudfront.net/all/' + REPLACE(REPLACE(REPLACE(REPLACE(url,'_300x300.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg'
	--	from [dbo].[ContentNoSMINonProductImages] 
	--	WHERE [SKU] = @sku + @GradeLevel
	--end

	-- if still nothing was found, return the placeholder image 
	-- from the product - Chnages done by Pravin on 22-Mar-2024
	if ISNULL(@url,'') = ''
	begin
		-- set @url = 'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_ImageComingSoon_800x800.jpg'

		select @url = COALESCE(p.image_url,'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_ImageComingSoon_800x800.jpg')
		from magento_automated_product_dataset p	
		where p.[sku] = @sku

		SET @DiagnosticInformation = 'No results found'
	end
	select @url as ImageUrl
END
GO
