/****** Object:  StoredProcedure [dbo].[s_update_pricing]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_update_pricing]
(
	@Prices dbo.PricingUploadTable READONLY
)
AS
SET NOCOUNT ON
INSERT INTO dbo.SQLLog ([Key_Value],[Data]) VALUES ('s_update_pricing','Started')
TRUNCATE TABLE dbo.PricingUpdate
INSERT INTO dbo.PricingUpdate ([SKU],[Price],[Special_Price])
SELECT [SKU], [Price], [Special_Price] FROM @Prices
SELECT COUNT(*) as [Count] FROM dbo.PricingUpdate
UPDATE [dbo].[magento_automated_product_dataset] 
SET [Retail Price] = [Price], [Special Price (% for bundles)] = [Special_Price]
FROM [PricingUpdate] U
INNER JOIN [dbo].[magento_automated_product_dataset] P ON P.SKU = U.SKU

truncate table cross_sell_cache_new
truncate table  cross_sell_cache
truncate table  cross_sell_processed
truncate table  ymal_cache_new
truncate table  ymal_cache
truncate table  ymal_processed
DECLARE @Cnt INT
SELECT @Cnt = COUNT(*) FROM dbo.PricingUpdate
INSERT INTO dbo.SQLLog ([Key_Value],[Data]) VALUES ('s_update_pricing','Ended - ' + CAST(@Cnt AS VARCHAR(15)) + ' records updated')
GO
