/****** Object:  StoredProcedure [dbo].[s_get_voucher_redemption]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Han
-- Create Date: 12/13/2019
-- Description: Sproc used to see which photo announcement vouchers have been used
-- =============================================
CREATE PROCEDURE  [dbo].[s_get_voucher_redemption]
(
	@StartDate DATETIME = NULL
	,@EndDate DATETIME = NULL
)
AS
IF @StartDate IS NULL
	SET @StartDate = '1/1/1900'
IF @EndDate IS NULL
	SET @EndDate = GETDATE()
SELECT 
	distinct (msi.price * msi.qty_ordered)  AS [Item Amount]
	--,msi.price as Price
	--,msi.qty_ordered as [Qty Ordered]
	,ISNULL(GPT.[Code],'') as [Voucher Code]
	,Convert(date,convert(varchar(10), GPT.[Sent_DTM], 120)) AS [Voucher Sent] --GPT.[Sent_DTM] as [Voucher Sent]
	,X.Amount as [Voucher Amount]	 
	--,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN '' ELSE CAST(DATEPART(month,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,MSO.[created_at]) as VARCHAR(4)) END as [Voucher Redeemed]
	,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN '' ELSE MSO.[increment_id] END as [Redeemed OrderID]	
	,msi.sku as SKU
	,msi.[name] as [Product Name]
	,GPT.Sent_to_Email
	--FROM [ARC_Orders] AO
	--LEFT JOIN dbo.GradPackPhotoAnnounceTransactions GPT ON GPT.Order_ID = AO.Order_Number
	--LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID
	--LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON MSO.coupon_code = GPT.[Code]
	--LEFT JOIN [dbo].[MAGE_Sales_Order_item] MSI ON MSI.order_id = mso.[entity_id]
	FROM 
	dbo.GradPackPhotoAnnounceTransactions GPT  
	LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON   MSO.coupon_code = GPT.[Code]
	LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID	
	LEFT JOIN [dbo].[MAGE_Sales_Order_item] MSI ON MSI.order_id = mso.[entity_id]
	WHERE ISNULL(GPT.Code,'') <> '' AND GPT.[Sent_DTM] IS NOT NULL AND X.Amount IS NOT NULL	
	AND MSO.increment_id IS NOT NULL
	AND ISNULL(GPT.[Overwritten_By],'') = ''
	AND CHARINDEX(CAST(MAGE_Rule_ID AS VARCHAR), MSI.Applied_Rule_ids) > 0
	ORDER BY msi.sku
 -- AND [Order_Received_Date] BETWEEN @startDate AND @endDate
	--GROUP BY GPT.[Code], X.Amount, MSO.[coupon_code], GPT.[Sent_DTM],MSO.[created_at], msi.sku, msi.[name],msi.price,msi.qty_ordered
 
 --select top 10 * from dbo.GradPackPhotoAnnounceTransactions GPT  
 --select top 190 * from [MAGE_Sales_Order_item] i 
 --select top 13 i.order_id, gpt.Order_ID, * from [MAGE_Sales_Order_item] i 
 --inner join dbo.GradPackPhotoAnnounceTransactions GPT  on i.order_id = gpt.Order_ID
GO
