/****** Object:  StoredProcedure [dbo].[s_get_cache_busting_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 10/16/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_cache_busting_records]
(
	  @ID BIGINT = NULL
	, @searchField VARCHAR(50) = '' --ID, Cache_Name, Description
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0 --The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves the specified records from the table [Cache_Busting] if the parameter @ID has a value or all records if null.
--##PD @ID = [ID] in [EmailJobs_Queue].
--##RS1 One or all records from the table [EmailJobs_Queue].

--DECLARE @totalRecords INT; EXEC s_get_cache_busting_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords


SET NOCOUNT ON
--Order_Number search overrides all search criteria
IF @ID IS NOT NULL
	BEGIN
		
		SET @searchField = ''
		SELECT
			 [ID]
			,[Cache_Name]
			,[Cache_Code]
			,[Description]
			,[QA_URL]
			,[Prod_URL]
			,[QA_Auth_Token]
			,[Prod_Auth_Token]
			,ISNULL([Cache_Type],0) as [Cache_Type]
			,1 as RowNumber
			FROM [dbo].[Cache_Busting]
			WHERE [ID] = @ID
		SELECT @totalRecords = COUNT(*) FROM [dbo].[Cache_Busting]
			WHERE [ID] = @ID
	END
ELSE
	BEGIN
		
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip*@pageSize)+1
		SET @endrow = (@startRow+@pageSize)-1

		IF @sortField = '' SET @sortField = @searchField

		--Create a temp table because we will need to sort the results in the event that the sort field and search field are not the same
		CREATE TABLE #Results(
			[ID] INT,
			[Cache_Name] VARCHAR(50),
			[Cache_Code] VARCHAR(50),
			[Description] VARCHAR(MAX),
			[QA_URL] VARCHAR(100),
			[Prod_URL] VARCHAR(100),
			[QA_Auth_Token] VARCHAR(50),
			[Prod_Auth_Token] VARCHAR(50),
			[Cache_Type] INT,
			[RowNumber] INT
		) 


		--Get the total count
		SELECT @totalRecords = COUNT(*) 
		FROM [Cache_Busting] 
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE CAST(@ID AS VARCHAR(15)) END
			AND [Cache_Name] LIKE CASE WHEN @searchField = 'Cache_Name' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Cache_Name] END
			AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE ISNULL([Description],'') END


		DECLARE @TSQL NVARCHAR(MAX)


		SET @TSQL = N'
			; WITH SelectedRows AS (
			SELECT
			   [ID]
			,[Cache_Name]
			,[Cache_Code]
			,[Description]
			,[QA_URL]
			,[Prod_URL]
			,[QA_Auth_Token]
			,[Prod_Auth_Token]
			,ISNULL([Cache_Type],0) as [Cache_Type]
			  ,ROW_NUMBER() OVER (ORDER BY ' + CASE WHEN @sortField <> 'EmailAddresses' THEN '[' + @sortField + '] ' ELSE 'dbo.fn_DString([EmailAddresses]) ' END + @sort + N' ) as RowNumber
			FROM [dbo].[Cache_Busting]
			WHERE [ID] = ' + CASE WHEN @ID IS NULL THEN '[ID]' ELSE CAST(@ID AS VARCHAR(15)) END + N'
			AND [Cache_Name] LIKE ' + CASE WHEN @searchField = 'Cache_Name' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE '[Cache_Name]' END + N'
			AND ISNULL([Description],'''') LIKE ' + CASE WHEN @searchField = 'Description' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE 'ISNULL([Description],'''')' END + N'
			)
			INSERT INTO #Results
			SELECT * FROM SelectedRows WHERE RowNumber between ' + CAST(@startRow AS VARCHAR(15)) + ' AND ' + CAST(@endRow AS VARCHAR(15)) 
		--PRINT @TSQL
		--ORDER BY @sortField ASC

		EXEC sp_sqlexec @TSQL
		SELECT * FROM #Results ORDER BY RowNumber



		DROP TABLE #Results
	END
GO
