/****** Object:  StoredProcedure [dbo].[s_update_included_excluded_smis]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 06/08/2022
-- Description: Uses data from Magento to update product_included_smi and product_excluded_smi
-- Updated Date: 09/14/2022
-- change log Exclude smi = 0 records
-- =============================================
CREATE PROCEDURE [dbo].[s_update_included_excluded_smis]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	-- product_included_smis

	-- in the table but not the view - these records should be deleted from the table
	delete p
	from product_included_smi p
	where 
	p.Included_SMI > 0
	and not exists (
	select *
	from view_product_included_smi v
	where p.Included_SMI = v.included_smi
	and p.sku = v.sku
	)

	-- in the view but not the table - these records need added to the table
	insert into product_included_smi
	(sku, [Included_SMI])
	select sku, included_smi
	from view_product_included_smi v
	where not exists (
	select *
	from product_included_smi p
	where p.Included_SMI = v.included_smi
	and p.sku = v.sku
	) and v.included_smi > 0

	-- product_excluded_smis

	-- in the table but not the view - these records should be deleted from the table
	delete p
	from product_excluded_smi p
	where 
	p.excluded_SMI > 0
	and not exists (
	select *
	from view_product_excluded_smi v
	where p.excluded_SMI = v.excluded_smi
	and p.sku = v.sku
	)

	-- in the view but not the table - these records need added to the table
	insert into product_excluded_smi
	(sku, [excluded_SMI])
	select sku, excluded_smi
	from view_product_excluded_smi v
	where not exists (
	select *
	from product_excluded_smi p
	where p.excluded_SMI = v.excluded_smi
	and p.sku = v.sku
	)
	and v.excluded_smi > 0
END
GO
