/****** Object:  StoredProcedure [dbo].[Upsert_MAGE_v_sales_orders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/19/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_MAGE_v_sales_orders]
(	@Item_ID bigint, 
	@order_date datetime, 
	@Order_ID varchar(50), 
	@Qty_Ordered int, 
	@Row_Total_Incl_Tax decimal(12, 4), 
	@SKU varchar(500), 
	@smi int,
	@order_status varchar(100),
	@student_id varchar(255),
	@name varchar(255)
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF EXISTS (SELECT TOP 1 * FROM MAGE_v_sales_orders WHERE [item_id] = @item_id)
	BEGIN
		UPDATE MAGE_v_sales_orders
		SET
			[Item_ID] = @Item_ID, 
			[order_date] = @order_date, 
			[Order_ID] = @Order_ID, 
			[Qty_Ordered] = @Qty_Ordered, 
			[Row_Total_Incl_Tax] = @Row_Total_Incl_Tax, 
			[SKU] = @SKU, 
			[smi] = @smi,
			[order_status] = @order_status,
			[student_id] = @student_id,
			[name] = @name
		FROM MAGE_v_sales_orders
		WHERE [item_id] = @item_id
	END
ELSE
	BEGIN
		INSERT INTO MAGE_v_sales_orders
		(
			[Item_ID], 
			[order_date], 
			[Order_ID], 
			[Qty_Ordered], 
			[Row_Total_Incl_Tax], 
			[SKU], 
			[smi],
			[order_status],
			[student_id],
			[name]
		)
		VALUES
		(
			@Item_ID, 
			@order_date, 
			@Order_ID, 
			@Qty_Ordered, 
			@Row_Total_Incl_Tax, 
			@SKU, 
			@smi,
			@order_status,
			@student_id,
			@name
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@item_id as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_sales_orders', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_sales_orders', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_v_sales_orders', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
