/****** Object:  StoredProcedure [dbo].[s_update_affinitypage_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/30/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_affinitypage_record]
(
 @affinityCTAButtonText VARCHAR(50) = NULL
,@categoryShopTitle VARCHAR(200) = NULL
,@classRingsHeadline VARCHAR(100) = NULL
,@classRingsSubheadline VARCHAR(100) = NULL
,@classRingsTileBottomText VARCHAR(100) = NULL
,@classRingsTileCTALink VARCHAR(200) = NULL
,@classRingsTileCTALinkNewTab BIT = NULL
,@classRingsTileImage VARCHAR(200) = NULL
,@classRingsTileImageMobile VARCHAR(200) = NULL
,@classRingsTileTopText VARCHAR(100) = NULL
,@emailCollectionCTAButtonText VARCHAR(50) = NULL
,@emailCollectionText VARCHAR(MAX) = NULL
,@emailCollectionTitle VARCHAR(100) = NULL
,@graduationHeadline VARCHAR(100) = NULL
,@graduationSubheadline VARCHAR(200) = NULL
,@GUID VARCHAR(50) = NULL
,@inProduction BIT = NULL
,@lastUpdated DATETIME = NULL
--,@lgBoxGradPacksCTAButtonText VARCHAR(50) = NULL
--,@lgBoxGradPacksImage VARCHAR(200) = NULL
--,@lgBoxGradPacksLink VARCHAR(200) = NULL
--,@lgBoxGradPacksText VARCHAR(200) = NULL
--,@lgBoxYearbookCTAButtonText VARCHAR(200) = NULL
--,@lgBoxYearbooksImage VARCHAR(200) = NULL
--,@lgBoxYearbooksLink VARCHAR(200) = NULL
--,@lgBoxYearbooksText VARCHAR(200) = NULL
--,@medBoxImageOne VARCHAR(200) = NULL
--,@medBoxImageOneMobile VARCHAR(200) = NULL
--,@medBoxImageThree VARCHAR(200) = NULL
--,@medBoxImageThreeMobile VARCHAR(200) = NULL
--,@medBoxImageTwo VARCHAR(200) = NULL
--,@medBoxImageTwoMobile VARCHAR(200) = NULL
--,@medBoxLinkOne VARCHAR(200) = NULL
--,@medBoxLinkThree VARCHAR(200) = NULL
--,@medBoxLinkTwo VARCHAR(200) = NULL
--,@medBoxTaglineOne VARCHAR(200) = NULL
--,@medBoxTaglineThree VARCHAR(200) = NULL
--,@medBoxTaglineTwo VARCHAR(200) = NULL
--,@medBoxTextOne VARCHAR(MAX) = NULL
--,@medBoxTextThree VARCHAR(MAX) = NULL
--,@medBoxTextTwo VARCHAR(MAX) = NULL
,@paymentsTileHeadline VARCHAR(100) = NULL
,@paymentsTileText VARCHAR(MAX) = NULL
,@ringSizeHeadline VARCHAR(200) = NULL
,@ringSizeLink VARCHAR(200) = NULL
,@ringSizeLinkText VARCHAR(MAX) = NULL
,@ringSizeText VARCHAR(MAX) = NULL
,@schoolShopCTAButtonText VARCHAR(50) = NULL
,@schoolShopHeadline VARCHAR(200) = NULL
,@schoolShopSubheadline VARCHAR(MAX) = NULL
,@seasonalPromoBannerCTAButtonLink VARCHAR(100) = NULL
,@seasonalPromoBannerCTAButtonText VARCHAR(50) = NULL
,@seasonalPromoBannerImage VARCHAR(200) = NULL
,@seasonalPromoBannerImageMobile VARCHAR(200) = NULL
,@seasonalPromoBannerText VARCHAR(MAX) = NULL
,@seasonalPromoBannerTitle VARCHAR(100) = NULL
,@SMI BIGINT = NULL
,@topHeadline VARCHAR(100) = NULL
,@topPromoBannerHTML VARCHAR(MAX) = NULL
,@topSubheadline VARCHAR(300) = NULL
,@schoolTextColor VARCHAR(25) = NULL
,@schoolBackgroundColor VARCHAR(25) = NULL
,@ID INT = 0
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [AffinityPage].
--##RS1 The [ID] value of the inserted/updated record in the table [AffinityPage].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [AffinityPage] ( [emailCollectionTitle],[seasonalPromoBannerCTAButtonText],[classRingsTileImageMobile]/*,[medBoxTaglineThree]*/,[schoolShopSubheadline]/*,[medBoxTextTwo]*/,[classRingsHeadline]/*,[medBoxImageThree]*/,[SMI],[graduationHeadline],[inProduction],[paymentsTileText],[classRingsTileCTALink]/*,[lgBoxYearbooksLink]*/,[ringSizeText]/*,[medBoxTaglineTwo]*/,[seasonalPromoBannerTitle]/*,[medBoxTextOne]*//*,[lgBoxGradPacksImage]*/,[affinityCTAButtonText]/*,[medBoxImageTwo]*//*,[lgBoxGradPacksCTAButtonText]*/,[seasonalPromoBannerCTAButtonLink],[schoolShopCTAButtonText],[lastUpdated],[classRingsSubheadline]/*,[medBoxImageThreeMobile]*/,[ringSizeLink],[emailCollectionText],[classRingsTileTopText]/*,[medBoxLinkThree]*/,[seasonalPromoBannerImage]/*,[medBoxImageOne]*/,[classRingsTileCTALinkNewTab]/*,[lgBoxYearbooksText]*/,[topHeadline]/*,[medBoxTaglineOne]*/,[graduationSubheadline]/*,[medBoxImageTwoMobile]*/,[schoolShopHeadline],[topPromoBannerHTML],[categoryShopTitle]/*,[medBoxLinkTwo]*//*,[lgBoxGradPacksLink]*/,[seasonalPromoBannerText],[emailCollectionCTAButtonText],[classRingsTileBottomText],[ringSizeHeadline],[classRingsTileImage],[GUID],[ringSizeLinkText],[paymentsTileHeadline]/*,[medBoxTextThree]*//*,[medBoxLinkOne]*/,[topSubheadline]/*,[lgBoxGradPacksText]*//*,[lgBoxYearbooksImage]*/,[seasonalPromoBannerImageMobile]/*,[medBoxImageOneMobile]*//*,[lgBoxYearbookCTAButtonText]*/,[schoolTextColor],[schoolBackgroundColor])
       VALUES ( @emailCollectionTitle,@seasonalPromoBannerCTAButtonText,@classRingsTileImageMobile/*,@medBoxTaglineThree*/,@schoolShopSubheadline/*,@medBoxTextTwo*/,@classRingsHeadline/*,@medBoxImageThree*/,@SMI,@graduationHeadline,@inProduction,@paymentsTileText,@classRingsTileCTALink/*,@lgBoxYearbooksLink*/,@ringSizeText/*,@medBoxTaglineTwo*/,@seasonalPromoBannerTitle/*,@medBoxTextOne*//*,@lgBoxGradPacksImage*/,@affinityCTAButtonText/*,@medBoxImageTwo*//*,@lgBoxGradPacksCTAButtonText*/,@seasonalPromoBannerCTAButtonLink,@schoolShopCTAButtonText,@lastUpdated,@classRingsSubheadline/*,@medBoxImageThreeMobile*/,@ringSizeLink,@emailCollectionText,@classRingsTileTopText/*,@medBoxLinkThree*/,@seasonalPromoBannerImage/*,@medBoxImageOne*/,@classRingsTileCTALinkNewTab/*,@lgBoxYearbooksText*/,@topHeadline/*,@medBoxTaglineOne*/,@graduationSubheadline/*,@medBoxImageTwoMobile*/,@schoolShopHeadline,@topPromoBannerHTML,@categoryShopTitle/*,@medBoxLinkTwo*//*,@lgBoxGradPacksLink*/,@seasonalPromoBannerText,@emailCollectionCTAButtonText,@classRingsTileBottomText,@ringSizeHeadline,@classRingsTileImage,@GUID,@ringSizeLinkText,@paymentsTileHeadline/*,@medBoxTextThree*//*,@medBoxLinkOne*/,@topSubheadline/*,@lgBoxGradPacksText*//*,@lgBoxYearbooksImage*/,@seasonalPromoBannerImageMobile/*,@medBoxImageOneMobile*//*,@lgBoxYearbookCTAButtonText*/,@schoolTextColor,@schoolBackgroundColor)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [AffinityPage] SET
     [emailCollectionTitle] = CASE WHEN @emailCollectionTitle IS NULL THEN [emailCollectionTitle] ELSE @emailCollectionTitle END
    ,[seasonalPromoBannerCTAButtonText] = CASE WHEN @seasonalPromoBannerCTAButtonText IS NULL THEN [seasonalPromoBannerCTAButtonText] ELSE @seasonalPromoBannerCTAButtonText END
    ,[classRingsTileImageMobile] = CASE WHEN @classRingsTileImageMobile IS NULL THEN [classRingsTileImageMobile] ELSE @classRingsTileImageMobile END
    --,[medBoxTaglineThree] = CASE WHEN @medBoxTaglineThree IS NULL THEN [medBoxTaglineThree] ELSE @medBoxTaglineThree END
    ,[schoolShopSubheadline] = CASE WHEN @schoolShopSubheadline IS NULL THEN [schoolShopSubheadline] ELSE @schoolShopSubheadline END
    --,[medBoxTextTwo] = CASE WHEN @medBoxTextTwo IS NULL THEN [medBoxTextTwo] ELSE @medBoxTextTwo END
    ,[classRingsHeadline] = CASE WHEN @classRingsHeadline IS NULL THEN [classRingsHeadline] ELSE @classRingsHeadline END
    --,[medBoxImageThree] = CASE WHEN @medBoxImageThree IS NULL THEN [medBoxImageThree] ELSE @medBoxImageThree END
    ,[SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[graduationHeadline] = CASE WHEN @graduationHeadline IS NULL THEN [graduationHeadline] ELSE @graduationHeadline END
    ,[inProduction] = CASE WHEN @inProduction IS NULL THEN [inProduction] ELSE @inProduction END
    ,[paymentsTileText] = CASE WHEN @paymentsTileText IS NULL THEN [paymentsTileText] ELSE @paymentsTileText END
    ,[classRingsTileCTALink] = CASE WHEN @classRingsTileCTALink IS NULL THEN [classRingsTileCTALink] ELSE @classRingsTileCTALink END
    --,[lgBoxYearbooksLink] = CASE WHEN @lgBoxYearbooksLink IS NULL THEN [lgBoxYearbooksLink] ELSE @lgBoxYearbooksLink END
    ,[ringSizeText] = CASE WHEN @ringSizeText IS NULL THEN [ringSizeText] ELSE @ringSizeText END
    --,[medBoxTaglineTwo] = CASE WHEN @medBoxTaglineTwo IS NULL THEN [medBoxTaglineTwo] ELSE @medBoxTaglineTwo END
    ,[seasonalPromoBannerTitle] = CASE WHEN @seasonalPromoBannerTitle IS NULL THEN [seasonalPromoBannerTitle] ELSE @seasonalPromoBannerTitle END
    --,[medBoxTextOne] = CASE WHEN @medBoxTextOne IS NULL THEN [medBoxTextOne] ELSE @medBoxTextOne END
    --,[lgBoxGradPacksImage] = CASE WHEN @lgBoxGradPacksImage IS NULL THEN [lgBoxGradPacksImage] ELSE @lgBoxGradPacksImage END
    ,[affinityCTAButtonText] = CASE WHEN @affinityCTAButtonText IS NULL THEN [affinityCTAButtonText] ELSE @affinityCTAButtonText END
    --,[medBoxImageTwo] = CASE WHEN @medBoxImageTwo IS NULL THEN [medBoxImageTwo] ELSE @medBoxImageTwo END
    --,[lgBoxGradPacksCTAButtonText] = CASE WHEN @lgBoxGradPacksCTAButtonText IS NULL THEN [lgBoxGradPacksCTAButtonText] ELSE @lgBoxGradPacksCTAButtonText END
    ,[seasonalPromoBannerCTAButtonLink] = CASE WHEN @seasonalPromoBannerCTAButtonLink IS NULL THEN [seasonalPromoBannerCTAButtonLink] ELSE @seasonalPromoBannerCTAButtonLink END
    ,[schoolShopCTAButtonText] = CASE WHEN @schoolShopCTAButtonText IS NULL THEN [schoolShopCTAButtonText] ELSE @schoolShopCTAButtonText END
    ,[lastUpdated] = CASE WHEN @lastUpdated IS NULL THEN [lastUpdated] ELSE @lastUpdated END
    ,[classRingsSubheadline] = CASE WHEN @classRingsSubheadline IS NULL THEN [classRingsSubheadline] ELSE @classRingsSubheadline END
    --,[medBoxImageThreeMobile] = CASE WHEN @medBoxImageThreeMobile IS NULL THEN [medBoxImageThreeMobile] ELSE @medBoxImageThreeMobile END
    ,[ringSizeLink] = CASE WHEN @ringSizeLink IS NULL THEN [ringSizeLink] ELSE @ringSizeLink END
    ,[emailCollectionText] = CASE WHEN @emailCollectionText IS NULL THEN [emailCollectionText] ELSE @emailCollectionText END
    ,[classRingsTileTopText] = CASE WHEN @classRingsTileTopText IS NULL THEN [classRingsTileTopText] ELSE @classRingsTileTopText END
    --,[medBoxLinkThree] = CASE WHEN @medBoxLinkThree IS NULL THEN [medBoxLinkThree] ELSE @medBoxLinkThree END
    ,[seasonalPromoBannerImage] = CASE WHEN @seasonalPromoBannerImage IS NULL THEN [seasonalPromoBannerImage] ELSE @seasonalPromoBannerImage END
    --,[medBoxImageOne] = CASE WHEN @medBoxImageOne IS NULL THEN [medBoxImageOne] ELSE @medBoxImageOne END
    ,[classRingsTileCTALinkNewTab] = CASE WHEN @classRingsTileCTALinkNewTab IS NULL THEN [classRingsTileCTALinkNewTab] ELSE @classRingsTileCTALinkNewTab END
    --,[lgBoxYearbooksText] = CASE WHEN @lgBoxYearbooksText IS NULL THEN [lgBoxYearbooksText] ELSE @lgBoxYearbooksText END
    ,[topHeadline] = CASE WHEN @topHeadline IS NULL THEN [topHeadline] ELSE @topHeadline END
    --,[medBoxTaglineOne] = CASE WHEN @medBoxTaglineOne IS NULL THEN [medBoxTaglineOne] ELSE @medBoxTaglineOne END
    ,[graduationSubheadline] = CASE WHEN @graduationSubheadline IS NULL THEN [graduationSubheadline] ELSE @graduationSubheadline END
    --,[medBoxImageTwoMobile] = CASE WHEN @medBoxImageTwoMobile IS NULL THEN [medBoxImageTwoMobile] ELSE @medBoxImageTwoMobile END
    ,[schoolShopHeadline] = CASE WHEN @schoolShopHeadline IS NULL THEN [schoolShopHeadline] ELSE @schoolShopHeadline END
    ,[topPromoBannerHTML] = CASE WHEN @topPromoBannerHTML IS NULL THEN [topPromoBannerHTML] ELSE @topPromoBannerHTML END
    ,[categoryShopTitle] = CASE WHEN @categoryShopTitle IS NULL THEN [categoryShopTitle] ELSE @categoryShopTitle END
    --,[medBoxLinkTwo] = CASE WHEN @medBoxLinkTwo IS NULL THEN [medBoxLinkTwo] ELSE @medBoxLinkTwo END
    --,[lgBoxGradPacksLink] = CASE WHEN @lgBoxGradPacksLink IS NULL THEN [lgBoxGradPacksLink] ELSE @lgBoxGradPacksLink END
    ,[seasonalPromoBannerText] = CASE WHEN @seasonalPromoBannerText IS NULL THEN [seasonalPromoBannerText] ELSE @seasonalPromoBannerText END
    ,[emailCollectionCTAButtonText] = CASE WHEN @emailCollectionCTAButtonText IS NULL THEN [emailCollectionCTAButtonText] ELSE @emailCollectionCTAButtonText END
    ,[classRingsTileBottomText] = CASE WHEN @classRingsTileBottomText IS NULL THEN [classRingsTileBottomText] ELSE @classRingsTileBottomText END
    ,[ringSizeHeadline] = CASE WHEN @ringSizeHeadline IS NULL THEN [ringSizeHeadline] ELSE @ringSizeHeadline END
    ,[classRingsTileImage] = CASE WHEN @classRingsTileImage IS NULL THEN [classRingsTileImage] ELSE @classRingsTileImage END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
    ,[ringSizeLinkText] = CASE WHEN @ringSizeLinkText IS NULL THEN [ringSizeLinkText] ELSE @ringSizeLinkText END
    ,[paymentsTileHeadline] = CASE WHEN @paymentsTileHeadline IS NULL THEN [paymentsTileHeadline] ELSE @paymentsTileHeadline END
    --,[medBoxTextThree] = CASE WHEN @medBoxTextThree IS NULL THEN [medBoxTextThree] ELSE @medBoxTextThree END
    --,[medBoxLinkOne] = CASE WHEN @medBoxLinkOne IS NULL THEN [medBoxLinkOne] ELSE @medBoxLinkOne END
    ,[topSubheadline] = CASE WHEN @topSubheadline IS NULL THEN [topSubheadline] ELSE @topSubheadline END
    --,[lgBoxGradPacksText] = CASE WHEN @lgBoxGradPacksText IS NULL THEN [lgBoxGradPacksText] ELSE @lgBoxGradPacksText END
    --,[lgBoxYearbooksImage] = CASE WHEN @lgBoxYearbooksImage IS NULL THEN [lgBoxYearbooksImage] ELSE @lgBoxYearbooksImage END
    ,[seasonalPromoBannerImageMobile] = CASE WHEN @seasonalPromoBannerImageMobile IS NULL THEN [seasonalPromoBannerImageMobile] ELSE @seasonalPromoBannerImageMobile END
    --,[medBoxImageOneMobile] = CASE WHEN @medBoxImageOneMobile IS NULL THEN [medBoxImageOneMobile] ELSE @medBoxImageOneMobile END
    --,[lgBoxYearbookCTAButtonText] = CASE WHEN @lgBoxYearbookCTAButtonText IS NULL THEN [lgBoxYearbookCTAButtonText] ELSE @lgBoxYearbookCTAButtonText END
	,[schoolTextColor] = CASE WHEN @schoolTextColor IS NULL THEN [schoolTextColor] ELSE @schoolTextColor END
	,[schoolBackgroundColor] = CASE WHEN @schoolBackgroundColor IS NULL THEN [schoolBackgroundColor] ELSE @schoolBackgroundColor END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [emailCollectionTitle]
,[seasonalPromoBannerCTAButtonText]
,[classRingsTileImageMobile]
--,[medBoxTaglineThree]
,[schoolShopSubheadline]
--,[medBoxTextTwo]
,[classRingsHeadline]
--,[medBoxImageThree]
,A.[SMI]
,ISNULL(S.[AffinityURL],'') as [affinityURL]
,[ID]
,[graduationHeadline]
,[inProduction]
,[paymentsTileText]
,[classRingsTileCTALink]
--,[lgBoxYearbooksLink]
,[ringSizeText]
--,[medBoxTaglineTwo]
,[seasonalPromoBannerTitle]
--,[medBoxTextOne]
--,[lgBoxGradPacksImage]
,[affinityCTAButtonText]
--,[medBoxImageTwo]
--,[lgBoxGradPacksCTAButtonText]
,[seasonalPromoBannerCTAButtonLink]
,[schoolShopCTAButtonText]
,FORMAT(dbo.fn_DateTime_to_Central([lastUpdated]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastUpdated]
,[classRingsSubheadline]
--,[medBoxImageThreeMobile]
,[ringSizeLink]
,[emailCollectionText]
,[classRingsTileTopText]
--,[medBoxLinkThree]
,[seasonalPromoBannerImage]
--,[medBoxImageOne]
,[classRingsTileCTALinkNewTab]
--,[lgBoxYearbooksText]
,[topHeadline]
--,[medBoxTaglineOne]
,[graduationSubheadline]
--,[medBoxImageTwoMobile]
,[schoolShopHeadline]
,[topPromoBannerHTML]
,[categoryShopTitle]
--,[medBoxLinkTwo]
--,[lgBoxGradPacksLink]
,[seasonalPromoBannerText]
,[emailCollectionCTAButtonText]
,[classRingsTileBottomText]
,[ringSizeHeadline]
,[classRingsTileImage]
,[GUID]
,[ringSizeLinkText]
,[paymentsTileHeadline]
--,[medBoxTextThree]
--,[medBoxLinkOne]
,[topSubheadline]
--,[lgBoxGradPacksText]
--,[lgBoxYearbooksImage]
,[seasonalPromoBannerImageMobile]
--,[medBoxImageOneMobile]
--,[lgBoxYearbookCTAButtonText]
,[schoolTextColor]
,[schoolBackgroundColor]
FROM dbo.[AffinityPage] A
LEFT JOIN [dbo].[School_URL_Master] S ON S.[SMI] = A.[SMI]
WHERE [ID] = @ID_Out
GO
