/****** Object:  StoredProcedure [dbo].[proc_get_contemporary_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 1/27/2020 - HT
*/
CREATE PROCEDURE [dbo].[proc_get_contemporary_orders_records]

AS
 
SET NOCOUNT ON
 
	 
SELECT increment_id AS [Order No] --, entity_id
, o.created_at AS [Order Date]
, o.customer_firstname AS [Customer First Name]
, i.sku AS SKU
, i.name AS [Product Name]
, i.row_total_incl_tax [Product Total]
FROM MAGE_sales_order o WITH (NOLOCK) 
INNER JOIN MAGE_sales_order_item i WITH (NOLOCK) ON i.order_id = o.entity_id
INNER JOIN Contemporary_Stationery_Item ci WITH (NOLOCK) ON ci.sku = i.sku
ORDER BY o.created_at DESC
GO
