/****** Object:  StoredProcedure [dbo].[s_report_silverpop_queue]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 03/31/2021
-- Description: Queues an email to report on issues with the SilverPop Queue
-- =============================================
CREATE PROCEDURE [dbo].[s_report_silverpop_queue]
(
    @Emails varchar(100) = 'jkaufman@iconicgroup.com',
    @Subject varchar(1000) = '',
	@Body varchar(5000) = ''
)
AS
BEGIN
	SET @Body = replace(@Body, '"', '\"')

	INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
	VALUES
	(
		'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'SilverPop Queue Report' /*Description of the queue entry.*/
		,@Emails /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
		,'{"cc":"","bcc":"","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"' + @Subject + '", "body":"' + @Body + '"}'
		,'' /*Name of the attachment.*/
		,null /*The actual data you are attaching.*/
	)
END
GO
