/****** Object:  StoredProcedure [dbo].[s_delete_school_events_locations_dates_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/25/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_school_events_locations_dates_record]
(
	  @ID BIGINT = NULL
	 ,@gUID VARCHAR(50) = NULL
	 ,@eventGUID VARCHAR(50) = NULL
)
AS
--##AT AAC
--##BD Deletes a specific record from the table [School_Events_Locations_Dates].
--##PD @ID in [School_Events_Locations_Dates].
--##RS1 -NONE-
SET NOCOUNT ON
DECLARE @LocationGUID VARCHAR(50)
DECLARE @Results TABLE ([Row] VARCHAR(MAX), [Sort_Order] INT)
IF @ID IS NOT NULL
	BEGIN
		SELECT @LocationGUID = [Location_GUID] FROM [dbo].[School_Events_Locations_Dates] WHERE [ID] = @ID
		DELETE FROM [School_Events_Locations_Dates] WHERE [ID] = @ID
	END
ELSE
	BEGIN
		SELECT @LocationGUID = [Location_GUID] FROM [dbo].[School_Events_Locations_Dates] WHERE [GUID] = @gUID
		DELETE FROM [School_Events_Locations_Dates] WHERE [GUID] = @gUID
	END
--Return any other date/time information for this event
INSERT INTO @Results ([Row],[Sort_Order])
SELECT [dbo].[fn_SchoolEventLocationsDates] (@LocationGUID,1), 1
UNION
SELECT [dbo].[fn_GetLocationDateTimeInfo] (@eventGuid), 2 --Starts with location

SELECT * FROM @Results ORDER BY [Sort_Order]
GO
