/****** Object:  StoredProcedure [dbo].[Order_Details_SP]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Order_Details_SP]
(
	@System nvarchar(100),
	@Order_Number nvarchar (100),
	@Email nvarchar (100),
	@First_Name nvarchar(100),
	@Last_Name nvarchar(100),
	@SKU nvarchar (100),
	@Item_Name nvarchar(100),
	@Item_Code nvarchar(100),
	@Order_Date datetime,
	@Order_Quantity nvarchar(100),
	@Tracking_Number nvarchar(100),
	@Carrier_Code nvarchar(500),
	@Carrier nvarchar(50),
	@Delivery_Date datetime,
	@RecordUpdatedDate datetime
)
AS
BEGIN
    SET NOCOUNT ON
	IF EXISTS(SELECT * FROM [dbo].[Order_Details] WHERE Order_Number=@Order_Number)
	UPDATE [dbo].[Order_Details]
	SET System=@System,Order_Number=@Order_Number,Email=@Email,First_Name=@First_Name,Last_Name=@Last_Name,SKU=@SKU,Item_Name=@Item_Name,Item_Code=@Item_Code,Order_Date=@Order_Date,Order_Quantity=@Order_Quantity,Tracking_Number=@Tracking_Number,Carrier_Code=@Carrier_Code,Carrier=@Carrier,Delivery_Date=@Delivery_Date,RecordUpdatedDate=GETDATE()
	 WHERE Order_Number=@Order_Number and Email=@Email and (Item_Name=@Item_Name or SKU=@SKU)
ELSE
    INSERT INTO [dbo].[Order_Details] (System,Order_Number,Email,First_Name,Last_Name,SKU,Item_Name,Item_Code,Order_Date,Order_Quantity,Tracking_Number,Carrier_Code,Carrier,Delivery_Date,RecordUpdatedDate)
	VALUES (@System,@Order_Number,@Email,@First_Name,@Last_Name,@SKU,@Item_Name,@Item_Code,@Order_Date,@Order_Quantity,@Tracking_Number,@Carrier_Code,@Carrier,@Delivery_Date,GETDATE())
END
GO
