/****** Object:  StoredProcedure [dbo].[s_update_contact_list_and_people]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_update_contact_list_and_people]
AS
--EXEC s_update_contact_list_and_people
SET NOCOUNT ON
DECLARE @RawCount INT, @CurrentCount INT
SET @RawCount = 0
SET @CurrentCount = 0
SELECT @RawCount = COUNT(*) FROM [dbo].[Balfour_Contacts-Master_list_Import]
SELECT @CurrentCount = COUNT(*) FROM [dbo].[Balfour_Contacts_Master_List]
IF @RawCount >= @CurrentCount
	BEGIN
		--Refresh [Balfour_Contacts_Master_List]
		TRUNCATE TABLE [dbo].[Balfour_Contacts_Master_List]
		INSERT INTO [Balfour_Contacts_Master_List] ([Email_Address], [Twitter_Handle], [Facebook_Username], [Mobile_Number], [Status], [Date_Created], [Last_Modified], [Source], [Source_Detail], [Sent], [Opened], [Open_Rate], [Clicked], [Click_Rate], [Message_Type_Preference], [On_Keywords], [address1], [address2], [bbr_last_delivery_date], [bbr_last_visit_date], [birth_day], [birth_month], [birthday], [business_address], [business_address2], [business_city], [business_country_code], [business_name], [business_postal], [business_sales], [business_size], [business_state_abbrev_uc], [business_type], [city], [country_code], [dc_yb_noticetext], [dc_yb_schoolname], [dc_yb_student_name], [dc_yb_subjectline], [dc_yb_url], [email_reduced], [firstname], [gender], [interest_announcement], [interest_cap_gown], [interest_classring], [interest_collegiate], [interest_gradgear], [interest_jacket], [interest_military], [interest_patches], [interest_yearbook], [job_title], [last_purch_date], [last_purch_value], [lastname], [lifetime_order_count], [lifetime_order_value], [phone_extension], [phone_home], [phone_mobile], [phone_work], [postal_code], [prefix], [regvp_email], [regvp_firstname], [regvp_id], [regvp_lastname], [regvp_phone], [rep_email], [rep_firstname], [rep_id], [rep_lastname], [rep_phone], [salutation], [school_hardware], [school_size], [school_type], [seed_acct], [source_email], [source_sms], [state], [state_abbrev_uc], [student_name], [student_parent], [student_school], [student_school_city], [student_school_graddate], [student_school_gradyear], [student_school_state], [student_status], [student_school_state_abbr], [flag_rokkitwear], [tmp_order_id], [tmp_MI_orderdate], [tmp_MI_confirmationnumber], [tmp_MI_customerfirst], [tmp_MI_customerlast], [tmp_MI_amount], [tmp_MI_email], [tmp_MI_purchase], [tmp_MI_studentnames], [SMI_num], [tmp_brochure], [Last_Unsubscribe_Date], [Last_Delivery_Date], [Last_Open_Date], [Last_Click_Date], [ID], [Note])
		SELECT 
		  [Email_Address]
		, [Twitter_Handle]
		, [Facebook_Username]
		, [Mobile_Number]
		, [Status]
		, CASE WHEN LTRIM(RTRIM(ISNULL([Date_Created],''))) = '' THEN NULL ELSE CAST([Date_Created] AS DATETIME2) END as [Date_Created]
		, CASE WHEN LTRIM(RTRIM(ISNULL([Last_Modified],''))) = '' THEN NULL ELSE CAST([Last_Modified] AS DATETIME2) END as [Last_Modified]
		, [Source]
		, [Source_Detail]
		, CASE WHEN LTRIM(RTRIM(ISNULL([Sent],''))) = '' THEN NULL ELSE CAST([Sent] AS INT) END as [Sent]
		, CASE WHEN LTRIM(RTRIM(ISNULL([Opened],''))) = '' THEN NULL ELSE CAST([Opened] AS INT) END as [Opened]
		, CASE WHEN LTRIM(RTRIM(ISNULL([Open_Rate],''))) = '' THEN NULL ELSE CAST([Open_Rate] AS FLOAT) END as [Open_Rate]
		, CASE WHEN LTRIM(RTRIM(ISNULL([Clicked],''))) = '' THEN NULL ELSE CAST([Clicked] AS INT) END AS [Clicked]
		, CASE WHEN LTRIM(RTRIM(ISNULL([Click_Rate],''))) = '' THEN NULL ELSE CAST([Click_Rate] AS FLOAT) END as [Click_Rate]
		, [Message_Type_Preference]
		, [On_Keywords]
		, [address1]
		, [address2]
		, [bbr_last_delivery_date]
		, [bbr_last_visit_date]
		, [birth_day]
		, CASE WHEN LTRIM(RTRIM(ISNULL([birth_month],''))) = '' THEN NULL ELSE CAST([birth_month] AS INT) END as [birth_month]
		, CASE WHEN LTRIM(RTRIM(ISNULL([birthday],''))) = '' THEN NULL ELSE CAST([birthday] AS DATE) END as [birthday]
		, [business_address]
		, [business_address2]
		, [business_city]
		, [business_country_code]
		, [business_name]
		, [business_postal]
		, CASE WHEN LTRIM(RTRIM(ISNULL([business_sales],''))) = '' THEN NULL ELSE CAST([business_sales] AS INT) END as [business_sales]
		, [business_size]
		, [business_state_abbrev_uc]
		, [business_type]
		, [city]
		, [country_code]
		, [dc_yb_noticetext]
		, [dc_yb_schoolname]
		, [dc_yb_student_name]
		, [dc_yb_subjectline]
		, [dc_yb_url]
		, [email_reduced]
		, [firstname]
		, [gender]
		, [interest_announcement]
		, [interest_cap_gown]
		, [interest_classring]
		, [interest_collegiate]
		, [interest_gradgear]
		, [interest_jacket]
		, [interest_military]
		, [interest_patches]
		, [interest_yearbook]
		, [job_title]
		, [last_purch_date]
		, [last_purch_value]
		, [lastname]
		, [lifetime_order_count]
		, [lifetime_order_value]
		, [phone_extension]
		, [phone_home]
		, [phone_mobile]
		, [phone_work]
		, [postal_code]
		, [prefix]
		, [regvp_email]
		, [regvp_firstname]
		, [regvp_id]
		, [regvp_lastname]
		, [regvp_phone]
		, [rep_email]
		, [rep_firstname]
		, [rep_id]
		, [rep_lastname]
		, [rep_phone]
		, [salutation]
		, [school_hardware]
		, [school_size]
		, [school_type]
		, [seed_acct]
		, [source_email]
		, [source_sms]
		, [state]
		, [state_abbrev_uc]
		, [student_name]
		, [student_parent]
		, [student_school]
		, [student_school_city]
		, [student_school_graddate]
		, [student_school_gradyear]
		, [student_school_state]
		, [student_status]
		, [student_school_state_abbr]
		, [flag_rokkitwear]
		, [tmp_order_id]
		, [tmp_MI_orderdate]
		, [tmp_MI_confirmationnumber]
		, [tmp_MI_customerfirst]
		, [tmp_MI_customerlast]
		, [tmp_MI_amount]
		, [tmp_MI_email]
		, [tmp_MI_purchase]
		, [tmp_MI_studentnames]
		, CASE WHEN LTRIM(RTRIM(ISNULL([SMI_num],'null'))) = 'null' THEN NULL ELSE CAST([SMI_num] AS INT) END as [SMI_num]
		, [tmp_brochure]
		, [Last_Unsubscribe_Date]
		, [Last_Delivery_Date]
		, [Last_Open_Date]
		, [Last_Click_Date]
		, [ID]
		, [Note]
		FROM [dbo].[Balfour_Contacts-Master_list_Import]

			--Update existing [People]
		UPDATE [dbo].[People]
			SET [LastUpdated] = BC.[Last_Modified], [Email_Status] = BC.[Status]
		FROM [dbo].[People] P LEFT JOIN
		[dbo].[Balfour_Contacts_Master_List] BC ON BC.[ID] = P.[Acq_Key]
		WHERE P.AcqSource = 2/*Bronto*/

		--Add new [People]
		INSERT INTO [People] ([FirstName], [LastName], [Prefix], [Suffix], [Gender], [DOB], [Street], [City], [State], [Zip], [Country], [Email], [Phone], [AcqSource], [AcqDate], [LastUpdated], [Email_Status], [Acq_Key])
		SELECT 
			[firstname] --255
		,[lastname] --255
		,[prefix] --255
		,'' AS [Suffix] --255
		,CASE [gender] WHEN NULL THEN NULL WHEN 'male' THEN 1 WHEN 'female' THEN 2 ELSE NULL END
		,[birthday]
		,[address1] --255
		,[city] --255
		,[state] --255
		,[postal_code] --255
		,LEFT(ISNULL([country_code],''),2) --2
		,[Email_Address] 
		,[phone_home]
		,2
		,[Date_Created]
		,[Last_Modified]
		,[Status]
		,[ID]
		FROM [dbo].[Balfour_Contacts_Master_List]
		WHERE email_address NOT IN (SELECT EMAIL FROM PEOPLE)
		SELECT @RawCount = COUNT(*) FROM [dbo].[Balfour_Contacts_Master_List]
		DECLARE @Val VARCHAR(1000)
		SET @Val = CAST(GETDATE() AS VARCHAR(25)) + ' Old count: ' + CAST(@CurrentCount AS VARCHAR(15)) + ' New count: ' + CAST(@RawCount AS VARCHAR(15))
		EXEC dbo.s_update_extendedprop_on_table @TableName = 'Balfour_Contacts_Master_List', @AttribName='LastUpdate', @Value=@Val
	END
GO
