/****** Object:  StoredProcedure [dbo].[s_get_gradpack_bundles_details]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- HT
-- 06/10/2021
-- Description: Returns data used to power GradPack Bundles PLP pages 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_gradpack_bundles_details] --@smi = 134693
(
     @SMI BIGINT = 135368
	,@MaxGradPack INT = 4
	,@IsMiniPack SMALLINT = 0
	,@Debug BIT = 0	
)
AS
 
/*-- TESTING
	exec [dbo].[s_get_gradpack_bundles_details] @smi =   134693, @Debug = 1 -- 1326 28208  --134693
	exec [dbo].[s_get_gradpack_bundles_details] @smi =  134693333
--*/

BEGIN
	--DECLARE @PackageItemCount INT = 0
	-- test:  DECLARE @SMI BIGINT = 13469333, @MaxGradPack INT = 4,@Debug BIT = 1, @IsMiniPack BIT = 0	; 	DROP TABLE IF EXISTS #packageList  ;--135368
	DECLARE @packageCnt INT = 1, @packageItemCnt INT = 1
	DECLARE @GradPackCount INT = 4, @GradPackID INT
	 
	CREATE TABLE #packageList (SMI VARCHAR(25),SKU VARCHAR(100), GradPackID INT, DisplayName VARCHAR(200), Price DECIMAL(10,2), IsMiniPack BIT, [URL] VARCHAR(225), Loop INT IDENTITY(1,1)) 
	DECLARE @gradPackOne TABLE (Image_Url  VARCHAR(200), DisplayName  VARCHAR(200), DisplayOrder INT, ParentSku VARCHAR(25), GradPackID INT, Sku VARCHAR(25), [Description] VARCHAR(200), [DisplayItemGroupHeader] VARCHAR(200))
	DECLARE @gradPackTwo TABLE (Image_Url  VARCHAR(200), DisplayName  VARCHAR(200), DisplayOrder INT, ParentSku VARCHAR(25), GradPackID INT, Sku VARCHAR(25), [Description] VARCHAR(200), [DisplayItemGroupHeader] VARCHAR(200))
	DECLARE @gradPackThree TABLE (Image_Url  VARCHAR(200), DisplayName  VARCHAR(200), DisplayOrder INT, ParentSku VARCHAR(25), GradPackID INT, Sku VARCHAR(25), [Description] VARCHAR(200), [DisplayItemGroupHeader] VARCHAR(200))
	DECLARE @gradPackFour TABLE (Image_Url  VARCHAR(200), DisplayName  VARCHAR(200), DisplayOrder INT, ParentSku VARCHAR(25), GradPackID INT, Sku VARCHAR(25), [Description] VARCHAR(200), [DisplayItemGroupHeader] VARCHAR(200))

	SELECT @GradPackCount = COUNT(ps.SKU) FROM Product_Included_SMI ps INNER JOIN v_gradpacks gp ON ps.SKU = gp.SKU
	WHERE ps.Included_SMI =@Smi

	INSERT INTO #packageList(SMI, SKU, GradPackID, DisplayName, Price, IsMiniPack, [URL])
	SELECT ps.Included_SMI
		 , gp.SKU
		 , gp.GradPackID
		 , gp.DisplayName
		 , CASE WHEN [dbo].[fn_Get_Lowest_Price] (gp.SKU, @SMI) > 0.00 THEN [dbo].[fn_Get_Lowest_Price] (gp.SKU, @SMI) ELSE gp.Price END AS Price
		 , gp.IsMiniPack, gp.[URL] 
	FROM Product_Included_SMI ps INNER JOIN v_gradpacks gp ON ps.SKU = gp.SKU
	WHERE ps.Included_SMI =@Smi
		AND (gp.Price > 0 OR  [dbo].[fn_Get_Lowest_Price] (gp.SKU, @SMI) > '0.00' )
		AND ISNULL(gp.IsMiniPack,'0') = @IsMiniPack
	 

	WHILE @packageCnt <= @GradPackCount
	BEGIN
		IF @Debug = 1 PRINT 'cnt: ' + CAST(@packageCnt AS VARCHAR(2))	
		--SELECT @PackageItemCount = COUNT(gpi.GradPackLineItemID) FROM #packageList gp INNER JOIN v_gradpackLineItems gpi ON gp.GradPackID = gpi.GradPackID WHERE @packageCnt = gp.Loop
		--IF @Debug = 1 PRINT '@PackageItemCount: ' + CAST(@PackageItemCount AS VARCHAR(3)) 	
	
		IF @packageCnt = 1   --- select * from v_gradpackLineItems
		BEGIN
			INSERT INTO @gradPackOne(Image_Url, DisplayName, DisplayOrder, ParentSku, GradPackID, Sku,[Description], [DisplayItemGroupHeader])
			SELECT DISTINCT gpi.Image_Url, gpi.DisplayName, gpi.DisplayOrder, gp.SKU, gp.GradPackID, gpi.sku, gpi.[Description], gpi.[DisplayItemGroupHeader]
			FROM #packageList gp INNER JOIN v_gradpackLineItems gpi ON gp.GradPackID = gpi.GradPackID 			
			WHERE @packageCnt = gp.Loop
			AND (gpi.Price > CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >  CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0  END 
				OR gpi.Price >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END
				)  
			ORDER BY gpi.DisplayOrder
		END
		IF @packageCnt = 2
		BEGIN
			INSERT INTO @gradPackTwo(Image_Url, DisplayName, DisplayOrder, ParentSku, GradPackID, Sku,[Description],[DisplayItemGroupHeader])
			SELECT DISTINCT gpi.Image_Url, gpi.DisplayName, gpi.DisplayOrder, gp.SKU, gp.GradPackID, gpi.sku, gpi.[Description], gpi.[DisplayItemGroupHeader]
			FROM #packageList gp INNER JOIN v_gradpackLineItems gpi ON gp.GradPackID = gpi.GradPackID 
			WHERE @packageCnt = gp.Loop
			AND (gpi.Price > CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >  CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0  END 
				OR gpi.Price >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END
				)  
			ORDER BY gpi.DisplayOrder
		END

		IF @packageCnt = 3
		BEGIN		
			INSERT INTO @gradPackThree(Image_Url, DisplayName, DisplayOrder, ParentSku, GradPackID, Sku,[Description], [DisplayItemGroupHeader])
			SELECT DISTINCT gpi.Image_Url, gpi.DisplayName, gpi.DisplayOrder, gp.SKU, gp.GradPackID, gpi.sku, gpi.[Description], gpi.[DisplayItemGroupHeader]
			FROM #packageList gp INNER JOIN v_gradpackLineItems gpi ON gp.GradPackID = gpi.GradPackID 
			WHERE @packageCnt = gp.Loop
			AND (gpi.Price > CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >  CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0  END 
				OR gpi.Price >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END
				)  
			ORDER BY gpi.DisplayOrder
		END 

		IF @packageCnt = 4
		BEGIN
  			INSERT INTO @gradPackFour(Image_Url, DisplayName, DisplayOrder, ParentSku, GradPackID, Sku, [Description], [DisplayItemGroupHeader])
			SELECT DISTINCT gpi.Image_Url, gpi.DisplayName, gpi.DisplayOrder, gp.SKU, gp.GradPackID, gpi.sku, gpi.[Description], gpi.[DisplayItemGroupHeader]
			FROM #packageList gp INNER JOIN v_gradpackLineItems gpi ON gp.GradPackID = gpi.GradPackID 
			WHERE @packageCnt = gp.Loop
			AND (gpi.Price > CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >  CASE WHEN gpi.bundle_parent_product_type = 'bundle' AND gpi.bundle_child_is_required = 'optional' THEN 0  END 
				OR gpi.Price >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END OR dbo.[fn_Get_Lowest_Price](gpi.GradPackLineItemID, @SMI) >= CASE WHEN gpi.bundle_child_is_required = 'Required' THEN 0 END
				)  
			ORDER BY gpi.DisplayOrder
		END
		SET @packageCnt = @packageCnt + 1;
	END;

	IF (SELECT COUNT(*) FROM #packageList) > 0
	BEGIN
		 
		SELECT TOP (@MaxGradPack) ISNULL(pk.SMI,'') AS SMI
			,ISNULL(pk.SKU,'') AS SKU
			,ISNULL(pk.GradPackID,'') AS GradPackID
			,ISNULL(pk.DisplayName, '') AS DisplayName
			,ISNULL(pk.Price,'0.00') AS Price
			,ISNULL(pk.IsMiniPack,'0') AS IsMiniPack
			,ISNULL(psmi.GradPackSMISettingID,'') AS GradPackSMISettingID
			,ISNULL(psmi.TopTitle,'') AS TopTitle
			,ISNULL(psmi.TopTextDesktop,'') AS TopTextDesktop
			,ISNULL(psmi.TopTextMobile,'') AS TopTextMobile
			,ISNULL(psmi.TopBannerImageURL,'') AS TopBannerImageURL
			,ISNULL(psmi.BottomBannerImageURL,'') AS BottomBannerImageURL
			,ISNULL(psmi.LateFeeInfo,'') AS LateFeeInfo
			,ISNULL(psmi.CtaButtonText,'') AS CtaButtonText
			,ISNULL(psmi.BottomTitle,'') AS BottomTitle
			,ISNULL(psmi.BottomTextDesktop,'') AS BottomTextDesktop
			,ISNULL(psmi.BottomTextMobile,'') AS BottomTextMobile
			,ISNULL(psmi.BottomButtonText,'') AS BottomButtonText
			,ISNULL(psmi.BottomButtonLink,'') AS BottomButtonLink
			-- ,'https://www-qa.balfour.com/shop/2022-basic-pack-1-no-cap-gown-a0247797?smi=134693' AS [URL] -- Hard coded for the demo 7/13/21
			--,REPLACE(ISNULL(pk.URL,'') + '?smi=' + CAST(@SMI AS varchar(100)), 'www.balfour.com', 'www-qa.balfour.com') AS [URL]
			,ISNULL(pk.URL,'') + '?smi=' + CAST(@SMI AS varchar(100)) AS [URL]
			,ISNULL(psmi.GradPackPayPal,'') AS [GradPackPayPal]
			,CASE WHEN [Loop] = 1 THEN (SELECT * FROM @gradPackOne ORDER BY DisplayOrder FOR JSON PATH)
				WHEN [Loop] = 2 THEN (SELECT * FROM @gradPackTwo ORDER BY DisplayOrder FOR JSON PATH) 
				WHEN [Loop] = 3 THEN (SELECT * FROM @gradPackThree ORDER BY DisplayOrder FOR JSON PATH)
				WHEN [Loop] = 4 THEN (SELECT * FROM @gradPackFour ORDER BY DisplayOrder FOR JSON PATH) 	
			END AS GradPackItem
		FROM #packageList pk
		LEFT JOIN [GradPackSMISettings] psmi ON pk.SMI = psmi.SMI OR psmi.SMI = 0		
		ORDER BY [Loop] FOR JSON PATH
	END
	ELSE
	BEGIN
	 
		SELECT '' AS SMI
			,'' AS SKU
			,'' AS GradPackID
			,'' AS DisplayName
			,'0.00' AS Price
			,'0' AS IsMiniPack
			,'' AS GradPackSMISettingID
			,'' AS TopTitle
			,'' AS TopTextDesktop
			,'' AS TopTextMobile
			,'' AS TopBannerImageURL
			,'' AS BottomBannerImageURL
			,'' AS LateFeeInfo
			,'' AS CtaButtonText
			,'' AS BottomTitle
			,'' AS BottomTextDesktop
			,'' AS BottomTextMobile
			,'' AS BottomButtonText
			,'' AS BottomButtonLink			
			,'' AS [URL]
			,'' AS [GradPackPayPal]		
			,(SELECT '' AS Image_Url, '' AS DisplayName, '' AS DisplayOrder, '' AS ParentSku, 0 AS GradPackID, '' AS Sku, '' AS [Description]  FOR JSON PATH) AS GradPackItem
			--,CASE WHEN [Loop] = 1 THEN (SELECT * FROM @gradPackOne ORDER BY DisplayOrder FOR JSON PATH)
			--	WHEN [Loop] = 2 THEN (SELECT * FROM @gradPackTwo ORDER BY DisplayOrder FOR JSON PATH) 
			--	WHEN [Loop] = 3 THEN (SELECT * FROM @gradPackThree ORDER BY DisplayOrder FOR JSON PATH)
			--	WHEN [Loop] = 4 THEN (SELECT * FROM @gradPackFour ORDER BY DisplayOrder FOR JSON PATH) 	
			--END AS GradPackItem
		--FROM #packageList pk		
		  FOR JSON PATH
	END
	DROP TABLE IF EXISTS #packageList      
END


/*-- TESTING  
	select * from v_gradpacks
	select * from v_gradpackLineItems
	exec [dbo].[s_get_gradpack_bundles_details] @smi =  134693333  --134693
	select * from school_url_master where AffinityURL like '%false%'
--*/ 
GO
