/****** Object:  StoredProcedure [dbo].[s_get_CSIC_items_from_cache]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in
-- =============================================
/** 
	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
	EXEC [s_get_CSIC_items] @skus = 'A0057042A0000,A0096856a0000,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543', @smi='130925', @debugging = 1
	EXEC [s_get_CSIC_items] @skus = 'a0113707a0000|,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543' , @debugging = 1
	select dbo.String_Split('abc,acda')
	EXEC [dbo].[s_get_CSIC_items] @skus = 'A0153378', @debugging = 1
	EXEC [s_get_CSIC_items_add_new_rule] @skus = 'a0153411', @debugging = 1
**/

CREATE PROCEDURE [dbo].[s_get_CSIC_items_from_cache]  
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = NULL,
   @debugging BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @count int, @Max INT, @Loop INT, @Item VARCHAR(200)
	--DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] varchar(9), [wasprice] varchar(9), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @thisSmi varchar(50)
  
	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 
		--CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		--INSERT INTO #skulist (sku)			
		--SELECT value FROM STRING_SPLIT( @skus, ',') a INNER JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
		--ORDER BY p.[Retail Price] DESC
		CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		DECLARE @Raw TABLE ([item] VARCHAR(200), [sku] VARCHAR(100), [smi] VARCHAR(50), [Loop] INT IDENTITY(1,1))
		INSERT INTO @Raw ([item])
		select value from string_split(@skus,',') where CHARINDEX('https:', value) = 0

		SELECT @Loop = 1, @Max = MAX([Loop]) from @Raw
		WHILE @Loop <= @Max
			BEGIN
				SELECT @Item = [Item] FROM @Raw WHERE [Loop] = @Loop
				UPDATE @Raw SET [sku] = CASE WHEN @Item LIKE '%|%' THEN LEFT(@Item,CHARINDEX('|',@Item)-1) ELSE @Item END, [SMI] = CASE WHEN @Item LIKE '%|%' THEN RIGHT(@Item,LEN([item])-CHARINDEX('|',@Item)) ELSE '' END
				WHERE [Loop] = @Loop
				
				SET @Loop = @Loop + 1
			END
		INSERT INTO  #skulist ([sku], [price], [smi])
		SELECT R.[sku], [retail price], R.[smi]
		FROM @Raw R
		LEFT JOIN [dbo].[magento_automated_product_dataset] p ON (p.SKU = R.[sku] OR LEFT(R.[sku],8) = LEFT(p.SKU,8)) 
		ORDER BY p.[Retail Price] DESC
		
		-- Added by Han to prevent leading space in sku
		UPDATE #skulist
		SET sku = LTRIM(RTRIM(sku))

		/*CHanged by TL
		--INSERT INTO #skulist (sku, smi)			
		--SELECT LEFT(a.value,CHARINDEX('|', a.value) ), b.value FROM STRING_SPLIT( @skus, ',') a LEFT JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
		--CROSS APPLY STRING_SPLIT(a.value, '|') AS b  
		--ORDER BY p.[Retail Price] DESC
		*/
		 --SELECT * FROM #skulist WHERE  smi<>sku 
		--CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		--INSERT INTO #skulist (sku, smi)			
		--SELECT LEFT(a.value,CHARINDEX('|', a.value)), b.value FROM STRING_SPLIT( @skus, ',') a LEFT JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
		--CROSS APPLY STRING_SPLIT(a.value, '|') AS b
		--ORDER BY p.[Retail Price] DESC
	 

		SELECT @Max = MAX([Loop]) FROM #skulist
		SET @Loop = 1
		WHILE @Loop <= @Max
		BEGIN
			IF EXISTS(SELECT * FROM #skulist WHERE [Loop] = @Loop AND smi + '|' <> sku )
				BEGIN
					--SELECT * FROM #skulist WHERE smi + '|' <> sku
					SELECT @thisSku = REPLACE([sku],'|', ''), @thisSmi = smi FROM #skulist WHERE [Loop] = @Loop AND smi<>sku ORDER BY price DESC --and isnull(smi,'') <> ''
				END
			ELSE
				BEGIN
					SELECT @thisSku = REPLACE([sku],'|', '') FROM #skulist WHERE [Loop] = @Loop ORDER BY price DESC
				END

			IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			
			/*An INSERT EXEC statement cannot be nested. When I try to do the following, So I will grab the guts of the sproc....*/
			/*Insert into @results 
			exec [s_get_cross_sell_EA] @sku = @thisSku*/

			/** THIS BLOCK WILL INSERT MULTIPLE RECORDS FOR EACH Sku (not used)
			DECLARE @innerresults TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), sortOrder int )		   
			INSERT INTO @innerresults
			EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@smi
			  
			IF @debugging = 1 print 'thisSku: ' + @thisSku
				 
			IF EXISTS(SELECT * FROM @innerresults )
				BEGIN
					INSERT INTO @results
					SELECT * FROM @innerresults;
					--DELETE @innerresults;
				END
			**/
			IF ISNULL(@thisSmi,'') <> ''
				BEGIN
					SET @smi = @thisSmi
				END 
			ELSE IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
				END

			IF EXISTS(SELECT Sku FROM cross_sell_cache_at_cart WHERE LEFT([input sku],8) = LEFT(@thisSku,8))
				BEGIN
					INSERT INTO @results			
					EXEC s_get_CSIC_item_from_cache  @insku = @thisSku, @insmi=@smi, @debug = @debugging
				END 
			ELSE
				BEGIN
					INSERT INTO @results
					EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@smi, @debug = @debugging			
				END 
			
			
			IF @debugging = 1 print 'thisSku: ' + @thisSku + ', thisSmi: ' + @thisSmi

			IF EXISTS(SELECT * FROM @results)
				BEGIN
					IF @debugging = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
					BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
				END 

			--SELECT @count = COUNT(sku) FROM @results
			--IF @count >= 8 --EXISTS(SELECT * FROM @results)
			--	BEGIN
			--		IF @debugging = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			--		BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
			--	END 
			IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			SET @Loop = @Loop + 1
		END; 

		SELECT TOP 8 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type		 
		FROM @results 
		WHERE sku NOT IN (SELECT sku FROM #skulist)				
		ORDER BY SortOrder ASC

		DROP TABLE IF EXISTS #skulist
	END

END
/**
	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
**/

--exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0

 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0
 --	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' 
 --	exec [s_get_CSIC_items] 'A0008601A0000' 
 --exec [s_get_CSIC_items] 'A0003281A0000' 
 --exec [s_get_CSIC_items] 'A0066639A0000' 
 --exec [s_get_CSIC_items] 'A0049693A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0129750A0000' 
 --exec [s_get_CSIC_items] 'A0136516A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0017524A0000' 

 --exec [s_get_CSIC_items] 'A0075899A0000' 
 --exec [s_get_CSIC_items] 'A0139809A0000' 
 --exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 

  

--/****** Object:  StoredProcedure [dbo].[s_get_CSIC_items_add_new_rule]    Script Date: 5/28/2020 10:46:09 AM ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
---- =============================================
---- Author:      Tramel Jones
---- Create Date: 01/02/2020 2020!!
---- Description: Give me CrossSell In Cart suggestions based on SKU list passed in
---- =============================================
--/** 
--	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
--	EXEC [s_get_CSIC_items] @skus = 'A0057042A0000,A0096856a0000,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543', @smi='130925', @debugging = 1
--	EXEC [s_get_CSIC_items] @skus = 'a0113707a0000|,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543' , @debugging = 1
--	select dbo.String_Split('abc,acda')
--	EXEC [dbo].[s_get_CSIC_items] @skus = 'A0153378', @debugging = 1
--**/

--ALTER PROCEDURE [dbo].[s_get_CSIC_items_add_new_rule]
--(
--   @skus VARCHAR(MAX),
--   @smi VARCHAR(40) = NULL,
--   @debugging BIT = 0
--)
--AS
--BEGIN
--    -- SET NOCOUNT ON added to prevent extra result sets from
--    -- interfering with SELECT statements.
--    SET NOCOUNT ON
	
--	DECLARE @count int, @Max INT, @Loop INT, @Item VARCHAR(200)
--	--DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
--	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] varchar(9), [wasprice] varchar(9), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
--	DECLARE @thisSku varchar(100), @thisSmi varchar(50)
  
--	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
--	BEGIN			 
--		--CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
--		--INSERT INTO #skulist (sku)			
--		--SELECT value FROM STRING_SPLIT( @skus, ',') a INNER JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
--		--ORDER BY p.[Retail Price] DESC
--		CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
--		DECLARE @Raw TABLE ([item] VARCHAR(200), [sku] VARCHAR(100), [smi] VARCHAR(50), [Loop] INT IDENTITY(1,1))
--		INSERT INTO @Raw ([item])
--		select value from string_split(@skus,',') where CHARINDEX('https:', value) = 0

--		SELECT @Loop = 1, @Max = MAX([Loop]) from @Raw
--		WHILE @Loop <= @Max
--			BEGIN
--				SELECT @Item = [Item] FROM @Raw WHERE [Loop] = @Loop
--				UPDATE @Raw SET [sku] = CASE WHEN @Item LIKE '%|%' THEN LEFT(@Item,CHARINDEX('|',@Item)-1) ELSE @Item END, [SMI] = CASE WHEN @Item LIKE '%|%' THEN RIGHT(@Item,LEN([item])-CHARINDEX('|',@Item)) ELSE '' END
--				WHERE [Loop] = @Loop
				
--				SET @Loop = @Loop + 1
--			END
--		INSERT INTO  #skulist ([sku], [price], [smi])
--		SELECT R.[sku], [retail price], R.[smi]
--		FROM @Raw R
--		LEFT JOIN [dbo].[magento_automated_product_dataset] p ON (p.SKU = R.[sku] OR LEFT(R.[sku],8) = LEFT(p.SKU,8)) 
--		ORDER BY p.[Retail Price] DESC
		
--		-- Added by Han to prevent leading space in sku
--		UPDATE #skulist
--		SET sku = LTRIM(RTRIM(sku))

--		/*CHanged by TL
--		--INSERT INTO #skulist (sku, smi)			
--		--SELECT LEFT(a.value,CHARINDEX('|', a.value) ), b.value FROM STRING_SPLIT( @skus, ',') a LEFT JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
--		--CROSS APPLY STRING_SPLIT(a.value, '|') AS b  
--		--ORDER BY p.[Retail Price] DESC
--		*/
--		 --SELECT * FROM #skulist WHERE  smi<>sku 
--		--CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
--		--INSERT INTO #skulist (sku, smi)			
--		--SELECT LEFT(a.value,CHARINDEX('|', a.value)), b.value FROM STRING_SPLIT( @skus, ',') a LEFT JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
--		--CROSS APPLY STRING_SPLIT(a.value, '|') AS b
--		--ORDER BY p.[Retail Price] DESC
	 

--		SELECT @Max = MAX([Loop]) FROM #skulist
--		SET @Loop = 1
--		WHILE @Loop <= @Max
--		BEGIN
--			IF EXISTS(SELECT * FROM #skulist WHERE [Loop] = @Loop AND smi + '|' <> sku )
--				BEGIN
--					--SELECT * FROM #skulist WHERE smi + '|' <> sku
--					SELECT @thisSku = REPLACE([sku],'|', ''), @thisSmi = smi FROM #skulist WHERE [Loop] = @Loop AND smi<>sku ORDER BY price DESC --and isnull(smi,'') <> ''
--				END
--			ELSE
--				BEGIN
--					SELECT @thisSku = REPLACE([sku],'|', '') FROM #skulist WHERE [Loop] = @Loop ORDER BY price DESC
--				END

--			IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			
--			/*An INSERT EXEC statement cannot be nested. When I try to do the following, So I will grab the guts of the sproc....*/
--			/*Insert into @results 
--			exec [s_get_cross_sell_EA] @sku = @thisSku*/

--			/** THIS BLOCK WILL INSERT MULTIPLE RECORDS FOR EACH Sku (not used)
--			DECLARE @innerresults TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), sortOrder int )		   
--			INSERT INTO @innerresults
--			EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@smi
			  
--			IF @debugging = 1 print 'thisSku: ' + @thisSku
				 
--			IF EXISTS(SELECT * FROM @innerresults )
--				BEGIN
--					INSERT INTO @results
--					SELECT * FROM @innerresults;
--					--DELETE @innerresults;
--				END
--			**/
--			IF ISNULL(@thisSmi,'') <> ''
--				BEGIN
--					SET @smi = @thisSmi
--				END 
--			ELSE IF ISNULL(@smi,'') = ''
--				BEGIN
--					SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
--				END

--			INSERT INTO @results
--			--EXEC s_get_CSIC_item_add_new_rule_for_test  @insku = @thisSku, @insmi=@smi, @debug = @debugging
--			EXEC s_get_CSIC_item_from_cache  @insku = @thisSku, @insmi=@smi, @debug = @debugging
			  
--			IF @debugging = 1 print 'thisSku: ' + @thisSku + ', thisSmi: ' + @thisSmi

--			IF EXISTS(SELECT * FROM @results)
--				BEGIN
--					IF @debugging = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
--					BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
--				END 

--			--SELECT @count = COUNT(sku) FROM @results
--			--IF @count >= 8 --EXISTS(SELECT * FROM @results)
--			--	BEGIN
--			--		IF @debugging = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
--			--		BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
--			--	END 
--			IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
--			SET @Loop = @Loop + 1
--		END; 

--		SELECT TOP 8 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type		 
--		FROM @results 
--		WHERE sku NOT IN (SELECT sku FROM #skulist)				
--		ORDER BY SortOrder ASC

--		DROP TABLE IF EXISTS #skulist
--	END

--END
--/**
--	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
--**/

----exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0

-- --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
-- --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0
-- --	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' 
-- --	exec [s_get_CSIC_items] 'A0008601A0000' 
-- --exec [s_get_CSIC_items] 'A0003281A0000' 
-- --exec [s_get_CSIC_items] 'A0066639A0000' 
-- --exec [s_get_CSIC_items] 'A0049693A0000' 
-- --exec [s_get_CSIC_items] 'A0173561A0000' 
-- --exec [s_get_CSIC_items] 'A0129750A0000' 
-- --exec [s_get_CSIC_items] 'A0136516A0000' 
-- --exec [s_get_CSIC_items] 'A0173561A0000' 
-- --exec [s_get_CSIC_items] 'A0017524A0000' 

-- --exec [s_get_CSIC_items] 'A0075899A0000' 
-- --exec [s_get_CSIC_items] 'A0139809A0000' 
-- --exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 
GO
