/****** Object:  StoredProcedure [dbo].[s_update_school_events_locations_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/18/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_school_events_locations_record]
(
 @SMI INT = NULL
,@GM_Link VARCHAR(500) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@Location VARCHAR(100) = NULL
,@ID_OUT INT = NULL OUT
,@GUID_Out VARCHAR(50) = '' OUT
)
AS
--EXEC s_update_school_events_locations_record @SMI=131564, @GUID = 'dddfake', @Location='Alumni Building',@ID=0
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [School_Events_Locations].
--##RS1 The [ID] value of the inserted/updated record in the table [School_Events_Locations].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    PRINT 'Insert operation'
    --We need to determine whether or not this location already exists
	DECLARE @Cnt INT
	SET @Cnt = 0
	SELECT @Cnt = COUNT(*) FROM [dbo].[School_Events_Locations] WHERE LTRIM(RTRIM([Location])) = LTRIM(RTRIM(@Location)) AND [SMI] = @SMI
	PRINT '@Cnt=' + CAST(@Cnt AS VARCHAR(15))
	IF @Cnt > 0
		BEGIN
		    PRINT 'Found one'
			SELECT @GUID_Out = [GUID], @ID_OUT = [ID] FROM [dbo].[School_Events_Locations] WHERE LTRIM(RTRIM([Location])) = LTRIM(RTRIM(@Location)) AND [SMI] = @SMI
		END
	ELSE
		BEGIN
			PRINT 'Not found - adding'
			SET @GUID_Out = @GUID
			INSERT INTO [School_Events_Locations] ( [SMI],[Location],[GM_Link],[GUID])
			   VALUES ( @SMI,@Location,@GM_Link,@GUID)
			SELECT @ID_Out = SCOPE_IDENTITY()
			PRINT 'New record ID = ' + CAST(@ID_Out AS VARCHAR(15))
			--SELECT @GUID_Out = [GUID] FROM [School_Events_Locations] WHERE [id] = @ID_OUT
		END
  END
ELSE
  BEGIN
    UPDATE [School_Events_Locations] SET
     [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[Location] = CASE WHEN @Location IS NULL THEN [Location] ELSE @Location END
    ,[GM_Link] = CASE WHEN @GM_Link IS NULL THEN [GM_Link] ELSE @GM_Link END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
      WHERE [ID] = @ID
    SET @ID_Out = @ID
  END

  
SELECT
 [ID]
,[SMI]
,[Location]
,[GM_Link]
,[GUID]

FROM dbo.[School_Events_Locations]
WHERE [ID] = CASE WHEN @ID != 0 THEN /*Return only the one being updated*/ @ID_Out ELSE /*Return them all*/[ID] END
AND [SMI] = @SMI
GO
