/****** Object:  StoredProcedure [dbo].[s_get_location_dates_times_json]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_location_dates_times_json]
(
	  @GUID VARCHAR(50) = ''
	 ,@XRef_GUID VARCHAR(50) = ''
)
AS
SET NOCOUNT ON
--EXEC s_get_location_dates_times_json '8d6295d1-67de-4c0e-a25e-920cf5cd593d'
IF LTRIM(RTRIM(@GUID)) = ''
	BEGIN
		SET @GUID = NEWID()
		INSERT INTO dbo.[School_Events_Locations_Dates] ([GUID],[Location_GUID],[EventStartDate]) VALUES (@GUID,@XRef_GUID,DATEADD(day,1,GETDATE()))
	END
DECLARE @eventGuid VARCHAR(50)
SET @eventGuid = ''
SELECT @eventGuid = [Event_GUID] FROM [dbo].[School_Events_Locations_XRef] WHERE [GUID] = @XRef_GUID
SELECT 
 FORMAT(dbo.fn_DateTime_to_Central(EventStartDate), 'MM/dd/yyyy') as [startDate]
,CASE WHEN [EventEndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central(EventEndDate), 'MM/dd/yyyy') ELSE '' END as [endDate]
,[GUID] 
,(
	SELECT
	 '<a href="javascript:EditTime(' + '''' + [GUID] + ''');" title="Change time"><span class="ui-icon ui-icon-pencil"></span>' + FORMAT(CAST([StartTime] AS DATETIME), 'h:mm tt') + CASE WHEN [EndTime] IS NOT NULL THEN ' to ' + FORMAT(CAST([EndTime] AS DATETIME), 'h:mm tt') ELSE '' END + '</a>&nbsp;<a href="javascript:DeleteTime(''' + [GUID] + ''');" title="Remove time"><span class="ui-icon ui-icon-circle-minus"></span></a>' as [time]
	
	FROM [dbo].[School_Events_Locations_Dates_Times] as times
	WHERE times.Dates_GUID = dates.GUID
	FOR JSON PATH
 ) times
 ,CASE WHEN ISNULL(@eventGUID,'') <> '' THEN [dbo].[fn_GetLocationDateTimeInfo] (@eventGuid) ELSE '' END as [MainLocationDateTimeInfo]
 ,CASE WHEN ISNULL(@XRef_GUID,'') <> '' THEN[dbo].[fn_SchoolEventLocationsDates] (@XRef_GUID,1) ELSE '' END as [LocationDateTimeInfo]
FROM [dbo].[School_Events_Locations_Dates] as dates
WHERE [GUID] = @GUID
FOR JSON PATH
GO
