/****** Object:  StoredProcedure [dbo].[s_get_contentmainnavdetails_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 10/5/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_contentmainnavdetails_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --ContentMainNavGUID, ModifiedBy
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @Status TINYINT = 1
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 25
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ContentMainNavDetails] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [ContentMainNavDetails].
--##PD @searchField - The field to search on (ContentMainNavGUID, ModifiedBy)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ContentMainNavDetails].

--DECLARE @totalRecords INT; EXEC s_get_contentmainnavdetails_records @searchField = 'ID', @searchTerm = '', @Status = 1, @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [GUID]
		,FORMAT(dbo.fn_DateTime_to_Central([LastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [LastModified]
		,[ContentMainNavGUID]
		,[HTMLContent]
		,[ID]
		,[ModifiedBy]
		,[ItemName]
		FROM [ContentMainNavDetails]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[ContentMainNavDetails]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999

		DECLARE @ContentMainNavGUID VARCHAR(50)
		SELECT TOP 1 @ContentMainNavGUID = [GUID] FROM [dbo].[ContentMainNav] WHERE [Status] = @Status
		PRINT @ContentMainNavGUID

		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [ContentMainNavDetails]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([ItemName],'') LIKE CASE WHEN @searchField = 'ItemName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ItemName],'') END
		AND ISNULL([ModifiedBy],'') LIKE CASE WHEN @searchField = 'ModifiedBy' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ModifiedBy],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [GUID]
				,FORMAT(dbo.fn_DateTime_to_Central([LastModified])				, 'MM/dd/yyyy hh:mm:ss tt') AS [LastModified]
				,[ContentMainNavGUID]
				,[HTMLContent]
				,[ID]
				,[ModifiedBy]
				,[ItemName]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'ContentMainNavGUID' THEN [ContentMainNavGUID] WHEN 'ModifiedBy' THEN [ModifiedBy] END DESC) as RowNumber
				FROM [dbo].[ContentMainNavDetails]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [ContentMainNavGUID] = @ContentMainNavGUID
				AND ISNULL([ItemName],'') LIKE CASE WHEN @searchField = 'ItemName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ItemName],'') END
				AND ISNULL([ModifiedBy],'') LIKE CASE WHEN @searchField = 'ModifiedBy' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ModifiedBy],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [GUID]
				,FORMAT(dbo.fn_DateTime_to_Central([LastModified])				, 'MM/dd/yyyy hh:mm:ss tt') AS [LastModified]
				,[ContentMainNavGUID]
				,[HTMLContent]
				,[ID]
				,[ModifiedBy]
				,[ItemName]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'ContentMainNavGUID' THEN [ContentMainNavGUID] WHEN 'ModifiedBy' THEN [ModifiedBy] END) as RowNumber
				FROM [dbo].[ContentMainNavDetails]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [ContentMainNavGUID] = @ContentMainNavGUID
				AND ISNULL([ItemName],'') LIKE CASE WHEN @searchField = 'ItemName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ItemName],'') END
				AND ISNULL([ModifiedBy],'') LIKE CASE WHEN @searchField = 'ModifiedBy' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([ModifiedBy],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
