/****** Object:  StoredProcedure [dbo].[s_data_feed_quote_updated_to_silverpop]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 09/03/2020
-- Description: Updated quote id that is already purchased to Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_data_feed_quote_updated_to_silverpop]   
AS
--exec [s_data_feed_purchase_quote_update_to_silverpop]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @ReportTemp TABLE(EntityID bigint, OrderID bigint, Email varchar(MAX), HasOrdered bit, CartAbandonType varchar(5))
 
	--INSERT INTO @ReportTemp (entity_id, store_id, created_at, updated_at, customer_id, customer_email, customer_firstname, customer_lastname)
	INSERT INTO @ReportTemp (EntityID, OrderID, Email, HasOrdered, CartAbandonType)
	SELECT q.[entity_id] AS EntityID,	q.[entity_id] AS OrderID, q.[customer_email] AS Email, '1', 'Quote'
	FROM quote q	
	--INNER JOIN MAGE_Sales_Order o ON q.[entity_id] = o.quote_id
	WHERE q.customer_email IS NOT NULL 
	AND q.created_at > GETDATE() - 60
	AND [entity_id] IN (SELECT Quote_ID FROM MAGE_Sales_Order) --(SELECT Quote_item_Id FROM MAGE_sales_order_item) 	 

	SELECT * FROM @ReportTemp	
 
END
 

 
GO
