/****** Object:  StoredProcedure [dbo].[s_get_affinitypage_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/30/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_affinitypage_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --SMI, topHeadline, schoolShopHeadline, GUID
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'ASC'
	, @sortField VARCHAR(50) = 'SMI'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [AffinityPage] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [AffinityPage].
--##PD @searchField - The field to search on (SMI, topHeadline, schoolShopHeadline, GUID)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @startDate The starting date
--##PD @endDate The ending date
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [AffinityPage].

--DECLARE @totalRecords INT; EXEC s_get_affinitypage_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @sort = 'DESC', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_affinitypage_records @searchField = 'SMI', @searchTerm = '', @sortField='ID', @sort='DESC', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords

SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [emailCollectionTitle]
		,School.AltName as [schoolName]
		,School.[URL] as [uRL]
		,[seasonalPromoBannerCTAButtonText]
		,[classRingsTileImageMobile]
		--,[medBoxTaglineThree]
		,[schoolShopSubheadline]
		--,[medBoxTextTwo]
		,[classRingsHeadline]
		--,[medBoxImageThree]
		,A.[SMI]
		,A.[ID]
		,[graduationHeadline]
		,[inProduction]
		,[paymentsTileText]
		,[classRingsTileCTALink]
		--,[lgBoxYearbooksLink]
		,[ringSizeText]
		--,[medBoxTaglineTwo]
		,[seasonalPromoBannerTitle]
		--,[medBoxTextOne]
		--,[lgBoxGradPacksImage]
		,[affinityCTAButtonText]
		--,[medBoxImageTwo]
		--,[lgBoxGradPacksCTAButtonText]
		,[seasonalPromoBannerCTAButtonLink]
		,[schoolShopCTAButtonText]
		,FORMAT(dbo.fn_DateTime_to_Central([lastUpdated]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastUpdated]
		,[classRingsSubheadline]
		--,[medBoxImageThreeMobile]
		,[ringSizeLink]
		,[emailCollectionText]
		,[classRingsTileTopText]
		--,[medBoxLinkThree]
		,[seasonalPromoBannerImage]
		--,[medBoxImageOne]
		,[classRingsTileCTALinkNewTab]
		--,[lgBoxYearbooksText]
		,[topHeadline]
		--,[medBoxTaglineOne]
		,[graduationSubheadline]
		--,[medBoxImageTwoMobile]
		,[schoolShopHeadline]
		,[topPromoBannerHTML]
		,[categoryShopTitle]
		--,[medBoxLinkTwo]
		--,[lgBoxGradPacksLink]
		,[seasonalPromoBannerText]
		,[emailCollectionCTAButtonText]
		,[classRingsTileBottomText]
		,[ringSizeHeadline]
		,[classRingsTileImage]
		,A.[GUID]
		,[ringSizeLinkText]
		,[paymentsTileHeadline]
		--,[medBoxTextThree]
		--,[medBoxLinkOne]
		,[topSubheadline]
		--,[lgBoxGradPacksText]
		--,[lgBoxYearbooksImage]
		,[seasonalPromoBannerImageMobile]
		--,[medBoxImageOneMobile]
		--,[lgBoxYearbookCTAButtonText]
		,ISNULL([schoolTextColor],'') as [schoolTextColor]
		,ISNULL([schoolBackgroundColor],'') as [schoolBackgroundColor]
		FROM [AffinityPageWorking] A
		LEFT JOIN [dbo].[School_URL_Master] School ON School.SMI = A.SMI
		WHERE A.[ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[AffinityPageWorking]
		WHERE [ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999

		IF @startDate IS NULL SET @startDate = '1-1-1900'
		IF @endDate IS NULL SET @endDate = DATEADD(d, 1, GETDATE())

		SET @startDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @startDate, 101) as DATETIME))
		SET @endDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME))

		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [AffinityPageWorking] A
		LEFT JOIN [dbo].[School_URL_Master] School on School.SMI = A.SMI
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND CAST(A.[SMI] AS VARCHAR(50)) LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST(A.[SMI] as VARCHAR(50)) END
		AND ISNULL([topHeadline],'') LIKE CASE WHEN @searchField = 'topHeadline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([topHeadline],'') END
		AND ISNULL([schoolShopHeadline],'') LIKE CASE WHEN @searchField = 'schoolShopHeadline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([schoolShopHeadline],'') END
		AND ISNULL([GUID],'') LIKE CASE WHEN @searchField = 'GUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GUID],'') END
		AND ISNULL(school.[AltName],'') LIKE CASE WHEN @searchField = 'schoolName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(school.[altName],'') END
		AND [lastUpdated] BETWEEN @startDate AND @endDate
		--We only want the latest working record for each SMI
		AND [Current] = 1

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [emailCollectionTitle]
				,School.AltName as [schoolName]
				,School.[URL] as [uRL]
				,[seasonalPromoBannerCTAButtonText]
				,[classRingsTileImageMobile]
				--,[medBoxTaglineThree]
				,[schoolShopSubheadline]
				--,[medBoxTextTwo]
				,[classRingsHeadline]
				--,[medBoxImageThree]
				,A.[SMI]
				,A.[ID]
				,[graduationHeadline]
				,[inProduction]
				,[paymentsTileText]
				,[classRingsTileCTALink]
				--,[lgBoxYearbooksLink]
				,[ringSizeText]
				--,[medBoxTaglineTwo]
				,[seasonalPromoBannerTitle]
				--,[medBoxTextOne]
				--,[lgBoxGradPacksImage]
				,[affinityCTAButtonText]
				--,[medBoxImageTwo]
				--,[lgBoxGradPacksCTAButtonText]
				,[seasonalPromoBannerCTAButtonLink]
				,[schoolShopCTAButtonText]
				,FORMAT(dbo.fn_DateTime_to_Central([lastUpdated])				, 'MM/dd/yyyy hh:mm:ss tt') AS [lastUpdated]
				,[classRingsSubheadline]
				--,[medBoxImageThreeMobile]
				,[ringSizeLink]
				,[emailCollectionText]
				,[classRingsTileTopText]
				--,[medBoxLinkThree]
				,[seasonalPromoBannerImage]
				--,[medBoxImageOne]
				,[classRingsTileCTALinkNewTab]
				--,[lgBoxYearbooksText]
				,[topHeadline]
				--,[medBoxTaglineOne]
				,[graduationSubheadline]
				--,[medBoxImageTwoMobile]
				,[schoolShopHeadline]
				,[topPromoBannerHTML]
				,[categoryShopTitle]
				--,[medBoxLinkTwo]
				--,[lgBoxGradPacksLink]
				,[seasonalPromoBannerText]
				,[emailCollectionCTAButtonText]
				,[classRingsTileBottomText]
				,[ringSizeHeadline]
				,[classRingsTileImage]
				,A.[GUID]
				,[ringSizeLinkText]
				,[paymentsTileHeadline]
				--,[medBoxTextThree]
				--,[medBoxLinkOne]
				,[topSubheadline]
				--,[lgBoxGradPacksText]
				--,[lgBoxYearbooksImage]
				,[seasonalPromoBannerImageMobile]
				--,[medBoxImageOneMobile]
				--,[lgBoxYearbookCTAButtonText]
				,ISNULL([schoolTextColor],'') as [schoolTextColor]
				,ISNULL([schoolBackgroundColor],'') as [schoolBackgroundColor]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST(A.[ID] AS VARCHAR(50)),50) WHEN 'SMI' THEN RIGHT(REPLICATE('0',49) + CAST(A.[SMI] AS VARCHAR(50)),50) WHEN 'topHeadline' THEN [topHeadline] WHEN 'schoolName' THEN school.AltName WHEN 'schoolShopHeadline' THEN [schoolShopHeadline] WHEN 'lastUpdated' THEN CAST([lastUpdated] as VARCHAR(30)) END DESC) as RowNumber
				FROM [dbo].[AffinityPageWorking] A
				LEFT JOIN [dbo].[School_URL_Master] School ON School.SMI = A.SMI
				WHERE A.[ID] = CASE WHEN @ID IS NULL THEN A.[ID] ELSE @ID END
				AND CAST(A.[SMI] as VARCHAR(50)) LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST(A.[SMI] as VARCHAR(50)) END
				AND ISNULL([topHeadline],'') LIKE CASE WHEN @searchField = 'topHeadline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([topHeadline],'') END
				AND ISNULL([schoolShopHeadline],'') LIKE CASE WHEN @searchField = 'schoolShopHeadline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([schoolShopHeadline],'') END
				AND ISNULL([GUID],'') LIKE CASE WHEN @searchField = 'GUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GUID],'') END
				AND ISNULL(school.[AltName],'') LIKE CASE WHEN @searchField = 'schoolName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(school.[altName],'') END
				AND [lastUpdated] BETWEEN @startDate AND @endDate
				AND [Current] = 1
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [emailCollectionTitle]
				,School.AltName as [schoolName]
				,School.[URL] as [uRL]
				,[seasonalPromoBannerCTAButtonText]
				,[classRingsTileImageMobile]
				--,[medBoxTaglineThree]
				,[schoolShopSubheadline]
				--,[medBoxTextTwo]
				,[classRingsHeadline]
				--,[medBoxImageThree]
				,A.[SMI]
				,A.[ID]
				,[graduationHeadline]
				,[inProduction]
				,[paymentsTileText]
				,[classRingsTileCTALink]
				--,[lgBoxYearbooksLink]
				,[ringSizeText]
				--,[medBoxTaglineTwo]
				,[seasonalPromoBannerTitle]
				--,[medBoxTextOne]
				--,[lgBoxGradPacksImage]
				,[affinityCTAButtonText]
				--,[medBoxImageTwo]
				--,[lgBoxGradPacksCTAButtonText]
				,[seasonalPromoBannerCTAButtonLink]
				,[schoolShopCTAButtonText]
				,FORMAT(dbo.fn_DateTime_to_Central([lastUpdated])				, 'MM/dd/yyyy hh:mm:ss tt') AS [lastUpdated]
				,[classRingsSubheadline]
				--,[medBoxImageThreeMobile]
				,[ringSizeLink]
				,[emailCollectionText]
				,[classRingsTileTopText]
				--,[medBoxLinkThree]
				,[seasonalPromoBannerImage]
				--,[medBoxImageOne]
				,[classRingsTileCTALinkNewTab]
				--,[lgBoxYearbooksText]
				,[topHeadline]
				--,[medBoxTaglineOne]
				,[graduationSubheadline]
				--,[medBoxImageTwoMobile]
				,[schoolShopHeadline]
				,[topPromoBannerHTML]
				,[categoryShopTitle]
				--,[medBoxLinkTwo]
				--,[lgBoxGradPacksLink]
				,[seasonalPromoBannerText]
				,[emailCollectionCTAButtonText]
				,[classRingsTileBottomText]
				,[ringSizeHeadline]
				,[classRingsTileImage]
				,A.[GUID]
				,[ringSizeLinkText]
				,[paymentsTileHeadline]
				--,[medBoxTextThree]
				--,[medBoxLinkOne]
				,[topSubheadline]
				--,[lgBoxGradPacksText]
				--,[lgBoxYearbooksImage]
				,[seasonalPromoBannerImageMobile]
				--,[medBoxImageOneMobile]
				--,[lgBoxYearbookCTAButtonText]
				,ISNULL([schoolTextColor],'') as [schoolTextColor]
				,ISNULL([schoolBackgroundColor],'') as [schoolBackgroundColor]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST(A.[ID] AS VARCHAR(50)),50) WHEN 'SMI' THEN RIGHT(REPLICATE('0',49) + CAST(A.[SMI] AS VARCHAR(50)),50) WHEN 'topHeadline' THEN [topHeadline] WHEN 'schoolName' THEN school.AltName WHEN 'schoolShopHeadline' THEN [schoolShopHeadline] WHEN 'lastUpdated' THEN CAST([lastUpdated] as VARCHAR(30)) END) as RowNumber
				FROM [dbo].[AffinityPageWorking] A
				LEFT JOIN [dbo].[School_URL_Master] School ON School.SMI = A.SMI
				WHERE A.[ID] = CASE WHEN @ID IS NULL THEN A.[ID] ELSE @ID END
				AND CAST(A.[SMI] AS VARCHAR(50)) LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE CAST(A.[SMI] AS VARCHAR(50)) END
				AND ISNULL([topHeadline],'') LIKE CASE WHEN @searchField = 'topHeadline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([topHeadline],'') END
				AND ISNULL([schoolShopHeadline],'') LIKE CASE WHEN @searchField = 'schoolShopHeadline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([schoolShopHeadline],'') END
				AND ISNULL([GUID],'') LIKE CASE WHEN @searchField = 'GUID' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([GUID],'') END
				AND ISNULL(school.[AltName],'') LIKE CASE WHEN @searchField = 'schoolName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL(school.[altName],'') END
				AND [lastUpdated] BETWEEN @startDate AND @endDate
				AND [Current] = 1
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
