/****** Object:  StoredProcedure [dbo].[s_get_grad_popular_photo_announcements]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Han Tran
-- Create Date: 11/18/2021
-- Description: Get All Graduation Announcement Stationery product for Graduation-Announcement page
-- =============================================
CREATE PROCEDURE [dbo].[s_get_grad_popular_photo_announcements]		  
	(@smi BIGINT = 0)
AS
BEGIN
	/**RULES by Theresa: 4 SKUs provided by Theresa - missing 	A0258923
	**/
	-- DECLARE @smi bigint = 100088	 						 
	SELECT 	[Product Name] AS [ProductName],
			CASE WHEN  Sku = 'A0258922' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/announcements/A0258922_1.jpg' 
				WHEN  Sku = 'A0258923' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/announcements/A0258923_1.jpg' 
				WHEN  Sku = 'A0258924' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/announcements/A0258924_1.jpg' 
				WHEN  Sku = 'A0258925' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/mockup-images/announcements/A0258925_1.jpg' END AS ImageUrl,
		   ISNULL([Special Price (% for bundles)],
		   [Retail Price]) AS Price, 
		   CASE WHEN CHARINDEX('?', [Url]) > 0 THEN REPLACE([Url],'https://www.balfour.com','') + '&smi=' + CAST(@smi AS varchar(30)) ELSE  REPLACE([Url],'https://www.balfour.com','') + '?smi=' + CAST(@smi AS varchar(30)) END  AS Url	
	FROM magento_automated_product_dataset_ANN_QA 
	WHERE SKU IN ('A0258922','A0258923','A0258924','A0258925')
		  AND 1 = CASE WHEN (ISNULL([Included SMI], '') = '' OR [Included SMI] = '0') OR (ISNULL([Included SMI], '') <> '' AND [Included SMI] <> '0' AND CHARINDEX( CAST(@smi AS VARCHAR(30)), [Included SMI]) > 0) THEN 1 
			 	  ELSE 0 END -- check if the included smi needs for this sku, if it presents, check if it matches with the passing smi, if it matches, return the sku, if not, do not return the sku
			   AND Status = 'enable' 
			   AND ([Stock maintenance] = 'Do not Manage Stock' OR ISNULL( [Quantity in Stock],0) > 0)	
	FOR JSON PATH
END

 	SET ANSI_NULLS ON
GO
