/****** Object:  StoredProcedure [dbo].[s_delete_digitalcodes_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/23/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_digitalcodes_record]
(
	 @ID BIGINT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [DigitalCodes].
--##PD @ID in [DigitalCodes].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [DigitalCodes] WHERE [ID] = @ID



GO
