/****** Object:  StoredProcedure [dbo].[s_insert_cross_sell_cache_at_cart]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in
-- =============================================
/** 
	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
	EXEC [s_get_CSIC_items] @skus = 'A0057042A0000,A0096856a0000,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543', @smi='130925', @debugging = 1
	EXEC [s_get_CSIC_items] @skus = 'a0113707a0000|,https://pbxsvc.balfour.com/editor/edit_product|&pim_a_pbprodfamid=55&item_id=e0c86e23-eb24-455a-ab4d-10d2ae736da5&shop_user_id=&vendor_product_id=1701&qid=4508463&qiid=4233543' , @debugging = 1
	select dbo.String_Split('abc,acda')
	EXEC [dbo].[s_get_CSIC_items] @skus = 'A0153378', @debugging = 1

	

	EXEC s_get_CSIC_item  @insku = 'a0004587', @insmi='131711', @debug  = 1
**/

CREATE PROCEDURE [dbo].[s_insert_cross_sell_cache_at_cart] 
(
   @debugging BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	-- TEST    DECLARE  @debugging BIT = 1
	DECLARE @count int, @Max INT, @Loop INT, @Item VARCHAR(200)
	DECLARE @thisSku varchar(100), @thisSmi varchar(50)
	DECLARE @BatchID VARCHAR(50)
	
	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 
 
		CREATE TABLE #skulist (sku VARCHAR(100), Loop INT IDENTITY(1,1), smi VARCHAR(50)) 
		
		INSERT INTO  #skulist ([sku],[smi])
		SELECT [SKU], [SMI]
		FROM [dbo].[CSUSSKUs]
		WHERE DTM >= DATEADD(month,-6,GETDATE())
		GROUP BY [SKU], [SMI]
		HAVING COUNT([SKU]) >= 25 
		   
		UPDATE #skulist
		SET sku = LTRIM(RTRIM(sku)), smi = LTRIM(RTRIM(smi))
	   --select * from #skulist

		SELECT @Max = MAX([Loop]) FROM #skulist
		SET @Loop = 1
		DELETE FROM [dbo].[cross_sell_cache_at_cart] WHERE [Batch ID] IS NULL
		WHILE @Loop <= @Max
		BEGIN
			 
			SELECT @thisSku = sku, @thisSmi = smi FROM #skulist WHERE [Loop] = @Loop
			
			IF ISNULL(@thisSmi,'') = ''
			BEGIN
				SELECT  @thisSmi = COALESCE([SMI], NULL) FROM MAGE_balfour_product_smi_scoped_price where LEFT(SKU,8) = LEFT(@thisSku,8)	
				IF ISNULL(@thisSmi,'') = ''
				BEGIN
					SELECT @thisSmi = COALESCE([Included SMI],[Exclusive SMI],NULL) FROM magento_automated_product_dataset where LEFT(SKU,8) = LEFT(@thisSku,8)	
				END
			END
			IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			 
			IF @debugging = 1 print 'loop: ' + CAST(@Loop AS varchar(30)) + ', thisSku: ' + @thisSku + ', thisSmi: ' + @thisSmi

			INSERT INTO cross_sell_cache_at_cart
			(imageurl, url,	SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder,	[config_type] )
			--EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@thisSmi--, @debug = @debugging			 					
			EXEC [s_get_CSIC_item]  @insku = @thisSku, @insmi=@thisSmi--, @debug = @debugging			 					
			SET @BatchID = NEWID()
		 
			UPDATE cross_sell_cache_at_cart 
			SET [Batch ID] = @BatchID, SMI = @thisSmi, [input sku] = @thisSku
			WHERE [input sku] IS NULL
			  
			UPDATE [dbo].[cross_sell_cache_at_cart] SET [Batch ID] = NULL WHERE [Batch ID] = @BatchID
			 
			IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			SET @Loop = @Loop + 1
		END; 
		
		DROP TABLE IF EXISTS #skulist
	END

END
 
 --EXEC [s_get_CSIC_item]  @insku = @thisSku, @insmi=@thisSmi
 --exec [s_insert_cross_sell_cache_at_cart] @debugging = 1
GO
