/****** Object:  StoredProcedure [dbo].[s_get_gradpacksmiassignments_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/10/2021 - Jon Kaufman
*/
CREATE PROCEDURE [dbo].[s_get_gradpacksmiassignments_records]
(
	  @GradPackSMIAssignmentID INT = NULL
	, @searchField VARCHAR(50) = '' --SMI, SKU
	,  @SMI INT = NULL
	,  @SKU VARCHAR(50) = NULL
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'GradPackSMIAssignmentID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [GradPackSMIAssignments] if the parameter @GradPackSMIAssignmentID has a value or a list of records if null.
--##PD @GradPackSMIAssignmentID in [GradPackSMIAssignments].
--##PD @SMI is a limiting field
--##PD @SKU is a limiting field
--##PD @searchField - The field to search on (SMI, SKU)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [GradPackSMIAssignmentID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [GradPackSMIAssignments].

--DECLARE @totalRecords INT; EXEC s_get_gradpacksmiassignments_records @searchField = 'GradPackSMIAssignmentID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @GradPackSMIAssignmentID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [GradPackSMIAssignmentID]
		,[SMI]
		,[SKU]
		FROM [GradPackSMIAssignments]
		WHERE [GradPackSMIAssignmentID] = @GradPackSMIAssignmentID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[GradPackSMIAssignments]
		WHERE[GradPackSMIAssignmentID] = @GradPackSMIAssignmentID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [GradPackSMIAssignments]
		WHERE [GradPackSMIAssignmentID] = CASE WHEN @GradPackSMIAssignmentID IS NULL THEN [GradPackSMIAssignmentID] ELSE @GradPackSMIAssignmentID END
		AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
		AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
		AND ISNULL([SMI],'') = CASE WHEN @searchField = 'SMI' and ltrim(rtrim(@searchTerm)) != '' THEN CAST(@searchTerm AS int) ELSE ISNULL([SMI],'') END
		AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [GradPackSMIAssignmentID]
				,[SMI]
				,[SKU]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackSMIAssignmentID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackSMIAssignmentID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] WHEN 'SKU' THEN [SKU] END DESC) as RowNumber
				FROM [dbo].[GradPackSMIAssignments]
				WHERE [GradPackSMIAssignmentID] = CASE WHEN @GradPackSMIAssignmentID IS NULL THEN [GradPackSMIAssignmentID] ELSE @GradPackSMIAssignmentID END
				AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
				AND ISNULL([SMI],'') = CASE WHEN @searchField = 'SMI' and ltrim(rtrim(@searchTerm)) != '' THEN CAST(@searchTerm AS int) ELSE ISNULL([SMI],'') END
				AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [GradPackSMIAssignmentID]
				,[SMI]
				,[SKU]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackSMIAssignmentID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackSMIAssignmentID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] WHEN 'SKU' THEN [SKU] END) as RowNumber
				FROM [dbo].[GradPackSMIAssignments]
				WHERE [GradPackSMIAssignmentID] = CASE WHEN @GradPackSMIAssignmentID IS NULL THEN [GradPackSMIAssignmentID] ELSE @GradPackSMIAssignmentID END
				AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND [SKU] = CASE WHEN @SKU IS NULL THEN [SKU] ELSE @SKU END
				AND ISNULL([SMI],'') = CASE WHEN @searchField = 'SMI' and ltrim(rtrim(@searchTerm)) != '' THEN CAST(@searchTerm AS int)  ELSE ISNULL([SMI],'') END
				AND ISNULL([SKU],'') LIKE CASE WHEN @searchField = 'SKU' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SKU],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
