/****** Object:  StoredProcedure [dbo].[s_update_iop_tile]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   
CREATE PROCEDURE [dbo].[s_update_iop_tile]    
@iopID INT,  
@smi NVARCHAR(50) ,             
-- @newURL BIT , 
@LinkId INT ,
@IsActive BIT ,    
@UpdatedBy NVARCHAR(50),      
@UpdatedDate DATETIME      
          
AS        
    BEGIN          
	if @LinkId = 0 
	BEGIN
	SET @LinkId = 1
	END
     UPDATE iop   
     SET    
            iop.smi = @smi,    
            iop.LinkId = @LinkId ,    
            iop.IsActive = @IsActive ,    
            iop.UpdatedBy = @UpdatedBy ,    
            iop.UpdatedDate = @UpdatedDate  
  FROM [iop_tiles] iop    
  WHERE iopID = @iopID   
    END;  
GO
