/****** Object:  StoredProcedure [dbo].[s_get_voucher_orders_records_no_view]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_voucher_orders_records_no_view]
(
	  @Order_Number BIGINT = NULL
	, @searchField VARCHAR(50) = '' --Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'ASC'
	, @sortField VARCHAR(50) = 'Order_Number' --Possible valiues are Order_Number, Order_Received_Date, Order_Bill_To_Full_Name, Order_Email_Address, Voucher_Code, Voucher_Amount, Sent_DTM,  
	, @skip INT = 0 --The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @source VARCHAR(50) = 'ARC'
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ARC_Orders] if the parameter @Order_Number has a value or all records if null.
--##PD @Order_Number in [ARC_Orders].
--##RS1 One or all records from the table [ARC_Orders].

--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records_new @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=9, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Order_Bill_To_Full_Name', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='7-1-2019', @EndDate='10-9-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Order_Bill_To_Full_Name', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='7-1-2019', @EndDate='10-9-2019', @skip=1, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Sent_DTM', @sort = 'DESC', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='9-9-2019', @EndDate='10-9-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--EXEC s_get_voucher_orders_records @Order_Number = 4876412
--EXEC s_get_voucher_orders_records @StartDate = '02/01/2020', @EndDate = '5/1/2020'
--EXEC s_get_voucher_orders_records @StartDate = '02/01/2020', @EndDate = '5/1/2020', @searchField = 'Order_Email_Address', @searchTerm ='paramedic_144@yahoo.com'
--EXEC s_get_voucher_orders_records @searchField='Order_Email_Address', @searchTerm='', @sort = 'ASC', @sortField='OrderSource', @Skip = 0, @StartDate = '5/3/2020', @EndDate = '6/2/2020'

SET NOCOUNT ON
--Order_Number search overrides all search criteria
IF @Order_Number IS NOT NULL
	BEGIN
		SET @startDate = NULL
		SET @endDate = NULL
		SET @searchField = ''

		IF @source = 'ARC'
		SELECT
			 [Order_Part_Number]
			,[Order_Quantity]
			,CAST([Order_Received_Date] as DATE) as [Order_Received_Date]
			,[Order_Void_Cancel_Date]
			,[Order_Number]
			,[Reference_Number]
			,[Order_Current_Status]
			,[Order_Student_Last_Name]
			,[Order_Student_First_Name]
			,[Order_Hold_Status]
			,[Order_Ship_To_Full_Name]
			,[Order_Ship_To_Address_1]
			,[Item_Code]
			,[Style_Code]
			,[Order_Email_Address]
			,[Order_Perm_Phone_2]
			,[Order_Perm_Add_State_Code]
			,[Order_Perm_Add_Zip_Code]
			,[Order_Perm_Add_City_Name]
			,[Order_Perm_Zip__4_Ext]
			,[Order_Perm_Zip_Extension]
			,[Order_Ship_To_Zip__4_Ext]
			,[Order_Ship_To_Zip_Ext]
			,[Order_Ship_To_Country]
			,[Order_Perm_Full_Name]
			,[Order_Perm_Address_1]
			,[Order_Perm_Phone_1]
			,[Order_Ship_To_Address_2]
			,[Order_Ship_To_Address_3]
			,[Order_Ship_To_Phone_1]
			,[Order_Ship_To_Phone_2]
			,[Order_Ship_To_State]
			,[Order_Ship_To_Zip_Code]
			,[Order_Bill_To_Full_Name]
			,[Order_Bill_To_Address_1]
			,[Order_Bill_To_Address_2]
			,[Order_Bill_To_City_Name]
			,[Order_Bill_To_State]
			,[Order_Bill_To_Zip_Code]
			,ISNULL([SMI],0) as [SMI]
			,'www.balfour.com/contemporary-announcements?smi=' + CAST(ISNULL([SMI],0) AS VARCHAR(15)) as [URL]
			,ISNULL(C.[Code],'') as [Voucher_Code]
			,C.[Issued_DTM] as [Sent_DTM] -- GPT.[Sent_DTM] 
			,Q.[ID] as [QueueID]
			,Q.[SilverpopTrans] as [Svrp_Trans_ID]-- GPT.Silverpop_Response as [Svrp_Trans_ID]
			,C.Value as [Voucher_Amount]-- X.Amount as [Voucher_Amount]
			,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN 'No' ELSE CAST(DATEPART(month,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,MSO.[created_at]) as VARCHAR(4)) END as [Redeemed_Date]
			,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN '' ELSE MSO.[increment_id] END as [Redeemed_OrderID]
			,'ARC' as [OrderSource]
			,ROW_NUMBER() OVER (ORDER BY [Order_Number] ASC ) as RowNumber
			FROM [ARC_Orders] AO
			--LEFT JOIN dbo.GradPackPhotoAnnounceTransactions GPT ON GPT.Order_ID = AO.Order_Number
			--LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID
			
			LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(AO.Order_Number as VARCHAR(50))
			LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON MSO.coupon_code = C.[Code]
			LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
			WHERE [Order_Number] = @Order_Number
			

		ELSE

			SELECT
			 1 as [Order_Part_Number]
			,I.qty_ordered as [Order_Quantity]
			,CAST(MO.[created_at] as DATE) as [Order_Received_Date]
			,NULL as [Order_Void_Cancel_Date]
			,MO.[Entity_ID] as [Order_Number]
			,0 as [Reference_Number]
			,'' as [Order_Current_Status]
			,MO.[customer_lastname] as [Order_Student_Last_Name]
			,MO.[customer_firstname] as [Order_Student_First_Name]
			,'' as [Order_Hold_Status]
			,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Ship_To_Full_Name]
			,USA.[street] as [Order_Ship_To_Address_1]
			,CAST(Item_ID as VARCHAR(15)) as [Item_Code]
			,'' as [Style_Code]
			,MO.[customer_email] as [Order_Email_Address]
			,'' as [Order_Perm_Phone_2]
			,SA.[region] as [Order_Perm_Add_State_Code]
			,SA.[postcode] as [Order_Perm_Add_Zip_Code]
			,SA.[city] as [Order_Perm_Add_City_Name]
			,'' as [Order_Perm_Zip__4_Ext]
			,'' as [Order_Perm_Zip_Extension]
			,'' as [Order_Ship_To_Zip__4_Ext]
			,'' as [Order_Ship_To_Zip_Ext]
			,USA.country_id as  [Order_Ship_To_Country]
			,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Perm_Full_Name]
			,SA.[street]as [Order_Perm_Address_1]
			,SA.telephone as [Order_Perm_Phone_1]
			,'' as [Order_Ship_To_Address_2]
			,'' as [Order_Ship_To_Address_3]
			,USA.telephone as [Order_Ship_To_Phone_1]
			,'' [Order_Ship_To_Phone_2]
			,USA.[region] as [Order_Ship_To_State]
			,USA.[postcode] as [Order_Ship_To_Zip_Code]
			,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Bill_To_Full_Name]
			,SA.street as [Order_Bill_To_Address_1]
			,'' as [Order_Bill_To_Address_2]
			,SA.city as [Order_Bill_To_City_Name]
			,SA.region as [Order_Bill_To_State]
			,SA.postcode as [Order_Bill_To_Zip_Code]
			,null as [SMI]
			,''  as [URL] 
			,ISNULL(C.[Code],'') as [Voucher_Code]
			,C.[Issued_DTM] as  [Sent_DTM]
			,Q.[ID] as [QueueID]
			,Q.SilverpopTrans  as [Svrp_Trans_ID]
			,C.[Value] as [Voucher_Amount]
			,CASE WHEN C.Used IS NULL THEN 'No' ELSE CAST(DATEPART(month,C.[used]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,C.[used]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,C.[used]) as VARCHAR(4)) END as [Redeemed_Date]
			,''  as [Redeemed_OrderID]
			,'Balfour.com' as [OrderSource]
			,ROW_NUMBER() OVER (ORDER BY MO.entity_id ASC ) as RowNumber
			FROM [dbo].[MAGE_sales_order_item] I 
			LEFT JOIN [Mage_Sales_Order] MO ON I.order_id = MO.entity_id 
			LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(MO.Entity_ID as VARCHAR(50))
			LEFT JOIN [dbo].[MAGEsales_order_address] USA ON USA.entity_id = MO.[shipping_address_id]
			LEFT JOIN [dbo].[MAGEsales_order_address] SA ON SA.entity_id = MO.[shipping_address_id]
			LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
			
			WHERE I.[sku] = 'A0212429A0000'
			AND MO.[Entity_ID] = @Order_Number
		END
	ELSE
		BEGIN

			IF @startDate IS NULL SET @startDate = '1-1-1900'
			IF @endDate IS NULL SET @endDate = DATEADD(d,1,GETDATE())

			SET @startDate = CAST(convert(varchar(10), @startDate, 101) as DATETIME)
			SET @endDate = CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME)

			DECLARE @startRow INT = 0
			DECLARE @endRow INT = 9999999

			SET @startRow = (@skip*@pageSize)+1
			SET @endrow = (@startRow+@pageSize)-1

			IF @sortField = '' SET @sortField = @searchField

			--Get the total count
			SELECT @totalRecords = COUNT(*)
			FROM [ARC_Orders] AO
			LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(AO.Order_Number as VARCHAR(50))
			LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON MSO.coupon_code = C.[Code]
			LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
			WHERE ISNULL(Order_Bill_To_Full_Name,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Full_Name],'') END
			AND ISNULL([Order_Bill_To_Address_1],'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Address_1],'') END
			AND ISNULL([Order_Email_Address],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Email_Address],'') END
			AND [Order_Received_Date] BETWEEN @StartDate  AND @EndDate

			SELECT @totalRecords = @totalRecords + COUNT(*)
			FROM [dbo].[MAGE_sales_order_item] I 
			LEFT JOIN [Mage_Sales_Order] MO ON I.order_id = MO.entity_id 
			LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(MO.Entity_ID as VARCHAR(50))
			LEFT JOIN [dbo].[MAGEsales_order_address] USA ON USA.entity_id = MO.[shipping_address_id]
			LEFT JOIN [dbo].[MAGEsales_order_address] SA ON SA.entity_id = MO.[shipping_address_id]
			LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
			WHERE I.[sku] = 'A0212429A0000'
			AND LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) END
			AND ISNULL(SA.street,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL(SA.street,'') END
			AND ISNULL(MO.[customer_email],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL(MO.[customer_email],'') END
			AND MO.[created_at] BETWEEn @StartDate AND @EndDate

			PRINT '@TotalRecords = ' + CAST(@TotalRecords AS VARCHAR(15)) + ' @StartDate = ' + CAST(@StartDate as VARCHAR(50)) + ' @EndDate = ' + CAST(@EndDate as VARCHAR(50))

			IF @sort = 'DESC'
				BEGIN
					PRINT 'Sorting desc'
					SELECT
					 [Order_Part_Number]
					,[Order_Quantity]
					,[Order_Received_Date] as [Order_Received_Date]
					,[Order_Void_Cancel_Date]
					,[Order_Number]
					,[Reference_Number]
					,[Order_Current_Status]
					,[Order_Student_Last_Name]
					,[Order_Student_First_Name]
					,[Order_Hold_Status]
					,[Order_Ship_To_Full_Name]
					,[Order_Ship_To_Address_1]
					,[Item_Code]
					,[Style_Code]
					,[Order_Email_Address]
					,[Order_Perm_Phone_2]
					,[Order_Perm_Add_State_Code]
					,[Order_Perm_Add_Zip_Code]
					,[Order_Perm_Add_City_Name]
					,[Order_Perm_Zip__4_Ext]
					,[Order_Perm_Zip_Extension]
					,[Order_Ship_To_Zip__4_Ext]
					,[Order_Ship_To_Zip_Ext]
					,[Order_Ship_To_Country]
					,[Order_Perm_Full_Name]
					,[Order_Perm_Address_1]
					,[Order_Perm_Phone_1]
					,[Order_Ship_To_Address_2]
					,[Order_Ship_To_Address_3]
					,[Order_Ship_To_Phone_1]
					,[Order_Ship_To_Phone_2]
					,[Order_Ship_To_State]
					,[Order_Ship_To_Zip_Code]
					,[Order_Bill_To_Full_Name]
					,[Order_Bill_To_Address_1]
					,[Order_Bill_To_Address_2]
					,[Order_Bill_To_City_Name]
					,[Order_Bill_To_State]
					,[Order_Bill_To_Zip_Code]
					,ISNULL([SMI],0) as [SMI]
					,'www.balfour.com/contemporary-announcements?smi=' + CAST(ISNULL([SMI],0) AS VARCHAR(15)) as [URL]
					,ISNULL(C.[Code],'') as [Voucher_Code]
					,C.[Issued_DTM] as [Sent_DTM] -- GPT.[Sent_DTM] 
					,Q.[ID] as [QueueID]
					,Q.[SilverpopTrans] as [Svrp_Trans_ID]-- GPT.Silverpop_Response as [Svrp_Trans_ID]
					,C.Value as [Voucher_Amount]-- X.Amount as [Voucher_Amount]
					,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN 'No' ELSE CAST(DATEPART(month,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,MSO.[created_at]) as VARCHAR(4)) END as [Redeemed_Date]
					,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN '' ELSE MSO.[increment_id] END as [Redeemed_OrderID]
					,'ARC' as [OrderSource]
					--Possible valiues are Order_Number, Order_Received_Date, Order_Bill_To_Full_Name, Order_Email_Address, Voucher_Code, Voucher_Amount, Sent_DTM 
					,ROW_NUMBER() OVER (ORDER BY CASE @SortField 
					WHEN 'Order_Number' THEN RIGHT(REPLICATE('0',49) + CAST(Order_Number as VARCHAR(50)),50) 
					WHEN 'Order_Received_Date' THEN CASE WHEN [Order_Received_Date] IS NULL THEN '' ELSE CAST([Order_Received_Date] AS VARCHAR(50)) END
					WHEN 'Order_Bill_To_Full_Name' THEN [Order_Bill_To_Full_Name] 
					WHEN 'Order_Bill_To_Address_1' THEN [Order_Bill_To_Address_1] 
					WHEN 'Order_Email_Address' THEN [Order_Email_Address] 
					WHEN 'Voucher_Amount' THEN CAST(C.Value AS VARCHAR(50))
					WHEN 'Sent_DTM' THEN CASE WHEN C.[Issued_DTM] IS NULL THEN '' ELSE CAST(C.[Issued_DTM] AS VARCHAR(50)) END
					WHEN 'Voucher_Code' THEN MSO.[coupon_code]
					WHEN 'OrderSource' THEN [OrderSource]
					END DESC) as RowNumber
					FROM [ARC_Orders] AO
					LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(AO.Order_Number as VARCHAR(50))
					LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON MSO.coupon_code = C.[Code]
					LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
					--Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
					WHERE ISNULL(Order_Bill_To_Full_Name,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Full_Name],'') END
					AND ISNULL([Order_Bill_To_Address_1],'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Address_1],'') END
					AND ISNULL([Order_Email_Address],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Email_Address],'') END
					AND [Order_Received_Date] BETWEEN @StartDate  AND @EndDate

					UNION

					SELECT
					 1 as [Order_Part_Number]
					,I.qty_ordered as [Order_Quantity]
					,MO.[created_at] as [Order_Received_Date]
					,NULL as [Order_Void_Cancel_Date]
					,MO.[Entity_ID] as [Order_Number]
					,0 as [Reference_Number]
					,'' as [Order_Current_Status]
					,MO.[customer_lastname] as [Order_Student_Last_Name]
					,MO.[customer_firstname] as [Order_Student_First_Name]
					,'' as [Order_Hold_Status]
					,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Ship_To_Full_Name]
					,USA.[street] as [Order_Ship_To_Address_1]
					,CAST(Item_ID as VARCHAR(15)) as [Item_Code]
					,'' as [Style_Code]
					,MO.[customer_email] as [Order_Email_Address]
					,'' as [Order_Perm_Phone_2]
					,SA.[region] as [Order_Perm_Add_State_Code]
					,SA.[postcode] as [Order_Perm_Add_Zip_Code]
					,SA.[city] as [Order_Perm_Add_City_Name]
					,'' as [Order_Perm_Zip__4_Ext]
					,'' as [Order_Perm_Zip_Extension]
					,'' as [Order_Ship_To_Zip__4_Ext]
					,'' as [Order_Ship_To_Zip_Ext]
					,USA.country_id as  [Order_Ship_To_Country]
					,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Perm_Full_Name]
					,SA.[street]as [Order_Perm_Address_1]
					,SA.telephone as [Order_Perm_Phone_1]
					,'' as [Order_Ship_To_Address_2]
					,'' as [Order_Ship_To_Address_3]
					,USA.telephone as [Order_Ship_To_Phone_1]
					,'' [Order_Ship_To_Phone_2]
					,USA.[region] as [Order_Ship_To_State]
					,USA.[postcode] as [Order_Ship_To_Zip_Code]
					,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Bill_To_Full_Name]
					,SA.street as [Order_Bill_To_Address_1]
					,'' as [Order_Bill_To_Address_2]
					,SA.city as [Order_Bill_To_City_Name]
					,SA.region as [Order_Bill_To_State]
					,SA.postcode as [Order_Bill_To_Zip_Code]
					,null as [SMI]
					,''  as [URL] 
					,ISNULL(C.[Code],'') as [Voucher_Code]
					,C.[Issued_DTM] as  [Sent_DTM]
					,Q.[ID] as [QueueID]
					,Q.SilverpopTrans  as [Svrp_Trans_ID]
					,C.[Value] as [Voucher_Amount]
					,CASE WHEN C.Used IS NULL THEN 'No' ELSE CAST(DATEPART(month,C.[used]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,C.[used]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,C.[used]) as VARCHAR(4)) END as [Redeemed_Date]
					,''  as [Redeemed_OrderID]
					,'Balfour.com' as [OrderSOurce]
					,ROW_NUMBER() OVER (ORDER BY CASE @SortField 
					WHEN 'Order_Number' THEN RIGHT(REPLICATE('0',49) + CAST(MO.[Entity_ID] as VARCHAR(50)),50)
					WHEN 'Order_Received_Date' THEN CASE WHEN MO.[created_at] IS NULL THEN '' ELSE CAST(MO.[created_at] AS VARCHAR(50)) END
					WHEN 'Order_Bill_To_Full_Name' THEN LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) 
					WHEN 'Order_Bill_To_Address_1' THEN SA.street 
					WHEN 'Order_Email_Address' THEN MO.[customer_email] 
					WHEN 'Voucher_Amount' THEN CAST(C.[Value] as VARCHAR(50))
					WHEN 'Sent_DTM' THEN CASE WHEN C.[Issued_DTM] IS NULL THEN '' ELSE CAST(C.[Issued_DTM] AS VARCHAR(50)) END
					WHEN 'OrderSource' THEN [OrderSource]
					END DESC) as RowNumber
					FROM [dbo].[MAGE_sales_order_item] I 
					LEFT JOIN [Mage_Sales_Order] MO ON I.order_id = MO.entity_id 
					LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(MO.Entity_ID as VARCHAR(50))
					LEFT JOIN [dbo].[MAGEsales_order_address] USA ON USA.entity_id = MO.[shipping_address_id]
					LEFT JOIN [dbo].[MAGEsales_order_address] SA ON SA.entity_id = MO.[shipping_address_id]
					LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
					WHERE I.[sku] = 'A0212429A0000'
					AND LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) END
					AND ISNULL(SA.street,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL(SA.street,'') END
					AND ISNULL(MO.[customer_email],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL(MO.[customer_email],'') END
					AND MO.[created_at] BETWEEn @StartDate AND @EndDate
				END
			ELSE
				BEGIN
					PRINT 'Sorting asc'
					
					SELECT
					 [Order_Part_Number]
					,[Order_Quantity]
					,[Order_Received_Date] as [Order_Received_Date]
					,[Order_Void_Cancel_Date]
					,[Order_Number]
					,[Reference_Number]
					,[Order_Current_Status]
					,[Order_Student_Last_Name]
					,[Order_Student_First_Name]
					,[Order_Hold_Status]
					,[Order_Ship_To_Full_Name]
					,[Order_Ship_To_Address_1]
					,[Item_Code]
					,[Style_Code]
					,[Order_Email_Address]
					,[Order_Perm_Phone_2]
					,[Order_Perm_Add_State_Code]
					,[Order_Perm_Add_Zip_Code]
					,[Order_Perm_Add_City_Name]
					,[Order_Perm_Zip__4_Ext]
					,[Order_Perm_Zip_Extension]
					,[Order_Ship_To_Zip__4_Ext]
					,[Order_Ship_To_Zip_Ext]
					,[Order_Ship_To_Country]
					,[Order_Perm_Full_Name]
					,[Order_Perm_Address_1]
					,[Order_Perm_Phone_1]
					,[Order_Ship_To_Address_2]
					,[Order_Ship_To_Address_3]
					,[Order_Ship_To_Phone_1]
					,[Order_Ship_To_Phone_2]
					,[Order_Ship_To_State]
					,[Order_Ship_To_Zip_Code]
					,[Order_Bill_To_Full_Name]
					,[Order_Bill_To_Address_1]
					,[Order_Bill_To_Address_2]
					,[Order_Bill_To_City_Name]
					,[Order_Bill_To_State]
					,[Order_Bill_To_Zip_Code]
					,ISNULL([SMI],0) as [SMI]
					,'www.balfour.com/contemporary-announcements?smi=' + CAST(ISNULL([SMI],0) AS VARCHAR(15)) as [URL]
					,ISNULL(C.[Code],'') as [Voucher_Code]
					,C.[Issued_DTM] as [Sent_DTM] -- GPT.[Sent_DTM] 
					,Q.[ID] as [QueueID]
					,Q.[SilverpopTrans] as [Svrp_Trans_ID]-- GPT.Silverpop_Response as [Svrp_Trans_ID]
					,C.Value as [Voucher_Amount]-- X.Amount as [Voucher_Amount]
					,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN 'No' ELSE CAST(DATEPART(month,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,MSO.[created_at]) as VARCHAR(4)) END as [Redeemed_Date]
					,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN '' ELSE MSO.[increment_id] END as [Redeemed_OrderID]
					,'ARC' as [OrderSource]
					,ROW_NUMBER() OVER (ORDER BY CASE @SortField 
					WHEN 'Order_Number' THEN RIGHT(REPLICATE('0',49) + CAST(Order_Number as VARCHAR(50)),50) 
					WHEN 'Order_Received_Date' THEN CASE WHEN [Order_Received_Date] IS NULL THEN '' ELSE CAST([Order_Received_Date] AS VARCHAR(50)) END
					WHEN 'Order_Bill_To_Full_Name' THEN [Order_Bill_To_Full_Name] 
					WHEN 'Order_Bill_To_Address_1' THEN [Order_Bill_To_Address_1] 
					WHEN 'Order_Email_Address' THEN [Order_Email_Address] 
					WHEN 'Voucher_Amount' THEN CAST(C.Value as VARCHAR(50))
					WHEN 'Sent_DTM' THEN CASE WHEN C.[Issued_DTM] IS NULL THEN '' ELSE CAST(C.[Issued_DTM] AS VARCHAR(50)) END
					WHEN 'OrderSource' THEN [OrderSource]
					END ASC) as RowNumber
					FROM [ARC_Orders] AO
					LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(AO.Order_Number as VARCHAR(50))
					LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON MSO.coupon_code = C.[Code]
					LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
					--Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
					WHERE ISNULL(Order_Bill_To_Full_Name,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Full_Name],'') END
					AND ISNULL([Order_Bill_To_Address_1],'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Address_1],'') END
					AND ISNULL([Order_Email_Address],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Email_Address],'') END
					AND [Order_Received_Date] BETWEEN @StartDate  AND @EndDate
					
					UNION
					
					SELECT
					 1 as [Order_Part_Number]
					,I.qty_ordered as [Order_Quantity]
					,MO.[created_at] as [Order_Received_Date]
					,NULL as [Order_Void_Cancel_Date]
					,MO.[Entity_ID] as [Order_Number]
					,0 as [Reference_Number]
					,'' as [Order_Current_Status]
					,MO.[customer_lastname] as [Order_Student_Last_Name]
					,MO.[customer_firstname] as [Order_Student_First_Name]
					,'' as [Order_Hold_Status]
					,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Ship_To_Full_Name]
					,USA.[street] as [Order_Ship_To_Address_1]
					,CAST(Item_ID as VARCHAR(15)) as [Item_Code]
					,'' as [Style_Code]
					,MO.[customer_email] as [Order_Email_Address]
					,'' as [Order_Perm_Phone_2]
					,SA.[region] as [Order_Perm_Add_State_Code]
					,SA.[postcode] as [Order_Perm_Add_Zip_Code]
					,SA.[city] as [Order_Perm_Add_City_Name]
					,'' as [Order_Perm_Zip__4_Ext]
					,'' as [Order_Perm_Zip_Extension]
					,'' as [Order_Ship_To_Zip__4_Ext]
					,'' as [Order_Ship_To_Zip_Ext]
					,USA.country_id as  [Order_Ship_To_Country]
					,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Perm_Full_Name]
					,SA.[street]as [Order_Perm_Address_1]
					,SA.telephone as [Order_Perm_Phone_1]
					,'' as [Order_Ship_To_Address_2]
					,'' as [Order_Ship_To_Address_3]
					,USA.telephone as [Order_Ship_To_Phone_1]
					,'' [Order_Ship_To_Phone_2]
					,USA.[region] as [Order_Ship_To_State]
					,USA.[postcode] as [Order_Ship_To_Zip_Code]
					,LTRIM(RTRIM(MO.[customer_firstname] + ' ' + MO.[customer_lastname])) as [Order_Bill_To_Full_Name]
					,SA.street as [Order_Bill_To_Address_1]
					,'' as [Order_Bill_To_Address_2]
					,SA.city as [Order_Bill_To_City_Name]
					,SA.region as [Order_Bill_To_State]
					,SA.postcode as [Order_Bill_To_Zip_Code]
					,null as [SMI]
					,''  as [URL] 
					,ISNULL(C.[Code],'') as [Voucher_Code]
					,C.[Issued_DTM] as  [Sent_DTM]
					,Q.[ID] as [QueueID]
					,Q.SilverpopTrans  as [Svrp_Trans_ID]
					,C.[Value] as [Voucher_Amount]
					,CASE WHEN C.Used IS NULL THEN 'No' ELSE CAST(DATEPART(month,C.[used]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,C.[used]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,C.[used]) as VARCHAR(4)) END as [Redeemed_Date]
					,''  as [Redeemed_OrderID]
					,'Balfour.com' as [OrderSOurce]
					,ROW_NUMBER() OVER (ORDER BY CASE @SortField 
					WHEN 'Order_Number' THEN RIGHT(REPLICATE('0',49) + CAST(MO.[Entity_ID] as VARCHAR(50)),50)
					WHEN 'Order_Received_Date' THEN CASE WHEN MO.[created_at] IS NULL THEN '' ELSE CAST(MO.[created_at] as VARCHAR(50)) END
					WHEN 'Order_Bill_To_Full_Name' THEN LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) 
					WHEN 'Order_Bill_To_Address_1' THEN SA.street 
					WHEN 'Order_Email_Address' THEN MO.[customer_email] 
					WHEN 'Voucher_Amount' THEN CAST(C.[Value] as VARCHAR(50))
					WHEN 'Sent_DTM' THEN CASE WHEN C.[Issued_DTM] IS NULL THEN '' ELSE CAST(C.[Issued_DTM] as VARCHAR(50)) END
					WHEN 'OrderSource' THEN [OrderSource]
					END ASC) as RowNumber
					FROM [dbo].[MAGE_sales_order_item] I 
					LEFT JOIN [Mage_Sales_Order] MO ON I.order_id = MO.entity_id 
					LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(MO.Entity_ID as VARCHAR(50))
					LEFT JOIN [dbo].[MAGEsales_order_address] USA ON USA.entity_id = MO.[shipping_address_id]
					LEFT JOIN [dbo].[MAGEsales_order_address] SA ON SA.entity_id = MO.[shipping_address_id]
					LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
					WHERE I.[sku] = 'A0212429A0000'
					AND LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE LTRIM(RTRIM(ISNULL(MO.[customer_firstname],'') + ' ' + ISNULL(MO.[customer_lastname],''))) END
					AND ISNULL(SA.street,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL(SA.street,'') END
					AND ISNULL(MO.[customer_email],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL(MO.[customer_email],'') END
					AND MO.[created_at] BETWEEN @StartDate AND @EndDate
					
				END

		END
GO
