/****** Object:  StoredProcedure [dbo].[s_set_yearbook_only]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/27/2002
-- Description: Sets a school to Yearbook Only
-- =============================================
CREATE PROCEDURE [dbo].[s_set_yearbook_only]
(
    @SMI BIGINT
)
AS
--EXEC [dbo].[s_set_yearbook_only] @SMI=111279
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @Flags BIGINT
	SELECT @Flags = [Flags] FROM [dbo].[ContentAffinityPages] WHERE [SMI] = @SMI
	If (@Flags & 16) = 0
		UPDATE [dbo].[ContentAffinityPages] SET [Flags] = @Flags + 16 WHERE [SMI] = @SMI 
END
GO
