/****** Object:  StoredProcedure [dbo].[s_get_data_for_idomoo_participants]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/08/2020
-- Description: Pulls the participants record which need to go to Idomoo
-- =============================================
CREATE PROCEDURE [dbo].[s_get_data_for_idomoo_participants]
(
     @SMI INT = 0
	,@SubComm VARCHAR(100) = ''
	,@IdomooFileName VARCHAR(100) = ''
	,@BatchID VARCHAR(50) = ''
)
--DECLARE @BatchID VARCHAR(50); SET @BatchID = NEWID(); EXEC s_get_data_for_idomoo_participants @SMI=5495, @SubComm='',@BatchID=@BatchID; UPDATE [dbo].[VirtCommParticipants] SET [BatchID] = NULL WHERE [BatchID] = @BatchID 

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    --Create a GUID to mark records as in progress
	IF ISNULL(@BatchID,'') = ''
		SET @BatchID = NEWID()
	UPDATE [dbo].[VirtCommParticipants] SET [BatchID] = @BatchID, [IdomooFIleName] = @IdomooFileName
	WHERE [SMI] = @SMI AND [BatchID] IS NULL  AND ISNULL([SubAccount],'') = @SubComm --TL put it back
	SELECT 
	  P.[SMI]
	 ,LTRIM(RTRIM(ISNULL([SubAccount],''))) as [SubComm]
	 ,P.[EventID]
	 ,[NameID]
	 ,FirstName as [Student_FirstName]
	 ,[LastName] as [Student_LastName]
	 ,LTRIM(RTRIM(ISNULL(VCM.[SchoolName],M.[Name]))) as [SchoolName]
	 ,'2020' as GraduatingYear
	 ,/*'http://webservices.candid.com/getimagesvc/service1.asmx/GetImageAsFile?acctNo=67478&password=67478&orderNo=''https://25fhbzahpe.execute-api.us-east-1.amazonaws.com/dev/api/ccs-gateway?orderno='*/'https://test-ccs-function.azurewebsites.net/api/HttpTrigger1?code=3a1vFDjYLFn6zbrlJlB5Zmg2Za5Z7AHl7Mkyrnn5CVMbF4XLrx1l0w==&orderno=' + CAST(C.[CCSOrderNum] AS VARCHAR(15)) + '&roll=' + ISNULL(P.[Roll],ISNULL(VCM.[Roll],'00101')) + '&frame=' + /* CASE WHEN VCM.BulkLoadedImages = 0 THEN CAST([NameID] AS VARCHAR(15)) ELSE ISNULL(P.[Frame],'') END*/ ISNULL(P.[Frame],'')  as [StudentPhoto]
	 , '' as [Color]
	 , P.[PEmail] as [Email]
	FROM [dbo].[VirtCommParticipants] P
	LEFT JOIN [dbo].[SMISchoolMasterIndexList] M ON M.ID = P.SMI
	LEFT JOIN [dbo].[VirtCommControl] C ON C.[SMI] = @SMI AND C.[SubComm] = @SubComm
	LEFT JOIN [dbo].[VirtCommMaster] VCM ON VCM.SMI = @SMI 
	WHERE [BatchID] = @BatchID
	AND [FirstName] <> 'CORE' AND [LastName] <> 'CORE'
END
GO
