/****** Object:  StoredProcedure [dbo].[s_order_conf_resend]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 11-15-2019
-- Description: sproc to resend an order confirmation email
-- =============================================
CREATE PROCEDURE [dbo].[s_order_conf_resend]
(
	  @ID BIGINT = 0
	 ,@emailAddresses NVARCHAR(200)= ''
	 ,@OrderNum_OUT VARCHAR(50) = '' OUT
     ,@Batch_ID_Out VARCHAR(50) = '' OUT
)
AS
SET NOCOUNT ON
--EXEC dbo.[s_order_conf_resend] @ID=4577, @emailAddresses='william.crooks@balfour.com'
DECLARE @Entity VARCHAR(100), @Email_Name VARCHAR(100)
--Get the old values
SELECT @Entity = [Entity], @Email_Name = [Email_Name], @OrderNum_OUT = [Key_Value] FROM [dbo].[EmailJobs_Queue] WHERE [ID] = @ID
--Create a new batch
SET @Batch_ID_Out = 'RESEND-' + CAST(NEWID() AS VARCHAR(40))
INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],[emailAddresses],[rawData],[template],[Queued_DTM],[Batch_ID],[connString],[Retries],[ErrorCount])
SELECT TOP 1 [Email_Name],[Entity],[Service],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[dbo].[fn_EString]('rmmVLNIGSx_EM9Ir4i5oeC5ZyLGHt5XQyMzQax8TiQ3oS1'),[campaignID],CASE WHEN LTRIM(RTRIM(ISNULL(@emailAddresses,''))) = '' THEN [emailAddresses] ELSE @emailAddresses END,[rawData],[template],GETDATE(),@Batch_ID_Out,[connString],0,0
FROM [dbo].[EmailJobs_Queue] WHERE [ID] = @ID

--Return what we normally return when processing a batch
EXEC [dbo].[s_get_queued_emails]  @Batch_ID=@Batch_ID_Out, @Entity=@Entity, @Email_Name=@Email_Name, @Resend=1

GO
