/****** Object:  StoredProcedure [dbo].[s_prep_mage_cat_import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09/30/2020
-- Description: Prepares the database for an import of the Magento "SHOP ALL" categories
-- =============================================
CREATE PROCEDURE [dbo].[s_prep_mage_cat_import]
--EXEC s_prep_mage_cat_import
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
    DROP TABLE IF EXISTS [dbo].[ShopAllNavMenu_Import]

	SELECT * INTO [dbo].[ShopAllNavMenu_Import]
	FROM [dbo].[ShopAllNavMenu] WHERE 1 = 2

	--Alter Table ShopAllNavMenu_Import Add Id_new Int Identity(1, 1)
	--Alter Table ShopAllNavMenu_Import Drop Column ID
	--Exec sp_rename 'ShopAllNavMenu_Import.Id_new', 'ID', 'Column'

	--/****** Object:  Index [PK_ShopAllMenu]    Script Date: 9/30/2020 2:08:38 PM ******/
	--ALTER TABLE [dbo].[ShopAllNavMenu_Import] ADD  CONSTRAINT [PK_ShopAllMenu_Import] PRIMARY KEY CLUSTERED 
	--(
	--	[Id] ASC
	--) WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]

	BEGIN TRY
		ALTER TABLE ShopAllNavMenu DROP CONSTRAINT PK_ShopAllMenu_Import
	END TRY
	BEGIN CATCH

	END CATCH


END
GO
