/****** Object:  StoredProcedure [dbo].[s_get_new_voucher_code_for_resend]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_new_voucher_code_for_resend]
(
	 @Order_ID INT = 0
	,@Code VARCHAR(255) = ''
	,@Amount MONEY = 0
	,@Sent_To_Email VARCHAR(255)
	,@New_Code VARCHAR(255) = '' OUT
	,@Coupon_ID INT = 0 OUT
	,@New_ID INT = 0 OUT
)
AS
SET NOCOUNT ON
DECLARE @MAGE_Rule_ID INT, @ID INT, @GUID VARCHAR(50), @SKU_Purchased VARCHAR(50), @Order_Source TINYINT, @URL VARCHAR(250), @Email_GUID VARCHAR(50)
SET @GUID = NEWID()
--Create a new placeholder GradPackPhotoAnnounceTransactions record
INSERT INTO [dbo].[GradPackPhotoAnnounceTransactions] ([Batch_ID],[GUID],[Amount],[Order_ID],[Sent_To_Email]) VALUES (@GUID,@GUID,@Amount,@Order_ID,@Sent_To_Email)
SET @New_ID = SCOPE_IDENTITY()
--Find the old GradPackPhotoAnnounceTransactions record
SELECT @ID = [ID], @SKU_Purchased = [SKU_Purchased], @Order_Source = [Order_Source], @URL = [URL], @Email_GUID = [Email_GUID] FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE Order_ID = @Order_ID AND [Code] = @Code AND [ID] <> @New_ID
UPDATE [dbo].[GradPackPhotoAnnounceTransactions] SET [Order_ID] = 0, [Overwritten_By] = @GUID WHERE [ID] = @ID
--Get the Rule ID based upon the amount
SELECT @MAGE_Rule_ID = [MAGE_Rule_ID] FROM [dbo].[Amount_Rule_ARCItem_XRef] WHERE [Amount] = @Amount
--Get the ID of the new code 
SELECT @Coupon_ID = MIN(Coupon_ID) FROM [dbo].[MAGE_salesrule_coupon] WHERE [rule_id] = @MAGE_Rule_ID AND [Coupon_ID] NOT IN (SELECT [Coupon_ID] FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE [Coupon_ID] IS NOT NULL) 
--Get the new coupon code		
SELECT @New_Code = [Code] FROM [dbo].[MAGE_salesrule_coupon] WHERE [Coupon_ID] = @Coupon_ID
--Update the new GradPackPhotoAnnounceTransactions record
UPDATE [dbo].[GradPackPhotoAnnounceTransactions] SET [Coupon_ID] = @Coupon_ID, [Rule_ID] = @MAGE_Rule_ID, [Code] = @New_Code, [SKU_Purchased] = @SKU_Purchased, [Order_Source] = @Order_Source, [URL] = @URL, [Email_GUID] = @Email_GUID WHERE [ID] = @New_ID
GO
