/****** Object:  StoredProcedure [dbo].[s_get_CSIC_item_HSA]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- exec [dbo].[s_get_CSIC_item_HSA] @debug = 1, @insku='a0218646', @insmi = '132212'
-- =============================================
--	Author:      Tramel Jones/Han Tran/TL
--	Create Date: 03/19/20 
--	Description: Rules for CSIC
--  Update: Han Tran
--	It is called by s_get_CSIC_items
--  GENERAL NOTES
--  [Product_Type] of 'PLP' and a NULL [Price] results in a 'Shop' button.
--
--  We need to know the SMI for any school-scoped item passed in.  As of 4/13/2020, the only place the SMI appears is in the HTML (the HREF) for the
--  displayed list of items in the cart.  Unfortunately that does not always work and some school-scoped items do not have the SMI in the link.
--
--  [04/13/2020] TL - A request has been made to get the Magento team to investigate adding SMI to cartInfo.cart.items.  If that occurs, the JS
--                    on the site will need to be modified to use that rather than the HREF in the HTML. 
-- Clear Redis cache: https://portal.azure.com/#@balfour.com/resource/subscriptions/e79e6c07-ad7e-4d51-be3e-a71136aba80d/resourceGroups/prod-dfw-marketing/providers/Microsoft.Cache/Redis/aacymalcache/overview
-- console --> dbsize --> flushall
-- [Product Type] = 'configurable'  --> show PDP with price, [Product Type] = 'configure' --> show PDP without price
-- =============================================  

CREATE PROCEDURE [dbo].[s_get_CSIC_item_HSA]  
(
   @insku VARCHAR(255),
   @insmi VARCHAR(MAX) = NULL,
   @debug BIT = 0,
   @Limit SMALLINT = -1
)
AS
BEGIN
	SET NOCOUNT ON
	
    /**  Debugging
	DECLARE @insku VARCHAR(255),
    @insmi VARCHAR(40),
    @debug BIT,
    @Limit SMALLINT
	SELECT @Limit = -1, @Debug = 0, @insku ='A0117472A0000' --8 seconds and 2
	*/
	/**  Test cases
		EXEC [dbo].[s_get_CSIC_items]  @debug = 1, @skus='A0227790,A0013722A0000|75270' -- rule 2 shows
		EXEC [dbo].[s_get_CSIC_items]  @debug = 1, @skus='A0227790,A0013722A0000|1328' -- rule 4 shows  1minute57secs
		EXEC [dbo].[s_get_CSIC_items]  @debug = 1, @skus='A0013722A0000|133212' -- 50 seconds - rule 2 Stationary
		EXEC [dbo].[s_get_CSIC_items] @debug = 1, @skus='a0226618a0000|22563,a0237126|50992,A0013722A0000|75270,A0013722|'  -- rule 4 shows 2mins8secs

		EXEC [dbo].[s_get_CSIC_item] @debug = 1, @insku='A0128077', @insmi='75270'  -- shop/brattleboro-union-high-traditional-personalized-announcement-a0128077?smi=75270
		EXEC [dbo].[s_get_CSIC_item] @debug = 1, @insku='A0227790', @insmi = '22563' 
		EXEC [dbo].[s_get_CSIC_item] @debug = 1, @insku='a0226618a0000', @insmi = '22563'  -- a0226618a0000|22563,a0237126|50992
		EXEC [dbo].[s_get_CSIC_item] @debug = 1, @insku='a0237126', @insmi = '50992', @debug=1 --
		EXEC [dbo].[s_get_CSIC_item] @debug = 1, @insku = 'a0003082', @insmi='134860' --'73372' --'A0174923A0000' https://www.balfour.com/contemporary-stationery?smi=134860
		EXEC [dbo].[s_get_CSIC_item] @debug = 1, @insku = 'a0003082', @insmi='130996'
		EXEC [dbo].[s_get_CSIC_item] @insku = 'a0168253',  @debug = 1, @insmi='130225' 
		EXEC [dbo].[s_get_CSIC_items] @debug = 1, @skus = 'a0168253|130225'  -- rule 1

		exec [dbo].[s_get_CSIC_item_add_new_rule_for_test] @insku ='A0003850' , @insmi='130457', @debug = 1
	**/


	IF 1 = 1 -- Declare variables
		BEGIN 
			DECLARE @Rule INT			
			DECLARE @minPriceRange INT
			DECLARE @shortSku VARCHAR(10)
			DECLARE @Cnt INT	
			DECLARE @schoolLevel VARCHAR(20)			
			DECLARE @results TABLE  (imageurl varchar(255), url varchar(255), SKU varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), class varchar(255), [Product Type] varchar(30), sortOrder int, config_type varchar(300))
			DECLARE @sortOrder INT
			DECLARE @ruleTradHSAnnouncement INT = 1, @ruleStationary INT = 2, @ruleContemporary INT = 3, @ruleGradPack INT = 4, @ruleUC INT = 5, @ruleNCAA INT = 6, @ruleHSMultiChoice INT = 7, 
			        @ruleCollegeMultiChoice INT = 8, @ruleHSYearbook INT = 9, @ruleEleMidSchoolYearbook INT = 10, @ruleGPClassApparel INT = 11, @ruleBalfourDirect INT = 12			
			SET @Rule = -1
		END 

	IF 1 = 1 -- Set variables
	BEGIN
		IF (LEN(@insku) > 8)
			BEGIN
				SET @shortSku = LEFT(@insku,8)
			END
		ELSE
			BEGIN
				SET @shortSku = @insku
			END 

		IF ISNULL(@inSMI,'') = '' OR @insmi = '0' 
			BEGIN
				--SELECT @insmi = COALESCE([Included SMI],[Exclusive SMI],NULL) FROM magento_automated_product_dataset WHERE sku = @insku
				SELECT @insmi = COALESCE([Exclusive SMI],NULL) FROM magento_automated_product_dataset WHERE sku = @insku		
				IF ISNULL(@insmi, '') = '' 
				BEGIN
				-- only get 1 smi - 					
					SELECT @insmi = COALESCE([Included SMI],NULL) FROM magento_automated_product_dataset WHERE sku = @insku	AND CHARINDEX(',', [Included SMI]) = 0
				END
				if @debug = 1 print 'InSMI: ' + ISNULL(@insmi,'NULL')
			END
		
		SET @schoolLevel = [dbo].[fn_get_yearbook_grade_level_for_smi](@insmi)

	/* han removed - 2/3/2021 - unused
		SELECT @itemID = id FROM item WHERE sku = @shortSku -- LEFT(@insku,8)

		SELECT @licType = tagvalue FROM itemattributes WHERE itemid = @itemID AND tagtype IN ('a_MasterLicenseType', 'a_LicenseType') -- Get the License Type here
	
		IF @debug = 1 PRINT '@licType = ' + ISNULL(@LicType,'NULL') + ',  smi: ' + @insmi

		IF @licType = 'NCAA' 
			BEGIN
				SELECT @licTeam = tagvalue FROM itemattributes
						WHERE itemid =  @itemID --'ITEM124426356'
						AND tagtype = 'a_NCAASchools' -- Find the licensed team if any
			END
		ELSE IF @licType = 'Greek'
			BEGIN
				SELECT @licTeam = tagvalue FROM itemattributes
						WHERE itemid =  @itemID --'ITEM124426356'
						AND tagtype = 'a_Sororities' -- Find the licensed team if any
			END
		ELSE
			BEGIN
				SELECT @licTeam = tagvalue FROM itemattributes
					WHERE itemid =  @itemID --'ITEM124426356'
					AND tagtype = 'a_' + @licType + 'Teams' -- Find the licensed team if any
			END
		IF @debug = 1 PRINT  '@licTeam = ' + ISNULL(@LicTeam,'NULL')
	
		--SELECT @myPrice =  IsNull(pp.[Special Price (% for bundles)], pp.[Retail Price]) FROM  [dbo].[magento_automated_product_dataset] pp WHERE pp.SKU = @insku
	
		--If(@myPrice > 399)
		--	BEGIN
		--		set @maxPriceRange = 100000
		--		set @minPriceRange = 5
		--	END
	 
		--SELECT @priceHi = @myPrice + @maxPriceRange
		--SELECT @priceLo = @myPrice - @minPriceRange
		--IF @debug = 1 PRINT '@priceHi=' + CAST(@priceHi as VARCHAR(20))
		--IF @debug = 1 PRINT '@priceLo=' + CAST(@priceLo as VARCHAR(20))

		--Han comments this line out - 2/2/2021: SELECT @myclass = class FROM [dbo].[ItemAttributesClass] iac WHERE iac.sku = @insku or iac.sku = @shortSku

		----IF @debug = 1 PRINT '@myclass = ' + ISNULL(@myclass,'NULL')
	*/
		/** iaa.tagvalue:  Girl's - Men's - Women's**/
	/* Han removed - 2/3/2021 Unused
		SELECT @prodGender = iaa.tagvalue FROM  dbo.magento_automated_product_dataset p INNER JOIN dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
		WHERE [Enhanced Commerce] IN ('HIGH SCHOOL MULTI CHOICE', 'GP-CLASS APPAREL') AND LEFT(SKU,8) = @shortSku AND (iaa.tagtype IN ('a_B3Gender','a_Gender')) -- a_gender will be removed

		IF @debug = 1 PRINT '@prodGender: ' + @prodGender
	*/
	END 

		/** Determine which rule to use **/ 
		--@Rule = 0 -- 'HIGH SCHOOL ANNOUNCEMENTS' specific skus  
		--IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset WHERE (SKU IN ('a0079336a0000')) ('a01682532', 'a0079337a0000', 'a0013721a0000', 'a0013722a0000', 'a0079336a0000', 'a0013723a0000', 'a0227271', 'a0042996a0000', 'a0227272', 'a0227273')))		
		
		DECLARE @tradHSA BIT, @gradPack BIT = 0 
		SET @tradHSA = 0
		-- traditional
		IF  @shortSku = 'A0168253' OR @shortSku ='A0233566' SET @tradHSA = 1
		
		IF @tradHSA = 0
			BEGIN 
				IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p INNER JOIN itemattributes iaa ON iaa.itemid = p.itemid 
				   WHERE ([attribute set] = 'pim_pb_announcement' AND [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND iaa.tagvalue = '52' AND iaa.tagtype = 'a_PBProdFamID' AND LEFT(SKU,8) = @shortSku /*AND p.[Exclusive SMI] = @insmi*/))			
					SET @tradHSA = 1
			END
        
		
		IF @insku IN  ('a0071918a0000', 'a0068455a0000', 'a0176692a0000', 'a0175731a0000')
		BEGIN 
			SET @gradPack = 1
		END 
		IF  @gradPack = 0
		BEGIN
			IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE ([Enhanced Commerce] IN ('GP-CLASS APPAREL','GP-PACKS') AND LEFT(SKU,8) = @shortSku))
				SET @gradPack = 1
		END		 		

		
		--IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset p INNER JOIN itemattributes iaa ON iaa.itemid = p.itemid 
		--		   WHERE (@shortSku IN ('A0168253','A0233566') AND CHARINDEX(@insmi, [Included SMI]) > 0)
		--				OR ([attribute set] = 'pim_pb_announcement' AND [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND iaa.tagvalue = '52' AND iaa.tagtype = 'a_PBProdFamID' AND LEFT(SKU,8) = @shortSku /*AND p.[Exclusive SMI] = @insmi*/))
			
		IF @tradHSA = 1
			BEGIN SET @Rule = @ruleTradHSAnnouncement END				
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND LEFT(SKU,8) = @shortSku
						AND sku NOT IN ( SELECT SKU FROM dbo.magento_automated_product_dataset p 
								   LEFT JOIN itemattributes iaa ON iaa.itemid = p.ItemID 
									WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND iaa.tagvalue IN ('52','56', '59', '60', '61')
											AND iaa.tagtype = 'a_PBProdFamID')) 
			BEGIN SET @Rule = @ruleStationary END
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p INNER JOIN itemattributes iaa ON iaa.itemid = p.itemid WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND iaa.tagvalue IN (56, 59, 60, 61) AND iaa.tagtype = 'a_PBProdFamID' AND LEFT(SKU,8) = @shortSku)
			BEGIN SET @Rule = @ruleContemporary END		
	 	ELSE IF @gradPack = 1 --EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset WHERE ([Enhanced Commerce] IN ('GP-CLASS APPAREL','GP-PACKS') AND LEFT(SKU,8) = @shortSku) OR (sku = @insku AND @insku IN  ('a0071918a0000', 'a0068455a0000', 'a0176692a0000', 'a0175731a0000')))		
			BEGIN SET @Rule = @ruleGradPack END
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE LEFT(SKU,8) = @shortSku AND [Attribute Set] = 'pim_uc' AND (ISNULL([Exclusive SMI],'') <> '' OR [dbo].[fn_InCollection] (@insmi,product_collection) = CASE WHEN product_collection IN ('BalProdColl_UnivCollCollege','BalProdColl_KSBalfourColl') THEN 1 END))		
			BEGIN SET @Rule = @ruleUC END 	
		ELSE IF EXISTS (SELECT TOP 1 * FROM magento_automated_product_dataset p left join itemattributes ia on p.ItemID = ia.itemid WHERE LEFT(SKU,8) = @shortSku and tagtype IN ('a_MasterLicenseType', 'a_LicenseType') and tagvalue = 'NCAA')
			BEGIN SET @Rule = @ruleNCAA END 	
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'HIGH SCHOOL MULTI CHOICE' AND LEFT(SKU,8) = @shortSku) 
			BEGIN SET @Rule = @ruleHSMultiChoice END		
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'COLLEGE MULTI CHOICE' AND LEFT(SKU,8) = @shortSku) 
			BEGIN SET @Rule = @ruleCollegeMultiChoice END
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p 				
			WHERE [Enhanced Commerce] IN ('YEARBOOK & ACCESSORIES', 'YEARBOOKS','YEARBOOK ACCESSORIES') AND [Attribute Set] IN ('pim_ybads_balfourmanaged', 'pim_printing') 
										AND @insmi = CASE WHEN ISNULL(p.[Exclusive SMI],'') <> '' THEN p.[Exclusive SMI]
														WHEN ISNULL(p.[included smi],'0') <> '0' AND CHARINDEX(',', p.[Included SMI]) = 0 THEN p.[Included SMI] 
														ELSE  (SELECT TOP 1 CAST(smi AS VARCHAR(1000) ) FROM MAGE_balfour_product_smi_scoped_price WHERE LEFT(sku,8) = @shortSku) END 
										AND LEFT(SKU,8) = @shortSku) 
				BEGIN
					
					IF @schoolLevel = 'High School'
						BEGIN SET @Rule = @ruleHSYearbook END
					ELSE IF @schoolLevel IN ('Elementary','Middle School')					
						BEGIN SET @Rule = @ruleEleMidSchoolYearbook END
				END 						
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-CLASS APPAREL' AND LEFT(SKU,8) = @shortSku) 
			BEGIN SET @Rule = @ruleGPClassApparel END
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] LIKE '%BALFOUR DIRECT%'/*[Enhanced Commerce] IN ('BALFOUR DIRECT-PARTY', 'BALFOUR DIRECT') */
			AND (ISNULL([Included SMI],'') = '' OR [Included SMI] = '0') AND is_licensed = 0 AND [Attribute Set] <> 'pim_mas_pets' AND LEFT(SKU,8) = @shortSku) 
			BEGIN SET @Rule = @ruleBalfourDirect END
		
		 

		/** Rule 1: 
		1. Always show Announcements	
		2. Always show Flannel Sweatpants	A0225094
		3. Always show Emboss Tech Tumbler	A0226630A0000
		4. Always show Men's Long sleeve Tee	A0225110
		5. Always Show Proud Parent T-shirt	A0225093
		6. Always show Black Lightweight Hat	A0226618A0000
		7. Always show Sherpa Blanket	A0146175A0000
		8. Always show Jogger Sweatpants	A0225116	
		
		exec [dbo].[s_get_CSIC_item] @insku ='a0227658'		
	--	 https://dev-dfw-mkt-api.azure-api.net/cross-sell/v1/get-csic?skus=a0227662|97433,a0227662|97433&_=1600015706773

		EXEC [s_get_CSIC_items_with_gradpack] @skus = 'a0227662|97433' --kus=a0227662|97433&_=1600015362769et-csic?skus=a0227662|97433&_=1600015362769
		exec [dbo].s_get_CSIC_item_with_gradpack @insku ='a0227665', @insmi = '59803', @debug = 1
		EXEC [s_get_CSIC_items] @skus = 'a0227658|97433', @debugging= 1
		EXEC [s_get_CSIC_items] @skus = 'a0227658', @smi='73151', @debugging= 1 --a0227662|97433
		EXEC [s_get_CSIC_items] @skus = 'a0227674|29601', @debugging= 1 --a0227662|97433	
		**/
		IF @debug = 1 PRINT 'Rule: ' + cast(@Rule as varchar(3))
		IF @Rule = @ruleTradHSAnnouncement 
		BEGIN
			-- Traditional
			-- 1. A0079337A0000	 2. A0013722A0000	3. A0013723A0000	4. A0013721A0000	
			-- 5. A0225093	 6. A0226402A0000	7. A0079335A0000	8. A0225111A0000
			IF @debug = 1 PRINT '@insmi: ' + CAST(@insmi AS VARCHAR(30))    
			INSERT INTO @results
			SELECT DISTINCT TOP 8
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					[url] + '?smi=' + @insmi AS [url],						
						p.SKU + '|' + @insmi AS SKU, 
						[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],   
						--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
						'' AS class,
						CASE -- WHEN --p.SKU IN ('') THEN 'PLP'
							WHEN p.SKU IN ('A0013722A0000', 'A0013723A0000','A0225111') THEN 'configurable'
							ELSE [Product Type] END AS [Product Type], 
						CASE WHEN p.SKU = 'A0079337A0000' THEN 1
							WHEN p.SKU = 'A0013722A0000' THEN 2
							WHEN p.SKU = 'A0013723A0000' THEN 3
							WHEN p.SKU = 'A0013721A0000' THEN 4
							WHEN p.SKU = 'A0225093' THEN 5
							WHEN p.SKU = 'A0226402A0000' THEN 6
							WHEN p.SKU = 'A0079335A0000' THEN 7
							WHEN p.SKU = 'A0225111' THEN 8 END AS sortOrder, 
						config_type 										
			FROM dbo.magento_automated_product_dataset AS p 						 				
			WHERE	p.Status = 'Enable' 
				--AND p.Visibility = 'In Catalog and Search'	 					
				AND p.SKU IN ('A0079337A0000','A0013722A0000','A0013723A0000','A0013721A0000','A0225093','A0226402A0000','A0079335A0000','A0225111')  				
				AND p.SKU <> @insku
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)								
		  
		END

		ELSE IF @Rule = @ruleStationary
		BEGIN 
			IF @debug = 1 PRINT 'ruleStationary'

			INSERT INTO @results
			SELECT [dbo].[fn_get_image_url2](p.sku) AS imageurl,
					[url] + '?smi=' + @insmi AS [url],						
						p.SKU + '|' + @insmi AS SKU, 
						[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],   
						--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
						'' AS class,
						[Product Type], 
						2 AS sortOrder, 
						config_type 										
			FROM dbo.magento_automated_product_dataset AS p INNER JOIN itemattributes iaa ON iaa.itemid = p.itemid 							 			
			WHERE	p.Status = 'Enable' 
					AND [attribute set] = 'pim_pb_announcement' 
					AND iaa.tagvalue = '52' AND iaa.tagtype = 'a_PBProdFamID'
					AND [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
					AND p.[Exclusive SMI] = @insmi
					AND p.sku <> @insku

			-- Stationary ('A0168253','A0079337A0000','A0013722A0000','A0013723A0000','A0013721A0000','A0225093','A0079335A0000')
			INSERT INTO @results
			SELECT DISTINCT TOP 7 --[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					CASE WHEN p.SKU = 'A0168253' THEN 'https://edge.prod.cdn.aac-e.com/aac-images/GetImage?sku=A0168253&smi=' + @insmi + '&requestedImageType=PNG'
					ELSE  [dbo].[fn_get_image_url2](p.sku) END AS imageurl,
					[url] + '?smi=' + @insmi AS [url],						
						p.SKU + '|' + @insmi AS SKU, 
						[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],   
						--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
						'' AS class,
						CASE --WHEN p.SKU IN ('A0168253') THEN 'PLP' 
							WHEN p.SKU IN ('A0013722A0000', 'A0013723A0000','A0168253') THEN 'configurable'
							ELSE [Product Type] END AS [Product Type], 
						CASE WHEN p.SKU = 'A0168253' THEN 1							
							WHEN p.SKU = 'A0079337A0000' THEN 3
							WHEN p.SKU = 'A0013722A0000' THEN 4
							WHEN p.SKU = 'A0013723A0000' THEN 5
							WHEN p.SKU = 'A0013721A0000' THEN 6
							WHEN p.SKU = 'A0225093' THEN 7
							WHEN p.SKU = 'A0079335A0000' THEN 8 END AS sortOrder, 
						config_type 										
			FROM dbo.magento_automated_product_dataset AS p 							 
			--INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' 
				--AND p.Visibility = 'In Catalog and Search'	 					
				AND p.SKU IN ('A0168253','A0079337A0000','A0013722A0000','A0013723A0000','A0013721A0000','A0225093','A0079335A0000') 
				AND ([Included SMI] like '%' + @insmi + '%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN ('A0168253','A0079337A0000','A0013722A0000','A0013723A0000','A0013721A0000','A0225093','A0079335A0000')  ) )
				AND p.SKU <> @insku
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)		 
		END

		ELSE IF @Rule = @ruleContemporary
		BEGIN 
			IF @debug = 1 PRINT 'ruleContemporary'
			/*-- Contemporary  
				Thank You Cards	Address Labels	Party Invites	Proud Parent Class of 2021 T-shirt, Navy	2021 Silvertone Key Ring	2021 Senior Promo Hoodie, Grey
				Link to Section	Link to Section	Link to Section	A0225093	A0226402A0000	A0225111A0000
			*/
			INSERT INTO @results
			SELECT TOP 1  'https://aac-static-assets.s3.amazonaws.com/prod/img/balfour/announcements/4-Thankyou.jpg' AS imageurl, 
					[url] + '?smi=' + @insmi AS [url],						
					p.SKU + '|' + @insmi AS SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice],   
					--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
					'' AS class,
					'Configure' AS [Product Type], 
					1 AS sortOrder, 
					config_type 										
			FROM dbo.magento_automated_product_dataset AS p 			 					 
			--INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' 
				--AND p.Visibility = 'In Catalog and Search'	 					
				AND p.sku = 'a0189924' --p.[Product Name] LIKE '%Thank You Cards%'		 https://www.balfour.com/shop/contemporary-thank-you-notes-a0189924?smi=63112	    
				--No need to check for school -- AND ([Included SMI] like '%' + @insmi + '%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN ('A0168253A0000','A0079337A0000','A0013722A0000','A0013723A0000','A0013721A0000','A0225093','A0079335A0000')  ) )
				AND p.SKU <> @insku
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
		   	
			INSERT INTO @results
			SELECT TOP 1 'https://aac-static-assets.s3.amazonaws.com/prod/img/balfour/announcements/5-Address_Labels.jpg' AS imageurl, 
					[url] + '?smi=' + @insmi AS [url],						
						p.SKU + '|' + @insmi AS SKU, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],   
						--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
						'' AS class,
						'Configure' AS [Product Type], 
						2 AS sortOrder, 
						config_type 										
			FROM dbo.magento_automated_product_dataset AS p  
			WHERE	p.Status = 'Enable' 
				--AND p.Visibility = 'In Catalog and Search'	 					
				AND p.SKU = 'a0189925' -- https://www.balfour.com/shop/contemporary-address-labels-a0189925?smi=63112		    
				--AND ([Included SMI] like '%' + @insmi + '%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN ('A0168253A0000','A0079337A0000','A0013722A0000','A0013723A0000','A0013721A0000','A0225093','A0079335A0000')  ) )
				--AND p.SKU <> @insku
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
			   
			INSERT INTO @results
			SELECT TOP 1  'https://aac-static-assets.s3.amazonaws.com/prod/img/balfour/announcements/3-Party.jpg' AS imageurl, 
					[url] + '?smi=' + @insmi AS [url],						
						p.SKU + '|' + @insmi AS SKU, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],   
						--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
						'' AS class,
						'Configure' AS [Product Type], 
						3 AS sortOrder, 
						config_type 						
			FROM dbo.magento_automated_product_dataset AS p 
			 					 
			--INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE p.Status = 'Enable' 								
				AND p.SKU = 'a0189923' 
				--AND ([Included SMI] like '%' + @insmi + '%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN ('A0168253A0000','A0079337A0000','A0013722A0000','A0013723A0000','A0013721A0000','A0225093','A0079335A0000')  ) )
				--AND p.SKU <> @insku
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
			 

			INSERT INTO @results
			SELECT DISTINCT TOP 3  [dbo].[fn_get_image_url2](p.sku) AS imageurl, 
					[url] + '?smi=' + @insmi AS [url],						
						p.SKU + '|' + @insmi AS SKU, 
						[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],   
						--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
						'' AS class,
						CASE WHEN p.SKU IN ('A0225093', '')  THEN 'configurable' 
						ELSE [Product Type] END AS [Product Type], 
						CASE WHEN p.SKU = 'A0225093' THEN 4
							WHEN p.SKU = 'A0226402A0000' THEN 5
							WHEN p.SKU = 'A0225111' THEN 6 END AS sortOrder, 
						config_type 										
			FROM dbo.magento_automated_product_dataset AS p 
			 					 
			--INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' 
				--AND p.Visibility = 'In Catalog and Search'	 					
				AND p.SKU IN ('A0225093','A0226402A0000','A0225111') 				    
				--AND ([Included SMI] like '%' + @insmi + '%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN('A0225093','A0226402A0000','A0225111')))
				AND p.SKU <> @insku
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
		END

		ELSE IF @Rule = @ruleGradPack
		BEGIN
			IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2))
			IF @debug = 1 PRINT 'smi at rule 4: ' + CAST(@insmi AS VARCHAR(20))
			--1. Always show Announcements	
			--2. if the price is not in the scope of school, suppress it out.
			 
			SET @sortOrder = 1
			
			DECLARE @announcementSku VARCHAR(30), @price VARCHAR(30)
		 
			SELECT TOP 1 @announcementSku = sku, @price = IsNull([Special Price (% for bundles)],[Retail Price]) FROM magento_automated_product_dataset
				WHERE  Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'	 , 132622,
					AND SKU IN ('a0168253','a0233566')  AND ([Included SMI] like '%, ' + @insmi + ',%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN ('a0168253','a0233566') ) )

			IF ISNULL(dbo.[fn_Get_Lowest_Price](@announcementSku, @insmi),ISNULL(@price,0.00)) > 0.00			
			BEGIN
			 
			 	INSERT INTO @results
				SELECT TOP 1 --[dbo].[fn_get_image_url2](p.sku) AS imageurl,
						'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_2021GenericHSAnn_A0168253_1_800x800.jpg' AS imageurl,
						[url] + '?smi=' + @insmi AS [url],						
							p.SKU + '|' + @insmi AS SKU, 
							'Grad Announcement' AS [Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
							p.[Retail Price] AS [wasprice],   
							--'Grad Announcement' AS class, --'Configure' AS [Product Type], 
							iac.class,
							[Product Type], 
							@sortOrder AS sortOrder, 
							config_type 										
				FROM dbo.magento_automated_product_dataset AS p 
				--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
				--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON sp.sku = p.SKU AND sp.smi = @insmi
				 					 
				INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
				WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'	 
					--AND p.SKU IN ('a0168253','a0233566')  AND ([Included SMI] like '%' + @insmi + '%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN ('a0168253','a0233566') ) )
					AND p.SKU IN (@announcementSku)  AND ([Included SMI] like '%' + @insmi + '%' OR @insmi IN (SELECT smi FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN (@announcementSku) ) )
					AND p.SKU <> @insku
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				--	AND ISNULL(dbo.[fn_Get_Lowest_Price]('a0168253', @insmi),0.00) > 0.00

				SET @sortOrder = @sortOrder + 1
			END
			
			--2. Always show Flannel Sweatpants	A0225094
			
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
						LOWER(p.URL) + '?smi=' + @insmi AS [url],
						p.SKU + '|' + @insmi AS SKU, 
						p.[Product Name], 
						--IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],  
						iac.class, 'gradpack-PDP' AS [Product Type], 
						@sortOrder AS sortOrder, 
						config_type 									
			FROM dbo.magento_automated_product_dataset AS p 
			--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
			--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON sp.sku = p.SKU AND sp.smi = @insmi
			 					 
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'																			
				--AND ( ISNULL(p.[Exclusive SMI],'') = ISNULL(@insmi,'') OR ISNULL(p.[Included SMI],'') = ISNULL(@insmi,'') OR CHARINDEX(p.[Included SMI], @insmi) > 0)
				-- AND (LEFT(p.sku,8) <> @shortSku)							
				AND p.SKU IN ('A0225094')
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)

			--3. Always show Emboss Tech Tumbler	A0226630A0000
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
						LOWER(p.URL) + '?smi=' + @insmi AS [url],p.SKU + '|' + @insmi, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
										p.[Retail Price] AS [wasprice], 
						iac.class,  [Product Type], 
						@sortOrder AS sortOrder, 
						config_type 	 									
			FROM dbo.magento_automated_product_dataset AS p 
			--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
			--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON sp.sku = p.SKU AND sp.smi = @insmi
			 					 
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'		
				--AND (ISNULL(p.[Exclusive SMI],'') = ISNULL(@insmi,'') OR ISNULL(p.[Included SMI],'') = ISNULL(@insmi,'') OR CHARINDEX(p.[Included SMI], @insmi) > 0) --AND ISNULL(p.[Included SMI],'') = @insmi
				-- AND (LEFT(p.sku,8) <> @shortSku)							
				AND p.SKU IN ('A0226630A0000')
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)

			--4. Always show Men's Long sleeve Tee	A0225110
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
						LOWER(p.URL) + '?smi=' + @insmi AS [url], p.SKU + '|' + @insmi AS SKU, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice], 
						iac.class, 'gradpack-PDP' AS [Product Type], 
						@sortOrder AS sortOrder, 
						config_type 	 									
			FROM dbo.magento_automated_product_dataset AS p 
			--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
			--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON LEFT(sp.sku,8) = LEFT(p.SKU,8) AND sp.smi = @insmi
			 					 
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'	
				--AND (ISNULL(p.[Exclusive SMI],'') = ISNULL(@insmi,'') OR ISNULL(p.[Included SMI],'') = ISNULL(@insmi,'') OR CHARINDEX(p.[Included SMI], @insmi) > 0) --AND ISNULL(p.[Included SMI],'') = @insmi
				-- AND (LEFT(p.sku,8) <> @shortSku)							
				AND p.SKU IN ('A0225110')
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)

			--5. Always Show Proud Parent T-shirt	A0225093
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
						LOWER(p.URL) + '?smi=' + @insmi AS [url],
						p.SKU + '|' + @insmi AS SKU, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice],  
						iac.class, 'gradpack-PDP' AS [Product Type], 
						@sortOrder AS sortOrder, 
						config_type 									
			FROM dbo.magento_automated_product_dataset AS p 
			--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
			--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON sp.sku = p.SKU AND sp.smi = @insmi
			 					 
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'	
				--AND (ISNULL(p.[Exclusive SMI],'') = ISNULL(@insmi,'') OR ISNULL(p.[Included SMI],'') = ISNULL(@insmi,'') OR CHARINDEX(p.[Included SMI], @insmi) > 0) -- AND ISNULL(p.[Included SMI],'') = @insmi
				-- AND (LEFT(p.sku,8) <> @shortSku)							
				AND p.SKU IN ('A0225093')
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)

			--6. Always show Black Lightweight Hat	A0226618A0000
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
						LOWER(p.URL) + '?smi=' + @insmi AS [url],
						p.SKU + '|' + @insmi AS SKU, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
						p.[Retail Price] AS [wasprice], 
						iac.class, [Product Type], 
						@sortOrder AS sortOrder, 
						config_type 									
			FROM dbo.magento_automated_product_dataset AS p 
			--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
			--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON sp.sku = p.SKU AND sp.smi = @insmi
			 					 
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'
				--AND ( ISNULL(p.[Exclusive SMI],'') = ISNULL(@insmi,'') OR ISNULL(p.[Included SMI],'') = ISNULL(@insmi,'') OR CHARINDEX(p.[Included SMI], @insmi) > 0)-- AND ISNULL(p.[Included SMI],'') = @insmi											
				AND p.SKU IN ('A0226618A0000')
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)

			--7. Always show Sherpa Blanket	A0146175A0000
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
						LOWER(p.URL) + '?smi=' + @insmi AS [url],
						p.SKU + '|' + @insmi, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
										p.[Retail Price] AS [wasprice], 
						iac.class, [Product Type], 
						@sortOrder AS sortOrder, 
						config_type 									
			FROM dbo.magento_automated_product_dataset AS p 
			--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
			--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON sp.sku = p.SKU AND sp.smi = @insmi
			 					 
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'	
				--AND (ISNULL(p.[Exclusive SMI],'') = ISNULL(@insmi,'') OR ISNULL(p.[Included SMI],'') = ISNULL(@insmi,'') OR CHARINDEX(p.[Included SMI], @insmi) > 0)-- AND ISNULL(p.[Included SMI],'') = @insmi						 							
				AND p.SKU IN ('A0146175A0000')
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			
			--8. Always show Jogger Sweatpants	A0225116	
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
						LOWER(p.URL) + '?smi=' + @insmi AS [url],
						p.SKU + '|' + @insmi AS SKU, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
						p.[Retail Price] AS [wasprice], 
						iac.class, 'gradpack-PDP' AS [Product Type], 
						@sortOrder AS sortOrder, 
						config_type 									
			FROM dbo.magento_automated_product_dataset AS p 
			--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid 
			--INNER JOIN dbo.[MAGE_balfour_product_smi_scoped_price] sp ON LEFT(sp.sku,8) = LEFT(p.SKU,8) AND sp.smi = @insmi
			 					 
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		
			WHERE	p.Status = 'Enable' --AND p.Visibility = 'In Catalog and Search'	
				--AND (ISNULL(p.[Exclusive SMI],'') = ISNULL(@insmi,'') OR ISNULL(p.[Included SMI],'') = ISNULL(@insmi,'') OR CHARINDEX(p.[Included SMI], @insmi) > 0)-- AND ISNULL(p.[Included SMI],'') = @insmi												
				AND LEFT(p.SKU,8) IN ('A0225116')
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
		END

		/** Rule  : COLLEGE RING WITH EXCLUSIVE SMI -item is College Multi Choice, Highschool MC or College Jewelry OPR and exclusive for an SMI	
			Product Types	Class	Price			Class Details		Notes	
			1. KS Dani Earrings**	**See note on below						ADD TO CART	
			2. Licensed Bedding < $50	05-Home : 0502-Bedding : 0122-Blankets : 00008-Collegiate	Under $50 Sale Price			05-Home : 0502-Bedding : 0124-Decorative Pillows : 00008-Collegiate		ADD TO CART	
			3. Licensed Men's Apparel < $40	02-Apparel : 0208-Tops : 0087-Mens T-Shirts : 00008-Collegiate	Under $40 Sale Price					PDP	
			4. Licensed Women's Apparel < $40	02-Apparel : 0208-Tops : 0094-Womens T-Shirts : 00008-Collegiate	Under $40 Sale Price					PDP	
			5. Licensed Tumbler < $30	05-Home : 0512-Kitchen : 0513-Drinkware : 00475-Travel Bottles-College	Under $30 Sale Price					ADD TO CART	
			6. Licensed Picture Frame	05-Home : 0504-Decorative Accessories : 0131-Decor Accents : 00155-Collegiate Frames	Over $100 Sale Price					ADD TO CART	
			7. Wallet < $30	01-Accessories : 0107-Wallets/Wristlets : 0040-Collegiate Lic Wallets	Under $30 Sale Price					ADD TO CART	
			8. Tote < $40	14-Bags : 0972-Collegiate Licensed Bags	Under $40 Sale Price					ADD TO CART	
								 
			select * from school_url_master where cleanschoolname like '%antonio%' and cleancity like '%antonio%' -- smi 131665
			select * from school_url_master where affinityURL like '%/Alabama%' and iscollege =1                 -- smi  132552
		**/		
		ELSE IF @Rule = @ruleUC
			BEGIN
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2))
				IF @debug = 1 PRINT 'Licensed 1'			

				SET @sortOrder = 1
				-- 1: KS Dani Earrings**
				INSERT INTO @results
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl, 						
							'https://www.balfour.com/shop/brand/kendra-scott?pim_a_jlrycollection=14870' AS [url],
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
											p.[Retail Price] AS [wasprice],  
							'' AS class,  [Product Type], 
							@sortOrder AS sortOrder, 
							'' AS config_type 									
				FROM dbo.magento_automated_product_dataset AS p 
				WHERE p.Status = 'Enable'
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)										
					AND p.Sku = CASE WHEN @insmi = '131665' THEN 'A0214932A0000' WHEN @insmi = '130645' THEN 'A0214940A0000' ELSE 'A0214937A0000' END 
					AND @insku NOT IN ('A0214932A0000','A0214940A0000','A0214937A0000')
				
				
				-- 2: 05-Home : 0502-Bedding : 0122-Blankets : 00008-Collegiate  -- sale price < $50
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results

				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,      
											LOWER(p.URL) + '?smi=' + @insmi AS [url],
											p.SKU, 
											p.[Product Name], 
											ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
											p.[Retail Price] AS [wasprice], 
											iac.class, [Product Type],
											@sortOrder AS SortOrder, config_type 
					FROM magento_automated_product_dataset p
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID					 
					WHERE p.Status = 'Enable'					
					AND p.sku NOT IN (@insku)
					AND iac.[Class] IN ('05-Home : 0502-Bedding : 0122-Blankets : 00008-Collegiate') 
					AND IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) < 50					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.[Included SMI]= @insmi 
					  
				-- 3: Licensed Men's Apparel < $40	02-Apparel : 0208-Tops : 0087-Mens T-Shirts : 00008-Collegiate	Under $40 Sale Price
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results 			
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,                     
										LOWER(p.URL) + '?smi=' + @insmi AS [url],
										p.SKU, 
										p.[Product Name], 
										ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
										p.[Retail Price] AS [wasprice],  
										'' AS class, 'configurable' AS [Product Type], 
										@sortOrder AS SortOrder, config_type 
				FROM magento_automated_product_dataset p
				LEFT JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 				
				WHERE p.Status = 'Enable'
				AND p.sku NOT IN (@insku)				
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				AND LEN(p.SKU) = 8
				AND iac.Class = '02-Apparel : 0208-Tops : 0087-Mens T-Shirts : 00008-Collegiate'  				 
				AND p.[Included SMI]  = @insmi 
				AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 40

				-- 4: Licensed Women's Apparel < $40	02-Apparel : 0208-Tops : 0094-Womens T-Shirts : 00008-Collegiate	Under $40 Sale Price
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results  
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,       
										LOWER(p.URL) + '?smi=' + @insmi AS [url],
										p.SKU, 
										p.[Product Name], 
										ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
										p.[Retail Price] AS [wasprice],  
										'' AS class, 'configurable' AS [Product Type], 
										@sortOrder AS SortOrder, config_type 
				FROM magento_automated_product_dataset p
				INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 				
				WHERE p.Status = 'Enable'
				AND p.sku NOT IN (@insku)
				AND LEN(p.SKU) = 8
				AND iac.Class = '02-Apparel : 0208-Tops : 0094-Womens T-Shirts : 00008-Collegiate'  
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				AND p.[Included SMI] = @insmi 
				AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 40
				
				
				-- 5: Licensed Tumbler < $30	05-Home : 0512-Kitchen : 0513-Drinkware : 00475-Travel Bottles-College	Under $30 Sale Price
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results 				
				SELECT TOP 1 REPLACE([dbo].[fn_get_image_url2](p.SKU), '.jpg', '_300x300.jpg') AS imageurl,     
										LOWER(p.URL) + '?smi=' + @insmi AS [url],
										p.SKU, 
										p.[Product Name], 
										ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
										p.[Retail Price] AS [wasprice], 
										iac.class, [Product Type], 
										@sortOrder AS SortOrder, config_type  -- 5
				FROM magento_automated_product_dataset p
				INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 				
				WHERE p.Status = 'Enable'
				AND p.sku NOT IN (@insku)
				AND iac.Class = '05-Home : 0512-Kitchen : 0513-Drinkware : 00475-Travel Bottles-College'
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)				
				AND p.[Included SMI] = @insmi
				AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 30

				-- 6: Licensed Picture Frame	05-Home : 0504-Decorative Accessories : 0131-Decor Accents : 00155-Collegiate Frames
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results 					
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
										LOWER(p.URL) + '?smi=' + @insmi AS [url],
										p.SKU, 
										p.[Product Name], 
										ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
										p.[Retail Price] AS [wasprice], 
										iac.class, [Product Type], 
										@sortOrder AS SortOrder, config_type 
				FROM magento_automated_product_dataset p
				INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 				
				WHERE p.Status = 'Enable'
				AND p.sku NOT IN (@insku)
				AND iac.Class IN ( '05-Home : 0504-Decorative Accessories : 0131-Decor Accents : 00155-Collegiate Frames')
				AND p.[Included SMI] = @insmi
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) > 100
				 
				-- 7: Wallet < $30	01-Accessories : 0107-Wallets/Wristlets : 0040-Collegiate Lic Wallets
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results 					
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
										LOWER(p.URL) + '?smi=' + @insmi AS [url],
										p.SKU, 
										p.[Product Name], 
										ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price]))  AS [Price], 
										p.[Retail Price] AS [wasprice], 
										iac.class, [Product Type], 
										@sortOrder AS SortOrder, config_type 
				FROM magento_automated_product_dataset p
				INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 				
				WHERE p.Status = 'Enable'
				AND p.sku NOT IN (@insku)
				AND iac.Class = '01-Accessories : 0107-Wallets/Wristlets : 0040-Collegiate Lic Wallets'
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				AND p.[Included SMI] = @insmi
				AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 30


				--8: Tote < $40	14-Bags : 0972-Collegiate Licensed Bags	Under $40 Sale Price					ADD TO CART									
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results 					 
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
										LOWER(p.URL) + '?smi=' + @insmi AS [url],
										p.SKU, 
										p.[Product Name], 
										IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
										p.[Retail Price] AS [wasprice], 
										iac.class, [Product Type], 
										@sortOrder AS SortOrder, config_type 
				FROM magento_automated_product_dataset p
				INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 				
				WHERE p.Status = 'Enable'
				AND p.sku NOT IN (@insku)
				AND iac.Class = '14-Bags : 0972-Collegiate Licensed Bags' --'05-Home : 0512-Kitchen : 0513-Drinkware : 00251-Mugs/Cups-Collegiate'			 
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				AND p.[Included SMI] = @insmi
				AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 40
				 
				 -- ADD in defaults from College MC
				 /* College MC defaults*/

				 IF @debug = 1 PRINT 'COLLEGE MULTI CHOICE - Grad Announcement, smi: ' + @insmi
				 
				 DECLARE @maxSortOrder INT
				 SELECT @maxSortOrder = MAX(sortOrder) FROM @results
				 IF NOT EXISTS (SELECT * FROM @results) OR @maxSortOrder = 1
				 BEGIN
				   -- sortOrder:1 Adult Face Mask
					SET @sortOrder = @sortOrder + 1
					INSERT INTO @results
					SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/progiftsource_facemasks_U16374134_1_520x520.jpg' AS imageurl,						
								'https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 ' AS [url],
								'' AS [SKU], 
								'Adult Face Mask' AS [Product Name], 
								NULL AS [Price], 
								NULL AS [wasprice],  
								'' AS [class], 'PLP' AS [Product Type], 
								@sortOrder AS sortOrder, 
								'' AS config_type 									
						 
					-- sortOrder:2  Water Bottle								$19.99 	A0127543A0000
					SET @sortOrder = @sortOrder + 1
					INSERT INTO @results
					SELECT [dbo].[fn_get_image_url2](p.SKU) AS imageurl,
						LOWER(p.[url]) AS url, 
						p.[SKU], 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
						p.[Retail Price] AS [wasprice],   
						'' AS class, [Product Type], 
						@sortOrder AS SortOrder, '' AS config_type  		  
					FROM dbo.magento_automated_product_dataset p  
					WHERE p.SKU = 'A0127543A0000' AND LEFT(p.SKU,8) NOT IN (@shortSku)
					AND p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)

					--/** sortOrder:3  KS Dani Earrings	Mother of Pearl Earrings		A0214942A0000	 **/
					--SET @sortOrder = @sortOrder + 1
					--INSERT INTO @results				
					--SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
					--			LOWER([url]) AS [url],  
					--			p.SKU, 
					--			p.[Product Name], 
					--			ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
					--			p.[Retail Price] AS [wasprice], 
					--			'' AS class, [Product Type],
					--			@sortOrder AS SortOrder, config_type  							 
					--FROM dbo.magento_automated_product_dataset AS p 				 				 					 		 
					--LEFT JOIN dbo.MAGE_balfour_product_smi_scoped_price sp ON LEFT(sp.sku,8) = LEFT(p.sku,8) AND sp.smi = @insmi
					--WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					--	AND (LEFT(p.sku,8) <> @shortSku)					
					--	AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					--	AND p.sku IN ('a0214942a0000') 
					--	--AND @insmi IN ( CASE WHEN ISNULL(sp.smi, '') <> '' THEN CAST(sp.smi AS VARCHAR(30)) WHEN ISNULL(p.[Included SMI],'') <> '' OR p.[Included SMI] <> '0' THEN p.[Included SMI] WHEN ISNULL(p.[Exclusive SMI],'') <> '' THEN p.[Exclusive SMI] END)
 
					/** 4	Glass Jewelry Box 							$29.99 	A0131788A0000					ADD TO CART	**/ 
					SET @sortOrder = @sortOrder + 1
					INSERT INTO @results
					SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
								LOWER([url]) AS [url],  
								p.SKU, 
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
								p.[Retail Price] AS [wasprice], 
								'' AS class, 'configurable' AS [Product Type],
								@sortOrder AS SortOrder, config_type  							 
					FROM dbo.magento_automated_product_dataset AS p 				 				 			 			 		 					
					WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
						AND (LEFT(p.sku,8) <> @shortSku)					
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
						AND p.sku IN ('A0131788A0000') 
						--AND @insmi IN ( CASE WHEN ISNULL(sp.smi, '') <> '' THEN CAST(sp.smi AS VARCHAR(30)) WHEN ISNULL(p.[Included SMI],'') <> '' OR p.[Included SMI] <> '0' THEN p.[Included SMI] WHEN ISNULL(p.[Exclusive SMI],'') <> '' THEN p.[Exclusive SMI] END)

					/** sortOrder:5 - 5	Alex & Ani Bracelet							$39.00 	A0192135A0000	
					**/ 	
					SET @sortOrder = @sortOrder + 1
					INSERT INTO @results
					SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/AA_BRACELETS_AS19EBFRD02RS_1_800x800.jpg' AS imageurl,						
								LOWER([url]) AS [url],  
								p.SKU, 
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
								p.[Retail Price] AS [wasprice], 
								'' AS class, [Product Type],
								@sortOrder AS SortOrder, config_type  							 
					FROM dbo.magento_automated_product_dataset AS p 				 				 				 		 		 					
					WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
						AND (LEFT(p.sku,8) <> @shortSku)					
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
						AND p.sku IN ('A0192135A0000') 
				END
				-- END ADD in defaults from College MC
				 /* College MC defaults END */

			END	 
		
		/** Rule 6: Licensed NCAA item 
			1	Licensed Bedding < $50	05-Home : 0502-Bedding : 0122-Blankets : 00008-Collegiate	Under $50 Sale Price	05-Home : 0502-Bedding : 0124-Decorative Pillows : 00008-Collegiate
			2	Licensed Men's Apparel < $40	02-Apparel : 0208-Tops : 0087-Mens T-Shirts : 00008-Collegiate	Under $40 Sale Price	
			3	Licensed Women's Apparel < $40	02-Apparel : 0208-Tops : 0094-Womens T-Shirts : 00008-Collegiate	Under $40 Sale Price	
			4	Licensed Tumbler < $30	05-Home : 0512-Kitchen : 0513-Drinkware : 00475-Travel Bottles-College	Under $30 Sale Price	
			5	Wallet < $30	01-Accessories : 0107-Wallets/Wristlets : 0040-Collegiate Lic Wallets	Under $30 Sale Price	
			6	Tote < $40	14-Bags : 0972-Collegiate Licensed Bags	Under $40 Sale Price	

		**/
		ELSE IF @Rule = @ruleNCAA		
			BEGIN
			IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2))
			-- get SMI FROM SKU 
			-- and set to @insmi
			IF ISNULL(@insmi, '') = '' OR @insmi = '0' -- each NCAA has its own [included smi] value
			BEGIN 
				SELECT @insmi = [Included SMI] FROM magento_automated_product_dataset WHERE LEFT(sku,8) = @insku  -- All NCAA has one value in [included smi] field.
			END
			IF @debug = 1 PRINT 'InSMI: ' + @insmi

			IF @debug = 1 PRINT 'Licensed 2'
			--INSERT INTO @results ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class], rank)
			--imageurl, url, sku, [Product Name], [Price], [wasprice], Class, rank, [Relevance]
				
			-- 1: Licensed Bedding < $50	05-Home : 0502-Bedding : 0122-Blankets : 00008-Collegiate
			-- 1a: if no row return for #1, use 05-Home : 0502-Bedding : 0124-Decorative Pillows : 00008-Collegiate
			SET @sortOrder = 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
					LOWER(p.URL) + '?smi=' + @insmi AS [url],
					p.SKU, 
					p.[Product Name], 
					IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					iac.class, [Product Type], 
					@sortOrder AS SortOrder, config_type 
			FROM magento_automated_product_dataset p
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 
			WHERE p.Status = 'Enable'
			AND p.sku NOT IN (@insku)
			AND iac.Class = '05-Home : 0502-Bedding : 0124-Decorative Pillows : 00008-Collegiate'  			 
			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			AND p.[Included SMI] = @insmi -- all items in this class has a single value for [included smi] 
			AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 50
			
			IF @debug = 1 PRINT '1a - NCAA'
			IF @debug = 1
			BEGIN
				DECLARE @skuTemp VARCHAR(30)
				SELECT @skuTemp = sku FROM @results --delete
				PRINT '@skuTemp: ' + @skuTemp
			END
			-- 1a if no row inserted above query:
			IF NOT EXISTS (SELECT * FROM  @results) 
			BEGIN
				IF @debug = 1 PRINT '1b - NCAA' 
				INSERT INTO @results
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
						LOWER(p.URL) + '?smi=' + @insmi AS [url],
						p.SKU, 
						p.[Product Name], 
						IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
						p.[Retail Price] AS [wasprice], 
						iac.class, [Product Type], 
						@sortOrder AS SortOrder, config_type 
				FROM magento_automated_product_dataset p
				INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 				
				WHERE p.Status = 'Enable'
				AND p.sku NOT IN (@insku)
				AND iac.Class = '05-Home : 0502-Bedding : 0122-Blankets : 00008-Collegiate'  			 
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				AND [Included SMI] = @insmi 
				AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= 50
			END
			--SELECT * FROM @results -- delete
			-- 2: Licensed Men's Apparel < $40	02-Apparel : 0208-Tops : 0087-Mens T-Shirts : 00008-Collegiate	Under $40 Sale Price
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
					LOWER(p.URL) + '?smi=' + @insmi AS [url],
					p.SKU, 
					p.[Product Name], 
					IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					iac.class, [Product Type], 
					@sortOrder AS SortOrder, config_type 
			FROM magento_automated_product_dataset p
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 			 
			WHERE p.Status = 'Enable'
			AND p.sku NOT IN (@insku)
			AND iac.Class = '02-Apparel : 0208-Tops : 0087-Mens T-Shirts : 00008-Collegiate'  			 
			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			AND [Included SMI] = @insmi
			AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= 40
			
			--SELECT * FROM @results -- delete
			-- 3: Licensed Women's Apparel < $40	02-Apparel : 0208-Tops : 0094-Womens T-Shirts : 00008-Collegiate	Under $40 Sale Price
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
					LOWER(p.URL) + '?smi=' + @insmi AS [url],
					p.SKU, 
					p.[Product Name], 
					IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					iac.class, [Product Type], 
					@sortOrder AS SortOrder, config_type 
			FROM magento_automated_product_dataset p
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 			
			WHERE p.Status = 'Enable'
			AND p.sku NOT IN (@insku)
			AND iac.Class = '02-Apparel : 0208-Tops : 0094-Womens T-Shirts : 00008-Collegiate'  			 
			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			AND p.[included smi] = @insmi 
			AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= 40


			--SELECT * FROM @results -- delete
			-- 4: Licensed Tumbler < $30	05-Home : 0512-Kitchen : 0513-Drinkware : 00475-Travel Bottles-College	Under $30 Sale Price
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 REPLACE([dbo].[fn_get_image_url2](p.SKU), '.jpg', '_800x800.jpg') AS imageurl,   
					LOWER(p.URL) + '?smi=' + @insmi AS [url],
					p.SKU, 
					p.[Product Name], 
					IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					iac.class, [Product Type], 
					@sortOrder AS SortOrder, config_type 
			FROM magento_automated_product_dataset p
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 			
			WHERE p.Status = 'Enable'
			AND p.sku NOT IN (@insku)
			AND iac.Class = '05-Home : 0512-Kitchen : 0513-Drinkware : 00475-Travel Bottles-College'  			 
			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			AND p.[included smi] = @insmi 
			AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= 30


			--SELECT * FROM @results -- delete
			-- 5: Wallet < $30	01-Accessories : 0107-Wallets/Wristlets : 0040-Collegiate Lic Wallets	Under $30 Sale Price					
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
					LOWER(p.URL) + '?smi=' + @insmi AS [url],
					p.SKU, 
					p.[Product Name], 
					IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					iac.class, [Product Type], 
					@sortOrder AS SortOrder, config_type 
			FROM magento_automated_product_dataset p
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 			 
			WHERE p.Status = 'Enable'
			AND p.sku NOT IN (@insku)
			AND iac.Class = '01-Accessories : 0107-Wallets/Wristlets : 0040-Collegiate Lic Wallets'  			 
			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			AND p.[Included SMI] = @insmi 
			AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= 30

			--SELECT * FROM @results -- delete
			-- 6: Tote < $40	14-Bags : 0972-Collegiate Licensed Bags	Under $40 Sale Price	
			SET @sortOrder = @sortOrder + 1
			INSERT INTO @results
			SELECT TOP 1 [dbo].[fn_get_image_url2](p.SKU) AS imageurl,    
					LOWER(p.URL) + '?smi=' + @insmi AS [url],
					p.SKU, 
					p.[Product Name], 
					IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					iac.class, [Product Type], 
					@sortOrder AS SortOrder, config_type 
			FROM magento_automated_product_dataset p
			INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 		 
			WHERE p.Status = 'Enable'
			AND p.sku NOT IN (@insku)
			AND iac.Class = '14-Bags : 0972-Collegiate Licensed Bags'  			 
			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			AND p.[Included SMI] = @insmi 
			AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) <= 40
				 
				--SELECT * FROM @results -- delete
		END 
		 
		/** Rule 7: HIGH SCHOOL MULTI CHOICE without exclusive SMI 
			Product Types	Product Option 	Price	SKU	Link		
			1	Adult Face Mask				https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 	Send to PLP	
			2	Photobook					Photobook Voucher	
			3	Keepsake Vault (Use 2nd photo on PDP)		$49.95 	A0213301A0000	https://www.balfour.com/shop/graduate-keepsake-box-with-files-drawers-labels-and-cubbies-for-key-items-and-mementos-a0213301a0000		
			4	KS Dani Earrings	Mother of Pearl Earrings		A0214942A0000	https://www.balfour.com/shop/kendra-scott-graduation-collection-dani-drop-earrings-a0214942a0000		
			5	Water Bottle		$19.99 	A0127543A0000	https://www.balfour.com/shop/karma-water-bottle-charcoal-a0127543a0000		

			TEST CASE: 
			EXEC [dbo].[s_get_CSIC_item_phase_multichoice] @debug = '1', @insku = 'a0002942', @insmi='72696' 	 -- hs mc	longview-high-school
		**/
		ELSE IF @Rule = @ruleHSMultiChoice
			BEGIN
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2))					 
				-- sortOrder 1	Adult Face Mask				https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 	Send to PLP	
				SET @sortOrder = 1
				INSERT INTO @results
				SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/progiftsource_facemasks_U16374134_1_520x520.jpg' AS imageurl,						
							'https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 ' AS [url],
							'' AS SKU, 
							'Adult Face Mask' AS [Product Name], 
							NULL AS [Price], 
							NULL AS [wasprice],  
							'' AS class, 'PLP' AS [Product Type], 
							@sortOrder AS sortOrder, 
							'' AS config_type 									
				/**		
				sortOrder 2 	NO PHOTOBOOK  SELECT   [dbo].[fn_get_image_url2]('A0213301A0000') 
				**/
				SET @sortOrder = @sortOrder + 1
				-- sortOrder 3	Keepsake Vault (Use 2nd photo on PDP)		$49.95 	A0213301A0000	https://www.balfour.com/shop/graduate-keepsake-box-with-files-drawers-labels-and-cubbies-for-key-items-and-mementos-a0213301a0000		
					
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2)) + ', insmi: ' + @insmi
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results  
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
						LOWER([url]) AS [url],  
						p.SKU, 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
						p.[Retail Price] AS [wasprice], 
						'' AS class, [Product Type],
						@sortOrder AS SortOrder, config_type  							 
				FROM dbo.magento_automated_product_dataset AS p
				WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
				AND (LEFT(p.sku,8) <> @shortSku)					
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
				AND p.sku IN ('A0213301A0000')  -- this is a generic sku - out of stock
		 
					 
				/** sortOrder: 4  KS Dani Earrings	Mother of Pearl Earrings		A0214942A0000	 **/
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results				
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, [Product Type],
							@sortOrder AS SortOrder, config_type  							 
				FROM dbo.magento_automated_product_dataset AS p 		 
				WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					AND p.sku IN ('a0214942a0000') 
					 
				-- sortOrder 5	Water Bottle		$19.99 	A0127543A0000	https://www.balfour.com/shop/karma-water-bottle-charcoal-a0127543a0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT [dbo].[fn_get_image_url2](p.SKU) AS imageurl,
					p.[url], 
					p.[SKU], 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
					p.[Retail Price] AS [wasprice],   
					'' AS class, [Product Type], 
					@sortOrder AS SortOrder, '' AS config_type  		  
				FROM dbo.magento_automated_product_dataset p 
				WHERE p.SKU = 'A0127543A0000' AND LEFT(p.SKU,8) NOT IN (@shortSku)
				AND p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
			END
		
		/** Rule 8: COLLEGE MULTI CHOICE without exclusive SMI 
				Product Types			Product Name		Price	SKU	Link																														Notes:	
			1	Adult Face Mask														https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 				Send to PLP	
			2	Water Bottle								$19.99 	A0127543A0000	https://www.balfour.com/shop/karma-water-bottle-charcoal-a0127543a0000										ADD TO CART	
			3	KS Dani Earrings	Mother of Pearl Earrings		A0214942A0000	https://www.balfour.com/shop/kendra-scott-graduation-collection-dani-drop-earrings-a0214942a0000			ADD TO CART	
			4	Glass Jewelry Box 							$29.99 	A0131788A0000	https://www.balfour.com/shop/personalized-glass-jewelry-box-engraved-with-name-a0131788a0000				ADD TO CART	
			5	Alex & Ani Bracelet							$39.00 	A0192135A0000	https://www.balfour.com/shop/alex-and-ani-friendstm-logo-bar-bangle-rafaelian-silver-finish-a0192135a0000	ADD TO CART	
		**/
		ELSE IF @Rule = @ruleCollegeMultiChoice
			BEGIN
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2))
				IF @debug = 1 PRINT 'COLLEGE MULTI CHOICE - Grad Announcement, smi: ' + @insmi
				
				-- sortOrder:1 Adult Face Mask
				SET @sortOrder = 1
				INSERT INTO @results
				SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/progiftsource_facemasks_U16374134_1_520x520.jpg' AS imageurl,						
							'https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 ' AS [url],
							'' AS [SKU], 
							'Adult Face Mask' AS [Product Name], 
							NULL AS [Price], 
							NULL AS [wasprice],  
							'' AS [class], 'PLP' AS [Product Type], 
							@sortOrder AS sortOrder, 
							'' AS config_type 									
						 
				-- sortOrder:2  Water Bottle								$19.99 	A0127543A0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT [dbo].[fn_get_image_url2](p.SKU) AS imageurl,
					LOWER(p.[url]) AS url, 
					p.[SKU], 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
					p.[Retail Price] AS [wasprice],   
					'' AS class, [Product Type], 
					@sortOrder AS SortOrder, '' AS config_type  		  
				FROM dbo.magento_automated_product_dataset p  
				WHERE p.SKU = 'A0127543A0000' AND LEFT(p.SKU,8) NOT IN (@shortSku)
				AND p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)

				/** sortOrder:3  KS Dani Earrings	Mother of Pearl Earrings		A0214942A0000	 **/
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results				
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, [Product Type],
							@sortOrder AS SortOrder, config_type  							 
				FROM dbo.magento_automated_product_dataset AS p 				 				 					 		 
				 
				WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					AND p.sku IN ('a0214942a0000') 
			 
				/** 4	Glass Jewelry Box 							$29.99 	A0131788A0000					ADD TO CART	**/ 
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, 'configurable' AS [Product Type],
							@sortOrder AS SortOrder, config_type  							 
				FROM dbo.magento_automated_product_dataset AS p 				 				 			 			 		 				 
				WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					AND p.sku IN ('A0131788A0000') 
					 
				/** sortOrder:5 - 5	Alex & Ani Bracelet							$39.00 	A0192135A0000	
				**/ 	
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/AA_BRACELETS_AS19EBFRD02RS_1_800x800.jpg' AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, [Product Type],
							@sortOrder AS SortOrder, config_type  							 
				FROM dbo.magento_automated_product_dataset AS p 				 				 				 		 		 
				WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					AND p.sku IN ('A0192135A0000') 
			END
		
		/** Rule 9: HS Yearbooks 
			1	Adult Face Masks				https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 	Send to PLP		
			2	Project Repat - Lap				https://www.balfour.com/shop/project-repat-custom-xtra-long-twin-t-shirt-quilt-a0233134a0000	Send to PDP		
			3	Photobook					Photobook Voucher		
			4	Keepsake Vault (Use 2nd photo on PDP-IGNORE)		$49.95 	A0213301A0000	https://www.balfour.com/shop/graduate-keepsake-box-with-files-drawers-labels-and-cubbies-for-key-items-and-mementos-a0213301a0000			
			5	Water Bottle		$19.99 	A0127543A0000						
		**/
		ELSE IF @Rule = @ruleHSYearbook
			BEGIN 
				-- sortOrder:1: Adult Face Masks
				SET @sortOrder = 1
				INSERT INTO @results
				SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/progiftsource_facemasks_U16374134_1_520x520.jpg' AS imageurl,						
							'https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 ' AS [url],
							'' AS [SKU], 
							'Adult Face Mask' AS [Product Name], 
							NULL AS [Price], 
							NULL AS [wasprice],  
							'' AS [class], 'PLP' AS [Product Type], 
							@sortOrder AS sortOrder, 
							'' AS config_type 									

				--2: Project Repat - Lap				
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2)) + ', @insmi: ' + @insmi
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, [Product Type],
							@sortOrder AS SortOrder, config_type  							 
				FROM dbo.magento_automated_product_dataset AS p 				 		 
				WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					AND p.sku IN ('a0233134a0000') 
					
				--SET @sortOrder = @sortOrder + 1
				-- 3: Photobook					Photobook Voucher (not ready)

				-- 4: Keepsake Vault (Use 2nd photo on PDP-IGNORE)		$49.95 	A0213301A0000	https://www.balfour.com/shop/graduate-keepsake-box-with-files-drawers-labels-and-cubbies-for-key-items-and-mementos-a0213301a0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results  
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, [Product Type],
							@sortOrder AS SortOrder, config_type  							 
					FROM dbo.magento_automated_product_dataset AS p 				 				 	 
					WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					AND p.sku IN ('A0213301A0000') 

				-- 5	Water Bottle		$19.99 	A0127543A0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT [dbo].[fn_get_image_url2](p.SKU) AS imageurl,
						p.[url], 
						p.[SKU], 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
						p.[Retail Price] AS [wasprice],   
						'' AS class, [Product Type], 
						@sortOrder AS SortOrder, '' AS config_type  		  
					FROM dbo.magento_automated_product_dataset p 
					WHERE p.SKU = 'A0127543A0000' AND LEFT(p.SKU,8) NOT IN (@shortSku)
					AND p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0) 
			END
		
		/** Rule 10: Elementary and Middle School Yearbooks 
			1	Kid Face Mask				https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 	Send to PLP		
			2	Project Repat - Lap				https://www.balfour.com/shop/project-repat-custom-xtra-long-twin-t-shirt-quilt-a0233134a0000	Send to PDP		
			3	Photobook					Can we over the Exclusive Photobook like LCU?		
			4	Keepsake Vault (Use 2nd photo on PDP)		$49.95 	A0213301A0000	https://www.balfour.com/shop/graduate-keepsake-box-with-files-drawers-labels-and-cubbies-for-key-items-and-mementos-a0213301a0000	IGNORE NOTE ABOUT THE IMAGE		
			5	Water Bottle		$19.99 	A0127543A0000				 							
		**/
		ELSE IF @Rule = @ruleEleMidSchoolYearbook		
			BEGIN
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2)) + ', @insmi for Elementary & Middle School YB: ' + @insmi

				-- sortOrder 1: Kid Face Mask		
				SET @sortOrder = 1
				INSERT INTO @results
				SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/progiftsource_facemasks_U16290135_1_520x520.jpg' AS imageurl,						
							'https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 ' AS [url],
							'' AS [SKU], 
							'Kid Face Mask' AS [Product Name], 
							NULL AS [Price], 
							NULL AS [wasprice],  
							'' AS [class], 'PLP' AS [Product Type], 
							@sortOrder AS sortOrder, 
							'' AS config_type 	
							
				-- sortOrder 2:  Project Repat - Lap    Send to PDP				 
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, [Product Type],
							@sortOrder AS SortOrder, config_type  							 
				FROM dbo.magento_automated_product_dataset AS p 				 				 				 		 
				WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND p.sku IN ('a0233134a0000') 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					  

				/** sortOrder 3:  Photobook (not ready)
				SET @sortOrder = @sortOrder + 1**/

				-- sortOrder 4: Keepsake Vault (Use 2nd photo on PDP)		$49.95 	A0213301A0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results  
				SELECT TOP 1 [dbo].[fn_get_image_url2](p.sku) AS imageurl,						
							LOWER([url]) AS [url],  
							p.SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, [Product Type],
							@sortOrder AS SortOrder, config_type  							 
					FROM dbo.magento_automated_product_dataset AS p 				 				 			 
					WHERE	p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'																		 
					AND p.sku IN ('A0213301A0000') 
					AND (LEFT(p.sku,8) <> @shortSku)					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)					
					

				-- 5: Water Bottle		$19.99 	A0127543A0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT [dbo].[fn_get_image_url2](p.SKU) AS imageurl,
						p.[url], 
						p.[SKU], 
						p.[Product Name], 
						ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
						p.[Retail Price] AS [wasprice],   
						'' AS class, [Product Type], 
						@sortOrder AS SortOrder, '' AS config_type  		  
					FROM dbo.magento_automated_product_dataset p  
					WHERE p.SKU = 'A0127543A0000' AND LEFT(p.SKU,8) NOT IN (@shortSku)
					AND p.Status = 'Enable' AND p.Visibility = 'In Catalog and Search'
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)								
			END
		
		/** Rule 11: Grad Pakcage Class Apparel 
			1	Adult Face Mask				https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 	Send to PLP	
			2	Photobook					Photobook Voucher	
			3	Keepsake Vault (Use 2nd photo on PDP)		$49.95 	A0213301A0000	https://www.balfour.com/shop/graduate-keepsake-box-with-files-drawers-labels-and-cubbies-for-key-items-and-mementos-a0213301a0000	IRNOGRE NOTE ABOUT IMAGE	
			4	2021 Tumbler/ Water Bottle		$29.95 	A0226629A0000	https://www.balfour.com/shop/2021-seniors-insulated-bottle-w-embosstech-20-oz-a0226629a0000		
			5	Youth Quarter Zip		$39.99 	A0050314	https://www.balfour.com/shop/youth-embroidered-quarter-zip-sweatshirt-a0050314?smi=28466	PDP	
		**/
		ELSE IF @Rule = @ruleGPClassApparel
			BEGIN 
				--SELECT TOP 1 @prodGender = iaa.tagvalue FROM  dbo.magento_automated_product_dataset p INNER JOIN dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
				--WHERE [Enhanced Commerce] IN ('GP-CLASS APPAREL') AND LEFT(SKU,8) = @shortSku AND (iaa.tagtype = 'a_B3Gender' OR iaa.tagtype = 'a_Gender') -- a_gender will be removed
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2))
				
				-- sortOrder 1 -Adult Face Mask 
				SET @sortOrder = 1
				INSERT INTO @results
				SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/progiftsource_facemasks_U16613134_1_520x520.jpg' AS imageurl,						
							'https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 ' AS [url],
							'' AS SKU, 
							'Adult Face Mask' AS [Product Name], 
							NULL AS [Price], 
							NULL AS [wasprice],  
							'' AS class, 'PLP' AS [Product Type], 
							@sortOrder AS sortOrder, 
							'' AS config_type 									
				 
				-- sortOrder 2. Photobook Voucher --??
				SET @sortOrder = @sortOrder + 1
			 	
				-- sortOrder 3. Keepsake Vault (Use 2nd photo on PDP)		$49.95 	A0213301A0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1					
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					LOWER(p.[url]) AS url, -- + '?smi=' + ISNULL(@insmi,'0') ,
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					'' AS class, [Product Type],
					@sortOrder AS SortOrder, config_type  							
				FROM dbo.magento_automated_product_dataset AS p 				  		 
				WHERE p.Status = 'Enable'
					AND p.Visibility = 'In Catalog and Search'			 					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.SKU = 'A0213301A0000'
					AND LEFT(p.SKU,8) <> @shortSku
					
				-- sortOrder 4. 2021 Tumbler/ Water Bottle		$29.95 	A0226629A0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1					
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					LOWER(p.[url]) AS url, --  + '?smi=' + ISNULL(@insmi,'0') ,
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					'' AS class, [Product Type],
					@sortOrder AS SortOrder, config_type  							
				FROM dbo.magento_automated_product_dataset AS p 				  		 
				WHERE p.Status = 'Enable'
					AND p.Visibility = 'In Catalog and Search'		
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.SKU = 'A0226629A0000'
					AND LEFT(p.SKU,8) <> @shortSku
					 
				-- sortOrder 5. Youth Quarter Zip		$39.99 	A0050314
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1					
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					LOWER(p.[url]) AS url ,
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					'' AS class, 'configurable' AS [Product Type],
					@sortOrder AS SortOrder, config_type  							
				FROM dbo.magento_automated_product_dataset AS p 				  		 
				WHERE p.Status = 'Enable'
					AND p.Visibility = 'In Catalog and Search'	
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.SKU = 'A0050314'
					AND LEFT(p.SKU,8) <> @shortSku 
			END
		
		/** Rule 12: Balfour Direct or Balfour Direct Party 
			EXEC [s_get_CSIC_items] @skus = 'A0153399,A0123669'
			EXEC [s_get_CSIC_item_new_phase] @insku = 'A0153399', @debug =1							
			1	Adult Face Mask				https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 	Send to PLP	
			2	Dorm Storage	16-Compartment Shoe Cubby in Gray	$24.99 		https://www.balfour.com/shop/category/home-dorm?pim_a_ctscategory=11380&pim_a_ctstype=11951		
			3	Blanket	Plain Charcoal Trim Frosty Fleece	$14.99 		https://www.balfour.com/shop/plain-charcoal-trim-frosty-fleece-a0182433a0000		
			4	Kendra Scott	Dani Earrings - Mother of Pearl	$65.00 	A0214942A0000	https://www.balfour.com/shop/kendra-scott-graduation-collection-dani-drop-earrings-a0214942a0000		
			5	Kendra Scott	Elisa Necklace - Cobalt Blue	$50.00 	A0219529A0000	https://www.balfour.com/shop/kendra-scott-graduation-collection-elisa-classic-necklace-a0219529a0000		
		**/
		ELSE IF @Rule = @ruleBalfourDirect
			BEGIN 
				IF @debug = 1 PRINT CAST(@Rule AS VARCHAR(2)) + ', Balfourdirect: ' + @insku

				-- 1: Adult Face Mask
				SET @sortOrder = 1
				INSERT INTO @results
				SELECT TOP 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/progiftsource_facemasks_U16613134_1_520x520.jpg' AS imageurl,						
							'https://www.balfour.com/shop/category/accessories?pim_a_b3gender=10525%2C10527&pim_a_ctscategory=11374&pim_a_ctstype=15030 ' AS [url],
							'' AS SKU, 
							'Adult Face Mask' AS [Product Name], 
							NULL AS [Price], 
							NULL AS [wasprice],  
							'' AS class, 'PLP' AS [Product Type], 
							@sortOrder AS sortOrder, 
							'' AS config_type 					

				-- 2: Dorm Storage a0015586a0000  16-Compartment Shoe Cubby in Gray	$24.99 
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1					
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					LOWER(p.[url]) AS url, -- + '?smi=' + ISNULL(@insmi,'0') ,
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					'' AS class, [Product Type],
					@sortOrder AS SortOrder, config_type  							
				FROM dbo.magento_automated_product_dataset AS p 				  		 
				WHERE p.Status = 'Enable'
					AND p.Visibility = 'In Catalog and Search'	
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.SKU = 'a0015586a0000'
					AND LEFT(p.SKU,8) <> @shortSku
				
				-- 3: Blanket	Plain Charcoal Trim Frosty Fleece	$14.99 		https://www.balfour.com/shop/plain-charcoal-trim-frosty-fleece-a0182433a0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1					
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					LOWER(p.[url]) AS url, -- + '?smi=' + ISNULL(@insmi,'0') ,
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					'' AS class, [Product Type],
					@sortOrder AS SortOrder, config_type  							
				FROM dbo.magento_automated_product_dataset AS p 				  		 
				WHERE p.Status = 'Enable'
					AND p.Visibility = 'In Catalog and Search'	
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.SKU = 'a0182433a0000'
					AND LEFT(p.SKU,8) <> @shortSku

				-- 4: Kendra Scott	Dani Earrings - Mother of Pearl	$65.00 	A0214942A0000
				SET @sortOrder = @sortOrder + 1
				INSERT INTO @results
				SELECT TOP 1					
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					LOWER(p.[url]) AS url, -- + '?smi=' + ISNULL(@insmi,'0') ,
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					'' AS class, [Product Type],
					@sortOrder AS SortOrder, config_type  							
				FROM dbo.magento_automated_product_dataset AS p 				  		 
				WHERE p.Status = 'Enable'
					AND p.Visibility = 'In Catalog and Search'	
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.SKU = 'A0214942A0000'
					AND LEFT(p.SKU,8) <> @shortSku
				
				-- 5: Kendra Scott	Elisa Necklace - Cobalt Blue	$50.00 	A0219529A0000
				SET @sortOrder = @sortOrder + 1
				SELECT TOP 1					
					[dbo].[fn_get_image_url2](p.sku) AS imageurl,
					LOWER(p.[url]) AS url, -- + '?smi=' + ISNULL(@insmi,'0') ,
					p.SKU, 
					p.[Product Name], 
					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @insmi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
					p.[Retail Price] AS [wasprice], 
					'' AS class, [Product Type],
					@sortOrder AS SortOrder, config_type  							
				FROM dbo.magento_automated_product_dataset AS p 				  		 
				WHERE p.Status = 'Enable'
					AND p.Visibility = 'In Catalog and Search'	
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
					AND p.SKU = 'A0219529A0000'
					AND LEFT(p.SKU,8) <> @shortSku					 
		END
	
		/** Make final selection **/
		SELECT 
			  imageurl
			, url
			, SKU
			, [Product Name]
			, CASE WHEN price IS NULL THEN '' ELSE CAST(Price AS VARCHAR(9)) END AS price
			, CASE WHEN wasprice IS NULL THEN '' ELSE CAST( wasprice AS VARCHAR(9)) END AS wasprice
			, class, [Product Type]
			, sortOrder
			, config_type 
		FROM @results
		ORDER BY sortOrder ASC
	END
GO
