/****** Object:  StoredProcedure [dbo].[s_combined_order_report]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 2021-11-11
-- Description: Combined Order Report for SSRS
-- =============================================
CREATE PROCEDURE [dbo].[s_combined_order_report]
(
    @StartDate smalldatetime = null,
    @EndDate   smalldatetime = null,
	@Email	   varchar(500) = null,
	@Skip	   int = 0,
	@Take	   int = 500
)
AS
BEGIN
	If Object_Id('Tempdb..#ordersreport') Is Not Null
		BEGIN
			Drop Table #ordersreport
		END

	CREATE TABLE #ordersreport (
		SourceOrderID VARCHAR(100),
		SourceOrderKey VARCHAR(100),
		OrderSystem VARCHAR(100),
		OrderSource VARCHAR(100),
		GrandTotal DECIMAL(12, 4),
		MagentoOrderNumber VARCHAR(100),
		NetsuiteOrderNumber VARCHAR(100),
		ARCOrderNumber VARCHAR(100),
		BAANOrderNumber VARCHAR(100),
		OrderDate datetime,
		Email VARCHAR(500),
		SMI VARCHAR(100)
	)

	-- Magento orders
	INSERT INTO #ordersreport
	( 
		SourceOrderID, SourceOrderKey, OrderSystem, OrderSource, GrandTotal, MagentoOrderNumber, 
		NetsuiteOrderNumber, ARCOrderNumber, BAANOrderNumber, OrderDate, Email, SMI 
	)
	SELECT
		m.increment_id,
		m.entity_id,
		'Magento',
		'',
		m.base_grand_total,
		m.increment_id,
		ISNULL(n.OrderNumber, ''),
		'',
		'',
		m.created_at,
		m.customer_email,
		CASE
			WHEN n.SMI IS NOT NULL AND LEN(n.SMI) > 0
			THEN n.SMI
			ELSE dbo.fn_Get_SMIs_For_Magento_Order(m.entity_id)
		END
	FROM MAGE_Sales_Order m
	LEFT OUTER JOIN NetsuiteSalesOrders n
	ON n.ExtSalesId = m.increment_id
	WHERE
		((@StartDate IS NULL AND @EndDate IS NULL) OR m.created_at BETWEEN @StartDate AND @EndDate)
		AND (@Email IS NULL OR m.customer_email = @Email)

	-- Netsuite
	INSERT INTO #ordersreport
	( 
		SourceOrderID, SourceOrderKey, OrderSystem, OrderSource, GrandTotal, MagentoOrderNumber, 
		NetsuiteOrderNumber, ARCOrderNumber, BAANOrderNumber, OrderDate, Email, SMI 
	)
	SELECT
		n.OrderNumber,
		n.OrderNumber,
		'Netsuite',
		n.OrderSource,
		n.GrandTotal,
		CASE 
			WHEN n.OrderSource = 'Internet-Balfour.com'
			THEN n.ExtSalesId
			ELSE ''
		END,
		n.OrderNumber,
		'',
		'',
		n.OrderDate,
		n.Email,
		n.SMI
	FROM NetsuiteSalesOrders n
	WHERE NOT EXISTS (SELECT TOP 1 1 FROM #ordersreport o where o.NetsuiteOrderNumber = n.OrderNumber)
	AND ((@StartDate IS NULL AND @EndDate IS NULL) OR n.OrderDate BETWEEN @StartDate AND @EndDate)
	AND (@Email IS NULL OR n.Email = @Email)

	-- ARC
	INSERT INTO #ordersreport
	( 
		SourceOrderID, SourceOrderKey, OrderSystem, OrderSource, GrandTotal, MagentoOrderNumber, 
		NetsuiteOrderNumber, ARCOrderNumber, BAANOrderNumber, OrderDate, Email, SMI 
	)
	SELECT
		a.Order_Number,
		a.Order_Number,
		'ARC',
		'',
		0,
		'',
		'',
		a.Order_Number,
		'',
		a.[Order_Entered_Date],
		a.[Order_Email_Address],
		a.SMI
	FROM ARC_Orders a
	WHERE ((@StartDate IS NULL AND @EndDate IS NULL) OR a.[Order_Entered_Date] BETWEEN @StartDate AND @EndDate)  
	AND (@Email IS NULL OR a.[Order_Email_Address] = @Email)

	SELECT *
	FROM #ordersreport
	ORDER BY OrderDate DESC
	OFFSET (@Skip) ROWS FETCH NEXT (@Take) ROWS ONLY

END
GO
