/****** Object:  StoredProcedure [dbo].[s_get_school_event_for_ecom]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/11/2020
-- Description: Returns a school event based upon a URL
-- =============================================
-- Example URLs (non-vanity) https://www.balfour.com/texas/austin/concordia-university-texas/events/Concordia%20Grad%20Fair
--              (vanity)     https://www.balfour.com/lsuring/events/LSU%20Grad%20Fair
--
CREATE PROCEDURE [dbo].[s_get_school_event_for_ecom]
(
     @URL VARCHAR(200) = ''
	,@BatchID VARCHAR(50) = NULL
	,@CallingSite VARCHAR(300) = ''
)
AS
--EXEC s_get_school_event_for_ecom @URL = 'https://www.balfour.com/lsuring/events/LSU%20Grad%20Fair'
--EXEC s_get_school_event_for_ecom @URL = '/lsuring/events/LSU%20Grad%20Fair'
--EXEC s_get_school_event_for_ecom @URL = 'https://www.balfour.com/texas/waco/baylor-university/events/Baylor%20University%20Ring%20Ceremony'
--EXEC s_get_school_event_for_ecom @URL = 'http://balfour.local/lsuring/events/Louisiana%20State%20University%20Ring%20Week'
--EXEC s_get_school_event_for_ecom @URL = '/lsuring/events/louisiana%20state%20university%20ring%20ceremony'
--EXEC s_get_school_event_for_ecom @URL = 'https://www-qa.balfour.com/slu/events/saint%20louis%20university%20ring%20event'
--EXEC s_get_school_event_for_ecom @URL = 'https://www.balfour.com/falsepass/events/ut_ring_ceremonies_test'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
    DECLARE @Working VARCHAR(200), @SMI INT, @State VARCHAR(100), @City VARCHAR(100), @School VARCHAR(100), @Event VARCHAR(200)
	--DETERMINE THE SMI BASED UPON THE URL
	IF @URL LIKE '%.com/%' 
		--Get everything between .com/ and /events
		SET @Working = SUBSTRING(@URL,CHARINDEX('.com/',@URL) + 5, CHARINDEX('/events/',@URL)-(CHARINDEX('.com/',@URL) + 5))
	ELSE
		IF @URL LIKE '%.local/%' 
			--Get everything between .local/ and /events
			SET @Working = SUBSTRING(@URL,CHARINDEX('.local/',@URL) + 7, CHARINDEX('/events/',@URL)-(CHARINDEX('.local/',@URL) + 7))
		ELSE
			IF @URL LIKE '/%'
				--Get everything between / and /events
				SET @Working = SUBSTRING(@URL,CHARINDEX('/',@URL) + 1, CHARINDEX('/events/',@URL)-(CHARINDEX('/',@URL) + 1))
	PRINT '@Working = ' + @Working	
	SET @Event = REPLACE(RIGHT(@URL,LEN(@URL)-(CHARINDEX('/events/',@URL)+7)),'%20',' ')
	PRINT '@Event = ' + @Event
	IF @Working LIKE '%/%'
		BEGIN --NON-VANITY URL
			DECLARE @SCS TABLE ([Value] VARCHAR(MAX), [Loop] INT IDENTITY(1,1))
			INSERT INTO @SCS ([Value])
			SELECT [Value] FROM string_split (@Working,'/')
			SELECT @State = [Value] FROM @SCS WHERE [Loop] = 1
			SELECT @City = [Value] FROM @SCS WHERE [Loop] = 2
			SELECT @School = [Value] FROM @SCS WHERE [Loop] = 3
			--SELECT @State, @City, @School
			--Dummy up the data for now
			--SET @SMI = 130996
			SET @SMI = 0
			SELECT @SMI = [SMI] FROM [dbo].[School_URL_Master]
			WHERE [CleanState] = REPLACE(@State,' ','-') AND REPLACE([CleanCity],' ','-') = @City AND REPLACE([CleanSchoolName],' ','-') = @School
		END
	ELSE
		BEGIN --VANITY URL
			--SELECT @Working
			--Dummy up the data for now
			--SET @SMI = 130996
			SET @SMI = 0
			SELECT @SMI = [SMI] FROM [dbo].[School_URL_Master]
			WHERE [URL] = @Working
		END
	
	PRINT '@SMI = ' + CAST(@SMI AS VARCHAR(15))
	--USE THE SMI AND EVENT URL TO FIND AND RETURN THE EVENT
	SELECT
		 [sMI]
		,[iD]
		,FORMAT(dbo.fn_DateTime_to_Central([Date]), 'MM/dd/yyyy') AS [date]
		,ISNULL([Title],'') as [title]
		,ISNULL([Description],'') as [description]
		,ISNULL([Image_URL],'') as [image_URL]
		,[gUID]
		,CASE WHEN LTRIM(RTRIM(ISNULL([Event_Content],''))) = '' THEN ISNULL([Description],'') ELSE [Event_Content] END as [event_Content]
		,dbo.fn_GetLocationDateTimeInfoForEcom ([GUID]) as [locationDateTimeInfo]
		,CASE WHEN ISNULL([URL],'') LIKE 'http%' THEN [URL] ELSE '/events/' + ISNULL([URL],ISNULL([Title],'')) END as [uRL]
		FROM [School_Events] events
		WHERE ISNULL([BatchID],'') = ISNULL(@BatchID,'')
		AND [SMI] = @SMI
		AND CASE WHEN ISNULL([URL],'') = '' THEN [Title] ELSE [URL] END = @Event
		FOR JSON PATH
END
GO
