/****** Object:  StoredProcedure [dbo].[s_import_school_url_master]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/12/2020
-- Description: Imports/updates records in [dbo].[School_URL_Master]
-- =============================================
CREATE PROCEDURE [dbo].[s_import_school_url_master]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert any new records 
	INSERT INTO [dbo].[School_URL_Master] ([SMI],[URL])
	SELECT DISTINCT [SMI], dbo.fn_Get_School_URL([SMI]) --CASE WHEN ISNULL([AffinityURL],'') = '' THEN LTRIM(RTRIM([CleanState])) + '/' + LTRIM(RTRIM([CleanCity])) + '/' + LTRIM(RTRIM([CleanSchoolName])) ELSE LTRIM(RTRIM([AffinityURL])) END
	FROM [dbo].[School_URLs_Import]
	WHERE [SMI] NOT IN (SELECT [SMI] FROM [dbo].[School_URL_Master])

	-- Update existing records

	-- First, add the existing records to the redirect table
	INSERT INTO [dbo].[School_URL_Redirects] ([SMI],[URL],[RedirectType])
	SELECT M.[SMI], M.[URL], 301
	FROM [dbo].[School_URL_Master] M
	INNER JOIN [dbo].[School_URLs_Import] I ON I.[SMI] = M.[SMI]
	WHERE M.[URL] <>  dbo.fn_Get_School_URL(I.[SMI])

	-- Now we can update the table based upon the new redirect
	UPDATE [dbo].[School_URL_Master]
	SET [URL] = dbo.fn_Get_School_URL(I.[SMI])
	FROM [dbo].[School_URL_Master] M
	INNER JOIN [dbo].[School_URLs_Import] I ON I.[SMI] = M.[SMI]
	WHERE M.[URL] <>  dbo.fn_Get_School_URL(I.[SMI])

	-- Update Master with the latest "clean" fields
	UPDATE [dbo].[School_URL_Master] SET CleanState = I.CleanState, CleanCity = I.CleanCity, CleanSchoolName = I.CleanSchoolName
	FROM [dbo].[School_URL_Master] M INNER JOIN [dbo].[School_URLs_Import] I ON I.SMI = M.SMI
    
END
GO
