/****** Object:  StoredProcedure [dbo].[s_xml_mapping_file_for_silverpop]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 06/24/2020
-- Description: generate xml mapping file for Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_xml_mapping_file_for_silverpop]
AS
-- exec [s_xml_mapping_file_for_silverpop]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @columns VARCHAR(MAX)
	DECLARE @mapping VARCHAR(MAX)

	SELECT  @columns = STRING_AGG( '<COLUMN><NAME>' + REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CAST(COLUMN_NAME AS VARCHAR(MAX)), ' ', ''), '(', ''), ')', ''), '%', ''), '-', '') + '</NAME>' + 
			'<TYPE>' + CASE WHEN DATA_TYPE = 'datetime' THEN '3' WHEN DATA_TYPE = 'bit' THEN '1' WHEN DATA_TYPE = 'nvarchar' OR DATA_TYPE = 'varchar' THEN '0' ELSE '2' END + '</TYPE>' + 
			'<IS_REQUIRED>true</IS_REQUIRED><HASHEADERS>true</HASHEADERS></COLUMN>', '') FROM  INFORMATION_SCHEMA.COLUMNS
	WHERE TABLE_NAME = 'magento_automated_product_dataset' 

	SET @columns = @columns + '<COLUMN><NAME>ImageUrl</NAME><TYPE>0</TYPE><IS_REQUIRED>true</IS_REQUIRED><HASHEADERS>true</HASHEADERS></COLUMN>'

	SELECT @mapping = STRING_AGG( '<COLUMN><INDEX>' + CAST(ORDINAL_POSITION AS VARCHAR(MAX)) + '</INDEX><NAME>' +  REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(COLUMN_NAME, ' ', ''), '(', ''), ')', ''), '%', ''), '-', '') + '</NAME>' + '<IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>', '') 
			FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'magento_automated_product_dataset'  
	SET @mapping = @mapping + '<COLUMN><INDEX>35</INDEX><NAME>ImageUrl</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>'

	SELECT CONCAT('<?xml version="1.0" encoding="UTF-8"?>
		<TABLE_IMPORT><TABLE_INFO><ACTION>ADD_AND_UPDATE</ACTION><TABLE_ID>33142706</TABLE_ID><TABLE_VISIBILITY>1</TABLE_VISIBILITY><FILE_TYPE>1</FILE_TYPE><HASHEADERS>true</HASHEADERS></TABLE_INFO>
			<COLUMNS>', @columns,
			'</COLUMNS>
			<MAPPING>', @mapping, 
			'</MAPPING>
		</TABLE_IMPORT>') AS xml
END

--select COLUMN_NAME, REPLACE(REPLACE(REPLACE(REPLACE(COLUMN_NAME, ' ', ''), '(', ''), ')', ''), '%', '') 
--FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'magento_automated_product_dataset'  

--select * FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'magento_automated_product_dataset'


-- SELECT	STRING_AGG( '<COLUMN><INDEX>' + CAST(ORDINAL_POSITION AS VARCHAR) + '</INDEX><NAME>' +  REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(COLUMN_NAME, ' ', ''), '(', ''), ')', ''), '%', ''), '-', '') + '</NAME>' + '<IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>', '') 
			--FROM  INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'magento_automated_product_dataset'  

			--SELECT LEN('<COLUMN><INDEX>1</INDEX><NAME>ProductID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>2</INDEX><NAME>SKU</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>3</INDEX><NAME>ProductName</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>4</INDEX><NAME>ProductType</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>5</INDEX><NAME>AttributeSet</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>6</INDEX><NAME>Category</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>7</INDEX><NAME>ItemCategory</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>8</INDEX><NAME>EnhancedCommerce</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>9</INDEX><NAME>RetailPrice</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>10</INDEX><NAME>SpecialPriceforbundles</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>11</INDEX><NAME>SpecialPriceStartDate</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>12</INDEX><NAME>SpecialPriceToDate</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>13</INDEX><NAME>TaxClass</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>14</INDEX><NAME>QuantityinStock</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>15</INDEX><NAME>Stockmaintenance</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>16</INDEX><NAME>IncludedSMI</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>17</INDEX><NAME>ExcludedSMI</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>18</INDEX><NAME>ExclusiveSMI</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>19</INDEX><NAME>VendorId</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>20</INDEX><NAME>UCID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>21</INDEX><NAME>DeliveryMethod</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>22</INDEX><NAME>product_collection</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>23</INDEX><NAME>Visibility</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>24</INDEX><NAME>Status</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>25</INDEX><NAME>CreatedOn</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>26</INDEX><NAME>UpdatedOn</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>27</INDEX><NAME>SMI</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>28</INDEX><NAME>ParentSKU</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>29</INDEX><NAME>ItemID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>30</INDEX><NAME>is_licensed</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>31</INDEX><NAME>vCategory</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>32</INDEX><NAME>vEnhanced_Commerce</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>33</INDEX><NAME>URL</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>34</INDEX><NAME>config_type</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN><COLUMN><INDEX>35</INDEX><NAME>CategoryID</NAME><IS_REQUIRED>true</IS_REQUIRED><INCLUDE>true</INCLUDE></COLUMN>')
GO
