/****** Object:  StoredProcedure [dbo].[s_update_errordefinition_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/13/2020 - ContentEdit.
*/
CREATE PROCEDURE [dbo].[s_update_errordefinition_record]
(
	 @ErrorCode VARCHAR(10) = NULL
	,@ErrorMsg VARCHAR(1000) = NULL 
	,@Description VARCHAR(1000) = NULL
	,@ErrorCategoryID INT = NULL
	,@ID INT = NULL
	,@AddedBy VARCHAR(50) = NULL
	,@AddedOn DATETIME = NULL
	,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [SMILists].
--##RS1 The [ID] value of the inserted/updated record in the table [SMILists].
--EXEC s_update_smilists_record @ID=4, @SMIs = '131305,131518,131487,131304,131377,131492,131528,131380,131461,131524,130826,131269,131478,135997,131263,131515,131488,131570,131667,131701,131716,131709,131044,131262,131007,131522,130995,131169,131565,131000,131525,131568,130648,131559,131566,130989,130998,130913,130857,131059,134440,130810,131171,130646,131489,132203,131708,131058,131503,131036,131571,133688,131424,131243,131717,131416,131079,131564,131047,131039,131241,130917,131428,130814,131032,135318,130649,131435,130639,130643,130650,130653,130775,130807,130836,130839,130865,130870,130872,130874,130876,130880,130971,130981,130982,130983,130988,130997,131010,131011,131012,131015,131016,131023,131028,131035,131037,131045,131054,131057,131069,131070,131072,131073,131082,131085,131086,131092,131094,131095,131097,131098,131177,131199,131206,131209,131216,131220,131238,131253,131257,131259,131261,131266,131267,131285,131287,131288,131291,131294,131299,131301,131307,131309,131319,131321,131327,131333,131334,131336,131344,131349,131358,131360,131366,131387,131391,131394,131464,131465,131467,131468,131477,131484,131493,131509,131513,131514,131519,131520,131537,131540,131542,131554,131557,131560,131642,131696,131706,131723,131757,131759,131763,132357,133540,133560,133779,133863,133887,133986,134036,134177,134343,134386,134579,134581,134592,134683,134733,135016,135141,135166,135395,135491,136108'
--REFORM SMI's
IF @ErrorMsg IS NOT NULL SET @ErrorMsg = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@ErrorMsg,CHAR(10),''), ' ',''),CHAR(11),''),CHAR(9),''),CHAR(13),'')
 
IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [product_transaction_error_defs] ( [ErrorCode]
		,[ErrorMsg]
		,[Description]
		,[ErrorCategoryID]	
		,[AddedBy]
		,[AddedOn])
       VALUES ( @ErrorCode,@ErrorMsg,@Description,@ErrorCategoryID,@AddedBy,  CASE WHEN (ISNULL(@AddedOn,'') <> '' OR CAST(@AddedOn AS VARCHAR(8)) = '1/1/0001') THEN dbo.fn_DateTime_To_Zulu(CAST(@AddedOn AS DATETIME)) ELSE GETDATE() END)
    SELECT @ID_OUT = SCOPE_IDENTITY()
	--IF @SMIs IS NOT NULL
	--	BEGIN
	--		SELECT @NewGUID = [GUID] FROM [dbo].[SMILists] WHERE [ID] = @ID_OUT
	--		INSERT INTO [dbo].[SMIListsDetails] ([SMIListGUID],[SMI])
	--		SELECT @NewGUID, CAST([value] AS INT) FROM string_split(@SMIs,',')
	--	END
  END
ELSE
  BEGIN
    UPDATE [product_transaction_error_defs] SET
     [ErrorCode] = CASE WHEN @ErrorCode IS NULL THEN [ErrorCode] ELSE @ErrorCode END
    ,[ErrorMsg] = CASE WHEN @ErrorMsg IS NULL THEN [ErrorMsg] ELSE @ErrorMsg END
	,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
	,[ErrorCategoryID] = CASE WHEN ISNULL(@ErrorCategoryID, '') = '' THEN [ErrorCategoryID] ELSE @ErrorCategoryID END
    ,[AddedBy] = CASE WHEN @AddedBy IS NULL THEN [AddedBy] ELSE @AddedBy END
    ,[AddedOn] = CASE WHEN ISNULL(@AddedOn,'') = '' THEN [AddedOn] ELSE dbo.fn_DateTime_To_Zulu(CAST(@AddedOn AS DATETIME)) END    
     WHERE [ID] = @ID
    SELECT @ID_Out = @ID
	 
  END
  
  SELECT [ErrorCode]	
		,[ErrorMsg]
		,[Description]
		,[ErrorCategoryID]
		,[ID]
		,[AddedBy]	 
		,[AddedOn] = CASE WHEN ISNULL([AddedOn],'') = '' THEN [AddedOn] ELSE dbo.fn_DateTime_To_Zulu(CAST([AddedOn] AS DATETIME)) END    
		,[ID]	
	FROM dbo.[product_transaction_error_defs]
	WHERE [ID] = @ID_Out
GO
