/****** Object:  StoredProcedure [dbo].[s_get_image_info_by_key]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 11/22/2021
-- Description: Gets a default image to return if the requested image can't be found in Canto
-- =============================================
CREATE PROCEDURE [dbo].[s_get_image_info_by_key]
(
    @key varchar(20)
)
AS
BEGIN
    SET NOCOUNT ON

    SELECT ISNULL([URL],'') AS ImageUrl FROM CantoDefaultImageOverrides WHERE [OverrideKey] = @key
END
GO
