/****** Object:  StoredProcedure [dbo].[s_get_queued_emails_test]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 09-11-2019
-- Description: sproc to get queued emails
-- =============================================
CREATE PROCEDURE [dbo].[s_get_queued_emails_test]
(
      @Batch_ID VARCHAR(50) = ''
	, @Entity VARCHAR(100) = 'balfour'
	, @Email_Name VARCHAR(100) = ''
	, @Batch_ID_Out VARCHAR(50) = '' OUT
)
AS
--UPDATE [dbo].[EmailJobs_Queue] SET BATCH_ID = NULL WHERE ID IN (SELECT TOP 3 [ID] FROM [dbo].[EmailJobs_Queue] ORDER BY [ID] DESC)
--EXEC s_get_queued_emails_test @Batch_ID ='4E56A6E3-0146-4E35-8785-165DBDA6C88CA', @Email_Name = 'orderconfirm'  --3 seconds for 25 rows without getting key value --57 seconds for 25 rows using a temp table to get key values  --59 seconds using a memory table
--UPDATE [dbo].[EmailJobs_Queue] SET BATCH_ID = '4E56A6E3-0146-4E35-8785-165DBDA6C88CA' WHERE BATCH_ID = '4E56A6E3-0146-4E35-8785-165DBDA6C88C'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SET @Email_Name = LTRIM(RTRIM(@Email_Name))
	IF @Batch_ID = ''
		BEGIN
			SET @Batch_ID = NEWID()
			UPDATE [dbo].[EmailJobs_Queue] SET [Batch_ID] = @Batch_ID WHERE [Batch_ID] IS NULL AND [Entity] = @Entity 
			AND [Email_Name] = CASE WHEN @Email_Name = '' THEN [Email_Name] ELSE @Email_Name END
		END
    SET @Batch_ID_Out = @Batch_ID
	
	--Set the key value for each of these
	UPDATE dbo.EmailJobs_Queue SET [Key_Name] = 'OrderNumber',[Key_Value] = dbo.fn_get_key_value_from_orderconfirm(rawData) WHERE [ID] IN (SELECT [ID] FROM dbo.EmailJobs_Queue WHERE Batch_Id = @Batch_ID)

	--CREATE TABLE #Records ([ID] INT, [rawData] NVARCHAR(MAX), [Loop] INT IDENTITY(1,1))
	--INSERT INTO #Records ([ID],[rawData])
	--SELECT [ID], [rawData] FROM [dbo].[EmailJobs_Queue] WHERE [Batch_ID] = @Batch_ID 

	--DECLARE @Loop INT, @Max INT, @ID INT, @rawData NVARCHAR(MAX), @Value VARCHAR(50)
	--SET @Loop = 1
	--SELECT @Max = MAX([ID]) FROM #Records
	--WHILE @Loop <= @Max
	--	BEGIN
	--		SELECT @ID = [ID], @rawData = [rawData]  FROM #Records WHERE [Loop] = @Loop
	--		IF @Email_Name = 'orderconfirm'
	--			BEGIN
	--				SET @Value = ''
	--				BEGIN TRY
	--					SELECT @Value = ISNULL([Value],'') FROM OPENJSON(@rawData) WHERE [Key] = 'increment_id'
	--				END TRY
	--				BEGIN CATCH
	--					SET @Value = ''
	--				END CATCH
	--				UPDATE [dbo].[EmailJobs_Queue] SET [Key_Name] = 'OrderNumber', [Key_Value] = @Value WHERE [ID] = @ID
	--			END
	--		SET @Loop = @Loop + 1
	--	END
	--DROP TABLE #Records

    SELECT 
	  Q.Email_Name
	, Q.Entity
	, ISNULL(J.[Service],'Silverpop') as [service]
	, ISNULL(Q.pod,J.pod) as pod
	, CASE WHEN ISNULL(Q.oAuthClientID,'') = '' THEN ISNULL(dbo.fn_DString(J.oAuthClientID),J.oAuthClientID) ELSE ISNULL(dbo.fn_DString(Q.oAuthClientID),Q.oAuthClientID)  END as [oAuthClientID]
	, CASE WHEN ISNULL(Q.oAuthClientSecret,'') = '' THEN ISNULL(dbo.fn_DString(J.oAuthClientSecret),J.oAuthClientSecret) ELSE ISNULL(dbo.fn_DString(Q.oAuthClientSecret),Q.oAuthClientSecret) END as [oAuthClientSecret]
	, CASE WHEN ISNULL(Q.oAuthRefreshToken,'') = '' THEN ISNULL(dbo.fn_DString(J.oAuthRefreshToken), J.oAuthRefreshToken) ELSE ISNULL(dbo.fn_DString(Q.oAuthRefreshToken), Q.oAuthRefreshToken) END as [oAuthRefreshToken]
	, CASE WHEN ISNULL(Q.campaignID,'') = '' THEN ISNULL(dbo.fn_DString(J.campaignID), J.campaignID) ELSE ISNULL(dbo.fn_DString(Q.campaignID), Q.campaignID) END as [campaignID]
	, CASE WHEN Q.Email_Name = 'orderconfirm' THEN CASE WHEN ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses) NOT LIKE '%@balfour.com' AND Q.emailAddresses <> 'wecrooks@gmail.com' THEN /*OVERRIDE UNTIL LIVE*/'digital@balfour.com' ELSE ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses) END ELSE ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses) END as [emailAddresses]
	--, /*ISNULL(dbo.fn_DString(Q.emailAddresses), Q.emailAddresses)*/'digital@balfour.com'/*'william.crooks@balfour.com'*/ as [emailAddresses]
	, CASE WHEN Q.[Email_Name] NOT IN ('recipients','addcontact') THEN dbo.fn_convert_email_data_to_request_body(Q.Email_Name, Q.Entity, ISNULL(rawData,'')) ELSE [rawData] END as [request]
	, ISNULL(Q.template,'') as [template]
	, ISNULL(dbo.fn_DString(Q.connString), Q.connString) as [connString]
	, Q.ID
	FROM [dbo].[EmailJobs_Queue] Q
	LEFT JOIN [dbo].[EmailJobs] J on J.Email_Name = Q.Email_Name AND J.Entity = Q.Entity AND J.Service = Q.Service
	WHERE [Batch_ID] = @Batch_ID 

	
	
END
GO
