/****** Object:  StoredProcedure [dbo].[s_update_digitalcodes_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/23/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_digitalcodes_record]
(
 @Code VARCHAR(200) = NULL
,@DateAdded DATETIME = NULL
,@DateUsed DATETIME = NULL
,@Description VARCHAR(MAX) = NULL
,@Expires DATETIME = NULL
,@ID BIGINT = NULL
,@ImportBatch VARCHAR(50) = NULL
,@ImportFile VARCHAR(200) = NULL
,@KeyForIssued VARCHAR(100) = NULL
,@KeyForUsed VARCHAR(100) = NULL
,@Source_GUID VARCHAR(50) = NULL
,@Value MONEY = NULL
, @ID_OUT BIGINT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [DigitalCodes].
--##RS1 The [ID] value of the inserted/updated record in the table [DigitalCodes].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [DigitalCodes] ( [Code],[Expires],[Value],[Description],[DateAdded],[DateUsed],[KeyForIssued],[KeyForUsed],[Source_GUID],[ImportBatch],[ImportFile])
       VALUES ( @Code,@Expires,@Value,@Description,@DateAdded,@DateUsed,@KeyForIssued,@KeyForUsed,@Source_GUID,@ImportBatch,@ImportFile)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [DigitalCodes] SET
     [Code] = CASE WHEN @Code IS NULL THEN [Code] ELSE @Code END
    ,[Expires] = CASE WHEN @Expires IS NULL THEN [Expires] ELSE @Expires END
    ,[Value] = CASE WHEN @Value IS NULL THEN [Value] ELSE @Value END
    ,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
    ,[DateAdded] = CASE WHEN @DateAdded IS NULL THEN [DateAdded] ELSE @DateAdded END
    ,[DateUsed] = CASE WHEN @DateUsed IS NULL THEN [DateUsed] ELSE @DateUsed END
    ,[KeyForIssued] = CASE WHEN @KeyForIssued IS NULL THEN [KeyForIssued] ELSE @KeyForIssued END
    ,[KeyForUsed] = CASE WHEN @KeyForUsed IS NULL THEN [KeyForUsed] ELSE @KeyForUsed END
    ,[Source_GUID] = CASE WHEN @Source_GUID IS NULL THEN [Source_GUID] ELSE @Source_GUID END
    ,[ImportBatch] = CASE WHEN @ImportBatch IS NULL THEN [ImportBatch] ELSE @ImportBatch END
    ,[ImportFile] = CASE WHEN @ImportFile IS NULL THEN [ImportFile] ELSE @ImportFile END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [Code]
,FORMAT(dbo.fn_DateTime_to_Central([Expires]), 'MM/dd/yyyy hh:mm:ss tt') AS [Expires]
,[Value]
,[Description]
,FORMAT(dbo.fn_DateTime_to_Central([DateAdded]), 'MM/dd/yyyy hh:mm:ss tt') AS [DateAdded]
,FORMAT(dbo.fn_DateTime_to_Central([DateUsed]), 'MM/dd/yyyy hh:mm:ss tt') AS [DateUsed]
,[KeyForIssued]
,[KeyForUsed]
,[Source_GUID]
,[ImportBatch]
,[ImportFile]
,[ID]

FROM dbo.[DigitalCodes]
WHERE [ID] = @ID_Out
GO
