/****** Object:  StoredProcedure [dbo].[s_iop_tile_list]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_iop_tile_list]      
AS  
BEGIN  
      
    SET NOCOUNT ON;  
    select * from [iop_tiles]  
	order by CAST(SMI AS INT) asc
    END  
GO
