/****** Object:  StoredProcedure [dbo].[s_get_mm_nav_xml]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_mm_nav_xml]
(
	 @Production BIT = 1
	
)
AS
SET NOCOUNT ON
select 
  [Tag] as [Tag]
, ISNULL([Title],'') AS [Title]
, ISNULL([Description],'') as [Description]
, ISNULL([URL],'') as [URL]
, ISNULL([ParentTag],'') as [ParentTag]
, ISNULL([Icon],'') as [Icon]
, [Sort_Order] as [DisplayOrder]
from [dbo].[MM_Nav]
WHERE [InProduction] = CASE WHEN @Production = 1 THEN 1 ELSE [InProduction] END

Order by [Sort_Order]
FOR XML PATH ('Menu'), ROOT ('Menus')
GO
