/****** Object:  StoredProcedure [dbo].[s_delete_SKUlists_record]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 11/13/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_SKUlists_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [SKULists].
--##PD @ID in [SKULists].
--##RS1 -NONE-
SET NOCOUNT ON
DECLARE @GUID VARCHAR(50)
SELECT @GUID = [GUID] FROM [dbo].[SKULists] WHERE [ID] = @ID
DELETE FROM [dbo].[SKUListsDetails] WHERE [SKUListGUID] = @GUID
DELETE FROM [dbo].[SKULists] WHERE [ID] = @ID


GO
