/****** Object:  StoredProcedure [dbo].[s_process_copy_operations_queue]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_process_copy_operations_queue]
AS
--EXEC s_process_copy_operations_queue
SET NOCOUNT ON
DECLARE @Queue_GUID VARCHAR(50), @Processed_DTM DATETIME
SET @Queue_GUID = NEWID()
SET @Processed_DTM = GETDATE()

--Do some queue maintenance
DELETE 
FROM dbo.[Copy_Operations_Queue]
WHERE ISNULL([Processed_DTM],GETDATE()) <= DATEADD(day,-30,GETDATE())

UPDATE dbo.[Copy_Operations_Queue] SET [Queue_GUID] = @Queue_GUID, [Processed_DTM] = @Processed_DTM WHERE [Queue_GUID] IS NULL

--DECLARE @Operations TABLE ([Copy_Operation_Name] VARCHAR(100))

--INSERT INTO @Operations
SELECT Q.[Copy_Operation_Name]
, O.[Source]
, O.[Target]
FROM dbo.[Copy_Operations_Queue] Q
LEFT JOIN dbo.[Copy_Operations] O ON O.[Copy_Operation_Name] = Q.[Copy_Operation_Name]
WHERE [Queue_GUID] = @Queue_GUID



--SELECT [Copy_Operation_Name] FROM @Operations
GO
