/****** Object:  StoredProcedure [dbo].[s_update_affinitypage_flags]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 07/02/2020
-- Description: Updates the [Flags] column in AffinityPage and AffinityPageWorking
-- =============================================
CREATE PROCEDURE [dbo].[s_update_affinitypage_flags]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

   --Yearbooks
	--AffinityPage
	UPDATE AffinityPage 
	SET [Flags] = CASE WHEN ([Flags] & 1) > 0 THEN [Flags] ELSE [Flags] + 1 END
	WHERE SMI IN
	(
		SELECT distinct [Exclusive SMI] from magento_automated_product_dataset where [category] = 'YEARBOOK & ACCESSORIES' AND [Exclusive SMI] is not null
	)

	UPDATE AffinityPage 
	SET [Flags] = CASE WHEN ([Flags] & 1) > 0 THEN [Flags]-1 ELSE [Flags] END
	WHERE SMI NOT IN
	(
		SELECT distinct [Exclusive SMI] from magento_automated_product_dataset where [category] = 'YEARBOOK & ACCESSORIES' AND [Exclusive SMI] is not null
	)

	--AffinityPageW0rking
	UPDATE AffinityPageWorking 
	SET [Flags] = CASE WHEN ([Flags] & 1) > 0 THEN [Flags] ELSE [Flags] + 1 END
	WHERE SMI IN
	(
		SELECT distinct [Exclusive SMI] from magento_automated_product_dataset where [category] = 'YEARBOOK & ACCESSORIES' AND [Exclusive SMI] is not null
	)

	UPDATE AffinityPageWorking 
	SET [Flags] = CASE WHEN ([Flags] & 1) > 0 THEN [Flags]-1 ELSE [Flags] END
	WHERE SMI NOT IN
	(
		SELECT distinct [Exclusive SMI] from magento_automated_product_dataset where [category] = 'YEARBOOK & ACCESSORIES' AND [Exclusive SMI] is not null
	)
END
GO
