/****** Object:  StoredProcedure [dbo].[s_delete_school_events_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/11/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_school_events_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [School_Events].
--##PD @ID in [School_Events].
--##RS1 -NONE-
SET NOCOUNT ON
--Get rid of all the descendant records
DECLARE @Event_GUID VARCHAR(50), @Loop INT, @Max INT, @GUID VARCHAR(50)
SELECT @Event_GUID = [GUID] FROM dbo.[School_Events] WHERE [ID] = @ID
DECLARE @Desc TABLE ([GUID] VARCHAR(50), [Loop] INT IDENTITY(1,1))
INSERT INTO @Desc ([GUID])
SELECT [GUID] FROM dbo.[School_Events_Locations_XRef] WHERE [Event_GUID] = @Event_GUID
SELECT @Max = MAX([Loop]), @Loop = 1 FROM @Desc
WHILE @Loop <= @Max
	BEGIN
		SELECT @GUID = [GUID] FROM @Desc WHERE [Loop] = @Loop
		EXEC dbo.[s_delete_school_events_locations_xref_record] @GUID
		SET @Loop = @Loop + 1
	END
DELETE FROM [School_Events] WHERE [ID] = @ID


GO
