/****** Object:  StoredProcedure [dbo].[s_get_redirect_url]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 11/30/2021
-- Description: This sproc pulls the redirect url
-- =============================================
CREATE PROCEDURE [dbo].[s_get_redirect_url]
(
     @oldUrl VARCHAR(225)
)
AS
--EXEC [s_get_redirect_url] @oldUrl='https://www.balfour.com'
--EXEC [s_get_redirect_url] @oldUrl='So-what8217s-the-problem'
BEGIN
    SET NOCOUNT ON
	INSERT INTO [dbo].[SQLLog] ([Key_Value], [Data])
    VALUES('s_get_redirect_url', 'temp from proc: ' + @oldUrl)
   
	IF CHARINDEX('?', @oldUrl) > 0
	BEGIN
		SET @oldUrl = LEFT(@oldUrl,CHARINDEX('?',@oldUrl) - 1)
	END
	SELECT [NewUrl] FROM [UrlRedirect] WHERE [OldUrl] = @oldUrl FOR JSON PATH
END
 
GO
