/****** Object:  StoredProcedure [dbo].[s_report_logo_color]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/06/2020
-- Description: Sends an internal logo and color report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_logo_color]
(
	@Emails VARCHAR(1000) = 'eudora.choi@balfour.com'
)
AS 
--EXEC s_report_logo_color
--EXEC s_report_logo_color @Emails=''
--EXEC s_report_logo_color @Emails = 'wecrooks@crooksfamily.net'
--EXEC s_report_logo_color @Emails = 'william.crooks@balfour.com'
--EXEC s_report_logo_color @Emails = 'eudora.choi@balfour.com'
--EXEC s_report_logo_color @Emails = 'eudora.choi@balfour.com;william.crooks@balfour.com;eudora.choi@gmail.com;tl@crooksfamily.net'
--Check the email queue table
--SELECT TOP 10 * FROM dbo.EmailJobs_Queue WHERE [Email_Name] LIKE '%report%' ORDER BY ID DESC
SET NOCOUNT ON
/*
You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
you can get the rows in the correct order.
*/
CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
CREATE TABLE #Blob ([data] VARCHAR(MAX), [ID] INT)
INSERT INTO #Blob ([data],[ID]) VALUES ('',1)
/*
You will need the header row.  Separate the columns with the tab (CHAR(9)) character.
*/
INSERT INTO #ReportTemp ([row])
SELECT 'SMI' + CHAR(9) + 'Clean School Name' + CHAR(9) + 'Affinity URL' + CHAR(9) + 'Color' + CHAR(9) + 'Logo URL' + CHAR(9) + 'Mascot'
/*
Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(9)) between then.  Be careful not to allow
any NULL values as that will cause the entire string (row) to be NULL.
*/
INSERT INTO #ReportTemp ([row])
SELECT 
  CAST([SMI] as VARCHAR(15)) + CHAR(9) +
  ISNULL([cleanschoolname],'') + CHAR(9) +
  ISNULL([affinityurl],'') + CHAR(9) +
  ISNULL([Color],'') + CHAR(9) +
  --CASE WHEN ISNULL([LogoURL],'') <> '' THEN 'https:' + [LogoURL] ELSE '' END + CHAR(9) +
  ISNULL([mascot],'')
FROM [dbo].[School_URL_Master]
WHERE [SMI] IS NOT NULL AND ISNULL([SMI],0) > 0
ORDER BY [SMI]
/*
Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
*/
DECLARE @File VARCHAR(MAX)
SET @File = ''
UPDATE #Blob SET [data].WRITE(REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10),NULL, NULL) 
FROM #ReportTemp

SELECT [data] FROM #Blob
/*
Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
a LF (CHAR(10)).  Make sure to order by your identity column.
*/
DECLARE @Max INT, @Loop INT, @Row VARCHAR(MAX), @Batch_ID VARCHAR(50), @FormerLen INT, @Line VARCHAR(MAX)
--SELECT @Max = MAX([rownum]), @Loop = MIN([rownum]), @FormerLen = 0 FROM #ReportTemp
--PRINT 'Row count = ' + CAST(@Max as VARCHAR(15))
--WHILE @Loop <= @Max
--	BEGIN
--	    SELECT @Line = REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10) FROM #ReportTemp WHERE [rownum] = @Loop
--		SET @File.WRITE(@Line,NULL,NULL)
--		--SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10) FROM #ReportTemp WHERE [rownum] = @Loop
--		--IF LEN(@File) < @FormerLen 
--		--	BEGIN
--		--		PRINT '@FormerLen = ' + CAST(@FormerLen AS VARCHAR(15))
--		--		BREAK
--		--	END
--		--SET @FormerLen = LEN(@File)
--		--IF LEN(@File) > 7000
--		--	BEGIN
--		--		PRINT 'Doing insert'
--		--		INSERT INTO #Blob ([data],[ID]) VALUES (CAST(@File as VARBINARY(MAX)), @Loop)
--		--		SET @File = ''
--		--	END
--		PRINT CAST(@Loop AS VARCHAR(15))
--		SET @Loop = @Loop + 1
--	END

----SELECT CAST([data] AS VARCHAR(MAX)), [ID] FROM #Blob ORDER BY [ID]
--SELECT @File

/*For debugging purposes.*/
--SELECT @File

/*
Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
*/
IF ISNULL(@Emails,'') <> ''
	BEGIN
		SET @Batch_ID = NEWID()
		INSERT INTO [dbo].[EmailJobs_Queue] ([Batch_ID],[Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 @Batch_ID
		,'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'Logo and Color Report' /*Description of the queue entry.*/
		,@Emails /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
		,'{"cc":"","bcc":"","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"Logo and Color Report","body":"The logo and color report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'LogoAndColorReport.txt' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX))--CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
		--UPDATE [dbo].[EmailJobs_Queue] SET [Attachment].WRITE(@File,NULL,NULL)
		--FROM [dbo].[EmailJobs_Queue] Q INNER JOIN #Blob T ON T.ID = 1 AND Q.[Batch_ID] = @Batch_ID
	END
/*For debugging purposes.*/
--SELECT SCOPE_IDENTITY()
--SELECT CAST([data] AS VARCHAR(MAX))
--FROM #Blob WHERE [ID] = 1

DROP TABLE #ReportTemp
DROP TABLE #Blob
GO
