/****** Object:  StoredProcedure [dbo].[Upsert_PIM_crossell_upsell]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Krishna S  Krishna.Seetharaman@balfour.com
-- Create Date: 12/02/2021
-- Description: Upsert data to Marketing DB from PIM 
-- =============================================
CREATE PROCEDURE [dbo].[Upsert_PIM_crossell_upsell]

	@SKU nvarchar(255) ,
	@YMALRef varchar(max) ,
	@LastChanceUpsellRef varchar(max) ,
	@InCartUpsellRef varchar(max) ,
	@ExclusiveOffersRef varchar(max) ,
	@PopupHeader varchar(500),
	@PopupTitle varchar(500),
	@PopupDescription varchar
	
	
AS
BEGIN
	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.pim_crossell_upsell WHERE SKU = @SKU)
       INSERT INTO dbo.pim_crossell_upsell(
		[SKU]
      ,[YMALRef]
      ,[LastChanceUpsellRef]
      ,[InCartUpsellRef]
      ,[ExclusiveOffersRef]
      ,[PopupHeader]
      ,[PopupTitle]
      ,[PopupDescription]
      ,[CreatedDate]
      ,[UpdatedDate]
      )
       VALUES (
		@SKU  ,
		@YMALRef  ,
		@LastChanceUpsellRef ,
		@InCartUpsellRef  ,
		@ExclusiveOffersRef ,
		@PopupHeader ,
		@PopupTitle ,
		@PopupDescription ,
		getdate()  ,
		getdate()	)

    ELSE
       UPDATE dbo.pim_crossell_upsell
       SET 
		[SKU]					=@SKU           
      ,[YMALRef]				=@YMALRef
      ,[LastChanceUpsellRef]	=@LastChanceUpsellRef
      ,[InCartUpsellRef]		=@InCartUpsellRef	
      ,[ExclusiveOffersRef]		=@ExclusiveOffersRef
      ,[PopupHeader]			=@PopupHeader
      ,[PopupTitle]				=@PopupTitle
      ,[PopupDescription]		=@PopupDescription
      ,[UpdatedDate]			=getdate()
	  WHERE [SKU]	 	        =	@SKU
		
		
END

GO
