/****** Object:  StoredProcedure [dbo].[s_get_iconic_school_default]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:      Trishan Singh
-- Create Date: 2019-03-01
-- Description: Get smi based on Iconic School Id
-- =============================================
CREATE PROCEDURE [dbo].[s_get_iconic_school_default]
(
    -- Add the parameters for the stored procedure here
    @iconicschoolid int = 0 ,
	@context varchar(100) = ''
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @smiid varchar(10)
	SELECT @smiid = smiid FROM iconicTosmi WHERE iconicid = @iconicschoolid
	SET @smiid = COALESCE(@smiid,'')
	-- Flip a coin
	DECLARE @COIN INT
	SELECT @COIN = (select ABS(CHECKSUM(NEWID()) % 2))
	IF @context = 'registration'
	BEGIN
		select top 1 * from iconicDefaultRecs where 1 = 0 
	END
	ELSE
	BEGIN
		IF @COIN = 0
		-- HEADS
		BEGIN
			select TOP (10) id, name as productname,  
			IIF(UseSMI = 1, url + '&smi=' + @smiid, url) as itemurl,
			price as retailprice, wasprice, image as imageurl, tiletype, sortorder, @smiid as smiid
			FROM dbo.iconicDefaultRecs
			where sortorder IS NOT NULL
			ORDER BY sortorder
		END
		ELSE
		-- TAILS
		BEGIN	
			select TOP (10) id, name as productname, 
			IIF(UseSMI = 1, url + '&smi=' + @smiid, url) as itemurl,
			price as retailprice, wasprice, image as imageurl, tiletype, sortorder, @smiid as smiid 
			FROM dbo.iconicDefaultRecs
			where sortorder2 IS NOT NULL
			ORDER BY sortorder2
		END
	END

END


GO
