/****** Object:  StoredProcedure [dbo].[Magento_NS_Exception]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
--BAS-8659
CREATE PROCEDURE [dbo].[Magento_NS_Exception](
     @Status VARCHAR(300) = ''
)
AS
BEGIN

IF @Status  = ''
BEGIN
SELECT * FROM View_Magento_NS_Exception	
	ORDER BY [Order Date] desc
	for JSON PATH
END

IF @Status  != ''
BEGIN
SELECT * FROM View_Magento_NS_Exception	
where Status = @Status
	ORDER BY [Order Date] desc
	for JSON PATH
END
	
END
GO
