/****** Object:  StoredProcedure [dbo].[s_get_email_queue_records_json]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 12/19/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_email_queue_records_json]
(
	  @ID BIGINT = NULL
	, @searchField VARCHAR(50) = '' --ID, Key_Name, Key_Value, EmailAddresses, SilverpopTrans
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0 --The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @mode VARCHAR(50) = 'Both'
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves the specified records from the table [EmailJobs_Queue] if the parameter @ID has a value or all records if null.
--##PD @ID = [ID] in [EmailJobs_Queue].
--##RS1 One or all records from the table [EmailJobs_Queue].

--DECLARE @totalRecords INT; EXEC s_get_email_queue_records_json @searchField = 'EmailAddresses', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--The following takes 14 seconds
--DECLARE @totalRecords INT; EXEC s_get_email_queue_records_json @Sort='DESC', @sortField='ID', @searchField = 'EmailAddresses', @searchTerm = 'kmmarzullo@gmail.com', @pageSize=15, @StartDate='10-21-2019', @EndDate='10-21-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_email_queue_records_json @ID=7455, @searchField = 'EmailAddresses', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--SELECT * FROM [dbo].[EmailJobs_Queue] WHERE [ID] = 7455

SET NOCOUNT ON
--Order_Number search overrides all search criteria
IF @ID IS NOT NULL
	BEGIN
		SET @startDate = NULL
		SET @endDate = NULL
		SET @searchField = ''
		SELECT
			   [Email_Name]
			  ,[Entity]
			  ,[Service]
			  ,[Description]
			  ,[pod]
			  ,dbo.fn_DString([oAuthClientId]) as [oAuthClientId]
			  ,dbo.fn_DString([oAuthClientSecret]) as [oAuthClientSecret]
			  ,dbo.fn_DString([oAuthRefreshToken]) as [oAuthRefreshToken]
			  ,dbo.fn_DString([campaignID]) as [campaignID]
			  ,[emailAddresses]
			  ,ISNULL([rawData],'') as [rawData]
			  ,[template]
			  ,dbo.fn_DateTime_to_Central([Queued_DTM]) as [Queued_DTM]
			  ,[Batch_ID]
			  ,[connString]
			  ,[Result]
			  ,[Retries]
			  ,[Host_Info]
			  ,[Key_Name]
			  ,[Key_Value]
			  ,[SilverpopTrans]
			  ,[ErrorCount]
			  ,[ID]
			  ,1 as RowNumber
			FROM [dbo].[EmailJobs_Queue]
			WHERE [ID] = @ID
			FOR JSON PATH
		SELECT @totalRecords = COUNT(*) FROM [dbo].[EmailJobs_Queue]
			WHERE [ID] = @ID
	END
ELSE
	BEGIN
		IF @startDate IS NULL SET @startDate = '1-1-1900'
		IF @endDate IS NULL SET @endDate = DATEADD(d,1,GETDATE())

		SET @startDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @startDate, 101) as DATETIME))
		SET @endDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME))

		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip*@pageSize)+1
		SET @endrow = (@startRow+@pageSize)-1

		IF @sortField = '' SET @sortField = @searchField

		
		--Get the total count
		SELECT @totalRecords = COUNT(*) 
		FROM [EmailJobs_Queue] 
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE CAST(@ID AS VARCHAR(15)) END 
			AND [Key_Name] LIKE CASE WHEN @searchField = 'Key_Name' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Key_Name] END
			AND [Key_Value] LIKE CASE WHEN @searchField = 'Key_Value' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Key_Value] END 
			AND [SilverpopTrans] LIKE CASE WHEN @searchfield = 'SilverpopTrans' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [SilverpopTrans] END
			AND [EmailAddresses] LIKE CASE WHEN @searchField = 'EmailAddresses' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [EmailAddresses] END
			AND [Queued_DTM] BETWEEN @startDate AND @endDate


		DECLARE @TSQL NVARCHAR(MAX)


		IF @sort = 'DESC'
			BEGIN 
				
				; WITH SelectedRows AS (
				SELECT
				   [Email_Name]
				  ,[Entity]
				  ,[Service]
				  ,[Description]
				  ,[pod]
				  ,[oAuthClientId]
				  ,[oAuthClientSecret]
				  ,[oAuthRefreshToken]
				  ,[campaignID]
				  ,[emailAddresses]
				  ,ISNULL([rawData],'') as [rawData]
				  ,[template]
				  ,dbo.fn_DateTime_to_Central([Queued_DTM]) as [Queued_DTM]
				  ,[Batch_ID]
				  ,[connString]
				  ,[Result]
				  ,[Retries]
				  ,[Host_Info]
				  ,[Key_Name]
				  ,[Key_Value]
				  ,[SilverpopTrans]
				  ,[ErrorCount]
				  ,[ID]
				  ,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'emailaddresses' THEN [emailaddresses] WHEN 'Key_Name' THEN [Key_Name] WHEN 'Key_Value' THEN [Key_Value] WHEN 'SilverpopTrans' THEN [SilverpopTrans] ELSE RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) END DESC) as RowNumber
				FROM [dbo].[EmailJobs_Queue]
				WHERE [ID] = CASE WHEN ISNULL(@ID,0) = 0 THEN [ID] ELSE @ID END 
				AND [Email_Name] = CASE @mode WHEN 'Both' THEN [Email_Name] WHEN 'Orders' THEN 'orderconfirm' ELSE 'Recipients' END
				AND [Key_Name] LIKE CASE WHEN @searchField = 'Key_Name' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Key_Name] END 
				AND [Key_Value] LIKE CASE WHEN @searchField = 'Key_Value' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Key_Value] END
				AND [EmailAddresses] LIKE CASE WHEN @searchField = 'EmailAddresses' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [EmailAddresses] END
				AND [SilverpopTrans] LIKE CASE WHEN @searchfield = 'SilverpopTrans' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [SilverpopTrans] END
				AND [Queued_DTM] BETWEEN @startDate AND @endDate
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
				FOR JSON PATH
			END
		ELSE
			BEGIN
				; WITH SelectedRows AS (
				SELECT
				   [Email_Name]
				  ,[Entity]
				  ,[Service]
				  ,[Description]
				  ,[pod]
				  ,[oAuthClientId]
				  ,[oAuthClientSecret]
				  ,[oAuthRefreshToken]
				  ,[campaignID]
				  ,[emailAddresses]
				  ,ISNULL([rawData],'') as [rawData]
				  ,[template]
				  ,/*DATEADD(hour,-5,[Queued_DTM]) as */[Queued_DTM]
				  ,[Batch_ID]
				  ,[connString]
				  ,[Result]
				  ,[Retries]
				  ,[Host_Info]
				  ,[Key_Name]
				  ,[Key_Value]
				  ,[SilverpopTrans]
				  ,[ErrorCount]
				  ,[ID]
				  ,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'emailaddresses' THEN [emailaddresses] WHEN 'Key_Name' THEN [Key_Name] WHEN 'Key_Value' THEN [Key_Value] WHEN 'SilverpopTrans' THEN [SilverpopTrans] ELSE RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) END ASC) as RowNumber
				FROM [dbo].[EmailJobs_Queue]
				WHERE [ID] = CASE WHEN ISNULL(@ID,0) = 0 THEN [ID] ELSE @ID END 
				AND [Email_Name] = CASE @mode WHEN 'Both' THEN [Email_Name] WHEN 'Orders' THEN 'orderconfirm' ELSE 'Recipients' END
				AND [Key_Name] LIKE CASE WHEN @searchField = 'Key_Name' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Key_Name] END 
				AND [Key_Value] LIKE CASE WHEN @searchField = 'Key_Value' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Key_Value] END
				AND [EmailAddresses] LIKE CASE WHEN @searchField = 'EmailAddresses' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [EmailAddresses] END
				AND [SilverpopTrans] LIKE CASE WHEN @searchfield = 'SilverpopTrans' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [SilverpopTrans] END
				AND [Queued_DTM] BETWEEN @startDate AND @endDate
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
				FOR JSON PATH
			END
		
	END
GO
