/****** Object:  StoredProcedure [dbo].[proc_insert_non_contiguous_states_orders]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 2/12/2020 - HT
*/
CREATE PROCEDURE [dbo].[proc_insert_non_contiguous_states_orders]
(
	  @OrderNumber BIGINT
)
AS
	IF @OrderNumber > 0 
		BEGIN
			--INSERT INTO Non_Contiguous_States_Orders_Temp(Order_Number)
			--VALUES(@OrderNumber)
			EXEC  s_update_extendedprop_on_table @TableName = 'NetsuiteSalesOrders', @AttribName='LastNoneContiguousStateOrder', @Value= @OrderNumber
		END
	
GO
