/****** Object:  StoredProcedure [dbo].[s_report_school_ranking_list]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 07/11/2020
-- Description: Sends an internal school ranking report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_school_ranking_list]
(
	@Emails VARCHAR(1000) = 'eudora.choi@balfour.com' --eudora.choi@balfour.com
)
AS 
 
SET NOCOUNT ON
/*
You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
you can get the rows in the correct order.
*/
CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
/*
You will need the header row.  Separate the columns with the tab (CHAR(9)) character.
*/
INSERT INTO #ReportTemp ([row])
SELECT 'SMI' + CHAR(9) + 'CleanSchoolName' + CHAR(9) + 'SchoolRanking' + CHAR(9) + 'SchoolRankingBooster' + CHAR(9)
/*
Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(9)) between then.  Be careful not to allow
any NULL values as that will cause the entire string (row) to be NULL.
*/
INSERT INTO #ReportTemp ([row])
SELECT TOP 10000 CAST(SMI AS VARCHAR(50)) + CHAR(9) +
       CAST(CleanSchoolName as VARCHAR(200)) + CHAR(9) + 
       CAST(SchoolRankingBooster AS VARCHAR(50)) + CHAR(9)
  FROM [dbo].[School_URL_Master] 
  WHERE SMI > 0 And SchoolRanking > 0

/*
Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
*/
DECLARE @File VARCHAR(MAX)
SET @File = ''
/*
Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
a LF (CHAR(10)).  Make sure to order by your identity column.
*/
SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
FROM #ReportTemp
ORDER BY [rownum]


/*For debugging purposes.*/
--SELECT @File

/*
Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
*/
IF ISNULL(@Emails,'') <> ''
	BEGIN
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'School Ranking Report' /*Description of the queue entry.*/
		,@Emails /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
		,'{"cc":"","bcc":"","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"School Ranking Report","body":"The school ranking report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'PhotoBookReport.txt' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
	END
/*For debugging purposes.*/
--SELECT SCOPE_IDENTITY()
SELECT * FROM #ReportTemp

DROP TABLE #ReportTemp
GO
