/****** Object:  StoredProcedure [dbo].[s_get_cap_gown_product_showcase]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- HT
-- 06/10/2021
-- Description: Returns data used to power GradPack Bundles PLP pages 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_cap_gown_product_showcase] --@smi = 134693
(
     @SMI BIGINT = 135368	  -- no need for smi so far
	,@Debug BIT = 0	
)
AS
 
/*-- TESTING
	exec [dbo].[s_get_cap_gown_product_showcase]   @smi = 134503-- 135368 --74171, @Debug = 1 -- 1326 28208  --134693
--*/

BEGIN
	-- TEST     DECLARE    @Debug BIT = 1	,  @SMI BIGINT = 134503 --134693 -- 135368  -- test school	134693
	DECLARE @maxShowCaseCount INT = 1
	DECLARE @showCaseCount INT = 1

	SELECT @maxShowCaseCount = COUNT(ID) FROM gradpack_cap_gown_product_showcase  -- SELECT * FROM gradpack_cap_gown_product_showcase
	DECLARE @tableItemOne TABLE ([Name]  VARCHAR(200), [SKU]  VARCHAR(30), [Image] VARCHAR(150), [URL] VARCHAR(300), [Price] DECIMAL(16,2), [BadgeText] VARCHAR(200), [CTA] VARCHAR(200), ShowCaseID INT, SortOrder INT)
	DECLARE @tableItemTwo TABLE ([Name]  VARCHAR(200), [SKU]  VARCHAR(30), [Image] VARCHAR(150), [URL] VARCHAR(300), [Price] DECIMAL(16,2), [BadgeText] VARCHAR(200), [CTA] VARCHAR(200), ShowCaseID INT, SortOrder INT)
	DECLARE @tableItemThree TABLE ([Name]  VARCHAR(200), [SKU]  VARCHAR(30), [Image] VARCHAR(150), [URL] VARCHAR(300), [Price] DECIMAL(16,2), [BadgeText] VARCHAR(200), [CTA] VARCHAR(200), ShowCaseID INT, SortOrder INT)
	DECLARE @tableItemFour TABLE ([Name]  VARCHAR(200), [SKU]  VARCHAR(30), [Image] VARCHAR(150), [URL] VARCHAR(300), [Price] DECIMAL(16,2), [BadgeText] VARCHAR(200), [CTA] VARCHAR(200), ShowCaseID INT, SortOrder INT)

	DROP TABLE IF EXISTS #showCaseList	
	CREATE TABLE #showCaseList (ID INT, ProductShowCaseTitle VARCHAR(200), ProductShowCaseCTATitle VARCHAR(200), ProductShowCaseCTAUrl VARCHAR(200), Loop INT IDENTITY(1,1)) 
	INSERT INTO #showCaseList (ID, ProductShowCaseTitle, ProductShowCaseCTATitle, ProductShowCaseCTAUrl)
	SELECT [ID],  ProductShowCaseTitle, ProductShowCaseCTATitle, ProductShowCaseCTAUrl FROM gradpack_cap_gown_product_showcase ORDER BY ID 
	 
	WHILE @showCaSeCount <= @maxShowCaseCount
	BEGIN
		IF @Debug = 1 PRINT 'cnt: ' + CAST(@showCaSeCount AS VARCHAR(2))	
		
		IF @showCaSeCount = 1  -- product school scope, need to join product_included_smi  select * from school_url_master
		BEGIN
			INSERT INTO @tableItemOne([Name],[SKU],[Image],[URL],[Price],[BadgeText],[CTA],[ShowCaseID],[SortOrder])
			SELECT   CASE WHEN i.sku = 'A0243763A0000' THEN (SELECT ISNULL(AltName,'') + '-' + ISNULL(i.[Name],'') FROM School_URL_Master WHERE SMI = @SMI) ELSE  ISNULL([Name],'') END AS [Name]
					 ,ISNULL(i.[SKU],'') AS [SKU]
					 ,ISNULL([Image],'') AS [Image]
					 ,CASE WHEN ISNULL(@SMI,0) > 0 THEN ISNULL([URL],'') + '?smi=' + CAST(@SMI AS varchar(30)) ELSE ISNULL([URL], '') END AS [URL]
					 --,ISNULL([Price],0.00) AS [Price]
					 , dbo.fn_Get_Lowest_Price(i.SKU, @SMI) AS [Price]
					 ,ISNULL([BadgeText],'') AS [BadgeText]
					 ,ISNULL([CTA],'') AS [CTA]
					 ,ISNULL([ShowCaseID],'0') AS [ShowCaseID]
					 ,ISNULL([SortOrder],'0') AS [SortOrder] 
			FROM #showCaseList l INNER JOIN [dbo].[v_gradpack_cap_gown_product_showcase_item] i ON l.ID= i.ShowCaseID 
			INNER JOIN Product_Included_SMI ps ON ps.SKU = i.SKU AND ps.Included_SMI = @SMI 
			WHERE @showCaseCount = l.ID --.Loop
			ORDER BY i.SortOrder
		END
		
		IF @showCaSeCount = 2
		BEGIN
			INSERT INTO @tableItemTwo([Name],[SKU],[Image],[URL],[Price],[BadgeText],[CTA],[ShowCaseID],[SortOrder])
			SELECT    ISNULL([Name],'') AS [Name]
					 ,ISNULL(i.[SKU],'') AS [SKU]
					 ,ISNULL([Image],'') AS [Image]
					 --,CASE WHEN ISNULL(ps.Included_SMI,'0') <> '0' THEN ISNULL([URL],'') + '?smi=' + CAST(@SMI AS varchar(30)) ELSE ISNULL([URL], '') END AS [URL]
					 ,CASE WHEN ISNULL(@SMI,0) > 0 THEN ISNULL([URL],'') + '?smi=' + CAST(@SMI AS varchar(30)) ELSE ISNULL([URL], '') END AS [URL]
					 --,ISNULL([Price],0.00) AS [Price]
					 , dbo.fn_Get_Lowest_Price(i.SKU, @SMI) AS [Price]
					 ,ISNULL([BadgeText],'') AS [BadgeText]
					 ,ISNULL([CTA],'') AS [CTA]
					 ,ISNULL([ShowCaseID],'0') AS [ShowCaseID]
					 ,ISNULL([SortOrder],'0') AS [SortOrder]  
			FROM #showCaseList l INNER JOIN [dbo].[v_gradpack_cap_gown_product_showcase_item] i ON l.ID= i.ShowCaseID 
			--LEFT JOIN Product_Included_SMI ps ON ps.SKU = i.SKU AND ps.Included_SMI = @SMI
			WHERE @showCaseCount = l.Loop
			ORDER BY i.SortOrder
		END

		IF @showCaSeCount = 3
		BEGIN
			INSERT INTO @tableItemThree([Name],[SKU],[Image],[URL],[Price],[BadgeText],[CTA],[ShowCaseID],[SortOrder])
			SELECT    ISNULL([Name],'') AS [Name]
					 ,ISNULL(i.[SKU],'') AS [SKU]
					 ,ISNULL([Image],'') AS [Image]
					 ,CASE WHEN ISNULL(@SMI,0) > 0 THEN ISNULL([URL],'') + '?smi=' + CAST(@SMI AS varchar(30)) ELSE ISNULL([URL], '') END AS [URL]
					 --,ISNULL([Price],9.99) AS [Price]
					 , dbo.fn_Get_Lowest_Price(i.SKU, @SMI) AS [Price]
					 ,ISNULL([BadgeText],'') AS [BadgeText]
					 ,ISNULL([CTA],'') AS [CTA]
					 ,ISNULL([ShowCaseID],'0') AS [ShowCaseID]
					 ,ISNULL([SortOrder],'0') AS [SortOrder]
			FROM #showCaseList l INNER JOIN [dbo].[v_gradpack_cap_gown_product_showcase_item] i ON l.ID= i.ShowCaseID 
			--LEFT JOIN Product_Included_SMI ps ON ps.SKU = i.SKU AND ps.Included_SMI = @SMI
			WHERE @showCaseCount = l.Loop
			ORDER BY i.SortOrder
		END

		SET @showCaseCount = @showCaseCount + 1
	END
	
	SELECT * FROM (
	SELECT    ISNULL(ProductShowCaseTitle,'') AS ProductShowCaseTitle
			, ISNULL(ProductShowCaseCTATitle, '') AS ProductShowCaseCTATitle
			, ISNULL(ProductShowCaseCTAUrl,'') + 
				CASE WHEN CHARINDEX('?', ProductShowCaseCTAUrl) > 0 THEN '&smi=' + CAST(@SMI AS varchar(30) )
				ELSE '?smi=' + CAST(@SMI AS varchar(30)) END AS ProductShowCaseCTAUrl
			, CASE WHEN [Loop] = 1 THEN (SELECT * FROM @tableItemOne ORDER BY SortOrder FOR JSON PATH)		
				WHEN [Loop] = 2 THEN (SELECT * FROM @tableItemTwo ORDER BY SortOrder FOR JSON PATH)
				WHEN [Loop] = 3 THEN (SELECT * FROM @tableItemThree ORDER BY SortOrder FOR JSON PATH) 	
				END AS ShowCaseItem
			, [Loop]
	FROM #showCaseList l) temp
	WHERE ShowCaseItem IS NOT NULL
	ORDER BY [Loop] FOR JSON PATH

	   
END


/*-- TESTING  
	select * from v_gradpacks
	select * from v_gradpackLineItems
	select * from [v_gradpack_cap_gown_product_showcase_item] where sku in ('A0243762A0000', 'A0243763A0000','A0243764A0000','A0243765A0000','A0241944') or showcaseid = 1
	exec [dbo].[s_get_cap_gown_product_showcase] @debug = 1 --@smi =  28208  --134693
	select * from school_url_master where AffinityURL like '%false%'
	select * from itemattributes where tagtype like '%override%'
	select * from product_included_smi where  sku in ('A0243762A0000', 'A0243763A0000','A0243764A0000','A0243765A0000','A0241944')
--*/ 


GO
