/****** Object:  StoredProcedure [dbo].[s_get_cross_sell_EA]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Tramel Jones
-- Create Date: 10/23/2019
-- Description: AutoIndex for Cross Sell EA items
-- =============================================
CREATE PROCEDURE [dbo].[s_get_cross_sell_EA]
(
	@sku VARCHAR(50),
	@maxPriceRange int = 50,
	@minPriceRange int = 10, 
	@debugging BIT = 0
)
AS
BEGIN
	-- EXEC [s_get_cross_sell_EA] @sku='A0017536A0000' -- Minnesota Golden Gophers blankets
	-- EXEC [s_get_cross_sell_EA] @sku='A0008601A0000' -- Virginia Tech Tents
	-- EXEC [s_get_cross_sell_EA] @sku='A0003281A0000' -- Alabama Crimson Tide Tailgate NCAA Grill Cover
	-- EXEC [s_get_cross_sell_EA] @sku='A0009246A0000' -- Virginia Tech Hokies Quenchmaster 24-Can Cooler
	-- EXEC [s_get_cross_sell_EA] @sku='A0066639A0000' -- Clear Stadium Satchel Bag - Moniqua in Royal Purple & Gold
	-- EXEC [s_get_cross_sell_EA] @sku='A0049693A0000' -- Personalized Kids Football Frames
	-- EXEC [s_get_cross_sell_EA] @sku='A0129750' -- VCNY Home Columbus Quilt Sage
	-- EXEC [s_get_cross_sell_EA] @sku='A0173561A0000' -- Victrola Houston Wooden Desktop Bluetooth Radio
	-- EXEC [s_get_cross_sell_EA] @sku='A0136516A0000' -- Papasan Dorm Sofa - Pink
	-- EXEC [s_get_cross_sell_EA] @sku='A0136353A0000' -- Sooo Comfy Twin XL Dorm Blanket - Navy
	-- EXEC [s_get_cross_sell_EA] @sku='A0017524A0000' -- Illinois Fighting Illini Essential Raschel Blanket Throw
	-- EXEC [s_get_cross_sell_EA] @sku='A0078377A0000' -- NCAA Illinois Fighting Illini Trim color Laptop Backpack by Mojo Licensing
	-- EXEC [s_get_cross_sell_EA] @sku='A0136353A0000', @debugging=1
	-- EXEC [s_get_cross_sell_EA] @sku='A0117607A0000', @debugging=1
   SET NOCOUNT ON
    

	DECLARE @count int
	DECLARE @tempsku VARCHAR(50)
	DECLARE @results TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255))
	
	IF(charindex('|',@sku) = 0 )
		BEGIN
			SET @sku = @sku 
		END
	ELSE
		BEGIN
			SET @tempsku = Replace(@sku, '|', '.')
			SET @sku = ParseName(@tempsku, 2)
		END
	
	INSERT INTO @results ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class])
	select [imageurl], [url], [sku], [product name], [price], [wasprice], [Class] from cross_sell_cache where [input sku] = @sku
	
	Select @count =  COUNT (*) FROM @results
	IF @debugging = 1 print 'count: ' + CAST(@count AS VARCHAR(50))

	if @count = 0 AND @sku NOT IN (select sku from cross_sell_processed)
	BEGIN
		IF @debugging = 1 Print ' Used Adhoc!'
		insert into @results
		exec s_get_cross_sell_adhoc @insku = @sku
		Select @count =  COUNT (*) FROM @results
		IF @debugging = 1 print 'count: ' + CAST(@count AS VARCHAR(50))
		INSERT INTO cross_sell_cache([input sku], [imageurl], [url], [sku], [product name], [price], [wasprice], [Class] )
		select @sku, r.[imageurl], r.[url], r.[sku], r.[product name], r.[price], r.[wasprice], r.[Class] from @results r

		INSERT INTO cross_sell_processed(sku) VALUES(@sku)
	END
	
	select * from @results;

	/*
	--remove everything below this after we are cached. 
	--DECLARE @sku varchar(100)
	--select @sku = 'A0136353A0000'
	-- select @sku = 'A0002717A0000'
	DECLARE @priceLo numeric(9,2)
	DECLARE @priceHi numeric(9,2)
	DECLARE @myPrice numeric(9,2)
	SELECT @myPrice = (select IsNull(pp.[Special Price (% for bundles)], pp.[Retail Price]) from  [dbo].[magento_automated_product_dataset] pp where pp.SKU = @sku)
	Print @myPrice
	SELECT @priceHi = @myPrice + @maxPriceRange
	SELECT @priceLo = @myPrice - @minPriceRange
	Print @priceHi
	Print @priceLo
	DECLARE @myclass varchar(500)
	select @myclass = (select class from [dbo].[NS_SKU_Class_Map-10-11-19] nss where nss.Name = @sku)
	DECLARE @mysmi varchar (500)
	select @mysmi = (select [Included SMI] from  [dbo].[magento_automated_product_dataset] pp where pp.SKU = @sku)

	DECLARE @returnprod TABLE ( imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), Class varchar(255))
		
	INSERT INTO @returnprod
	SELECT distinct 'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + p.sku + '/base/800x800/' +
								(SELECT        TOP (1) value
								FROM            STRING_SPLIT(ia.tagvalue, ',') AS STRING_SPLIT_1) AS imageurl, 
				REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU ), '--', '-') AS url, 
				p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) AS [Price], ns.class
	FROM            dbo.magento_automated_product_dataset AS p 
						INNER JOIN dbo.item AS i ON (LEFT(p.SKU,8) = i.sku ) 
						INNER JOIN	dbo.itemattributes AS ia ON i.id = ia.itemid  
						INNER JOIN  [dbo].[NS_SKU_Class_Map-10-11-19] ns ON p.SKU = ns.[Name] 
	WHERE   
			(p.Status = 'Enable') 
			AND (p.[Retail Price] <> 0)
			AND (p.Visibility = 'In Catalog and Search') 
			AND (ia.tagtype = 'a_BalfourPrimaryImages') 
			AND (ns.class = @myclass )
			AND (
				([Included SMI] = @mySMI) OR (ISNULL(p.[Included SMI], @mySMI) IS NULL)
			)
			AND p.sku <> @sku 
			AND ((IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) <= @priceHi) AND (IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) >= @priceLo))
	ORDER BY [Price] desc

	SELECT * FROM @returnprod
	*/
END

GO
