/****** Object:  StoredProcedure [dbo].[s_get_iconicRecCache_College_bkp-1-12-21]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 05/05/2020
-- Description: Get iconicRecs for College
-- =============================================
-- s_get_iconicRecCache_College @smi='131005'
-- s_get_iconicRecCache_College @smi='130996'
-- clemson
-- s_get_iconicRecCache_College @smi='130495'
CREATE PROCEDURE [dbo].[s_get_iconicRecCache_College_bkp-1-12-21]
(
    -- Add the parameters for the stored procedure here
    @SMI VARCHAR(10) = 0,
    @IconicID VARCHAR(10) = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @returnprod TABLE ( imageurl varchar(255), itemurl varchar(255), sku varchar(100), productname varchar(255), retailprice numeric(9,2), iconicid VARCHAR(50), smiid VARCHAR(50), class varchar(255), rank int)
	DECLARE @counter INT 
	SET @counter = 0
	DECLARE @defaultCnt INT
	SET @defaultCnt = 0
	-- First Tile
	INSERT INTO @returnprod
	select top 1 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,
	LOWER([url]) + '?smi=' + ISNULL(@SMI,'0') AS url, 
	p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
	p.[Retail Price] AS [wasprice],  '' AS Class , [Product Type], 1 AS sortOrder					 
	from magento_automated_product_dataset p -- where sku = 'A0192669A0000'
	LEFT JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
	LEFT JOIN MAGE_best_sellers BS ON BS.sku = p.sku
	where [Attribute Set] = 'pim_mas_homedorm'
	AND [Category] LIKE '%NCAA%FRAMES%'
	AND [Product Name] LIKE '%Diploma frame%'
	AND [Enhanced Commerce] = 'BALFOUR DIRECT-ML'
	-- AND [product_collection] = 'BalProdColl_EA_NCAA'
	AND status = 'Enable'
	AND [Visibility] = 'In Catalog and Search'
	AND [Included SMI] = @SMI
	and [Quantity in Stock] > 0
	ORDER BY BS.total_ordered desc



	SELECT @counter =  COUNT(*) FROM @returnprod
	PRINT @counter
	IF(@counter = 0)
	BEGIN
	-- First default tile
	INSERT INTO @returnprod
		select [imageurl], REPLACE([itemurl],'*SMI*',@SMI), [sku], [productname], [retailprice], [iconicid], [smiid], [Class], [Rank] from [iconicRecCache_College_Frames]
		where rank = 1
	SET @defaultCnt = 1
	END
	
	-- select * from magento_automated_product_dataset  where sku = 'A0192673A0000'
	-- Second Tile
	INSERT INTO @returnprod
	-- https://www.balfour.com/shop/collections/cp/frames
	select top 1 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,
	LOWER([url]) + '?smi=' + ISNULL(@SMI,'0') AS url, 
	p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
	p.[Retail Price] AS [wasprice],  '' AS Class , [Product Type], 2 AS sortOrder					 
	from magento_automated_product_dataset p -- where sku = 'A0192669A0000'
	LEFT JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
	LEFT JOIN MAGE_best_sellers BS ON BS.sku = p.sku
	where [Attribute Set] = 'pim_mas_homedorm'
	AND ([Category] LIKE '%NCAA%FRAMES%' OR [Category] LIKE '%PICTURE%FRAME%' OR [Category] LIKE '%FRAME%')
	AND [Product Name] NOT LIKE '%Diploma frame%'
	AND [Enhanced Commerce] = 'BALFOUR DIRECT-ML'
	-- AND [product_collection] = 'BalProdColl_EA_NCAA'
	AND status = 'Enable'
	AND [Visibility] = 'In Catalog and Search'
	AND [Included SMI] = @SMI
	and [Quantity in Stock] > 0
	ORDER BY BS.total_ordered desc

	SELECT @counter =  COUNT(*) FROM @returnprod
	PRINT @counter
	IF(@counter = 1)
	BEGIN
	-- Second default tile
	INSERT INTO @returnprod
		select [imageurl], REPLACE([itemurl],'*SMI*',@SMI), [sku], [productname], [retailprice], [iconicid], [smiid], [Class], [Rank] from [iconicRecCache_College_Frames]
		where rank = 2
	If @defaultCnt = 1
		BEGIN
			SET @defaultCnt = 2
		END
		ELSE
		BEGIN
			SET @defaultCnt = 1
		END
	END


	/*
	Change college to KS for 3rd tile - https://edge.prod.cdn.aac-e.com/prod/img/grad_images/recommendations/KS_TILE.jpg
	*/

	-- Third tile - Kendra Scott
	INSERT INTO @returnprod
	select [imageurl], REPLACE([itemurl],'*SMI*',@SMI), [sku], [productname], [retailprice], [iconicid], [smiid], [Class], [Rank] from [iconicRecCache_College_Frames]
	where rank = 3

	-- Third Tile - If we have shown the first 2 default tiles, show the third default tile as well. 
	/*
	IF @defaultCnt = 2
	BEGIN
		-- Third default tile
		INSERT INTO @returnprod
		select [imageurl], REPLACE([itemurl],'*SMI*',@SMI), [sku], [productname], [retailprice], [iconicid], [smiid], [Class], [Rank] from [iconicRecCache_College_Frames]
		where rank = 3
	END
	ELSE
	BEGIN -- If we have shown school specific products, show All frames instead.
		INSERT INTO @returnprod
		select top 1 'https://d3qsmzzpeeacu6.cloudfront.net/all/CS_BASIC%20FRAMES_WEB-PF119-8x18-2-5x7-BFH_1_800x800.jpg' AS [imageurl],
		REPLACE('https://www.balfour.com/shop/collections/cp/frames?smi=*SMI*','*SMI*',@SMI) AS url, 
		'' AS SKU, 'All Frames' AS [Product Name], 
		null AS [Price], null AS [wasprice],  '' AS Class , '' As [Product Type], 3 AS sortOrder
	END
	*/

						

    -- Ring search - Fourth tile
	INSERT INTO @returnprod
    SELECT top 1 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') + '_800x800.jpg' AS imageurl,
	LOWER([url]) + '&smi=' + ISNULL(@SMI,'0') AS url, 
	p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
						p.[Retail Price] AS [wasprice],  '' AS Class , [Product Type], 4 AS sortOrder					
					FROM dbo.magento_automated_product_dataset AS p 
					--INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
						LEFT JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
						LEFT JOIN MAGE_best_sellers BS ON BS.sku = p.sku
					--LEFT JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID 	
					--LEFT JOIN  dbo.CSICClassRules cr on cr.class = iac.class
					WHERE   
						p.Status = 'Enable'
						AND p.Visibility = 'In Catalog and Search'			 					
						AND p.[Retail Price] > 0	
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
						AND ISNULL([Exclusive SMI],'') = ISNULL(@SMI,'') AND [Attribute Set] = 'pim_uc'
						AND ia.imageurl IS NOT NULL
						ORDER BY BS.total_ordered desc

		SELECT @counter =  COUNT(*) FROM @returnprod
		PRINT @counter
		IF(@counter = 3)
		BEGIN
		-- Last default tile
		INSERT INTO @returnprod
			select [imageurl], REPLACE(REPLACE([itemurl],'*SMI*',@SMI),'smi=0','h=_'), [sku], [productname], [retailprice], [iconicid], [smiid], [Class], [Rank] from [iconicRecCache_College_Frames]
			where rank = 4
		END

		select top 4 * from @returnprod
		order by rank asc;
END
GO
