/****** Object:  StoredProcedure [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku_optimize]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Han Tran
-- Create Date: 2/19/2020
-- Description: Rules for last chance item at cart
-- =============================================
 /** select * from school_url_master where affinityurl like '
 SELECT url, [included smi], [exclusive smi], p.sku + '|' + CAST(sp.smi as varchar(100)), * FROM  dbo.magento_automated_product_dataset p JOIN MAGE_balfour_product_smi_scoped_price sp ON sp.sku = p.sku
		WHERE [Enhanced Commerce] IN ('YEARBOOK & ACCESSORIES', 'YEARBOOKS','YEARBOOK ACCESSORIES') and status = 'enable'
  [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku] 'A0131314' --,A0135561,A0135561'  @skus = 'A0122174A0000' --photo-- 'A0001869A0000 A0109125A0000'

  PRINT FORMAT(GETDATE(), 'hh:mm:ss:fff')
  EXEC [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku] @skus = 'A0047965A0000'
  PRINT FORMAT(GETDATE(), 'hh:mm:ss:fff')
  EXEC [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku_optimize] @skus = 'A0047965A0000'
  PRINT FORMAT(GETDATE(), 'hh:mm:ss:fff')

   EXEC [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku]  @skus ='a0148134', @smi = '1326', @debug = 1   -- photo book
	EXEC  [dbo].[s_get_upsell_last_chance_item_at_cart]   @skus = 'a0148134|1326', @debug = 1

', @smi='134503' -- photobook
	https://dev-dfw-mkt-api.azure-api.net/cross-sell/v1/get-csic?skus=a0148134|1326
 **/
CREATE PROCEDURE [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku_optimize] (@skus VARCHAR(MAX) = '', @smi VARCHAR(100) = '', @debug BIT = 0)   
--ALTER PROCEDURE [dbo].[s_get_upsell_last_chance_item_at_cart] (@skus VARCHAR(MAX) = '', @smi VARCHAR(100) = '')   
AS
BEGIN 
    SET NOCOUNT ON				
	-- IF EXISTS SELECT * FROM dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] IN ('YEARBOOK & ACCESSORIES', 'YEARBOOKS','YEARBOOK ACCESSORIES') AND [Attribute Set] IN ('pim_ybads_balfourmanaged', 'pim_printing') AND (ISNULL([Exclusive SMI],'') = ISNULL(@smi,'') OR CHARINDEX(@smi, [Included SMI]) > 0 ) )
	-- BEGIN  -- waiting for the html file
	--	KS Grad Collection****	Elisa Necklace - Mother of Pearl		A0219541A0000 (change to A0235343A0000)	https://www.balfour.com/shop/kendra-scott-graduation-collection-elisa-classic-necklace-a0219541a0000	Add straight to cart	
	-- END

	DECLARE @gradPack BIT = 0

	IF  LEFT(@skus,8) IN  ('a0071918', 'a0068455', 'a0176692', 'a0175731')
	BEGIN
		SET @gradPack = 1
	END

	IF @debug = 1 PRINT '@SKUs: ' + @SKUs + ', ' + @smi	

	IF @gradPack = 0
	BEGIN 
		IF EXISTS(SELECT * FROM  dbo.magento_automated_product_dataset WHERE ([Enhanced Commerce] IN ('GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS','GP-CLASS APPAREL','HIGH SCHOOL MULTI CHOICE', 
			'UNIVERSITY COLLECTION HS','KENDRA SCOTT/BALFOUR HS', 'COLLEGE MULTI CHOICE','UNIVERSITY COLLECTION COLLEGE','KENDRA SCOTT/BALFOUR COLLEGE') AND @skus like '%' + sku + '%' ))	
		OR EXISTS(SELECT TOP 1 * FROM dbo.magento_automated_product_dataset AS p INNER JOIN itemattributes ia ON ia.itemid = p.ItemID 
			WHERE p.Cat_Type_Style IN ('Home/Dorm-Frames-Diploma/Certificate Frames','Home/Dorm_Frames_Diploma/Certificate Frames') 
			AND ISNULL(p.is_licensed, '0') <> '1' AND ia.tagtype = 'a_AACProdType' AND ia.tagvalue = 'Endless Aisle' AND @skus like '%' + sku + '%')
		OR EXISTS(SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p WHERE product_collection IN ('BalProdColl_LicStoles','BalProdColl_Stoles') AND @skus like '%' + sku + '%')
			SET @gradPack = 1	
	END

	IF @gradPack = 1 
	BEGIN				 
		SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/ymal-csic/quilt-image.jpg' AS imageurl,
		'<div class="container upsell-last-chance-popup">' +
			'<p class="closePunchOut upsell-closePunchOut">' +
				'<span>' +
				'</span>' +
			'</p>' +
			'<p class="top-header">' +
				'You''ve Earned an Exclusive Offer!' +
			'</p>' +
			'<div class="row main-content">' +
				'<p class="lg-callout visible-xs">' +
					'SAVE $10' +
				'</p>' +
				'<p class="header visible-xs">' +
					'on your Custom XL Twin T-Shirt Quilt today only.' +
				'</p>' +
				'<div class="col-xs-12 col-sm-6">' +
					'<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/ymal-csic/quilt-image.jpg" class="checkout-image" alt="">' +
				'</div>' +
				'<div class="col-xs-12 col-sm-6">' +
					'<p class="lg-callout hidden-xs">' +
						'SAVE $10' +
					'</p>' +
					'<p class="header hidden-xs">' +
						'on your Custom XL Twin T-Shirt Quilt today only.' +
					'</p>' +
					'<ul class="bullet-list">' +
						'<li>Transform 28 shirts into a custom 4ft x 7ft XL Twin Quilt</li>' +
						'<li>Choose from 7 backing fleece colors</li>' +
						'<li>Redeem your voucher after checkout (a $119.99 value).</li>' +
					'</ul>' +
					'<p class="body-text was-price">' +
						'Sale Price: $119.99' +
					'</p>' +
					'<p class="header">' +
						'NOW ONLY: $109.99' +
					'</p>' +
					'<p class="upsell-last-chance-button"></p>' +
				'</div>' +
			'</div>' +
			'<div class="row last-chance-footer">' +
				'<div class="col-xs-12 last-chance-footer-text">' +
					'<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
				'</div>' +
			'</div>' +
		'</div>' AS url,
		'A0226631A0000' AS SKU,  -- production sku 'A0212429A0000'   A0233134A0000 (visible) - A0226631A0000(not visible)
		'Project Repat Custom Xtra Long Twin T-Shirt Quilt' AS [product name],
		'109.99' AS Price,
		'119.99' AS wasprice,
		'' AS class,
		'simple' AS [Product Type],
		0 AS sortOrder,
		'' AS config_type	 
	END
	---------- Temporary turn OFF Last Chance Upsell For YB
--	ELSE IF EXISTS (SELECT * FROM  dbo.magento_automated_product_dataset p 				
--		WHERE [Enhanced Commerce] IN ('YEARBOOK & ACCESSORIES', 'YEARBOOKS','YEARBOOK ACCESSORIES') AND [Attribute Set] IN ('pim_ybads_balfourmanaged', 'pim_printing') 
--			AND (ISNULL(p.[Exclusive SMI],'') = ISNULL(@smi,'') OR CHARINDEX(@smi,p.[Included SMI]) > 0 OR @smi IN (SELECT CAST(smi AS VARCHAR(100)) FROM MAGE_balfour_product_smi_scoped_price WHERE CHARINDEX(sku,  @SKUs) > 0) ) 
--			AND CHARINDEX(sku,  @SKUs) > 0) 
--	BEGIN		
--		SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/ymal-csic/KS_gold_pearl.jpg' AS imageurl,
--		'<div class="container upsell-last-chance-popup">' +
--    '<p class="closePunchOut upsell-closePunchOut">' +
--        '<span>' +
--        '</span>' +
--    '</p>' +
--    '<p class="top-header">' +
--        'You''ve Earned an Exclusive Offer!' +
--    '</p>' +
--    '<div class="row main-content">' +
--        '<p class="lg-callout visible-xs">' +
--            'SAVE 20%' +
--        '</p>' +
--        '<p class="header visible-xs">' +
--            'on the Kendra Scott Elisa Necklace in Mother of Pearl TODAY ONLY.' +
--        '</p>' +
--        '<div class="col-xs-12 col-sm-6">' +
--            '<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/ymal-csic/KS_gold_pearl.jpg" class="checkout-image" alt="">' +
--        '</div>' +
--        '<div class="col-xs-12 col-sm-6">' +
--            '<p class="lg-callout hidden-xs">' +
--                'SAVE 20%' +
--            '</p>' +
--            '<p class="header hidden-xs">' +
--                'on the Kendra Scott Elisa Necklace in Mother of Pearl TODAY ONLY.' +
--            '</p>' +
--            '<ul class="bullet-list">' +
--                '<li>Save on this timeless Kendra Scott necklace.</li>' +
--                '<li>Makes a great grad gift to celebrate their achievement, or just to show your love and support.</li>' +
--            '</ul>' +
--            '<p class="body-text was-price">' +
--                'Original Price: $60.00' +
--            '</p>' +
--            '<p class="header">' +
--                'NOW ONLY: $48.00' +
--            '</p>' +
--            '<p class="upsell-last-chance-button"></p>' +
--        '</div>' +
--    '</div>' +
--    '<div class="row last-chance-footer">' +
--        '<div class="col-xs-12 last-chance-footer-text">' +
--            '<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
--        '</div>' +
--    '</div>' +
--'</div>' AS url,
--		SKU,  
--		[product name],
--		'48.00' AS Price,
--		'60.00' AS wasprice,
--		'' AS class,
--		'' AS [Product Type],
--		0 AS sortOrder,
--		'standard' AS config_type  -- select *
--		FROM magento_automated_product_dataset WHERE SKU = 'A0241685A0000' -- 'A0240590A0000' --'A0235343A0000' -- 'A0219541A0000'		
--	END	
	ELSE IF NOT EXISTS(SELECT * FROM magento_automated_product_dataset WHERE [Enhanced Commerce] = 'BALFOUR DIRECT-PHOTO' AND CHARINDEX(sku,  @SKUs) > 0 )
		BEGIN -- Show photobook if necklace exists
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg' AS imageurl,
			'<div class="container upsell-last-chance-popup">' +
                '<p class="closePunchOut upsell-closePunchOut">' +
                    '<span>' +
                    '</span>' +
                '</p>' +
                '<p class="top-header">' +
                    'You''ve Earned an Exclusive Offer!' +
                '</p>' +
                '<div class="row main-content">' +
                    '<p class="lg-callout visible-xs">' +
                        'SAVE $20' +
                    '</p>' +
                    '<p class="header visible-xs">' +
                        'on a Photo Book TODAY ONLY.' +
                    '</p>' +
                    '<div class="col-xs-12 col-sm-6">' +
                        '<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg" class="checkout-image" alt="">' +
                    '</div>' +
                    '<div class="col-xs-12 col-sm-6">' +
                        '<p class="lg-callout hidden-xs">' +
                            'SAVE $20' +
                        '</p>' +
                        '<p class="header hidden-xs">' +
                            'on a Photo Book TODAY ONLY.' +
                        '</p>' +
                        '<ul class="bullet-list">' +
                            '<li>Custom 10 page hardcover 5x5 photo book</li>' +
                            '<li>Buy Now. Redeem later to SAVE</li>' +
                            '<li>We''ll email you a custom code</li>' +
                            '<li>Come back to create your book and enter your code at checkout</li>' +
                        '</ul>' +
                        '<p class="body-text was-price">' +
                            'Original Price: $49.99' +
                        '</p>' +
                        '<p class="header">' +
                            'NOW ONLY: $29.99' +
                        '</p>' +
                        '<p class="upsell-last-chance-button"></p>' +
                    '</div>' +
                '</div>' +
                '<div class="row last-chance-footer">' +
                    '<div class="col-xs-12 last-chance-footer-text">' +
                        '<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
                    '</div>' +
                '</div>' +
            '</div>' AS url,
			'A0212429A0000' AS SKU,  -- production sku 'A0212429A0000' 
			'Photobook Voucher' AS [product name],
			'29.99' AS Price,
			'49.99' AS wasprice,
			'' AS class,
			'' AS [Product Type],
			0 AS sortOrder,
			'standard' AS config_type
				--FROM magento_automated_product_dataset p
				--WHERE SKU = 'A0212429A0000' -- QA: 'A0209158A0000'
		END
	 -- ELSE
		--BEGIN
		--	SELECT '' AS imageurl,
		--    '' AS url,
		--	'' AS SKU,  -- production sku 'A0212429A0000' 
		--	'' AS [product name],
		--	null AS Price,
		--	null AS wasprice,
		--	'' AS class,
		--	'' AS [Product Type],
		--	1 AS sortOrder,
		--	'' AS config_type
		--END
	--ELSE
	--	BEGIN -- necklace
	--		SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/necklace_pop_img_checkout-pop-up.jpg' AS imageurl,
	--		'<div class="container upsell-last-chance-popup">' +
	--			'<p class="closePunchOut upsell-closePunchOut">' +
	--				'<span>' +
	--				'</span>' +
	--			'</p>' +
	--			'<p class="top-header">' +
	--				'You''ve Earned an Exclusive Offer!' +
	--			'</p>' +
	--			'<div class="row main-content">' +
	--				'<p class="lg-callout visible-xs">' +
	--					'EXTRA 20% OFF' +
	--				'</p>' +
	--				'<p class="header visible-xs">' +
	--					'on a Graduation Cap Charm<br>Necklace TODAY ONLY.' +
	--				'</p>' +
	--				'<div class="col-xs-12 col-sm-6">' +
	--					'<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/necklace_pop_img_checkout-pop-up.jpg" class="checkout-image" alt="">' +
	--				'</div>' +
	--				'<div class="col-xs-12 col-sm-6">' +
	--					'<p class="lg-callout hidden-xs">' +
	--						'EXTRA 20% OFF' +
	--					'</p>' +
	--					'<p class="header hidden-xs">' +
	--						'on a Graduation Cap Charm<br>Necklace TODAY ONLY.' +
	--					'</p>' +
	--					'<ul class="bullet-list">' +
	--						'<li>Add the item to your cart</li>' +
	--						'<li>Discount reflected at checkout</li>' +
	--						'<li style="list-style: none">&nbsp;</li>' +
	--					'</ul>' +
	--					'<p class="body-text was-price">' +
	--						'Sale Price: $24.99' +
	--					'</p>' +
	--					'<p class="header">' +
	--						'NOW ONLY: $20.99' +
	--					'</p>' +
	--					'<p class="upsell-last-chance-button"></p>' +
	--				'</div>' +
	--			'</div>' +
	--			'<div class="row last-chance-footer">' +
	--				'<div class="col-xs-12 last-chance-footer-text">' +
	--					'<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
	--				'</div>' +
	--			'</div>' +
	--		'</div>' AS url,
	--		p.SKU,  
	--		[product name],-- 'NECKLACE' AS 
	--		IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
	--		[Retail Price] AS [wasprice], 
	--		'' AS class,
	--		[Product Type],
	--		'1' AS sortOrder,
	--		config_type
	--		FROM magento_automated_product_dataset p
	--		--INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
	--		WHERE p.sku = 'A0001869A0000'
	--	END 
END
 
GO
