/****** Object:  StoredProcedure [dbo].[UpsertNetSuiteSalesOrderDetails]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Krishna Seetharaman   Krishna.Seetharaman@balfour.com - Austin  
-- Create Date: 09/01/2020
-- Description: Updates NetsuiteSalesOrderDetails
-- Runs every 5 minutes
-- Commenting out extendedprop chnages as it giving error - 11/19/2020
-- =============================================
CREATE PROCEDURE [dbo].[UpsertNetSuiteSalesOrderDetails]
	@Item varchar(50),
	@Line int,
	@PurchaseOrder int,
	@OrderType varchar (50),
	@Vendor varchar(50),
	@Type varchar(50),
	@Date datetime,
	@DocumentNumber varchar(50),
	@QtySold varchar(50),
	@Amount varchar(50),
	@ERPSystem varchar(50)
AS
BEGIN

	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.NetsuiteSalesOrderDetails WHERE DocumentNumber=@DocumentNumber and Line=@Line)
       INSERT INTO dbo.NetsuiteSalesOrderDetails (Item,Line,PurchaseOrder,OrderType,Vendor,Type,Date,DocumentNumber,QtySold,Amount,CreatedDate,UpdatedDate,ERPSystem)
       VALUES (@Item,@Line,@PurchaseOrder,@OrderType,@Vendor,@Type,@Date,@DocumentNumber,@QtySold,@Amount,GETDATE(),GETDATE(),@ERPSystem)

    ELSE
       UPDATE [dbo].[NetsuiteSalesOrderDetails]
       SET Item           = @Item,
		   Line           = @Line,
		   PurchaseOrder  = @PurchaseOrder,
		   OrderType      = @OrderType,
		   Vendor		  = @Vendor,
		   Type			  = @Type,
		   Date           = @Date,
		   DocumentNumber = @DocumentNumber,
           QtySold        = @QtySold,
		   Amount		  = @Amount,
		   UpdatedDate    = CURRENT_TIMESTAMP,
		   ERPSystem      = @ERPSystem
	 WHERE DocumentNumber=@DocumentNumber and Line=@Line

	/*DECLARE @LastUpdate VARCHAR(50), @Val VARCHAR(50)
	SET @Val = CAST(@Line AS VARCHAR(50))
	SET @LastUpdate = CAST(GETDATE() AS VARCHAR(50))
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'NetsuiteSalesOrderDetails', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'NetsuiteSalesOrderDetails', @AttribName = 'LastLineUpdated', @Value = @Val
	*/
END
GO
