/****** Object:  StoredProcedure [dbo].[s_get_school_events]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_school_events]
(
	 @smi INT = 0
	,@startDate DATETIME = NULL
	,@endDate DATETIME = NULL
)
AS
--EXEC s_get_school_events @smi=130996
SET NOCOUNT ON
IF @startDate IS NULL
	SET @StartDate = '1900-01-01'
IF @EndDate IS NULL
	SELECT @EndDate = MAX([Date]) FROM [dbo].[school_events] --WHERE [SMI] = @smi
SELECT 
  Event.[SMI]
, Event.[Title]
, REPLACE(Event.[Title],' ','-') as [URL]
, Event.[Description]
, FORMAT(Event.[Date], 'MM/dd/yyyy', 'en-US') as [Date]
, Event.[Image_URL]
, ISNULL(Event.[Event_Content],'') as [Event_Content]
--, Event.[GUID]
,(
	SELECT
	  L.[Location]
	, L.[GM_Link]
	--, Locations.[GUID]
	, X.GUID as [XRefGUID]
	, (
		SELECT
			 FORMAT([EventStartDate], 'MMM d') as [StartDate]
			,CASE WHEN [EventEndDate] IS NULL THEN NULL ELSE FORMAT([EventEndDate],' MMM d') END as [EndDate]
			, (
				SELECT 
					 CASE WHEN DATEPART(MINUTE, CAST([StartTime] AS DATETIME)) = 0 THEN FORMAT(CAST([StartTime] AS DATETIME), 'h tt') ELSE FORMAT(CAST([StartTime] AS DATETIME), 'h:mm tt') END as [StartTime]
					,CASE WHEN [EndTime] IS NULL THEN NULL ELSE CASE WHEN DATEPART(MINUTE, CAST([EndTime] AS DATETIME)) = 0 THEN FORMAT(CAST([EndTime] AS DATETIME), 'h tt') ELSE FORMAT(CAST([EndTime] AS DATETIME), 'h:mm tt') END END as [EndTime]
				FROM [dbo].[School_Events_Locations_Dates_Times] Times
				WHERE Times.Dates_GUID = Dates.GUID FOR JSON PATH
			  ) as Times
		FROM [dbo].[School_Events_Locations_Dates] Dates
		WHERE Dates.Location_GUID = L.GUID FOR JSON PATH
	  ) as Dates
	
	FROM [dbo].[School_Events_Locations_XRef] X INNER JOIN [dbo].[school_events_locations] L ON L.GUID = X.Location_GUID
	WHERE [Event_GUID] = Event.GUID FOR JSON PATH
 ) as Locations
FROM [dbo].[school_events] Event
WHERE [SMI] = CASE WHEN ISNULL(@smi,0) = 0 THEN [smi] ELSE @smi END
AND [DATE] BETWEEN @startDate AND @endDate
FOR JSON PATH

--SELECT
--  [Event_GUID]
--, [Location]
--, [GM_Link]
--, [GUID]
--FROM [dbo].[school_events_locations]
--WHERE [Event_GUID] IN (SELECT [GUID] FROM [dbo].[school_events] WHERE [SMI] = @smi
--AND [DATE] BETWEEN @startDate AND @endDate)

--SELECT 
--  [Location_GUID]
--, [DateTimeText]
--, [GUID]
--FROM [dbo].[School_Events_Locations_Dates_Times]
--WHERE [Location_GUID] IN (SELECT [GUID] FROM [dbo].[school_events_locations] WHERE [Event_GUID] IN (SELECT [GUID] FROM [dbo].[school_events] WHERE [SMI] = @smi
--AND [DATE] BETWEEN @startDate AND @endDate))
GO
