/****** Object:  StoredProcedure [dbo].[Upsert_MAGE_salesrule_coupon]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/19/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_MAGE_salesrule_coupon]
(	@code varchar(50), 
	@coupon_id int, 
	@created_at datetime, 
	@expiration_date datetime, 
	@is_primary bit, 
	@rule_id int, 
	@status bigint, 
	@times_used int, 
	@usage_limit int, 
	@usage_per_customer int
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF @code IS NULL
		BEGIN
			;THROW 50000, 'Code cannot be null', 1;
		END

	IF EXISTS (SELECT TOP 1 * FROM MAGE_salesrule_coupon WHERE [code] = @code)
		BEGIN
			UPDATE MAGE_salesrule_coupon
			SET
				[code] = @code, 
				[coupon_id] = @coupon_id, 
				[created_at] = @created_at, 
				[expiration_date] = @expiration_date, 
				[is_primary] = @is_primary, 
				[rule_id] = @rule_id, 
				[status] = @status, 
				[times_used] = @times_used, 
				[usage_limit] = @usage_limit, 
				[usage_per_customer] = @usage_per_customer
			FROM MAGE_salesrule_coupon
			WHERE [code] = @code
		END
	ELSE
		BEGIN
			INSERT INTO MAGE_salesrule_coupon
			(
				[code], 
				[coupon_id], 
				[created_at], 
				[expiration_date], 
				[is_primary], 
				[rule_id], 
				[status], 
				[times_used], 
				[usage_limit], 
				[usage_per_customer]
			)
			VALUES
			(
				@code, 
				@coupon_id, 
				@created_at, 
				@expiration_date, 
				@is_primary, 
				@rule_id, 
				@status, 
				@times_used, 
				@usage_limit, 
				@usage_per_customer
			)
		END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@code as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_salesrule_coupon', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_salesrule_coupon', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_salesrule_coupon', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
