/****** Object:  StoredProcedure [dbo].[s_get_location_dates_times]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_location_dates_times]
(
	 @xRefGUID VARCHAR(50) = ''
	,@IncludeLinks BIT = 0
)
AS
SET NOCOUNT ON
SELECT dbo.fn_SchoolEventLocationsDates(@xRefGUID,@IncludeLinks)
GO
