/****** Object:  StoredProcedure [dbo].[s_diag_check_emails]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01/30/2020
-- Description: Diagnostic sproc to check (from Site24x7) for order confirmation emails going out properly
-- =============================================
CREATE PROCEDURE [dbo].[s_diag_check_emails]
(
    @Email_Name VARCHAR(100) = 'orderconfirm'
   ,@CSTOverride DATETIME = NULL
)
AS
/*
EXEC s_diag_check_emails @Email_Name = 'orderconfirm'
EXEC s_diag_check_emails @Email_Name = 'orderconfirm', @CSTOverride = '2/3/2020 4:00'
EXEC s_diag_check_emails @Email_Name = 'orderconfirm_problems'
*/
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Cnt INT, @LastHour INT, @LastDayOfWeek INT, @Current DATETIME, @AvgCount INT, @UTCCurrent DATETIME
	IF @CSTOverride IS NOT NULL
		BEGIN
			SET @UTCCurrent = dbo.fn_DateTime_to_Zulu(@CSTOverride)
			SET @Current = DATEADD(hour,-1,@CSTOverride)
		END
	ELSE
		BEGIN
			SET @UTCCurrent = GETDATE()
			--Determine what day of the week and hour that should be looked it (move it back an hour)
			SET @Current = dbo.fn_DateTime_To_Central(DATEADD(hour,-1,GETDATE()))
		END
	SET @AvgCount = 0
	
	SET @LastDayOfWeek = DATEPART(WEEKDAY,@Current)
	SET @LastHour = DATEPART(hour,@Current)

	SELECT @AvgCount = [Orders]
	FROM dbo.[AverageOrderVolume] 
	WHERE [DayOfWeek] = @LastDayOfWeek AND [HourOfDay] = @LastHour

	PRINT 'Average order count for ' + CAST(@LastDayOfWeek as VARCHAR(15)) + ' at ' + CAST(@LastHour AS VARCHAR(15)) + ' is ' + CAST(@AvgCount as VARCHAR(15))
	

	SET @Cnt = 0
	IF @Email_Name = 'orderconfirm'
		BEGIN
			select @Cnt = COUNT(*)
			from [dbo].[EmailJobs_Queue] 
			where Email_Name =  @Email_Name
			and result is NOT null 
			and batch_id is not null 
			and BATCH_ID NOT LIKE 'RESEND%' 
			AND queued_DTM between CAST(CAST(DATEPART(month,DATEADD(hour,-1,@UTCCurrent)) as VARCHAR(15)) + '/' + CAST(DATEPART(day,DATEADD(hour,-1,@UTCCurrent)) as VARCHAR(15)) + '/' + CAST(DATEPART(year,DATEADD(hour,-1,@UTCCurrent)) as VARCHAR(15)) + ' ' +  CAST(DATEPART(hour,DATEADD(hour,-1,@UTCCurrent)) as VARCHAR(15)) + ':00' as DATETIME)
			and CAST(CAST(DATEPART(month,@UTCCurrent) as VARCHAR(15)) + '/' + CAST(DATEPART(day,@UTCCurrent) as VARCHAR(15)) + '/' + CAST(DATEPART(year,@UTCCurrent) as VARCHAR(15)) + ' ' +  CAST(DATEPART(hour,@UTCCurrent) as VARCHAR(15)) + ':00' as DATETIME)
			
			IF 1=1--@Cnt >= @AvgCount-CAST((0.65*@AvgCount) as INT) 
				SELECT @Cnt as [count]
				FOR JSON PATH
			ELSE
				SELECT @Cnt as [problems]
				FOR JSON PATH
		END

	IF @Email_Name = 'orderconfirm_problems'
		BEGIN
			select @Cnt = COUNT(*) 
			from [dbo].[EmailJobs_Queue] 
			where Email_Name =  @Email_Name
			and result is null 
			and batch_id is not null 
			and BATCH_ID NOT LIKE 'RESEND%' 
			AND queued_DTM between DATEADD(Day,-2,GETDATE()) and getdate() 
			
			IF 1=1--@Cnt < 50
				SELECT @Cnt as [count]
				FOR JSON PATH
			ELSE
				SELECT @Cnt as [problems]
				FOR JSON PATH

		END

END
GO
