/****** Object:  StoredProcedure [dbo].[UpsertBalfourReps]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Dev
-- Create Date: 08/04/2020
-- Description: Updates the BalfourReps table
-- =============================================
CREATE PROCEDURE [dbo].[UpsertBalfourReps]
	@Region nvarchar(50) NULL,
	@BalNumber nvarchar(50) NULL,
	@PartnerCode nvarchar(50) NULL,
	@LastName nvarchar(50) NULL,
	@FirstName nvarchar(50) NULL,
	@Notes nvarchar(max) NULL,
	@Email nvarchar(100) NULL
AS
BEGIN

	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.BalfourReps WHERE BalNumber = @BalNumber AND Region = @Region AND Partner_Code = @PartnerCode	AND Last_Name = @LastName
				   AND First_Name = @FirstName AND Email = @Email)
       INSERT INTO dbo.BalfourReps (Region,BalNumber,Partner_Code,Last_Name,First_Name,NOTES,email,CreatedDate,UpdatedDate)
       VALUES (@Region,@BalNumber,@PartnerCode,@LastName,@FirstName,@Notes,@Email,GETDATE(),GETDATE())

    ELSE
       UPDATE dbo.BalfourReps
       SET Region		 = @Region,
		   BalNumber	 = @BalNumber,
		   Partner_Code  = @PartnerCode,
		   Last_Name	 = @LastName,
		   First_Name	 = @FirstName,
		   NOTES		 = @Notes,
		   email		 = @Email,
		   UpdatedDate   = CURRENT_TIMESTAMP
	 WHERE BalNumber	 = @BalNumber 
		AND Region		 = @Region
		AND Partner_Code = @PartnerCode
		AND Last_Name	 = @LastName
		AND First_Name   = @FirstName
		AND Email		 = @Email
END
GO
