/****** Object:  StoredProcedure [dbo].[s_data_feed_quote_to_silverpop]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 06/25/2020
-- Description: Data feed of quote to Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_data_feed_quote_to_silverpop] 
(
	@CallAtADF BIT = 0
)
AS
--exec s_data_feed_quote_to_to_silverpop
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @LastOneSent BIGINT
	--DECLARE @ReportTemp TABLE(entity_id bigint, store_id smallint, created_at varchar(10), updated_at varchar(10), customer_id bigint, customer_email varchar(MAX), customer_firstname varchar(MAX), customer_lastname varchar(MAX))
	DECLARE @ReportTemp TABLE(EntityID bigint, StoreID smallint, [CreatedAt] varchar(10), UpdatedAt varchar(10), CustomerID bigint, 
	Email varchar(MAX), FirstName varchar(MAX), LastName varchar(MAX), SubTotal float, Currency VARCHAR(40), OrderID bigint, CartAbandonType varchar(5), ItemCount int)
	SELECT @LastOneSent = CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSent' AND [major_id] = OBJECT_ID('Quote')

	--INSERT INTO @ReportTemp (entity_id, store_id, created_at, updated_at, customer_id, customer_email, customer_firstname, customer_lastname)
	INSERT INTO @ReportTemp (EntityID, StoreID, CreatedAt, UpdatedAt, CustomerID, Email, FirstName, LastName, SubTotal, Currency, OrderID, CartAbandonType, ItemCount)
	SELECT q.[entity_id] AS EntityID,
	q.[store_id] AS StoreID,
	FORMAT (q.[created_at], 'MM/dd/yyyy') AS [CreatedAt],
	FORMAT (q.[updated_at], 'MM/dd/yyyy') AS [UpdatedAt],
	q.[customer_id] AS CustomerID,
	q.[customer_email] AS Email,
	q.[customer_firstname] AS FirstName,
	q.[customer_lastname] AS LastName,
	q.[subtotal] AS SubTotal,
	q.[global_currency_code] AS Currency,
	q.[entity_id] AS OrderID,
	'Quote' AS CartAbandonType,
	q.items_count AS ItemCount
	FROM quote q	
	WHERE q.customer_email IS NOT NULL 
	AND [entity_id] NOT IN (SELECT Quote_item_Id FROM MAGE_sales_order_item) 
	AND [entity_id] > @LastOneSent	
	AND q.created_at > GETDATE() - 60
	AND ISNULL(q.items_count,0) > 0

	SELECT * FROM @ReportTemp

	IF @CallAtADF = 1 
	BEGIN
		DECLARE @LastOneSentValue BIGINT
		SELECT @LastOneSentValue = MAX(EntityID) FROM @ReportTemp
		EXEC  s_update_extendedprop_on_table @TableName = 'Quote', @AttribName='LastOneSent', @Value= @LastOneSentValue
	END
 
END
 
GO
