/****** Object:  StoredProcedure [dbo].[UpsertAuditPIMFiles]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Krishna S  Krishna.Seetharaman@balfour.com
-- Create Date: 18/02/2021
-- Description: Updates the AuditPIMFiles table
-- =============================================
CREATE PROCEDURE [dbo].[UpsertAuditPIMFiles]
	@Id nvarchar(50) NULL,
	@PIMFileName nvarchar(50) NULL,
	@QueueName nvarchar(50) NULL,
	@QueuePosition nvarchar(50) NULL,
	@PreviousQueuePosition nvarchar(50) NULL,
	@Stage nvarchar(max) NULL,
	@CreatedTimeStamp nvarchar(100) NULL,
	@UpdatedTimeStamp nvarchar(100) NULL
AS
BEGIN
	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM dbo.AuditPIMFiles WHERE PIMFileName = @PIMFileName)
       INSERT INTO dbo.AuditPIMFiles (Id,PIMFileName,QueueName,QueuePosition,PreviousQueuePosition,Stage,CreatedTimeStamp,UpdatedTimeStamp)
       VALUES (@Id,@PIMFileName,@QueueName,@QueuePosition,@PreviousQueuePosition,@Stage,@CreatedTimeStamp,@UpdatedTimeStamp)

    ELSE
       UPDATE dbo.AuditPIMFiles
       SET  Id		 		       = @Id,
		    QueueName  			   = @QueueName,
		    QueuePosition	 	   = @QueuePosition,
		    PreviousQueuePosition  = @PreviousQueuePosition,
		    Stage		           = @Stage,
		    CreatedTimeStamp       = @CreatedTimeStamp,
		    UpdatedTimeStamp       = @UpdatedTimeStamp
	  WHERE PIMFileName	 	       = @PIMFileName 
		
		
END

GO
