/****** Object:  StoredProcedure [dbo].[s_import_digital_codes_records]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/01/2020
-- Description: Bulk imports digital codes records
-- =============================================
CREATE PROCEDURE [dbo].[s_import_digital_codes_records]
(
     @DigitalCodes [dbo].[DigitalCodesImport] READONLY
	,@NumSubmitted INT OUT
	,@NumImported INT OUT
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @DateAdded DATETIME
	SET @DateAdded = GETDATE()
	SELECT @NumSubmitted = 0, @NumImported = 0
	SELECT @NumSubmitted = COUNT(*) FROM @DigitalCodes 
	SELECT @NumImported = @NumSubmitted - COUNT(*) FROM @DigitalCodes WHERE [Code] + [Source_GUID] IN (SELECT [Code] + [Source_GUID] FROM  [dbo].[DigitalCodes])
	INSERT INTO [dbo].[DigitalCodes] ([Code], [Starts], [Expires], [Value], [BalfourSKU], [MinOrderAmount], [Description], [CodeUseURL], [DateAdded], [DateUsed], [KeyForIssued], [KeyForUsed], [Source_GUID], [ImportBatch], [ImportFile])
	SELECT [Code], ISNULL([Starts],GETDATE()), ISNULL([Expires],DATEADD(year,1,GETDATE())), [Value], DCS.[SKU], [MinOrderAmount], [Description]
	, CASE WHEN REPLACE(REPLACE(LTRIM(RTRIM(ISNULL(DC.[CodeUseURL],''))),'https://',''),'http://','') NOT LIKE 'www.%' THEN 'www.' + REPLACE(REPLACE(LTRIM(RTRIM(ISNULL(DC.[CodeUseURL],''))),'https://',''),'http://','') ELSE REPLACE(REPLACE(LTRIM(RTRIM(ISNULL(DC.[CodeUseURL],''))),'https://',''),'http://','') END
	, @DateAdded, [DateUsed], [KeyForIssued], [KeyForUsed], [Source_GUID], [ImportBatch], [ImportFile]
	FROM @DigitalCodes DC
	LEFT JOIN [dbo].[DigitalCodeSources] DCS ON DCS.[GUID] = DC.Source_GUID
	WHERE [Code] + [Source_GUID] NOT IN (SELECT [Code] + [Source_GUID] FROM  [dbo].[DigitalCodes])
    
END
GO
