/****** Object:  StoredProcedure [dbo].[s_get_virtcomparticipants_image_names]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/22/2020
-- Description: Returns a list of image names for VirtCommParticipants
-- =============================================
CREATE PROCEDURE [dbo].[s_get_virtcomparticipants_image_names]
(
     @SMI INT
	,@SubAccount VARCHAR(50) = ''
	,@parentID int = 0
	,@OnlyEmptyFrames BIT = 1
)
AS
--EXEC s_get_virtcomparticipants_image_names @SMI = 28607
--EXEC s_get_virtcomparticipants_image_names @SMI = 5495, @OnlyEmptyFrames = 0
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	IF ISNULL(@parentID,0) > 0
		BEGIN
			SELECT @SMI = [SMI], @SubAccount = '' FROM [dbo].[VirtCommMaster] WHERE [ID] = @parentID
		END
    SELECT 
		NameID
	   ,FirstName
	   ,LastName
	   --,CASE WHEN ISNULL([BulkLoadedImages],1) = 1 THEN REPLACE(REPLACE(REPLACE([LastName],' ','_'),'-','_'),'''','_') + '__' + REPLACE(REPLACE(REPLACE([FirstName],' ','_'),'-','_'),'''','_') /*+ '_01'*/ ELSE CAST([NameID] AS VARCHAR(50)) END as [CalculatedFrame]
	   ,[Spots]
	   ,CASE WHEN [Spots] NOT LIKE 'CCSPAG%' THEN SUBSTRING([Spots],CHARINDEX('-',[Spots])+1,(CHARINDEX(';',[Spots])-(CHARINDEX('-',[Spots])+1))) ELSE '' END as [CalculatedFrame] --Need everything after the '-' and before the ';' or end of line
	   ,ISNULL([Frame],'') as [Frame]
	   --,M.[Roll]
	   ,CASE WHEN [Spots] NOT LIKE 'CCSPAG%' THEN LEFT([Spots],CHARINDEX('-',[Spots])-1) ELSE M.[Roll] END as [Roll]
	   ,P.[ID]  
	   ,C.[CCSOrderNum] as [OrderNo]
	  FROM [dbo].[VirtCommParticipants] P
	  LEFT JOIN [dbo].[VirtCommMaster] M ON M.[SMI] = P.[SMI] 
	  LEFT JOIN [dbo].[VirtCommControl] C ON C.[SMI] = P.[SMI] AND ISNULL(C.[SubComm],'') = ISNULL(P.[SubAccount],'')
	  where P.[SMI] = @SMI
	  AND ISNULL([SubAccount],'') = ISNULL(@SubAccount,'')
	  AND [FirstName] <> 'CORE' AND [LastName] <> 'CORE'
	  AND ISNULL([Frame],'') = CASE WHEN @OnlyEmptyFrames = 1 THEN '' ELSE ISNULL([Frame],'') END
END
GO
