/****** Object:  StoredProcedure [dbo].[s_get_content_sprocs_params_json]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/29/2020
-- Description: Pulls a list of content sproc names and aliases
-- =============================================
CREATE PROCEDURE [dbo].[s_get_content_sprocs_params_json]
(
	@connToken VARCHAR(50) = ''
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	select ISNULL(c.[name],'') as [name], ISNULL(c.xtype,0) as [xtype], ISNULL(c.length,0) as [length], ISNULL(c.isoutparam,CAST(0 as BIT)) as [isoutparam], o.[name] as [sproc], CS.[connectionToken] as [connToken], CS.[sprocKey], ISNULL(ST.[name],'') as [typeName], ISNULL(CS.[cacheConnection],'') as [cacheConnection], ISNULL(CS.[useCache],1) as [useCache], ISNULL(CS.[cacheMinutes],240) as [cacheMinutes]
	from [dbo].[ContentSProcs] CS
	LEFT JOIN sysobjects o ON o.[name] = CS.[sprocName] 
	LEFT JOIN syscolumns c ON c.[id] = o.[id] 
	LEFT JOIN SYS.systypes ST ON ST.xtype = c.xtype
	WHERE ISNULL(sprocName,'') <> '' AND ISNULL(o.[name],'') <> ''
	
	ORDER BY CS.[sprocKey] + CS.[connectionToken] + o.[name]
	FOR JSON PATH
END
GO
