/****** Object:  StoredProcedure [dbo].[Upsert_quote_item]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/18/2021 
-- Description: Sproc to upsert data from Magento
-- =============================================

CREATE PROCEDURE [dbo].[Upsert_quote_item]
(	@additional_data varchar(max), 
	@applied_rule_ids varchar(max), 
	@base_cost decimal(12, 4), 
	@base_discount_amount decimal(12, 4), 
	@base_discount_tax_compensation_amount decimal(12, 4), 
	@base_price decimal(12, 4), 
	@base_price_incl_tax decimal(12, 4), 
	@base_row_total decimal(12, 4), 
	@base_row_total_incl_tax decimal(12, 4), 
	@base_tax_amount decimal(12, 4), 
	@base_tax_before_discount decimal(12, 4), 
	@base_weee_tax_applied_amount decimal(12, 4), 
	@base_weee_tax_applied_row_amnt decimal(12, 4), 
	@base_weee_tax_disposition decimal(12, 4), 
	@base_weee_tax_row_disposition decimal(12, 4), 
	@created_at datetime, 
	@custom_price decimal(12, 4), 
	@description varchar(max), 
	@discount_amount decimal(12, 4), 
	@discount_percent decimal(12, 4), 
	@discount_tax_compensation_amount decimal(12, 4), 
	@event_id int, 
	@free_shipping smallint, 
	@gift_message_id int, 
	@giftregistry_item_id int, 
	@gw_base_price decimal(12, 4), 
	@gw_base_tax_amount decimal(12, 4), 
	@gw_id int, 
	@gw_price decimal(12, 4), 
	@gw_tax_amount decimal(12, 4), 
	@is_qty_decimal smallint, 
	@is_virtual smallint, 
	@item_id bigint, 
	@name varchar(255), 
	@no_discount smallint, 
	@original_custom_price decimal(12, 4), 
	@parent_item_id int, 
	@price decimal(12, 4), 
	@price_incl_tax decimal(12, 4), 
	@product_id int, 
	@product_type varchar(255), 
	@qty decimal(12, 4), 
	@quote_id int, 
	@redirect_url varchar(255), 
	@row_total decimal(12, 4), 
	@row_total_incl_tax decimal(12, 4), 
	@row_total_with_discount decimal(12, 4), 
	@row_weight decimal(12, 4), 
	@sku varchar(255), 
	@store_id smallint, 
	@tax_amount decimal(12, 4), 
	@tax_before_discount decimal(12, 4), 
	@tax_percent decimal(12, 4), 
	@updated_at datetime, 
	@weee_tax_applied varchar(max), 
	@weee_tax_applied_amount decimal(12, 4), 
	@weee_tax_applied_row_amount decimal(12, 4), 
	@weee_tax_disposition decimal(12, 4), 
	@weee_tax_row_disposition decimal(12, 4), 
	@weight decimal(12, 4)
)
AS
BEGIN
	SET NOCOUNT ON
	
	IF EXISTS (SELECT TOP 1 * FROM quote_item WHERE item_id = @item_id)
	BEGIN
		UPDATE quote_item
		SET
			[additional_data] = @additional_data, 
			[applied_rule_ids] = @applied_rule_ids, 
			[base_cost] = @base_cost, 
			[base_discount_amount] = @base_discount_amount, 
			[base_discount_tax_compensation_amount] = @base_discount_tax_compensation_amount, 
			[base_price] = @base_price, 
			[base_price_incl_tax] = @base_price_incl_tax, 
			[base_row_total] = @base_row_total, 
			[base_row_total_incl_tax] = @base_row_total_incl_tax, 
			[base_tax_amount] = @base_tax_amount, 
			[base_tax_before_discount] = @base_tax_before_discount, 
			[base_weee_tax_applied_amount] = @base_weee_tax_applied_amount, 
			[base_weee_tax_applied_row_amnt] = @base_weee_tax_applied_row_amnt, 
			[base_weee_tax_disposition] = @base_weee_tax_disposition, 
			[base_weee_tax_row_disposition] = @base_weee_tax_row_disposition, 
			[created_at] = @created_at, 
			[custom_price] = @custom_price, 
			[description] = @description, 
			[discount_amount] = @discount_amount, 
			[discount_percent] = @discount_percent, 
			[discount_tax_compensation_amount] = @discount_tax_compensation_amount, 
			[event_id] = @event_id, 
			[free_shipping] = @free_shipping, 
			[gift_message_id] = @gift_message_id, 
			[giftregistry_item_id] = @giftregistry_item_id, 
			[gw_base_price] = @gw_base_price, 
			[gw_base_tax_amount] = @gw_base_tax_amount, 
			[gw_id] = @gw_id, 
			[gw_price] = @gw_price, 
			[gw_tax_amount] = @gw_tax_amount, 
			[is_qty_decimal] = @is_qty_decimal, 
			[is_virtual] = @is_virtual, 
			[name] = @name, 
			[no_discount] = @no_discount, 
			[original_custom_price] = @original_custom_price, 
			[parent_item_id] = @parent_item_id, 
			[price] = @price, 
			[price_incl_tax] = @price_incl_tax, 
			[product_id] = @product_id, 
			[product_type] = @product_type, 
			[qty] = @qty, 
			[quote_id] = @quote_id, 
			[redirect_url] = @redirect_url, 
			[row_total] = @row_total, 
			[row_total_incl_tax] = @row_total_incl_tax, 
			[row_total_with_discount] = @row_total_with_discount, 
			[row_weight] = @row_weight, 
			[sku] = @sku, 
			[store_id] = @store_id, 
			[tax_amount] = @tax_amount, 
			[tax_before_discount] = @tax_before_discount, 
			[tax_percent] = @tax_percent, 
			[updated_at] = @updated_at, 
			[weee_tax_applied] = @weee_tax_applied, 
			[weee_tax_applied_amount] = @weee_tax_applied_amount, 
			[weee_tax_applied_row_amount] = @weee_tax_applied_row_amount, 
			[weee_tax_disposition] = @weee_tax_disposition, 
			[weee_tax_row_disposition] = @weee_tax_row_disposition, 
			[weight] = @weight
		FROM quote_item
		WHERE item_id = @item_id
	END
ELSE
	BEGIN
		INSERT INTO quote_item
		(
			[additional_data], 
			[applied_rule_ids], 
			[base_cost], 
			[base_discount_amount], 
			[base_discount_tax_compensation_amount], 
			[base_price], 
			[base_price_incl_tax], 
			[base_row_total], 
			[base_row_total_incl_tax], 
			[base_tax_amount], 
			[base_tax_before_discount], 
			[base_weee_tax_applied_amount], 
			[base_weee_tax_applied_row_amnt], 
			[base_weee_tax_disposition], 
			[base_weee_tax_row_disposition], 
			[created_at], 
			[custom_price], 
			[description], 
			[discount_amount], 
			[discount_percent], 
			[discount_tax_compensation_amount], 
			[event_id], 
			[free_shipping], 
			[gift_message_id], 
			[giftregistry_item_id], 
			[gw_base_price], 
			[gw_base_tax_amount], 
			[gw_id], 
			[gw_price], 
			[gw_tax_amount], 
			[is_qty_decimal], 
			[is_virtual], 
			[item_id], 
			[name], 
			[no_discount], 
			[original_custom_price], 
			[parent_item_id], 
			[price], 
			[price_incl_tax], 
			[product_id], 
			[product_type], 
			[qty], 
			[quote_id], 
			[redirect_url], 
			[row_total], 
			[row_total_incl_tax], 
			[row_total_with_discount], 
			[row_weight], 
			[sku], 
			[store_id], 
			[tax_amount], 
			[tax_before_discount], 
			[tax_percent], 
			[updated_at], 
			[weee_tax_applied], 
			[weee_tax_applied_amount], 
			[weee_tax_applied_row_amount], 
			[weee_tax_disposition], 
			[weee_tax_row_disposition], 
			[weight]
		)
		VALUES
		(
			@additional_data, 
			@applied_rule_ids, 
			@base_cost, 
			@base_discount_amount, 
			@base_discount_tax_compensation_amount, 
			@base_price, 
			@base_price_incl_tax, 
			@base_row_total, 
			@base_row_total_incl_tax, 
			@base_tax_amount, 
			@base_tax_before_discount, 
			@base_weee_tax_applied_amount, 
			@base_weee_tax_applied_row_amnt, 
			@base_weee_tax_disposition, 
			@base_weee_tax_row_disposition, 
			@created_at, 
			@custom_price, 
			@description, 
			@discount_amount, 
			@discount_percent, 
			@discount_tax_compensation_amount, 
			@event_id, 
			@free_shipping, 
			@gift_message_id, 
			@giftregistry_item_id, 
			@gw_base_price, 
			@gw_base_tax_amount, 
			@gw_id, 
			@gw_price, 
			@gw_tax_amount, 
			@is_qty_decimal, 
			@is_virtual, 
			@item_id, 
			@name, 
			@no_discount, 
			@original_custom_price, 
			@parent_item_id, 
			@price, 
			@price_incl_tax, 
			@product_id, 
			@product_type, 
			@qty, 
			@quote_id, 
			@redirect_url, 
			@row_total, 
			@row_total_incl_tax, 
			@row_total_with_discount, 
			@row_weight, 
			@sku, 
			@store_id, 
			@tax_amount, 
			@tax_before_discount, 
			@tax_percent, 
			@updated_at, 
			@weee_tax_applied, 
			@weee_tax_applied_amount, 
			@weee_tax_applied_row_amount, 
			@weee_tax_disposition, 
			@weee_tax_row_disposition, 
			@weight
		)
	END

	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@item_id as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'quote_item', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'quote_item', @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'quote_item', @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
