/****** Object:  StoredProcedure [dbo].[s_update_affinitypageworking_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/30/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_affinitypageworking_record]
(
 @affinityCTAButtonText VARCHAR(50) = NULL
,@categoryShopTitle VARCHAR(200) = NULL
,@classRingsHeadline VARCHAR(100) = NULL
,@classRingsSubheadline VARCHAR(100) = NULL
,@classRingsTileBottomText VARCHAR(100) = NULL
,@classRingsTileCTALink VARCHAR(200) = NULL
,@classRingsTileCTALinkNewTab BIT = NULL
,@classRingsTileImage VARCHAR(200) = NULL
,@classRingsTileImageMobile VARCHAR(200) = NULL
,@classRingsTileTopText VARCHAR(100) = NULL
,@emailCollectionCTAButtonText VARCHAR(50) = NULL
,@emailCollectionText VARCHAR(MAX) = NULL
,@emailCollectionTitle VARCHAR(100) = NULL
,@graduationHeadline VARCHAR(100) = NULL
,@graduationSubheadline VARCHAR(200) = NULL
,@GUID VARCHAR(50) = NULL
,@inProduction BIT = NULL
,@lastUpdated DATETIME = NULL
--,@lgBoxGradPacksCTAButtonText VARCHAR(50) = NULL
--,@lgBoxGradPacksImage VARCHAR(200) = NULL
--,@lgBoxGradPacksLink VARCHAR(200) = NULL
--,@lgBoxGradPacksText VARCHAR(200) = NULL
--,@lgBoxYearbookCTAButtonText VARCHAR(200) = NULL
--,@lgBoxYearbooksImage VARCHAR(200) = NULL
--,@lgBoxYearbooksLink VARCHAR(200) = NULL
--,@lgBoxYearbooksText VARCHAR(200) = NULL
--,@medBoxImageOne VARCHAR(200) = NULL
--,@medBoxImageOneMobile VARCHAR(200) = NULL
--,@medBoxImageThree VARCHAR(200) = NULL
--,@medBoxImageThreeMobile VARCHAR(200) = NULL
--,@medBoxImageTwo VARCHAR(200) = NULL
--,@medBoxImageTwoMobile VARCHAR(200) = NULL
--,@medBoxLinkOne VARCHAR(200) = NULL
--,@medBoxLinkThree VARCHAR(200) = NULL
--,@medBoxLinkTwo VARCHAR(200) = NULL
--,@medBoxTaglineOne VARCHAR(200) = NULL
--,@medBoxTaglineThree VARCHAR(200) = NULL
--,@medBoxTaglineTwo VARCHAR(200) = NULL
--,@medBoxTextOne VARCHAR(MAX) = NULL
--,@medBoxTextThree VARCHAR(MAX) = NULL
--,@medBoxTextTwo VARCHAR(MAX) = NULL
,@paymentsTileHeadline VARCHAR(100) = NULL
,@paymentsTileText VARCHAR(MAX) = NULL
,@ringSizeHeadline VARCHAR(200) = NULL
,@ringSizeLink VARCHAR(200) = NULL
,@ringSizeLinkText VARCHAR(MAX) = NULL
,@ringSizeText VARCHAR(MAX) = NULL
,@schoolShopCTAButtonText VARCHAR(50) = NULL
,@schoolShopHeadline VARCHAR(200) = NULL
,@schoolShopSubheadline VARCHAR(MAX) = NULL
,@seasonalPromoBannerCTAButtonLink VARCHAR(100) = NULL
,@seasonalPromoBannerCTAButtonText VARCHAR(50) = NULL
,@seasonalPromoBannerImage VARCHAR(200) = NULL
,@seasonalPromoBannerImageMobile VARCHAR(200) = NULL
,@seasonalPromoBannerText VARCHAR(MAX) = NULL
,@seasonalPromoBannerTitle VARCHAR(100) = NULL
,@SMI BIGINT = NULL
,@topHeadline VARCHAR(100) = NULL
,@topPromoBannerHTML VARCHAR(MAX) = NULL
,@topSubheadline VARCHAR(300) = NULL
,@schoolTextColor VARCHAR(25) = NULL
,@schoolBackgroundColor VARCHAR(25) = NULL
,@ID INT = 0
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts a record in the table [AffinityPageWorking] and drops all but the last 10.
--##RS1 The [ID] value of the inserted/updated record in the table [AffinityPage].


INSERT INTO [AffinityPageWorking] ([Current], [emailCollectionTitle],[seasonalPromoBannerCTAButtonText],[classRingsTileImageMobile]/*,[medBoxTaglineThree]*/,[schoolShopSubheadline]/*,[medBoxTextTwo]*/,[classRingsHeadline]/*,[medBoxImageThree]*/,[SMI],[graduationHeadline],[inProduction],[paymentsTileText],[classRingsTileCTALink]/*,[lgBoxYearbooksLink]*/,[ringSizeText]/*,[medBoxTaglineTwo]*/,[seasonalPromoBannerTitle]/*,[medBoxTextOne]*//*,[lgBoxGradPacksImage]*/,[affinityCTAButtonText]/*,[medBoxImageTwo]*//*,[lgBoxGradPacksCTAButtonText]*/,[seasonalPromoBannerCTAButtonLink],[schoolShopCTAButtonText],[lastUpdated],[classRingsSubheadline]/*,[medBoxImageThreeMobile]*/,[ringSizeLink],[emailCollectionText],[classRingsTileTopText]/*,[medBoxLinkThree]*/,[seasonalPromoBannerImage]/*,[medBoxImageOne]*/,[classRingsTileCTALinkNewTab]/*,[lgBoxYearbooksText]*/,[topHeadline]/*,[medBoxTaglineOne]*/,[graduationSubheadline]/*,[medBoxImageTwoMobile]*/,[schoolShopHeadline],[topPromoBannerHTML],[categoryShopTitle]/*,[medBoxLinkTwo]*//*,[lgBoxGradPacksLink]*/,[seasonalPromoBannerText],[emailCollectionCTAButtonText],[classRingsTileBottomText],[ringSizeHeadline],[classRingsTileImage],[GUID],[ringSizeLinkText],[paymentsTileHeadline]/*,[medBoxTextThree]*//*,[medBoxLinkOne]*/,[topSubheadline]/*,[lgBoxGradPacksText]*//*,[lgBoxYearbooksImage]*/,[seasonalPromoBannerImageMobile]/*,[medBoxImageOneMobile]*//*,[lgBoxYearbookCTAButtonText]*/,[schoolTextColor],[schoolBackgroundColor])
    VALUES ( 1,@emailCollectionTitle,@seasonalPromoBannerCTAButtonText,@classRingsTileImageMobile/*,@medBoxTaglineThree*/,@schoolShopSubheadline/*,@medBoxTextTwo*/,@classRingsHeadline/*,@medBoxImageThree*/,@SMI,@graduationHeadline,@inProduction,@paymentsTileText,@classRingsTileCTALink/*,@lgBoxYearbooksLink*/,@ringSizeText/*,@medBoxTaglineTwo*/,@seasonalPromoBannerTitle/*,@medBoxTextOne*//*,@lgBoxGradPacksImage*/,@affinityCTAButtonText/*,@medBoxImageTwo*//*,@lgBoxGradPacksCTAButtonText*/,@seasonalPromoBannerCTAButtonLink,@schoolShopCTAButtonText,GETDATE(),@classRingsSubheadline/*,@medBoxImageThreeMobile*/,@ringSizeLink,@emailCollectionText,@classRingsTileTopText/*,@medBoxLinkThree*/,@seasonalPromoBannerImage/*,@medBoxImageOne*/,@classRingsTileCTALinkNewTab/*,@lgBoxYearbooksText*/,@topHeadline/*,@medBoxTaglineOne*/,@graduationSubheadline/*,@medBoxImageTwoMobile*/,@schoolShopHeadline,@topPromoBannerHTML,@categoryShopTitle/*,@medBoxLinkTwo*//*,@lgBoxGradPacksLink*/,@seasonalPromoBannerText,@emailCollectionCTAButtonText,@classRingsTileBottomText,@ringSizeHeadline,@classRingsTileImage,NEWID(),@ringSizeLinkText,@paymentsTileHeadline/*,@medBoxTextThree*//*,@medBoxLinkOne*/,@topSubheadline/*,@lgBoxGradPacksText*//*,@lgBoxYearbooksImage*/,@seasonalPromoBannerImageMobile/*,@medBoxImageOneMobile*//*,@lgBoxYearbookCTAButtonText*/,@schoolTextColor,@schoolBackgroundColor)
SELECT @ID_Out = SCOPE_IDENTITY()

--Remove #11
DELETE FROM [dbo].[AffinityPageWorking] 
WHERE [SMI] = @SMI 
AND [ID] NOT IN (SELECT TOP 10 [ID] FROM [dbo].[AffinityPageWorking] WHERE [SMI] = @SMI ORDER BY [ID] DESC)

UPDATE [dbo].[AffinityPageWorking] 
SET [Current] = 0
WHERE [SMI] = @SMI 
AND [ID] <> @ID_OUT
  
SELECT
 [emailCollectionTitle]
,[seasonalPromoBannerCTAButtonText]
,[classRingsTileImageMobile]
--,[medBoxTaglineThree]
,[schoolShopSubheadline]
--,[medBoxTextTwo]
,[classRingsHeadline]
--,[medBoxImageThree]
,[SMI]
,[ID]
,[graduationHeadline]
,[inProduction]
,[paymentsTileText]
,[classRingsTileCTALink]
--,[lgBoxYearbooksLink]
,[ringSizeText]
--,[medBoxTaglineTwo]
,[seasonalPromoBannerTitle]
--,[medBoxTextOne]
--,[lgBoxGradPacksImage]
,[affinityCTAButtonText]
--,[medBoxImageTwo]
--,[lgBoxGradPacksCTAButtonText]
,[seasonalPromoBannerCTAButtonLink]
,[schoolShopCTAButtonText]
,FORMAT(dbo.fn_DateTime_to_Central([lastUpdated]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastUpdated]
,[classRingsSubheadline]
--,[medBoxImageThreeMobile]
,[ringSizeLink]
,[emailCollectionText]
,[classRingsTileTopText]
--,[medBoxLinkThree]
,[seasonalPromoBannerImage]
--,[medBoxImageOne]
,[classRingsTileCTALinkNewTab]
--,[lgBoxYearbooksText]
,[topHeadline]
--,[medBoxTaglineOne]
,[graduationSubheadline]
--,[medBoxImageTwoMobile]
,[schoolShopHeadline]
,[topPromoBannerHTML]
,[categoryShopTitle]
--,[medBoxLinkTwo]
--,[lgBoxGradPacksLink]
,[seasonalPromoBannerText]
,[emailCollectionCTAButtonText]
,[classRingsTileBottomText]
,[ringSizeHeadline]
,[classRingsTileImage]
,[GUID]
,[ringSizeLinkText]
,[paymentsTileHeadline]
--,[medBoxTextThree]
--,[medBoxLinkOne]
--,[topSubheadline]
--,[lgBoxGradPacksText]
--,[lgBoxYearbooksImage]
,[seasonalPromoBannerImageMobile]
--,[medBoxImageOneMobile]
--,[lgBoxYearbookCTAButtonText]
,[schoolTextColor]
,[schoolBackgroundColor]
FROM dbo.[AffinityPageWorking]
WHERE [ID] = @ID_Out
GO
