/****** Object:  StoredProcedure [dbo].[s_get_CSIC_items_han]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 01/02/2020 2020!!
-- Description: Give me CrossSell In Cart suggestions based on SKU list passed in
-- =============================================
/** 
	EXEC [s_get_CSIC_items] @smi='130925', @skus =  'A0057042A0000,A0096856a0000,A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
	EXEC [s_get_CSIC_items] @skus = 'A0057042A0000,A0096856a0000', @smi='130925', @debugging = 1

	select dbo.String_Split('abc,acda')
**/

CREATE PROCEDURE [dbo].[s_get_CSIC_items_han]
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = NULL,
   @debugging BIT = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @count int
	--DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @results TABLE(imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] varchar(9), [wasprice] varchar(9), Class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	DECLARE @thisSku varchar(100), @thisSmi varchar(50), @Loop INT, @Max INT
  
	IF @debugging = 1 PRINT 'Setup done.   ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') 		
	BEGIN			 
		--CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		--INSERT INTO #skulist (sku)			
		--SELECT value FROM STRING_SPLIT( @skus, ',') a INNER JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
		--ORDER BY p.[Retail Price] DESC


		CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		INSERT INTO #skulist (sku, smi)			
		SELECT LEFT(a.value,CHARINDEX('|', a.value) ), b.value FROM STRING_SPLIT( @skus, ',') a LEFT JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
		CROSS APPLY STRING_SPLIT(a.value, '|') AS b  
		ORDER BY p.[Retail Price] DESC
		 --SELECT * FROM #skulist WHERE  smi<>sku 
		--CREATE TABLE #skulist (sku VARCHAR(100), price MONEY, smi VARCHAR(50), Loop INT IDENTITY(1,1)) 
		--INSERT INTO #skulist (sku, smi)			
		--SELECT LEFT(a.value,CHARINDEX('|', a.value)), b.value FROM STRING_SPLIT( @skus, ',') a LEFT JOIN [dbo].[magento_automated_product_dataset] p ON p.SKU = a.value OR LEFT(a.value,8) = LEFT(p.SKU,8)
		--CROSS APPLY STRING_SPLIT(a.value, '|') AS b
		--ORDER BY p.[Retail Price] DESC
	 

		SELECT @Max = MAX([Loop]) FROM #skulist
		SET @Loop = 1
		WHILE @Loop <= @Max
		BEGIN
			IF EXISTS(SELECT * FROM #skulist WHERE [Loop] = @Loop AND smi + '|' <> sku )
				BEGIN
					 
					SELECT @thisSku = REPLACE([sku],'|', ''), @thisSmi = smi FROM #skulist WHERE [Loop] = @Loop AND smi<>sku --and isnull(smi,'') <> ''
				END
			ELSE
				BEGIN
					SELECT @thisSku = REPLACE([sku],'|', '') FROM #skulist WHERE [Loop] = @Loop 
				END

			IF @debugging = 1 PRINT 'Loop BEGIN ' + CAST(@Loop as VARCHAR(50)) + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			
			/*An INSERT EXEC statement cannot be nested. When I try to do the following, So I will grab the guts of the sproc....*/
			/*Insert into @results 
			exec [s_get_cross_sell_EA] @sku = @thisSku*/

			/** THIS BLOCK WILL INSERT MULTIPLE RECORDS FOR EACH Sku (not used)
			DECLARE @innerresults TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), sortOrder int )		   
			INSERT INTO @innerresults
			EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@smi
			  
			IF @debugging = 1 print 'thisSku: ' + @thisSku
				 
			IF EXISTS(SELECT * FROM @innerresults )
				BEGIN
					INSERT INTO @results
					SELECT * FROM @innerresults;
					--DELETE @innerresults;
				END
			**/
			IF ISNULL(@thisSmi,'') <> ''
				BEGIN
					SET @smi = @thisSmi
				END 
			ELSE IF ISNULL(@smi,'') = ''
				BEGIN
					SELECT @smi = [exclusive smi] FROM  [dbo].[magento_automated_product_dataset] where  LEFT(SKU,8) = LEFT(@thisSku,8)
				END

			INSERT INTO @results
			EXEC s_get_CSIC_item  @insku = @thisSku, @insmi=@smi, @debug = @debugging
			  
			IF @debugging = 1 print 'thisSku: ' + @thisSku + ', thisSmi: ' + @thisSmi

			IF EXISTS(SELECT * FROM @results)
				BEGIN
					IF @debugging = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
					BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
				END 

			--SELECT @count = COUNT(sku) FROM @results
			--IF @count >= 8 --EXISTS(SELECT * FROM @results)
			--	BEGIN
			--		IF @debugging = 1 PRINT 'Loop BREAK   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			--		BREAK  -- exit loop - Only choose the most expensive item, if no row return, try the next one until we get a recordset return
			--	END 
			IF @debugging = 1 PRINT 'Loop END   ' + CAST(@Loop as VARCHAR(50))  + ' ' + FORMAT(GETDATE(), 'MM/dd/yyyy hh:mm:ss') + ' ' + @thisSku
			SET @Loop = @Loop + 1
		END; 

		SELECT @count =  COUNT(DISTINCT sortOrder) FROM @results
		IF @debugging = 1 PRINT '@count distinct class: ' + CAST(@count AS VARCHAR(5))
		
		
			;WITH cte AS
		(
			SELECT *,
					ROW_NUMBER() OVER (PARTITION BY class ORDER BY sortOrder DESC) AS rn
			FROM @results
		) 
		SELECT TOP 50 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder, config_type		 
		FROM cte
		WHERE rn = 1
		--WHERE rn <= CASE WHEN @count = 1 THEN 8
		--				WHEN @count = 2 THEN 4
		--				WHEN @count = 3 THEN 2
		--			ELSE 1 END 
		ORDER BY SortOrder ASC
	END; 

END
/**
	exec [s_get_CSIC_items] @skus ='a0003082' -- MC HS ring
**/

--exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0

 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 1
 --	exec [s_get_CSIC_items] @skus = 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750A0000,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000', @debugging = 0
 --	exec [s_get_CSIC_items] @skus = 'A0008601A0000,A0017536A0000' 
 --	exec [s_get_CSIC_items] 'A0008601A0000' 
 --exec [s_get_CSIC_items] 'A0003281A0000' 
 --exec [s_get_CSIC_items] 'A0066639A0000' 
 --exec [s_get_CSIC_items] 'A0049693A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0129750A0000' 
 --exec [s_get_CSIC_items] 'A0136516A0000' 
 --exec [s_get_CSIC_items] 'A0173561A0000' 
 --exec [s_get_CSIC_items] 'A0017524A0000' 

 --exec [s_get_CSIC_items] 'A0075899A0000' 
 --exec [s_get_CSIC_items] 'A0139809A0000' 
 --exec [s_get_CSIC_items] 'A0017536A0000,A0008601A0000,A0003281A0000,A0009246A0000,A0066639A0000,A0049693A0000,A0129750,A0173561A0000,A0136516A0000,A0136353A0000,A0017524A0000,A0078377A0000,A0139809A0000,A0117607A0000' 
GO
