/****** Object:  StoredProcedure [dbo].[s_get_contentaffinityschoolmessages_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/8/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_contentaffinityschoolmessages_records]
(
	  @ID INT = NULL
	, @sMI BIGINT = 0
	, @searchField VARCHAR(50) = '' --SMI
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ContentAffinitySchoolMessages] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [ContentAffinitySchoolMessages].
--##PD @searchField - The field to search on (SMI)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ContentAffinitySchoolMessages].

--DECLARE @totalRecords INT; EXEC s_get_contentaffinityschoolmessages_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [messageText]
		,[SMI]
		,[Sort_Order]
		,[messageLinkNewTab]
		,[messageLink]
		,[messageImage]
		,[ID]
		,[messageTextTitle]
		,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([StartDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [StartDate]
		,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([EndDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [EndDate]
		,ISNULL([Published],CAST(0 AS BIT)) as [Published]
		FROM [ContentAffinitySchoolMessages]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[ContentAffinitySchoolMessages]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [ContentAffinitySchoolMessages]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND [SMI] = CASE WHEN @sMI IS NULL THEN [SMI] ELSE @SMI END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [messageText]
				,[SMI]
				,[Sort_Order]
				,[messageLinkNewTab]
				,[messageLink]
				,[messageImage]
				,[ID]
				,[messageTextTitle]
				,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([StartDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [StartDate]
				,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([EndDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [EndDate]
				,ISNULL([Published],CAST(0 AS BIT)) as [Published]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] END DESC) as RowNumber
				FROM [dbo].[ContentAffinitySchoolMessages]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [SMI] = CASE WHEN @sMI IS NULL THEN [SMI] ELSE @SMI END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [messageText]
				,[SMI]
				,[Sort_Order]
				,[messageLinkNewTab]
				,[messageLink]
				,[messageImage]
				,[ID]
				,[messageTextTitle]
				,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([StartDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [StartDate]
				,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_To_Central([EndDate]), 'MM/dd/yyyy hh:mm tt') ELSE '' END AS [EndDate]
				,ISNULL([Published],CAST(0 AS BIT)) as [Published]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] END) as RowNumber
				FROM [dbo].[ContentAffinitySchoolMessages]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [SMI] = CASE WHEN @sMI IS NULL THEN [SMI] ELSE @SMI END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
