/****** Object:  StoredProcedure [dbo].[test_for_TL_s_get_ymal_adhoc_optimized]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 11/13/19
-- Description: gimmie that ymal 
-- =============================================
CREATE PROCEDURE [dbo].[test_for_TL_s_get_ymal_adhoc_optimized]
(
   @insku varchar(255)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	-- test_for_TL_s_get_ymal_adhoc_optimized @insku = 'A0139809A0000' licensed 'A0000933A0000' 
	-- test_for_TL_s_get_ymal_adhoc_optimized @insku = 'A0139809A0000'  (licensed) 'A0000933A0000' <-- This took 1:23!! or 3:53 on 11/20
	-- test_for_TL_s_get_ymal_adhoc_optimized @insku = 'A0000933A0000'
	--Changing memory (@) table to temp (#) table took it from 3:53 to 4:36 so that does not help - leave it a memory table
	--Adding another index got it to 3:46 - not much help
	--Used CHARINDEX rather than SPLIT_STRING for imageurl made it 4:22 so don't do that
	--For the join, use p.parentsku rather than LEFT(p.SKU,8) makes it 3:38
	--Adding an index on [Product Name],[Special Price (% for bundles)],[Included SMI],[ParentSKU] makes no difference
	--Adding an index on parentsku and another on id does not help

	-- DECLARE @insku varchar(255)
	DECLARE @priceLo numeric(9,2)
	DECLARE @priceHi numeric(9,2)
	DECLARE @myPrice numeric(9,2)
	DECLARE @myclass varchar(500)
	DECLARE @mysmi varchar (500)
	DECLARE @licType VARCHAR(20) 
	DECLARE @licTeam VARCHAR(100) 
	DECLARE @itemID VARCHAR(50) 
	DECLARE @myParentClass NVARCHAR(255)
    DECLARE @myParentChildClass NVARCHAR(255)
	DECLARE @myParentGrandchildClass NVARCHAR(255)
	DECLARE @maxPriceRange INT
    DECLARE @minPriceRange INT
	--DECLARE @results TABLE  (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), rank int, [Relevance] INT)

	SET @maxPriceRange = 100
    SET @minPriceRange = 25
	-- set @insku = 'A0139809A0000' -- bengals tree
	

			select @itemID = id from item where sku = LEFT(@insku,8)
			select @licType = tagvalue from itemattributes 
					where itemid = @itemID
					and tagtype = 'a_LicenseType' -- Get the License Type here
			--PRINT '@licType = ' + ISNULL(@LicType,'NULL')

			if @licType = 'NCAA' 
			BEGIN
				select @licTeam = tagvalue from itemattributes
						where itemid =  @itemID --'ITEM124426356'
						and tagtype = 'a_NCAASchools' -- Find the licensed team if any
			END
			ELSE IF @licType = 'Greek'
			BEGIN
				select @licTeam = tagvalue from itemattributes
						where itemid =  @itemID --'ITEM124426356'
						and tagtype = 'a_Sororities' -- Find the licensed team if any
			END
			ELSE
			BEGIN
				select @licTeam = tagvalue from itemattributes
					where itemid =  @itemID --'ITEM124426356'
					and tagtype = 'a_' + @licType + 'Teams' -- Find the licensed team if any
			END
			--PRINT '@licTeam = ' + ISNULL(@LicTeam,'NULL')
					--select @licType
					--select @licTeam

			-- INSERT INTO ymal_processed(sku) VALUES(@insku);
			SELECT @myPrice =  IsNull(pp.[Special Price (% for bundles)], pp.[Retail Price]) from  [dbo].[magento_automated_product_dataset_test] pp where pp.SKU = @insku
			-- PRINT @myPrice
			If(@myPrice > 399)
			BEGIN
				set @maxPriceRange = 100000
				set @minPriceRange = 50
			END
			SELECT @priceHi = @myPrice + @maxPriceRange
			SELECT @priceLo = @myPrice - @minPriceRange
			--PRINT '@priceHi=' + CAST(@priceHi as VARCHAR(20))
			--PRINT '@priceLo=' + CAST(@priceLo as VARCHAR(20))
			select @myclass = (select class from [dbo].[NS_SKU_Class_Map] nss where nss.Name = @insku)
			SELECT @myParentClass = [ParentClass], @myParentChildClass = [ParentChildClass], @myParentGrandchildClass = [ParentGrandchildClass] from [dbo].[NS_SKU_Class_Map] nss where nss.Name = @insku
			
			--select @myParentClass
			--select @myParentChildClass
			--PRINT '@myclass = ' + ISNULL(@myclass,'NULL')
			--PRINT '@myparentclass = ' + ISNULL(@myparentclass,'NULL')
			--PRINT '@myparentchildclass = ' + ISNULL(@myparentchildclass,'NULL')
			--PRINT '@myparentgrandchildclass = ' + ISNULL(@myparentgrandchildclass,'NULL')
			select @mysmi = [Included SMI] from  [dbo].[magento_automated_product_dataset_test] pp where pp.SKU = @insku
			PRINT '@mysmi = ' + ISNULL(@mysmi,'NULL')
			IF @licType IS NOT NULL
				BEGIN
					--PRINT 'Licensed'
					--INSERT INTO @results ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class], rank)
					--imageurl, url, sku, [Product Name], [Price], [wasprice], Class, rank, [Relevance]
					SELECT distinct top 10 'https://edge.prod.cdn.aac-e.com/pim-images-balfour/' + p.sku + '/base/800x800/' +
												ia.imageurl AS imageurl, 
								
								REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '/','-'), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU ), '--', '-') AS url, 
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								ns.class, 
								cr.rank,
								10 as [Relevance]
					FROM            dbo.magento_automated_product_dataset_test AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
					INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
					INNER JOIN  [dbo].[NS_SKU_Class_Map] ns ON p.SKU = ns.[Name]  
					LEFT JOIN [dbo].[ymal-collegiate-rank] cr on cr.class = ns.class
					WHERE   
							p.Status = 'Enable'
							AND p.[Retail Price] <> 0
							AND p.Visibility = 'In Catalog and Search'
							AND ns.class <> @myclass
							AND [Quantity in Stock] > 0
							AND (ns.ParentClass = @myParentClass OR ns.ParentChildClass = @myParentChildClass OR ns.ParentGrandchildClass = @myParentGrandchildClass)
							AND ([Included SMI] = @mySMI OR ISNULL(p.[Included SMI], @mySMI) IS NULL)
							AND p.sku <> @insku 
							AND ((IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) <= @priceHi) AND (IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) >= @priceLo))
							AND p.is_licensed = 1
							AND iaa.tagvalue = @LicTeam
							ORDER BY cr.rank asc,
					[Price] desc
				END
			ELSE
				BEGIN
					--PRINT 'Unlicensed'
					--INSERT INTO @results ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class], rank, [Relevance])
					--imageurl, url, sku, [Product Name], [Price], [wasprice], Class, rank, [Relevance]
					SELECT distinct top 10 'https://edge.prod.cdn.aac-e.com/pim-images-balfour/' + p.sku + '/base/800x800/' +
												ia.imageurl AS imageurl, 
								REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '/','-'), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU ), '--', '-') AS url, 
								p.SKU, 
								p.[Product Name], 
								IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								ns.class, 
								cr.rank,
								CASE WHEN ns.ParentChildClass = @myParentChildClass AND ns.ParentGrandchildClass = @myParentGrandchildClass THEN 10 WHEN ns.ParentChildClass = @myParentChildClass AND ns.ParentGrandchildClass <> @myParentGrandchildClass THEN 9 ELSE 8 END as [Relevance]
					FROM            dbo.magento_automated_product_dataset_test AS p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 					
					INNER JOIN  [dbo].[NS_SKU_Class_Map] ns ON p.SKU = ns.[Name]  
					LEFT JOIN [dbo].[ymal-collegiate-rank] cr on cr.class = ns.class
					WHERE   
							p.Status = 'Enable'
							AND p.[Retail Price] <> 0
							AND p.Visibility = 'In Catalog and Search'
							AND ns.class <> @myclass 
							AND [Quantity in Stock] > 0
							AND (ns.ParentClass = @myParentClass OR ns.ParentChildClass = @myParentChildClass OR ns.ParentGrandchildClass = @myParentGrandchildClass)
							AND ([Included SMI] = @mySMI OR ISNULL(p.[Included SMI], @mySMI) IS NULL)
							AND p.sku <> @insku 
							AND ((IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) <= @priceHi) AND (IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) >= @priceLo))
							AND p.Is_Licensed = 0 
							ORDER BY [Relevance] DESC, cr.rank asc, p.[Retail Price] desc
				END
			--SELECT * FROM @results


		
END
GO
