/****** Object:  StoredProcedure [dbo].[s_delete_affinitypage_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/30/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_affinitypage_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [AffinityPage].
--##PD @ID in [AffinityPage].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [AffinityPage] WHERE [ID] = @ID



GO
