/****** Object:  StoredProcedure [dbo].[s_get_iconic_school_items]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:      Trishan Singh
-- Create Date: 2019-03-01
-- Description: Get items based on Iconic School Id
-- =============================================
CREATE PROCEDURE [dbo].[s_get_iconic_school_items]
(
    -- Add the parameters for the stored procedure here
    @iconicschoolid int = 0 ,
	@context varchar(100) = ''
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @returnprod TABLE ( imageurl varchar(255), itemurl varchar(255), sku varchar(100), productname varchar(255), retailprice numeric(9,2), iconicid VARCHAR(50), smiid VARCHAR(50), class varchar(255), rank int, [PurpleText] varchar(500), [UtmContent] varchar(500))
	-- [s_get_iconic_school_items] @iconicschoolid = '103031', @context = 'registration'
	-- HS Frames [s_get_iconic_school_items] @iconicschoolid = '103289' --103020 -- 103010
	-- Tulane   [s_get_iconic_school_items] @iconicschoolid = '105831' -- 104401 -- 106456 
	-- Tulane  [s_get_iconic_school_items] @iconicschoolid = '100404'
	-- LSU  [s_get_iconic_school_items] @iconicschoolid = '106648'
	-- Michigan [s_get_iconic_school_items] @iconicschoolid = '102964'
	-- Clemson [s_get_iconic_school_items] @iconicschoolid = '100676'
	-- some college  [s_get_iconic_school_items] @iconicschoolid = '102275' --130665 SMI
	-- some college  [s_get_iconic_school_items] @iconicschoolid = '104236' --130665 SMI
	-- some college  [s_get_iconic_school_items] @iconicschoolid = '547' --130685 SMI
	-- some college  [s_get_iconic_school_items] @iconicschoolid = '750' --130685 SMI
	-- some college  [s_get_iconic_school_items] @iconicschoolid = '105964' --130690 SMI
	-- select * from iconicTosmi where smiid in ('106648')
	-- HS Iconic IDs - select * from iconicTosmi where smiid IN (select ID FROM [dbo].[SMISchoolMasterIndexList] where [GradeLevel] = 'HIGH SCHOOL') 
	-- College Iconic IDs - select * from iconicTosmi where smiid IN (select ID FROM [dbo].[SMISchoolMasterIndexList] where [GradeLevel] = 'COLLEGE') 
	-- select iconicid from iconicTosmi where smiid = 130495 -- get iconicidforsmi
    -- Insert statements for procedure here
	/*
	INSERT INTO @returnprod
	SELECT TOP(10) imageurl, itemurl, sku, productname, retailprice, iconicid, smiid
	FROM dbo.iconicRecCache
	WHERE iconicid = @iconicschoolid
	*/
	DECLARE @regSMI int
	select @regSMI = (Select [smiid] from [dbo].[iconicTosmi] where [iconicid] = @iconicschoolid)
	IF @regSMI IS NULL
	BEGIN
		set @regSMI = 0
	END
	DECLARE @regSMIStr VARCHAR(50)
	SET @regSMIStr = CAST(@regSMI AS VARCHAR(50))
	print '@regSMI'
	print @regSMI
	print '@iconicschoolid'
	print @iconicschoolid
	IF @context = 'registration'
	BEGIN
		INSERT INTO @returnprod
		SELECT  [image] AS [imageurl], IIF(UseSMI = 1, url + 'smi=' + @regSMIStr, url) AS [url], id AS [sku], [name] AS [productname], CASE WHEN ISNUMERIC(price) = 0 THEN NULL ELSE [price] END AS [retailprice], @iconicschoolid AS [iconicid], @regSMI AS [smiid], '' AS [Class], 1 AS rank, '' AS [PurpleText], '' AS [UtmContent]
		FROM  [iconicDefaultRecs]
		where id = 'grad-announcements'
		--print @regSMI
		--print @iconicschoolid
		UNION
		--INSERT INTO @returnprod
		SELECT  [image] AS [imageurl], IIF(UseSMI = 1, url + 'smi=' + @regSMIStr, url) AS [url], id AS [sku], [name] AS [productname], CASE WHEN ISNUMERIC(price) = 0 THEN NULL ELSE [price] END AS [retailprice], @iconicschoolid AS [iconicid], @regSMI AS [smiid], '' AS [Class], 2 AS rank, '' AS [PurpleText], '' AS [UtmContent]
		FROM  [iconicDefaultRecs]
		where id = 'cap-decor'
		--print @regSMI
		--print @iconicschoolid
		UNION
		--INSERT INTO @returnprod
		SELECT  [image] AS [imageurl], IIF(UseSMI = 1, url + 'smi=' + @regSMIStr, url) AS [url], id AS [sku], [name] AS [productname], CASE WHEN ISNUMERIC(price) = 0 THEN NULL ELSE [price] END AS [retailprice], @iconicschoolid AS [iconicid], @regSMI AS [smiid], '' AS [Class], 3 AS rank, '' AS [PurpleText], '' AS [UtmContent]
		FROM  [iconicDefaultRecs]
		where id = 'project-repat'
		--print @regSMI
		--print @iconicschoolid
		--UNION
		----INSERT INTO @returnprod
		--SELECT  [image] AS [imageurl], IIF(UseSMI = 1, url + 'smi=' + @regSMIStr, url) AS [url], id AS [sku], [name] AS [productname], CASE WHEN ISNUMERIC(price) = 0 THEN NULL ELSE [price] END AS [retailprice], @iconicschoolid AS [iconicid], @regSMI AS [smiid], '' AS [Class], 4 AS rank, '' AS [PurpleText], '' AS [UtmContent]
		--FROM  [iconicDefaultRecs]
		--where id = 'liz-james-shop'
		--print @regSMI
		--print @iconicschoolid

		SELECT * FROM @returnprod
		order by rank asc
	END
	ELSE
	BEGIN
		IF([dbo].[fn_get_yearbook_grade_level_for_smi] (@regSMIStr) IN ('High School'))
		BEGIN
			PRINT 'Start HS'
			INSERT INTO @returnprod -- ([imageurl],[itemurl],[sku],[productname],[retailprice],[iconicid],[smiid],[Class],[Rank], [PurpleText], [UtmContent])
			exec [s_get_iconicRecCache_HS] @smi= @regSMIStr
			PRINT 'END HS'
		END
		ELSE
		BEGIN
			PRINT 'Start College'
			INSERT INTO @returnprod -- ([imageurl],[itemurl],[sku],[productname],[retailprice],[iconicid],[smiid],[Class],[Rank], [PurpleText], [UtmContent])
			exec [s_get_iconicRecCache_College] @smi= @regSMIStr
			PRINT 'END College'
		
			/*
			INSERT INTO @returnprod
			SELECT  [image] AS [imageurl], [url] AS [url], id AS [sku], [name] AS [productname], price AS [retailprice], @iconicschoolid AS [iconicid], '' AS [smiid], '' AS [Class], 0 AS rank
			FROM  [iconicDefaultRecs]
			where id = 'diploma-frames'

	
			INSERT INTO @returnprod
			SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank
			FROM    (
					SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank,
							ROW_NUMBER() OVER (PARTITION BY [Class] ORDER BY rank asc) AS rn
					FROM    iconicRecCache
					where iconicid = @iconicschoolid
					) q
			WHERE   rn = 1
			order by rank asc
			*/
		END


			SELECT * FROM @returnprod
			order by rank asc
		END
	
	
END
GO
