/****** Object:  StoredProcedure [dbo].[s_get_stole_deep_links]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 03/09/21
-- Description: Get a bunch of deep links for stoles based on SMI
-- =============================================
-- EXEC [dbo].[s_get_stole_deep_links] @SMI = 131349, @DEBUG = 1, @RELATIVE = 1
-- EXEC [dbo].[s_get_stole_deep_links] @SMI = 12345, @DEBUG = 1, @RELATIVE = 1
-- select * from magento_automated_product_dataset where sku = 'A0244073A0000'

CREATE PROCEDURE [dbo].[s_get_stole_deep_links]
(
    -- Add the parameters for the stored procedure here
    @SMI INT = 0,
    @DEBUG BIT = 0,
	@RELATIVE BIT = 1
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

     -- Declare the return variable here
    DECLARE @Link1 VARCHAR(500) = ''
	DECLARE @Link2 VARCHAR(500) = ''
	DECLARE @Link3 VARCHAR(500) = ''
	DECLARE @Link4 VARCHAR(500) = ''
	DECLARE @Link5 VARCHAR(500) = 'shop/collections/regalia/stoles?smi=' + CAST (@SMI AS VARCHAR(25))
	
    DECLARE @GradeLevel VARCHAR(500)
	DECLARE @HasLicStoles BIT = 0
	SET @GradeLevel = dbo.fn_Affinity_GradeLevel(@SMI)
	
	--select * from magento_automated_product_dataset
	--where [product_collection] like '%stoles%'


	SELECT @HasLicStoles = 1 
		WHERE EXISTS 
			(SELECT SMI FROM [dbo].[School_URL_Master] 
				WHERE [SMI] = @SMI 
				AND [ProductCollections] LIKE '%BalProdColl_LicStoles%'
			)
	
	If @HasLicStoles = 1
	BEGIN
			-- SET @Link1 = 'shop/officially-licensed-personalized-stole-with-patches-a0243892?smi=' + CAST (@SMI AS VARCHAR(25))
			SET @Link1 = 'shop/satin-stole-with-official-college-patches-a0243892?smi=' + CAST (@SMI AS VARCHAR(25))
			-- SET @Link2 = 'shop/officially-licensed-stole-with-patches-a0243890?smi=' + CAST (@SMI AS VARCHAR(25))
			SET @Link2 = 'shop/satin-stole-with-official-college-passion-patches-a0243890?smi=' + CAST (@SMI AS VARCHAR(25))
			-- SET @Link4 = 'shop/personalized-satin-stole-a0244315?smi=' + CAST (@SMI AS VARCHAR(25))
			SET @Link4 = 'shop/personalized-satin-stole-a0241944?smi=' + CAST (@SMI AS VARCHAR(25))
		END
	ELSE
		BEGIN
			SET @Link1 = 'shop/gs/stoles?smi=' + CAST(@SMI AS VARCHAR(25))
			SET @Link2 = 'shop/gs/stoles?smi=' + CAST(@SMI AS VARCHAR(25))
			
			SET @Link4 = 'shop/personalized-satin-stole-a0241944?smi=' + CAST(@SMI AS VARCHAR(25))
			
			-- default to a false stole school han-comments out on 6/7/2021
			--SET @Link1 = 'shop/gs/stoles?smi=136934' --  + CAST (@SMI AS VARCHAR(25))
			--SET @Link2 = 'shop/gs/stoles?smi=136934' -- + CAST (@SMI AS VARCHAR(25))
			---- SET @Link4 = 'shop/personalized-satin-stole-a0241944?smi=' + CAST (@SMI AS VARCHAR(25))
			--SET @Link4 = 'shop/personalized-satin-stole-a0241944?smi=' + CAST (136934 AS VARCHAR(25))
			
	END
	
	SELECT TOP 1 @Link3 =  REPLACE([URL], 'https://www.balfour.com/', '') + '?smi=' + CAST (@SMI AS VARCHAR(25)) 
		FROM magento_automated_product_dataset
		Where Status = 'Enable' 
			 AND Visibility = 'In Catalog and Search' 
			 AND [Cat_Type_Style] = 'Regalia_Stoles'
			 AND [Enhanced Commerce] = 'BALFOUR DIRECT'
			 AND (@SMI IN (SELECT [Value] FROM STRING_SPLIT([Included SMI], ',')) OR  [Exclusive SMI] = @SMI)
		
	IF @Link3 = '' OR @Link3 IS NULL
	BEGIN
		-- Default for link 3
		-- SET @Link3 = 'shop/gs/stoles?smi=136934' -- + CAST (@SMI AS VARCHAR(25))
		SET @Link3 = 'shop/gs/stoles?smi=' + CAST (@SMI AS VARCHAR(25))
	END

	IF @RELATIVE = 0
	BEGIN
		SET @Link1 = 'https://www-qa.balfour.com/' + @Link1
		SET @Link2 = 'https://www-qa.balfour.com/' + @Link2
		SET @Link3 = 'https://www-qa.balfour.com/' + @Link3
		SET @Link4 = 'https://www.balfour.com/' + @Link4
		SET @Link5 = 'https://www-qa.balfour.com/' + @Link5
	END

	IF @DEBUG = 1 
	BEGIN
		SELECT 
			  @Link1 AS [link1]
			, @Link2 AS [link2]
			, @Link3 AS [link3]
			, @Link4 AS [link4]
			, @Link5 AS [link5]
	END
	ELSE
	BEGIN
		SELECT 
			  @Link1 AS [link1]
			, @Link2 AS [link2]
			, @Link3 AS [link3]
			, @Link4 AS [link4]
			, @Link5 AS [link5]
		FOR JSON PATH
	END


END



/*

Here are the 4 tile scenarios: 

1)
2 patch sku: ( If they have bal prod= lic stoles) then send them to this url + smi appended)
please make the links relative so we dont have to do it again in prod.  https://www-qa.balfour.com/shop/officially-licensed-personalized-stole-with-patches-a0243892
if they do NOT have this bal prod then we need to send them to the GENERIC SCOPED PLP ( working on url for testing we can send them to: https://www.balfour.com/shop/ks/balfour-kendra-scott?smi=136308) 

 

2)
1 patch + flair ( if they have bal prod= lic stoles) then send them to this url + smi appended) 
please make the links relative . https://www-qa.balfour.com/shop/officially-licensed-stole-with-patches-a0243890?smi=131548 
if they do not have this bal prod then we need to send them to the GENERIC SCOPED PLP ( working on url for testing we can send them to: https://www.balfour.com/shop/ks/balfour-kendra-scott?smi=136308) 

 
3)
officially licensed: this is the one that has 1 url per school 
- can we do this off of if the sku cat/type= regalia/stole , enhanced commerce= balfour direct and product inclusion matches the school finder smi?
then return the specific url and scope them to that url+ smi appended ( here is a sku that we sent down that should hit for nyu A0244073A0000- only sent in qa)  ( make links relative) 

 
4)
text only, if based on school finder they have bal prod= lic stole then send them to this sku: 
(make links relative) https://www-qa.balfour.com/shop/personalized-satin-stole-a0244315 and append the smi 

Otherwise send them to: https://www-qa.balfour.com/shop/personalized-satin-stole-a0241944?smi=131304




*/
GO
