/****** Object:  StoredProcedure [dbo].[s_get_school_events_for_smi]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01/21/2020
-- Description: Pulls the school events for a particular SMI for display on the ecom site
-- =============================================
CREATE PROCEDURE [dbo].[s_get_school_events_for_smi]
(
	 @SMI INT = 0
	,@BatchID VARCHAR(50) = NULL
	,@CallingSite VARCHAR(300) = ''
)
AS

--EXEC [s_get_school_events_for_smi] @SMI = 131530, @BatchID = '4da735ba-d9b3-4c0a-bf81-f252a715c20a'
--EXEC [s_get_school_events_for_smi] @SMI = 130996, @BatchID = '4da735ba-d9b3-4c0a-bf81-f252a715c20a'
--EXEC [s_get_school_events_for_smi] @SMI = 131156
--EXEC [s_get_school_events_for_smi] @SMI = 134733
--EXEC [s_get_school_events_for_smi] @SMI = 131564, @BatchID = 'dcf2681e-51b6-4c70-b865-762bcd3d93d0'
--EXEC [s_get_school_events_for_smi] @SMI = 131564, @BatchID = 'ce23a3f3-73b4-4e3c-a880-b9e928a466b9'
--EXEC [s_get_school_events_for_smi] @SMI = 1326, @BatchID = 'dcf2681e-51b6-4c70-b865-762bcd3d93d0'
--EXEC [s_get_school_events_for_smi] @SMI = 20683
--EXEC [s_get_school_events_for_smi] @SMI = 131205
--EXEC [s_get_school_events_for_smi] @SMI = 130883

--[05/05/2020] TL - Add virtual commencements
--[12/01/2020] TL - No more VirtComm
--[12/30/2020] TL - Without VirtComm there is no reason to roll these into a temporary table
DECLARE @Results TABLE ([sMI] INT, [iD] INT, [date] VARCHAR(100),[title] NVARCHAR(200), [description] NVARCHAR(MAX),[image_URL] VARCHAR(200),[gUID] VARCHAR(50)
,[event_Content] NVARCHAR(MAX), [locationDateTimeInfo] VARCHAR(MAX), [uRL] VARCHAR(300),[timeStamp] VARCHAR(50),[sort_Order] INT IDENTITY(1,1))

--Add virtcomm first - as of 12/1/2020 NO VIRTCOMM
--INSERT INTO @Results ([sMI], [iD], [date], [title], [description], [image_URL], [gUID], [event_Content], [locationDateTimeInfo], [uRL], [timeStamp])
--SELECT
--	 events.[sMI]
--	,[id]
--	,FORMAT([EventDTM], 'MM/dd/yyyy') AS [date]
--	,ISNULL([Title],'Virtual Commencement')
--	,ISNULL([Description],'Online virtual commencement')
--	,CASE WHEN [dbo].[fn_get_yearbook_grade_level_for_smi](@SMI) = 'COLLEGE' THEN 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile.jpg' ELSE 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/SA_VC_AffinityTile_v2.jpg' END
--	,[gUID]
--	,''
--	,FORMAT([EventDTM], 'MMM d') + '<br />' + FORMAT(CAST([EventDTM] AS DATETIME), 'h tt') 
--	,'/' + LOWER(URL.URL) + '/grad'
--	,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
--FROM [dbo].[VirtCommMaster] events
--LEFT JOIN [dbo].[School_URL_Master] URL ON URL.SMI = Events.SMI
--WHERE events.[SMI] = @SMI 
--AND ISNULL(events.[Enabled],0) = 1
--AND DATEADD(day,14,[EventDTM]) >= dbo.fn_DateTime_To_Central(GETDATE())

--[12/30/2020] TL - Without VirtComm there is no reason to roll these into a temporary table
--INSERT INTO @Results ([sMI], [iD], [date],[title], [description],[image_URL],[gUID]
--,[event_Content], [locationDateTimeInfo], [uRL],[timeStamp])
SELECT
		 events.[sMI]
		,[iD]
		,FORMAT(/*dbo.fn_DateTime_to_Central(*/[Date]/*)*/, 'MM/dd/yyyy') + CASE WHEN ISNULL([ScheduleChange],0) = 2 THEN ' CANCELED' ELSE '' END AS [date]
		,CASE WHEN ISNULL([ScheduleChange],0) = 2 THEN 'CANCELED: ' ELSE '' END + ISNULL([Title],'')  as [title]
		,ISNULL([Description],'') as [description] 
		,ISNULL([Image_URL],'') as [image_URL]
		,[gUID]
		,ISNULL([Event_Content],'') as [event_Content]
		,dbo.fn_GetLocationDateTimeInfoForEcom ([GUID]) as [locationDateTimeInfo]
		,CASE WHEN ISNULL(events.[URL],'') LIKE 'http%' THEN events.[URL] ELSE '/' + LOWER(URL.URL) + '/events/' + REPLACE(LOWER(CASE WHEN ISNULL(events.[URL],'') = '' THEN ISNULL([Title],'') ELSE ISNULL(events.[URL],'') END), ' ', '%20') END as [uRL]
		,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
		FROM [School_Events] events
		LEFT JOIN [dbo].[School_URL_Master] URL ON URL.SMI = Events.SMI
		WHERE ISNULL(events.[BatchID],'')  = ISNULL(@BatchID,'')
		AND events.[SMI] = @SMI
		AND [Date] >= CAST(FORMAT(dbo.fn_DateTime_to_Central(DATEADD(dd,-1,GETDATE())),'MM/dd/yyyy') AS DATETIME)
		ORDER BY [Date]
		FOR JSON PATH

		--[12/30/2020] TL - Without VirtComm there is no reason to roll these into a temporary table
--SELECT [sMI], [iD], [date],[title], [description],[image_URL],[gUID]
--,[event_Content], [locationDateTimeInfo], [uRL],[timeStamp]
--FROM @Results
--ORDER BY [sort_Order]
--FOR JSON PATH


		
GO
