/****** Object:  StoredProcedure [dbo].[s_get_gradpack_vouchers_update_data_for_silverpop]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 06/23/2021
-- Description: Gets GradPack voucher info for recently redeemed coupon codes
-- =============================================
CREATE PROCEDURE [dbo].[s_get_gradpack_vouchers_update_data_for_silverpop]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @LastCheckedPropertyName varchar(100) = 'GradPackVouchersLastChecked'
	DECLARE @LastCheckedDateUtc datetime
	DECLARE @EmailName varchar(100) = 'GradPackVouchers'
    
	BEGIN TRY
		SELECT @LastCheckedDateUtc = CAST(dbo.fn_GetExtendedProperty('CouponCodesIssued', @LastCheckedPropertyName) as datetime)
	END TRY
	BEGIN CATCH
		SET @LastCheckedDateUtc = '2021-06-01'
	END CATCH
	PRINT 'Last checked: ' + CAST(@LastCheckedDateUtc AS VARCHAR(50)) 

	CREATE TABLE #EmailData ([EmailAddresses] nvarchar(200), [VoucherRedeemed] datetime, [VoucherCode] nvarchar(100), [IsVoucherRedeemed] bit)

	INSERT INTO #EmailData
		(EmailAddresses, [VoucherRedeemed], VoucherCode, IsVoucherRedeemed)
	SELECT 
		ejq.emailAddresses, cci.Used, cci.Code, 1
	FROM CouponCodesIssued cci
	JOIN emailjobs_queue ejq
	ON cci.EmailJobs_Queue_ID = ejq.ID
	WHERE 
		cci.Used >= @LastCheckedDateUtc
		AND ejq.Email_Name = @EmailName

	/*
	INSERT INTO #EmailData
		(EmailAddresses, [VoucherRedeemed], VoucherCode, IsVoucherRedeemed)
	VALUES ( 'jkaufman@iconicgroup.com', GETUTCDATE(), 'Code12345', 1)
	*/

	SET @LastCheckedDateUtc = ISNULL((SELECT dateadd(mi, 1, MAX([VoucherRedeemed])) FROM #EmailData), GETUTCDATE())
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'CouponCodesIssued', @AttribName = @LastCheckedPropertyName, @Value = @LastCheckedDateUtc

	SELECT *
	FROM #EmailData
END
GO
