/****** Object:  StoredProcedure [dbo].[Upsert_Magento_Product_dateset]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Krishna Seetharaman Krishna.Seetharaman@balfour.com - Austin
-- Create Date: 09/03/2020
-- Description: This will upsert the product data set from Magento view v_product_report_all to [dbo].[magento_automated_product_dataset_import] table.  
-- This is triggered hourly on the hour for any product which has changed within the previous hour.
-- =============================================
CREATE PROCEDURE [dbo].[Upsert_Magento_Product_dateset]
	@ProductID float,
    @SKU nvarchar(100),
    @ParentSKU varchar(8),
    @ProductName nvarchar(255),
    @ProductType nvarchar(255),
    @configType nvarchar(300),
    @AttributeSet nvarchar(255),
    @Category varchar(255),
    @CategoryID nvarchar(500),
    @ItemCategory nvarchar(255),
    @EnhancedCommerce nvarchar(255),
    @URL varchar(300),
    @RetailPrice decimal(12,4),
    @SpecialPriceForBundles decimal(12,4),
    @SpecialPriceStartDate datetime,
    @SpecialPriceToDate datetime,
    @TaxClass nvarchar(255),
    @QuantityInStock decimal(12,4),
    @StockMaintenance nvarchar(255),
    @IncludedSMI nvarchar(max),
    @ExcludedSMI varchar(max),
    @ExclusiveSMI varchar(255),
    @VendorId nvarchar(255),
    @UCID nvarchar(255),
    @DeliveryMethod nvarchar(255),
    @ProductCollection varchar(4000),
    @Visibility nvarchar(255),
    @Status nvarchar(255),
    @CreatedOn datetime,
    @UpdatedOn datetime,
	@ImageUrl varchar(255),
	@PrintBox_FamilyId varchar(5),
	@B3Brand varchar(255),
	@Cat_Type_Style varchar(255),
	@long_desc varchar(max), 
	@capgownupgrade  varchar(255)
	
AS 
BEGIN

/*Declare @Cat_Type_Style varchar(255)
Set @Cat_Type_Style = ISNULL(@CTS_Category,'') + '>' + ISNULL(@CTS_Type,'') + '>' + ISNULL(@CTS_Style,'')*/

/*
EXEC [Upsert_Magento_Product_dateset]
	@ProductID = '266691',
    @SKU = 'A0131002',
    @ParentSKU = 'A0131002',
    @ProductName = 'Hastings High Traditional Personalized Announcement',
    @ProductType = 'simple',
    @configType = 'pb_bal',
    @AttributeSet = 'pim_pb_announcement',
    @Category = 'ANNOUNCEMENTS,OFFICIAL PHOTO ANNOUNCEMENTS,PERSONALIZED SHOP,PHOTO ANNOUNCEMENTS,TRADITIONAL ANNOUNCEMENTS,TRADITIONAL PHOTO ANNOUNCEMENTS',
    @CategoryID = '41,58,945,947,1185,2565,6119',
    @ItemCategory = 'graduation',
    @EnhancedCommerce = 'HIGH SCHOOL ANNOUNCEMENTS',
    @URL ='https://www.balfour.com/shop/hastings-high-traditional-personalized-announcement-a0131002',
    @RetailPrice = '49.8',
    @SpecialPriceForBundles = NULL,
    @SpecialPriceStartDate = NULL,
    @SpecialPriceToDate = NULL,
    @TaxClass = 'Taxable Goods',
    @QuantityInStock = 100,
    @StockMaintenance = 'Do not Manage Stock',
    @IncludedSMI = 0,
    @ExcludedSMI = '',
    @ExclusiveSMI = '43864',
    @VendorId = '15423',
    @UCID = '',
    @DeliveryMethod = 'ship_to_home',
    @ProductCollection = '',
    @Visibility  = 'In Catalog and Search',
    @Status = 'Enable',
    @CreatedOn = '01/05/2021',
    @UpdatedOn = '01/05/2021'
*/

	SET NOCOUNT ON;
	IF @SKU NOT IN ('A0235792','A0235793','A0235794','A0235796')
	  BEGIN
		IF NOT EXISTS (SELECT * FROM [dbo].[magento_automated_product_dataset] WHERE [SKU] = @SKU)
			INSERT INTO [dbo].[magento_automated_product_dataset]
					   ([Product ID]
					   ,[SKU]
					   ,[ParentSKU]
					   ,[Product Name]
					   ,[Product Type]
					   ,[config_type]
					   ,[Attribute Set]
					   ,[Category]
					   ,[Category ID]
					   ,[Item Category]
					   ,[Enhanced Commerce]
					   ,[URL]
					   ,[Retail Price]
					   ,[Special Price (% for bundles)]
					   ,[Special Price - Start Date]
					   ,[Special Price - To Date]
					   ,[Tax Class]
					   ,[Quantity in Stock]
					   ,[Stock maintenance]
					   ,[Included SMI]
					   ,[Excluded SMI]
					   ,[Exclusive SMI]
					   ,[Vendor Id]
					   ,[UC ID]
					   ,[Delivery Method]
					   ,[product_collection]
					   ,[Visibility]
					   ,[Status]
					   ,[Created On]
					   ,[Updated On]
					   ,[Boomi_CreatedOn]
					   ,[Boomi_UpdatedOn]
					   ,[image_url]
					   ,[PrintBox_FamilyId]
					   ,[Cat_Type_Style]
					   ,[B3_Brand]
					   ,[long_desc] 
					   ,[capgownupgrade])
				 VALUES
					   (@ProductID,
						@SKU,
						@ParentSKU,
						@ProductName,
						@ProductType,
						@configType,
						@AttributeSet,
						@Category,
						@CategoryID,
						@ItemCategory,
						@EnhancedCommerce,
						@URL,
						@RetailPrice,
						@SpecialPriceForBundles,
						@SpecialPriceStartDate,
						@SpecialPriceToDate,
						@TaxClass,
						@QuantityInStock,
						@StockMaintenance,
						@IncludedSMI,
						@ExcludedSMI,
						@ExclusiveSMI,
						@VendorId,
						@UCID,
						@DeliveryMethod,
						@ProductCollection,
						@Visibility,
						@Status,
						@CreatedOn,
						@UpdatedOn,
						GETDATE(),
						GETDATE(),
						@ImageUrl,
						@PrintBox_FamilyId,
						@Cat_Type_Style,
						@B3Brand,
						@long_desc, 
						@capgownupgrade
						)

		ELSE
		   UPDATE [dbo].[magento_automated_product_dataset]
		   SET [Product ID]             		= @ProductID,
			   [SKU]							= @SKU,
			   [ParentSKU]						= @ParentSKU,
			   [Product Name]					= @ProductName,
			   [Product Type]					= @ProductType,
			   [config_type]					= @configType,
			   [Attribute Set]					= @AttributeSet,
			   [Category]						= @Category,
			   [Category ID]					= @CategoryID,
			   [Item Category]					= @ItemCategory,
			   [Enhanced Commerce]				= @EnhancedCommerce,
			   [URL]							= @URL,
			   [Retail Price]					= @RetailPrice,
			   [Special Price (% for bundles)]  = @SpecialPriceForBundles,
			   [Special Price - Start Date]     = @SpecialPriceStartDate,
			   [Special Price - To Date]		= @SpecialPriceToDate,
			   [Tax Class]						= @TaxClass,
			   [Quantity in Stock]				= @QuantityInStock,
			   [Stock maintenance]				= @StockMaintenance,
			   [Included SMI]					= @IncludedSMI,
			   [Excluded SMI]					= @ExcludedSMI,
			   [Exclusive SMI]					= @ExclusiveSMI,
			   [Vendor Id]						= @VendorId,
			   [UC ID]							= @UCID,
			   [Delivery Method]				= @DeliveryMethod,
			   [product_collection]			    = @ProductCollection,
			   [Visibility]					    = @Visibility,
			   [Status]						    = @Status,
			   [Created On]					    = @CreatedOn,
			   [Updated On]					    = @UpdatedOn,
			   [Boomi_UpdatedOn]				= CURRENT_TIMESTAMP,
			   [image_url]						= @ImageUrl,
			   [PrintBox_FamilyId]				= @PrintBox_FamilyId,
			   [Cat_Type_Style]					= @Cat_Type_Style,
			   [B3_Brand]						= @B3Brand,
			   [long_desc]						= @long_desc,
			   [capgownupgrade]					= @capgownupgrade	
			WHERE [SKU]                         = @SKU

		--[01/12/2021] TL - Insert record into the queue to be updated later
		INSERT INTO [dbo].[magento_automated_product_dataset_update_queue] ([SKU]) VALUES (@SKU)
		DECLARE @LastUpdate VARCHAR(50)
		SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'LastUpdate', @Value = @LastUpdate
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'LastSKUUpdated', @Value = @SKU
		--Determine the next update
		SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'NextUpdate', @Value = @LastUpdate
		


		/*  THIS UPDATE WILL BE DONE ELSEWHERE
		UPDATE [dbo].[magento_automated_product_dataset] SET is_Licensed = CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
		FROM itemattributes ia
		LEFT JOIN [dbo].[magento_automated_product_dataset] p on p.ItemID = ia.itemid
		WHERE ia.tagtype = 'a_licensed' AND p.SKU = @SKU

		UPDATE [dbo].[magento_automated_product_dataset] SET is_Licensed = 0 WHERE is_licensed IS NULL AND [SKU] = @SKU

		UPDATE [dbo].[magento_automated_product_dataset] set vCategory = category, vEnhanced_Commerce =[Enhanced commerce] WHERE [SKU] = @SKU

		DECLARE @LastUpdate VARCHAR(50), @Included_SMI VARCHAR(MAX), @Excluded_SMI VARCHAR(MAX)
		SET @LastUpdate = CAST(dbo.fn_DateTime_to_Central(GETDATE()) AS VARCHAR(50))
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'LastUpdate', @Value = @LastUpdate
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'magento_automated_product_dataset', @AttribName = 'LastSKUUpdated', @Value = @SKU

		SELECT @Included_SMI = [Included SMI], @Excluded_SMI = [Excluded SMI] 
		FROM [dbo].[magento_automated_product_dataset] 
		WHERE [SKU] = @SKU
		
		DELETE FROM [dbo].[Product_Included_SMI] WHERE [SKU] = @SKU
		INSERT INTO [dbo].[Product_Included_SMI] ([SKU],[Included_SMI])
		SELECT @SKU, CAST([value] AS BIGINT) FROM string_split(@Included_SMI,',')

		DELETE FROM [dbo].[Product_Excluded_SMI] WHERE [SKU] = @SKU
		INSERT INTO [dbo].[Product_Excluded_SMI] ([SKU],[Excluded_SMI])
		SELECT @SKU, CAST([value] AS BIGINT) FROM string_split(@Excluded_SMI,',')

		UPDATE magento_automated_product_dataset SET [ItemID] = I.ID
				--SELECT D.SKU, I.id
				FROM magento_automated_product_dataset D
				LEFT JOIN item I ON I.sku = d.Sku
				WHERE D.ItemID IS NULL 
				AND I.ID IS NOT NULL
				AND D.[SKU] = @SKU
		*/
		----[01/04/2021] - TL - Update itemattributesimages
		--SELECT i.sku, itemid, (SELECT TOP (1) value	FROM STRING_SPLIT(tagvalue, ',') AS STRING_SPLIT_1) as imageurl into #itemattributesimages 
		--from item i
		--LEFT JOIN itemattributes ia on ia.itemid = i.id
		--WHERE tagtype = 'a_BalfourPrimaryImages'
		--AND i.SKU = @SKU

		--DELETE FROM dbo.itemattributesimages WHERE [SKU] = @SKU
		--INSERT INTO dbo.itemattributesimages ([sku], [itemid], [imageurl], [baseimageURL])
		--SELECT [sku], [itemid], [imageurl], REPLACE(REPLACE(REPLACE(REPLACE(imageurl,'_800x800.jpg',''),'.jpg',''),'.png',''),'.gif','') FROM #itemattributesimages

		--DROP TABLE #itemattributesimages

		--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributesimages', @AttribName = 'LastUpdate', @Value = @LastUpdate
		--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributesimages', @AttribName = 'LastSKUUpdated', @Value = @SKU


		----[01/04/2021] - TL - Update itemattributesclass
		--DECLARE @ID INT, @MAX INT, @ItemID VARCHAR(20), @class VARCHAR(800), @Val VARCHAR(800)
		--CREATE TABLE #Working ([ItemID] VARCHAR(20), [class] VARCHAR(800), [ID] INT IDENTITY(1,1))
		--INSERT INTO #Working ([ItemID],[class])
		--SELECT [ItemID], [TagValue] 
		--from item i
		--LEFT JOIN itemattributes ia on ia.itemid = i.id
		--WHERE ia.[tagtype] = 'a_class' 
		--AND i.[SKU] = @SKU
		--CREATE TABLE #NV ([Value] VARCHAR(800), Loop INT IDENTITY(1,1))
		--SELECT @ID = 1, @Max = MAX([ID]) FROM #Working
	
		--WHILE @ID <= @Max
		--	BEGIN
		--		SELECT @ItemID = [ItemID], @Class = [Class] FROM #Working WHERE [ID] = @ID
		--		TRUNCATE TABLE #NV
		--		INSERT INTO #NV ([Value])
		--		SELECT * FROM STRING_SPLIT(REVERSE(@Class),':')
		--		DELETE FROM [ItemAttributesClass] WHERE [ItemID] = @ItemID
		--		INSERT INTO [ItemAttributesClass] ([ItemID],[Parent],[Class], [SKU])
		--		SELECT @ItemID, LTRIM(RTRIM(REVERSE([Value]))), /*REVERSE(*/@Class/*)*/, [SKU] FROM #NV NV INNER JOIN [dbo].[item] I ON I.ID = @ItemID  WHERE [Loop] = 1
		--		SET @Val = NULL
		--		SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 2
		--		UPDATE [ItemAttributesClass] SET [GrandParent] = @Val WHERE [ItemID] = @ItemID
		--		SET @Val = NULL
		--		SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 3
		--		UPDATE [ItemAttributesClass] SET [GreatGrandParent] = @Val WHERE [ItemID] = @ItemID
		--		SET @Val = NULL
		--		SELECT @Val = LTRIM(RTRIM(REVERSE([Value]))) FROM #NV WHERE [Loop] = 4
		--		UPDATE [ItemAttributesClass] SET [GreatGreatGrandParent] = @Val WHERE [ItemID] = @ItemID
		--		SET @ID = @ID + 1
		--	END
		--DROP TABLE #Working
		--DROP TABLE #NV

		--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributesclass', @AttribName = 'LastUpdate', @Value = @LastUpdate
		--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributesclass', @AttribName = 'LastSKUUpdated', @Value = @SKU

		----[01/04/2021] - TL - Update itemattributes_announcements
		--SELECT @ItemID = ID FROM [dbo].[item] WHERE [SKU] = @SKU
		--DELETE FROM [dbo].[itemattributes_announcements] WHERE [itemid] = @ItemID
		--INSERT INTO [dbo].[itemattributes_announcements]
		--SELECT * FROM itemattributes where 	tagvalue = '52' AND tagtype = 'a_PBProdFamID' AND [Itemid] = @ItemID

		--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributes_announcements', @AttribName = 'LastUpdate', @Value = @LastUpdate
		--EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'itemattributes_announcements', @AttribName = 'LastSKUUpdated', @Value = @SKU
		
	END
END
GO
