/****** Object:  StoredProcedure [dbo].[Upsert_MAGE_Sales_Order_Item]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/13/2021
-- Description: Sproc to upsert data from Magento
-- =============================================
CREATE PROCEDURE [dbo].[Upsert_MAGE_Sales_Order_Item]
(
    @item_id int,
	@order_id int,
	@parent_item_id int,
	@quote_item_id int,
	@store_id smallint,
	@created_at datetime,
	@updated_at datetime,
	@product_id int,
	@product_type varchar(255),
	@product_options varchar(max),
	@weight decimal(12, 4),
	@is_virtual smallint,
	@sku varchar(255),
	@name varchar(255),
	@description varchar(max),
	@applied_rule_ids varchar(max),
	@additional_data varchar(max),
	@is_qty_decimal smallint,
	@no_discount smallint,
	@qty_backordered decimal(12, 4),
	@qty_canceled decimal(12, 4),
	@qty_invoiced decimal(12, 4),
	@qty_ordered decimal(12, 4),
	@qty_refunded decimal(12, 4),
	@qty_shipped decimal(12, 4),
	@base_cost decimal(12, 4),
	@price decimal(12, 4),
	@base_price decimal(12, 4),
	@original_price decimal(12, 4),
	@base_original_price decimal(12, 4),
	@tax_percent decimal(12, 4),
	@tax_amount decimal(12, 4),
	@base_tax_amount decimal(12, 4),
	@tax_invoiced decimal(12, 4),
	@base_tax_invoiced decimal(12, 4),
	@discount_percent decimal(12, 4),
	@discount_amount decimal(12, 4),
	@base_discount_amount decimal(12, 4),
	@discount_invoiced decimal(12, 4),
	@base_discount_invoiced decimal(12, 4),
	@amount_refunded decimal(12, 4),
	@base_amount_refunded decimal(12, 4),
	@row_total decimal(12, 4),
	@base_row_total decimal(12, 4),
	@row_invoiced decimal(12, 4),
	@base_row_invoiced decimal(12, 4),
	@row_weight decimal(12, 4),
	@base_tax_before_discount decimal(12, 4),
	@tax_before_discount decimal(12, 4),
	@ext_order_item_id varchar(255),
	@locked_do_invoice smallint,
	@locked_do_ship smallint,
	@price_incl_tax decimal(12, 4),
	@base_price_incl_tax decimal(12, 4),
	@row_total_incl_tax decimal(12, 4),
	@base_row_total_incl_tax decimal(12, 4),
	@discount_tax_compensation_amount decimal(12, 4),
	@base_discount_tax_compensation_amount decimal(12, 4),
	@discount_tax_compensation_invoiced decimal(12, 4),
	@base_discount_tax_compensation_invoiced decimal(12, 4),
	@discount_tax_compensation_refunded decimal(12, 4),
	@base_discount_tax_compensation_refunded decimal(12, 4),
	@tax_canceled decimal(12, 4),
	@discount_tax_compensation_canceled decimal(12, 4),
	@tax_refunded decimal(12, 4),
	@base_tax_refunded decimal(12, 4),
	@discount_refunded decimal(12, 4),
	@base_discount_refunded decimal(12, 4),
	@free_shipping smallint,
	@qty_returned decimal(12, 4),
	@gift_message_id int,
	@gift_message_available int,
	@weee_tax_applied varchar(max),
	@weee_tax_applied_amount decimal(12, 4),
	@weee_tax_applied_row_amount decimal(12, 4),
	@weee_tax_disposition decimal(12, 4),
	@weee_tax_row_disposition decimal(12, 4),
	@base_weee_tax_applied_amount decimal(12, 4),
	@base_weee_tax_applied_row_amnt decimal(12, 4),
	@base_weee_tax_disposition decimal(12, 4),
	@base_weee_tax_row_disposition decimal(12, 4),
	@gw_id int,
	@gw_base_price decimal(12, 4),
	@gw_price decimal(12, 4),
	@gw_base_tax_amount decimal(12, 4),
	@gw_tax_amount decimal(12, 4),
	@gw_base_price_invoiced decimal(12, 4),
	@gw_price_invoiced decimal(12, 4),
	@gw_base_tax_amount_invoiced decimal(12, 4),
	@gw_tax_amount_invoiced decimal(12, 4),
	@gw_base_price_refunded decimal(12, 4),
	@gw_price_refunded decimal(12, 4),
	@gw_base_tax_amount_refunded decimal(12, 4),
	@gw_tax_amount_refunded decimal(12, 4),
	@event_id int,
	@giftregistry_item_id int
)
AS
BEGIN
    SET NOCOUNT ON

	IF NOT EXISTS (SELECT TOP 1 item_id FROM dbo.MAGE_sales_order_item WHERE item_id = @item_id)
		BEGIN
			INSERT INTO dbo.MAGE_sales_order_item
			(
				[item_id], 
				[order_id], 
				[parent_item_id], 
				[quote_item_id], 
				[store_id], 
				[created_at], 
				[updated_at], 
				[product_id], 
				[product_type], 
				[product_options], 
				[weight], 
				[is_virtual], 
				[sku], 
				[name], 
				[description], 
				[applied_rule_ids], 
				[additional_data], 
				[is_qty_decimal], 
				[no_discount], 
				[qty_backordered], 
				[qty_canceled], 
				[qty_invoiced], 
				[qty_ordered], 
				[qty_refunded], 
				[qty_shipped], 
				[base_cost], 
				[price], 
				[base_price], 
				[original_price], 
				[base_original_price], 
				[tax_percent], 
				[tax_amount], 
				[base_tax_amount], 
				[tax_invoiced], 
				[base_tax_invoiced], 
				[discount_percent], 
				[discount_amount], 
				[base_discount_amount], 
				[discount_invoiced], 
				[base_discount_invoiced], 
				[amount_refunded], 
				[base_amount_refunded], 
				[row_total], 
				[base_row_total], 
				[row_invoiced], 
				[base_row_invoiced], 
				[row_weight], 
				[base_tax_before_discount], 
				[tax_before_discount], 
				[ext_order_item_id], 
				[locked_do_invoice], 
				[locked_do_ship], 
				[price_incl_tax], 
				[base_price_incl_tax], 
				[row_total_incl_tax], 
				[base_row_total_incl_tax], 
				[discount_tax_compensation_amount], 
				[base_discount_tax_compensation_amount], 
				[discount_tax_compensation_invoiced], 
				[base_discount_tax_compensation_invoiced], 
				[discount_tax_compensation_refunded], 
				[base_discount_tax_compensation_refunded], 
				[tax_canceled], 
				[discount_tax_compensation_canceled], 
				[tax_refunded], 
				[base_tax_refunded], 
				[discount_refunded], 
				[base_discount_refunded], 
				[free_shipping], 
				[qty_returned], 
				[gift_message_id], 
				[gift_message_available], 
				[weee_tax_applied], 
				[weee_tax_applied_amount], 
				[weee_tax_applied_row_amount], 
				[weee_tax_disposition], 
				[weee_tax_row_disposition], 
				[base_weee_tax_applied_amount], 
				[base_weee_tax_applied_row_amnt], 
				[base_weee_tax_disposition], 
				[base_weee_tax_row_disposition], 
				[gw_id], 
				[gw_base_price], 
				[gw_price], 
				[gw_base_tax_amount], 
				[gw_tax_amount], 
				[gw_base_price_invoiced], 
				[gw_price_invoiced], 
				[gw_base_tax_amount_invoiced], 
				[gw_tax_amount_invoiced], 
				[gw_base_price_refunded], 
				[gw_price_refunded], 
				[gw_base_tax_amount_refunded], 
				[gw_tax_amount_refunded], 
				[event_id], 
				[giftregistry_item_id]
			)
			VALUES
			(
				@item_id, 
				@order_id, 
				@parent_item_id, 
				@quote_item_id, 
				@store_id, 
				@created_at, 
				@updated_at, 
				@product_id, 
				@product_type, 
				@product_options, 
				@weight, 
				@is_virtual, 
				@sku, 
				@name, 
				@description, 
				@applied_rule_ids, 
				@additional_data, 
				@is_qty_decimal, 
				@no_discount, 
				@qty_backordered, 
				@qty_canceled, 
				@qty_invoiced, 
				@qty_ordered, 
				@qty_refunded, 
				@qty_shipped, 
				@base_cost, 
				@price, 
				@base_price, 
				@original_price, 
				@base_original_price, 
				@tax_percent, 
				@tax_amount, 
				@base_tax_amount, 
				@tax_invoiced, 
				@base_tax_invoiced, 
				@discount_percent, 
				@discount_amount, 
				@base_discount_amount, 
				@discount_invoiced, 
				@base_discount_invoiced, 
				@amount_refunded, 
				@base_amount_refunded, 
				@row_total, 
				@base_row_total, 
				@row_invoiced, 
				@base_row_invoiced, 
				@row_weight, 
				@base_tax_before_discount, 
				@tax_before_discount, 
				@ext_order_item_id, 
				@locked_do_invoice, 
				@locked_do_ship, 
				@price_incl_tax, 
				@base_price_incl_tax, 
				@row_total_incl_tax, 
				@base_row_total_incl_tax, 
				@discount_tax_compensation_amount, 
				@base_discount_tax_compensation_amount, 
				@discount_tax_compensation_invoiced, 
				@base_discount_tax_compensation_invoiced, 
				@discount_tax_compensation_refunded, 
				@base_discount_tax_compensation_refunded, 
				@tax_canceled, 
				@discount_tax_compensation_canceled, 
				@tax_refunded, 
				@base_tax_refunded, 
				@discount_refunded, 
				@base_discount_refunded, 
				@free_shipping, 
				@qty_returned, 
				@gift_message_id, 
				@gift_message_available, 
				@weee_tax_applied, 
				@weee_tax_applied_amount, 
				@weee_tax_applied_row_amount, 
				@weee_tax_disposition, 
				@weee_tax_row_disposition, 
				@base_weee_tax_applied_amount, 
				@base_weee_tax_applied_row_amnt, 
				@base_weee_tax_disposition, 
				@base_weee_tax_row_disposition, 
				@gw_id, 
				@gw_base_price, 
				@gw_price, 
				@gw_base_tax_amount, 
				@gw_tax_amount, 
				@gw_base_price_invoiced, 
				@gw_price_invoiced, 
				@gw_base_tax_amount_invoiced, 
				@gw_tax_amount_invoiced, 
				@gw_base_price_refunded, 
				@gw_price_refunded, 
				@gw_base_tax_amount_refunded, 
				@gw_tax_amount_refunded, 
				@event_id, 
				@giftregistry_item_id
			)
		END
	ELSE
		BEGIN
			UPDATE dbo.MAGE_sales_order_item
			SET
				[order_id] = @order_id,
				[parent_item_id] = @parent_item_id,
				[quote_item_id] = @quote_item_id,
				[store_id] = @store_id,
				[created_at] = @created_at,
				[updated_at] = @updated_at,
				[product_id] = @product_id,
				[product_type] = @product_type,
				[product_options] = @product_options,
				[weight] = @weight,
				[is_virtual] = @is_virtual,
				[sku] = @sku,
				[name] = @name,
				[description] = @description,
				[applied_rule_ids] = @applied_rule_ids,
				[additional_data] = @additional_data,
				[is_qty_decimal] = @is_qty_decimal,
				[no_discount] = @no_discount,
				[qty_backordered] = @qty_backordered,
				[qty_canceled] = @qty_canceled,
				[qty_invoiced] = @qty_invoiced,
				[qty_ordered] = @qty_ordered,
				[qty_refunded] = @qty_refunded,
				[qty_shipped] = @qty_shipped,
				[base_cost] = @base_cost,
				[price] = @price,
				[base_price] = @base_price,
				[original_price] = @original_price,
				[base_original_price] = @base_original_price,
				[tax_percent] = @tax_percent,
				[tax_amount] = @tax_amount,
				[base_tax_amount] = @base_tax_amount,
				[tax_invoiced] = @tax_invoiced,
				[base_tax_invoiced] = @base_tax_invoiced,
				[discount_percent] = @discount_percent,
				[discount_amount] = @discount_amount,
				[base_discount_amount] = @base_discount_amount,
				[discount_invoiced] = @discount_invoiced,
				[base_discount_invoiced] = @base_discount_invoiced,
				[amount_refunded] = @amount_refunded,
				[base_amount_refunded] = @base_amount_refunded,
				[row_total] = @row_total,
				[base_row_total] = @base_row_total,
				[row_invoiced] = @row_invoiced,
				[base_row_invoiced] = @base_row_invoiced,
				[row_weight] = @row_weight,
				[base_tax_before_discount] = @base_tax_before_discount,
				[tax_before_discount] = @tax_before_discount,
				[ext_order_item_id] = @ext_order_item_id,
				[locked_do_invoice] = @locked_do_invoice,
				[locked_do_ship] = @locked_do_ship,
				[price_incl_tax] = @price_incl_tax,
				[base_price_incl_tax] = @base_price_incl_tax,
				[row_total_incl_tax] = @row_total_incl_tax,
				[base_row_total_incl_tax] = @base_row_total_incl_tax,
				[discount_tax_compensation_amount] = @discount_tax_compensation_amount,
				[base_discount_tax_compensation_amount] = @base_discount_tax_compensation_amount,
				[discount_tax_compensation_invoiced] = @discount_tax_compensation_invoiced,
				[base_discount_tax_compensation_invoiced] = @base_discount_tax_compensation_invoiced,
				[discount_tax_compensation_refunded] = @discount_tax_compensation_refunded,
				[base_discount_tax_compensation_refunded] = @base_discount_tax_compensation_refunded,
				[tax_canceled] = @tax_canceled,
				[discount_tax_compensation_canceled] = @discount_tax_compensation_canceled,
				[tax_refunded] = @tax_refunded,
				[base_tax_refunded] = @base_tax_refunded,
				[discount_refunded] = @discount_refunded,
				[base_discount_refunded] = @base_discount_refunded,
				[free_shipping] = @free_shipping,
				[qty_returned] = @qty_returned,
				[gift_message_id] = @gift_message_id,
				[gift_message_available] = @gift_message_available,
				[weee_tax_applied] = @weee_tax_applied,
				[weee_tax_applied_amount] = @weee_tax_applied_amount,
				[weee_tax_applied_row_amount] = @weee_tax_applied_row_amount,
				[weee_tax_disposition] = @weee_tax_disposition,
				[weee_tax_row_disposition] = @weee_tax_row_disposition,
				[base_weee_tax_applied_amount] = @base_weee_tax_applied_amount,
				[base_weee_tax_applied_row_amnt] = @base_weee_tax_applied_row_amnt,
				[base_weee_tax_disposition] = @base_weee_tax_disposition,
				[base_weee_tax_row_disposition] = @base_weee_tax_row_disposition,
				[gw_id] = @gw_id,
				[gw_base_price] = @gw_base_price,
				[gw_price] = @gw_price,
				[gw_base_tax_amount] = @gw_base_tax_amount,
				[gw_tax_amount] = @gw_tax_amount,
				[gw_base_price_invoiced] = @gw_base_price_invoiced,
				[gw_price_invoiced] = @gw_price_invoiced,
				[gw_base_tax_amount_invoiced] = @gw_base_tax_amount_invoiced,
				[gw_tax_amount_invoiced] = @gw_tax_amount_invoiced,
				[gw_base_price_refunded] = @gw_base_price_refunded,
				[gw_price_refunded] = @gw_price_refunded,
				[gw_base_tax_amount_refunded] = @gw_base_tax_amount_refunded,
				[gw_tax_amount_refunded] = @gw_tax_amount_refunded,
				[event_id] = @event_id,
				[giftregistry_item_id] = @giftregistry_item_id
			FROM dbo.MAGE_sales_order_item
			WHERE item_id = @item_id
		END


	DECLARE @tableName varchar(50) = 'MAGE_Sales_Order_Item'
	DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
	DECLARE @lastUpdatedValue varchar(255) = CAST(@item_id as varchar(255))

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
	--Determine the next update
	SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
