/****** Object:  StoredProcedure [dbo].[s_get_affinity_school_info]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Han Tran
-- 12/03/2021
-- Description: Returns school name, school url
-- Input SMI, Output: SchoolName, SchoolAffinityURL
-- =============================================
CREATE PROCEDURE [dbo].[s_get_affinity_school_info]
(
     @SMI BIGINT = 0	
)
AS
 
    SET NOCOUNT ON

	 
	BEGIN
		SELECT AltName AS schoolName, affinityURL FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI		
		FOR JSON PATH
	END
GO
