/****** Object:  StoredProcedure [dbo].[Upsert_GradPack_Gallery_Details]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================

create PROCEDURE [dbo].[Upsert_GradPack_Gallery_Details]
	@bundle_parent_sku varchar(50),
    @bundle_child_title varchar (100),
    @bundle_child_title_desc varchar(200),
    @bundle_child_image_path varchar (200),
	@bundle_child_position int

	--@[dbo].[Magento_GradPack_Bundle_Details_Extended]
	
AS
BEGIN
    SET NOCOUNT ON;
	IF NOT EXISTS (SELECT * FROM [dbo].[Magento_GradPack_Bundle_Details_Extended] WHERE [bundle_parent_sku] = @bundle_parent_sku and [bundle_child_title] = @bundle_child_title )
		INSERT INTO [dbo].[Magento_GradPack_Bundle_Details_Extended]
					([bundle_parent_sku],
                    [bundle_child_title] ,
                    [bundle_child_title_desc] ,
                    [bundle_child_image_path] ,
	                [bundle_child_title_position],
					[created_at],
					[updated_at])
			VALUES
					(@bundle_parent_sku,
                     @bundle_child_title,
                     @bundle_child_title_desc ,
                     @bundle_child_image_path ,
	                 @bundle_child_position,
					 Getdate(),
					 Getdate() )
					 
	ELSE
		UPDATE [dbo].[Magento_GradPack_Bundle_Details_Extended]
		SET		
                    [bundle_child_title_desc]  = @bundle_child_title_desc,
                    [bundle_child_image_path]  = @bundle_child_image_path,
	                [bundle_child_title_position]    = @bundle_child_position,				
					[updated_at]               =Getdate() 

		WHERE
			( [bundle_parent_sku] = @bundle_parent_sku and [bundle_child_title] = @bundle_child_title )


    
END
GO
