/****** Object:  StoredProcedure [dbo].[s_data_feed_quote_item_to_silverpop]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 06/25/2020
-- Description: Data feed of quote item to Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_data_feed_quote_item_to_silverpop]  
(
	@CallAtADF BIT = 0
)
AS 
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @LastOneSent BIGINT
	
	DECLARE @ReportTemp TABLE(item_id bigint, quote_id int, created_at varchar(10), updated_at varchar(10), product_id int, parent_item_id int, sku varchar(MAX), name varchar(MAX), description varchar(MAX), qty int, price decimal(9,2), product_type varchar(MAX))

	SELECT @LastOneSent = CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSent' AND [major_id] = OBJECT_ID('quote_item')

	INSERT INTO @ReportTemp(item_id, quote_id, created_at, updated_at, product_id, parent_item_id, sku, name, description, qty, price, product_type)
	SELECT qi.[item_id],
	qi.[quote_id],
	FORMAT (qi.[created_at], 'MM/dd/yyyy') AS [created_at],
	FORMAT (qi.[updated_at], 'MM/dd/yyyy') AS [updated_at],
	qi.[product_id],
	qi.[parent_item_id],
	qi.[sku],
	qi.[name],
	qi.[description],
	CAST(qi.[qty] AS INT) AS qty,
	qi.[price],
	qi.[product_type]
 
	FROM quote_item qi	
	WHERE qi.quote_id NOT IN (SELECT quote_item_id FROM MAGE_sales_order_item)
	AND [Item_ID] > @LastOneSent 
	AND qi.created_at > GETDATE() - 60
	AND qi.quote_id IN (SELECT Entity_ID FROM quote WHERE ISNULL(items_count,0) > 0 AND customer_email IS NOT NULL 
	AND entity_id >  (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSent' AND [major_id] = OBJECT_ID('Quote'))
	)
	--------AND qi.quote_id IN (SELECT Entity_ID FROM quote WHERE created_at > GETDATE() - 60 AND items_count > 0 AND customer_email IS NOT NULL AND entity_id > 0) -- (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSent' AND [major_id] = OBJECT_ID('Quote')))

	SELECT * FROM @ReportTemp
	IF @CallAtADF = 1 
	BEGIN
		DECLARE @LastOneSentValue BIGINT
		SELECT @LastOneSentValue = MAX([item_id]) FROM @ReportTemp
		EXEC  s_update_extendedprop_on_table @TableName = 'quote_item', @AttribName='LastOneSent', @Value= @LastOneSentValue
	END
 
END

--	[s_data_feed_quote_item_to_silverpop]
GO
