/****** Object:  StoredProcedure [dbo].[s_get_content_sprocs_and_params]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03/30/2020
-- Description: Pulls a list of content sproc names and aliases
-- =============================================
CREATE PROCEDURE [dbo].[s_get_content_sprocs_and_params]
--EXEC [dbo].[s_get_content_sprocs_and_params]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	EXEC [dbo].[s_get_content_sprocs]

	EXEC [dbo].[s_get_content_sprocs_params]
END
GO
