/****** Object:  StoredProcedure [dbo].[s_update_SKUlists_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/13/2020 - ContentEdit.
*/
CREATE PROCEDURE [dbo].[s_update_SKUlists_record]
(
 @Description VARCHAR(MAX) = NULL
,@Enabled BIT = NULL
,@EndDate VARCHAR(30) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@Include BIT = NULL
,@Name VARCHAR(100) = NULL
,@StartDate VARCHAR(30) = NULL
,@SKUs VARCHAR(MAX) = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [SKULists].
--##RS1 The [ID] value of the inserted/updated record in the table [SKULists].
--EXEC s_update_SKUlists_record @ID=4, @SKUs = '131305,131518,131487,131304,131377,131492,131528,131380,131461,131524,130826,131269,131478,135997,131263,131515,131488,131570,131667,131701,131716,131709,131044,131262,131007,131522,130995,131169,131565,131000,131525,131568,130648,131559,131566,130989,130998,130913,130857,131059,134440,130810,131171,130646,131489,132203,131708,131058,131503,131036,131571,133688,131424,131243,131717,131416,131079,131564,131047,131039,131241,130917,131428,130814,131032,135318,130649,131435,130639,130643,130650,130653,130775,130807,130836,130839,130865,130870,130872,130874,130876,130880,130971,130981,130982,130983,130988,130997,131010,131011,131012,131015,131016,131023,131028,131035,131037,131045,131054,131057,131069,131070,131072,131073,131082,131085,131086,131092,131094,131095,131097,131098,131177,131199,131206,131209,131216,131220,131238,131253,131257,131259,131261,131266,131267,131285,131287,131288,131291,131294,131299,131301,131307,131309,131319,131321,131327,131333,131334,131336,131344,131349,131358,131360,131366,131387,131391,131394,131464,131465,131467,131468,131477,131484,131493,131509,131513,131514,131519,131520,131537,131540,131542,131554,131557,131560,131642,131696,131706,131723,131757,131759,131763,132357,133540,133560,133779,133863,133887,133986,134036,134177,134343,134386,134579,134581,134592,134683,134733,135016,135141,135166,135395,135491,136108'
--REFORM SKU's
IF @SKUs IS NOT NULL SET @SKUs = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@SKUs,CHAR(10),''), ' ',''),CHAR(11),''),CHAR(9),''),CHAR(13),'')
DECLARE @NewGUID VARCHAR(50)
IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [SKULists] ( [Name],[Include],[Enabled],[StartDate],[EndDate],[Description],[GUID])
       VALUES ( @Name,@Include,@Enabled,CASE WHEN ISNULL(@StartDate,'') <> '' THEN dbo.fn_DateTime_To_Zulu(CAST(@StartDate AS DATETIME)) ELSE NULL END,CASE WHEN ISNULL(@EndDate,'') <> '' THEN dbo.fn_DateTime_To_Zulu(CAST(@EndDate AS DATETIME)) ELSE NULL END,@Description,NEWID())
    SELECT @ID_Out = SCOPE_IDENTITY()
	IF @SKUs IS NOT NULL
		BEGIN
			SELECT @NewGUID = [GUID] FROM [dbo].[SKULists] WHERE [ID] = @ID_OUT
			INSERT INTO [dbo].[SKUListsDetails] ([SKUListGUID],[SKU])
			SELECT @NewGUID, [value]  FROM string_split(@SKUs,',')
		END
  END
ELSE
  BEGIN
    UPDATE [SKULists] SET
     [Name] = CASE WHEN @Name IS NULL THEN [Name] ELSE @Name END
    ,[Include] = CASE WHEN @Include IS NULL THEN [Include] ELSE @Include END
    ,[Enabled] = CASE WHEN @Enabled IS NULL THEN [Enabled] ELSE @Enabled END
    ,[StartDate] = CASE WHEN ISNULL(@StartDate,'') = '' THEN [StartDate] ELSE dbo.fn_DateTime_To_Zulu(CAST(@StartDate AS DATETIME)) END
    ,[EndDate] = CASE WHEN ISNULL(@EndDate,'') = '' THEN [EndDate] ELSE dbo.fn_DateTime_To_Zulu(CAST(@EndDate as DATETIME)) END
    ,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
     WHERE [ID] = @ID
    SELECT @ID_Out = @ID
	IF @SKUs IS NOT NULL
		BEGIN
			
			SELECT @NewGUID = [GUID] FROM [dbo].[SKULists] WHERE [ID] = @ID_OUT
			DELETE FROM [dbo].[SKUListsDetails] WHERE [SKUListGUID] = @NewGUID
			INSERT INTO [dbo].[SKUListsDetails] ([SKUListGUID],[SKU])
			SELECT @NewGUID, [value] FROM string_split(@SKUs,',')
		END
  END
DECLARE @Comma VARCHAR(1), @SKUListGUID VARCHAR(50)
SELECT @SKUs = '', @Comma = '', @SKUListGUID = [GUID] FROM [dbo].[SKULists] WHERE [ID] = @ID_Out
SELECT @SKUs = @SKUs + @Comma + CAST([SKU] AS VARCHAR(15)), @Comma = ',' FROM [dbo].[SKUListsDetails] WHERE [SKUListGUID] = @SKUListGUID
SELECT
 [Name]
,[Include]
,[Enabled]
,CASE WHEN [StartDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([StartDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [StartDate]
,CASE WHEN [EndDate] IS NULL THEN '' ELSE FORMAT(dbo.fn_DateTime_to_Central([EndDate]), 'MM/dd/yyyy hh:mm:ss tt') END AS [EndDate]
,[ID]
,[Description]
,[GUID]
,@SKUs as [SKUs]
FROM dbo.[SKULists]
WHERE [ID] = @ID_Out
GO
