/****** Object:  StoredProcedure [dbo].[s_import_ga_client_ids]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/20/2019
-- Description: sproc to pull in data from GA API client
-- =============================================
CREATE PROCEDURE [dbo].[s_import_ga_client_ids]
(
    @TSV [TSVTable] READONLY
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Max INT, @Loop INT, @Line VARCHAR(MAX), @Value VARCHAR(MAX), @ColNum INT, @MaxColNum INT, @RealColNum INT, @Insert NVARCHAR(MAX)
	DECLARE @Values TABLE ([Value] VARCHAR(MAX), [ColNum] INT IDENTITY(1,1))
	SELECT @Max = MAX([Loop]) FROM @TSV
	SET @Loop = 1
	WHILE @Loop <= @Max
		BEGIN
			SELECT @Line = [Line] FROM @TSV WHERE [Loop] = @Loop
			DELETE FROM @Values
			INSERT INTO @Values ([Value])
			SELECT [value] FROM STRING_SPLIT(@Line,CHAR(9))
			SELECT @ColNum = MIN([ColNum]), @MaxColNum = MAX([ColNum]), @RealColNum = 1, @Insert = '' FROM @Values
			WHILE @ColNum <= @MaxColNum
				BEGIN
					SELECT @Value = [Value] FROM @Values WHERE [ColNum] = @ColNum
					IF @RealColNum = 1 --Client_ID
						SET @Insert = 'VALUES (''' + LTRIM(RTRIM(@Value)) + ''''
					IF @RealColNum = 2 --Avg_Session_Duration
						SET @Insert = @Insert + ', ' + LTRIM(RTRIM(@Value))
					IF @RealColNum = 3 --Sessions
						SET @Insert = @Insert + ', ' + LTRIM(RTRIM(@Value))
					IF @RealColNum = 4 --Bounce_Rate
						SET @Insert = @Insert + ', ' + LTRIM(RTRIM(@Value))
					SET @ColNum = @ColNum + 1
					SET @RealColNum = @RealColNum + 1
				END
			SET @Insert = 'INSERT INTO [dbo].[GA_ClientIDs] ([Client_ID],[Avg_Session_Duration],[Sessions],[Bounce_Rate]) ' + @Insert + ')'

			EXEC sp_sqlexec @Insert
			SET @Loop = @Loop + 1
		END
    
END
GO
