/****** Object:  StoredProcedure [dbo].[s_get_arc_orders_records_new]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 7/9/2019 - TL
*
*********************************************************************************************************************************************************************************************
* NOTE THAT IF YOU CHANGE THE URL www.balfour.com/contemporary-announcements?smi= HERE YOU SHOULD ALSO CHANGE IT IN s_process_queue_gradpack_photo_vouchers AND s_requeue_photo_voucher_email
*********************************************************************************************************************************************************************************************
*/
CREATE PROCEDURE [dbo].[s_get_arc_orders_records_new]
(
	  @Order_Number BIGINT = NULL
	, @searchField VARCHAR(50) = '' --Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'ASC'
	, @sortField VARCHAR(50) = 'Order_Number'
	, @skip INT = 0 --The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ARC_Orders] if the parameter @Order_Number has a value or all records if null.
--##PD @Order_Number in [ARC_Orders].
--##RS1 One or all records from the table [ARC_Orders].

--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records_new @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=9, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Order_Bill_To_Full_Name', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='7-1-2019', @EndDate='10-9-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Order_Bill_To_Full_Name', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='7-1-2019', @EndDate='10-9-2019', @skip=1, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Sent_DTM', @sort = 'DESC', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='9-9-2019', @EndDate='10-9-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--EXEC s_get_arc_orders_records @Order_Number = 4876412

SET NOCOUNT ON
--Order_Number search overrides all search criteria
IF @Order_Number IS NOT NULL
	BEGIN
		SET @startDate = NULL
		SET @endDate = NULL
		SET @searchField = ''

		SELECT
			 [Order_Part_Number]
			,[Order_Quantity]
			,CAST([Order_Received_Date] as DATE) as [Order_Received_Date]
			,[Order_Void_Cancel_Date]
			,[Order_Number]
			,[Reference_Number]
			,[Order_Current_Status]
			,[Order_Student_Last_Name]
			,[Order_Student_First_Name]
			,[Order_Hold_Status]
			,[Order_Ship_To_Full_Name]
			,[Order_Ship_To_Address_1]
			,[Item_Code]
			,[Style_Code]
			,[Order_Email_Address]
			,[Order_Perm_Phone_2]
			,[Order_Perm_Add_State_Code]
			,[Order_Perm_Add_Zip_Code]
			,[Order_Perm_Add_City_Name]
			,[Order_Perm_Zip__4_Ext]
			,[Order_Perm_Zip_Extension]
			,[Order_Ship_To_Zip__4_Ext]
			,[Order_Ship_To_Zip_Ext]
			,[Order_Ship_To_Country]
			,[Order_Perm_Full_Name]
			,[Order_Perm_Address_1]
			,[Order_Perm_Phone_1]
			,[Order_Ship_To_Address_2]
			,[Order_Ship_To_Address_3]
			,[Order_Ship_To_Phone_1]
			,[Order_Ship_To_Phone_2]
			,[Order_Ship_To_State]
			,[Order_Ship_To_Zip_Code]
			,[Order_Bill_To_Full_Name]
			,[Order_Bill_To_Address_1]
			,[Order_Bill_To_Address_2]
			,[Order_Bill_To_City_Name]
			,[Order_Bill_To_State]
			,[Order_Bill_To_Zip_Code]
			,ISNULL([SMI],0) as [SMI]
			,'www.balfour.com/contemporary-announcements?smi=' + CAST(ISNULL([SMI],0) AS VARCHAR(15)) as [URL] 
			,ISNULL(GPT.[Code],'''') as [Voucher_Code]
			,GPT.[Sent_DTM] 
			,GPT.Silverpop_Response as [Svrp_Trans_ID]
			,X.Amount as [Voucher_Amount]
			,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN 'No' ELSE CAST(DATEPART(month,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(day,MSO.[created_at]) as VARCHAR(2)) + '-' + CAST(DATEPART(year,MSO.[created_at]) as VARCHAR(4)) END as [Redeemed_Date]
			,CASE WHEN ISNULL(MSO.[coupon_code],'') = '' THEN '' ELSE MSO.[increment_id] END as [Redeemed_OrderID]
			,'ARC' as [OrderSource]
			,1 as  RowNumber
			FROM [ARC_Orders] AO
			LEFT JOIN dbo.GradPackPhotoAnnounceTransactions GPT ON GPT.Order_ID = AO.Order_Number
			LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID
			LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON MSO.coupon_code = GPT.[Code]
			WHERE [Order_Number] = @Order_Number
			--AND [Order_Bill_To_Full_Name] LIKE ' + CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE '[Order_Bill_To_Full_Name]' END + N'
			--AND [Order_Bill_To_Address_1] LIKE ' + CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE '[Order_Bill_To_Address_1]' END + N'
			--AND [Order_Email_Address] LIKE ' + CASE WHEN @searchField = 'Order_Email_Address' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE '[Order_Email_Address]' END + N'
			AND ISNULL(GPT.[Overwritten_By],'') = ''
			--AND [Order_Received_Date] BETWEEN ''' + CAST(@startDate as VARCHAR(25)) + '''  AND ''' + CAST(@endDate as VARCHAR(25)) + N'''

	END
ELSE
	BEGIN

		IF @startDate IS NULL SET @startDate = '1-1-1900'
		IF @endDate IS NULL SET @endDate = DATEADD(d,1,GETDATE())

		SET @startDate = CAST(convert(varchar(10), @startDate, 101) as DATETIME)
		SET @endDate = CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME)

		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999

		SET @startRow = (@skip*@pageSize)+1
		SET @endrow = (@startRow+@pageSize)-1

		IF @sortField = '' SET @sortField = @searchField

		--Create a temp table because we will need to sort the results in the event that the sort field and search field are not the same
		CREATE TABLE #Results ([Order_Part_Number] INT, [Order_Quantity] INT, [Order_Received_Date] DATE, [Order_Void_Cancel_Date] DATETIME, [Order_Number] BIGINT, [Reference_Number] BIGINT
		,[Order_Current_Status] VARCHAR(2), [Order_Student_Last_Name] VARCHAR(50), [Order_Student_First_Name] VARCHAR(50), [Order_Hold_Status] VARCHAR(1), [Order_Ship_To_Full_Name] VARCHAR(30)
		,[Order_Ship_To_Address_1] VARCHAR(30), [Item_Code] VARCHAR(15), [Style_Code] VARCHAR(3), [Order_Email_Address] VARCHAR(200), [Order_Perm_Phone_2] VARCHAR(10), [Order_Perm_Add_State_Code] VARCHAR(2)
		,[Order_Perm_Add_Zip_Code] VARCHAR(5), [Order_Perm_Add_City_Name] VARCHAR(25), [Order_Perm_Zip__4_Ext] VARCHAR(4), [Order_Perm_Zip_Extension] VARCHAR(6), [Order_Ship_To_Zip__4_Ext] VARCHAR(4)
		,[Order_Ship_To_Zip_Ext] VARCHAR(6), [Order_Ship_To_Country] VARCHAR(10), [Order_Perm_Full_Name] VARCHAR(30), [Order_Perm_Address_1] VARCHAR(30), [Order_Perm_Phone_1] VARCHAR(10)
		,[Order_Ship_To_Address_2] VARCHAR(30), [Order_Ship_To_Address_3] VARCHAR(30), [Order_Ship_To_Phone_1] VARCHAR(10), [Order_Ship_To_Phone_2] VARCHAR(10), [Order_Ship_To_State] VARCHAR(2)
		,[Order_Ship_To_Zip_Code] VARCHAR(5), [Order_Bill_To_Full_Name] VARCHAR(50), [Order_Bill_To_Address_1] VARCHAR(50), [Order_Bill_To_Address_2] VARCHAR(50), [Order_Bill_To_City_Name] VARCHAR(55)
		,[Order_Bill_To_State] VARCHAR(2), [Order_Bill_To_Zip_Code] VARCHAR(5), [SMI] INT, [URL] VARCHAR(200), [Voucher_Code] VARCHAR(255), [Sent_DTM] DATETIME, [Svrp_Trans_ID] VARCHAR(500), [Voucher_Amount] MONEY
		,[Redeemed_Date] VARCHAR(15), [Redeemed_OrderID] VARCHAR(15), [RowNumber] INT
		)


		--Get the total count
		SELECT @totalRecords = COUNT(*) 
		FROM [ARC_Orders] AO
		LEFT JOIN dbo.GradPackPhotoAnnounceTransactions GPT ON GPT.Order_ID = AO.Order_Number
		LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID
		WHERE [Order_Number] = CASE WHEN @Order_Number IS NULL THEN [Order_Number] ELSE @Order_Number END
		AND [Order_Bill_To_Full_Name] LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Bill_To_Full_Name] END
		AND [Order_Bill_To_Address_1] LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Bill_To_Address_1] END
		AND [Order_Email_Address] LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + REPLACE(@searchTerm,' ','_') + '%' ELSE [Order_Email_Address] END
		AND ISNULL(GPT.[Overwritten_By],'') = ''
		AND [Order_Received_Date] BETWEEN @startDate AND @endDate
		--SELECT * FROM #Results

		DECLARE @TSQL NVARCHAR(MAX)


		SET @TSQL = N'
			; WITH SelectedRows AS (
			SELECT
			 [Order_Part_Number]
			,[Order_Quantity]
			,CAST([Order_Received_Date] as DATE) as [Order_Received_Date]
			,[Order_Void_Cancel_Date]
			,[Order_Number]
			,[Reference_Number]
			,[Order_Current_Status]
			,[Order_Student_Last_Name]
			,[Order_Student_First_Name]
			,[Order_Hold_Status]
			,[Order_Ship_To_Full_Name]
			,[Order_Ship_To_Address_1]
			,[Item_Code]
			,[Style_Code]
			,[Order_Email_Address]
			,[Order_Perm_Phone_2]
			,[Order_Perm_Add_State_Code]
			,[Order_Perm_Add_Zip_Code]
			,[Order_Perm_Add_City_Name]
			,[Order_Perm_Zip__4_Ext]
			,[Order_Perm_Zip_Extension]
			,[Order_Ship_To_Zip__4_Ext]
			,[Order_Ship_To_Zip_Ext]
			,[Order_Ship_To_Country]
			,[Order_Perm_Full_Name]
			,[Order_Perm_Address_1]
			,[Order_Perm_Phone_1]
			,[Order_Ship_To_Address_2]
			,[Order_Ship_To_Address_3]
			,[Order_Ship_To_Phone_1]
			,[Order_Ship_To_Phone_2]
			,[Order_Ship_To_State]
			,[Order_Ship_To_Zip_Code]
			,[Order_Bill_To_Full_Name]
			,[Order_Bill_To_Address_1]
			,[Order_Bill_To_Address_2]
			,[Order_Bill_To_City_Name]
			,[Order_Bill_To_State]
			,[Order_Bill_To_Zip_Code]
			,ISNULL([SMI],0) as [SMI]
			,''www.balfour.com/contemporary-announcements?smi='' + CAST(ISNULL([SMI],0) AS VARCHAR(15)) as [URL]
			,ISNULL(GPT.[Code],'''') as [Voucher_Code]
			,GPT.[Sent_DTM] 
			,GPT.Silverpop_Response as [Svrp_Trans_ID]
			,X.Amount as [Voucher_Amount]
			,CASE WHEN ISNULL(MSO.[coupon_code],'''') = '''' THEN ''No'' ELSE CAST(DATEPART(month,MSO.[created_at]) as VARCHAR(2)) + ''-'' + CAST(DATEPART(day,MSO.[created_at]) as VARCHAR(2)) + ''-'' + CAST(DATEPART(year,MSO.[created_at]) as VARCHAR(4)) END as [Redeemed_Date]
			,CASE WHEN ISNULL(MSO.[coupon_code],'''') = '''' THEN '''' ELSE MSO.[increment_id] END as [Redeemed_OrderID]
			,ROW_NUMBER() OVER (ORDER BY [' + @sortField + '] ' + @sort + N' ) as RowNumber
			FROM [ARC_Orders] AO
			LEFT JOIN dbo.GradPackPhotoAnnounceTransactions GPT ON GPT.Order_ID = AO.Order_Number
			LEFT JOIN dbo.[Amount_Rule_ARCItem_XRef] X on X.MAGE_Rule_ID = GPT.Rule_ID
			LEFT JOIN [dbo].[MAGE_Sales_Order] MSO ON MSO.coupon_code = GPT.[Code]
			WHERE [Order_Number] = ' + CASE WHEN @Order_Number IS NULL THEN '[Order_Number]' ELSE CAST(@Order_Number AS VARCHAR(15)) END + N'
			AND [Order_Bill_To_Full_Name] LIKE ' + CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE '[Order_Bill_To_Full_Name]' END + N'
			AND [Order_Bill_To_Address_1] LIKE ' + CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE '[Order_Bill_To_Address_1]' END + N'
			AND [Order_Email_Address] LIKE ' + CASE WHEN @searchField = 'Order_Email_Address' THEN '''%' + REPLACE(@searchTerm,' ','_') + '%''' ELSE '[Order_Email_Address]' END + N'
			AND ISNULL(GPT.[Overwritten_By],'''') = ''''
			AND [Order_Received_Date] BETWEEN ''' + CAST(@startDate as VARCHAR(25)) + '''  AND ''' + CAST(@endDate as VARCHAR(25)) + N'''

			UNION

			SELECT
			 1 as [Order_Part_Number]
			,I.qty_ordered as [Order_Quantity]
			,CAST(MO.[created_at] as DATE) as [Order_Received_Date]
			,NULL as [Order_Void_Cancel_Date]
			,MO.[Entity_ID] as [Order_Number]
			,0 as [Reference_Number]
			,'''' as [Order_Current_Status]
			,MO.[customer_lastname] as [Order_Student_Last_Name]
			,MO.[customer_firstname] as [Order_Student_First_Name]
			,'''' as [Order_Hold_Status]
			,LTRIM(RTRIM(MO.[customer_firstname] + '' '' + MO.[customer_lastname])) as [Order_Ship_To_Full_Name]
			,USA.[street] as [Order_Ship_To_Address_1]
			,CAST(Item_ID as VARCHAR(15)) as [Item_Code]
			,'''' as [Style_Code]
			,MO.[customer_email] as [Order_Email_Address]
			,'''' as [Order_Perm_Phone_2]
			,SA.[region] as [Order_Perm_Add_State_Code]
			,SA.[postcode] as [Order_Perm_Add_Zip_Code]
			,SA.[city] as [Order_Perm_Add_City_Name]
			,'''' as [Order_Perm_Zip__4_Ext]
			,'''' as [Order_Perm_Zip_Extension]
			,'''' as [Order_Ship_To_Zip__4_Ext]
			,'''' as [Order_Ship_To_Zip_Ext]
			,USA.country_id as  [Order_Ship_To_Country]
			,LTRIM(RTRIM(MO.[customer_firstname] + '' '' + MO.[customer_lastname])) as [Order_Perm_Full_Name]
			,SA.[street]as [Order_Perm_Address_1]
			,SA.telephone as [Order_Perm_Phone_1]
			,'''' as [Order_Ship_To_Address_2]
			,'''' as [Order_Ship_To_Address_3]
			,USA.telephone as [Order_Ship_To_Phone_1]
			,'''' as [Order_Ship_To_Phone_2]
			,USA.[region] as [Order_Ship_To_State]
			,USA.[postcode] as [Order_Ship_To_Zip_Code]
			,LTRIM(RTRIM(MO.[customer_firstname] + '' '' + MO.[customer_lastname])) as [Order_Bill_To_Full_Name]
			,SA.street as [Order_Bill_To_Address_1]
			,'''' as [Order_Bill_To_Address_2]
			,SA.city as [Order_Bill_To_City_Name]
			,SA.region as [Order_Bill_To_State]
			,SA.postcode as [Order_Bill_To_Zip_Code]
			,null as [SMI]
			,''''  as [URL] 
			,ISNULL(C.[Code],'''') as [Voucher_Code]
			,C.[Issued_DTM] as  [Sent_DTM]
			,Q.SilverpopTrans  as [Svrp_Trans_ID]
			,C.[Value] as [Voucher_Amount]
			,CASE WHEN C.Used IS NULL THEN ''No'' ELSE CAST(DATEPART(month,C.[used]) as VARCHAR(2)) + ''-'' + CAST(DATEPART(day,C.[used]) as VARCHAR(2)) + ''-'' + CAST(DATEPART(year,C.[used]) as VARCHAR(4)) END as [Redeemed_Date]
			,''''  as [Redeemed_OrderID]
			,''MAG'' as [OrderSource]
			,1 as  RowNumber
			FROM [dbo].[MAGE_sales_order_item] I 
			LEFT JOIN [Mage_Sales_Order] MO ON I.order_id = MO.entity_id 
			LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(MO.Entity_ID as VARCHAR(50))
			LEFT JOIN [dbo].[MAGEsales_order_address] USA ON USA.entity_id = MO.[shipping_address_id]
			LEFT JOIN [dbo].[MAGEsales_order_address] SA ON SA.entity_id = MO.[shipping_address_id]
			LEFT JOIN [dbo].[EmailJobs_Queue] Q ON Q.ID = C.[EmailJobs_Queue_ID]
			
			WHERE I.[sku] = ''A0212429A0000''
			AND [created_at] BETWEEN ''' + CAST(@startDate as VARCHAR(25)) + '''  AND ''' + CAST(@endDate as VARCHAR(25)) + N'''


			)
			INSERT INTO #Results
			SELECT * FROM SelectedRows WHERE RowNumber between ' + CAST(@startRow AS VARCHAR(15)) + ' AND ' + CAST(@endRow AS VARCHAR(15)) 
		PRINT 'Length = ' + CAST(LEN(@TSQL) AS VARCHAR(15))
		PRINT @TSQL
		--ORDER BY @sortField ASC

		EXEC sp_sqlexec @TSQL
		SELECT * FROM #Results ORDER BY RowNumber
		DROP TABLE #Results
	END


--IF @sort = 'ASC'
--	SET @TSQL = N'
--	SELECT 
--	 [Order_Part_Number]
--	,[Order_Quantity]
--	,[Order_Received_Date]
--	,[Order_Void_Cancel_Date]
--	,[Order_Number]
--	,[Reference_Number]
--	,[Order_Current_Status]
--	,[Order_Student_Last_Name]
--	,[Order_Student_First_Name]
--	,[Order_Hold_Status]
--	,[Order_Ship_To_Full_Name]
--	,[Order_Ship_To_Address_1]
--	,[Item_Code]
--	,[Style_Code]
--	,[Order_Email_Address]
--	,[Order_Perm_Phone_2]
--	,[Order_Perm_Add_State_Code]
--	,[Order_Perm_Add_Zip_Code]
--	,[Order_Perm_Add_City_Name]
--	,[Order_Perm_Zip__4_Ext]
--	,[Order_Perm_Zip_Extension]
--	,[Order_Ship_To_Zip__4_Ext]
--	,[Order_Ship_To_Zip_Ext]
--	,[Order_Ship_To_Country]
--	,[Order_Perm_Full_Name]
--	,[Order_Perm_Address_1]
--	,[Order_Perm_Phone_1]
--	,[Order_Ship_To_Address_2]
--	,[Order_Ship_To_Address_3]
--	,[Order_Ship_To_Phone_1]
--	,[Order_Ship_To_Phone_2]
--	,[Order_Ship_To_State]
--	,[Order_Ship_To_Zip_Code]
--	,[Order_Bill_To_Full_Name]
--	,[Order_Bill_To_Address_1]
--	,[Order_Bill_To_Address_2]
--	,[Order_Bill_To_City_Name]
--	,[Order_Bill_To_State]
--	,[Order_Bill_To_Zip_Code]
--	,[Voucher_Code]
--	,[Email_Sent]
--	,[Svrp_Trans_ID]
--	,[Voucher_Amount]
--	,[RowNumber]
--	FROM #Results
--	ORDER BY [RowNumber]'--[' + @sortField + ']'
--ELSE
--	SET @TSQL = N'
--	SELECT 
--	 [Order_Part_Number]
--	,[Order_Quantity]
--	,[Order_Received_Date]
--	,[Order_Void_Cancel_Date]
--	,[Order_Number]
--	,[Reference_Number]
--	,[Order_Current_Status]
--	,[Order_Student_Last_Name]
--	,[Order_Student_First_Name]
--	,[Order_Hold_Status]
--	,[Order_Ship_To_Full_Name]
--	,[Order_Ship_To_Address_1]
--	,[Item_Code]
--	,[Style_Code]
--	,[Order_Email_Address]
--	,[Order_Perm_Phone_2]
--	,[Order_Perm_Add_State_Code]
--	,[Order_Perm_Add_Zip_Code]
--	,[Order_Perm_Add_City_Name]
--	,[Order_Perm_Zip__4_Ext]
--	,[Order_Perm_Zip_Extension]
--	,[Order_Ship_To_Zip__4_Ext]
--	,[Order_Ship_To_Zip_Ext]
--	,[Order_Ship_To_Country]
--	,[Order_Perm_Full_Name]
--	,[Order_Perm_Address_1]
--	,[Order_Perm_Phone_1]
--	,[Order_Ship_To_Address_2]
--	,[Order_Ship_To_Address_3]
--	,[Order_Ship_To_Phone_1]
--	,[Order_Ship_To_Phone_2]
--	,[Order_Ship_To_State]
--	,[Order_Ship_To_Zip_Code]
--	,[Order_Bill_To_Full_Name]
--	,[Order_Bill_To_Address_1]
--	,[Order_Bill_To_Address_2]
--	,[Order_Bill_To_City_Name]
--	,[Order_Bill_To_State]
--	,[Order_Bill_To_Zip_Code]
--	,[Voucher_Code]
--	,[Email_Sent]
--	,[Svrp_Trans_ID]
--	,[Voucher_Amount]
--	,[RowNumber]
--	FROM #Results
--	ORDER BY [RowNumber] DESC' --[' + @sortField + '] DESC'
--EXEC sp_sqlexec @TSQL


GO
