/****** Object:  StoredProcedure [dbo].[s_get_CSIC_items]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Suresh Sivakumar
-- Create Date: 11/30/2022
-- Description: Balfour Cart page Cross sell update
-- Changes: BAS-7348 Cross sell changes
-- =============================================
CREATE PROCEDURE [dbo].[s_get_CSIC_items]
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = NULL,
   @debug BIT = 0
)
AS
BEGIN
	DECLARE @SKUType TABLE([isType] varchar(250))
	DECLARE @SplittedSKUS TABLE([splittedSKUS] varchar(250))
	DECLARE @isOffGrad varchar(100)
	DECLARE @isGradPhoto varchar(100)

    SET NOCOUNT ON

	INSERT INTO @SplittedSKUS(splittedSKUS)
	SELECT 
		CASE 
			WHEN LEN(LEFT(value, CHARINDEX('|', value) - 1)) <= 8 
				THEN LEFT(value, CHARINDEX('|', value) - 1) + 'A0000'
			ELSE LEFT(value, CHARINDEX('|', value) - 1)
		END
	FROM string_split(@skus, ',')
	WHERE CHARINDEX('https:', value) = 0;

	INSERT INTO @SKUType (isType)
	SELECT station_type
	FROM magento_announcement_type
	WHERE SKU in (select splittedSKUS from @SplittedSKUS)

	select @isGradPhoto = count(*) from @SKUType where isType  = 'Graduation Photo Announcements'
	select @isOffGrad = count(*) from @SKUType where isType = 'Official Graduation Announcements'
	
if CHARINDEX('131662', @skus) = 0
	begin	
	if(@isGradPhoto > 0 and @isOffGrad > 0)
		begin
			
			--'Both new Product sets'
			select a.[imageurl], a.[url], a.[SKU], a.[product name], a.[price], a.[wasprice], a.[Class], 'configurable' as [Product Type] ,'standard' as config_type from 
			(select [imageurl], [url], [SKU], [product name], [price], [wasprice], [Class], ROW_NUMBER() 
			over(partition by sku order by sortorder desc) rn from YMALDefaults) a 
			JOIN magento_automated_product_dataset p on a.SKU = p.SKU
			where rn = 1 and Class in (1,2,3,4) order by Class desc
		end

	else if( @isOffGrad > 0)
		begin
			
			--'Off Grad'
			select a.[imageurl], a.[url], a.[SKU], a.[product name], a.[price], a.[wasprice], a.[Class], 'configurable' as [Product Type] ,'standard' as config_type from 
			(select [imageurl], [url], [SKU], [product name], [price], [wasprice], [Class], ROW_NUMBER() 
			over(partition by sku order by sortorder desc) rn from YMALDefaults) a 
			JOIN magento_automated_product_dataset p on a.SKU = p.SKU
			where rn = 1 and Class in (1,2,3) order by Class desc
		end

	else if(@isGradPhoto > 0)
		begin
			
			--'Grad Photo'
			select a.[imageurl], a.[url], a.[SKU], a.[product name], a.[price], a.[wasprice], a.[Class], 'configurable' as [Product Type] ,'standard' as config_type from 
			(select [imageurl], [url], [SKU], [product name], [price], [wasprice], [Class], ROW_NUMBER() 
			over(partition by sku order by sortorder desc) rn from YMALDefaults) a 
			JOIN magento_automated_product_dataset p on a.SKU = p.SKU
			where rn = 1 and Class in (4,2,1) order by Class desc
		end

	else
		begin
			
			--'All'
			select a.[imageurl], a.[url], a.[SKU], a.[product name], a.[price], a.[wasprice], a.[Class], 'configurable' as [Product Type] ,'standard' as config_type from 
			(select [imageurl], [url], [SKU], [product name], [price], [wasprice], [Class], ROW_NUMBER() 
			over(partition by sku order by sortorder desc) rn from YMALDefaults) a 
			JOIN magento_automated_product_dataset p on a.SKU = p.SKU
			where rn = 1 and Class in (1,2) order by Class desc
		end	
	end
END
GO
