/****** Object:  StoredProcedure [dbo].[s_get_smi_json]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_get_smi_json]
AS
--EXEC s_get_smi_json
SET NOCOUNT ON
SELECT [ID] AS [smi]
      ,[name]
      ,[School City] as [city]
      ,[School State] as [state]
  FROM [dbo].[SMISchoolMasterIndexList] 
  ORDER BY [Name] FOR JSON PATH
GO
