/****** Object:  StoredProcedure [dbo].[s_get_main_nav_old]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09/16/2020
-- Description: Returns the HTML for various main nav partial views
-- =============================================
CREATE PROCEDURE [dbo].[s_get_main_nav_old]
(
	 @GUID VARCHAR(50) = ''
	,@Status TINYINT = 0
	,@CallingSite VARCHAR(300) = ''
)
AS
--EXEC [dbo].[s_get_main_nav]
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	IF @GUID = '' -- Use status
		BEGIN
			SELECT TOP 1 @GUID = [GUID] FROM [dbo].[ContentMainNav] WHERE [Status] = @Status
			ORDER BY [ID] DESC
			PRINT 'GUID = ' + @GUID
		END
    SELECT
		 ISNULL([_mainNavMobileCarousel],'') as [_mainNavMobileCarousel]
		,ISNULL([_mainNavMobileMenu],'') as [_mainNavMobileMenu]
		,ISNULL([_schoolShopBox],'') as [_schoolShopBox]
		,ISNULL([mainNavBrands],'') as [mainNavBrands]
		,ISNULL([mainNavGraduation],'') as [mainNavGraduation]
		,ISNULL([mainNavRings],'') as [mainNavRings]
		,ISNULL([mainNavTeams],'') as [mainNavTeams]
		,ISNULL([mainNavUpperHeader],'') as [mainNavUpperHeader]
		,ISNULL([mainNavYearbooks],'') as [mainNavYearbooks]
		,ISNULL([mobileNavBrands],'') as [mobileNavBrands]
		,ISNULL([mobileNavGraduation],'') as [mobileNavGraduation]
		,ISNULL([mobileNavRings],'') as [mobileNavRings]
		,ISNULL([mobileNavSchoolsearch],'') as [mobileNavSchoolsearch]
		,ISNULL([mobileNavTeams],'') as [mobileNavTeams]
		,ISNULL([mobileNavYearbooks],'') as [mobileNavYearbooks]
		,ISNULL([mobileNavShopAll],'') as [mobileNavShopAll]
		,ISNULL([seasonalLinkOne],'') as [seasonalLinkOne]
		,ISNULL([seasonalLinkTwo],'') as [seasonalLinkTwo]
		,ISNULL([alertPromoBar],'') as [alertPromoBar]
		,ISNULL([_shopAllResponsiveLinks],'') as [_shopAllResponsiveLinks]
		FROM [dbo].[ContentMainNav]
		WHERE [GUID] = CASE WHEN @GUID = '' THEN [GUID] ELSE @GUID END
		FOR JSON PATH
END
GO
