/****** Object:  StoredProcedure [dbo].[s_normalize_magento_automated_product_dataset_artcarved]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 05/21/2020
-- =============================================
CREATE PROCEDURE [dbo].[s_normalize_magento_automated_product_dataset_artcarved]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    --***************************************** Thia takes about 20 minutes to complete **********************************************************
 
	UPDATE  [dbo].[magento_automated_product_dataset_artcarved_import] SET [SKU] = NULL WHERE [SKU] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_artcarved_import] SET [UC ID] = NULL WHERE [UC ID] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_artcarved_import] SET [Product_collection] = NULL WHERE [product_collection] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_artcarved_import] SET [Category] = NULL WHERE [category] = '\N'
	UPDATE  [dbo].[magento_automated_product_dataset_artcarved_import] SET [ParentSKU] = LEFT(ISNULL(SKU,''),8)
	 
	 
	DECLARE @Max INT, @ID INT, @Product_ID FLOAT, @Val VARCHAR(255), @OrigCnt INT
	 
	 
	SELECT @OrigCnt = COUNT(*) FROM [dbo].[magento_automated_product_dataset_artcarved]
 
	SELECT @Max = COUNT(*) FROM magento_automated_product_dataset_artcarved_import
	IF @Max >= @OrigCnt
		BEGIN
			TRUNCATE TABLE [dbo].[magento_automated_product_dataset_artcarved]
			INSERT INTO [dbo].[magento_automated_product_dataset_artcarved] ([Product ID], [SKU], [ParentSKU],[Product Name], [Product Type], [Attribute Set], [Category], [Retail Price], [Special Price (% for bundles)], [Quantity in Stock], [Stock maintenance], [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On])		
			SELECT [Product ID], [SKU], [ParentSKU], [Product Name], [Product Type], [Attribute Set], [Category], [Retail Price], [Special Price (% for bundles)], [Quantity in Stock], [Stock maintenance],   [UC ID], [Delivery Method], [product_collection], [Visibility], [Status], [Created On], [Updated On]
			FROM [dbo].magento_automated_product_dataset_artcarved_import

			TRUNCATE TABLE dbo.magento_automated_product_dataset_artcarved_import
 
			UPDATE [dbo].[magento_automated_product_dataset_artcarved]
			--SELECT p.parentSKU, I.itemID
			SET [ItemID] = i.ItemID
			FROM [dbo].[magento_automated_product_dataset_artcarved] p
			LEFT JOIN [dbo].[itemattributesimages] i ON i.SKU = P.ParentSKU

			UPDATE magento_automated_product_dataset_artcarved SET is_Licensed = CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
			--SELECT parentsku ,CASE WHEN ia.tagvalue = 'Yes' THEN 1 ELSE 0 END
			FROM itemattributes ia
			LEFT JOIN magento_automated_product_dataset_artcarved p on p.ItemID = ia.itemid
			WHERE ia.tagtype = 'a_licensed'
			UPDATE magento_automated_product_dataset_artcarved SET is_Licensed = 0 WHERE is_licensed IS NULL

			
		END  
END
GO
