/****** Object:  StoredProcedure [dbo].[s_get_marketingadminroleid]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 12/18/2019 - HAN
*/
CREATE PROCEDURE [dbo].[s_get_marketingadminroleid] -- [s_get_marketingadminroleid] @email = 'Test@balfour.com'
( 
	@email VARCHAR(100) = '' 
	 
)
AS
--Retrieve Role ID by Email
SET NOCOUNT ON
--Setting a key value overrides everything else
BEGIN
	SELECT  UserRoleGUID 
	FROM dbo.MarketingAdminUsers 
	WHERE [EmailAddress] = CASE WHEN @email <> '' THEN @email ELSE 'NOTVALID' END	 
 
END
GO
