/****** Object:  StoredProcedure [dbo].[s_can_school_purchase_sku]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09-11-2020
-- Description: Used to test and debug Fetch Content
-- =============================================
CREATE PROCEDURE [dbo].[s_can_school_purchase_sku]
(
    @SMI BIGINT = 0
   ,@SKU VARCHAR(100) = ''
   ,@smiProductCollections VARCHAR(MAX) = ''
   ,@skuProductCollections VARCHAR(MAX) = ''
)
AS
--EXEC s_can_school_purchase_sku @SMI = 72695, @SKU = 'A0068455A0000' --Use what is in the marketing database and get a 'true' result
--EXEC s_can_school_purchase_sku @SMI = 72695, @SKU = 'A0068455A0000', @smiProductCollections = 'BalProdColl_EA,BalProdColl_EA_NCAA,BalProdColl_FunPatchBackpack,BalProdColl_HSAnn,BalProdColl_HSRings,BalProdColl_HSGradProd,BalProdColl_Letterman,BalProdColl_Rokkitwear,BalProdColl_UIL,BalProdColl_Yearbook,BalProdColl_Journey,BalProdColl_LizJames,BalProdColl_ContStationery,BalProdColl_KSBalfourHS,BalProdColl_UnivCollHS' --Override the product collection for the SMI and get a 'true' result
--EXEC s_can_school_purchase_sku @SMI = 72695, @SKU = 'A0068455A0000', @skuProductCollections='BalProdColl_HSGradProdRep' --Override the collections for the product and get a 'false' result
--EXEC s_can_school_purchase_sku @SMI = 72695, @SKU = 'A0068455A0000', @smiProductCollections = 'BalProdColl_EA,BalProdColl_EA_NCAA,BalProdColl_FunPatchBackpack,BalProdColl_HSAnn,BalProdColl_HSRings,BalProdColl_HSGradProd,BalProdColl_Letterman,BalProdColl_Rokkitwear,BalProdColl_UIL,BalProdColl_Yearbook,BalProdColl_Journey,BalProdColl_LizJames,BalProdColl_ContStationery,BalProdColl_KSBalfourHS,BalProdColl_UnivCollHS', @skuProductCollections='BalProdColl_HSGradProdRep' --Override both with no overlap and get a 'false' result
--EXEC s_can_school_purchase_sku @SMI = 72695, @SKU = 'A0068455A0000', @smiProductCollections = 'BalProdColl_EA,BalProdColl_EA_NCAA,BalProdColl_FunPatchBackpack,BalProdColl_HSAnn,BalProdColl_HSRings,BalProdColl_HSGradProd,BalProdColl_Letterman,BalProdColl_Rokkitwear,BalProdColl_UIL,BalProdColl_Yearbook,BalProdColl_Journey,BalProdColl_LizJames,BalProdColl_ContStationery,BalProdColl_KSBalfourHS,BalProdColl_UnivCollHS', @skuProductCollections='BalProdColl_HSGradProdRep,BalProdColl_KSBalfourHS' --Override both with overlap and get a 'true' result

BEGIN

	--@Dummy will be SMI~SKU
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @Result VARCHAR(MAX),  @Found BIT, @Loop INT, @Max INT, @Coll VARCHAR(50)
	
	IF @skuProductCollections = '' AND @smiProductCollections <> ''
		BEGIN
			PRINT 'dbo.fn_InSKUCollection(''' + @SKU + ''',''' + @smiProductCollections + ''')'
			SELECT @Found = dbo.fn_InSKUCollection(@SKU,@smiProductCollections)
		END
	ELSE
		BEGIN
			IF @skuProductCollections <> '' AND @smiProductCollections = ''
				BEGIN
					PRINT 'dbo.fn_InCollection(' + CAST(@SMI AS VARCHAR(15)) + ',''' + @skuProductCollections + ''')'
					SELECT @Found = dbo.fn_InCollection(@SMI,@skuProductCollections)
				END
			ELSE
				BEGIN --May both be empty or both populated
					
					IF @skuProductCollections = '' 
						--Get @Collection from the SKU
						SELECT @skuProductCollections = [product_collection] FROM [dbo].[magento_automated_product_dataset] WHERE [SKU] = @SKU
					ELSE PRINT 'Using what was passed in as @skuProductCollections - ' + @skuProductCollections
					
					IF @smiProductCollections = ''
						SELECT @smiProductCollections = [ProductCollections] FROM [dbo].[School_URL_Master] WHERE [SMI] = @SMI 
					ELSE PRINT 'Using what was passed in as @smiProductCollections - ' + @smiProductCollections
					
					IF LTRIM(RTRIM(@skuProductCollections)) <> ''
						BEGIN

							DECLARE @PC TABLE ([Coll] NVARCHAR(50), [Loop] INT IDENTITY(1,1))
	
							INSERT INTO @PC ([Coll])
							SELECT * FROM string_split(@skuProductCollections,',')
							--SELECT * FROM @PC
	
							--Loop through the temp table and see if any of the product collections parameter exist in the product
							SELECT @Max = MAX([Loop]), @Loop = 1 FROM @PC
							WHILE @Loop <= @Max
								BEGIN
									SELECT @Coll = '%' + [Coll] + '%' FROM @PC WHERE [Loop] = @Loop
									PRINT '''' + @smiProductCollections + ''' LIKE ''' + @Coll + ''''
									IF @smiProductCollections LIKE @Coll
										BEGIN
											SET @Found = 1
											SET @Loop = @Max + 1
										END
									SET @Loop = @Loop + 1
								END
						END
						
					ELSE
						SET @Found = 0
				END
		END

	
	IF @Found = 1 SELECT 'true'
	ELSE
		BEGIN
			IF EXISTS (
						SELECT TOP 1 * FROM magento_automated_product_dataset p
						INNER JOIN view_Product_Included_SMI I ON I.[SKU] = P.[SKU] AND I.Included_SMI = @SMI
						WHERE P.[Sku] =  @SKU
					 )
				SELECT 'true'
			ELSE
				SELECT'false'
		END
END
GO
