/****** Object:  StoredProcedure [dbo].[s_delete_marketingadminusers_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 12/4/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_marketingadminusers_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [MarketingAdminUsers].
--##PD @ID in [MarketingAdminUsers].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [MarketingAdminUsers] WHERE [ID] = @ID



GO
