/****** Object:  StoredProcedure [dbo].[s_report_photobook_orders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/17/2020
-- Description: Sends an internal photo book voucher report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_photobook_orders]
(
	@Emails VARCHAR(1000) = 'eudora.choi@balfour.com'
)
AS 
--EXEC s_report_photobook_orders
--EXEC s_report_photobook_orders @Emails=''
--EXEC s_report_photobook_orders @Emails = 'wecrooks@crooksfamily.net'
--EXEC s_report_photobook_orders @Emails = 'william.crooks@balfour.com'
--EXEC s_report_photobook_orders @Emails = 'eudora.choi@balfour.com'
--EXEC s_report_photobook_orders @Emails = 'eudora.choi@balfour.com;william.crooks@balfour.com;eudora.choi@gmail.com;tl@crooksfamily.net'
--Check the email queue table
--SELECT TOP 10 * FROM dbo.EmailJobs_Queue WHERE [Email_Name] LIKE '%report%' ORDER BY ID DESC
SET NOCOUNT ON
/*
You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
you can get the rows in the correct order.
*/
CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
/*
You will need the header row.  Separate the columns with the tab (CHAR(9)) character.
*/
INSERT INTO #ReportTemp ([row])
SELECT 'Order Date' + CHAR(9) + 'Order ID' + CHAR(9) + 'Customer ID' + CHAR(9) + 'Currency Code' + CHAR(9) + 'Product ID' + CHAR(9) + 'SKU' + CHAR(9) +
       'Name' + CHAR(9) +  'Code Issued' + CHAR(9) +  'Qty Ordered' + CHAR(9) + 'Price' + CHAR(9) + 'Base Price' + CHAR(9) + 'Original Price' + CHAR(9) +
	   'Tax Percent' + CHAR(9) + 'Tax Amount' + CHAR(9) + 'Tax Invoiced' + CHAR(9) + 'Price Including Tax' + CHAR(9) + 'Ship Street' + CHAR(9) +
	   'Ship City' + CHAR(9) +  'Ship State' + CHAR(9) + 'Ship Zip' + CHAR(9) +
	   'Used Order Date' + CHAR(9) + 'Used Order ID' + CHAR(9) + 'Used Customer ID' + CHAR(9) + 'Used Currency Code' + CHAR(9) +
	   'Used Ship Street' + CHAR(9) +
	   'Used Ship City' + CHAR(9) +  'Used Ship State' + CHAR(9) + 'Used Ship Zip'
/*
Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(9)) between then.  Be careful not to allow
any NULL values as that will cause the entire string (row) to be NULL.
*/
INSERT INTO #ReportTemp ([row])
SELECT CAST(dbo.fn_DateTime_To_Central(O.[created_at]) as VARCHAR(50)) + CHAR(9) +
       CAST(O.[entity_id] as VARCHAR(15)) + CHAR(9) + 
       CASE WHEN O.[Customer_id] IS NULL THEN '' ELSE CAST(O.[customer_id] as VARCHAR(15)) END + CHAR(9) + 
	   ISNULL(O.[base_currency_code],'') + CHAR(9) + 
	   CAST(I.product_id as VARCHAR(15)) + CHAR(9) + 
	   I.SKU + CHAR(9) + 
	   I.Name + CHAR(9) +
	   C.[Code] + CHAR(9) + 
	   CAST(I.[qty_ordered] AS VARCHAR(15)) + CHAR(9) +
	   CAST(I.[price] AS VARCHAR(15)) + CHAR(9) + 
	   CAST(I.[base_price] as VARCHAR(15)) + CHAR(9) + 
	   CAST(I.[original_price] as VARCHAR(15)) + CHAR(9) + 
	   CAST(I.[tax_percent] as VARCHAR(15)) + CHAR(9) + 
	   CAST(I.[tax_amount] as VARCHAR(15)) + CHAR(9) + 
	   CAST(I.[tax_invoiced] as VARCHAR(15)) + CHAR(9) + 
	   CAST(I.[price_incl_tax] as VARCHAR(15)) + CHAR(9) + 
	   LTRIM(RTRIM(ISNULL(SA.[street],''))) + CHAR(9) +
	   LTRIM(RTRIM(ISNULL(SA.[city],''))) + CHAR(9) + 
	   LTRIM(RTRIM(ISNULL(SA.[region],''))) + CHAR(9) + 
	   LTRIM(RTRIM(ISNULL(SA.[postcode],''))) + CHAR(9) +

	   CASE WHEN UO.[created_at] IS NOT NULL THEN CAST(dbo.fn_DateTime_To_Central(UO.[created_at]) as VARCHAR(50)) ELSE '' END + CHAR(9) +
	   CASE WHEN UO.[entity_id] IS NOT NULL THEN CAST(UO.[entity_id] as VARCHAR(15)) ELSE '' END + CHAR(9) + 
	   CASE WHEN UO.[Customer_id] IS NULL THEN '' ELSE CAST(UO.[customer_id] as VARCHAR(15)) END + CHAR(9) + 
	   ISNULL(UO.[base_currency_code],'') + CHAR(9) +
	   LTRIM(RTRIM(ISNULL(USA.[street],''))) + CHAR(9) +
	   LTRIM(RTRIM(ISNULL(USA.[city],''))) + CHAR(9) + 
	   LTRIM(RTRIM(ISNULL(USA.[region],''))) + CHAR(9) + 
	   LTRIM(RTRIM(ISNULL(USA.[postcode],''))) 

  FROM [dbo].[MAGE_Sales_Order] O
  LEFT JOIN [dbo].[MAGE_sales_order_item] I ON I.order_id = O.entity_id AND I.SKU = 'A0212429A0000'
  LEFT JOIN [dbo].[CouponCodesIssued] C ON C.[Key_Value] = CAST(O.Entity_ID as VARCHAR(50))
  LEFT JOIN [dbo].[MAGEsales_order_address] SA ON SA.entity_id = O.[shipping_address_id]
  LEFT JOIN [dbo].[MAGE_Sales_Order] UO ON UO.[coupon_code] = C.[Code]
  LEFT JOIN [dbo].[MAGEsales_order_address] USA ON USA.entity_id = UO.[shipping_address_id]
  WHERE O.entity_id IN 
  (SELECT CAST(Key_Value as INT) FROM [dbo].[CouponCodesIssued])

/*
Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
*/
DECLARE @File VARCHAR(MAX)
SET @File = ''
/*
Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
a LF (CHAR(10)).  Make sure to order by your identity column.
*/
SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
FROM #ReportTemp
ORDER BY [rownum]


/*For debugging purposes.*/
--SELECT @File

/*
Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
*/
IF ISNULL(@Emails,'') <> ''
	BEGIN
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'Photo Book Orders' /*Description of the queue entry.*/
		,@Emails /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
		,'{"cc":"","bcc":"","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"Photo Book Report","body":"The photo book voucher report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'PhotoBookReport.txt' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
	END
/*For debugging purposes.*/
--SELECT SCOPE_IDENTITY()
SELECT * FROM #ReportTemp

DROP TABLE #ReportTemp
GO
