/****** Object:  StoredProcedure [dbo].[s_update_SQLLog]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- TL
-- 09-03-2019
-- Description: Writes an entry to the SQLLog table
-- =============================================
CREATE PROCEDURE [dbo].[s_update_SQLLog]
(
     @Key_Value VARCHAR(100) = ''
	,@Data VARCHAR(MAX) = ''
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    INSERT INTO dbo.[SQLLog] ([Key_Value],[Data]) VALUES (@Key_Value,@Data)
END
GO
