/****** Object:  StoredProcedure [dbo].[balfour_ring_events_SP]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[balfour_ring_events_SP]
(
@event_id nvarchar(255),
@smi nvarchar(255),
@school_code nvarchar(255),
@start_date nvarchar(255),
@end_date nvarchar(255),
@event_date nvarchar(255),
@created_at nvarchar(255),
@updated_at nvarchar(255) ,
@delivery_message nvarchar(max),
@use_in_pdp nvarchar(max) ,
@update_at_table nvarchar(max)
)
AS
BEGIN
    SET NOCOUNT ON
	IF EXISTS(SELECT * FROM [dbo].[balfour_ring_events] WHERE event_id=@event_id and smi=@smi)
	UPDATE [dbo].[balfour_ring_events]
	SET event_id=@event_id,smi=@smi,school_code=@school_code,start_date=@start_date,end_date=@end_date,event_date=@event_date,created_at=@created_at,updated_at=@updated_at,delivery_message=@delivery_message,use_in_pdp=@use_in_pdp,update_at_table=@update_at_table
	 WHERE smi=@smi and event_id=@event_id
ELSE
    INSERT INTO [dbo].[balfour_ring_events] (event_id,smi,school_code,start_date,end_date,event_date,created_at,updated_at,delivery_message,use_in_pdp,update_at_table)
	VALUES (@event_id,@smi,@school_code,@start_date,@end_date,@event_date,@created_at,@updated_at,@delivery_message,@use_in_pdp,@update_at_table)
END
GO
