/****** Object:  StoredProcedure [dbo].[s_get_school_data]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09/16/2020
-- Description: Pulls a short list of data for a school (SMI)
-- =============================================
CREATE PROCEDURE [dbo].[s_get_school_data]
(
   @SMI BIGINT = 0
)
--EXEC s_get_school_data @SMI = 130996
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @HamburgerLinks TABLE ([Link] VARCHAR(200), [SortOrder] INT IDENTITY(1,1))
	INSERT INTO @HamburgerLinks ([Link])
	SELECT 'https://www.balfour.com'
			UNION
	SELECT 'https://www.artcarved.com'

    SELECT
		 SMI
		,ISNULL([AltName],'') as [Name]		
		,ISNULL([Color],'') as [SchoolColor]
		,ISNULL([LogoURL],'') as [Icon]
		,ISNULL([City],'') + ' ' + ISNULL([State],'') as [CityState]
		,ISNULL([URL],'') as [AffinityPageURL]
		,(
			SELECT * FROM @HamburgerLinks
			FOR JSON PATH
		 ) HamburgerLinks
		 , FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt') as [timeStamp] 
		 , DB_NAME()  as [instance]
		 , CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
		 , OBJECT_NAME(@@PROCID) as [sproc]
		 , CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
	FROM [dbo].[School_URL_Master] 
	WHERE [SMI] = @SMI
	FOR JSON PATH
END
GO
