/****** Object:  StoredProcedure [dbo].[s_get_vanity_url]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/12/2020
-- Description: 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_vanity_url]
(
   @URL VARCHAR(200) = ''
)
AS
--EXEC [dbo].[s_get_vanity_url] @URL='lsu'
--EXEC [dbo].[s_get_vanity_url] @URL='lsuring'
--EXEC [dbo].[s_get_vanity_url] @URL='samford'
--EXEC [dbo].[s_get_vanity_url] @URL='louisiana/baton-rouge/louisiana-state-university'
--EXEC [dbo].[s_get_vanity_url] @URL='alabama/birmingham/samford-university'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	/***************************
	/  FOR TESTING ONLY 
	/***************************/
	*/
	--SET @URL='louisiana/baton-rouge/louisiana-state-university'
	SET @URL = LTRIM(RTRIM(@URL))
    DECLARE @Cnt INT
	SELECT @Cnt = COUNT(*) FROM [dbo].[School_URL_Master] WHERE [URL] = @URL
	IF @Cnt > 0
		SELECT
		 [url]
		,[smi]
		,0 AS [redirect]
		,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
		, DB_NAME()  as [instance]
		, CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
		, OBJECT_NAME(@@PROCID) as [sproc]
		, CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
		FROM  [dbo].[School_URL_Master] WHERE [URL] = @URL
		FOR JSON PATH
	ELSE
		BEGIN
			IF EXISTS (SELECT TOP 1 * FROM [dbo].[School_URL_Redirects] R
			INNER JOIN [dbo].[School_URL_Master] M ON R.[SMI] = M.[SMI]
			WHERE R.[URL] = @URL)
				BEGIN
					SELECT
					   M.[url]
					  ,M.[smi]
					  ,R.[RedirectType] as [redirect]
					  ,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
					  , DB_NAME()  as [instance]
					  , CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
					  , OBJECT_NAME(@@PROCID) as [sproc]
					  , CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
					FROM [dbo].[School_URL_Redirects] R
					INNER JOIN [dbo].[School_URL_Master] M ON R.[SMI] = M.[SMI]
					WHERE R.[URL] = @URL
					FOR JSON PATH
				END
			ELSE
				BEGIN
					SELECT
						 '' as [url]
						,0 as [smi]
						,200 as [redirect]
						,FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy H:mm') as [timeStamp]
						, DB_NAME()  as [instance]
					    , CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
					    , OBJECT_NAME(@@PROCID) as [sproc]
					    , CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
						FOR JSON PATH
				END
		END
END
GO
