/****** Object:  StoredProcedure [dbo].[s_process_photobook_vouchers]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03/30/2020
-- Description: sproc to send out photobook coupons
-- =============================================
CREATE PROCEDURE [dbo].[s_process_photobook_vouchers]
(
     @Debugging BIT = 1
	,@EmailOverride VARCHAR(200) = 'william.crooks@balfour.com'
)
AS
--EXEC s_process_photobook_vouchers @Debugging = 1, @EmailOverride = 'clevine@iconicgroup.com'--'eudora.choi@balfour.com'
--EXEC s_process_photobook_vouchers @Debugging = 0
--SELECT TOP 10 * FROM [dbo].[EmailJobs_Queue] WHERE [email_Name] LIKE 'Photobook%' ORDER BY [ID] DESC
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    /*  Quick check for any new ones (Last one checked 2515878)
	DECLARE @Last_Item_ID BIGINT; SELECT @Last_Item_ID = CAST(dbo.fn_GetExtendedProperty('MAGE_sales_order_item','LastItemIDForPBVouchers') as BIGINT)
	SELECT @Last_Item_ID; SELECT [order_id], [qty_ordered], [item_id] FROM [dbo].[MAGE_sales_order_item] WHERE [sku] = 'A0212429A0000' AND [item_id] > @Last_Item_ID
	*/

	--Determine the last record in [dbo].[MAGE_sales_order_item] checked for the photobook voucher SKU A0212429A0000
	DECLARE @Last_Item_ID BIGINT, @Max_Item_ID BIGINT, @Value VARCHAR(MAX), @Max INT, @Loop INT, @order_id INT, @qty_ordered DECIMAL(12,4), @item_id INT, 
			@emailaddresses NVARCHAR(200), @customer_firstname VARCHAR(128), @Coupon_ID INT, @Code VARCHAR(50), @Rule_ID INT, @QID BIGINT, @Increment_ID VARCHAR(50)
	CREATE TABLE #Items ([order_id] INT, [qty_ordered] DECIMAL(12,4), [item_id] INT, [Loop] INT IDENTITY(1,1))

	SELECT @Max_Item_ID = MAX([item_id]) FROM [dbo].[MAGE_sales_order_item]

	BEGIN TRY
		--SELECT dbo.fn_GetExtendedProperty('MAGE_sales_order_item','LastItemIDForPBVouchers'); SELECT MAX([Item_ID]) FROM [dbo].[MAGE_sales_order_item]
		SELECT @Last_Item_ID = CAST(dbo.fn_GetExtendedProperty('MAGE_sales_order_item','LastItemIDForPBVouchers') as BIGINT)
	END TRY
	BEGIN CATCH
		SET @Last_Item_ID = 0
	END CATCH
	PRINT 'Last checked: ' + CAST(@Last_Item_ID AS VARCHAR(MAX)) + ' Max: ' + CAST(@Max_Item_ID AS VARCHAR(MAX)) 

	SELECT @Rule_ID = [MAGE_Rule_ID] FROM [dbo].[Amount_Rule_ARCItem_XRef] WHERE [PIM_SKU] = 'A0212429A0000'

	INSERT INTO #Items ([order_id],[qty_ordered],[item_id])
	SELECT [order_id], [qty_ordered], [item_id] FROM [dbo].[MAGE_sales_order_item] WHERE [sku] = 'A0212429A0000' AND [item_id] > @Last_Item_ID
	SELECT @Loop = 1, @Max = MAX([Loop]) FROM #Items
	WHILE @Loop <= @Max
		BEGIN
			SELECT @order_id = [order_id], @qty_ordered = [qty_ordered], @item_id = [item_id] FROM #Items WHERE [Loop] = @Loop
			SELECT @Increment_ID = [Increment_ID] FROM [dbo].[MAGE_Sales_Order] WHERE [entity_id] = @order_id
			SELECT @EmailAddresses = LTRIM(RTRIM(ISNULL([customer_email],''))), @customer_firstname = LTRIM(RTRIM(ISNULL([customer_firstname],'Valued Customer'))) FROM [dbo].[MAGE_Sales_Order] WHERE [Entity_ID] = @order_id
			IF @Debugging = 1
				SET @emailaddresses = @EmailOverride
			--GET THE VOUCHER CODE AND VALUE
			--Process these records --The rule_id is 982
			SELECT @Coupon_ID = MIN(Coupon_ID) FROM [dbo].[MAGE_salesrule_coupon] WHERE [rule_id] = @Rule_ID/*1006*/ AND [Coupon_ID] NOT IN (SELECT [Coupon_ID] FROM [dbo].[CouponCodesIssued] WHERE [Coupon_ID] IS NOT NULL) 
		
			--PRINT 'Coupon_ID = ' + CAST(ISNULL(@Coupon_ID,-1) AS VARCHAR(10))
			SELECT @Code = [Code] FROM [dbo].[MAGE_salesrule_coupon] WHERE [Coupon_ID] = @Coupon_ID
		
			--Queue the email
			INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name], [Entity], [Service], [Description], [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], [emailAddresses], [rawData], [template],[key_name],[key_value])
			SELECT [Email_Name], [Entity], [Service], 'Photobook voucher', [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], @emailaddresses, '{"first_name":"' + @customer_firstname + '","Deadline_date":"' + FORMAT(DATEADD(year,1,dbo.fn_DateTime_To_Central(GETDATE())), 'MM/dd/yyyy') + '","VOUCHERCODE":"' + @Code + '","VoucherValue":"29.99"}', ''
			,'PBV + Increment_Id.Item_id-code', 'PBV' + @Increment_ID + '.' + CAST(@Item_ID AS VARCHAR(25)) + '-' + @Code
			FROM [dbo].[EmailJobs] WHERE [Email_Name] = 'PhotoBookVouchers'
			SELECT @QID = SCOPE_IDENTITY()
			PRINT 'Code ' + @Code + ' issued for Order #' + CAST(@Order_ID as VARCHAR(50))
			IF @Debugging = 0
				BEGIN
				  INSERT INTO [dbo].[CouponCodesIssued] ([Coupon_ID], [Code], [Key_Value], [EmailJobs_Queue_ID],[Value],[Issued_DTM])
				  VALUES (@Coupon_ID, @Code, CAST(@order_id as VARCHAR(50)), @QID, 29.99,GETDATE())
				END

			SET @Loop = @Loop + 1
		END

	IF @Debugging = 0
		BEGIN
			--Update the extended property
			SET @Value = CAST(@Max_Item_Id AS VARCHAR(MAX))
			EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGE_sales_order_item', @AttribName = 'LastItemIDForPBVouchers', @Value = @Value
			SET @Value = CAST(GETDATE() AS VARCHAR(25))
			EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGE_sales_order_item', @AttribName = 'LastItemIDForPBVouchersUpdate', @Value = @Value
		END


	DROP TABLE #Items
	--2482665  SELECT MAX([item_id]) FROM [dbo].[MAGE_sales_order_item]


END
GO
