/****** Object:  StoredProcedure [dbo].[s_get_table_update_status_grid]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/25/2021
-- Description: Gets a HTML table showing data update status for Marketing tables
-- =============================================
CREATE PROCEDURE [dbo].[s_get_table_update_status_grid]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	/*
	SELECT O.Name, CAST(P.value as VARCHAR(50)), CAST(EP2.[value] as VARCHAR(50)), CAST(ISNULL(UF.[value],'') as VARCHAR(50)),
	     P.Value as [LastUpdate], EP2.[value] as [NextUpdate], FT.[value] as [FaultTolerance] 
		 --CASE WHEN DATEDIFF(MINUTE, CAST(P.[Value] AS DATETIME), CAST(EP2.[value] AS DATETIME)) < (-1*CAST( FT.[value] as INT)) THEN '#FF000000;">Failure' 
		 -- WHEN DATEDIFF(MINUTE, CAST(P.[Value] AS DATETIME), CAST(EP2.[value] AS DATETIME)) BETWEEN -1 AND (-1*CAST( FT.[value] as INT))+1 THEN '#FFFF00;">Alert' 
		 -- ELSE '#00FF00;">Good' END
	FROM sys.objects AS o
	INNER JOIN sys.extended_properties AS p ON p.major_id = o.object_id AND p.class = 1
	LEFT JOIN sys.extended_properties AS EP2 ON EP2.major_id = o.object_id AND EP2.class = 1 AND EP2.name = 'NextUpdate'
	LEFT JOIN sys.extended_properties AS FT ON FT.major_id = o.object_id AND FT.class = 1 AND FT.name = 'FaultTolerance'
	LEFT JOIN sys.extended_properties AS UF ON UF.major_id = o.object_id AND UF.class = 1 AND UF.name = 'UpdateFrequency'
	WHERE o.type = 'U' AND P.Name = 'LastUpdate'
	AND O.[Name] IN (SELECT O.Name as [TableName]
						FROM sys.objects AS o
						INNER JOIN sys.extended_properties AS p
						ON p.major_id = o.object_id
						AND p.class = 1
						WHERE o.type = 'U' AND P.Name = 'FaultTolerance'
						)
	*/

	DECLARE @Table TABLE ([row] VARCHAR(MAX), sort_order INT IDENTITY(1,1))
	INSERT INTO @Table ([row])
	SELECT '<table><tr><td style="height:30px; width:200px; border-width:3px; border-style: solid; border-radius: 18px 10px 5px 0px;" align="center"><b>Table</b></td><td style="height:30px; width:225px; border-width:3px; border-style: solid; border-radius:5px;" align="center"><b>Last Update</b></td><td style="height:30px; width:225px; border-width:3px; border-style: solid; border-radius:5px;" align="center"><b>Next Update</b></td><td style="height:30px; width:225px; border-width:3px; border-style: solid; border-radius:5px;" align="center"><b>Update Frequency</b></td><td style="height:30px; width:200px; border-width:3px; border-style: solid; border-radius:5px 18px 5px 5px;" align="center"><b>Status</b></td></tr>'
	INSERT INTO @Table ([row])
	SELECT '<tr><td>' + O.Name  + '</td><td align="center">' + CAST(P.value as VARCHAR(50)) + '</td><td align="center">' + CAST(EP2.[value] as VARCHAR(50)) +'</td><td>' + CAST(ISNULL(UF.[value],'') as VARCHAR(50)) + '</td><td align="center" style="background-color: ' + 
	 
	 CASE WHEN DATEDIFF(MINUTE, CAST(P.[Value] AS DATETIME), CAST(EP2.[value] AS DATETIME)) < (-1*CAST( FT.[value] as INT)) THEN '#FF000000;">Failure' 
		  WHEN DATEDIFF(MINUTE, CAST(P.[Value] AS DATETIME), CAST(EP2.[value] AS DATETIME)) BETWEEN -1 AND (-1*CAST( FT.[value] as INT))+1 THEN '#FFFF00;">Alert' 
		  ELSE '#00FF00;">Good' END + '</td></tr>'
	FROM sys.objects AS o
	INNER JOIN sys.extended_properties AS p ON p.major_id = o.object_id AND p.class = 1
	LEFT JOIN sys.extended_properties AS EP2 ON EP2.major_id = o.object_id AND EP2.class = 1 AND EP2.name = 'NextUpdate'
	LEFT JOIN sys.extended_properties AS FT ON FT.major_id = o.object_id AND FT.class = 1 AND FT.name = 'FaultTolerance'
	LEFT JOIN sys.extended_properties AS UF ON UF.major_id = o.object_id AND UF.class = 1 AND UF.name = 'UpdateFrequency'
	WHERE o.type = 'U' AND P.Name = 'LastUpdate'
	AND O.[Name] IN (SELECT O.Name as [TableName]
						FROM sys.objects AS o
						INNER JOIN sys.extended_properties AS p
						ON p.major_id = o.object_id
						AND p.class = 1
						WHERE o.type = 'U' AND P.Name = 'FaultTolerance'
						)
	INSERT INTO @Table([row]) SELECT '</table>'
	SELECT [row] FROM @Table ORDER BY [sort_order]
END
GO
