/****** Object:  StoredProcedure [dbo].[s_update_affinity_pages_data]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 08/06/2020
-- Description: Updates data in ContentAffinityPages
-- =============================================
CREATE PROCEDURE [dbo].[s_update_affinity_pages_data]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	--Add any new SMIs
	INSERT INTO [dbo].[ContentAffinityPages] ([SMI],[Flags])
	SELECT SMI
	,CASE WHEN [dbo].[fn_Affinity_Letterman] ([SMI]) = 1 THEN 1 ELSE 0 END +
														   CASE WHEN [dbo].[fn_Affinity_Spiritwear] ([SMI]) = 1 THEN 2 ELSE 0 END +
														   CASE WHEN [dbo].[fn_Affinity_Fanshop] ([SMI]) = 1 THEN 4 ELSE 0 END +
														   CASE WHEN [dbo].[fn_Affinity_Alumni] ([SMI]) = 1 THEN 16 ELSE 0 END  As [Flags]
	  FROM [dbo].[School_URL_Master] WHERE [SMI] NOT IN (SELECT [SMI] FROM [ContentAffinityPages]) AND SMI > 0

	--Update existing SMIs
    UPDATE [dbo].[ContentAffinityPages] SET [Flags] = CASE WHEN [dbo].[fn_Affinity_Letterman] ([SMI]) = 1 THEN 1 ELSE 0 END +
													   CASE WHEN [dbo].[fn_Affinity_Spiritwear] ([SMI]) = 1 THEN 2 ELSE 0 END +
													   CASE WHEN [dbo].[fn_Affinity_Fanshop] ([SMI]) = 1 THEN 4 ELSE 0 END +
													   CASE WHEN [dbo].[fn_Affinity_Alumni] ([SMI]) = 1 THEN 16 ELSE 0 END 
END
GO
