/****** Object:  StoredProcedure [dbo].[s_get_crm_menu_xml]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_crm_menu_xml]
(
	 @Production BIT = 1
	,@RoleID VARCHAR(50) = ''
)
--EXEC [dbo].[s_get_crm_menu_xml] @RoleID = '023B5B82-F045-4421-B511-3BFB600C1D58'
AS
SET NOCOUNT ON
select 
  [Tag] as [Tag]
, ISNULL([Title],'') AS [Title]
, ISNULL([Description],'') as [Description]
, ISNULL([URL],'') as [URL]
, ISNULL([ParentTag],'') as [ParentTag]
, ISNULL([Icon],'') as [Icon]
, [Sort_Order] as [DisplayOrder]
, ISNULL([ReadOnly],0) as [ReadOnly]
from [dbo].[MarketingAdminMenu] MAM
LEFT JOIN [dbo].[MarketingAdminMenuRights] MAR ON MAR.Menu_Tag = MAM.Tag AND [MAR].RoleID = @RoleID
WHERE [InProduction] = CASE WHEN @Production = 1 THEN 1 ELSE [InProduction] END
AND [Tag] IN (SELECT [Menu_Tag] FROM [dbo].[MarketingAdminMenuRights] WHERE [RoleID] = @RoleID OR [RoleID] = 'ALL')
Order by [Sort_Order]
FOR XML PATH ('Menu'), ROOT ('Menus')
GO
