/****** Object:  StoredProcedure [dbo].[s_get_content_sprocs_params]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 12/18/2019
-- Description: Pulls a list of content sproc names and aliases
-- =============================================
CREATE PROCEDURE [dbo].[s_get_content_sprocs_params]
(
	@connToken VARCHAR(50) = ''
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	select c.[name], c.xtype, c.length, c.isoutparam, o.[name] as [sproc], CS.[connectionToken] as [connToken], CS.[sprocKey]
	from syscolumns c 
	INNER JOIN sysobjects o ON c.[id] = o.[id]
	LEFT JOIN [dbo].[ContentSprocs] CS ON CS.sprocName = o.[name]
	where o.[name] IN (
		SELECT [sprocName]
		FROM [dbo].[ContentSprocs]
	) 

END
GO
