/****** Object:  StoredProcedure [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Han Tran
-- Create Date: 2/19/2020
-- Description: Rules for last chance item at cart
-- =============================================
 /**
	https://dev-dfw-mkt-api.azure-api.net/cross-sell/v1/get-csic?skus=a0148134|1326
 **/
CREATE PROCEDURE [dbo].[s_get_upsell_last_chance_item_at_cart_input_single_sku] (@skus VARCHAR(MAX) = '', @smi VARCHAR(100) = '', @debug BIT = 0)   
 
AS
BEGIN 
    SET NOCOUNT ON				

	DECLARE @gradPack BIT = 0, @gradPackBundle BIT = 0, @price decimal(9,2)

	IF EXISTS (SELECT TOP 1 * FROM Magento_GradPack_Bundle_Details WHERE bundle_parent_sku = LEFT(@skus,8))
	BEGIN SET @gradPackBundle = 1 END 

	IF  LEFT(@skus,8) IN  ('a0071918', 'a0068455', 'a0176692', 'a0175731')
	BEGIN
		SET @gradPack = 1
	END

	IF @debug = 1 PRINT '@SKUs: ' + @SKUs + ', ' + @smi	

	IF @gradPackBundle <> 1
	BEGIN
		IF @gradPack = 0
		BEGIN 
			IF EXISTS(SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE ([Enhanced Commerce] IN ('GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS','GP-CLASS APPAREL','HIGH SCHOOL MULTI CHOICE', 
				'UNIVERSITY COLLECTION HS','KENDRA SCOTT/BALFOUR HS', 'COLLEGE MULTI CHOICE','UNIVERSITY COLLECTION COLLEGE','KENDRA SCOTT/BALFOUR COLLEGE') AND @skus like '%' + sku + '%' ))	
			OR EXISTS(SELECT TOP 1 * FROM dbo.magento_automated_product_dataset AS p INNER JOIN itemattributes ia ON ia.itemid = p.ItemID 
				WHERE p.Cat_Type_Style IN ('Home/Dorm-Frames-Diploma/Certificate Frames','Home/Dorm_Frames_Diploma/Certificate Frames') 
				AND ISNULL(p.is_licensed, '0') <> '1' AND ia.tagtype = 'a_AACProdType' AND ia.tagvalue = 'Endless Aisle' AND @skus like '%' + sku + '%')
			OR EXISTS(SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p WHERE product_collection IN ('BalProdColl_LicStoles','BalProdColl_Stoles') AND @skus like '%' + sku + '%')
				SET @gradPack = 1	
		END
	END

	-- Han added 8/11/2021 - add grad pack bundle - the old gradPack might be obsoleted
	IF @gradPackBundle = 1
	BEGIN		
		if @debug = 1 print '@gradPackBundle off'
		-- han removed 
		SELECT @price = ISNULL(dbo.[fn_Get_Lowest_Price]('A0247323A0000', @smi),IsNull([Special Price (% for bundles)],[Retail Price])) 
		FROM magento_automated_product_dataset WHERE SKU = 'A0247323A0000' 
		
		SELECT 'https://d3qsmzzpeeacu6.cloudfront.net/all/A0247323_1.jpg' AS imageurl,
		'<div class="container upsell-last-chance-popup">' +
			'<p class="closePunchOut upsell-closePunchOut">' +
				'<span>' +
				'</span>' +
			'</p>' +
			'<p class="top-header">' +
				'You''ve Earned an Exclusive Offer!' +
			'</p>' +
			'<div class="row main-content">' +
				'<p class="lg-callout visible-xs">' +
					'' +
				'</p>' +
				'<p class="header visible-xs">' +
					' ' +
				'</p>' +
				'<div class="col-xs-12 col-sm-6">' +
					'<img src="https://d3qsmzzpeeacu6.cloudfront.net/all/A0247323_1.jpg" class="checkout-image" alt="">' +
				'</div>' +
				'<div class="col-xs-12 col-sm-6">' +
					'<p class="header hidden-xs">' +
						'Kendra Scott 2022 Stretch Charm Bracelet.' +
					'</p>' +
					'<p class="body-text hidden-xs">' +
						'Celebrate your grad''s big day with a bit of sparkle and sentiment. This 14K gold-plated baguette stretch bracelet includes three charms:' +
					'</p>' +
					'<ul class="bullet-list">' +
						'<li>a cubic zirconia-enhanced diploma</li>' +
						'<li>the year 2022</li>' +
						'<li>a grad cap tassel</li>' +
					'</ul>' +
					'<p class="body-text was-price">' +
						' ' +
					'</p>' +
					'<p class="lg-callout">' +
						'ONLY: ' + CAST(@price AS VARCHAR(30)) +
					'</p>' +
					'<p class="upsell-last-chance-button"></p>' +
				'</div>' +
			'</div>' +
			'<div class="row last-chance-footer">' +
				'<div class="col-xs-12 last-chance-footer-text">' +
					'<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
				'</div>' +
			'</div>' +
		'</div>' AS url, 
		'A0247323A0000' AS SKU,  -- production sku 'A0212429A0000'   A0233134A0000 (visible) - A0226631A0000(not visible)
		'Kendra Scott 2022 Stretch Charm Bracelet' AS [product name],
		CAST(@price AS VARCHAR(30)) AS Price,
		CAST(@price AS VARCHAR(30)) AS wasprice,
		'' AS class,
		'simple' AS [Product Type],
		0 AS sortOrder,
		'' AS config_type -- just use this unused field to assign smi in return to the front end	 select * 
		   FROM magento_automated_product_dataset WHERE SKU = 'A0247323A0000' AND Status = 'Enable'

		------SELECT @price = ISNULL(dbo.[fn_Get_Lowest_Price](SKU, @smi),IsNull([Special Price (% for bundles)],[Retail Price])) 
		------FROM magento_automated_product_dataset WHERE LEFT(SKU,8) = LEFT(@skus,8)
			
		------SELECT 'https://d3qsmzzpeeacu6.cloudfront.net/all/A0247323_1.jpg' AS imageurl,
		------'<div class="container upsell-last-chance-popup">' +
		------	'<p class="closePunchOut upsell-closePunchOut">' +
		------		'<span>' +
		------		'</span>' +
		------	'</p>' +
		------	'<p class="top-header">' +
		------		'You''ve Earned an Exclusive Offer!' +
		------	'</p>' +
		------	'<div class="row main-content">' +
		------		'<p class="lg-callout visible-xs">' +
		------			'SAVE $10' +
		------		'</p>' +
		------		'<p class="header visible-xs">' +
		------			'on your Custom XL Twin T-Shirt Quilt today only.' +
		------		'</p>' +
		------		'<div class="col-xs-12 col-sm-6">' +
		------			'<img src="https://d3qsmzzpeeacu6.cloudfront.net/all/A0247323_1.jpg" class="checkout-image" alt="">' +
		------		'</div>' +
		------		'<div class="col-xs-12 col-sm-6">' +
		------			'<p class="lg-callout hidden-xs">' +
		------				'SAVE $10' +
		------			'</p>' +
		------			'<p class="header hidden-xs">' +
		------				'Kendra Scott 2022 Stretch Charm Bracelet today only.' +
		------			'</p>' +
		------			'<ul class="bullet-list">' +
		------				'<li>Kendra Scott Stretch Charm Bracelet with 3 charms celebrating your senior class year</li>' +
		------				'<li>Charms include tassle, year date, and cubic zirconia stone</li>' +
		------				'<li>Redeem your voucher after checkout (a $40.00 value).</li>' +
		------			'</ul>' +
		------			'<p class="body-text was-price">' +
		------				'Sale Price: ' + @price + --$40.00' +
		------			'</p>' +
		------			'<p class="header">' +
		------				'NOW ONLY: ' + CASE WHEN @price > 10 THEN @price - 10 END +
		------			'</p>' +
		------			'<p class="upsell-last-chance-button"></p>' +
		------		'</div>' +
		------	'</div>' +
		------	'<div class="row last-chance-footer">' +
		------		'<div class="col-xs-12 last-chance-footer-text">' +
		------			'<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
		------		'</div>' +
		------	'</div>' +
		------'</div>' AS url,
		------'A0247323A0000' AS SKU,  -- other color sku 'A0247979A0000'   A0233134A0000 (visible) - A0226631A0000(not visible)		
		------'Kendra Scott 2022 Stretch Charm Bracelet' AS [product name],
		------CASE WHEN @price > 10 THEN @price - 10 END AS Price,
		------@price AS wasprice,
		------'' AS class,
		------'simple' AS [Product Type],
		------0 AS sortOrder,
		------'' AS config_type	 
	END

	ELSE IF @gradPack = 1 -- THIS might be obsoleted
	BEGIN				 
		SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/ymal-csic/quilt-image.jpg' AS imageurl,
		'<div class="container upsell-last-chance-popup">' +
			'<p class="closePunchOut upsell-closePunchOut">' +
				'<span>' +
				'</span>' +
			'</p>' +
			'<p class="top-header">' +
				'You''ve Earned an Exclusive Offer!' +
			'</p>' +
			'<div class="row main-content">' +
				'<p class="lg-callout visible-xs">' +
					'SAVE $10' +
				'</p>' +
				'<p class="header visible-xs">' +
					'on your Custom XL Twin T-Shirt Quilt today only.' +
				'</p>' +
				'<div class="col-xs-12 col-sm-6">' +
					'<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/ymal-csic/quilt-image.jpg" class="checkout-image" alt="">' +
				'</div>' +
				'<div class="col-xs-12 col-sm-6">' +
					'<p class="lg-callout hidden-xs">' +
						'SAVE $10' +
					'</p>' +
					'<p class="header hidden-xs">' +
						'on your Custom XL Twin T-Shirt Quilt today only.' +
					'</p>' +
					'<ul class="bullet-list">' +
						'<li>Transform 28 shirts into a custom 4ft x 7ft XL Twin Quilt</li>' +
						'<li>Choose from 7 backing fleece colors</li>' +
						'<li>Redeem your voucher after checkout (a $119.99 value).</li>' +
						'<li>Redeem your voucher after checkout.</li>' +
					'</ul>' +
					'<p class="body-text was-price">' +
						'Sale Price: $' + CAST([Retail Price] AS VARCHAR(30)) + --119.99
					'</p>' +
					'<p class="header">' +
						'NOW ONLY: $109.99' + --CASE WHEN GETDATE() BETWEEN [Special Price - Start Date] AND [Special Price - To Date] THEN CAST([Special Price (% for bundles)] AS VARCHAR(30)) ELSE '' END + --'NOW ONLY: $109.99' +
					'</p>' +
					'<p class="upsell-last-chance-button"></p>' +
				'</div>' +
			'</div>' +
			'<div class="row last-chance-footer">' +
				'<div class="col-xs-12 last-chance-footer-text">' +
					'<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
				'</div>' +
			'</div>' +
		'</div>' AS url,
		SKU, --'A0226631A0000' AS SKU,  -- production sku 'A0212429A0000'   A0233134A0000 (visible) - A0226631A0000(not visible)
		'Project Repat Custom Xtra Long Twin T-Shirt Quilt' AS [product name],
		CAST([Special Price (% for bundles)] AS VARCHAR(30)) AS Price, --'109.99' AS Price,
		CAST([Retail Price] AS VARCHAR(30)) AS wasprice, -- '119.99' 
		'' AS class,
		'simple' AS [Product Type],
		0 AS sortOrder,
		'' AS config_type	 -- select * 
		  FROM magento_automated_product_dataset WHERE SKU = 'A0226631A0000' AND Status = 'Enable'
	END
	 
	ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p 				
		WHERE [Enhanced Commerce] IN ('YEARBOOK & ACCESSORIES', 'YEARBOOKS','YEARBOOK ACCESSORIES') AND [Attribute Set] IN ('pim_ybads_balfourmanaged', 'pim_printing') 
			AND (ISNULL(p.[Exclusive SMI],'') = ISNULL(@smi,'') OR CHARINDEX(@smi,p.[Included SMI]) > 0 OR @smi IN (SELECT CAST(smi AS VARCHAR(100)) FROM MAGE_balfour_product_smi_scoped_price WHERE CHARINDEX(sku,  @SKUs) > 0) ) 
			AND CHARINDEX(sku,  @SKUs) > 0) 
	BEGIN		
		SELECT 'https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_KSColl_A0219538_1.jpg' AS imageurl,
		'<div class="container upsell-last-chance-popup">' +
    '<p class="closePunchOut upsell-closePunchOut">' +
        '<span>' +
        '</span>' +
    '</p>' +
    '<p class="top-header">' +
        'You''ve Earned an Exclusive Offer!' +
    '</p>' +
    '<div class="row main-content">' +
        '<p class="lg-callout visible-xs">' +
            'SAVE 20%' +
        '</p>' +
        '<p class="header visible-xs">' +
            'on the Kendra Scott Elisa Classic Necklace in Bright Red Opaque Glass TODAY ONLY.' +
        '</p>' +
        '<div class="col-xs-12 col-sm-6">' +
            '<img src="https://d3qsmzzpeeacu6.cloudfront.net/all/CBI_KSColl_A0219538_1.jpg" class="checkout-image" alt="">' +
        '</div>' +
        '<div class="col-xs-12 col-sm-6">' +
            '<p class="lg-callout hidden-xs">' +
                'SAVE 20%' +
            '</p>' +
            '<p class="header hidden-xs">' +
                'on the Kendra Scott Elisa Classic Necklace in Bright Red Opaque Glass TODAY ONLY.' +
            '</p>' +
            '<ul class="bullet-list">' +
                '<li>Save on this timeless Kendra Scott necklace.</li>' +
                '<li>Makes a great grad gift to celebrate their achievement, or just to show your love and support.</li>' +
            '</ul>' +
            '<p class="body-text was-price">' +
                'Original Price: $50.00' +
            '</p>' +
            '<p class="header">' +
                'NOW ONLY: $40.00' +
            '</p>' +
            '<p class="upsell-last-chance-button"></p>' +
        '</div>' +
    '</div>' +
    '<div class="row last-chance-footer">' +
        '<div class="col-xs-12 last-chance-footer-text">' +
            '<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
        '</div>' +
    '</div>' +
'</div>' AS url,
		SKU AS SKU, 
		[product name],
		'40.00' AS Price,
		'50.00' AS wasprice,
		'' AS class,
		'' AS [Product Type],
		0 AS sortOrder,
		'standard' AS config_type  
		FROM magento_automated_product_dataset 
		WHERE SKU = 'A0219538A0000' AND Status = 'Enable'
	END	
	ELSE IF NOT EXISTS(SELECT TOP 1 * FROM magento_automated_product_dataset WHERE [Enhanced Commerce] = 'BALFOUR DIRECT-PHOTO' AND CHARINDEX(sku,  @SKUs) > 0 )
		BEGIN -- Show photobook if necklace exists
			SELECT 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg' AS imageurl,
			'<div class="container upsell-last-chance-popup">' +
                '<p class="closePunchOut upsell-closePunchOut">' +
                    '<span>' +
                    '</span>' +
                '</p>' +
                '<p class="top-header">' +
                    'You''ve Earned an Exclusive Offer!' +
                '</p>' +
                '<div class="row main-content">' +
                    '<p class="lg-callout visible-xs">' +
                        'SAVE $20' +
                    '</p>' +
                    '<p class="header visible-xs">' +
                        'on a Photo Book TODAY ONLY.' +
                    '</p>' +
                    '<div class="col-xs-12 col-sm-6">' +
                        '<img src="https://edge.prod.cdn.aac-e.com/prod/img/balfour/magento/_2020/photobook_pop_img_checkout-pop-up.jpg" class="checkout-image" alt="">' +
                    '</div>' +
                    '<div class="col-xs-12 col-sm-6">' +
                        '<p class="lg-callout hidden-xs">' +
                            'SAVE $20' +
                        '</p>' +
                        '<p class="header hidden-xs">' +
                            'on a Photo Book TODAY ONLY.' +
                        '</p>' +
                        '<ul class="bullet-list">' +
                            '<li>Custom 10 page hardcover 5x5 photo book</li>' +
                            '<li>Buy Now. Redeem later to SAVE</li>' +
                            '<li>We''ll email you a custom code</li>' +
                            '<li>Come back to create your book and enter your code at checkout</li>' +
                        '</ul>' +
                        '<p class="body-text was-price">' +
                            'Original Price: $49.99' +
                        '</p>' +
                        '<p class="header">' +
                            'NOW ONLY: $29.99' +
                        '</p>' +
                        '<p class="upsell-last-chance-button"></p>' +
                    '</div>' +
                '</div>' +
                '<div class="row last-chance-footer">' +
                    '<div class="col-xs-12 last-chance-footer-text">' +
                        '<span class="closePunchOut last-chance-footer-text">No Thanks</span>' +
                    '</div>' +
                '</div>' +
            '</div>' AS url,
			'A0212429A0000' AS SKU,   
			'Photobook Voucher' AS [product name],
			'29.99' AS Price,
			'49.99' AS wasprice,
			'' AS class,
			'' AS [Product Type],
			0 AS sortOrder,
			'standard' AS config_type -- select *
			FROM magento_automated_product_dataset p
			WHERE SKU = 'A0212429A0000' AND Status= 'Enable' -- QA: 'A0209158A0000'
				AND  1=2 -- TURN OFF - SIT-464 
		END		    
END
 
GO
