/****** Object:  StoredProcedure [dbo].[s_SilverPopUploads_SetUploadComplete]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/19/2020
-- Description: Updates a SilverPopUpload to denote that SilverPop has finished importing the data
-- =============================================
CREATE PROCEDURE [dbo].[s_SilverPopUploads_SetUploadComplete]
(
    @SilverPopJobId int
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    UPDATE SilverPopUploads
	SET SilverPopImportCompletedDate = GETUTCDATE()
	WHERE SilverPopJobId = @SilverPopJobId
END
GO
