/****** Object:  StoredProcedure [dbo].[s_data_feed_mage_sales_order_item_to_silverpop]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 06/29/2020
-- Description: Magento Sales Order Item to Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_data_feed_mage_sales_order_item_to_silverpop]
(
	@CallAtADF BIT = 0
)
AS
--exec s_data_feed_products_to_silverpop
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @ReportTemp TABLE (item_id int, order_id int, quote_item_id int, created_at varchar(10), updated_at varchar(10), product_id	int, product_type varchar(MAX), sku	varchar(MAX), name varchar(MAX), description varchar(MAX), qty_ordered decimal, price decimal(9,2))
	
	DECLARE @LastOneSent BIGINT
	
	SELECT @LastOneSent = CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSentToSilverpop' AND [major_id] = OBJECT_ID('MAGE_sales_order_item')
	 
	INSERT INTO @ReportTemp (item_id, order_id, quote_item_id, created_at, updated_at, product_id, product_type, sku, [name],[description], qty_ordered, price)
	SELECT item_id, order_id, quote_item_id, FORMAT ([created_at], 'MM/dd/yyyy') AS [created_at], FORMAT ([updated_at], 'MM/dd/yyyy') AS [updated_at], product_id, product_type, sku, [name], [description], qty_ordered, price	
	--INTO #Temp -- doesn't work in azure
	FROM MAGE_sales_order_item
	WHERE  [Item_ID] >  @LastOneSent --  2883891 2884067 --AND 2884109 --- 
	ORDER BY Item_id desc
	
	SELECT * FROM @ReportTemp
	--SELECT MAX([item_id]) FROM @ReportTemp

	IF @CallAtADF = 1  
		BEGIN
			DECLARE @LastOneSentValue BIGINT
			SELECT @LastOneSentValue = MAX([item_id]) FROM @ReportTemp
			 
			EXEC  s_update_extendedprop_on_table @TableName = 'MAGE_sales_order_item', @AttribName='LastOneSentToSilverpop', @Value= @LastOneSentValue
		END
 
END

/***

SELECT COUNT(Item_ID) AS Cnt
	FROM MAGE_sales_order_item  	 --2884067
	WHERE [Item_ID] > (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSentToSilverpop' AND [major_id] = OBJECT_ID('MAGE_sales_order_item'))
	
	select * FROM MAGE_sales_order_item  	 --2884067
	WHERE [Item_ID] > (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSentToSilverpop' AND [major_id] = OBJECT_ID('MAGE_sales_order_item'))
	order by item_id

	select * 
	FROM sys.extended_properties WHERE [name] = 'LastOneSentToSilverpop' AND [major_id] = OBJECT_ID('MAGE_sales_order_item') 

	select * FROM sys.extended_properties WHERE    [major_id] = OBJECT_ID('MAGE_sales_order_item')
 	
	WHERE [Item_ID] > (SELECT CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastOneSentToSilverpop' AND [major_id] = OBJECT_ID('MAGE_sales_order_item'))
	**/
GO
