/****** Object:  StoredProcedure [dbo].[s_process_MAGECustomer_Entity]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/18/2020
-- Description: Imports new records to [MAGECustomer_Entity] table.  This runs as part of the data factory MAGE-Sales_Order.
-- Schedule:    Every half hour at 30 minutes past the hour.
-- =============================================
CREATE PROCEDURE [dbo].[s_process_MAGECustomer_Entity]
--EXEC s_process_MAGECustomer_Entity
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @Entity_Id BIGINT
	SET @Entity_ID = 0
	SELECT @Entity_ID = MAX([Entity_ID]) FROM [dbo].[MAGECustomer_Entity]
	PRINT 'Max Entity_ID in MAGECustomer_Entity: ' + CAST(@Entity_ID AS VARCHAR(50))

	INSERT INTO [dbo].[MAGECustomer_Entity] ([entity_id], [website_id], [email], [group_id], [increment_id], [store_id], [created_at], [updated_at], [is_active], [disable_auto_group_change], [created_in], [prefix], [firstname], [middlename], [lastname], [suffix], [dob], [password_hash], [rp_token], [rp_token_created_at], [default_billing], [default_shipping], [taxvat], [confirmation], [gender], [failures_num], [first_failure], [lock_expires])
	SELECT [entity_id], [website_id], [email], [group_id], [increment_id], [store_id], [created_at], [updated_at], [is_active], [disable_auto_group_change], [created_in], [prefix], [firstname], [middlename], [lastname], [suffix], [dob], [password_hash], [rp_token], [rp_token_created_at], [default_billing], [default_shipping], [taxvat], [confirmation], [gender], [failures_num], [first_failure], [lock_expires]
	FROM [dbo].[MAGECustomer_Entity_import] WHERE [Entity_ID] > ISNULL(@Entity_Id,0) AND [Entity_ID] NOT IN (SELECT [Entity_ID] FROM [dbo].[MAGECustomer_Entity])

	DECLARE @Value VARCHAR(50)
	SET @Value = FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGECustomer_Entity', @AttribName = 'LastUpdate', @Value = @Value
	SET @Value = FORMAT(dateadd(hour,1,dbo.fn_DateTime_To_Central(GETDATE())), 'MM/dd/yyyy hh:30:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGEcustomer_Entity', @AttribName = 'NextUpdate', @Value = @Value
END
GO
