/****** Object:  StoredProcedure [dbo].[s_update_virtcommmaster_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/22/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_virtcommmaster_record]
(
 @CoreProductsFlags BIGINT = NULL
,@Description NVARCHAR(MAX) = NULL
,@Enabled BIT = NULL
,@EventDTM VARCHAR(50) = NULL
,@GoNowLink VARCHAR(300) = NULL
,@GradPackLink VARCHAR(300) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@InsertDownloadLink VARCHAR(300) = NULL
,@PhotoStoryLink VARCHAR(300) = NULL
,@PromoLink VARCHAR(300) = NULL
,@SMI INT = NULL
,@Timezone VARCHAR(3) = NULL
,@Title NVARCHAR(200) = NULL
,@TributeLink VARCHAR(300) = NULL
,@BoomBoxLink VARCHAR(300) = NULL
,@CoreProductGroup CHAR(1) = NULL
,@EAProductGroup CHAR(1) = NULL
,@EventCoordinatorEmail VARCHAR(200) = NULL
,@RingImageLink VARCHAR(300) = NULL
,@AnnouncementsImageLink VARCHAR(300) = NULL
,@AnnouncementsShopLink VARCHAR(300) = NULL
,@TopHeroTitle VARCHAR(100) = NULL
,@SchoolName VARCHAR(200) = NULL
,@Roll VARCHAR(50) = NULL
,@Status VARCHAR(200) = NULL --This is necessary because it will be passed for an update but is a calculated field so it won't be stored
,@IsNew BIT = 0
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [VirtCommMaster].
--##RS1 The [ID] value of the inserted/updated record in the table [VirtCommMaster].
--EXEC s_update_virtcommmaster_record @ID = 0, @SMI = 131005

SET @IsNew = 0
IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    IF ISNULL(@SMI,0) > 0
		BEGIN
			PRINT 'Checking for existimg record for SMI ' + CAST(@SMI AS VARCHAR(15))
			--Make sure this does not exist already
			SET @ID_OUT = 0
			SELECT @ID_Out = ISNULL([ID],0) FROM [dbo].[VirtCommMaster] WHERE [SMI] = @SMI
			PRINT 'ID_Out = ' + CAST(@ID_Out AS VARCHAR(15))
			IF @ID_OUT = 0
				BEGIN
					IF @TopHeroTitle IS NULL SET @TopHeroTitle = 'Join YOUR Virtual Commencement'
				    --Look for the announcements shop link
					SET @AnnouncementsShopLink = ''
					SELECT @AnnouncementsShopLink = REPLACE([Link],'*SMI*',CAST(@SMI AS VARCHAR(15))) FROM [dbo].[IOPLinks] L INNER JOIN [dbo].[iop_tiles] T ON T.LinkID = L.ID WHERE T.SMI = @SMI
					
					--Determine if this is a college or high school
					DECLARE @GradeLevel VARCHAR(50), @Name NVARCHAR(255)
					SELECT @GradeLevel = LTRIM(RTRIM(ISNULL([GradeLevel],'HIGH SCHOOL'))), @Name = LTRIM(RTRIM([Name])) FROM [dbo].[SMISchoolMasterIndexList] WHERE [ID] = @SMI
					IF @GradeLevel = 'COLLEGE'
						BEGIN
						    --The B.O. promo can be one of two different promos
							IF @SMI IN (131574,131575,134406,131106,135328,131579,99751,130934,131591,131588,131589,131592,130938,130955,134042,131595,131597,131605,131606,131118,131151,131276,130941,130942,130943,132165,132166,131615,131616,130944,131619,131624,131628,131617,131629,131630,131647,131642,131644,131644,131643,131645,131646,135010,131648,131652,131657,131662,133272,131665,131665,131667,131674,135190,131668,131658,133657,130457,131671,131672,131128,130945,131134,130929,135141,130636,131540,130495,135166,131541,130840,132074,130888,131698,131114,130996,130999,133887,131170,131079,131001,130913,131535,131003,130645,131176,131005,130883,131716,130858,131008,130775,131548,131718,133448,131722,131724,135318,133896,131178,135997,133988,134014,132182)
								SET @PromoLink = 'F6935537-9758-4770-8E3E-2824731C138D'
							ELSE
								SET @PromoLink = 'F6935537-9758-4770-8E3E-2824731C138D'
							SELECT @CoreProductGroup = 'C', @EAProductGroup = 'C', @PhotoStoryLink = 'KrN9CtnzN4o', @InsertDownloadLink = 'https://edge.prod.cdn.aac-e.com/prod/img/pdf/Inserts_VF.pdf', @TributeLink = 'https://www.tribute.com', @BoomBoxLink = 'https://boomboxgifts.com/digital/product/digital-boom/', @RingImageLink = 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/COL_ring_tile1.jpg', @AnnouncementsImageLink = 'https://www.balfour.com/-/media/Balfour/Affinity-Page-Images/Affinity-Icons/contemporary-photo-announcements-tile.jpg'
						END
					ELSE
						BEGIN
							SELECT @PromoLink = 'C51C88B7-3CD2-4F4D-8739-C518DDF08F15', @CoreProductGroup = 'H', @EAProductGroup = 'H', @PhotoStoryLink = 'KrN9CtnzN4o', @InsertDownloadLink = 'https://edge.prod.cdn.aac-e.com/prod/img/pdf/Inserts_VF.pdf', @TributeLink = 'https://www.tribute.co/', @BoomBoxLink = 'https://boomboxgifts.com/digital/product/digital-boom/', @RingImageLink = 'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/HSRingCluster_VC_Tile.jpg'/*'https://edge.prod.cdn.aac-e.com/prod/img/balfour/virtcomm/3848_HSRings_1.jpg'*/, @AnnouncementsImageLink = 'https://www.balfour.com/-/media/Balfour/Affinity-Page-Images/Affinity-Icons/contemporary-photo-announcements-tile.jpg'
						END
					INSERT INTO [VirtCommMaster] ( [SMI],[GUID],[EventDTM],[Title],[Description],[GoNowLink],[PhotoStoryLink],[InsertDownloadLink],[TributeLink],[BoomBoxLink],[CoreProductsFlags],[GradPackLink],[PromoLink],[Enabled],[Timezone],[CoreProductGroup],[EAProductGroup],[EventCoordinatorEmail],[RingImageLink],[AnnouncementsImageLink],[AnnouncementsShopLink],[TopHeroTitle],[SchoolName],[Roll])
					VALUES ( CASE WHEN @SMI IS NULL THEN 0 ELSE @SMI END,NEWID(),DATEADD(day,35,GETDATE())/*@EventDTM*/,@Name + ' Commencement'/*@Title*/,'Commencement for ' + @Name/*@Description*/,''/*@GoNowLink*/,@PhotoStoryLink,@InsertDownloadLink,@TributeLink,@BoomBoxLink,7/*@CoreProductsFlags*/,''/*@GradPackLink*/,@PromoLink,0/*@Enabled*/,'cst'/*@Timezone*/,@CoreProductGroup,@EAProductGroup,'someone@someschool.edu',@RingImageLink,@AnnouncementsImageLink,@AnnouncementsShopLink,@TopHeroTitle,@Name,'00101')
					SELECT @ID_Out = SCOPE_IDENTITY(), @IsNew = 1
				END
			
		END
    
  END
ELSE
  BEGIN
    UPDATE [VirtCommMaster] SET
     [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
    ,[EventDTM] = CASE WHEN @EventDTM IS NULL THEN [EventDTM] ELSE CAST(@EventDTM as DATETIME) END
    ,[Title] = CASE WHEN @Title IS NULL THEN [Title] ELSE @Title END
    ,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
    ,[GoNowLink] = CASE WHEN @GoNowLink IS NULL THEN [GoNowLink] ELSE @GoNowLink END
    ,[PhotoStoryLink] = CASE WHEN @PhotoStoryLink IS NULL THEN [PhotoStoryLink] ELSE @PhotoStoryLink END
    ,[InsertDownloadLink] = CASE WHEN @InsertDownloadLink IS NULL THEN [InsertDownloadLink] ELSE @InsertDownloadLink END
    ,[TributeLink] = CASE WHEN @TributeLink IS NULL THEN [TributeLink] ELSE @TributeLink END
	,[BoomBoxLink] = CASE WHEN @BoomBoxLink IS NULL THEN [BoomBoxLink] ELSE @BoomBoxLink END
    ,[CoreProductsFlags] = CASE WHEN @CoreProductsFlags IS NULL THEN [CoreProductsFlags] ELSE @CoreProductsFlags END
    ,[GradPackLink] = CASE WHEN @GradPackLink IS NULL THEN [GradPackLink] ELSE @GradPackLink END
    ,[PromoLink] = CASE WHEN @PromoLink IS NULL THEN [PromoLink] ELSE @PromoLink END
    ,[Enabled] = CASE WHEN @Enabled IS NULL THEN [Enabled] ELSE @Enabled END
    ,[Timezone] = CASE WHEN @Timezone IS NULL THEN [Timezone] ELSE @Timezone END
	,[CoreProductGroup] = CASE WHEN @CoreProductGroup IS NULL THEN [CoreProductGroup] ELSE @CoreProductGroup END
	,[EAProductGroup] = CASE WHEN @EAProductGroup IS NULL THEN [EAProductGroup] ELSE @EAProductGroup END
	,[EventCoordinatorEmail] = CASE WHEN @EventCoordinatorEmail IS NULL THEN [EventCoordinatorEmail] ELSE @EventCoordinatorEmail END
	,[RingImageLink] = CASE WHEN @RingImageLink IS NULL THEN [RingImageLink] ELSE @RingImageLink END
	,[AnnouncementsImageLink] = CASE WHEN @AnnouncementsImageLink IS NULL THEN [AnnouncementsImageLink] ELSE @AnnouncementsImageLink END
	,[AnnouncementsShopLink] = CASE WHEN @AnnouncementsShopLink IS NULL THEN [AnnouncementsShopLink] ELSE @AnnouncementsShopLink END
	,[TopHeroTitle] = CASE WHEN @TopHeroTitle IS NULL THEN [TopHeroTitle] ELSE @TopHeroTitle END
	,[SchoolName] = CASE WHEN @SchoolName IS NULL THEN [SchoolName] ELSE @SchoolName END
	,[Roll] = CASE WHEN @Roll IS NULL THEN [Roll] ELSE @Roll END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [SMI]
,[GUID]
,FORMAT([EventDTM], 'MM/dd/yyyy hh:mm:ss tt') AS [EventDTM]
,[Title]
,[Description]
,[GoNowLink]
,[PhotoStoryLink]
,[InsertDownloadLink]
,[TributeLink]
,[BoomBoxLink]
,[CoreProductsFlags]
,[GradPackLink]
,[PromoLink]
,[Enabled]
,[ID]
,[Timezone]
,[CoreProductGroup]
,[EAProductGroup]
,[EventCoordinatorEmail]
,[RingImageLink]
,[AnnouncementsImageLink]
,[AnnouncementsShopLink]
,[TopHeroTitle]
,[SchoolName]
,[Roll]
,dbo.fn_get_virtcomm_status(@SMI,'') as [Status]
,@IsNew as [IsNew]
FROM dbo.[VirtCommMaster]
WHERE [ID] = @ID_Out
GO
