/****** Object:  StoredProcedure [dbo].[s_get_email_parameters]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09-09-2019
-- Description: sproc to pull required parameters for email call to Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_get_email_parameters]
(
    -- Add the parameters for the stored procedure here
      @Email_Name VARCHAR(100) = ''
	, @Entity VARCHAR(100) = 'balfour'
)
AS
--EXEC s_get_email_parameters 'orderconfirm'
--EXEC s_get_email_parameters 'recipients'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    SELECT 
	  pod
	, ISNULL(dbo.fn_DString(oAuthClientID),oAuthClientID) as [oAuthClientID]
	, ISNULL(dbo.fn_DString(oAuthClientSecret),oAuthClientSecret) as [oAuthClientSecret]
	, ISNULL(dbo.fn_DString(oAuthRefreshToken), oAuthRefreshToken) as [oAuthRefreshToken]
	, campaignID
	, template
	, ID
	FROM [dbo].[EmailJobs]
	WHERE [Email_Name] = @Email_Name AND [Entity] = @Entity
END
GO
