/****** Object:  StoredProcedure [dbo].[s_get_balfour_school_items]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:      Tramel Jones
-- Create Date: 2019-08-20
-- Description: Get items based on SMI
-- =============================================
CREATE PROCEDURE [dbo].[s_get_balfour_school_items]
(
    -- Add the parameters for the stored procedure here
    @smi int = 0 
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @returnprod TABLE ( imageurl varchar(255), itemurl varchar(255), sku varchar(100), productname varchar(255), retailprice numeric(9,2), iconicid int, smiid int, class varchar(255), rank int)

    -- Insert statements for procedure here
	/*
	INSERT INTO @returnprod
	SELECT TOP(10) imageurl, itemurl, sku, productname, retailprice, iconicid, smiid
	FROM dbo.iconicRecCache
	WHERE iconicid = @iconicschoolid
	*/

	INSERT INTO @returnprod
	SELECT  [image] AS [imageurl], [url] AS [url], id AS [sku], [name] AS [productname], price AS [retailprice], '' AS [iconicid], @smi AS [smiid], '' AS [Class], 0 AS rank
	FROM  [iconicDefaultRecs]
	where id = 'diploma-frames'

	
	INSERT INTO @returnprod
	SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank
	FROM    (
			SELECT  [imageurl], [itemurl], [sku], [productname], [retailprice], [iconicid], [smiid], [Class], rank,
					ROW_NUMBER() OVER (PARTITION BY [Class] ORDER BY rank asc) AS rn
			FROM    iconicRecCache
			where smiid = @smi
			) q
	WHERE   rn = 1
	order by rank asc



	/*
	select TOP (10) min([imageurl]), min([itemurl]), min([sku]), min([productname]), min([retailprice]), min([iconicid]), min([smiid])
	from iconicRecCache
	where iconicid = @iconicschoolid 
	group by rank, [Class]
	order by rank asc
	*/


	

	/*
	INSERT INTO @returnprod
	SELECT TOP (10) 'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + i.sku + '/base/800x800/' +
                             (SELECT        TOP (1) value
                               FROM            STRING_SPLIT(ia.tagvalue, ',') AS STRING_SPLIT_1) AS imageurl, 
				LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU + '?smi=' + CONVERT(varchar(10), mat.smiid)) AS url, 
				p.SKU, p.[Product Name], p.[Retail Price], mat.iconicid, mat.smiid
	FROM            dbo.magento_manual_product_dataset AS p INNER JOIN
                         dbo.iconicTosmi AS mat ON p.[Included SMI] = mat.smiid INNER JOIN
                         dbo.item AS i ON p.SKU = i.sku INNER JOIN
                         dbo.itemattributes AS ia ON i.id = ia.itemid
	WHERE        (p.[Item Category] NOT IN ('publishing')) 
			AND (p.Status = 'Enable') 
			AND (p.Visibility = 'In Catalog and Search') 
			AND (ia.tagtype = 'a_BalfourPrimaryImages')
			AND  mat.iconicid = @iconicschoolid
	ORDER BY lastchangedate DESC
	*/
	DECLARE @checkCount int
	SELECT @checkCount = COUNT(sku) FROM @returnprod

	/*
	IF @checkCount = 0
		INSERT INTO @returnprod
		SELECT TOP (10) 'https://d3qsmzzpeeacu6.cloudfront.net/pim-images-balfour/' + i.sku + '/base/800x800/' +
								 (SELECT        TOP (1) value
								   FROM            STRING_SPLIT(ia.tagvalue, ',') AS STRING_SPLIT_1) AS imageurl, LOWER('https://www.balfour.com/shop/' + [dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(trim(p.[Product Name]), ' ', '-'),'''','-')) + '-' + p.SKU + '?smi=' + CONVERT(varchar(10), 
							 mat.smiid)) AS url, p.SKU, p.[Product Name], p.[Retail Price], mat.iconicid, mat.smiid
		FROM            dbo.magento_manual_product_dataset AS p INNER JOIN
							 dbo.iconicTosmi AS mat ON p.[Included SMI] = mat.smiid INNER JOIN
							 dbo.item AS i ON p.SKU = i.sku INNER JOIN
							 dbo.itemattributes AS ia ON i.id = ia.itemid
		WHERE        (p.[Item Category] NOT IN ('publishing')) 
				AND (p.Status = 'Enable') 
				AND (p.Visibility = 'In Catalog and Search') 
				AND (ia.tagtype = 'a_BalfourPrimaryImages')
		ORDER BY lastchangedate DESC
	*/
	SELECT * FROM @returnprod
	order by rank asc
END
GO
