/****** Object:  StoredProcedure [dbo].[s_Update_Last_ARC_Order_Processed_Vouchers]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL Crooks
-- Create Date: 08/15/19
-- Description: This will reset the last ARC order processed for vouchers
-- =============================================
CREATE PROCEDURE [dbo].[s_Update_Last_ARC_Order_Processed_Vouchers]
(
	@Order_ID INT
)
AS
SET NOCOUNT ON
DELETE FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE ID IN (SELECT ID FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE Order_ID > @Order_ID)
DECLARE @Val VARCHAR(25)
SET @Val = CAST(@Order_ID AS VARCHAR(25))
EXEC dbo.s_update_extendedprop_on_table @TableName = 'ARC_Orders', @AttribName='LastOrderProcessed_Voucher', @Value=@Val
GO
