/****** Object:  StoredProcedure [dbo].[s_remove_all_content_urls]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_remove_all_content_urls]
(
	@GUID VARCHAR(50) = ''
)
AS
SET NOCOUNT ON
DELETE FROM [dbo].[ConditionalContentURLs] WHERE [CCGUID] = @GUID
GO
