/****** Object:  StoredProcedure [dbo].[s_get_contentaffinitytiles_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 1/21/2021 - Jon
*/
CREATE PROCEDURE [dbo].[s_get_contentaffinitytiles_records]
(
	  @ID BIGINT = NULL
	, @searchField VARCHAR(50) = '' --TileGroup, Headline
	,  @SMI BIGINT = NULL
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ContentAffinityTiles] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [ContentAffinityTiles].
--##PD @SMI is a limiting field
--##PD @searchField - The field to search on (TileGroup, Headline)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ContentAffinityTiles].

--DECLARE @totalRecords INT; EXEC s_get_contentaffinitytiles_records @SMI = 1326, @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [SMI]
		,[TileGroup]
		,[GradeLevel]
		,ISNULL([Headline],'') as [Headline]
		,ISNULL([SubHeadline],'') as [SubHeadline]
		,ISNULL([TopText],'') as [TopText]
		,ISNULL([BottomText],'') as [BottomText]
		,ISNULL([Image],'') as [Image]
		,ISNULL([Image2],'') as [Image2]
		,ISNULL([MobileImage],'') as [MobileImage]
		,ISNULL([MobileImage2],'') as [MobileImage2]
		,ISNULL([LogoImage],'') as [LogoImage]
		,ISNULL([CTAButtonText],'') as [CTAButtonText]
		,ISNULL([CTAButtonLink],'') as [CTAButtonLink]
		,[CTAButtonNewTab]
		,[ID]
		,ISNULL([DataDrivenMode],0) as [DataDrivenMode]
		,ISNULL([SortOrder],99) as [SortOrder]
		,ISNULL([MarketingCallout],'') as MarketingCallout
		FROM [ContentAffinityTiles]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[ContentAffinityTiles]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [ContentAffinityTiles]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
		AND ISNULL([TileGroup],'') LIKE CASE WHEN @searchField = 'TileGroup' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([TileGroup],'') END
		AND ISNULL([Headline],'') LIKE CASE WHEN @searchField = 'Headline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Headline],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SMI]
				,[TileGroup]
				,[GradeLevel]
				,ISNULL([Headline],'') as [Headline]
				,ISNULL([SubHeadline],'') as [SubHeadline]
				,ISNULL([TopText],'') as [TopText]
				,ISNULL([BottomText],'') as [BottomText]
				,ISNULL([Image],'') as [Image]
				,ISNULL([Image2],'') as [Image2]
				,ISNULL([MobileImage],'') as [MobileImage]
				,ISNULL([MobileImage2],'') as [MobileImage2]
				,ISNULL([LogoImage],'') as [LogoImage]
				,ISNULL([CTAButtonText],'') as [CTAButtonText]
				,ISNULL([CTAButtonLink],'') as [CTAButtonLink]
				,[CTAButtonNewTab]
				,[ID]
				,ISNULL([DataDrivenMode],0) as [DataDrivenMode]
				,ISNULL([SortOrder],99) as [SortOrder]
				,ISNULL([MarketingCallout],'') as MarketingCallout
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'TileGroup' THEN [TileGroup] WHEN 'Headline' THEN [Headline] END DESC) as RowNumber
				FROM [dbo].[ContentAffinityTiles]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND ISNULL([TileGroup],'') LIKE CASE WHEN @searchField = 'TileGroup' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([TileGroup],'') END
				AND ISNULL([Headline],'') LIKE CASE WHEN @searchField = 'Headline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Headline],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SMI]
				,[TileGroup]
				,[GradeLevel]
				,ISNULL([Headline],'') as [Headline]
				,ISNULL([SubHeadline],'') as [SubHeadline]
				,ISNULL([TopText],'') as [TopText]
				,ISNULL([BottomText],'') as [BottomText]
				,ISNULL([Image],'') as [Image]
				,ISNULL([Image2],'') as [Image2]
				,ISNULL([MobileImage],'') as [MobileImage]
				,ISNULL([MobileImage2],'') as [MobileImage2]
				,ISNULL([LogoImage],'') as [LogoImage]
				,ISNULL([CTAButtonText],'') as [CTAButtonText]
				,ISNULL([CTAButtonLink],'') as [CTAButtonLink]
				,[CTAButtonNewTab]
				,[ID]
				,ISNULL([DataDrivenMode],0) as [DataDrivenMode]
				,ISNULL([SortOrder],99) as [SortOrder]
				,ISNULL([MarketingCallout],'') as MarketingCallout
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'TileGroup' THEN [TileGroup] WHEN 'Headline' THEN [Headline] END) as RowNumber
				FROM [dbo].[ContentAffinityTiles]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND ISNULL([TileGroup],'') LIKE CASE WHEN @searchField = 'TileGroup' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([TileGroup],'') END
				AND ISNULL([Headline],'') LIKE CASE WHEN @searchField = 'Headline' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Headline],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
