/****** Object:  StoredProcedure [dbo].[BAAN_Order_Details_SP]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[BAAN_Order_Details_SP]
(
@Customer_No nvarchar (MAX) NULL,
@Customer_Name nvarchar (MAX) NULL,
@Project_No nvarchar (MAX) NULL,
@Year nvarchar (MAX) NULL,
@Season nvarchar (MAX) NULL,
@Rep_Name nvarchar(MAX) NULL,
@AE_Name nvarchar(MAX) NULL,
@Project_Status nvarchar(MAX) NULL,
@Stage nvarchar(MAX) NULL,
@Stage_Description nvarchar (MAX)NULL,
@Final_Date datetime NULL,
@Req_Ship_Date datetime NULL,
@Control_Date datetime NULL,
@Sales_Order_No nvarchar(MAX) NULL,
@Ordered_Qty nvarchar(MAX) NULL,
@Delivered_Qty nvarchar (MAX)NULL,
@Trans_Type nvarchar(MAX) NULL,
@Invoice_No nvarchar(MAX) NULL,
@Amount nvarchar(MAX) NULL,
@Forwarding_Agent nvarchar(MAX) NULL,
@Tracking_Number nvarchar(MAX) NULL,
@Ship_Date datetime NULL,
@Trim_Size nvarchar(MAX) NULL,
@Pagecount nvarchar(MAX) NULL,
@Copies nvarchar(MAX) NULL,
@EDV nvarchar(MAX) NULL,
@Production_Location nvarchar(MAX) NULL,
@Cover_Type nvarchar (MAX)NULL,
@Endsheet_Type nvarchar(MAX) NULL,
@Endsheet_Design nvarchar(MAX) NULL,
@Lamination_Type nvarchar(MAX) NULL,
@Name_Stamping nvarchar(MAX) NULL,
@Paper_Material nvarchar(MAX) NULL,
@Cover_Spec_Rec_Dt datetime NULL,
@Cover_Design_Rec_Dt datetime NULL,
@Endsheet_Spec_Rec_Dt datetime NULL,
@Endsheet_Design_Rec_Dt datetime NULL,
@Endsheet_Production_Order nvarchar(MAX) NULL,
@Endsheet_Status nvarchar(MAX) NULL,
@Endsheet_Location nvarchar(MAX) NULL,
@Endsheet_PRP_Status nvarchar(MAX) NULL,
@Endsheet_Active_WC nvarchar(MAX) NULL,
@Cover_Production_Order nvarchar(MAX) NULL,
@Cover_Status nvarchar (MAX)NULL,
@Cover_Location nvarchar(MAX) NULL,
@Cover_PRP_Status nvarchar(MAX) NULL,
@Cover_Active_WC nvarchar(MAX) NULL,
@Pending_Cover_WC nvarchar(MAX) NULL,
@Cover_Pending_WC_Count nvarchar(MAX) NULL,
@Yearbook_Production_Order nvarchar(MAX) NULL,
@Yearbook_Status nvarchar(MAX) NULL,
@Yearbook_Location nvarchar(MAX) NULL,
@Yearbook_PRP_Status nvarchar(MAX) NULL,
@Yearbook_Active_WC nvarchar(MAX) NULL,
@Endsheet_Prep_Production_Order nvarchar(MAX) NULL,
@Endsheet_Prep_Status nvarchar(MAX) NULL,
@Endsheet_Prep_Active_WC nvarchar(MAX) NULL,
@Endsheet_Prep_Pending_WC_Count nvarchar(MAX) NULL,
@Cover_Prep_Production_Order nvarchar(MAX) NULL,
@Cover_Prep_Status nvarchar(MAX) NULL,
@Cover_Prep_Active_WC nvarchar(MAX) NULL,
@Cover_Prep_Pending_WC_Count nvarchar(MAX) NULL,
@CREATED_AT datetime NULL,
@UPDATED_AT datetime NULL
)
AS
BEGIN
    SET NOCOUNT ON
	IF EXISTS(SELECT * FROM [dbo].[BAAN_Order_Details] WHERE Project_No	=	@Project_No)
	UPDATE [dbo].[BAAN_Order_Details]
	SET Customer_No	=	@Customer_No,Customer_Name	=	@Customer_Name,Project_No	=	@Project_No,Year	=	@Year,Season	=	@Season,Rep_Name	=	@Rep_Name,AE_Name	=	@AE_Name,Project_Status	=	@Project_Status,Stage	=	@Stage,Stage_Description	=	@Stage_Description,Final_Date	=	@Final_Date,Req_Ship_Date	=	@Req_Ship_Date,Control_Date	=	@Control_Date,Sales_Order_No	=	@Sales_Order_No,Ordered_Qty	=	@Ordered_Qty,Delivered_Qty	=	@Delivered_Qty,Trans_Type	=	@Trans_Type,Invoice_No	=	@Invoice_No,Amount	=	@Amount,Forwarding_Agent	=	@Forwarding_Agent,Tracking_Number	=	@Tracking_Number,Ship_Date	=	@Ship_Date,Trim_Size	=	@Trim_Size,Pagecount	=	@Pagecount,Copies	=	@Copies,EDV	=	@EDV,Production_Location	=	@Production_Location,Cover_Type	=	@Cover_Type,Endsheet_Type	=	@Endsheet_Type,Endsheet_Design	=	@Endsheet_Design,Lamination_Type	=	@Lamination_Type,Name_Stamping	=	@Name_Stamping,Paper_Material	=	@Paper_Material,Cover_Spec_Rec_Dt	=	@Cover_Spec_Rec_Dt,Cover_Design_Rec_Dt	=	@Cover_Design_Rec_Dt,Endsheet_Spec_Rec_Dt	=	@Endsheet_Spec_Rec_Dt,Endsheet_Design_Rec_Dt	=	@Endsheet_Design_Rec_Dt,Endsheet_Production_Order	=	@Endsheet_Production_Order,Endsheet_Status	=	@Endsheet_Status,Endsheet_Location	=	@Endsheet_Location,Endsheet_PRP_Status	=	@Endsheet_PRP_Status,Endsheet_Active_WC	=	@Endsheet_Active_WC,Cover_Production_Order	=	@Cover_Production_Order,Cover_Status	=	@Cover_Status,Cover_Location	=	@Cover_Location,Cover_PRP_Status	=	@Cover_PRP_Status,Cover_Active_WC	=	@Cover_Active_WC,Pending_Cover_WC	=	@Pending_Cover_WC,Cover_Pending_WC_Count	=	@Cover_Pending_WC_Count,Yearbook_Production_Order	=	@Yearbook_Production_Order,Yearbook_Status	=	@Yearbook_Status,Yearbook_Location	=	@Yearbook_Location,Yearbook_PRP_Status	=	@Yearbook_PRP_Status,Yearbook_Active_WC	=	@Yearbook_Active_WC,Endsheet_Prep_Production_Order	=	@Endsheet_Prep_Production_Order,Endsheet_Prep_Status	=	@Endsheet_Prep_Status,Endsheet_Prep_Active_WC	=	@Endsheet_Prep_Active_WC,Endsheet_Prep_Pending_WC_Count	=	@Endsheet_Prep_Pending_WC_Count,Cover_Prep_Production_Order	=	@Cover_Prep_Production_Order,Cover_Prep_Status	=	@Cover_Prep_Status,Cover_Prep_Active_WC	=	@Cover_Prep_Active_WC,Cover_Prep_Pending_WC_Count	=	@Cover_Prep_Pending_WC_Count,CREATED_AT	=	@CREATED_AT,UPDATED_AT	=	@UPDATED_AT
	 WHERE Project_No	=	@Project_No
ELSE
    INSERT INTO [dbo].[BAAN_Order_Details] (Customer_No,Customer_Name,Project_No,Year,Season,Rep_Name,AE_Name,Project_Status,Stage,Stage_Description,Final_Date,Req_Ship_Date,Control_Date,Sales_Order_No,Ordered_Qty,Delivered_Qty,Trans_Type,Invoice_No,Amount,Forwarding_Agent,Tracking_Number,Ship_Date,Trim_Size,Pagecount,Copies,EDV,Production_Location,Cover_Type,Endsheet_Type,Endsheet_Design,Lamination_Type,Name_Stamping,Paper_Material,Cover_Spec_Rec_Dt,Cover_Design_Rec_Dt,Endsheet_Spec_Rec_Dt,Endsheet_Design_Rec_Dt,Endsheet_Production_Order,Endsheet_Status,Endsheet_Location,Endsheet_PRP_Status,Endsheet_Active_WC,Cover_Production_Order,Cover_Status,Cover_Location,Cover_PRP_Status,Cover_Active_WC,Pending_Cover_WC,Cover_Pending_WC_Count,Yearbook_Production_Order,Yearbook_Status,Yearbook_Location,Yearbook_PRP_Status,Yearbook_Active_WC,Endsheet_Prep_Production_Order,Endsheet_Prep_Status,Endsheet_Prep_Active_WC,Endsheet_Prep_Pending_WC_Count,Cover_Prep_Production_Order,Cover_Prep_Status,Cover_Prep_Active_WC,Cover_Prep_Pending_WC_Count,CREATED_AT,UPDATED_AT)
	VALUES (@Customer_No,@Customer_Name,@Project_No,@Year,@Season,@Rep_Name,@AE_Name,@Project_Status,@Stage,@Stage_Description,@Final_Date,@Req_Ship_Date,@Control_Date,@Sales_Order_No,@Ordered_Qty,@Delivered_Qty,@Trans_Type,@Invoice_No,@Amount,@Forwarding_Agent,@Tracking_Number,@Ship_Date,@Trim_Size,@Pagecount,@Copies,@EDV,@Production_Location,@Cover_Type,@Endsheet_Type,@Endsheet_Design,@Lamination_Type,@Name_Stamping,@Paper_Material,@Cover_Spec_Rec_Dt,@Cover_Design_Rec_Dt,@Endsheet_Spec_Rec_Dt,@Endsheet_Design_Rec_Dt,@Endsheet_Production_Order,@Endsheet_Status,@Endsheet_Location,@Endsheet_PRP_Status,@Endsheet_Active_WC,@Cover_Production_Order,@Cover_Status,@Cover_Location,@Cover_PRP_Status,@Cover_Active_WC,@Pending_Cover_WC,@Cover_Pending_WC_Count,@Yearbook_Production_Order,@Yearbook_Status,@Yearbook_Location,@Yearbook_PRP_Status,@Yearbook_Active_WC,@Endsheet_Prep_Production_Order,@Endsheet_Prep_Status,@Endsheet_Prep_Active_WC,@Endsheet_Prep_Pending_WC_Count,@Cover_Prep_Production_Order,@Cover_Prep_Status,@Cover_Prep_Active_WC,@Cover_Prep_Pending_WC_Count,@CREATED_AT,@UPDATED_AT)
END
GO
