/****** Object:  StoredProcedure [dbo].[s_get_photo_announcement_vouchers]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03-10-2020
-- Description: Photo announcement voucher report
-- =============================================
CREATE PROCEDURE [dbo].[s_get_photo_announcement_vouchers]
(
    @BalNumber VARCHAR(50) = ''
)
AS
BEGIN
	--EXEC s_get_photo_announcement_vouchers
	--EXEC s_get_photo_announcement_vouchers @BalNumber='BAL1241'
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Results TABLE ([Line] VARCHAR(MAX), Loop INT IDENTITY(1,1))
	INSERT INTO @Results ([LINE])
	VALUES ( '"BAL Number","Rep. Email","Order #","Reference #","Order Date","Last,First","Full Name","Customer Email","Coupon Code","Amount","Redeemed","SMI","School Name"' )
	INSERT INTO @Results ([LINE])
    SELECT 
	 '"' + LTRIM(RTRIM(ISNULL(Rep.[BalNumber],''))) + '","' +
	 ISNULL(Rep.[email],'') + '",' +
	 CAST(ARC.[Order_Number] AS VARCHAR(25)) + ',' + 
	 CAST(ISNULL(ARC.[Reference_Number],0) AS VARCHAR(25)) + ',' +
	 FORMAT(dbo.fn_DateTime_to_Central(ARC.[Order_Received_Date]), 'MM-dd-yyyy') + ',"' +
	 LTRIM(RTRIM(ISNULL(ARC.[Order_Student_Last_Name],''))) + '","' +
	 LTRIM(RTRIM(ISNULL(ARC.[Order_Student_First_Name],''))) + '","' +
	 LTRIM(RTRIM(ISNULL([Order_Bill_To_Full_Name],''))) + '","' + 
	 LTRIM(RTRIM(ISNULL(ARC.[Order_Email_Address],''))) + '","' +
	 ISNULL(CODES.[Code],'') +'",' +
	 CAST(ISNULL(CODES.[Amount],0) AS VARCHAR(15)) + ',' +
	 CASE WHEN ISNULL([Used_Order_ID],0) <> 0 THEN '"Yes"' ELSE '"No"' END + ',' + 
	 CAST(ISNULL(ARC.[SMI],0) as VARCHAR(20)) + ',"' +
	 ISNULL(SMI.[Name],'') + '"'
	 
	FROM [dbo].[ARC_Orders] ARC
	LEFT JOIN [dbo].[BalfourReps] REP ON REP.[BalNumber] = ARC.[BalNumber]
	LEFT JOIN [dbo].[GradPackPhotoAnnounceTransactions] CODES ON CODES.[Order_ID] = ARC.[Order_Number]
	LEFT JOIN [dbo].[SMISchoolMasterIndexList] SMI on SMI.[ID] = ARC.[SMI]
	WHERE ARC.[ID] > 21 --Don't list test orders 
	AND ARC.[Order_Email_Address] NOT LIKE '%@balfour.com'
	AND LTRIM(RTRIM(Rep.[BalNumber])) = CASE WHEN LTRIM(RTRIM(ISNULL(@BalNumber,''))) = '' THEN Rep.[BalNumber] ELSE LTRIM(RTRIM(@BalNumber)) END
	ORDER BY Rep.[BalNumber], ARC.[Order_Number]

	SELECT [Line] FROM @Results ORDER BY [Loop]
END
GO
