/****** Object:  StoredProcedure [dbo].[s_get_grad_tile_pre_iop]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/25/19
-- Description: Get our Graduation tile for a school
-- =============================================
CREATE PROCEDURE [dbo].[s_get_grad_tile_pre_iop]
(
    -- Add the parameters for the stored procedure here
    @smi int = 0
)
AS
BEGIN
	-- [dbo].[s_get_grad_tile] @smi=100659
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SELECT dt.[ID]
      ,dt.[Name]
      ,dt.[CTA]
      ,dt.[Price]
      ,dt.[Image]
      ,dt.[badgeText]
      ,REPLACE(dt.[URL],'*SMI*', @smi) AS [URL]
      ,dt.[SectionID]
      ,dt.[enabled]
	  ,dt.[tiletype]
  FROM [dbo].[DynamicTiles] dt
  Inner join [dbo].[AffinityGradpack14] ss on ss.SMI = @smi -- list of schools for 1.4 
  where dt.ID = 12 --Graduation's TileID
  --AND dt.enabled = 1 
  
    
END
GO
