/****** Object:  StoredProcedure [dbo].[s_prep_mage_cat_import_QA]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL  - 
-- Update: HT -- For QA
-- Create Date: 05/19/2021
-- Description: Prepares the database for an import of the Magento "SHOP ALL" categories
-- =============================================
CREATE PROCEDURE [dbo].[s_prep_mage_cat_import_QA]
--EXEC [s_prep_mage_cat_import_QA]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	

    DROP TABLE IF EXISTS [dbo].[ShopAllNavMenu_Import_QA]

	SELECT * INTO [dbo].[ShopAllNavMenu_Import_QA]
	FROM [dbo].[ShopAllNavMenu_QA] WHERE 1 = 2

	--Alter Table ShopAllNavMenu_Import_QA Add Id_new Int Identity(1, 1)
	--Alter Table ShopAllNavMenu_Import_QA Drop Column ID
	--Exec sp_rename 'ShopAllNavMenu_Import_QA.Id_new', 'ID', 'Column'

	BEGIN TRY
		ALTER TABLE [ShopAllNavMenu_QA] DROP CONSTRAINT PK_ShopAllMenu_Import
	END TRY
	BEGIN CATCH

	END CATCH


END
--select * from ShopAllNavMenu_Import_QA
GO
