/****** Object:  StoredProcedure [dbo].[s_report_girlscout_orders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/17/2020
-- Description: Sends an internal girl scout orders report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_girlscout_orders] 
AS 
--EXEC s_report_girlscout_orders
SET NOCOUNT ON
/*
You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
you can get the rows in the correct order.
*/
CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
/*
You will need the header row.  Separate the columns with the tab (CHAR(44)) character.
*/
INSERT INTO #ReportTemp ([row])
SELECT 'OrderID' + CHAR(44) + 'OrderNumber' + CHAR(44) + 'OrderDate' + CHAR(44) + 'SubTotal' + CHAR(44) + 'Tax' + CHAR(44) + 'SKU' + CHAR(44) +
       'GrandTotal' + CHAR(44) +  'Sku' + CHAR(44) +  'QtyOrdered' + CHAR(44) 
/*
Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(44)) between then.  Be careful not to allow
any NULL values as that will cause the entire string (row) to be NULL.
*/
INSERT INTO #ReportTemp ([row])
	SELECT  DISTINCT CAST(o.[entity_id] as VARCHAR(15))  + CHAR(44) + 
			o.increment_id  + CHAR(44) +  	 
			CONVERT(VARCHAR, dbo.fn_DateTime_to_Central(o.created_at),22)  + CHAR(44) + 
			CAST(CAST(ROUND(o.subtotal, 2) AS MONEY) AS VARCHAR) + CHAR(44) + 
			CAST(CAST(ROUND(o.tax_amount, 2) AS MONEY) AS VARCHAR) + CHAR(44) +
			CAST(CAST(ROUND(o.shipping_amount, 2) AS MONEY) AS VARCHAR) + CHAR(44) +
			CAST(CAST(ROUND(o.grand_total, 2) AS MONEY) AS VARCHAR) + CHAR(44) +
			LTRIM(RTRIM(i.sku)) + CHAR(44) +
			--i.name AS ProducName,
			CAST(CAST(i.qty_ordered AS INT) AS VARCHAR) + CHAR(44) 
	FROM MAGE_Sales_Order o 
	INNER JOIN MAGE_sales_order_item i ON i.order_id = o.entity_id
	 JOIN magento_automated_product_dataset p ON p.SKU = i.sku
	WHERE p.[Enhanced Commerce] = 'BALFOUR DIRECT-GIRL SCOUTS'
	GROUP BY o.entity_id, 
			o.increment_id, 
			dbo.fn_DateTime_to_Central(o.created_at),
			CAST(ROUND(o.subtotal, 2) AS MONEY),
			CAST(ROUND(o.tax_amount, 2) AS MONEY), 
			CAST(ROUND(o.shipping_amount, 2) AS MONEY),
			CAST(ROUND(o.grand_total, 2) AS MONEY),
			i.sku, 		
			CAST(i.qty_ordered AS INT) 
	--ORDER BY o.increment_id  DESC
	 
/*
Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
*/
DECLARE @File VARCHAR(MAX)
SET @File = ''
/*
Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
a LF (CHAR(10)).  Make sure to order by your identity column.
*/
SELECT @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
FROM #ReportTemp
ORDER BY [rownum]

DROP TABLE IF EXISTS #ReportTemp
/*For debugging purposes.*/
SELECT @File

/*
Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
*/
INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
VALUES
(
 'Report' /*Always use 'Report'*/
,'Balfour' /*Always use Balfour.*/
,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
,'Girl Scout Orders' /*Description of the queue entry.*/
,'Marla.Zack@balfour.com' /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/
,'{"cc":"","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"Girl Scout Orders Report","body":"The Girl Scout Orders report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
,'GirlScoutOrdersReport.csv' /*Name of the attachment.*/
,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
)
/*For debugging purposes.*/
SELECT SCOPE_IDENTITY()
GO
