/****** Object:  StoredProcedure [dbo].[s_get_order_conf_emails_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/12/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_order_conf_emails_records]
(
	  @ID BIGINT = NULL
	, @searchField VARCHAR(50) = '' --OrderNumber, emailAddresses
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [View_Order_Conf_Emails] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [View_Order_Conf_Emails].
--##PD @searchField - The field to search on (OrderNumber, emailAddresses)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @startDate The starting date
--##PD @endDate The ending date
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [View_Order_Conf_Emails].

--DECLARE @totalRecords INT; EXEC s_get_order_conf_emails_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [Retries]
		,FORMAT(dbo.fn_DateTime_to_Central([Queued_DTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [Queued_DTM]
		,FORMAT(dbo.fn_DateTime_to_Central([Processed_DTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [Processed_DTM]
		,[ID]
		,ISNULL([Batch_ID],'') as [Batch]
		,[Result]
		,[Key_Name]
		,[OrderNumber]
		,[SilverpopTrans]
		,[ErrorCount]
		,[emailAddresses]
		,[rawData]
		FROM [View_Order_Conf_Emails]
		WHERE [ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[View_Order_Conf_Emails]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999

		IF LTRIM(RTRIM(@searchTerm)) <> '' 
			BEGIN --Dates are irrlelavent
				SET @StartDate = '1/1/2000'
				SET @endDate = DATEADD(day,1,GETDATE())
			END
		ELSE
			BEGIN
				IF @startDate IS NULL SET @startDate = DATEADD(day,-7,GETDATE())
				IF @endDate IS NULL SET @endDate = DATEADD(d, 1, GETDATE())

				SET @startDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @startDate, 101) as DATETIME))
				SET @endDate = dbo.fn_DateTime_to_Zulu(CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME))
			END

		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [View_Order_Conf_Emails]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([OrderNumber],'') LIKE CASE WHEN @searchField = 'OrderNumber' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([OrderNumber],'') END
		AND ISNULL([emailAddresses],'') LIKE CASE WHEN @searchField = 'emailAddresses' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([emailAddresses],'') END
		AND [Queued_DTM] BETWEEN @startDate AND @endDate

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [Retries]
				,FORMAT(dbo.fn_DateTime_to_Central([Queued_DTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [Queued_DTM]
				,FORMAT(dbo.fn_DateTime_to_Central([Processed_DTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [Processed_DTM]
				,[ID]
				,ISNULL([Batch_ID],'') as [Batch]
				,[Result]
				,[Key_Name]
				,[OrderNumber]
				,[SilverpopTrans]
				,[ErrorCount]
				,[emailAddresses]
				,'' as [rawData]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'OrderNumber' THEN [OrderNumber] WHEN 'emailAddresses' THEN [emailAddresses] END DESC) as RowNumber
				FROM [dbo].[View_Order_Conf_Emails]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([OrderNumber],'') LIKE CASE WHEN @searchField = 'OrderNumber' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([OrderNumber],'') END
				AND ISNULL([emailAddresses],'') LIKE CASE WHEN @searchField = 'emailAddresses' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([emailAddresses],'') END
				AND [Queued_DTM] BETWEEN @startDate AND @endDate
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [Retries]
				,FORMAT(dbo.fn_DateTime_to_Central([Queued_DTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [Queued_DTM]
				,FORMAT(dbo.fn_DateTime_to_Central([Processed_DTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [Processed_DTM]
				,[ID]
				,ISNULL([Batch_ID],'') as [Batch]
				,[Result]
				,[Key_Name]
				,[OrderNumber]
				,[SilverpopTrans]
				,[ErrorCount]
				,[emailAddresses]
				,'' as [rawData]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'OrderNumber' THEN [OrderNumber] WHEN 'emailAddresses' THEN [emailAddresses] END) as RowNumber
				FROM [dbo].[View_Order_Conf_Emails]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([OrderNumber],'') LIKE CASE WHEN @searchField = 'OrderNumber' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([OrderNumber],'') END
				AND ISNULL([emailAddresses],'') LIKE CASE WHEN @searchField = 'emailAddresses' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([emailAddresses],'') END
				AND [Queued_DTM] BETWEEN @startDate AND @endDate
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
