/****** Object:  StoredProcedure [dbo].[s_report_school_rank_list]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 07/10/2020
-- Description: School rank list report - power bi report
-- =============================================
CREATE PROCEDURE [dbo].[s_report_school_rank_list] 
AS 
--EXEC [s_report_school_rank_list]
SET NOCOUNT ON

SELECT SMI, CleanSchoolName AS [School Name], SchoolRanking AS [School Ranking], SchoolRankingBooster AS [School Ranking Booster]
FROM School_URL_Master
WHERE SMI > 0 AND SchoolRanking > 0 -- and SchoolRankingBooster > 0
ORDER BY SMI DESC
GO
