/****** Object:  StoredProcedure [dbo].[s_EmailJobsQueue_Search]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_EmailJobsQueue_Search]
(
     @search varchar(11),
	 @emailName varchar(100),
	 @entity varchar(100),
	 @service varchar(50)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	SELECT TOP 1 *
	FROM emailjobs_queue
	WHERE
		email_name = @emailName
		and [service] = @service
		and entity = @entity
		and Queued_DTM >= dateadd(d, -30, getdate())
		and replace(replace(replace(replace(emailAddresses, ' ', ''), ')', ''), '(', ''), '-', '') like '%' + @search + '%'
	ORDER BY queued_dtm DESC
END
GO
