/****** Object:  StoredProcedure [dbo].[proc_delete_arc_orders_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 7/8/2019 - TL.
*/
CREATE PROCEDURE [dbo].[proc_delete_arc_orders_record]
(
	 @Order_Number BIGINT = NULL

)
AS
--##AT AG
--##BD Deletes a specific record from the table [ARC_Orders].
--##PD @Order_Number in [ARC_Orders].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [ARC_Orders] WHERE [Order_Number] = @Order_Number



GO
