/****** Object:  StoredProcedure [dbo].[s_finalize_mage_cat_import_QA]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 05/19/2021
-- Description: Finalizes the import of Magento categories for Shop All  for QA
-- =============================================
CREATE PROCEDURE [dbo].[s_finalize_mage_cat_import_QA]
--EXEC s_finalize_mage_cat_import
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    IF EXISTS (SELECT * 
                 FROM INFORMATION_SCHEMA.TABLES 
                 WHERE TABLE_SCHEMA = 'dbo' 
                 AND  TABLE_NAME = 'ShopAllNavMenu_Import_QA')
	BEGIN
		--Get a count
		DECLARE @CntNew INT, @CntOld INT, @LastUpdate VARCHAR(50)
		SELECT @CntNew = COUNT(*) FROM [dbo].[ShopAllNavMenu_Import_QA]
		SELECT @CntOld = COUNT(*) FROM [dbo].[ShopAllNavMenu_QA]
		IF @CntNew >= 0.75*(@CntOld)
			BEGIN
				--UPDATE [dbo].[ShopAllNavMenu_Import_QA] SET [URL] = RIGHT([URL],LEN([URL])-(CHARINDEX('balfour.com/',[URL])+10)) WHERE [URL] LIKE '%balfour.com%'
				UPDATE [dbo].[ShopAllNavMenu_Import_QA] SET [URL] = SUBSTRING([URL], CHARINDEX('/shop/', [URL]), (LEN([URL]) - CHARINDEX('/shop/', [URL]))) WHERE [URL] LIKE '%.com%'
				UPDATE [dbo].[ShopAllNavMenu_Import_QA] SET [InProduction] = 1, [Sort_Order] = ID, [Title] = [Tag]
				UPDATE [dbo].[ShopAllNavMenu_Import_QA] SET [ParentTag] = '' WHERE [ParentTag] IS NULL
				
				DROP TABLE IF EXISTS [dbo].[ShopAllNavMenu_QA_Rollback]
				EXEC sp_rename 'ShopAllNavMenu_QA', 'ShopAllNavMenu_QA_Rollback'
				EXEC sp_rename 'ShopAllNavMenu_Import_QA', 'ShopAllNavMenu_QA'
				--Update the last updated attribute
				SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central (GETDATE()), 'MM/dd/yyyy hh:mm tt')
				EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'ShopAllNavMenu_QA', @AttribName = 'LastUpdate', @Value = @LastUpdate
			END
		ELSE
			PRINT 'Not enough records'
	END
END
GO
