/****** Object:  StoredProcedure [dbo].[s_update_contentsprocs_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/3/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_contentsprocs_record]
(
 @cacheConnection VARCHAR(500) = NULL
,@cacheMinutes BIGINT = NULL
,@connectionToken VARCHAR(50) = NULL
,@createdDTM DATETIME = NULL
,@id INT = NULL
,@modifiedDTM DATETIME = NULL
,@notes VARCHAR(MAX) = NULL
,@testCall VARCHAR(1000) = NULL
,@sprocKey VARCHAR(50) = NULL
,@sprocName VARCHAR(50) = NULL
,@useCache BIT = NULL
, @id_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [ContentSprocs].
--##RS1 The [id] value of the inserted/updated record in the table [ContentSprocs].

IF ISNULL(@id,0) = 0 --Insert
  BEGIN
    INSERT INTO [ContentSprocs] ( [sprocKey],[sprocName],[connectionToken],[useCache],[cacheMinutes],[cacheConnection],[notes],[testCall],[createdDTM],[modifiedDTM])
       VALUES ( @sprocKey,@sprocName,@connectionToken,@useCache,@cacheMinutes,@cacheConnection,@notes,@testCall,@createdDTM,@modifiedDTM)
    SELECT @id_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [ContentSprocs] SET
     [sprocKey] = CASE WHEN @sprocKey IS NULL THEN [sprocKey] ELSE @sprocKey END
    ,[sprocName] = CASE WHEN @sprocName IS NULL THEN [sprocName] ELSE @sprocName END
    ,[connectionToken] = CASE WHEN @connectionToken IS NULL THEN [connectionToken] ELSE @connectionToken END
    ,[useCache] = CASE WHEN @useCache IS NULL THEN [useCache] ELSE @useCache END
    ,[cacheMinutes] = CASE WHEN @cacheMinutes IS NULL THEN [cacheMinutes] ELSE @cacheMinutes END
    ,[cacheConnection] = CASE WHEN @cacheConnection IS NULL THEN [cacheConnection] ELSE @cacheConnection END
    ,[notes] = CASE WHEN @notes IS NULL THEN [notes] ELSE @notes END
	,[testCall] = CASE WHEN @testCall IS NULL THEN [testCall] ELSE @testCall END
    --,[createdDTM] = CASE WHEN @createdDTM IS NULL THEN [createdDTM] ELSE @createdDTM END
    ,[modifiedDTM] = GETDATE()
      WHERE [id] = @id
    SELECT @id_Out = @id
  END

SELECT
 [sprocKey]
,[sprocName]
,[connectionToken]
,[useCache]
,[cacheMinutes]
,[cacheConnection]
,ISNULL([notes],'') as [notes]
,ISNULL([testCall],'') as [testCall]
,FORMAT(dbo.fn_DateTime_to_Central([createdDTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [createdDTM]
,FORMAT(dbo.fn_DateTime_to_Central([modifiedDTM]), 'MM/dd/yyyy hh:mm:ss tt') AS [modifiedDTM]
,[id]

FROM dbo.[ContentSprocs]
WHERE [id] = @id_Out
GO
