/****** Object:  StoredProcedure [dbo].[s_rollback_contentmainnav]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/28/2020
-- Description: Drops the current QA record ([status] = 1), makes the current production record QA ([status] = 0 to [status] = 1) and makes the most recently archived record [Status] = 2 in [ContentMainNav] the production record ([Status] = 0)
-- =============================================
CREATE PROCEDURE [dbo].[s_rollback_contentmainnav]
(
	@Debugging BIT = 0
)
--EXEC dbo.s_rollback_contentmainnav
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	--Make sure there is something to roll back to
	IF EXISTS (SELECT * FROM  [dbo].[ContentMainNav] WHERE [Status] = 2)
		BEGIN
			IF @Debugging = 0
				BEGIN
					DECLARE @GUID VARCHAR(50), @OldGUID VARCHAR(50), @ID INT
					SELECT @OldGUID = [GUID] FROM [dbo].[ContentMainNav] WHERE [Status] = 1

					DELETE FROM [dbo].[ContentMainNavDetails] WHERE [ContentMainNavGUID] = @OldGUID
					DELETE FROM [dbo].[ContentMainNav] WHERE [Status] = 1
	

					--Make current production QA
					UPDATE [dbo].[ContentMainNav] SET [Status] = 1 WHERE [Status] = 0

					--Make the most recent archive record [Status] = 2, prodcution
					SELECT TOP 1 @ID = [ID] FROM  [dbo].[ContentMainNav] WHERE [Status] = 2 ORDER BY ID DESC
					UPDATE [dbo].[ContentMainNav] SET [STatus] = 0 WHERE [ID] = @ID
				END
			SELECT 'QA main nav rolled back from production.  It could be up to an hour before the cache clears.  ' + CASE WHEN @Debugging = 1 THEN '(Running in debug mode so nothing really happened.)' ELSE '' END
		END
	ELSE
		BEGIN
			SELECT 'Sorry!  Nothing to roll back to.  ' + CASE WHEN @Debugging = 1 THEN '(Running in debug mode so nothing really happened.)' ELSE '' END
		END

END
GO
