/****** Object:  StoredProcedure [dbo].[s_update_school_events_locations_dates_times_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/25/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_school_events_locations_dates_times_record]
(
 @Dates_GUID VARCHAR(50) = NULL
,@EndTime VARCHAR(5) = NULL
,@GUID VARCHAR(50) = NULL
,@ID BIGINT = NULL
,@StartTime VARCHAR(5) = NULL
,@ID_OUT BIGINT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [School_Events_Locations_Dates_Times].
--##RS1 The [ID] value of the inserted/updated record in the table [School_Events_Locations_Dates_Times].
IF ISNULL(@GUID,'') = '' SET @GUID = NEWID()
IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [School_Events_Locations_Dates_Times] ( [StartTime],[EndTime],[Dates_GUID],[GUID])
       VALUES ( CASE WHEN ISNULL(@StartTime,'') = '' THEN NULL ELSE CAST(@StartTime as Time(7)) END,CASE WHEN ISNULL(@EndTime,'') = '' THEN NULL ELSE CAST(@EndTime AS Time(7)) END,@Dates_GUID,@GUID)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [School_Events_Locations_Dates_Times] SET
     [StartTime] = CASE WHEN @StartTime IS NULL THEN [StartTime] ELSE CAST(@StartTime as Time(7)) END
    ,[EndTime] = CASE WHEN @EndTime IS NULL THEN [EndTime] WHEN ISNULL(@EndTime,'') = '' THEN NULL ELSE CAST(@EndTime as Time(7)) END
    ,[Dates_GUID] = CASE WHEN @Dates_GUID IS NULL THEN [Dates_GUID] ELSE @Dates_GUID END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 CAST([StartTime] as VARCHAR(15)) as [StartTime]
,CAST([EndTime] as VARCHAR(15)) as [EndTime]
,[ID]
,[Dates_GUID]
,[GUID]

FROM dbo.[School_Events_Locations_Dates_Times]
WHERE [ID] = @ID_Out
GO
