/****** Object:  StoredProcedure [dbo].[s_import_mage_orders]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_import_mage_orders]
(
	@mage_orders MageOrdersTable READONLY
)
AS
SET NOCOUNT ON
CREATE TABLE #import (
	[Order_ID] [int] NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Prefix] [varchar](255) NULL,
	[Suffix] [varchar](255) NULL,
	[Gender] [int] NULL,
	[Street] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[State] [varchar](255) NULL,
	[Zip] [varchar](255) NULL,
	[Country] [varchar](2) NULL,
	[Email] [varchar](128) NULL,
	[Phone] [varchar](255) NULL,
	[AcqSource] [smallint] NULL,
	[AcqDate] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
	[Loop] INT IDENTITY(1,1)
)
INSERT INTO #import ([Order_ID], [FirstName], [LastName], [Prefix], [Suffix], [Gender], [Street], [City], [State], [Zip], [Country], [Email], [Phone], [AcqSource], [AcqDate], [LastUpdated])
SELECT [Order_ID], [FirstName], [LastName], [Prefix], [Suffix], [Gender], [Street], [City], [State], [Zip], [Country], [Email], [Phone], [AcqSource], [AcqDate], [LastUpdated] FROM @mage_orders
--INDEX THE TABLE TO PREVENT A TABLE SCAN
CREATE INDEX ndx_Loop
ON #import 
(
	loop
)

DECLARE @Loop INT, @Max INT, @Email VARCHAR(255), @Cnt INT
SELECT @Max = MAX([Loop]) FROM #import

--ADD ANY NEW PEOPLE - NOTE THAT A SELECT DISTINCT IS NOT GOING TO WORK PERFECTLY HERE BECAUSE PARTS OF THE ADDRESS MAY BE SLIGHTLY DIFFERENT FROM ORDER TO ORDER
INSERT INTO dbo.[people] ([FirstName], [LastName], [Prefix], [Suffix], [Gender], [Street], [City], [State], [Zip], [Country], [Email], [Phone], [AcqSource], [AcqDate])
SELECT DISTINCT LTRIM(RTRIM([FirstName])), LTRIM(RTRIM([LastName])), LTRIM(RTRIM([Prefix])), LTRIM(RTRIM([Suffix])), LTRIM(RTRIM([Gender])), LTRIM(RTRIM([Street])), LTRIM(RTRIM([City])), LTRIM(RTRIM([State])), LTRIM(RTRIM([Zip])), LTRIM(RTRIM([Country])), LTRIM(RTRIM([Email])), LTRIM(RTRIM([Phone])), [AcqSource], [AcqDate]
FROM @mage_orders WHERE [email] NOT IN (SELECT [email] FROM [dbo].[people])
ORDER BY [AcqDate]
--CLEAN IT UP TO REMOVE DUPLICATES
DELETE FROM [dbo].[people] WHERE [ID] NOT IN (SELECT MIN(ID) FROM [dbo].[PEOPLE] GROUP BY [EMAIL])


--THE FOLLOWING GIVES BETTER RESULTS BUT TAKES ENTIRELY TOO LONG
--SET @Loop = 1
--WHILE @Loop <= @Max
--	BEGIN
--		SELECT @Email = LTRIM(RTRIM([email])) FROM #import WHERE [loop] = @Loop
--		SELECT @Cnt = COUNT(*) FROM [dbo].[people] WHERE LTRIM(RTRIM([email])) = @Email
--		IF @Cnt = 0
--			INSERT INTO dbo.[people] ([FirstName], [LastName], [Prefix], [Suffix], [Gender], [Street], [City], [State], [Zip], [Country], [Email], [Phone], [AcqSource], [AcqDate],[LastUpdated])
--			SELECT LTRIM(RTRIM([FirstName])), LTRIM(RTRIM([LastName])), LTRIM(RTRIM([Prefix])), LTRIM(RTRIM([Suffix])), LTRIM(RTRIM([Gender])), LTRIM(RTRIM([Street])), LTRIM(RTRIM([City])), LTRIM(RTRIM([State])), LTRIM(RTRIM([Zip])), LTRIM(RTRIM([Country])), LTRIM(RTRIM([Email])), LTRIM(RTRIM([Phone])), [AcqSource], [AcqDate], GETDATE()
--			FROM #import  WHERE [loop] = @Loop
--		SET @Loop = @Loop + 1
--	END


INSERT INTO dbo.[OrderPurchasers] ([OrderID], [PersonID], [FirstName], [LastName], [Prefix], [Suffix], [Gender], [Street], [City], [State], [Zip], [Country], [Email], [Phone], [AcqSource], [AcqDate])
SELECT [Order_ID], P.[ID], O.[FirstName], O.[LastName], O.[Prefix], O.[Suffix], O.[Gender], O.[Street], O.[City], O.[State], O.[Zip], O.[Country], O.[Email], O.[Phone], O.[AcqSource], O.[AcqDate]
FROM @mage_orders O 
LEFT JOIN dbo.[People] P ON P.Email = O.Email
WHERE [Order_ID] NOT IN (SELECT [OrderID] FROM dbo.[OrderPurchasers])




DROP TABLE #import
GO
