/****** Object:  StoredProcedure [dbo].[s_queue_data_update_voucher_used]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/10/2020
-- Description: Queues a send of a data update to Silverpop when a voucher is used
-- =============================================
--*********************************************************************************************************************************************************************************************
--* NOTE THAT IF YOU CHANGE THE URL www.balfour.com/contemporary-announcements?smi= HERE YOU SHOULD ALSO CHANGE IT IN s_process_queue_gradpack_photo_vouchers, s_requeue_photo_voucher_email AND s_get_arc_orders_records
--*********************************************************************************************************************************************************************************************
CREATE PROCEDURE [dbo].[s_queue_data_update_voucher_used]
(
     @Email VARCHAR(200) = ''
	,@First_Name VARCHAR(100) = ''
	,@SMI BIGINT = 0
	,@VoucherValue MONEY = 0.00
	,@VoucherRedeemed VARCHAR(10)
	,@VoucherCode VARCHAR(50) = ''
	,@URL VARCHAR(200) = 'www.balfour.com/contemporary-announcements?smi='
	,@ID_Out BIGINT = 0 OUT
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @rawData NVARCHAR(MAX)
	SET @rawData = '{' + 
		'"email":"' + LTRIM(RTRIM(@Email)) + '",' +
		'"First_Name":"' + LTRIM(RTRIM(@First_Name)) + '",' +
		'"SMI":"' + CAST(@SMI as VARCHAR(15)) + '",' +
		'"VoucherValue":"' + CAST(@VoucherValue AS VARCHAR(15)) + '",' +
		'"VoucherRedeemed":"' + @VoucherRedeemed + '",' +
		'"VoucherCode":"' + @VoucherCode + '",' +
		'"URL":"' + @URL + CAST(@SMI as VARCHAR(15)) + '",' +
		'"syncFields":{' +
			'"email":"' + @Email + '","VoucherCode":"' + @VoucherCode + '","VoucherRedeemed":"' + @VoucherRedeemed + 
		'"}' +
		'}'

	INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name], [Entity], [Service], [Description], [pod], [oAuthClientId], [oAuthClientSecret], [oAuthRefreshToken], [campaignID], [emailAddresses], [rawData], [Queued_DTM], [Is_Resend], [Resend_For])
	SELECT 'DATAUPDATE_VOUCHERS','Balfour','Silverpop','Photo voucher data update',[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],@Email,@rawData, GETDATE(),0,0
	FROM [dbo].[EmailJobs] WHERE [Email_Name] = 'DataUpdate_Vouchers' AND [Entity] = 'Balfour' AND [Service] = 'Silverpop'
	SET @ID_Out = SCOPE_IDENTITY()
END
GO
