/****** Object:  StoredProcedure [dbo].[s_process_MAGEcustomer_address_entity]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/18/2020
-- Description: Imports new records to [MAGEcustomer_address_entity] table.  This runs as part of the data factory MAGE-Sales_Order.
-- Schedule:    Every half hour at 30 minutes past the hour.
-- =============================================
CREATE PROCEDURE [dbo].[s_process_MAGEcustomer_address_entity]
--EXEC s_process_MAGEcustomer_address_entity
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @Entity_Id BIGINT
	SET @Entity_ID = 0
	SELECT @Entity_ID = MAX([Entity_ID]) FROM [dbo].[MAGEcustomer_address_entity]
	PRINT 'Max Entity_ID in MAGEcustomer_address_entity: ' + CAST(@Entity_ID AS VARCHAR(50))

	INSERT INTO [dbo].[MAGEcustomer_address_entity] ([entity_id], [increment_id], [parent_id], [created_at], [updated_at], [is_active], [city], [company], [country_id], [fax], [firstname], [lastname], [middlename], [postcode], [prefix], [region], [region_id], [street], [suffix], [telephone], [vat_id], [vat_is_valid], [vat_request_date], [vat_request_id], [vat_request_success])
	SELECT [entity_id], [increment_id], [parent_id], [created_at], [updated_at], [is_active], [city], [company], [country_id], [fax], [firstname], [lastname], [middlename], [postcode], [prefix], [region], [region_id], [street], [suffix], [telephone], [vat_id], [vat_is_valid], [vat_request_date], [vat_request_id], [vat_request_success]
	FROM [dbo].[MAGEcustomer_address_entity_import] WHERE [Entity_ID] > ISNULL(@Entity_Id,0) AND [Entity_ID] NOT IN (SELECT [Entity_ID] FROM [dbo].[MAGEcustomer_address_entity])

	DECLARE @Value VARCHAR(50)
	SET @Value = FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGEcustomer_address_entity', @AttribName = 'LastUpdate', @Value = @Value
	SET @Value = FORMAT(dateadd(hour,1,dbo.fn_DateTime_To_Central(GETDATE())), 'MM/dd/yyyy hh:30:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'MAGEcustomer_address_entity', @AttribName = 'NextUpdate', @Value = @Value

END
GO
