/****** Object:  StoredProcedure [dbo].[s_process_quote_item]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 06/17/2020
-- Description: Imports new records to [quote_item] table
-- =============================================
CREATE PROCEDURE [dbo].[s_process_quote_item]
--EXEC s_process_quote_item
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    DECLARE @Item_Id BIGINT
	SET @Item_ID = 0
	SELECT @Item_ID = MAX([item_ID]) FROM [dbo].[quote_item]
	PRINT 'Max Item_ID in Quote_Item: ' + CAST(@Item_ID AS VARCHAR(50))

	INSERT INTO [dbo].[quote_item] ([item_id], [quote_id], [created_at], [updated_at], [product_id], [store_id], [parent_item_id], [is_virtual], [sku], [name], [description], [applied_rule_ids], [additional_data], [is_qty_decimal], [no_discount], [weight], [qty], [price], [base_price], [custom_price], [discount_percent], [discount_amount], [base_discount_amount], [tax_percent], [tax_amount], [base_tax_amount], [row_total], [base_row_total], [row_total_with_discount], [row_weight], [product_type], [base_tax_before_discount], [tax_before_discount], [original_custom_price], [redirect_url], [base_cost], [price_incl_tax], [base_price_incl_tax], [row_total_incl_tax], [base_row_total_incl_tax], [discount_tax_compensation_amount], [base_discount_tax_compensation_amount], [free_shipping], [gift_message_id], [weee_tax_applied], [weee_tax_applied_amount], [weee_tax_applied_row_amount], [weee_tax_disposition], [weee_tax_row_disposition], [base_weee_tax_applied_amount], [base_weee_tax_applied_row_amnt], [base_weee_tax_disposition], [base_weee_tax_row_disposition], [gw_id], [gw_base_price], [gw_price], [gw_base_tax_amount], [gw_tax_amount], [event_id], [giftregistry_item_id])
	SELECT [item_id], [quote_id], [created_at], [updated_at], [product_id], [store_id], [parent_item_id], [is_virtual], [sku], [name], [description], [applied_rule_ids], [additional_data], [is_qty_decimal], [no_discount], [weight], [qty], [price], [base_price], [custom_price], [discount_percent], [discount_amount], [base_discount_amount], [tax_percent], [tax_amount], [base_tax_amount], [row_total], [base_row_total], [row_total_with_discount], [row_weight], [product_type], [base_tax_before_discount], [tax_before_discount], [original_custom_price], [redirect_url], [base_cost], [price_incl_tax], [base_price_incl_tax], [row_total_incl_tax], [base_row_total_incl_tax], [discount_tax_compensation_amount], [base_discount_tax_compensation_amount], [free_shipping], [gift_message_id], [weee_tax_applied], [weee_tax_applied_amount], [weee_tax_applied_row_amount], [weee_tax_disposition], [weee_tax_row_disposition], [base_weee_tax_applied_amount], [base_weee_tax_applied_row_amnt], [base_weee_tax_disposition], [base_weee_tax_row_disposition], [gw_id], [gw_base_price], [gw_price], [gw_base_tax_amount], [gw_tax_amount], [event_id], [giftregistry_item_id]
	FROM [dbo].[quote_item_import] WHERE [Item_ID] > ISNULL(@Item_Id,0) --AND [Item_ID] NOT IN (SELECT [Item_ID] FROM [dbo].[quote_item])
END
GO
