/****** Object:  StoredProcedure [dbo].[s_update_itemid_on_products]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 10/15/2020
-- Description: Updates ItemID on Magento_automated_product_dataset
-- =============================================
CREATE PROCEDURE [dbo].[s_update_itemid_on_products]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    UPDATE magento_automated_product_dataset SET [ItemID] = I.[ID]
	FROM magento_automated_product_dataset M
	LEFT JOIN Item I ON I.SKU = M.SKU
	WHERE M.[ItemID] IS NULL
END
GO
