/****** Object:  StoredProcedure [dbo].[s_update_school_events_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/11/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_school_events_record]
(
 @Date VARCHAR(25) = NULL
,@Description VARCHAR(max) = NULL
,@Event_Content NVARCHAR(MAX) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@Image_URL VARCHAR(200) = NULL
,@SMI INT = NULL
,@Title VARCHAR(100) = NULL
,@URL VARCHAR(200) = NULL
,@ScheduleChange SMALLINT = NULL
,@BatchID VARCHAR(50) = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [School_Events].
--##RS1 The [ID] value of the inserted/updated record in the table [School_Events].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [School_Events] ( [SMI],[Date],[Title],[Description],[Image_URL],[GUID],[Event_Content],[ScheduleChange],[BatchID])
       VALUES ( @SMI,CASE WHEN ISNULL(@Date,'') = '' THEN NULL ELSE dbo.fn_DateTime_to_Zulu(CAST(@Date as DATETIME)) END,@Title,ISNULL(@Description,''),@Image_URL,CASE WHEN ISNULL(@GUID,'') = '' THEN NEWID() ELSE @GUID END,ISNULL(@Event_Content,''), @ScheduleChange,@BatchID)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [School_Events] SET
     [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[Date] = CASE WHEN @Date IS NULL THEN [Date] WHEN @Date = '' THEN NULL ELSE dbo.fn_DateTime_to_Zulu(CAST(@Date as DATETIME)) END
    ,[Title] = CASE WHEN @Title IS NULL THEN [Title] ELSE @Title END
    ,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
    ,[Image_URL] = CASE WHEN @Image_URL IS NULL THEN [Image_URL] ELSE @Image_URL END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
    ,[Event_Content] = CASE WHEN @Event_Content IS NULL THEN [Event_Content] ELSE @Event_Content END
	,[URL] = CASE WHEN @URL IS NULL THEN [URL] ELSE @URL END
	,[ScheduleCHange] = CASE WHEN @ScheduleChange IS NULL THEN [ScheduleChange] ELSE @ScheduleChange END
	,[BatchID] = CASE WHEN @BatchID IS NULL THEN [BatchID] ELSE @BatchID END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [SMI]
,[ID]
,FORMAT(dbo.fn_DateTime_to_Central([Date]),'MM/dd/yyyy') AS [Date]
,[Title]
,[Description]
,[Image_URL]
,[GUID]
,[Event_Content]
,[URL]
,[ScheduleChange]
,[BatchID]
FROM dbo.[School_Events]
WHERE [ID] = @ID_Out
GO
