/****** Object:  StoredProcedure [dbo].[S_process_mage_uc_order_details]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
-- =============================================
-- Author:      Amy McCann
-- Create Date: 10/16/2020
-- Description: Imports new records to UCOrderDetail table
-- =============================================
CREATE PROCEDURE [dbo].[S_process_mage_uc_order_details]
--EXEC s_process_MAGE_UC_Order_Details
AS
  --New: UCOrderDetail
  --FROM S3: MAGE_uc_Orders_Import
  BEGIN
      -- SET NOCOUNT ON added to prevent extra result sets from
      -- interfering with SELECT statements.
      SET NOCOUNT ON

      DECLARE @UCOrderID BIGINT

      SET @UCOrderID = 0

      SELECT
           @UCOrderID = Max(UCOrderID)
      FROM
           dbo.UCOrderDetail

      PRINT 'Max UCOrderID in UCOrderDetail: '
            + Cast(@UCOrderID AS VARCHAR(50))

	SELECT   moi.Order_Number
           ,moi.Order_Date
           ,moi.json_obj
           ,moi.Customer_First_Name
           ,moi.Customer_Last_Name
           ,moi.Customer_Email
           ,moi.Ring_Recipient_First_Name
           ,moi.Ring_Recipient_Customer_Last_Name
           ,moi.Ring_Recipient_Email
           ,moi.Product_Group
           ,moi.SMI
           ,moi.SKU
           ,moi.Product_Name
           ,moi.Item_Total
           ,moi.Handling_Fee
           ,moi.Order_Status 
  INTO #HoldOrders
      FROM
           dbo.MAGE_uc_Orders_Import moi
		   LEFT JOIN dbo.UCOrderDetail uod ON uod.Order_Number = moi.Order_Number
WHERE uod.Order_Number IS NULL
	  
   
      INSERT INTO dbo.UCOrderDetail 
           (Order_Number
           ,Order_Date
           ,json_obj
           ,Customer_First_Name
           ,Customer_Last_Name
           ,Customer_Email
           ,Ring_Recipient_First_Name
           ,Ring_Recipient_Customer_Last_Name
           ,Ring_Recipient_Email
           ,Product_Group
           ,SMI
           ,SKU
           ,Product_Name
           ,Item_Total
           ,Handling_Fee
           ,Order_Status)
     (SELECT * FROM #HoldOrders)
 
      DECLARE @Value VARCHAR(50)

      SET @Value = Format(dbo.Fn_datetime_to_central(Getdate()), 'MM/dd/yyyy hh:mm:ss tt')

      EXEC dbo.S_update_extendedprop_on_table
           @TableName  = 'UCOrderDetail'
         , @AttribName = 'LastUpdate'
         , @Value      = @Value

	  SET @Value = Format(dbo.Fn_datetime_to_central(DATEADD(hour,24,Getdate())), 'MM/dd/yyyy hh:00:00 tt')

      EXEC dbo.S_update_extendedprop_on_table
           @TableName  = 'UCOrderDetail'
         , @AttribName = 'NextUpdate'
         , @Value      = @Value
  END 


 
GO
