/****** Object:  StoredProcedure [dbo].[s_get_main_nav_qa]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09/16/2020
-- Description: Returns the HTML for various main nav partial views
-- =============================================
CREATE PROCEDURE [dbo].[s_get_main_nav_qa]
(
	 @GUID VARCHAR(50) = ''
	,@Status TINYINT = 0
	,@CallingSite VARCHAR(300) = ''
)
AS
--EXEC [dbo].[s_get_main_nav] @Status = 0 --Prod
--EXEC [dbo].[s_get_main_nav] @Status = 1 --Staging
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	IF ISNULL(@GUID,'') = '' -- Use status
		BEGIN
			SELECT TOP 1 @GUID = [GUID] FROM [dbo].[ContentMainNavQA] WHERE [Status] = @Status
			ORDER BY [ID] DESC
			PRINT 'GUID = ' + @GUID
		END
    SELECT
		 ISNULL(A.[HTMLContent],'') as [_mainNavMobileCarousel]
		,ISNULL(B.[HTMLContent],'') as [_mainNavMobileMenu]
		,ISNULL(C.[HTMLContent],'') as [_schoolShopBox]
		,ISNULL(D.[HTMLContent],'') as [mainNavBrands]
		,ISNULL(E.[HTMLContent],'') as [mainNavGraduation]
		,ISNULL(F.[HTMLContent],'') as [mainNavRings]
		,ISNULL(G.[HTMLContent],'') as [mainNavTeams]
		,ISNULL(H.[HTMLContent],'') as [mainNavUpperHeader]
		,ISNULL(I.[HTMLContent],'') as [mainNavYearbooks]
		,ISNULL(J.[HTMLContent],'') as [mobileNavBrands]
		,ISNULL(K.[HTMLContent],'') as [mobileNavGraduation]
		,ISNULL(L.[HTMLContent],'') as [mobileNavRings]
		,ISNULL(M.[HTMLContent],'') as [mobileNavSchoolsearch]
		,ISNULL(N.[HTMLContent],'') as [mobileNavTeams]
		,ISNULL(O.[HTMLContent],'') as [mobileNavYearbooks]
		,ISNULL(P.[HTMLContent],'') as [mobileNavShopAll]
		,ISNULL(Q.[HTMLContent],'') as [seasonalLinkOne]
		,ISNULL(R.[HTMLContent],'') as [seasonalLinkTwo]
		,ISNULL(S.[HTMLContent],'') as [alertPromoBar]
		,ISNULL(T.[HTMLContent],'') as [_shopAllResponsiveLinks]
		,ISNULL(U.[HTMLContent],'') as [shopAllDropdownBrands]
		,CAST(@Status AS VARCHAR(10)) AS [status]
		,ISNULL(@CallingSite,'') as [callingSite]
		, FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt') as [timeStamp]
		, DB_NAME()  as [instance]
		, CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
		, OBJECT_NAME(@@PROCID) as [sproc]
		, CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc]
		
		FROM [dbo].[ContentMainNavQA] CMN
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] A ON A.[ContentMainNavGUID] = CMN.[GUID] AND A.[ItemName] = '_mainNavMobileCarousel'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] B ON B.[ContentMainNavGUID] = CMN.[GUID] AND B.[ItemName] = '_mainNavMobileMenu'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] C ON C.[ContentMainNavGUID] = CMN.[GUID] AND C.[ItemName] = '_schoolShopBox'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] D ON D.[ContentMainNavGUID] = CMN.[GUID] AND D.[ItemName] = 'mainNavBrands'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] E ON E.[ContentMainNavGUID] = CMN.[GUID] AND E.[ItemName] = 'mainNavGraduation'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] F ON F.[ContentMainNavGUID] = CMN.[GUID] AND F.[ItemName] = 'mainNavRings'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] G ON G.[ContentMainNavGUID] = CMN.[GUID] AND G.[ItemName] = 'mainNavTeams'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] H ON H.[ContentMainNavGUID] = CMN.[GUID] AND H.[ItemName] = 'mainNavUpperHeader'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] I ON I.[ContentMainNavGUID] = CMN.[GUID] AND I.[ItemName] = 'mainNavYearbooks'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] J ON J.[ContentMainNavGUID] = CMN.[GUID] AND J.[ItemName] = 'mobileNavBrands'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] K ON K.[ContentMainNavGUID] = CMN.[GUID] AND K.[ItemName] = 'mobileNavGraduation'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] L ON L.[ContentMainNavGUID] = CMN.[GUID] AND L.[ItemName] = 'mobileNavRings'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] M ON M.[ContentMainNavGUID] = CMN.[GUID] AND M.[ItemName] = 'mobileNavSchoolsearch'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] N ON N.[ContentMainNavGUID] = CMN.[GUID] AND N.[ItemName] = 'mobileNavTeams'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] O ON O.[ContentMainNavGUID] = CMN.[GUID] AND O.[ItemName] = 'mobileNavYearbooks'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] P ON P.[ContentMainNavGUID] = CMN.[GUID] AND P.[ItemName] = 'mobileNavShopAll'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] Q ON Q.[ContentMainNavGUID] = CMN.[GUID] AND Q.[ItemName] = 'seasonalLinkOne'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] R ON R.[ContentMainNavGUID] = CMN.[GUID] AND R.[ItemName] = 'seasonalLinkTwo'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] S ON S.[ContentMainNavGUID] = CMN.[GUID] AND S.[ItemName] = 'alertPromoBar'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] T ON T.[ContentMainNavGUID] = CMN.[GUID] AND T.[ItemName] = '_shopAllResponsiveLinks'
		LEFT JOIN [dbo].[ContentMainNavDetailsQA] U ON T.[ContentMainNavGUID] = CMN.[GUID] AND U.[ItemName] = 'shopAllDropdownBrands'
		WHERE CMN.[GUID] = CASE WHEN @GUID = '' THEN CMN.[GUID] ELSE @GUID END
		FOR JSON PATH
END

GO
