/****** Object:  StoredProcedure [dbo].[s_delete_gradpacklineitems_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/8/2021 - Jon Kaufman.
*/
CREATE PROCEDURE [dbo].[s_delete_gradpacklineitems_record]
(
	 @GradPackLineItemID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [GradPackLineItems].
--##PD @GradPackLineItemID in [GradPackLineItems].
--##RS1 -NONE-
SET NOCOUNT ON
DELETE FROM [GradPackLineItems] WHERE [GradPackLineItemID] = @GradPackLineItemID



GO
