/****** Object:  StoredProcedure [dbo].[s_get_virtcommsubcomm]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/27/2020
-- Description: Brings back a string list of sub-comm records
-- =============================================
CREATE PROCEDURE [dbo].[s_get_virtcommsubcomm]
(
    @parentGUID VARCHAR(50) = ''
)
AS
--EXEC s_get_virtcommsubcomm @parentGUID = 'E300DA01-5E39-4800-BD73-8E2EFBA4139B'
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    SELECT [dbo].[fn_virtcommsubcomm] (@parentGUID)
END
GO
