/****** Object:  StoredProcedure [dbo].[s_get_fetchcontenttest]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 09-11-2020
-- Description: Used to test and debug Fetch Content
-- =============================================
CREATE PROCEDURE [dbo].[s_get_fetchcontenttest]
(
   @Dummy VARCHAR(100) = ''
)
AS
--EXEC s_get_fetchcontenttest @Dummy = '72696~A0068455A0000'
--EXEC s_get_fetchcontenttest @Dummy = '130996~A0068455A0000'
BEGIN

	--@Dummy will be SMI~SKU
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DECLARE @Result VARCHAR(MAX), @SMI BIGINT, @SKU VARCHAR(100), @ProdColl NVARCHAR(4000),  @SProdColl NVARCHAR(4000), @Found BIT, @Loop INT, @Max INT, @Coll VARCHAR(50)
	SELECT @SMI = CAST(LEFT(@Dummy,CHARINDEX('~',@Dummy)-1) AS BIGINT), @SKU = RIGHT(@Dummy,LEN(@Dummy)-CHARINDEX('~',@Dummy))
	SET @ProdColl = 'BalProdColl_EA,BalProdColl_EA_NCAA,BalProdColl_FunPatchBackpack,BalProdColl_HSAnn,BalProdColl_HSRings,BalProdColl_HSGradProd,BalProdColl_Letterman,BalProdColl_Rokkitwear,BalProdColl_UIL,BalProdColl_Yearbook,BalProdColl_Journey,BalProdColl_LizJames,BalProdColl_ContStationery,BalProdColl_KSBalfourHS,BalProdColl_UnivCollHS&productCollections=BalProdColl_HSGradProdRep'
	--SET @Result = 'false'
	--DECLARE @PC TABLE ([Coll] NVARCHAR(50), [Loop] INT IDENTITY(1,1))
	
	--SELECT @SProdColl = [product_collection], @Found = 0, @Loop = 0, @Max = -1 FROM [dbo].[magento_automated_product_dataset] WHERE [SKU] = @SKU
	
	--INSERT INTO @PC ([Coll])
	--SELECT * FROM string_split(@SProdColl,',')
	----Loop through the temp table and see if any of the product collections parameter exist in the product
	--SELECT @Max = MAX([Loop]) FROM @PC
	--WHILE @Loop <= @Max
	--	BEGIN
	--		SELECT @Coll = '%' + [Coll] + '%' FROM @PC WHERE [Loop] = @Loop
	--		IF @ProdColl LIKE @Coll
	--			BEGIN
	--				SET @Found = 1
	--				SET @Loop = @Max + 1
	--			END
	--		SET @Loop = @Loop + 1
	--	END
	SELECT @Found = dbo.fn_InCollection(@SMI,@ProdColl)

	
	IF @Found = 1 SELECT 'true'
	ELSE
		BEGIN
			IF EXISTS (
						SELECT * FROM magento_automated_product_dataset p
						INNER JOIN Product_Included_SMI I ON I.[SKU] = P.[SKU] AND I.Included_SMI = @SMI
						WHERE P.[Sku] =  @SKU
					 )
				SELECT 'true'
			ELSE
				SELECT'false'
		END
END
GO
