/****** Object:  StoredProcedure [dbo].[s_update_orderpurchasers]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE PROCEDURE [dbo].[s_update_orderpurchasers]
AS
SET NOCOUNT ON
--First we need to update persons for the email queue table
DECLARE @Max BIGINT
SELECT @Max = MAX(OrderID) FROM [OrderPurchasers]
PRINT CAST(@Max AS VARCHAR(50))

INSERT INTO [dbo].[People] ([Email],[FirstName], [LastName], [Street], [City], [State], [Zip], [Country],  [Phone], [AcqSource], [AcqDate], [LastUpdated], [Acq_Key])
SELECT /*CAST(ORDERS.increment_id AS BIGINT),*/ ORDERS.[customer_email], A.firstname, A.lastname, A.street, A.city, A.region, A.postcode, A.country_id, A.telephone, 1 as [AcqSource], ORDERS.[created_at] as [AcqDate], GETDATE() as [LastUpdated], ORDERS.increment_id as [Acq_Key]
FROM [dbo].[MAGE_Sales_Order] ORDERS 
LEFT JOIN MAGEsales_Order_Address A ON A.entity_id = ORDERS.billing_address_id
WHERE CAST(ORDERS.increment_id as BIGINT) > @Max
AND ORDERS.[customer_email] NOT IN (SELECT [Email] FROM dbo.[People])

--Get these new people into OrderPurchasers
INSERT INTO [dbo].[OrderPurchasers] ([PersonID], [OrderID], [FirstName], [LastName], [Street], [City], [State], [Zip], [Country], [Email], [Phone], [AcqSource], [AcqDate])
SELECT [ID], CAST(Acq_Key as BIGINT) as [OrderID], [FirstName], [LastName], [Street], [City], [State], [Zip], [Country],  [Email], [Phone], [AcqSource], [AcqDate]
FROM [dbo].[People]
WHERE AcqSource = 1 
AND CAST(Acq_Key as BIGINT) > @Max



--update phone from MAGEcustomer_addrerss_entity (default_Billing) where missing
UPDATE dbo.[OrderPurchasers] SET phone = cae.telephone
--SELECT p.firstname, p.lastname, p.email, ce.email, cae.telephone
FROM orderpurchasers p
left join MAGE_Sales_Order O ON O.Entity_id = p.OrderID
left join MAGEcustomer_entity ce on ce.entity_id = O.customer_id
left join MAGEcustomer_address_entity cae on cae.entity_id = ce.default_billing
where cae.telephone IS NOT NULL and phone is null

--update phone from MAGEcustomer_addrerss_entity (default_shipping) where missing
UPDATE dbo.[OrderPurchasers] SET phone = cae.telephone
--SELECT p.firstname, p.lastname, p.email, ce.email, cae.telephone
FROM orderpurchasers p
left join MAGE_Sales_Order O ON O.Entity_id = p.OrderID
left join MAGEcustomer_entity ce on ce.entity_id = O.customer_id
left join MAGEcustomer_address_entity cae on cae.entity_id = ce.default_shipping
where cae.telephone IS NOT NULL and phone is null

--update addresses from MAGEcustomer_address_entity (default_billing) where missing
UPDATE dbo.[OrderPurchasers] SET street = cae.street, city = cae.city, state = cae.region, zip = cae.postcode, country = cae.country_id
--SELECT p.email as [pemail], ce.email, cae.street
FROM orderpurchasers p
left join MAGE_Sales_Order O ON O.Entity_id = p.OrderID
left join MAGEcustomer_entity ce on ce.entity_id = O.customer_id
left join MAGEcustomer_address_entity cae on cae.entity_id = ce.default_billing
where cae.street IS NOT NULL and p.street is null

--update addresses from MAGEcustomer_address_entity (default_shipping) where missing
UPDATE dbo.[OrderPurchasers] SET street = cae.street, city = cae.city, state = cae.region, zip = cae.postcode, country = cae.country_id
--SELECT p.email as [pemail], ce.email, cae.street
FROM orderpurchasers p
left join MAGE_Sales_Order O ON O.Entity_id = p.OrderID
left join MAGEcustomer_entity ce on ce.entity_id = O.customer_id
left join MAGEcustomer_address_entity cae on cae.entity_id = ce.default_shipping
where cae.street IS NOT NULL and p.street is null 

--update addresses from MAGESales_order_address (billing address) where missing
UPDATE dbo.[OrderPurchasers] SET firstname = sae.firstname, lastname = sae.lastname, street = sae.street, city = sae.city, state = sae.region, zip = sae.postcode, country = sae.country_id
--SELECT p.email as [pemail], p.firstname, p.lastname, sae.firstname, sae.lastname, sae.street
FROM orderpurchasers p
left join MAGE_Sales_Order O ON O.Entity_id = p.OrderID
left join MAGESales_Order_Address sae on sae.entity_id = o.billing_address_id
where o.customer_id IS NULL and sae.street IS NOT NULL and p.street is null 

UPDATE dbo.[OrderPurchasers] SET firstname = sae.firstname, lastname = sae.lastname
--SELECT p.email as [pemail], p.firstname, p.lastname, sae.firstname, sae.lastname, sae.street
FROM orderpurchasers p
left join MAGE_Sales_Order O ON O.Entity_id = p.OrderID
left join MAGESales_Order_Address sae on sae.entity_id = o.billing_address_id
where o.customer_id IS NULL and sae.firstname IS NOT NULL and p.firstname is null

--Update the average order volume table
CREATE TABLE #AOV (
	[DayOfWeek] [tinyint] NULL,
	[HourOfDay] [tinyint] NULL,
	[Orders] [int] NULL
) 


DECLARE
     @OrderBeginDate  DATETIME, @OrderEndDate  DATETIME
	 SET @OrderBeginDate = CAST(FORMAT (DATEADD(year,-1,dbo.fn_DateTime_To_Central(GETDATE())), 'MM/dd/yyyy') as DATETIME)
	 SET @OrderEndDate = CAST(FORMAT (dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy') + ' 23:59:59' as DATETIME)
INSERT INTO #AOV ([DayOfWeek],[HourOfDay],[Orders])
SELECT
    Datepart (weekday, OrderDate) as [DOW]--Datename(weekday, OrderDate) DOW
   , Cast(DATEPART(HOUR, OrderDate) AS INT) HOD
   , Count(orderid) / Count(DISTINCT Cast(OrderDate AS DATE)) AverageOrderCount
FROM dbo.vw_MarketingEmail
WHERE OrderDate BETWEEN @OrderBeginDate AND @OrderEndDate -- Add extra day to get all orders on OrderEndDate
GROUP  BY DATEPART(weekday, OrderDate), Cast(DATEPART(HOUR, OrderDate) AS INT)
ORDER  BY [DOW], [HOD]

UPDATE dbo.[AverageOrderVolume] SET [Orders] = Temp.Orders
FROM dbo.[AverageOrderVolume] AOV 
INNER JOIN #AOV Temp ON AOV.[DayOfWeek] = Temp.[DayOfWeek] AND AOV.[HourOfDay] = Temp.[HourOfDay]
     
DROP TABLE #AOV
GO
