/****** Object:  StoredProcedure [dbo].[s_get_schoolInfoByRepId]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[s_get_schoolInfoByRepId]
    @RepId varchar(max)
AS
BEGIN

    select 
    (SELECT Name from [Partner] where LEGACY_BALFOUR_REP_NUMBER =  @RepId) as RepName,
    (SELECT Address from [Partner] where LEGACY_BALFOUR_REP_NUMBER = @RepId) as RepAddress,
    (SELECT
    S.SMI, S.[AltName], S.[PrimaryColor], S.[SecondaryColor],
    (CASE WHEN S.[IsElementary] = 1 THEN 'Elementary' WHEN  S.[IsMiddleSchool] = 1 THEN 'Middle School' WHEN S.[IsHighSchool] = 1 THEN 'High School' WHEN  S.[IsCollege] = 1 THEN 'College' ELSE '' END) as SchoolGrade,
	CONCAT(S.Address1, ', ', S.City, ', ', S.State, ', ', S.Zip) AS SchoolAddress,
	p.*
    FROM [dbo].[School_URL_Master] S
    JOIN [dbo].[Partner] p on p.[Partner_id] = TRIM(LEFT(S.[Graduation_Partner],5))
    WHERE p.[LEGACY_BALFOUR_REP_NUMBER] = @RepId
	AND S.[IsCollege] <> 1 FOR JSON PATH) as RepSchools
    FOR JSON PATH
    

END
GO
