/****** Object:  StoredProcedure [dbo].[s_get_checkout_header]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel
-- Create Date: 10/27/2020
-- Description: Gets checkout header for magento - based on Balfour Optimize (Conditional Content)
-- =============================================
CREATE PROCEDURE [dbo].[s_get_checkout_header]
(
     @SMI INT = 0
	,@CallingSite VARCHAR(200) = ''
)
AS
--EXEC dbo.s_get_checkout_header
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @Result VARCHAR(MAX)
    -- Insert statements for procedure here
    SELECT @Result = REPLACE(REPLACE(REPLACE([HTMLContent],'~timestamp~', FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt')),'~hinstance~',CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2)),'~hsproc~', CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2))
	FROM [dbo].[ConditionalContent] WHERE [GUID] = '708ACF18-DAF3-4FE4-9B5C-1248DF4ABA11'
	/*
	FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy h:mm tt') as [timeStamp]
				 
				 , DB_NAME()  as [instance]
				 ,  AS [hinstance]
				 , OBJECT_NAME(@@PROCID) as [sproc]
				 , CONVERT(varchar(max),HASHBYTES('SHA1',OBJECT_NAME(@@PROCID)),2) AS [hsproc] as [timeStamp]
				 
				 , DB_NAME()  as [instance]
				 , CONVERT(varchar(max),HASHBYTES('SHA1',DB_NAME()),2) AS [hinstance]
				 , OBJECT_NAME(@@PROCID) as [sproc]
				 , AS [hsproc]
	*/
	SELECT @Result
END
GO
