/****** Object:  StoredProcedure [dbo].[s_iconic_index_build_with_rank_optimized]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_iconic_index_build_with_rank_optimized]
AS
SELECT 'Hello Tramel'
GO
