/****** Object:  StoredProcedure [dbo].[proc_update_arc_orders_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 7/8/2019 - TL.
*/
CREATE PROCEDURE [dbo].[proc_update_arc_orders_record]
(
 @Item_Code VARCHAR(15) = NULL
,@Order_Current_Status VARCHAR(2) = NULL
,@Order_Email_Address VARCHAR(200) = NULL
,@Order_Hold_Status VARCHAR(1) = NULL
,@Order_Number BIGINT = NULL
,@Order_Part_Number INT = NULL
,@Order_Perm_Add_City_Name VARCHAR(25) = NULL
,@Order_Perm_Add_State_Code VARCHAR(2) = NULL
,@Order_Perm_Add_Zip_Code VARCHAR(5) = NULL
,@Order_Perm_Address_1 VARCHAR(30) = NULL
,@Order_Perm_Full_Name VARCHAR(30) = NULL
,@Order_Perm_Phone_1 VARCHAR(10) = NULL
,@Order_Perm_Phone_2 VARCHAR(10) = NULL
,@Order_Perm_Zip__4_Ext VARCHAR(4) = NULL
,@Order_Perm_Zip_Extension VARCHAR(6) = NULL
,@Order_Quantity INT = NULL
,@Order_Received_Date DATETIME = NULL
,@Order_Ship_To_Address_1 VARCHAR(30) = NULL
,@Order_Ship_To_Address_2 VARCHAR(30) = NULL
,@Order_Ship_To_Address_3 VARCHAR(30) = NULL
,@Order_Ship_To_Country VARCHAR(10) = NULL
,@Order_Ship_To_Full_Name VARCHAR(30) = NULL
,@Order_Ship_To_Phone_1 VARCHAR(10) = NULL
,@Order_Ship_To_Phone_2 VARCHAR(10) = NULL
,@Order_Ship_To_State VARCHAR(2) = NULL
,@Order_Ship_To_Zip__4_Ext VARCHAR(4) = NULL
,@Order_Ship_To_Zip_Code VARCHAR(5) = NULL
,@Order_Ship_To_Zip_Ext VARCHAR(6) = NULL
,@Order_Student_First_Name VARCHAR(15) = NULL
,@Order_Student_Last_Name VARCHAR(20) = NULL
,@Order_Void_Cancel_Date DATETIME = NULL
,@Reference_Number BIGINT = NULL
,@Style_Code VARCHAR(3) = NULL
, @Order_Number_OUT BIGINT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AG
--##BD Inserts or updates a record in the table [ARC_Orders].
--##RS1 The [Order_Number] value of the inserted/updated record in the table [ARC_Orders].
DECLARE @Cnt INT
SELECT @Cnt = COUNT(*) FROM [ARC_Orders] WHERE [Order_Number] = @Order_Number
IF @Cnt = 0--Insert
  BEGIN
    INSERT INTO [ARC_Orders] ([Order_Number], [Order_Part_Number],[Order_Quantity],[Order_Received_Date],[Order_Void_Cancel_Date],[Reference_Number],[Order_Current_Status],[Order_Student_Last_Name],[Order_Student_First_Name],[Order_Hold_Status],[Order_Ship_To_Full_Name],[Order_Ship_To_Address_1],[Item_Code],[Style_Code],[Order_Email_Address],[Order_Perm_Phone_2],[Order_Perm_Add_State_Code],[Order_Perm_Add_Zip_Code],[Order_Perm_Add_City_Name],[Order_Perm_Zip__4_Ext],[Order_Perm_Zip_Extension],[Order_Ship_To_Zip__4_Ext],[Order_Ship_To_Zip_Ext],[Order_Ship_To_Country],[Order_Perm_Full_Name],[Order_Perm_Address_1],[Order_Perm_Phone_1],[Order_Ship_To_Address_2],[Order_Ship_To_Address_3],[Order_Ship_To_Phone_1],[Order_Ship_To_Phone_2],[Order_Ship_To_State],[Order_Ship_To_Zip_Code])
       VALUES (@Order_Number, @Order_Part_Number,@Order_Quantity,@Order_Received_Date,@Order_Void_Cancel_Date,@Reference_Number,@Order_Current_Status,@Order_Student_Last_Name,@Order_Student_First_Name,@Order_Hold_Status,@Order_Ship_To_Full_Name,@Order_Ship_To_Address_1,@Item_Code,@Style_Code,@Order_Email_Address,@Order_Perm_Phone_2,@Order_Perm_Add_State_Code,@Order_Perm_Add_Zip_Code,@Order_Perm_Add_City_Name,@Order_Perm_Zip__4_Ext,@Order_Perm_Zip_Extension,@Order_Ship_To_Zip__4_Ext,@Order_Ship_To_Zip_Ext,@Order_Ship_To_Country,@Order_Perm_Full_Name,@Order_Perm_Address_1,@Order_Perm_Phone_1,@Order_Ship_To_Address_2,@Order_Ship_To_Address_3,@Order_Ship_To_Phone_1,@Order_Ship_To_Phone_2,@Order_Ship_To_State,@Order_Ship_To_Zip_Code)
    SELECT @Order_Number_Out = [Order_Number] FROM INSERTED
  END
ELSE
  BEGIN
    UPDATE [ARC_Orders] SET
     [Order_Part_Number] = CASE WHEN @Order_Part_Number IS NULL THEN [Order_Part_Number] ELSE @Order_Part_Number END
    ,[Order_Quantity] = CASE WHEN @Order_Quantity IS NULL THEN [Order_Quantity] ELSE @Order_Quantity END
    ,[Order_Received_Date] = CASE WHEN @Order_Received_Date IS NULL THEN [Order_Received_Date] ELSE @Order_Received_Date END
    ,[Order_Void_Cancel_Date] = CASE WHEN @Order_Void_Cancel_Date IS NULL THEN [Order_Void_Cancel_Date] ELSE @Order_Void_Cancel_Date END
    ,[Reference_Number] = CASE WHEN @Reference_Number IS NULL THEN [Reference_Number] ELSE @Reference_Number END
    ,[Order_Current_Status] = CASE WHEN @Order_Current_Status IS NULL THEN [Order_Current_Status] ELSE @Order_Current_Status END
    ,[Order_Student_Last_Name] = CASE WHEN @Order_Student_Last_Name IS NULL THEN [Order_Student_Last_Name] ELSE @Order_Student_Last_Name END
    ,[Order_Student_First_Name] = CASE WHEN @Order_Student_First_Name IS NULL THEN [Order_Student_First_Name] ELSE @Order_Student_First_Name END
    ,[Order_Hold_Status] = CASE WHEN @Order_Hold_Status IS NULL THEN [Order_Hold_Status] ELSE @Order_Hold_Status END
    ,[Order_Ship_To_Full_Name] = CASE WHEN @Order_Ship_To_Full_Name IS NULL THEN [Order_Ship_To_Full_Name] ELSE @Order_Ship_To_Full_Name END
    ,[Order_Ship_To_Address_1] = CASE WHEN @Order_Ship_To_Address_1 IS NULL THEN [Order_Ship_To_Address_1] ELSE @Order_Ship_To_Address_1 END
    ,[Item_Code] = CASE WHEN @Item_Code IS NULL THEN [Item_Code] ELSE @Item_Code END
    ,[Style_Code] = CASE WHEN @Style_Code IS NULL THEN [Style_Code] ELSE @Style_Code END
    ,[Order_Email_Address] = CASE WHEN @Order_Email_Address IS NULL THEN [Order_Email_Address] ELSE @Order_Email_Address END
    ,[Order_Perm_Phone_2] = CASE WHEN @Order_Perm_Phone_2 IS NULL THEN [Order_Perm_Phone_2] ELSE @Order_Perm_Phone_2 END
    ,[Order_Perm_Add_State_Code] = CASE WHEN @Order_Perm_Add_State_Code IS NULL THEN [Order_Perm_Add_State_Code] ELSE @Order_Perm_Add_State_Code END
    ,[Order_Perm_Add_Zip_Code] = CASE WHEN @Order_Perm_Add_Zip_Code IS NULL THEN [Order_Perm_Add_Zip_Code] ELSE @Order_Perm_Add_Zip_Code END
    ,[Order_Perm_Add_City_Name] = CASE WHEN @Order_Perm_Add_City_Name IS NULL THEN [Order_Perm_Add_City_Name] ELSE @Order_Perm_Add_City_Name END
    ,[Order_Perm_Zip__4_Ext] = CASE WHEN @Order_Perm_Zip__4_Ext IS NULL THEN [Order_Perm_Zip__4_Ext] ELSE @Order_Perm_Zip__4_Ext END
    ,[Order_Perm_Zip_Extension] = CASE WHEN @Order_Perm_Zip_Extension IS NULL THEN [Order_Perm_Zip_Extension] ELSE @Order_Perm_Zip_Extension END
    ,[Order_Ship_To_Zip__4_Ext] = CASE WHEN @Order_Ship_To_Zip__4_Ext IS NULL THEN [Order_Ship_To_Zip__4_Ext] ELSE @Order_Ship_To_Zip__4_Ext END
    ,[Order_Ship_To_Zip_Ext] = CASE WHEN @Order_Ship_To_Zip_Ext IS NULL THEN [Order_Ship_To_Zip_Ext] ELSE @Order_Ship_To_Zip_Ext END
    ,[Order_Ship_To_Country] = CASE WHEN @Order_Ship_To_Country IS NULL THEN [Order_Ship_To_Country] ELSE @Order_Ship_To_Country END
    ,[Order_Perm_Full_Name] = CASE WHEN @Order_Perm_Full_Name IS NULL THEN [Order_Perm_Full_Name] ELSE @Order_Perm_Full_Name END
    ,[Order_Perm_Address_1] = CASE WHEN @Order_Perm_Address_1 IS NULL THEN [Order_Perm_Address_1] ELSE @Order_Perm_Address_1 END
    ,[Order_Perm_Phone_1] = CASE WHEN @Order_Perm_Phone_1 IS NULL THEN [Order_Perm_Phone_1] ELSE @Order_Perm_Phone_1 END
    ,[Order_Ship_To_Address_2] = CASE WHEN @Order_Ship_To_Address_2 IS NULL THEN [Order_Ship_To_Address_2] ELSE @Order_Ship_To_Address_2 END
    ,[Order_Ship_To_Address_3] = CASE WHEN @Order_Ship_To_Address_3 IS NULL THEN [Order_Ship_To_Address_3] ELSE @Order_Ship_To_Address_3 END
    ,[Order_Ship_To_Phone_1] = CASE WHEN @Order_Ship_To_Phone_1 IS NULL THEN [Order_Ship_To_Phone_1] ELSE @Order_Ship_To_Phone_1 END
    ,[Order_Ship_To_Phone_2] = CASE WHEN @Order_Ship_To_Phone_2 IS NULL THEN [Order_Ship_To_Phone_2] ELSE @Order_Ship_To_Phone_2 END
    ,[Order_Ship_To_State] = CASE WHEN @Order_Ship_To_State IS NULL THEN [Order_Ship_To_State] ELSE @Order_Ship_To_State END
    ,[Order_Ship_To_Zip_Code] = CASE WHEN @Order_Ship_To_Zip_Code IS NULL THEN [Order_Ship_To_Zip_Code] ELSE @Order_Ship_To_Zip_Code END
      WHERE [Order_Number] = @Order_Number
    SELECT @Order_Number_Out = @Order_Number
  END

GO
