/****** Object:  StoredProcedure [dbo].[s_get_emailjobs_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 10/14/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_emailjobs_records]
(
	 @ID INT = NULL

)
AS
--##AT AG
--##BD Retrieves all records from the table [EmailJobs] if the parameter @ID has a value or all records if null.
--##PD @ID in [EmailJobs].
--##RS1 One or all records from the table [EmailJobs].

SET NOCOUNT ON
SELECT
 [pod]
,[ID]
,[Email_Name]
,[Entity]
,[Service]
,[template]
,dbo.fn_DString([oAuthClientId]) as [oAuthClientId]
,dbo.fn_DString([oAuthClientSecret]) as [oAuthClientSecret]
,dbo.fn_DString([oAuthRefreshToken]) as [oAuthRefreshToken]
,dbo.fn_DString([campaignID]) as [campaignID]
,ISNULL(TestData,'') as [TestData]
FROM [EmailJobs]
WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END

GO
