/****** Object:  StoredProcedure [dbo].[s_get_cross_sell_adhoc]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 11/13/19
-- Description: gimmie that cross_sell 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_cross_sell_adhoc]
(
   @insku varchar(255),
   @debugging bit = 0
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	-- s_get_cross_sell_adhoc @insku = 'A0017675A0000', @debugging=1
	-- s_get_cross_sell_adhoc @insku = 'A0139809A0000', @debugging=1 
	-- DECLARE @insku varchar(255)
	DECLARE @priceLo numeric(9,2)
	DECLARE @priceHi numeric(9,2)
	DECLARE @myPrice numeric(9,2)
	DECLARE @myclass varchar(500)
	DECLARE @mysmi varchar (500)
	DECLARE @myItemID varchar (500)
	DECLARE @licType VARCHAR(20) 
	DECLARE @licTeam VARCHAR(100) 
	DECLARE @itemID VARCHAR(50) 
	DECLARE @myParentClass NVARCHAR(255)
    DECLARE @myParentChildClass NVARCHAR(255)
	DECLARE @myParentGrandchildClass NVARCHAR(255)
	DECLARE @maxPriceRange INT
    DECLARE @minPriceRange INT
	DECLARE @shortSKU varchar(16)
	DECLARE @results TABLE (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255))

	SET @maxPriceRange = 1000
    SET @minPriceRange = 25
	SET @shortSKU = left(@insku,8)
	-- set @insku = 'A0139809A0000' -- bengals tree
	

			select @itemID = id from item where sku = @shortSKU
			select @licType = tagvalue from itemattributes 
					where itemid = @itemID
					and tagtype = 'a_LicenseType' -- Get the License Type here
			if @licType = 'NCAA' 
			BEGIN
				select @licTeam = tagvalue from itemattributes
						where itemid =  @itemID --'ITEM124426356'
						and tagtype = 'a_NCAASchools' -- Find the licensed team if any
			END
			ELSE IF @licType = 'Greek'
			BEGIN
				select @licTeam = tagvalue from itemattributes
						where itemid =  @itemID --'ITEM124426356'
						and tagtype = 'a_Sororities' -- Find the licensed team if any
			END
			ELSE
			BEGIN
				select @licTeam = tagvalue from itemattributes
					where itemid =  @itemID --'ITEM124426356'
					and tagtype = 'a_' + @licType + 'Teams' -- Find the licensed team if any
			END

					--select @licType
					--select @licTeam

			-- INSERT INTO cross_sell_processed(sku) VALUES(@insku);
			SELECT @myPrice = (select IsNull(pp.[Special Price (% for bundles)], pp.[Retail Price]) from  [dbo].[magento_automated_product_dataset] pp where pp.SKU = @insku)
			-- PRINT @myPrice
			If(@myPrice > 399)
			BEGIN
				set @maxPriceRange = 100000
				set @minPriceRange = 50
			END
			SELECT @priceHi = @myPrice + @maxPriceRange
			SELECT @priceLo = @myPrice - @minPriceRange
			-- PRINT @priceHi
			-- PRINT @priceLo
			-- select @myclass = (select class from [dbo].[NS_SKU_Class_Map] nss where nss.Name = @insku)
			select @myclass = (select class from [dbo].[ItemAttributesClass] iac where iac.sku = @shortSKU)
			
			select @mysmi = (select [Included SMI] from  [dbo].[magento_automated_product_dataset] pp where pp.SKU = @insku)
			select @myItemID = (select [ItemID] from  [dbo].[magento_automated_product_dataset] pp where pp.SKU = @insku)
			If @debugging = 1 
			BEGIN
				print '@myclass = ' + @myclass
				print '@myItemID = ' + @myItemID
				print '@mysmi = ' + CAST( @mysmi AS VARCHAR(500))
				print '@myPrice = ' + CAST( @myPrice AS VARCHAR(500))
				print '@priceHi = ' + CAST( @priceHi AS VARCHAR(500))
				print '@priceLo = ' + CAST( @priceLo AS VARCHAR(500))
				print '@licType = ' + @licType
				print '@licTeam = ' + @licTeam
			END
			INSERT INTO @results ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class])
			SELECT distinct top 10 
				'https://edge.prod.cdn.aac-e.com/all/' + ia.imageurl AS imageurl, 
			-- 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png','') + '_800x800.jpg' AS imageurl, 
						--REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '/','-'), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU ), '--', '-') AS url, 
						LOWER(p.[url]) as [url],
						p.SKU, p.[Product Name], IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) AS [Price], p.[Retail Price] AS [wasprice], iac.class
			FROM            dbo.magento_automated_product_dataset AS p 
								--INNER JOIN dbo.item AS i ON (LEFT(p.SKU,8) = i.sku ) 
								INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
								INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
								--INNER JOIN  [dbo].[NS_SKU_Class_Map] ns ON p.SKU = ns.[Name]  
								INNER JOIN  [dbo].[ItemAttributesClass] iac ON left(p.sku,8) = iac.sku
			WHERE   
					(p.Status = 'Enable') 
					AND (p.[Retail Price] <> 0)
					AND (p.Visibility = 'In Catalog and Search') 
					-- AND (ia.tagtype = 'a_BalfourPrimaryImages') 
					AND (ISNULL([Quantity in Stock],0) >0 )
					-- AND ([Quantity in Stock] > 0)
					AND (iac.class = @myclass )
					/*AND (
						([Included SMI] = @mySMI) OR (ISNULL(p.[Included SMI], @mySMI) IS NULL) --Come back to this
					)*/
					AND p.sku <> @insku 
					AND ((IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) <= @priceHi) AND (IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) >= @priceLo))
					-- AND (iaa.tagvalue = @LicTeam OR (ISNULL(iaa.tagvalue, @licTeam) IS NULL )) 
					AND ((iaa.tagvalue = @LicTeam) OR (@licTeam IS NULL AND @licType = iaa.tagvalue) OR (@licType IS NULL)) 
			ORDER BY [Price] desc

			SELECT * FROM @results

		
END
GO
