/****** Object:  StoredProcedure [dbo].[s_process_used_photo_voucher_codes]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/11/2020
-- Description: Upfdates [dbo].[GradPackPhotoAnnounceTransactions] when a coupon is used.  THis sproc runs as part of the MAGE-Sales_Order-df pipeline on Azure.
-- =============================================
CREATE PROCEDURE [dbo].[s_process_used_photo_voucher_codes]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	--GET THE LAST ORDER PROCESSED USING [Entity_ID] 
	DECLARE @OldEntity_ID BIGINT,@Val VARCHAR(20), @Max INT, @Loop INT, @Used_Order_ID BIGINT, @VoucherCode VARCHAR(255), @Amount MONEY, @Order_ID INT, @VoucherRedeemed VARCHAR(10), @First_Name VARCHAR(50), @Email VARCHAR(255), @SMI INT, @Entity_ID BIGINT, @ID INT
	SELECT @OldEntity_ID = CAST(ISNULL([Value],'0') AS BIGINT) FROM sys.extended_properties WHERE [name] = 'LastEntity_ID' AND [major_id] = OBJECT_ID('MAGE_Sales_Order')
	CREATE TABLE #VOrders ([Used_Order_ID] BIGINT, [VoucherCode] VARCHAR(255), [Amount] MONEY, [Order_ID] INT, [VoucherRedeemed] VARCHAR(10), [First_Name] VARCHAR(50), [Email] VARCHAR(255), [SMI] INT, [Entity_ID] BIGINT, [ID] INT, [Loop] INT IDENTITY(1,1))
	INSERT INTO #VOrders ([Used_Order_ID], [VoucherCode], [Amount], [Order_ID], [VoucherRedeemed], [First_Name], [Email], [SMI], [Entity_ID], [ID])
	SELECT 
		   M.[increment_id] as [Used_Order_ID]
		  ,GP.[code] as [VoucherCode]
		  ,GP.[Amount]
		  ,GP.[Order_ID]
		  ,FORMAT(dbo.fn_DateTime_To_Central(M.[Created_At]), 'yyyy-MM-dd') as [VoucherRedeemed]
		  ,LTRIM(RTRIM(ARC.Order_Student_First_Name)) as [First_Name]
		  ,LTRIM(RTRIM(GP.Sent_to_Email)) as [Email]
		  ,ARC.[SMI]
		  ,M.Entity_ID
		  ,GP.ID
	  FROM [dbo].[MAGE_Sales_Order] M
	  INNER JOIN [dbo].[GradPackPhotoAnnounceTransactions] GP ON GP.[Code] = M.coupon_code
	  INNER JOIN [dbo].[ARC_Orders] ARC ON ARC.Order_Number = GP.Order_ID
	  WHERE coupon_code IN (SELECT CODE FROM [dbo].[GradPackPhotoAnnounceTransactions] WHERE Used_Order_ID IS NULL)
	  AND [Entity_ID] > @OldEntity_ID -- 672308 --
	  ORDER BY [Entity_ID]
	--DEBUGGING
	SELECT * FROM #VOrders
	SELECT @Max = MAX([Loop]), @Loop = 1 FROM #VOrders
	WHILE @Loop <= @Max
		BEGIN
			PRINT 'About to select'
			SELECT @Used_Order_ID = [Used_Order_ID], @VoucherCode = [VoucherCode], @Amount = [Amount], @Order_ID = [Order_ID], @VoucherRedeemed = [VoucherRedeemed], @First_Name = [First_Name], @Email = [Email], @SMI = [SMI], @Entity_ID = [Entity_ID], @ID = [ID] FROM #VOrders WHERE [Loop] = @Loop
			PRINT 'Selected'
			--UPDATE [dbo].[GradPackPhotoAnnounceTransactions]
			UPDATE [dbo].[GradPackPhotoAnnounceTransactions] SET [Used_Order_ID] = @Used_Order_ID WHERE [ID] = @ID
			PRINT 'Used_Order_ID updated'
			PRINT 'Amount = ' + CAST(@Amount AS VARCHAR(20))
			--QUEUE THE DATA UPDATE
			EXEC [dbo].[s_queue_data_update_voucher_used] @Email = @Email, @First_Name = @First_Name, @SMI = @SMI, @VoucherValue = @Amount, @VoucherRedeemed = @VoucherRedeemed, @VoucherCode = @VoucherCode
			PRINT 'Data update queued'
			IF @Entity_ID > @OldEntity_ID SET @OldEntity_ID = @Entity_ID
			SET @Loop = @Loop + 1
		END

	--UPDATE THE LAST [Entity_ID]
	PRINT 'Last_Entity_ID = ' + CAST (@OldEntity_ID AS VARCHAR(25))
	SELECT @Val = CAST(@OldEntity_ID as VARCHAR(20))
	EXEC s_update_extendedprop_on_table @TableName = 'MAGE_Sales_Order', @AttribName='LastEntity_ID', @Value=@Val

	DROP TABLE #VOrders
END
GO
