/****** Object:  StoredProcedure [dbo].[s_process_photo_announce_report_emails]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 03-10-2020
-- Description: Sproc to generate and queue 1 email per rep reporting photo announcement vouchers
-- =============================================
CREATE PROCEDURE [dbo].[s_process_photo_announce_report_emails]
(
    @EmailOverride VARCHAR(50) = ''
)
AS
-- EXEC s_process_photo_announce_report_emails
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	
	DECLARE @Reps TABLE ([BAlNumber] NVARCHAR(50), [email] NVARCHAR(100), [Loop] INT IDENTITY(1,1))
	DECLARE @Results TABLE ([Line] VARCHAR(MAX), [Loop] INT IDENTITY(1,1))
	DECLARE @CSV VARCHAR(MAX), @Loop INT, @Max INT, @Line VARCHAR(MAX), @BalNumber NVARCHAR(50), @LoopInner INT, @MaxInner INT
	
	--Get a list of reps
	INSERT INTO @Reps ([BAlNumber],[email])
	SELECT DISTINCT Rep.[BalNumber], Rep.[email]
	FROM [dbo].[ARC_Orders] ARC
	LEFT JOIN [dbo].[BalfourReps] REP ON REP.[BalNumber] = ARC.[BalNumber]
	WHERE Rep.[BalNumber] IS NOT NULL
	SELECT @Max = MAX([Loop]), @Loop = 1, @BalNumber = '' FROM @Reps

    --Run the sproc for each rep
	WHILE @Loop <= @Max
		BEGIN
			SELECT @BalNumber = [BalNumber] FROM @Reps WHERE [Loop] = @Loop
			PRINT @BalNumber
			DELETE FROM @Results
			INSERT INTO @Results ([Line])
			EXEC s_get_photo_announcement_vouchers @BalNumber = @BalNumber
			SELECT @MaxInner = MAX([Loop]), @LoopInner = MIN([Loop]), @CSV = '' FROM @Results
			WHILE @LoopInner <= @MaxInner
				BEGIN
					SELECT @Line = [Line] FROM @Results WHERE [Loop] = @LoopInner
					SET @CSV = @CSV + @Line + N'
'
					SET @LoopInner = @LoopInner + 1
				END
			PRINT @CSV
			SET @Loop = @Loop + 1
		END
END
GO
