/****** Object:  StoredProcedure [dbo].[s_get_conditionalcontent_trigger_new]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 11-05-2019
-- Description: This sproc pulls the trigger for conditional content
-- =============================================
CREATE PROCEDURE [dbo].[s_get_conditionalcontent_trigger_new]
(
     @Site VARCHAR(50) = ''
    ,@Path VARCHAR(300) = ''
	,@GUID VARCHAR(50) = ''
	,@TimeDateOverride DATETIME = null
	,@Debugging BIT = 0
)
AS
--EXEC s_get_conditionalcontent_trigger @Site='Balfour', @Path = 'shop', @GUID = ''
--EXEC s_get_conditionalcontent_trigger @Site='Balfour', @Path = 'shop/men-s-i11-identity-landmark-class-ring-a000308', @GUID = ''
--EXEC s_get_conditionalcontent_trigger @Site='www.balfour.com', @Path = 'shop/jewelry/necklaces'
--EXEC s_get_conditionalcontent_trigger_new @Site='www.balfour.com', @Path = 'shop/jewelry/necklaces'
--EXEC s_get_conditionalcontent_trigger @Site='www.balfour.com', @Path = 'https://www.balfour.com/shop/graduation-products?smi=130167'
--EXEC s_get_conditionalcontent_trigger_new @Site='www.balfour.com', @Path = 'https://www.balfour.com/shop/graduation-products?smi=130167', @Debugging = 1
BEGIN
	/*
	*	Note that the logic here must be kept in sync with the logic in [s_diag_balfour_optimize]
	*/
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	--Do some maintenence
	UPDATE [dbo].[ConditionalContent] SET [Enabled] = 0 WHERE [EndDate] IS NOT NULL AND GETDATE() > [EndDate]
	IF @TimeDateOverride IS NOT NULL SET @TimeDateOverride =dbo.fn_DateTime_to_Zulu(@TimeDateOverride)

	--Reform @Site to work for production, QA and Dev
	SET @Site = CASE WHEN @Site IN ('Balfour','www-qa.balfour','www-dev.balfour','www.balfour.com') THEN 'Balfour' ELSE @Site END

	--Reform @Path to remove forceguid query parameter
	DECLARE @QP VARCHAR(300), @Rep VARCHAR(300)
	IF CHARINDEX('?',@Path) > 0
		BEGIN
			SET @QP = RIGHT(@Path,LEN(@Path)-(CHARINDEX('?',@Path)))
			SET @Path = LEFT(@Path,CHARINDEX('?',@Path)-1)
			SET @Rep = ''
			--Break the list by the & character
			SELECT @Rep = [Value] FROM  string_split(@QP,'&') WHERE [value] LIKE 'forceguid=%'
			SET @QP = REPLACE(@QP,@Rep,'')
			IF RIGHT(@QP,1) = '&' SET @QP = LEFT(@QP,LEN(@QP)-1)
			IF LEFT(@QP,1) = '&' SET @QP = RIGHT(@QP,LEN(@QP)-1)
			SET @QP = REPLACE(@QP,'&&','&')
			PRINT @Path + ' ' + @QP
			SET @Path = LTRIM(RTRIM(@Path + CASE WHEN LTRIM(RTRIM(@QP)) = '' THEN '' ELSE '?' + @QP END))
			
			--PRINT @Path
		END

	
	SET @GUID = LTRIM(RTRIM(ISNULL(@GUID,'')))
	DECLARE @Matching TABLE ([GUID] VARCHAR(50), [URL] VARCHAR(300), [SearchType] SMALLINT, Loop INT IDENTITY(1,1))
	CREATE TABLE #Triggers ([GUID] VARCHAR(50), [JSTrigger] NVARCHAR(MAX))
	--DECLARE @Triggers TABLE ([GUID] VARCHAR(50), [JSTrigger] NVARCHAR(MAX))
	DECLARE @Max INT, @Max2 INT, @Loop INT, @Loop2 INT, @URL VARCHAR(300), @SearchType SMALLINT, @ThisGUID VARCHAR(50), @JSTrigger VARCHAR(MAX)
	, @SMIListVariableName VARCHAR(50), @SMIListGUID VARCHAR(50)
    --If @GUID is not blank, we are forcing the test so ignore the start and end dates as well as whether or not it is enabled
	IF @GUID <> ''
		BEGIN
			INSERT INTO @Matching ([GUID], [URL], [SearchType])
			SELECT @GUID, [URL], [SearchType]
			FROM dbo.[ConditionalContentURLs] 
			WHERE [CCGUID] = @GUID
			AND ISNULL([IsExclusion],0) = 0
		END
	ELSE
		BEGIN
			PRINT '@GUID IS EMPTY'
			INSERT INTO @Matching ([GUID], [URL], [SearchType])
			SELECT CC.[GUID], [URL], [SearchType]
			FROM dbo.[ConditionalContentURLs] URLs
			LEFT JOIN dbo.[ConditionalContent] CC ON CC.[GUID] = URLs.[CCGUID]
			WHERE CC.[Enabled] = 1
			AND URLs.[Site] = @Site
			AND ISNULL([IsExclusion],0) = 0
			AND CASE WHEN @TimeDateOverride IS NOT NULL THEN @TimeDateOverride ELSE GETDATE() END BETWEEN ISNULL(CC.[StartDate], CAST('1-1-1900' AS datetime)) AND CASE WHEN CC.[StartDate] IS NOT NULL AND CC.[EndDate] IS NULL THEN DATEADD(day,1,GETDATE()) ELSE ISNULL(CC.[EndDate],DATEADD(day,1,GETDATE())) END --Note that if the start date is specified but there is no ending date, include it
			IF @Debugging = 1 
				SELECT * FROM @Matching
		END
	SELECT @Max = MAX([Loop]) FROM @Matching
	SET @Loop = 1
	WHILE @Loop <= @Max
		BEGIN
			SELECT @ThisGUID = [GUID], @URL = [URL], @SearchType = [SearchType] FROM @Matching WHERE [Loop] = @Loop
			---3=Does not end with; -2=Does not start with; -1=Does not contain; 0=Exact match; 1=Contains; 2=Starts with; 3=Ends with; 
			IF @SearchType = 0 --Exact Match
				BEGIN
					IF @URL LIKE @Path --Use 'LIKE' here rather than '=' so that you can add wildcards to the URL data to get more complicated pattern matches
						INSERT INTO #Triggers ([GUID],[JSTrigger])
						SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
				END
			IF @SearchType = 1 --Contains
				BEGIN
					IF @Path LIKE '%' + @URL + '%'
						BEGIN
							INSERT INTO #Triggers ([GUID],[JSTrigger])
							SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
							PRINT 'Match found for ' + @ThisGUID + ' on contains'
						END
				END
			IF @SearchType = 2 --Starts with
				BEGIN
					IF @Path LIKE @URL + '%'
						BEGIN
							INSERT INTO #Triggers ([GUID],[JSTrigger])
							SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
							PRINT 'Match found for ' + @ThisGUID + ' on starts with'
						END
				END
			IF @SearchType = 3 --Ends with
				BEGIN
					IF @Path LIKE '%' + @URL
						BEGIN
							INSERT INTO #Triggers ([GUID],[JSTrigger])
							SELECT @ThisGUID, [JSTrigger] FROM dbo.[ConditionalContent] WHERE [GUID] = @ThisGUID
							PRINT 'Match found for ' + @ThisGUID + ' on ends with'
						END
				END
			SET @Loop = @Loop + 1
		END
	IF @Debugging = 1 
				SELECT * FROM #Triggers
	--Account for exclusions
	DELETE FROM @Matching
	IF @GUID <> ''
		BEGIN
			INSERT INTO @Matching ([GUID], [URL], [SearchType])
			SELECT @GUID, [URL], [SearchType]
			FROM dbo.[ConditionalContentURLs] 
			WHERE [CCGUID] = @GUID
			AND ISNULL([IsExclusion],0) = 1
		END
	ELSE
		BEGIN
			INSERT INTO @Matching ([GUID], [URL], [SearchType])
			SELECT CC.[GUID], [URL], [SearchType]
			FROM dbo.[ConditionalContentURLs] URLs
			LEFT JOIN dbo.[ConditionalContent] CC ON CC.[GUID] = URLs.[CCGUID]
			WHERE CC.[Enabled] = 1
			AND URLs.[Site] = @Site
			AND ISNULL([IsExclusion],0) = 1
			AND CASE WHEN @TimeDateOverride IS NOT NULL THEN @TimeDateOverride ELSE GETDATE() END BETWEEN ISNULL(CC.[StartDate], CAST('1-1-1900' AS datetime)) AND CASE WHEN CC.[StartDate] IS NOT NULL AND CC.[EndDate] IS NULL THEN DATEADD(day,1,GETDATE()) ELSE ISNULL(CC.[EndDate],DATEADD(day,1,GETDATE())) END --Note that if the start date is specified but there is no ending date, include it
		END
	SET @Loop = 0
	SELECT @Loop = ISNULL(MIN([Loop]),-1) FROM @Matching
	IF @Loop > 0
		BEGIN
			SELECT @Max = MAX([Loop]) FROM @Matching
			WHILE @Loop <= @Max
				BEGIN
					SELECT @ThisGUID = [GUID], @URL = [URL], @SearchType = [SearchType] FROM @Matching WHERE [Loop] = @Loop
					---3=Does not end with; -2=Does not start with; -1=Does not contain; 0=Exact match; 1=Contains; 2=Starts with; 3=Ends with; 
					IF @SearchType = 0 --Exact Match
						BEGIN
							IF @URL LIKE @Path
								DELETE FROM #Triggers WHERE [GUID] = @ThisGUID
						END
					IF @SearchType = 1 --Contains
						BEGIN
							IF @Path LIKE '%' + @URL + '%'
								DELETE FROM #Triggers WHERE [GUID] = @ThisGUID
						END
					IF @SearchType = 2 --Starts with
						BEGIN
							IF @Path LIKE @URL + '%'
								DELETE FROM #Triggers WHERE [GUID] = @ThisGUID
						END
					IF @SearchType = 3 --Ends with
						BEGIN
							IF @Path LIKE '%' + @URL
								DELETE FROM #Triggers WHERE [GUID] = @ThisGUID
						END
					SET @Loop = @Loop + 1
				END
		END
	--Pull any needed SMI variable lists
	DECLARE @SMILists TABLE ([CCGUID] VARCHAR(50), [SMIListGUID] VARCHAR(50), [SMIListVariableName] VARCHAR(50), [Loop] INT IDENTITY(1,1))
	--Add Identity field to #Triggers
	ALTER TABLE #Triggers ADD [Loop] INT IDENTITY(1,1)
	SELECT @Loop = 1, @Max = MAX([Loop]) FROM #Triggers
	WHILE @Loop <= @Max
		BEGIN
			SELECT @GUID = [GUID], @JSTrigger = [JSTrigger] FROM #Triggers WHERE [Loop] = @Loop
			DELETE FROM @SMILists
			INSERT INTO @SMILists ([CCGUID], [SMIListGUID], [SMIListVariableName])
			SELECT @GUID, [SMIListGUID], [SMIListVariableName] FROM [dbo].[CC_SMIList_Xref] WHERE [ConditionalContentGUID] = @GUID
			--Add the variables to the trigger
			IF EXISTS (SELECT * FROM @SMILists)
				BEGIN
					SELECT @Loop2 = MIN([Loop]), @Max2 = MAX([Loop]) FROM @SMILists
					WHILE @Loop2 <= @Max2
						BEGIN
							SELECT @SMIListGUID = [SMIListGUID], @SMIListVariableName = [SMIListVariableName] FROM @SMILists WHERE [Loop] = @Loop2
							SET @JSTrigger = REPLACE(@JSTrigger,'~' + @SMIListVariableName + '~',dbo.fn_JS_SMI_Array(@SMIListGUID))
							UPDATE #Triggers SET [JSTrigger] = @JSTrigger
							SET @Loop2 = @Loop2 + 1
						END
				END
			SET @Loop = @Loop + 1
		END
	SELECT [GUID], [JSTrigger] FROM #Triggers
	DROP TABLE #Triggers
END
GO
