/****** Object:  StoredProcedure [dbo].[s_get_ymal_adhoc]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 11/13/19
-- Description: gimmie that ymal 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_ymal_adhoc]
(
   @insku varchar(255)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	-- s_get_ymal_adhoc @insku = 'A0000933A0000' <-- This took 1:23!! or 3:53 on 11/20
	--Changing memory (@) table to temp (#) table took it from 3:53 to 4:36 so that does not help - leave it a memory table
	--Adding another index got it to 3:46 - not much help
	--Used CHARINDEX rather than SPLIT_STRING for imageurl made it 4:22 so don't do that
	--For the join, use p.parentsku rather than LEFT(p.SKU,8) makes it 3:38
	--Adding an index on [Product Name],[Special Price (% for bundles)],[Included SMI],[ParentSKU] makes no difference
	--Adding an index on parentsku and another on id does not help

	-- DECLARE @insku varchar(255)
	DECLARE @priceLo numeric(9,2)
	DECLARE @priceHi numeric(9,2)
	DECLARE @myPrice numeric(9,2)
	DECLARE @myclass varchar(500)
	DECLARE @mysmi varchar (500)
	DECLARE @licType VARCHAR(20) 
	DECLARE @licTeam VARCHAR(100) 
	DECLARE @itemID VARCHAR(50) 
	DECLARE @myParentClass NVARCHAR(255)
    DECLARE @myParentChildClass NVARCHAR(255)
	DECLARE @myParentGrandchildClass NVARCHAR(255)
	DECLARE @maxPriceRange INT
    DECLARE @minPriceRange INT
	DECLARE @results TABLE  (imageurl varchar(255), url varchar(255), sku varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), Class varchar(255), rank int)

	SET @maxPriceRange = 100
    SET @minPriceRange = 25
	-- set @insku = 'A0139809A0000' -- bengals tree
	

			select @itemID = id from item where sku = LEFT(@insku,8)
			select @licType = tagvalue from itemattributes 
					where itemid = @itemID
					and tagtype = 'a_LicenseType' -- Get the License Type here
			if @licType = 'NCAA' 
			BEGIN
				select @licTeam = tagvalue from itemattributes
						where itemid =  @itemID --'ITEM124426356'
						and tagtype = 'a_NCAASchools' -- Find the licensed team if any
			END
			ELSE IF @licType = 'Greek'
			BEGIN
				select @licTeam = tagvalue from itemattributes
						where itemid =  @itemID --'ITEM124426356'
						and tagtype = 'a_Sororities' -- Find the licensed team if any
			END
			ELSE
			BEGIN
				select @licTeam = tagvalue from itemattributes
					where itemid =  @itemID --'ITEM124426356'
					and tagtype = 'a_' + @licType + 'Teams' -- Find the licensed team if any
			END

					--select @licType
					--select @licTeam

			-- INSERT INTO ymal_processed(sku) VALUES(@insku);
			SELECT @myPrice =  IsNull(pp.[Special Price (% for bundles)], pp.[Retail Price]) from  [dbo].[magento_automated_product_dataset] pp where pp.SKU = @insku
			-- PRINT @myPrice
			If(@myPrice > 399)
			BEGIN
				set @maxPriceRange = 100000
				set @minPriceRange = 50
			END
			SELECT @priceHi = @myPrice + @maxPriceRange
			SELECT @priceLo = @myPrice - @minPriceRange
			-- PRINT @priceHi
			-- PRINT @priceLo
			select @myclass = (select class from [dbo].[NS_SKU_Class_Map] nss where nss.Name = @insku)
			SELECT @myParentClass = [ParentClass], @myParentChildClass = [ParentChildClass], @myParentGrandchildClass = [ParentGrandchildClass] from [dbo].[NS_SKU_Class_Map] nss where nss.Name = @insku
			
			--select @myParentClass
			--select @myParentChildClass
			
			select @mysmi = [Included SMI] from  [dbo].[magento_automated_product_dataset] pp where pp.SKU = @insku
	
			INSERT INTO @results ([imageurl], [url], [sku], [product name], [price], [wasprice], [Class], rank)
			SELECT distinct top 10 'https://edge.prod.cdn.aac-e.com/pim-images-balfour/' + p.sku + '/base/800x800/' +
										(SELECT        TOP (1) value
										FROM            STRING_SPLIT(ia.tagvalue, ',') AS STRING_SPLIT_1) AS imageurl, 
						--CASE WHEN CHARINDEX(',',ia.tagvalue) > 0 THEN LEFT(ia.tagvalue,CHARINDEX(',',ia.tagvalue)-1) ELSE ia.tagvalue END as imageurl,
						REPLACE(LOWER('https://www.balfour.com/shop/' + REPLACE([dbo].[RemoveNonAlphaCharacters](REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(trim(p.[Product Name]), '/','-'), '  ', ' '), '.', '-'), ' ', '-'),'''','-')+'-'), '--','-') + p.SKU ), '--', '-') AS url, 
						p.SKU, 
						p.[Product Name], 
						IsNull(p.[Special Price (% for bundles)], 
						p.[Retail Price]) AS [Price], 
						p.[Retail Price] AS [wasprice], 
						ns.class, 
						cr.rank 
			FROM            dbo.magento_automated_product_dataset AS p 
								INNER JOIN dbo.item AS i ON P.ParentSKU = i.sku/*(LEFT(p.SKU,8) = i.sku )*/ 
								INNER JOIN	dbo.itemattributes AS ia ON i.id = ia.itemid  
								INNER JOIN	dbo.itemattributes AS iaa ON i.id = iaa.itemid  
								INNER JOIN  [dbo].[NS_SKU_Class_Map] ns ON p.SKU = ns.[Name]  
								LEFT JOIN [dbo].[ymal-collegiate-rank] cr on cr.class = ns.class
			WHERE   
					(p.Status = 'Enable') 
					AND (p.[Retail Price] <> 0)
					AND (p.Visibility = 'In Catalog and Search') 
					AND (ia.tagtype = 'a_BalfourPrimaryImages') 
					AND (ns.class <> @myclass )
					AND ([Quantity in Stock] > 0)
					-- AND (ns.ParentClass = @myParentClass OR ns.ParentChildClass = @myParentChildClass)
					AND (ns.ParentClass = @myParentClass OR ns.ParentChildClass = @myParentChildClass OR ns.ParentGrandchildClass = @myParentGrandchildClass)
					-- AND EXISTS(select * from STRING_SPLIT(ns.class,':') search1 where value in (select * from STRING_SPLIT(@myclass,':') ))
					AND (
						([Included SMI] = @mySMI) OR (ISNULL(p.[Included SMI], @mySMI) IS NULL)
					)
					AND p.sku <> @insku 
					AND ((IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) <= @priceHi) AND (IsNull(p.[Special Price (% for bundles)], p.[Retail Price]) >= @priceLo))
					AND ((iaa.tagvalue = @LicTeam) OR (@licTeam IS NULL AND @licType = iaa.tagvalue) OR (@licType IS NULL)) 
					-- AND ((iaa.tagvalue = @LicTeam) OR (ISNULL(iaa.tagvalue, @licTeam) IS NULL )) 
				    ORDER BY cr.rank asc,
			[Price] desc

			SELECT * FROM @results


		
END
GO
