/****** Object:  StoredProcedure [dbo].[s_update_contentaffinitytiles_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 1/21/2021 - Jon.
*/
CREATE PROCEDURE [dbo].[s_update_contentaffinitytiles_record]
(
 @BottomText VARCHAR(MAX) = NULL
,@CTAButtonLink VARCHAR(500) = NULL
,@CTAButtonNewTab BIT = NULL
,@CTAButtonText VARCHAR(200) = NULL
,@GradeLevel INT = NULL
,@Headline VARCHAR(200) = NULL
,@ID BIGINT = NULL
,@Image VARCHAR(200) = NULL
,@Image2 VARCHAR(200) = NULL
,@MobileImage VARCHAR(200) = NULL
,@MobileImage2 VARCHAR(200) = NULL
,@LogoImage VARCHAR(200) = NULL
,@SMI BIGINT = NULL
,@SubHeadline VARCHAR(500) = NULL
,@TileGroup INT = NULL
,@TopText VARCHAR(MAX) = NULL
,@DataDrivenMode INT = NULL
,@SortOrder int = NULL
,@MarketingCallout varchar(50) = NULL
, @ID_OUT BIGINT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [ContentAffinityTiles].
--##RS1 The [ID] value of the inserted/updated record in the table [ContentAffinityTiles].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [ContentAffinityTiles] ( [SMI],[TileGroup],[GradeLevel],[Headline],[SubHeadline],[TopText],[BottomText],[Image],[MobileImage],[CTAButtonText],[CTAButtonLink],[CTAButtonNewTab],[MarketingCallout])
       VALUES ( @SMI,@TileGroup,@GradeLevel,@Headline,@SubHeadline,@TopText,@BottomText,@Image,@MobileImage,@CTAButtonText,@CTAButtonLink,@CTAButtonNewTab,@MarketingCallout)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [ContentAffinityTiles] SET
     [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
    ,[TileGroup] = CASE WHEN @TileGroup IS NULL THEN [TileGroup] ELSE @TileGroup END
    ,[GradeLevel] = CASE WHEN @GradeLevel IS NULL THEN [GradeLevel] ELSE @GradeLevel END
    ,[Headline] = CASE WHEN @Headline IS NULL THEN [Headline] ELSE @Headline END
    ,[SubHeadline] = CASE WHEN @SubHeadline IS NULL THEN [SubHeadline] ELSE @SubHeadline END
    ,[TopText] = CASE WHEN @TopText IS NULL THEN [TopText] ELSE @TopText END
    ,[BottomText] = CASE WHEN @BottomText IS NULL THEN [BottomText] ELSE @BottomText END
	,[Image] = CASE WHEN @Image IS NULL THEN [Image] ELSE @Image END
    ,[Image2] = CASE WHEN @Image2 IS NULL THEN [Image2] ELSE @Image2 END
    ,[MobileImage] = CASE WHEN @MobileImage IS NULL THEN [MobileImage] ELSE @MobileImage END
	,[MobileImage2] = CASE WHEN @MobileImage2 IS NULL THEN [MobileImage2] ELSE @MobileImage2 END
	,[LogoImage] = CASE WHEN @LogoImage IS NULL THEN [LogoImage] ELSE @LogoImage END
    ,[CTAButtonText] = CASE WHEN @CTAButtonText IS NULL THEN [CTAButtonText] ELSE @CTAButtonText END
    ,[CTAButtonLink] = CASE WHEN @CTAButtonLink IS NULL THEN [CTAButtonLink] ELSE @CTAButtonLink END
    ,[CTAButtonNewTab] = CASE WHEN @CTAButtonNewTab IS NULL THEN [CTAButtonNewTab] ELSE @CTAButtonNewTab END
	,[DataDrivenMode] = CASE WHEN @DataDrivenMode IS NULL THEN [DataDrivenMode] ELSE @DataDrivenMode END
	,[SortOrder] = CASE WHEN @SortOrder IS NULL THEN [SortOrder] ELSE @SortOrder END
	,[MarketingCallout] = @MarketingCallout
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [SMI]
,[TileGroup]
,[GradeLevel]
,[Headline]
,[SubHeadline]
,[TopText]
,[BottomText]
,[Image]
,[Image2]
,[MobileImage]
,[MobileImage2]
,[LogoImage]
,[CTAButtonText]
,[CTAButtonLink]
,[CTAButtonNewTab]
,[ID]
,[DataDrivenMode]
,[SortOrder]
,[MarketingCallout]
FROM dbo.[ContentAffinityTiles]
WHERE [ID] = @ID_Out
GO
