/****** Object:  StoredProcedure [dbo].[s_update_gradpackphotoannounce_transaction_after_send]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 07/17/2019
-- Description: Updates GradPackPhotoAnnounceTransactions with the response from Silverpop
-- =============================================
CREATE PROCEDURE [dbo].[s_update_gradpackphotoannounce_transaction_after_send]
(
	 @ID INT = 0
	,@Silverpop_Response VARCHAR(500)
	,@Sent_DTM DATETIME = NULL
)
AS 
SET NOCOUNT ON
UPDATE [dbo].[GradPackPhotoAnnounceTransactions]
SET [Silverpop_Response] = @Silverpop_Response, [Sent_DTM] = CASE WHEN @Sent_DTM IS NULL THEN GETDATE() ELSE @Sent_DTM END
WHERE [ID] = @ID
GO
