/****** Object:  StoredProcedure [dbo].[s_update_conditionalcontenturls_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/6/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_conditionalcontenturls_record]
(
 @CCGUID VARCHAR(50) = NULL
,@ID INT = NULL
,@SearchType SMALLINT = NULL
,@SearchTypeLabel VARCHAR(50) = NULL
,@Site VARCHAR(50) = NULL
,@URL VARCHAR(MAX) = NULL
,@IsExclusion BIT = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [ConditionalContentURLs].
--##RS1 The [ID] value of the inserted/updated record in the table [ConditionalContentURLs].


IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
	IF @URL IS NULL SET @URL = ''
	DECLARE @Values TABLE ([Value] VARCHAR(MAX), [Loop] INT IDENTITY(1,1))
	INSERT INTO @Values ([Value])
	SELECT [Value] FROM string_split(@URL,'|')
	DECLARE @Max INT, @Loop INT, @Value VARCHAR(300)
	SELECT @Max = MAX([Loop]), @Loop = 1 FROM @Values
	WHILE @Loop <= @Max
		BEGIN
			SELECT @Value = LEFT(ISNULL([Value],''),300) FROM @Values WHERE [Loop] = @Loop
			IF LTRIM(RTRIM(@Value)) <> ''
				INSERT INTO [ConditionalContentURLs] ( [SearchType],[CCGUID],[Site],[URL],[IsExclusion])
				VALUES ( @SearchType,@CCGUID,'Balfour',@Value,@IsExclusion)
			SET @Loop = @Loop + 1
		END

	--INSERT INTO [ConditionalContentURLs] ( [SearchType],[CCGUID],[Site],[URL])
	--VALUES ( @SearchType,@CCGUID,'Balfour',@URL)
			
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [ConditionalContentURLs] SET
     [SearchType] = CASE WHEN @SearchType IS NULL THEN [SearchType] ELSE @SearchType END
    ,[CCGUID] = CASE WHEN @CCGUID IS NULL THEN [CCGUID] ELSE @CCGUID END
    ,[Site] = CASE WHEN @Site IS NULL THEN [Site] ELSE @Site END
    ,[URL] = CASE WHEN @URL IS NULL THEN [URL] ELSE @URL END
	,[IsExclusion] = CASE WHEN @IsExclusion IS NULL THEN [IsExclusion] ELSE @IsExclusion END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END
--Update the last modified flag of the parent record
UPDATE [ConditionalContent] SET [LastModified] = GETDATE() WHERE [GUID] = @CCGUID
SELECT
 [SearchType]
,CASE ISNULL([SearchType],1) WHEN -3 THEN 'Does not end with' WHEN -2 THEN 'Does not start with' WHEN -1 THEN 'Does not contain' WHEN 0 THEN 'Exact match' WHEN 1 THEN 'Contains' WHEN 2 THEN 'Starts with' WHEN 3 THEN 'Ends with' ELSE 'Contains' END as [SearchTypeLabel]
,[ID]
,[CCGUID]
,[Site]
,[URL]
,[IsExclusion]
FROM dbo.[ConditionalContentURLs]
WHERE [ID] = @ID_Out
GO
