/****** Object:  StoredProcedure [dbo].[s_get_grad_tile]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/25/19
-- Description: Get our Graduation tile for a school
-- =============================================
CREATE PROCEDURE [dbo].[s_get_grad_tile]
(
    -- Add the parameters for the stored procedure here
    @smi int = 0
)
AS
BEGIN
	-- [dbo].[s_get_grad_tile] @smi=100442
	-- [dbo].[s_get_grad_tile] @smi=135913
	-- [dbo].[s_get_grad_tile] @smi=1304
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	-- If EXISTS(SELECT * FROM non_gradpack_schools WHERE SMI = @SMI)
	IF [dbo].[fn_SMI_in_list] ('48BEE133-8490-4F17-9968-D5AFD3120D77',CAST(@SMI as INT)) = 1
	BEGIN
		SELECT 
		  '12' AS [ID]
		  ,'Graduation' AS [Name]
		  ,'' AS [CTA]
		  ,'' AS [Price]
		  ,'https://www.balfour.com/-/media/Balfour/Affinity-Page-Images/Affinity-Icons/college_Graduation.jpg' AS [Image]
		  ,'' AS [badgeText]
		  ,'https://www.balfour.com/shop/graduation-products?smi=' + CAST(@smi AS VARCHAR(50)) AS [URL]
		  ,'3' AS [SectionID]
		  ,'1' AS [enabled]
		  ,'affinityTile' AS [tiletype]
	END
	ELSE
	BEGIN
	  SELECT dt.[ID]
		  ,dt.[Name]
		  ,dt.[CTA]
		  ,dt.[Price]
		  ,dt.[Image]
		  ,dt.[badgeText]
		  --,CASE WHEN ss.newURL = 1 THEN REPLACE(dt.[URL2],'*SMI*', @smi) ELSE REPLACE(dt.[URL],'*SMI*', @smi) END AS [URL]
		  ,COALESCE(REPLACE(links.link,'*SMI*', @smi), REPLACE(dt.[URL],'*SMI*', @smi)) AS [URL]
		  ,dt.[SectionID]
		  ,dt.[enabled]
		  ,dt.[tiletype]
	  FROM [dbo].[DynamicTiles] dt
	  Inner join [dbo].[iop_tiles] ss on ss.SMI = @smi -- list of schools for 1.4 
	  inner join [dbo].[IOPLinks] links on links.ID = ss.LinkID
	  where dt.ID = 12 --Graduation's TileID
	  and ss.IsActive = 1
	END

		
  
    
END
GO
