/****** Object:  StoredProcedure [dbo].[s_getAffinitySubNavLinks_qa]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/23/2020
-- Description: Get affinity subnav links for 3.1 Navigation. 
-- =============================================
CREATE PROCEDURE [dbo].[s_getAffinitySubNavLinks_qa]
(
    @smi varchar(10),
	@debugging BIT = 0
)
-- exec [s_getAffinitySubNavLinks] @smi=130996, @debugging = 1 -- LSU
-- exec [s_getAffinitySubNavLinks] @smi='29672',  @debugging = 1 -- AIRLINE HS
-- exec [s_getAffinitySubNavLinks] @smi='131722',  @debugging = 1 --VT
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	DECLARE @isHighSchool AS BIT = 0;
	DECLARE @GradeLevel VARCHAR(50) = ''

    DECLARE @showAnnouncement AS BIT = 0;
    DECLARE @showPayment AS BIT = 0;
    DECLARE @showContact AS BIT = 1;
    DECLARE @showEvents AS BIT = 0;

	DECLARE @announcementLink AS varchar(max) = ''
	DECLARE @paymentLink AS varchar(max) = ''
	DECLARE @contactLink AS varchar(max) = ''
	DECLARE @eventsLink AS varchar(max) = ''

	DECLARE @subnavLinkURLsList TABLE ([subnavLinkText] VARCHAR(MAX), [subnavLinkURL] VARCHAR(MAX))



	--Determine grade level for use in other functions
	SELECT @GradeLevel = [dbo].[fn_Affinity_GradeLevel] (@SMI) -- FROM school_url_master WHERE smi = @smi
	IF(@GradeLevel = 'High School')
	BEGIN
		SET @isHighSchool = 1
	END

	-- Show Announcements
	IF(@isHighSchool = 1) 
	BEGIN
		SET @showAnnouncement = 1;
		IF @debugging = 1 PRINT 'HS: Show Announcement.'
		IF(CAST(@smi as VARCHAR(10)) in (select SMI from announcements_exclude))
		BEGIN
			SET @showAnnouncement = 0;
			IF @debugging = 1 PRINT 'HS EXCLUDE: Don''t Show Announcement.'
		END
	END
	ELSE
	BEGIN
		IF @debugging = 1 PRINT 'College: Check to see if we include this SMI.'
		if(@smi in (select SMI from announcements_include))
		BEGIN
			SET @showAnnouncement = 1;
			IF @debugging = 1 PRINT 'College: Included SMI.'
		END
	END

	-- SHOW PAYMENT - Get this from NetSuite - 'Payment URL' field

	IF EXISTS(select top 1 PaymentURL from School_URL_Master where smi = @smi AND PaymentURL <> '' and PaymentURL IS NOT NULL )
	BEGIN 
		SET @showPayment = 1
	END

	IF EXISTS(select top 1 * from School_Events where smi = @smi and Date > GETDATE())
	BEGIN 
		SET @showEvents = 1
	END
	
	-- 09/08/2020 - Eudora asked to remove the Announcement voucher link from all affinity pages
	SET @showAnnouncement = 0
	IF @showAnnouncement = 1
	BEGIN
		SET @announcementLink = 'https://www.balfour.com/contemporary-announcements?smi=' + @smi
	END

	IF @showContact = 1
	BEGIN
		SELECT @contactLink = 'https://www.balfour.com' + [affinityurl] + '/contact' From School_URL_Master where SMI = @smi
	END

	IF @showPayment = 1
	BEGIN
		SELECT @paymentLink = PaymentURL from School_URL_Master where smi = @smi AND PaymentURL <> '' and PaymentURL IS NOT NULL
		-- SELECT @paymentLink = [Payment URL] from netsuiteSmiSchool where smi = @smi
	END

	IF @showEvents = 1
	BEGIN
		SELECT @eventsLink = 'https://www.balfour.com' + [affinityurl] + '/events' From School_URL_Master where SMI = @smi
	END


	INSERT INTO 
		@subnavLinkURLsList (subnavLinkText, subnavLinkURL)
	VALUES
		('Contact', @contactLink),
		('Redeem Announcement Voucher', @announcementLink),
		('Make a Payment', @paymentLink),
		('Events', @eventsLink)


	--select 
	--@contactLink AS [contactLink] 
	--, @announcementLink AS [announcementLink]
	--, @paymentLink AS [paymentLink]
	--, @eventsLink AS [eventsLink]
	--FOR JSON PATH



	SELECT subnavLinkText, subnavLinkURL 
	FROM @subnavLinkURLsList 
	WHERE ISNULL(subnavLinkText,'') <> '' AND ISNULL(subnavLinkURL,'') <> ''
	FOR JSON PATH
END
GO
