/****** Object:  StoredProcedure [dbo].[s_get_school_url_master_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/27/2020 - TL
*/
CREATE PROCEDURE [dbo].[s_get_school_url_master_records]
(
	  @SMI INT = NULL
	, @searchField VARCHAR(50) = '' --URL, CleanCity, CleanSchoolName, CleanState
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'SMI'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [School_URL_Master] if the parameter @SMI has a value or a list of records if null.
--##PD @SMI in [School_URL_Master].
--##PD @searchField - The field to search on (URL, CleanCity, CleanSchoolName, CleanState)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [SMI]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [School_URL_Master].

--DECLARE @totalRecords INT; EXEC s_get_school_url_master_records @searchField = 'SMI', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @SMI IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [SMI]
		,[URL]
		,[CleanCity]
		,[CleanSchoolName]
		,[CleanState]
		FROM [School_URL_Master]
		WHERE [SMI] = @SMI

		SELECT @totalRecords = COUNT(*) FROM [dbo].[School_URL_Master]
		WHERE[SMI] = @SMI
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [School_URL_Master]
		WHERE [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
		AND ISNULL([URL],'') LIKE CASE WHEN @searchField = 'URL' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([URL],'') END
		AND ISNULL([CleanCity],'') LIKE CASE WHEN @searchField = 'CleanCity' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanCity],'') END
		AND ISNULL([CleanSchoolName],'') LIKE CASE WHEN @searchField = 'CleanSchoolName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanSchoolName],'') END
		AND ISNULL([CleanState],'') LIKE CASE WHEN @searchField = 'CleanState' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanState],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SMI]
				,[URL]
				,[CleanCity]
				,[CleanSchoolName]
				,[CleanState]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'SMI' THEN RIGHT(REPLICATE('0',49) + CAST([SMI] AS VARCHAR(50)),50) WHEN 'URL' THEN [URL] WHEN 'CleanCity' THEN [CleanCity] WHEN 'CleanSchoolName' THEN [CleanSchoolName] WHEN 'CleanState' THEN [CleanState] END DESC) as RowNumber
				FROM [dbo].[School_URL_Master]
				WHERE [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND ISNULL([URL],'') LIKE CASE WHEN @searchField = 'URL' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([URL],'') END
				AND ISNULL([CleanCity],'') LIKE CASE WHEN @searchField = 'CleanCity' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanCity],'') END
				AND ISNULL([CleanSchoolName],'') LIKE CASE WHEN @searchField = 'CleanSchoolName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanSchoolName],'') END
				AND ISNULL([CleanState],'') LIKE CASE WHEN @searchField = 'CleanState' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanState],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [SMI]
				,[URL]
				,[CleanCity]
				,[CleanSchoolName]
				,[CleanState]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'SMI' THEN RIGHT(REPLICATE('0',49) + CAST([SMI] AS VARCHAR(50)),50) WHEN 'URL' THEN [URL] WHEN 'CleanCity' THEN [CleanCity] WHEN 'CleanSchoolName' THEN [CleanSchoolName] WHEN 'CleanState' THEN [CleanState] END) as RowNumber
				FROM [dbo].[School_URL_Master]
				WHERE [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				AND ISNULL([URL],'') LIKE CASE WHEN @searchField = 'URL' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([URL],'') END
				AND ISNULL([CleanCity],'') LIKE CASE WHEN @searchField = 'CleanCity' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanCity],'') END
				AND ISNULL([CleanSchoolName],'') LIKE CASE WHEN @searchField = 'CleanSchoolName' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanSchoolName],'') END
				AND ISNULL([CleanState],'') LIKE CASE WHEN @searchField = 'CleanState' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([CleanState],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
