/****** Object:  StoredProcedure [dbo].[s_update_smischoolmasterindexlist]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 02/04/2020
-- Description: Updates SMISchoolMasterIndexList from Balfour_All_Schools_Import
-- =============================================
CREATE PROCEDURE [dbo].[s_update_smischoolmasterindexlist]
--EXEC s_update_smischoolmasterindexlist
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	--Update smischoolmasterindexlist
    UPDATE dbo.[smischoolmasterindexlist]
	SET [Name] = IMP.[school_name], [School City] = IMP.[School_City], [School State] = IMP.[school_state], [State Code] = IMP.[School_State_code], [Address1] = IMP.[School_Address1]
	, [Address2] = IMP.[School_address2], [School Zip Code] = IMP.[School_Zipcode], [County] = IMP.[school_county], [Country] = IMP.[school_country], [Date Created] = IMP.[created_at]
	, [Date_Updated] = IMP.[updated_at]
	FROM dbo.[smischoolmasterindexlist] SMI
	INNER JOIN dbo.[Balfour_All_Schools_Import] IMP ON CAST(IMP.[SMI] AS INT) = SMI.[ID]

	--Add new records
	INSERT INTO dbo.[smischoolmasterindexlist] ([ID], [Name], [School City], [State Code], [School State], [Address1], [Address2], [School Zip Code], [County], [Country], [Date Created], [Date_Updated])
	SELECT [smi], [school_name], [school_city], [school_state_code], [school_state], [school_address1], [school_address2], [school_zipcode], [school_county], [school_country],  [created_at], [updated_at]
	FROM [dbo].[balfour_all_schools_import] WHERE CAST([smi] AS INT) NOT IN (SELECT [ID] FROM [dbo].[SMISchoolMasterIndexList])

	--Update the last updated attribute
	DECLARE @Now VARCHAR(50)
	SET @Now = CAST(dbo.fn_DateTime_To_Central(GETDATE()) AS VARCHAR(50))
	EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'SMISchoolMasterIndexList', @AttribName = 'LastUpdate', @Value = @Now
END
GO
