/****** Object:  StoredProcedure [dbo].[s_get_gradpacksmisettings_records]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 6/11/2021 - Jon Kaufman
*/
CREATE PROCEDURE [dbo].[s_get_gradpacksmisettings_records]
(
	  @GradPackSMISettingID INT = NULL
	, @searchField VARCHAR(50) = '' --SMI
	,  @SMI INT = NULL
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'GradPackSMISettingID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [GradPackSMISettings] if the parameter @GradPackSMISettingID has a value or a list of records if null.
--##PD @GradPackSMISettingID in [GradPackSMISettings].
--##PD @SMI is a limiting field
--##PD @searchField - The field to search on (SMI)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [GradPackSMISettingID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [GradPackSMISettings].

--DECLARE @totalRecords INT; EXEC s_get_gradpacksmisettings_records @searchField = 'GradPackSMISettingID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @GradPackSMISettingID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 [BottomTitle]
		,[BottomButtonText]
		,[BottomButtonLink]
		,[SMI]
		,[LateFeeInfo]
		,[BottomTextDesktop]
		,[TopTextMobile]
		,[BottomTextMobile]
		,[TopBannerImageURL]
		,[TopTitle]
		,[CtaButtonText]
		,[TopTextDesktop]
		,[GradPackSMISettingID]
		,[BottomBannerImageURL]
		FROM [GradPackSMISettings]
		WHERE [GradPackSMISettingID] = @GradPackSMISettingID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[GradPackSMISettings]
		WHERE[GradPackSMISettingID] = @GradPackSMISettingID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999

		IF @SMI IS NULL AND @searchField = 'SMI' AND ltrim(rtrim(@searchTerm)) != '' 
			BEGIN
				SET @SMI = CAST(@searchTerm AS INT)
			END


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [GradPackSMISettings]
		WHERE [GradPackSMISettingID] = CASE WHEN @GradPackSMISettingID IS NULL THEN [GradPackSMISettingID] ELSE @GradPackSMISettingID END
		AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
		--AND ISNULL([SMI],'') LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SMI],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [BottomTitle]
				,[BottomButtonText]
				,[BottomButtonLink]
				,[SMI]
				,[LateFeeInfo]
				,[BottomTextDesktop]
				,[TopTextMobile]
				,[BottomTextMobile]
				,[TopBannerImageURL]
				,[TopTitle]
				,[CtaButtonText]
				,[TopTextDesktop]
				,[GradPackSMISettingID]
				,[BottomBannerImageURL]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackSMISettingID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackSMISettingID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] END DESC) as RowNumber
				FROM [dbo].[GradPackSMISettings]
				WHERE [GradPackSMISettingID] = CASE WHEN @GradPackSMISettingID IS NULL THEN [GradPackSMISettingID] ELSE @GradPackSMISettingID END
				AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				--AND ISNULL([SMI],'') LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SMI],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 [BottomTitle]
				,[BottomButtonText]
				,[BottomButtonLink]
				,[SMI]
				,[LateFeeInfo]
				,[BottomTextDesktop]
				,[TopTextMobile]
				,[BottomTextMobile]
				,[TopBannerImageURL]
				,[TopTitle]
				,[CtaButtonText]
				,[TopTextDesktop]
				,[GradPackSMISettingID]
				,[BottomBannerImageURL]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'GradPackSMISettingID' THEN RIGHT(REPLICATE('0',49) + CAST([GradPackSMISettingID] AS VARCHAR(50)),50) WHEN 'SMI' THEN [SMI] END) as RowNumber
				FROM [dbo].[GradPackSMISettings]
				WHERE [GradPackSMISettingID] = CASE WHEN @GradPackSMISettingID IS NULL THEN [GradPackSMISettingID] ELSE @GradPackSMISettingID END
				AND [SMI] = CASE WHEN @SMI IS NULL THEN [SMI] ELSE @SMI END
				--AND ISNULL([SMI],'') LIKE CASE WHEN @searchField = 'SMI' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([SMI],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
