/****** Object:  StoredProcedure [dbo].[s_get_dynamic_tiles_TL_this_sproc]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 9/6/19
-- Description: Get dynamic tiles from the dynamictiles table
-- =============================================
-- s_get_dynamic_tiles_TL_this_sproc @sectionID = 1, @smi=1304 --1 second 2 rows


-- s_get_dynamic_tiles_TL_this_sproc @sectionID = 1, @smi=124650 --1 second 2 rows
-- s_get_dynamic_tiles_TL_this_sproc @sectionID = 1, @smi=72885 --1 second 2 rows


-- s_get_dynamic_tiles_TL_this_sproc @sectionID = 1, @smi=1304 --1 second 2 rows
-- s_get_dynamic_tiles_TL_this_sproc @sectionID = 4, @smi=1309 --0 Seconds 3 rows
-- s_get_dynamic_tiles_TL_this_sproc @sectionID = 4, @smi=1309 --4 seconds 3 rows
CREATE PROCEDURE [dbo].[s_get_dynamic_tiles_TL_this_sproc](@sectionID int = 0, @smi int = 0)
AS
BEGIN
    SET NOCOUNT ON
	--declare  @smi int
	--SET @smi = 1304
	--declare  @sectionID int
	--SET @sectionID = 1

		drop table if exists #prework
		CREATE TABLE #prework ([SKU] NVARCHAR(255),[Product Name] varchar(255), [Exclusive SMI] nvarchar(255),[attribute set] nvarchar(255), [enhanced commerce] nvarchar(255), [itemid]nvarchar(786))
		drop table if exists #tilelinks
		CREATE TABLE #tilelinks (ID varchar(250), link varchar(350), img varchar(400)) 

		--The following takes about a second
		INSERT INTO #prework ([SKU],[Product Name],[Exclusive SMI],[attribute set],[enhanced commerce], [itemid])
		SELECT p.[SKU],[Product Name], [Exclusive SMI],[attribute set],[enhanced commerce],[itemid]
		from magento_automated_product_dataset p
		where [Exclusive SMI] = @smi
		AND (p.Status = 'Enable') 
		AND (p.Visibility = 'In Catalog and Search') 
	

		Insert into #tilelinks Select 'Photo Announcements', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%Announcement%' and [Product Name] not like '%traditional%')
			,NULL;


		Insert into #tilelinks Select 'Official Photo Announcements', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-')
		  )
		  + '-' + lower(p.sku) + '?smi=' + [Exclusive SMI]
			from #prework p
			INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
			where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			-- and [Product Name] like '%Announcement%' and [Product Name] like '%traditional%'
			and iaa.tagvalue = '52'
			and iaa.tagtype = 'a_PBProdFamID'
			), 
			(select top 1 'https://edge.prod.cdn.aac-e.com/all/' + REPLACE(REPLACE(REPLACE(ia.imageurl,'_800x800.jpg',''),'.jpg',''),'.png','') + '_800x800.jpg' 
					FROM #prework p 
					INNER JOIN	dbo.itemattributesimages AS ia ON ia.itemid = p.itemid 	
					INNER JOIN	dbo.itemattributes AS iaa ON iaa.itemid = p.itemid
					where p.[Exclusive SMI] = @smi
					and [attribute set] = 'pim_pb_announcement' 
					and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS'
					and iaa.tagvalue = '52'
					and iaa.tagtype = 'a_PBProdFamID'
			);


		Insert into #tilelinks Select 'Party Invites', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%Invit%')
			,NULL;

		Insert into #tilelinks Select 'Thank You Cards', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi  
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%thank you%')
			,NULL;

		Insert into #tilelinks Select 'Address Labels', 
		(select top 1 'https://www.balfour.com/shop/' + 
		  lower(REPLACE(REPLACE(REPLACE(REPLACE(trim(
				[Product Name]
				), '  ', ' '), '.', '-'), ' ', '-'),'''','-')
		  )
		  + '-' + lower(sku) + '?smi=' + [Exclusive SMI]
			from #prework/*magento_automated_product_dataset*/ where [Exclusive SMI] = @smi 
			and [attribute set] = 'pim_pb_announcement' 
			and [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' 
			and [Product Name] like '%Address Labels%')
			,NULL;
   

	/*
		SELECT * FROM #prework -- debugging
	    select * from #tilelinks  -- debugging...
	*/
		SELECT dt.[ID]
			  ,dt.[Name]
			  ,dt.[CTA]
			  ,dt.[Price]
			  ,COALESCE(tl.img,dt.[Image]) AS [Image]
			  ,dt.[badgeText]
			  ,COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) AS [URL]
			  ,dt.[SectionID]
		  FROM [dbo].[DynamicTiles] dt
		  left join #tilelinks tl on tl.ID = dt.Name
		  Where dt.[SectionID] = @sectionID
		  AND dt.enabled = 1
		  AND COALESCE(tl.link,COALESCE(dt.[URL] + '?smi=' + CAST(@smi AS VARCHAR(50)) + '&product_list_order=created_at','#') ) <> '#' -- get rid of Official announcements with no links 

		  drop table #tilelinks
		  drop table  #prework
	END
GO
