/****** Object:  StoredProcedure [dbo].[Upsert_MAGE_Sales_Order]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/13/2021
-- Description: Sproc to upsert data from Magento
-- =============================================
CREATE PROCEDURE [dbo].[Upsert_MAGE_Sales_Order]
(
    @entity_id bigint,
	@state varchar(32),
	@status varchar(32),
	@coupon_code varchar(255),
	@protect_code varchar(255),
	@shipping_description varchar(255),
	@is_virtual smallint,
	@store_id smallint,
	@customer_id bigint,
	@base_discount_amount decimal(12, 4),
	@base_discount_canceled decimal(12, 4),
	@base_discount_invoiced decimal(12, 4),
	@base_discount_refunded decimal(12, 4),
	@base_grand_total decimal(12, 4),
	@base_shipping_amount decimal(12, 4),
	@base_shipping_canceled decimal(12, 4),
	@base_shipping_invoiced decimal(12, 4),
	@base_shipping_refunded decimal(12, 4),
	@base_shipping_tax_amount decimal(12, 4),
	@base_shipping_tax_refunded decimal(12, 4),
	@base_subtotal decimal(12, 4),
	@base_subtotal_canceled decimal(12, 4),
	@base_subtotal_invoiced decimal(12, 4),
	@base_subtotal_refunded decimal(12, 4),
	@base_tax_amount decimal(12, 4),
	@base_tax_canceled decimal(12, 4),
	@base_tax_invoiced decimal(12, 4),
	@base_tax_refunded decimal(12, 4),
	@base_to_global_rate decimal(12, 4),
	@base_to_order_rate decimal(12, 4),
	@base_total_canceled decimal(12, 4),
	@base_total_invoiced decimal(12, 4),
	@base_total_invoiced_cost decimal(12, 4),
	@base_total_offline_refunded decimal(12, 4),
	@base_total_online_refunded decimal(12, 4),
	@base_total_paid decimal(12, 4),
	@base_total_qty_ordered decimal(12, 4),
	@base_total_refunded decimal(12, 4),
	@discount_amount decimal(12, 4),
	@discount_canceled decimal(12, 4),
	@discount_invoiced decimal(12, 4),
	@discount_refunded decimal(12, 4),
	@grand_total decimal(12, 4),
	@shipping_amount decimal(12, 4),
	@shipping_canceled decimal(12, 4),
	@shipping_invoiced decimal(12, 4),
	@shipping_refunded decimal(12, 4),
	@shipping_tax_amount decimal(12, 4),
	@shipping_tax_refunded decimal(12, 4),
	@store_to_base_rate decimal(12, 4),
	@store_to_order_rate decimal(12, 4),
	@subtotal decimal(12, 4),
	@subtotal_canceled decimal(12, 4),
	@subtotal_invoiced decimal(12, 4),
	@subtotal_refunded decimal(12, 4),
	@tax_amount decimal(12, 4),
	@tax_canceled decimal(12, 4),
	@tax_invoiced decimal(12, 4),
	@tax_refunded decimal(12, 4),
	@total_canceled decimal(12, 4),
	@total_invoiced decimal(12, 4),
	@total_offline_refunded decimal(12, 4),
	@total_online_refunded decimal(12, 4),
	@total_paid decimal(12, 4),
	@total_qty_ordered decimal(12, 4),
	@total_refunded decimal(12, 4),
	@can_ship_partially smallint,
	@can_ship_partially_item smallint,
	@customer_is_guest smallint,
	@customer_note_notify smallint,
	@billing_address_id bigint,
	@customer_group_id bigint,
	@edit_increment bigint,
	@email_sent smallint,
	@send_email smallint,
	@forced_shipment_with_invoice smallint,
	@payment_auth_expiration bigint,
	@quote_address_id bigint,
	@quote_id bigint,
	@shipping_address_id bigint,
	@adjustment_negative decimal(12, 4),
	@adjustment_positive decimal(12, 4),
	@base_adjustment_negative decimal(12, 4),
	@base_adjustment_positive decimal(12, 4),
	@base_shipping_discount_amount decimal(12, 4),
	@base_subtotal_incl_tax decimal(12, 4),
	@base_total_due decimal(12, 4),
	@payment_authorization_amount decimal(12, 4),
	@shipping_discount_amount decimal(12, 4),
	@subtotal_incl_tax decimal(12, 4),
	@total_due decimal(12, 4),
	@weight decimal(12, 4),
	@customer_dob datetime,
	@increment_id varchar(32),
	@applied_rule_ids varchar(128),
	@base_currency_code varchar(3),
	@customer_email varchar(128),
	@customer_firstname varchar(128),
	@customer_lastname varchar(128),
	@customer_middlename varchar(128),
	@customer_prefix varchar(32),
	@customer_suffix varchar(32),
	@customer_taxvat varchar(32),
	@discount_description varchar(255),
	@ext_customer_id varchar(32),
	@ext_order_id varchar(32),
	@global_currency_code varchar(3),
	@hold_before_state varchar(32),
	@hold_before_status varchar(32),
	@order_currency_code varchar(3),
	@original_increment_id varchar(32),
	@relation_child_id varchar(32),
	@relation_child_real_id varchar(32),
	@relation_parent_id varchar(32),
	@relation_parent_real_id varchar(32),
	@remote_ip varchar(32),
	@shipping_method varchar(120),
	@store_currency_code varchar(3),
	@store_name varchar(32),
	@x_forwarded_for varchar(32),
	@customer_note text,
	@created_at datetime,
	@updated_at datetime,
	@total_item_count smallint,
	@customer_gender bigint,
	@discount_tax_compensation_amount decimal(12, 4),
	@base_discount_tax_compensation_amount decimal(12, 4),
	@shipping_discount_tax_compensation_amount decimal(12, 4),
	@base_shipping_discount_tax_compensation_amnt decimal(12, 4),
	@discount_tax_compensation_invoiced decimal(12, 4),
	@base_discount_tax_compensation_invoiced decimal(12, 4),
	@discount_tax_compensation_refunded decimal(12, 4),
	@base_discount_tax_compensation_refunded decimal(12, 4),
	@shipping_incl_tax decimal(12, 4),
	@base_shipping_incl_tax decimal(12, 4),
	@coupon_rule_name varchar(255),
	@base_customer_balance_amount decimal(12, 4),
	@customer_balance_amount decimal(12, 4),
	@base_customer_balance_invoiced decimal(12, 4),
	@customer_balance_invoiced decimal(12, 4),
	@base_customer_balance_refunded decimal(12, 4),
	@customer_balance_refunded decimal(12, 4),
	@bs_customer_bal_total_refunded decimal(12, 4),
	@customer_bal_total_refunded decimal(12, 4),
	@gift_cards text,
	@base_gift_cards_amount decimal(12, 4),
	@gift_cards_amount decimal(12, 4),
	@base_gift_cards_invoiced decimal(12, 4),
	@gift_cards_invoiced decimal(12, 4),
	@base_gift_cards_refunded decimal(12, 4),
	@gift_cards_refunded decimal(12, 4),
	@gift_message_id bigint,
	@gw_id bigint,
	@gw_allow_gift_receipt bigint,
	@gw_add_card bigint,
	@gw_base_price decimal(12, 4),
	@gw_price decimal(12, 4),
	@gw_items_base_price decimal(12, 4),
	@gw_items_price decimal(12, 4),
	@gw_card_base_price decimal(12, 4),
	@gw_card_price decimal(12, 4),
	@gw_base_tax_amount decimal(12, 4),
	@gw_tax_amount decimal(12, 4),
	@gw_items_base_tax_amount decimal(12, 4),
	@gw_items_tax_amount decimal(12, 4),
	@gw_card_base_tax_amount decimal(12, 4),
	@gw_card_tax_amount decimal(12, 4),
	@gw_base_price_incl_tax decimal(12, 4),
	@gw_price_incl_tax decimal(12, 4),
	@gw_items_base_price_incl_tax decimal(12, 4),
	@gw_items_price_incl_tax decimal(12, 4),
	@gw_card_base_price_incl_tax decimal(12, 4),
	@gw_card_price_incl_tax decimal(12, 4),
	@gw_base_price_invoiced decimal(12, 4),
	@gw_price_invoiced decimal(12, 4),
	@gw_items_base_price_invoiced decimal(12, 4),
	@gw_items_price_invoiced decimal(12, 4),
	@gw_card_base_price_invoiced decimal(12, 4),
	@gw_card_price_invoiced decimal(12, 4),
	@gw_base_tax_amount_invoiced decimal(12, 4),
	@gw_tax_amount_invoiced decimal(12, 4),
	@gw_items_base_tax_invoiced decimal(12, 4),
	@gw_items_tax_invoiced decimal(12, 4),
	@gw_card_base_tax_invoiced decimal(12, 4),
	@gw_card_tax_invoiced decimal(12, 4),
	@gw_base_price_refunded decimal(12, 4),
	@gw_price_refunded decimal(12, 4),
	@gw_items_base_price_refunded decimal(12, 4),
	@gw_items_price_refunded decimal(12, 4),
	@gw_card_base_price_refunded decimal(12, 4),
	@gw_card_price_refunded decimal(12, 4),
	@gw_base_tax_amount_refunded decimal(12, 4),
	@gw_tax_amount_refunded decimal(12, 4),
	@gw_items_base_tax_refunded decimal(12, 4),
	@gw_items_tax_refunded decimal(12, 4),
	@gw_card_base_tax_refunded decimal(12, 4),
	@gw_card_tax_refunded decimal(12, 4),
	@paypal_ipn_customer_notified bigint,
	@reward_points_balance bigint,
	@base_reward_currency_amount decimal(12, 4),
	@reward_currency_amount decimal(12, 4),
	@base_rwrd_crrncy_amt_invoiced decimal(12, 4),
	@rwrd_currency_amount_invoiced decimal(12, 4),
	@base_rwrd_crrncy_amnt_refnded decimal(12, 4),
	@rwrd_crrncy_amnt_refunded decimal(12, 4),
	@reward_points_balance_refund bigint
)
AS
BEGIN
    SET NOCOUNT ON

    IF EXISTS (SELECT TOP 1 [entity_id] FROM dbo.MAGE_Sales_Order WHERE [entity_id] = @entity_id)
		BEGIN
			UPDATE dbo.MAGE_Sales_Order
			SET
				[state] = @state,
				[status] = @status,
				[coupon_code] = @coupon_code,
				[protect_code] = @protect_code,
				[shipping_description] = @shipping_description,
				[is_virtual] = @is_virtual,
				[store_id] = @store_id,
				[customer_id] = @customer_id,
				[base_discount_amount] = @base_discount_amount,
				[base_discount_canceled] = @base_discount_canceled,
				[base_discount_invoiced] = @base_discount_invoiced,
				[base_discount_refunded] = @base_discount_refunded,
				[base_grand_total] = @base_grand_total,
				[base_shipping_amount] = @base_shipping_amount,
				[base_shipping_canceled] = @base_shipping_canceled,
				[base_shipping_invoiced] = @base_shipping_invoiced,
				[base_shipping_refunded] = @base_shipping_refunded,
				[base_shipping_tax_amount] = @base_shipping_tax_amount,
				[base_shipping_tax_refunded] = @base_shipping_tax_refunded,
				[base_subtotal] = @base_subtotal,
				[base_subtotal_canceled] = @base_subtotal_canceled,
				[base_subtotal_invoiced] = @base_subtotal_invoiced,
				[base_subtotal_refunded] = @base_subtotal_refunded,
				[base_tax_amount] = @base_tax_amount,
				[base_tax_canceled] = @base_tax_canceled,
				[base_tax_invoiced] = @base_tax_invoiced,
				[base_tax_refunded] = @base_tax_refunded,
				[base_to_global_rate] = @base_to_global_rate,
				[base_to_order_rate] = @base_to_order_rate,
				[base_total_canceled] = @base_total_canceled,
				[base_total_invoiced] = @base_total_invoiced,
				[base_total_invoiced_cost] = @base_total_invoiced_cost,
				[base_total_offline_refunded] = @base_total_offline_refunded,
				[base_total_online_refunded] = @base_total_online_refunded,
				[base_total_paid] = @base_total_paid,
				[base_total_qty_ordered] = @base_total_qty_ordered,
				[base_total_refunded] = @base_total_refunded,
				[discount_amount] = @discount_amount,
				[discount_canceled] = @discount_canceled,
				[discount_invoiced] = @discount_invoiced,
				[discount_refunded] = @discount_refunded,
				[grand_total] = @grand_total,
				[shipping_amount] = @shipping_amount,
				[shipping_canceled] = @shipping_canceled,
				[shipping_invoiced] = @shipping_invoiced,
				[shipping_refunded] = @shipping_refunded,
				[shipping_tax_amount] = @shipping_tax_amount,
				[shipping_tax_refunded] = @shipping_tax_refunded,
				[store_to_base_rate] = @store_to_base_rate,
				[store_to_order_rate] = @store_to_order_rate,
				[subtotal] = @subtotal,
				[subtotal_canceled] = @subtotal_canceled,
				[subtotal_invoiced] = @subtotal_invoiced,
				[subtotal_refunded] = @subtotal_refunded,
				[tax_amount] = @tax_amount,
				[tax_canceled] = @tax_canceled,
				[tax_invoiced] = @tax_invoiced,
				[tax_refunded] = @tax_refunded,
				[total_canceled] = @total_canceled,
				[total_invoiced] = @total_invoiced,
				[total_offline_refunded] = @total_offline_refunded,
				[total_online_refunded] = @total_online_refunded,
				[total_paid] = @total_paid,
				[total_qty_ordered] = @total_qty_ordered,
				[total_refunded] = @total_refunded,
				[can_ship_partially] = @can_ship_partially,
				[can_ship_partially_item] = @can_ship_partially_item,
				[customer_is_guest] = @customer_is_guest,
				[customer_note_notify] = @customer_note_notify,
				[billing_address_id] = @billing_address_id,
				[customer_group_id] = @customer_group_id,
				[edit_increment] = @edit_increment,
				[email_sent] = @email_sent,
				[send_email] = @send_email,
				[forced_shipment_with_invoice] = @forced_shipment_with_invoice,
				[payment_auth_expiration] = @payment_auth_expiration,
				[quote_address_id] = @quote_address_id,
				[quote_id] = @quote_id,
				[shipping_address_id] = @shipping_address_id,
				[adjustment_negative] = @adjustment_negative,
				[adjustment_positive] = @adjustment_positive,
				[base_adjustment_negative] = @base_adjustment_negative,
				[base_adjustment_positive] = @base_adjustment_positive,
				[base_shipping_discount_amount] = @base_shipping_discount_amount,
				[base_subtotal_incl_tax] = @base_subtotal_incl_tax,
				[base_total_due] = @base_total_due,
				[payment_authorization_amount] = @payment_authorization_amount,
				[shipping_discount_amount] = @shipping_discount_amount,
				[subtotal_incl_tax] = @subtotal_incl_tax,
				[total_due] = @total_due,
				[weight] = @weight,
				[customer_dob] = @customer_dob,
				[increment_id] = @increment_id,
				[applied_rule_ids] = @applied_rule_ids,
				[base_currency_code] = @base_currency_code,
				[customer_email] = @customer_email,
				[customer_firstname] = @customer_firstname,
				[customer_lastname] = @customer_lastname,
				[customer_middlename] = @customer_middlename,
				[customer_prefix] = @customer_prefix,
				[customer_suffix] = @customer_suffix,
				[customer_taxvat] = @customer_taxvat,
				[discount_description] = @discount_description,
				[ext_customer_id] = @ext_customer_id,
				[ext_order_id] = @ext_order_id,
				[global_currency_code] = @global_currency_code,
				[hold_before_state] = @hold_before_state,
				[hold_before_status] = @hold_before_status,
				[order_currency_code] = @order_currency_code,
				[original_increment_id] = @original_increment_id,
				[relation_child_id] = @relation_child_id,
				[relation_child_real_id] = @relation_child_real_id,
				[relation_parent_id] = @relation_parent_id,
				[relation_parent_real_id] = @relation_parent_real_id,
				[remote_ip] = @remote_ip,
				[shipping_method] = @shipping_method,
				[store_currency_code] = @store_currency_code,
				[store_name] = @store_name,
				[x_forwarded_for] = @x_forwarded_for,
				[customer_note] = @customer_note,
				[created_at] = @created_at,
				[updated_at] = @updated_at,
				[total_item_count] = @total_item_count,
				[customer_gender] = @customer_gender,
				[discount_tax_compensation_amount] = @discount_tax_compensation_amount,
				[base_discount_tax_compensation_amount] = @base_discount_tax_compensation_amount,
				[shipping_discount_tax_compensation_amount] = @shipping_discount_tax_compensation_amount,
				[base_shipping_discount_tax_compensation_amnt] = @base_shipping_discount_tax_compensation_amnt,
				[discount_tax_compensation_invoiced] = @discount_tax_compensation_invoiced,
				[base_discount_tax_compensation_invoiced] = @base_discount_tax_compensation_invoiced,
				[discount_tax_compensation_refunded] = @discount_tax_compensation_refunded,
				[base_discount_tax_compensation_refunded] = @base_discount_tax_compensation_refunded,
				[shipping_incl_tax] = @shipping_incl_tax,
				[base_shipping_incl_tax] = @base_shipping_incl_tax,
				[coupon_rule_name] = @coupon_rule_name,
				[base_customer_balance_amount] = @base_customer_balance_amount,
				[customer_balance_amount] = @customer_balance_amount,
				[base_customer_balance_invoiced] = @base_customer_balance_invoiced,
				[customer_balance_invoiced] = @customer_balance_invoiced,
				[base_customer_balance_refunded] = @base_customer_balance_refunded,
				[customer_balance_refunded] = @customer_balance_refunded,
				[bs_customer_bal_total_refunded] = @bs_customer_bal_total_refunded,
				[customer_bal_total_refunded] = @customer_bal_total_refunded,
				[gift_cards] = @gift_cards,
				[base_gift_cards_amount] = @base_gift_cards_amount,
				[gift_cards_amount] = @gift_cards_amount,
				[base_gift_cards_invoiced] = @base_gift_cards_invoiced,
				[gift_cards_invoiced] = @gift_cards_invoiced,
				[base_gift_cards_refunded] = @base_gift_cards_refunded,
				[gift_cards_refunded] = @gift_cards_refunded,
				[gift_message_id] = @gift_message_id,
				[gw_id] = @gw_id,
				[gw_allow_gift_receipt] = @gw_allow_gift_receipt,
				[gw_add_card] = @gw_add_card,
				[gw_base_price] = @gw_base_price,
				[gw_price] = @gw_price,
				[gw_items_base_price] = @gw_items_base_price,
				[gw_items_price] = @gw_items_price,
				[gw_card_base_price] = @gw_card_base_price,
				[gw_card_price] = @gw_card_price,
				[gw_base_tax_amount] = @gw_base_tax_amount,
				[gw_tax_amount] = @gw_tax_amount,
				[gw_items_base_tax_amount] = @gw_items_base_tax_amount,
				[gw_items_tax_amount] = @gw_items_tax_amount,
				[gw_card_base_tax_amount] = @gw_card_base_tax_amount,
				[gw_card_tax_amount] = @gw_card_tax_amount,
				[gw_base_price_incl_tax] = @gw_base_price_incl_tax,
				[gw_price_incl_tax] = @gw_price_incl_tax,
				[gw_items_base_price_incl_tax] = @gw_items_base_price_incl_tax,
				[gw_items_price_incl_tax] = @gw_items_price_incl_tax,
				[gw_card_base_price_incl_tax] = @gw_card_base_price_incl_tax,
				[gw_card_price_incl_tax] = @gw_card_price_incl_tax,
				[gw_base_price_invoiced] = @gw_base_price_invoiced,
				[gw_price_invoiced] = @gw_price_invoiced,
				[gw_items_base_price_invoiced] = @gw_items_base_price_invoiced,
				[gw_items_price_invoiced] = @gw_items_price_invoiced,
				[gw_card_base_price_invoiced] = @gw_card_base_price_invoiced,
				[gw_card_price_invoiced] = @gw_card_price_invoiced,
				[gw_base_tax_amount_invoiced] = @gw_base_tax_amount_invoiced,
				[gw_tax_amount_invoiced] = @gw_tax_amount_invoiced,
				[gw_items_base_tax_invoiced] = @gw_items_base_tax_invoiced,
				[gw_items_tax_invoiced] = @gw_items_tax_invoiced,
				[gw_card_base_tax_invoiced] = @gw_card_base_tax_invoiced,
				[gw_card_tax_invoiced] = @gw_card_tax_invoiced,
				[gw_base_price_refunded] = @gw_base_price_refunded,
				[gw_price_refunded] = @gw_price_refunded,
				[gw_items_base_price_refunded] = @gw_items_base_price_refunded,
				[gw_items_price_refunded] = @gw_items_price_refunded,
				[gw_card_base_price_refunded] = @gw_card_base_price_refunded,
				[gw_card_price_refunded] = @gw_card_price_refunded,
				[gw_base_tax_amount_refunded] = @gw_base_tax_amount_refunded,
				[gw_tax_amount_refunded] = @gw_tax_amount_refunded,
				[gw_items_base_tax_refunded] = @gw_items_base_tax_refunded,
				[gw_items_tax_refunded] = @gw_items_tax_refunded,
				[gw_card_base_tax_refunded] = @gw_card_base_tax_refunded,
				[gw_card_tax_refunded] = @gw_card_tax_refunded,
				[paypal_ipn_customer_notified] = @paypal_ipn_customer_notified,
				[reward_points_balance] = @reward_points_balance,
				[base_reward_currency_amount] = @base_reward_currency_amount,
				[reward_currency_amount] = @reward_currency_amount,
				[base_rwrd_crrncy_amt_invoiced] = @base_rwrd_crrncy_amt_invoiced,
				[rwrd_currency_amount_invoiced] = @rwrd_currency_amount_invoiced,
				[base_rwrd_crrncy_amnt_refnded] = @base_rwrd_crrncy_amnt_refnded,
				[rwrd_crrncy_amnt_refunded] = @rwrd_crrncy_amnt_refunded,
				[reward_points_balance_refund] = @reward_points_balance_refund
			FROM dbo.MAGE_Sales_Order
			WHERE [entity_id] = @entity_id
		END
	ELSE
		BEGIN
			INSERT INTO dbo.MAGE_Sales_Order
			(
				[entity_id], 
				[state], 
				[status], 
				[coupon_code], 
				[protect_code], 
				[shipping_description], 
				[is_virtual], 
				[store_id], 
				[customer_id], 
				[base_discount_amount], 
				[base_discount_canceled], 
				[base_discount_invoiced], 
				[base_discount_refunded], 
				[base_grand_total], 
				[base_shipping_amount], 
				[base_shipping_canceled], 
				[base_shipping_invoiced], 
				[base_shipping_refunded], 
				[base_shipping_tax_amount], 
				[base_shipping_tax_refunded], 
				[base_subtotal], 
				[base_subtotal_canceled], 
				[base_subtotal_invoiced], 
				[base_subtotal_refunded], 
				[base_tax_amount], 
				[base_tax_canceled], 
				[base_tax_invoiced], 
				[base_tax_refunded], 
				[base_to_global_rate], 
				[base_to_order_rate], 
				[base_total_canceled], 
				[base_total_invoiced], 
				[base_total_invoiced_cost], 
				[base_total_offline_refunded], 
				[base_total_online_refunded], 
				[base_total_paid], 
				[base_total_qty_ordered], 
				[base_total_refunded], 
				[discount_amount], 
				[discount_canceled], 
				[discount_invoiced], 
				[discount_refunded], 
				[grand_total], 
				[shipping_amount], 
				[shipping_canceled], 
				[shipping_invoiced], 
				[shipping_refunded], 
				[shipping_tax_amount], 
				[shipping_tax_refunded], 
				[store_to_base_rate], 
				[store_to_order_rate], 
				[subtotal], 
				[subtotal_canceled], 
				[subtotal_invoiced], 
				[subtotal_refunded], 
				[tax_amount], 
				[tax_canceled], 
				[tax_invoiced], 
				[tax_refunded], 
				[total_canceled], 
				[total_invoiced], 
				[total_offline_refunded], 
				[total_online_refunded], 
				[total_paid], 
				[total_qty_ordered], 
				[total_refunded], 
				[can_ship_partially], 
				[can_ship_partially_item], 
				[customer_is_guest], 
				[customer_note_notify], 
				[billing_address_id], 
				[customer_group_id], 
				[edit_increment], 
				[email_sent], 
				[send_email], 
				[forced_shipment_with_invoice], 
				[payment_auth_expiration], 
				[quote_address_id], 
				[quote_id], 
				[shipping_address_id], 
				[adjustment_negative], 
				[adjustment_positive], 
				[base_adjustment_negative], 
				[base_adjustment_positive], 
				[base_shipping_discount_amount], 
				[base_subtotal_incl_tax], 
				[base_total_due], 
				[payment_authorization_amount], 
				[shipping_discount_amount], 
				[subtotal_incl_tax], 
				[total_due], 
				[weight], 
				[customer_dob], 
				[increment_id], 
				[applied_rule_ids], 
				[base_currency_code], 
				[customer_email], 
				[customer_firstname], 
				[customer_lastname], 
				[customer_middlename], 
				[customer_prefix], 
				[customer_suffix], 
				[customer_taxvat], 
				[discount_description], 
				[ext_customer_id], 
				[ext_order_id], 
				[global_currency_code], 
				[hold_before_state], 
				[hold_before_status], 
				[order_currency_code], 
				[original_increment_id], 
				[relation_child_id], 
				[relation_child_real_id], 
				[relation_parent_id], 
				[relation_parent_real_id], 
				[remote_ip], 
				[shipping_method], 
				[store_currency_code], 
				[store_name], 
				[x_forwarded_for], 
				[customer_note], 
				[created_at], 
				[updated_at], 
				[total_item_count], 
				[customer_gender], 
				[discount_tax_compensation_amount], 
				[base_discount_tax_compensation_amount], 
				[shipping_discount_tax_compensation_amount], 
				[base_shipping_discount_tax_compensation_amnt], 
				[discount_tax_compensation_invoiced], 
				[base_discount_tax_compensation_invoiced], 
				[discount_tax_compensation_refunded], 
				[base_discount_tax_compensation_refunded], 
				[shipping_incl_tax], 
				[base_shipping_incl_tax], 
				[coupon_rule_name], 
				[base_customer_balance_amount], 
				[customer_balance_amount], 
				[base_customer_balance_invoiced], 
				[customer_balance_invoiced], 
				[base_customer_balance_refunded], 
				[customer_balance_refunded], 
				[bs_customer_bal_total_refunded], 
				[customer_bal_total_refunded], 
				[gift_cards], 
				[base_gift_cards_amount], 
				[gift_cards_amount], 
				[base_gift_cards_invoiced], 
				[gift_cards_invoiced], 
				[base_gift_cards_refunded], 
				[gift_cards_refunded], 
				[gift_message_id], 
				[gw_id], 
				[gw_allow_gift_receipt], 
				[gw_add_card], 
				[gw_base_price], 
				[gw_price], 
				[gw_items_base_price], 
				[gw_items_price], 
				[gw_card_base_price], 
				[gw_card_price], 
				[gw_base_tax_amount], 
				[gw_tax_amount], 
				[gw_items_base_tax_amount], 
				[gw_items_tax_amount], 
				[gw_card_base_tax_amount], 
				[gw_card_tax_amount], 
				[gw_base_price_incl_tax], 
				[gw_price_incl_tax], 
				[gw_items_base_price_incl_tax], 
				[gw_items_price_incl_tax], 
				[gw_card_base_price_incl_tax], 
				[gw_card_price_incl_tax], 
				[gw_base_price_invoiced], 
				[gw_price_invoiced], 
				[gw_items_base_price_invoiced], 
				[gw_items_price_invoiced], 
				[gw_card_base_price_invoiced], 
				[gw_card_price_invoiced], 
				[gw_base_tax_amount_invoiced], 
				[gw_tax_amount_invoiced], 
				[gw_items_base_tax_invoiced], 
				[gw_items_tax_invoiced], 
				[gw_card_base_tax_invoiced], 
				[gw_card_tax_invoiced], 
				[gw_base_price_refunded], 
				[gw_price_refunded], 
				[gw_items_base_price_refunded], 
				[gw_items_price_refunded], 
				[gw_card_base_price_refunded], 
				[gw_card_price_refunded], 
				[gw_base_tax_amount_refunded], 
				[gw_tax_amount_refunded], 
				[gw_items_base_tax_refunded], 
				[gw_items_tax_refunded], 
				[gw_card_base_tax_refunded], 
				[gw_card_tax_refunded], 
				[paypal_ipn_customer_notified], 
				[reward_points_balance], 
				[base_reward_currency_amount], 
				[reward_currency_amount], 
				[base_rwrd_crrncy_amt_invoiced], 
				[rwrd_currency_amount_invoiced], 
				[base_rwrd_crrncy_amnt_refnded], 
				[rwrd_crrncy_amnt_refunded], 
				[reward_points_balance_refund]
			)
			VALUES
			(
				@entity_id, 
				@state, 
				@status, 
				@coupon_code, 
				@protect_code, 
				@shipping_description, 
				@is_virtual, 
				@store_id, 
				@customer_id, 
				@base_discount_amount, 
				@base_discount_canceled, 
				@base_discount_invoiced, 
				@base_discount_refunded, 
				@base_grand_total, 
				@base_shipping_amount, 
				@base_shipping_canceled, 
				@base_shipping_invoiced, 
				@base_shipping_refunded, 
				@base_shipping_tax_amount, 
				@base_shipping_tax_refunded, 
				@base_subtotal, 
				@base_subtotal_canceled, 
				@base_subtotal_invoiced, 
				@base_subtotal_refunded, 
				@base_tax_amount, 
				@base_tax_canceled, 
				@base_tax_invoiced, 
				@base_tax_refunded, 
				@base_to_global_rate, 
				@base_to_order_rate, 
				@base_total_canceled, 
				@base_total_invoiced, 
				@base_total_invoiced_cost, 
				@base_total_offline_refunded, 
				@base_total_online_refunded, 
				@base_total_paid, 
				@base_total_qty_ordered, 
				@base_total_refunded, 
				@discount_amount, 
				@discount_canceled, 
				@discount_invoiced, 
				@discount_refunded, 
				@grand_total, 
				@shipping_amount, 
				@shipping_canceled, 
				@shipping_invoiced, 
				@shipping_refunded, 
				@shipping_tax_amount, 
				@shipping_tax_refunded, 
				@store_to_base_rate, 
				@store_to_order_rate, 
				@subtotal, 
				@subtotal_canceled, 
				@subtotal_invoiced, 
				@subtotal_refunded, 
				@tax_amount, 
				@tax_canceled, 
				@tax_invoiced, 
				@tax_refunded, 
				@total_canceled, 
				@total_invoiced, 
				@total_offline_refunded, 
				@total_online_refunded, 
				@total_paid, 
				@total_qty_ordered, 
				@total_refunded, 
				@can_ship_partially, 
				@can_ship_partially_item, 
				@customer_is_guest, 
				@customer_note_notify, 
				@billing_address_id, 
				@customer_group_id, 
				@edit_increment, 
				@email_sent, 
				@send_email, 
				@forced_shipment_with_invoice, 
				@payment_auth_expiration, 
				@quote_address_id, 
				@quote_id, 
				@shipping_address_id, 
				@adjustment_negative, 
				@adjustment_positive, 
				@base_adjustment_negative, 
				@base_adjustment_positive, 
				@base_shipping_discount_amount, 
				@base_subtotal_incl_tax, 
				@base_total_due, 
				@payment_authorization_amount, 
				@shipping_discount_amount, 
				@subtotal_incl_tax, 
				@total_due, 
				@weight, 
				@customer_dob, 
				@increment_id, 
				@applied_rule_ids, 
				@base_currency_code, 
				@customer_email, 
				@customer_firstname, 
				@customer_lastname, 
				@customer_middlename, 
				@customer_prefix, 
				@customer_suffix, 
				@customer_taxvat, 
				@discount_description, 
				@ext_customer_id, 
				@ext_order_id, 
				@global_currency_code, 
				@hold_before_state, 
				@hold_before_status, 
				@order_currency_code, 
				@original_increment_id, 
				@relation_child_id, 
				@relation_child_real_id, 
				@relation_parent_id, 
				@relation_parent_real_id, 
				@remote_ip, 
				@shipping_method, 
				@store_currency_code, 
				@store_name, 
				@x_forwarded_for, 
				@customer_note, 
				@created_at, 
				@updated_at, 
				@total_item_count, 
				@customer_gender, 
				@discount_tax_compensation_amount, 
				@base_discount_tax_compensation_amount, 
				@shipping_discount_tax_compensation_amount, 
				@base_shipping_discount_tax_compensation_amnt, 
				@discount_tax_compensation_invoiced, 
				@base_discount_tax_compensation_invoiced, 
				@discount_tax_compensation_refunded, 
				@base_discount_tax_compensation_refunded, 
				@shipping_incl_tax, 
				@base_shipping_incl_tax, 
				@coupon_rule_name, 
				@base_customer_balance_amount, 
				@customer_balance_amount, 
				@base_customer_balance_invoiced, 
				@customer_balance_invoiced, 
				@base_customer_balance_refunded, 
				@customer_balance_refunded, 
				@bs_customer_bal_total_refunded, 
				@customer_bal_total_refunded, 
				@gift_cards, 
				@base_gift_cards_amount, 
				@gift_cards_amount, 
				@base_gift_cards_invoiced, 
				@gift_cards_invoiced, 
				@base_gift_cards_refunded, 
				@gift_cards_refunded, 
				@gift_message_id, 
				@gw_id, 
				@gw_allow_gift_receipt, 
				@gw_add_card, 
				@gw_base_price, 
				@gw_price, 
				@gw_items_base_price, 
				@gw_items_price, 
				@gw_card_base_price, 
				@gw_card_price, 
				@gw_base_tax_amount, 
				@gw_tax_amount, 
				@gw_items_base_tax_amount, 
				@gw_items_tax_amount, 
				@gw_card_base_tax_amount, 
				@gw_card_tax_amount, 
				@gw_base_price_incl_tax, 
				@gw_price_incl_tax, 
				@gw_items_base_price_incl_tax, 
				@gw_items_price_incl_tax, 
				@gw_card_base_price_incl_tax, 
				@gw_card_price_incl_tax, 
				@gw_base_price_invoiced, 
				@gw_price_invoiced, 
				@gw_items_base_price_invoiced, 
				@gw_items_price_invoiced, 
				@gw_card_base_price_invoiced, 
				@gw_card_price_invoiced, 
				@gw_base_tax_amount_invoiced, 
				@gw_tax_amount_invoiced, 
				@gw_items_base_tax_invoiced, 
				@gw_items_tax_invoiced, 
				@gw_card_base_tax_invoiced, 
				@gw_card_tax_invoiced, 
				@gw_base_price_refunded, 
				@gw_price_refunded, 
				@gw_items_base_price_refunded, 
				@gw_items_price_refunded, 
				@gw_card_base_price_refunded, 
				@gw_card_price_refunded, 
				@gw_base_tax_amount_refunded, 
				@gw_tax_amount_refunded, 
				@gw_items_base_tax_refunded, 
				@gw_items_tax_refunded, 
				@gw_card_base_tax_refunded, 
				@gw_card_tax_refunded, 
				@paypal_ipn_customer_notified, 
				@reward_points_balance, 
				@base_reward_currency_amount, 
				@reward_currency_amount, 
				@base_rwrd_crrncy_amt_invoiced, 
				@rwrd_currency_amount_invoiced, 
				@base_rwrd_crrncy_amnt_refnded, 
				@rwrd_crrncy_amnt_refunded, 
				@reward_points_balance_refund
			)
		END

		DECLARE @tableName varchar(50) = 'MAGE_Sales_Order'
		DECLARE @lastUpdatedColumn varchar(50) = 'LastUpdatedID'
		DECLARE @lastUpdatedValue varchar(255) = CAST(@entity_id as varchar(255))

		DECLARE @LastUpdate VARCHAR(50)
		SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:mm:ss tt')
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = 'LastUpdate', @Value = @LastUpdate
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = @lastUpdatedColumn, @Value = @lastUpdatedValue
		--Determine the next update
		SET @LastUpdate = FORMAT(DATEADD(hour,1,CAST(FORMAT(dbo.fn_DateTime_to_Central(GETDATE()),'MM/dd/yyyy hh:00:00 tt') AS DATETIME)), 'MM/dd/yyyy hh:mm:ss tt')
		EXEC [dbo].[s_update_extendedprop_on_table] @tablename = @tableName, @AttribName = 'NextUpdate', @Value = @LastUpdate
END
GO
