/****** Object:  StoredProcedure [dbo].[s_update_contentaffinitypages_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/1/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_contentaffinitypages_record]
(
 @affinityCTAButtonText VARCHAR(50) = NULL
,@capAndGownLink VARCHAR(200) = NULL
,@capAndGownLinkNewTab BIT = NULL
,@categoryShopTitle VARCHAR(200) = NULL
,@classRingsHeadline VARCHAR(100) = NULL
,@classRingsSubheadline VARCHAR(100) = NULL
,@classRingsTileBottomText VARCHAR(100) = NULL
,@classRingsTileCTALink VARCHAR(200) = NULL
,@classRingsTileCTALinkNewTab BIT = NULL
,@classRingsTileImage VARCHAR(200) = NULL
,@classRingsTileImageMobile VARCHAR(200) = NULL
,@classRingsTileTopText VARCHAR(100) = NULL
,@colorOverride VARCHAR(200) = NULL
,@defaultSchoolButtonColor VARCHAR(150) = NULL
,@easyPaymentsImage VARCHAR(150) = NULL
,@easyPaymentsmodalHeader VARCHAR(150) = NULL
,@easyPaymentsmodalText VARCHAR(750) = NULL
,@easyPaymentsmodalTitle VARCHAR(150) = NULL
,@easyPaymentsmodalTrigger VARCHAR(150) = NULL
,@emailCollectionCTAButtonText VARCHAR(50) = NULL
,@emailCollectionSuccessText VARCHAR(150) = NULL
,@emailCollectionSuccessTitle VARCHAR(50) = NULL
,@emailCollectionText VARCHAR(MAX) = NULL
,@emailCollectionTitle VARCHAR(100) = NULL
,@Flags BIGINT = NULL
,@gradAnnouncementsLink VARCHAR(200) = NULL
,@gradAnnouncementsLinkNewTab BIT = NULL
,@graduationHeadline VARCHAR(100) = NULL
,@graduationSubheadline VARCHAR(200) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@lastModified DATETIME = NULL
,@lettermanLink VARCHAR(200) = NULL
,@lettermanLinkNewTab BIT = NULL
,@managed BIT = NULL
,@notes VARCHAR(MAX) = NULL
,@overridesInUseFlags BIGINT = NULL
,@paymentsTileHeadline VARCHAR(100) = NULL
,@paymentsTileText VARCHAR(MAX) = NULL
,@ringSizeHeadline VARCHAR(200) = NULL
,@ringSizeImage VARCHAR(200) = NULL
,@ringSizeImageMobile VARCHAR(200) = NULL
,@ringSizeLink VARCHAR(200) = NULL
,@ringSizeLinkText VARCHAR(MAX) = NULL
,@ringSizeText VARCHAR(MAX) = NULL
,@SchoolBackgroundColor VARCHAR(25) = NULL
,@schoolShopCTAButtonText VARCHAR(50) = NULL
,@schoolShopHeadline VARCHAR(200) = NULL
,@schoolShopSubheadline VARCHAR(MAX) = NULL
,@schoolShopTileGroupGUID VARCHAR(50) = NULL
,@SchoolTextColor VARCHAR(25) = NULL
,@seasonalPromoBannerCTAButtonLink VARCHAR(100) = NULL
,@seasonalPromoBannerCTAButtonText VARCHAR(50) = NULL
,@seasonalPromoBannerImage VARCHAR(200) = NULL
,@seasonalPromoBannerImageMobile VARCHAR(200) = NULL
,@seasonalPromoBannerText VARCHAR(MAX) = NULL
,@seasonalPromoBannerTitle VARCHAR(100) = NULL
,@SMI BIGINT = NULL
,@topHeadline VARCHAR(100) = NULL
,@topPromoBannerHTML VARCHAR(MAX) = NULL
,@topSubheadline VARCHAR(300) = NULL
,@TopTiles BIGINT = NULL
,@useLegacy BIT = NULL
,@yeabookBannerCTAButtonLink VARCHAR(200) = NULL
,@yearbookBannerCTAButtonLink VARCHAR(200) = NULL
,@yearbookBannerCTAButtonText VARCHAR(MAX) = NULL
,@yearbookBannerImage VARCHAR(200) = NULL
,@yearbookBannerImageMobile VARCHAR(200) = NULL
,@yearbookBannerText VARCHAR(MAX) = NULL
,@yearbookBannerTitle VARCHAR(100) = NULL
,@topVideoBanner NVARCHAR(MAX) = NULL
,@ringEventTimer NVARCHAR(MAX) = NULL
,@affinityWidget NVARCHAR(MAX) = NULL
,@metapagetitle VARCHAR(MAX) = NULL
,@metadescription VARCHAR(MAX) = NULL
,@metakeywordlist VARCHAR(MAX) = NULL
,@specialStatusCode BIGINT = NULL
,@useColorOverride BIT = NULL
,@suppressLJ BIT = NULL
,@HideMainNav BIT = 0
,@LogoURLOverride varchar(max) = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [ContentAffinityPages].
--##RS1 The [ID] value of the inserted/updated record in the table [ContentAffinityPages].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [ContentAffinityPages] ( [affinityWidget],[ringEventTimer],[topVideoBanner], [SMI],[useLegacy],[schoolShopTileGroupGUID],[notes],[lastModified],[colorOverride],[GUID],[yeabookBannerCTAButtonLink],[yearbookBannerImage],[yearbookBannerImageMobile],[yearbookBannerTitle],[yearbookBannerText],[yearbookBannerCTAButtonText],[yearbookBannerCTAButtonLink],[ringSizeImage],[ringSizeImageMobile],[lettermanLink],[lettermanLinkNewTab],[capAndGownLink],[capAndGownLinkNewTab],[Flags],[overridesInUseFlags],[emailCollectionSuccessTitle],[emailCollectionSuccessText],[managed],[defaultSchoolButtonColor],[topSubheadline],[ringSizeHeadline],[classRingsTileCTALinkNewTab],[ringSizeLinkText],[emailCollectionText],[seasonalPromoBannerCTAButtonLink],[classRingsTileTopText],[easyPaymentsImage],[easyPaymentsmodalText],[classRingsSubheadline],[easyPaymentsmodalTrigger],[classRingsTileImage],[gradAnnouncementsLink],[paymentsTileHeadline],[easyPaymentsmodalHeader],[emailCollectionCTAButtonText],[classRingsTileBottomText],[seasonalPromoBannerText],[schoolShopHeadline],[topPromoBannerHTML],[seasonalPromoBannerImage],[categoryShopTitle],[classRingsHeadline],[emailCollectionTitle],[seasonalPromoBannerCTAButtonText],[gradAnnouncementsLinkNewTab],[TopTiles],[schoolShopSubheadline],[seasonalPromoBannerImageMobile],[graduationHeadline],[affinityCTAButtonText],[ringSizeText],[SchoolTextColor],[ringSizeLink],[SchoolBackgroundColor],[schoolShopCTAButtonText],[seasonalPromoBannerTitle],[graduationSubheadline],[easyPaymentsmodalTitle],[classRingsTileCTALink],[classRingsTileImageMobile],[topHeadline],[paymentsTileText], [metapagetitle], [metadescription], [metakeywordlist], LogoURLOverride)
       VALUES (@affinityWidget,@ringEventTimer,@topVideoBanner,@SMI,@useLegacy,@schoolShopTileGroupGUID,@notes,@lastModified,@colorOverride,@GUID,@yeabookBannerCTAButtonLink,@yearbookBannerImage,@yearbookBannerImageMobile,@yearbookBannerTitle,@yearbookBannerText,@yearbookBannerCTAButtonText,@yearbookBannerCTAButtonLink,@ringSizeImage,@ringSizeImageMobile,@lettermanLink,@lettermanLinkNewTab,@capAndGownLink,@capAndGownLinkNewTab,@Flags,@overridesInUseFlags,@emailCollectionSuccessTitle,@emailCollectionSuccessText,@managed,@defaultSchoolButtonColor,@topSubheadline,@ringSizeHeadline,@classRingsTileCTALinkNewTab,@ringSizeLinkText,@emailCollectionText,@seasonalPromoBannerCTAButtonLink,@classRingsTileTopText,@easyPaymentsImage,@easyPaymentsmodalText,@classRingsSubheadline,@easyPaymentsmodalTrigger,@classRingsTileImage,@gradAnnouncementsLink,@paymentsTileHeadline,@easyPaymentsmodalHeader,@emailCollectionCTAButtonText,@classRingsTileBottomText,@seasonalPromoBannerText,@schoolShopHeadline,@topPromoBannerHTML,@seasonalPromoBannerImage,@categoryShopTitle,@classRingsHeadline,@emailCollectionTitle,@seasonalPromoBannerCTAButtonText,@gradAnnouncementsLinkNewTab,@TopTiles,@schoolShopSubheadline,@seasonalPromoBannerImageMobile,@graduationHeadline,@affinityCTAButtonText,@ringSizeText,@SchoolTextColor,@ringSizeLink,@SchoolBackgroundColor,@schoolShopCTAButtonText,@seasonalPromoBannerTitle,@graduationSubheadline,@easyPaymentsmodalTitle,@classRingsTileCTALink,@classRingsTileImageMobile,@topHeadline,@paymentsTileText,@metapagetitle, @metadescription, @metakeywordlist, @LogoURLOverride)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [ContentAffinityPages] SET
     
     [useLegacy] = CASE WHEN @useLegacy IS NULL THEN [useLegacy] ELSE @useLegacy END
    --,[schoolShopTileGroupGUID] = CASE WHEN @schoolShopTileGroupGUID IS NULL THEN [schoolShopTileGroupGUID] ELSE @schoolShopTileGroupGUID END
    ,[notes] = CASE WHEN @notes IS NULL THEN [notes] ELSE @notes END
    ,[lastModified] = GETDATE()
    ,[colorOverride] = CASE WHEN @colorOverride IS NULL THEN [colorOverride] ELSE @colorOverride END
    
    --,[yeabookBannerCTAButtonLink] = CASE WHEN @yeabookBannerCTAButtonLink IS NULL THEN [yeabookBannerCTAButtonLink] ELSE @yeabookBannerCTAButtonLink END
    ,[yearbookBannerImage] = CASE WHEN @yearbookBannerImage IS NULL THEN [yearbookBannerImage] ELSE @yearbookBannerImage END
    ,[yearbookBannerImageMobile] = CASE WHEN @yearbookBannerImageMobile IS NULL THEN [yearbookBannerImageMobile] ELSE @yearbookBannerImageMobile END
    ,[yearbookBannerTitle] = CASE WHEN @yearbookBannerTitle IS NULL THEN [yearbookBannerTitle] ELSE @yearbookBannerTitle END
    ,[yearbookBannerText] = CASE WHEN @yearbookBannerText IS NULL THEN [yearbookBannerText] ELSE @yearbookBannerText END
    ,[yearbookBannerCTAButtonText] = CASE WHEN @yearbookBannerCTAButtonText IS NULL THEN [yearbookBannerCTAButtonText] ELSE @yearbookBannerCTAButtonText END
    ,[yearbookBannerCTAButtonLink] = CASE WHEN @yearbookBannerCTAButtonLink IS NULL THEN [yearbookBannerCTAButtonLink] ELSE @yearbookBannerCTAButtonLink END
    --,[ringSizeImage] = CASE WHEN @ringSizeImage IS NULL THEN [ringSizeImage] ELSE @ringSizeImage END
    --,[ringSizeImageMobile] = CASE WHEN @ringSizeImageMobile IS NULL THEN [ringSizeImageMobile] ELSE @ringSizeImageMobile END
      ,[lettermanLink] = CASE WHEN @lettermanLink IS NULL THEN [lettermanLink] ELSE @lettermanLink END
      ,[lettermanLinkNewTab] = CASE WHEN @lettermanLinkNewTab IS NULL THEN [lettermanLinkNewTab] ELSE @lettermanLinkNewTab END
    ,[capAndGownLink] = CASE WHEN @capAndGownLink IS NULL THEN [capAndGownLink] ELSE @capAndGownLink END
    ,[capAndGownLinkNewTab] = CASE WHEN @capAndGownLinkNewTab IS NULL THEN [capAndGownLinkNewTab] ELSE @capAndGownLinkNewTab END
      ,[Flags] = dbo.fn_Affinity_SpecialStatus_Value([Flags],@specialStatusCode)
    --,[overridesInUseFlags] = CASE WHEN @overridesInUseFlags IS NULL THEN [overridesInUseFlags] ELSE @overridesInUseFlags END
    --,[emailCollectionSuccessTitle] = CASE WHEN @emailCollectionSuccessTitle IS NULL THEN [emailCollectionSuccessTitle] ELSE @emailCollectionSuccessTitle END
    --,[emailCollectionSuccessText] = CASE WHEN @emailCollectionSuccessText IS NULL THEN [emailCollectionSuccessText] ELSE @emailCollectionSuccessText END
    --,[managed] = CASE WHEN @managed IS NULL THEN [managed] ELSE @managed END
    --,[defaultSchoolButtonColor] = CASE WHEN @defaultSchoolButtonColor IS NULL THEN [defaultSchoolButtonColor] ELSE @defaultSchoolButtonColor END
    --,[topSubheadline] = CASE WHEN @topSubheadline IS NULL THEN [topSubheadline] ELSE @topSubheadline END
    --,[ringSizeHeadline] = CASE WHEN @ringSizeHeadline IS NULL THEN [ringSizeHeadline] ELSE @ringSizeHeadline END
    ,[classRingsTileCTALinkNewTab] = CASE WHEN @classRingsTileCTALinkNewTab IS NULL THEN [classRingsTileCTALinkNewTab] ELSE @classRingsTileCTALinkNewTab END
    --,[ringSizeLinkText] = CASE WHEN @ringSizeLinkText IS NULL THEN [ringSizeLinkText] ELSE @ringSizeLinkText END
    --,[emailCollectionText] = CASE WHEN @emailCollectionText IS NULL THEN [emailCollectionText] ELSE @emailCollectionText END
    --,[seasonalPromoBannerCTAButtonLink] = CASE WHEN @seasonalPromoBannerCTAButtonLink IS NULL THEN [seasonalPromoBannerCTAButtonLink] ELSE @seasonalPromoBannerCTAButtonLink END
    ,[classRingsTileTopText] = CASE WHEN @classRingsTileTopText IS NULL THEN [classRingsTileTopText] ELSE @classRingsTileTopText END
    --,[easyPaymentsImage] = CASE WHEN @easyPaymentsImage IS NULL THEN [easyPaymentsImage] ELSE @easyPaymentsImage END
    --,[easyPaymentsmodalText] = CASE WHEN @easyPaymentsmodalText IS NULL THEN [easyPaymentsmodalText] ELSE @easyPaymentsmodalText END
    ,[classRingsSubheadline] = CASE WHEN @classRingsSubheadline IS NULL THEN [classRingsSubheadline] ELSE @classRingsSubheadline END
    --,[easyPaymentsmodalTrigger] = CASE WHEN @easyPaymentsmodalTrigger IS NULL THEN [easyPaymentsmodalTrigger] ELSE @easyPaymentsmodalTrigger END
    ,[classRingsTileImage] = CASE WHEN @classRingsTileImage IS NULL THEN [classRingsTileImage] ELSE @classRingsTileImage END
    ,[gradAnnouncementsLink] = CASE WHEN @gradAnnouncementsLink IS NULL THEN [gradAnnouncementsLink] ELSE @gradAnnouncementsLink END
    --,[paymentsTileHeadline] = CASE WHEN @paymentsTileHeadline IS NULL THEN [paymentsTileHeadline] ELSE @paymentsTileHeadline END
    --,[easyPaymentsmodalHeader] = CASE WHEN @easyPaymentsmodalHeader IS NULL THEN [easyPaymentsmodalHeader] ELSE @easyPaymentsmodalHeader END
    --,[emailCollectionCTAButtonText] = CASE WHEN @emailCollectionCTAButtonText IS NULL THEN [emailCollectionCTAButtonText] ELSE @emailCollectionCTAButtonText END
    ,[classRingsTileBottomText] = CASE WHEN @classRingsTileBottomText IS NULL THEN [classRingsTileBottomText] ELSE @classRingsTileBottomText END
    --,[seasonalPromoBannerText] = CASE WHEN @seasonalPromoBannerText IS NULL THEN [seasonalPromoBannerText] ELSE @seasonalPromoBannerText END
    --,[schoolShopHeadline] = CASE WHEN @schoolShopHeadline IS NULL THEN [schoolShopHeadline] ELSE @schoolShopHeadline END
    --,[topPromoBannerHTML] = CASE WHEN @topPromoBannerHTML IS NULL THEN [topPromoBannerHTML] ELSE @topPromoBannerHTML END
    --,[seasonalPromoBannerImage] = CASE WHEN @seasonalPromoBannerImage IS NULL THEN [seasonalPromoBannerImage] ELSE @seasonalPromoBannerImage END
    --,[categoryShopTitle] = CASE WHEN @categoryShopTitle IS NULL THEN [categoryShopTitle] ELSE @categoryShopTitle END
    ,[classRingsHeadline] = CASE WHEN @classRingsHeadline IS NULL THEN [classRingsHeadline] ELSE @classRingsHeadline END
    --,[emailCollectionTitle] = CASE WHEN @emailCollectionTitle IS NULL THEN [emailCollectionTitle] ELSE @emailCollectionTitle END
    --,[seasonalPromoBannerCTAButtonText] = CASE WHEN @seasonalPromoBannerCTAButtonText IS NULL THEN [seasonalPromoBannerCTAButtonText] ELSE @seasonalPromoBannerCTAButtonText END
    ,[gradAnnouncementsLinkNewTab] = CASE WHEN @gradAnnouncementsLinkNewTab IS NULL THEN [gradAnnouncementsLinkNewTab] ELSE @gradAnnouncementsLinkNewTab END
    --,[TopTiles] = CASE WHEN @TopTiles IS NULL THEN [TopTiles] ELSE @TopTiles END
    --,[schoolShopSubheadline] = CASE WHEN @schoolShopSubheadline IS NULL THEN [schoolShopSubheadline] ELSE @schoolShopSubheadline END
    --,[seasonalPromoBannerImageMobile] = CASE WHEN @seasonalPromoBannerImageMobile IS NULL THEN [seasonalPromoBannerImageMobile] ELSE @seasonalPromoBannerImageMobile END
    --,[graduationHeadline] = CASE WHEN @graduationHeadline IS NULL THEN [graduationHeadline] ELSE @graduationHeadline END
    ,[affinityCTAButtonText] = CASE WHEN @affinityCTAButtonText IS NULL THEN [affinityCTAButtonText] ELSE @affinityCTAButtonText END
    --,[ringSizeText] = CASE WHEN @ringSizeText IS NULL THEN [ringSizeText] ELSE @ringSizeText END
    --,[SchoolTextColor] = CASE WHEN @SchoolTextColor IS NULL THEN [SchoolTextColor] ELSE @SchoolTextColor END
    --,[ringSizeLink] = CASE WHEN @ringSizeLink IS NULL THEN [ringSizeLink] ELSE @ringSizeLink END
    --,[SchoolBackgroundColor] = CASE WHEN @SchoolBackgroundColor IS NULL THEN [SchoolBackgroundColor] ELSE @SchoolBackgroundColor END
    --,[schoolShopCTAButtonText] = CASE WHEN @schoolShopCTAButtonText IS NULL THEN [schoolShopCTAButtonText] ELSE @schoolShopCTAButtonText END
    --,[seasonalPromoBannerTitle] = CASE WHEN @seasonalPromoBannerTitle IS NULL THEN [seasonalPromoBannerTitle] ELSE @seasonalPromoBannerTitle END
    --,[graduationSubheadline] = CASE WHEN @graduationSubheadline IS NULL THEN [graduationSubheadline] ELSE @graduationSubheadline END
    --,[easyPaymentsmodalTitle] = CASE WHEN @easyPaymentsmodalTitle IS NULL THEN [easyPaymentsmodalTitle] ELSE @easyPaymentsmodalTitle END
    ,[classRingsTileCTALink] = CASE WHEN @classRingsTileCTALink IS NULL THEN [classRingsTileCTALink] ELSE @classRingsTileCTALink END
    ,[classRingsTileImageMobile] = CASE WHEN @classRingsTileImageMobile IS NULL THEN [classRingsTileImageMobile] ELSE @classRingsTileImageMobile END
	,[topVideoBanner] = CASE WHEN @topVideoBanner IS NULL THEN [topVideoBanner] ELSE @topVideoBanner END
	,[ringEventTimer] = CASE WHEN @ringEventTimer IS NULL THEN [ringEventTimer] ELSE @ringEventTimer END
	,[affinityWidget] = CASE WHEN @affinityWidget IS NULL THEN [affinityWidget] ELSE @affinityWidget END
    --,[topHeadline] = CASE WHEN @topHeadline IS NULL THEN [topHeadline] ELSE @topHeadline END
    --,[paymentsTileText] = CASE WHEN @paymentsTileText IS NULL THEN [paymentsTileText] ELSE @paymentsTileText END
	, [metapagetitle] = CASE WHEN @metapagetitle IS NULL THEN [metapagetitle] ELSE @metapagetitle END
	, [metadescription] = CASE WHEN @metadescription IS NULL THEN [metadescription] ELSE @metadescription END
	, [metakeywordlist] = CASE WHEN @metakeywordlist IS NULL THEN [metakeywordlist] ELSE @metakeywordlist END
	, [HideMainNav] = @HideMainNav
	, [LogoURLOverride] = @LogoURLOverride
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
	IF @suppressLJ IS NOT NULL
		UPDATE [dbo].[ContentAffinityPages] SET [Flags] = dbo.fn_Affinity_Flags_Value ([Flags],65536,@suppressLJ) WHERE [ID] = @ID
  END

SELECT
 A.[SMI]
,ISNULL(S.[AffinityURL],'') as [affinityURL]
,[useLegacy]
,[schoolShopTileGroupGUID]
,[notes]
,FORMAT(dbo.fn_DateTime_to_Central([lastModified]), 'MM/dd/yyyy hh:mm:ss tt') AS [lastModified]
,[colorOverride]
,[GUID]
,[ID]
,[yeabookBannerCTAButtonLink]
,[yearbookBannerImage]
,[yearbookBannerImageMobile]
,[yearbookBannerTitle]
,[yearbookBannerText]
,[yearbookBannerCTAButtonText]
,[yearbookBannerCTAButtonLink]
,[ringSizeImage]
,[ringSizeImageMobile]
,[lettermanLink]
,[lettermanLinkNewTab]
,[capAndGownLink]
,[capAndGownLinkNewTab]
,[Flags]
,[overridesInUseFlags]
,[emailCollectionSuccessTitle]
,[emailCollectionSuccessText]
,[managed]
,[defaultSchoolButtonColor]
,[topSubheadline]
,[ringSizeHeadline]
,[classRingsTileCTALinkNewTab]
,[ringSizeLinkText]
,[emailCollectionText]
,[seasonalPromoBannerCTAButtonLink]
,[classRingsTileTopText]
,[easyPaymentsImage]
,[easyPaymentsmodalText]
,[classRingsSubheadline]
,[easyPaymentsmodalTrigger]
,[classRingsTileImage]
,[gradAnnouncementsLink]
,[paymentsTileHeadline]
,[easyPaymentsmodalHeader]
,[emailCollectionCTAButtonText]
,[classRingsTileBottomText]
,[seasonalPromoBannerText]
,[schoolShopHeadline]
,[topPromoBannerHTML]
,[seasonalPromoBannerImage]
,[categoryShopTitle]
,[classRingsHeadline]
,[emailCollectionTitle]
,[seasonalPromoBannerCTAButtonText]
,[gradAnnouncementsLinkNewTab]
,[TopTiles]
,[schoolShopSubheadline]
,[seasonalPromoBannerImageMobile]
,[graduationHeadline]
,[affinityCTAButtonText]
,[ringSizeText]
,[SchoolTextColor]
,[ringSizeLink]
,[SchoolBackgroundColor]
,[schoolShopCTAButtonText]
,[seasonalPromoBannerTitle]
,[graduationSubheadline]
,[easyPaymentsmodalTitle]
,[classRingsTileCTALink]
,[classRingsTileImageMobile]
,[topHeadline]
,[topVideoBanner]
,[ringEventTimer]
,[affinityWidget]
,[paymentsTileText]
,[metapagetitle]
,[metadescription]
,[metakeywordlist]
,[HideMainNav]
,[LogoURLOverride]
FROM dbo.[ContentAffinityPages] A
LEFT JOIN [dbo].[School_URL_Master] S ON S.[SMI] = A.[SMI]
WHERE [ID] = @ID_Out
GO
