/****** Object:  StoredProcedure [dbo].[s_get_upsell_bottom_item_at_cart_input_single_sku_bkup_8102021]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Han Tran
-- Create Date: 2/19/2020
-- Description: Rules for CSIC
-- This is called by [s_get_upsell_bottom_item_at_cart]
--
-- [03/17/2021] TL - Modified to use [marketing_image_url] field in [magento_automated_product_dataset]

--	exec [s_get_upsell_bottom_item_at_cart_input_single_sku] @skus='a0224339', @smi=130996, @debug = 1  
--	exec [s_get_upsell_bottom_item_at_cart_input_single_sku_optimized] @skus='a0224339', @smi=130996, @debug = 1  
/*
  PRINT FORMAT(GETDATE(), 'hh:mm:ss:fff')
  exec [s_get_upsell_bottom_item_at_cart_input_single_sku] @debug = 1, @skus='a0189922', @smi='3067'  
  PRINT FORMAT(GETDATE(), 'hh:mm:ss:fff')
  exec [s_get_upsell_bottom_item_at_cart_input_single_sku_optimized] @debug = 1, @skus='a0189922', @smi='3067'  
  PRINT FORMAT(GETDATE(), 'hh:mm:ss:fff')
*/
--  exec [s_get_upsell_bottom_item_at_cart_input_single_sku_optimized] @debug = 1, @skus='a0189922', @smi='3067'  
--  exec [s_get_upsell_bottom_item_at_cart_input_single_sku] @debug = 1, @skus='A0054609A0000', @smi='103245' -- Yearbook
--  exec [s_get_upsell_bottom_item_at_cart] @debug = 1, @skus='A0054609A0000|103245' -- Yearbook
 -- exec [s_get_upsell_bottom_item_at_cart] @debug = 1, @skus='a0052622|'
-- =============================================
 
CREATE PROCEDURE [dbo].[s_get_upsell_bottom_item_at_cart_input_single_sku_bkup_8102021]   
(
   @skus VARCHAR(MAX),
   @smi VARCHAR(40) = '',
   @debug BIT = 1
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
    IF @debug = 1 PRINT '33) ' + FORMAT(GETDATE(), 'hh:mm:ss:fff')
	DECLARE @shortSku VARCHAR(10)  
	
	CREATE TABLE #results  (imageurl varchar(255), url varchar(255), SKU varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	--DECLARE @results TABLE  (imageurl varchar(255), url varchar(255), SKU varchar(100), [Product Name] varchar(255), [Price] numeric(9,2), [wasprice] numeric(9,2), class varchar(255), [Product Type] varchar(40), sortOrder int, config_type varchar(300))
	
	
	IF CHARINDEX ('|',@skus) > 0
		BEGIN
			SET @skus = LEFT(@skus,CHARINDEX ('|',@skus) -1)
		END
	IF (LEN(@skus) > 8)
		BEGIN
			SET @shortSku = LEFT(@skus,8)
		END
	ELSE
		BEGIN
			SET @shortSku = @skus
		END 

	IF @debug = 1 PRINT 'short sku: ' + @shortSku + ' ' + FORMAT(GETDATE(), 'hh:mm:ss:fff')

--		[dbo].[s_get_upsell_bottom_item_at_cart] 'a0168253' --'A0057032A0000' a0214994?smi=70346--'A0086715' --'A0047650' -- 'A0047632' --'A0047650' -- 'a0141203a0000' --  'A0178157A0000' -- 'A0178157A0000' 'A0114426A0000'--
		BEGIN
		  DECLARE @Continue BIT 
		  SET @Continue = 0
		-- traditional
		IF  @shortSku = 'A0168253' OR @shortSku ='A0233566' SET @Continue = 1
		
		IF @Continue = 0
			BEGIN
			  IF (EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p 
				   WHERE -- traditional 
						(/*(@shortSku IN ('A0168253','A0233566') /* AND CHARINDEX(@smi, [Included SMI]) > 0*/)
						OR*/ ([attribute set] = 'pim_pb_announcement' AND [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND p.PrintBox_FamilyId = '52' AND LEFT(SKU,8) = @shortSku /*AND p.[Exclusive SMI] = @insmi*/))
						OR -- stationary
						(p.[Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND LEFT(p.SKU,8) = @shortSku  -- stationary
						AND sku NOT IN ( SELECT SKU FROM dbo.magento_automated_product_dataset p WHERE [Enhanced Commerce] = 'HIGH SCHOOL ANNOUNCEMENTS' AND p.PrintBox_FamilyId IN ('56', '59', '60', '61')))) )
				SET @Continue = 1
			END
        IF @Continue = 1
			BEGIN 
				IF @debug = 1 PRINT '75) ' + FORMAT(GETDATE(), 'hh:mm:ss:fff')
				INSERT INTO #results
				SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
							LOWER(p.URL) + '?smi=' + @smi as [url],
							p.SKU + '|' + @smi AS Sku, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
							p.[Retail Price] AS [wasprice], 
							'' AS class, p.[Product Type],--cr.class [Tramels class],
							1 AS sortOrder, config_type
							--,p.Visibility
				FROM dbo.magento_automated_product_dataset AS p  				  			 		 
				WHERE p.Status = 'Enable' AND p.SKU IN ('a0079336a0000')
				--AND @smi IN (SELECT CAST(smi AS VARCHAR(40)) FROM MAGE_balfour_product_smi_scoped_price WHERE sku IN ('a0079336a0000') )  
				AND (LEFT(p.sku,8) <> @shortSku)
				AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
				IF @debug = 1 PRINT '91) ' + FORMAT(GETDATE(), 'hh:mm:ss:fff')
			END				
			-- contempory and gradpack --> A0068215A0000
		ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE ([Enhanced Commerce] IN ('GP-CLASS APPAREL','GP-PACKS','HIGH SCHOOL ANNOUNCEMENTS') AND LEFT(SKU,8) = @shortSku) OR (@skus IN  ('a0071918a0000', 'a0068455a0000', 'a0176692a0000', 'a0175731a0000'))) 
				BEGIN
					/**	GP-PACKS (bottom box)  
						Always show LED Pen	A0068215A0000
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047632' --'A0047650' 
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047649' 
					**/ 
					IF @debug = 1 PRINT 'GP-PACKS'	+ FORMAT(GETDATE(), 'hh:mm:ss:fff')
					INSERT INTO #results
					SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
								LOWER(p.URL) + '?smi=' + @smi as [url],
								p.SKU + '|' + @smi AS SKU, 
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								'' AS class, p.[Product Type],--cr.class [Tramels class],
								1 AS sortOrder, config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p  				  			 		 
					WHERE p.Status = 'Enable' AND p.SKU IN ('A0068215A0000')
					AND (LEFT(p.sku,8) <> @shortSku)
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
						--AND p.[Quantity in Stock] > 0
					IF @debug = 1 PRINT '117) '	+ FORMAT(GETDATE(), 'hh:mm:ss:fff')
				END

			ELSE ---- END Temporary comment this block out until we have a solution to pass an smi to Magento to send school scope to MAG to avoid duplicated shipping charge
			IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] IN ('HIGH SCHOOL MULTI CHOICE', 'UNIVERSITY COLLECTION HS','KENDRA SCOTT/BALFOUR HS') AND LEFT(SKU,8) = @shortSku) 
			BEGIN
					/**	MC HS Ring (bottom box) - sortOrder:
						Class of 2021 Key Ring		$10.00  a0226402a0000-- A0226402A0000
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047632' --'A0047650' 
						EXEC [dbo].[s_get_upsell_bottom_item_at_cart] 'A0047649' 
					**/ 
						INSERT INTO #results
						SELECT TOP 1  /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,							
									LOWER(p.URL) + '?smi=' + @smi as [url],
									p.SKU + '|' + @smi AS SKU, 
									p.[Product Name], 
									--IsNull(p.[Special Price (% for bundles)],p.[Retail Price]) AS [Price], 
									ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
									p.[Retail Price] AS [wasprice], 
									'' AS class, p.[Product Type],--cr.class [Tramels class],
									1 AS sortOrder, config_type
									--,p.Visibility
						FROM dbo.magento_automated_product_dataset AS p  		 
						WHERE p.Status = 'Enable' AND p.SKU IN ('A0226402A0000')
						AND (LEFT(p.sku,8) <> @shortSku)
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)						 
				END						
			ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] IN ('COLLEGE MULTI CHOICE','UNIVERSITY COLLECTION COLLEGE','KENDRA SCOTT/BALFOUR COLLEGE') AND LEFT(SKU,8) = @shortSku) 
				BEGIN
					/**
						Pen		$39.99 	A0154554A0000
					**/
					INSERT INTO #results
					SELECT  TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
								LOWER(p.URL) + '?smi=' + @smi as [url],
								p.SKU + '|' + @smi AS SKU, 
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								'' AS class, p.[Product Type],
								1 AS sortOrder, config_type								 
					FROM dbo.magento_automated_product_dataset AS p 										
					WHERE p.Status = 'Enable'
						AND  p.sku = /*in*/('A0154554A0000')
						AND p.Visibility = 'In Catalog and Search'		 		 
						AND (LEFT(p.sku,8) <> @shortSku)	 
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)
						
				END
			--Class of 2021 Key Ring	a0226402a0000 ( SMI LEVEL PRICING) 
			ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p 				
				WHERE [Enhanced Commerce] IN ('YEARBOOK & ACCESSORIES', 'YEARBOOKS','YEARBOOK ACCESSORIES') AND [Attribute Set] IN ('pim_ybads_balfourmanaged', 'pim_printing') AND (',' + REPLACE(p.[Included SMI],', ', ',') + ',' LIKE '%,' + @smi + ',%' OR [Exclusive SMI] = @smi) AND LEFT(SKU,8) = @shortSku) 			
				BEGIN					
					IF [dbo].[fn_get_yearbook_grade_level_for_smi] (@smi) IN ('High School','Elementary','Middle School')					
					BEGIN
						/**1	Bedside Caddy		$19.99 	A0138716A0000  **/
						INSERT INTO #results
						SELECT  TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
									LOWER(p.URL) + '?smi=' + @smi as [url],
									p.SKU + '|' + @smi AS SKU, 
									p.[Product Name], 
									ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
									p.[Retail Price] AS [wasprice], 
									'' AS class, p.[Product Type],--cr.class [Tramels class],
									1 AS SortOrder, config_type				--		SELECT *		
						FROM dbo.magento_automated_product_dataset AS p 
						WHERE p.Status = 'Enable'
							AND  p.sku = 'A0219973A0000' --/*in*/ ('A0138716A0000' )									  										 				 
							AND (LEFT(p.sku,8) <> @shortSku)	
							AND p.[Retail Price] > 0
							AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)						
					END					
				END			
			ELSE IF EXISTS (SELECT TOP 1 * FROM dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'GP-CLASS APPAREL' AND LEFT(SKU,8) = @shortSku)
				BEGIN 	
					--Class of 2021 Key Ring		$10.00 	A0226402A0000  
					INSERT INTO #results
					SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,
								LOWER(p.URL) as [url],
								p.SKU + '|' + @smi AS SKU,
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								'' AS class, p.[Product Type], 
								1  AS sortOrder,config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 					
					WHERE p.Status = 'Enable'
						AND p.sku /*in*/= ('A0226402A0000')
						AND p.Visibility = 'In Catalog and Search'  										 				 
						AND (LEFT(p.sku,8) <> @shortSku)							
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 
				END 
            ELSE IF EXISTS(SELECT TOP 1 * FROM dbo.magento_automated_product_dataset AS p INNER JOIN itemattributes ia ON ia.itemid = p.ItemID 
			WHERE p.Cat_Type_Style IN ('Home/Dorm-Frames-Diploma/Certificate Frames','Home/Dorm_Frames_Diploma/Certificate Frames') AND ISNULL(p.is_licensed, '0') <> '1' AND ia.tagtype = 'a_AACProdType' AND ia.tagvalue = 'Endless Aisle' AND LEFT(SKU,8) = @shortSku)
				BEGIN
					IF @debug = 1 PRINT 'Non-Licensed Diploma Frames: Balfour Product Category = Endless Aisle, Category_Type_Style = Home/Dorm_Frames_Diploma/Certificate Frames'
					INSERT INTO #results  --	DECLARE @smi Varchar(30) = ''
					SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,
								LOWER(p.URL) as [url],
								p.SKU + '|' + @smi AS SKU, 
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								'' AS class, p.[Product Type], 
								1  AS sortOrder,config_type
					FROM dbo.magento_automated_product_dataset AS p 					
					WHERE p.Status = 'Enable'
						AND p.sku = ('A0219973A0000')
						AND p.Visibility = 'In Catalog and Search'  										 				 
						AND (LEFT(p.sku,8) <> @shortSku)							
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
				END
			ELSE IF EXISTS (SELECT TOP 1 * FROM dbo.magento_automated_product_dataset 
							WHERE LEFT(SKU,8) = @shortSku AND [Attribute Set] = 'pim_uc' AND 
									(ISNULL([Exclusive SMI],'') <> '' 
									/**OR [dbo].[fn_InCollection] (@smi,product_collection) = CASE WHEN product_collection IN ('BalProdColl_UnivCollCollege','BalProdColl_KSBalfourColl') THEN 1 END**/))
							
				--[Attribute Set] = 'pim_uc' AND LEFT(SKU,8) = @shortSku AND ( [dbo].[fn_InCollection] (@smi,product_collection) = 1) OR  (ISNULL([Exclusive SMI],'') <> '' OR @smi IN (SELECT CAST(smi AS VARCHAR(40)) FROM MAGE_balfour_product_smi_scoped_price WHERE LEFT(SKU,8) = @shortSku ))) 
				BEGIN 							
					IF @debug = 1 PRINT 'pim_uc - smi: ' + @smi
					INSERT INTO #results
					SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
								LOWER(p.URL) + '?smi=' + @smi AS [url],
								p.SKU + '|' + @smi AS SKU, 
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
								p.[Retail Price] AS [wasprice], 
								iac.class, p.[Product Type],--cr.class [Tramels class],
								1 AS sortOrder, p.config_type
								--,p.Visibility
					FROM dbo.magento_automated_product_dataset AS p 								 
					INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID	
					LEFT JOIN MAGE_balfour_product_smi_scoped_price sp ON sp.sku = p.SKU AND CAST(sp.smi AS VARCHAR(40)) = @smi
					WHERE p.Status = 'Enable'
						AND [Cat_Type_Style]  like '%KITCHEN%DRINKWARE%MUGS%CUPS%'
						AND [Product Name] LIKE '%Ceramic Coffee Mug%'			 											 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 
						AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 25
						AND p.[Included SMI] = @smi
				END  
			ELSE IF EXISTS(SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p INNER JOIN ItemAttributes ia ON p.ItemID = ia.itemid WHERE ia.tagtype = 'a_DropShip' AND tagvalue = 'Yes' AND ISNULL(p.is_licensed,'0') = '0' AND LEFT(SKU,8) = @shortSku)
			BEGIN  -- Non-logoed EA- ALL NON TEAM MERCH? NFL NCAA ETC?   
				INSERT INTO #results
				SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
							LOWER(p.URL) + '?smi=' + @smi AS [url],
							p.SKU + '|' + @smi AS SKU,
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, p.[Product Type], 
							1 AS sortOrder, p.config_type			-- select *					
				FROM dbo.magento_automated_product_dataset AS p 								 					
				WHERE p.Status = 'Enable' 
					AND p.sku = 'A0127522A0000'
					AND (LEFT(p.sku,8) <> @shortSku)	
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 											 
			END
			ELSE IF EXISTS(SELECT TOP 1 * FROM dbo.magento_automated_product_dataset AS p INNER JOIN itemattributes ia ON ia.itemid = p.ItemID WHERE ia.tagtype = 'a_BalfourProductCollection' AND ia.tagvalue = 'Endless Aisle Product - NCAA' AND LEFT(SKU,8) = @shortSku)
				OR  EXISTS(SELECT TOP 1 * FROM dbo.magento_automated_product_dataset AS p INNER JOIN itemattributes ia ON ia.itemid = p.ItemID WHERE [Product Name] LIKE '%Diploma%frame%' AND is_licensed = 1 AND LEFT(SKU,8) = @shortSku)
				OR  EXISTS (SELECT TOP 1 * FROM magento_automated_product_dataset p left join itemattributes ia on p.ItemID = ia.itemid where LEFT(SKU,8) = @shortSku and tagtype = 'a_MasterLicenseType' and tagvalue = 'NCAA')
			BEGIN 
				--Licensed -16-oz Ceramic Coffee Mug	"SMI Inclusive + CTS (KITCHEN>DRINKWARE>MUGS/CUPS) + $<25 ADD TO CART "
				IF @debug = 1 PRINT 'Rule: NCAA EA Products - Diploma Frames: - smi: ' + @smi
					-- get SMI from SKU 
					-- and set to @insmi
					
					IF ISNULL(@smi,'') = '' OR @smi = 0
					BEGIN 
						SELECT @smi = ISNULL([Exclusive SMI], [Included SMI]) from magento_automated_product_dataset WHERE sku = @skus 
					END 

					INSERT INTO #results
					SELECT TOP 1   /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,					
								LOWER(p.URL) + '?smi=' + @smi AS [url],
								p.SKU + '|' + @smi AS SKU, 
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
								p.[Retail Price] AS [wasprice], 
								'' AS Class, p.[Product Type],
								1 AS sortOrder, p.config_type	 -- declare @smi varchar(30) = '132203';  select [included smi], [exclusive smi], * 
					FROM dbo.magento_automated_product_dataset AS p 				 					
					WHERE p.Status = 'Enable'
						AND p.Cat_Type_Style = 'Kitchen_Drinkware_Mugs/Cups' -- LIKE '%KITCHEN%DRINKWARE%MUGS/CUPS%'
						AND p.Visibility = 'In Catalog and Search'			 
						AND (',' + REPLACE([included SMI], ', ', ',') + ',' LIKE '%,' + @smi + ',%' OR [exclusive smi] = @smi)							
						AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 25
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
						AND (LEFT(p.sku,8) <> @shortSku)
			END
	
			ELSE IF EXISTS(SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p WHERE product_collection = 'BalProdColl_LicStoles' AND LEFT(SKU,8) = @shortSku)
			BEGIN --Licensed -16-oz Ceramic Coffee Mug	"SMI Inclusive + CTS (KITCHEN>DRINKWARE>MUGS/CUPS) + $<25 ADD TO CART "
				IF @debug = 1 PRINT 'Lic Stoles'
				INSERT INTO #results
				SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
							LOWER(p.URL) + '?smi=' + @smi AS [url],
							p.SKU + '|' + @smi AS SKU,
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, p.[Product Type], 
							1 AS sortOrder, p.config_type			-- select *					
				FROM dbo.magento_automated_product_dataset AS p 		 
				WHERE p.Status = 'Enable' 
					AND p.[Product Name] like '%16-ounce Ceramic Coffee Mug%' 
					AND p.Cat_Type_Style = 'Kitchen_Drinkware_Mugs/Cups'					
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
					AND p.[Included SMI] = @smi
					AND (LEFT(p.sku,8) <> @shortSku)	
			END
			
			ELSE IF EXISTS(SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p WHERE product_collection = 'BalProdColl_Stoles' AND LEFT(SKU,8) = @shortSku)
			BEGIN
				IF @debug = 1 PRINT 'Non Lic Stoles'
				-- show 4x4 Photo Frame - SKU A0219973A0000
				INSERT INTO #results
				SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
							LOWER(p.URL) + '?smi=' + @smi AS [url],
							p.SKU + '|' + @smi AS SKU,
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, p.[Product Type], 
							1 AS sortOrder, p.config_type			-- select [exclusive smi],[included smi], status, *					
				FROM dbo.magento_automated_product_dataset AS p 		 
				WHERE p.Status = 'Enable' 
					AND p.SKU = 'A0219973A0000'					 				
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
					--AND p.[Included SMI] = @smi
					AND (LEFT(p.sku,8) <> @shortSku)
			END
			ELSE IF EXISTS(SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset p WHERE product_collection = 'BalProdColl_LicStoles' AND LEFT(SKU,8) = @shortSku) 
				OR  EXISTS(SELECT TOP 1 * FROM dbo.magento_automated_product_dataset AS p INNER JOIN itemattributes ia ON ia.itemid = p.ItemID 
				WHERE p.Cat_Type_Style IN ('Home/Dorm-Frames-Diploma/Certificate Frames','Home/Dorm_Frames_Diploma/Certificate Frames') AND ia.tagtype = 'a_AACProdType' AND ia.tagvalue = 'Endless Aisle' AND LEFT(SKU,8) = @shortSku)
			BEGIN
				IF @debug = 1 PRINT 'None-Licensed Stoles or None-Licensed Diploma Frames' --"4x4 Photo Frame - SKU A0219973A0000			
				INSERT INTO #results
				SELECT TOP 1 /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,						
							LOWER(p.URL) + '?smi=' + @smi AS [url],
							p.SKU + '|' + @smi AS SKU, 
							p.[Product Name], 
							ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
							p.[Retail Price] AS [wasprice], 
							'' AS class, p.[Product Type], 
							1 AS sortOrder, p.config_type			-- select *					
				FROM dbo.magento_automated_product_dataset AS p 								 					
				WHERE p.Status = 'Enable' 
					AND p.sku = 'A0219973A0000'
					AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)	
					AND (LEFT(p.sku,8) <> @shortSku)
			END
			--ELSE IF EXISTS (SELECT TOP 1 * FROM magento_automated_product_dataset p left join itemattributes ia on p.ItemID = ia.itemid where LEFT(SKU,8) = @shortSku and tagtype = 'a_MasterLicenseType' and tagvalue = 'NCAA')
			--BEGIN 		
			--		-- Mug < $20	05-Home : 0512-Kitchen : 0513-Drinkware : 00251-Mugs/Cups-Collegiate
			--		IF @debug = 1 PRINT 'NCAA EA Items - smi: ' + @smi
										
			--		IF ISNULL(@smi,'') = '' OR @smi = 0
			--		BEGIN 
			--			SELECT @smi = ISNULL([Exclusive SMI], [Included SMI]) from magento_automated_product_dataset WHERE sku = @skus 
			--		END
			--		print 'SMI: ' + @smi
			--		INSERT INTO #results
			--		SELECT TOP 10   /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,					
			--					LOWER(p.URL) + '?smi=' + @smi AS [url],
			--					p.SKU + '|' + @smi AS SKU,
			--					p.[Product Name], 
			--					ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price], 
			--					p.[Retail Price] AS [wasprice], 
			--					iac.Class AS class, p.[Product Type],--cr.class [Tramels class],
			--					1 AS sortOrder, p.config_type
			--					--,p.Visibility
			--		FROM dbo.magento_automated_product_dataset AS p 				 
			--		INNER JOIN  dbo.ItemAttributesClass iac ON iac.ItemID = p.ItemID				 		 
			--		LEFT JOIN dbo.MAGE_balfour_product_smi_scoped_price sp ON sp.sku = p.SKU AND sp.smi = @smi
			--		WHERE p.Status = 'Enable'
			--			AND  iac.Class = '05-Home : 0512-Kitchen : 0513-Drinkware : 00251-Mugs/Cups-Collegiate'
			--			AND p.Visibility = 'In Catalog and Search'			 
			--			AND (ISNULL([Included SMI],'') = ISNULL(@smi,'') OR ISNULL(sp.smi, '') = ISNULL(@smi,''))	  -- this should use included smi field.							 				 
			--			AND (LEFT(p.sku,8) <> @shortSku)	
			--			AND ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) < 50
			--			AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)			 
			--	END  

			ELSE IF EXISTS (SELECT TOP 1 * FROM  dbo.magento_automated_product_dataset WHERE (ISNULL([Included SMI],'') = '' OR [Included SMI] = '0') AND is_licensed = 0 AND [Attribute Set] <> 'pim_mas_pets' AND LEFT(SKU,8) = @shortSku
							AND [Enhanced Commerce] LIKE '%BALFOUR DIRECT%' /*IN ('BALFOUR DIRECT-PARTY', 'BALFOUR DIRECT')*/ )
				BEGIN 					 
					select @smi = [Included SMI] from magento_automated_product_dataset WHERE sku = @skus 
					IF ISNULL(@smi,'') = '' OR @smi = 0
					BEGIN 
						SELECT  @smi = CAST(smi AS VARCHAR(40))  FROM MAGE_balfour_product_smi_scoped_price sp WHERE sku = @skus
					END

					-- Water Bottle	Karma Water Bottle - Blue	$24.04   a0127542a0000
					INSERT INTO #results
					SELECT TOP 1  /*[dbo].[fn_get_image_url2](p.sku)*/p.[marketing_image_url] AS imageurl,					
								LOWER(p.URL) + '?smi=' + @smi AS [url],
								p.SKU + '|' + @smi AS SKU,
								p.[Product Name], 
								ISNULL(dbo.[fn_Get_Lowest_Price](p.SKU, @smi),IsNull(p.[Special Price (% for bundles)],p.[Retail Price])) AS [Price],  
								p.[Retail Price] AS [wasprice], 
								'' AS class, p.[Product Type],
								1 AS sortOrder, p.config_type								
					FROM dbo.magento_automated_product_dataset AS p 
					LEFT JOIN dbo.MAGE_balfour_product_smi_scoped_price sp ON p.sku = sp.sku AND CAST(sp.smi AS VARCHAR(40)) = @smi
					WHERE p.Status = 'Enable'
						AND  p.SKU IN ('a0127542a0000')
						AND p.Visibility = 'In Catalog and Search'			 
						AND (ISNULL([Included SMI],'') = ISNULL(@smi,'') OR [Included SMI] = ISNULL(@smi,'0') OR ISNULL(sp.smi, '') = ISNULL(@smi,'') )	  -- this should use included smi field.							 				 
						AND (LEFT(p.sku,8) <> @shortSku)	
						AND p.[Retail Price] > 0
						AND (p.[Stock maintenance] = 'Do not Manage Stock' OR ISNULL( p.[Quantity in Stock],0) > 0)				 
				END
			ELSE -- return no row
			    BEGIN
					
					SELECT  imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder,config_type FROM #results
					return
			    END										 
			
			SELECT TOP 1 imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder,config_type FROM #results
			ORDER BY SortOrder ASC	
			 --; WITH cte AS
				--(
				--	SELECT *,
				--			ROW_NUMBER() OVER (PARTITION BY class ORDER BY sortOrder DESC) AS rn
				--	FROM @results
				--)
				--SELECT imageurl, url, SKU, [Product Name], Price, wasprice, class, [Product Type], sortOrder,config_type		
				--FROM cte
				--WHERE rn = 1 
		END
		DROP TABLE #results
	END
	/**
	133959	A0058275	High School
74025	A0057051A0000	High School
39558	A0057032A0000	High School
	s_get_upsell_bottom_item_at_cart 'A0145995,A0145989'--'A0096856a0000' --'A0057042A0000' A0096856a0000
	EXEC s_get_upsell_bottom_item_at_cart 'A0058275', @smi = '133959' -- high school
	EXEC s_get_upsell_bottom_item_at_cart 'A0057051A0000', @smi = '74025' -- high school
	EXEC s_get_upsell_bottom_item_at_cart 'A0057032A0000', @smi = '39558' -- high school

	s_get_upsell_bottom_item_at_cart 'A0123669' -- class apparel
	s_get_upsell_bottom_item_at_cart 'A0153399'
	s_get_upsell_bottom_item_at_cart 'A0002348A0000' -- balfour direct 
	s_get_upsell_bottom_item_at_cart 'A0002414A0000' -- balfour direct no logo
	s_get_upsell_bottom_item_at_cart 'A0057060A0000' -- HS YB
	SELECT top 100 * FROM    [dbo].[magento_automated_product_dataset] 
	--WHERE is_licensed = 0 --
	where SKU = 'A0008601A0000'

	SELECT * FROM dbo.magento_automated_product_dataset WHERE [Enhanced Commerce] = 'YEARBOOKS' AND [Product Name] LIKE '%High%School%'
	AND LEFT(SKU,8) = @shortSku
					) 
	**/
GO
