/****** Object:  StoredProcedure [dbo].[proc_update_amount_rule_arcitem_xref_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 9/27/2019 - TL.
*/
CREATE PROCEDURE [dbo].[proc_update_amount_rule_arcitem_xref_record]
(
 @Amount MONEY = NULL
,@ARC_Item_Code VARCHAR(50) = NULL
,@Email_GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@MAGE_Rule_ID INT = NULL
,@PIM_SKU VARCHAR(50) = NULL
,@URL VARCHAR(250) = NULL
, @ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AG
--##BD Inserts or updates a record in the table [Amount_Rule_ARCItem_XRef].
--##RS1 The [ID] value of the inserted/updated record in the table [Amount_Rule_ARCItem_XRef].

IF @ID IS NULL--Insert
  BEGIN
    INSERT INTO [Amount_Rule_ARCItem_XRef] ( [Amount],[MAGE_Rule_ID],[ARC_Item_Code],[PIM_SKU],[Email_GUID],[URL])
       VALUES ( @Amount,@MAGE_Rule_ID,@ARC_Item_Code,@PIM_SKU,@Email_GUID,@URL)
    SELECT @ID_Out = [ID] FROM INSERTED
  END
ELSE
  BEGIN
    UPDATE [Amount_Rule_ARCItem_XRef] SET
     [Amount] = CASE WHEN @Amount IS NULL THEN [Amount] ELSE @Amount END
    ,[MAGE_Rule_ID] = CASE WHEN @MAGE_Rule_ID IS NULL THEN [MAGE_Rule_ID] ELSE @MAGE_Rule_ID END
    ,[ARC_Item_Code] = CASE WHEN @ARC_Item_Code IS NULL THEN [ARC_Item_Code] ELSE @ARC_Item_Code END
    ,[PIM_SKU] = CASE WHEN @PIM_SKU IS NULL THEN [PIM_SKU] ELSE @PIM_SKU END
    ,[Email_GUID] = CASE WHEN @Email_GUID IS NULL THEN [Email_GUID] ELSE @Email_GUID END
    ,[URL] = CASE WHEN @URL IS NULL THEN [URL] ELSE @URL END
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

GO
