/****** Object:  StoredProcedure [dbo].[s_delete_conditionalcontent_record]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/5/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_delete_conditionalcontent_record]
(
	 @ID INT = NULL

)
AS
--##AT AAC
--##BD Deletes a specific record from the table [ConditionalContent].
--##PD @ID in [ConditionalContent].
--##RS1 -NONE-
SET NOCOUNT ON
--Remove the conditional content record's children
DELETE FROM dbo.[conditionalcontenturls] WHERE [CCGUID] IN (SELECT [GUID] FROM dbo.[ConditionalContent] WHERE [ID] = @ID)
DELETE FROM [ConditionalContent] WHERE [ID] = @ID


GO
