/****** Object:  StoredProcedure [dbo].[s_get_conditionalcontenturls]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/24/2020
-- Description: Pulls a list of Balfour Optimize target URLs
-- =============================================
CREATE PROCEDURE [dbo].[s_get_conditionalcontenturls]
(
    @cCGUID VARCHAR(50) = ''
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    SELECT dbo.[fn_ConditionalContentURLs](@cCGUID)
END
GO
