/****** Object:  StoredProcedure [dbo].[s_get_cap_gown_shop_by_category]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tramel Jones
-- Create Date: 6/30/2021
-- Description: Get Extra gradpack bundles from DB. 
-- =============================================
CREATE PROCEDURE [dbo].[s_get_cap_gown_shop_by_category]
(
    @smi varchar(30) = '0',
	@debugging BIT = 0
)
-- exec [s_get_cap_gown_shop_by_category] @smi=130996, @debugging = 1 -- LSU
-- exec [s_get_cap_gown_shop_by_category] @smi='29672',  @debugging = 1 -- AIRLINE HS
-- exec [s_get_cap_gown_shop_by_category] @smi='131722',  @debugging = 1 --VT
-- exec [s_get_cap_gown_shop_by_category] @smi='1304',  @debugging = 1 --False pass
-- exec [s_get_cap_gown_shop_by_category] @smi='18249',  @debugging = 1 --Wheeler county
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.		  select * from school_url_master where   cleancity like 'allen%' and ishighschool=1
    SET NOCOUNT ON
	-- DECLARE @smi varchar(30) = 69959
	DECLARE @announcementLink VARCHAR(100) 	   , @GradeLevel VARCHAR(20)
	SELECT @GradeLevel = CASE WHEN IsHighSchool = 1 THEN 'high school'
							  WHEN IsCollege = 1 THEN 'College'
							  WHEN IsElementary = 1 THEN 'Elementary'
							  WHEN IsMiddleSchool = 1 THEN 'Middle School'	   END
	FROM School_URL_Master WHERE SMI = CAST(@smi AS bigint)


	SELECT @announcementLink = dbo.fn_Affinity_GradAnnoucementUrl(@smi, @GradeLevel)

	 
		SELECT TOP 9  Title
					, --CASE WHEN Title = 'ANNOUNCEMENTS' THEN @announcementLink ELSE 
							CASE WHEN CHARINDEX('?', Link) > 0 THEN Link + '&smi=' + @smi 
									ELSE Link + '?smi=' + @smi --END  
							END AS Link
					, ImageUrl 
		FROM gradpack_cap_gown_shop_by_category
		WHERE Title <> CASE WHEN @announcementLink = '' THEN  'ANNOUNCEMENTS' ELSE '' END
		FOR JSON PATH
	 
		--select top 9
		--  'CategoryTileTitle' AS [Title]
		--, 'https://www.google.com' AS [Link]
		--, 'https://images.ctfassets.net/440y9b545yd9/1MtiyiJfnCzixTcKGxjpD4/f931f0f831a47961e862f49116b957cc/Poodle_top10_850.jpg' AS [ImageURL]
		---- FROM gradpack_cap_gown_shop_by_category
		--FOR JSON PATH
	END
 

-- exec [s_get_cap_gown_shop_by_category] @smi=130996
----  select charindex('?', link) from gradpack_cap_gown_shop_by_category
GO
