/****** Object:  StoredProcedure [dbo].[s_get_pipeline_runs]    Script Date: 2/18/2026 4:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 01/02/2020
-- Description: Sproc used to list Azure pipeline runs
-- =============================================
CREATE PROCEDURE [dbo].[s_get_pipeline_runs]
(
	  @Pipeline_Name VARCHAR(200) = '%'
	 ,@StartDate DATETIME = NULL
	 ,@EndDate DATETIME = NULL
)
AS
--EXEC s_get_pipeline_runs
--EXEC s_get_pipeline_runs @Pipeline_Name = 'MAGE-Sales%'
--EXEC s_get_pipeline_runs @Pipeline_Name = 'MAGE-Sales%', @StartDate = '1/2/2020'
SET NOCOUNT ON

IF @StartDate IS NULL SET @StartDate = DATEADD(year,-1,GETDATE())
ELSE SET @StartDate = dbo.fn_DateTime_to_Zulu(@StartDate)
IF @EndDate IS NULL SET @EndDate = GETDATE()
ELSE 
	BEGIN
		--Make it 11:59:59
		SET @EndDate = CAST(FORMAT(@EndDate, 'MM/dd/yyyy') + ' 23:59:59' AS DATETIME)
		SET @EndDate= dbo.fn_DateTime_to_Zulu(@EndDate)
	END


  DECLARE @Steps TABLE (
	[Pipeline_Run_GUID] [varchar](50) NULL,
	[Started] [datetime] NULL,
	[Duration] INT NULL,
	[Log_Text] [varchar](max) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL
	) 


  INSERT INTO @Steps ([Pipeline_Run_GUID], [Started], [Log_Text])
  SELECT [Pipeline_Run_GUID], [Started], [Log_Text] FROM [dbo].[Pipeline_Run_Steps] 
  WHERE [Pipeline_Run_GUID] IN (SELECT [Run_GUID] FROM [dbo].[Pipeline_Runs] R INNER JOIN [dbo].[Pipelines] P ON P.[GUID] = R.[Pipeline_GUID] WHERE [Started] BETWEEN @StartDate AND @EndDate AND P.[Name] LIKE @Pipeline_Name)
  ORDER BY started 

  DECLARE @ID INT, @Max INT, @Started DATETIME, @Ended DATETIME, @RunGUID VARCHAR(50), @NextRunGUID VARCHAR(50)
  SELECT @Max = MAX(ID), @ID = 1 FROM @Steps
  WHILE @ID <= @Max
	BEGIN
		SELECT @Started = [Started], @RunGUID = [Pipeline_Run_GUID] FROM @Steps WHERE [ID] = @ID
		IF @ID <> @Max 
			BEGIN
				SELECT @Ended = [Started], @NextRunGUID = [PipeLine_Run_GUID] FROM @Steps WHERE [ID] = @ID + 1
				IF @RunGUID = @NextRunGUID
					UPDATE @Steps SET [Duration] = CAST(DATEDIFF(minute,@Started,@Ended) as INT) WHERE [ID] = @ID
				ELSE
					BEGIN
						SELECT @Ended = [Ended] FROM [dbo].[Pipeline_Runs] WHERE [Run_GUID] = @RunGUID
						IF @Ended IS NOT NULL 
							BEGIN
								UPDATE @Steps SET [Duration] = CAST(DATEDIFF(minute,@Started,@Ended) as INT) WHERE [ID] = @ID
							END
					END
			END
		ELSE
			BEGIN
				SELECT @RunGUID = [Pipeline_Run_GUID] FROM @Steps WHERE [ID] = @ID
				SELECT @Ended = [Ended] FROM [dbo].[Pipeline_Runs] WHERE [Run_GUID] = @RunGUID
				IF @Ended IS NOT NULL 
					BEGIN
						UPDATE @Steps SET [Duration] = CAST(DATEDIFF(minute,@Started,@Ended) as INT) WHERE [ID] = @ID
					END
			END
		SET @ID = @ID + 1
	END

	SELECT 
		 [Name]
		,[GUID] as [Pipeline_GUID]
		,[Pipeline_Run_GUID] 
		,dbo.fn_DateTime_to_Central(S.[Started]) as [Started]
		,[Duration] as [Duration]
		,[Log_Text]
	FROM @Steps S
	LEFT JOIN dbo.[Pipeline_Runs] R ON R.[Run_GUID] = S.[Pipeline_Run_GUID]
	LEFT JOIN [dbo].[Pipelines] P ON P.[GUID] = R.[Pipeline_GUID]
	ORDER BY R.[Started] DESC, R.[Run_GUID], S.[Started]
GO
