/****** Object:  StoredProcedure [dbo].[s_import_virtcomm_participants_batch]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      TL
-- Create Date: 05/26/2020
-- Description: Mass import for VirtCommParticipants
-- =============================================
CREATE PROCEDURE [dbo].[s_import_virtcomm_participants_batch]
(
    @VirtCommParticipants dbo.VCParticipants READONLY
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	INSERT INTO [dbo].[VirtCommParticipants] ([EventID], [NameID], [FirstName], [LastName], [ZOrder], [RegistrationCode], [PFirstName], [PLastName], [PAddressID], [PAddress1], [PAddress2], [PCity], [PState], [PZip], [PCountry], [PPhone], [PCellPhone], [PEmail], [SAddressID], [SAddress1], [SAddress2], [SCity], [SState], [SZip], [SCountry], [SPhone], [SCellPhone], [SEmail], [T1AddressID], [T1Address1], [T1Address2], [T1City], [T1State], [T1Zip], [T1Country], [T1Phone], [T1CellPhone], [T1Email], [T2AddressID], [T2Address1], [T2Address2], [T2City], [T2State], [T2Zip], [T2Country], [T2Phone], [T2CellPhone], [T2Email], [T3AddressID], [T3Address1], [T3Address2], [T3City], [T3State], [T3Zip], [T3Country], [T3Phone], [T3CellPhone], [T3Email], [T4AddressID], [T4Address1], [T4Address2], [T4City], [T4State], [T4Zip], [T4Country], [T4Phone], [T4CellPhone], [T4Email], [T5AddressID], [T5Address1], [T5Address2], [T5City], [T5State], [T5Zip], [T5Country], [T5Phone], [T5CellPhone], [T5Email], [YearbookSpots], [Spots], [RescheduledMonth], [VerticalImage], [QuoteOnGraduationSlide], [BBRegistrationCode], [SMI], [SubAccount], [BatchID], [ImageURL], [Gender], [Model_Year], [Sign_Up_Date], [New_Customer], [LandingPage], [Video], [Thumbnail], [Thumbnail_1], [CParticipant_Name], [R3_Select_A_Photo], [R4_Degree_Major], [R5_Area_Of_Study], [FullName], [GUID], [CCSFileName], [IdomooFileName], [Idomoo_landingpage], [Idomoo_Video_link], [Idomoo_Thumbnail], [FinalEmailQueued], [Frame], [Roll])
	SELECT [EventID], [NameID], [FirstName], [LastName], [ZOrder], [RegistrationCode], [PFirstName], [PLastName], [PAddressID], [PAddress1], [PAddress2], [PCity], [PState], [PZip], [PCountry], [PPhone], [PCellPhone], [PEmail], [SAddressID], [SAddress1], [SAddress2], [SCity], [SState], [SZip], [SCountry], [SPhone], [SCellPhone], [SEmail], [T1AddressID], [T1Address1], [T1Address2], [T1City], [T1State], [T1Zip], [T1Country], [T1Phone], [T1CellPhone], [T1Email], [T2AddressID], [T2Address1], [T2Address2], [T2City], [T2State], [T2Zip], [T2Country], [T2Phone], [T2CellPhone], [T2Email], [T3AddressID], [T3Address1], [T3Address2], [T3City], [T3State], [T3Zip], [T3Country], [T3Phone], [T3CellPhone], [T3Email], [T4AddressID], [T4Address1], [T4Address2], [T4City], [T4State], [T4Zip], [T4Country], [T4Phone], [T4CellPhone], [T4Email], [T5AddressID], [T5Address1], [T5Address2], [T5City], [T5State], [T5Zip], [T5Country], [T5Phone], [T5CellPhone], [T5Email], [YearbookSpots], [Spots], [RescheduledMonth], [VerticalImage], [QuoteOnGraduationSlide], [BBRegistrationCode], [SMI], [SubAccount], [BatchID], [ImageURL], [Gender], [Model_Year], [Sign_Up_Date], [New_Customer], [LandingPage], [Video], [Thumbnail], [Thumbnail_1], [CParticipant_Name], [R3_Select_A_Photo], [R4_Degree_Major], [R5_Area_Of_Study], [FullName], [GUID], [CCSFileName], [IdomooFileName], [Idomoo_landingpage], [Idomoo_Video_link], [Idomoo_Thumbnail], [FinalEmailQueued]
	,RIGHT(dbo.fn_Get_Image_From_CCS_Spots([Spots]),LEN(dbo.fn_Get_Image_From_CCS_Spots([Spots]))-CHARINDEX('-',dbo.fn_Get_Image_From_CCS_Spots([Spots])))--CASE WHEN [Spots] NOT LIKE 'CCSPAG%' THEN SUBSTRING([Spots],CHARINDEX('-',[Spots])+1,(LEN([Spots])-(CHARINDEX('-',[Spots])))) ELSE '' END  --Need everything after the '-' and before the ';' or end of line
	,LEFT(dbo.fn_Get_Image_From_CCS_Spots([Spots]),CHARINDEX('-',dbo.fn_Get_Image_From_CCS_Spots([Spots]))-1)--CASE WHEN [Spots] NOT LIKE 'CCSPAG%' THEN LEFT([Spots],CHARINDEX('-',[Spots])-1) ELSE '' END
	FROM @VirtCommParticipants
	WHERE [FirstName] <> 'CORE' AND [LastName] <> 'CORE'
    
END
GO
