/****** Object:  StoredProcedure [dbo].[s_report_ea_products]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      HT
-- Create Date: 04/17/2020
-- Description: Sends an ea products report to user 
-- =============================================
CREATE PROCEDURE [dbo].[s_report_ea_products]
AS 
--EXEC s_report_non_contiguous_states_orders
SET NOCOUNT ON
/*
You need to create a temp table to hold the output so that you can parse it and load the results into one big string.  Use an identity field so that
you can get the rows in the correct order.
select max(len([Master License Type])) from item_details
*/
DROP TABLE IF EXISTS #ReportTemp
CREATE TABLE #ReportTemp ([row] VARCHAR(MAX), [rownum] INT IDENTITY(1,1))
/*
You will need the header row.  Separate the columns with the ',' (CHAR(44)) character. Tab (CHAR(44))
*/
INSERT INTO #ReportTemp ([row])
SELECT  '[Product Name (Mktg)]' + CHAR(44) + '[SKU]' + CHAR(44) + '[SKU ID]' +  CHAR(44) + '[Cost]' + CHAR(44) + '[MSRP]' + CHAR(44) + '[MAP]' + CHAR(44) + '[Retail Price]' + CHAR(44) + '[Balfour.com - In Magento]' + CHAR(44) + 
		'[Priced for Balfour.com]' + CHAR(44) + '[ArtCarved.com - In Magento]' + CHAR(44) + '[Priced for ArtCarved.com]' + CHAR(44) + '[Classification]' + CHAR(44) + '[Master License Type]' + CHAR(44) + '[License Type - Sports Leagues]' + CHAR(44) + 
		'[License Type - Other]' + CHAR(44) + '[NFL Licensed Teams]' + CHAR(44) + '[NHL Licensed Teams]' + CHAR(44) + '[NBA Licensed Teams]' + CHAR(44) + '[NCAA Licensed Schools]' + CHAR(44)
/*  
Select CHAR(44)
Now add the actual data by concatenating the columns into one big string with the tab character (CHAR(44)) between then.  Be careful not to allow
any NULL values as that will cause the entire string (row) to be NULL.
*/  
 
INSERT INTO #ReportTemp ([row])
SELECT  TOP 100000
		--LTRIM(RTRIM(ISNULL([Product Name (Mktg)],''))) + CHAR(44) + 
		--LTRIM(RTRIM(ISNULL([SKU],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([SKU ID],''))) +  CHAR(44) + 
		--LTRIM(RTRIM(ISNULL([Balfour.com - In Magento],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([Priced for Balfour.com],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([ArtCarved.com - In Magento],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([Priced for ArtCarved.com],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([Classification],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([Master License Type],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([License Type - Sports Leagues],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([License Type - Other],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([NFL Licensed Teams],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([NHL Licensed Teams],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([NBA Licensed Teams],''))) + CHAR(44) +
		--LTRIM(RTRIM(ISNULL([NCAA Licensed Schools],''))) + CHAR(44)
		REPLACE(LTRIM(RTRIM(ISNULL([Product Name (Mktg)],''))), ',', '') + CHAR(44) + 
		REPLACE(LTRIM(RTRIM(ISNULL([SKU],''))), ',', '') + CHAR(44) +
		REPLACE(LTRIM(RTRIM(ISNULL([SKU ID],''))), ',', '') +  CHAR(44) + 
		LTRIM(RTRIM(ISNULL([Balfour.com - In Magento],''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL([Priced for Balfour.com],''))) + CHAR(44) +
		REPLACE(LTRIM(RTRIM(ISNULL([ArtCarved.com - In Magento],''))), ',', '') + CHAR(44) +
		LTRIM(RTRIM(ISNULL([Priced for ArtCarved.com],''))) + CHAR(44) +
		REPLACE(LTRIM(RTRIM(ISNULL([Classification],''))), ',', '') + CHAR(44) +
		LTRIM(RTRIM(ISNULL([Master License Type],''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL([License Type - Sports Leagues],'')))+ CHAR(44) +
		REPLACE(LTRIM(RTRIM(ISNULL([License Type - Other],''))), ',', '') + CHAR(44) +
		LTRIM(RTRIM(ISNULL([NFL Licensed Teams],''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL([NHL Licensed Teams],''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL([NBA Licensed Teams],''))) + CHAR(44) +
		LTRIM(RTRIM(ISNULL([NCAA Licensed Schools],''))) + CHAR(44)
		--	SELECT * 
FROM dbo.[item_details] --WHERE sku in ('A0208879', 'A0223314','A0223134')
WHERE [ID] LIKE 'SKU%' 
--SELECT * FROM #ReportTemp

	-- SELECT * FROM #ReportTemp order by rownum -- where row like '%Ole Miss Rebels 2.5In X 3.25In Babys  First Christmas Ornament%'  76380
DECLARE @count INT 
SELECT @count = COUNT(*) FROM #ReportTemp
	--PRINT @count
IF @count > 1
	BEGIN
		/*
		Declare the final output string as VARCHAR(MAX) and make sure to set it to an empty string as adding a NULL to itself will result in a NULL value.
		*/
		DECLARE @File  VARCHAR(MAX)
		SET @File = ''
		/*
		Select each row into your string (@File) taking care to replace any LF (CHAR(10)) or CR (CHAR(13)) characters with a space and ending each row with 
		a LF (CHAR(10)).  Make sure to order by your identity column.
		SELECT REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10)
		FROM #ReportTemp
		ORDER BY [rownum]
		*/
		SELECT TOP 100000 @File = @File + REPLACE(REPLACE([row],CHAR(10),' '),CHAR(13),' ') + CHAR(10) -- FOR some reason, it only returns the last row if the TOP 100000 is not added.
		FROM #ReportTemp
		ORDER BY [rownum]
		
		DROP TABLE IF EXISTS #ReportTemp
		/*For debugging purposes.*/
		-- SELECT  @File

		/*
		Once you add a record to [EmailJobs_Queue] it should be processed within 3 minutes.
		SELECT * FROM [EmailJobs_Queue] WHERE DESCRIPTION = 'EA Product Report' AND Queued_DTM > GETDATE() - 1 ORDER BY Processed_DTM
		*/
		INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[emailAddresses],[rawData],[Attachment_Name],[Attachment])
		VALUES
		(
		 'Report' /*Always use 'Report'*/
		,'Balfour' /*Always use Balfour.*/
		,'internal' /*'internal' means to use the Balfour SMTP server at AWS.*/
		,'EA Product Report' /*Description of the queue entry. Krishna.Agarwal@balfour.com*/
		,'theresa.aradi@balfour.com;krishna.agarwal@balfour.com' /*Who the email goes to.  If more than 1 recipient, separate with semi-colon.*/ --
		,'{"cc":"","bcc":"han.tran@balfour.com","fromEmail":"noreply@balfour.com","fromName":"Balfour Services","subject":"EA Product Report","body":"The EA Product report run ' + Format(dbo.fn_DateTime_To_Central(GETDATE()),'MM/dd/yyyy hh:mm tt') + ' is attached."}'
		,'BuyingReport.csv' /*Name of the attachment.*/
		,CAST(@File AS VARBINARY(MAX)) /*The actual data you are attaching.*/
		)
		/*For debugging purposes.*/
		--SELECT SCOPE_IDENTITY()
	END
	 
GO
