/****** Object:  StoredProcedure [dbo].[proc_get_yearbook_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 1/27/2020 - HT
*/
CREATE PROCEDURE [dbo].[proc_get_yearbook_orders_records]

AS
BEGIN 
	SET NOCOUNT ON
  
	--Create a temp table because we will need to sort the results in the event that the sort field and search field are not the same
	--CREATE TABLE #YBItem (
	-- sku VARCHAR(255), 
	-- order_id INT, 
	-- name VARCHAR(255), 
	-- description VARCHAR(MAX), 
	-- qty_ordered DECIMAL(12,4), 
	-- qty_shipped DECIMAL(12,4), 
	-- discount_percent DECIMAL(12,4), 
	-- discount_amount DECIMAL(12,4), 
	-- original_price DECIMAL(12,4), 
	-- price DECIMAL(12,4), 
	-- base_cost DECIMAL(12,4), 
	-- row_total DECIMAL(12,4), 
	-- tax_amount DECIMAL(12,4), 
	-- tax_percent DECIMAL(12,4),
	-- free_shipping VARCHAR(3)
	-- )

	 --Get Only Yearbook and YB Accessories - Later on, will get the field a_EC from PIM, and the logic below will be changed
	--INSERT INTO #YBItem
	--SELECT i.sku, order_id, [name], [description], qty_ordered, qty_shipped, discount_percent, discount_amount, original_price, price, base_cost,
	--row_total, tax_amount, tax_percent, 
	--CASE WHEN free_shipping = 1 THEN 'Yes' ELSE 'No' END AS [Free Shipping]
	----INTO #YBItem
	--FROM MAGE_sales_order_item i WITH (NOLOCK) INNER JOIN MAGE_v_product_report_all p ON p.sku=i.sku
	--WHERE p.Enhanced_Commerce IN ('YEARBOOKS', 'YEARBOOK ACCESSORIES')--[Name] LIKE '%yearbook%' 
	--AND ISNULL(parent_item_id, '') = ''  -- only get the parent item if it is bundle 
	--GROUP BY i.sku, order_id, [name], [description], qty_ordered, qty_shipped, discount_percent, discount_amount, original_price, price, base_cost,
	--row_total, tax_amount, tax_percent, free_shipping 
	--;
	SELECT 
	[state] [Order State]
	,[status] [Order Status]
	,coupon_code [Coupon Code]
	,shipping_description [Shipping Description]
	,store_id [Store ID]
	,o.discount_amount [Order Discount]
	,grand_total [Grand Total]
	,shipping_tax_amount [Shipping Tax Amount]
	,subtotal [Subtotal]
	,o.tax_amount [Order Tax Amount]
	,total_qty_ordered [Total Qty Ordered]
	,email_sent [Email Sent]
	,send_email [Send Email]
	,payment_authorization_amount [Payment Autho Amount]
	,shipping_discount_amount [Shipping Discount Amount]
	,subtotal_incl_tax [Subtotal With Tax]
	,original_increment_id [Original Order Number]
	,increment_id [Order Number]
	,dbo.fn_DateTime_to_Central(o.created_at) [Order Date]
	,dbo.fn_DateTime_to_Central(o.updated_at) [Updated Date]
	,ext_order_id [External Order Number]
	,applied_rule_ids [Applied Rule IDs]
	,customer_email [Customer Email]
	,customer_firstname [Customer First Name]
	,discount_description [Discount Description]
	,shipping_method [Shipping Method]
	,store_name [Store Name]
	,total_item_count [Total Item Count]
	,shipping_incl_tax [Shipping with Tax]
	,coupon_rule_name [Coupon Rule Name]
	,i.sku [Sku]
	,i.[name] [Product Name]
	,i.[description] [Product Description]
	,i.qty_ordered [Qty Ordered]
	,i.qty_shipped [Qty Shipped]
	,i.discount_percent [Item Discount Percent]
	,i.discount_amount [Item Discount]
	,i.original_price	[Original Price]
	,i.price [Price]
	,i.base_cost [Base Cost]
	--,i.base_original_price [Base Original Price]
	--,i.base_row_total [Base Row Total]
	,i.row_total [Row Total]
	,i.tax_amount [Item Tax Amount]
	,i.tax_percent [Item Tax Percent]
	,i.[Free Shipping]
	FROM [dbo].[MAGE_sales_order] o 
	--INNER JOIN [dbo].[#YBItem] i ON i.Order_Id = o.entity_id -- o.increment_id
	INNER JOIN (SELECT i.sku, order_id, [name], [description], qty_ordered, qty_shipped, discount_percent, discount_amount, original_price, price, base_cost,
	row_total, tax_amount, tax_percent, 
	CASE WHEN free_shipping = 1 THEN 'Yes' ELSE 'No' END AS [Free Shipping]
	--INTO #YBItem
	FROM MAGE_sales_order_item i WITH (NOLOCK) INNER JOIN MAGE_v_product_report_all p ON p.sku=i.sku
	WHERE p.Enhanced_Commerce IN ('YEARBOOKS', 'YEARBOOK ACCESSORIES')--[Name] LIKE '%yearbook%' 
	AND ISNULL(parent_item_id, '') = ''  -- only get the parent item if it is bundle 
	GROUP BY i.sku, order_id, [name], [description], qty_ordered, qty_shipped, discount_percent, discount_amount, original_price, price, base_cost,
	row_total, tax_amount, tax_percent, free_shipping 
	) i ON i.Order_Id = o.entity_id -- o.increment_id

	--DROP TABLE IF EXISTS #YBItem;
END
GO
