/****** Object:  StoredProcedure [dbo].[s_queue_virtcomm_final_emails]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 05/21/2020
-- Description: Queues the final email for VirtComm after we get the results from Idomoo
-- =============================================
CREATE PROCEDURE [dbo].[s_queue_virtcomm_final_emails]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON
	/*See what is ready to be queued
	SELECT 
       'virtcomm' as [Email_Name]
	  ,'Balfour' as [Entity]
	  ,'Silverpop' as [Service]
	  ,'VirtComm Final Email' as [Description]
	  ,J.[POD]
	  ,J.[oAuthClientId]
	  ,J.[oAuthClientSecret]
	  ,J.[oAuthRefreshToken]
	  ,J.[campaignID]
      ,[PEmail] as [EmailAddresses]
      ,'{' +
	   '"SMI":"' + CAST(VCC.[SMI] as VARCHAR(15)) + '",' + 
       '"SubAccount":"' + ISNULL(VCC.[SubComm],'') + '",' + 
       '"EventID":"' + CAST(VCC.[EventID] as VARCHAR(15)) + '",' + 
	   '"NameID":"' + CAST(VCP.[NameID] as VARCHAR(15)) + '",' + 
	   '"FirstName":"' + VCP.[FirstName] + '",' + 
	   '"LastName":"' + VCP.[LastName] + '",' + 
	   '"SchoolName":"' + VCM.[SchoolName] + '",' + 
	   --'"":"' + VCP.[PEmail]
	   '"Idomoo_Video_Link":"' + REPLACE(VCP.[Idomoo_Video_link],'https://','') + '",' + 
	   '"Idomoo_landingpage":"' + REPLACE(VCP.[Idomoo_landingpage],'http://','') + '",' + 
	   '"Idomoo_Thumbnail":"' + REPLACE(VCP.[Idomoo_Thumbnail],'https://','') + '"' +
	   '}' as [rawData]
	   ,'' as [template]   
	  FROM [dbo].[VirtCommControl] VCC
	  LEFT JOIN [dbo].[VirtCommParticipants] VCP ON VCP.SMI = VCC.SMI AND VCP.EventID = VCC.EventID AND ISNULL(VCP.SubAccount,'') = ISNULL(VCC.SubComm,'')
	  LEFT JOIN [dbo].[VirtCommMaster] VCM ON VCM.SMI = VCC.SMI
	  LEFT JOIN [dbo].[EmailJobs] J ON J.Email_Name = 'virtcomm'
	  WHERE [FileReceivedFromIdomoo] IS NOT NULL AND [FinalEmailSent] IS NULL
	  AND ISNULL(VCP.[PEmail],'') <> ''
	*/
    --Figure out which ones to send
	DECLARE @IdomooBatchID VARCHAR(50)
	SET @IdomooBatchID = NEWID()
	UPDATE [dbo].[VirtCommControl] SET [IdomooBatchID] = @IdomooBatchID, [FinalEmailSent] = GETDATE() WHERE [FileReceivedFromIdomoo] IS NOT NULL AND [FinalEmailSent] IS NULL
	UPDATE [dbo].[VirtCommParticipants] SET [FinalEmailQueued] = GETDATE()
	FROM [dbo].[VirtCommControl] VCC
	LEFT JOIN [dbo].[VirtCommParticipants] VCP ON VCP.SMI = VCC.SMI AND VCP.EventID = VCC.EventID AND ISNULL(VCP.SubAccount,'') = ISNULL(VCC.SubComm,'') AND VCP.[FinalEmailQueued] IS NULL
	WHERE VCC.[IdomooBatchID] = @IdomooBatchID

	--Queue the final email
	INSERT INTO [dbo].[EmailJobs_Queue] ([Email_Name],[Entity],[Service],[Description],[pod],[oAuthClientId],[oAuthClientSecret],[oAuthRefreshToken],[campaignID],[emailAddresses],[rawData],[template])
	SELECT 
		   'virtcomm' as [Email_Name]
		  ,'Balfour' as [Entity]
		  ,'Silverpop' as [Service]
		  ,'VirtComm Final Email' as [Description]
		  ,J.[POD]
		  ,J.[oAuthClientId]
		  ,J.[oAuthClientSecret]
		  ,J.[oAuthRefreshToken]
		  ,J.[campaignID]
		  ,[PEmail] as [EmailAddresses]
		  ,'{' +
		   '"SMI":"' + CAST(VCC.[SMI] as VARCHAR(15)) + '",' + 
		   '"SubAccount":"' + ISNULL(VCC.[SubComm],'') + '",' + 
		   '"EventID":"' + CAST(VCC.[EventID] as VARCHAR(15)) + '",' + 
		   '"NameID":"' + CAST(VCP.[NameID] as VARCHAR(15)) + '",' + 
		   '"FirstName":"' + VCP.[FirstName] + '",' + 
		   '"LastName":"' + VCP.[LastName] + '",' + 
		   '"SchoolName":"' + VCM.[SchoolName] + '",' + 
		   --'"":"' + VCP.[PEmail]
		   '"Idomoo_Video_Link":"' + REPLACE(VCP.[Idomoo_Video_link],'https://','') + '",' + 
		   '"Idomoo_landingpage":"' + REPLACE(VCP.[Idomoo_landingpage],'http://','') + '",' + 
		   '"Idomoo_Thumbnail":"' + REPLACE(VCP.[Idomoo_Thumbnail],'https://','') + '"' +
		   '}' as [rawData]
		   ,'' as [template]   
	  FROM [dbo].[VirtCommControl] VCC
	  LEFT JOIN [dbo].[VirtCommParticipants] VCP ON VCP.SMI = VCC.SMI AND VCP.EventID = VCC.EventID AND ISNULL(VCP.SubAccount,'') = ISNULL(VCC.SubComm,'')
	  LEFT JOIN [dbo].[VirtCommMaster] VCM ON VCM.SMI = VCC.SMI
	  LEFT JOIN [dbo].[EmailJobs] J ON J.Email_Name = 'virtcomm'
	  WHERE [IdomooBatchID] = @IdomooBatchID
	  AND ISNULL(VCP.[PEmail],'') <> ''

END
GO
