/****** Object:  StoredProcedure [dbo].[proc_get_mage_ns_contemporary_orders_records]    Script Date: 2/18/2026 4:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* [Created] 1/27/2020 - HT
*/
CREATE PROCEDURE [dbo].[proc_get_mage_ns_contemporary_orders_records]

AS
 
SET NOCOUNT ON
 
	 
SELECT increment_id AS [MAGE Order No] --, entity_id
, nso.OrderNumber AS [NS Order No]
, nso.ExtSalesID AS [NS ExtSalesID]
, o.created_at AS [Order Date]
, ISNULL(nso.BillingName,o.customer_firstname) AS [Customer Name]
, oi.sku AS SKU
, oi.name AS [Product Name]
, oi.row_total_incl_tax [Product Total]
, id.PurchaseOrder
, id.Vendor
, id.Type
FROM MAGE_sales_order o WITH (NOLOCK) 
INNER JOIN MAGE_sales_order_item oi WITH (NOLOCK) ON oi.order_id = o.entity_id
INNER JOIN Item i WITH (NOLOCK) ON LEFT(oi.sku,8) = i.sku
INNER JOIN itemattributes ia WITH (NOLOCK) ON ia.itemid = i.id AND ia.tagtype = 'a_pbprodfamid' and ia.tagvalue IN (56,59,60,61) 
LEFT JOIN NetsuiteSalesOrders nso WITH (NOLOCK) ON nso.ExtSalesID = o.increment_id
INNER JOIN NetsuiteSalesOrderDetails id WITH (NOLOCK) ON id.DocumentNumber = nso.OrderNumber AND LEFT(id.Item,8) = i.sku
-- WHERE nso.OrderNumber IN (124389, 117725)
ORDER BY o.created_at DESC
GO
