/****** Object:  StoredProcedure [dbo].[s_update_virtcommdetail_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 4/23/2020 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_virtcommdetail_record]
(
 @CollegeCode VARCHAR(59) = NULL
,@Description NVARCHAR(MAX) = NULL
,@EventCoordinatorEmail VARCHAR(200) = NULL
,@EventDTM VARCHAR(50) = NULL
,@GUID VARCHAR(50) = NULL
,@ID INT = NULL
,@Link VARCHAR(300) = NULL
,@ParentGUID VARCHAR(50) = NULL
,@Title NVARCHAR(200) = NULL
,@Enabled BIT = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [VirtCommDetail].
--##RS1 The [ID] value of the inserted/updated record in the table [VirtCommDetail].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
    INSERT INTO [VirtCommDetail] ( [ParentGUID],[GUID],[CollegeCode],[EventDTM],[Title],[Description],[Link],[EventCoordinatorEmail],[Enabled])
       VALUES ( @ParentGUID,NEWID()/*@GUID*/,@CollegeCode,DATEADD(day,35,GETDATE()),'College of ? Commencement'/*@Title*/,''/*@Description*/,''/*@Link*/,'someone@someschool.edu'/*@EventCoordinatorEmail*/,0/*@Enabled*/)
    SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [VirtCommDetail] SET
     [ParentGUID] = CASE WHEN @ParentGUID IS NULL THEN [ParentGUID] ELSE @ParentGUID END
    ,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
    ,[CollegeCode] = CASE WHEN @CollegeCode IS NULL THEN [CollegeCode] ELSE @CollegeCode END
    ,[EventDTM] = CASE WHEN @EventDTM IS NULL THEN [EventDTM] ELSE CAST(@EventDTM as DATETIME) END
    ,[Title] = CASE WHEN @Title IS NULL THEN [Title] ELSE @Title END
    ,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
    ,[Link] = CASE WHEN @Link IS NULL THEN [Link] ELSE @Link END
    ,[EventCoordinatorEmail] = CASE WHEN @EventCoordinatorEmail IS NULL THEN [EventCoordinatorEmail] ELSE @EventCoordinatorEmail END
	,[Enabled] = CASE WHEN @Enabled IS NULL THEN [Enabled] ELSE @Enabled END
    WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

SELECT
 [ParentGUID]
,[GUID]
,[CollegeCode]
,FORMAT([EventDTM], 'MM/dd/yyyy hh:mm:ss tt') AS [EventDTM]
,[Title]
,[Description]
,[Link]
,[ID]
,[EventCoordinatorEmail]
,[Enabled]
FROM dbo.[VirtCommDetail]
WHERE [ID] = @ID_Out
GO
