/****** Object:  StoredProcedure [dbo].[s_update_school_urls]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 04/29/2020
-- Description: 
-- =============================================
CREATE PROCEDURE [dbo].[s_update_school_urls]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Insert statements for procedure here
    SELECT 'Done'
END
GO
