/****** Object:  StoredProcedure [dbo].[s_managed_upsell_cart_magento_columns_import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:     Tramel Jones
-- Create Date: 04/27/21
-- Description: Update the Magento column values for managed upsell dropdown menus
-- =============================================
CREATE PROCEDURE [dbo].[s_managed_upsell_cart_magento_columns_import]
(
	@DEBUG BIT = 0 
)
AS
BEGIN
	-- EXEC s_managed_upsell_cart_magento_columns_import

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DROP TABLE IF EXISTS cart_magento_managed_upsell_columns_import

	select * INTO cart_magento_managed_upsell_columns_import 
	FROM cart_magento_managed_upsell_columns
	where 0 = 1


	insert into cart_magento_managed_upsell_columns_import (MagentoColumnName, MagentoColumnValue)
	Select distinct 'Enhanced Commerce', [Enhanced Commerce] from magento_automated_product_dataset
	where [Enhanced Commerce] is not null 
	and [Enhanced Commerce] <> ''


	insert into cart_magento_managed_upsell_columns_import (MagentoColumnName, MagentoColumnValue)
	Select distinct 'product_collection', product_collection from magento_automated_product_dataset
	where product_collection is not null 
	and product_collection <> ''

	insert into cart_magento_managed_upsell_columns_import (MagentoColumnName, MagentoColumnValue)
	Select distinct 'B3_Brand', B3_Brand FROM magento_automated_product_dataset 
	where B3_Brand is not null 
	and B3_Brand <> ''


	insert into cart_magento_managed_upsell_columns_import (MagentoColumnName, MagentoColumnValue)
	Select distinct 'PrintBox_FamilyId', PrintBox_FamilyId from magento_automated_product_dataset
	where PrintBox_FamilyId is not null 
	and PrintBox_FamilyId <> ''



	insert into cart_magento_managed_upsell_columns_import (MagentoColumnName, MagentoColumnValue)
	Select distinct 'Cat_Type_Style', Cat_Type_Style from magento_automated_product_dataset
	where Cat_Type_Style is not null 
	and Cat_Type_Style <> ''


	insert into cart_magento_managed_upsell_columns_import (MagentoColumnName, MagentoColumnValue)
	Select distinct 'Cat_Type_Style_Parent', LEFT(Cat_Type_Style,CHARINDEX('_', Cat_Type_Style)-1) from magento_automated_product_dataset
	where Cat_Type_Style is not null 
	and Cat_Type_Style <> ''
	and Cat_Type_Style <> 'Jewelry'



	--Get a count
	DECLARE @CntNew INT, @CntOld INT, @LastUpdate VARCHAR(50)
	SELECT @CntNew = COUNT(*) FROM [dbo].[cart_magento_managed_upsell_columns_import]
	SELECT @CntOld = COUNT(*) FROM [dbo].[cart_magento_managed_upsell_columns]
	IF @CntNew >= 0.75*(@CntOld)
		BEGIN
			-- Crazy Ivan
			DROP TABLE IF EXISTS cart_magento_managed_upsell_columns_rollback
			EXEC sp_rename 'cart_magento_managed_upsell_columns', 'cart_magento_managed_upsell_columns_rollback'
			EXEC sp_rename 'cart_magento_managed_upsell_columns_import', 'cart_magento_managed_upsell_columns'

			--Update the last updated attribute
			SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central (GETDATE()), 'MM/dd/yyyy hh:mm tt')
			EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'cart_magento_managed_upsell_columns', @AttribName = 'LastUpdate', @Value = @LastUpdate
		END
	ELSE
		PRINT 'Not enough records'

END
GO
