/****** Object:  StoredProcedure [dbo].[s_SilverPopUploads_GetQueueStatus]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jon Kaufman
-- Create Date: 10/19/2020
-- Description: Gets an overview of jobs uploaded to SilverPop
-- =============================================
CREATE PROCEDURE [dbo].[s_SilverPopUploads_GetQueueStatus]
(
    @StartDate smalldatetime,
	@EndDate smalldatetime,
	@EntityId varchar(50),
	@UserId varchar(50)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    SELECT *
	FROM SilverPopUploads
	WHERE
		SentToSilverPopDate >= @StartDate
		AND SentToSilverPopDate <= @EndDate
		AND EntityId = @EntityId
		AND UserId = @UserId
	ORDER BY SentToSilverPopDate DESC
END
GO
