/****** Object:  StoredProcedure [dbo].[s_get_crm_menu_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_crm_menu_records]
AS
SET NOCOUNT ON
select 
  [Id]
, ISNULL([Title],'') AS [Title]
, ISNULL([Description],'') as [Description]
, ISNULL([URL],'') as [URL]
, [ParentId]
, ISNULL([Icon],'') as [Icon]
from [dbo].[Menu] 
ORDER BY [Sort_Order]
select * from [dbo].[SubMenu]
select * from [dbo].[ChildSubMenu]
GO
