/****** Object:  StoredProcedure [dbo].[s_update_pipeline_runs]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      TL
-- Create Date: 12/31/2019
-- Description: Updates [dbo].[Pipeline_Runs] record
-- =============================================
CREATE PROCEDURE [dbo].[s_update_pipeline_runs]
(
	 @Pipeline_GUID VARCHAR(50) = ''
	,@Run_GUID VARCHAR(50) = ''
	,@Started DATETIME = NULL
	,@Ended VARCHAR(100) = NULL
	,@ID BIGINT = 0
	,@ID_Out BIGINT OUT
)
AS
SET NOCOUNT ON
IF @ID < 1
	BEGIN
		IF @Started IS NULL SET @Started = GETDATE()
		INSERT INTO [dbo].[Pipeline_Runs] ([Pipeline_GUID], [Run_GUID], [Started])
		VALUES (@Pipeline_GUID,@Run_GUID,@Started)
		SET @ID_Out = SCOPE_IDENTITY()
	END
ELSE
	BEGIN
		UPDATE [dbo].[Pipeline_Runs]
		SET
		 [Pipeline_GUID] = CASE WHEN @Pipeline_GUID IS NULL THEN [Pipeline_GUID] ELSE @Pipeline_GUID END
		,[Run_GUID] = CASE WHEN @Run_GUID IS NULL THEN [Run_GUID] ELSE @Run_GUID END
		,[Started] = CASE WHEN @Started IS NULL THEN [Started] ELSE @Started END
		,[Ended] = CASE WHEN @Ended IS NULL THEN [Ended] ELSE CAST(@Ended as DATETIME) END
		WHERE [Run_GUID] = @Run_GUID
		SELECT @ID_Out = [ID] FROM [dbo].[Pipeline_Runs] WHERE [Run_GUID] = @Run_GUID
	END
GO
