/****** Object:  StoredProcedure [dbo].[s_get_uc_class_ring_link]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Sean
-- Create Date: 01/13/2021
-- Description: Determines the link for University Collection class rings based upon SMI
-- =============================================
CREATE PROCEDURE [dbo].[s_get_uc_class_ring_link]
(
    @SMI INT = 0
)
AS
-- EXEC [dbo].[s_get_uc_class_ring_link] @SMI = 130996
-- EXEC [dbo].[s_get_uc_class_ring_link] @SMI = 131575
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

    -- Declare the return variable here
    DECLARE @UCLink VARCHAR(500)
    DECLARE @GradeLevel VARCHAR(500)

	SET @GradeLevel = dbo.fn_Affinity_GradeLevel(@SMI)

	IF dbo.fn_Affinity_UnivColl(@SMI) = 1
	BEGIN
		SET @UCLink = CASE 
			WHEN @GradeLevel IN ('Elementary', 'Middle School', 'Junior High School') 
				THEN '/shop/jewelry/rings/junior-high-class-rings?smi=' 
			WHEN @GradeLevel = 'High School' 
				THEN '/shop/jewelry/rings/high-school-class-rings?smi=' 
			ELSE     '/shop/jewelry/rings/college-class-rings?smi=' 
			END + CAST (@SMI AS VARCHAR(25)) + '&pim_a_collection=15089'  --Set to school's unversity collection ring link
		-- SET @UCLink = (dbo.fn_Affinity_ClassRingUrl(@SMI, @GradeLevel) + '&pim_a_collection=15089') --Set to school's affinity page ring link
	END
	ELSE
	BEGIN
		SET @UCLink = CASE 
			WHEN @GradeLevel IN ('Elementary', 'Middle School', 'Junior High School') 
				THEN '/shop/jewelry/rings/junior-high-class-rings?smi=' 
			WHEN @GradeLevel = 'High School' 
				THEN '/shop/jewelry/rings/high-school-class-rings?smi=' 
			ELSE     '/shop/jewelry/rings/college-class-rings?smi=' 
			END + CAST (@SMI AS VARCHAR(25)) --Set to school's affinity page ring link
	END 
    SELECT @UCLink as [link]
	FOR JSON PATH
END
GO
