/****** Object:  StoredProcedure [dbo].[s_update_event_location]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_update_event_location]
(
	 @locationGUID VARCHAR(50) = ''
	,@GUID VARCHAR(50) = ''
	,@eventGUID VARCHAR(50) = ''
)
AS
IF @locationGUID <> '' AND @GUID <> ''
	UPDATE [dbo].[School_Events_Locations_XRef] SET [Location_GUID] = @locationGUID WHERE [GUID]  = @GUID
ELSE
	BEGIN
		SET @GUID = NEWID()
		INSERT INTO [dbo].[School_Events_Locations_XRef] ([Event_GUID],[GUID]) VALUES (@eventGUID,@GUID)
	END
DECLARE @Event_GUID VARCHAR(50)
SELECT @Event_GUID = [Event_GUID] FROM [dbo].[School_Events_Locations_XRef] WHERE [GUID]  = @GUID
SELECT dbo.fn_GetLocationDateTimeInfo(@Event_GUID)
GO
