/****** Object:  StoredProcedure [dbo].[s_get_voucher_orders_records]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_get_voucher_orders_records]
(
	  @Order_Number BIGINT = NULL
	, @searchField VARCHAR(50) = '' --Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'ASC'
	, @sortField VARCHAR(50) = 'Order_Number' --Possible valiues are Order_Number, Order_Received_Date, Order_Bill_To_Full_Name, Order_Email_Address, Voucher_Code, Voucher_Amount, Sent_DTM,  
	, @skip INT = 0 --The number of pages to skip
	, @pageSize INT = 15
	, @startDate DATETIME = NULL
	, @endDate DATETIME = NULL
	, @source VARCHAR(50) = 'ARC'
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ARC_Orders] if the parameter @Order_Number has a value or all records if null.
--##PD @Order_Number in [ARC_Orders].
--##RS1 One or all records from the table [ARC_Orders].

--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=9, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Order_Bill_To_Full_Name', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='7-1-2019', @EndDate='10-9-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Order_Bill_To_Full_Name', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='7-1-2019', @EndDate='10-9-2019', @skip=1, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--DECLARE @totalRecords INT; EXEC s_get_arc_orders_records @sortField='Sent_DTM', @sort = 'DESC', @searchField = 'Order_Email_Address', @searchTerm = '', @pageSize=15, @StartDate='9-9-2019', @EndDate='10-9-2019', @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
--EXEC s_get_voucher_orders_records @Order_Number = 4876412
--EXEC s_get_voucher_orders_records @Order_Number = 1082934
--EXEC s_get_voucher_orders_records @StartDate = '02/01/2020', @EndDate = '5/1/2020'
--EXEC s_get_voucher_orders_records @StartDate = '02/01/2020', @EndDate = '5/1/2020', @searchField = 'Order_Email_Address', @searchTerm ='paramedic_144@yahoo.com'
--EXEC s_get_voucher_orders_records @searchField='Order_Email_Address', @searchTerm='', @sort = 'ASC', @sortField='OrderSource', @Skip = 0, @StartDate = '5/3/2020', @EndDate = '6/2/2020'
--EXEC s_get_voucher_orders_records @Order_Number = 1318241

SET NOCOUNT ON
--Order_Number search overrides all search criteria
IF @Order_Number IS NOT NULL
	BEGIN
		SET @startDate = NULL
		SET @endDate = NULL
		SET @searchField = ''
		PRINT '@Order_Number IS NOT NULL'
		SELECT
		 [Order_Part_Number]
		,[Order_Quantity]
		,[Order_Received_Date] as [Order_Received_Date]
		,[Order_Void_Cancel_Date]
		,[Order_Number]
		,[Reference_Number]
		,[Order_Current_Status]
		,[Order_Student_Last_Name]
		,[Order_Student_First_Name]
		,[Order_Hold_Status]
		,[Order_Ship_To_Full_Name]
		,[Order_Ship_To_Address_1]
		,[Item_Code]
		,[Style_Code]
		,[Order_Email_Address]
		,[Order_Perm_Phone_2]
		,[Order_Perm_Add_State_Code]
		,[Order_Perm_Add_Zip_Code]
		,[Order_Perm_Add_City_Name]
		,[Order_Perm_Zip__4_Ext]
		,[Order_Perm_Zip_Extension]
		,[Order_Ship_To_Zip__4_Ext]
		,[Order_Ship_To_Zip_Ext]
		,[Order_Ship_To_Country]
		,[Order_Perm_Full_Name]
		,[Order_Perm_Address_1]
		,[Order_Perm_Phone_1]
		,[Order_Ship_To_Address_2]
		,[Order_Ship_To_Address_3]
		,[Order_Ship_To_Phone_1]
		,[Order_Ship_To_Phone_2]
		,[Order_Ship_To_State]
		,[Order_Ship_To_Zip_Code]
		,[Order_Bill_To_Full_Name]
		,[Order_Bill_To_Address_1]
		,[Order_Bill_To_Address_2]
		,[Order_Bill_To_City_Name]
		,[Order_Bill_To_State]
		,[Order_Bill_To_Zip_Code]
		,ISNULL([SMI],0) as [SMI]
		,[URL]
		,[Voucher_Code]
		,[Sent_DTM] -- GPT.[Sent_DTM] 
		,[QueueID]
		,[Svrp_Trans_ID]-- GPT.Silverpop_Response as [Svrp_Trans_ID]
		,[Voucher_Amount]-- X.Amount as [Voucher_Amount]
		,[Redeemed_Date]
		,[Redeemed_OrderID]
		,[OrderSource]
		,[Email_Name]
		--Possible valiues are Order_Number, Order_Received_Date, Order_Bill_To_Full_Name, Order_Email_Address, Voucher_Code, Voucher_Amount, Sent_DTM 
		,1 as RowNumber
		FROM [dbo].[vwVoucherOrders]
		--Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
		WHERE [Order_Number] = @Order_Number 
		OR @Order_Number = CASE WHEN OrderSource = 'Balfour.com' THEN CAST([increment_id] as BIGINT) ELSE 0 END

		END
	ELSE
		BEGIN

			IF @startDate IS NULL SET @startDate = '1-1-1900'
			IF @endDate IS NULL SET @endDate = DATEADD(d,1,GETDATE())

			SET @startDate = CAST(convert(varchar(10), @startDate, 101) as DATETIME)
			SET @endDate = CAST(convert(varchar(10), @endDate, 101) + ' 23:59:59' as DATETIME)

			DECLARE @startRow INT = 0
			DECLARE @endRow INT = 9999999

			SET @startRow = (@skip*@pageSize)+1
			SET @endrow = (@startRow+@pageSize)-1

			IF @sortField = '' SET @sortField = @searchField

			--Get the total count
			SELECT @totalRecords = COUNT(*)
			FROM [dbo].[vwVoucherOrders]
			WHERE ISNULL(Order_Bill_To_Full_Name,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Full_Name],'') END
					AND ISNULL([Order_Bill_To_Address_1],'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Address_1],'') END
					AND ISNULL([Order_Email_Address],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Email_Address],'') END
					AND [Order_Received_Date] BETWEEN CASE WHEN ISNULL(@searchTerm,'') <> '' THEN '1/1/1900' ELSE @StartDate END AND CASE WHEN ISNULL(@searchTerm,'') <> '' THEN GETDATE() ELSE @EndDate END

			

			PRINT '@TotalRecords = ' + CAST(@TotalRecords AS VARCHAR(15)) + ' @StartDate = ' + CAST(@StartDate as VARCHAR(50)) + ' @EndDate = ' + CAST(@EndDate as VARCHAR(50))

			IF @sort = 'DESC'
				BEGIN
					PRINT 'Sorting desc'
					; WITH SelectedRows AS (
					SELECT
					 [Order_Part_Number]
					,[Order_Quantity]
					,[Order_Received_Date] as [Order_Received_Date]
					,[Order_Void_Cancel_Date]
					,[Order_Number]
					,[Reference_Number]
					,[Order_Current_Status]
					,[Order_Student_Last_Name]
					,[Order_Student_First_Name]
					,[Order_Hold_Status]
					,[Order_Ship_To_Full_Name]
					,[Order_Ship_To_Address_1]
					,[Item_Code]
					,[Style_Code]
					,[Order_Email_Address]
					,[Order_Perm_Phone_2]
					,[Order_Perm_Add_State_Code]
					,[Order_Perm_Add_Zip_Code]
					,[Order_Perm_Add_City_Name]
					,[Order_Perm_Zip__4_Ext]
					,[Order_Perm_Zip_Extension]
					,[Order_Ship_To_Zip__4_Ext]
					,[Order_Ship_To_Zip_Ext]
					,[Order_Ship_To_Country]
					,[Order_Perm_Full_Name]
					,[Order_Perm_Address_1]
					,[Order_Perm_Phone_1]
					,[Order_Ship_To_Address_2]
					,[Order_Ship_To_Address_3]
					,[Order_Ship_To_Phone_1]
					,[Order_Ship_To_Phone_2]
					,[Order_Ship_To_State]
					,[Order_Ship_To_Zip_Code]
					,[Order_Bill_To_Full_Name]
					,[Order_Bill_To_Address_1]
					,[Order_Bill_To_Address_2]
					,[Order_Bill_To_City_Name]
					,[Order_Bill_To_State]
					,[Order_Bill_To_Zip_Code]
					,ISNULL([SMI],0) as [SMI]
					,[URL]
					,[Voucher_Code]
					,[Sent_DTM] -- GPT.[Sent_DTM] 
					,[QueueID]
					,[Svrp_Trans_ID]-- GPT.Silverpop_Response as [Svrp_Trans_ID]
					,[Voucher_Amount]-- X.Amount as [Voucher_Amount]
					,[Redeemed_Date]
					,[Redeemed_OrderID]
					,[OrderSource]
					,[Email_Name]
					--Possible valiues are Order_Number, Order_Received_Date, Order_Bill_To_Full_Name, Order_Email_Address, Voucher_Code, Voucher_Amount, Sent_DTM 
					,ROW_NUMBER() OVER (ORDER BY CASE @SortField 
					WHEN 'Order_Number' THEN RIGHT(REPLICATE('0',49) + CAST(Order_Number as VARCHAR(50)),50) 
					WHEN 'Order_Received_Date' THEN CASE WHEN [Order_Received_Date] IS NULL THEN '' ELSE FORMAT([Order_Received_Date], 'yyyyMMddHHmmss') END
					WHEN 'Order_Bill_To_Full_Name' THEN [Order_Bill_To_Full_Name] 
					WHEN 'Order_Bill_To_Address_1' THEN [Order_Bill_To_Address_1] 
					WHEN 'Order_Email_Address' THEN [Order_Email_Address] 
					WHEN 'Voucher_Amount' THEN CAST([Voucher_Amount] AS VARCHAR(50))
					WHEN 'Sent_DTM' THEN CASE WHEN [Sent_DTM] IS NULL THEN '' ELSE FORMAT([Sent_DTM], 'yyyyMMddHHmmss') END
					WHEN 'Voucher_Code' THEN [Voucher_code]
					WHEN 'OrderSource' THEN [OrderSource]
					END DESC) as RowNumber
					FROM [dbo].[vwVoucherOrders]
					--Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
					WHERE ISNULL(Order_Bill_To_Full_Name,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Full_Name],'') END
					AND ISNULL([Order_Bill_To_Address_1],'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Address_1],'') END
					AND ISNULL([Order_Email_Address],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Email_Address],'') END
					--AND [Order_Received_Date] BETWEEN @StartDate  AND @EndDate
					AND [Order_Received_Date] BETWEEN CASE WHEN ISNULL(@searchTerm,'') <> '' THEN '1/1/1900' ELSE @StartDate END AND CASE WHEN ISNULL(@searchTerm,'') <> '' THEN GETDATE() ELSE @EndDate END
					)
					SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow
					ORDER BY RowNumber

					
				END
			ELSE
				BEGIN
					PRINT 'Sorting asc'
					; WITH SelectedRows AS (
					SELECT
					 [Order_Part_Number]
					,[Order_Quantity]
					,[Order_Received_Date] as [Order_Received_Date]
					,[Order_Void_Cancel_Date]
					,[Order_Number]
					,[Reference_Number]
					,[Order_Current_Status]
					,[Order_Student_Last_Name]
					,[Order_Student_First_Name]
					,[Order_Hold_Status]
					,[Order_Ship_To_Full_Name]
					,[Order_Ship_To_Address_1]
					,[Item_Code]
					,[Style_Code]
					,[Order_Email_Address]
					,[Order_Perm_Phone_2]
					,[Order_Perm_Add_State_Code]
					,[Order_Perm_Add_Zip_Code]
					,[Order_Perm_Add_City_Name]
					,[Order_Perm_Zip__4_Ext]
					,[Order_Perm_Zip_Extension]
					,[Order_Ship_To_Zip__4_Ext]
					,[Order_Ship_To_Zip_Ext]
					,[Order_Ship_To_Country]
					,[Order_Perm_Full_Name]
					,[Order_Perm_Address_1]
					,[Order_Perm_Phone_1]
					,[Order_Ship_To_Address_2]
					,[Order_Ship_To_Address_3]
					,[Order_Ship_To_Phone_1]
					,[Order_Ship_To_Phone_2]
					,[Order_Ship_To_State]
					,[Order_Ship_To_Zip_Code]
					,[Order_Bill_To_Full_Name]
					,[Order_Bill_To_Address_1]
					,[Order_Bill_To_Address_2]
					,[Order_Bill_To_City_Name]
					,[Order_Bill_To_State]
					,[Order_Bill_To_Zip_Code]
					,ISNULL([SMI],0) as [SMI]
					,[URL]
					,[Voucher_Code]
					,[Sent_DTM] -- GPT.[Sent_DTM] 
					,[QueueID]
					,[Svrp_Trans_ID]-- GPT.Silverpop_Response as [Svrp_Trans_ID]
					,[Voucher_Amount]-- X.Amount as [Voucher_Amount]
					,[Redeemed_Date]
					,[Redeemed_OrderID]
					,[OrderSource]
					,[Email_Name]
					--Possible valiues are Order_Number, Order_Received_Date, Order_Bill_To_Full_Name, Order_Email_Address, Voucher_Code, Voucher_Amount, Sent_DTM 
					,ROW_NUMBER() OVER (ORDER BY CASE @SortField 
					WHEN 'Order_Number' THEN RIGHT(REPLICATE('0',49) + CAST(Order_Number as VARCHAR(50)),50) 
					WHEN 'Order_Received_Date' THEN CASE WHEN [Order_Received_Date] IS NULL THEN '' ELSE FORMAT([Order_Received_Date],'yyyyMMddHHmmss') END
					WHEN 'Order_Bill_To_Full_Name' THEN [Order_Bill_To_Full_Name] 
					WHEN 'Order_Bill_To_Address_1' THEN [Order_Bill_To_Address_1] 
					WHEN 'Order_Email_Address' THEN [Order_Email_Address] 
					WHEN 'Voucher_Amount' THEN CAST([Voucher_Amount] AS VARCHAR(50))
					WHEN 'Sent_DTM' THEN CASE WHEN [Sent_DTM] IS NULL THEN '' ELSE FORMAT([Sent_DTM], 'yyyyMMddHHmmss') END
					WHEN 'Voucher_Code' THEN [Voucher_code]
					WHEN 'OrderSource' THEN [OrderSource]
					END ASC) as RowNumber
					FROM [dbo].[vwVoucherOrders]
					--Possible values are Order_Bill_To_Full_Name, Order_Bill_To_Address_1, Order_Email_Address
					WHERE ISNULL(Order_Bill_To_Full_Name,'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Full_Name' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Full_Name],'') END
					AND ISNULL([Order_Bill_To_Address_1],'') LIKE CASE WHEN @searchField = 'Order_Bill_To_Address_1' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Bill_To_Address_1],'') END
					AND ISNULL([Order_Email_Address],'') LIKE CASE WHEN @searchField = 'Order_Email_Address' THEN '%' + @searchTerm + '%' ELSE ISNULL([Order_Email_Address],'') END
					AND [Order_Received_Date] BETWEEN @StartDate  AND @EndDate
					)
					SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow
					ORDER BY RowNumber
					
				END

		END
GO
