/****** Object:  StoredProcedure [dbo].[s_get_conditionalcontent_records]    Script Date: 2/18/2026 4:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/5/2019 - TL
*/
CREATE PROCEDURE [dbo].[s_get_conditionalcontent_records]
(
	  @ID INT = NULL
	, @searchField VARCHAR(50) = '' --Name, Description, Element
	, @searchTerm VARCHAR(100) = ''
	, @sort VARCHAR(4) = 'DESC'
	, @sortField VARCHAR(50) = 'ID'
	, @skip INT = 0--The number of pages to skip
	, @pageSize INT = 15
	, @totalRecords INT = 0 OUT
)
AS
--##AT AAC
--##BD Retrieves all records from the table [ConditionalContent] if the parameter @ID has a value or a list of records if null.
--##PD @ID in [ConditionalContent].
--##PD @searchField - The field to search on (Element)
--##PD @searchTerm - The term to be searched for using 'contains' logic
--##PD @sort - Either DESC, ASC or empty for ASC
--##PD @sortField - The field to sort on - defaults to [ID]
--##PD @skip - The number of pages to skip
--##PD @pageSize - The number of rows to show per page
--##PD @totalRecords - Output parameter showing the number of records returned by the search
--##RS1 One or a list of records from the table [ConditionalContent].

--DECLARE @totalRecords INT; EXEC s_get_conditionalcontent_records @searchField = 'ID', @searchTerm = '', @pageSize=15, @skip=0, @totalRecords=@totalREcords OUT; SELECT @totalRecords
SET NOCOUNT ON
--Setting a key value overrides everything else
IF @ID IS NOT NULL
	BEGIN
		SET @searchField = ''
		SELECT
		 ISNULL([Name],'') as [Name]
		,ISNULL([Description],'') as [Description]
		,[Placement] --0=Repalce; 1=Before; 2=After
		,CASE [Placement] WHEN 0 THEN 'Replace' WHEN 1 THEN 'Before' WHEN 2 THEN 'After' ELSE 'Replace' END as [PlacementLabel]
		,[PositiveTestPage]
		,[NegativeTestPage]
		,[ID]
		,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([StartDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [StartDate]
		,CASE WHEN [EndDate] IS NOT NULL THEN Format(dbo.fn_DateTime_to_Central([EndDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [EndDate]
		,[Enabled]
		,[GUID]
		,[HTMLContent]
		,[JavaScript]
		,[JSTrigger]
		,[Element]
		,FORMAT(dbo.fn_DateTime_to_Central([Created]),'MM/dd/yyyy hh:mm:ss tt') as [Created]
		,FORMAT(dbo.fn_DateTime_to_Central([LastModified]),'MM/dd/yyyy hh:mm:ss tt') as [LastModified]
		,dbo.fn_ConditionalContentURLs([GUID]) as [URLList]
		,DisplayType
		,DisplayLocation
		,DisplayOrder,
		(SELECT ISNULL(STRING_AGG(SMI, ','), '') AS SMIs FROM ConditionalContentSMIs ccs WHERE ccs.ConditionalContentID = cc.ID) AS SMIs
		FROM [ConditionalContent] cc
		WHERE cc.[ID] = @ID

		SELECT @totalRecords = COUNT(*) FROM [dbo].[ConditionalContent]
		WHERE[ID] = @ID
	END
ELSE
	BEGIN
		DECLARE @startRow INT = 0
		DECLARE @endRow INT = 9999999


		SET @startRow = (@skip * @pageSize) + 1
		SET @endrow = (@startRow + @pageSize) - 1

		IF @sortField = '' SET @sortField = @searchField

		--Get the total count
		SELECT @totalRecords = COUNT(*)
		FROM [ConditionalContent]
		WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
		AND ISNULL([Element],'') LIKE CASE WHEN @searchField = 'Element' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Element],'') END
		AND ISNULL([Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Name],'') END
		AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END

		IF @sort = 'DESC'
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 ISNULL([Name],'') as [Name]
				,ISNULL([Description],'') as [Description]
		        ,[Placement]
				,CASE [Placement] WHEN 0 THEN 'Replace' WHEN 1 THEN 'Before' WHEN 2 THEN 'After' ELSE 'Replace' END as [PlacementLabel]
				,[PositiveTestPage]
				,[NegativeTestPage]
				,[ID]
				,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([StartDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [StartDate]
				,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([EndDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [EndDate]
				,[Enabled]
				,[GUID]
				,[HTMLContent]
				,[JavaScript]
				,[JSTrigger]
				,[Element]
				,FORMAT(dbo.fn_DateTime_to_Central([Created]),'MM/dd/yyyy hh:mm:ss tt') as [Created]
				,FORMAT(dbo.fn_DateTime_to_Central([LastModified]),'MM/dd/yyyy hh:mm:ss tt') as [LastModified]
				,dbo.fn_ConditionalContentURLs([GUID]) as [URLList]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Element' THEN [Element] WHEN 'Name' THEN [Name] WHEN 'Description' THEN [Description] END DESC) as RowNumber
				FROM [dbo].[ConditionalContent]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Element],'') LIKE CASE WHEN @searchField = 'Element' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Element],'') END
				AND ISNULL([Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Name],'') END
				AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END
		ELSE
			BEGIN
 				; WITH SelectedRows AS (
				SELECT
				 ISNULL([Name],'') as [Name]
				,ISNULL([Description],'') as [Description]
		        ,[Placement]
				,CASE [Placement] WHEN 0 THEN 'Replace' WHEN 1 THEN 'Before' WHEN 2 THEN 'After' ELSE 'Replace' END as [PlacementLabel]
				,[PositiveTestPage]
				,[NegativeTestPage]
				,[ID]
				,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([StartDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [StartDate]
				,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([EndDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [EndDate]
				,[Enabled]
				,[GUID]
				,[HTMLContent]
				,[JavaScript]
				,[JSTrigger]
				,[Element]
				,FORMAT(dbo.fn_DateTime_to_Central([Created]),'MM/dd/yyyy hh:mm:ss tt') as [Created]
				,FORMAT(dbo.fn_DateTime_to_Central([LastModified]),'MM/dd/yyyy hh:mm:ss tt') as [LastModified]
				,dbo.fn_ConditionalContentURLs([GUID]) as [URLList]
				,ROW_NUMBER() OVER (ORDER BY CASE @SortField WHEN 'ID' THEN RIGHT(REPLICATE('0',49) + CAST([ID] AS VARCHAR(50)),50) WHEN 'Element' THEN [Element] WHEN 'Name' THEN [Name] WHEN 'Description' THEN [Description] END) as RowNumber
				FROM [dbo].[ConditionalContent]
				WHERE [ID] = CASE WHEN @ID IS NULL THEN [ID] ELSE @ID END
				AND ISNULL([Element],'') LIKE CASE WHEN @searchField = 'Element' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Element],'') END
				AND ISNULL([Name],'') LIKE CASE WHEN @searchField = 'Name' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Name],'') END
				AND ISNULL([Description],'') LIKE CASE WHEN @searchField = 'Description' THEN '%' + REPLACE(@searchTerm, ' ','_') + '%' ELSE ISNULL([Description],'') END
				)
				SELECT * FROM SelectedRows WHERE RowNumber between @startRow AND @endRow ORDER BY RowNumber
			END

	END
GO
