/****** Object:  StoredProcedure [dbo].[s_managed_upsell_cart_PIM_columns_import]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:     Tramel Jones
-- Create Date: 04/27/21
-- Description: Update the PIM column values for managed upsell dropdown menus
-- =============================================
CREATE PROCEDURE [dbo].[s_managed_upsell_cart_PIM_columns_import]
(
	@DEBUG BIT = 0 
)
AS
BEGIN
	-- EXEC s_managed_upsell_cart_PIM_columns_import
	-- select * from cart_magento_managed_upsell_columns
	-- select * from cart_PIM_managed_upsell_columns

    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	DROP TABLE IF EXISTS cart_PIM_managed_upsell_columns_import

	select * INTO cart_PIM_managed_upsell_columns_import 
	FROM cart_PIM_managed_upsell_columns
	where 0 = 1

	insert into cart_PIM_managed_upsell_columns_import (PIMColumnName, PIMColumnValue)
	select distinct top 10
		CASE WHEN tagtype LIKE 'a_%'
			THEN
				RIGHT(tagtype, LEN(tagtype) - CHARINDEX('a_', tagtype) - 1)
			ELSE 
				tagtype
			END AS [PIMColumnName],
		TagValue AS [PIMColumnValue]
		-- , tagtype
	from itemattributes
	where tagvalue is not null 
	and tagvalue <> ''
	AND tagtype <> 'a_ShortDescription'
	AND tagtype <> 'a_LongDescription'
	AND tagtype <> 'a_LastUpdatetimestampNetSuite'
	AND tagtype <> 'a_BoomiLastAttemptTimeStamp'
	AND tagtype <> 'a_BoomiLastAttemptTimeStampNS'
	AND tagtype <> 'a_BalfourPrimaryImages'
	AND tagtype <> 'a_ArtcarvedPrimaryImages'
	AND tagtype <> 'a_PrimaryImageID'
	AND tagtype <> 'a_MagentoStatusUpdateddate'
	AND tagtype <> 'a_ItemPath'
	AND tagtype <> 'a_EAPL'
	AND tagtype <> 'a_IsArtCarvedReady'
	AND tagtype <> 'a_Metal1MetalFineness'
	AND tagtype <> 'a_PeakDate'
	AND tagtype <> 'a_AAFESStatusUpdateTS'
	AND tagtype <> 'a_FinishedWeight'
	AND tagtype <> 'a_ProductFirstApprovedDate'
	AND tagtype <> 'a_ExpirationDate'
	AND tagtype <> 'a_EstDelDate'
	AND tagtype <> 'a_DropShip'
	AND tagtype <> 'a_DesignPerfFeat'
	AND tagtype <> 'a_PaymentPlan'
	AND tagtype <> 'a_Manufacturer'
	AND tagtype <> 'a_AvailabilityDate'
	AND tagtype <> 'a_MAP'
	AND tagtype <> 'a_VendorWarr'
	AND tagtype <> 'a_ProductName'
	AND tagtype <> 'a_SupplierUPC'
	AND tagtype <> 'a_JewelryProdLen'
	AND tagtype <> 'a_ProductLastApprovedDate'
	AND tagtype <> 'a_ShippingOrigin'
	AND tagtype <> 'a_JewelryProdWidth'
	AND tagtype <> 'a_BalfourAlternateImages'
	AND tagtype <> 'a_Retail'
	AND tagtype <> 'a_Cost'
	AND tagtype <> 'a_DSVendorSku'
	AND tagtype <> 'a_Weightgr'
	AND tagtype <> 'a_BalfourHierarchy'
	AND tagtype <> 'ItemPath'
	AND tagtype <> 'a_Metal1JlryMetalWt'
	AND tagtype <> 'a_ChainColor'
	AND tagtype <> 'a_ItemCode'
	AND tagtype <> 'a_ShipLeadTime'
	AND tagtype <> 'NetSuiteStatusUpdateddate'
	AND tagtype <> 'a_ManfSystem'
	AND tagtype <> 'a_IsMagentoReady'
	AND tagtype <> 'a_Metal1MetalCost'
	AND tagtype <> 'a_PendWid'
	AND tagtype <> 'a_SetItem1Wid'
	AND tagtype <> 'a_Stn1StoneQty'
	AND tagtype <> 'a_NetSuiteVendorID'
	AND tagtype <> 'a_Stn1PearlClass'
	AND tagtype <> 'LastUpdatetimestamp'
	AND tagtype <> 'a_Stn1StoneShape'
	AND tagtype <> 'a_ArtcarvedImagePath'
	AND tagtype <> 'a_Procurement'
	AND tagtype <> 'a_FingerSize'
	AND tagtype <> 'LastUpdatetimestampNetSuite'
	AND tagtype <> 'a_NSItemType'
	AND tagtype <> 'a_ExpShip'
	AND tagtype <> 'a_PricedBalfour'
	AND tagtype <> 'a_InMagento'
	AND tagtype <> 'a_RecordStatus'
	AND tagtype <> 'MagentoStatusUpdateddate'
	AND tagtype <> 'LastUpdatetimestampNetSuite'
	AND tagtype <> 'a_BalfourMVPImagePath'
	AND tagtype <> 'a_SizesOffered'
	AND tagtype <> 'a_BalfourImagePath'
	AND tagtype <> 'a_ArtcarvedHierarchy'
	AND tagtype <> 'a_OutdoorFuncFeat'
	AND tagtype <> 'a_OutdoorType'
	AND tagtype <> 'a_MSRP'
	AND tagtype <> 'a_ProductApproalCounter'
	AND tagtype <> 'a_LicenseTypeOther'
	AND tagtype <> 'a_HandleDropLen'
	AND tagtype <> 'a_SKUID'
	AND tagtype <> 'a_BaleType'
	AND tagtype <> 'a_AmazonImagePath'
	AND tagtype <> 'a_UK_BaanCustomerNumber'
	AND tagtype <> 'a_AmazonImagePath'
	AND tagtype <> 'a_ArtcarvedAlternateImages'
	AND tagtype <> 'a_PocketQty'
	AND tagtype <> 'a_SizeLetter'
	AND tagtype <> 'a_EstShipCost'
	AND tagtype <> 'a_JewelryProdHeight'
	AND tagtype <> 'a_ProdDepth'
	AND tagtype <> 'a_AAFESBoomiLastAttempt'
	AND tagtype <> 'a_1_a_Pers1Required'
	AND tagtype <> 'a_ACBoomiLastAttempt'
	AND tagtype <> '1_a_Pers1Required'
	AND tagtype <> 'a_1_a_Pers1Required'
	AND tagtype <> 'a_1_a_Pers1Required'
	AND tagtype <> 'a_1_a_Pers1Required'



		-- EXEC s_managed_upsell_cart_PIM_columns_import; select * from cart_PIM_managed_upsell_columns


	order by 
	CASE WHEN tagtype LIKE 'a_%'
	THEN
		RIGHT(tagtype, LEN(tagtype) - CHARINDEX('a_', tagtype) - 1)
	ELSE 
		tagtype
	END 

	--Get a count
	DECLARE @CntNew INT, @CntOld INT, @LastUpdate VARCHAR(50)
	SELECT @CntNew = COUNT(*) FROM [dbo].[cart_PIM_managed_upsell_columns_import]
	SELECT @CntOld = COUNT(*) FROM [dbo].[cart_PIM_managed_upsell_columns]
	IF @CntNew >= 0.75*(@CntOld)
		BEGIN
			-- Crazy Ivan
			DROP TABLE IF EXISTS cart_PIM_managed_upsell_columns_rollback
			EXEC sp_rename 'cart_PIM_managed_upsell_columns', 'cart_PIM_managed_upsell_columns_rollback'
			EXEC sp_rename 'cart_PIM_managed_upsell_columns_import', 'cart_PIM_managed_upsell_columns'

			--Update the last updated attribute
			SET @LastUpdate = FORMAT(dbo.fn_DateTime_to_Central (GETDATE()), 'MM/dd/yyyy hh:mm tt')
			EXEC [dbo].[s_update_extendedprop_on_table] @TableName = 'cart_PIM_managed_upsell_columns', @AttribName = 'LastUpdate', @Value = @LastUpdate
		END
	ELSE
		PRINT 'Not enough records'

END
GO
