/****** Object:  StoredProcedure [dbo].[s_update_conditionalcontent_record]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
* [Created] 11/5/2019 - TL.
*/
CREATE PROCEDURE [dbo].[s_update_conditionalcontent_record]
(
 @Name VARCHAR(100) = NULL
,@Description VARCHAR(500) = NULL
,@Element NVARCHAR(200) = NULL
,@PositiveTestPage VARCHAR(300) = NULL
,@NegativeTestPage VARCHAR(300) = NULL
,@Enabled BIT = NULL
,@EndDate VARCHAR(50) = NULL
,@GUID VARCHAR(50) = NULL
,@HTMLContent NVARCHAR(MAX) = NULL
,@ID INT = NULL
,@JavaScript NVARCHAR(MAX) = NULL
,@JSTrigger NVARCHAR(MAX) = NULL
,@Placement SMALLINT = NULL
,@PlacementLabel VARCHAR(50) = NULL
,@URLList VARCHAR(MAX) = NULL
,@Created VARCHAR(50) = NULL
,@LastUpdated VARCHAR(50) = NULL
,@StartDate VARCHAR(50) = NULL
,@DisplayType VARCHAR(50) = 'Shop'
,@DisplayLocation VARCHAR(50) = NULL
,@DisplayOrder TINYINT = NULL
,@SMIs VARCHAR(MAX) = NULL
,@ID_OUT INT = NULL OUT
)
AS
SET NOCOUNT ON
--##AT AAC
--##BD Inserts or updates a record in the table [ConditionalContent].
--##RS1 The [ID] value of the inserted/updated record in the table [ConditionalContent].

IF ISNULL(@ID,0) = 0 --Insert
  BEGIN
	SET @HTMLContent = N'
		<style>
		.hsr-banner-img {
			width: 100%;
			max-width: 1170px;
			margin: 20px auto;
		}
		.hsr-banner-img-lg {
			display:block;
		}
		.hsr-banner-img-lg img {
			width:100%;
		}
		.hsr-banner-img-sm {
			display: none;
		}
		.hsr-details {
			background-color:#fff;
			font-size:12px;
			line-height:15px;
			background-color: #fff;
			padding: 12px 20px 0 20px;
			display: inline-block;
		}
		.ks-hide {
			display:none;
		}
		.details-button {
			text-align: right;
			font-size:13px;
			font-weight:500;
			padding:5px 5px 0 0;
			text-decoration:underline;
			font-family: proxima-nova,sans-serif;
			cursor:pointer;
		}
		.details-button-close {
			margin-top: 10px;
			float: right;
			height: 16px;
			width: 16px;
			cursor:pointer;
		}
		@media screen and (max-width:750px) {
			.hsr-banner-img-lg {
				display: none
			}
			.hsr-banner-img {
				width: 100%;
				max-width:750px;
				margin: 20px auto;
			}
			.hsr-banner-img-sm {
				display:block;
			}
			.hsr-banner-img-sm img {
				width:100%;
			}
		}
		</style>
		<div class="row hsr-banner-img">
			Content for conditional content with the GUID ~GUID~ goes here.
		</div>
		'
    INSERT INTO [ConditionalContent] 
	(
		[Name],[Description],[Placement],[StartDate],[EndDate],[Enabled],[GUID],[HTMLContent],[JavaScript],[JSTrigger],[Element],
		[PositiveTestPage],[NegativeTestPage],[Created],[LastModified],
		[DisplayType], [DisplayLocation], [DisplayOrder]
	)
    VALUES 
	( 
		@Name,@Description,@Placement,CASE WHEN @StartDate IS NULL OR @StartDate = '' THEN NULL ELSE dbo.fn_DateTime_to_Zulu(CAST(@StartDate AS DATETIME)) END, 
		CASE WHEN @EndDate IS NULL OR @EndDate = '' THEN NULL ELSE dbo.fn_DateTime_to_Zulu(CAST(@EndDate AS DATETIME)) END,
		@Enabled,NEWID(),@HTMLContent,@JavaScript,@JSTrigger,@Element,@PositiveTestPage,@NegativeTestPage,GETDATE(), GETDATE(),
		@DisplayType, @DisplayLocation, @DisplayOrder
	)
    
	SELECT @ID_Out = SCOPE_IDENTITY()
  END
ELSE
  BEGIN
    UPDATE [ConditionalContent] SET
	 [Name] = CASE WHEN @Name IS NULL THEN [Name] ELSE @Name END
	,[Description] = CASE WHEN @Description IS NULL THEN [Description] ELSE @Description END
    ,[Placement] = CASE WHEN @Placement IS NULL THEN [Placement] ELSE @Placement END
	,[PositiveTestPage] = CASE WHEN @PositiveTestPage IS NULL THEN [PositiveTestPage] ELSE @PositiveTestPage END
	,[NegativeTestPage] = CASE WHEN @NegativeTestPage IS NULL THEN [NegativeTestPage] ELSE @NegativeTestPage END
    ,[StartDate] = CASE WHEN @StartDate IS NULL THEN [StartDate] WHEN @StartDate = '' THEN NULL ELSE dbo.fn_DateTime_to_Zulu(CAST(@StartDate as DATETIME)) END
    ,[EndDate] = CASE WHEN @EndDate IS NULL THEN [EndDate] WHEN @EndDate = '' THEN NULL ELSE dbo.fn_DateTime_to_Zulu(CAST(@EndDate as DATETIME)) END
    ,[Enabled] = CASE WHEN @Enabled IS NULL THEN [Enabled] ELSE @Enabled END
    --,[GUID] = CASE WHEN @GUID IS NULL THEN [GUID] ELSE @GUID END
    ,[HTMLContent] = CASE WHEN @HTMLContent IS NULL THEN [HTMLContent] ELSE @HTMLContent END
    ,[JavaScript] = CASE WHEN @JavaScript IS NULL THEN [JavaScript] ELSE @JavaScript END
    ,[JSTrigger] = CASE WHEN @JSTrigger IS NULL THEN [JSTrigger] ELSE @JSTrigger END
    ,[Element] = CASE WHEN @Element IS NULL THEN [Element] ELSE @Element END
	,[LastModified] = GETDATE()
	,[DisplayType] = @DisplayType
	,[DisplayLocation] = @DisplayLocation
	,[DisplayOrder] = @DisplayOrder
      WHERE [ID] = @ID
    SELECT @ID_Out = @ID
  END

  IF @SMIs IS NOT NULL
	BEGIN
		INSERT INTO ConditionalContentSMIs
		(
			SMI,
			ConditionalContentID
		)
		SELECT
			CAST(LTRIM(RTRIM(value)) as bigint) as SMI,
			@ID_Out
		FROM STRING_SPLIT(@SMIs, ',')
		WHERE 
			ISNUMERIC(LTRIM(RTRIM(value))) = 1
			AND NOT EXISTS (SELECT TOP 1 1 FROM ConditionalContentSMIs WHERE ConditionalContentID = @ID_Out AND SMI = CAST(LTRIM(RTRIM(value)) as bigint))

		DELETE FROM ConditionalContentSMIs WHERE ConditionalContentID = @ID_Out AND SMI NOT IN (SELECT CAST(LTRIM(RTRIM(value)) as bigint) FROM STRING_SPLIT(@SMIs, ',') WHERE ISNUMERIC(LTRIM(RTRIM(value))) = 1)
	END

  SELECT
     [ID]
    ,[Name]
	,[Description]
    ,[Placement]
	,[PositiveTestPage]
	,[NegativeTestPage]
    ,CASE WHEN [StartDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([StartDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [StartDate]
	,CASE WHEN [EndDate] IS NOT NULL THEN FORMAT(dbo.fn_DateTime_to_Central([EndDate]),'MM/dd/yyyy hh:mm:ss tt') ELSE '' END AS [EndDate]
    ,[Enabled]
    ,[GUID]
    ,[HTMLContent]
    ,[JavaScript]
    ,[JSTrigger]
    ,[Element]
	,FORMAT(dbo.fn_DateTime_to_Central([Created]),'MM/dd/yyyy hh:mm:ss tt') AS [Created]
	,FORMAT(dbo.fn_DateTime_to_Central([LastModified]),'MM/dd/yyyy hh:mm:ss tt') AS [LastModified]
	,DisplayType
	,DisplayLocation
	,DisplayOrder
	,(SELECT ISNULL(STRING_AGG(SMI, ','), '') AS SMIs FROM ConditionalContentSMIs ccs WHERE ccs.ConditionalContentID = cc.ID) AS SMIs
	FROM dbo.[ConditionalContent] cc
    WHERE cc.[ID] = @ID_Out
GO
