/****** Object:  StoredProcedure [dbo].[s_update_gts_smi_xref]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Brian S. Tozer
-- Create Date: 2/26/2020
-- Description: Builds XREF between GTS and SMI.
-- =============================================
CREATE PROCEDURE [dbo].[s_update_gts_smi_xref]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

	
-- This corrects for a data type error from a mistake in a zip code.
Drop Table [dbo].[B_SMISchooMasterIndexList]
SELECT [ID]
      ,[Name]
      ,[School City]
      ,[State Code]
      ,[School State]
      ,[Address1]
      ,[Address2]
      ,CASE WHEN [School Zip Code] = '463O2' then '46032' else [School Zip Code] END as [School Zip Code]
      ,[County]
      ,[Country]
      ,[Date Created]
      ,[Date_Updated]
	  INTO [dbo].[B_SMISchooMasterIndexList]
  FROM [dbo].[SMISchoolMasterIndexList]


	-- GTS to SMI 01 - Sets up VERY loose guidelines for potential matches:
	-- Potential matches must have the same Zip3 (usually state and county) and (similar names or matching street numbers).
	-- This step takes well over an hour to run. 
	-- Expect close to 2.3 million results.
    DROP Table dbo.B_GTS_to_SMI_Contenders
SELECT        C.GTSClientID
            , C.GTSName
			, C.B_GTSMatchName
			, C.GTSAddress
			, dbo.StdStreet(C.GTSAddress) as GTS_StdAddress
			, C.GTSStreetNumbers, C.GTSStreetName
			, C.GTSCity
			, C.GTSState
			, C.GTSZip, C.GTSZip5
			, C.GTSZip3
			, C.[Status] AS MasterStatus
			, M.SMIMasterOrgID
			, M.SMIName
			, B_SMIMatchName
			, SMIAddress
			, dbo.StdStreet(SMIAddress) as SMI_StdAddress
			, M.SMIStreetNumbers
			, M.SMIStreetName
			, M.SMICity
			, M.SMIState
			, M.SMIZip
			, M.SMIZip5
			, getdate() as LastUpdate
			INTO dbo.B_GTS_to_SMI_Contenders
FROM            dbo.View_B_Org_GTSClientID_01_Clients AS C INNER JOIN
                         dbo.View_B_Org_SMIMasterOrgID_01_SMISchoolMasterIndexList AS M ON C.GTSZip3 = M.SMIZip3
                         AND
                         (dbo.Levenshtein(C.B_GTSMatchName, M.B_SMIMatchName, 255) <= (len(C.B_GTSMatchName)+len(M.B_SMIMatchName))/3 OR
						 dbo.IsSubString(C.B_GTSMatchName,M.B_SMIMatchName)=1
						 OR C.GTSStreetNumbers = M.SMIStreetNumbers)

		-- GTS TO SMI 01b
		-- This creates scores for the school names and addresses to be used for determining match/no match types of decisions.

		DROP Table dbo.B_GTS_to_SMI_Contenders2
SELECT        GTSClientID
            , GTSName
			, B_GTSMatchName
			, GTSAddress
			, GTS_StdAddress
			, GTSStreetNumbers, GTSStreetName
			, GTSCity
			, GTSState
			, GTSZip, GTSZip5
			, GTSZip3
			, MasterStatus
			, SMIMasterOrgID
			, SMIName
			, B_SMIMatchName
			, SMIAddress
			, SMI_StdAddress
			, SMIStreetNumbers
			, SMIStreetName
			, SMICity
			, SMIState
			, SMIZip
			, SMIZip5
			, left(SMIZip5,3) as SMIZip3
			, dbo.Levenshtein(GTS_StdAddress,SMI_StdAddress, 255) AS AddressCharDiff
			, dbo.IsSubString(GTS_StdAddress, SMI_StdAddress) AS AddressIsSubString
			, 100 * (dbo.MaxValue(LEN(GTS_StdAddress), LEN(SMI_StdAddress)) - dbo.Levenshtein(GTS_StdAddress, 
                         SMI_StdAddress, 255)) / dbo.MaxValue(LEN(GTS_StdAddress), LEN(SMI_StdAddress)) AS AddressMatchPercent, dbo.Levenshtein(B_GTSMatchName, trim(B_SMIMatchName), 255) AS NameCharDiff
			, dbo.IsSubString(trim(B_GTSMatchName), trim(B_SMIMatchName)) 
                 AS NameIsSubString
			, 100 * (dbo.MaxValue(LEN(trim(B_GTSMatchName)), LEN(trim(B_SMIMatchName))) - dbo.Levenshtein(trim(B_GTSMatchName), 
                         trim(B_SMIMatchName), 255)) / dbo.MaxValue(LEN(trim(B_GTSMatchName)), LEN(trim(B_SMIMatchName))) AS NameMatchPercent
			, getdate() as LastUpdate
			
			INTO dbo.B_GTS_to_SMI_Contenders2
FROM            dbo.B_GTS_to_SMI_Contenders
						 
	-- GTS TO SMI 02
	-- This refines the match scores and applies the first cutoff for match criteria.
	-- This cuts the number of records down from 2.3 million to about 123,000
DROP Table dbo.B_GTS_to_SMI_Contenders_PotentialMatches
SELECT        GTSClientID
            , GTSName
			, B_GTSMatchName
			, GTSAddress
			, GTSStreetNumbers, GTSStreetName
			, GTSCity
			, GTSState
			, GTSZip, GTSZip5
			, GTSZip3
			, MasterStatus
			, SMIMasterOrgID
			, SMIName
			, B_SMIMatchName
			, SMIAddress
			, SMIStreetNumbers
			, SMIStreetName
			, SMICity
			, SMIState
			, SMIZip
			, SMIZip5
			, SMIZip3			
			, AddressCharDiff
			, AddressIsSubString
			, AddressMatchPercent
			, dbo.MaxValue([AddressMatchPercent],90*[AddressIsSubstring]) as AddressMatchPercent2
			, NameCharDiff
			, NameIsSubString
			, NameMatchPercent
			, dbo.MaxValue([NameMatchPercent],90*[NameIsSubstring]) as NameMatchPercent2
			, ROUND((((1 * 100 * AddressIsSubString + 2 * AddressMatchPercent) + 1 * 100 * NameIsSubString) + 3 * NameMatchPercent) / 7, 2) AS MatchScore
			, ROUND((((1 * 100 * AddressIsSubString + 2 * dbo.MaxValue([AddressMatchPercent],90*[AddressIsSubstring])) + 1 * 100 * NameIsSubString) + 3 * dbo.MaxValue([NameMatchPercent],90*[NameIsSubstring])) / 7, 2) AS MatchScore2
			, getdate() as LastUpdate

			INTO dbo.B_GTS_to_SMI_Contenders_PotentialMatches
FROM            dbo.B_GTS_to_SMI_Contenders2
WHERE (NameIsSubstring>0 or NameMatchPercent>50) or(AddressIsSubString>0 or AddressMatchPercent>50)


-- Apply Haversine Great-Circle Distance Formula to give distance between zip code of GTS and SMI in the potential matches.



UPDATE dbo.B_GTS_to_SMI_Contenders_PotentialMatches
SET SMIZIP = '46302'
  , SMIZip5= '46302'
FROM dbo.B_GTS_to_SMI_Contenders_PotentialMatches
WHERE SMIZip5='463O2'


DROP Table dbo.B_GTS_to_SMI_Contenders_PotentialMatches2

SELECT  [GTSClientID]
      ,P.[GTSName]
      ,P.[B_GTSMatchName]
      ,P.[GTSAddress]
      ,P.[GTSStreetNumbers]
      ,P.[GTSStreetName]
      ,P.[GTSCity]
      ,P.[GTSState]
      ,P.[GTSZip]
      ,P.[GTSZip5]
      ,P.[GTSZip3]
      ,P.[MasterStatus]
      ,P.[SMIMasterOrgID]
      ,P.[SMIName]
      ,P.[B_SMIMatchName]
      ,P.[SMIAddress]
      ,P.[SMIStreetNumbers]
      ,P.[SMIStreetName]
      ,P.[SMICity]
      ,P.[SMIState]
      ,P.[SMIZip]
      ,P.[SMIZip5]
      ,P.[SMIZip3]
      ,P.[AddressCharDiff]
      ,P.[AddressIsSubString]
      ,P.[AddressMatchPercent]
      ,P.[AddressMatchPercent2]
      ,P.[NameCharDiff]
      ,P.[NameIsSubString]
      ,P.[NameMatchPercent]
      ,P.[NameMatchPercent2]
      ,P.[MatchScore]
      ,P.[MatchScore2]
	  ,dbo.DistanceBetweenZips(Z1.Latitude*pi()/180,Z1.Longitude*pi()/180,Z2.Latitude*pi()/180,Z2.Longitude*pi()/180) as EstimatedDistance
	  , getdate() as LastUpdate
	  INTO dbo.B_GTS_to_SMI_Contenders_PotentialMatches2

 FROM            dbo.B_GTS_to_SMI_Contenders_PotentialMatches AS P LEFT OUTER JOIN
                         dbo.[us-zip-code-latitude-and-longitude] as Z2 ON CAST(coalesce(P.SMIZip5,0) as varchar) = Z2.Zip LEFT OUTER JOIN
                         dbo.[us-zip-code-latitude-and-longitude] AS Z1 ON CAST(coalesce(P.GTSZip5,0) as varchar) = Z1.Zip
WHERE len(P.SMIZip5)<=5 and len(P.GTSZip5)<=5




	-- GTS to SMI 03
	-- This is the first attempt to trim down the potential matches to realistic match contenders.
	-- This results in about 7K potential matches.
DROP TABLE [dbo].[B_GTS_to_SMI_XREF_Detail_Temp]
SELECT [GTSClientID]
      ,[SMIMasterOrgID]
      ,[GTSName]
	  ,[SMIName]
      ,[B_SMIMatchName]
      ,[B_GTSMatchName]
      ,[GTSAddress]
	  ,[SMIAddress]
      ,[GTSStreetNumbers]	  
      ,[SMIStreetNumbers]
      ,[GTSStreetName]
	  ,[SMIStreetName]
      ,[GTSCity]
	  ,[SMICity]
      ,[GTSState]
	  ,[SMIState]
      ,[GTSZip]
	  ,[SMIZip]
      ,[GTSZip5]
	  ,[SMIZip5]
      ,[GTSZip3]
	  ,[SMIZip3]
      ,[MasterStatus]
      ,[AddressCharDiff]
      ,[AddressIsSubString]
      ,[AddressMatchPercent]
	  ,[AddressMatchPercent2]
      ,[NameCharDiff]
      ,[NameIsSubString]
      ,[NameMatchPercent]
	  ,[NameMatchPercent2]
	  ,[MatchScore]
	  ,[MatchScore2]
	  ,[EstimatedDistance]
	  , getdate() as LastUpdate
	  ,CASE WHEN [MatchScore2] >=95 then 'Exact Match' else 'Potential Match' END as MatchResult
	  INTO [dbo].[B_GTS_to_SMI_XREF_Detail_Temp]
  FROM [dbo].[B_GTS_to_SMI_Contenders_PotentialMatches2]
  --WHERE (NameIsSubstring>0 or NameMatchPercent2>85) or(AddressIsSubString>0 or AddressMatchPercent2>85)
  WHERE ((NameMatchPercent2>60 and AddressMatchPercent2>60 and GTSZip5=SMIZip5)
     OR NameMatchPercent2>=90 OR (AddressMatchPercent2>=90 and GTSZip5=SMIZip5))
	   
  ORDER BY CAST(GTSClientID as bigint), CAST(SMIMasterOrgID as BIGINT)

  -- GTS to SMI 04
  -- Write potential and exact match results to what will be the final GTS to SMI XREF Detail File.
 
TRUNCATE TABLE [dbo].[B_GTS_to_SMI_XREF_Detail]
INSERT INTO [dbo].[B_GTS_to_SMI_XREF_Detail]
SELECT [GTSClientID]
      ,[SMIMasterOrgID] as [AACSMI]
      ,[GTSName]
      ,[SMIName]
      ,[B_SMIMatchName]
      ,[B_GTSMatchName]
      ,[GTSAddress]
      ,[SMIAddress]
      ,[GTSStreetNumbers]
      ,[SMIStreetNumbers]
      ,[GTSStreetName]
      ,[SMIStreetName]
      ,[GTSCity]
      ,[SMICity]
      ,coalesce([GTSState],'ZZ') as [GTSState]
      ,[SMIState]
      ,[GTSZip]
      ,[SMIZip]
      ,[GTSZip5]
      ,[SMIZip5]
      ,[GTSZip3]
      ,[SMIZip3]
      ,[MasterStatus]
      ,[AddressCharDiff]
      ,[AddressIsSubString]
      ,[AddressMatchPercent]
      ,[AddressMatchPercent2]
      ,[NameCharDiff]
      ,[NameIsSubString]
      ,[NameMatchPercent]
      ,[NameMatchPercent2]
      ,[MatchScore]
      ,[MatchScore2]
      ,[MatchResult]
	  ,[EstimatedDistance]
	  ,getdate() as LastUpdate
  FROM [dbo].[B_GTS_to_SMI_XREF_Detail_Temp]

  -- GTS to SMI 05
  -- This now writes the no matches into the XREF Detail table.  These are entries in GTS that do not seem to have a legitimate match to SMI.
  
  INSERT INTO [dbo].[B_GTS_to_SMI_XREF_Detail](GTSClientID, GTSName, GTSCity, GTSState, GTSZip, MasterStatus, MatchResult, LastUpdate)
SELECT C.ClientID as GTSClientID, [Name] as GTSName, [City] as GTSCity, [State] as GTSState, [Zip] as GTSZip, Status, 'No Match' as MatchResult, getdate() as LastUpdate
  FROM [dbo].[Clients] C
  LEFT JOIN [dbo].[B_GTS_to_SMI_XREF_Detail_Temp] D
  ON C.ClientID=D.GTSClientID
  WHERE D.GTSClientID IS NULL
ORDER BY C.ClientID

-- GTS to SMI 06
-- For the no matches, this fills in information such as name, address, etc.

 UPDATE [dbo].[B_GTS_to_SMI_XREF_Detail]
 SET
 GTSName = V.GTSName,
 B_GTSMatchName = V.B_GTSMatchName,
 GTSAddress = V.GTSAddress,
 [GTSStreetNumbers] = V.GTSStreetNumbers,
 [GTSStreetName] = V.GTSStreetName,
 [GTSCity] = V.GTSCity,
 [GTSState] = V.GTSState,
 [GTSZip] = V.GTSZip,
 [GTSZip5] = V.GTSZip5,
 [GTSZip3] = V.GTSZip3
 FROM dbo.View_B_Org_GTSClientID_01_Clients V
 INNER JOIN [dbo].[B_GTS_to_SMI_XREF_Detail] D
 ON V.GTSClientID=D.GTSClientID
 WHERE [MatchResult]='No Match'

 -- GTS to SMI 07
-- This writes the simple XREF table between GTS and SMI.
-- This does to include MDR.
-- MDR will be tied to this in separate work.

  DROP Table [dbo].[B_GTS_to_SMI_XREF]
  SELECT DISTINCT GTSClientID, AACSMI, MatchResult
  INTO [dbo].[B_GTS_to_SMI_XREF]
    FROM [dbo].[B_GTS_to_SMI_XREF_Detail]
ORDER BY GTSClientID, AACSMI


END
GO
