/****** Object:  StoredProcedure [dbo].[Upsert_smi_scoped_price]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Krishna Seetharaman Krishna.Seetharaman@balfour.com - Austin
-- Create Date: 09/11/2020
-- Description: This will upsert the SMI priced data  set from Magento  to MAGE_balfour_product_smi_scoped_price table.
-- Runs every hour to update any SMI-scoped pricing which changed in the previous hour.
-- =============================================
CREATE PROCEDURE [dbo].[Upsert_smi_scoped_price]    
	@type int ,
	@sku varchar(255) ,
	@smi bigint ,
	@price float ,
	@meta_data varchar(200) ,
	@from_date datetime ,
	@to_date datetime ,
	@created_at datetime ,
	@updated_at datetime 
   
AS
BEGIN

	SET NOCOUNT ON;

    IF NOT EXISTS (SELECT * FROM [dbo].[MAGE_balfour_product_smi_scoped_price] WHERE [type] = @type and [SKU] = @sku and [smi] = @smi )
		INSERT INTO [dbo].[MAGE_balfour_product_smi_scoped_price]
                    ([type] ,
	                 [sku] ,
	                 [smi] ,
	                 [price] ,
	                 [meta_data] ,
	                 [from_date] ,
	                 [to_date] ,
	                 [created_at] ,
	                 [updated_at],
					 [Boomi_CreatedOn],
					 [Boomi_UpdatedOn]) 
			 VALUES
				   (@type,
	                @sku,
	                @smi,
	                @price,
	                @meta_data,
	                ISNULL(@from_date,'1900-01-01 00:00:00.000'),
	                ISNULL(@to_date,'1900-01-01 00:00:00.000'),
	                @created_at ,
	                @updated_at,
					GETDATE(),
					GETDATE())

	ELSE
       UPDATE [dbo].[MAGE_balfour_product_smi_scoped_price]
       SET           [type] = @type,
	                 [sku]  = @sku,
	                 [smi]  = @smi ,
	                 [price] = @price,
	                 [meta_data] = @meta_data,
	                 [from_date]  = ISNULL(@from_date,'1900-01-01 00:00:00.000'),
	                 [to_date]  =   ISNULL(@to_date,'1900-01-01 00:00:00.000'),
	                 [created_at]  = @created_at,
	                 [updated_at]  = @updated_at,
					 [Boomi_UpdatedOn] = CURRENT_TIMESTAMP
		WHERE [type] = @type and
		      [SKU] = @sku and
			  [smi] = @smi

	DECLARE @LastUpdate VARCHAR(50)
	SET @LastUpdate = FORMAT(dbo.fn_DateTime_To_Central(GETDATE()), 'MM/dd/yyyy hh:mm:ss tt')
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_balfour_product_smi_scoped_price', @AttribName = 'LastUpdate', @Value = @LastUpdate
	EXEC [dbo].[s_update_extendedprop_on_table] @tablename = 'MAGE_balfour_product_smi_scoped_price', @AttribName = 'LastSKUUpdated', @Value = @SKU
END

--select top 1 * from [dbo].[MAGE_balfour_product_smi_scoped_price]

/*DECLARE @from_date datetime;
SET @from_date = NULL
SELECT ISNULL(@from_date,'1900-01-01 00:00:00.000')*/
GO
