/****** Object:  StoredProcedure [jobs_internal].[sp_add_job_version]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs_internal].[sp_add_job_version]
    @job_id             UNIQUEIDENTIFIER,
    @job_version_number INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    SELECT @job_version_number = ISNULL(MAX(job_version_number), 0) + 1
        FROM [jobs_internal].job_versions
        WHERE job_id = @job_id

    INSERT INTO [jobs_internal].job_versions (
        job_id,
        job_version_number
    ) VALUES (
        @job_id,
        @job_version_number
    )

    COMMIT TRANSACTION
END
GO
