/****** Object:  StoredProcedure [jobs].[sp_start_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [jobs].[sp_start_job]
    @job_name           NVARCHAR(128),
    @job_execution_id   UNIQUEIDENTIFIER = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DECLARE @job_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_lock_job @job_name, @job_id OUTPUT

    DECLARE @error_message NVARCHAR(1000)
    IF @job_id IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('Job ''%s'' was not found.', @job_name);
        THROW 50000, @error_message, 1
    END

    -- Determine job version number
    DECLARE @job_version INT
    SELECT @job_version = current_job_version_number
    FROM [jobs_internal].current_job_version_numbers
    WHERE job_id = @job_id

    IF NOT EXISTS(
        SELECT * FROM [jobs].jobsteps JS
        WHERE JS.job_name = @job_name
        AND JS.job_version = @job_version)
    BEGIN
        SET @error_message = FORMATMESSAGE('Job ''%s'' contains no steps.', @job_name);
        THROW 50000, @error_message, 1
    END

    IF @job_execution_id IS NOT NULL
    BEGIN
        IF EXISTS(
            SELECT * from [jobs].job_executions
            WHERE job_execution_id = @job_execution_id)
        BEGIN
            DECLARE @id_error_message NVARCHAR(1000) = FORMATMESSAGE('Job Execution with id ''%s'' already exists.', convert(nvarchar(50), @job_execution_id));
            THROW 50000, @id_error_message, 1
        END
    END

    SET @job_execution_id = ISNULL(@job_execution_id, NEWID())
    INSERT INTO [jobs_internal].job_executions (
        job_execution_id,
        job_id,
        job_version_number,
        step_id,
        create_time,
        start_time,
        end_time,
        infrastructure_failures,
        current_task_attempts,
        next_retry_delay_ms,
        lifecycle,
        is_active,
        target_id,
        parent_job_execution_id,
        root_job_execution_id,
        initiated_for_schedule_time
    ) VALUES (
        @job_execution_id,
        @job_id,
        @job_version,
        NULL,
        GETUTCDATE(),
        NULL,
        NULL,
        0,
        0,
        0,
        'Created',
        1,
        NULL,
        NULL,
        @job_execution_id,
        NULL
    )

    COMMIT TRANSACTION
END
GO
