/****** Object:  StoredProcedure [jobs].[sp_delete_target_group]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_delete_target_group]
    @target_group_name  NVARCHAR(128),
    @force              BIT = 0
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON

    BEGIN TRANSACTION

    -- Concurrency plan: acquire lock on row in first query

    -- Get the target group's id
    DECLARE @target_id UNIQUEIDENTIFIER
    SELECT @target_id = target_id
    FROM [jobs_internal].targets
    WITH (UPDLOCK, SERIALIZABLE, ROWLOCK)
    WHERE target_group_name = @target_group_name
      AND delete_requested_time IS NULL

    DECLARE @error_message NVARCHAR(1000)
    IF @target_id IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('The target group ''%s'' was not found.', @target_group_name);
        THROW 50000, @error_message, 1
    END

    -- Check for job steps using this target group
    DECLARE @job_name NVARCHAR(128)
    DECLARE @step_name NVARCHAR(128)
    DECLARE @step_id INT
    DECLARE @total_steps INT

    -- Select just 1 row, but also determine the total count of rows
    SELECT TOP (1)
        @job_name = job_name,
        @step_name = step_name,
        @total_steps = COUNT(*) OVER() -- trick to get total count of rows
    FROM jobs.jobsteps
    WHERE target_group_id = @target_id

    IF @total_steps > 0
    BEGIN
        SET @error_message = FORMATMESSAGE(
            'The target group ''%s'' cannot be deleted because it is referenced by job ''%s'' step ''%s'' and %i other job step(s).',
            @target_group_name,
            @job_name,
            @step_name,
            @total_steps - 1);
        THROW 50000, @error_message, 1
    END

    -- Check for active executions using this target group
    -- We can't just search the job_executions.taget_group_name column, because the step that uses the target group
    -- might not have begun executing. So we have to search target_group_name of all steps in the version that is
    -- being executed.
    DECLARE @job_execution_id UNIQUEIDENTIFIER
    DECLARE @job_version INT
    DECLARE @total_executions INT

    -- Select just 1 row, but also determine the total count of rows
    SELECT TOP (1)
        @job_execution_id = JE.job_execution_id,
        @job_name = JSV.job_name,
        @step_name = JSV.step_name,
        @total_executions = COUNT(*) OVER() -- trick to get total count of rows
    FROM jobs.job_executions JE
    INNER JOIN jobs.jobstep_versions JSV
        ON JE.job_id = JSV.job_id AND JE.job_version = JSV.job_version
    WHERE JSV.target_group_id = @target_id
      AND JE.is_active = 1

    IF @job_execution_id IS NOT NULL
    BEGIN
        SET @error_message = FORMATMESSAGE(
            'The target group ''%s'' cannot be deleted because it is referenced by active job execution ''%s'' (job ''%s'' step ''%s'') and %i other job executions.',
            @target_group_name,
            cast(@job_execution_id as char(36)),
            @job_name,
            @step_name,
            @total_executions - 1);
        THROW 50000, @error_message, 1
    END

    -- Mark the target group for cleanup
    UPDATE [jobs_internal].targets
    SET delete_requested_time = GETUTCDATE()
    WHERE target_id = @target_id

    COMMIT TRANSACTION
END
GO
