/****** Object:  StoredProcedure [jobs_internal].[sp_lock_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs_internal].[sp_lock_job]
    @job_name                           NVARCHAR(128),
    @job_id                             UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @error_message NVARCHAR(1000)
    
    IF @@TRANCOUNT = 0
    BEGIN
        SET @error_message = FORMATMESSAGE('Internal error: cannot lock job entry when there is no transaction.');
        THROW 50000, @error_message, 1
    END

    SELECT @job_id = job_id 
    FROM [jobs_internal].visible_jobs
    WITH (UPDLOCK, SERIALIZABLE, ROWLOCK)
    WHERE name = @job_name

    IF @job_id IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('Job ''%s'' was not found', @job_name);
        THROW 50000, @error_message, 1
    END
END
GO
