/****** Object:  StoredProcedure [jobs].[sp_update_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_update_job]
    @job_name                           NVARCHAR(128),
    @new_name                           NVARCHAR(128) = NULL,
    @description                        NVARCHAR(512) = NULL,
    @enabled                            BIT = NULL,
    @schedule_interval_type             NVARCHAR(50) = NULL,
    @schedule_interval_count            INT = NULL,
    @schedule_start_time                DATETIME2 = NULL,
    @schedule_end_time                  DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DECLARE @job_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_lock_job @job_name, @job_id OUTPUT

    UPDATE [jobs_internal].jobs
    SET 
        name = ISNULL(@new_name, name),
        description = ISNULL(@description, description),
        enabled = ISNULL(@enabled, enabled),
        schedule_start_time = ISNULL(@schedule_start_time, schedule_start_time),
        schedule_end_time = ISNULL(@schedule_end_time, schedule_end_time),
        schedule_interval_type = ISNULL(@schedule_interval_type, schedule_interval_type),
        schedule_interval_count = ISNULL(@schedule_interval_count, schedule_interval_count)
    WHERE job_id = @job_id

    COMMIT TRANSACTION
END
GO
