/****** Object:  StoredProcedure [jobs].[sp_update_jobstep]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_update_jobstep]
    @job_name                           NVARCHAR(128),
    @step_id                            INT = NULL,
    @step_name                          NVARCHAR(128) = NULL,
    @new_id                             INT = NULL,
    @new_name                           NVARCHAR(128) = NULL,
    @command_type                       NVARCHAR(50) = NULL,
    @command_source                     NVARCHAR(50) = NULL,
    @command                            NVARCHAR(MAX) = NULL,
    @credential_name                    NVARCHAR(128) = NULL,
    @target_group_name                  NVARCHAR(128) = NULL,
    @initial_retry_interval_seconds     INT = NULL,
    @maximum_retry_interval_seconds     INT = NULL,
    @retry_interval_backoff_multiplier  REAL = NULL,
    @retry_attempts                     INT = NULL,
    @step_timeout_seconds               INT = NULL,
    @output_type                        NVARCHAR(50) = NULL,
    @output_credential_name             NVARCHAR(128) = NULL,
    @output_server_name                 NVARCHAR(256) = NULL,
    @output_subscription_id             UNIQUEIDENTIFIER = NULL,
    @output_resource_group_name         NVARCHAR(128) = NULL,
    @output_database_name               NVARCHAR(128) = NULL,
    @output_schema_name                 NVARCHAR(128) = NULL,
    @output_table_name                  NVARCHAR(128) = NULL,
    @job_version                        INT = NULL OUTPUT,
    @max_parallelism                    INT = NULL
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DECLARE @error_message NVARCHAR(1000)

    -- Find job_id
    DECLARE @job_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_lock_job @job_name, @job_id OUTPUT

    -- Insert new version into job_versions. This outputs the new version number.
    EXEC [jobs_internal].sp_add_job_version @job_id, @job_version OUTPUT

    -- Find the step id (by step id or by step name) and verify it exists
    EXEC [jobs_internal].sp_find_jobstep @job_id, @job_version, @step_id OUTPUT, @step_name

    -- Determine range of allowed step ids
    DECLARE @max_allowed_step_id INT
    SELECT @max_allowed_step_id = ISNULL(MAX(step_id), 1)
    FROM [jobs].jobstep_versions
    WHERE job_id = @job_id
    AND job_version = @job_version - 1

    -- Validate @new_id
    IF @new_id <= 0 OR @new_id > @max_allowed_step_id
    BEGIN
        SET @error_message = FORMATMESSAGE('Invalid value for @new_id: ''%i''. @new_id must be greater than or equal to 1 and less than or equal to ''%i''.', @new_id, @max_allowed_step_id);
        THROW 50000, @error_message, 1
    END

    -- Validate @new_name uniqueness
    IF @new_name IS NOT NULL
    BEGIN
        DECLARE @step_id_with_same_name INT
        SELECT @step_id_with_same_name = step_id
        FROM [jobs].jobstep_versions
        WHERE job_id = @job_id
        AND job_version = @job_version - 1
        AND step_name = @new_name

        IF @step_id_with_same_name IS NOT NULL
        BEGIN
            SET @error_message = FORMATMESSAGE('A step with name ''%s'' (step id ''%i'') already exists for the job ''%s''.', @new_name, @step_id_with_same_name, @job_name);
            THROW 50000, @error_message, 1
        END
    END

    -- Validate @max_parallelism
    IF @max_parallelism IS NOT NULL AND (@max_parallelism = 0 or @max_parallelism < -1)
    BEGIN
        SET @error_message = FORMATMESSAGE('Invalid value for @max_parallelism: ''%i''. @max_parallelism must be NULL (indicating no change), -1 (meaning that it will be set to NULL), or greater than or equal to 1.', @max_parallelism);
        THROW 50000, @error_message, 1
    END

    -- If any parameters were null, then set them to the jobstep's current value (so the field does not change)
    --
    -- For output fields (which, unlike all other jobstep fields, are nullable),
    -- '' param value means 'set the field to null', and null param value still means 'leave it unchanged'
    --
    -- For max parallelism (which is also nullable), -1 means 'set the field to null', and null param value
    -- means 'leave it unchanged'.
    SELECT
        @new_id = ISNULL(@new_id, step_id),
        @new_name = ISNULL(@new_name, step_name),
        @command_type = ISNULL(@command_type, command_type),
        @command_source = ISNULL(@command_source, command_source),
        @command = ISNULL(@command, command),
        @credential_name = ISNULL(@credential_name, credential_name),
        @target_group_name = ISNULL(@target_group_name, target_group_name),
        @initial_retry_interval_seconds = ISNULL(@initial_retry_interval_seconds, initial_retry_interval_seconds),
        @maximum_retry_interval_seconds = ISNULL(@maximum_retry_interval_seconds, maximum_retry_interval_seconds),
        @retry_interval_backoff_multiplier = ISNULL(@retry_interval_backoff_multiplier, retry_interval_backoff_multiplier),
        @retry_attempts = ISNULL(@retry_attempts, retry_attempts),
        @step_timeout_seconds = ISNULL(@step_timeout_seconds, step_timeout_seconds),
        @output_type = CASE @output_type
            WHEN '' THEN NULL
            ELSE ISNULL(@output_type, output_type) END,
        @output_credential_name = CASE @output_credential_name
            WHEN '' THEN NULL
            ELSE ISNULL(@output_credential_name, output_credential_name) END,
        @output_subscription_id = CASE @output_subscription_id
            WHEN '00000000-0000-0000-0000-000000000000' THEN NULL
            ELSE ISNULL(@output_subscription_id, output_subscription_id) END,
        @output_resource_group_name = CASE @output_resource_group_name
            WHEN '' THEN NULL
            ELSE ISNULL(@output_resource_group_name, output_resource_group_name) END,
        @output_server_name = CASE @output_server_name
            WHEN '' THEN NULL
            ELSE ISNULL(@output_server_name, output_server_name) END,
        @output_database_name = CASE @output_database_name
            WHEN '' THEN NULL
            ELSE ISNULL(@output_database_name, output_database_name) END,
        @output_schema_name = CASE @output_schema_name
            WHEN '' THEN NULL
            ELSE ISNULL(@output_schema_name, output_schema_name) END,
        @output_table_name = CASE @output_table_name
            WHEN '' THEN NULL
            ELSE ISNULL(@output_table_name, output_table_name) END,
        @max_parallelism = CASE @max_parallelism
            WHEN -1 then NULL
            ELSE ISNULL(@max_parallelism, max_parallelism) END
    FROM [jobs].jobstep_versions JS
    WHERE JS.job_id = @job_id
    AND JS.job_version = @job_version - 1
    AND JS.step_id = @step_id

    -- Insert new data into jobstep_data
    DECLARE @jobstep_data_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_add_jobstep_data
        @command_type,
        @command_source,
        @command,
        @credential_name,
        @target_group_name,
        @initial_retry_interval_seconds,
        @maximum_retry_interval_seconds,
        @retry_interval_backoff_multiplier,
        @retry_attempts,
        @step_timeout_seconds,
        @output_type,
        @output_credential_name,
        @output_subscription_id,
        @output_resource_group_name,
        @output_server_name,
        @output_database_name,
        @output_schema_name,
        @output_table_name,
        @jobstep_data_id OUTPUT,
        @max_parallelism

    -- Insert new step into jobsteps that link the job_versions to the jobsteps
    -- We copy existing steps to ensure (with primary key) that we aren't overwriting a step with the same id
    INSERT INTO [jobs_internal].jobsteps
    -- Select non-updated steps
    SELECT
        job_id,
        @job_version,
        CASE
            -- Non-updated step is both before both the updated step's old & new id: no change
            WHEN step_id < @step_id AND step_id < @new_id THEN step_id

            -- Non-updated step is after the updated step's old id but before or equal
            -- to the updated step's new id: slide down 1
            -- This case will only happen if @step_id < @new_id, i.e.
            -- the updated step is being moved to later - in this case, the non-updated
            -- steps in between need to slide down to fill the gap left by
            -- the old step id and make a gap for the new step id
            WHEN @step_id < step_id AND step_id <= @new_id THEN step_id - 1

            -- Non-updated step is after the updated step's news id but before or equal
            -- to the updated step's old id: slide down 1
            -- This case will only happen if @new_id < @step_id , i.e.
            -- the updated step is being moved to earlier - in this case, the non-updated
            -- steps in between need to slide up to fill the gap left by
            -- the old step id and make a gap for the new step id
            WHEN @new_id <= step_id AND step_id < @step_id THEN step_id + 1

            -- After both old & new id: no change
            WHEN @step_id < step_id AND @new_id < step_id THEN step_id

            -- 'ELSE' should never happen, if it does then the value of this expression
            -- will be null and the insert should receive a null value error
        END,
        jobstep_data_id,
        step_name
    FROM [jobs_internal].jobsteps
    WHERE job_id = @job_id AND job_version_number = @job_version - 1 AND step_id <> @step_id
        UNION ALL
    -- Select updated step
    SELECT
        @job_id,
        @job_version,
        @new_id,
        @jobstep_data_id,
        @new_name

    COMMIT TRANSACTION
END
GO
