/****** Object:  StoredProcedure [jobs_internal].[sp_add_jobstep_data]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [jobs_internal].[sp_add_jobstep_data]
    @command_type                       NVARCHAR(50),
    @command_source                     NVARCHAR(50),
    @command                            NVARCHAR(MAX),
    @credential_name                    NVARCHAR(128),
    @target_group_name                  NVARCHAR(128),
    @initial_retry_interval_seconds     INT,
    @maximum_retry_interval_seconds     INT,
    @retry_interval_backoff_multiplier  REAL,
    @retry_attempts                     INT,
    @step_timeout_seconds               INT,
    @output_type                        NVARCHAR(50),
    @output_credential_name             NVARCHAR(128),
    @output_subscription_id             UNIQUEIDENTIFIER,
    @output_resource_group_name         NVARCHAR(128),
    @output_server_name                 NVARCHAR(256),
    @output_database_name               NVARCHAR(128),
    @output_schema_name                 NVARCHAR(128),
    @output_table_name                  NVARCHAR(128),
    @jobstep_data_id                    UNIQUEIDENTIFIER OUTPUT,
    @max_parallelism                    INT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DECLARE @error_message NVARCHAR(1000)

    -- Validate parameters
    -- Need to manually validate @command_source since it isn't actually stored so we have no constraints in physical tables
    IF @command_source <> 'Inline'
    BEGIN
        SET @error_message = FORMATMESSAGE('Invalid value for @command_source: ''%s''', @command_source);
        THROW 50000, @error_message, 1
    END
    IF @output_type IS NOT NULL AND @output_type <> 'SqlDatabase'
    BEGIN
        SET @error_message = FORMATMESSAGE('Invalid value for @output_type: ''%s''. Only NULL or ''SqlDatabase'' are supported.', @output_type);
        THROW 50000, @error_message, 1
    END

    -- Insert into CommandData
    DECLARE @command_data_id UNIQUEIDENTIFIER
    -- Try to find an existing command data that matches. Optimize by searching with checksum.
    -- In case of earlier bug where duplicate was inserted, select top 1 instead of all
    -- BINARY_CHECKSUM is not a great checksum function, for example it seems to produce the
    -- same results when trailing whitespace is added. Also we want to look for an exact
    -- binary match regardless of the db's collation (which might be whitespace/accent/case
    -- insensitive).
    SET @command_data_id = (
        SELECT TOP 1 command_data_id
        FROM [jobs_internal].command_data
        WHERE text_checksum = BINARY_CHECKSUM(@command)
        AND CAST(text AS VARBINARY(MAX)) = CAST(@command AS VARBINARY(MAX))
    )
    IF @command_data_id IS NULL
    BEGIN
        -- Matching command data was not found, so insert a new one.
        SET @command_data_id = NEWID()
        INSERT INTO [jobs_internal].command_data (
            command_data_id,
            script_has_been_split,
            text
        ) VALUES (
            @command_data_id,
            0,
            @command
        )
    END

    -- Determine TargetId
    DECLARE @target_id UNIQUEIDENTIFIER
    SET @target_id = (
        SELECT target_id
        FROM [jobs_internal].visible_target_groups
        WHERE target_group_name = @target_group_name
    )
    IF @target_id IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('Target Group ''%s'' not found', @target_group_name);
        THROW 50000, @error_message, 1
    END

    -- Check credential can be referenced
    IF ISNULL([jobs_internal].fn_has_credential_perms(@credential_name), 0) = 0
    BEGIN
        SET @error_message = FORMATMESSAGE('Cannot reference the credential ''%s'', because it does not exist or you do not have permission.', @credential_name);
        THROW 50000, @error_message, 1
    END

    -- Add or get output target and get output credential
    DECLARE @output_target_id UNIQUEIDENTIFIER
    DECLARE @output_credential_id INT
    IF @output_type IS NOT NULL
    BEGIN
        -- TODO: can we combine this logic with the add taget group member logic to reduce duplication?
        SET @output_target_id = (
            SELECT target_id
            FROM [jobs_internal].targets
            WHERE target_type = 'SqlDatabase'
              AND ((subscription_id IS NULL AND @output_subscription_id IS NULL) OR subscription_id = @output_subscription_id)
              AND ((resource_group_name IS NULL AND @output_resource_group_name IS NULL) OR resource_group_name = @output_resource_group_name)
              AND elastic_pool_name IS NULL
              AND server_name = @output_server_name
              AND database_name = @output_database_name
        )
        IF @output_target_id IS NULL
        BEGIN
            SET @output_target_id = NEWID()
            INSERT INTO [jobs_internal].targets (
                target_id,
                target_type,
                subscription_id,
                resource_group_name,
                server_name,
                database_name
            ) VALUES (
                @output_target_id,
                'SqlDatabase',
                @output_subscription_id,
                @output_resource_group_name,
                @output_server_name,
                @output_database_name
            )
        END

        -- Check credential can be referenced
        IF ISNULL([jobs_internal].fn_has_credential_perms(@output_credential_name), 0) = 0
        BEGIN
            SET @error_message = FORMATMESSAGE('Cannot reference the credential ''%s'', because it does not exist or you do not have permission.', @output_credential_name);
            THROW 50000, @error_message, 1
        END
    END

    -- Insert into JobStepData
    SET @jobstep_data_id = NEWID()
    INSERT INTO [jobs_internal].jobstep_data
    SELECT
        @jobstep_data_id,
        @command_type,
        @output_target_id,
        @output_credential_name,
        CASE
            WHEN @output_type IS NULL          THEN NULL
            WHEN @output_schema_name IS NULL   THEN 'dbo'
            ELSE                               @output_schema_name
        END,
        @output_table_name,
        @command_data_id,
        @credential_name,
        @target_id,
        @initial_retry_interval_seconds * 1000,
        @maximum_retry_interval_seconds * 1000,
        @retry_interval_backoff_multiplier,
        @retry_attempts,
        @step_timeout_seconds * 1000,
        @max_parallelism

    COMMIT TRANSACTION
END
GO
