/****** Object:  StoredProcedure [jobs].[sp_add_target_group]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_add_target_group]
    @target_group_name      NVARCHAR(128),
    @target_group_id        UNIQUEIDENTIFIER = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @error_message NVARCHAR(1000)

    -- Check if target group name already exists in targets --
    IF EXISTS(SELECT 1
              FROM [jobs_internal].visible_target_groups
              WHERE target_group_name = @target_group_name)
    BEGIN
        SET @error_message = FORMATMESSAGE('Target group ''%s'' already exists.', @target_group_name);
        THROW 50000, @error_message, 1
    END

    -- Concurrency plan: not needed, just fail with unique index violation if it already exists
    SET @target_group_id = NEWID()
    INSERT INTO [jobs_internal].targets (
        target_id,
        target_type,
        target_group_name
    ) VALUES (
        @target_group_id,
        'TargetGroup',
        @target_group_name
    )
END
GO
