/****** Object:  StoredProcedure [jobs].[sp_stop_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_stop_job]
    @job_execution_id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON
    -- Concurrency plan: acquire lock on JobCancellation.JobExecutionId in first query

    IF NOT EXISTS ( 
        SELECT 1 
        FROM [jobs_internal].job_cancellations
        WITH (UPDLOCK, SERIALIZABLE, ROWLOCK) 
        WHERE job_execution_id = @job_execution_id 
    )
    BEGIN
        INSERT INTO [jobs_internal].job_cancellations ( 
            job_execution_id, 
            requested_time 
        ) VALUES ( 
            @job_execution_id, 
            SYSUTCDATETIME() 
        )
    END
END
GO
