/****** Object:  StoredProcedure [jobs].[sp_delete_target_group_member]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_delete_target_group_member]
    @target_group_name          NVARCHAR(128),
    @target_id                  UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DELETE mem
    FROM [jobs_internal].target_group_memberships mem
    INNER JOIN [jobs_internal].visible_target_groups tg
        ON mem.parent_target_id = tg.target_id
    WHERE tg.target_group_name = @target_group_name
    AND mem.child_target_id = @target_id

    -- Ensure that we deleted exactly one row
    IF (@@ROWCOUNT <> 1)
    BEGIN
        DECLARE @error_message NVARCHAR(1000) = FORMATMESSAGE('Target with target_id ''%s'' was not found as a member of target group ''%s''', CAST(@target_id AS NCHAR(36)),@target_group_name);
        THROW 50000, @error_message, 1
    END

    COMMIT TRANSACTION
END
GO
