/****** Object:  StoredProcedure [jobs_internal].[sp_find_jobstep]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs_internal].[sp_find_jobstep]
    @job_id                             UNIQUEIDENTIFIER,
    @job_version                        INT,
    @step_id                            INT = NULL OUTPUT,
    @step_name                          NVARCHAR(128) = NULL
AS
BEGIN
    DECLARE @error_message NVARCHAR(1000)

    -- job_id must be specified
    IF @job_id IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('@job_id was not found.');
        THROW 50000, @error_message, 1
    END

    -- job_version must be specified
    IF @job_version IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('@job_version was not found.');
        THROW 50000, @error_message, 1
    END

    -- step_id and step_name cannot both be specified
    IF @step_name IS NOT NULL AND @step_id IS NOT NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('@step_id and @step_name cannot both be specified.');
        THROW 50000, @error_message, 1
    END

    -- If step name is specified, find the step id
    IF @step_name IS NOT NULL
    BEGIN
        SELECT @step_id = step_id
        FROM [jobs_internal].jobsteps
        WHERE job_id = @job_id
        AND job_version_number = @job_version - 1
        AND step_name = @step_name

        -- Verify that we found the step id
        IF @step_id IS NULL
        BEGIN
            SET @error_message = FORMATMESSAGE('Step name ''%s'' was not found', @step_name);
            THROW 50000, @error_message, 1
        END
    END
    -- Step name was not specified, so step id must be specified
    ELSE IF @step_id IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('@step_id or @step_name (but not both) must be specified.', @step_name);
        THROW 50000, @error_message, 1
    END
    -- if step id is specified, verify that step already exists
    ELSE IF NOT EXISTS (
        SELECT 1
        FROM [jobs_internal].jobsteps
        WHERE job_id = @job_id
        AND job_version_number = @job_version - 1
        AND step_id = @step_id
    )
    BEGIN
        SET @error_message = FORMATMESSAGE('Step ''%i'' was not found', @step_id);
        THROW 50000, @error_message, 1
    END
END
GO
