/****** Object:  StoredProcedure [jobs].[sp_add_target_group_member]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_add_target_group_member]
    @target_group_name          NVARCHAR(128),
    @membership_type            NVARCHAR(50) = 'Include',
    @target_type                NVARCHAR(50),
    @refresh_credential_name    NVARCHAR(128) = NULL,
    @server_name                NVARCHAR(128) = NULL,
    @database_name              NVARCHAR(128) = NULL,
    @elastic_pool_name          NVARCHAR(128) = NULL,
    @shard_map_name             NVARCHAR(128) = NULL,
    @target_id                  UNIQUEIDENTIFIER = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DECLARE @error_message NVARCHAR(1000)

    -- Determine target group id
    DECLARE @target_group_id UNIQUEIDENTIFIER
    SET @target_group_id = (
        SELECT target_id
        FROM [jobs_internal].visible_target_groups
        WHERE target_group_name = @target_group_name
    )

    -- Check if target group id is in targets table --
    IF (@target_group_id IS NULL)
    BEGIN
        SET @error_message = FORMATMESSAGE('Target group ''%s'' does not exist.', @target_group_name);
        THROW 50000, @error_message, 1
    END

    -- Insert the single target into a table variable so we can pass it as a table-valued parameter
    DECLARE @input_targets [jobs_internal].target_group_members
    INSERT INTO @input_targets VALUES (
        @membership_type,
        @target_type,
        @refresh_credential_name,
        NULL, -- subscription_id
        NULL, -- resource_group_name
        @server_name,
        @database_name,
        @elastic_pool_name,
        @shard_map_name -- shard_map_name
    )

    -- INSERT into targets or SELECT it if a matching row exists.
    DECLARE @input_memberships TABLE (
        child_target_id UNIQUEIDENTIFIER PRIMARY KEY,
        include BIT NOT NULL -- NOT NULL to cause error when membership_type string is invalid
    )
    INSERT INTO @input_memberships
    EXEC [jobs_internal].sp_add_or_get_target_group_members @input_targets

    -- Note that @input_memberships should now have exactly 1 row

    -- Check if parent group id and child group id already exist in target group memberships
    DECLARE @existing_child_id NVARCHAR(1000) =  (SELECT TOP 1 CAST(im.child_target_id AS NVARCHAR(1000))
                                                  FROM @input_memberships im, [jobs_internal].target_group_memberships tgm
                                                  WHERE im.child_target_id = tgm.child_target_id AND
                                                        tgm.parent_target_id = @target_group_id);
    IF (@existing_child_id IS NOT NULL)
    BEGIN
        SET @error_message = FORMATMESSAGE('Target group member ''%s'' already belongs to ''%s''.', @existing_child_id, @target_group_name);
        THROW 50000, @error_message, 1
    END

    -- Insert into target_group_memberships
    INSERT INTO [jobs_internal].target_group_memberships
    SELECT
        @target_group_id as parent_target_id,
        child_target_id,
        include
    FROM @input_memberships

    SELECT @target_id = child_target_id
    FROM @input_memberships

    COMMIT TRANSACTION
END
GO
