/****** Object:  StoredProcedure [jobs].[sp_add_jobstep]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_add_jobstep]
    @job_name                           NVARCHAR(128),
    @step_id                            INT = NULL OUTPUT,
    @step_name                          NVARCHAR(128) = NULL,
    @command_type                       NVARCHAR(50) = 'TSql',
    @command_source                     NVARCHAR(50) = 'Inline',
    @command                            NVARCHAR(MAX),
    @credential_name                    NVARCHAR(128),
    @target_group_name                  NVARCHAR(128),
    @initial_retry_interval_seconds     INT = 1,
    @maximum_retry_interval_seconds     INT = 120,
    @retry_interval_backoff_multiplier  REAL = 2.0,
    @retry_attempts                     INT = 10,
    @step_timeout_seconds               INT = 43200,
    @output_type                        NVARCHAR(50) = NULL,
    @output_credential_name             NVARCHAR(128) = NULL,
    @output_subscription_id             UNIQUEIDENTIFIER = NULL,
    @output_resource_group_name         NVARCHAR(128) = NULL,
    @output_server_name                 NVARCHAR(256) = NULL,
    @output_database_name               NVARCHAR(128) = NULL,
    @output_schema_name                 NVARCHAR(128) = NULL,
    @output_table_name                  NVARCHAR(128) = NULL,
    @job_version                        INT = NULL OUTPUT,
    @max_parallelism                    INT = NULL
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DECLARE @error_message NVARCHAR(1000)

    -- Find job_id
    DECLARE @job_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_lock_job @job_name, @job_id OUTPUT

    -- Insert new version into job_versions. This outputs the new version number.
    EXEC [jobs_internal].sp_add_job_version @job_id, @job_version OUTPUT

    -- Determine range of allowed step ids
    DECLARE @max_allowed_step_id INT
    SELECT @max_allowed_step_id = ISNULL(MAX(step_id), 0) + 1
    FROM [jobs].jobstep_versions
    WHERE job_id = @job_id
    AND job_version = @job_version - 1

    -- If @step_id is NULL, it means 'add a step to the end'
    IF @step_id IS NULL
    BEGIN
        SET @step_id = @max_allowed_step_id
    END

    -- Validate @step_id
    IF @step_id <= 0 OR @step_id > @max_allowed_step_id
    BEGIN
        SET @error_message = FORMATMESSAGE('Invalid value for @step_id: ''%i''. @step_id must be greater than or equal to 1 and less than or equal to ''%i''.', @step_id, @max_allowed_step_id);
        THROW 50000, @error_message, 1
    END

    -- Validate @step_name nullness
    IF @step_name IS NULL
    BEGIN
        -- For step id 1 only, we make the API more convenient by providing a default step name.
        IF @step_id = 1
        BEGIN
            SET @step_name = 'JobStep'
        END
        ELSE
        BEGIN
            SET @error_message = FORMATMESSAGE('@step_name may only be NULL for the first job step.', @step_id);
            THROW 50000, @error_message, 1
        END
    END

    -- Validate @max_parallelism
    IF @max_parallelism IS NOT NULL AND @max_parallelism < 1
    BEGIN
        SET @error_message = FORMATMESSAGE('Invalid value for @max_parallelism: ''%i''. @max_parallelism must be NULL or greater than or equal to 1.', @max_parallelism);
        THROW 50000, @error_message, 1
    END

    -- Validate @step_name uniqueness
    DECLARE @step_id_with_same_name INT
    SELECT @step_id_with_same_name = step_id
    FROM [jobs].jobstep_versions
    WHERE job_id = @job_id
    AND job_version = @job_version - 1
    AND step_name = @step_name

    IF @step_id_with_same_name IS NOT NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('A step with name ''%s'' (step id ''%i'') already exists for the job ''%s''.', @step_name, @step_id_with_same_name, @job_name);
        THROW 50000, @error_message, 1
    END

    -- Insert new data into jobstep_data
    DECLARE @jobstep_data_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_add_jobstep_data
        @command_type,
        @command_source,
        @command,
        @credential_name,
        @target_group_name,
        @initial_retry_interval_seconds,
        @maximum_retry_interval_seconds,
        @retry_interval_backoff_multiplier,
        @retry_attempts,
        @step_timeout_seconds,
        @output_type,
        @output_credential_name,
        @output_subscription_id,
        @output_resource_group_name,
        @output_server_name,
        @output_database_name,
        @output_schema_name,
        @output_table_name,
        @jobstep_data_id OUTPUT,
        @max_parallelism

    -- Insert new step into jobsteps that link the job_versions to the jobsteps
    -- We copy existing steps to ensure (with primary key) that we aren't overwriting a step with the same id
    -- Any existing steps with step_id >= the new step's id will be bumped up by 1.
    INSERT INTO [jobs_internal].jobsteps
    -- Select existing steps
    SELECT
        job_id,
        @job_version,
        -- If existing step is equal to or greater than the new step's id,
        -- then this existing step needs its id increased by 1 to make a gap
        -- to put the new step into
        step_id + IIF(step_id >= @step_id, 1, 0),
        jobstep_data_id,
        step_name
    FROM [jobs_internal].jobsteps
    WHERE job_id = @job_id AND job_version_number = @job_version - 1
        UNION ALL
    -- Select new step
    SELECT
        @job_id,
        @job_version,
        @step_id,
        @jobstep_data_id,
        @step_name

    COMMIT TRANSACTION
END
GO
