/****** Object:  StoredProcedure [jobs_internal].[sp_find_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs_internal].[sp_find_job]
    @job_name                           NVARCHAR(128),
    @job_id                             UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SELECT @job_id = job_id 
    FROM [jobs_internal].visible_jobs
    WHERE name = @job_name
END
GO
