/****** Object:  StoredProcedure [jobs].[sp_purge_jobhistory]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_purge_jobhistory]
    @job_name       NVARCHAR(128) = NULL,
    @job_id         UNIQUEIDENTIFIER = NULL,
    @oldest_date    DATETIME2 = NULL
AS
BEGIN
SET NOCOUNT ON;
SET XACT_ABORT ON;

DECLARE @error_message NVARCHAR(1000)

-- If we were given job_name, determine job_id
IF @job_name IS NOT NULL
BEGIN
    -- Assert that job_id is NULL, because job_id and job_name cannot both be provided
    IF @job_id IS NOT NULL
    BEGIN
        SET @error_message = '@job_name and @job_id parameters cannot both be specified';
        THROW 50000, @error_message, 1
    END

    -- Get the job with that id
    SELECT @job_id = job_id
    FROM [jobs_internal].visible_jobs
    WHERE name = @job_name

    -- Assert that job_id is NOT NULL
    IF @job_id IS NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('Job ''%s'' was not found', @job_name);
        THROW 50000, @error_message, 1
    END
END
ELSE
BEGIN
    -- Assert that job_id is NOT NULL. 
    -- For now due to safety concerns we don't allow 'purge all' semantics like Sql Agent does.
    IF @job_id IS NULL
    BEGIN
        SET @error_message = '@job_name or @job_id (and not both) must be specified.';
        THROW 50000, @error_message, 1
    END
END

-- Devnote: columns below denote which table they come from (je_job_execution_id came from JobExecution table).
-- this is helpful to know since we use outer joins
DECLARE @pending_deletes TABLE(
    je_job_execution_id UNIQUEIDENTIFIER NULL,
    jte_job_task_execution_id UNIQUEIDENTIFIER NULL
)

DECLARE @did_work bit = 1;
DECLARE @loop_number int = 0;
DECLARE @rows_affected int;
WHILE (@did_work = 1)
BEGIN
    SET @loop_number = @loop_number + 1;
    SET @did_work = 0;

    DELETE FROM @pending_deletes;

    -- Devnote: Left joins below are critical for performance. The goal is to get up to 10000 rows quickly,
    -- no matter which table supplies the values. E.g. if are rows in JobTaskExecution, fine, we'll work on them,
    -- but if there aren't - also fine, we'll get to delete rows from JobExecution
    -- Devnote: it may take several passes to purge - first JobTaskExecutions, then JobExecutions.
    -- That is Ok because below query is relatively cheap.

    INSERT INTO @pending_deletes
    SELECT TOP 2000
        JE.job_execution_id,
        JTE.job_task_execution_id
    FROM
        [jobs_internal].job_executions JE
        LEFT OUTER JOIN [jobs_internal].job_task_executions JTE
            ON JTE.job_execution_id = JE.job_execution_id
        -- Enables check on parent job execution below
        LEFT OUTER JOIN [jobs_internal].job_executions ParentJE
            ON ParentJE.job_execution_id = JE.parent_job_execution_id
    WHERE 
        -- If @job_id was specified, filter by that job id
        (@job_id IS NULL OR JE.job_id = @job_id)
        -- If @oldest_date was specified, only delete job executions that ended before then
        AND (@oldest_date IS NULL OR JE.end_time < @oldest_date)
        -- Only delete inactive job executions
        AND JE.is_active = 0
        -- If there is a parent job execution, it needs to be finished.
        AND (ParentJE.lifecycle IS NULL OR ParentJE.is_active = 0)
        -- There are no child job executions (it takes two passes to delete parent job execution)
        AND NOT EXISTS (
            SELECT *
            FROM [jobs_internal].job_executions ChildJE
            WHERE ChildJE.parent_job_execution_id = JE.job_execution_id
        )
    SET @rows_affected = @@ROWCOUNT;
    IF(@rows_affected = 0)
    BEGIN
        -- There are no rows to clean up
        BREAK;
    END

    /*
    Due to self-references, it's easier to delete all JobTaskExecutions for any given JobExecution.
    So if at least one JobTaskExecution exists, we delete all JobTaskExecutions with the same JobExecution
    Devnote: we're not checking for lifecycle of JobTaskExecutions because they belong to JobExecutions which 
    are already in terminal state.
    */

    -- Level 2: JobTaskExecution

    -- a) free JobTaskExecutions we're trying to delete from reference by JobExecution
    UPDATE JE
        SET JE.last_job_task_execution_id = NULL
    FROM
        @pending_deletes del 
        INNER JOIN [jobs_internal].job_executions JE 
            ON del.je_job_execution_id = JE.job_execution_id
    WHERE
        -- Appropriate level: We have JobExecution and JobTaskExecution. 
        -- (JobExecution may have reference to JobTaskExecution we're trying to delete)
        del.je_job_execution_id IS NOT NULL AND
        del.jte_job_task_execution_id IS NOT NULL AND

        -- Only clear reference where it exists
        JE.last_job_task_execution_id IS NOT NULL

    SET @rows_affected = @@ROWCOUNT
    IF @rows_affected > 0 SET @did_work = 1

    -- b) delete
    ;WITH unique_job_executions AS
    (
        SELECT DISTINCT je_job_execution_id
        FROM @pending_deletes
        WHERE jte_job_task_execution_id IS NOT NULL
    )
    DELETE JTE
    FROM
        unique_job_executions JE 
        INNER JOIN [jobs_internal].job_task_executions JTE 
            ON JE.je_job_execution_id = JTE.job_execution_id

    SET @rows_affected = @@ROWCOUNT
    IF @rows_affected > 0 SET @did_work = 1

    -- Level 1: JobExecution

    -- a) Cancellations
    DELETE JC
    FROM
        @pending_deletes del
        INNER JOIN [jobs_internal].job_cancellations JC
            ON del.je_job_execution_id = JC.job_execution_id

    SET @rows_affected = @@ROWCOUNT
    IF @rows_affected > 0 SET @did_work = 1
    
    -- b) Disentanglement, make sure Jobs do not point to JobExecutions to be deleted
    UPDATE J
        SET J.last_job_execution_id = NULL
    FROM
        @pending_deletes del
        INNER JOIN [jobs_internal].jobs J
            ON (@job_id IS NULL OR @job_id = J.job_id)
            AND del.je_job_execution_id = J.last_job_execution_id
    WHERE 
        J.last_job_execution_id IS NOT NULL
        -- Only disentangle the last job execution for tombstoned jobs, because last job execution affects scheduling
        -- (if there is no last job execution in a certain time range then the scheduler will schedule a new execution)
        -- and we don't want to break scheduling of non-tombstoned jobs
        AND J.delete_requested_time IS NOT NULL

    SET @rows_affected = @@ROWCOUNT
    IF @rows_affected > 0 SET @did_work = 1

    DELETE JE
    FROM
        @pending_deletes del
        INNER JOIN [jobs_internal].job_executions JE
            ON del.je_job_execution_id = JE.job_execution_id
    WHERE
        -- Appropriate level: We have JobExecution, but not JobTaskExecution
        -- Devnote: Q: we just deleted JobTaskExecutions, why can't we just delete JobExecution now? 
        -- A: we deleted a batch of them, there may be more.
        -- So only when we know that there were no JobTaskExecutions, it is safe to delete JobExecution.
        del.je_job_execution_id IS NOT NULL
        AND del.jte_job_task_execution_id IS NULL
        -- Do not delete the last job execution for non-tombstoned jobs, because last job execution affects scheduling
        -- At this point we can't delete them anyway due to foreign key that we intentionally didn't disentangle earlier
        AND JE.job_execution_id NOT IN (
            SELECT last_job_execution_id
            FROM [jobs_internal].visible_jobs
            -- This next line is important, otherwise a row with NULL value for last_job_execution_id would cause
            -- the entire NOT IN to evaluate to UNKNOWN, so no job executions would ever be deleted
            WHERE last_job_execution_id IS NOT NULL
        )

    SET @rows_affected = @@ROWCOUNT
    IF @rows_affected > 0 SET @did_work = 1

    WAITFOR DELAY '00:00:00.500'
END
END
GO
