/****** Object:  StoredProcedure [jobs_internal].[sp_add_or_get_target_group_members]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs_internal].[sp_add_or_get_target_group_members]
    @target_group_members   [jobs_internal].target_group_members READONLY
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON

    DECLARE @error_message NVARCHAR(1000)

    DECLARE @invalid_target_type NVARCHAR(900) = (SELECT TOP 1 target_type
                                                  FROM @target_group_members
                                                  WHERE target_type NOT IN ('SqlDatabase',
                                                                            'SqlElasticPool',
                                                                            'SqlServer',
                                                                            'SqlShardMap'));
    -- Checks that the target types are all valid --
    IF (@invalid_target_type IS NOT NULL)
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''%s'' is invalid.', @invalid_target_type);
        THROW 50000, @error_message, 1
    END

    -- SqlDatabase Required Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlDatabase' AND
                    (server_name IS NULL OR database_name IS NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlDatabase'' requires server name and database name properties to be specified.');
        THROW 50000, @error_message, 1
    END

    -- SqlDatabase Forbidden Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlDatabase' AND
                    (refresh_credential_name IS NOT NULL
                     OR elastic_pool_name IS NOT NULL
                     OR shard_map_name IS NOT NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlDatabase'' does not support the refresh credential, elastic pool name, or shard map name property.');
        THROW 50000, @error_message, 1
    END

    -- SqlServer Required Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlServer' AND
                    (server_name IS NULL OR refresh_credential_name IS NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlServer'' requires server name and refresh credential name properties to be specified.');
        THROW 50000, @error_message, 1
    END

    -- SqlServer Forbidden Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlServer' AND
                    (database_name IS NOT NULL
                     OR elastic_pool_name IS NOT NULL
                     OR shard_map_name IS NOT NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlServer'' does not support the database name, elastic pool name, or shard map name property.');
        THROW 50000, @error_message, 1
    END

    -- SqlElasticPool Required Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlElasticPool' AND
                    (server_name IS NULL OR elastic_pool_name IS NULL OR refresh_credential_name IS NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlElasticPool'' requires server name, elastic pool name, and refresh credential name properties to be specified.');
        THROW 50000, @error_message, 1
    END

    -- SqlElasticPool Forbidden Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlElasticPool' AND
                    (database_name IS NOT NULL
                     OR shard_map_name IS NOT NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlElasticPool'' does not support the database name or shard map name property.');
        THROW 50000, @error_message, 1
    END

    -- SqlShardMap Required Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlShardMap' AND
                    (server_name IS NULL OR database_name IS NULL OR shard_map_name IS NULL OR refresh_credential_name IS NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlShardMap'' requires server name, database name, shard map name, and refresh credential name properties to be specified.');
        THROW 50000, @error_message, 1
    END

    -- SqlShardMap Forbidden Parameters --
    IF EXISTS(SELECT 1
              FROM @target_group_members
              WHERE target_type = 'SqlShardMap' AND
                    (elastic_pool_name IS NOT NULL))
    BEGIN
        SET @error_message = FORMATMESSAGE('Target type ''SqlShardMap'' does not support the elastic pool name property.');
        THROW 50000, @error_message, 1
    END

    -- Verify that all credentials can be referenced
    DECLARE @forbidden_credentials NVARCHAR(900)

    SELECT @forbidden_credentials = COALESCE(@forbidden_credentials + ', ', '') + refresh_credential_name
    FROM @target_group_members
    WHERE [jobs_internal].fn_has_credential_perms(refresh_credential_name) = 0

    IF @forbidden_credentials IS NOT NULL
    BEGIN
        SET @error_message = FORMATMESSAGE('Cannot reference the credential(s) ''%s'', because they do not exist or you do not have permission.', @forbidden_credentials);
        THROW 50000, @error_message, 1
    END

    -- Dummy variable to help with merge output
    DECLARE @WasUpdated BIT

    -- For each target in @input_targets, INSERT it into targets or SELECT it if a matching row exists.
    -- By design we never UPDATE, because targets are considered to be immutable values.
    -- Treating targets as immutable means we avoid bugs where modifying members of one target group
    -- accidentally affects the members of another target group.
    MERGE INTO [jobs_internal].targets existing_targets
    USING (
        SELECT
            t.*,
            CASE t.membership_type
                WHEN 'Include' THEN CAST(1 AS BIT)
                WHEN 'Exclude' THEN CAST(0 AS BIT)
                ELSE NULL -- This will intentionally cause an error later when we try to insert into target_group_memberships
            END AS include
        FROM @target_group_members t
        LEFT OUTER JOIN [jobs_internal].database_credentials c
            ON c.name = t.refresh_credential_name COLLATE SQL_Latin1_General_CP1_CI_AS
    ) AS input_targets
    -- Match input targets' fields with existing targets' fields
    ON existing_targets.target_type = input_targets.target_type
        AND (existing_targets.subscription_id = input_targets.subscription_id
            OR (existing_targets.subscription_id IS NULL AND input_targets.subscription_id IS NULL))
        AND (existing_targets.resource_group_name = input_targets.resource_group_name
            OR (existing_targets.resource_group_name IS NULL AND input_targets.resource_group_name IS NULL))
        AND (existing_targets.server_name = input_targets.server_name
            OR (existing_targets.server_name IS NULL AND input_targets.server_name IS NULL))
        AND (existing_targets.database_name = input_targets.database_name
            OR (existing_targets.database_name IS NULL AND input_targets.database_name IS NULL))
        AND (existing_targets.elastic_pool_name = input_targets.elastic_pool_name
            OR (existing_targets.elastic_pool_name IS NULL AND input_targets.elastic_pool_name IS NULL))
        AND (existing_targets.shard_map_name = input_targets.shard_map_name
            OR (existing_targets.shard_map_name IS NULL AND input_targets.shard_map_name IS NULL))
        AND (existing_targets.refresh_credential_name = input_targets.refresh_credential_name
            OR (existing_targets.refresh_credential_name IS NULL AND input_targets.refresh_credential_name IS NULL))
    WHEN NOT MATCHED BY TARGET THEN
        -- Target doesn't exist. Add it.
        INSERT (
            target_id,
            target_type,
            subscription_id,
            resource_group_name,
            server_name,
            database_name,
            elastic_pool_name,
            shard_map_name,
            refresh_credential_name
        ) VALUES (
            NEWID(),
            target_type,
            subscription_id,
            resource_group_name,
            server_name,
            database_name,
            elastic_pool_name,
            shard_map_name,
            refresh_credential_name
        )
    WHEN MATCHED THEN
        -- Target already exists. Do dummy update so that it's considered 'updated', which will make it show up
        -- in the output clase
        UPDATE SET @WasUpdated = 1
    -- Output the target ids and their membership type for ALL child targets
    -- Note that in MERGE OUTPUT, INSERTED includes rows that were both
    -- NOT MATCHED (and then inserted - giving us the targets that didn't exist yet)
    -- and rows that were MATCHED (and updated - giving us the targets that did already exist).
    OUTPUT INSERTED.target_id AS child_target_id, input_targets.include;
END
GO
