/****** Object:  StoredProcedure [jobs].[sp_delete_jobstep]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_delete_jobstep]
    @job_name               NVARCHAR(128),
    @step_id                INT = NULL,
    @step_name              NVARCHAR(120) = NULL,
    @job_version            INT = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    DECLARE @error_message NVARCHAR(1000)

    -- Find job_id
    DECLARE @job_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_lock_job @job_name, @job_id OUTPUT

    -- Insert new version into job_versions. This outputs the new version number.
    EXEC [jobs_internal].sp_add_job_version @job_id, @job_version OUTPUT

    -- Find the step id (by step id or by step name) and verify it exists
    EXEC [jobs_internal].sp_find_jobstep @job_id, @job_version, @step_id OUTPUT, @step_name

    -- Insert new step into jobsteps that link the job_versions to the jobsteps
    -- We copy existing steps to ensure (with primary key) that we aren't overwriting a step with the same id
    INSERT INTO [jobs_internal].jobsteps
    -- Select non-deleted steps
    SELECT
        job_id,
        @job_version,
        -- If existing step is after the deleted step's id,
        -- then this existing step needs its id decreased by 1 to fill the hole
        step_id + IIF(step_id > @step_id, -1, 0),
        jobstep_data_id,
        step_name
    FROM [jobs_internal].jobsteps
    WHERE job_id = @job_id AND job_version_number = @job_version - 1 AND step_id <> @step_id

    COMMIT TRANSACTION
END
GO
