/****** Object:  StoredProcedure [jobs_internal].[sp_add_or_replace_target_group]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [jobs_internal].[sp_add_or_replace_target_group]
    @target_group_name      NVARCHAR(128),
    @target_group_members   NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    -- Unpack input json into table
    DECLARE @input_targets [jobs_internal].target_group_members
    INSERT INTO @input_targets
    SELECT
        JSON_VALUE(value, '$.membership_type') AS membership_type,
        JSON_VALUE(value, '$.target_type') AS target_type,
        JSON_VALUE(value, '$.refresh_credential_name') AS refresh_credential_name,
        CAST(JSON_VALUE(value, '$.subscription_id') AS UNIQUEIDENTIFIER) AS subscription_id,
        JSON_VALUE(value, '$.resource_group_name') AS resource_group_name,
        JSON_VALUE(value, '$.server_name') AS server_name,
        JSON_VALUE(value, '$.database_name') AS database_name,
        JSON_VALUE(value, '$.elastic_pool_name') AS elastic_pool_name,
        JSON_VALUE(value, '$.shard_map_name') AS shard_map_name
    FROM OPENJSON(@target_group_members, '$')

    -- Disallowing nested Target Groups
    IF EXISTS(SELECT * FROM @input_targets WHERE target_type = 'TargetGroup')
    BEGIN
        THROW 50000, 'Target groups may not contain other target groups.', 1
    END

    -- Concurrency plan: acquire lock on group_name + target_type in first query

    DECLARE @target_group_id UNIQUEIDENTIFIER
    SET @target_group_id = (
        SELECT target_id
        FROM [jobs_internal].visible_target_groups
        WITH (UPDLOCK, SERIALIZABLE, ROWLOCK)
        WHERE target_group_name = @target_group_name
    )
    IF @target_group_id IS NULL
    BEGIN
        SET @target_group_id = NEWID()
        INSERT INTO [jobs_internal].targets (
            target_id,
            target_type,
            target_group_name
        ) VALUES (
            @target_group_id,
            'TargetGroup',
            @target_group_name
        )
    END

    -- For each target in @input_targets, INSERT it into targets or SELECT it if a matching row exists.
    DECLARE @input_memberships TABLE (
        child_target_id UNIQUEIDENTIFIER PRIMARY KEY,
        include BIT NOT NULL -- NOT NULL to cause error when membership_type string is invalid
    )
    INSERT INTO @input_memberships
    EXEC [jobs_internal].sp_add_or_get_target_group_members @input_targets

    -- Merge TargetGroupMemberships.

    -- Remove memberships that shouldn't exist
    DELETE FROM [jobs_internal].target_group_memberships
    WHERE parent_target_id = @target_group_id
    AND child_target_id NOT IN (
        SELECT child_target_id
        FROM @input_memberships
    )

    -- Add/update memberships that should exist
    MERGE INTO [jobs_internal].target_group_memberships existing_memberships
    USING @input_memberships input_memberships
    ON existing_memberships.parent_target_id = @target_group_id
        AND existing_memberships.child_target_id = input_memberships.child_target_id
    WHEN NOT MATCHED BY TARGET THEN
        -- value in input_memberships that is not in existing_memberships
        INSERT (
            parent_target_id,
            child_target_id,
            include
        ) VALUES (
            @target_group_id,
            input_memberships.child_target_id,
            input_memberships.include
        )
    WHEN MATCHED THEN
        -- value in both sets
        UPDATE SET include = input_memberships.include
    ;

    COMMIT TRANSACTION
END
GO
