/****** Object:  StoredProcedure [jobs].[sp_delete_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_delete_job]
    @job_name           NVARCHAR(128),
    @force              BIT             = 0
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION

    -- Concurrency plan: acquire lock on row in first query
    DECLARE @job_id UNIQUEIDENTIFIER
    EXEC [jobs_internal].sp_lock_job @job_name, @job_id OUTPUT

    -- Find active job executions for this job --
    DECLARE @active_job_execution_ids TABLE(job_execution_ids UNIQUEIDENTIFIER)
    INSERT INTO @active_job_execution_ids
    SELECT je.root_job_execution_id
    FROM [jobs_internal].[job_executions] je
    WHERE je.job_id = @job_id AND je.is_active = 1

    -- Check if active job executions --
    IF EXISTS(SELECT 1 FROM @active_job_execution_ids)
        IF (@force = 0)
            BEGIN
                THROW 50000, 'The job could not be deleted because there are active job executions. In order to force deletion of this job and cancel its active executions, specify `@force=1`.', 1
                RETURN
            END

        -- If force delete was requested --
        BEGIN
            -- Add each active job executions for this job to the job cancellations table --
            DECLARE @active_je_id UNIQUEIDENTIFIER
            DECLARE active_je_cursor CURSOR FOR SELECT * FROM @active_job_execution_ids

            OPEN active_je_cursor
            FETCH NEXT FROM active_je_cursor INTO @active_je_id

            WHILE @@FETCH_STATUS = 0
                BEGIN
                    EXEC [jobs].[sp_stop_job] @active_je_id
                    PRINT 'Cancelled job execution with id ' + CAST(@active_je_id AS VARCHAR(128))
                    FETCH NEXT FROM active_je_cursor INTO @active_je_id
                END
            CLOSE active_je_cursor
            DEALLOCATE active_je_cursor
        END

    -- Mark the job as deleted --
    UPDATE [jobs_internal].jobs
    SET delete_requested_time = GETUTCDATE()
    WHERE job_id = @job_id

    -- Complete Transaction --
    COMMIT TRANSACTION
END
GO
