/****** Object:  StoredProcedure [jobs].[sp_add_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs].[sp_add_job]
    @job_name                           NVARCHAR(128),
    @description                        NVARCHAR(512) = '',
    @enabled                            BIT = 0,
    @schedule_interval_type             NVARCHAR(50) = 'Once',
    @schedule_interval_count            INT = 1,
    @schedule_start_time                DATETIME2 = '01/01/0001 00:00:00',
    @schedule_end_time                  DATETIME2 = '12/31/9999 11:59:59',
    @job_id                             UNIQUEIDENTIFIER = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SET @job_id = NEWID()
    INSERT INTO [jobs_internal].jobs( 
        job_id, 
        name,
        delete_requested_time,
        last_job_execution_id,
        description,
        is_system,
        enabled,
        schedule_start_time,
        schedule_end_time,
        schedule_interval_type,
        schedule_interval_count
    ) VALUES ( 
        @job_id,
        @job_name,
        NULL,
        NULL,
        @description,
        0,
        @enabled,
        @schedule_start_time,
        @schedule_end_time,
        @schedule_interval_type,
        @schedule_interval_count
    )
END
GO
