/****** Object:  StoredProcedure [jobs_internal].[sp_add_or_update_job]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [jobs_internal].[sp_add_or_update_job]
    @job_name                           NVARCHAR(128),
    @enabled                            BIT,
    @schedule_interval_type             NVARCHAR(50),
    @schedule_interval_count            INT,
    @schedule_start_time                DATETIME2,
    @schedule_end_time                  DATETIME2,
    @updated                            BIT = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
    BEGIN TRANSACTION
    -- Concurrency plan: acquire lock on Job.Name in first query

    -- Insert into Job, or select existing Job
    -- Not using sp_lock_job because that throws if Job doesn't exist
    DECLARE @job_id UNIQUEIDENTIFIER
    SELECT @job_id = job_id
        FROM [jobs_internal].visible_jobs
        WITH (ROWLOCK, UPDLOCK, SERIALIZABLE)
        WHERE name = @job_name

    IF @job_id IS NULL
    BEGIN
        SET @updated = 0
        EXEC [jobs].sp_add_job
            @job_name = @job_name,
            @enabled = @enabled,
            @schedule_start_time = @schedule_start_time,
            @schedule_end_time = @schedule_end_time,
            @schedule_interval_type = @schedule_interval_type,
            @schedule_interval_count = @schedule_interval_count
    END
    ELSE
    BEGIN
        SET @updated = 1
        EXEC [jobs].sp_update_job
            @job_name = @job_name,
            @enabled = @enabled,
            @schedule_start_time = @schedule_start_time,
            @schedule_end_time = @schedule_end_time,
            @schedule_interval_type = @schedule_interval_type,
            @schedule_interval_count = @schedule_interval_count
    END
    COMMIT TRANSACTION
END
GO
