/****** Object:  StoredProcedure [KPI].[OrderDetails_SP]    Script Date: 2/18/2026 4:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
 
CREATE PROCEDURE [KPI].[OrderDetails_SP]
(
    @kpi_app_id int,
	@order_number nvarchar(100),
    @order_date datetime,
    @product_sku nvarchar(max),
    @product_name nvarchar(max),
    @product_category nvarchar(100),
    @order_qty int,
    @order_total decimal(18,2),
    @order_tracking nvarchar(100),
    @order_status nvarchar(100)
)
AS
BEGIN
    SET NOCOUNT ON
	IF EXISTS(SELECT * FROM [KPI].[OrderDetails] WHERE order_number=@order_number)
	UPDATE [KPI].[OrderDetails]
	SET kpi_app_id=@kpi_app_id,order_number=@order_number, order_date=@order_date, product_sku = @product_sku, product_name=@product_name, product_category=@product_category, order_qty=@order_qty, order_total=@order_total, order_tracking=@order_tracking, order_status=@order_status
	WHERE order_number=@order_number and product_sku = @product_sku
ELSE
    INSERT INTO [KPI].[OrderDetails] (kpi_app_id,order_number,order_date,product_sku,product_name,product_category,order_qty,order_total,order_tracking,order_status)
	VALUES (@kpi_app_id,@order_number,@order_date,@product_sku,@product_name,@product_category,@order_qty,@order_total,@order_tracking,@order_status)
END
GO
